<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_hax_bisha4_sshy2_00107.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,186},{198,167}}</string>
			<key>offset</key>
			<string>{-2,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,30},{198,167}}</string>
			<key>sourceSize</key>
			<string>{208,197}</string>
		</dict>
		<key>New_hax_bisha4_sshy2_00113.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{202,183}}</string>
			<key>offset</key>
			<string>{3,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,14},{202,183}}</string>
			<key>sourceSize</key>
			<string>{208,197}</string>
		</dict>
		<key>New_hax_bisha4_sshy2_00115.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,181},{190,185}}</string>
			<key>offset</key>
			<string>{-5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,12},{190,185}}</string>
			<key>sourceSize</key>
			<string>{208,197}</string>
		</dict>
		<key>New_hax_bisha4_sshy2_00119.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,203},{178,191}}</string>
			<key>offset</key>
			<string>{-4,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,6},{178,191}}</string>
			<key>sourceSize</key>
			<string>{208,197}</string>
		</dict>
		<key>New_hax_bisha4_sshy2_00121.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,354},{176,191}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,5},{176,191}}</string>
			<key>sourceSize</key>
			<string>{208,197}</string>
		</dict>
		<key>New_hax_bisha4_sshy2_00125.png</key>
		<dict>
			<key>frame</key>
			<string>{{605,2},{178,197}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,0},{178,197}}</string>
			<key>sourceSize</key>
			<string>{208,197}</string>
		</dict>
		<key>New_hax_bisha4_sshy2_00127.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,82},{176,197}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,0},{176,197}}</string>
			<key>sourceSize</key>
			<string>{208,197}</string>
		</dict>
		<key>New_hax_bisha4_sshy2_00133.png</key>
		<dict>
			<key>frame</key>
			<string>{{795,191},{156,187}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,5},{156,187}}</string>
			<key>sourceSize</key>
			<string>{208,197}</string>
		</dict>
		<key>New_hax_bisha4_sshy2_00135.png</key>
		<dict>
			<key>frame</key>
			<string>{{578,367},{158,181}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,8},{158,181}}</string>
			<key>sourceSize</key>
			<string>{208,197}</string>
		</dict>
		<key>New_hax_bisha4_sshy2_00137.png</key>
		<dict>
			<key>frame</key>
			<string>{{791,587},{134,179}}</string>
			<key>offset</key>
			<string>{3,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{40,6},{134,179}}</string>
			<key>sourceSize</key>
			<string>{208,197}</string>
		</dict>
		<key>New_hax_dengchang_xhhd_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,962},{60,53}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,12},{60,53}}</string>
			<key>sourceSize</key>
			<string>{64,65}</string>
		</dict>
		<key>New_hax_dengchang_xhhd_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{663,672},{62,55}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,8},{62,55}}</string>
			<key>sourceSize</key>
			<string>{64,65}</string>
		</dict>
		<key>New_hax_dengchang_xhhd_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{983,208},{52,39}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,18},{52,39}}</string>
			<key>sourceSize</key>
			<string>{64,65}</string>
		</dict>
		<key>New_hax_dengchang_xhhd_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{611,672},{52,43}}</string>
			<key>offset</key>
			<string>{-1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,14},{52,43}}</string>
			<key>sourceSize</key>
			<string>{64,65}</string>
		</dict>
		<key>New_hax_dengchang_xhhd_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{561,672},{52,49}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,12},{52,49}}</string>
			<key>sourceSize</key>
			<string>{64,65}</string>
		</dict>
		<key>New_hax_shengli_hy_00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{994,45},{28,40}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,5},{28,40}}</string>
			<key>sourceSize</key>
			<string>{34,48}</string>
		</dict>
		<key>New_hax_shengli_hy_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{994,2},{28,42}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,5},{28,42}}</string>
			<key>sourceSize</key>
			<string>{34,48}</string>
		</dict>
		<key>New_hax_shengli_hy_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{760,437},{30,36}}</string>
			<key>offset</key>
			<string>{-1,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,10},{30,36}}</string>
			<key>sourceSize</key>
			<string>{34,48}</string>
		</dict>
		<key>New_hax_shengli_hy_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{994,131},{26,42}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{26,42}}</string>
			<key>sourceSize</key>
			<string>{34,48}</string>
		</dict>
		<key>New_hax_shengli_hy_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{994,86},{26,44}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{26,44}}</string>
			<key>sourceSize</key>
			<string>{34,48}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_bz_00140.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,531},{184,152}}</string>
			<key>offset</key>
			<string>{-8,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,30},{184,152}}</string>
			<key>sourceSize</key>
			<string>{246,184}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_dg_00091.png</key>
		<dict>
			<key>frame</key>
			<string>{{578,329},{37,25}}</string>
			<key>offset</key>
			<string>{-7,61}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,0},{37,25}}</string>
			<key>sourceSize</key>
			<string>{163,147}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_dlb_00136.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,684},{112,43}}</string>
			<key>offset</key>
			<string>{-6,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{78,35},{112,43}}</string>
			<key>sourceSize</key>
			<string>{280,113}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_dlb_00140.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,2},{198,79}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,17},{198,79}}</string>
			<key>sourceSize</key>
			<string>{280,113}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_jchd_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{983,340},{57,37}}</string>
			<key>offset</key>
			<string>{-11,-55}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,115},{57,37}}</string>
			<key>sourceSize</key>
			<string>{103,157}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_jchd_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,889},{95,133}}</string>
			<key>offset</key>
			<string>{-1,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,24},{95,133}}</string>
			<key>sourceSize</key>
			<string>{103,157}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_jchd_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,889},{75,133}}</string>
			<key>offset</key>
			<string>{3,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,4},{75,133}}</string>
			<key>sourceSize</key>
			<string>{103,157}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_sbhd_00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{760,474},{30,25}}</string>
			<key>offset</key>
			<string>{-2,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{66,102},{30,25}}</string>
			<key>sourceSize</key>
			<string>{166,211}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_sbhd_00027.png</key>
		<dict>
			<key>frame</key>
			<string>{{983,261},{48,39}}</string>
			<key>offset</key>
			<string>{-2,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{57,94},{48,39}}</string>
			<key>sourceSize</key>
			<string>{166,211}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_sbhd_00031.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,889},{72,53}}</string>
			<key>offset</key>
			<string>{1,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{48,86},{72,53}}</string>
			<key>sourceSize</key>
			<string>{166,211}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_sbhd_00053.png</key>
		<dict>
			<key>frame</key>
			<string>{{663,728},{124,127}}</string>
			<key>offset</key>
			<string>{3,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,48},{124,127}}</string>
			<key>sourceSize</key>
			<string>{166,211}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_sbhd_00055.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,728},{126,133}}</string>
			<key>offset</key>
			<string>{5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,46},{126,133}}</string>
			<key>sourceSize</key>
			<string>{166,211}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_sbhd_00061.png</key>
		<dict>
			<key>frame</key>
			<string>{{526,862},{148,159}}</string>
			<key>offset</key>
			<string>{4,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,30},{148,159}}</string>
			<key>sourceSize</key>
			<string>{166,211}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_sbhd_00065.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,862},{160,173}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,22},{160,173}}</string>
			<key>sourceSize</key>
			<string>{166,211}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_sbhd_00067.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,546},{116,181}}</string>
			<key>offset</key>
			<string>{-22,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,17},{116,181}}</string>
			<key>sourceSize</key>
			<string>{166,211}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_sbhd_00069.png</key>
		<dict>
			<key>frame</key>
			<string>{{795,348},{92,187}}</string>
			<key>offset</key>
			<string>{-9,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28,13},{92,187}}</string>
			<key>sourceSize</key>
			<string>{166,211}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_sg_00133.png</key>
		<dict>
			<key>frame</key>
			<string>{{526,725},{136,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,32},{136,136}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_sg_00139.png</key>
		<dict>
			<key>frame</key>
			<string>{{803,2},{190,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,6},{190,188}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_sg_00141.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,2},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_yj_00060.png</key>
		<dict>
			<key>frame</key>
			<string>{{994,174},{26,33}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,8},{26,33}}</string>
			<key>sourceSize</key>
			<string>{130,49}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_yj_00066.png</key>
		<dict>
			<key>frame</key>
			<string>{{741,526},{100,49}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,0},{100,49}}</string>
			<key>sourceSize</key>
			<string>{130,49}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_yj_00068.png</key>
		<dict>
			<key>frame</key>
			<string>{{741,627},{100,49}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,0},{100,49}}</string>
			<key>sourceSize</key>
			<string>{130,49}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_yj_00070.png</key>
		<dict>
			<key>frame</key>
			<string>{{973,561},{104,49}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,0},{104,49}}</string>
			<key>sourceSize</key>
			<string>{130,49}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_yj_00072.png</key>
		<dict>
			<key>frame</key>
			<string>{{973,446},{114,49}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,0},{114,49}}</string>
			<key>sourceSize</key>
			<string>{130,49}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_yj_00126.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,684},{110,43}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,4},{110,43}}</string>
			<key>sourceSize</key>
			<string>{130,49}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_yjjg_00132.png</key>
		<dict>
			<key>frame</key>
			<string>{{758,976},{69,46}}</string>
			<key>offset</key>
			<string>{-7,47}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,15},{69,46}}</string>
			<key>sourceSize</key>
			<string>{107,170}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_yjjg_00142.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,639},{85,164}}</string>
			<key>offset</key>
			<string>{-6,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,5},{85,164}}</string>
			<key>sourceSize</key>
			<string>{107,170}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_yjxl_00060.png</key>
		<dict>
			<key>frame</key>
			<string>{{393,329},{184,163}}</string>
			<key>offset</key>
			<string>{-3,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,7},{184,163}}</string>
			<key>sourceSize</key>
			<string>{192,185}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_yjxl_00064.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,862},{160,123}}</string>
			<key>offset</key>
			<string>{7,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,33},{160,123}}</string>
			<key>sourceSize</key>
			<string>{192,185}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_yjxl_00070.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,382},{184,163}}</string>
			<key>offset</key>
			<string>{-4,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,7},{184,163}}</string>
			<key>sourceSize</key>
			<string>{192,185}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha2_cctw_00104.png</key>
		<dict>
			<key>frame</key>
			<string>{{791,862},{177,88}}</string>
			<key>offset</key>
			<string>{-5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,7},{177,88}}</string>
			<key>sourceSize</key>
			<string>{229,100}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha2_cctw_00108.png</key>
		<dict>
			<key>frame</key>
			<string>{{971,666},{143,50}}</string>
			<key>offset</key>
			<string>{29,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{72,25},{143,50}}</string>
			<key>sourceSize</key>
			<string>{229,100}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha2_cctw_00116.png</key>
		<dict>
			<key>frame</key>
			<string>{{760,367},{69,32}}</string>
			<key>offset</key>
			<string>{77,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{157,39},{69,32}}</string>
			<key>sourceSize</key>
			<string>{229,100}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha2_rwxs_00058.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,663},{64,133}}</string>
			<key>offset</key>
			<string>{-1,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,16},{64,133}}</string>
			<key>sourceSize</key>
			<string>{72,151}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha2_rwxs_00064.png</key>
		<dict>
			<key>frame</key>
			<string>{{828,951},{70,135}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,10},{70,135}}</string>
			<key>sourceSize</key>
			<string>{72,151}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha2_rwxs_00090.png</key>
		<dict>
			<key>frame</key>
			<string>{{969,889},{52,117}}</string>
			<key>offset</key>
			<string>{0,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,1},{52,117}}</string>
			<key>sourceSize</key>
			<string>{72,151}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha_cxte_00053.png</key>
		<dict>
			<key>frame</key>
			<string>{{969,810},{78,53}}</string>
			<key>offset</key>
			<string>{-30,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,24},{78,53}}</string>
			<key>sourceSize</key>
			<string>{152,115}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha_hdcx_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{983,398},{47,37}}</string>
			<key>offset</key>
			<string>{13,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{59,29},{47,37}}</string>
			<key>sourceSize</key>
			<string>{139,99}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha_stw_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{983,310},{29,39}}</string>
			<key>offset</key>
			<string>{5,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,8},{29,39}}</string>
			<key>sourceSize</key>
			<string>{43,49}</string>
		</dict>
		<key>New_haxsz_yamd_xiaojineng2_byt_00037.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,725},{82,163}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,4},{82,163}}</string>
			<key>sourceSize</key>
			<string>{92,177}</string>
		</dict>
		<key>New_haxsz_yamd_xiaojineng2_byt_00039.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,725},{82,163}}</string>
			<key>offset</key>
			<string>{-4,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{82,163}}</string>
			<key>sourceSize</key>
			<string>{92,177}</string>
		</dict>
		<key>New_haxsz_yamd_xiaojineng2_cctw_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,728},{128,54}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,3},{128,54}}</string>
			<key>sourceSize</key>
			<string>{132,60}</string>
		</dict>
		<key>New_haxsz_yamd_xiaojineng2_cctw_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{675,976},{82,46}}</string>
			<key>offset</key>
			<string>{18,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,6},{82,46}}</string>
			<key>sourceSize</key>
			<string>{132,60}</string>
		</dict>
		<key>New_haxsz_yamd_xiaojineng_bd_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{675,853},{122,115}}</string>
			<key>offset</key>
			<string>{4,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,6},{122,115}}</string>
			<key>sourceSize</key>
			<string>{134,133}</string>
		</dict>
		<key>New_haxsz_yamd_xiaojineng_bd_00046.png</key>
		<dict>
			<key>frame</key>
			<string>{{675,853},{122,115}}</string>
			<key>offset</key>
			<string>{4,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,6},{122,115}}</string>
			<key>sourceSize</key>
			<string>{134,133}</string>
		</dict>
		<key>New_haxsz_yamd_xiaojineng_hddd_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,728},{175,133}}</string>
			<key>offset</key>
			<string>{3,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,12},{175,133}}</string>
			<key>sourceSize</key>
			<string>{181,147}</string>
		</dict>
		<key>New_haxsz_yamd_xiaojineng_hddd_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{791,722},{177,139}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,6},{177,139}}</string>
			<key>sourceSize</key>
			<string>{181,147}</string>
		</dict>
		<key>New_haxsz_yamd_xiaojineng_hddd_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{791,441},{181,145}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,145}}</string>
			<key>sourceSize</key>
			<string>{181,147}</string>
		</dict>
		<key>New_haxsz_yamd_xiaojineng_hddd_00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{561,526},{179,145}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{179,145}}</string>
			<key>sourceSize</key>
			<string>{181,147}</string>
		</dict>
		<key>New_haxsz_yamd_xiaojineng_hddd_00034.png</key>
		<dict>
			<key>frame</key>
			<string>{{379,493},{181,145}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{181,145}}</string>
			<key>sourceSize</key>
			<string>{181,147}</string>
		</dict>
		<key>haxsz_yamd_liumenbisha_dl_00140.png</key>
		<dict>
			<key>frame</key>
			<string>{{393,259},{187,69}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{187,69}}</string>
			<key>sourceSize</key>
			<string>{195,71}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>heiaxiuRESZ_common1.png</string>
		<key>scale</key>
		<real>0.63</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>heiaxiuRESZ_common1.png</string>
	</dict>
</dict>
</plist>
