<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dengguang_zhujiemiankuangdongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,149},{55,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,33}}</string>
			<key>sourceSize</key>
			<string>{55,33}</string>
		</dict>
		<key>gouzi_zhujiemiankuangdongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,187},{14,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,32}}</string>
			<key>sourceSize</key>
			<string>{14,32}</string>
		</dict>
		<key>kuangdong_zhujiemiankuangdongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{154,183}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,183}}</string>
			<key>sourceSize</key>
			<string>{154,183}</string>
		</dict>
		<key>lideng_zhujiemiankuangdongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,149},{14,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,27}}</string>
			<key>sourceSize</key>
			<string>{14,27}</string>
		</dict>
		<key>shengzi_zhujiemiankuangdongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,221},{9,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,105}}</string>
			<key>sourceSize</key>
			<string>{9,105}</string>
		</dict>
		<key>title_zhujiemiankuangdongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,187},{133,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,38}}</string>
			<key>sourceSize</key>
			<string>{133,38}</string>
		</dict>
		<key>yanshi_zhujiemiankuangdongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,2},{145,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,96}}</string>
			<key>sourceSize</key>
			<string>{145,96}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>zhujiemiankuangdongimage.png</string>
		<key>scale</key>
		<real>0.85</real>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>zhujiemiankuangdongimage.png</string>
	</dict>
</dict>
</plist>
