<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>leizhixiaermei_wf_kb_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,316},{203,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,175}}</string>
			<key>sourceSize</key>
			<string>{203,175}</string>
		</dict>
		<key>leizhixiaermei_wf_kb_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1002,306},{19,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,47}}</string>
			<key>sourceSize</key>
			<string>{19,47}</string>
		</dict>
		<key>leizhixiaermei_wf_kb_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{907,436},{69,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,114}}</string>
			<key>sourceSize</key>
			<string>{69,114}</string>
		</dict>
		<key>leizhixiaermei_wf_kb_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{927,2},{85,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,89}}</string>
			<key>sourceSize</key>
			<string>{85,89}</string>
		</dict>
		<key>leizhixiaermei_wf_kb_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{637,2},{273,289}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{273,289}}</string>
			<key>sourceSize</key>
			<string>{273,289}</string>
		</dict>
		<key>leizhixiaermei_wf_kb_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,349},{166,195}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,195}}</string>
			<key>sourceSize</key>
			<string>{166,195}</string>
		</dict>
		<key>leizhixiaermei_wf_kb_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,695},{177,262}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{177,262}}</string>
			<key>sourceSize</key>
			<string>{179,264}</string>
		</dict>
		<key>leizhixiaermei_wf_kb_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{927,248},{74,187}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,187}}</string>
			<key>sourceSize</key>
			<string>{74,187}</string>
		</dict>
		<key>leizhixiaermei_wf_kb_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{907,506},{70,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,178}}</string>
			<key>sourceSize</key>
			<string>{70,178}</string>
		</dict>
		<key>leizhixiaermei_wf_kb_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{1002,248},{57,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,19}}</string>
			<key>sourceSize</key>
			<string>{57,19}</string>
		</dict>
		<key>leizhixiaermei_wf_kb_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{343,313}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{343,313}}</string>
			<key>sourceSize</key>
			<string>{343,313}</string>
		</dict>
		<key>leizhixiaermei_wf_kb_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,547},{151,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{151,142}}</string>
			<key>sourceSize</key>
			<string>{153,142}</string>
		</dict>
		<key>leizhixiaermei_wf_kb_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,695},{187,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,201}}</string>
			<key>sourceSize</key>
			<string>{187,201}</string>
		</dict>
		<key>leizhixiaermei_wf_kb_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{345,349},{215,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,193}}</string>
			<key>sourceSize</key>
			<string>{215,193}</string>
		</dict>
		<key>leizhixiaermei_wf_kb_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,2},{152,290}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,290}}</string>
			<key>sourceSize</key>
			<string>{152,290}</string>
		</dict>
		<key>leizhixiaermei_wf_kb_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,155},{193,285}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,285}}</string>
			<key>sourceSize</key>
			<string>{193,285}</string>
		</dict>
		<key>leizhixiaermei_wf_kb_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1004,88},{24,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,18}}</string>
			<key>sourceSize</key>
			<string>{24,18}</string>
		</dict>
		<key>leizhixiaermei_wf_kb_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{632,276},{270,274}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{270,274}}</string>
			<key>sourceSize</key>
			<string>{270,274}</string>
		</dict>
		<key>leizhixiaermei_wf_kb_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{927,190},{57,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,76}}</string>
			<key>sourceSize</key>
			<string>{57,76}</string>
		</dict>
		<key>leizhixiaermei_wf_kb_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{927,88},{101,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{101,76}}</string>
			<key>sourceSize</key>
			<string>{103,76}</string>
		</dict>
		<key>leizhixiaermei_wf_kb_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{978,631},{27,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,63}}</string>
			<key>sourceSize</key>
			<string>{27,63}</string>
		</dict>
		<key>leizhixiaermei_wf_kb_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{978,566},{34,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,64}}</string>
			<key>sourceSize</key>
			<string>{34,64}</string>
		</dict>
		<key>leizhixiaermei_wf_kb_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{978,506},{35,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{35,59}}</string>
			<key>sourceSize</key>
			<string>{37,59}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>jxlzxemCard_role0.png</string>
		<key>scale</key>
		<real>0.97</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>jxlzxemCard_role0.png</string>
	</dict>
</dict>
</plist>
