<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dingji_shengxingmanjiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,113},{456,109}}</string>
			<key>offset</key>
			<string>{-19,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{456,109}}</string>
			<key>sourceSize</key>
			<string>{494,111}</string>
		</dict>
		<key>dingjisj_shengxingmanjiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,224},{466,103}}</string>
			<key>offset</key>
			<string>{-12,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{466,103}}</string>
			<key>sourceSize</key>
			<string>{494,111}</string>
		</dict>
		<key>dingjisp_shengxingmanjiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{460,109}}</string>
			<key>offset</key>
			<string>{-17,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{460,109}}</string>
			<key>sourceSize</key>
			<string>{494,111}</string>
		</dict>
		<key>guangdai_shengxingmanjiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,432},{128,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,67}}</string>
			<key>sourceSize</key>
			<string>{128,67}</string>
		</dict>
		<key>huangtiao_shengxingmanjiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,420},{185,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,89}}</string>
			<key>sourceSize</key>
			<string>{185,89}</string>
		</dict>
		<key>tiaohong_shengxingmanjiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,329},{185,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,89}}</string>
			<key>sourceSize</key>
			<string>{185,89}</string>
		</dict>
		<key>tiaolan_shengxingmanjiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,329},{210,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,101}}</string>
			<key>sourceSize</key>
			<string>{210,101}</string>
		</dict>
		<key>xing_shengxingmanjiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,329},{84,84}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,8},{84,84}}</string>
			<key>sourceSize</key>
			<string>{102,102}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>shengxingmanjiimage.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>shengxingmanjiimage.png</string>
	</dict>
</dict>
</plist>
