<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>chui1_chuidajiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{189,195}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,0},{189,195}}</string>
			<key>sourceSize</key>
			<string>{201,195}</string>
		</dict>
		<key>chui2_chuidajiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,199},{188,190}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{188,190}}</string>
			<key>sourceSize</key>
			<string>{192,194}</string>
		</dict>
		<key>chui3_chuidajiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,199},{179,186}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{179,186}}</string>
			<key>sourceSize</key>
			<string>{181,190}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA4444</string>
		<key>realTextureFileName</key>
		<string>chuidajiimage.png</string>
		<key>scale</key>
		<real>0.5</real>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>chuidajiimage.png</string>
	</dict>
</dict>
</plist>
