<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_tbxdtg_bujilibao_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{479,465},{235,389}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,389}}</string>
			<key>sourceSize</key>
			<string>{235,389}</string>
		</dict>
		<key>pic_tbxdtg_tebiexingdong_renwu0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,513},{264,475}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{264,475}}</string>
			<key>sourceSize</key>
			<string>{264,475}</string>
		</dict>
		<key>pic_tbxdtg_tebiexingdong_renwu1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{429,509}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{429,509}}</string>
			<key>sourceSize</key>
			<string>{429,509}</string>
		</dict>
		<key>pic_tbxdtg_tebiexingdong_renwu3.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,2},{468,461}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{468,461}}</string>
			<key>sourceSize</key>
			<string>{468,461}</string>
		</dict>
		<key>pic_tbxdtg_tongxingzheng_youbian.png</key>
		<dict>
			<key>frame</key>
			<string>{{582,830},{126,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,416}}</string>
			<key>sourceSize</key>
			<string>{126,416}</string>
		</dict>
		<key>pic_tbxdtg_tongxingzheng_zhongjian.png</key>
		<dict>
			<key>frame</key>
			<string>{{479,702},{126,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,416}}</string>
			<key>sourceSize</key>
			<string>{126,416}</string>
		</dict>
		<key>pic_tbxdtg_tongxingzheng_zuobian.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,779},{132,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,416}}</string>
			<key>sourceSize</key>
			<string>{132,416}</string>
		</dict>
		<key>pic_tbxdtg_xingdongrenwu_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{903,2},{806,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{806,110}}</string>
			<key>sourceSize</key>
			<string>{806,110}</string>
		</dict>
		<key>pic_tbxdtg_xingdongrenwu_jindutiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,913},{578,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{578,24}}</string>
			<key>sourceSize</key>
			<string>{578,24}</string>
		</dict>
		<key>pic_tbxdtg_xingdongrenwu_jindutiao_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,939},{575,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{575,18}}</string>
			<key>sourceSize</key>
			<string>{575,18}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ActivitySpecialAction10.png</string>
		<key>size</key>
		<string>{1015,959}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ActivitySpecialAction10.png</string>
	</dict>
</dict>
</plist>
