<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>aqmao_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,991},{37,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,30}}</string>
			<key>sourceSize</key>
			<string>{37,30}</string>
		</dict>
		<key>aqmaodeng_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,914},{45,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,27}}</string>
			<key>sourceSize</key>
			<string>{45,27}</string>
		</dict>
		<key>aqmaoyz_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,871},{37,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,26}}</string>
			<key>sourceSize</key>
			<string>{37,26}</string>
		</dict>
		<key>bg_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{828,265}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{828,265}}</string>
			<key>sourceSize</key>
			<string>{828,265}</string>
		</dict>
		<key>csd01_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,990},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>csd02_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,943},{51,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,4}}</string>
			<key>sourceSize</key>
			<string>{51,4}</string>
		</dict>
		<key>jz_bh_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,943},{46,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,6}}</string>
			<key>sourceSize</key>
			<string>{46,6}</string>
		</dict>
		<key>kuangche_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,832},{80,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,50}}</string>
			<key>sourceSize</key>
			<string>{80,50}</string>
		</dict>
		<key>kuangchelun_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,849},{14,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,14}}</string>
			<key>sourceSize</key>
			<string>{14,14}</string>
		</dict>
		<key>kuangshi01_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,943},{52,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,14}}</string>
			<key>sourceSize</key>
			<string>{52,14}</string>
		</dict>
		<key>kuangshi02_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,998},{52,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,24}}</string>
			<key>sourceSize</key>
			<string>{52,24}</string>
		</dict>
		<key>lagan_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,985},{4,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,16}}</string>
			<key>sourceSize</key>
			<string>{4,16}</string>
		</dict>
		<key>lagansb_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,903},{10,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,9}}</string>
			<key>sourceSize</key>
			<string>{10,9}</string>
		</dict>
		<key>lliang_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,832},{94,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,9}}</string>
			<key>sourceSize</key>
			<string>{94,9}</string>
		</dict>
		<key>ls_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,914},{22,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,14}}</string>
			<key>sourceSize</key>
			<string>{22,14}</string>
		</dict>
		<key>sc04_dengdizuo_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{35,998},{13,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,5}}</string>
			<key>sourceSize</key>
			<string>{13,5}</string>
		</dict>
		<key>sc04_gou_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,1005},{17,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,14}}</string>
			<key>sourceSize</key>
			<string>{17,14}</string>
		</dict>
		<key>sc04_hl01_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,914},{5,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,6}}</string>
			<key>sourceSize</key>
			<string>{5,6}</string>
		</dict>
		<key>sc04_hl02_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{145,832},{8,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,20}}</string>
			<key>sourceSize</key>
			<string>{8,20}</string>
		</dict>
		<key>sc04_hl03_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,908},{10,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,4}}</string>
			<key>sourceSize</key>
			<string>{10,4}</string>
		</dict>
		<key>sc04_hl05_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,888},{7,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,8}}</string>
			<key>sourceSize</key>
			<string>{7,8}</string>
		</dict>
		<key>sc04_md01_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,928},{52,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,13}}</string>
			<key>sourceSize</key>
			<string>{52,13}</string>
		</dict>
		<key>sc04_md02_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{15,943},{60,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,18}}</string>
			<key>sourceSize</key>
			<string>{60,18}</string>
		</dict>
		<key>sc04_sl012_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,914},{9,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,10}}</string>
			<key>sourceSize</key>
			<string>{9,10}</string>
		</dict>
		<key>sc04_sl013_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,983},{6,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,5}}</string>
			<key>sourceSize</key>
			<string>{6,5}</string>
		</dict>
		<key>sc04_sl01_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,983},{5,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,25}}</string>
			<key>sourceSize</key>
			<string>{5,25}</string>
		</dict>
		<key>sc04_st001_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,888},{13,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,13}}</string>
			<key>sourceSize</key>
			<string>{13,13}</string>
		</dict>
		<key>sc04_st002_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,878},{7,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,8}}</string>
			<key>sourceSize</key>
			<string>{7,8}</string>
		</dict>
		<key>sc04_st003_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,914},{15,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,11}}</string>
			<key>sourceSize</key>
			<string>{15,11}</string>
		</dict>
		<key>sc04_xian_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,943},{77,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,11}}</string>
			<key>sourceSize</key>
			<string>{77,11}</string>
		</dict>
		<key>sc04_xl_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,832},{37,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,34}}</string>
			<key>sourceSize</key>
			<string>{37,34}</string>
		</dict>
		<key>sc3_deng_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,832},{15,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,14}}</string>
			<key>sourceSize</key>
			<string>{15,14}</string>
		</dict>
		<key>sc3_dengguang_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,832},{42,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,109}}</string>
			<key>sourceSize</key>
			<string>{42,109}</string>
		</dict>
		<key>sc3_ld_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{35,943},{45,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,53}}</string>
			<key>sourceSize</key>
			<string>{45,53}</string>
		</dict>
		<key>sc3_ldyz_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,943},{38,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,28}}</string>
			<key>sourceSize</key>
			<string>{38,28}</string>
		</dict>
		<key>sc3_paizi_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,871},{35,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,21}}</string>
			<key>sourceSize</key>
			<string>{35,21}</string>
		</dict>
		<key>sc3_xian_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,943},{40,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,9}}</string>
			<key>sourceSize</key>
			<string>{40,9}</string>
		</dict>
		<key>sk001_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{15,1005},{17,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,17}}</string>
			<key>sourceSize</key>
			<string>{17,17}</string>
		</dict>
		<key>sk002_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{145,854},{18,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,15}}</string>
			<key>sourceSize</key>
			<string>{18,15}</string>
		</dict>
		<key>sk003_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,903},{9,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,11}}</string>
			<key>sourceSize</key>
			<string>{9,11}</string>
		</dict>
		<key>sk004_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,914},{12,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,17}}</string>
			<key>sourceSize</key>
			<string>{12,17}</string>
		</dict>
		<key>sk005_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,832},{13,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,14}}</string>
			<key>sourceSize</key>
			<string>{13,14}</string>
		</dict>
		<key>stiao_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,943},{12,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,42}}</string>
			<key>sourceSize</key>
			<string>{12,42}</string>
		</dict>
		<key>zjjt001_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,987},{2,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,6}}</string>
			<key>sourceSize</key>
			<string>{2,6}</string>
		</dict>
		<key>zjjt002_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,865},{7,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,11}}</string>
			<key>sourceSize</key>
			<string>{7,11}</string>
		</dict>
		<key>zjjt003_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,871},{15,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,8}}</string>
			<key>sourceSize</key>
			<string>{15,8}</string>
		</dict>
		<key>zjjt004_ckuichangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,991},{30,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,7}}</string>
			<key>sourceSize</key>
			<string>{30,7}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ckuichangjingimage.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ckuichangjingimage.png</string>
	</dict>
</dict>
</plist>
