<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_dskls_daiji_baodian_00021.png</key>
		<dict>
			<key>frame</key>
			<string>{{845,635},{48,136}}</string>
			<key>offset</key>
			<string>{1,-31}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,62},{48,136}}</string>
			<key>sourceSize</key>
			<string>{58,198}</string>
		</dict>
		<key>New_dskls_daiji_baodian_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{970,812},{48,160}}</string>
			<key>offset</key>
			<string>{3,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,34},{48,160}}</string>
			<key>sourceSize</key>
			<string>{58,198}</string>
		</dict>
		<key>New_dskls_daiji_xiaosan_00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{725,691},{81,141}}</string>
			<key>offset</key>
			<string>{2,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{81,141}}</string>
			<key>sourceSize</key>
			<string>{85,151}</string>
		</dict>
		<key>New_dskls_daiji_xiaosan_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{760,457},{79,127}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,12},{79,127}}</string>
			<key>sourceSize</key>
			<string>{85,151}</string>
		</dict>
		<key>New_dskls_daiji_xiaosan_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{625,585},{67,109}}</string>
			<key>offset</key>
			<string>{0,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,32},{67,109}}</string>
			<key>sourceSize</key>
			<string>{85,151}</string>
		</dict>
		<key>New_dskls_daiji_xiaosan_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{781,236},{63,115}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,20},{63,115}}</string>
			<key>sourceSize</key>
			<string>{85,151}</string>
		</dict>
		<key>New_dskls_daiji_xiaosan_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,595},{63,101}}</string>
			<key>offset</key>
			<string>{11,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,33},{63,101}}</string>
			<key>sourceSize</key>
			<string>{85,151}</string>
		</dict>
		<key>New_dskls_daiji_xiaosan_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,595},{49,101}}</string>
			<key>offset</key>
			<string>{10,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,36},{49,101}}</string>
			<key>sourceSize</key>
			<string>{85,151}</string>
		</dict>
		<key>New_dskls_liumenbisha_bo_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{845,492},{173,142}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,6},{173,142}}</string>
			<key>sourceSize</key>
			<string>{175,148}</string>
		</dict>
		<key>New_dskls_liumenbisha_bo_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{826,2},{194,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{194,154}}</string>
			<key>sourceSize</key>
			<string>{194,164}</string>
		</dict>
		<key>New_dskls_liumenbisha_huoyan_00035.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,2},{237,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{237,154}}</string>
			<key>sourceSize</key>
			<string>{237,154}</string>
		</dict>
		<key>New_dskls_liumenbisha_huoyan_00039.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,354},{240,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,154}}</string>
			<key>sourceSize</key>
			<string>{240,154}</string>
		</dict>
		<key>New_dskls_liumenbisha_huoyan_00043.png</key>
		<dict>
			<key>frame</key>
			<string>{{345,353},{237,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{237,141}}</string>
			<key>sourceSize</key>
			<string>{237,141}</string>
		</dict>
		<key>New_dskls_liumenbisha_huoyan_00047.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,698},{244,151}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{244,151}}</string>
			<key>sourceSize</key>
			<string>{244,153}</string>
		</dict>
		<key>New_dskls_liumenbisha_huoyan_00055.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,698},{241,155}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{241,155}}</string>
			<key>sourceSize</key>
			<string>{245,155}</string>
		</dict>
		<key>New_dskls_liumenbisha_huoyan_00063.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,696},{233,137}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{233,137}}</string>
			<key>sourceSize</key>
			<string>{241,139}</string>
		</dict>
		<key>New_dskls_liumenbisha_huoyan_00065.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,696},{239,141}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{239,141}}</string>
			<key>sourceSize</key>
			<string>{243,143}</string>
		</dict>
		<key>New_dskls_liumenbisha_huoyan_00067.png</key>
		<dict>
			<key>frame</key>
			<string>{{539,2},{234,147}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{234,147}}</string>
			<key>sourceSize</key>
			<string>{240,149}</string>
		</dict>
		<key>New_dskls_liumenbisha_huoyan_00069.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,2},{238,152}}</string>
			<key>offset</key>
			<string>{2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{238,152}}</string>
			<key>sourceSize</key>
			<string>{246,156}</string>
		</dict>
		<key>New_dskls_liumenbisha_huoyan_00071.png</key>
		<dict>
			<key>frame</key>
			<string>{{620,351},{233,139}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{233,139}}</string>
			<key>sourceSize</key>
			<string>{237,141}</string>
		</dict>
		<key>New_dskls_liumenbisha_huoyan_00073.png</key>
		<dict>
			<key>frame</key>
			<string>{{590,696},{233,134}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{233,134}}</string>
			<key>sourceSize</key>
			<string>{239,140}</string>
		</dict>
		<key>New_dskls_liumenbisha_huoyan_00082.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,352},{236,132}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,132}}</string>
			<key>sourceSize</key>
			<string>{236,134}</string>
		</dict>
		<key>New_dskls_liumenbisha_huoyan_00087.png</key>
		<dict>
			<key>frame</key>
			<string>{{687,2},{233,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{233,138}}</string>
			<key>sourceSize</key>
			<string>{233,138}</string>
		</dict>
		<key>New_dskls_liumenbisha_huoyan_00099.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,940},{194,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,82}}</string>
			<key>sourceSize</key>
			<string>{194,82}</string>
		</dict>
		<key>New_dskls_liumenbisha_huoyan_00103.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,936},{193,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,86}}</string>
			<key>sourceSize</key>
			<string>{193,86}</string>
		</dict>
		<key>New_dskls_liumenbisha_huoyan_00105.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,943},{196,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,79}}</string>
			<key>sourceSize</key>
			<string>{196,79}</string>
		</dict>
		<key>New_dskls_putongbisha_chongcibo_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{228,351}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,6},{228,351}}</string>
			<key>sourceSize</key>
			<string>{230,357}</string>
		</dict>
		<key>New_dskls_putongbisha_chongcibo_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,354},{187,343}}</string>
			<key>offset</key>
			<string>{0,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,28},{187,343}}</string>
			<key>sourceSize</key>
			<string>{187,371}</string>
		</dict>
		<key>New_dskls_putongbisha_dandao_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,240},{63,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,111}}</string>
			<key>sourceSize</key>
			<string>{63,111}</string>
		</dict>
		<key>New_dskls_putongbisha_dandao_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{658,237},{109,122}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{109,122}}</string>
			<key>sourceSize</key>
			<string>{111,122}</string>
		</dict>
		<key>New_dskls_putongbisha_dandao_00017.png</key>
		<dict>
			<key>frame</key>
			<string>{{845,286},{174,205}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,205}}</string>
			<key>sourceSize</key>
			<string>{174,205}</string>
		</dict>
		<key>New_dskls_putongbisha_tuowei_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,930},{116,86}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{116,86}}</string>
			<key>sourceSize</key>
			<string>{120,86}</string>
		</dict>
		<key>New_dskls_xiaojineng_tuowei1_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{760,352},{84,104}}</string>
			<key>offset</key>
			<string>{-2,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{84,104}}</string>
			<key>sourceSize</key>
			<string>{88,126}</string>
		</dict>
		<key>New_dskls_xiaojineng_tuowei1_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{494,240},{110,163}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,163}}</string>
			<key>sourceSize</key>
			<string>{110,169}</string>
		</dict>
		<key>New_dskls_xiaojineng_tuowei1_00017.png</key>
		<dict>
			<key>frame</key>
			<string>{{845,157},{128,177}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,177}}</string>
			<key>sourceSize</key>
			<string>{128,177}</string>
		</dict>
		<key>New_dskls_xiaojineng_tuowei1_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{693,585},{105,151}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,151}}</string>
			<key>sourceSize</key>
			<string>{105,153}</string>
		</dict>
		<key>New_dskls_xiaojineng_tuowei1_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{705,930},{85,114}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{85,114}}</string>
			<key>sourceSize</key>
			<string>{87,120}</string>
		</dict>
		<key>New_dskls_xiaojineng_tuowei2_00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,591},{104,191}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,6},{104,191}}</string>
			<key>sourceSize</key>
			<string>{106,197}</string>
		</dict>
		<key>New_dskls_xiaojineng_tuowei2_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,241},{111,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{111,198}}</string>
			<key>sourceSize</key>
			<string>{117,198}</string>
		</dict>
		<key>New_dskls_xiaojineng_tuowei2_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{820,691},{120,200}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{120,200}}</string>
			<key>sourceSize</key>
			<string>{122,200}</string>
		</dict>
		<key>New_dskls_xiaojineng_tuowei2_00035.png</key>
		<dict>
			<key>frame</key>
			<string>{{820,812},{149,210}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,210}}</string>
			<key>sourceSize</key>
			<string>{149,214}</string>
		</dict>
		<key>New_dskls_xiaojineng_tuowei2_00039.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,595},{100,128}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,128}}</string>
			<key>sourceSize</key>
			<string>{102,136}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>lklsxv_common2.png</string>
		<key>scale</key>
		<real>0.62</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lklsxv_common2.png</string>
	</dict>
</dict>
</plist>
