<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bg_rankpopup_otherbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{777,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{777,88}}</string>
			<key>sourceSize</key>
			<string>{777,88}</string>
		</dict>
		<key>pic_rankpopup_title_rank.png</key>
		<dict>
			<key>frame</key>
			<string>{{781,2},{190,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,59}}</string>
			<key>sourceSize</key>
			<string>{190,59}</string>
		</dict>
		<key>word_rankpopup_jifen.png</key>
		<dict>
			<key>frame</key>
			<string>{{973,2},{71,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,25}}</string>
			<key>sourceSize</key>
			<string>{71,25}</string>
		</dict>
		<key>word_rankpopup_shetuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,63},{76,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,24}}</string>
			<key>sourceSize</key>
			<string>{76,24}</string>
		</dict>
		<key>word_rankpopup_zhandouli.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,75},{70,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{70,24}}</string>
			<key>sourceSize</key>
			<string>{72,24}</string>
		</dict>
		<key>word_rankpopup_zuigaocengshu.png</key>
		<dict>
			<key>frame</key>
			<string>{{781,63},{88,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{88,24}}</string>
			<key>sourceSize</key>
			<string>{100,24}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>NarrowRank0.png</string>
		<key>size</key>
		<string>{1021,101}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>NarrowRank0.png</string>
	</dict>
</dict>
</plist>
