<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>baoyan_00003_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,474},{132,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,162}}</string>
			<key>sourceSize</key>
			<string>{132,162}</string>
		</dict>
		<key>baoyan_00005_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{574,289},{156,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,165}}</string>
			<key>sourceSize</key>
			<string>{156,165}</string>
		</dict>
		<key>baoyan_00007_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,707},{169,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,165}}</string>
			<key>sourceSize</key>
			<string>{169,165}</string>
		</dict>
		<key>baoyan_00009_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,160},{181,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,169}}</string>
			<key>sourceSize</key>
			<string>{181,169}</string>
		</dict>
		<key>baoyan_00011_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,520},{185,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,168}}</string>
			<key>sourceSize</key>
			<string>{185,168}</string>
		</dict>
		<key>baoyan_00013_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,331},{187,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,162}}</string>
			<key>sourceSize</key>
			<string>{187,162}</string>
		</dict>
		<key>baoyan_00014_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,2},{184,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{184,156}}</string>
			<key>sourceSize</key>
			<string>{186,156}</string>
		</dict>
		<key>baoyan_00015_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,874},{171,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,146}}</string>
			<key>sourceSize</key>
			<string>{171,146}</string>
		</dict>
		<key>baoyan_00016_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,331},{167,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,141}}</string>
			<key>sourceSize</key>
			<string>{167,141}</string>
		</dict>
		<key>baoyan_00017_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{678,621},{151,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,124}}</string>
			<key>sourceSize</key>
			<string>{151,124}</string>
		</dict>
		<key>sliz_00009_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,331},{100,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,155}}</string>
			<key>sourceSize</key>
			<string>{100,155}</string>
		</dict>
		<key>sliz_00011_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,127},{97,255}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,255}}</string>
			<key>sourceSize</key>
			<string>{97,255}</string>
		</dict>
		<key>sliz_00013_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{569,121},{83,267}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,267}}</string>
			<key>sourceSize</key>
			<string>{83,267}</string>
		</dict>
		<key>sliz_00015_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{569,206},{81,267}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,267}}</string>
			<key>sourceSize</key>
			<string>{81,267}</string>
		</dict>
		<key>sliz_00017_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,520},{78,264}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,264}}</string>
			<key>sourceSize</key>
			<string>{78,264}</string>
		</dict>
		<key>sliz_00019_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,608},{62,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,165}}</string>
			<key>sourceSize</key>
			<string>{62,165}</string>
		</dict>
		<key>sliz_00021_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{820,914},{44,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,129}}</string>
			<key>sourceSize</key>
			<string>{44,129}</string>
		</dict>
		<key>sliz_00022_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{713,940},{30,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,75}}</string>
			<key>sourceSize</key>
			<string>{30,75}</string>
		</dict>
		<key>sliz_2_00019_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{678,747},{100,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,154}}</string>
			<key>sourceSize</key>
			<string>{100,154}</string>
		</dict>
		<key>sliz_2_00020_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{730,458},{102,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,161}}</string>
			<key>sourceSize</key>
			<string>{102,161}</string>
		</dict>
		<key>sliz_2_00022_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{524,488},{103,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,169}}</string>
			<key>sourceSize</key>
			<string>{103,169}</string>
		</dict>
		<key>sliz_2_00023_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{732,289},{104,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,167}}</string>
			<key>sourceSize</key>
			<string>{104,167}</string>
		</dict>
		<key>sliz_2_00025_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{629,456},{99,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,163}}</string>
			<key>sourceSize</key>
			<string>{99,163}</string>
		</dict>
		<key>sliz_2_00027_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,745},{94,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,153}}</string>
			<key>sourceSize</key>
			<string>{94,153}</string>
		</dict>
		<key>sliz_2_00028_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{669,849},{89,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,149}}</string>
			<key>sourceSize</key>
			<string>{89,149}</string>
		</dict>
		<key>sliz_2_00029_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{531,827},{77,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,136}}</string>
			<key>sourceSize</key>
			<string>{77,136}</string>
		</dict>
		<key>sliz_2_00030_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{597,940},{72,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,114}}</string>
			<key>sourceSize</key>
			<string>{72,114}</string>
		</dict>
		<key>sliz_2_00031_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{530,914},{65,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,108}}</string>
			<key>sourceSize</key>
			<string>{65,108}</string>
		</dict>
		<key>sliz_3_00026_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,226},{75,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,83}}</string>
			<key>sourceSize</key>
			<string>{75,83}</string>
		</dict>
		<key>sliz_3_00027_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,244},{83,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,138}}</string>
			<key>sourceSize</key>
			<string>{83,138}</string>
		</dict>
		<key>sliz_3_00028_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,226},{88,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,178}}</string>
			<key>sourceSize</key>
			<string>{88,178}</string>
		</dict>
		<key>sliz_3_00029_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,786},{100,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,216}}</string>
			<key>sourceSize</key>
			<string>{100,216}</string>
		</dict>
		<key>sliz_3_00030_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,778},{108,229}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,229}}</string>
			<key>sourceSize</key>
			<string>{108,229}</string>
		</dict>
		<key>sliz_3_00031_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{569,2},{117,253}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,253}}</string>
			<key>sourceSize</key>
			<string>{117,253}</string>
		</dict>
		<key>sliz_3_00032_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,2},{123,255}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,255}}</string>
			<key>sourceSize</key>
			<string>{123,255}</string>
		</dict>
		<key>sliz_3_00033_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,520},{132,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,256}}</string>
			<key>sourceSize</key>
			<string>{132,256}</string>
		</dict>
		<key>sliz_3_00034_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,261},{143,257}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,257}}</string>
			<key>sourceSize</key>
			<string>{143,257}</string>
		</dict>
		<key>sliz_3_00035_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{151,257}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,257}}</string>
			<key>sourceSize</key>
			<string>{151,257}</string>
		</dict>
		<key>sliz_3_00036_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,2},{155,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,240}}</string>
			<key>sourceSize</key>
			<string>{155,240}</string>
		</dict>
		<key>sliz_3_00037_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{311,316},{159,170}}</string>
			<key>offset</key>
			<string>{0,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,22},{159,170}}</string>
			<key>sourceSize</key>
			<string>{159,192}</string>
		</dict>
		<key>sliz_3_00038_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{531,659},{166,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,145}}</string>
			<key>sourceSize</key>
			<string>{166,145}</string>
		</dict>
		<key>sliz_3_00039_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,660},{169,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,142}}</string>
			<key>sourceSize</key>
			<string>{169,142}</string>
		</dict>
		<key>sliz_3_00040_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,831},{168,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,141}}</string>
			<key>sourceSize</key>
			<string>{168,141}</string>
		</dict>
		<key>sliz_3_00041_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,488},{170,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,136}}</string>
			<key>sourceSize</key>
			<string>{170,136}</string>
		</dict>
		<key>sliz_3_00042_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{831,672},{169,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,71}}</string>
			<key>sourceSize</key>
			<string>{169,71}</string>
		</dict>
		<key>sliz_3_00043_yisannajiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,841},{157,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,71}}</string>
			<key>sourceSize</key>
			<string>{157,71}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>yisannajiteimage.png</string>
		<key>scale</key>
		<real>0.86</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>yisannajiteimage.png</string>
	</dict>
</dict>
</plist>
