<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>baodianlan_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,182},{151,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,163}}</string>
			<key>sourceSize</key>
			<string>{151,163}</string>
		</dict>
		<key>baot_01_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,646},{106,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,112}}</string>
			<key>sourceSize</key>
			<string>{106,112}</string>
		</dict>
		<key>baot_02_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{379,439},{135,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,132}}</string>
			<key>sourceSize</key>
			<string>{135,132}</string>
		</dict>
		<key>baot_03_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,156},{155,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,146}}</string>
			<key>sourceSize</key>
			<string>{155,146}</string>
		</dict>
		<key>baot_04_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{818,2},{169,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,152}}</string>
			<key>sourceSize</key>
			<string>{169,152}</string>
		</dict>
		<key>baot_05_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,34},{168,146}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,20},{168,146}}</string>
			<key>sourceSize</key>
			<string>{200,180}</string>
		</dict>
		<key>baot_06_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,60},{164,144}}</string>
			<key>offset</key>
			<string>{-1,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,26},{164,144}}</string>
			<key>sourceSize</key>
			<string>{200,180}</string>
		</dict>
		<key>bg_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,34},{168,168}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,168}}</string>
			<key>sourceSize</key>
			<string>{170,170}</string>
		</dict>
		<key>bind01_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,335},{102,138}}</string>
			<key>offset</key>
			<string>{7,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,9},{102,138}}</string>
			<key>sourceSize</key>
			<string>{120,150}</string>
		</dict>
		<key>bind03_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,484},{102,140}}</string>
			<key>offset</key>
			<string>{7,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,8},{102,140}}</string>
			<key>sourceSize</key>
			<string>{120,150}</string>
		</dict>
		<key>bind05_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{761,488},{104,136}}</string>
			<key>offset</key>
			<string>{6,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,9},{104,136}}</string>
			<key>sourceSize</key>
			<string>{120,150}</string>
		</dict>
		<key>bind07_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{758,594},{104,130}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,10},{104,130}}</string>
			<key>sourceSize</key>
			<string>{120,150}</string>
		</dict>
		<key>bind09_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{622,540},{104,134}}</string>
			<key>offset</key>
			<string>{6,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,11},{104,134}}</string>
			<key>sourceSize</key>
			<string>{120,150}</string>
		</dict>
		<key>bind11_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,445},{104,134}}</string>
			<key>offset</key>
			<string>{6,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,9},{104,134}}</string>
			<key>sourceSize</key>
			<string>{120,150}</string>
		</dict>
		<key>bingdong_00001_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,573},{102,126}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,14},{102,126}}</string>
			<key>sourceSize</key>
			<string>{140,150}</string>
		</dict>
		<key>bingdong_00005_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,564},{102,126}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,14},{102,126}}</string>
			<key>sourceSize</key>
			<string>{140,150}</string>
		</dict>
		<key>bingdong_00009_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,588},{102,126}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,14},{102,126}}</string>
			<key>sourceSize</key>
			<string>{140,150}</string>
		</dict>
		<key>bingdong_00013_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,460},{102,126}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,14},{102,126}}</string>
			<key>sourceSize</key>
			<string>{140,150}</string>
		</dict>
		<key>bingdong_00017_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{890,675},{102,126}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,14},{102,126}}</string>
			<key>sourceSize</key>
			<string>{140,150}</string>
		</dict>
		<key>binx01_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,489},{84,121}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,7},{84,121}}</string>
			<key>sourceSize</key>
			<string>{110,135}</string>
		</dict>
		<key>binx03_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{899,589},{84,121}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,7},{84,121}}</string>
			<key>sourceSize</key>
			<string>{110,135}</string>
		</dict>
		<key>binx05_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{145,366},{84,121}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,7},{84,121}}</string>
			<key>sourceSize</key>
			<string>{110,135}</string>
		</dict>
		<key>binx07_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,243},{84,121}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,7},{84,121}}</string>
			<key>sourceSize</key>
			<string>{110,135}</string>
		</dict>
		<key>binx09_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,120},{84,121}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,7},{84,121}}</string>
			<key>sourceSize</key>
			<string>{110,135}</string>
		</dict>
		<key>binx11_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{924,466},{84,121}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,7},{84,121}}</string>
			<key>sourceSize</key>
			<string>{110,135}</string>
		</dict>
		<key>dongjie_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{989,66},{102,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,30}}</string>
			<key>sourceSize</key>
			<string>{102,30}</string>
		</dict>
		<key>dzf_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{989,2},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>feng01_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,692},{120,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,110}}</string>
			<key>sourceSize</key>
			<string>{120,110}</string>
		</dict>
		<key>feng02_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,426},{136,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,112}}</string>
			<key>sourceSize</key>
			<string>{136,112}</string>
		</dict>
		<key>feng03_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,364},{141,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,118}}</string>
			<key>sourceSize</key>
			<string>{141,118}</string>
		</dict>
		<key>feng04_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,204},{145,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,121}}</string>
			<key>sourceSize</key>
			<string>{145,121}</string>
		</dict>
		<key>feng05_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,242},{147,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,120}}</string>
			<key>sourceSize</key>
			<string>{147,120}</string>
		</dict>
		<key>feng06_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,120},{147,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,120}}</string>
			<key>sourceSize</key>
			<string>{147,120}</string>
		</dict>
		<key>feng07_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,304},{149,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,115}}</string>
			<key>sourceSize</key>
			<string>{149,115}</string>
		</dict>
		<key>feng08_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,206},{150,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,117}}</string>
			<key>sourceSize</key>
			<string>{150,117}</string>
		</dict>
		<key>feng09_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,325},{149,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,99}}</string>
			<key>sourceSize</key>
			<string>{149,99}</string>
		</dict>
		<key>hong_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,668},{124,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,68}}</string>
			<key>sourceSize</key>
			<string>{124,68}</string>
		</dict>
		<key>huang_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,581},{124,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,68}}</string>
			<key>sourceSize</key>
			<string>{124,68}</string>
		</dict>
		<key>qgg_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{774,421},{148,65}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{148,65}}</string>
			<key>sourceSize</key>
			<string>{148,67}</string>
		</dict>
		<key>quan_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,327},{140,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,131}}</string>
			<key>sourceSize</key>
			<string>{140,131}</string>
		</dict>
		<key>text_perfectvalue_down_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,2},{198,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,30}}</string>
			<key>sourceSize</key>
			<string>{198,30}</string>
		</dict>
		<key>text_perfectvalue_up_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,2},{197,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,30}}</string>
			<key>sourceSize</key>
			<string>{197,30}</string>
		</dict>
		<key>tiao_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{242,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,116}}</string>
			<key>sourceSize</key>
			<string>{242,116}</string>
		</dict>
		<key>tiaod_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,2},{56,171}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,3},{56,171}}</string>
			<key>sourceSize</key>
			<string>{62,179}</string>
		</dict>
		<key>xieyan01_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{379,327},{66,34}}</string>
			<key>offset</key>
			<string>{5,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,20},{66,34}}</string>
			<key>sourceSize</key>
			<string>{82,66}</string>
		</dict>
		<key>xieyan02_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{555,361},{82,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,66}}</string>
			<key>sourceSize</key>
			<string>{82,66}</string>
		</dict>
		<key>xieyan03_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{939,398},{82,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,66}}</string>
			<key>sourceSize</key>
			<string>{82,66}</string>
		</dict>
		<key>xieyan04_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{939,330},{82,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,66}}</string>
			<key>sourceSize</key>
			<string>{82,66}</string>
		</dict>
		<key>xieyan05_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,741},{82,62}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{82,62}}</string>
			<key>sourceSize</key>
			<string>{82,66}</string>
		</dict>
		<key>xieyan06_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{508,718},{82,62}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{82,62}}</string>
			<key>sourceSize</key>
			<string>{82,66}</string>
		</dict>
		<key>xieyan07_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,718},{82,62}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{82,62}}</string>
			<key>sourceSize</key>
			<string>{82,66}</string>
		</dict>
		<key>xieyan08_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,700},{82,62}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,62}}</string>
			<key>sourceSize</key>
			<string>{82,66}</string>
		</dict>
		<key>xieyan09_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,740},{82,62}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,62}}</string>
			<key>sourceSize</key>
			<string>{82,66}</string>
		</dict>
		<key>xieyan10_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,738},{82,62}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,62}}</string>
			<key>sourceSize</key>
			<string>{82,66}</string>
		</dict>
		<key>xieyan11_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,677},{82,62}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,62}}</string>
			<key>sourceSize</key>
			<string>{82,66}</string>
		</dict>
		<key>xieyan12_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,676},{82,62}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,62}}</string>
			<key>sourceSize</key>
			<string>{82,66}</string>
		</dict>
		<key>xieyan13_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,612},{82,62}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,62}}</string>
			<key>sourceSize</key>
			<string>{82,66}</string>
		</dict>
		<key>xieyan14_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,250},{78,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,9},{78,48}}</string>
			<key>sourceSize</key>
			<string>{82,66}</string>
		</dict>
		<key>xieyan15_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,170},{78,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,9},{78,48}}</string>
			<key>sourceSize</key>
			<string>{82,66}</string>
		</dict>
		<key>xieyan16_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{586,146},{78,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,9},{78,48}}</string>
			<key>sourceSize</key>
			<string>{82,66}</string>
		</dict>
		<key>xin_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{581,274},{44,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,43}}</string>
			<key>sourceSize</key>
			<string>{44,43}</string>
		</dict>
		<key>yan01_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{989,36},{32,28}}</string>
			<key>offset</key>
			<string>{-1,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,22},{32,28}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>yan02_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{581,319},{40,40}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,18},{40,40}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>yan03_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{581,226},{46,48}}</string>
			<key>offset</key>
			<string>{-1,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,14},{46,48}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>yan04_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{586,94},{50,54}}</string>
			<key>offset</key>
			<string>{1,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,9},{50,54}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>yan05_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{586,34},{54,58}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,5},{54,58}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>yan06_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,700},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>zhua2_buff4image.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,651},{65,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,107}}</string>
			<key>sourceSize</key>
			<string>{65,107}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>buff4image.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>buff4image.png</string>
	</dict>
</dict>
</plist>
