<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>b_00000_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,951},{50,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{50,49}}</string>
			<key>sourceSize</key>
			<string>{50,51}</string>
		</dict>
		<key>b_00002_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{845,153},{118,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,90}}</string>
			<key>sourceSize</key>
			<string>{118,90}</string>
		</dict>
		<key>b_00004_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,931},{90,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,90}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>b_00006_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,774},{86,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,88}}</string>
			<key>sourceSize</key>
			<string>{86,88}</string>
		</dict>
		<key>b_00008_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{591,916},{94,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,79}}</string>
			<key>sourceSize</key>
			<string>{94,79}</string>
		</dict>
		<key>b_00010_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,734},{98,71}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,71}}</string>
			<key>sourceSize</key>
			<string>{98,73}</string>
		</dict>
		<key>b_00012_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,673},{73,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,76}}</string>
			<key>sourceSize</key>
			<string>{73,76}</string>
		</dict>
		<key>baozha_020_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{925,538},{92,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,90}}</string>
			<key>sourceSize</key>
			<string>{92,90}</string>
		</dict>
		<key>baozha_022_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{311,931},{91,75}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{91,75}}</string>
			<key>sourceSize</key>
			<string>{97,75}</string>
		</dict>
		<key>baozha_024_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,727},{105,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,78}}</string>
			<key>sourceSize</key>
			<string>{105,78}</string>
		</dict>
		<key>baozha_026_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,312},{116,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,87}}</string>
			<key>sourceSize</key>
			<string>{116,87}</string>
		</dict>
		<key>baozha_028_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,266},{118,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,78}}</string>
			<key>sourceSize</key>
			<string>{118,78}</string>
		</dict>
		<key>bili_xiaojineng_00000_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1003,774},{66,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,19}}</string>
			<key>sourceSize</key>
			<string>{66,19}</string>
		</dict>
		<key>bili_xiaojineng_00002_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,961},{144,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{144,61}}</string>
			<key>sourceSize</key>
			<string>{144,63}</string>
		</dict>
		<key>bili_xiaojineng_00004_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,195},{152,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,69}}</string>
			<key>sourceSize</key>
			<string>{152,69}</string>
		</dict>
		<key>bili_xiaojineng_00006_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,807},{152,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,68}}</string>
			<key>sourceSize</key>
			<string>{152,68}</string>
		</dict>
		<key>bili_xiaojineng_00008_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,386},{145,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,51}}</string>
			<key>sourceSize</key>
			<string>{145,51}</string>
		</dict>
		<key>g_00000_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{589,282},{115,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,115}}</string>
			<key>sourceSize</key>
			<string>{115,115}</string>
		</dict>
		<key>g_00002_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{727,153},{116,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,117}}</string>
			<key>sourceSize</key>
			<string>{116,117}</string>
		</dict>
		<key>g_00004_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,282},{115,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,117}}</string>
			<key>sourceSize</key>
			<string>{115,117}</string>
		</dict>
		<key>g_00006_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,439},{115,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,117}}</string>
			<key>sourceSize</key>
			<string>{115,117}</string>
		</dict>
		<key>g_00008_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,401},{114,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,117}}</string>
			<key>sourceSize</key>
			<string>{114,117}</string>
		</dict>
		<key>g_00010_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,193},{115,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,117}}</string>
			<key>sourceSize</key>
			<string>{115,117}</string>
		</dict>
		<key>g_00012_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,439},{115,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,118}}</string>
			<key>sourceSize</key>
			<string>{115,118}</string>
		</dict>
		<key>g_00014_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,266},{115,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,118}}</string>
			<key>sourceSize</key>
			<string>{115,118}</string>
		</dict>
		<key>g_00016_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,807},{114,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{114,117}}</string>
			<key>sourceSize</key>
			<string>{116,117}</string>
		</dict>
		<key>g_00018_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,615},{115,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,117}}</string>
			<key>sourceSize</key>
			<string>{115,117}</string>
		</dict>
		<key>h_00002_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{937,199},{85,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,75}}</string>
			<key>sourceSize</key>
			<string>{85,75}</string>
		</dict>
		<key>h_00004_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{921,2},{107,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,101}}</string>
			<key>sourceSize</key>
			<string>{107,101}</string>
		</dict>
		<key>h_00006_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,741},{113,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,109}}</string>
			<key>sourceSize</key>
			<string>{113,109}</string>
		</dict>
		<key>h_00008_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,401},{116,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,106}}</string>
			<key>sourceSize</key>
			<string>{116,106}</string>
		</dict>
		<key>h_00010_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,719},{102,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,104}}</string>
			<key>sourceSize</key>
			<string>{102,104}</string>
		</dict>
		<key>h_00012_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{607,631},{107,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,109}}</string>
			<key>sourceSize</key>
			<string>{107,109}</string>
		</dict>
		<key>h_00014_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,399},{115,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{115,105}}</string>
			<key>sourceSize</key>
			<string>{117,105}</string>
		</dict>
		<key>h_00016_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,618},{107,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,105}}</string>
			<key>sourceSize</key>
			<string>{107,105}</string>
		</dict>
		<key>h_00018_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,516},{113,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,102}}</string>
			<key>sourceSize</key>
			<string>{113,102}</string>
		</dict>
		<key>h_00020_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,520},{115,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,107}}</string>
			<key>sourceSize</key>
			<string>{115,107}</string>
		</dict>
		<key>h_00022_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,630},{113,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,109}}</string>
			<key>sourceSize</key>
			<string>{113,109}</string>
		</dict>
		<key>h_00024_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,519},{113,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,109}}</string>
			<key>sourceSize</key>
			<string>{113,109}</string>
		</dict>
		<key>h_00026_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{937,111},{86,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,85}}</string>
			<key>sourceSize</key>
			<string>{86,85}</string>
		</dict>
		<key>huoquan_014_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{715,807},{60,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,95}}</string>
			<key>sourceSize</key>
			<string>{60,95}</string>
		</dict>
		<key>huoquan_016_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{607,742},{110,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,106}}</string>
			<key>sourceSize</key>
			<string>{110,106}</string>
		</dict>
		<key>huoquan_018_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{711,395},{108,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,104}}</string>
			<key>sourceSize</key>
			<string>{108,104}</string>
		</dict>
		<key>huoquan_020_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{706,282},{111,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,106}}</string>
			<key>sourceSize</key>
			<string>{111,106}</string>
		</dict>
		<key>huoquan_022_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,825},{112,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,104}}</string>
			<key>sourceSize</key>
			<string>{112,104}</string>
		</dict>
		<key>huoquan_024_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,505},{111,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,97}}</string>
			<key>sourceSize</key>
			<string>{111,97}</string>
		</dict>
		<key>huoquan_026_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{471,193},{83,62}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{83,62}}</string>
			<key>sourceSize</key>
			<string>{89,64}</string>
		</dict>
		<key>huoyan_005_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{925,473},{63,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,97}}</string>
			<key>sourceSize</key>
			<string>{63,97}</string>
		</dict>
		<key>huoyan_007_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{912,392},{79,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,108}}</string>
			<key>sourceSize</key>
			<string>{79,108}</string>
		</dict>
		<key>huoyan_009_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{373,629},{88,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,117}}</string>
			<key>sourceSize</key>
			<string>{88,117}</string>
		</dict>
		<key>huoyan_011_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,558},{77,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,113}}</string>
			<key>sourceSize</key>
			<string>{77,113}</string>
		</dict>
		<key>huoyan_013_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{465,852},{75,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,102}}</string>
			<key>sourceSize</key>
			<string>{75,102}</string>
		</dict>
		<key>huozhu_023_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{160,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,216}}</string>
			<key>sourceSize</key>
			<string>{160,216}</string>
		</dict>
		<key>huozhu_025_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,220},{153,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,209}}</string>
			<key>sourceSize</key>
			<string>{153,209}</string>
		</dict>
		<key>huozhu_027_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{535,2},{149,204}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,204}}</string>
			<key>sourceSize</key>
			<string>{149,204}</string>
		</dict>
		<key>huozhu_029_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,431},{142,197}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{142,197}}</string>
			<key>sourceSize</key>
			<string>{144,197}</string>
		</dict>
		<key>huozhu_031_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{741,2},{149,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,178}}</string>
			<key>sourceSize</key>
			<string>{149,178}</string>
		</dict>
		<key>huozhu_033_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,807},{161,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,173}}</string>
			<key>sourceSize</key>
			<string>{161,173}</string>
		</dict>
		<key>huozhu_035_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,630},{175,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,173}}</string>
			<key>sourceSize</key>
			<string>{175,173}</string>
		</dict>
		<key>huozhu_037_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,2},{184,189}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,189}}</string>
			<key>sourceSize</key>
			<string>{184,189}</string>
		</dict>
		<key>huozhu_039_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,2},{183,191}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,191}}</string>
			<key>sourceSize</key>
			<string>{183,191}</string>
		</dict>
		<key>huozhu_041_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{535,153},{127,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,190}}</string>
			<key>sourceSize</key>
			<string>{127,190}</string>
		</dict>
		<key>jianshe_007_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,982},{71,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,38}}</string>
			<key>sourceSize</key>
			<string>{71,38}</string>
		</dict>
		<key>jianshe_009_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,338},{100,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,52}}</string>
			<key>sourceSize</key>
			<string>{100,52}</string>
		</dict>
		<key>jianshe_011_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,559},{112,54}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{112,54}}</string>
			<key>sourceSize</key>
			<string>{112,58}</string>
		</dict>
		<key>jianshe_013_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,748},{109,57}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{109,57}}</string>
			<key>sourceSize</key>
			<string>{113,63}</string>
		</dict>
		<key>jianshe_015_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,816},{95,58}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,58}}</string>
			<key>sourceSize</key>
			<string>{99,58}</string>
		</dict>
		<key>jianshe_017_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{912,630},{92,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,53}}</string>
			<key>sourceSize</key>
			<string>{92,53}</string>
		</dict>
		<key>l_00000_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{817,367},{104,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,93}}</string>
			<key>sourceSize</key>
			<string>{104,93}</string>
		</dict>
		<key>l_00001_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,929},{109,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,93}}</string>
			<key>sourceSize</key>
			<string>{109,93}</string>
		</dict>
		<key>l_00002_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{814,273},{106,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,92}}</string>
			<key>sourceSize</key>
			<string>{106,92}</string>
		</dict>
		<key>l_00003_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{817,473},{106,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,86}}</string>
			<key>sourceSize</key>
			<string>{106,86}</string>
		</dict>
		<key>l_00004_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{823,712},{102,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,88}}</string>
			<key>sourceSize</key>
			<string>{102,88}</string>
		</dict>
		<key>l_00005_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,685},{90,87}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,0},{90,87}}</string>
			<key>sourceSize</key>
			<string>{102,87}</string>
		</dict>
		<key>l_00006_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{909,862},{87,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,87}}</string>
			<key>sourceSize</key>
			<string>{87,87}</string>
		</dict>
		<key>lizi_005_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{823,606},{104,87}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{104,87}}</string>
			<key>sourceSize</key>
			<string>{108,87}</string>
		</dict>
		<key>lizi_006_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,276},{100,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,60}}</string>
			<key>sourceSize</key>
			<string>{100,60}</string>
		</dict>
		<key>lizi_007_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{569,854},{94,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,60}}</string>
			<key>sourceSize</key>
			<string>{94,60}</string>
		</dict>
		<key>lizi_008_bilishisiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{815,561},{106,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,43}}</string>
			<key>sourceSize</key>
			<string>{106,43}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>bilishisiteimage.png</string>
		<key>scale</key>
		<real>0.54</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>bilishisiteimage.png</string>
	</dict>
</dict>
</plist>
