<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>guangtiao_lianxuxiaofeixinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,162},{163,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,51}}</string>
			<key>sourceSize</key>
			<string>{163,51}</string>
		</dict>
		<key>he_lianxuxiaofeixinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,162},{86,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,75}}</string>
			<key>sourceSize</key>
			<string>{86,75}</string>
		</dict>
		<key>mask1_lianxuxiaofeixinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{491,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{491,92}}</string>
			<key>sourceSize</key>
			<string>{491,92}</string>
		</dict>
		<key>sg_lianxuxiaofeixinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,2},{83,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,120}}</string>
			<key>sourceSize</key>
			<string>{83,120}</string>
		</dict>
		<key>xing_lianxuxiaofeixinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,87},{109,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,73}}</string>
			<key>sourceSize</key>
			<string>{109,73}</string>
		</dict>
		<key>yez_lianxuxiaofeixinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,87},{52,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,38}}</string>
			<key>sourceSize</key>
			<string>{52,38}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lianxuxiaofeixinimage.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lianxuxiaofeixinimage.png</string>
	</dict>
</dict>
</plist>
