<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>jb01_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,379},{42,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,56}}</string>
			<key>sourceSize</key>
			<string>{42,56}</string>
		</dict>
		<key>sp01_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,211},{62,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,77}}</string>
			<key>sourceSize</key>
			<string>{62,77}</string>
		</dict>
		<key>sp02_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,100},{86,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,40}}</string>
			<key>sourceSize</key>
			<string>{86,40}</string>
		</dict>
		<key>sp03_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{105,286},{91,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,83}}</string>
			<key>sourceSize</key>
			<string>{91,83}</string>
		</dict>
		<key>sp04_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,127},{103,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,78}}</string>
			<key>sourceSize</key>
			<string>{103,78}</string>
		</dict>
		<key>sp05_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,2},{113,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,117}}</string>
			<key>sourceSize</key>
			<string>{113,117}</string>
		</dict>
		<key>sp06_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,393},{108,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,93}}</string>
			<key>sourceSize</key>
			<string>{108,93}</string>
		</dict>
		<key>sp07_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,314},{23,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,24}}</string>
			<key>sourceSize</key>
			<string>{23,24}</string>
		</dict>
		<key>sp08_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,211},{123,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,65}}</string>
			<key>sourceSize</key>
			<string>{123,65}</string>
		</dict>
		<key>sp09_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,216},{10,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,31}}</string>
			<key>sourceSize</key>
			<string>{10,31}</string>
		</dict>
		<key>sp10_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,2},{155,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,96}}</string>
			<key>sourceSize</key>
			<string>{155,96}</string>
		</dict>
		<key>sp11_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,100},{109,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,113}}</string>
			<key>sourceSize</key>
			<string>{109,113}</string>
		</dict>
		<key>sp12_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{186,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,123}}</string>
			<key>sourceSize</key>
			<string>{186,123}</string>
		</dict>
		<key>sp13_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,275},{62,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,74}}</string>
			<key>sourceSize</key>
			<string>{62,74}</string>
		</dict>
		<key>sp14_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,216},{109,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,96}}</string>
			<key>sourceSize</key>
			<string>{109,96}</string>
		</dict>
		<key>sp15_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,368},{43,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,69}}</string>
			<key>sourceSize</key>
			<string>{43,69}</string>
		</dict>
		<key>sp16_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,449},{52,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,111}}</string>
			<key>sourceSize</key>
			<string>{52,111}</string>
		</dict>
		<key>sp17_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,306},{141,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,52}}</string>
			<key>sourceSize</key>
			<string>{141,52}</string>
		</dict>
		<key>sp18_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,249},{39,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,48}}</string>
			<key>sourceSize</key>
			<string>{39,48}</string>
		</dict>
		<key>sp19_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,449},{59,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,47}}</string>
			<key>sourceSize</key>
			<string>{59,47}</string>
		</dict>
		<key>sp20_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,379},{32,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,53}}</string>
			<key>sourceSize</key>
			<string>{32,53}</string>
		</dict>
		<key>sp21_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,211},{73,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,68}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>sp22_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,127},{75,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,75}}</string>
			<key>sourceSize</key>
			<string>{75,75}</string>
		</dict>
		<key>sp23_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,286},{64,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,105}}</string>
			<key>sourceSize</key>
			<string>{64,105}</string>
		</dict>
		<key>sp24_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,314},{72,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,81}}</string>
			<key>sourceSize</key>
			<string>{72,81}</string>
		</dict>
		<key>sp25_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,415},{79,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,23}}</string>
			<key>sourceSize</key>
			<string>{79,23}</string>
		</dict>
		<key>sp26_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,228},{76,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,13}}</string>
			<key>sourceSize</key>
			<string>{76,13}</string>
		</dict>
		<key>sp27_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,449},{99,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,49}}</string>
			<key>sourceSize</key>
			<string>{99,49}</string>
		</dict>
		<key>sp28_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,117},{97,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,109}}</string>
			<key>sourceSize</key>
			<string>{97,109}</string>
		</dict>
		<key>sp29_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,388},{77,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,111}}</string>
			<key>sourceSize</key>
			<string>{77,111}</string>
		</dict>
		<key>sp30_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,278},{88,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,101}}</string>
			<key>sourceSize</key>
			<string>{88,101}</string>
		</dict>
		<key>sp31_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,351},{62,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,64}}</string>
			<key>sourceSize</key>
			<string>{62,64}</string>
		</dict>
		<key>sp32_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,188},{96,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,29}}</string>
			<key>sourceSize</key>
			<string>{96,29}</string>
		</dict>
		<key>sp33_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,449},{58,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,52}}</string>
			<key>sourceSize</key>
			<string>{58,52}</string>
		</dict>
		<key>sp34_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,368},{48,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,55}}</string>
			<key>sourceSize</key>
			<string>{48,55}</string>
		</dict>
		<key>tiao01_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{466,2},{226,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,24}}</string>
			<key>sourceSize</key>
			<string>{226,24}</string>
		</dict>
		<key>tiao02_ygnscjtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,2},{224,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,17}}</string>
			<key>sourceSize</key>
			<string>{224,17}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA4444</string>
		<key>realTextureFileName</key>
		<string>ygnscjtximage.png</string>
		<key>scale</key>
		<real>0.67</real>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ygnscjtximage.png</string>
	</dict>
</dict>
</plist>
