<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wy_12_12_1639_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,417},{287,315}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{287,315}}</string>
			<key>sourceSize</key>
			<string>{287,315}</string>
		</dict>
		<key>wy_13_13_4874_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,734},{289,268}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{289,268}}</string>
			<key>sourceSize</key>
			<string>{289,272}</string>
		</dict>
		<key>wy_15_15_96907_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,2},{115,97}}</string>
			<key>offset</key>
			<string>{7,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,11},{115,97}}</string>
			<key>sourceSize</key>
			<string>{133,115}</string>
		</dict>
		<key>wy_16_16_84269_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{789,762},{111,101}}</string>
			<key>offset</key>
			<string>{9,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,8},{111,101}}</string>
			<key>sourceSize</key>
			<string>{133,115}</string>
		</dict>
		<key>wy_17_17_23262_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{796,898},{109,105}}</string>
			<key>offset</key>
			<string>{10,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,4},{109,105}}</string>
			<key>sourceSize</key>
			<string>{133,115}</string>
		</dict>
		<key>wy_18_18_6190_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{892,791},{109,105}}</string>
			<key>offset</key>
			<string>{10,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,5},{109,105}}</string>
			<key>sourceSize</key>
			<string>{133,115}</string>
		</dict>
		<key>wy_19_19_80634_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{892,680},{109,109}}</string>
			<key>offset</key>
			<string>{10,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,2},{109,109}}</string>
			<key>sourceSize</key>
			<string>{133,115}</string>
		</dict>
		<key>wy_20_20_917_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,119},{97,111}}</string>
			<key>offset</key>
			<string>{16,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,1},{97,111}}</string>
			<key>sourceSize</key>
			<string>{133,115}</string>
		</dict>
		<key>wy_21_21_73031_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,762},{113,101}}</string>
			<key>offset</key>
			<string>{8,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,12},{113,101}}</string>
			<key>sourceSize</key>
			<string>{133,115}</string>
		</dict>
		<key>wy_22_22_18580_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{933,562},{111,89}}</string>
			<key>offset</key>
			<string>{9,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,23},{111,89}}</string>
			<key>sourceSize</key>
			<string>{133,115}</string>
		</dict>
		<key>wy_23_23_26116_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{586,931},{113,91}}</string>
			<key>offset</key>
			<string>{8,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,20},{113,91}}</string>
			<key>sourceSize</key>
			<string>{133,115}</string>
		</dict>
		<key>wy_24_24_3061_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{701,877},{113,93}}</string>
			<key>offset</key>
			<string>{8,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,17},{113,93}}</string>
			<key>sourceSize</key>
			<string>{133,115}</string>
		</dict>
		<key>wy_25_25_77544_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,232},{115,95}}</string>
			<key>offset</key>
			<string>{7,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,14},{115,95}}</string>
			<key>sourceSize</key>
			<string>{133,115}</string>
		</dict>
		<key>wy_26_26_31393_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,2},{115,97}}</string>
			<key>offset</key>
			<string>{7,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,11},{115,97}}</string>
			<key>sourceSize</key>
			<string>{133,115}</string>
		</dict>
		<key>wy_43_43_65969_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{684,392},{255,129}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,4},{255,129}}</string>
			<key>sourceSize</key>
			<string>{259,139}</string>
		</dict>
		<key>wy_44_44_8494_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,2},{255,129}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,4},{255,129}}</string>
			<key>sourceSize</key>
			<string>{259,139}</string>
		</dict>
		<key>wy_45_45_27584_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,676},{257,129}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,4},{257,129}}</string>
			<key>sourceSize</key>
			<string>{259,139}</string>
		</dict>
		<key>wy_46_46_13_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,417},{257,129}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,4},{257,129}}</string>
			<key>sourceSize</key>
			<string>{259,139}</string>
		</dict>
		<key>wy_47_47_79581_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{530,2},{257,129}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,4},{257,129}}</string>
			<key>sourceSize</key>
			<string>{259,139}</string>
		</dict>
		<key>wy_48_48_20013_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,2},{257,129}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,4},{257,129}}</string>
			<key>sourceSize</key>
			<string>{259,139}</string>
		</dict>
		<key>wy_49_49_81034_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,712},{257,129}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,4},{257,129}}</string>
			<key>sourceSize</key>
			<string>{259,139}</string>
		</dict>
		<key>wy_50_50_48179_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,417},{257,129}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,4},{257,129}}</string>
			<key>sourceSize</key>
			<string>{259,139}</string>
		</dict>
		<key>wy_51_51_94553_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{661,2},{255,129}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,4},{255,129}}</string>
			<key>sourceSize</key>
			<string>{259,139}</string>
		</dict>
		<key>wy_52_52_75792_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{599,261},{255,129}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{255,129}}</string>
			<key>sourceSize</key>
			<string>{259,139}</string>
		</dict>
		<key>wy_53_53_11626_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{555,674},{255,129}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,4},{255,129}}</string>
			<key>sourceSize</key>
			<string>{259,139}</string>
		</dict>
		<key>wy_54_54_45709_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{553,417},{255,129}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,4},{255,129}}</string>
			<key>sourceSize</key>
			<string>{259,139}</string>
		</dict>
		<key>wy_56_56_92317_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1004},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>wy_58_58_28849_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{701,649},{111,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,111}}</string>
			<key>sourceSize</key>
			<string>{111,111}</string>
		</dict>
		<key>wy_60_60_95487_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,935},{160,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,77}}</string>
			<key>sourceSize</key>
			<string>{160,77}</string>
		</dict>
		<key>wy_63_63_2722_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{815,392},{168,168}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,168}}</string>
			<key>sourceSize</key>
			<string>{170,170}</string>
		</dict>
		<key>wy_64_64_21777_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{815,562},{116,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,116}}</string>
			<key>sourceSize</key>
			<string>{116,116}</string>
		</dict>
		<key>wy_66_66_47114_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,676},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>wy_68_68_71035_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{395,413}}</string>
			<key>offset</key>
			<string>{13,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{96,82},{395,413}}</string>
			<key>sourceSize</key>
			<string>{561,555}</string>
		</dict>
		<key>wy_8_8_19306_zhangyuchoujiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,261},{154,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,198}}</string>
			<key>sourceSize</key>
			<string>{154,198}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>zhangyuchoujiangimage.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>zhangyuchoujiangimage.png</string>
	</dict>
</dict>
</plist>
