<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_pingjia_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,1421},{134,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,49}}</string>
			<key>sourceSize</key>
			<string>{134,49}</string>
		</dict>
		<key>btn_pingjia_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,1421},{134,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,49}}</string>
			<key>sourceSize</key>
			<string>{134,49}</string>
		</dict>
		<key>btn_xgds_youxipj_guanbi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,1421},{58,57}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,7},{58,57}}</string>
			<key>sourceSize</key>
			<string>{70,83}</string>
		</dict>
		<key>btn_xgds_youxipj_guanbi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,1421},{58,57}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,7},{58,57}}</string>
			<key>sourceSize</key>
			<string>{70,83}</string>
		</dict>
		<key>pic_huanbao_tanchuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,737},{682,484}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{682,484}}</string>
			<key>sourceSize</key>
			<string>{682,484}</string>
		</dict>
		<key>pic_pingjia_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{733,504}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{733,504}}</string>
			<key>sourceSize</key>
			<string>{733,504}</string>
		</dict>
		<key>pic_pingjia_xing.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,1421},{48,47}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,5},{48,47}}</string>
			<key>sourceSize</key>
			<string>{58,57}</string>
		</dict>
		<key>pic_pingjia_xingdi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1421},{58,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,57}}</string>
			<key>sourceSize</key>
			<string>{58,57}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ChangePackTips0.png</string>
		<key>size</key>
		<string>{508,1480}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ChangePackTips0.png</string>
	</dict>
</dict>
</plist>
