<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wy_10_10_64344_dafuwengcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,1350},{208,218}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{208,218}}</string>
			<key>sourceSize</key>
			<string>{208,218}</string>
		</dict>
		<key>wy_11_11_47639_dafuwengcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{609,749},{354,294}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{354,294}}</string>
			<key>sourceSize</key>
			<string>{354,294}</string>
		</dict>
		<key>wy_16_16_26266_dafuwengcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,749},{308,1211}}</string>
			<key>offset</key>
			<string>{0,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{308,1211}}</string>
			<key>sourceSize</key>
			<string>{308,1241}</string>
		</dict>
		<key>wy_17_17_9116_dafuwengcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,737},{484,295}}</string>
			<key>offset</key>
			<string>{-2,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,8},{484,295}}</string>
			<key>sourceSize</key>
			<string>{488,303}</string>
		</dict>
		<key>wy_18_18_37797_dafuwengcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,131},{491,626}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{491,626}}</string>
			<key>sourceSize</key>
			<string>{495,630}</string>
		</dict>
		<key>wy_19_19_71408_dafuwengcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{967,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{967,127}}</string>
			<key>sourceSize</key>
			<string>{969,127}</string>
		</dict>
		<key>wy_1_1_36981_dafuwengcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1011,167},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>wy_20_20_52919_dafuwengcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,1251},{459,97}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{459,97}}</string>
			<key>sourceSize</key>
			<string>{463,101}</string>
		</dict>
		<key>wy_2_2_54229_dafuwengcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{971,2},{163,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,51}}</string>
			<key>sourceSize</key>
			<string>{163,51}</string>
		</dict>
		<key>wy_3_3_63269_dafuwengcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,624},{111,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,111}}</string>
			<key>sourceSize</key>
			<string>{111,111}</string>
		</dict>
		<key>wy_40_40_4318_dafuwengcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,624},{144,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,105}}</string>
			<key>sourceSize</key>
			<string>{144,105}</string>
		</dict>
		<key>wy_42_42_29856_dafuwengcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{707,1388},{172,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,154}}</string>
			<key>sourceSize</key>
			<string>{172,154}</string>
		</dict>
		<key>wy_44_44_20866_dafuwengcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,1214},{182,172}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,172}}</string>
			<key>sourceSize</key>
			<string>{182,172}</string>
		</dict>
		<key>wy_46_46_18913_dafuwengcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,1045},{187,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,167}}</string>
			<key>sourceSize</key>
			<string>{187,167}</string>
		</dict>
		<key>wy_48_48_23590_dafuwengcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,1350},{173,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,156}}</string>
			<key>sourceSize</key>
			<string>{173,156}</string>
		</dict>
		<key>wy_50_50_78517_dafuwengcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,1508},{168,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,149}}</string>
			<key>sourceSize</key>
			<string>{168,149}</string>
		</dict>
		<key>wy_52_52_22973_dafuwengcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{702,1544},{165,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,144}}</string>
			<key>sourceSize</key>
			<string>{165,144}</string>
		</dict>
		<key>wy_54_54_21368_dafuwengcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{881,1388},{155,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,134}}</string>
			<key>sourceSize</key>
			<string>{155,134}</string>
		</dict>
		<key>wy_56_56_40698_dafuwengcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,624},{121,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,113}}</string>
			<key>sourceSize</key>
			<string>{121,113}</string>
		</dict>
		<key>wy_58_58_77491_dafuwengcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{504,624},{94,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,61}}</string>
			<key>sourceSize</key>
			<string>{94,61}</string>
		</dict>
		<key>wy_6_6_95786_dafuwengcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{609,1045},{224,204}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,204}}</string>
			<key>sourceSize</key>
			<string>{224,204}</string>
		</dict>
		<key>wy_7_7_74633_dafuwengcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,624},{120,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,126}}</string>
			<key>sourceSize</key>
			<string>{120,126}</string>
		</dict>
		<key>wy_8_8_24173_dafuwengcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,406},{341,379}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{341,379}}</string>
			<key>sourceSize</key>
			<string>{341,379}</string>
		</dict>
		<key>wy_9_9_85151_dafuwengcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,131},{333,273}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{333,273}}</string>
			<key>sourceSize</key>
			<string>{333,273}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>dafuwengcjimage.png</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dafuwengcjimage.png</string>
	</dict>
</dict>
</plist>
