<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>jb_jiangbeichenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,95},{72,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,61}}</string>
			<key>sourceSize</key>
			<string>{72,61}</string>
		</dict>
		<key>kof_jiangbeichenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,468},{53,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,18}}</string>
			<key>sourceSize</key>
			<string>{53,18}</string>
		</dict>
		<key>kuang_jiangbeichenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,251},{88,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,29}}</string>
			<key>sourceSize</key>
			<string>{88,29}</string>
		</dict>
		<key>mask01_jiangbeichenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,392},{107,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,38}}</string>
			<key>sourceSize</key>
			<string>{107,38}</string>
		</dict>
		<key>mask02_jiangbeichenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,488},{52,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,17}}</string>
			<key>sourceSize</key>
			<string>{52,17}</string>
		</dict>
		<key>sanjiao_jiangbeichenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,282},{108,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,61}}</string>
			<key>sourceSize</key>
			<string>{108,61}</string>
		</dict>
		<key>sg_jiangbeichenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,282},{83,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,120}}</string>
			<key>sourceSize</key>
			<string>{83,120}</string>
		</dict>
		<key>tflizi_jiangbeichenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,468},{28,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,27}}</string>
			<key>sourceSize</key>
			<string>{28,27}</string>
		</dict>
		<key>xingguang_jiangbeichenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,158},{122,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,122}}</string>
			<key>sourceSize</key>
			<string>{122,122}</string>
		</dict>
		<key>yan_jiangbeichenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{143,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,154}}</string>
			<key>sourceSize</key>
			<string>{143,154}</string>
		</dict>
		<key>yumao2_00000_jiangbeichenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{247,344},{91,63}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,7},{91,63}}</string>
			<key>sourceSize</key>
			<string>{101,75}</string>
		</dict>
		<key>yumao2_00001_jiangbeichenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,251},{91,63}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,8},{91,63}}</string>
			<key>sourceSize</key>
			<string>{101,75}</string>
		</dict>
		<key>yumao2_00002_jiangbeichenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,158},{91,63}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,8},{91,63}}</string>
			<key>sourceSize</key>
			<string>{101,75}</string>
		</dict>
		<key>yumao2_00003_jiangbeichenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,2},{91,63}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,8},{91,63}}</string>
			<key>sourceSize</key>
			<string>{101,75}</string>
		</dict>
		<key>yumao2_00004_jiangbeichenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,404},{93,65}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,6},{93,65}}</string>
			<key>sourceSize</key>
			<string>{101,75}</string>
		</dict>
		<key>yumao2_00005_jiangbeichenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,404},{93,67}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,5},{93,67}}</string>
			<key>sourceSize</key>
			<string>{101,75}</string>
		</dict>
		<key>yumao2_00006_jiangbeichenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,282},{91,69}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,3},{91,69}}</string>
			<key>sourceSize</key>
			<string>{101,75}</string>
		</dict>
		<key>yumao2_00007_jiangbeichenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,158},{91,69}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,3},{91,69}}</string>
			<key>sourceSize</key>
			<string>{101,75}</string>
		</dict>
		<key>yumao2_00008_jiangbeichenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,2},{91,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,4},{91,67}}</string>
			<key>sourceSize</key>
			<string>{101,75}</string>
		</dict>
		<key>yumao2_00009_jiangbeichenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,375},{91,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,4},{91,67}}</string>
			<key>sourceSize</key>
			<string>{101,75}</string>
		</dict>
		<key>yumao2_00010_jiangbeichenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,95},{89,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,5},{89,65}}</string>
			<key>sourceSize</key>
			<string>{101,75}</string>
		</dict>
		<key>yumao2_00011_jiangbeichenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,437},{89,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,5},{89,65}}</string>
			<key>sourceSize</key>
			<string>{101,75}</string>
		</dict>
		<key>yumao2_00012_jiangbeichenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,437},{89,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,5},{89,65}}</string>
			<key>sourceSize</key>
			<string>{101,75}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>jiangbeichenghaoimage.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>jiangbeichenghaoimage.png</string>
	</dict>
</dict>
</plist>
