<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_kklpyjh_renwujm_zhizhang_tiaomu_lingqu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,334},{114,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,35}}</string>
			<key>sourceSize</key>
			<string>{114,35}</string>
		</dict>
		<key>btn_kklpyjh_renwujm_zhizhang_tiaomu_lingqu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{436,334},{114,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,35}}</string>
			<key>sourceSize</key>
			<string>{114,35}</string>
		</dict>
		<key>pic_kklpyjh_guize_wenzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,457},{63,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,20}}</string>
			<key>sourceSize</key>
			<string>{63,20}</string>
		</dict>
		<key>pic_kklpyjh_renwujm_zhizhang_juese_wuqi_tupian04.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,211},{215,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,207}}</string>
			<key>sourceSize</key>
			<string>{215,207}</string>
		</dict>
		<key>pic_kklpyjh_renwujm_zhizhang_juese_wuqi_tupian05.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,2},{215,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,207}}</string>
			<key>sourceSize</key>
			<string>{215,207}</string>
		</dict>
		<key>pic_kklpyjh_renwujm_zhizhang_juese_wuqi_tupian06.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,211},{215,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,207}}</string>
			<key>sourceSize</key>
			<string>{215,207}</string>
		</dict>
		<key>pic_kklpyjh_renwujm_zhizhang_juese_wuqi_tupian07.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{215,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,207}}</string>
			<key>sourceSize</key>
			<string>{215,207}</string>
		</dict>
		<key>pic_kklpyjh_renwujm_zhizhang_tiaomu_qianwang.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,420},{120,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,35}}</string>
			<key>sourceSize</key>
			<string>{120,35}</string>
		</dict>
		<key>pic_kklpyjh_renwujm_zhizhang_tiaomu_weidacheng.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,450},{88,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,34}}</string>
			<key>sourceSize</key>
			<string>{88,34}</string>
		</dict>
		<key>pic_kklpyjh_zjm_ddh_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{436,2},{330,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{330,68}}</string>
			<key>sourceSize</key>
			<string>{330,68}</string>
		</dict>
		<key>pic_kklpyjh_zjm_js_kukeli_mzri.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,420},{279,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{279,55}}</string>
			<key>sourceSize</key>
			<string>{279,55}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_ActivityTrainPlan0.png</string>
		<key>size</key>
		<string>{510,486}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_ActivityTrainPlan0.png</string>
	</dict>
</dict>
</plist>
