<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>b_dabi_nei_nongchangzhuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{345,491},{103,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,143}}</string>
			<key>sourceSize</key>
			<string>{103,143}</string>
		</dict>
		<key>b_dabi_wai_nongchangzhuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,480},{106,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,139}}</string>
			<key>sourceSize</key>
			<string>{106,139}</string>
		</dict>
		<key>b_datui_nongchangzhuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,719},{106,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,104}}</string>
			<key>sourceSize</key>
			<string>{106,104}</string>
		</dict>
		<key>b_duzi2_nongchangzhuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{211,248}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,248}}</string>
			<key>sourceSize</key>
			<string>{211,248}</string>
		</dict>
		<key>b_kua_nongchangzhuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,375},{178,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,103}}</string>
			<key>sourceSize</key>
			<string>{178,103}</string>
		</dict>
		<key>b_shou_nei_nongchangzhuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,710},{89,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,79}}</string>
			<key>sourceSize</key>
			<string>{89,79}</string>
		</dict>
		<key>b_shou_wai_nongchangzhuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,890},{77,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,83}}</string>
			<key>sourceSize</key>
			<string>{77,83}</string>
		</dict>
		<key>b_tou2_nongchangzhuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,330},{180,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,145}}</string>
			<key>sourceSize</key>
			<string>{180,145}</string>
		</dict>
		<key>b_xiaobi_nei_nongchangzhuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,714},{106,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,97}}</string>
			<key>sourceSize</key>
			<string>{106,97}</string>
		</dict>
		<key>b_xiaobi_wai_nongchangzhuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,791},{87,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,102}}</string>
			<key>sourceSize</key>
			<string>{87,102}</string>
		</dict>
		<key>b_xiaotui_nongchangzhuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,710},{108,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,94}}</string>
			<key>sourceSize</key>
			<string>{108,94}</string>
		</dict>
		<key>b_xie_nongchangzhuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,233},{111,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,51}}</string>
			<key>sourceSize</key>
			<string>{111,51}</string>
		</dict>
		<key>datui_you_nongchangzhuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,286},{109,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,115}}</string>
			<key>sourceSize</key>
			<string>{109,115}</string>
		</dict>
		<key>datui_zuo_nongchangzhuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,403},{124,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,86}}</string>
			<key>sourceSize</key>
			<string>{124,86}</string>
		</dict>
		<key>kua_nongchangzhuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,233},{191,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,95}}</string>
			<key>sourceSize</key>
			<string>{191,95}</string>
		</dict>
		<key>tou2_nongchangzhuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,215},{199,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,158}}</string>
			<key>sourceSize</key>
			<string>{199,158}</string>
		</dict>
		<key>xiaobi_duzi_nongchangzhuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{252,2},{229,233}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{229,233}}</string>
			<key>sourceSize</key>
			<string>{229,233}</string>
		</dict>
		<key>xiaobi_you1_nongchangzhuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,596},{116,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,131}}</string>
			<key>sourceSize</key>
			<string>{116,131}</string>
		</dict>
		<key>xiaobi_you2_nongchangzhuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,575},{133,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,137}}</string>
			<key>sourceSize</key>
			<string>{133,137}</string>
		</dict>
		<key>xiaobi_you_nongchangzhuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,588},{129,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,137}}</string>
			<key>sourceSize</key>
			<string>{129,137}</string>
		</dict>
		<key>xiaobi_zuo_nongchangzhuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,477},{161,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,96}}</string>
			<key>sourceSize</key>
			<string>{161,96}</string>
		</dict>
		<key>xiaotui_you_nongchangzhuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,806},{95,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,82}}</string>
			<key>sourceSize</key>
			<string>{95,82}</string>
		</dict>
		<key>xiaotui_zuo_nongchangzhuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,895},{99,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,81}}</string>
			<key>sourceSize</key>
			<string>{99,81}</string>
		</dict>
		<key>xie_you_nongchangzhuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,575},{87,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,60}}</string>
			<key>sourceSize</key>
			<string>{87,60}</string>
		</dict>
		<key>xie_zuo_nongchangzhuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,895},{106,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,65}}</string>
			<key>sourceSize</key>
			<string>{106,65}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>nongchangzhuimage.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>nongchangzhuimage.png</string>
	</dict>
</dict>
</plist>
