<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bfsfgdj0001_bsgdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{639,440},{64,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,66}}</string>
			<key>sourceSize</key>
			<string>{64,66}</string>
		</dict>
		<key>bfsfgdj0003_bsgdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{824,719},{124,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,166}}</string>
			<key>sourceSize</key>
			<string>{124,166}</string>
		</dict>
		<key>bfsfgdj0005_bsgdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,240},{126,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,198}}</string>
			<key>sourceSize</key>
			<string>{126,198}</string>
		</dict>
		<key>bfsfgdj0007_bsgdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,914},{93,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,184}}</string>
			<key>sourceSize</key>
			<string>{93,184}</string>
		</dict>
		<key>bfsfgdj0009_bsgdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,2},{74,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,71}}</string>
			<key>sourceSize</key>
			<string>{74,71}</string>
		</dict>
		<key>bfsfgdj0011_bsgdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,818},{95,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,30}}</string>
			<key>sourceSize</key>
			<string>{95,30}</string>
		</dict>
		<key>bfsfgdj0013_bsgdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,94},{122,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,33}}</string>
			<key>sourceSize</key>
			<string>{122,33}</string>
		</dict>
		<key>bfsfgdj0015_bsgdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{707,721},{115,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,28}}</string>
			<key>sourceSize</key>
			<string>{115,28}</string>
		</dict>
		<key>bfsfgdj0017_bsgdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,721},{114,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,34}}</string>
			<key>sourceSize</key>
			<string>{114,34}</string>
		</dict>
		<key>bfsfgdj0019_bsgdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{825,307},{124,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,40}}</string>
			<key>sourceSize</key>
			<string>{124,40}</string>
		</dict>
		<key>bfsfgdj0021_bsgdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{379,913},{89,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,33}}</string>
			<key>sourceSize</key>
			<string>{89,33}</string>
		</dict>
		<key>bfsfgdj0023_bsgdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,915},{107,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,28}}</string>
			<key>sourceSize</key>
			<string>{107,28}</string>
		</dict>
		<key>bfsfgdj0025_bsgdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{639,689},{122,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,30}}</string>
			<key>sourceSize</key>
			<string>{122,30}</string>
		</dict>
		<key>bfsfgdj0027_bsgdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,915},{104,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,36}}</string>
			<key>sourceSize</key>
			<string>{104,36}</string>
		</dict>
		<key>bfsfgdj0029_bsgdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{583,721},{122,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,33}}</string>
			<key>sourceSize</key>
			<string>{122,33}</string>
		</dict>
		<key>bfsfgnzbs0001_bfsfgbtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,303},{150,227}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,227}}</string>
			<key>sourceSize</key>
			<string>{150,227}</string>
		</dict>
		<key>bfsfgnzbs0002_bfsfgbtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{707,440},{160,247}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,247}}</string>
			<key>sourceSize</key>
			<string>{160,247}</string>
		</dict>
		<key>bfsfgnzbs0003_bfsfgbtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,447},{189,308}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,308}}</string>
			<key>sourceSize</key>
			<string>{189,308}</string>
		</dict>
		<key>bfsfgnzbs0004_bfsfgbtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,2},{182,363}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,363}}</string>
			<key>sourceSize</key>
			<string>{182,363}</string>
		</dict>
		<key>bfsfgnzbs0005_bfsfgbtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,462},{135,451}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,451}}</string>
			<key>sourceSize</key>
			<string>{135,451}</string>
		</dict>
		<key>bfsfgnzbs0006_bfsfgbtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{130,458}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,458}}</string>
			<key>sourceSize</key>
			<string>{130,458}</string>
		</dict>
		<key>bfsfgnzbs0007_bfsfgbtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,2},{127,444}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,444}}</string>
			<key>sourceSize</key>
			<string>{127,444}</string>
		</dict>
		<key>bfsfgnzbs0008_bfsfgbtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,448},{135,368}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,368}}</string>
			<key>sourceSize</key>
			<string>{135,368}</string>
		</dict>
		<key>bfsfgnzxjn0001_bsgjtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{829,845},{81,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,141}}</string>
			<key>sourceSize</key>
			<string>{81,141}</string>
		</dict>
		<key>bfsfgnzxjn0002_bsgjtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{730,240},{138,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,65}}</string>
			<key>sourceSize</key>
			<string>{138,65}</string>
		</dict>
		<key>bfsfgnzxjn0003_bsgjtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{520,367},{62,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,72}}</string>
			<key>sourceSize</key>
			<string>{62,72}</string>
		</dict>
		<key>bfsfgnzxjn0004_bsgjtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,367},{74,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,131}}</string>
			<key>sourceSize</key>
			<string>{74,131}</string>
		</dict>
		<key>bfsfgnzxjn0005_bsgjtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{711,751},{87,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,90}}</string>
			<key>sourceSize</key>
			<string>{87,90}</string>
		</dict>
		<key>bfsfgnzxjn0006_bsgjtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{639,506},{83,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,62}}</string>
			<key>sourceSize</key>
			<string>{83,62}</string>
		</dict>
		<key>bfsfgnzxjn0007_bsgjtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{520,2},{90,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,188}}</string>
			<key>sourceSize</key>
			<string>{90,188}</string>
		</dict>
		<key>bfsfgnzxjn0008_bsgjtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{639,94},{67,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,144}}</string>
			<key>sourceSize</key>
			<string>{67,144}</string>
		</dict>
		<key>bfsfgnzxjn0009_bsgjtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{711,845},{116,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,160}}</string>
			<key>sourceSize</key>
			<string>{116,160}</string>
		</dict>
		<key>bfsfgnzxjn0010_bsgjtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{708,148},{90,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,160}}</string>
			<key>sourceSize</key>
			<string>{90,160}</string>
		</dict>
		<key>bfsfgzjdm0001_bfsfgbtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,261},{151,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,40}}</string>
			<key>sourceSize</key>
			<string>{151,40}</string>
		</dict>
		<key>bfsfgzjdm0002_bfsfgbtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{962,2},{141,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,36}}</string>
			<key>sourceSize</key>
			<string>{141,36}</string>
		</dict>
		<key>bfsfgzjdm0003_bfsfgbtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{763,689},{121,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,27}}</string>
			<key>sourceSize</key>
			<string>{121,27}</string>
		</dict>
		<key>lmbfsf0001_bfsfgliubtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,818},{94,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,116}}</string>
			<key>sourceSize</key>
			<string>{94,116}</string>
		</dict>
		<key>lmbfsf0002_bfsfgliubtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,757},{154,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,135}}</string>
			<key>sourceSize</key>
			<string>{154,135}</string>
		</dict>
		<key>lmbfsf0003_bfsfgliubtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{886,532},{185,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,135}}</string>
			<key>sourceSize</key>
			<string>{185,135}</string>
		</dict>
		<key>lmbfsf0004_bfsfgliubtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{912,845},{85,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,115}}</string>
			<key>sourceSize</key>
			<string>{85,115}</string>
		</dict>
		<key>lmbfsf0005_bfsfgliubtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,240},{153,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,125}}</string>
			<key>sourceSize</key>
			<string>{153,125}</string>
		</dict>
		<key>lmbfsf0006_bfsfgliubtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,443},{170,276}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,276}}</string>
			<key>sourceSize</key>
			<string>{170,276}</string>
		</dict>
		<key>lmbfsf0007_bfsfgliubtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,757},{144,252}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,252}}</string>
			<key>sourceSize</key>
			<string>{144,252}</string>
		</dict>
		<key>lmbfsf0008_bfsfgliubtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,757},{137,252}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,252}}</string>
			<key>sourceSize</key>
			<string>{137,252}</string>
		</dict>
		<key>lmbfsf0009_bfsfgliubtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{711,2},{144,249}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,249}}</string>
			<key>sourceSize</key>
			<string>{144,249}</string>
		</dict>
		<key>lmbfsf0010_bfsfgliubtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,94},{126,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,153}}</string>
			<key>sourceSize</key>
			<string>{126,153}</string>
		</dict>
		<key>lmbfsf0011_bfsfgliubtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,148},{111,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,151}}</string>
			<key>sourceSize</key>
			<string>{111,151}</string>
		</dict>
		<key>lmbfsf0012_bfsfgliubtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,915},{95,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,121}}</string>
			<key>sourceSize</key>
			<string>{95,121}</string>
		</dict>
		<key>lmbfsf0013_bfsfgliubtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{730,307},{93,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,124}}</string>
			<key>sourceSize</key>
			<string>{93,124}</string>
		</dict>
		<key>lmbfsf0014_bfsfgliubtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,367},{78,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,122}}</string>
			<key>sourceSize</key>
			<string>{78,122}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>bfsfgnzgroup.png</string>
		<key>scale</key>
		<real>0.76</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>bfsfgnzgroup.png</string>
	</dict>
</dict>
</plist>
