<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>xiamier_daiji_00000_huangkuangxiadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,879},{20,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,29}}</string>
			<key>sourceSize</key>
			<string>{20,29}</string>
		</dict>
		<key>xiamier_daiji_00001_huangkuangxiadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,643},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>xiamier_daiji_00006_huangkuangxiadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,643},{23,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,30}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>xiamier_daiji_00007_huangkuangxiadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{592,2},{51,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,103}}</string>
			<key>sourceSize</key>
			<string>{51,103}</string>
		</dict>
		<key>xiamier_daiji_00008_huangkuangxiadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,643},{30,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,35}}</string>
			<key>sourceSize</key>
			<string>{30,35}</string>
		</dict>
		<key>xiamier_daiji_00011_huangkuangxiadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{538,993},{29,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,63}}</string>
			<key>sourceSize</key>
			<string>{29,63}</string>
		</dict>
		<key>xiamier_daiji_00012_huangkuangxiadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,643},{30,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,35}}</string>
			<key>sourceSize</key>
			<string>{30,35}</string>
		</dict>
		<key>xiamier_daiji_00013_huangkuangxiadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,643},{46,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,37}}</string>
			<key>sourceSize</key>
			<string>{46,37}</string>
		</dict>
		<key>xiamier_daiji_00014_huangkuangxiadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,685},{43,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,38}}</string>
			<key>sourceSize</key>
			<string>{43,38}</string>
		</dict>
		<key>xiamier_daiji_00020_huangkuangxiadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{441,617},{132,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,104}}</string>
			<key>sourceSize</key>
			<string>{132,104}</string>
		</dict>
		<key>xiamier_daiji_00021_huangkuangxiadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,2},{129,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,103}}</string>
			<key>sourceSize</key>
			<string>{129,103}</string>
		</dict>
		<key>xiamier_daiji_00022_huangkuangxiadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,229},{131,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,104}}</string>
			<key>sourceSize</key>
			<string>{131,104}</string>
		</dict>
		<key>xiamier_daiji_00023_huangkuangxiadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,2},{133,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,102}}</string>
			<key>sourceSize</key>
			<string>{133,102}</string>
		</dict>
		<key>xiamier_daiji_00024_huangkuangxiadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{538,858},{133,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,128}}</string>
			<key>sourceSize</key>
			<string>{133,128}</string>
		</dict>
		<key>xiamier_daiji_00025_huangkuangxiadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,723},{133,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,133}}</string>
			<key>sourceSize</key>
			<string>{133,133}</string>
		</dict>
		<key>xiamier_daiji_00026_huangkuangxiadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,2},{133,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,94}}</string>
			<key>sourceSize</key>
			<string>{133,94}</string>
		</dict>
		<key>xiamier_daiji_00027_huangkuangxiadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,232},{130,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,141}}</string>
			<key>sourceSize</key>
			<string>{130,141}</string>
		</dict>
		<key>xiamier_daiji_00028_huangkuangxiadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{560,133},{89,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,79}}</string>
			<key>sourceSize</key>
			<string>{89,79}</string>
		</dict>
		<key>xiamier_daiji_00029_huangkuangxiadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,927},{52,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,9}}</string>
			<key>sourceSize</key>
			<string>{52,9}</string>
		</dict>
		<key>xiamier_putongbisha_00000_hkdgxemptbsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,727},{86,227}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,227}}</string>
			<key>sourceSize</key>
			<string>{86,227}</string>
		</dict>
		<key>xiamier_putongbisha_00001_hkdgxemptbsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,2},{117,238}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,238}}</string>
			<key>sourceSize</key>
			<string>{117,238}</string>
		</dict>
		<key>xiamier_putongbisha_00002_hkdgxemptbsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,2},{117,238}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,238}}</string>
			<key>sourceSize</key>
			<string>{117,238}</string>
		</dict>
		<key>xiamier_putongbisha_00003_hkdgxemptbsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,242},{122,234}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,234}}</string>
			<key>sourceSize</key>
			<string>{122,234}</string>
		</dict>
		<key>xiamier_putongbisha_00004_hkdgxemptbsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,242},{122,234}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,234}}</string>
			<key>sourceSize</key>
			<string>{122,234}</string>
		</dict>
		<key>xiamier_putongbisha_00005_hkdgxemptbsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,242},{122,234}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,234}}</string>
			<key>sourceSize</key>
			<string>{122,234}</string>
		</dict>
		<key>xiamier_putongbisha_00006_hkdgxemptbsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,248},{122,238}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,238}}</string>
			<key>sourceSize</key>
			<string>{122,238}</string>
		</dict>
		<key>xiamier_putongbisha_00007_hkdgxemptbsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,488},{124,237}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,237}}</string>
			<key>sourceSize</key>
			<string>{124,237}</string>
		</dict>
		<key>xiamier_putongbisha_00008_hkdgxemptbsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{95,244}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,244}}</string>
			<key>sourceSize</key>
			<string>{95,244}</string>
		</dict>
		<key>xiamier_putongbisha_00009_hkdgxemptbsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,727},{57,218}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,218}}</string>
			<key>sourceSize</key>
			<string>{57,218}</string>
		</dict>
		<key>xiamier_putongbishayan_00000_hkdgxemptbsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,137},{93,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,60}}</string>
			<key>sourceSize</key>
			<string>{93,60}</string>
		</dict>
		<key>xiamier_putongbishayan_00001_hkdgxemptbsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,137},{133,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,90}}</string>
			<key>sourceSize</key>
			<string>{133,90}</string>
		</dict>
		<key>xiamier_putongbishayan_00002_hkdgxemptbsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{367,724},{145,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{145,114}}</string>
			<key>sourceSize</key>
			<string>{145,116}</string>
		</dict>
		<key>xiamier_putongbishayan_00003_hkdgxemptbsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,362},{104,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,58}}</string>
			<key>sourceSize</key>
			<string>{104,58}</string>
		</dict>
		<key>xiamier_shengli_00000_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,725},{76,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,200}}</string>
			<key>sourceSize</key>
			<string>{76,200}</string>
		</dict>
		<key>xiamier_shengli_00001_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,478},{96,205}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,205}}</string>
			<key>sourceSize</key>
			<string>{96,205}</string>
		</dict>
		<key>xiamier_shengli_00002_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,685},{37,196}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,196}}</string>
			<key>sourceSize</key>
			<string>{37,196}</string>
		</dict>
		<key>xiamier_xiaojineng_00000_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,2},{67,228}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,228}}</string>
			<key>sourceSize</key>
			<string>{67,228}</string>
		</dict>
		<key>xiamier_xiaojineng_00001_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{546,518},{77,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,82}}</string>
			<key>sourceSize</key>
			<string>{77,82}</string>
		</dict>
		<key>xiamier_xiaojineng_00002_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,602},{70,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,74}}</string>
			<key>sourceSize</key>
			<string>{70,74}</string>
		</dict>
		<key>xiamier_xiaojineng_00003_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,602},{70,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,74}}</string>
			<key>sourceSize</key>
			<string>{70,74}</string>
		</dict>
		<key>xiamier_xiaojineng_00005_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{606,342},{55,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,67}}</string>
			<key>sourceSize</key>
			<string>{55,67}</string>
		</dict>
		<key>xiamier_xiaojineng_00006_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{708,2},{67,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,61}}</string>
			<key>sourceSize</key>
			<string>{67,61}</string>
		</dict>
		<key>xiamier_xiaojineng_00007_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{585,294},{46,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,68}}</string>
			<key>sourceSize</key>
			<string>{46,68}</string>
		</dict>
		<key>xiamier_xiaojineng_00008_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,956},{64,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,71}}</string>
			<key>sourceSize</key>
			<string>{64,71}</string>
		</dict>
		<key>xiamier_xiaojineng_00010_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,107},{68,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,67}}</string>
			<key>sourceSize</key>
			<string>{68,67}</string>
		</dict>
		<key>xiamier_xiaojineng_00011_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{527,434},{77,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,82}}</string>
			<key>sourceSize</key>
			<string>{77,82}</string>
		</dict>
		<key>xiamier_xiaojineng_00013_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,555},{55,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,67}}</string>
			<key>sourceSize</key>
			<string>{55,67}</string>
		</dict>
		<key>xiamier_xiaojineng_00014_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,2},{67,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,61}}</string>
			<key>sourceSize</key>
			<string>{67,61}</string>
		</dict>
		<key>xiamier_xiaojineng_00015_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,675},{46,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,68}}</string>
			<key>sourceSize</key>
			<string>{46,68}</string>
		</dict>
		<key>xiamier_xiaojineng_00016_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,956},{64,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,71}}</string>
			<key>sourceSize</key>
			<string>{64,71}</string>
		</dict>
		<key>xiamier_xiaojineng_00018_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{585,224},{68,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,68}}</string>
			<key>sourceSize</key>
			<string>{68,68}</string>
		</dict>
		<key>xiamier_xiaojineng_00019_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{527,350},{77,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,82}}</string>
			<key>sourceSize</key>
			<string>{77,82}</string>
		</dict>
		<key>xiamier_xiaojineng_00021_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,555},{55,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,67}}</string>
			<key>sourceSize</key>
			<string>{55,67}</string>
		</dict>
		<key>xiamier_xiaojineng_00022_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,2},{67,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,61}}</string>
			<key>sourceSize</key>
			<string>{67,61}</string>
		</dict>
		<key>xiamier_xiaojineng_00023_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,675},{46,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,68}}</string>
			<key>sourceSize</key>
			<string>{46,68}</string>
		</dict>
		<key>xiamier_xiaojineng_00024_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,956},{64,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,71}}</string>
			<key>sourceSize</key>
			<string>{64,71}</string>
		</dict>
		<key>xiamier_xiaojineng_00026_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{585,224},{68,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,68}}</string>
			<key>sourceSize</key>
			<string>{68,68}</string>
		</dict>
		<key>xiamier_xiaojineng_00027_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{527,350},{77,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,82}}</string>
			<key>sourceSize</key>
			<string>{77,82}</string>
		</dict>
		<key>xiamier_xiaojinengshengti_00000_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,476},{99,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,139}}</string>
			<key>sourceSize</key>
			<string>{99,139}</string>
		</dict>
		<key>xiamier_xiaojinengshengti_00001_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,724},{153,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,138}}</string>
			<key>sourceSize</key>
			<string>{153,138}</string>
		</dict>
		<key>xiamier_xiaojinengshengti_00002_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,947},{103,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,75}}</string>
			<key>sourceSize</key>
			<string>{103,75}</string>
		</dict>
		<key>xiamier_xiaojinengshengti_00003_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,947},{103,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,75}}</string>
			<key>sourceSize</key>
			<string>{103,75}</string>
		</dict>
		<key>xiamier_xiaojinengshengti_00005_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,871},{130,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,144}}</string>
			<key>sourceSize</key>
			<string>{130,144}</string>
		</dict>
		<key>xiamier_xiaojinengshengti_00007_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,478},{148,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,163}}</string>
			<key>sourceSize</key>
			<string>{148,163}</string>
		</dict>
		<key>xiamier_xiaojinengshengti_00008_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,879},{141,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,151}}</string>
			<key>sourceSize</key>
			<string>{141,151}</string>
		</dict>
		<key>xiamier_xiaojinengshengti_00010_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,375},{99,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,140}}</string>
			<key>sourceSize</key>
			<string>{99,140}</string>
		</dict>
		<key>xiamier_xiaojinengshengti_00011_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,724},{153,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,138}}</string>
			<key>sourceSize</key>
			<string>{153,138}</string>
		</dict>
		<key>xiamier_xiaojinengshengti_00013_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,871},{130,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,144}}</string>
			<key>sourceSize</key>
			<string>{130,144}</string>
		</dict>
		<key>xiamier_xiaojinengshengti_00015_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,478},{148,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,163}}</string>
			<key>sourceSize</key>
			<string>{148,163}</string>
		</dict>
		<key>xiamier_xiaojinengshengti_00016_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,879},{141,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,151}}</string>
			<key>sourceSize</key>
			<string>{141,151}</string>
		</dict>
		<key>xiamier_xiaojinengshengti_00018_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,375},{99,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,140}}</string>
			<key>sourceSize</key>
			<string>{99,140}</string>
		</dict>
		<key>xiamier_xiaojinengshengti_00019_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,947},{103,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,75}}</string>
			<key>sourceSize</key>
			<string>{103,75}</string>
		</dict>
		<key>xiamier_xiaojinengshengti_00021_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,871},{130,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,144}}</string>
			<key>sourceSize</key>
			<string>{130,144}</string>
		</dict>
		<key>xiamier_xiaojinengshengti_00023_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,478},{148,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,163}}</string>
			<key>sourceSize</key>
			<string>{148,163}</string>
		</dict>
		<key>xiamier_xiaojinengshengti_00024_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,879},{141,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,151}}</string>
			<key>sourceSize</key>
			<string>{141,151}</string>
		</dict>
		<key>xiamier_xiaojinengshengti_00026_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,375},{99,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,140}}</string>
			<key>sourceSize</key>
			<string>{99,140}</string>
		</dict>
		<key>xiamier_xiaojinengshengti_00027_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,724},{153,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,138}}</string>
			<key>sourceSize</key>
			<string>{153,138}</string>
		</dict>
		<key>xiamier_xiaojinengyan_00000_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,137},{90,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,74}}</string>
			<key>sourceSize</key>
			<string>{90,74}</string>
		</dict>
		<key>xiamier_xiaojinengyan_00001_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,362},{110,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,73}}</string>
			<key>sourceSize</key>
			<string>{110,73}</string>
		</dict>
		<key>xiamier_xiaojinengyan_00002_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,229},{119,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,95}}</string>
			<key>sourceSize</key>
			<string>{119,95}</string>
		</dict>
		<key>xiamier_xiaojinengyan_00003_hkdgsximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,468},{85,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,48}}</string>
			<key>sourceSize</key>
			<string>{85,48}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>huangxiagroup.png</string>
		<key>scale</key>
		<real>0.87</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>huangxiagroup.png</string>
	</dict>
</dict>
</plist>
