<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_qhjc_dikuang1_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,513},{913,507}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{913,507}}</string>
			<key>sourceSize</key>
			<string>{913,507}</string>
		</dict>
		<key>pic_qhjc_dikuang1_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{915,509}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{915,509}}</string>
			<key>sourceSize</key>
			<string>{915,509}</string>
		</dict>
		<key>pic_qhjc_icon_baoxiang1.png</key>
		<dict>
			<key>frame</key>
			<string>{{917,695},{86,80}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,13},{86,80}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>pic_qhjc_icon_baoxiang2.png</key>
		<dict>
			<key>frame</key>
			<string>{{917,513},{86,90}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,3},{86,90}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>pic_qhjc_icon_baoxiang3.png</key>
		<dict>
			<key>frame</key>
			<string>{{917,605},{86,88}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,3},{86,88}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>pic_qhjc_icon_fpjlbx.png</key>
		<dict>
			<key>frame</key>
			<string>{{919,2},{84,68}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,18},{84,68}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>pic_qhjc_sjbg_huang.png</key>
		<dict>
			<key>frame</key>
			<string>{{917,825},{191,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,25}}</string>
			<key>sourceSize</key>
			<string>{191,25}</string>
		</dict>
		<key>pic_qhjc_xinxikuang_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{919,284},{210,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,60}}</string>
			<key>sourceSize</key>
			<string>{210,60}</string>
		</dict>
		<key>pic_qhjc_xinxikuang_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{919,72},{210,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,60}}</string>
			<key>sourceSize</key>
			<string>{210,60}</string>
		</dict>
		<key>pic_yaoyiyao_jinli_guanbi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{944,825},{46,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,46}}</string>
			<key>sourceSize</key>
			<string>{46,46}</string>
		</dict>
		<key>pic_yaoyiyao_jinli_guanbi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{917,777},{46,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,46}}</string>
			<key>sourceSize</key>
			<string>{46,46}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>KOFQuiz30.png</string>
		<key>size</key>
		<string>{1005,1022}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>KOFQuiz30.png</string>
	</dict>
</dict>
</plist>
