<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask01_qhdsdwtbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,452},{54,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,54}}</string>
			<key>sourceSize</key>
			<string>{54,54}</string>
		</dict>
		<key>mask02_qhdsdwtbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,306},{144,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,125}}</string>
			<key>sourceSize</key>
			<string>{144,125}</string>
		</dict>
		<key>mask03_qhdsdwtbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,2},{87,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,106}}</string>
			<key>sourceSize</key>
			<string>{87,106}</string>
		</dict>
		<key>qiu_qhdsdwtbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,458},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>wy_12_12_42595_qhdsdwtbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,154},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>wy_1_1_4503_qhdsdwtbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,306},{150,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{150,146}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>wy_2_2_99048_qhdsdwtbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>wy_5_5_51954_qhdsdwtbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,2},{98,96}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{98,96}}</string>
			<key>sourceSize</key>
			<string>{104,104}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>qhdsdwtbimage.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>qhdsdwtbimage.png</string>
	</dict>
</dict>
</plist>
