<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bth_qhse_tanchuchuang_biaoti_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1697,227},{152,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{152,43}}</string>
			<key>sourceSize</key>
			<string>{158,47}</string>
		</dict>
		<key>bth_qhse_tanchuchuang_biaoti_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1697,178},{158,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,47}}</string>
			<key>sourceSize</key>
			<string>{158,47}</string>
		</dict>
		<key>bth_qhse_tanchuchuang_lingqu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1891,318},{103,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,44}}</string>
			<key>sourceSize</key>
			<string>{103,44}</string>
		</dict>
		<key>bth_qhse_tanchuchuang_lingqu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1845,318},{103,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,44}}</string>
			<key>sourceSize</key>
			<string>{103,44}</string>
		</dict>
		<key>bth_qhse_tanchuchuang_qiangwang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1799,318},{103,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,44}}</string>
			<key>sourceSize</key>
			<string>{103,44}</string>
		</dict>
		<key>bth_qhse_tanchuchuang_qianwang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1799,272},{103,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,44}}</string>
			<key>sourceSize</key>
			<string>{103,44}</string>
		</dict>
		<key>bth_qhse_tanchuchuang_tianjia_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{778,404},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>bth_qhse_tanchuchuang_tianjia_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{748,404},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>bth_qhse_tanchuchuang_xiugai_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1904,267},{30,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,31}}</string>
			<key>sourceSize</key>
			<string>{30,31}</string>
		</dict>
		<key>bth_qhse_tanchuchuang_xiugai_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1904,235},{30,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,31}}</string>
			<key>sourceSize</key>
			<string>{30,31}</string>
		</dict>
		<key>bth_qhse_zoufangchengzhen_suijizoufang_normal.png.png</key>
		<dict>
			<key>frame</key>
			<string>{{1748,272},{134,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,49}}</string>
			<key>sourceSize</key>
			<string>{134,49}</string>
		</dict>
		<key>bth_qhse_zoufangchengzhen_suijizoufang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1697,272},{134,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,49}}</string>
			<key>sourceSize</key>
			<string>{134,49}</string>
		</dict>
		<key>bth_qhse_zoufangchengzhen_suijizoufanglan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1863,99},{134,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,49}}</string>
			<key>sourceSize</key>
			<string>{134,49}</string>
		</dict>
		<key>bth_qhse_zoufangchengzhen_suijizoufanglan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1552,361},{134,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,49}}</string>
			<key>sourceSize</key>
			<string>{134,49}</string>
		</dict>
		<key>bth_qhsq_jiedaoshengji_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1618,178},{173,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,77}}</string>
			<key>sourceSize</key>
			<string>{173,77}</string>
		</dict>
		<key>bth_qhsq_jiedaoshengji_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1688,99},{173,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,77}}</string>
			<key>sourceSize</key>
			<string>{173,77}</string>
		</dict>
		<key>pic_qhse_tanchuchuang_xiugai.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,404},{26,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,25}}</string>
			<key>sourceSize</key>
			<string>{26,25}</string>
		</dict>
		<key>pic_qhsq_guanbianniu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1495,361},{66,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,55}}</string>
			<key>sourceSize</key>
			<string>{66,55}</string>
		</dict>
		<key>pic_qhsq_guize_biaotihuawen.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,404},{190,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,17}}</string>
			<key>sourceSize</key>
			<string>{190,17}</string>
		</dict>
		<key>pic_qhsq_jiedaoshengji_chendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{744,431}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{744,431}}</string>
			<key>sourceSize</key>
			<string>{744,431}</string>
		</dict>
		<key>pic_qhsq_xuanzhuti_dachendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{748,2},{745,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{745,400}}</string>
			<key>sourceSize</key>
			<string>{745,400}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_qianghuashangzhentiaomu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1495,99},{260,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{260,121}}</string>
			<key>sourceSize</key>
			<string>{260,121}</string>
		</dict>
		<key>pic_qhsq_zoufangchengzhen_tiaomu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1495,2},{440,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{440,95}}</string>
			<key>sourceSize</key>
			<string>{440,95}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>KOFCommunity30.png</string>
		<key>size</key>
		<string>{1937,435}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>KOFCommunity30.png</string>
	</dict>
</dict>
</plist>
