<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_lmbs_baixuanwo_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{763,828},{71,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{71,80}}</string>
			<key>sourceSize</key>
			<string>{73,82}</string>
		</dict>
		<key>New_lmbs_baodian_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{740,901},{122,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,121}}</string>
			<key>sourceSize</key>
			<string>{122,121}</string>
		</dict>
		<key>New_lmbs_baodian_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,492},{151,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,188}}</string>
			<key>sourceSize</key>
			<string>{151,188}</string>
		</dict>
		<key>New_lmbs_shouguang_00050.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,644},{164,182}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,1},{164,182}}</string>
			<key>sourceSize</key>
			<string>{170,188}</string>
		</dict>
		<key>New_lmbs_shouguang_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,729},{162,171}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,3},{162,171}}</string>
			<key>sourceSize</key>
			<string>{170,181}</string>
		</dict>
		<key>New_lmbs_tuowei_00125.png</key>
		<dict>
			<key>frame</key>
			<string>{{587,271},{194,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,76}}</string>
			<key>sourceSize</key>
			<string>{194,76}</string>
		</dict>
		<key>New_lmbs_tuowei_00126.png</key>
		<dict>
			<key>frame</key>
			<string>{{587,193},{195,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{195,77}}</string>
			<key>sourceSize</key>
			<string>{195,77}</string>
		</dict>
		<key>New_lmbs_tuowei_00128.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,290},{194,72}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,72}}</string>
			<key>sourceSize</key>
			<string>{194,76}</string>
		</dict>
		<key>New_lmbs_xguangci_00099.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,708},{101,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,119}}</string>
			<key>sourceSize</key>
			<string>{101,119}</string>
		</dict>
		<key>New_lmbs_xguangci_00101.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,539},{168,186}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,186}}</string>
			<key>sourceSize</key>
			<string>{168,186}</string>
		</dict>
		<key>New_lmbs_xguangci_00102.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{196,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,190}}</string>
			<key>sourceSize</key>
			<string>{196,190}</string>
		</dict>
		<key>New_lmbs_xguangci_00103.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,2},{196,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,190}}</string>
			<key>sourceSize</key>
			<string>{196,190}</string>
		</dict>
		<key>New_lmbs_xguangci_00104.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,2},{196,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,190}}</string>
			<key>sourceSize</key>
			<string>{196,190}</string>
		</dict>
		<key>New_lmbs_xguangci_00105.png</key>
		<dict>
			<key>frame</key>
			<string>{{593,2},{196,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,190}}</string>
			<key>sourceSize</key>
			<string>{196,190}</string>
		</dict>
		<key>New_lmbs_xguangci_00106.png</key>
		<dict>
			<key>frame</key>
			<string>{{790,2},{196,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,190}}</string>
			<key>sourceSize</key>
			<string>{196,190}</string>
		</dict>
		<key>New_lmbs_xguangci_00107.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,193},{196,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,190}}</string>
			<key>sourceSize</key>
			<string>{196,190}</string>
		</dict>
		<key>New_lmbs_xguangci_00108.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,390},{196,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,190}}</string>
			<key>sourceSize</key>
			<string>{196,190}</string>
		</dict>
		<key>New_lmbs_xguangci_00109.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,587},{196,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,190}}</string>
			<key>sourceSize</key>
			<string>{196,190}</string>
		</dict>
		<key>New_lmbs_xguangci_00110.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,784},{196,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,190}}</string>
			<key>sourceSize</key>
			<string>{196,190}</string>
		</dict>
		<key>New_lmbs_xguangci_00111.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,193},{196,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,190}}</string>
			<key>sourceSize</key>
			<string>{196,190}</string>
		</dict>
		<key>New_lmbs_xieguang_00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,981},{70,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{70,39}}</string>
			<key>sourceSize</key>
			<string>{70,43}</string>
		</dict>
		<key>New_lmbs_xieguang_00035.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,828},{182,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,72}}</string>
			<key>sourceSize</key>
			<string>{182,72}</string>
		</dict>
		<key>New_lmbs_xieguang_00036.png</key>
		<dict>
			<key>frame</key>
			<string>{{383,518},{187,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,82}}</string>
			<key>sourceSize</key>
			<string>{187,82}</string>
		</dict>
		<key>New_lmbs_xieguang_00038.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,193},{196,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,96}}</string>
			<key>sourceSize</key>
			<string>{196,96}</string>
		</dict>
		<key>New_ptbs_lizibaodian_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,601},{76,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,106}}</string>
			<key>sourceSize</key>
			<string>{76,106}</string>
		</dict>
		<key>New_ptbs_lizibaodian_00031.png</key>
		<dict>
			<key>frame</key>
			<string>{{585,348},{143,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,190}}</string>
			<key>sourceSize</key>
			<string>{143,190}</string>
		</dict>
		<key>New_ptbs_lizibaodian_00036.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,537},{184,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,166}}</string>
			<key>sourceSize</key>
			<string>{184,166}</string>
		</dict>
		<key>New_ptbs_lizibaodian_00040.png</key>
		<dict>
			<key>frame</key>
			<string>{{585,348},{143,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,190}}</string>
			<key>sourceSize</key>
			<string>{143,190}</string>
		</dict>
		<key>New_ptbs_lizibaodian_00045.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,828},{184,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,166}}</string>
			<key>sourceSize</key>
			<string>{184,166}</string>
		</dict>
		<key>New_ptbs_lizibaodian_00046.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,363},{189,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,154}}</string>
			<key>sourceSize</key>
			<string>{189,154}</string>
		</dict>
		<key>New_ptbs_lizibaodian_00051.png</key>
		<dict>
			<key>frame</key>
			<string>{{585,348},{143,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,190}}</string>
			<key>sourceSize</key>
			<string>{143,190}</string>
		</dict>
		<key>New_ptbs_lizibaodian_00057.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,384},{189,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,154}}</string>
			<key>sourceSize</key>
			<string>{189,154}</string>
		</dict>
		<key>New_ptbs_xuanzhuandaoren_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{616,901},{121,123}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{121,123}}</string>
			<key>sourceSize</key>
			<string>{127,125}</string>
		</dict>
		<key>New_ptbs_xuanzhuandaoren_00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,708},{121,119}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{121,119}}</string>
			<key>sourceSize</key>
			<string>{125,125}</string>
		</dict>
		<key>New_ptbs_xuanzhuandaoren_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,901},{127,121}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{127,121}}</string>
			<key>sourceSize</key>
			<string>{127,127}</string>
		</dict>
		<key>New_ptbs_xuanzhuandaoren_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{763,704},{123,132}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{123,132}}</string>
			<key>sourceSize</key>
			<string>{127,136}</string>
		</dict>
		<key>New_ptbs_xuanzhuandaoren_00035.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,601},{122,127}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,127}}</string>
			<key>sourceSize</key>
			<string>{124,127}</string>
		</dict>
		<key>New_ptbs_xuanzhuandaoren_00037.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,901},{121,127}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,2},{121,127}}</string>
			<key>sourceSize</key>
			<string>{125,131}</string>
		</dict>
		<key>New_ptbs_xuanzhuandaoren_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{863,828},{159,169}}</string>
			<key>offset</key>
			<string>{5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,4},{159,169}}</string>
			<key>sourceSize</key>
			<string>{169,173}</string>
		</dict>
		<key>New_ptgj_daoguang2_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{954,700},{68,127}}</string>
			<key>offset</key>
			<string>{0,-60}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,120},{68,127}}</string>
			<key>sourceSize</key>
			<string>{70,247}</string>
		</dict>
		<key>New_ptgj_daoguang_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,350},{47,103}}</string>
			<key>offset</key>
			<string>{-51,-67}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,134},{47,103}}</string>
			<key>sourceSize</key>
			<string>{149,237}</string>
		</dict>
		<key>New_ptgj_daoguangbaodian2_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,350},{186,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,188}}</string>
			<key>sourceSize</key>
			<string>{186,188}</string>
		</dict>
		<key>New_ptgj_daoguangbaodian_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,981},{101,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,40}}</string>
			<key>sourceSize</key>
			<string>{101,40}</string>
		</dict>
		<key>New_ptgj_daoguangbaodian_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{954,545},{154,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,68}}</string>
			<key>sourceSize</key>
			<string>{154,68}</string>
		</dict>
		<key>New_xjn_gongji2_daoguang_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,454},{90,47}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,47}}</string>
			<key>sourceSize</key>
			<string>{90,53}</string>
		</dict>
		<key>New_xjn_gongji2_yuanbo_00025.png</key>
		<dict>
			<key>frame</key>
			<string>{{783,193},{194,156}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{194,156}}</string>
			<key>sourceSize</key>
			<string>{196,158}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>hadilan14_common3.png</string>
		<key>scale</key>
		<real>0.67</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>hadilan14_common3.png</string>
	</dict>
</dict>
</plist>
