<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dmwlsz106_dmwlszximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,122},{114,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,105}}</string>
			<key>sourceSize</key>
			<string>{114,105}</string>
		</dict>
		<key>dmwlsz134_dmwlszximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,2},{90,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,104}}</string>
			<key>sourceSize</key>
			<string>{90,104}</string>
		</dict>
		<key>dmwlsz138_dmwlszximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,345},{99,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,103}}</string>
			<key>sourceSize</key>
			<string>{99,103}</string>
		</dict>
		<key>dmwlsz1_dmwlszximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,238},{93,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,105}}</string>
			<key>sourceSize</key>
			<string>{93,105}</string>
		</dict>
		<key>dmwlsz201_dmwlszximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,238},{102,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,109}}</string>
			<key>sourceSize</key>
			<string>{102,109}</string>
		</dict>
		<key>dmwlsz204_dmwlszximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,2},{102,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,109}}</string>
			<key>sourceSize</key>
			<string>{102,109}</string>
		</dict>
		<key>dmwlsz206_dmwlszximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{100,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,118}}</string>
			<key>sourceSize</key>
			<string>{100,118}</string>
		</dict>
		<key>dmwlsz20_dmwlszximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,349},{93,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,109}}</string>
			<key>sourceSize</key>
			<string>{93,109}</string>
		</dict>
		<key>dmwlsz236_dmwlszximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,108},{91,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,100}}</string>
			<key>sourceSize</key>
			<string>{91,100}</string>
		</dict>
		<key>dmwlsz27233_dmwlszximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,349},{86,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,107}}</string>
			<key>sourceSize</key>
			<string>{86,107}</string>
		</dict>
		<key>dmwlsz8_dmwlszximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,219},{93,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,102}}</string>
			<key>sourceSize</key>
			<string>{93,102}</string>
		</dict>
		<key>dmwlsz99_dmwlszximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,113},{102,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,104}}</string>
			<key>sourceSize</key>
			<string>{102,104}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>dmwlszximage.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dmwlszximage.png</string>
	</dict>
</dict>
</plist>
