<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask01_rfszntxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,138},{117,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,116}}</string>
			<key>sourceSize</key>
			<string>{117,116}</string>
		</dict>
		<key>wy_12_12_44163_rfszntxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,2},{109,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,109}}</string>
			<key>sourceSize</key>
			<string>{109,109}</string>
		</dict>
		<key>wy_14_14_32522_rfszntxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,131},{51,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,46}}</string>
			<key>sourceSize</key>
			<string>{51,46}</string>
		</dict>
		<key>wy_2_2_45565_rfszntxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{137,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,134}}</string>
			<key>sourceSize</key>
			<string>{137,134}</string>
		</dict>
		<key>wy_4_4_62263_rfszntxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,113},{75,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,16}}</string>
			<key>sourceSize</key>
			<string>{75,16}</string>
		</dict>
		<key>wy_6_6_95744_rfszntxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,113},{28,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,27}}</string>
			<key>sourceSize</key>
			<string>{28,27}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>rfszntxkimage.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>rfszntxkimage.png</string>
	</dict>
</dict>
</plist>
