<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>f_Fbodhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{45,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,45}}</string>
			<key>sourceSize</key>
			<string>{45,45}</string>
		</dict>
		<key>gq_Fbodhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,49},{42,42}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{42,42}}</string>
			<key>sourceSize</key>
			<string>{46,46}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Fbodhimage.png</string>
		<key>size</key>
		<string>{64,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>Fbodhimage.png</string>
	</dict>
</dict>
</plist>
