<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>f_tangguoguanziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,2},{86,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,66}}</string>
			<key>sourceSize</key>
			<string>{86,66}</string>
		</dict>
		<key>guankou_tangguoguanziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,60},{82,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,32}}</string>
			<key>sourceSize</key>
			<string>{82,32}</string>
		</dict>
		<key>guanzi_tangguoguanziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,90},{125,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,163}}</string>
			<key>sourceSize</key>
			<string>{125,163}</string>
		</dict>
		<key>yinying_tangguoguanziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{171,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,56}}</string>
			<key>sourceSize</key>
			<string>{171,56}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>tangguoguanziimage.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>tangguoguanziimage.png</string>
	</dict>
</dict>
</plist>
