<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>WIN_kuafuzhanshengliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{216,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,84}}</string>
			<key>sourceSize</key>
			<string>{216,84}</string>
		</dict>
		<key>dingfei_kuafuzhanshengliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,88},{118,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,23}}</string>
			<key>sourceSize</key>
			<string>{118,23}</string>
		</dict>
		<key>dingtiao_kuafuzhanshengliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,2},{14,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,31}}</string>
			<key>sourceSize</key>
			<string>{14,31}</string>
		</dict>
		<key>lose_kuafuzhanshengliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,113},{187,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,69}}</string>
			<key>sourceSize</key>
			<string>{187,69}</string>
		</dict>
		<key>qiangduowp_kuafuzhanshengliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,18},{119,24}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{119,24}}</string>
			<key>sourceSize</key>
			<string>{121,26}</string>
		</dict>
		<key>wfdi_kuafuzhanshengliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,88},{418,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{418,92}}</string>
			<key>sourceSize</key>
			<string>{418,92}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>kuafuzhanshengliimage.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>kuafuzhanshengliimage.png</string>
	</dict>
</dict>
</plist>
