<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask10_kjhzhangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,72},{42,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,52}}</string>
			<key>sourceSize</key>
			<string>{42,52}</string>
		</dict>
		<key>mask11_kjhzhangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,72},{51,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,51}}</string>
			<key>sourceSize</key>
			<string>{51,51}</string>
		</dict>
		<key>mask7_kjhzhangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{75,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,68}}</string>
			<key>sourceSize</key>
			<string>{75,68}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>kjhzhangimage.png</string>
		<key>size</key>
		<string>{128,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>kjhzhangimage.png</string>
	</dict>
</dict>
</plist>
