<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>cl_ljzzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,371},{78,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,44}}</string>
			<key>sourceSize</key>
			<string>{78,44}</string>
		</dict>
		<key>jq_ljzzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{249,257}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{249,257}}</string>
			<key>sourceSize</key>
			<string>{249,257}</string>
		</dict>
		<key>jsg_ljzzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{42,479},{25,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,24}}</string>
			<key>sourceSize</key>
			<string>{25,24}</string>
		</dict>
		<key>mask1_ljzzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,371},{106,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,92}}</string>
			<key>sourceSize</key>
			<string>{106,92}</string>
		</dict>
		<key>mask2_ljzzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,479},{38,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,26}}</string>
			<key>sourceSize</key>
			<string>{38,26}</string>
		</dict>
		<key>mask3_ljzzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,479},{15,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,17}}</string>
			<key>sourceSize</key>
			<string>{15,17}</string>
		</dict>
		<key>mask4_ljzzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,479},{37,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,14}}</string>
			<key>sourceSize</key>
			<string>{37,14}</string>
		</dict>
		<key>xw_ljzzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,261},{108,102}}</string>
			<key>offset</key>
			<string>{-4,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,17},{108,102}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ljzzimage.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ljzzimage.png</string>
	</dict>
</dict>
</plist>
