<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_xys_jia_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,185},{48,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,47}}</string>
			<key>sourceSize</key>
			<string>{48,47}</string>
		</dict>
		<key>btn_xys_jia_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,185},{48,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,47}}</string>
			<key>sourceSize</key>
			<string>{48,47}</string>
		</dict>
		<key>btn_xys_jiajia_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,136},{48,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,47}}</string>
			<key>sourceSize</key>
			<string>{48,47}</string>
		</dict>
		<key>btn_xys_jiajia_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,87},{48,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,47}}</string>
			<key>sourceSize</key>
			<string>{48,47}</string>
		</dict>
		<key>btn_xys_jian_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,38},{48,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,47}}</string>
			<key>sourceSize</key>
			<string>{48,47}</string>
		</dict>
		<key>btn_xys_jian_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,163},{48,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,47}}</string>
			<key>sourceSize</key>
			<string>{48,47}</string>
		</dict>
		<key>btn_zhihui_xuyuanshu_anniu.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,2},{156,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,61}}</string>
			<key>sourceSize</key>
			<string>{156,61}</string>
		</dict>
		<key>di_zhenrongjiemianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,2},{262,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{262,34}}</string>
			<key>sourceSize</key>
			<string>{262,34}</string>
		</dict>
		<key>pic_xiaochendi_xuyuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,185},{36,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,35}}</string>
			<key>sourceSize</key>
			<string>{36,35}</string>
		</dict>
		<key>pic_xuyuan_biaotichendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,163},{52,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,56}}</string>
			<key>sourceSize</key>
			<string>{52,56}</string>
		</dict>
		<key>pic_xuyuan_biasechendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,152},{35,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,31}}</string>
			<key>sourceSize</key>
			<string>{35,31}</string>
		</dict>
		<key>pic_xuyuan_dahonhbao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{151,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,169}}</string>
			<key>sourceSize</key>
			<string>{151,169}</string>
		</dict>
		<key>pic_xuyuan_landiguang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,173},{259,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,61}}</string>
			<key>sourceSize</key>
			<string>{259,61}</string>
		</dict>
		<key>pic_xuyuan_lashentanchuangban.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,38},{102,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,123}}</string>
			<key>sourceSize</key>
			<string>{102,123}</string>
		</dict>
		<key>pic_xuyuan_tubiaokuangjiaobiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,38},{27,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,28}}</string>
			<key>sourceSize</key>
			<string>{27,28}</string>
		</dict>
		<key>pic_xuyuan_xiaohongbao.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,38},{103,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,112}}</string>
			<key>sourceSize</key>
			<string>{103,112}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ActivityWishTreeUi0.png</string>
		<key>size</key>
		<string>{506,238}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ActivityWishTreeUi0.png</string>
	</dict>
</dict>
</plist>
