<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>liumnehong_00001_diziliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,150},{31,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,37}}</string>
			<key>sourceSize</key>
			<string>{31,37}</string>
		</dict>
		<key>liumnehong_00002_diziliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,434},{131,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,56}</string>
		</dict>
		<key>liumnehong_00003_diziliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,247},{218,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{218,75}}</string>
			<key>sourceSize</key>
			<string>{220,75}</string>
		</dict>
		<key>liumnehong_00004_diziliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,2},{220,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,80}}</string>
			<key>sourceSize</key>
			<string>{220,80}</string>
		</dict>
		<key>liumnehong_00005_diziliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,84},{220,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,80}}</string>
			<key>sourceSize</key>
			<string>{220,80}</string>
		</dict>
		<key>liumnehong_00006_diziliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{220,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,80}}</string>
			<key>sourceSize</key>
			<string>{220,80}</string>
		</dict>
		<key>liumnehong_00007_diziliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,166},{219,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,79}}</string>
			<key>sourceSize</key>
			<string>{219,79}</string>
		</dict>
		<key>liumnehong_00008_diziliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,84},{218,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,77}}</string>
			<key>sourceSize</key>
			<string>{218,77}</string>
		</dict>
		<key>liumnehong_00009_diziliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,434},{55,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,72}}</string>
			<key>sourceSize</key>
			<string>{55,72}</string>
		</dict>
		<key>liumnehong_00010_diziliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,38},{51,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,69}}</string>
			<key>sourceSize</key>
			<string>{51,69}</string>
		</dict>
		<key>liumnehong_00011_diziliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,434},{36,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,67}}</string>
			<key>sourceSize</key>
			<string>{36,67}</string>
		</dict>
		<key>liumnehong_00012_diziliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,2},{34,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,64}}</string>
			<key>sourceSize</key>
			<string>{34,64}</string>
		</dict>
		<key>liumnelan_00001_diziliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,109},{17,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,15}}</string>
			<key>sourceSize</key>
			<string>{17,15}</string>
		</dict>
		<key>liumnelan_00002_diziliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,472},{226,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,34}}</string>
			<key>sourceSize</key>
			<string>{226,34}</string>
		</dict>
		<key>liumnelan_00003_diziliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,163},{226,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,41}}</string>
			<key>sourceSize</key>
			<string>{226,41}</string>
		</dict>
		<key>liumnelan_00004_diziliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,206},{226,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,45}}</string>
			<key>sourceSize</key>
			<string>{226,45}</string>
		</dict>
		<key>liumnelan_00005_diziliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,253},{226,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,46}}</string>
			<key>sourceSize</key>
			<string>{226,46}</string>
		</dict>
		<key>liumnelan_00006_diziliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,423},{226,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,47}}</string>
			<key>sourceSize</key>
			<string>{226,47}</string>
		</dict>
		<key>liumnelan_00007_diziliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,374},{226,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,47}}</string>
			<key>sourceSize</key>
			<string>{226,47}</string>
		</dict>
		<key>liumnelan_00008_diziliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,324},{226,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,48}}</string>
			<key>sourceSize</key>
			<string>{226,48}</string>
		</dict>
		<key>liumnelan_00009_diziliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,301},{226,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,44}}</string>
			<key>sourceSize</key>
			<string>{226,44}</string>
		</dict>
		<key>liumnelan_00010_diziliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,347},{226,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,42}}</string>
			<key>sourceSize</key>
			<string>{226,42}</string>
		</dict>
		<key>liumnelan_00011_diziliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,391},{222,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{222,41}}</string>
			<key>sourceSize</key>
			<string>{226,41}</string>
		</dict>
		<key>liumnelan_00012_diziliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,109},{36,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,39}}</string>
			<key>sourceSize</key>
			<string>{36,39}</string>
		</dict>
		<key>liumnelan_00013_diziliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,189},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>liumnelan_00014_diziliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,225},{31,29}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{31,29}}</string>
			<key>sourceSize</key>
			<string>{35,33}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>diziliumenimage.png</string>
		<key>scale</key>
		<real>0.73</real>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>diziliumenimage.png</string>
	</dict>
</dict>
</plist>
