<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>guangquan_ptsjmjdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{75,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,79}}</string>
			<key>sourceSize</key>
			<string>{75,79}</string>
		</dict>
		<key>mask10_ptsjmjdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,184},{26,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,48}}</string>
			<key>sourceSize</key>
			<string>{26,48}</string>
		</dict>
		<key>mask11_ptsjmjdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,131},{26,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,51}}</string>
			<key>sourceSize</key>
			<string>{26,51}</string>
		</dict>
		<key>mask12_ptsjmjdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,77},{26,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,52}}</string>
			<key>sourceSize</key>
			<string>{26,52}</string>
		</dict>
		<key>mask13_ptsjmjdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,81},{32,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,52}}</string>
			<key>sourceSize</key>
			<string>{32,52}</string>
		</dict>
		<key>mask14_ptsjmjdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,137},{38,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,52}}</string>
			<key>sourceSize</key>
			<string>{38,52}</string>
		</dict>
		<key>mask15_ptsjmjdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,191},{44,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,52}}</string>
			<key>sourceSize</key>
			<string>{44,52}</string>
		</dict>
		<key>mask16_ptsjmjdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,191},{48,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,52}}</string>
			<key>sourceSize</key>
			<string>{48,52}</string>
		</dict>
		<key>mask17_ptsjmjdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,137},{51,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,52}}</string>
			<key>sourceSize</key>
			<string>{51,52}</string>
		</dict>
		<key>mask18_ptsjmjdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,2},{52,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>mask19_ptsjmjdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,2},{52,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>mask1_ptsjmjdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,245},{7,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,27}}</string>
			<key>sourceSize</key>
			<string>{7,27}</string>
		</dict>
		<key>mask20_ptsjmjdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,2},{52,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>mask21_ptsjmjdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,83},{52,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>mask22_ptsjmjdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,191},{52,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>mask23_ptsjmjdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,137},{52,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>mask24_ptsjmjdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,83},{52,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>mask2_ptsjmjdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{241,2},{13,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,27}}</string>
			<key>sourceSize</key>
			<string>{13,27}</string>
		</dict>
		<key>mask3_ptsjmjdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,56},{19,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,27}}</string>
			<key>sourceSize</key>
			<string>{19,27}</string>
		</dict>
		<key>mask4_ptsjmjdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,56},{23,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,27}}</string>
			<key>sourceSize</key>
			<string>{23,27}</string>
		</dict>
		<key>mask5_ptsjmjdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,56},{25,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,27}}</string>
			<key>sourceSize</key>
			<string>{25,27}</string>
		</dict>
		<key>mask6_ptsjmjdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,102},{26,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,27}}</string>
			<key>sourceSize</key>
			<string>{26,27}</string>
		</dict>
		<key>mask7_ptsjmjdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,56},{26,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,32}}</string>
			<key>sourceSize</key>
			<string>{26,32}</string>
		</dict>
		<key>mask8_ptsjmjdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,131},{26,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,39}}</string>
			<key>sourceSize</key>
			<string>{26,39}</string>
		</dict>
		<key>mask9_ptsjmjdtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,56},{26,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,44}}</string>
			<key>sourceSize</key>
			<string>{26,44}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ptsjmjdtimage.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ptsjmjdtimage.png</string>
	</dict>
</dict>
</plist>
