<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_8znqiandao_gxhd_dianjijixudi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1967},{321,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{321,30}}</string>
			<key>sourceSize</key>
			<string>{321,30}</string>
		</dict>
		<key>pic_8znqiandao_tips_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,997},{246,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{246,161}}</string>
			<key>sourceSize</key>
			<string>{246,161}</string>
		</dict>
		<key>pic_8znqiandao_zjm_tubiaodida.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,1463},{196,194}}</string>
			<key>offset</key>
			<string>{-6,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,14},{196,194}}</string>
			<key>sourceSize</key>
			<string>{208,208}</string>
		</dict>
		<key>pic_8znqiandao_zjm_tubiaodida_xuanzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,1265},{196,194}}</string>
			<key>offset</key>
			<string>{-6,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,14},{196,194}}</string>
			<key>sourceSize</key>
			<string>{208,208}</string>
		</dict>
		<key>pic_8znqiandao_zjm_tubiaodixiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,609},{110,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,112}}</string>
			<key>sourceSize</key>
			<string>{110,112}</string>
		</dict>
		<key>pic_8znqiandao_zjm_tubiaodixiao_xuanzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,723},{110,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,111}}</string>
			<key>sourceSize</key>
			<string>{110,111}</string>
		</dict>
		<key>pic_8znqiandao_zjm_tubiaoxuanzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,428},{179,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,145}}</string>
			<key>sourceSize</key>
			<string>{179,145}</string>
		</dict>
		<key>pic_8znqiandao_zjm_tubiaozhezhao.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,836},{95,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,90}}</string>
			<key>sourceSize</key>
			<string>{95,90}</string>
		</dict>
		<key>pic_bxzl_jiesuodi.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,1909},{220,27}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{220,27}}</string>
			<key>sourceSize</key>
			<string>{222,27}</string>
		</dict>
		<key>pic_bxzl_neirong1.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,1661},{246,211}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,1},{246,211}}</string>
			<key>sourceSize</key>
			<string>{250,215}</string>
		</dict>
		<key>pic_bxzl_neirong1_zhezhao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1754},{246,211}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{246,211}}</string>
			<key>sourceSize</key>
			<string>{250,215}</string>
		</dict>
		<key>pic_bxzl_xuanzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1265},{277,243}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{277,243}}</string>
			<key>sourceSize</key>
			<string>{277,243}</string>
		</dict>
		<key>pic_xsrw_biaoqian.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,1510},{123,26}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,8},{123,26}}</string>
			<key>sourceSize</key>
			<string>{129,40}</string>
		</dict>
		<key>pic_xsrw_biaoqiandi.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,2},{424,105}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{424,105}}</string>
			<key>sourceSize</key>
			<string>{430,109}</string>
		</dict>
		<key>pic_xsrw_jindutiaodi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,997},{287,266}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,20},{287,266}}</string>
			<key>sourceSize</key>
			<string>{287,286}</string>
		</dict>
		<key>pic_xsrw_quan.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,664},{331,331}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{331,331}}</string>
			<key>sourceSize</key>
			<string>{331,331}</string>
		</dict>
		<key>pic_xsrw_tuyee.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1510},{242,242}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,242}}</string>
			<key>sourceSize</key>
			<string>{242,242}</string>
		</dict>
		<key>pic_xsrw_wenzidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,2},{346,80}}</string>
			<key>offset</key>
			<string>{1,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,1},{346,80}}</string>
			<key>sourceSize</key>
			<string>{350,90}</string>
		</dict>
		<key>pic_yddjc_xinshouyindao_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{660,274}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{660,274}}</string>
			<key>sourceSize</key>
			<string>{660,274}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ActivityNewYear202560.png</string>
		<key>size</key>
		<string>{477,1999}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ActivityNewYear202560.png</string>
	</dict>
</dict>
</plist>
