<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bg__tuiguang_btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{309,2},{236,45}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,45}}</string>
			<key>sourceSize</key>
			<string>{236,49}</string>
		</dict>
		<key>bg__tuiguang_btn_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,2},{236,45}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,45}}</string>
			<key>sourceSize</key>
			<string>{236,49}</string>
		</dict>
		<key>event_arenascore.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{67,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{67,59}}</string>
			<key>sourceSize</key>
			<string>{67,69}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Activity0.png</string>
		<key>size</key>
		<string>{547,63}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>Activity0.png</string>
	</dict>
</dict>
</plist>
