<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ylsb_skill3_shifa_00028_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,194},{4,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,17}}</string>
			<key>sourceSize</key>
			<string>{4,17}</string>
		</dict>
		<key>ylsb_skill3_shifa_00029_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,379},{4,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,18}}</string>
			<key>sourceSize</key>
			<string>{4,18}</string>
		</dict>
		<key>ylsb_skill3_shifa_00030_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,474},{4,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,18}}</string>
			<key>sourceSize</key>
			<string>{4,18}</string>
		</dict>
		<key>ylsb_skill3_shifa_00031_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,2},{17,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,36}}</string>
			<key>sourceSize</key>
			<string>{17,36}</string>
		</dict>
		<key>ylsb_skill3_shifa_00032_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,438},{34,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,39}}</string>
			<key>sourceSize</key>
			<string>{34,39}</string>
		</dict>
		<key>ylsb_skill3_shifa_00033_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,121},{25,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,49}}</string>
			<key>sourceSize</key>
			<string>{25,49}</string>
		</dict>
		<key>ylsb_skill3_shifa_00034_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,315},{24,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,52}}</string>
			<key>sourceSize</key>
			<string>{24,52}</string>
		</dict>
		<key>ylsb_skill3_shifa_00035_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,341},{23,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,53}}</string>
			<key>sourceSize</key>
			<string>{23,53}</string>
		</dict>
		<key>ylsb_skill3_shifa_00036_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,331},{24,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,55}}</string>
			<key>sourceSize</key>
			<string>{24,55}</string>
		</dict>
		<key>ylsb_skill3_shifa_00037_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,336},{26,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,33}}</string>
			<key>sourceSize</key>
			<string>{26,33}</string>
		</dict>
		<key>ylsb_skill3_shifa_00038_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,410},{27,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,33}}</string>
			<key>sourceSize</key>
			<string>{27,33}</string>
		</dict>
		<key>ylsb_skill3_shifa_00039_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,410},{29,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,34}}</string>
			<key>sourceSize</key>
			<string>{29,34}</string>
		</dict>
		<key>ylsb_skill3_shifa_00040_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,355},{31,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,34}}</string>
			<key>sourceSize</key>
			<string>{31,34}</string>
		</dict>
		<key>ylsb_skill3_shifa_00041_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,410},{32,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,34}}</string>
			<key>sourceSize</key>
			<string>{32,34}</string>
		</dict>
		<key>ylsb_skill3_shifa_00042_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,436},{34,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,35}}</string>
			<key>sourceSize</key>
			<string>{34,35}</string>
		</dict>
		<key>ylsb_skill3_shifa_00043_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,474},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>ylsb_skill3_shifa_00044_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,473},{37,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,35}}</string>
			<key>sourceSize</key>
			<string>{37,35}</string>
		</dict>
		<key>ylsb_skill3_shifa_00045_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,357},{39,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,36}}</string>
			<key>sourceSize</key>
			<string>{39,36}</string>
		</dict>
		<key>ylsb_skill3_shifa_00046_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{425,338},{40,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,39}}</string>
			<key>sourceSize</key>
			<string>{40,39}</string>
		</dict>
		<key>ylsb_skill3_shifa_00047_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,408},{41,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,41}}</string>
			<key>sourceSize</key>
			<string>{41,41}</string>
		</dict>
		<key>ylsb_skill3_shifa_00048_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,364},{41,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,42}}</string>
			<key>sourceSize</key>
			<string>{41,42}</string>
		</dict>
		<key>ylsb_skill3_shifa_00049_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,455},{41,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,44}}</string>
			<key>sourceSize</key>
			<string>{41,44}</string>
		</dict>
		<key>ylsb_skill3_shifa_00050_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,408},{42,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,45}}</string>
			<key>sourceSize</key>
			<string>{42,45}</string>
		</dict>
		<key>ylsb_skill3_shifa_00051_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,362},{43,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,46}}</string>
			<key>sourceSize</key>
			<string>{43,46}</string>
		</dict>
		<key>ylsb_skill3_shifa_00052_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,265},{43,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,47}}</string>
			<key>sourceSize</key>
			<string>{43,47}</string>
		</dict>
		<key>ylsb_skill3_shifa_00053_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,445},{42,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,46}}</string>
			<key>sourceSize</key>
			<string>{42,46}</string>
		</dict>
		<key>ylsb_skill3_shifa_00054_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,216},{43,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,47}}</string>
			<key>sourceSize</key>
			<string>{43,47}</string>
		</dict>
		<key>ylsb_skill3_shifa_00055_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,441},{42,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,45}}</string>
			<key>sourceSize</key>
			<string>{42,45}</string>
		</dict>
		<key>ylsb_skill3_shifa_00056_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,291},{41,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{41,45}}</string>
			<key>sourceSize</key>
			<string>{43,45}</string>
		</dict>
		<key>ylsb_skill3_shifa_00057_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,444},{42,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,45}}</string>
			<key>sourceSize</key>
			<string>{42,45}</string>
		</dict>
		<key>ylsb_skill3_shifa_00058_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,314},{43,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,46}}</string>
			<key>sourceSize</key>
			<string>{43,46}</string>
		</dict>
		<key>ylsb_skill3_shifa_00059_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,364},{42,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,45}}</string>
			<key>sourceSize</key>
			<string>{42,45}</string>
		</dict>
		<key>ylsb_skill3_shifa_00060_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,363},{42,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,45}}</string>
			<key>sourceSize</key>
			<string>{42,45}</string>
		</dict>
		<key>ylsb_skill3_shifa_00061_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,363},{42,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,45}}</string>
			<key>sourceSize</key>
			<string>{42,45}</string>
		</dict>
		<key>ylsb_skill3_shifa_00062_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{465,172},{42,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,45}}</string>
			<key>sourceSize</key>
			<string>{42,45}</string>
		</dict>
		<key>ylsb_skill3_shifa_00063_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{234,408},{41,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,44}}</string>
			<key>sourceSize</key>
			<string>{41,44}</string>
		</dict>
		<key>ylsb_skill3_shifa_00064_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,454},{40,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,43}}</string>
			<key>sourceSize</key>
			<string>{40,43}</string>
		</dict>
		<key>ylsb_skill3_shifa_00065_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{279,364},{39,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,42}}</string>
			<key>sourceSize</key>
			<string>{39,42}</string>
		</dict>
		<key>ylsb_skill3_shifa_00066_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,451},{36,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,40}}</string>
			<key>sourceSize</key>
			<string>{36,40}</string>
		</dict>
		<key>ylsb_skill3_shifa_00067_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,402},{34,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,39}}</string>
			<key>sourceSize</key>
			<string>{34,39}</string>
		</dict>
		<key>ylsb_skill3_shifa_00068_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,366},{34,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,39}}</string>
			<key>sourceSize</key>
			<string>{34,39}</string>
		</dict>
		<key>ylsb_skill3_shifa_00069_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,395},{34,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,39}}</string>
			<key>sourceSize</key>
			<string>{34,39}</string>
		</dict>
		<key>ylsb_skill3_shifa_00070_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,410},{34,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,38}}</string>
			<key>sourceSize</key>
			<string>{34,38}</string>
		</dict>
		<key>ylsb_skill3_shifa_00071_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,410},{34,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,38}}</string>
			<key>sourceSize</key>
			<string>{34,38}</string>
		</dict>
		<key>ylsb_skill3_shifa_00072_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{397,442},{34,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,38}}</string>
			<key>sourceSize</key>
			<string>{34,38}</string>
		</dict>
		<key>ylsb_skill3_shifa_00073_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{397,402},{34,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,38}}</string>
			<key>sourceSize</key>
			<string>{34,38}</string>
		</dict>
		<key>ylsb_skill3_shifa_00074_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,493},{17,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,27}}</string>
			<key>sourceSize</key>
			<string>{17,27}</string>
		</dict>
		<key>ylsb_skill3_shifa_00075_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,493},{17,21}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{17,21}}</string>
			<key>sourceSize</key>
			<string>{17,27}</string>
		</dict>
		<key>ylsb_skill3_shifa_00076_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,336},{17,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,21}}</string>
			<key>sourceSize</key>
			<string>{17,21}</string>
		</dict>
		<key>ylsb_skill3_shifa_00077_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,366},{16,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,21}}</string>
			<key>sourceSize</key>
			<string>{16,21}</string>
		</dict>
		<key>ylsb_skill3_shifa_00078_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,384},{11,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,21}}</string>
			<key>sourceSize</key>
			<string>{11,21}</string>
		</dict>
		<key>ylsb_skill3_shifa_00079_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,498},{12,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,21}}</string>
			<key>sourceSize</key>
			<string>{12,21}</string>
		</dict>
		<key>ylsb_skill3_shifa_00080_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,450},{13,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,22}}</string>
			<key>sourceSize</key>
			<string>{13,22}</string>
		</dict>
		<key>ylsb_skill3_shifa_00081_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,391},{13,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,22}}</string>
			<key>sourceSize</key>
			<string>{13,22}</string>
		</dict>
		<key>ylsb_skill3_shifa_00082_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,488},{14,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,22}}</string>
			<key>sourceSize</key>
			<string>{14,22}</string>
		</dict>
		<key>ylsb_skill3_shifa_00083_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,488},{13,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,22}}</string>
			<key>sourceSize</key>
			<string>{13,22}</string>
		</dict>
		<key>ylsb_skill3_shifa_00084_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{425,379},{11,20}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{11,20}}</string>
			<key>sourceSize</key>
			<string>{13,22}</string>
		</dict>
		<key>ylsb_skill3_shifa_00085_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,491},{12,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,19}}</string>
			<key>sourceSize</key>
			<string>{12,19}</string>
		</dict>
		<key>ylsb_skill3_shifa_00086_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,491},{12,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,19}}</string>
			<key>sourceSize</key>
			<string>{12,19}</string>
		</dict>
		<key>ylsb_skill3_shifa_00087_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,491},{12,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,19}}</string>
			<key>sourceSize</key>
			<string>{12,19}</string>
		</dict>
		<key>ylsb_skill3_shifa_00088_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,53},{11,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,20}}</string>
			<key>sourceSize</key>
			<string>{11,20}</string>
		</dict>
		<key>ylsb_skill3_shifa_00089_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,40},{11,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,20}}</string>
			<key>sourceSize</key>
			<string>{11,20}</string>
		</dict>
		<key>ylsb_skill3_shifa_00090_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,499},{11,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,19}}</string>
			<key>sourceSize</key>
			<string>{11,19}</string>
		</dict>
		<key>ylsb_skill3_shifa_00091_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,498},{11,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,19}}</string>
			<key>sourceSize</key>
			<string>{11,19}</string>
		</dict>
		<key>ylsb_skill3_shifa_00092_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{423,241},{48,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,42}}</string>
			<key>sourceSize</key>
			<string>{48,42}</string>
		</dict>
		<key>ylsb_skill3_shifa_00093_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,185},{54,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,52}}</string>
			<key>sourceSize</key>
			<string>{54,52}</string>
		</dict>
		<key>ylsb_skill3_shifa_00094_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,128},{55,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,47}}</string>
			<key>sourceSize</key>
			<string>{55,47}</string>
		</dict>
		<key>ylsb_skill3_shifa_00095_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,66},{58,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,49}}</string>
			<key>sourceSize</key>
			<string>{58,49}</string>
		</dict>
		<key>ylsb_skill3_shifa_00096_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,65},{61,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,49}}</string>
			<key>sourceSize</key>
			<string>{61,49}</string>
		</dict>
		<key>ylsb_skill3_shifa_00097_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,185},{63,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,49}}</string>
			<key>sourceSize</key>
			<string>{63,49}</string>
		</dict>
		<key>ylsb_skill3_shifa_00098_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,250},{63,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,51}}</string>
			<key>sourceSize</key>
			<string>{63,51}</string>
		</dict>
		<key>ylsb_skill3_shifa_00099_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,126},{64,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,52}}</string>
			<key>sourceSize</key>
			<string>{64,52}</string>
		</dict>
		<key>ylsb_skill3_shifa_00100_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,445},{65,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,54}}</string>
			<key>sourceSize</key>
			<string>{65,54}</string>
		</dict>
		<key>ylsb_skill3_shifa_00101_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{234,126},{66,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,54}}</string>
			<key>sourceSize</key>
			<string>{66,54}</string>
		</dict>
		<key>ylsb_skill3_shifa_00102_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,64},{68,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,55}}</string>
			<key>sourceSize</key>
			<string>{68,55}</string>
		</dict>
		<key>ylsb_skill3_shifa_00103_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{247,194},{69,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,55}}</string>
			<key>sourceSize</key>
			<string>{69,55}</string>
		</dict>
		<key>ylsb_skill3_shifa_00104_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,194},{71,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,56}}</string>
			<key>sourceSize</key>
			<string>{71,56}</string>
		</dict>
		<key>ylsb_skill3_shifa_00105_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,67},{72,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,57}}</string>
			<key>sourceSize</key>
			<string>{72,57}</string>
		</dict>
		<key>ylsb_skill3_shifa_00106_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,280},{73,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,58}}</string>
			<key>sourceSize</key>
			<string>{73,58}</string>
		</dict>
		<key>ylsb_skill3_shifa_00107_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,203},{75,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,58}}</string>
			<key>sourceSize</key>
			<string>{75,58}</string>
		</dict>
		<key>ylsb_skill3_shifa_00108_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,284},{77,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,59}}</string>
			<key>sourceSize</key>
			<string>{77,59}</string>
		</dict>
		<key>ylsb_skill3_shifa_00109_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,204},{78,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,60}}</string>
			<key>sourceSize</key>
			<string>{78,60}</string>
		</dict>
		<key>ylsb_skill3_shifa_00110_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,2},{78,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,60}}</string>
			<key>sourceSize</key>
			<string>{78,60}</string>
		</dict>
		<key>ylsb_skill3_shifa_00111_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,2},{79,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,61}}</string>
			<key>sourceSize</key>
			<string>{79,61}</string>
		</dict>
		<key>ylsb_skill3_shifa_00112_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{247,2},{80,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,62}}</string>
			<key>sourceSize</key>
			<string>{80,62}</string>
		</dict>
		<key>ylsb_skill3_shifa_00113_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,204},{80,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,63}}</string>
			<key>sourceSize</key>
			<string>{80,63}</string>
		</dict>
		<key>ylsb_skill3_shifa_00114_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,2},{80,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,63}}</string>
			<key>sourceSize</key>
			<string>{80,63}</string>
		</dict>
		<key>ylsb_skill3_shifa_00115_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,366},{77,63}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,63}}</string>
			<key>sourceSize</key>
			<string>{81,63}</string>
		</dict>
		<key>ylsb_skill3_shifa_00116_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,286},{78,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,64}}</string>
			<key>sourceSize</key>
			<string>{78,64}</string>
		</dict>
		<key>ylsb_skill3_shifa_00117_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,137},{79,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,64}}</string>
			<key>sourceSize</key>
			<string>{79,64}</string>
		</dict>
		<key>ylsb_skill3_shifa_00118_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,137},{79,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,65}}</string>
			<key>sourceSize</key>
			<string>{79,65}</string>
		</dict>
		<key>ylsb_skill3_shifa_00119_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,2},{79,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,65}}</string>
			<key>sourceSize</key>
			<string>{79,65}</string>
		</dict>
		<key>ylsb_skill3_shifa_00120_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,70},{80,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,65}}</string>
			<key>sourceSize</key>
			<string>{80,65}</string>
		</dict>
		<key>ylsb_skill3_shifa_00121_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{80,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,66}}</string>
			<key>sourceSize</key>
			<string>{80,66}</string>
		</dict>
		<key>ylsb_skill3_shifa_00122_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,69},{78,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,66}}</string>
			<key>sourceSize</key>
			<string>{78,66}</string>
		</dict>
		<key>ylsb_skill3_shifa_00123_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,126},{68,66}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,66}}</string>
			<key>sourceSize</key>
			<string>{78,66}</string>
		</dict>
		<key>ylsb_skill3_shifa_00124_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,267},{69,64}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{69,64}}</string>
			<key>sourceSize</key>
			<string>{69,66}</string>
		</dict>
		<key>ylsb_skill3_shifa_00125_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,67},{69,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,57}}</string>
			<key>sourceSize</key>
			<string>{69,57}</string>
		</dict>
		<key>ylsb_skill3_shifa_00126_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,265},{69,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,56}}</string>
			<key>sourceSize</key>
			<string>{69,56}</string>
		</dict>
		<key>ylsb_skill3_shifa_00127_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,192},{68,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{68,54}}</string>
			<key>sourceSize</key>
			<string>{68,56}</string>
		</dict>
		<key>ylsb_skill3_shifa_00128_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,262},{67,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,55}}</string>
			<key>sourceSize</key>
			<string>{67,55}</string>
		</dict>
		<key>ylsb_skill3_shifa_00129_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,128},{60,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,55}}</string>
			<key>sourceSize</key>
			<string>{60,55}</string>
		</dict>
		<key>ylsb_skill3_shifa_00130_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,338},{59,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,24}}</string>
			<key>sourceSize</key>
			<string>{59,24}</string>
		</dict>
		<key>ylsb_skill3_shifa_00131_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,451},{3,2}}</string>
			<key>offset</key>
			<string>{-28,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,21},{3,2}}</string>
			<key>sourceSize</key>
			<string>{59,24}</string>
		</dict>
		<key>ylsb_skill3_shifa_00132_lianshabailiumenshifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,262},{1,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{1,3}}</string>
			<key>sourceSize</key>
			<string>{3,3}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>lianshabailiumenshifaimage.png</string>
		<key>scale</key>
		<real>0.47</real>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lianshabailiumenshifaimage.png</string>
	</dict>
</dict>
</plist>
