<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wy_10_10_14308_yzpkpimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{441,337},{218,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,56}}</string>
			<key>sourceSize</key>
			<string>{218,56}</string>
		</dict>
		<key>wy_14_14_17868_yzpkpimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,538},{80,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,129}}</string>
			<key>sourceSize</key>
			<string>{80,129}</string>
		</dict>
		<key>wy_15_15_63549_yzpkpimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{441,158},{62,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,134}}</string>
			<key>sourceSize</key>
			<string>{62,134}</string>
		</dict>
		<key>wy_16_16_57177_yzpkpimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,433},{107,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,134}}</string>
			<key>sourceSize</key>
			<string>{107,134}</string>
		</dict>
		<key>wy_17_17_27504_yzpkpimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,433},{103,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,135}}</string>
			<key>sourceSize</key>
			<string>{103,135}</string>
		</dict>
		<key>wy_18_18_81296_yzpkpimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{441,2},{154,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,0},{154,64}}</string>
			<key>sourceSize</key>
			<string>{212,64}</string>
		</dict>
		<key>wy_2_2_66362_yzpkpimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{441,557},{36,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,42}}</string>
			<key>sourceSize</key>
			<string>{36,42}</string>
		</dict>
		<key>wy_2_2_zhadan_yzpkpimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,569},{92,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,94}}</string>
			<key>sourceSize</key>
			<string>{92,94}</string>
		</dict>
		<key>wy_3_3_89268_yzpkpimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,595},{72,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,74}}</string>
			<key>sourceSize</key>
			<string>{72,74}</string>
		</dict>
		<key>wy_6_6_74671_yzpkpimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{437,429}}</string>
			<key>offset</key>
			<string>{-1,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,10},{437,429}}</string>
			<key>sourceSize</key>
			<string>{439,439}</string>
		</dict>
		<key>wy_7_7_90001_yzpkpimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{441,294},{58,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,41}}</string>
			<key>sourceSize</key>
			<string>{58,41}</string>
		</dict>
		<key>wy_8_8_24027_yzpkpimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,433},{181,191}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,191}}</string>
			<key>sourceSize</key>
			<string>{181,191}</string>
		</dict>
		<key>wy_8_8_zhadan1_yzpkpimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,569},{92,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,94}}</string>
			<key>sourceSize</key>
			<string>{92,94}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>yzpkpimage.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>yzpkpimage.png</string>
	</dict>
</dict>
</plist>
