<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wy_10_10_72802_ydfb25image.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,479},{199,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,157}}</string>
			<key>sourceSize</key>
			<string>{199,157}</string>
		</dict>
		<key>wy_11_11_61844_ydfb25image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,813},{169,157}}</string>
			<key>offset</key>
			<string>{-15,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,157}}</string>
			<key>sourceSize</key>
			<string>{199,157}</string>
		</dict>
		<key>wy_12_12_13007_ydfb25image.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,785},{153,157}}</string>
			<key>offset</key>
			<string>{-23,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,157}}</string>
			<key>sourceSize</key>
			<string>{199,157}</string>
		</dict>
		<key>wy_13_13_15664_ydfb25image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,479},{199,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,157}}</string>
			<key>sourceSize</key>
			<string>{199,157}</string>
		</dict>
		<key>wy_14_14_54364_ydfb25image.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,320},{199,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,157}}</string>
			<key>sourceSize</key>
			<string>{199,157}</string>
		</dict>
		<key>wy_15_15_33709_ydfb25image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,320},{199,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,157}}</string>
			<key>sourceSize</key>
			<string>{199,157}</string>
		</dict>
		<key>wy_19_19_9110_ydfb25image.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,70},{27,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,27}}</string>
			<key>sourceSize</key>
			<string>{27,27}</string>
		</dict>
		<key>wy_20_20_64727_ydfb25image.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,70},{33,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,17}}</string>
			<key>sourceSize</key>
			<string>{33,17}</string>
		</dict>
		<key>wy_21_21_78137_ydfb25image.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,2},{93,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,66}}</string>
			<key>sourceSize</key>
			<string>{93,66}</string>
		</dict>
		<key>wy_25_25_72621_ydfb25image.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,638},{165,145}}</string>
			<key>offset</key>
			<string>{-4,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,145}}</string>
			<key>sourceSize</key>
			<string>{173,173}</string>
		</dict>
		<key>wy_4_4_16066_ydfb25image.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,161},{199,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,157}}</string>
			<key>sourceSize</key>
			<string>{199,157}</string>
		</dict>
		<key>wy_5_5_19101_ydfb25image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,638},{173,157}}</string>
			<key>offset</key>
			<string>{13,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,0},{173,157}}</string>
			<key>sourceSize</key>
			<string>{199,157}</string>
		</dict>
		<key>wy_6_6_32007_ydfb25image.png</key>
		<dict>
			<key>frame</key>
			<string>{{328,638},{157,157}}</string>
			<key>offset</key>
			<string>{21,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,0},{157,157}}</string>
			<key>sourceSize</key>
			<string>{199,157}</string>
		</dict>
		<key>wy_7_7_51332_ydfb25image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,161},{199,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,157}}</string>
			<key>sourceSize</key>
			<string>{199,157}</string>
		</dict>
		<key>wy_8_8_35129_ydfb25image.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,2},{199,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,157}}</string>
			<key>sourceSize</key>
			<string>{199,157}</string>
		</dict>
		<key>wy_9_9_20376_ydfb25image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{199,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,157}}</string>
			<key>sourceSize</key>
			<string>{199,157}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ydfb25image.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ydfb25image.png</string>
	</dict>
</dict>
</plist>
