<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>a11_dashefengyinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,147},{48,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,44}}</string>
			<key>sourceSize</key>
			<string>{48,44}</string>
		</dict>
		<key>a12_dashefengyinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,131},{32,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,36}}</string>
			<key>sourceSize</key>
			<string>{32,36}</string>
		</dict>
		<key>a13_dashefengyinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,222},{25,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,22}}</string>
			<key>sourceSize</key>
			<string>{25,22}</string>
		</dict>
		<key>a1_dashefengyinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,2},{43,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,72}}</string>
			<key>sourceSize</key>
			<string>{43,72}</string>
		</dict>
		<key>a2_dashefengyinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,2},{42,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,69}}</string>
			<key>sourceSize</key>
			<string>{42,69}</string>
		</dict>
		<key>a3_dashefengyinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,135},{54,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,10}}</string>
			<key>sourceSize</key>
			<string>{54,10}</string>
		</dict>
		<key>a6_dashefengyinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,237},{40,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,12}}</string>
			<key>sourceSize</key>
			<string>{40,12}</string>
		</dict>
		<key>a7_dashefengyinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{99,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,83}}</string>
			<key>sourceSize</key>
			<string>{99,83}</string>
		</dict>
		<key>b11_dashefengyinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,87},{42,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,34}}</string>
			<key>sourceSize</key>
			<string>{42,34}</string>
		</dict>
		<key>b12_dashefengyinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,193},{22,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,27}}</string>
			<key>sourceSize</key>
			<string>{22,27}</string>
		</dict>
		<key>b13_dashefengyinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,193},{42,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,21}}</string>
			<key>sourceSize</key>
			<string>{42,21}</string>
		</dict>
		<key>b1_dashefengyinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,95},{62,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,53}}</string>
			<key>sourceSize</key>
			<string>{62,53}</string>
		</dict>
		<key>b2_dashefengyinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,87},{46,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,63}}</string>
			<key>sourceSize</key>
			<string>{46,63}</string>
		</dict>
		<key>b3_dashefengyinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,47},{46,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,64}}</string>
			<key>sourceSize</key>
			<string>{46,64}</string>
		</dict>
		<key>b4_dashefengyinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,147},{44,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,12}}</string>
			<key>sourceSize</key>
			<string>{44,12}</string>
		</dict>
		<key>b5_dashefengyinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,95},{35,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,7}}</string>
			<key>sourceSize</key>
			<string>{35,7}</string>
		</dict>
		<key>b6_dashefengyinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,82},{35,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,7}}</string>
			<key>sourceSize</key>
			<string>{35,7}</string>
		</dict>
		<key>b7_dashefengyinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,46},{34,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,8}}</string>
			<key>sourceSize</key>
			<string>{34,8}</string>
		</dict>
		<key>b8_dashefengyinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,46},{67,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,58}}</string>
			<key>sourceSize</key>
			<string>{67,58}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>dashefengyinimage.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dashefengyinimage.png</string>
	</dict>
</dict>
</plist>
