<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>quan_guiji1_dongzhangbishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,96},{13,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,16}}</string>
			<key>sourceSize</key>
			<string>{13,16}</string>
		</dict>
		<key>quan_guiji1_dongzhangjinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,89},{26,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,32}}</string>
			<key>sourceSize</key>
			<string>{26,32}</string>
		</dict>
		<key>quan_guiji2_dongzhangbishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,310},{18,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,25}}</string>
			<key>sourceSize</key>
			<string>{18,25}</string>
		</dict>
		<key>quan_guiji2_dongzhangjinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,218},{36,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,50}}</string>
			<key>sourceSize</key>
			<string>{36,50}</string>
		</dict>
		<key>quan_guiji3_dongzhangbishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,486},{23,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,37}}</string>
			<key>sourceSize</key>
			<string>{23,37}</string>
		</dict>
		<key>quan_guiji3_dongzhangjinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,96},{45,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,74}}</string>
			<key>sourceSize</key>
			<string>{45,74}</string>
		</dict>
		<key>quan_guiji4_dongzhangbishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,46},{25,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,41}}</string>
			<key>sourceSize</key>
			<string>{25,41}</string>
		</dict>
		<key>quan_guiji4_dongzhangjinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,393},{49,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,82}}</string>
			<key>sourceSize</key>
			<string>{49,82}</string>
		</dict>
		<key>quan_guiji5_dongzhangbishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,172},{25,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,44}}</string>
			<key>sourceSize</key>
			<string>{25,44}</string>
		</dict>
		<key>quan_guiji5_dongzhangjinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,220},{48,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,86}}</string>
			<key>sourceSize</key>
			<string>{48,86}</string>
		</dict>
		<key>quan_guiji6_dongzhangbishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,172},{27,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,44}}</string>
			<key>sourceSize</key>
			<string>{27,44}</string>
		</dict>
		<key>quan_guiji6_dongzhangjinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,310},{55,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,88}}</string>
			<key>sourceSize</key>
			<string>{55,88}</string>
		</dict>
		<key>quan_guiji7_dongzhangbishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,310},{29,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,17}}</string>
			<key>sourceSize</key>
			<string>{29,17}</string>
		</dict>
		<key>quan_guiji7_dongzhangjinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,477},{57,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,33}}</string>
			<key>sourceSize</key>
			<string>{57,33}</string>
		</dict>
		<key>siwanglongjuan01_dongzhangbishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,223},{87,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,105}}</string>
			<key>sourceSize</key>
			<string>{87,105}</string>
		</dict>
		<key>siwanglongjuan02_dongzhangbishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,113},{85,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,108}}</string>
			<key>sourceSize</key>
			<string>{85,108}</string>
		</dict>
		<key>siwanglongjuan03_dongzhangbishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{86,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,109}}</string>
			<key>sourceSize</key>
			<string>{86,109}</string>
		</dict>
		<key>siwanglongjuan04_dongzhangbishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,113},{84,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,105}}</string>
			<key>sourceSize</key>
			<string>{84,105}</string>
		</dict>
		<key>xuanfengquan1_dongzhangbishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,270},{33,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,41}}</string>
			<key>sourceSize</key>
			<string>{33,41}</string>
		</dict>
		<key>xuanfengquan1_dongzhangjinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,330},{71,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,90}}</string>
			<key>sourceSize</key>
			<string>{71,90}</string>
		</dict>
		<key>xuanfengquan2_dongzhangbishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,2},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>xuanfengquan2_dongzhangjinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,422},{86,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,88}}</string>
			<key>sourceSize</key>
			<string>{86,88}</string>
		</dict>
		<key>xuanfengquan3_dongzhangbishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,46},{37,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,41}}</string>
			<key>sourceSize</key>
			<string>{37,41}</string>
		</dict>
		<key>xuanfengquan3_dongzhangjinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,422},{82,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,88}}</string>
			<key>sourceSize</key>
			<string>{82,88}</string>
		</dict>
		<key>xuanfengquan4_dongzhangbishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,2},{39,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,42}}</string>
			<key>sourceSize</key>
			<string>{39,42}</string>
		</dict>
		<key>xuanfengquan4_dongzhangjinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,2},{84,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,92}}</string>
			<key>sourceSize</key>
			<string>{84,92}</string>
		</dict>
		<key>xuanfengquan5_dongzhangjinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,330},{76,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,90}}</string>
			<key>sourceSize</key>
			<string>{76,90}</string>
		</dict>
		<key>xuanfengquan6_dongzhangjinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,220},{80,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,88}}</string>
			<key>sourceSize</key>
			<string>{80,88}</string>
		</dict>
		<key>xuanfengquan7_dongzhangjinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,308},{76,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,83}}</string>
			<key>sourceSize</key>
			<string>{76,83}</string>
		</dict>
		<key>xuanfengquan8_dongzhangjinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,400},{75,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,84}}</string>
			<key>sourceSize</key>
			<string>{75,84}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA4444</string>
		<key>realTextureFileName</key>
		<string>dongzhanggroup.png</string>
		<key>scale</key>
		<real>0.5</real>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dongzhanggroup.png</string>
	</dict>
</dict>
</plist>
