<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ko_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{350,137}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{350,137}}</string>
			<key>sourceSize</key>
			<string>{350,139}</string>
		</dict>
		<key>wy_10_10_15530_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{503,133},{7,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,7}}</string>
			<key>sourceSize</key>
			<string>{7,7}</string>
		</dict>
		<key>wy_11_11_70347_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{504,74},{6,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,11}}</string>
			<key>sourceSize</key>
			<string>{6,11}</string>
		</dict>
		<key>wy_11_11_76280_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,141},{108,111}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,7},{108,111}}</string>
			<key>sourceSize</key>
			<string>{128,127}</string>
		</dict>
		<key>wy_12_12_4598_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{503,113},{7,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,9}}</string>
			<key>sourceSize</key>
			<string>{7,9}</string>
		</dict>
		<key>wy_13_13_12779_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,132},{128,125}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{128,125}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>wy_13_13_18219_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,214},{9,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,6}}</string>
			<key>sourceSize</key>
			<string>{9,6}</string>
		</dict>
		<key>wy_14_14_46450_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,179},{8,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,10}}</string>
			<key>sourceSize</key>
			<string>{8,10}</string>
		</dict>
		<key>wy_14_14_48793_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,259},{113,113}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,8},{113,113}}</string>
			<key>sourceSize</key>
			<string>{131,131}</string>
		</dict>
		<key>wy_15_15_84467_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{505,34},{5,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,8}}</string>
			<key>sourceSize</key>
			<string>{5,8}</string>
		</dict>
		<key>wy_16_16_37678_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,167},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>wy_17_17_14865_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,18},{14,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,25}}</string>
			<key>sourceSize</key>
			<string>{14,25}</string>
		</dict>
		<key>wy_18_18_37264_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,54},{18,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,19}}</string>
			<key>sourceSize</key>
			<string>{18,19}</string>
		</dict>
		<key>wy_19_19_15370_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,2},{14,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,25}}</string>
			<key>sourceSize</key>
			<string>{14,25}</string>
		</dict>
		<key>wy_1_1_13577_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,259},{89,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,83}}</string>
			<key>sourceSize</key>
			<string>{89,83}</string>
		</dict>
		<key>wy_1_1_3676_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,141},{45,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,59}}</string>
			<key>sourceSize</key>
			<string>{45,59}</string>
		</dict>
		<key>wy_20_20_86707_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,34},{18,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,19}}</string>
			<key>sourceSize</key>
			<string>{18,19}</string>
		</dict>
		<key>wy_21_21_65688_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{493,223},{6,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,7}}</string>
			<key>sourceSize</key>
			<string>{6,7}</string>
		</dict>
		<key>wy_22_22_35924_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{503,124},{7,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,7}}</string>
			<key>sourceSize</key>
			<string>{7,7}</string>
		</dict>
		<key>wy_23_23_11967_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{501,142},{9,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,11}}</string>
			<key>sourceSize</key>
			<string>{9,11}</string>
		</dict>
		<key>wy_24_24_31430_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,207},{9,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,6}}</string>
			<key>sourceSize</key>
			<string>{9,6}</string>
		</dict>
		<key>wy_25_25_2758_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,204},{8,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,9}}</string>
			<key>sourceSize</key>
			<string>{8,9}</string>
		</dict>
		<key>wy_26_26_31262_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,189},{6,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,10}}</string>
			<key>sourceSize</key>
			<string>{6,10}</string>
		</dict>
		<key>wy_27_27_66826_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{501,155},{9,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,10}}</string>
			<key>sourceSize</key>
			<string>{9,10}</string>
		</dict>
		<key>wy_28_28_12593_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{504,87},{6,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,10}}</string>
			<key>sourceSize</key>
			<string>{6,10}</string>
		</dict>
		<key>wy_2_2_77484_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,2},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>wy_31_31_87898_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,374},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>wy_34_34_78766_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,141},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>wy_37_37_70283_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,171},{11,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,14}}</string>
			<key>sourceSize</key>
			<string>{11,14}</string>
		</dict>
		<key>wy_38_38_97515_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,117},{17,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,11}}</string>
			<key>sourceSize</key>
			<string>{17,11}</string>
		</dict>
		<key>wy_39_39_63077_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,87},{10,18}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{10,18}}</string>
			<key>sourceSize</key>
			<string>{10,20}</string>
		</dict>
		<key>wy_3_3_14585_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,197},{8,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,11}}</string>
			<key>sourceSize</key>
			<string>{8,11}</string>
		</dict>
		<key>wy_40_40_98241_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{503,99},{12,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,7}}</string>
			<key>sourceSize</key>
			<string>{12,7}</string>
		</dict>
		<key>wy_41_41_86247_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,130},{17,9}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,9}}</string>
			<key>sourceSize</key>
			<string>{17,11}</string>
		</dict>
		<key>wy_42_42_15476_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,194},{12,8}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{12,8}}</string>
			<key>sourceSize</key>
			<string>{12,10}</string>
		</dict>
		<key>wy_43_43_68174_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,74},{11,18}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{11,18}}</string>
			<key>sourceSize</key>
			<string>{11,20}</string>
		</dict>
		<key>wy_44_44_86083_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,158},{11,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,14}}</string>
			<key>sourceSize</key>
			<string>{11,14}</string>
		</dict>
		<key>wy_4_4_25082_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,184},{8,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,14}}</string>
			<key>sourceSize</key>
			<string>{8,14}</string>
		</dict>
		<key>wy_5_5_80369_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,215},{8,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,6}}</string>
			<key>sourceSize</key>
			<string>{8,6}</string>
		</dict>
		<key>wy_6_6_40704_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,141},{15,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,15}}</string>
			<key>sourceSize</key>
			<string>{15,15}</string>
		</dict>
		<key>wy_7_7_33760_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,99},{17,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,16}}</string>
			<key>sourceSize</key>
			<string>{17,16}</string>
		</dict>
		<key>wy_8_8_95264_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,374},{100,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,60}}</string>
			<key>sourceSize</key>
			<string>{100,60}</string>
		</dict>
		<key>wy_9_9_44093_chaorjiejitximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,222},{7,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,6}}</string>
			<key>sourceSize</key>
			<string>{7,6}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>chaorjiejitximage.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>chaorjiejitximage.png</string>
	</dict>
</dict>
</plist>
