<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bg_common_levelbackgroud.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,655},{29,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,23}}</string>
			<key>sourceSize</key>
			<string>{29,23}</string>
		</dict>
		<key>bg_mouthsigh_close.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,769},{84,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,44}}</string>
			<key>sourceSize</key>
			<string>{84,44}</string>
		</dict>
		<key>bg_shutukuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,231},{151,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,31}}</string>
			<key>sourceSize</key>
			<string>{151,31}</string>
		</dict>
		<key>btn_common_close_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,382},{65,59}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,9},{65,59}}</string>
			<key>sourceSize</key>
			<string>{75,75}</string>
		</dict>
		<key>btn_common_close_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,382},{65,59}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,9},{65,59}}</string>
			<key>sourceSize</key>
			<string>{75,75}</string>
		</dict>
		<key>btn_common_exit_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,382},{65,59}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,9},{65,59}}</string>
			<key>sourceSize</key>
			<string>{75,75}</string>
		</dict>
		<key>btn_common_exit_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,382},{65,59}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,9},{65,59}}</string>
			<key>sourceSize</key>
			<string>{75,75}</string>
		</dict>
		<key>btn_common_hengyeqian_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,223},{157,61}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,6},{157,61}}</string>
			<key>sourceSize</key>
			<string>{163,81}</string>
		</dict>
		<key>btn_common_hengyeqian_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,453},{163,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,81}}</string>
			<key>sourceSize</key>
			<string>{163,81}</string>
		</dict>
		<key>btn_common_hengyeqianxiao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,231},{145,63}}</string>
			<key>offset</key>
			<string>{1,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{145,63}}</string>
			<key>sourceSize</key>
			<string>{159,83}</string>
		</dict>
		<key>btn_common_hengyeqianxiao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,618},{159,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,83}}</string>
			<key>sourceSize</key>
			<string>{159,83}</string>
		</dict>
		<key>btn_common_huodonganniu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,2},{219,90}}</string>
			<key>offset</key>
			<string>{-6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,90}}</string>
			<key>sourceSize</key>
			<string>{231,90}</string>
		</dict>
		<key>btn_common_huodonganniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,2},{227,78}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,7},{227,78}}</string>
			<key>sourceSize</key>
			<string>{231,90}</string>
		</dict>
		<key>btn_common_redsmall_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,712},{133,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,55}}</string>
			<key>sourceSize</key>
			<string>{133,55}</string>
		</dict>
		<key>btn_common_redsmall_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,655},{133,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,55}}</string>
			<key>sourceSize</key>
			<string>{133,55}</string>
		</dict>
		<key>btn_common_zuoyeqian_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,449},{130,76}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,0},{130,76}}</string>
			<key>sourceSize</key>
			<string>{178,76}</string>
		</dict>
		<key>btn_common_zuoyeqian_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,277},{174,76}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{174,76}}</string>
			<key>sourceSize</key>
			<string>{178,76}</string>
		</dict>
		<key>btn_haoyouanniu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,769},{93,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,86}}</string>
			<key>sourceSize</key>
			<string>{93,86}</string>
		</dict>
		<key>btn_haoyouanniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,779},{93,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,86}}</string>
			<key>sourceSize</key>
			<string>{93,86}</string>
		</dict>
		<key>btn_main_add2.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,449},{163,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,30}}</string>
			<key>sourceSize</key>
			<string>{163,30}</string>
		</dict>
		<key>pic_common_blockarea.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,686},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>pic_dizuo_buzhen.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{273,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{273,61}}</string>
			<key>sourceSize</key>
			<string>{273,61}</string>
		</dict>
		<key>pic_yueqiandao_yilingqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,527},{126,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,126}}</string>
			<key>sourceSize</key>
			<string>{126,126}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>global_btn30.png</string>
		<key>size</key>
		<string>{249,870}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>global_btn30.png</string>
	</dict>
</dict>
</plist>
