<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_bjtq_qianwangshangdian_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,291},{136,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,70}}</string>
			<key>sourceSize</key>
			<string>{136,70}</string>
		</dict>
		<key>btn_bjtq_qianwangshangdian_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{930,2},{136,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,70}}</string>
			<key>sourceSize</key>
			<string>{136,70}</string>
		</dict>
		<key>btn_zksd_hwg_haowutieshi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{767,140},{97,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,83}}</string>
			<key>sourceSize</key>
			<string>{97,83}</string>
		</dict>
		<key>btn_zksd_hwg_haowutieshi_pressl.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,140},{97,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,83}}</string>
			<key>sourceSize</key>
			<string>{97,83}</string>
		</dict>
		<key>btn_zksd_tip_goumai_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{521,140},{166,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,51}}</string>
			<key>sourceSize</key>
			<string>{166,51}</string>
		</dict>
		<key>btn_zksd_tip_goumai_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{468,308},{166,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,51}}</string>
			<key>sourceSize</key>
			<string>{166,51}</string>
		</dict>
		<key>btn_zksd_tip_goumai_zhihui.png</key>
		<dict>
			<key>frame</key>
			<string>{{468,140},{166,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,51}}</string>
			<key>sourceSize</key>
			<string>{166,51}</string>
		</dict>
		<key>pic_bjtq_shangdian.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{340,390}}</string>
			<key>offset</key>
			<string>{-5,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,12},{340,390}}</string>
			<key>sourceSize</key>
			<string>{350,402}</string>
		</dict>
		<key>pic_bjtq_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,2},{534,131}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{534,131}}</string>
			<key>sourceSize</key>
			<string>{538,131}</string>
		</dict>
		<key>pic_bjtq_yishengxiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{607,140},{149,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,73}}</string>
			<key>sourceSize</key>
			<string>{149,73}</string>
		</dict>
		<key>pic_tequanka_jiaobiao_meirishuaxin.png</key>
		<dict>
			<key>frame</key>
			<string>{{862,233},{86,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,91}}</string>
			<key>sourceSize</key>
			<string>{86,91}</string>
		</dict>
		<key>pic_tequanka_jiaobiao_meizhoushuaxin.png</key>
		<dict>
			<key>frame</key>
			<string>{{852,140},{86,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,91}}</string>
			<key>sourceSize</key>
			<string>{86,91}</string>
		</dict>
		<key>pic_tequanka_jiaobiao_qijianxianding.png</key>
		<dict>
			<key>frame</key>
			<string>{{774,239},{86,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,91}}</string>
			<key>sourceSize</key>
			<string>{86,91}</string>
		</dict>
		<key>pic_zksd_haowuguan_dabiaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,140},{220,72}}</string>
			<key>offset</key>
			<string>{-21,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,72}}</string>
			<key>sourceSize</key>
			<string>{262,72}</string>
		</dict>
		<key>pic_zksd_tanchuang_haowutieshi.png</key>
		<dict>
			<key>frame</key>
			<string>{{574,140},{162,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,31}}</string>
			<key>sourceSize</key>
			<string>{162,31}</string>
		</dict>
		<key>word_bjtq_tequanshijian.png</key>
		<dict>
			<key>frame</key>
			<string>{{179,344},{135,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,21}}</string>
			<key>sourceSize</key>
			<string>{135,21}</string>
		</dict>
		<key>word_bjtq_yuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,239},{31,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,32}}</string>
			<key>sourceSize</key>
			<string>{31,32}</string>
		</dict>
		<key>word_bjtq_zhuanshutequan.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,344},{175,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,21}}</string>
			<key>sourceSize</key>
			<string>{175,21}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_ActivityVarietyShopUI0.png</string>
		<key>size</key>
		<string>{1002,367}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_ActivityVarietyShopUI0.png</string>
	</dict>
</dict>
</plist>
