<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bg_houdong_hongwan_desc_jk.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{484,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{484,151}}</string>
			<key>sourceSize</key>
			<string>{484,151}</string>
		</dict>
		<key>btn_3zn_zjm_dzz_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,1370},{145,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,52}}</string>
			<key>sourceSize</key>
			<string>{145,52}</string>
		</dict>
		<key>btn_3zn_zjm_gg_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,373},{145,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,53}}</string>
			<key>sourceSize</key>
			<string>{145,53}</string>
		</dict>
		<key>btn_3zn_zjm_qdsd_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,783},{145,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,51}}</string>
			<key>sourceSize</key>
			<string>{145,51}</string>
		</dict>
		<key>btn_3zn_zjm_qhyy_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,1223},{145,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,52}}</string>
			<key>sourceSize</key>
			<string>{145,52}</string>
		</dict>
		<key>btn_3zn_zjm_xyc_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,973},{145,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,52}}</string>
			<key>sourceSize</key>
			<string>{145,52}</string>
		</dict>
		<key>btn_main_3zhounianqing_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,1453},{87,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,82}}</string>
			<key>sourceSize</key>
			<string>{87,82}</string>
		</dict>
		<key>btn_main_3zhounianqing_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,1453},{87,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,82}}</string>
			<key>sourceSize</key>
			<string>{87,82}</string>
		</dict>
		<key>btn_main_juezhanyincao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{269,1453},{85,82}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{85,82}}</string>
			<key>sourceSize</key>
			<string>{87,82}</string>
		</dict>
		<key>btn_main_juezhanyincao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1453},{87,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,82}}</string>
			<key>sourceSize</key>
			<string>{87,82}</string>
		</dict>
		<key>pic_hd_3zn_fyt_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1253},{198,406}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,406}}</string>
			<key>sourceSize</key>
			<string>{198,406}</string>
		</dict>
		<key>pic_hd_3zn_jrlb_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,845},{198,406}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,406}}</string>
			<key>sourceSize</key>
			<string>{198,406}</string>
		</dict>
		<key>pic_hd_3zn_jrlbb_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,437},{198,406}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,406}}</string>
			<key>sourceSize</key>
			<string>{198,406}</string>
		</dict>
		<key>pic_hd_3zn_qdzz_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,845},{198,406}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,406}}</string>
			<key>sourceSize</key>
			<string>{198,406}</string>
		</dict>
		<key>pic_hd_3zn_xyc_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,437},{198,406}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,406}}</string>
			<key>sourceSize</key>
			<string>{198,406}</string>
		</dict>
		<key>pic_hd_3zn_xyc_youdiban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,155},{335,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{335,280}}</string>
			<key>sourceSize</key>
			<string>{335,280}</string>
		</dict>
		<key>pic_hd_qhmy_zi_hdtj.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,1223},{100,24}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{100,24}}</string>
			<key>sourceSize</key>
			<string>{102,26}</string>
		</dict>
		<key>pic_hd_qhmy_zi_shengdanxuyuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,783},{188,29}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{188,29}}</string>
			<key>sourceSize</key>
			<string>{192,29}</string>
		</dict>
		<key>pic_hd_qhmy_zi_wdfp.png</key>
		<dict>
			<key>frame</key>
			<string>{{462,428},{113,26}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{113,26}}</string>
			<key>sourceSize</key>
			<string>{119,26}</string>
		</dict>
		<key>pic_jzyc_mtkq.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,1417},{90,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,27}}</string>
			<key>sourceSize</key>
			<string>{90,27}</string>
		</dict>
		<key>pic_jzyc_yzl.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,1120},{101,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,84}}</string>
			<key>sourceSize</key>
			<string>{101,84}</string>
		</dict>
		<key>pic_jzyc_zbz.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,1325},{90,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,27}}</string>
			<key>sourceSize</key>
			<string>{90,27}</string>
		</dict>
		<key>pic_tz_jzyc_xue5.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,155},{216,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,142}}</string>
			<key>sourceSize</key>
			<string>{216,142}</string>
		</dict>
		<key>title_jzyc.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,603},{178,46}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,46}}</string>
			<key>sourceSize</key>
			<string>{182,46}</string>
		</dict>
		<key>title_tz_jzyc.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,428},{173,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,58}}</string>
			<key>sourceSize</key>
			<string>{173,58}</string>
		</dict>
		<key>word_tz_jzyc_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{456,972},{31,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,47}}</string>
			<key>sourceSize</key>
			<string>{31,47}</string>
		</dict>
		<key>word_tz_jzyc_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,603},{39,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,48}}</string>
			<key>sourceSize</key>
			<string>{39,48}</string>
		</dict>
		<key>word_tz_jzyc_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,1453},{40,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,48}}</string>
			<key>sourceSize</key>
			<string>{40,48}</string>
		</dict>
		<key>word_tz_jzyc_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,703},{37,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,47}}</string>
			<key>sourceSize</key>
			<string>{37,47}</string>
		</dict>
		<key>word_tz_jzyc_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,653},{38,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,48}}</string>
			<key>sourceSize</key>
			<string>{38,48}</string>
		</dict>
		<key>word_tz_jzyc_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,930},{40,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,48}}</string>
			<key>sourceSize</key>
			<string>{40,48}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_threeYears0.png</string>
		<key>size</key>
		<string>{494,1537}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_threeYears0.png</string>
	</dict>
</dict>
</plist>
