<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_zl_ygnz_sdssz_bisha1_dq_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{749,715},{96,102}}</string>
			<key>offset</key>
			<string>{2,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,19},{96,102}}</string>
			<key>sourceSize</key>
			<string>{150,146}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha1_fz_00040.png</key>
		<dict>
			<key>frame</key>
			<string>{{247,561},{89,255}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,255}}</string>
			<key>sourceSize</key>
			<string>{89,255}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha3_jc_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,817},{141,205}}</string>
			<key>offset</key>
			<string>{3,-34}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,68},{141,205}}</string>
			<key>sourceSize</key>
			<string>{217,273}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha3_jc_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,2},{193,273}}</string>
			<key>offset</key>
			<string>{9,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,0},{193,273}}</string>
			<key>sourceSize</key>
			<string>{217,273}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_bb1_00180.png</key>
		<dict>
			<key>frame</key>
			<string>{{859,358},{149,147}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,41},{149,147}}</string>
			<key>sourceSize</key>
			<string>{221,229}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_cc2_00143.png</key>
		<dict>
			<key>frame</key>
			<string>{{337,774},{40,112}}</string>
			<key>offset</key>
			<string>{88,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{176,7},{40,112}}</string>
			<key>sourceSize</key>
			<string>{216,128}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_cc3_00133.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,533},{84,27}}</string>
			<key>offset</key>
			<string>{4,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,11},{84,27}}</string>
			<key>sourceSize</key>
			<string>{92,39}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_ccbd_00140.png</key>
		<dict>
			<key>frame</key>
			<string>{{555,490},{119,130}}</string>
			<key>offset</key>
			<string>{19,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58,30},{119,130}}</string>
			<key>sourceSize</key>
			<string>{197,160}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_fz2_00168.png</key>
		<dict>
			<key>frame</key>
			<string>{{678,390},{172,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,60}}</string>
			<key>sourceSize</key>
			<string>{172,60}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_fz2_00176.png</key>
		<dict>
			<key>frame</key>
			<string>{{678,451},{172,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,60}}</string>
			<key>sourceSize</key>
			<string>{172,60}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_qg_00069.png</key>
		<dict>
			<key>frame</key>
			<string>{{337,533},{217,240}}</string>
			<key>offset</key>
			<string>{-22,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,95},{217,240}}</string>
			<key>sourceSize</key>
			<string>{335,380}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_qg_00077.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,287},{273,204}}</string>
			<key>offset</key>
			<string>{6,-20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,108},{273,204}}</string>
			<key>sourceSize</key>
			<string>{335,380}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_qg_00081.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,2},{253,254}}</string>
			<key>offset</key>
			<string>{4,-46}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,109},{253,254}}</string>
			<key>sourceSize</key>
			<string>{335,380}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_qg_00085.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,561},{269,244}}</string>
			<key>offset</key>
			<string>{15,-41}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{48,109},{269,244}}</string>
			<key>sourceSize</key>
			<string>{335,380}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_qg_00105.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,257},{213,232}}</string>
			<key>offset</key>
			<string>{-13,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,72},{213,232}}</string>
			<key>sourceSize</key>
			<string>{335,380}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_qg_00109.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,2},{231,216}}</string>
			<key>offset</key>
			<string>{-29,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,85},{231,216}}</string>
			<key>sourceSize</key>
			<string>{335,380}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_qg_00113.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,815},{213,206}}</string>
			<key>offset</key>
			<string>{-27,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,95},{213,206}}</string>
			<key>sourceSize</key>
			<string>{335,380}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_qg_00121.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{193,284}}</string>
			<key>offset</key>
			<string>{-22,31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{49,17},{193,284}}</string>
			<key>sourceSize</key>
			<string>{335,380}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_qg_xw_00066.png</key>
		<dict>
			<key>frame</key>
			<string>{{610,815},{203,206}}</string>
			<key>offset</key>
			<string>{0,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{50,22},{203,206}}</string>
			<key>sourceSize</key>
			<string>{303,270}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_daiji_db_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,831},{186,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,57}}</string>
			<key>sourceSize</key>
			<string>{186,57}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_daiji_lz_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{861,2},{119,161}}</string>
			<key>offset</key>
			<string>{6,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,28},{119,161}}</string>
			<key>sourceSize</key>
			<string>{147,191}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_daiji_lz_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{852,715},{141,167}}</string>
			<key>offset</key>
			<string>{3,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,6},{141,167}}</string>
			<key>sourceSize</key>
			<string>{147,191}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_daiji_lz_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{861,212},{145,157}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,17},{145,157}}</string>
			<key>sourceSize</key>
			<string>{147,191}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_daiji_lz_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{861,122},{89,159}}</string>
			<key>offset</key>
			<string>{5,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{34,27},{89,159}}</string>
			<key>sourceSize</key>
			<string>{147,191}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_daiji_lz_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{675,512},{105,143}}</string>
			<key>offset</key>
			<string>{7,-24}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28,48},{105,143}}</string>
			<key>sourceSize</key>
			<string>{147,191}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_daiji_sd_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{749,618},{83,64}}</string>
			<key>offset</key>
			<string>{4,-23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,46},{83,64}}</string>
			<key>sourceSize</key>
			<string>{99,110}</string>
		</dict>
		<key>zl_ygnz_sdssz_bisha1_dq2_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{814,857},{164,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,165}}</string>
			<key>sourceSize</key>
			<string>{164,165}</string>
		</dict>
		<key>zl_ygnz_sdssz_bisha4_bg_00154.png</key>
		<dict>
			<key>frame</key>
			<string>{{819,512},{202,202}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,202}}</string>
			<key>sourceSize</key>
			<string>{202,202}</string>
		</dict>
		<key>zl_ygnz_sdssz_bisha4_fzg_add.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,276},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{256,256}}</string>
			<key>sourceSize</key>
			<string>{258,258}</string>
		</dict>
		<key>zl_ygnz_sdssz_bisha4_ps3_00147.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,831},{193,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,190}}</string>
			<key>sourceSize</key>
			<string>{193,190}</string>
		</dict>
		<key>zl_ygnz_sdssz_bisha4_ps4_00150.png</key>
		<dict>
			<key>frame</key>
			<string>{{555,621},{193,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,193}}</string>
			<key>sourceSize</key>
			<string>{193,193}</string>
		</dict>
		<key>zl_ygnz_sdssz_bisha4_ps5_00166.png</key>
		<dict>
			<key>frame</key>
			<string>{{678,234},{155,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,180}}</string>
			<key>sourceSize</key>
			<string>{155,180}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>ygnzYGSZ_common2.png</string>
		<key>scale</key>
		<real>0.7</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ygnzYGSZ_common2.png</string>
	</dict>
</dict>
</plist>
