<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_jjlke_liumenbisha_youhuoyan_00176.png</key>
		<dict>
			<key>frame</key>
			<string>{{979,322},{43,44}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{43,44}}</string>
			<key>sourceSize</key>
			<string>{45,52}</string>
		</dict>
		<key>New_jjlke_liumenbisha_zhongliqiu_00036.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,511},{482,390}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{482,390}}</string>
			<key>sourceSize</key>
			<string>{482,390}</string>
		</dict>
		<key>New_jjlke_liumenbishachao_bo2_00308.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,275},{365,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{365,115}}</string>
			<key>sourceSize</key>
			<string>{365,115}</string>
		</dict>
		<key>New_jjlke_liumenbishachao_bo2_00320.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,511},{408,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{408,164}}</string>
			<key>sourceSize</key>
			<string>{408,164}</string>
		</dict>
		<key>New_jjlke_liumenbishachao_bo2_00324.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,2},{409,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{409,159}}</string>
			<key>sourceSize</key>
			<string>{409,159}</string>
		</dict>
		<key>New_jjlke_liumenbishachao_bo2_00340.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,162},{409,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{409,112}}</string>
			<key>sourceSize</key>
			<string>{409,112}</string>
		</dict>
		<key>New_jjlke_liumenbishachao_bo_00328.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{222,508}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{222,508}}</string>
			<key>sourceSize</key>
			<string>{224,508}</string>
		</dict>
		<key>New_jjlke_liumenbishachao_bo_00332.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,511},{219,484}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{219,484}}</string>
			<key>sourceSize</key>
			<string>{225,484}</string>
		</dict>
		<key>New_jjlke_liumenbishachao_dajihuo2_00255.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,267},{142,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,123}}</string>
			<key>sourceSize</key>
			<string>{142,123}</string>
		</dict>
		<key>New_jjlke_liumenbishachao_huogensui_00254.png</key>
		<dict>
			<key>frame</key>
			<string>{{688,391},{134,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,119}}</string>
			<key>sourceSize</key>
			<string>{134,119}</string>
		</dict>
		<key>New_jjlke_liumenbishachao_huogensui_00282.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,996},{21,30}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{21,30}}</string>
			<key>sourceSize</key>
			<string>{21,38}</string>
		</dict>
		<key>New_jjlke_liumenbishachao_renhouhuoyan_00135.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,391},{119,217}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,217}}</string>
			<key>sourceSize</key>
			<string>{119,225}</string>
		</dict>
		<key>New_jjlke_liumenbishachao_shouzhanghuo_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{979,367},{43,44}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{43,44}}</string>
			<key>sourceSize</key>
			<string>{45,52}</string>
		</dict>
		<key>New_jjlke_liumenbishachao_yidonghuoyan_00175.png</key>
		<dict>
			<key>frame</key>
			<string>{{979,275},{46,43}}</string>
			<key>offset</key>
			<string>{-3,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,6},{46,43}}</string>
			<key>sourceSize</key>
			<string>{56,51}</string>
		</dict>
		<key>New_jjlke_putongbisha_quan_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{853,809},{169,186}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,186}}</string>
			<key>sourceSize</key>
			<string>{169,186}</string>
		</dict>
		<key>New_jjlke_putongbisha_quan_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,267},{243,244}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{243,244}}</string>
			<key>sourceSize</key>
			<string>{243,244}</string>
		</dict>
		<key>New_jjlke_putonggongji_daoguang2_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{823,412},{98,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,164}}</string>
			<key>sourceSize</key>
			<string>{98,164}</string>
		</dict>
		<key>New_jjlke_putonggongji_daoguang_00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,809},{239,212}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{239,212}}</string>
			<key>sourceSize</key>
			<string>{239,212}</string>
		</dict>
		<key>New_jjlke_xiaojineng_bo2_00123.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,676},{407,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{407,132}}</string>
			<key>sourceSize</key>
			<string>{407,132}</string>
		</dict>
		<key>New_jjlke_xiaojineng_bo_00111.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,2},{264,387}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{264,387}}</string>
			<key>sourceSize</key>
			<string>{264,387}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>jjlkeXV_common0.png</string>
		<key>scale</key>
		<real>0.5</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>jjlkeXV_common0.png</string>
	</dict>
</dict>
</plist>
