<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask01_BG_10016601image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{172,231}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,231}}</string>
			<key>sourceSize</key>
			<string>{172,231}</string>
		</dict>
		<key>mask02_BG_10016601image.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,761},{135,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,140}}</string>
			<key>sourceSize</key>
			<string>{135,140}</string>
		</dict>
		<key>wy_10_10_88770_BG_10016601image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,761},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_11_11_92803_BG_10016601image.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,587},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_12_12_36219_BG_10016601image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,644},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_13_13_15781_BG_10016601image.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,587},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_14_14_43543_BG_10016601image.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,470},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_15_15_27470_BG_10016601image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,527},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_16_16_52743_BG_10016601image.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,470},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_17_17_24714_BG_10016601image.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,353},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_18_18_54193_BG_10016601image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,410},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_19_19_29117_BG_10016601image.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,353},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_20_20_60616_BG_10016601image.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,236},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_21_21_57706_BG_10016601image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,293},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_22_22_12495_BG_10016601image.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,236},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_7_7_25238_BG_10016601image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,176},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_8_8_88845_BG_10016601image.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,119},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_9_9_50861_BG_10016601image.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,2},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>ys_BG_10016601image.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,903},{109,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,110}}</string>
			<key>sourceSize</key>
			<string>{109,110}</string>
		</dict>
		<key>zs_BG_10016601image.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,2},{92,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,67}}</string>
			<key>sourceSize</key>
			<string>{92,67}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>BG_10016601image.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>BG_10016601image.png</string>
	</dict>
</dict>
</plist>
