<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_lysp_dp_cyy_aocao_9g.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,1528},{240,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,37}}</string>
			<key>sourceSize</key>
			<string>{240,37}</string>
		</dict>
		<key>btn_lysp_dp_cyy_huang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,1577},{105,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,33}}</string>
			<key>sourceSize</key>
			<string>{105,33}</string>
		</dict>
		<key>btn_lysp_dp_cyy_huang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,1542},{105,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,33}}</string>
			<key>sourceSize</key>
			<string>{105,33}</string>
		</dict>
		<key>btn_lysp_dp_djz_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{785,1326},{145,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,49}}</string>
			<key>sourceSize</key>
			<string>{145,49}</string>
		</dict>
		<key>btn_lysp_dp_djz_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{785,1275},{145,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,49}}</string>
			<key>sourceSize</key>
			<string>{145,49}</string>
		</dict>
		<key>btn_lysp_dp_pbqtwjfy_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,1523},{196,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,33}}</string>
			<key>sourceSize</key>
			<string>{196,33}</string>
		</dict>
		<key>btn_lysp_dp_pbqtwjfy_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,1467},{196,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,33}}</string>
			<key>sourceSize</key>
			<string>{196,33}</string>
		</dict>
		<key>btn_lysp_dp_xxpai.png</key>
		<dict>
			<key>frame</key>
			<string>{{825,566},{31,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,53}}</string>
			<key>sourceSize</key>
			<string>{31,53}</string>
		</dict>
		<key>btn_lysp_dtcgz_gb_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{707,1360},{59,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,59}}</string>
			<key>sourceSize</key>
			<string>{59,59}</string>
		</dict>
		<key>btn_lysp_dtcgz_gb_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,1732},{59,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,59}}</string>
			<key>sourceSize</key>
			<string>{59,59}</string>
		</dict>
		<key>btn_lysp_hydz_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,1408},{200,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,57}}</string>
			<key>sourceSize</key>
			<string>{200,57}</string>
		</dict>
		<key>btn_lysp_hydz_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,1336},{200,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,57}}</string>
			<key>sourceSize</key>
			<string>{200,57}</string>
		</dict>
		<key>btn_lysp_shuaxin_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{817,1725},{57,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,57}}</string>
			<key>sourceSize</key>
			<string>{57,57}</string>
		</dict>
		<key>btn_lysp_shuaxin_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{758,1725},{57,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,57}}</string>
			<key>sourceSize</key>
			<string>{57,57}</string>
		</dict>
		<key>btn_lysp_xtcchfj_anniu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{461,1628},{177,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,61}}</string>
			<key>sourceSize</key>
			<string>{177,61}</string>
		</dict>
		<key>btn_lysp_xtcchfj_anniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{461,1565},{177,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,61}}</string>
			<key>sourceSize</key>
			<string>{177,61}</string>
		</dict>
		<key>btn_lysp_xtcgmts_jh_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{692,1421},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>btn_lysp_xtcgmts_jh_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{912,1729},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>btn_lysp_xtcgmts_jiahao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{876,1729},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>btn_lysp_xtcgmts_jiahao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{817,887},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>btn_lysp_ztchydz_anniu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{461,1502},{177,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,61}}</string>
			<key>sourceSize</key>
			<string>{177,61}</string>
		</dict>
		<key>btn_lysp_ztchydz_anniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,1497},{177,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,61}}</string>
			<key>sourceSize</key>
			<string>{177,61}</string>
		</dict>
		<key>btn_lysp_ztchydz_anniu_shuru_.png</key>
		<dict>
			<key>frame</key>
			<string>{{820,923},{31,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,33}}</string>
			<key>sourceSize</key>
			<string>{31,33}</string>
		</dict>
		<key>btn_lysp_ztchydz_anniu_shuru_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,1721},{31,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,33}}</string>
			<key>sourceSize</key>
			<string>{31,33}</string>
		</dict>
		<key>pic_lysp_daoju_xzk.png</key>
		<dict>
			<key>frame</key>
			<string>{{916,321},{98,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,98}}</string>
			<key>sourceSize</key>
			<string>{98,98}</string>
		</dict>
		<key>pic_lysp_dp_biao_baoji.png</key>
		<dict>
			<key>frame</key>
			<string>{{968,1682},{36,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,42}}</string>
			<key>sourceSize</key>
			<string>{36,42}</string>
		</dict>
		<key>pic_lysp_dp_biao_kl.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,1395},{112,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,100}}</string>
			<key>sourceSize</key>
			<string>{112,100}</string>
		</dict>
		<key>pic_lysp_dp_biao_shou.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,1187},{72,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,74}}</string>
			<key>sourceSize</key>
			<string>{72,74}</string>
		</dict>
		<key>pic_lysp_dp_biaoqing.png</key>
		<dict>
			<key>frame</key>
			<string>{{968,1639},{41,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,41}}</string>
			<key>sourceSize</key>
			<string>{41,41}</string>
		</dict>
		<key>pic_lysp_dp_bqk.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,1263},{71,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,70}}</string>
			<key>sourceSize</key>
			<string>{71,70}</string>
		</dict>
		<key>pic_lysp_dp_cyy_dadi.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,1033},{278,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{278,136}}</string>
			<key>sourceSize</key>
			<string>{278,136}</string>
		</dict>
		<key>pic_lysp_dp_dhk_9g.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,1523},{209,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,56}}</string>
			<key>sourceSize</key>
			<string>{209,56}</string>
		</dict>
		<key>pic_lysp_dp_djz_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{786,1051},{79,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,27}}</string>
			<key>sourceSize</key>
			<string>{79,27}</string>
		</dict>
		<key>pic_lysp_dp_huanjiantou1.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,1734},{58,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,41}}</string>
			<key>sourceSize</key>
			<string>{58,41}</string>
		</dict>
		<key>pic_lysp_dp_icon_caidan.png</key>
		<dict>
			<key>frame</key>
			<string>{{578,1691},{100,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,90}}</string>
			<key>sourceSize</key>
			<string>{100,90}</string>
		</dict>
		<key>pic_lysp_dp_icon_da_zadan.png</key>
		<dict>
			<key>frame</key>
			<string>{{820,956},{181,191}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,191}}</string>
			<key>sourceSize</key>
			<string>{181,191}</string>
		</dict>
		<key>pic_lysp_dp_icon_foujue.png</key>
		<dict>
			<key>frame</key>
			<string>{{688,1615},{96,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,88}}</string>
			<key>sourceSize</key>
			<string>{96,88}</string>
		</dict>
		<key>pic_lysp_dp_icon_jiaohuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{929,1453},{90,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,81}}</string>
			<key>sourceSize</key>
			<string>{90,81}</string>
		</dict>
		<key>pic_lysp_dp_icon_kanchuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,1545},{92,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,90}}</string>
			<key>sourceSize</key>
			<string>{92,90}</string>
		</dict>
		<key>pic_lysp_dp_icon_suoyao.png</key>
		<dict>
			<key>frame</key>
			<string>{{932,1368},{82,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,83}}</string>
			<key>sourceSize</key>
			<string>{82,83}</string>
		</dict>
		<key>pic_lysp_dp_icon_tiaoguo.png</key>
		<dict>
			<key>frame</key>
			<string>{{786,1633},{90,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,90}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>pic_lysp_dp_icon_xipai.png</key>
		<dict>
			<key>frame</key>
			<string>{{932,1275},{91,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,82}}</string>
			<key>sourceSize</key>
			<string>{91,82}</string>
		</dict>
		<key>pic_lysp_dp_icon_zadan.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,1444},{92,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,94}}</string>
			<key>sourceSize</key>
			<string>{92,94}</string>
		</dict>
		<key>pic_lysp_dp_icon_zhanbu.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,1691},{89,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,101}}</string>
			<key>sourceSize</key>
			<string>{89,101}</string>
		</dict>
		<key>pic_lysp_dp_icon_zhishi.png</key>
		<dict>
			<key>frame</key>
			<string>{{878,1639},{88,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,88}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>pic_lysp_dp_icon_zhuanxiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{489,1691},{101,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,87}}</string>
			<key>sourceSize</key>
			<string>{101,87}</string>
		</dict>
		<key>pic_lysp_dp_jiantou.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,1323},{210,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,83}}</string>
			<key>sourceSize</key>
			<string>{210,83}</string>
		</dict>
		<key>pic_lysp_dp_jindutiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{993,2},{98,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,13}}</string>
			<key>sourceSize</key>
			<string>{98,13}</string>
		</dict>
		<key>pic_lysp_dp_jindutiao_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{688,1467},{47,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,146}}</string>
			<key>sourceSize</key>
			<string>{47,146}</string>
		</dict>
		<key>pic_lysp_dp_mz_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{786,1377},{134,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,26}}</string>
			<key>sourceSize</key>
			<string>{134,26}</string>
		</dict>
		<key>pic_lysp_dp_pai_huang.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,1523},{126,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,207}}</string>
			<key>sourceSize</key>
			<string>{126,207}</string>
		</dict>
		<key>pic_lysp_dp_pai_kabei.png</key>
		<dict>
			<key>frame</key>
			<string>{{786,1139},{134,215}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,215}}</string>
			<key>sourceSize</key>
			<string>{134,215}</string>
		</dict>
		<key>pic_lysp_dp_pai_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,1395},{126,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,207}}</string>
			<key>sourceSize</key>
			<string>{126,207}</string>
		</dict>
		<key>pic_lysp_dp_pai_lv.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,1187},{134,215}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,215}}</string>
			<key>sourceSize</key>
			<string>{134,215}</string>
		</dict>
		<key>pic_lysp_dp_pai_zd.png</key>
		<dict>
			<key>frame</key>
			<string>{{611,923},{126,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,207}}</string>
			<key>sourceSize</key>
			<string>{126,207}</string>
		</dict>
		<key>pic_lysp_dp_pai_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{569,1051},{134,215}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,215}}</string>
			<key>sourceSize</key>
			<string>{134,215}</string>
		</dict>
		<key>pic_lysp_dp_shengyupai_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{916,421},{80,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,129}}</string>
			<key>sourceSize</key>
			<string>{80,129}</string>
		</dict>
		<key>pic_lysp_dp_xiaohaodi_aocao.png</key>
		<dict>
			<key>frame</key>
			<string>{{786,1405},{120,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,37}}</string>
			<key>sourceSize</key>
			<string>{120,37}</string>
		</dict>
		<key>pic_lysp_dp_xiaopai.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,1528},{45,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,28}}</string>
			<key>sourceSize</key>
			<string>{45,28}</string>
		</dict>
		<key>pic_lysp_dp_xiaozhadan_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{901,218},{112,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,101}}</string>
			<key>sourceSize</key>
			<string>{112,101}</string>
		</dict>
		<key>pic_lysp_dp_xiaozhadan_jd.png</key>
		<dict>
			<key>frame</key>
			<string>{{844,1540},{77,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,91}}</string>
			<key>sourceSize</key>
			<string>{77,91}</string>
		</dict>
		<key>pic_lysp_dp_xyxzmbwj_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,953},{387,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{387,31}}</string>
			<key>sourceSize</key>
			<string>{387,31}</string>
		</dict>
		<key>pic_lysp_dtcgz_db_aocao_9g.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,953},{65,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,61}}</string>
			<key>sourceSize</key>
			<string>{65,61}</string>
		</dict>
		<key>pic_lysp_dtcgz_js_hwd.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,327},{309,310}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{309,310}}</string>
			<key>sourceSize</key>
			<string>{309,310}</string>
		</dict>
		<key>pic_lysp_dtcgz_mzd.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,1502},{176,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,34}}</string>
			<key>sourceSize</key>
			<string>{176,34}</string>
		</dict>
		<key>pic_lysp_dtcgz_tm_ty.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,257},{484,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{484,79}}</string>
			<key>sourceSize</key>
			<string>{484,79}</string>
		</dict>
		<key>pic_lysp_dtcgz_tm_zj.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,176},{484,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{484,79}}</string>
			<key>sourceSize</key>
			<string>{484,79}</string>
		</dict>
		<key>pic_lysp_dtcgz_yeqian_xzd.png</key>
		<dict>
			<key>frame</key>
			<string>{{948,1729},{23,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,23}}</string>
			<key>sourceSize</key>
			<string>{23,23}</string>
		</dict>
		<key>pic_lysp_hdsj_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,953},{394,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{394,38}}</string>
			<key>sourceSize</key>
			<string>{394,38}</string>
		</dict>
		<key>pic_lysp_jfpm_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,566},{411,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{411,73}}</string>
			<key>sourceSize</key>
			<string>{411,73}</string>
		</dict>
		<key>pic_lysp_kabei.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1558},{134,215}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,215}}</string>
			<key>sourceSize</key>
			<string>{134,215}</string>
		</dict>
		<key>pic_lysp_paihangbang_jfdj_100.png</key>
		<dict>
			<key>frame</key>
			<string>{{670,1705},{86,86}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,9},{86,86}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>pic_lysp_paihangbang_jfdj_50.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,1349},{44,44}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{44,44}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>pic_lysp_paihangbang_shijian_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,953},{432,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{432,47}}</string>
			<key>sourceSize</key>
			<string>{432,47}</string>
		</dict>
		<key>pic_lysp_paihangbang_xuweiyidai_huawen.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,2},{430,172}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{430,172}}</string>
			<key>sourceSize</key>
			<string>{430,172}</string>
		</dict>
		<key>pic_lysp_paihangbang_ytm_pm1_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,490},{502,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{502,74}}</string>
			<key>sourceSize</key>
			<string>{502,74}</string>
		</dict>
		<key>pic_lysp_paihangbang_ytm_pm2_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,414},{502,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{502,74}}</string>
			<key>sourceSize</key>
			<string>{502,74}</string>
		</dict>
		<key>pic_lysp_paihangbang_ytm_pm3_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,338},{502,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{502,74}}</string>
			<key>sourceSize</key>
			<string>{502,74}</string>
		</dict>
		<key>pic_lysp_paihangbang_ytm_pm4_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,1024},{502,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{502,74}}</string>
			<key>sourceSize</key>
			<string>{502,74}</string>
		</dict>
		<key>pic_lysp_paihangbang_ytm_ziji_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1024},{532,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{532,87}}</string>
			<key>sourceSize</key>
			<string>{532,87}</string>
		</dict>
		<key>pic_lysp_paihangbang_zuodi1.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,837},{194,312}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,312}}</string>
			<key>sourceSize</key>
			<string>{194,312}</string>
		</dict>
		<key>pic_lysp_paihangbang_zuodi2.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,641},{194,312}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,312}}</string>
			<key>sourceSize</key>
			<string>{194,312}</string>
		</dict>
		<key>pic_lysp_paihangbang_zuodi3.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,639},{194,312}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,312}}</string>
			<key>sourceSize</key>
			<string>{194,312}</string>
		</dict>
		<key>pic_lysp_sd_diban_9g.png</key>
		<dict>
			<key>frame</key>
			<string>{{901,109},{113,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,107}}</string>
			<key>sourceSize</key>
			<string>{113,107}</string>
		</dict>
		<key>pic_lysp_sd_diban_hw1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{1020,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1020,97}}</string>
			<key>sourceSize</key>
			<string>{1020,97}</string>
		</dict>
		<key>pic_lysp_sd_diban_hw2.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,2},{312,323}}</string>
			<key>offset</key>
			<string>{-35,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{312,323}}</string>
			<key>sourceSize</key>
			<string>{382,365}</string>
		</dict>
		<key>pic_lysp_sd_diban_hw3.png</key>
		<dict>
			<key>frame</key>
			<string>{{611,641},{204,280}}</string>
			<key>offset</key>
			<string>{10,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,0},{204,280}}</string>
			<key>sourceSize</key>
			<string>{224,280}</string>
		</dict>
		<key>pic_lysp_sd_diban_tm_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,1171},{163,204}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,204}}</string>
			<key>sourceSize</key>
			<string>{163,204}</string>
		</dict>
		<key>pic_lysp_xtcgmts_sl_aocao.png</key>
		<dict>
			<key>frame</key>
			<string>{{707,1335},{76,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,23}}</string>
			<key>sourceSize</key>
			<string>{76,23}</string>
		</dict>
		<key>pic_lysp_xtchydz_ghhy_txk.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,1444},{96,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>pic_lysp_xtchydz_s.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,1187},{72,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,74}}</string>
			<key>sourceSize</key>
			<string>{72,74}</string>
		</dict>
		<key>pic_lysp_xtchydz_tt.png</key>
		<dict>
			<key>frame</key>
			<string>{{676,1502},{10,191}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,191}}</string>
			<key>sourceSize</key>
			<string>{10,191}</string>
		</dict>
		<key>pic_lysp_xtchydz_ttd.png</key>
		<dict>
			<key>frame</key>
			<string>{{817,641},{51,244}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,244}}</string>
			<key>sourceSize</key>
			<string>{51,244}</string>
		</dict>
		<key>pic_lysp_xtchydz_wzd.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,1523},{209,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,56}}</string>
			<key>sourceSize</key>
			<string>{209,56}</string>
		</dict>
		<key>pic_lysp_xtchydz_yjjx.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,1528},{240,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,37}}</string>
			<key>sourceSize</key>
			<string>{240,37}</string>
		</dict>
		<key>pic_lysp_xtchydz_yjjxanl.png</key>
		<dict>
			<key>frame</key>
			<string>{{785,1326},{145,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,49}}</string>
			<key>sourceSize</key>
			<string>{145,49}</string>
		</dict>
		<key>pic_lysp_xtchydz_yjjxany.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,1542},{105,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,33}}</string>
			<key>sourceSize</key>
			<string>{105,33}</string>
		</dict>
		<key>pic_lysp_xtchydz_yjjxb.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,1528},{240,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,37}}</string>
			<key>sourceSize</key>
			<string>{240,37}</string>
		</dict>
		<key>pic_lysp_xtchydz_yjjxh.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,1577},{105,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,33}}</string>
			<key>sourceSize</key>
			<string>{105,33}</string>
		</dict>
		<key>pic_lysp_xtchydz_yjjxhs.png</key>
		<dict>
			<key>frame</key>
			<string>{{786,1051},{79,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,27}}</string>
			<key>sourceSize</key>
			<string>{79,27}</string>
		</dict>
		<key>pic_lysp_xtchydz_zj.png</key>
		<dict>
			<key>frame</key>
			<string>{{968,1682},{36,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,42}}</string>
			<key>sourceSize</key>
			<string>{36,42}</string>
		</dict>
		<key>pic_lysp_ztchydz_jh.png</key>
		<dict>
			<key>frame</key>
			<string>{{847,109},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>pic_lysp_ztchydz_tm_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,761},{144,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,193}}</string>
			<key>sourceSize</key>
			<string>{144,193}</string>
		</dict>
		<key>pic_lysp_ztchydz_tm_di_zd.png</key>
		<dict>
			<key>frame</key>
			<string>{{847,2},{144,105}}</string>
			<key>offset</key>
			<string>{0,-44}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,88},{144,105}}</string>
			<key>sourceSize</key>
			<string>{144,193}</string>
		</dict>
		<key>pic_lysp_ztchydz_tmziji_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,566},{144,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,193}}</string>
			<key>sourceSize</key>
			<string>{144,193}</string>
		</dict>
		<key>pic_lysp_ztchydz_x.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,1732},{61,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,60}}</string>
			<key>sourceSize</key>
			<string>{61,60}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>FlameCard0.png</string>
		<key>size</key>
		<string>{1016,1794}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>FlameCard0.png</string>
	</dict>
</dict>
</plist>
