<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Death01_caibaoqixiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,120},{122,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,123}}</string>
			<key>sourceSize</key>
			<string>{122,123}</string>
		</dict>
		<key>Death02_caibaoqixiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,2},{122,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,123}}</string>
			<key>sourceSize</key>
			<string>{122,123}</string>
		</dict>
		<key>R-tui02_caibaoqixiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,328},{15,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,18}}</string>
			<key>sourceSize</key>
			<string>{15,18}</string>
		</dict>
		<key>R_zs_caibaoqixiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,244},{16,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,58}}</string>
			<key>sourceSize</key>
			<string>{16,58}</string>
		</dict>
		<key>Run_caibaoqixiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{116,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,124}}</string>
			<key>sourceSize</key>
			<string>{116,124}</string>
		</dict>
		<key>S-shenti_caibaoqixiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,430},{59,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,44}}</string>
			<key>sourceSize</key>
			<string>{59,44}</string>
		</dict>
		<key>S-shoubi_caibaoqixiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,353},{96,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,39}}</string>
			<key>sourceSize</key>
			<string>{96,39}</string>
		</dict>
		<key>S-tou_caibaoqixiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,337},{116,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,91}}</string>
			<key>sourceSize</key>
			<string>{116,91}</string>
		</dict>
		<key>S-tui_caibaoqixiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,394},{51,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,23}}</string>
			<key>sourceSize</key>
			<string>{51,23}</string>
		</dict>
		<key>cbjjjjjjj_caibaoqixiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,126},{116,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,120}}</string>
			<key>sourceSize</key>
			<string>{116,120}</string>
		</dict>
		<key>cbjq_caibaoqixiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,348},{17,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,12}}</string>
			<key>sourceSize</key>
			<string>{17,12}</string>
		</dict>
		<key>cbjqg_caibaoqixiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,456},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>cbjs_caibaoqixiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,394},{33,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,36}}</string>
			<key>sourceSize</key>
			<string>{33,36}</string>
		</dict>
		<key>cbjt_caibaoqixiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,394},{22,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,20}}</string>
			<key>sourceSize</key>
			<string>{22,20}</string>
		</dict>
		<key>r_db_caibaoqixiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,416},{20,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,22}}</string>
			<key>sourceSize</key>
			<string>{20,22}</string>
		</dict>
		<key>r_kua_caibaoqixiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,353},{26,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,18}}</string>
			<key>sourceSize</key>
			<string>{26,18}</string>
		</dict>
		<key>r_shenti_caibaoqixiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,419},{38,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,35}}</string>
			<key>sourceSize</key>
			<string>{38,35}</string>
		</dict>
		<key>r_t01_caibaoqixiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,377},{9,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,18}}</string>
			<key>sourceSize</key>
			<string>{9,18}</string>
		</dict>
		<key>r_t02_caibaoqixiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,367},{8,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,12}}</string>
			<key>sourceSize</key>
			<string>{8,12}</string>
		</dict>
		<key>r_tou_caibaoqixiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,244},{116,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,107}}</string>
			<key>sourceSize</key>
			<string>{116,107}</string>
		</dict>
		<key>r_tui01_caibaoqixiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,304},{16,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,22}}</string>
			<key>sourceSize</key>
			<string>{16,22}</string>
		</dict>
		<key>r_xb_caibaoqixiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,438},{20,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,56}}</string>
			<key>sourceSize</key>
			<string>{20,56}</string>
		</dict>
		<key>tou_caibaoqixiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,244},{116,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,91}}</string>
			<key>sourceSize</key>
			<string>{116,91}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>caibaoqixiaorenimage.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>caibaoqixiaorenimage.png</string>
	</dict>
</dict>
</plist>
