<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_gdjqh_cs_yhcs_cs_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,813},{36,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,31}}</string>
			<key>sourceSize</key>
			<string>{36,31}</string>
		</dict>
		<key>btn_gdjqh_cs_yhcs_cs_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,805},{36,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,31}}</string>
			<key>sourceSize</key>
			<string>{36,31}</string>
		</dict>
		<key>btn_gedoujia_yuanhu_beibao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,780},{36,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,31}}</string>
			<key>sourceSize</key>
			<string>{36,31}</string>
		</dict>
		<key>btn_gedoujia_yuanhu_beibao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,772},{36,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,31}}</string>
			<key>sourceSize</key>
			<string>{36,31}</string>
		</dict>
		<key>btn_gedoujia_yuanhu_fenyeanniu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{45,2},{310,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,41}}</string>
			<key>sourceSize</key>
			<string>{310,41}</string>
		</dict>
		<key>btn_gedoujia_yuanhu_fenyeanniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{310,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,41}}</string>
			<key>sourceSize</key>
			<string>{310,41}</string>
		</dict>
		<key>pic_gdjqh_yh_kuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,651},{85,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,85}}</string>
			<key>sourceSize</key>
			<string>{85,85}</string>
		</dict>
		<key>pic_gdjqh_yh_yhsz_kfzdz_yeqian_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,314},{154,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,75}}</string>
			<key>sourceSize</key>
			<string>{154,75}</string>
		</dict>
		<key>pic_gdjqh_yh_yhsz_kuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,470},{10,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,143}}</string>
			<key>sourceSize</key>
			<string>{10,143}</string>
		</dict>
		<key>pic_gdjqh_yh_yhsz_zdz_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,488},{10,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,9}}</string>
			<key>sourceSize</key>
			<string>{10,9}</string>
		</dict>
		<key>pic_gdjqh_yh_yhsz_zdz_di_fengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,314},{1,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,5}}</string>
			<key>sourceSize</key>
			<string>{1,5}</string>
		</dict>
		<key>pic_gdjqh_yh_yhsz_zdz_di_fengexian2.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,314},{9,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,1}}</string>
			<key>sourceSize</key>
			<string>{9,1}</string>
		</dict>
		<key>pic_gdjqh_yh_yhsz_zdz_zi_dian1.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,631},{14,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,20}}</string>
			<key>sourceSize</key>
			<string>{14,20}</string>
		</dict>
		<key>pic_gdjqh_yh_yhsz_zdz_zi_dian2.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,615},{14,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,20}}</string>
			<key>sourceSize</key>
			<string>{14,20}</string>
		</dict>
		<key>pic_gdjqh_yh_yhsz_zdz_zi_dian3.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,470},{10,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,16}}</string>
			<key>sourceSize</key>
			<string>{10,16}</string>
		</dict>
		<key>pic_gedoujia_yuanhu_fenyeanniu_yangchengguize.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,738},{40,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{40,32}}</string>
			<key>sourceSize</key>
			<string>{44,32}</string>
		</dict>
		<key>pic_gedoujia_yuanhu_fenyeanniu_zhandouguize.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,738},{44,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,32}}</string>
			<key>sourceSize</key>
			<string>{44,32}</string>
		</dict>
		<key>pic_gedoujia_yuanhu_tanchuang_toumingdi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,470},{51,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,179}}</string>
			<key>sourceSize</key>
			<string>{51,179}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>intervene_20.png</string>
		<key>size</key>
		<string>{89,846}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>intervene_20.png</string>
	</dict>
</dict>
</plist>
