<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_jbs_jiangli_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{924,444},{42,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,40}}</string>
			<key>sourceSize</key>
			<string>{42,40}</string>
		</dict>
		<key>pic_jbs_jiangli_mingcidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,2},{753,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{753,98}}</string>
			<key>sourceSize</key>
			<string>{753,98}</string>
		</dict>
		<key>pic_jbs_jiangli_zijimingcida.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,2},{753,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{753,98}}</string>
			<key>sourceSize</key>
			<string>{753,98}</string>
		</dict>
		<key>pic_jbs_moshichuangkoukuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,102},{437,389}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{437,389}}</string>
			<key>sourceSize</key>
			<string>{437,389}</string>
		</dict>
		<key>pic_jbs_neikuangjiugongdi.png</key>
		<dict>
			<key>frame</key>
			<string>{{924,102},{41,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,90}}</string>
			<key>sourceSize</key>
			<string>{41,90}</string>
		</dict>
		<key>pic_jbs_paihang_mingcidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{764,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{764,64}}</string>
			<key>sourceSize</key>
			<string>{764,64}</string>
		</dict>
		<key>pic_jbs_paihang_zijimingcida.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,2},{763,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{763,81}}</string>
			<key>sourceSize</key>
			<string>{763,81}</string>
		</dict>
		<key>pic_jbs_sanjitanchuang_di_.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,493},{407,263}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{407,263}}</string>
			<key>sourceSize</key>
			<string>{407,263}</string>
		</dict>
		<key>pic_jbs_sanjitanchuang_kuaisutiaozhandi_.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,493},{407,263}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{407,263}}</string>
			<key>sourceSize</key>
			<string>{407,263}</string>
		</dict>
		<key>pic_jbs_shangdian_wupindi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,768},{249,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{249,182}}</string>
			<key>sourceSize</key>
			<string>{249,182}</string>
		</dict>
		<key>pic_jbs_shuliangxianshi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,952},{116,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,34}}</string>
			<key>sourceSize</key>
			<string>{116,34}</string>
		</dict>
		<key>pic_jbs_wanjiadi_chendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{924,145},{297,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{297,75}}</string>
			<key>sourceSize</key>
			<string>{297,75}</string>
		</dict>
		<key>pic_jbs_xiadi_chendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,102},{639,232}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{639,232}}</string>
			<key>sourceSize</key>
			<string>{639,232}</string>
		</dict>
		<key>pic_jbs_xiakuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,902},{549,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{549,41}}</string>
			<key>sourceSize</key>
			<string>{549,41}</string>
		</dict>
		<key>pic_rzjj_zb_shangsheng.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,952},{21,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,24}}</string>
			<key>sourceSize</key>
			<string>{21,24}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>championships0.png</string>
		<key>size</key>
		<string>{1016,991}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>championships0.png</string>
	</dict>
</dict>
</plist>
