<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hms_bisha_penhuo_up_00051_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{881,931},{92,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,73}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00052_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,947},{94,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,75}}</string>
			<key>sourceSize</key>
			<string>{94,75}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00053_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{589,947},{95,75}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,75}}</string>
			<key>sourceSize</key>
			<string>{97,75}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00054_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{892,856},{101,73}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,73}}</string>
			<key>sourceSize</key>
			<string>{101,75}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00055_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{796,569},{110,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,76}}</string>
			<key>sourceSize</key>
			<string>{110,76}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00056_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,765},{115,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,78}}</string>
			<key>sourceSize</key>
			<string>{115,78}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00057_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{694,648},{124,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,79}}</string>
			<key>sourceSize</key>
			<string>{124,79}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00058_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,818},{131,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,81}}</string>
			<key>sourceSize</key>
			<string>{131,81}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00059_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,818},{134,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,82}}</string>
			<key>sourceSize</key>
			<string>{134,82}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00060_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,734},{132,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,82}}</string>
			<key>sourceSize</key>
			<string>{132,82}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00061_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,734},{138,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,82}}</string>
			<key>sourceSize</key>
			<string>{138,82}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00062_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,818},{140,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,82}}</string>
			<key>sourceSize</key>
			<string>{140,82}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00063_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,818},{137,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,82}}</string>
			<key>sourceSize</key>
			<string>{137,82}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00064_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,818},{140,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,81}}</string>
			<key>sourceSize</key>
			<string>{140,81}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00065_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,858},{142,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,81}}</string>
			<key>sourceSize</key>
			<string>{142,81}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00066_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{466,620},{145,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,81}}</string>
			<key>sourceSize</key>
			<string>{145,81}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00067_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{309,653},{145,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,79}}</string>
			<key>sourceSize</key>
			<string>{145,79}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00068_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,776},{144,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,80}}</string>
			<key>sourceSize</key>
			<string>{144,80}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00069_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,858},{140,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,84}}</string>
			<key>sourceSize</key>
			<string>{140,84}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00070_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,730},{144,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,86}}</string>
			<key>sourceSize</key>
			<string>{144,86}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00071_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,684},{147,90}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,90}}</string>
			<key>sourceSize</key>
			<string>{147,92}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00072_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,636},{148,92}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,92}}</string>
			<key>sourceSize</key>
			<string>{150,92}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00073_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,556},{149,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,95}}</string>
			<key>sourceSize</key>
			<string>{149,95}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00074_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,520},{152,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,98}}</string>
			<key>sourceSize</key>
			<string>{152,98}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00075_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,535},{154,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,99}}</string>
			<key>sourceSize</key>
			<string>{154,99}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00076_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,125},{158,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,104}}</string>
			<key>sourceSize</key>
			<string>{158,104}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00077_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,2},{162,108}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,108}}</string>
			<key>sourceSize</key>
			<string>{164,108}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00078_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,2},{168,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,111}}</string>
			<key>sourceSize</key>
			<string>{168,111}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00079_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{172,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,114}}</string>
			<key>sourceSize</key>
			<string>{172,114}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00080_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,118},{162,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,116}}</string>
			<key>sourceSize</key>
			<string>{162,116}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00081_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,115},{162,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,118}}</string>
			<key>sourceSize</key>
			<string>{162,118}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00082_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{674,2},{160,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,121}}</string>
			<key>sourceSize</key>
			<string>{160,121}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00083_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,112},{160,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{160,120}}</string>
			<key>sourceSize</key>
			<string>{160,122}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00084_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,2},{162,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,121}}</string>
			<key>sourceSize</key>
			<string>{162,121}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00085_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{836,2},{158,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,124}}</string>
			<key>sourceSize</key>
			<string>{158,124}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00086_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,518},{153,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,128}}</string>
			<key>sourceSize</key>
			<string>{153,128}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00087_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,423},{154,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,131}}</string>
			<key>sourceSize</key>
			<string>{154,131}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00088_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{659,380},{155,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,136}}</string>
			<key>sourceSize</key>
			<string>{155,136}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00089_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,278},{157,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,143}}</string>
			<key>sourceSize</key>
			<string>{157,143}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00090_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,234},{157,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,146}}</string>
			<key>sourceSize</key>
			<string>{157,146}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00091_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,532},{155,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,150}}</string>
			<key>sourceSize</key>
			<string>{155,150}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00092_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,128},{157,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,149}}</string>
			<key>sourceSize</key>
			<string>{157,149}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00093_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,384},{158,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,146}}</string>
			<key>sourceSize</key>
			<string>{158,146}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00094_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,236},{158,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,146}}</string>
			<key>sourceSize</key>
			<string>{158,146}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00095_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,235},{158,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,148}}</string>
			<key>sourceSize</key>
			<string>{158,148}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00096_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,125},{158,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,151}}</string>
			<key>sourceSize</key>
			<string>{158,151}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00097_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,385},{156,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{156,148}}</string>
			<key>sourceSize</key>
			<string>{158,148}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00098_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,231},{157,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,147}}</string>
			<key>sourceSize</key>
			<string>{157,147}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00099_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{831,279},{155,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,147}}</string>
			<key>sourceSize</key>
			<string>{155,147}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00100_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{816,428},{153,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,139}}</string>
			<key>sourceSize</key>
			<string>{153,139}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00101_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,382},{154,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,136}}</string>
			<key>sourceSize</key>
			<string>{154,136}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00102_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{589,816},{129,114}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{129,114}}</string>
			<key>sourceSize</key>
			<string>{131,114}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00103_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{571,703},{121,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,111}}</string>
			<key>sourceSize</key>
			<string>{121,111}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00104_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{705,774},{122,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{122,105}}</string>
			<key>sourceSize</key>
			<string>{122,107}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00105_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,898},{119,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,97}}</string>
			<key>sourceSize</key>
			<string>{119,97}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00106_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{775,648},{115,94}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{115,94}}</string>
			<key>sourceSize</key>
			<string>{117,94}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00107_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{908,569},{109,93}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{109,93}}</string>
			<key>sourceSize</key>
			<string>{111,93}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00108_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{892,762},{107,92}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{107,92}}</string>
			<key>sourceSize</key>
			<string>{109,92}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00109_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,664},{96,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,92}}</string>
			<key>sourceSize</key>
			<string>{96,92}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00110_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,960},{60,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,59}}</string>
			<key>sourceSize</key>
			<string>{60,59}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00111_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,960},{59,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,56}}</string>
			<key>sourceSize</key>
			<string>{59,56}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00112_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,957},{53,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,56}}</string>
			<key>sourceSize</key>
			<string>{53,56}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00113_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,957},{53,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,56}}</string>
			<key>sourceSize</key>
			<string>{53,56}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00114_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,960},{54,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,56}}</string>
			<key>sourceSize</key>
			<string>{54,56}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00115_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,951},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00116_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{456,954},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00117_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{988,279},{53,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,32}}</string>
			<key>sourceSize</key>
			<string>{53,32}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00118_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{996,2},{53,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,26}}</string>
			<key>sourceSize</key>
			<string>{53,26}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00119_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{996,57},{40,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,13}}</string>
			<key>sourceSize</key>
			<string>{40,13}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00120_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,235},{10,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,9}}</string>
			<key>sourceSize</key>
			<string>{10,9}</string>
		</dict>
		<key>hms_bisha_penhuo_up_00121_hongbipenshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,118},{8,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,7}}</string>
			<key>sourceSize</key>
			<string>{8,7}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>hongbipenshangimage.png</string>
		<key>scale</key>
		<real>0.58</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>hongbipenshangimage.png</string>
	</dict>
</dict>
</plist>
