<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dian_yuanhuqifuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,188},{162,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,32}}</string>
			<key>sourceSize</key>
			<string>{162,32}</string>
		</dict>
		<key>dizuo_yuanhuqifuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,210},{269,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{269,82}}</string>
			<key>sourceSize</key>
			<string>{269,82}</string>
		</dict>
		<key>kuangz_yuanhuqifuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,310},{71,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,72}}</string>
			<key>sourceSize</key>
			<string>{71,72}</string>
		</dict>
		<key>lankuai2_yuanhuqifuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{494,2},{15,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,14}}</string>
			<key>sourceSize</key>
			<string>{15,14}</string>
		</dict>
		<key>lankuai_yuanhuqifuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{494,18},{13,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,10}}</string>
			<key>sourceSize</key>
			<string>{13,10}</string>
		</dict>
		<key>lankuang_yuanhuqifuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,188},{66,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,57}}</string>
			<key>sourceSize</key>
			<string>{66,57}</string>
		</dict>
		<key>sheguang1_yuanhuqifuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,2},{206,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,182}}</string>
			<key>sourceSize</key>
			<string>{206,182}</string>
		</dict>
		<key>sheguang2_yuanhuqifuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{306,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{306,184}}</string>
			<key>sourceSize</key>
			<string>{306,184}</string>
		</dict>
		<key>xiantiao_yuanhuqifuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,222},{86,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,161}}</string>
			<key>sourceSize</key>
			<string>{86,161}</string>
		</dict>
		<key>yuanhuan_yuanhuqifuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{249,256},{237,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{237,48}}</string>
			<key>sourceSize</key>
			<string>{237,48}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>yuanhuqifuimage.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>yuanhuqifuimage.png</string>
	</dict>
</dict>
</plist>
