<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_heianniu_normal_chengjiu.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,42},{187,74}}</string>
			<key>offset</key>
			<string>{-6,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,74}}</string>
			<key>sourceSize</key>
			<string>{199,74}</string>
		</dict>
		<key>btn_heianniu_press_chengjiu.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,42},{199,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,74}}</string>
			<key>sourceSize</key>
			<string>{199,74}</string>
		</dict>
		<key>pic_cj_rank_lockpic.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,42},{85,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,84}}</string>
			<key>sourceSize</key>
			<string>{85,84}</string>
		</dict>
		<key>pic_huangsedi_chengjiuxitong.png</key>
		<dict>
			<key>frame</key>
			<string>{{421,2},{39,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,37}}</string>
			<key>sourceSize</key>
			<string>{39,37}</string>
		</dict>
		<key>pic_jindutiaodi_chengjiu.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{376,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{376,21}}</string>
			<key>sourceSize</key>
			<string>{376,21}</string>
		</dict>
		<key>pic_jingdutiao_chengjiu.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,25},{371,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{371,15}}</string>
			<key>sourceSize</key>
			<string>{371,15}</string>
		</dict>
		<key>pic_lansexingxingdi_chengjiuxitong.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,2},{39,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,37}}</string>
			<key>sourceSize</key>
			<string>{39,37}</string>
		</dict>
		<key>pic_xingxing_chengjiuxitong.png</key>
		<dict>
			<key>frame</key>
			<string>{{462,2},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>achievementSystem0.png</string>
		<key>size</key>
		<string>{500,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>achievementSystem0.png</string>
	</dict>
</dict>
</plist>
