<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fuhuo01_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,395},{105,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,83}}</string>
			<key>sourceSize</key>
			<string>{105,83}</string>
		</dict>
		<key>fuhuo03_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,268},{110,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,125}}</string>
			<key>sourceSize</key>
			<string>{110,125}</string>
		</dict>
		<key>fuhuo05_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,268},{126,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,166}}</string>
			<key>sourceSize</key>
			<string>{126,166}</string>
		</dict>
		<key>fuhuo07_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,130},{126,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,166}}</string>
			<key>sourceSize</key>
			<string>{126,166}</string>
		</dict>
		<key>fuhuo09_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,130},{126,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,166}}</string>
			<key>sourceSize</key>
			<string>{126,166}</string>
		</dict>
		<key>fuhuo11_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,2},{126,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,166}}</string>
			<key>sourceSize</key>
			<string>{126,166}</string>
		</dict>
		<key>fuhuo13_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,2},{126,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,166}}</string>
			<key>sourceSize</key>
			<string>{126,166}</string>
		</dict>
		<key>fuhuo15_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,338},{126,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,166}}</string>
			<key>sourceSize</key>
			<string>{126,166}</string>
		</dict>
		<key>fuhuo17_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,170},{126,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,166}}</string>
			<key>sourceSize</key>
			<string>{126,166}</string>
		</dict>
		<key>fuhuo19_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{126,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,166}}</string>
			<key>sourceSize</key>
			<string>{126,166}</string>
		</dict>
		<key>hong00_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{414,322},{43,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,59}}</string>
			<key>sourceSize</key>
			<string>{43,59}</string>
		</dict>
		<key>hong02_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{466,139},{44,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,63}}</string>
			<key>sourceSize</key>
			<string>{44,63}</string>
		</dict>
		<key>hong04_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{459,268},{46,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,62}}</string>
			<key>sourceSize</key>
			<string>{46,62}</string>
		</dict>
		<key>hong06_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,258},{48,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,62}}</string>
			<key>sourceSize</key>
			<string>{48,62}</string>
		</dict>
		<key>hong08_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{466,73},{44,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,64}}</string>
			<key>sourceSize</key>
			<string>{44,64}</string>
		</dict>
		<key>hong10_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,436},{46,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,66}}</string>
			<key>sourceSize</key>
			<string>{46,66}</string>
		</dict>
		<key>hong12_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{466,2},{44,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,69}}</string>
			<key>sourceSize</key>
			<string>{44,69}</string>
		</dict>
		<key>hong14_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,436},{45,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,65}}</string>
			<key>sourceSize</key>
			<string>{45,65}</string>
		</dict>
		<key>hong16_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{466,204},{44,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,62}}</string>
			<key>sourceSize</key>
			<string>{44,62}</string>
		</dict>
		<key>hong18_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,436},{41,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,67}}</string>
			<key>sourceSize</key>
			<string>{41,67}</string>
		</dict>
		<key>hong20_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,395},{39,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,64}}</string>
			<key>sourceSize</key>
			<string>{39,64}</string>
		</dict>
		<key>hong22_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,258},{37,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,64}}</string>
			<key>sourceSize</key>
			<string>{37,64}</string>
		</dict>
		<key>kus_00001_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,332},{61,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,20}}</string>
			<key>sourceSize</key>
			<string>{61,20}</string>
		</dict>
		<key>kus_00003_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,332},{61,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,20}}</string>
			<key>sourceSize</key>
			<string>{61,20}</string>
		</dict>
		<key>kus_00005_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{453,441},{60,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,20}}</string>
			<key>sourceSize</key>
			<string>{60,20}</string>
		</dict>
		<key>kus_00007_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,441},{60,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,20}}</string>
			<key>sourceSize</key>
			<string>{60,20}</string>
		</dict>
		<key>kus_00009_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,441},{60,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,20}}</string>
			<key>sourceSize</key>
			<string>{60,20}</string>
		</dict>
		<key>kus_00011_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,419},{60,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,20}}</string>
			<key>sourceSize</key>
			<string>{60,20}</string>
		</dict>
		<key>kus_00013_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,397},{60,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,20}}</string>
			<key>sourceSize</key>
			<string>{60,20}</string>
		</dict>
		<key>kus_00015_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,395},{60,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,20}}</string>
			<key>sourceSize</key>
			<string>{60,20}</string>
		</dict>
		<key>kus_00017_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,332},{61,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,20}}</string>
			<key>sourceSize</key>
			<string>{61,20}</string>
		</dict>
		<key>kus_00019_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{459,332},{63,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,21}}</string>
			<key>sourceSize</key>
			<string>{63,21}</string>
		</dict>
		<key>kus_00021_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,436},{67,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,21}}</string>
			<key>sourceSize</key>
			<string>{67,21}</string>
		</dict>
		<key>kus_00023_buffjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,436},{68,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,22}}</string>
			<key>sourceSize</key>
			<string>{68,22}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>buffjimage.png</string>
		<key>scale</key>
		<real>0.36</real>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>buffjimage.png</string>
	</dict>
</dict>
</plist>
