<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bjg_zskpimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{61,321},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>gb_zskpimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,176},{64,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{64,62}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>huo_zskpimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,176},{143,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,154}}</string>
			<key>sourceSize</key>
			<string>{143,154}</string>
		</dict>
		<key>mask1_zskpimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{172,233}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,233}}</string>
			<key>sourceSize</key>
			<string>{172,233}</string>
		</dict>
		<key>mask2_zskpimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,321},{57,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,152}}</string>
			<key>sourceSize</key>
			<string>{57,152}</string>
		</dict>
		<key>mask3_zskpimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,176},{30,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,23}}</string>
			<key>sourceSize</key>
			<string>{30,23}</string>
		</dict>
		<key>mask4_zskpimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,2},{10,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,14}}</string>
			<key>sourceSize</key>
			<string>{10,14}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>zskpimage.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>zskpimage.png</string>
	</dict>
</dict>
</plist>
