<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>largepic_100224.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{754,614}}</string>
			<key>offset</key>
			<string>{-5,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54,26},{754,614}}</string>
			<key>sourceSize</key>
			<string>{872,640}</string>
		</dict>
		<key>longpic_100224.png</key>
		<dict>
			<key>frame</key>
			<string>{{758,46},{193,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,288}}</string>
			<key>sourceSize</key>
			<string>{193,288}</string>
		</dict>
		<key>middlepic_100224.png</key>
		<dict>
			<key>frame</key>
			<string>{{758,336},{183,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,71}}</string>
			<key>sourceSize</key>
			<string>{183,71}</string>
		</dict>
		<key>namepic_100224.png</key>
		<dict>
			<key>frame</key>
			<string>{{758,409},{468,99}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,2},{468,99}}</string>
			<key>sourceSize</key>
			<string>{476,101}</string>
		</dict>
		<key>skillmaxpic_100224.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,2},{288,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,52}}</string>
			<key>sourceSize</key>
			<string>{288,52}</string>
		</dict>
		<key>skillmaxpic_10022401.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,618},{361,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{361,52}}</string>
			<key>sourceSize</key>
			<string>{361,52}</string>
		</dict>
		<key>skillnamepic_100224.png</key>
		<dict>
			<key>frame</key>
			<string>{{758,2},{206,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,42}}</string>
			<key>sourceSize</key>
			<string>{206,42}</string>
		</dict>
		<key>skillnamepic_10022401.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,981},{206,39}}</string>
			<key>offset</key>
			<string>{12,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{55,0},{206,39}}</string>
			<key>sourceSize</key>
			<string>{292,39}</string>
		</dict>
		<key>skillsmaxpic_100224.png</key>
		<dict>
			<key>frame</key>
			<string>{{953,292},{286,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{286,52}}</string>
			<key>sourceSize</key>
			<string>{286,52}</string>
		</dict>
		<key>skillsmaxpic_10022401.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,618},{330,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{330,52}}</string>
			<key>sourceSize</key>
			<string>{330,52}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>heros_100224.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>heros_100224.png</string>
	</dict>
</dict>
</plist>
