<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_dzk_deifen.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,194},{73,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,21}}</string>
			<key>sourceSize</key>
			<string>{73,21}</string>
		</dict>
		<key>pic_dzk_kaishiyouxi.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,168},{155,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,39}}</string>
			<key>sourceSize</key>
			<string>{155,39}</string>
		</dict>
		<key>pic_dzk_shengyucishu.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,168},{99,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,24}}</string>
			<key>sourceSize</key>
			<string>{99,24}</string>
		</dict>
		<key>pic_dzk_shijian.png</key>
		<dict>
			<key>frame</key>
			<string>{{731,230},{56,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,24}}</string>
			<key>sourceSize</key>
			<string>{56,24}</string>
		</dict>
		<key>pic_dzk_taitou_fenxiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{549,128},{541,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{541,100}}</string>
			<key>sourceSize</key>
			<string>{541,100}</string>
		</dict>
		<key>pic_dzk_taitou_shibai.png</key>
		<dict>
			<key>frame</key>
			<string>{{549,2},{536,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{536,124}}</string>
			<key>sourceSize</key>
			<string>{536,124}</string>
		</dict>
		<key>pic_dzk_taitou_tchenggong.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{545,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{545,164}}</string>
			<key>sourceSize</key>
			<string>{545,164}</string>
		</dict>
		<key>pic_dzk_taoxueweilong.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,168},{278,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{278,73}}</string>
			<key>sourceSize</key>
			<string>{278,73}</string>
		</dict>
		<key>pic_dzk_youximubiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{545,230},{123,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,20}}</string>
			<key>sourceSize</key>
			<string>{123,20}</string>
		</dict>
		<key>pic_dzk_zi_jixuyouxi.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,217},{109,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,37}}</string>
			<key>sourceSize</key>
			<string>{109,37}</string>
		</dict>
		<key>pic_dzk_zi_zlyj.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,209},{150,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,38}}</string>
			<key>sourceSize</key>
			<string>{150,38}</string>
		</dict>
		<key>pic_dzk_ziji.png</key>
		<dict>
			<key>frame</key>
			<string>{{670,230},{59,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,21}}</string>
			<key>sourceSize</key>
			<string>{59,21}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_blockbreak0.png</string>
		<key>size</key>
		<string>{1092,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_blockbreak0.png</string>
	</dict>
</dict>
</plist>
