<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>lei01_fengyinnlqimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,2},{47,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,45}}</string>
			<key>sourceSize</key>
			<string>{47,45}</string>
		</dict>
		<key>lei02_fengyinnlqimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,76},{44,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,38}}</string>
			<key>sourceSize</key>
			<string>{44,38}</string>
		</dict>
		<key>lei03_fengyinnlqimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,116},{43,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,69}}</string>
			<key>sourceSize</key>
			<string>{43,69}</string>
		</dict>
		<key>lei04_fengyinnlqimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,317},{48,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,31}}</string>
			<key>sourceSize</key>
			<string>{48,31}</string>
		</dict>
		<key>lei05_fengyinnlqimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,49},{45,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,25}}</string>
			<key>sourceSize</key>
			<string>{45,25}</string>
		</dict>
		<key>lei06_fengyinnlqimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,187},{43,43}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{43,43}}</string>
			<key>sourceSize</key>
			<string>{49,51}</string>
		</dict>
		<key>lei07_fengyinnlqimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,423},{32,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,41}}</string>
			<key>sourceSize</key>
			<string>{32,41}</string>
		</dict>
		<key>lei08_fengyinnlqimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,380},{41,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,37}}</string>
			<key>sourceSize</key>
			<string>{41,37}</string>
		</dict>
		<key>qiu01_fengyinnlqimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,317},{61,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,61}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>qiu02_fengyinnlqimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,232},{110,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,110}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>qiu03_fengyinnlqimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,206},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>qiuda_fengyinnlqimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{202,203}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,203}}</string>
			<key>sourceSize</key>
			<string>{202,203}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>fengyinnlqimage.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>fengyinnlqimage.png</string>
	</dict>
</dict>
</plist>
