<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask01_wuzhouniancjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,360},{567,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{567,77}}</string>
			<key>sourceSize</key>
			<string>{567,77}</string>
		</dict>
		<key>qiqiu_wuzhouniancjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,267},{19,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,21}}</string>
			<key>sourceSize</key>
			<string>{19,21}</string>
		</dict>
		<key>ren1_wuzhouniancjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,929},{46,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,91}}</string>
			<key>sourceSize</key>
			<string>{46,91}</string>
		</dict>
		<key>ren1lj_wuzhouniancjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,83},{25,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,26}}</string>
			<key>sourceSize</key>
			<string>{25,26}</string>
		</dict>
		<key>ren1lz_wuzhouniancjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,126},{49,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,24}}</string>
			<key>sourceSize</key>
			<string>{49,24}</string>
		</dict>
		<key>ren1shen_wuzhouniancjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,216},{70,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,59}}</string>
			<key>sourceSize</key>
			<string>{70,59}</string>
		</dict>
		<key>ren1t_wuzhouniancjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,929},{93,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,72}}</string>
			<key>sourceSize</key>
			<string>{93,72}</string>
		</dict>
		<key>ren1tui_wuzhouniancjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,216},{55,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,41}}</string>
			<key>sourceSize</key>
			<string>{55,41}</string>
		</dict>
		<key>ren1ys_wuzhouniancjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,66},{27,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,15}}</string>
			<key>sourceSize</key>
			<string>{27,15}</string>
		</dict>
		<key>ren1zs_wuzhouniancjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,210},{34,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,22}}</string>
			<key>sourceSize</key>
			<string>{34,22}</string>
		</dict>
		<key>ren2shen_wuzhouniancjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,273},{47,55}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,55}}</string>
			<key>sourceSize</key>
			<string>{47,57}</string>
		</dict>
		<key>ren2t_wuzhouniancjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,2},{31,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,24}}</string>
			<key>sourceSize</key>
			<string>{31,24}</string>
		</dict>
		<key>ren2ydb_wuzhouniancjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,288},{20,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,16}}</string>
			<key>sourceSize</key>
			<string>{20,16}</string>
		</dict>
		<key>ren2ydt_wuzhouniancjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,177},{15,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,24}}</string>
			<key>sourceSize</key>
			<string>{15,24}</string>
		</dict>
		<key>ren2yj_wuzhouniancjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,325},{16,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,12}}</string>
			<key>sourceSize</key>
			<string>{16,12}</string>
		</dict>
		<key>ren2ys_wuzhouniancjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,306},{37,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,18}}</string>
			<key>sourceSize</key>
			<string>{37,18}</string>
		</dict>
		<key>ren2yxt_wuzhouniancjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,110},{14,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,25}}</string>
			<key>sourceSize</key>
			<string>{14,25}</string>
		</dict>
		<key>ren2zbi_wuzhouniancjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,306},{17,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,12}}</string>
			<key>sourceSize</key>
			<string>{17,12}</string>
		</dict>
		<key>ren2zdt_wuzhouniancjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,246},{19,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,22}}</string>
			<key>sourceSize</key>
			<string>{19,22}</string>
		</dict>
		<key>ren2zj_wuzhouniancjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,343},{15,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,11}}</string>
			<key>sourceSize</key>
			<string>{15,11}</string>
		</dict>
		<key>ren2zs_wuzhouniancjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,37},{27,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,28}}</string>
			<key>sourceSize</key>
			<string>{27,28}</string>
		</dict>
		<key>ren2zxt_wuzhouniancjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,194},{14,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,23}}</string>
			<key>sourceSize</key>
			<string>{14,23}</string>
		</dict>
		<key>yinying_wuzhouniancjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,28},{31,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,7}}</string>
			<key>sourceSize</key>
			<string>{31,7}</string>
		</dict>
		<key>yun1_wuzhouniancjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,492},{253,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,173}}</string>
			<key>sourceSize</key>
			<string>{253,173}</string>
		</dict>
		<key>yun2_wuzhouniancjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,2},{337,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{337,99}}</string>
			<key>sourceSize</key>
			<string>{337,99}</string>
		</dict>
		<key>yun3_wuzhouniancjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{373,212}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{373,212}}</string>
			<key>sourceSize</key>
			<string>{373,212}</string>
		</dict>
		<key>zhong_wuzhouniancjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,216},{274,234}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{274,234}}</string>
			<key>sourceSize</key>
			<string>{274,234}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>wuzhouniancjimage.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>wuzhouniancjimage.png</string>
	</dict>
</dict>
</plist>
