<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_hw_liumenbisha_bo_00021.png</key>
		<dict>
			<key>frame</key>
			<string>{{743,756},{263,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{263,117}}</string>
			<key>sourceSize</key>
			<string>{263,117}</string>
		</dict>
		<key>New_hw_liumenbisha_boqiu_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,615},{344,339}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{344,339}}</string>
			<key>sourceSize</key>
			<string>{344,339}</string>
		</dict>
		<key>New_hw_liumenbisha_xuli_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{861,756},{154,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,161}}</string>
			<key>sourceSize</key>
			<string>{154,161}</string>
		</dict>
		<key>New_hw_putongbisha_quanji_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,615},{346,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{346,108}}</string>
			<key>sourceSize</key>
			<string>{346,108}</string>
		</dict>
		<key>New_hw_putongbisha_quanji_00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,678},{339,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{339,110}}</string>
			<key>sourceSize</key>
			<string>{339,110}</string>
		</dict>
		<key>New_hw_putongbisha_quanji_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{562,678},{335,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{335,104}}</string>
			<key>sourceSize</key>
			<string>{335,104}</string>
		</dict>
		<key>New_hw_putongbisha_quanji_00031.png</key>
		<dict>
			<key>frame</key>
			<string>{{667,678},{324,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{324,75}}</string>
			<key>sourceSize</key>
			<string>{324,75}</string>
		</dict>
		<key>New_hw_putongbisha_quanji_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{743,678},{274,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{274,77}}</string>
			<key>sourceSize</key>
			<string>{274,77}</string>
		</dict>
		<key>New_hw_putongbisha_quanji_00035.png</key>
		<dict>
			<key>frame</key>
			<string>{{861,911},{74,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,81}}</string>
			<key>sourceSize</key>
			<string>{74,81}</string>
		</dict>
		<key>New_hw_putongbisha_quanji_00036.png</key>
		<dict>
			<key>frame</key>
			<string>{{936,911},{75,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,75}}</string>
			<key>sourceSize</key>
			<string>{75,75}</string>
		</dict>
		<key>New_hw_putongbisha_shandian_00044.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,2},{209,568}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,568}}</string>
			<key>sourceSize</key>
			<string>{209,568}</string>
		</dict>
		<key>New_hw_putongbisha_shandian_00045.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{221,612}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,612}}</string>
			<key>sourceSize</key>
			<string>{221,612}</string>
		</dict>
		<key>New_hw_putongbisha_shandian_00048.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,212},{237,554}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{237,554}}</string>
			<key>sourceSize</key>
			<string>{237,554}</string>
		</dict>
		<key>New_hw_putongbisha_shandian_00049.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,450},{227,550}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{227,550}}</string>
			<key>sourceSize</key>
			<string>{227,550}</string>
		</dict>
		<key>New_hw_xiaojineng_daoguang2_00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,222},{227,219}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{227,219}}</string>
			<key>sourceSize</key>
			<string>{227,219}</string>
		</dict>
		<key>New_hw_xiaojineng_daoguang2_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,2},{219,226}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,226}}</string>
			<key>sourceSize</key>
			<string>{219,226}</string>
		</dict>
		<key>New_hw_xiaojineng_daoguang_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,450},{164,230}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,230}}</string>
			<key>sourceSize</key>
			<string>{164,230}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>ejthwxv_common0.png</string>
		<key>scale</key>
		<real>0.69</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ejthwxv_common0.png</string>
	</dict>
</dict>
</plist>
