<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_wp_lmbs_daoguang2_00031.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,434},{205,141}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{205,141}}</string>
			<key>sourceSize</key>
			<string>{205,143}</string>
		</dict>
		<key>New_wp_lmbs_daoguang3_00071.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,711},{303,273}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{303,273}}</string>
			<key>sourceSize</key>
			<string>{303,273}</string>
		</dict>
		<key>New_wp_lmbs_daoguang3_00085.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,377},{471,380}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{471,380}}</string>
			<key>sourceSize</key>
			<string>{471,380}</string>
		</dict>
		<key>New_wp_lmbs_daoguang3_00089.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,2},{478,374}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{478,374}}</string>
			<key>sourceSize</key>
			<string>{478,376}</string>
		</dict>
		<key>New_wp_lmbs_daoguang3_00090.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{539,431}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{539,431}}</string>
			<key>sourceSize</key>
			<string>{539,435}</string>
		</dict>
		<key>New_wp_ptbs_baozhaguang_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{783,758},{221,222}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,222}}</string>
			<key>sourceSize</key>
			<string>{221,222}</string>
		</dict>
		<key>New_wp_ptbs_baozhaguang_00036.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,434},{276,276}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{276,276}}</string>
			<key>sourceSize</key>
			<string>{276,276}</string>
		</dict>
		<key>New_wp_ptbs_baozhaguang_00038.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,758},{261,260}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{261,260}}</string>
			<key>sourceSize</key>
			<string>{261,260}</string>
		</dict>
		<key>New_wp_ptbs_baozhaguang_00039.png</key>
		<dict>
			<key>frame</key>
			<string>{{537,758},{245,245}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,245}}</string>
			<key>sourceSize</key>
			<string>{245,245}</string>
		</dict>
		<key>New_wp_ptbs_baozhayan_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,711},{54,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,46}}</string>
			<key>sourceSize</key>
			<string>{54,46}</string>
		</dict>
		<key>New_wp_ptbs_baozhayan_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,576},{181,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,170}}</string>
			<key>sourceSize</key>
			<string>{181,170}</string>
		</dict>
		<key>New_wp_ptbs_shizixing_00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,434},{40,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,53}}</string>
			<key>sourceSize</key>
			<string>{40,53}</string>
		</dict>
		<key>New_wp_ptbs_shizixing_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,576},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>New_wp_ptbs_shizixing_00025.png</key>
		<dict>
			<key>frame</key>
			<string>{{1021,2},{1,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,2}}</string>
			<key>sourceSize</key>
			<string>{1,2}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>weipuxiv_common0.png</string>
		<key>scale</key>
		<real>0.61</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>weipuxiv_common0.png</string>
	</dict>
</dict>
</plist>
