<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>a_daizi1_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,46},{22,26}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,26}}</string>
			<key>sourceSize</key>
			<string>{26,26}</string>
		</dict>
		<key>a_daizi2_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,99},{15,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,27}}</string>
			<key>sourceSize</key>
			<string>{15,27}</string>
		</dict>
		<key>a_dayaoda_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,239},{61,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,30}}</string>
			<key>sourceSize</key>
			<string>{61,30}</string>
		</dict>
		<key>a_dazi3_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,165},{57,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,26}}</string>
			<key>sourceSize</key>
			<string>{57,26}</string>
		</dict>
		<key>a_kua_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,312},{60,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,33}}</string>
			<key>sourceSize</key>
			<string>{60,33}</string>
		</dict>
		<key>a_lian2_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,345},{24,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,35}}</string>
			<key>sourceSize</key>
			<string>{24,35}</string>
		</dict>
		<key>a_lian3_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,361},{28,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,37}}</string>
			<key>sourceSize</key>
			<string>{28,37}</string>
		</dict>
		<key>a_qiu_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,457},{36,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,39}}</string>
			<key>sourceSize</key>
			<string>{36,39}</string>
		</dict>
		<key>a_shagyibaizuo_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,380},{25,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,54}}</string>
			<key>sourceSize</key>
			<string>{25,54}</string>
		</dict>
		<key>a_shagyihoubai_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,257},{60,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,50}}</string>
			<key>sourceSize</key>
			<string>{60,50}</string>
		</dict>
		<key>a_shangyibaiyou_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,307},{42,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,55}}</string>
			<key>sourceSize</key>
			<string>{42,55}</string>
		</dict>
		<key>a_tou2_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,164},{75,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,73}}</string>
			<key>sourceSize</key>
			<string>{75,73}</string>
		</dict>
		<key>a_tou_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,2},{84,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,80}}</string>
			<key>sourceSize</key>
			<string>{84,80}</string>
		</dict>
		<key>a_xiong_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,68},{94,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,102}}</string>
			<key>sourceSize</key>
			<string>{94,102}</string>
		</dict>
		<key>a_youdabi_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{309,271},{48,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,58}}</string>
			<key>sourceSize</key>
			<string>{48,58}</string>
		</dict>
		<key>a_youdatui_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,424},{42,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,49}}</string>
			<key>sourceSize</key>
			<string>{42,49}</string>
		</dict>
		<key>a_youjiao_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,442},{29,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,24}}</string>
			<key>sourceSize</key>
			<string>{29,24}</string>
		</dict>
		<key>a_youshou_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,475},{49,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,35}}</string>
			<key>sourceSize</key>
			<string>{49,35}</string>
		</dict>
		<key>a_youxiaobi_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,215},{65,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,49}}</string>
			<key>sourceSize</key>
			<string>{65,49}</string>
		</dict>
		<key>a_youxiaotui_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,363},{36,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,38}}</string>
			<key>sourceSize</key>
			<string>{36,38}</string>
		</dict>
		<key>a_zoushou_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{327,403},{35,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,37}}</string>
			<key>sourceSize</key>
			<string>{35,37}</string>
		</dict>
		<key>a_zui1_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,152},{13,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,9}}</string>
			<key>sourceSize</key>
			<string>{13,9}</string>
		</dict>
		<key>a_zuodabi_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,467},{31,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,42}}</string>
			<key>sourceSize</key>
			<string>{31,42}</string>
		</dict>
		<key>a_zuodatui_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,345},{52,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,47}}</string>
			<key>sourceSize</key>
			<string>{52,47}</string>
		</dict>
		<key>a_zuojiao_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{369,295},{38,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,24}}</string>
			<key>sourceSize</key>
			<string>{38,24}</string>
		</dict>
		<key>a_zuoxiaobi_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,436},{49,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,49}}</string>
			<key>sourceSize</key>
			<string>{49,49}</string>
		</dict>
		<key>a_zuoxiaotui_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,224},{32,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,41}}</string>
			<key>sourceSize</key>
			<string>{32,41}</string>
		</dict>
		<key>b_bei2_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,84},{79,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,78}}</string>
			<key>sourceSize</key>
			<string>{79,78}</string>
		</dict>
		<key>b_beixiabai2_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,60},{83,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,51}}</string>
			<key>sourceSize</key>
			<string>{83,51}</string>
		</dict>
		<key>b_beixiabai3_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{109,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,64}}</string>
			<key>sourceSize</key>
			<string>{109,64}</string>
		</dict>
		<key>b_bizi_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,321},{34,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,38}}</string>
			<key>sourceSize</key>
			<string>{34,38}</string>
		</dict>
		<key>b_daizi1_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{267,175},{23,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,19}}</string>
			<key>sourceSize</key>
			<string>{23,19}</string>
		</dict>
		<key>b_daizi2_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,284},{59,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,46}}</string>
			<key>sourceSize</key>
			<string>{59,46}</string>
		</dict>
		<key>b_daizi3_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,169},{25,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,10}}</string>
			<key>sourceSize</key>
			<string>{25,10}</string>
		</dict>
		<key>b_kua_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,406},{39,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,27}}</string>
			<key>sourceSize</key>
			<string>{39,27}</string>
		</dict>
		<key>b_maowei_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,321},{40,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,28}}</string>
			<key>sourceSize</key>
			<string>{40,28}</string>
		</dict>
		<key>b_shangyixiabai_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,347},{46,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,57}}</string>
			<key>sourceSize</key>
			<string>{46,57}</string>
		</dict>
		<key>b_tou1_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{397,113},{79,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,70}}</string>
			<key>sourceSize</key>
			<string>{79,70}</string>
		</dict>
		<key>b_xiong_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,97},{66,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,94}}</string>
			<key>sourceSize</key>
			<string>{66,94}</string>
		</dict>
		<key>b_youdabi_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,284},{38,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,64}}</string>
			<key>sourceSize</key>
			<string>{38,64}</string>
		</dict>
		<key>b_youdatui_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,457},{27,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,51}}</string>
			<key>sourceSize</key>
			<string>{27,51}</string>
		</dict>
		<key>b_youjiao_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,487},{42,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,23}}</string>
			<key>sourceSize</key>
			<string>{42,23}</string>
		</dict>
		<key>b_youshou_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{462,415},{32,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,30}}</string>
			<key>sourceSize</key>
			<string>{32,30}</string>
		</dict>
		<key>b_youxiaobi_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,249},{52,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,65}}</string>
			<key>sourceSize</key>
			<string>{52,65}</string>
		</dict>
		<key>b_youxiaotui_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,295},{29,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,38}}</string>
			<key>sourceSize</key>
			<string>{29,38}</string>
		</dict>
		<key>b_zuodabi_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,457},{28,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,50}}</string>
			<key>sourceSize</key>
			<string>{28,50}</string>
		</dict>
		<key>b_zuodatui_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,457},{25,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,51}}</string>
			<key>sourceSize</key>
			<string>{25,51}</string>
		</dict>
		<key>b_zuojiao_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,487},{42,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,23}}</string>
			<key>sourceSize</key>
			<string>{42,23}</string>
		</dict>
		<key>b_zuoshou_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{374,321},{31,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,32}}</string>
			<key>sourceSize</key>
			<string>{31,32}</string>
		</dict>
		<key>b_zuoxiaobi_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,165},{48,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,66}}</string>
			<key>sourceSize</key>
			<string>{48,66}</string>
		</dict>
		<key>b_zuoxiaotui_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{449,316},{27,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,37}}</string>
			<key>sourceSize</key>
			<string>{27,37}</string>
		</dict>
		<key>c_bei_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,2},{95,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,96}}</string>
			<key>sourceSize</key>
			<string>{95,96}</string>
		</dict>
		<key>c_beitou1_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,224},{69,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,69}}</string>
			<key>sourceSize</key>
			<string>{69,69}</string>
		</dict>
		<key>c_dayaodai_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,253},{65,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,29}}</string>
			<key>sourceSize</key>
			<string>{65,29}</string>
		</dict>
		<key>c_kua_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,425},{57,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,30}}</string>
			<key>sourceSize</key>
			<string>{57,30}</string>
		</dict>
		<key>c_maiziwei_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,184},{32,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,63}}</string>
			<key>sourceSize</key>
			<string>{32,63}</string>
		</dict>
		<key>c_shangyidaizi1_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,164},{33,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,12}}</string>
			<key>sourceSize</key>
			<string>{33,12}</string>
		</dict>
		<key>c_shangyidaizi2_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,97},{31,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,13}}</string>
			<key>sourceSize</key>
			<string>{31,13}</string>
		</dict>
		<key>c_shangyixiabai_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,2},{84,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,56}}</string>
			<key>sourceSize</key>
			<string>{84,56}</string>
		</dict>
		<key>c_tuidai1_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,130},{13,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,20}}</string>
			<key>sourceSize</key>
			<string>{13,20}</string>
		</dict>
		<key>c_tuidai2_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,128},{15,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,21}}</string>
			<key>sourceSize</key>
			<string>{15,21}</string>
		</dict>
		<key>c_tuidai3_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,185},{73,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,37}}</string>
			<key>sourceSize</key>
			<string>{73,37}</string>
		</dict>
		<key>c_youdabi_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,118},{32,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,64}}</string>
			<key>sourceSize</key>
			<string>{32,64}</string>
		</dict>
		<key>c_youdatui_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,413},{30,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,42}}</string>
			<key>sourceSize</key>
			<string>{30,42}</string>
		</dict>
		<key>c_youxiaobi_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,266},{44,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,60}}</string>
			<key>sourceSize</key>
			<string>{44,60}</string>
		</dict>
		<key>c_youxiaotui_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{389,395},{27,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,35}}</string>
			<key>sourceSize</key>
			<string>{27,35}</string>
		</dict>
		<key>c_zuodabi_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,175},{34,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,63}}</string>
			<key>sourceSize</key>
			<string>{34,63}</string>
		</dict>
		<key>c_zuodatui_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,467},{30,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,42}}</string>
			<key>sourceSize</key>
			<string>{30,42}</string>
		</dict>
		<key>c_zuojiao_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,302},{35,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,21}}</string>
			<key>sourceSize</key>
			<string>{35,21}</string>
		</dict>
		<key>c_zuoshou_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,399},{20,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,49}}</string>
			<key>sourceSize</key>
			<string>{20,49}</string>
		</dict>
		<key>c_zuoxiaobi_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,211},{44,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,61}}</string>
			<key>sourceSize</key>
			<string>{44,61}</string>
		</dict>
		<key>c_zuoxiaotui_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,345},{27,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,36}}</string>
			<key>sourceSize</key>
			<string>{27,36}</string>
		</dict>
		<key>p_xiabai1_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,324},{59,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,49}}</string>
			<key>sourceSize</key>
			<string>{59,49}</string>
		</dict>
		<key>p_xiabai2_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,375},{59,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,48}}</string>
			<key>sourceSize</key>
			<string>{59,48}</string>
		</dict>
		<key>p_xiabai3_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,99},{78,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,74}}</string>
			<key>sourceSize</key>
			<string>{78,74}</string>
		</dict>
		<key>p_xiong1_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,164},{88,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,87}}</string>
			<key>sourceSize</key>
			<string>{88,87}</string>
		</dict>
		<key>s_shangyihoubai1_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,246},{59,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,42}}</string>
			<key>sourceSize</key>
			<string>{59,42}</string>
		</dict>
		<key>s_shangyixiabai1_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,309},{57,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,55}}</string>
			<key>sourceSize</key>
			<string>{57,55}</string>
		</dict>
		<key>s_shangyixiabai2_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,366},{49,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,37}}</string>
			<key>sourceSize</key>
			<string>{49,37}</string>
		</dict>
		<key>s_shou1_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{389,362},{35,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,31}}</string>
			<key>sourceSize</key>
			<string>{35,31}</string>
		</dict>
		<key>s_shou2_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,326},{36,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,34}}</string>
			<key>sourceSize</key>
			<string>{36,34}</string>
		</dict>
		<key>s_shou3_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,382},{34,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,31}}</string>
			<key>sourceSize</key>
			<string>{34,31}</string>
		</dict>
		<key>s_xiongq_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,2},{93,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,103}}</string>
			<key>sourceSize</key>
			<string>{93,103}</string>
		</dict>
		<key>x_jiao1_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,403},{30,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,34}}</string>
			<key>sourceSize</key>
			<string>{30,34}</string>
		</dict>
		<key>x_jiao2_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,374},{35,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,27}}</string>
			<key>sourceSize</key>
			<string>{35,27}</string>
		</dict>
		<key>x_jiao3_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,424},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>x_jiao4_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,258},{41,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,24}}</string>
			<key>sourceSize</key>
			<string>{41,24}</string>
		</dict>
		<key>x_jiao5_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,2},{22,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,42}}</string>
			<key>sourceSize</key>
			<string>{22,42}</string>
		</dict>
		<key>x_jiao6_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,74},{23,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,42}}</string>
			<key>sourceSize</key>
			<string>{23,42}</string>
		</dict>
		<key>x_kua3_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,364},{40,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,39}}</string>
			<key>sourceSize</key>
			<string>{40,39}</string>
		</dict>
		<key>x_youdatui3_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,395},{27,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,50}}</string>
			<key>sourceSize</key>
			<string>{27,50}</string>
		</dict>
		<key>x_youxiaotui1_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,253},{21,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,47}}</string>
			<key>sourceSize</key>
			<string>{21,47}</string>
		</dict>
		<key>x_youxiaotui2_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,339},{26,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,39}}</string>
			<key>sourceSize</key>
			<string>{26,39}</string>
		</dict>
		<key>x_zuodatui3_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,417},{42,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,48}}</string>
			<key>sourceSize</key>
			<string>{42,48}</string>
		</dict>
		<key>x_zuoxiaotui3_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{241,366},{45,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,37}}</string>
			<key>sourceSize</key>
			<string>{45,37}</string>
		</dict>
		<key>yan1_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,160},{11,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,7}}</string>
			<key>sourceSize</key>
			<string>{11,7}</string>
		</dict>
		<key>yan2_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,151},{11,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,7}}</string>
			<key>sourceSize</key>
			<string>{11,7}</string>
		</dict>
		<key>yan3_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,163},{11,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,7}}</string>
			<key>sourceSize</key>
			<string>{11,7}</string>
		</dict>
		<key>zhua1_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{267,196},{48,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,41}}</string>
			<key>sourceSize</key>
			<string>{48,41}</string>
		</dict>
		<key>zhua2_bashenshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,421},{49,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,37}}</string>
			<key>sourceSize</key>
			<string>{49,37}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>bashenshengimage.png</string>
		<key>scale</key>
		<real>0.58</real>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>bashenshengimage.png</string>
	</dict>
</dict>
</plist>
