<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask01_qirimubiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,166},{125,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,39}}</string>
			<key>sourceSize</key>
			<string>{125,39}</string>
		</dict>
		<key>sg_sqjhimage_qirimubiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,185},{83,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,120}}</string>
			<key>sourceSize</key>
			<string>{83,120}</string>
		</dict>
		<key>wy_10_10_26127_qirimubiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,305},{34,65}}</string>
			<key>offset</key>
			<string>{14,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{34,5},{34,65}}</string>
			<key>sourceSize</key>
			<string>{74,73}</string>
		</dict>
		<key>wy_11_11_93774_qirimubiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,265},{38,65}}</string>
			<key>offset</key>
			<string>{12,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,5},{38,65}}</string>
			<key>sourceSize</key>
			<string>{74,73}</string>
		</dict>
		<key>wy_12_12_52949_qirimubiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,265},{56,53}}</string>
			<key>offset</key>
			<string>{3,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,18},{56,53}}</string>
			<key>sourceSize</key>
			<string>{74,73}</string>
		</dict>
		<key>wy_13_13_75533_qirimubiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,75},{66,33}}</string>
			<key>offset</key>
			<string>{-2,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,38},{66,33}}</string>
			<key>sourceSize</key>
			<string>{74,73}</string>
		</dict>
		<key>wy_14_14_38709_qirimubiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,34},{66,39}}</string>
			<key>offset</key>
			<string>{-2,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,31},{66,39}}</string>
			<key>sourceSize</key>
			<string>{74,73}</string>
		</dict>
		<key>wy_15_15_1396_qirimubiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,317},{48,59}}</string>
			<key>offset</key>
			<string>{-11,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,11},{48,59}}</string>
			<key>sourceSize</key>
			<string>{74,73}</string>
		</dict>
		<key>wy_16_16_27104_qirimubiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,2},{30,67}}</string>
			<key>offset</key>
			<string>{-21,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,3},{30,67}}</string>
			<key>sourceSize</key>
			<string>{74,73}</string>
		</dict>
		<key>wy_17_17_31899_qirimubiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,141},{42,65}}</string>
			<key>offset</key>
			<string>{-14,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,3},{42,65}}</string>
			<key>sourceSize</key>
			<string>{74,73}</string>
		</dict>
		<key>wy_18_18_74797_qirimubiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,270},{60,47}}</string>
			<key>offset</key>
			<string>{-5,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{60,47}}</string>
			<key>sourceSize</key>
			<string>{74,73}</string>
		</dict>
		<key>wy_19_19_3668_qirimubiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,110},{66,29}}</string>
			<key>offset</key>
			<string>{-1,19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{66,29}}</string>
			<key>sourceSize</key>
			<string>{74,73}</string>
		</dict>
		<key>wy_2_2_48545_qirimubiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,207},{100,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,56}}</string>
			<key>sourceSize</key>
			<string>{100,56}</string>
		</dict>
		<key>wy_7_7_48998_qirimubiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{171,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,162}}</string>
			<key>sourceSize</key>
			<string>{171,162}</string>
		</dict>
		<key>wy_8_8_65338_qirimubiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,270},{62,45}}</string>
			<key>offset</key>
			<string>{1,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,3},{62,45}}</string>
			<key>sourceSize</key>
			<string>{74,73}</string>
		</dict>
		<key>wy_9_9_67396_qirimubiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,320},{54,53}}</string>
			<key>offset</key>
			<string>{5,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,4},{54,53}}</string>
			<key>sourceSize</key>
			<string>{74,73}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>qirimubiaoimage.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>qirimubiaoimage.png</string>
	</dict>
</dict>
</plist>
