<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_cqdc_buzhen_di3.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,326},{156,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,94}}</string>
			<key>sourceSize</key>
			<string>{156,94}</string>
		</dict>
		<key>pic_jp_yaoyaole_2bei.png</key>
		<dict>
			<key>frame</key>
			<string>{{1201,376},{310,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,21}}</string>
			<key>sourceSize</key>
			<string>{310,21}</string>
		</dict>
		<key>pic_jp_yaoyaole_3bei.png</key>
		<dict>
			<key>frame</key>
			<string>{{905,326},{310,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,21}}</string>
			<key>sourceSize</key>
			<string>{310,21}</string>
		</dict>
		<key>pic_jp_yaoyaole_guanbi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1513,376},{46,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,46}}</string>
			<key>sourceSize</key>
			<string>{46,46}</string>
		</dict>
		<key>pic_jp_yaoyaole_guanbi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1566,351},{46,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,46}}</string>
			<key>sourceSize</key>
			<string>{46,46}</string>
		</dict>
		<key>pic_jp_yaoyaole_hezi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1097,401},{173,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,80}}</string>
			<key>sourceSize</key>
			<string>{173,80}</string>
		</dict>
		<key>pic_jp_yaoyaole_huobi_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1374,455},{24,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,28}}</string>
			<key>sourceSize</key>
			<string>{24,28}</string>
		</dict>
		<key>pic_jp_yaoyaole_jiahao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1344,455},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>pic_jp_yaoyaole_jiahao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,453},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>pic_jp_yaoyaole_jiesuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{905,351},{105,28}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,2},{105,28}}</string>
			<key>sourceSize</key>
			<string>{127,32}</string>
		</dict>
		<key>pic_jp_yaoyaole_qiu_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1272,424},{70,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,73}}</string>
			<key>sourceSize</key>
			<string>{70,73}</string>
		</dict>
		<key>pic_jp_yaoyaole_tanchuang_gonggao.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,18},{754,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{754,52}}</string>
			<key>sourceSize</key>
			<string>{754,52}</string>
		</dict>
		<key>pic_jp_yaoyaole_tanchuang_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{1344,424},{267,29}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{194,10},{267,29}}</string>
			<key>sourceSize</key>
			<string>{655,47}</string>
		</dict>
		<key>pic_jp_yaoyaole_wenhao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{941,453},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>pic_jp_yaoyaole_wenhao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{905,458},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>pic_jp_yaoyaole_wenzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1009,349},{190,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,50}}</string>
			<key>sourceSize</key>
			<string>{190,50}</string>
		</dict>
		<key>pic_jp_yyl_choujiangquan.png</key>
		<dict>
			<key>frame</key>
			<string>{{935,351},{100,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,14},{100,72}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>pic_jp_yyl_fengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,2},{767,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{767,14}}</string>
			<key>sourceSize</key>
			<string>{767,14}</string>
		</dict>
		<key>pic_jp_yyl_jinxingzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,202},{750,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{750,122}}</string>
			<key>sourceSize</key>
			<string>{750,122}</string>
		</dict>
		<key>pic_jp_yyl_jinxingzhong2.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,72},{753,128}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{753,128}}</string>
			<key>sourceSize</key>
			<string>{763,128}</string>
		</dict>
		<key>pic_jp_yyl_xingyunbang_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{805,496}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{805,496}}</string>
			<key>sourceSize</key>
			<string>{805,500}</string>
		</dict>
		<key>pic_jp_yyl_xingyunbang_dixiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1009,401},{96,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,86}}</string>
			<key>sourceSize</key>
			<string>{96,86}</string>
		</dict>
		<key>pic_jp_yyl_yeqian_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1217,326},{347,48}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{347,48}}</string>
			<key>sourceSize</key>
			<string>{351,50}</string>
		</dict>
		<key>pic_jp_yyl_yeqian_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1578,2},{347,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{347,50}}</string>
			<key>sourceSize</key>
			<string>{351,50}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ActivityShakeHappy0.png</string>
		<key>size</key>
		<string>{1630,500}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ActivityShakeHappy0.png</string>
	</dict>
</dict>
</plist>
