<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_zlml_putongbisha_hb5_00087.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{135,132}}</string>
			<key>offset</key>
			<string>{-11,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,15},{135,132}}</string>
			<key>sourceSize</key>
			<string>{189,192}</string>
		</dict>
		<key>New_zlml_putongbisha_hb_00044.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,135},{124,119}}</string>
			<key>offset</key>
			<string>{-27,-68}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,136},{124,119}}</string>
			<key>sourceSize</key>
			<string>{178,255}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>maliML_common2.png</string>
		<key>scale</key>
		<real>0.77</real>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>maliML_common2.png</string>
	</dict>
</dict>
</plist>
