<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_xrjdfw_daohang_jia_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,1036},{179,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,36}}</string>
			<key>sourceSize</key>
			<string>{179,36}</string>
		</dict>
		<key>btn_xrjdfw_daohang_jia_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,998},{179,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,36}}</string>
			<key>sourceSize</key>
			<string>{179,36}</string>
		</dict>
		<key>pic_xrjdfw_zjm_fensituan_dhk.png</key>
		<dict>
			<key>frame</key>
			<string>{{22,915},{410,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{410,64}}</string>
			<key>sourceSize</key>
			<string>{410,64}</string>
		</dict>
		<key>pic_xrjdfw_zjm_jindutiao_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,915},{679,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{679,10}}</string>
			<key>sourceSize</key>
			<string>{679,10}</string>
		</dict>
		<key>pic_xrjdfw_zjm_jindutiao_tbguan.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,958},{48,38}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{48,38}}</string>
			<key>sourceSize</key>
			<string>{48,46}</string>
		</dict>
		<key>pic_xrjdfw_zjm_jindutiao_tbkai.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,915},{51,41}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{51,41}}</string>
			<key>sourceSize</key>
			<string>{51,49}</string>
		</dict>
		<key>pic_xrjdfw_zjm_jindutiao_tiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{14,915},{675,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{675,6}}</string>
			<key>sourceSize</key>
			<string>{679,10}</string>
		</dict>
		<key>pic_xrjdfw_zjm_jindutiao_yuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,1074},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{70,70}}</string>
			<key>sourceSize</key>
			<string>{74,74}</string>
		</dict>
		<key>pic_xrjdfw_zjm_jindutiao_yuandi.png</key>
		<dict>
			<key>frame</key>
			<string>{{334,1074},{74,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,74}}</string>
			<key>sourceSize</key>
			<string>{74,74}</string>
		</dict>
		<key>pic_xrjdfw_zjm_qipan_gezi_fen.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,1494},{76,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{76,93}}</string>
			<key>sourceSize</key>
			<string>{82,97}</string>
		</dict>
		<key>pic_xrjdfw_zjm_qipan_gezi_huang.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,1494},{76,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{76,93}}</string>
			<key>sourceSize</key>
			<string>{82,97}</string>
		</dict>
		<key>pic_xrjdfw_zjm_qipan_gezi_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,1494},{76,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{76,93}}</string>
			<key>sourceSize</key>
			<string>{82,97}</string>
		</dict>
		<key>pic_xrjdfw_zjm_qipan_gezi_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{22,1494},{76,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{76,93}}</string>
			<key>sourceSize</key>
			<string>{82,97}</string>
		</dict>
		<key>pic_xrjdmx_fenye_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{911,500}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,24},{911,500}}</string>
			<key>sourceSize</key>
			<string>{957,552}</string>
		</dict>
		<key>pic_xrjdmx_tc_xiaodi.png</key>
		<dict>
			<key>frame</key>
			<string>{{22,998},{494,279}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,9},{494,279}}</string>
			<key>sourceSize</key>
			<string>{500,295}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>AthenaAdventure30.png</string>
		<key>size</key>
		<string>{504,1596}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>AthenaAdventure30.png</string>
	</dict>
</dict>
</plist>
