<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mailine.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{128,27}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,5},{128,27}}</string>
			<key>sourceSize</key>
			<string>{140,39}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>TalentHelp0.png</string>
		<key>size</key>
		<string>{134,31}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>TalentHelp0.png</string>
	</dict>
</dict>
</plist>
