<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_pintu_suiji_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1347},{172,51}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,17},{172,51}}</string>
			<key>sourceSize</key>
			<string>{184,83}</string>
		</dict>
		<key>btn_pintu_suiji_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1294},{172,51}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,17},{172,51}}</string>
			<key>sourceSize</key>
			<string>{184,83}</string>
		</dict>
		<key>pic_pintu_bangzhu_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,983},{322,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{322,65}}</string>
			<key>sourceSize</key>
			<string>{322,65}</string>
		</dict>
		<key>pic_pintu_bianhao_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{468,1346},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>pic_pintu_bianhao_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,1346},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>pic_pintu_bianhao_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,1370},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>pic_pintu_bianhao_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,1340},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>pic_pintu_bianhao_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{453,1316},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>pic_pintu_bianhao_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,1370},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>pic_pintu_bianhao_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,1340},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>pic_pintu_bianhao_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{453,1286},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>pic_pintu_bianhao_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{453,1256},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>pic_pintu_fenxiang_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,781},{145,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,4},{145,31}}</string>
			<key>sourceSize</key>
			<string>{149,39}</string>
		</dict>
		<key>pic_pintu_hecheng_fenxiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1233},{173,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,59}}</string>
			<key>sourceSize</key>
			<string>{173,59}</string>
		</dict>
		<key>pic_pintu_hecheng_guanbi.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,1050},{173,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,59}}</string>
			<key>sourceSize</key>
			<string>{173,59}</string>
		</dict>
		<key>pic_pintu_jilu_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,916},{322,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{322,65}}</string>
			<key>sourceSize</key>
			<string>{322,65}</string>
		</dict>
		<key>pic_pintu_jilu_zanwujilu.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,524},{430,172}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{430,172}}</string>
			<key>sourceSize</key>
			<string>{430,172}</string>
		</dict>
		<key>pic_pintu_jingying.png</key>
		<dict>
			<key>frame</key>
			<string>{{435,1269},{64,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,16}}</string>
			<key>sourceSize</key>
			<string>{64,16}</string>
		</dict>
		<key>pic_pintu_jlyl_bidejiangli.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,669},{71,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,17}}</string>
			<key>sourceSize</key>
			<string>{71,17}</string>
		</dict>
		<key>pic_pintu_jlyl_gailvhuode.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,650},{71,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,17}}</string>
			<key>sourceSize</key>
			<string>{71,17}</string>
		</dict>
		<key>pic_pintu_jlyl_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,849},{322,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{322,65}}</string>
			<key>sourceSize</key>
			<string>{322,65}</string>
		</dict>
		<key>pic_pintu_liaotian_zengsong_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{453,1191},{63,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,38}}</string>
			<key>sourceSize</key>
			<string>{63,38}</string>
		</dict>
		<key>pic_pintu_liaotian_zengsong_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,1151},{63,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,38}}</string>
			<key>sourceSize</key>
			<string>{63,38}</string>
		</dict>
		<key>pic_pintu_main_daoju.png</key>
		<dict>
			<key>frame</key>
			<string>{{379,1277},{35,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,61}}</string>
			<key>sourceSize</key>
			<string>{35,61}</string>
		</dict>
		<key>pic_pintu_main_dianjihecheng.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,698},{328,82}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{328,82}}</string>
			<key>sourceSize</key>
			<string>{336,82}</string>
		</dict>
		<key>pic_pintu_main_fenxiang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,1314},{85,79}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,11},{85,79}}</string>
			<key>sourceSize</key>
			<string>{109,103}</string>
		</dict>
		<key>pic_pintu_main_fenxiang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,1233},{85,79}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,11},{85,79}}</string>
			<key>sourceSize</key>
			<string>{109,103}</string>
		</dict>
		<key>pic_pintu_main_fuzhi.png</key>
		<dict>
			<key>frame</key>
			<string>{{456,958},{112,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,8},{112,35}}</string>
			<key>sourceSize</key>
			<string>{132,51}</string>
		</dict>
		<key>pic_pintu_main_jilu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,1314},{85,77}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,13},{85,77}}</string>
			<key>sourceSize</key>
			<string>{109,103}</string>
		</dict>
		<key>pic_pintu_main_jilu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,1225},{85,77}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,13},{85,77}}</string>
			<key>sourceSize</key>
			<string>{109,103}</string>
		</dict>
		<key>pic_pintu_main_jlyl_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,698},{85,81}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,9},{85,81}}</string>
			<key>sourceSize</key>
			<string>{109,103}</string>
		</dict>
		<key>pic_pintu_main_jlyl_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,698},{85,81}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,9},{85,81}}</string>
			<key>sourceSize</key>
			<string>{109,103}</string>
		</dict>
		<key>pic_pintu_main_qingqiu.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,1081},{112,35}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,8},{112,35}}</string>
			<key>sourceSize</key>
			<string>{132,51}</string>
		</dict>
		<key>pic_pintu_main_qingqiu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,931},{148,54}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{148,54}}</string>
			<key>sourceSize</key>
			<string>{148,56}</string>
		</dict>
		<key>pic_pintu_main_qingqiu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,1046},{148,54}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{148,54}}</string>
			<key>sourceSize</key>
			<string>{148,56}</string>
		</dict>
		<key>pic_pintu_main_quxiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,1081},{68,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,68}}</string>
			<key>sourceSize</key>
			<string>{68,68}</string>
		</dict>
		<key>pic_pintu_main_quxiao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,781},{148,54}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{148,54}}</string>
			<key>sourceSize</key>
			<string>{148,56}</string>
		</dict>
		<key>pic_pintu_main_shangyizhang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,1312},{81,34}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,21},{81,34}}</string>
			<key>sourceSize</key>
			<string>{103,78}</string>
		</dict>
		<key>pic_pintu_main_shangyizhang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{471,875},{81,34}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,21},{81,34}}</string>
			<key>sourceSize</key>
			<string>{103,78}</string>
		</dict>
		<key>pic_pintu_main_shiyong.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,932},{112,35}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,8},{112,35}}</string>
			<key>sourceSize</key>
			<string>{132,51}</string>
		</dict>
		<key>pic_pintu_main_xiayizhang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{379,1196},{79,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,22},{79,34}}</string>
			<key>sourceSize</key>
			<string>{103,78}</string>
		</dict>
		<key>pic_pintu_main_xiayizhang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{343,1219},{79,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,22},{79,34}}</string>
			<key>sourceSize</key>
			<string>{103,78}</string>
		</dict>
		<key>pic_pintu_main_zengsong.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,932},{112,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,8},{112,35}}</string>
			<key>sourceSize</key>
			<string>{132,51}</string>
		</dict>
		<key>pic_pintu_main_zengsong_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,782},{148,54}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{148,54}}</string>
			<key>sourceSize</key>
			<string>{148,56}</string>
		</dict>
		<key>pic_pintu_main_zengsong_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,1050},{148,54}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{148,54}}</string>
			<key>sourceSize</key>
			<string>{148,56}</string>
		</dict>
		<key>pic_pintu_qqpt_qingqiu.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1172},{223,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{223,59}}</string>
			<key>sourceSize</key>
			<string>{223,59}</string>
		</dict>
		<key>pic_pintu_qqpt_shetuanqingqiu.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1111},{223,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{223,59}}</string>
			<key>sourceSize</key>
			<string>{223,59}</string>
		</dict>
		<key>pic_pintu_qqpt_shijieqingqiu.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1050},{223,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{223,59}}</string>
			<key>sourceSize</key>
			<string>{223,59}</string>
		</dict>
		<key>pic_pintu_qqpt_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,326},{322,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{322,65}}</string>
			<key>sourceSize</key>
			<string>{322,65}</string>
		</dict>
		<key>pic_pintu_rsff_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,782},{322,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{322,65}}</string>
			<key>sourceSize</key>
			<string>{322,65}</string>
		</dict>
		<key>pic_pintu_xzcy_haoyou_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,1269},{65,17}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,17}}</string>
			<key>sourceSize</key>
			<string>{67,17}</string>
		</dict>
		<key>pic_pintu_xzcy_haoyou_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,1200},{65,17}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,17}}</string>
			<key>sourceSize</key>
			<string>{67,17}</string>
		</dict>
		<key>pic_pintu_xzcy_shetuan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,1195},{72,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,17}}</string>
			<key>sourceSize</key>
			<string>{72,17}</string>
		</dict>
		<key>pic_pintu_xzcy_shetuan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,1195},{72,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,17}}</string>
			<key>sourceSize</key>
			<string>{72,17}</string>
		</dict>
		<key>pic_pintu_xzcy_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,2},{322,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{322,65}}</string>
			<key>sourceSize</key>
			<string>{322,65}</string>
		</dict>
		<key>pic_pintu_xzcy_xuanze.png</key>
		<dict>
			<key>frame</key>
			<string>{{471,781},{92,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,34}}</string>
			<key>sourceSize</key>
			<string>{92,34}</string>
		</dict>
		<key>pic_pintu_xzcy_zanwuhaoyou.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,350},{430,172}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{430,172}}</string>
			<key>sourceSize</key>
			<string>{430,172}</string>
		</dict>
		<key>pic_pintu_xzcy_zanwujulu.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,176},{430,172}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{430,172}}</string>
			<key>sourceSize</key>
			<string>{430,172}</string>
		</dict>
		<key>pic_pintu_xzcy_zanwushetuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{430,172}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{430,172}}</string>
			<key>sourceSize</key>
			<string>{430,172}</string>
		</dict>
		<key>pic_pintu_xzcy_zuijin_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,1294},{36,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,18}}</string>
			<key>sourceSize</key>
			<string>{36,18}</string>
		</dict>
		<key>pic_pintu_xzcy_zuijin_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,1256},{36,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,18}}</string>
			<key>sourceSize</key>
			<string>{36,18}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_Jigsaw0.png</string>
		<key>size</key>
		<string>{507,1402}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_Jigsaw0.png</string>
	</dict>
</dict>
</plist>
