<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_lyyyj_quanfujiangli_fenxiang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1411,201},{72,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,64}}</string>
			<key>sourceSize</key>
			<string>{72,64}</string>
		</dict>
		<key>btn_lyyyj_quanfujiangli_fenxiang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1331,228},{72,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,64}}</string>
			<key>sourceSize</key>
			<string>{72,64}</string>
		</dict>
		<key>btn_lyyyj_quanfujiangli_kaishiyanzou_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{961,261},{197,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,68}}</string>
			<key>sourceSize</key>
			<string>{197,68}</string>
		</dict>
		<key>btn_lyyyj_quanfujiangli_kaishiyanzou_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1130,162},{197,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,68}}</string>
			<key>sourceSize</key>
			<string>{197,68}</string>
		</dict>
		<key>btn_lyyyj_zhwj_huodongjieshao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1360,314},{34,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,37}}</string>
			<key>sourceSize</key>
			<string>{34,37}</string>
		</dict>
		<key>btn_lyyyj_zhwj_huodongjieshao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1324,314},{34,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,37}}</string>
			<key>sourceSize</key>
			<string>{34,37}</string>
		</dict>
		<key>btn_lyyyj_zhwj_lingqu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{931,162},{197,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,68}}</string>
			<key>sourceSize</key>
			<string>{197,68}</string>
		</dict>
		<key>btn_lyyyj_zhwj_lingqu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1467,2},{197,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,68}}</string>
			<key>sourceSize</key>
			<string>{197,68}</string>
		</dict>
		<key>pic_lyyyj_biaoti_yz_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,2},{595,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{595,132}}</string>
			<key>sourceSize</key>
			<string>{595,132}</string>
		</dict>
		<key>pic_lyyyj_cj_kongwutai_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{416,349}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{416,349}}</string>
			<key>sourceSize</key>
			<string>{416,349}</string>
		</dict>
		<key>pic_lyyyj_quanfujiangli_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{1017,2},{158,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,280}}</string>
			<key>sourceSize</key>
			<string>{158,280}</string>
		</dict>
		<key>pic_lyyyj_word_shengyuyanzoucishu.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,305},{262,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{262,42}}</string>
			<key>sourceSize</key>
			<string>{262,42}</string>
		</dict>
		<key>pic_lyyyj_word_yaoqingma.png</key>
		<dict>
			<key>frame</key>
			<string>{{1047,331},{61,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,20}}</string>
			<key>sourceSize</key>
			<string>{61,20}</string>
		</dict>
		<key>pic_lyyyj_word_yz_fyl_huiguilibao.png</key>
		<dict>
			<key>frame</key>
			<string>{{684,305},{43,28}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,26},{43,28}}</string>
			<key>sourceSize</key>
			<string>{75,80}</string>
		</dict>
		<key>pic_lyyyj_word_yz_fyl_huiguilibao2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1242,270},{75,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,80}}</string>
			<key>sourceSize</key>
			<string>{75,80}</string>
		</dict>
		<key>pic_lyyyj_word_yz_fyl_yinfuduihuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1411,151},{45,48}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,16},{45,48}}</string>
			<key>sourceSize</key>
			<string>{75,80}</string>
		</dict>
		<key>pic_lyyyj_word_yz_fyl_yinfuduihuan2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1160,270},{75,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,80}}</string>
			<key>sourceSize</key>
			<string>{75,80}</string>
		</dict>
		<key>pic_lyyyj_word_yz_fyl_zhanhuilaoyou.png</key>
		<dict>
			<key>frame</key>
			<string>{{1485,201},{45,46}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,18},{45,46}}</string>
			<key>sourceSize</key>
			<string>{75,80}</string>
		</dict>
		<key>pic_lyyyj_word_yz_fyl_zhanhuilaoyou2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1329,151},{75,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,80}}</string>
			<key>sourceSize</key>
			<string>{75,80}</string>
		</dict>
		<key>pic_lyyyj_xuanyao_biaotu_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1160,232},{169,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,36}}</string>
			<key>sourceSize</key>
			<string>{169,36}</string>
		</dict>
		<key>pic_lyyyj_yfdh_item_word_goumaicishu.png</key>
		<dict>
			<key>frame</key>
			<string>{{961,331},{84,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{84,20}}</string>
			<key>sourceSize</key>
			<string>{84,22}</string>
		</dict>
		<key>pic_lyyyj_yfdh_lock_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1299,2},{166,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,147}}</string>
			<key>sourceSize</key>
			<string>{166,147}</string>
		</dict>
		<key>pic_lyyyj_zhwj_biaoti_lyyyj_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,136},{509,136}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,0},{509,136}}</string>
			<key>sourceSize</key>
			<string>{519,136}</string>
		</dict>
		<key>pic_lyyyj_zhwj_hglb_word_yaoqingma_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,274},{296,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{296,29}}</string>
			<key>sourceSize</key>
			<string>{296,29}</string>
		</dict>
		<key>pic_lyyyj_zhwj_word_dengji.png</key>
		<dict>
			<key>frame</key>
			<string>{{1324,294},{64,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,18}}</string>
			<key>sourceSize</key>
			<string>{64,18}</string>
		</dict>
		<key>pic_lyyyj_zhwj_word_fuwuqi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1405,267},{66,21}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,21}}</string>
			<key>sourceSize</key>
			<string>{66,23}</string>
		</dict>
		<key>pic_lyyyj_zhwj_word_huiguilibao.png</key>
		<dict>
			<key>frame</key>
			<string>{{718,274},{241,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,72}}</string>
			<key>sourceSize</key>
			<string>{241,72}</string>
		</dict>
		<key>pic_lyyyj_zhwj_word_nybcgzhzhwj.png</key>
		<dict>
			<key>frame</key>
			<string>{{931,232},{201,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,0},{201,27}}</string>
			<key>sourceSize</key>
			<string>{295,27}</string>
		</dict>
		<key>pic_lyyyj_zhwj_word_zhandouli.png</key>
		<dict>
			<key>frame</key>
			<string>{{931,136},{66,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{66,21}}</string>
			<key>sourceSize</key>
			<string>{66,23}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_ActivityFriendMusic0.png</string>
		<key>size</key>
		<string>{1537,353}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_ActivityFriendMusic0.png</string>
	</dict>
</dict>
</plist>
