<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bth_zndg_tanchuang_guanbi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1475,156},{53,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,54}}</string>
			<key>sourceSize</key>
			<string>{53,54}</string>
		</dict>
		<key>bth_zndg_tanchuang_guanbi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1567,106},{53,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,54}}</string>
			<key>sourceSize</key>
			<string>{53,54}</string>
		</dict>
		<key>btn_wenhao_xuyuan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1535,100},{42,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,30}}</string>
			<key>sourceSize</key>
			<string>{42,30}</string>
		</dict>
		<key>btn_wenhao_xuyuan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1439,60},{53,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,38}}</string>
			<key>sourceSize</key>
			<string>{53,38}</string>
		</dict>
		<key>btn_yaoqinghan_yeqian_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1725,2},{151,44}}</string>
			<key>offset</key>
			<string>{1,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{151,44}}</string>
			<key>sourceSize</key>
			<string>{153,56}</string>
		</dict>
		<key>btn_yaoqinghan_yeqian_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1381,60},{153,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,56}}</string>
			<key>sourceSize</key>
			<string>{153,56}</string>
		</dict>
		<key>btn_zndg_yeqian_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1572,2},{151,44}}</string>
			<key>offset</key>
			<string>{1,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{151,44}}</string>
			<key>sourceSize</key>
			<string>{153,56}</string>
		</dict>
		<key>btn_zndg_yeqian_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1329,2},{153,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,56}}</string>
			<key>sourceSize</key>
			<string>{153,56}</string>
		</dict>
		<key>pic_dongmujie_tanchuang_likuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1531,161},{41,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,40}}</string>
			<key>sourceSize</key>
			<string>{41,40}</string>
		</dict>
		<key>pic_hd_znqdg_dgj_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1439,159},{23,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{23,28}}</string>
			<key>sourceSize</key>
			<string>{25,30}</string>
		</dict>
		<key>pic_hd_znqdg_jdt.png</key>
		<dict>
			<key>frame</key>
			<string>{{1381,215},{499,22}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,5},{499,22}}</string>
			<key>sourceSize</key>
			<string>{503,32}</string>
		</dict>
		<key>pic_hd_znqdg_jdt_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{694,444},{500,26}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{500,26}}</string>
			<key>sourceSize</key>
			<string>{506,30}</string>
		</dict>
		<key>pic_hd_znqdg_jdt_di_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1439,115},{34,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,42}}</string>
			<key>sourceSize</key>
			<string>{34,42}</string>
		</dict>
		<key>pic_hd_znqdg_jl_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1351,60},{315,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{315,28}}</string>
			<key>sourceSize</key>
			<string>{315,28}</string>
		</dict>
		<key>pic_hd_znqdg_tc_jl_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{694,167},{621,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{621,134}}</string>
			<key>sourceSize</key>
			<string>{621,134}</string>
		</dict>
		<key>pic_hd_znqdg_tc_xian.png</key>
		<dict>
			<key>frame</key>
			<string>{{694,2},{633,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{633,12}}</string>
			<key>sourceSize</key>
			<string>{633,12}</string>
		</dict>
		<key>pic_zndg_bg01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1274,444},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>pic_zndg_bg02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1484,2},{86,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,96}}</string>
			<key>sourceSize</key>
			<string>{86,96}</string>
		</dict>
		<key>pic_zndg_bg_fengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{1196,444},{76,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,12}}</string>
			<key>sourceSize</key>
			<string>{76,12}</string>
		</dict>
		<key>pic_zndg_biaoti_bg_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{694,395},{614,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{614,47}}</string>
			<key>sourceSize</key>
			<string>{614,47}</string>
		</dict>
		<key>pic_zndg_box_close.png</key>
		<dict>
			<key>frame</key>
			<string>{{1623,106},{54,44}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,16},{54,44}}</string>
			<key>sourceSize</key>
			<string>{70,64}</string>
		</dict>
		<key>pic_zndg_box_kong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1572,48},{56,54}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,6},{56,54}}</string>
			<key>sourceSize</key>
			<string>{70,64}</string>
		</dict>
		<key>pic_zndg_box_open.png</key>
		<dict>
			<key>frame</key>
			<string>{{1479,100},{54,54}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{54,54}}</string>
			<key>sourceSize</key>
			<string>{70,64}</string>
		</dict>
		<key>pic_zndg_tc_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{690,471}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{690,471}}</string>
			<key>sourceSize</key>
			<string>{690,471}</string>
		</dict>
		<key>pic_zndg_tiao_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1310,377},{614,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{614,90}}</string>
			<key>sourceSize</key>
			<string>{614,90}</string>
		</dict>
		<key>pic_zndg_tiao_bg02.png</key>
		<dict>
			<key>frame</key>
			<string>{{694,16},{625,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{625,149}}</string>
			<key>sourceSize</key>
			<string>{625,149}</string>
		</dict>
		<key>pic_zndg_tiao_xiao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{694,303},{614,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{614,90}}</string>
			<key>sourceSize</key>
			<string>{614,90}</string>
		</dict>
		<key>pic_zndg_wenzi_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1321,60},{315,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{315,28}}</string>
			<key>sourceSize</key>
			<string>{315,28}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>AnniversaryCake0.png</string>
		<key>size</key>
		<string>{1926,475}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>AnniversaryCake0.png</string>
	</dict>
</dict>
</plist>
