<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_10zn_rukou_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,590},{87,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,82}}</string>
			<key>sourceSize</key>
			<string>{87,82}</string>
		</dict>
		<key>btn_10zn_rukou_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,506},{87,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,82}}</string>
			<key>sourceSize</key>
			<string>{87,82}</string>
		</dict>
		<key>btn_rukouicon_gdjtp_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,422},{87,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,82}}</string>
			<key>sourceSize</key>
			<string>{87,82}</string>
		</dict>
		<key>btn_rukouicon_gdjtp_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,338},{87,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,82}}</string>
			<key>sourceSize</key>
			<string>{87,82}</string>
		</dict>
		<key>btn_shoucong_K_rukou01_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,254},{88,82}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{88,82}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>btn_shoucong_K_rukou01_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,170},{88,82}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{88,82}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>btn_shoucong_znt_rukou01_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,86},{88,82}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{88,82}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>btn_shoucong_znt_rukou01_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{88,82}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{88,82}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_main130.png</string>
		<key>size</key>
		<string>{92,674}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_main130.png</string>
	</dict>
</dict>
</plist>
