<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_hd_4zn_xyc_jinbi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1364,123},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>pic_hd_4zn_xyc_qipao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1202,123},{118,50}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,20},{118,50}}</string>
			<key>sourceSize</key>
			<string>{118,70}</string>
		</dict>
		<key>pic_hd_4zn_xyc_yinbi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1322,123},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>pic_hd_4zn_xyc_youdiban02.png</key>
		<dict>
			<key>frame</key>
			<string>{{880,123},{320,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,56}}</string>
			<key>sourceSize</key>
			<string>{320,56}</string>
		</dict>
		<key>pic_hd_4zn_xyc_youdiban3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{633,188}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{633,188}}</string>
			<key>sourceSize</key>
			<string>{635,192}</string>
		</dict>
		<key>pic_yaoyiyao_4zn_ban.png</key>
		<dict>
			<key>frame</key>
			<string>{{637,2},{241,185}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,185}}</string>
			<key>sourceSize</key>
			<string>{241,185}</string>
		</dict>
		<key>pic_yaoyiyao_4zn_ban_zs.png</key>
		<dict>
			<key>frame</key>
			<string>{{1322,165},{23,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,39}}</string>
			<key>sourceSize</key>
			<string>{23,39}</string>
		</dict>
		<key>pic_yaoyiyao_4zn_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{880,2},{757,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{757,119}}</string>
			<key>sourceSize</key>
			<string>{757,119}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>fourYears0.png</string>
		<key>size</key>
		<string>{1639,192}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>fourYears0.png</string>
	</dict>
</dict>
</plist>
