<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>xiataijie_bencichengji.png</key>
		<dict>
			<key>frame</key>
			<string>{{1330,230},{28,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,73}}</string>
			<key>sourceSize</key>
			<string>{28,73}</string>
		</dict>
		<key>xiataijie_biaotou.png</key>
		<dict>
			<key>frame</key>
			<string>{{563,186},{153,517}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,517}}</string>
			<key>sourceSize</key>
			<string>{153,517}</string>
		</dict>
		<key>xiataijie_cengshu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1656,324},{23,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,47}}</string>
			<key>sourceSize</key>
			<string>{23,47}</string>
		</dict>
		<key>xiataijie_chaojicaotijing.png</key>
		<dict>
			<key>frame</key>
			<string>{{1127,55},{95,293}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,293}}</string>
			<key>sourceSize</key>
			<string>{95,293}</string>
		</dict>
		<key>xiataijie_goumai.png</key>
		<dict>
			<key>frame</key>
			<string>{{1350,335},{35,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,76}}</string>
			<key>sourceSize</key>
			<string>{35,76}</string>
		</dict>
		<key>xiataijie_goumaicishu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1048,341},{75,225}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,225}}</string>
			<key>sourceSize</key>
			<string>{75,225}</string>
		</dict>
		<key>xiataijie_guizezi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1402,228},{75,185}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,185}}</string>
			<key>sourceSize</key>
			<string>{75,185}</string>
		</dict>
		<key>xiataijie_huodejiangli.png</key>
		<dict>
			<key>frame</key>
			<string>{{1545,305},{24,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,93}}</string>
			<key>sourceSize</key>
			<string>{24,93}</string>
		</dict>
		<key>xiataijie_jianglijiesuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{563,2},{182,562}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,562}}</string>
			<key>sourceSize</key>
			<string>{182,562}</string>
		</dict>
		<key>xiataijie_jianglishangxian.png</key>
		<dict>
			<key>frame</key>
			<string>{{1398,334},{25,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,113}}</string>
			<key>sourceSize</key>
			<string>{25,113}</string>
		</dict>
		<key>xiataijie_jinrichengjizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1402,152},{74,225}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,225}}</string>
			<key>sourceSize</key>
			<string>{74,225}</string>
		</dict>
		<key>xiataijie_jinripaihang.png</key>
		<dict>
			<key>frame</key>
			<string>{{563,341},{75,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,256}}</string>
			<key>sourceSize</key>
			<string>{75,256}</string>
		</dict>
		<key>xiataijie_jinrizuigaofenshu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1197,305},{24,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,145}}</string>
			<key>sourceSize</key>
			<string>{24,145}</string>
		</dict>
		<key>xiataijie_jixu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1360,230},{36,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,103}}</string>
			<key>sourceSize</key>
			<string>{36,103}</string>
		</dict>
		<key>xiataijie_jueseming.png</key>
		<dict>
			<key>frame</key>
			<string>{{1571,324},{24,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,83}}</string>
			<key>sourceSize</key>
			<string>{24,83}</string>
		</dict>
		<key>xiataijie_kaishi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1422,77},{73,246}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,246}}</string>
			<key>sourceSize</key>
			<string>{73,246}</string>
		</dict>
		<key>xiataijie_kaishi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1082,230},{73,246}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,246}}</string>
			<key>sourceSize</key>
			<string>{73,246}</string>
		</dict>
		<key>xiataijie_kehuodejiangli.png</key>
		<dict>
			<key>frame</key>
			<string>{{1398,305},{27,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,118}}</string>
			<key>sourceSize</key>
			<string>{27,118}</string>
		</dict>
		<key>xiataijie_lingqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1629,152},{26,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,54}}</string>
			<key>sourceSize</key>
			<string>{26,54}</string>
		</dict>
		<key>xiataijie_lishizuijia.png</key>
		<dict>
			<key>frame</key>
			<string>{{1387,387},{24,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,101}}</string>
			<key>sourceSize</key>
			<string>{24,101}</string>
		</dict>
		<key>xiataijie_miaoshu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1127,2},{51,385}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,385}}</string>
			<key>sourceSize</key>
			<string>{51,385}</string>
		</dict>
		<key>xiataijie_paiming.png</key>
		<dict>
			<key>frame</key>
			<string>{{1387,361},{24,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,101}}</string>
			<key>sourceSize</key>
			<string>{24,101}</string>
		</dict>
		<key>xiataijie_queding.png</key>
		<dict>
			<key>frame</key>
			<string>{{1490,361},{26,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,55}}</string>
			<key>sourceSize</key>
			<string>{26,55}</string>
		</dict>
		<key>xiataijie_tuichu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1275,331},{36,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,77}}</string>
			<key>sourceSize</key>
			<string>{36,77}</string>
		</dict>
		<key>xiataijie_wanfacishu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1518,305},{25,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,100}}</string>
			<key>sourceSize</key>
			<string>{25,100}</string>
		</dict>
		<key>xiataijie_wenxintishi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1514,2},{73,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,155}}</string>
			<key>sourceSize</key>
			<string>{73,155}</string>
		</dict>
		<key>xiataijie_wenxintishitupian.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{414,559}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{414,559}}</string>
			<key>sourceSize</key>
			<string>{414,559}</string>
		</dict>
		<key>xiataijie_yilingqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1589,228},{90,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,94}}</string>
			<key>sourceSize</key>
			<string>{90,94}</string>
		</dict>
		<key>xiataijie_youxizanting.png</key>
		<dict>
			<key>frame</key>
			<string>{{821,341},{75,225}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,225}}</string>
			<key>sourceSize</key>
			<string>{75,225}</string>
		</dict>
		<key>xiataijie_zuanshibuzu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1127,152},{76,273}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,273}}</string>
			<key>sourceSize</key>
			<string>{76,273}</string>
		</dict>
		<key>xiataijie_zuanshibuzu_queding.png</key>
		<dict>
			<key>frame</key>
			<string>{{1313,331},{35,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,77}}</string>
			<key>sourceSize</key>
			<string>{35,77}</string>
		</dict>
		<key>xiataijie_zuanshibuzu_quxiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1082,305},{34,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,113}}</string>
			<key>sourceSize</key>
			<string>{34,113}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_floorwar0.png</string>
		<key>size</key>
		<string>{1681,418}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_floorwar0.png</string>
	</dict>
</dict>
</plist>
