<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bo10_bawangwanboimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,81},{46,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,17}}</string>
			<key>sourceSize</key>
			<string>{46,17}</string>
		</dict>
		<key>bo1_bawangwanboimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,238},{11,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,21}}</string>
			<key>sourceSize</key>
			<string>{11,21}</string>
		</dict>
		<key>bo2_bawangwanboimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,2},{50,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,41}}</string>
			<key>sourceSize</key>
			<string>{50,41}</string>
		</dict>
		<key>bo3_bawangwanboimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,45},{47,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,34}}</string>
			<key>sourceSize</key>
			<string>{47,34}</string>
		</dict>
		<key>bo4_bawangwanboimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,100},{63,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,40}}</string>
			<key>sourceSize</key>
			<string>{63,40}</string>
		</dict>
		<key>bo5_bawangwanboimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,2},{98,90}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{98,90}}</string>
			<key>sourceSize</key>
			<string>{98,94}</string>
		</dict>
		<key>bo6_bawangwanboimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{99,90}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{99,90}}</string>
			<key>sourceSize</key>
			<string>{101,94}</string>
		</dict>
		<key>bo7_bawangwanboimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,165},{29,42}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{29,42}}</string>
			<key>sourceSize</key>
			<string>{29,44}</string>
		</dict>
		<key>bo8_bawangwanboimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,209},{40,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,21}}</string>
			<key>sourceSize</key>
			<string>{40,21}</string>
		</dict>
		<key>bo9_bawangwanboimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,209},{27,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,22}}</string>
			<key>sourceSize</key>
			<string>{27,22}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA4444</string>
		<key>realTextureFileName</key>
		<string>bawangwanboimage.png</string>
		<key>scale</key>
		<real>0.5</real>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>bawangwanboimage.png</string>
	</dict>
</dict>
</plist>
