<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_zl_mgydn_dssz_liumenbisha_cjb_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{508,2},{180,95}}</string>
			<key>offset</key>
			<string>{-73,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,20},{180,95}}</string>
			<key>sourceSize</key>
			<string>{368,129}</string>
		</dict>
		<key>New_zl_mgydn_dssz_liumenbisha_cjb_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{911,485},{54,95}}</string>
			<key>offset</key>
			<string>{-102,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{55,16},{54,95}}</string>
			<key>sourceSize</key>
			<string>{368,129}</string>
		</dict>
		<key>New_zl_mgydn_dssz_liumenbisha_sj_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,2},{71,73}}</string>
			<key>offset</key>
			<string>{-7,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,77},{71,73}}</string>
			<key>sourceSize</key>
			<string>{225,239}</string>
		</dict>
		<key>New_zl_mgydn_dssz_liumenbisha_sj_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,216},{185,199}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,20},{185,199}}</string>
			<key>sourceSize</key>
			<string>{225,239}</string>
		</dict>
		<key>New_zl_mgydn_dssz_liumenbisha_sj_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,608},{189,187}}</string>
			<key>offset</key>
			<string>{-4,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,10},{189,187}}</string>
			<key>sourceSize</key>
			<string>{225,239}</string>
		</dict>
		<key>New_zl_mgydn_dssz_liumenbisha_sj_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{189,219}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,7},{189,219}}</string>
			<key>sourceSize</key>
			<string>{225,239}</string>
		</dict>
		<key>New_zl_mgydn_dssz_liumenbisha_sj_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,644},{195,203}}</string>
			<key>offset</key>
			<string>{-8,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,23},{195,203}}</string>
			<key>sourceSize</key>
			<string>{225,239}</string>
		</dict>
		<key>New_zl_mgydn_dssz_liumenbisha_sj_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,2},{203,213}}</string>
			<key>offset</key>
			<string>{-9,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,19},{203,213}}</string>
			<key>sourceSize</key>
			<string>{225,239}</string>
		</dict>
		<key>New_zl_mgydn_dssz_liumenbisha_sj_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,648},{155,207}}</string>
			<key>offset</key>
			<string>{-29,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,27},{155,207}}</string>
			<key>sourceSize</key>
			<string>{225,239}</string>
		</dict>
		<key>New_zl_mgydn_dssz_liumenbisha_sj_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{676,135},{115,99}}</string>
			<key>offset</key>
			<string>{-48,-59}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,129},{115,99}}</string>
			<key>sourceSize</key>
			<string>{225,239}</string>
		</dict>
		<key>New_zl_mgydn_dssz_putongbisha_gq_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,183},{65,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,6},{65,66}}</string>
			<key>sourceSize</key>
			<string>{77,78}</string>
		</dict>
		<key>New_zl_mgydn_dssz_putongbisha_gq_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,76},{71,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{71,72}}</string>
			<key>sourceSize</key>
			<string>{77,78}</string>
		</dict>
		<key>New_zl_mgydn_dssz_putongbisha_gq_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,433},{59,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,9},{59,60}}</string>
			<key>sourceSize</key>
			<string>{77,78}</string>
		</dict>
		<key>New_zl_mgydn_dssz_putongbisha_hq_00117.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,375},{57,63}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,7},{57,63}}</string>
			<key>sourceSize</key>
			<string>{81,75}</string>
		</dict>
		<key>New_zl_mgydn_dssz_putongbisha_jdb_00123.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,798},{132,45}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,4},{132,45}}</string>
			<key>sourceSize</key>
			<string>{144,53}</string>
		</dict>
		<key>New_zl_mgydn_dssz_putongbisha_jdb_00125.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,251},{130,51}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,1},{130,51}}</string>
			<key>sourceSize</key>
			<string>{144,53}</string>
		</dict>
		<key>New_zl_mgydn_dssz_putongbisha_jdb_00131.png</key>
		<dict>
			<key>frame</key>
			<string>{{583,798},{128,45}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,3},{128,45}}</string>
			<key>sourceSize</key>
			<string>{144,53}</string>
		</dict>
		<key>New_zl_mgydn_dssz_putongbisha_jdb_00135.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,328},{136,53}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,53}}</string>
			<key>sourceSize</key>
			<string>{144,53}</string>
		</dict>
		<key>New_zl_mgydn_dssz_putongbisha_lgb_00123.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,648},{95,207}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,3},{95,207}}</string>
			<key>sourceSize</key>
			<string>{117,211}</string>
		</dict>
		<key>New_zl_mgydn_dssz_putongbisha_lgb_00125.png</key>
		<dict>
			<key>frame</key>
			<string>{{574,382},{101,179}}</string>
			<key>offset</key>
			<string>{1,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,21},{101,179}}</string>
			<key>sourceSize</key>
			<string>{117,211}</string>
		</dict>
		<key>New_zl_mgydn_dssz_putongbisha_lgb_00127.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,216},{107,201}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,8},{107,201}}</string>
			<key>sourceSize</key>
			<string>{117,211}</string>
		</dict>
		<key>New_zl_mgydn_dssz_putongbisha_lgb_00129.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,2},{111,197}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{111,197}}</string>
			<key>sourceSize</key>
			<string>{117,211}</string>
		</dict>
		<key>New_zl_mgydn_dssz_putongbisha_lgb_00131.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,200},{97,181}}</string>
			<key>offset</key>
			<string>{1,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,21},{97,181}}</string>
			<key>sourceSize</key>
			<string>{117,211}</string>
		</dict>
		<key>New_zl_mgydn_dssz_putongbisha_lgb_00135.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,844},{91,177}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,21},{91,177}}</string>
			<key>sourceSize</key>
			<string>{117,211}</string>
		</dict>
		<key>New_zl_mgydn_dssz_putongbisha_lgb_00137.png</key>
		<dict>
			<key>frame</key>
			<string>{{466,416},{107,183}}</string>
			<key>offset</key>
			<string>{4,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,18},{107,183}}</string>
			<key>sourceSize</key>
			<string>{117,211}</string>
		</dict>
		<key>New_zl_mgydn_dssz_putongbisha_lgb_00139.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,416},{103,191}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,12},{103,191}}</string>
			<key>sourceSize</key>
			<string>{117,211}</string>
		</dict>
		<key>New_zl_mgydn_dssz_putongbisha_lq_00117.png</key>
		<dict>
			<key>frame</key>
			<string>{{783,777},{56,60}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,8},{56,60}}</string>
			<key>sourceSize</key>
			<string>{78,72}</string>
		</dict>
		<key>New_zl_mgydn_dssz_putongbisha_lq_00119.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,2},{66,64}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,1},{66,64}}</string>
			<key>sourceSize</key>
			<string>{78,72}</string>
		</dict>
		<key>New_zl_mgydn_dssz_xiaojineng_jt_00036.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,844},{169,132}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,10},{169,132}}</string>
			<key>sourceSize</key>
			<string>{193,154}</string>
		</dict>
		<key>New_zl_mgydn_dssz_xiaojineng_jt_00038.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,837},{167,134}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,9},{167,134}}</string>
			<key>sourceSize</key>
			<string>{193,154}</string>
		</dict>
		<key>New_zl_mgydn_dssz_xiaojineng_jt_00040.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,856},{161,138}}</string>
			<key>offset</key>
			<string>{7,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,8},{161,138}}</string>
			<key>sourceSize</key>
			<string>{193,154}</string>
		</dict>
		<key>New_zl_mgydn_dssz_xiaojineng_jt_00042.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,160},{167,140}}</string>
			<key>offset</key>
			<string>{5,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,6},{167,140}}</string>
			<key>sourceSize</key>
			<string>{193,154}</string>
		</dict>
		<key>New_zl_mgydn_dssz_xiaojineng_jt_00044.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,608},{169,138}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,7},{169,138}}</string>
			<key>sourceSize</key>
			<string>{193,154}</string>
		</dict>
		<key>New_zl_mgydn_dssz_xiaojineng_jt_00046.png</key>
		<dict>
			<key>frame</key>
			<string>{{777,607},{169,132}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,11},{169,132}}</string>
			<key>sourceSize</key>
			<string>{193,154}</string>
		</dict>
		<key>New_zlmgydl_daiji_lx_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{574,562},{68,45}}</string>
			<key>offset</key>
			<string>{37,27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{96,15},{68,45}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>New_zlmgydl_daiji_lx_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{643,562},{68,45}}</string>
			<key>offset</key>
			<string>{-27,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,60},{68,45}}</string>
			<key>sourceSize</key>
			<string>{186,129}</string>
		</dict>
		<key>New_zlmgydl_daiji_sg_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,437},{210,169}}</string>
			<key>offset</key>
			<string>{-17,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,18},{210,169}}</string>
			<key>sourceSize</key>
			<string>{264,195}</string>
		</dict>
		<key>New_zlmgydl_daiji_sg_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,844},{170,177}}</string>
			<key>offset</key>
			<string>{3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{50,10},{170,177}}</string>
			<key>sourceSize</key>
			<string>{264,195}</string>
		</dict>
		<key>New_zlmgydl_daiji_sg_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,848},{170,189}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{47,1},{170,189}}</string>
			<key>sourceSize</key>
			<string>{264,195}</string>
		</dict>
		<key>New_zlmgydl_daiji_sg_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,437},{206,189}}</string>
			<key>offset</key>
			<string>{21,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{50,0},{206,189}}</string>
			<key>sourceSize</key>
			<string>{264,195}</string>
		</dict>
		<key>New_zlmgydl_daiji_sg_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,222},{214,193}}</string>
			<key>offset</key>
			<string>{17,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{42,2},{214,193}}</string>
			<key>sourceSize</key>
			<string>{264,195}</string>
		</dict>
		<key>New_zlmgydl_liumenbisha_qiu_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,375},{57,63}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,7},{57,63}}</string>
			<key>sourceSize</key>
			<string>{81,75}</string>
		</dict>
		<key>New_zlmgydl_putongbisha_hq_00074.png</key>
		<dict>
			<key>frame</key>
			<string>{{777,2},{119,93}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{119,93}}</string>
			<key>sourceSize</key>
			<string>{123,93}</string>
		</dict>
		<key>New_zlmgydl_putongbisha_hq_00076.png</key>
		<dict>
			<key>frame</key>
			<string>{{777,342},{119,89}}</string>
			<key>offset</key>
			<string>{2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{119,89}}</string>
			<key>sourceSize</key>
			<string>{123,93}</string>
		</dict>
		<key>New_zlmgydl_putongbisha_hq_00078.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,493},{113,83}}</string>
			<key>offset</key>
			<string>{5,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,0},{113,83}}</string>
			<key>sourceSize</key>
			<string>{123,93}</string>
		</dict>
		<key>New_zlmgydl_putongbisha_hq_00082.png</key>
		<dict>
			<key>frame</key>
			<string>{{777,238},{103,91}}</string>
			<key>offset</key>
			<string>{10,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,0},{103,91}}</string>
			<key>sourceSize</key>
			<string>{123,93}</string>
		</dict>
		<key>New_zlmgydl_putongbisha_hq_00084.png</key>
		<dict>
			<key>frame</key>
			<string>{{777,122},{115,93}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{115,93}}</string>
			<key>sourceSize</key>
			<string>{123,93}</string>
		</dict>
		<key>New_zlmgydl_putongbisha_jzq_00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{911,382},{102,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,102}}</string>
			<key>sourceSize</key>
			<string>{102,102}</string>
		</dict>
		<key>New_zlmgydl_putongbisha_jzq_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{796,540},{56,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,23},{56,56}}</string>
			<key>sourceSize</key>
			<string>{102,102}</string>
		</dict>
		<key>New_zlmgydl_shengli_bd_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,251},{111,123}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,16},{111,123}}</string>
			<key>sourceSize</key>
			<string>{149,161}</string>
		</dict>
		<key>New_zlmgydl_shengli_bd_00035.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,856},{143,161}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{143,161}}</string>
			<key>sourceSize</key>
			<string>{149,161}</string>
		</dict>
		<key>New_zlmgydl_shengli_bd_00037.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,2},{145,157}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,157}}</string>
			<key>sourceSize</key>
			<string>{149,161}</string>
		</dict>
		<key>New_zlmgydl_shengli_sg_00041.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,778},{70,65}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,6},{70,65}}</string>
			<key>sourceSize</key>
			<string>{82,71}</string>
		</dict>
		<key>New_zlmgydl_shengli_sg_00043.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,69},{64,65}}</string>
			<key>offset</key>
			<string>{4,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,5},{64,65}}</string>
			<key>sourceSize</key>
			<string>{82,71}</string>
		</dict>
		<key>New_zlmgydl_shengli_sg_00047.png</key>
		<dict>
			<key>frame</key>
			<string>{{840,777},{70,59}}</string>
			<key>offset</key>
			<string>{-6,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{70,59}}</string>
			<key>sourceSize</key>
			<string>{82,71}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>yadiannaMGSZ_common1.png</string>
		<key>scale</key>
		<real>0.79</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>yadiannaMGSZ_common1.png</string>
	</dict>
</dict>
</plist>
