<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>14.png</key>
		<dict>
			<key>frame</key>
			<string>{{1457,278},{85,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,89}}</string>
			<key>sourceSize</key>
			<string>{85,89}</string>
		</dict>
		<key>bg_zy_fdz_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{731,17},{180,264}}</string>
			<key>offset</key>
			<string>{-8,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,41},{180,264}}</string>
			<key>sourceSize</key>
			<string>{230,334}</string>
		</dict>
		<key>btn_zy_fdz_huang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1401,138},{184,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,42}}</string>
			<key>sourceSize</key>
			<string>{184,42}</string>
		</dict>
		<key>btn_zy_fdz_huang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1357,138},{184,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,42}}</string>
			<key>sourceSize</key>
			<string>{184,42}</string>
		</dict>
		<key>btn_zy_fdz_lan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1313,138},{184,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,42}}</string>
			<key>sourceSize</key>
			<string>{184,42}</string>
		</dict>
		<key>btn_zy_fdz_lan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1269,195},{184,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,42}}</string>
			<key>sourceSize</key>
			<string>{184,42}</string>
		</dict>
		<key>btn_zy_scz_gouxuankuang_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{692,259},{26,22}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,10},{26,22}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>btn_zy_scz_gouxuankuang_light.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,261},{20,20}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,12},{20,20}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>btn_zy_scz_tishideng.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,427},{20,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,19}}</string>
			<key>sourceSize</key>
			<string>{20,19}</string>
		</dict>
		<key>btn_zy_scz_tishidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,462},{185,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,32}}</string>
			<key>sourceSize</key>
			<string>{185,32}</string>
		</dict>
		<key>btn_zy_zjm_kjzz_guanbi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1425,418},{51,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,51}}</string>
			<key>sourceSize</key>
			<string>{51,51}</string>
		</dict>
		<key>pic_zhanhun_jindutiao_duan_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{817,462},{214,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,24}}</string>
			<key>sourceSize</key>
			<string>{214,24}</string>
		</dict>
		<key>pic_zhizaoji_laba.png</key>
		<dict>
			<key>frame</key>
			<string>{{1212,386},{54,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,52}}</string>
			<key>sourceSize</key>
			<string>{54,52}</string>
		</dict>
		<key>pic_zy_fdz_di1.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,17},{373,203}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{373,203}}</string>
			<key>sourceSize</key>
			<string>{373,205}</string>
		</dict>
		<key>pic_zy_fdz_di1_taitou_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,2},{564,13}}</string>
			<key>offset</key>
			<string>{18,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,0},{564,13}}</string>
			<key>sourceSize</key>
			<string>{600,13}</string>
		</dict>
		<key>pic_zy_fdz_di2_likuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1516,56},{36,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,31}}</string>
			<key>sourceSize</key>
			<string>{36,31}</string>
		</dict>
		<key>pic_zy_fdz_di3_zidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1445,239},{82,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,37}}</string>
			<key>sourceSize</key>
			<string>{82,37}</string>
		</dict>
		<key>pic_zy_fdz_di3_zidi_fengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{1532,94},{2,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,15}}</string>
			<key>sourceSize</key>
			<string>{2,15}</string>
		</dict>
		<key>pic_zy_fdz_di4_xinxidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,195},{292,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{292,64}}</string>
			<key>sourceSize</key>
			<string>{292,64}</string>
		</dict>
		<key>pic_zy_fdz_di4_xinxidi_xuanzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,427},{292,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{292,64}}</string>
			<key>sourceSize</key>
			<string>{292,64}</string>
		</dict>
		<key>pic_zy_fdz_di4_xinxidi_xuanzhong_tu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1478,448},{38,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,45}}</string>
			<key>sourceSize</key>
			<string>{38,45}</string>
		</dict>
		<key>pic_zy_fdz_di5_tubiaodi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1478,399},{51,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,47}}</string>
			<key>sourceSize</key>
			<string>{51,47}</string>
		</dict>
		<key>pic_zy_fdz_di6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1444,389},{26,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,27}}</string>
			<key>sourceSize</key>
			<string>{26,27}</string>
		</dict>
		<key>pic_zy_fdz_di7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1531,369},{18,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,16}}</string>
			<key>sourceSize</key>
			<string>{18,16}</string>
		</dict>
		<key>pic_zy_fdz_ditu.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{352,423}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{352,423}}</string>
			<key>sourceSize</key>
			<string>{352,423}</string>
		</dict>
		<key>pic_zy_fdz_ditu_zhuagnshi1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1212,462},{60,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,29}}</string>
			<key>sourceSize</key>
			<string>{60,29}</string>
		</dict>
		<key>pic_zy_fdz_ditu_zhuagnshi2.png</key>
		<dict>
			<key>frame</key>
			<string>{{692,222},{35,37}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{35,37}}</string>
			<key>sourceSize</key>
			<string>{37,39}</string>
		</dict>
		<key>pic_zy_fdz_ditu_zhuagnshi3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1516,94},{40,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,14}}</string>
			<key>sourceSize</key>
			<string>{40,14}</string>
		</dict>
		<key>pic_zy_fdz_elenum_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1212,195},{189,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,55}}</string>
			<key>sourceSize</key>
			<string>{189,55}</string>
		</dict>
		<key>pic_zy_fdz_fengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{1436,44},{10,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,2}}</string>
			<key>sourceSize</key>
			<string>{10,2}</string>
		</dict>
		<key>pic_zy_fdz_jindutiao1.png</key>
		<dict>
			<key>frame</key>
			<string>{{952,440},{328,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{328,20}}</string>
			<key>sourceSize</key>
			<string>{332,24}</string>
		</dict>
		<key>pic_zy_fdz_jindutiao2.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,25},{526,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{526,17}}</string>
			<key>sourceSize</key>
			<string>{530,21}</string>
		</dict>
		<key>pic_zy_fdz_jindutiao2_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,2},{530,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{530,21}}</string>
			<key>sourceSize</key>
			<string>{530,21}</string>
		</dict>
		<key>pic_zy_fdz_jindutiao_dian1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1270,161},{12,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,27}}</string>
			<key>sourceSize</key>
			<string>{12,27}</string>
		</dict>
		<key>pic_zy_fdz_jindutiao_dian2.png</key>
		<dict>
			<key>frame</key>
			<string>{{601,480},{12,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,27}}</string>
			<key>sourceSize</key>
			<string>{12,27}</string>
		</dict>
		<key>pic_zy_fdz_jindutiaodi.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,454},{332,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{332,24}}</string>
			<key>sourceSize</key>
			<string>{332,24}</string>
		</dict>
		<key>pic_zy_fdz_shandian_zhezhao.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,222},{230,334}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{230,334}}</string>
			<key>sourceSize</key>
			<string>{230,334}</string>
		</dict>
		<key>pic_zy_fdz_shandian_zhezhao_lanse.png</key>
		<dict>
			<key>frame</key>
			<string>{{952,261},{258,177}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{258,177}}</string>
			<key>sourceSize</key>
			<string>{258,177}</string>
		</dict>
		<key>pic_zy_fdz_shandian_zise.png</key>
		<dict>
			<key>frame</key>
			<string>{{692,283},{258,177}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{258,177}}</string>
			<key>sourceSize</key>
			<string>{258,177}</string>
		</dict>
		<key>pic_zy_fdz_shouye_ditu5.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,480},{303,5}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{303,5}}</string>
			<key>sourceSize</key>
			<string>{307,5}</string>
		</dict>
		<key>pic_zy_fdz_shouye_ditu5_fengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{1457,369},{10,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,1}}</string>
			<key>sourceSize</key>
			<string>{10,1}</string>
		</dict>
		<key>pic_zy_fdz_tsfdl_zidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,44},{373,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{373,115}}</string>
			<key>sourceSize</key>
			<string>{373,115}</string>
		</dict>
		<key>pic_zy_fdz_xialatiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1531,393},{2,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,16}}</string>
			<key>sourceSize</key>
			<string>{2,16}</string>
		</dict>
		<key>pic_zy_fdz_xialatiao_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1531,389},{2,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,16}}</string>
			<key>sourceSize</key>
			<string>{2,16}</string>
		</dict>
		<key>pic_zy_fdz_xian1.png</key>
		<dict>
			<key>frame</key>
			<string>{{817,488},{191,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,5}}</string>
			<key>sourceSize</key>
			<string>{191,5}</string>
		</dict>
		<key>pic_zy_fdz_xian2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1441,27},{104,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,27}}</string>
			<key>sourceSize</key>
			<string>{104,27}</string>
		</dict>
		<key>pic_zy_fdz_xian3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1288,138},{13,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,21}}</string>
			<key>sourceSize</key>
			<string>{13,21}</string>
		</dict>
		<key>pic_zy_zjm_kjzz_biaotitou01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1313,372},{162,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,15}}</string>
			<key>sourceSize</key>
			<string>{162,15}</string>
		</dict>
		<key>pic_zy_zjm_kjzz_dibandiguang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1288,44},{146,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,92}}</string>
			<key>sourceSize</key>
			<string>{146,92}</string>
		</dict>
		<key>pic_zy_zjm_kjzz_fubiaotidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,161},{355,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{355,32}}</string>
			<key>sourceSize</key>
			<string>{355,32}</string>
		</dict>
		<key>pic_zy_zjm_kjzz_jiantou.png</key>
		<dict>
			<key>frame</key>
			<string>{{1454,2},{23,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,93}}</string>
			<key>sourceSize</key>
			<string>{23,93}</string>
		</dict>
		<key>pic_zy_zjm_kjzz_neikuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1313,324},{46,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,142}}</string>
			<key>sourceSize</key>
			<string>{46,142}</string>
		</dict>
		<key>pic_zy_zjm_kjzz_wupindi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1445,136},{101,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,91}}</string>
			<key>sourceSize</key>
			<string>{101,91}</string>
		</dict>
		<key>pic_zy_zzf_tc_daojumingzidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1477,369},{52,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,28}}</string>
			<key>sourceSize</key>
			<string>{52,28}</string>
		</dict>
		<key>pic_zy_zzf_tc_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{1282,418},{141,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,40}}</string>
			<key>sourceSize</key>
			<string>{141,40}</string>
		</dict>
		<key>pic_zy_zzf_tc_jiantou.png</key>
		<dict>
			<key>frame</key>
			<string>{{1033,462},{26,177}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,177}}</string>
			<key>sourceSize</key>
			<string>{26,177}</string>
		</dict>
		<key>pic_zy_zzf_tc_tiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1436,56},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>pic_zy_zzf_tc_ziyuanduihuantou.png</key>
		<dict>
			<key>frame</key>
			<string>{{1268,389},{174,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,27}}</string>
			<key>sourceSize</key>
			<string>{174,27}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Home50.png</string>
		<key>size</key>
		<string>{1549,496}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>Home50.png</string>
	</dict>
</dict>
</plist>
