<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask01_baznqdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,176},{74,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,26}}</string>
			<key>sourceSize</key>
			<string>{74,26}</string>
		</dict>
		<key>tiao_baznqdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,176},{21,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,164}}</string>
			<key>sourceSize</key>
			<string>{21,164}</string>
		</dict>
		<key>wy_10_10_42275_baznqdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,53},{43,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,127}}</string>
			<key>sourceSize</key>
			<string>{43,127}</string>
		</dict>
		<key>wy_12_12_65525_baznqdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{49,230}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,230}}</string>
			<key>sourceSize</key>
			<string>{49,230}</string>
		</dict>
		<key>wy_2_2_47468_baznqdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,199},{90,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,96}}</string>
			<key>sourceSize</key>
			<string>{90,96}</string>
		</dict>
		<key>wy_6_6_82843_baznqdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,53},{121,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,192}}</string>
			<key>sourceSize</key>
			<string>{121,192}</string>
		</dict>
		<key>wy_8_8_79011_baznqdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,199},{62,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,77}}</string>
			<key>sourceSize</key>
			<string>{62,77}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>baznqdimage.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>baznqdimage.png</string>
	</dict>
</dict>
</plist>
