<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wy_2_2_46217_yiyzltxk25image.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,127},{12,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,8}}</string>
			<key>sourceSize</key>
			<string>{12,8}</string>
		</dict>
		<key>wy_4_4_60375_yiyzltxk25image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,127},{27,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,23}}</string>
			<key>sourceSize</key>
			<string>{27,23}</string>
		</dict>
		<key>wy_6_6_51643_yiyzltxk25image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{124,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,123}}</string>
			<key>sourceSize</key>
			<string>{124,123}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>yiyzltxk25image.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>yiyzltxk25image.png</string>
	</dict>
</dict>
</plist>
