<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wy_10_10_53866_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,539},{97,81}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,81}}</string>
			<key>sourceSize</key>
			<string>{101,85}</string>
		</dict>
		<key>wy_11_11_69025_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,744},{99,103}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,103}}</string>
			<key>sourceSize</key>
			<string>{103,107}</string>
		</dict>
		<key>wy_12_12_69629_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,745},{89,102}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{89,102}}</string>
			<key>sourceSize</key>
			<string>{95,108}</string>
		</dict>
		<key>wy_13_13_81242_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,541},{97,105}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{97,105}}</string>
			<key>sourceSize</key>
			<string>{103,109}</string>
		</dict>
		<key>wy_14_14_45388_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,330},{106,102}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{106,102}}</string>
			<key>sourceSize</key>
			<string>{110,108}</string>
		</dict>
		<key>wy_15_15_16295_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,644},{103,103}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{103,103}}</string>
			<key>sourceSize</key>
			<string>{109,107}</string>
		</dict>
		<key>wy_16_16_72101_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,328},{106,104}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,104}}</string>
			<key>sourceSize</key>
			<string>{110,108}</string>
		</dict>
		<key>wy_17_17_79324_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,434},{105,105}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,105}}</string>
			<key>sourceSize</key>
			<string>{109,109}</string>
		</dict>
		<key>wy_18_18_81659_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,433},{105,104}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{105,104}}</string>
			<key>sourceSize</key>
			<string>{111,108}</string>
		</dict>
		<key>wy_19_19_75941_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,327},{106,104}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{106,104}}</string>
			<key>sourceSize</key>
			<string>{112,110}</string>
		</dict>
		<key>wy_20_20_15845_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,221},{106,104}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,104}}</string>
			<key>sourceSize</key>
			<string>{110,108}</string>
		</dict>
		<key>wy_21_21_56623_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,329},{106,102}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{106,102}}</string>
			<key>sourceSize</key>
			<string>{110,108}</string>
		</dict>
		<key>wy_22_22_78723_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,539},{103,103}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{103,103}}</string>
			<key>sourceSize</key>
			<string>{109,109}</string>
		</dict>
		<key>wy_23_23_93904_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,640},{104,103}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{104,103}}</string>
			<key>sourceSize</key>
			<string>{110,109}</string>
		</dict>
		<key>wy_24_24_94213_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,221},{106,105}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,105}}</string>
			<key>sourceSize</key>
			<string>{110,109}</string>
		</dict>
		<key>wy_25_25_69912_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,539},{104,104}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{104,104}}</string>
			<key>sourceSize</key>
			<string>{110,108}</string>
		</dict>
		<key>wy_26_26_49861_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,112},{108,108}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{108,108}}</string>
			<key>sourceSize</key>
			<string>{114,114}</string>
		</dict>
		<key>wy_27_27_64247_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,2},{108,109}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,109}}</string>
			<key>sourceSize</key>
			<string>{112,113}</string>
		</dict>
		<key>wy_28_28_64376_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{108,109}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{108,109}}</string>
			<key>sourceSize</key>
			<string>{112,113}</string>
		</dict>
		<key>wy_29_29_34123_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{334,2},{108,108}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,108}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>wy_30_30_51803_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,222},{106,106}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{106,106}}</string>
			<key>sourceSize</key>
			<string>{110,112}</string>
		</dict>
		<key>wy_31_31_61477_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,112},{107,108}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{107,108}}</string>
			<key>sourceSize</key>
			<string>{111,112}</string>
		</dict>
		<key>wy_32_32_27157_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,112},{107,108}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,108}}</string>
			<key>sourceSize</key>
			<string>{111,112}</string>
		</dict>
		<key>wy_33_33_36020_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,221},{106,107}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{106,107}}</string>
			<key>sourceSize</key>
			<string>{110,113}</string>
		</dict>
		<key>wy_34_34_66353_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,2},{108,108}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,108}}</string>
			<key>sourceSize</key>
			<string>{112,112}</string>
		</dict>
		<key>wy_35_35_43643_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,112},{108,107}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{108,107}}</string>
			<key>sourceSize</key>
			<string>{112,113}</string>
		</dict>
		<key>wy_4_4_56344_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,433},{102,106}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{102,106}}</string>
			<key>sourceSize</key>
			<string>{108,110}</string>
		</dict>
		<key>wy_5_5_31525_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,639},{104,103}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{104,103}}</string>
			<key>sourceSize</key>
			<string>{110,109}</string>
		</dict>
		<key>wy_6_6_99517_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,434},{103,105}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{103,105}}</string>
			<key>sourceSize</key>
			<string>{109,109}</string>
		</dict>
		<key>wy_7_7_18920_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,537},{100,105}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{100,105}}</string>
			<key>sourceSize</key>
			<string>{106,109}</string>
		</dict>
		<key>wy_8_8_32399_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,645},{100,103}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,103}}</string>
			<key>sourceSize</key>
			<string>{104,107}</string>
		</dict>
		<key>wy_9_9_86369_yqttxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,2},{96,51}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{96,51}}</string>
			<key>sourceSize</key>
			<string>{102,57}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>yqttxkimage.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>yqttxkimage.png</string>
	</dict>
</dict>
</plist>
