<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_8znqiandao_zjm_lingqu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1423,328},{80,32}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,8},{80,32}}</string>
			<key>sourceSize</key>
			<string>{94,46}</string>
		</dict>
		<key>btn_8znqiandao_zjm_lingqu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1269,373},{80,32}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,8},{80,32}}</string>
			<key>sourceSize</key>
			<string>{94,46}</string>
		</dict>
		<key>btn_bqlw_goumai_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{820,360},{139,57}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{139,57}}</string>
			<key>sourceSize</key>
			<string>{147,67}</string>
		</dict>
		<key>btn_bqlw_goumai_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,360},{139,57}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{139,57}}</string>
			<key>sourceSize</key>
			<string>{147,67}</string>
		</dict>
		<key>btn_smdj_chongbo_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,225},{301,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{301,69}}</string>
			<key>sourceSize</key>
			<string>{301,69}</string>
		</dict>
		<key>btn_smdj_chongbo_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,154},{301,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{301,69}}</string>
			<key>sourceSize</key>
			<string>{301,69}</string>
		</dict>
		<key>btn_smdj_tiaozhan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1017,2},{301,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{301,69}}</string>
			<key>sourceSize</key>
			<string>{301,69}</string>
		</dict>
		<key>btn_smdj_tiaozhan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,83},{301,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{301,69}}</string>
			<key>sourceSize</key>
			<string>{301,69}</string>
		</dict>
		<key>btn_sznyy_gxx_kaishizhengcheng_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1115,359},{152,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,48}}</string>
			<key>sourceSize</key>
			<string>{152,48}</string>
		</dict>
		<key>btn_sznyy_gxx_kaishizhengcheng_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1113,309},{152,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,48}}</string>
			<key>sourceSize</key>
			<string>{152,48}</string>
		</dict>
		<key>btn_sznyy_gxx_shizhounianjiangli_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{961,359},{152,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,48}}</string>
			<key>sourceSize</key>
			<string>{152,48}</string>
		</dict>
		<key>btn_sznyy_gxx_shizhounianjiangli_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{959,309},{152,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,48}}</string>
			<key>sourceSize</key>
			<string>{152,48}</string>
		</dict>
		<key>btn_sznyy_gxx_tansuoyunshi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1269,224},{152,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,147}}</string>
			<key>sourceSize</key>
			<string>{152,147}</string>
		</dict>
		<key>btn_sznyy_gxx_tansuoyunshi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1297,75},{152,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,147}}</string>
			<key>sourceSize</key>
			<string>{152,147}</string>
		</dict>
		<key>btn_sznyy_myqd_jixu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1501,75},{152,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,48}}</string>
			<key>sourceSize</key>
			<string>{152,48}</string>
		</dict>
		<key>btn_sznyy_myqd_jixu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1451,75},{152,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,48}}</string>
			<key>sourceSize</key>
			<string>{152,48}</string>
		</dict>
		<key>btn_sznyy_sgj_kaiqi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{982,179},{241,71}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,0},{241,71}}</string>
			<key>sourceSize</key>
			<string>{269,71}</string>
		</dict>
		<key>btn_sznyy_sgj_kaiqi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1320,2},{241,71}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,0},{241,71}}</string>
			<key>sourceSize</key>
			<string>{269,71}</string>
		</dict>
		<key>pic_8znqiandao_gxhd_wenzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,2},{336,79}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,0},{336,79}}</string>
			<key>sourceSize</key>
			<string>{432,79}</string>
		</dict>
		<key>pic_8znqiandao_zjm_biaoti_wenzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1017,73},{278,51}}</string>
			<key>offset</key>
			<string>{26,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,14},{278,51}}</string>
			<key>sourceSize</key>
			<string>{330,95}</string>
		</dict>
		<key>pic_8znqiandao_zjm_yilingqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1521,229},{79,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,15},{79,32}}</string>
			<key>sourceSize</key>
			<string>{79,62}</string>
		</dict>
		<key>pic_bqlw_shouqing.png</key>
		<dict>
			<key>frame</key>
			<string>{{1423,229},{96,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,97}}</string>
			<key>sourceSize</key>
			<string>{96,97}</string>
		</dict>
		<key>pic_bqlw_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{982,126},{277,51}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{150,8},{277,51}}</string>
			<key>sourceSize</key>
			<string>{579,69}</string>
		</dict>
		<key>pic_bzn_rukou_guanbi_dabiaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{982,252},{209,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{209,55}}</string>
			<key>sourceSize</key>
			<string>{209,57}</string>
		</dict>
		<key>pic_smdj_btz.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,296},{278,62}}</string>
			<key>offset</key>
			<string>{-60,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{278,62}}</string>
			<key>sourceSize</key>
			<string>{400,62}</string>
		</dict>
		<key>pic_smdj_jiangli_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1225,179},{42,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,62}}</string>
			<key>sourceSize</key>
			<string>{42,62}</string>
		</dict>
		<key>pic_smdj_yitongguan_biao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1505,328},{61,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,62}}</string>
			<key>sourceSize</key>
			<string>{61,62}</string>
		</dict>
		<key>pic_sznyy_gxx_xin.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{675,415}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{675,415}}</string>
			<key>sourceSize</key>
			<string>{675,415}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_Anniversary10th0.png</string>
		<key>size</key>
		<string>{1568,419}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_Anniversary10th0.png</string>
	</dict>
</dict>
</plist>
