<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wy_10_10_172_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1030,1798},{164,215}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,12},{164,215}}</string>
			<key>sourceSize</key>
			<string>{178,245}</string>
		</dict>
		<key>wy_10_10_42654_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,569},{475,491}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{475,491}}</string>
			<key>sourceSize</key>
			<string>{475,491}</string>
		</dict>
		<key>wy_11_11_69113_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,1417},{392,392}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{392,392}}</string>
			<key>sourceSize</key>
			<string>{392,392}</string>
		</dict>
		<key>wy_11_11_71900_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{864,1798},{164,215}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,12},{164,215}}</string>
			<key>sourceSize</key>
			<string>{178,245}</string>
		</dict>
		<key>wy_11_11_72251_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{373,1904},{94,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,163}}</string>
			<key>sourceSize</key>
			<string>{94,163}</string>
		</dict>
		<key>wy_12_12_21926_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{825,1405},{388,391}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{388,391}}</string>
			<key>sourceSize</key>
			<string>{388,391}</string>
		</dict>
		<key>wy_12_12_550_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1819,1234},{164,213}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,14},{164,213}}</string>
			<key>sourceSize</key>
			<string>{178,245}</string>
		</dict>
		<key>wy_13_13_64559_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{627,436},{495,461}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{495,461}}</string>
			<key>sourceSize</key>
			<string>{495,461}</string>
		</dict>
		<key>wy_13_13_6476_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,569},{94,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,128}}</string>
			<key>sourceSize</key>
			<string>{94,128}</string>
		</dict>
		<key>wy_14_14_15045_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1475},{427,427}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{427,427}}</string>
			<key>sourceSize</key>
			<string>{427,427}</string>
		</dict>
		<key>wy_15_15_2180_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1184,418},{491,499}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{491,499}}</string>
			<key>sourceSize</key>
			<string>{491,499}</string>
		</dict>
		<key>wy_15_15_52794_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{690,1331},{72,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,209}}</string>
			<key>sourceSize</key>
			<string>{72,209}</string>
		</dict>
		<key>wy_16_16_98114_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{622,899},{431,430}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{431,430}}</string>
			<key>sourceSize</key>
			<string>{431,430}</string>
		</dict>
		<key>wy_17_17_16345_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{614,1331},{75,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,74}}</string>
			<key>sourceSize</key>
			<string>{75,74}</string>
		</dict>
		<key>wy_17_17_17308_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1046},{427,427}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{427,427}}</string>
			<key>sourceSize</key>
			<string>{427,427}</string>
		</dict>
		<key>wy_18_18_33516_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{627,2},{555,432}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{555,432}}</string>
			<key>sourceSize</key>
			<string>{555,432}</string>
		</dict>
		<key>wy_19_19_77353_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1055,988},{31,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,65}}</string>
			<key>sourceSize</key>
			<string>{31,65}</string>
		</dict>
		<key>wy_1_1_40989_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1819,1068},{164,213}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,14},{164,213}}</string>
			<key>sourceSize</key>
			<string>{178,245}</string>
		</dict>
		<key>wy_22_22_64356_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,1904},{100,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,88}}</string>
			<key>sourceSize</key>
			<string>{100,88}</string>
		</dict>
		<key>wy_24_24_21519_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{605,859},{15,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,45}}</string>
			<key>sourceSize</key>
			<string>{15,45}</string>
		</dict>
		<key>wy_26_26_42362_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,1046},{61,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,90}}</string>
			<key>sourceSize</key>
			<string>{61,90}</string>
		</dict>
		<key>wy_28_28_62850_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,1811},{69,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,85}}</string>
			<key>sourceSize</key>
			<string>{69,85}</string>
		</dict>
		<key>wy_2_2_38825_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1819,902},{164,213}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,14},{164,213}}</string>
			<key>sourceSize</key>
			<string>{178,245}</string>
		</dict>
		<key>wy_2_2_74476_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2033,348},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>wy_2_2_82199_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1697,2},{344,344}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{344,344}}</string>
			<key>sourceSize</key>
			<string>{344,344}</string>
		</dict>
		<key>wy_2_2_92429_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1184,2},{414,511}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{414,511}}</string>
			<key>sourceSize</key>
			<string>{414,511}</string>
		</dict>
		<key>wy_30_30_95930_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,2009},{24,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,46}}</string>
			<key>sourceSize</key>
			<string>{24,46}</string>
		</dict>
		<key>wy_32_32_47669_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1124,495},{57,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,45}}</string>
			<key>sourceSize</key>
			<string>{57,45}</string>
		</dict>
		<key>wy_34_34_47892_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,1904},{72,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,100}}</string>
			<key>sourceSize</key>
			<string>{72,100}</string>
		</dict>
		<key>wy_36_36_59289_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1904},{138,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,100}}</string>
			<key>sourceSize</key>
			<string>{138,100}</string>
		</dict>
		<key>wy_38_38_10650_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1055,899},{87,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,65}}</string>
			<key>sourceSize</key>
			<string>{87,65}</string>
		</dict>
		<key>wy_3_3_62087_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,1904},{103,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,103}}</string>
			<key>sourceSize</key>
			<string>{103,103}</string>
		</dict>
		<key>wy_3_3_77863_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1819,736},{164,213}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,14},{164,213}}</string>
			<key>sourceSize</key>
			<string>{178,245}</string>
		</dict>
		<key>wy_40_40_34205_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{623,565}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{623,565}}</string>
			<key>sourceSize</key>
			<string>{623,565}</string>
		</dict>
		<key>wy_40_40_59666_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1585,1564},{208,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{208,200}}</string>
			<key>sourceSize</key>
			<string>{208,200}</string>
		</dict>
		<key>wy_42_42_16984_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,2006},{38,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,98}}</string>
			<key>sourceSize</key>
			<string>{38,98}</string>
		</dict>
		<key>wy_44_44_95135_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,1138},{60,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,28}}</string>
			<key>sourceSize</key>
			<string>{60,28}</string>
		</dict>
		<key>wy_45_45_56086_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1124,436},{57,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,57}}</string>
			<key>sourceSize</key>
			<string>{57,57}</string>
		</dict>
		<key>wy_48_48_51984_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{901,1331},{49,151}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,18},{49,151}}</string>
			<key>sourceSize</key>
			<string>{91,189}</string>
		</dict>
		<key>wy_49_49_7927_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1124,542},{51,151}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,18},{51,151}}</string>
			<key>sourceSize</key>
			<string>{91,189}</string>
		</dict>
		<key>wy_4_4_14098_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,783},{114,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,74}}</string>
			<key>sourceSize</key>
			<string>{114,74}</string>
		</dict>
		<key>wy_4_4_23734_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1819,570},{164,213}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,13},{164,213}}</string>
			<key>sourceSize</key>
			<string>{178,245}</string>
		</dict>
		<key>wy_4_4_91744_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{502,1811},{149,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,72}}</string>
			<key>sourceSize</key>
			<string>{149,72}</string>
		</dict>
		<key>wy_50_50_83337_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1055,1174},{49,151}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,18},{49,151}}</string>
			<key>sourceSize</key>
			<string>{91,189}</string>
		</dict>
		<key>wy_51_51_65343_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1055,1021},{49,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,19},{49,151}}</string>
			<key>sourceSize</key>
			<string>{91,189}</string>
		</dict>
		<key>wy_52_52_13628_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1124,848},{49,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,19},{49,151}}</string>
			<key>sourceSize</key>
			<string>{91,189}</string>
		</dict>
		<key>wy_53_53_77000_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1666,1999},{47,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,19},{47,151}}</string>
			<key>sourceSize</key>
			<string>{91,189}</string>
		</dict>
		<key>wy_54_54_63402_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1513,1999},{47,151}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,19},{47,151}}</string>
			<key>sourceSize</key>
			<string>{91,189}</string>
		</dict>
		<key>wy_55_55_72825_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1360,1999},{47,151}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,19},{47,151}}</string>
			<key>sourceSize</key>
			<string>{91,189}</string>
		</dict>
		<key>wy_56_56_37996_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1481,911},{47,151}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,19},{47,151}}</string>
			<key>sourceSize</key>
			<string>{91,189}</string>
		</dict>
		<key>wy_57_57_71071_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1328,911},{47,151}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,18},{47,151}}</string>
			<key>sourceSize</key>
			<string>{91,189}</string>
		</dict>
		<key>wy_58_58_88492_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1175,911},{47,151}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,18},{47,151}}</string>
			<key>sourceSize</key>
			<string>{91,189}</string>
		</dict>
		<key>wy_59_59_74257_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1124,695},{49,151}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,18},{49,151}}</string>
			<key>sourceSize</key>
			<string>{91,189}</string>
		</dict>
		<key>wy_5_5_67436_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1697,348},{220,334}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,334}}</string>
			<key>sourceSize</key>
			<string>{220,334}</string>
		</dict>
		<key>wy_5_5_68186_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{538,1885},{158,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,158}}</string>
			<key>sourceSize</key>
			<string>{158,158}</string>
		</dict>
		<key>wy_5_5_81841_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1819,1400},{162,213}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,13},{162,213}}</string>
			<key>sourceSize</key>
			<string>{178,245}</string>
		</dict>
		<key>wy_61_61_72429_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,665},{116,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,116}}</string>
			<key>sourceSize</key>
			<string>{116,116}</string>
		</dict>
		<key>wy_62_62_16682_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1122,1001},{391,387}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{391,387}}</string>
			<key>sourceSize</key>
			<string>{391,387}</string>
		</dict>
		<key>wy_6_6_33492_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,859},{108,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,108}}</string>
			<key>sourceSize</key>
			<string>{108,108}</string>
		</dict>
		<key>wy_6_6_99950_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1524,1782},{162,215}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,12},{162,215}}</string>
			<key>sourceSize</key>
			<string>{178,245}</string>
		</dict>
		<key>wy_7_7_20534_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1360,1782},{162,215}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,12},{162,215}}</string>
			<key>sourceSize</key>
			<string>{178,245}</string>
		</dict>
		<key>wy_7_7_4888_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,2009},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>wy_7_7_88767_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,1313},{102,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,181}}</string>
			<key>sourceSize</key>
			<string>{102,181}</string>
		</dict>
		<key>wy_8_8_6757_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1215,1394},{368,386}}</string>
			<key>offset</key>
			<string>{12,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{89,75},{368,386}}</string>
			<key>sourceSize</key>
			<string>{522,516}</string>
		</dict>
		<key>wy_8_8_94712_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1196,1798},{162,215}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,12},{162,215}}</string>
			<key>sourceSize</key>
			<string>{178,245}</string>
		</dict>
		<key>wy_9_9_57070_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,1168},{143,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,184}}</string>
			<key>sourceSize</key>
			<string>{143,184}</string>
		</dict>
		<key>wy_9_9_71930_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{698,1811},{164,215}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,12},{164,215}}</string>
			<key>sourceSize</key>
			<string>{178,245}</string>
		</dict>
		<key>wy_9_9_9393_qznzpdhimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,969},{189,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,107}}</string>
			<key>sourceSize</key>
			<string>{189,107}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>qznzpdhimage.png</string>
		<key>scale</key>
		<real>0.93</real>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>qznzpdhimage.png</string>
	</dict>
</dict>
</plist>
