<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_anniu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,66},{194,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,62}}</string>
			<key>sourceSize</key>
			<string>{194,62}</string>
		</dict>
		<key>btn_anniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{194,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,62}}</string>
			<key>sourceSize</key>
			<string>{194,62}</string>
		</dict>
		<key>btn_tiaozhanshu_guanbi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,130},{74,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,74}}</string>
			<key>sourceSize</key>
			<string>{74,74}</string>
		</dict>
		<key>btn_tiaozhanshu_guanbi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,130},{74,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,74}}</string>
			<key>sourceSize</key>
			<string>{74,74}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ChallengeLetter0.png</string>
		<key>size</key>
		<string>{198,206}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ChallengeLetter0.png</string>
	</dict>
</dict>
</plist>
