<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_jrklsz_liumenbisha_bd_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,202},{196,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,153}}</string>
			<key>sourceSize</key>
			<string>{196,153}</string>
		</dict>
		<key>New_jrklsz_liumenbisha_bd_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{203,203}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,203}}</string>
			<key>sourceSize</key>
			<string>{203,203}</string>
		</dict>
		<key>New_jrklsz_liumenbisha_cjb_00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,2},{186,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,98}}</string>
			<key>sourceSize</key>
			<string>{186,98}</string>
		</dict>
		<key>New_jrklsz_liumenbisha_cjb_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,588},{187,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,99}}</string>
			<key>sourceSize</key>
			<string>{187,99}</string>
		</dict>
		<key>New_jrklsz_liumenbisha_cjb_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{536,776},{187,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,98}}</string>
			<key>sourceSize</key>
			<string>{187,98}</string>
		</dict>
		<key>New_jrklsz_liumenbisha_cjb_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,199},{188,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,98}}</string>
			<key>sourceSize</key>
			<string>{188,98}</string>
		</dict>
		<key>New_jrklsz_liumenbisha_cjb_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,399},{188,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,99}}</string>
			<key>sourceSize</key>
			<string>{188,99}</string>
		</dict>
		<key>New_jrklsz_liumenbisha_cjb_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{505,388},{187,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,99}}</string>
			<key>sourceSize</key>
			<string>{187,99}</string>
		</dict>
		<key>New_jrklsz_liumenbisha_cjb_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{583,190},{187,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,99}}</string>
			<key>sourceSize</key>
			<string>{187,99}</string>
		</dict>
		<key>New_jrklsz_liumenbisha_cjb_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{683,190},{186,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,99}}</string>
			<key>sourceSize</key>
			<string>{186,99}</string>
		</dict>
		<key>New_jrklsz_liumenbisha_cjb_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{921,604},{181,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,99}}</string>
			<key>sourceSize</key>
			<string>{181,99}</string>
		</dict>
		<key>New_jrklsz_liumenbisha_cjb_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{836,2},{186,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,98}}</string>
			<key>sourceSize</key>
			<string>{186,98}</string>
		</dict>
		<key>New_jrklsz_liumenbisha_cp_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,399},{189,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,58}}</string>
			<key>sourceSize</key>
			<string>{189,58}</string>
		</dict>
		<key>New_jrklsz_putongbisha1_dbd_00040.png</key>
		<dict>
			<key>frame</key>
			<string>{{783,349},{51,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,87}}</string>
			<key>sourceSize</key>
			<string>{51,87}</string>
		</dict>
		<key>New_jrklsz_putongbisha1_dbd_00043.png</key>
		<dict>
			<key>frame</key>
			<string>{{836,147},{184,176}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{184,176}}</string>
			<key>sourceSize</key>
			<string>{186,178}</string>
		</dict>
		<key>New_jrklsz_putongbisha1_dbd_00048.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,206},{200,143}}</string>
			<key>offset</key>
			<string>{-3,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{200,143}}</string>
			<key>sourceSize</key>
			<string>{206,147}</string>
		</dict>
		<key>New_jrklsz_putongbisha1_dbd_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{605,378},{186,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,161}}</string>
			<key>sourceSize</key>
			<string>{186,161}</string>
		</dict>
		<key>New_jrklsz_putongbisha1_dbd_00058.png</key>
		<dict>
			<key>frame</key>
			<string>{{414,2},{196,149}}</string>
			<key>offset</key>
			<string>{0,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,149}}</string>
			<key>sourceSize</key>
			<string>{196,169}</string>
		</dict>
		<key>New_jrklsz_putongbisha1_dbd_00060.png</key>
		<dict>
			<key>frame</key>
			<string>{{188,613},{197,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,136}}</string>
			<key>sourceSize</key>
			<string>{197,136}</string>
		</dict>
		<key>New_jrklsz_putongbisha1_dbd_00062.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,2},{199,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,137}}</string>
			<key>sourceSize</key>
			<string>{199,137}</string>
		</dict>
		<key>New_jrklsz_putongbisha1_dbd_00064.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,410},{202,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,136}}</string>
			<key>sourceSize</key>
			<string>{202,136}</string>
		</dict>
		<key>New_jrklsz_putongbisha1_dbd_00066.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,410},{203,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,135}}</string>
			<key>sourceSize</key>
			<string>{203,135}</string>
		</dict>
		<key>New_jrklsz_putongbisha1_dun_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{713,904},{132,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,118}}</string>
			<key>sourceSize</key>
			<string>{132,118}</string>
		</dict>
		<key>New_jrklsz_putongbisha2_bd_00031.png</key>
		<dict>
			<key>frame</key>
			<string>{{921,493},{110,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,101}}</string>
			<key>sourceSize</key>
			<string>{110,101}</string>
		</dict>
		<key>New_jrklsz_putongbisha2_bd_00057.png</key>
		<dict>
			<key>frame</key>
			<string>{{783,189},{52,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,62}}</string>
			<key>sourceSize</key>
			<string>{52,62}</string>
		</dict>
		<key>New_jrklsz_putongbisha2_qkh_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{536,964},{58,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,79}}</string>
			<key>sourceSize</key>
			<string>{58,79}</string>
		</dict>
		<key>New_jrklsz_putongbisha2_qkq_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,576},{144,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{144,152}}</string>
			<key>sourceSize</key>
			<string>{150,152}</string>
		</dict>
		<key>New_jrklsz_putongbisha2_qkq_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,729},{148,144}}</string>
			<key>offset</key>
			<string>{1,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,8},{148,144}}</string>
			<key>sourceSize</key>
			<string>{150,152}</string>
		</dict>
		<key>New_jrklsz_putongbisha2_qkq_00017.png</key>
		<dict>
			<key>frame</key>
			<string>{{635,763},{140,140}}</string>
			<key>offset</key>
			<string>{3,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,10},{140,140}}</string>
			<key>sourceSize</key>
			<string>{150,152}</string>
		</dict>
		<key>New_jrklsz_putongbisha3_bd_00045.png</key>
		<dict>
			<key>frame</key>
			<string>{{846,878},{143,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,143}}</string>
			<key>sourceSize</key>
			<string>{143,143}</string>
		</dict>
		<key>New_jrklsz_putongbisha3_bd_00051.png</key>
		<dict>
			<key>frame</key>
			<string>{{595,576},{180,186}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,186}}</string>
			<key>sourceSize</key>
			<string>{180,188}</string>
		</dict>
		<key>New_jrklsz_putongbisha3_bd_00055.png</key>
		<dict>
			<key>frame</key>
			<string>{{564,2},{187,172}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,172}}</string>
			<key>sourceSize</key>
			<string>{187,172}</string>
		</dict>
		<key>New_jrklsz_putongbisha3_bd_00057.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,811},{189,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,171}}</string>
			<key>sourceSize</key>
			<string>{189,171}</string>
		</dict>
		<key>New_jrklsz_putongbisha3_bd_00059.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,605},{189,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,169}}</string>
			<key>sourceSize</key>
			<string>{189,169}</string>
		</dict>
		<key>New_jrklsz_putongbisha3_bd_00061.png</key>
		<dict>
			<key>frame</key>
			<string>{{369,795},{187,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,166}}</string>
			<key>sourceSize</key>
			<string>{187,166}</string>
		</dict>
		<key>New_jrklsz_putongbisha3_quan_00040.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,2},{69,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,200}}</string>
			<key>sourceSize</key>
			<string>{69,200}</string>
		</dict>
		<key>New_jrklsz_putongbisha3_quan_00041.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,407},{70,197}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,197}}</string>
			<key>sourceSize</key>
			<string>{70,197}</string>
		</dict>
		<key>New_jrklsz_putongbisha3_xl_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{783,252},{96,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,51}}</string>
			<key>sourceSize</key>
			<string>{96,51}</string>
		</dict>
		<key>New_jrklsz_putongbisha3_xl_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,324},{183,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,168}}</string>
			<key>sourceSize</key>
			<string>{183,168}</string>
		</dict>
		<key>New_jrklsz_xiaojineng_db_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{836,101},{185,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,45}}</string>
			<key>sourceSize</key>
			<string>{185,45}</string>
		</dict>
		<key>New_jrklsz_xiaojineng_dg_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{616,964},{52,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,96}}</string>
			<key>sourceSize</key>
			<string>{52,96}</string>
		</dict>
		<key>New_jrklsz_xiaojineng_dg_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{767,493},{82,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,153}}</string>
			<key>sourceSize</key>
			<string>{82,153}</string>
		</dict>
		<key>New_kl_putongbisha2_baoqi_00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,614},{185,202}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,202}}</string>
			<key>sourceSize</key>
			<string>{185,204}</string>
		</dict>
		<key>New_kl_putongbisha2_baoqi_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,206},{183,203}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,203}}</string>
			<key>sourceSize</key>
			<string>{183,203}</string>
		</dict>
		<key>New_kl_putongbisha2_baoqi_00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,817},{194,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,198}}</string>
			<key>sourceSize</key>
			<string>{194,198}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>KLXVJJ_common2.png</string>
		<key>scale</key>
		<real>0.65</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>KLXVJJ_common2.png</string>
	</dict>
</dict>
</plist>
