<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_xhtzs_di_xiao01.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,773},{238,529}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{238,529}}</string>
			<key>sourceSize</key>
			<string>{238,529}</string>
		</dict>
		<key>pic_xhtzs_di_xiao02.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,533},{238,529}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{238,529}}</string>
			<key>sourceSize</key>
			<string>{238,529}</string>
		</dict>
		<key>pic_xhtzs_di_xiao03.png</key>
		<dict>
			<key>frame</key>
			<string>{{741,2},{238,529}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{238,529}}</string>
			<key>sourceSize</key>
			<string>{238,529}</string>
		</dict>
		<key>pic_xhtzs_goumaitanchuangda_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,533},{429,471}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{429,471}}</string>
			<key>sourceSize</key>
			<string>{429,471}</string>
		</dict>
		<key>pic_xhtzs_saijimo_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{737,510}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{737,510}}</string>
			<key>sourceSize</key>
			<string>{737,510}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>tourChallenge20.png</string>
		<key>size</key>
		<string>{981,1013}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>tourChallenge20.png</string>
	</dict>
</dict>
</plist>
