<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_qhdfw_zhujiemian_daohang_fanhui_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1502,162},{163,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,65}}</string>
			<key>sourceSize</key>
			<string>{163,65}</string>
		</dict>
		<key>btn_qhdfw_zhujiemian_daohang_fanhui_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1435,187},{163,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,65}}</string>
			<key>sourceSize</key>
			<string>{163,65}</string>
		</dict>
		<key>btn_qhdfw_zhujiemian_shaizi_go_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1436,352},{136,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,136}}</string>
			<key>sourceSize</key>
			<string>{136,136}</string>
		</dict>
		<key>pic_qhdfw_ditu_buy.png</key>
		<dict>
			<key>frame</key>
			<string>{{873,2},{219,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,182}}</string>
			<key>sourceSize</key>
			<string>{219,182}</string>
		</dict>
		<key>pic_qhdfw_ditu_go.png</key>
		<dict>
			<key>frame</key>
			<string>{{652,2},{219,231}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,231}}</string>
			<key>sourceSize</key>
			<string>{219,231}</string>
		</dict>
		<key>pic_qhdfw_ditu_jiangli.png</key>
		<dict>
			<key>frame</key>
			<string>{{1950,162},{122,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,85}}</string>
			<key>sourceSize</key>
			<string>{122,85}</string>
		</dict>
		<key>pic_qhdfw_ditu_jianglipt.png</key>
		<dict>
			<key>frame</key>
			<string>{{1826,162},{122,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,85}}</string>
			<key>sourceSize</key>
			<string>{122,85}</string>
		</dict>
		<key>pic_qhdfw_ditu_jianzhu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1702,162},{122,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,85}}</string>
			<key>sourceSize</key>
			<string>{122,85}</string>
		</dict>
		<key>pic_qhdfw_ditu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1057,2},{216,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,182}}</string>
			<key>sourceSize</key>
			<string>{216,182}</string>
		</dict>
		<key>pic_qhdfw_kaishijiemian_grgx_zhezhao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1882,290},{67,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,82}}</string>
			<key>sourceSize</key>
			<string>{67,82}</string>
		</dict>
		<key>pic_qhdfw_kaishijiemian_qfgx_yun1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1569,162},{159,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,131}}</string>
			<key>sourceSize</key>
			<string>{159,131}</string>
		</dict>
		<key>pic_qhdfw_kaishijiemian_qfgx_yun2.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,243},{202,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,132}}</string>
			<key>sourceSize</key>
			<string>{202,132}</string>
		</dict>
		<key>pic_qhdfw_kaishijiemian_qfgx_yun3.png</key>
		<dict>
			<key>frame</key>
			<string>{{620,243},{190,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,120}}</string>
			<key>sourceSize</key>
			<string>{190,120}</string>
		</dict>
		<key>pic_qhdfw_kaishijiemian_qfgx_yun4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1294,187},{164,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,139}}</string>
			<key>sourceSize</key>
			<string>{164,139}</string>
		</dict>
		<key>pic_qhdfw_kaishijiemian_qfgx_yun5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1574,323},{157,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,126}}</string>
			<key>sourceSize</key>
			<string>{157,126}</string>
		</dict>
		<key>pic_qhdfw_tanchaung_dihema.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,2},{448,418}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{448,418}}</string>
			<key>sourceSize</key>
			<string>{448,418}</string>
		</dict>
		<key>pic_qhdfw_tanchaung_jianzhu_diqian.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{463,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{463,62}}</string>
			<key>sourceSize</key>
			<string>{463,62}</string>
		</dict>
		<key>pic_qhdfw_tanchaung_jiesuan_shouyikuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1702,400},{104,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,95}}</string>
			<key>sourceSize</key>
			<string>{104,95}</string>
		</dict>
		<key>pic_qhdfw_tanchaung_shangdian_dixuanzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{742,235},{166,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,188}}</string>
			<key>sourceSize</key>
			<string>{166,188}</string>
		</dict>
		<key>pic_qhdfw_tanchaung_shangdian_tubiao2.png</key>
		<dict>
			<key>frame</key>
			<string>{{135,452},{44,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,46}}</string>
			<key>sourceSize</key>
			<string>{44,46}</string>
		</dict>
		<key>pic_qhdfw_tanchaung_weituo_jianglidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,452},{217,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{217,39}}</string>
			<key>sourceSize</key>
			<string>{217,39}</string>
		</dict>
		<key>pic_qhdfw_tanchaung_zengyi_tiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{688,435},{513,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{513,63}}</string>
			<key>sourceSize</key>
			<string>{513,63}</string>
		</dict>
		<key>pic_qhdfw_tiaozhuanjiemian_chengjiu_tiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1502,87},{533,73}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,6},{533,73}}</string>
			<key>sourceSize</key>
			<string>{545,83}</string>
		</dict>
		<key>pic_qhdfw_tiaozhuanjiemian_ditu_jianzhu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1402,87},{98,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,84}}</string>
			<key>sourceSize</key>
			<string>{98,84}</string>
		</dict>
		<key>pic_qhdfw_tiaozhuanjiemian_ditu_yeqian1.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,2},{239,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{239,164}}</string>
			<key>sourceSize</key>
			<string>{239,164}</string>
		</dict>
		<key>pic_qhdfw_tiaozhuanjiemian_paihang_1di.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,223},{183,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,178}}</string>
			<key>sourceSize</key>
			<string>{183,178}</string>
		</dict>
		<key>pic_qhdfw_tiaozhuanjiemian_paihang_2di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1090,220},{183,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,167}}</string>
			<key>sourceSize</key>
			<string>{183,167}</string>
		</dict>
		<key>pic_qhdfw_tiaozhuanjiemian_paihang_3di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1241,2},{183,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,159}}</string>
			<key>sourceSize</key>
			<string>{183,159}</string>
		</dict>
		<key>pic_qhdfw_tiaozhuanjiemian_paihang_shuzidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,467},{131,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,32}}</string>
			<key>sourceSize</key>
			<string>{131,32}</string>
		</dict>
		<key>pic_qhdfw_tiaozhuanjiemian_paihang_tiaoziji.png</key>
		<dict>
			<key>frame</key>
			<string>{{1402,2},{620,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{620,83}}</string>
			<key>sourceSize</key>
			<string>{620,83}</string>
		</dict>
		<key>pic_qhdfw_zhujiemian_dqsy_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,452},{286,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{286,39}}</string>
			<key>sourceSize</key>
			<string>{286,39}</string>
		</dict>
		<key>pic_qhdfw_zhujiemian_tips_quan2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1992,327},{39,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,39}}</string>
			<key>sourceSize</key>
			<string>{39,39}</string>
		</dict>
		<key>pic_qhdfw_zhujiemian_tips_quan3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1951,327},{39,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,39}}</string>
			<key>sourceSize</key>
			<string>{39,39}</string>
		</dict>
		<key>pic_qhdfw_zhujiemian_tips_quan4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1992,286},{39,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,39}}</string>
			<key>sourceSize</key>
			<string>{39,39}</string>
		</dict>
		<key>pic_qhdfw_zhujiemian_tips_quan5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1951,286},{39,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,39}}</string>
			<key>sourceSize</key>
			<string>{39,39}</string>
		</dict>
		<key>pic_qhdfw_zhujiemian_tips_quan6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1882,249},{39,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,39}}</string>
			<key>sourceSize</key>
			<string>{39,39}</string>
		</dict>
		<key>pic_qhdfw_zhujiemian_touxiangk.png</key>
		<dict>
			<key>frame</key>
			<string>{{1317,353},{117,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,140}}</string>
			<key>sourceSize</key>
			<string>{117,140}</string>
		</dict>
		<key>pic_qhdfw_zhujiemian_weituo_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1259,187},{178,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,33}}</string>
			<key>sourceSize</key>
			<string>{178,33}</string>
		</dict>
		<key>pic_qhdfw_zhujiemian_xuanzejiantou1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1808,400},{112,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,88}}</string>
			<key>sourceSize</key>
			<string>{112,88}</string>
		</dict>
		<key>pic_qhdfw_zhujiemian_xuanzejiantou2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1792,286},{112,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,88}}</string>
			<key>sourceSize</key>
			<string>{112,88}</string>
		</dict>
		<key>pic_qhdfw_zhujiemian_xuanzejiantou3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1702,286},{112,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,88}}</string>
			<key>sourceSize</key>
			<string>{112,88}</string>
		</dict>
		<key>pic_qhdfw_zhujiemian_xuanzejiantou4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1203,405},{112,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,88}}</string>
			<key>sourceSize</key>
			<string>{112,88}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Monopoly30.png</string>
		<key>size</key>
		<string>{2037,501}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>Monopoly30.png</string>
	</dict>
</dict>
</plist>
