<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>GoldLight_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,417},{242,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,51}}</string>
			<key>sourceSize</key>
			<string>{242,51}</string>
		</dict>
		<key>bbsqb_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,315},{83,27}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,2},{83,27}}</string>
			<key>sourceSize</key>
			<string>{113,29}</string>
		</dict>
		<key>bg_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{509,2},{272,501}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{272,501}}</string>
			<key>sourceSize</key>
			<string>{272,501}</string>
		</dict>
		<key>cs_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,315},{91,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,100}}</string>
			<key>sourceSize</key>
			<string>{91,100}</string>
		</dict>
		<key>dbba_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{509,276},{238,353}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{238,353}}</string>
			<key>sourceSize</key>
			<string>{238,353}</string>
		</dict>
		<key>dkbb_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,471},{85,27}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,1},{85,27}}</string>
			<key>sourceSize</key>
			<string>{113,29}</string>
		</dict>
		<key>fkjb01_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{343,417},{58,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,25}}</string>
			<key>sourceSize</key>
			<string>{58,25}</string>
		</dict>
		<key>fkjb02_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,470},{58,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,25}}</string>
			<key>sourceSize</key>
			<string>{58,25}</string>
		</dict>
		<key>fkjb03_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,470},{58,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,25}}</string>
			<key>sourceSize</key>
			<string>{58,25}</string>
		</dict>
		<key>fkjb04_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,470},{58,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,25}}</string>
			<key>sourceSize</key>
			<string>{58,25}</string>
		</dict>
		<key>hd01_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,315},{154,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,94}}</string>
			<key>sourceSize</key>
			<string>{154,94}</string>
		</dict>
		<key>hexk_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{505,311}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{505,311}}</string>
			<key>sourceSize</key>
			<string>{505,311}</string>
		</dict>
		<key>hkk01a_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{864,454},{154,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,94}}</string>
			<key>sourceSize</key>
			<string>{154,94}</string>
		</dict>
		<key>hkk01b_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{864,358},{154,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,94}}</string>
			<key>sourceSize</key>
			<string>{154,94}</string>
		</dict>
		<key>hsd_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{465,516},{238,223}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{238,223}}</string>
			<key>sourceSize</key>
			<string>{238,223}</string>
		</dict>
		<key>icona_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,315},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>iconb_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,549},{74,74}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,12},{74,74}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>jta_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,473},{17,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,12}}</string>
			<key>sourceSize</key>
			<string>{17,12}</string>
		</dict>
		<key>jtb_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,471},{49,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,30}}</string>
			<key>sourceSize</key>
			<string>{49,30}</string>
		</dict>
		<key>llky_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,344},{222,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,77}}</string>
			<key>sourceSize</key>
			<string>{222,77}</string>
		</dict>
		<key>mask1_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1012,2},{7,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,14}}</string>
			<key>sourceSize</key>
			<string>{7,14}</string>
		</dict>
		<key>qbb_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,471},{43,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,21}}</string>
			<key>sourceSize</key>
			<string>{43,21}</string>
		</dict>
		<key>rw_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{864,276},{80,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,155}}</string>
			<key>sourceSize</key>
			<string>{80,155}</string>
		</dict>
		<key>sd_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,315},{91,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,100}}</string>
			<key>sourceSize</key>
			<string>{91,100}</string>
		</dict>
		<key>sjb_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{343,477},{20,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,16}}</string>
			<key>sourceSize</key>
			<string>{20,16}</string>
		</dict>
		<key>tait_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,550},{270,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{270,43}}</string>
			<key>sourceSize</key>
			<string>{270,43}</string>
		</dict>
		<key>tt_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{471,315},{58,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,25}}</string>
			<key>sourceSize</key>
			<string>{58,25}</string>
		</dict>
		<key>wctjkjhxg_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,500},{248,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{248,75}}</string>
			<key>sourceSize</key>
			<string>{248,75}</string>
		</dict>
		<key>wza_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,500},{55,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,14}}</string>
			<key>sourceSize</key>
			<string>{55,14}</string>
		</dict>
		<key>wzb_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,417},{54,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,14}}</string>
			<key>sourceSize</key>
			<string>{54,14}</string>
		</dict>
		<key>wzc_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,375},{55,20}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{55,20}}</string>
			<key>sourceSize</key>
			<string>{61,22}</string>
		</dict>
		<key>wzd_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{465,375},{55,20}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{55,20}}</string>
			<key>sourceSize</key>
			<string>{61,22}</string>
		</dict>
		<key>yghkk_dyzllysimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,516},{125,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,31}}</string>
			<key>sourceSize</key>
			<string>{125,31}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>dyzllysimage.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dyzllysimage.png</string>
	</dict>
</dict>
</plist>
