<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_szcczltr_liumenbisha_bo_00075.png</key>
		<dict>
			<key>frame</key>
			<string>{{749,2},{245,192}}</string>
			<key>offset</key>
			<string>{9,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,0},{245,192}}</string>
			<key>sourceSize</key>
			<string>{265,222}</string>
		</dict>
		<key>New_szcczltr_liumenbisha_bo_00087.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,807},{119,74}}</string>
			<key>offset</key>
			<string>{-3,-18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,92},{119,74}}</string>
			<key>sourceSize</key>
			<string>{265,222}</string>
		</dict>
		<key>New_szcczltr_liumenbisha_bq_00031.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,802},{214,214}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,18},{214,214}}</string>
			<key>sourceSize</key>
			<string>{258,252}</string>
		</dict>
		<key>New_szcczltr_liumenbisha_bq_00045.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,234},{236,232}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,11},{236,232}}</string>
			<key>sourceSize</key>
			<string>{258,252}</string>
		</dict>
		<key>New_szcczltr_liumenbisha_bq_00051.png</key>
		<dict>
			<key>frame</key>
			<string>{{621,705},{82,96}}</string>
			<key>offset</key>
			<string>{-2,28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{86,50},{82,96}}</string>
			<key>sourceSize</key>
			<string>{258,252}</string>
		</dict>
		<key>New_szcczltr_liumenbisha_dmb_00074.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,802},{217,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25,7},{217,67}}</string>
			<key>sourceSize</key>
			<string>{267,81}</string>
		</dict>
		<key>New_szcczltr_liumenbisha_dmb_00076.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{249,77}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,2},{249,77}}</string>
			<key>sourceSize</key>
			<string>{267,81}</string>
		</dict>
		<key>New_szcczltr_liumenbisha_dmb_00080.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,802},{217,69}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25,5},{217,69}}</string>
			<key>sourceSize</key>
			<string>{267,81}</string>
		</dict>
		<key>New_szcczltr_liumenbisha_dmb_00082.png</key>
		<dict>
			<key>frame</key>
			<string>{{252,2},{249,77}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,2},{249,77}}</string>
			<key>sourceSize</key>
			<string>{267,81}</string>
		</dict>
		<key>New_szcczltr_putongbisha2_bq_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,356},{234,234}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,9},{234,234}}</string>
			<key>sourceSize</key>
			<string>{264,252}</string>
		</dict>
		<key>New_szcczltr_putongbisha2_bq_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,802},{218,212}}</string>
			<key>offset</key>
			<string>{-2,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,24},{218,212}}</string>
			<key>sourceSize</key>
			<string>{264,252}</string>
		</dict>
		<key>New_szcczltr_putongbisha2_bz2_00100.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,714},{81,83}}</string>
			<key>offset</key>
			<string>{-4,-29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{87,102},{81,83}}</string>
			<key>sourceSize</key>
			<string>{263,229}</string>
		</dict>
		<key>New_szcczltr_putongbisha2_bz2_00102.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,245},{235,189}}</string>
			<key>offset</key>
			<string>{-13,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,35},{235,189}}</string>
			<key>sourceSize</key>
			<string>{263,229}</string>
		</dict>
		<key>New_szcczltr_putongbisha2_bz2_00106.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,401},{235,181}}</string>
			<key>offset</key>
			<string>{-12,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,29},{235,181}}</string>
			<key>sourceSize</key>
			<string>{263,229}</string>
		</dict>
		<key>New_szcczltr_putongbisha2_bz2_00110.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,435},{229,177}}</string>
			<key>offset</key>
			<string>{-12,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,22},{229,177}}</string>
			<key>sourceSize</key>
			<string>{263,229}</string>
		</dict>
		<key>New_szcczltr_putongbisha2_bz2_00118.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,624},{153,177}}</string>
			<key>offset</key>
			<string>{0,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{55,16},{153,177}}</string>
			<key>sourceSize</key>
			<string>{263,229}</string>
		</dict>
		<key>New_szcczltr_putongbisha2_dmq_00048.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,544},{75,62}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{75,62}}</string>
			<key>sourceSize</key>
			<string>{75,64}</string>
		</dict>
		<key>New_szcczltr_putongbisha2_dmq_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,607},{75,58}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{75,58}}</string>
			<key>sourceSize</key>
			<string>{75,64}</string>
		</dict>
		<key>New_szcczltr_putongbisha2_dmq_00056.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,666},{75,52}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{75,52}}</string>
			<key>sourceSize</key>
			<string>{75,64}</string>
		</dict>
		<key>New_szcczltr_putongbisha2_dmq_00060.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,719},{75,44}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{75,44}}</string>
			<key>sourceSize</key>
			<string>{75,64}</string>
		</dict>
		<key>New_szcczltr_putongbisha2_dmq_00084.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,764},{75,42}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{75,42}}</string>
			<key>sourceSize</key>
			<string>{75,64}</string>
		</dict>
		<key>New_szcczltr_putongbisha_bq_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{568,802},{212,182}}</string>
			<key>offset</key>
			<string>{-2,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,27},{212,182}}</string>
			<key>sourceSize</key>
			<string>{264,252}</string>
		</dict>
		<key>New_szcczltr_putongbisha_bq_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,583},{218,218}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,18},{218,218}}</string>
			<key>sourceSize</key>
			<string>{264,252}</string>
		</dict>
		<key>New_szcczltr_putongbisha_bq_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{502,2},{246,242}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,5},{246,242}}</string>
			<key>sourceSize</key>
			<string>{264,252}</string>
		</dict>
		<key>New_szcczltr_putongbisha_bz_00064.png</key>
		<dict>
			<key>frame</key>
			<string>{{241,80},{237,164}}</string>
			<key>offset</key>
			<string>{-14,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,33},{237,164}}</string>
			<key>sourceSize</key>
			<string>{265,202}</string>
		</dict>
		<key>New_szcczltr_putongbisha_bz_00072.png</key>
		<dict>
			<key>frame</key>
			<string>{{749,195},{243,160}}</string>
			<key>offset</key>
			<string>{-8,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,21},{243,160}}</string>
			<key>sourceSize</key>
			<string>{265,202}</string>
		</dict>
		<key>New_szcczltr_putongbisha_bz_00076.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,467},{235,156}}</string>
			<key>offset</key>
			<string>{-8,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,16},{235,156}}</string>
			<key>sourceSize</key>
			<string>{265,202}</string>
		</dict>
		<key>New_szcczltr_putongbisha_bz_00087.png</key>
		<dict>
			<key>frame</key>
			<string>{{785,776},{161,160}}</string>
			<key>offset</key>
			<string>{28,18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{80,3},{161,160}}</string>
			<key>sourceSize</key>
			<string>{265,202}</string>
		</dict>
		<key>New_szcczltr_putongbisha_lt_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,624},{81,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,26},{81,89}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>New_szcczltr_putongbisha_lt_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{621,613},{83,91}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,24},{83,91}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>New_szcczltr_putongbisha_qj_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{823,937},{198,77}}</string>
			<key>offset</key>
			<string>{-16,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,21},{198,77}}</string>
			<key>sourceSize</key>
			<string>{230,119}</string>
		</dict>
		<key>New_szcczltr_putongbisha_zh_00068.png</key>
		<dict>
			<key>frame</key>
			<string>{{705,607},{194,79}}</string>
			<key>offset</key>
			<string>{15,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{32,8},{194,79}}</string>
			<key>sourceSize</key>
			<string>{228,93}</string>
		</dict>
		<key>New_szcczltr_xiaojineng_zh_00025.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,288},{34,65}}</string>
			<key>offset</key>
			<string>{21,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,36},{34,65}}</string>
			<key>sourceSize</key>
			<string>{76,115}</string>
		</dict>
		<key>New_xzltr_putongbisha2_zdtw3_00118.png</key>
		<dict>
			<key>frame</key>
			<string>{{751,937},{71,85}}</string>
			<key>offset</key>
			<string>{-10,18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,85}}</string>
			<key>sourceSize</key>
			<string>{91,121}</string>
		</dict>
		<key>New_xzltr_putongbisha_bz_00068.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,80},{238,153}}</string>
			<key>offset</key>
			<string>{2,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,20},{238,153}}</string>
			<key>sourceSize</key>
			<string>{242,181}</string>
		</dict>
		<key>New_xzltr_putongbisha_bz_00072.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,245},{236,155}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,16},{236,155}}</string>
			<key>sourceSize</key>
			<string>{242,181}</string>
		</dict>
		<key>New_xzltr_putongbisha_bz_00076.png</key>
		<dict>
			<key>frame</key>
			<string>{{785,591},{184,161}}</string>
			<key>offset</key>
			<string>{14,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{43,11},{184,161}}</string>
			<key>sourceSize</key>
			<string>{242,181}</string>
		</dict>
		<key>New_xzltr_putongbisha_bz_00080.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,613},{188,163}}</string>
			<key>offset</key>
			<string>{15,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{42,9},{188,163}}</string>
			<key>sourceSize</key>
			<string>{242,181}</string>
		</dict>
		<key>New_xzltr_putongbisha_qj_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,356},{187,75}}</string>
			<key>offset</key>
			<string>{-14,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,22},{187,75}}</string>
			<key>sourceSize</key>
			<string>{225,119}</string>
		</dict>
		<key>New_xzltr_putongbisha_yan_00031.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,245},{42,36}}</string>
			<key>offset</key>
			<string>{12,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,26},{42,36}}</string>
			<key>sourceSize</key>
			<string>{72,70}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>teruiTRSC_common1.png</string>
		<key>scale</key>
		<real>0.47</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>teruiTRSC_common1.png</string>
	</dict>
</dict>
</plist>
