<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_zxdz_xianshi_anniu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1229,72},{47,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,68}}</string>
			<key>sourceSize</key>
			<string>{47,68}</string>
		</dict>
		<key>btn_zxdz_xianshi_anniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1159,72},{47,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,68}}</string>
			<key>sourceSize</key>
			<string>{47,68}</string>
		</dict>
		<key>btn_zxdz_yaoqingzonglan_anniu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,76},{87,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,25}}</string>
			<key>sourceSize</key>
			<string>{87,25}</string>
		</dict>
		<key>btn_zxdz_yaoqingzonglan_anniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{699,76},{87,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,25}}</string>
			<key>sourceSize</key>
			<string>{87,25}</string>
		</dict>
		<key>pic_jp_fsyqh_main_fabuyaoqinghan.png</key>
		<dict>
			<key>frame</key>
			<string>{{829,47},{126,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,27}}</string>
			<key>sourceSize</key>
			<string>{126,27}</string>
		</dict>
		<key>pic_jp_fsyqh_main_gonggao.png</key>
		<dict>
			<key>frame</key>
			<string>{{699,2},{611,43}}</string>
			<key>offset</key>
			<string>{-7,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{611,43}}</string>
			<key>sourceSize</key>
			<string>{625,43}</string>
		</dict>
		<key>pic_jp_yqh_main_gonggao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,179},{596,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{596,49}}</string>
			<key>sourceSize</key>
			<string>{596,49}</string>
		</dict>
		<key>pic_jp_yqh_main_shuruyaoqingma.png</key>
		<dict>
			<key>frame</key>
			<string>{{699,47},{128,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,27}}</string>
			<key>sourceSize</key>
			<string>{128,27}</string>
		</dict>
		<key>pic_jp_yqh_main_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{660,149},{656,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{656,86}}</string>
			<key>sourceSize</key>
			<string>{656,86}</string>
		</dict>
		<key>pic_xzdz_fenxiangtu_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{695,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{695,87}}</string>
			<key>sourceSize</key>
			<string>{695,87}</string>
		</dict>
		<key>pic_xzdz_haoyoubiaoq.png</key>
		<dict>
			<key>frame</key>
			<string>{{1067,47},{90,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,88}}</string>
			<key>sourceSize</key>
			<string>{90,88}</string>
		</dict>
		<key>pic_xzdz_jianglyilan_xianshi.png</key>
		<dict>
			<key>frame</key>
			<string>{{957,47},{100,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,108}}</string>
			<key>sourceSize</key>
			<string>{100,108}</string>
		</dict>
		<key>pic_xzdz_jianglyilan_yiyaoqing.png</key>
		<dict>
			<key>frame</key>
			<string>{{877,76},{71,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,25}}</string>
			<key>sourceSize</key>
			<string>{71,25}</string>
		</dict>
		<key>pic_xzdz_main_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,91},{656,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{656,86}}</string>
			<key>sourceSize</key>
			<string>{656,86}</string>
		</dict>
		<key>pic_xzdz_main_zhaodaima.png</key>
		<dict>
			<key>frame</key>
			<string>{{1159,47},{111,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,23}}</string>
			<key>sourceSize</key>
			<string>{111,23}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_InvitationCard0.png</string>
		<key>size</key>
		<string>{1319,237}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_InvitationCard0.png</string>
	</dict>
</dict>
</plist>
