<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wy_10_10_26880_wqgfgjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,364},{242,175}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{242,175}}</string>
			<key>sourceSize</key>
			<string>{242,179}</string>
		</dict>
		<key>wy_11_11_19932_wqgfgjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,541},{242,171}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{242,171}}</string>
			<key>sourceSize</key>
			<string>{242,179}</string>
		</dict>
		<key>wy_11_11_50758_wqgfgjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,714},{113,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,120}}</string>
			<key>sourceSize</key>
			<string>{113,120}</string>
		</dict>
		<key>wy_12_12_98290_wqgfgjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,712},{242,169}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,10},{242,169}}</string>
			<key>sourceSize</key>
			<string>{242,179}</string>
		</dict>
		<key>wy_13_13_7976_wqgfgjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,537},{242,173}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{242,173}}</string>
			<key>sourceSize</key>
			<string>{242,179}</string>
		</dict>
		<key>wy_14_14_81808_wqgfgjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,360},{242,175}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{242,175}}</string>
			<key>sourceSize</key>
			<string>{242,179}</string>
		</dict>
		<key>wy_15_15_4878_wqgfgjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,183},{242,175}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{242,175}}</string>
			<key>sourceSize</key>
			<string>{242,179}</string>
		</dict>
		<key>wy_16_16_61015_wqgfgjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,364},{242,175}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{242,175}}</string>
			<key>sourceSize</key>
			<string>{242,179}</string>
		</dict>
		<key>wy_17_17_62718_wqgfgjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,541},{242,171}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{242,171}}</string>
			<key>sourceSize</key>
			<string>{242,179}</string>
		</dict>
		<key>wy_1_1_10468_wqgfgjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,183},{242,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,179}}</string>
			<key>sourceSize</key>
			<string>{242,179}</string>
		</dict>
		<key>wy_2_2_68926_wqgfgjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,2},{242,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,179}}</string>
			<key>sourceSize</key>
			<string>{242,179}</string>
		</dict>
		<key>wy_3_3_39762_wqgfgjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{242,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,179}}</string>
			<key>sourceSize</key>
			<string>{242,179}</string>
		</dict>
		<key>wy_3_3_49080_wqgfgjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,836},{35,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,35}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>wy_4_4_26012_wqgfgjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,883},{122,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,122}}</string>
			<key>sourceSize</key>
			<string>{122,122}</string>
		</dict>
		<key>wy_6_6_46111_wqgfgjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,712},{242,169}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,10},{242,169}}</string>
			<key>sourceSize</key>
			<string>{242,179}</string>
		</dict>
		<key>wy_7_7_90692_wqgfgjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,537},{242,173}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{242,173}}</string>
			<key>sourceSize</key>
			<string>{242,179}</string>
		</dict>
		<key>wy_8_8_90319_wqgfgjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,360},{242,175}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{242,175}}</string>
			<key>sourceSize</key>
			<string>{242,179}</string>
		</dict>
		<key>wy_9_9_26752_wqgfgjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,183},{242,175}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{242,175}}</string>
			<key>sourceSize</key>
			<string>{242,179}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>wqgfgjimage.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>wqgfgjimage.png</string>
	</dict>
</dict>
</plist>
