<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_common_specialyellow_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,89},{257,105}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{257,105}}</string>
			<key>sourceSize</key>
			<string>{257,107}</string>
		</dict>
		<key>btn_common_specialyellow_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{593,2},{257,105}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{257,105}}</string>
			<key>sourceSize</key>
			<string>{257,107}</string>
		</dict>
		<key>btn_common_yellow_big_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{627,182},{168,71}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,71}}</string>
			<key>sourceSize</key>
			<string>{172,71}</string>
		</dict>
		<key>btn_common_yellow_big_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{565,109},{168,71}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,71}}</string>
			<key>sourceSize</key>
			<string>{172,71}</string>
		</dict>
		<key>btn_common_yellow_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{852,59},{134,55}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,55}}</string>
			<key>sourceSize</key>
			<string>{134,57}</string>
		</dict>
		<key>btn_common_yellow_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{852,2},{134,55}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,55}}</string>
			<key>sourceSize</key>
			<string>{134,57}</string>
		</dict>
		<key>btn_haungseanniu_normal2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,158},{285,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{285,85}}</string>
			<key>sourceSize</key>
			<string>{285,85}</string>
		</dict>
		<key>btn_haungseanniu_press2.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,2},{285,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{285,85}}</string>
			<key>sourceSize</key>
			<string>{285,85}</string>
		</dict>
		<key>btn_kapai_imformation_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{859,181},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>btn_kapai_imformation_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,181},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>btn_max_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,116},{95,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,63}}</string>
			<key>sourceSize</key>
			<string>{95,63}</string>
		</dict>
		<key>btn_max_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{735,109},{95,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,63}}</string>
			<key>sourceSize</key>
			<string>{95,63}</string>
		</dict>
		<key>btn_yellow_changanniu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,196},{167,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,58}}</string>
			<key>sourceSize</key>
			<string>{167,58}</string>
		</dict>
		<key>btn_yellow_changanniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,196},{167,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,58}}</string>
			<key>sourceSize</key>
			<string>{167,58}</string>
		</dict>
		<key>pic_xuanyao__00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,80},{302,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{302,76}}</string>
			<key>sourceSize</key>
			<string>{302,76}</string>
		</dict>
		<key>pic_xuanyao__00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{302,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{302,76}}</string>
			<key>sourceSize</key>
			<string>{302,76}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>global_btn40.png</string>
		<key>size</key>
		<string>{988,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>global_btn40.png</string>
	</dict>
</dict>
</plist>
