<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dashe_zl_xkzz_tu_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,755},{183,172}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{183,172}}</string>
			<key>sourceSize</key>
			<string>{185,178}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,285},{280,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{280,165}}</string>
			<key>sourceSize</key>
			<string>{280,165}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,285},{146,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,135}}</string>
			<key>sourceSize</key>
			<string>{146,135}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_27.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{193,282}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,282}}</string>
			<key>sourceSize</key>
			<string>{193,282}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_29.png</key>
		<dict>
			<key>frame</key>
			<string>{{309,425},{134,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,98}}</string>
			<key>sourceSize</key>
			<string>{134,98}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_35.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,566},{122,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{122,188}}</string>
			<key>sourceSize</key>
			<string>{122,190}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_36.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,790},{199,218}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,218}}</string>
			<key>sourceSize</key>
			<string>{199,218}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_49.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,566},{223,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{223,160}}</string>
			<key>sourceSize</key>
			<string>{223,162}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,898},{108,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,102}}</string>
			<key>sourceSize</key>
			<string>{108,102}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{540,553},{138,127}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,7},{138,127}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,432},{140,127}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,7},{140,127}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{549,425},{138,127}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,7},{138,127}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{560,284},{138,127}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,7},{138,127}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,2},{140,125}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,9},{140,125}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,143},{140,125}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,9},{140,125}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,560},{140,127}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,7},{140,127}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{501,835},{138,127}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,7},{138,127}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{627,692},{138,127}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,7},{138,127}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{668,553},{138,127}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,7},{138,127}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,2},{140,127}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,7},{140,127}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,701},{140,125}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,9},{140,125}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{629,831},{138,127}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,7},{138,127}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,143},{140,127}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,7},{140,127}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00017.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,284},{140,127}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,7},{140,127}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{755,692},{138,127}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,7},{138,127}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,2},{138,127}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,7},{138,127}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{757,831},{138,125}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,9},{138,125}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00021.png</key>
		<dict>
			<key>frame</key>
			<string>{{414,553},{140,125}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,9},{140,125}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{688,2},{138,125}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,9},{138,125}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,130},{138,127}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,7},{138,127}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,425},{140,127}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,7},{140,127}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00025.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,258},{138,127}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,7},{138,127}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,2},{140,127}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,7},{140,127}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00027.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,143},{140,127}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,7},{140,127}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{578,128},{138,125}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,9},{138,125}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{704,128},{138,125}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,9},{138,125}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{704,254},{138,125}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,9},{138,125}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00031.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,284},{140,127}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,7},{140,127}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,386},{138,127}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,7},{138,127}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,514},{138,127}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,7},{138,127}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00035.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,642},{138,127}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,7},{138,127}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00036.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,842},{140,125}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,9},{140,125}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00037.png</key>
		<dict>
			<key>frame</key>
			<string>{{501,694},{140,125}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,9},{140,125}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00038.png</key>
		<dict>
			<key>frame</key>
			<string>{{688,380},{138,125}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,9},{138,125}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
		<key>dashe_zl_xkzz_tu_tf__00039.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,770},{138,127}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,7},{138,127}}</string>
			<key>sourceSize</key>
			<string>{158,141}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>dasheXISKCard_role1.png</string>
		<key>scale</key>
		<real>0.8</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dasheXISKCard_role1.png</string>
	</dict>
</dict>
</plist>
