<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_lmbs_xiayan_00036_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,205},{43,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,39}}</string>
			<key>sourceSize</key>
			<string>{43,39}</string>
		</dict>
		<key>New_lmbs_xiayan_00037_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,151},{52,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,48}}</string>
			<key>sourceSize</key>
			<string>{52,48}</string>
		</dict>
		<key>New_lmbs_xiayan_00038_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,398},{61,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,58}}</string>
			<key>sourceSize</key>
			<string>{61,58}</string>
		</dict>
		<key>New_lmbs_xiayan_00039_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{331,480},{72,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,70}}</string>
			<key>sourceSize</key>
			<string>{72,70}</string>
		</dict>
		<key>New_lmbs_xiayan_00040_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,677},{83,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,76}}</string>
			<key>sourceSize</key>
			<string>{83,76}</string>
		</dict>
		<key>New_lmbs_xiayan_00041_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,496},{98,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,82}}</string>
			<key>sourceSize</key>
			<string>{98,82}</string>
		</dict>
		<key>New_lmbs_xiayan_00042_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,387},{113,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,91}}</string>
			<key>sourceSize</key>
			<string>{113,91}</string>
		</dict>
		<key>New_lmbs_xiayan_00043_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,280},{123,105}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,105}}</string>
			<key>sourceSize</key>
			<string>{127,105}</string>
		</dict>
		<key>New_lmbs_xiayan_00044_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,393},{127,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,111}}</string>
			<key>sourceSize</key>
			<string>{127,111}</string>
		</dict>
		<key>New_lmbs_xiayan_00045_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,276},{139,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,120}}</string>
			<key>sourceSize</key>
			<string>{139,120}</string>
		</dict>
		<key>New_lmbs_xiayan_00046_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,151},{139,127}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{139,127}}</string>
			<key>sourceSize</key>
			<string>{143,127}</string>
		</dict>
		<key>New_lmbs_xiayan_00047_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,259},{147,132}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{147,132}}</string>
			<key>sourceSize</key>
			<string>{149,134}</string>
		</dict>
		<key>New_lmbs_xiayan_00048_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,137},{153,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,137}}</string>
			<key>sourceSize</key>
			<string>{153,137}</string>
		</dict>
		<key>New_lmbs_xiayan_00049_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,2},{153,147}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,147}}</string>
			<key>sourceSize</key>
			<string>{157,147}</string>
		</dict>
		<key>New_lmbs_xiayan_00050_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{160,144}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{160,144}}</string>
			<key>sourceSize</key>
			<string>{160,150}</string>
		</dict>
		<key>New_lmbs_xiayan_00051_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,2},{158,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{158,133}}</string>
			<key>sourceSize</key>
			<string>{158,143}</string>
		</dict>
		<key>New_lmbs_xiayan_00052_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,148},{152,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,109}}</string>
			<key>sourceSize</key>
			<string>{152,109}</string>
		</dict>
		<key>New_lmbs_xiayan_00053_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,441},{99,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,99}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>New_lmbs_xiayan_00054_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,480},{88,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,98}}</string>
			<key>sourceSize</key>
			<string>{88,98}</string>
		</dict>
		<key>New_lmbs_xiayan_00055_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,398},{96,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,98}}</string>
			<key>sourceSize</key>
			<string>{96,98}</string>
		</dict>
		<key>New_lmbs_xiayan_00056_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,635},{89,87}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,87}}</string>
			<key>sourceSize</key>
			<string>{93,87}</string>
		</dict>
		<key>New_lmbs_xiayan_00057_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,589},{86,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,91}}</string>
			<key>sourceSize</key>
			<string>{86,91}</string>
		</dict>
		<key>New_lmbs_xiayan_00058_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,280},{89,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,93}}</string>
			<key>sourceSize</key>
			<string>{89,93}</string>
		</dict>
		<key>New_lmbs_xiayan_00059_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,644},{84,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,89}}</string>
			<key>sourceSize</key>
			<string>{84,89}</string>
		</dict>
		<key>New_lmbs_xiayan_00060_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,615},{84,94}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,94}}</string>
			<key>sourceSize</key>
			<string>{86,94}</string>
		</dict>
		<key>New_lmbs_xiayan_00061_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,506},{81,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{81,94}}</string>
			<key>sourceSize</key>
			<string>{81,96}</string>
		</dict>
		<key>New_lmbs_xiayan_00062_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,371},{68,93}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{68,93}}</string>
			<key>sourceSize</key>
			<string>{72,95}</string>
		</dict>
		<key>New_lmbs_xiayan_00063_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,542},{71,96}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{71,96}}</string>
			<key>sourceSize</key>
			<string>{73,96}</string>
		</dict>
		<key>New_lmbs_xiayan_00064_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,580},{62,94}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{62,94}}</string>
			<key>sourceSize</key>
			<string>{64,94}</string>
		</dict>
		<key>New_lmbs_xiayan_00065_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,570},{63,96}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{63,96}}</string>
			<key>sourceSize</key>
			<string>{63,98}</string>
		</dict>
		<key>New_lmbs_xiayan_00066_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{331,552},{63,67}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{63,67}}</string>
			<key>sourceSize</key>
			<string>{63,69}</string>
		</dict>
		<key>New_lmbs_xiayan_00067_baihexiayanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,617},{65,65}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,69}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA4444</string>
		<key>realTextureFileName</key>
		<string>baihexiayanimage.png</string>
		<key>scale</key>
		<real>0.5</real>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>baihexiayanimage.png</string>
	</dict>
</dict>
</plist>
