<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask01_yiydctxk26image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,134},{120,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,119}}</string>
			<key>sourceSize</key>
			<string>{120,119}</string>
		</dict>
		<key>wy_1_1_38656_yiydctxk26image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{132,130}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,13},{132,130}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>yiydctxk26image.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>yiydctxk26image.png</string>
	</dict>
</dict>
</plist>
