<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_nzfy_ercitc_tcdadibanyy.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{150,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,141}}</string>
			<key>sourceSize</key>
			<string>{150,141}</string>
		</dict>
		<key>btn_nzfy_ercitc_tcdadibanyy_chendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,154},{19,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,18}}</string>
			<key>sourceSize</key>
			<string>{19,18}</string>
		</dict>
		<key>pic_bamen_emptybuff_wordbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,135},{96,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,41}}</string>
			<key>sourceSize</key>
			<string>{96,41}</string>
		</dict>
		<key>pic_bamen_emptybuff_wordlogo.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,135},{35,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,33}}</string>
			<key>sourceSize</key>
			<string>{35,33}</string>
		</dict>
		<key>pic_gedoujia_yuanhu_zi_xuanzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,135},{92,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,5},{92,93}}</string>
			<key>sourceSize</key>
			<string>{104,103}</string>
		</dict>
		<key>pic_hd_yjzd_jia.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,193},{29,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,29}}</string>
			<key>sourceSize</key>
			<string>{29,29}</string>
		</dict>
		<key>pic_kfstz_dh_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{145,2},{313,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{313,131}}</string>
			<key>sourceSize</key>
			<string>{313,131}</string>
		</dict>
		<key>pic_zhanhun_zuanshiqianghua_zidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,170},{30,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,21}}</string>
			<key>sourceSize</key>
			<string>{30,21}</string>
		</dict>
		<key>sdxqc_xqc_wzbg01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,154},{62,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,56}}</string>
			<key>sourceSize</key>
			<string>{62,56}</string>
		</dict>
		<key>sdxqc_xqc_wzbg02.png</key>
		<dict>
			<key>frame</key>
			<string>{{145,135},{126,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,100}}</string>
			<key>sourceSize</key>
			<string>{126,100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>global_ip190.png</string>
		<key>size</key>
		<string>{460,237}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>global_ip190.png</string>
	</dict>
</dict>
</plist>
