<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>a_hulu1_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,2},{37,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,42}}</string>
			<key>sourceSize</key>
			<string>{37,42}</string>
		</dict>
		<key>a_kua2_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,352},{44,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,32}}</string>
			<key>sourceSize</key>
			<string>{44,32}</string>
		</dict>
		<key>a_kua_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,82},{37,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,26}}</string>
			<key>sourceSize</key>
			<string>{37,26}</string>
		</dict>
		<key>a_kusheng_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,259},{17,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,23}}</string>
			<key>sourceSize</key>
			<string>{17,23}</string>
		</dict>
		<key>a_shengzi1_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,304},{13,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,17}}</string>
			<key>sourceSize</key>
			<string>{13,17}</string>
		</dict>
		<key>a_tou_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,352},{49,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,58}}</string>
			<key>sourceSize</key>
			<string>{49,58}</string>
		</dict>
		<key>a_xiong2_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,152},{72,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,46}}</string>
			<key>sourceSize</key>
			<string>{72,46}</string>
		</dict>
		<key>a_xiong3_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,224},{55,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,46}}</string>
			<key>sourceSize</key>
			<string>{55,46}</string>
		</dict>
		<key>a_xiong_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,77},{41,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,61}}</string>
			<key>sourceSize</key>
			<string>{41,61}</string>
		</dict>
		<key>a_yipian1_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,430},{11,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,50}}</string>
			<key>sourceSize</key>
			<string>{11,50}</string>
		</dict>
		<key>a_yipian2_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{179,430},{27,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,49}}</string>
			<key>sourceSize</key>
			<string>{27,49}</string>
		</dict>
		<key>a_yipian3_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{27,226},{16,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,62}}</string>
			<key>sourceSize</key>
			<string>{16,62}</string>
		</dict>
		<key>a_youdabi_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{188,332},{22,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,18}}</string>
			<key>sourceSize</key>
			<string>{22,18}</string>
		</dict>
		<key>a_youdatui2_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,116},{27,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,35}}</string>
			<key>sourceSize</key>
			<string>{27,35}</string>
		</dict>
		<key>a_youdatui_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,398},{30,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,31}}</string>
			<key>sourceSize</key>
			<string>{30,31}</string>
		</dict>
		<key>a_youjiao2_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,489},{19,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,20}}</string>
			<key>sourceSize</key>
			<string>{19,20}</string>
		</dict>
		<key>a_youjiao_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,107},{25,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,22}}</string>
			<key>sourceSize</key>
			<string>{25,22}</string>
		</dict>
		<key>a_youshou_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,410},{27,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,18}}</string>
			<key>sourceSize</key>
			<string>{27,18}</string>
		</dict>
		<key>a_youxiaobi_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,69},{16,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,28}}</string>
			<key>sourceSize</key>
			<string>{16,28}</string>
		</dict>
		<key>a_youxiaotui2_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,62},{22,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,25}}</string>
			<key>sourceSize</key>
			<string>{22,25}</string>
		</dict>
		<key>a_youxiaotui_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,107},{26,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,28}}</string>
			<key>sourceSize</key>
			<string>{26,28}</string>
		</dict>
		<key>a_youyipian2_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,412},{16,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,31}}</string>
			<key>sourceSize</key>
			<string>{16,31}</string>
		</dict>
		<key>a_youyipian_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,77},{24,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,73}}</string>
			<key>sourceSize</key>
			<string>{24,73}</string>
		</dict>
		<key>a_zuodabi_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,405},{23,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,37}}</string>
			<key>sourceSize</key>
			<string>{23,37}</string>
		</dict>
		<key>a_zuodatui_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,121},{35,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,33}}</string>
			<key>sourceSize</key>
			<string>{35,33}</string>
		</dict>
		<key>a_zuojiao_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,197},{25,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,24}}</string>
			<key>sourceSize</key>
			<string>{25,24}</string>
		</dict>
		<key>a_zuoshou2_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,257},{31,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,19}}</string>
			<key>sourceSize</key>
			<string>{31,19}</string>
		</dict>
		<key>a_zuoshou3_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,278},{24,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,24}}</string>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>a_zuoshou4_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,374},{22,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,23}}</string>
			<key>sourceSize</key>
			<string>{22,23}</string>
		</dict>
		<key>a_zuoshou_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,224},{24,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,22}}</string>
			<key>sourceSize</key>
			<string>{24,22}</string>
		</dict>
		<key>a_zuoxiaobi3_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,302},{14,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,13}}</string>
			<key>sourceSize</key>
			<string>{14,13}</string>
		</dict>
		<key>a_zuoxiaobi_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,257},{22,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,14}}</string>
			<key>sourceSize</key>
			<string>{22,14}</string>
		</dict>
		<key>a_zuoxiaotui_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,116},{27,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,30}}</string>
			<key>sourceSize</key>
			<string>{27,30}</string>
		</dict>
		<key>a_zuoyipian2_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{41,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,73}}</string>
			<key>sourceSize</key>
			<string>{41,73}</string>
		</dict>
		<key>a_zuoyipian3_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,226},{23,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,67}}</string>
			<key>sourceSize</key>
			<string>{23,67}</string>
		</dict>
		<key>a_zuoyipian_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,295},{14,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,66}}</string>
			<key>sourceSize</key>
			<string>{14,66}</string>
		</dict>
		<key>b_kua3_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,197},{25,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,35}}</string>
			<key>sourceSize</key>
			<string>{25,35}</string>
		</dict>
		<key>b_kua_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,79},{35,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,29}}</string>
			<key>sourceSize</key>
			<string>{35,29}</string>
		</dict>
		<key>b_shangyixiabai13_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,158},{32,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,35}}</string>
			<key>sourceSize</key>
			<string>{32,35}</string>
		</dict>
		<key>b_tou3_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,363},{65,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,58}}</string>
			<key>sourceSize</key>
			<string>{65,58}</string>
		</dict>
		<key>b_tou_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,430},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>b_xiabai1_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,482},{47,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,28}}</string>
			<key>sourceSize</key>
			<string>{47,28}</string>
		</dict>
		<key>b_xiabai2_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,2},{40,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,34}}</string>
			<key>sourceSize</key>
			<string>{40,34}</string>
		</dict>
		<key>b_xiong3_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{28,77},{72,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,42}}</string>
			<key>sourceSize</key>
			<string>{72,42}</string>
		</dict>
		<key>b_xiong4_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,140},{49,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,55}}</string>
			<key>sourceSize</key>
			<string>{49,55}</string>
		</dict>
		<key>b_xiong_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,224},{48,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,52}}</string>
			<key>sourceSize</key>
			<string>{48,52}</string>
		</dict>
		<key>b_youdatui3_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,40},{34,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,29}}</string>
			<key>sourceSize</key>
			<string>{34,29}</string>
		</dict>
		<key>b_youdatui_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,479},{46,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,31}}</string>
			<key>sourceSize</key>
			<string>{46,31}</string>
		</dict>
		<key>b_youjiao_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,224},{28,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,31}}</string>
			<key>sourceSize</key>
			<string>{28,31}</string>
		</dict>
		<key>b_youshou_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{241,195},{27,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,32}}</string>
			<key>sourceSize</key>
			<string>{27,32}</string>
		</dict>
		<key>b_youxiaotui3_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,2},{34,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,24}}</string>
			<key>sourceSize</key>
			<string>{34,24}</string>
		</dict>
		<key>b_youxiaotui_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,133},{38,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,33}}</string>
			<key>sourceSize</key>
			<string>{38,33}</string>
		</dict>
		<key>b_youyipian_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,211},{11,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,27}}</string>
			<key>sourceSize</key>
			<string>{11,27}</string>
		</dict>
		<key>b_zuodatui_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,2},{29,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,37}}</string>
			<key>sourceSize</key>
			<string>{29,37}</string>
		</dict>
		<key>b_zuojiao_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,2},{22,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,29}}</string>
			<key>sourceSize</key>
			<string>{22,29}</string>
		</dict>
		<key>b_zuoxiaotui3_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,197},{34,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,25}}</string>
			<key>sourceSize</key>
			<string>{34,25}</string>
		</dict>
		<key>b_zuoxiaotui_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,475},{38,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,35}}</string>
			<key>sourceSize</key>
			<string>{38,35}</string>
		</dict>
		<key>b_zuoyipian_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,2},{38,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,36}}</string>
			<key>sourceSize</key>
			<string>{38,36}</string>
		</dict>
		<key>b_zuoyipianxiabai_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,44},{36,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,39}}</string>
			<key>sourceSize</key>
			<string>{36,39}</string>
		</dict>
		<key>c_bei_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,278},{41,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,52}}</string>
			<key>sourceSize</key>
			<string>{41,52}</string>
		</dict>
		<key>c_kua3_2_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,430},{43,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,32}}</string>
			<key>sourceSize</key>
			<string>{43,32}</string>
		</dict>
		<key>c_kua3_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,90},{42,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,28}}</string>
			<key>sourceSize</key>
			<string>{42,28}</string>
		</dict>
		<key>c_kua_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,85},{38,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,26}}</string>
			<key>sourceSize</key>
			<string>{38,26}</string>
		</dict>
		<key>c_shangyi_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,278},{42,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,45}}</string>
			<key>sourceSize</key>
			<string>{42,45}</string>
		</dict>
		<key>c_shanyixiabai15_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,352},{56,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,42}}</string>
			<key>sourceSize</key>
			<string>{56,42}</string>
		</dict>
		<key>c_tou2_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,352},{51,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,45}}</string>
			<key>sourceSize</key>
			<string>{51,45}</string>
		</dict>
		<key>c_tou4_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,430},{47,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,46}}</string>
			<key>sourceSize</key>
			<string>{47,46}</string>
		</dict>
		<key>c_xiong2_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,290},{59,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,60}}</string>
			<key>sourceSize</key>
			<string>{59,60}</string>
		</dict>
		<key>c_youdabi_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,79},{35,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,22}}</string>
			<key>sourceSize</key>
			<string>{35,22}</string>
		</dict>
		<key>c_youdatui3_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,224},{33,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,22}}</string>
			<key>sourceSize</key>
			<string>{33,22}</string>
		</dict>
		<key>c_youdatui_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{145,90},{36,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,41}}</string>
			<key>sourceSize</key>
			<string>{36,41}</string>
		</dict>
		<key>c_youshou_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,76},{29,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,26}}</string>
			<key>sourceSize</key>
			<string>{29,26}</string>
		</dict>
		<key>c_youxiaobi_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,197},{29,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,25}}</string>
			<key>sourceSize</key>
			<string>{29,25}</string>
		</dict>
		<key>c_youxiaotui3_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,42},{24,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,38}}</string>
			<key>sourceSize</key>
			<string>{24,38}</string>
		</dict>
		<key>c_zuodabi2_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,412},{34,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,16}}</string>
			<key>sourceSize</key>
			<string>{34,16}</string>
		</dict>
		<key>c_zuodabi4_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,46},{22,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,41}}</string>
			<key>sourceSize</key>
			<string>{22,41}</string>
		</dict>
		<key>c_zuodatui3_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,125},{37,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,29}}</string>
			<key>sourceSize</key>
			<string>{37,29}</string>
		</dict>
		<key>c_zuoshou_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,257},{14,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,17}}</string>
			<key>sourceSize</key>
			<string>{14,17}</string>
		</dict>
		<key>c_zuoxiaobi2_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,336},{30,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,14}}</string>
			<key>sourceSize</key>
			<string>{30,14}</string>
		</dict>
		<key>c_zuoxiaobi4_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,224},{28,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,31}}</string>
			<key>sourceSize</key>
			<string>{28,31}</string>
		</dict>
		<key>c_zuoxiaobi_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,89},{19,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,15}}</string>
			<key>sourceSize</key>
			<string>{19,15}</string>
		</dict>
		<key>c_zuoxiaotui3_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,164},{31,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,29}}</string>
			<key>sourceSize</key>
			<string>{31,29}</string>
		</dict>
		<key>hulu4_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{45,2},{67,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,40}}</string>
			<key>sourceSize</key>
			<string>{67,40}</string>
		</dict>
		<key>huolu3_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,352},{45,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,44}}</string>
			<key>sourceSize</key>
			<string>{45,44}</string>
		</dict>
		<key>jiao1_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,148},{29,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,16}}</string>
			<key>sourceSize</key>
			<string>{29,16}</string>
		</dict>
		<key>jiao2_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,332},{17,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,28}}</string>
			<key>sourceSize</key>
			<string>{17,28}</string>
		</dict>
		<key>jiao3_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,489},{21,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,27}}</string>
			<key>sourceSize</key>
			<string>{21,27}</string>
		</dict>
		<key>jiao4_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,180},{29,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,22}}</string>
			<key>sourceSize</key>
			<string>{29,22}</string>
		</dict>
		<key>jiao5_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,304},{24,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,14}}</string>
			<key>sourceSize</key>
			<string>{24,14}</string>
		</dict>
		<key>jiao6_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,186},{30,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,24}}</string>
			<key>sourceSize</key>
			<string>{30,24}</string>
		</dict>
		<key>jiao8_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,89},{20,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,16}}</string>
			<key>sourceSize</key>
			<string>{20,16}</string>
		</dict>
		<key>jiao9_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,148},{23,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,30}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>s_tou1_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,224},{60,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,56}}</string>
			<key>sourceSize</key>
			<string>{60,56}</string>
		</dict>
		<key>s_xiong_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,430},{50,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,57}}</string>
			<key>sourceSize</key>
			<string>{50,57}</string>
		</dict>
		<key>s_youshou_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,325},{30,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,25}}</string>
			<key>sourceSize</key>
			<string>{30,25}</string>
		</dict>
		<key>s_youxiaobi_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{35,492},{28,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,18}}</string>
			<key>sourceSize</key>
			<string>{28,18}</string>
		</dict>
		<key>s_youyipian_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,430},{48,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,57}}</string>
			<key>sourceSize</key>
			<string>{48,57}</string>
		</dict>
		<key>s_zuoshou_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,349},{23,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,23}}</string>
			<key>sourceSize</key>
			<string>{23,23}</string>
		</dict>
		<key>s_zuoxiaobi_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,276},{24,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,22}}</string>
			<key>sourceSize</key>
			<string>{24,22}</string>
		</dict>
		<key>s_zuoyipian_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,214},{8,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,28}}</string>
			<key>sourceSize</key>
			<string>{8,28}</string>
		</dict>
		<key>shenzi1_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{45,71},{30,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,4}}</string>
			<key>sourceSize</key>
			<string>{30,4}</string>
		</dict>
		<key>shenzi2_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,2},{61,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,26}}</string>
			<key>sourceSize</key>
			<string>{61,26}</string>
		</dict>
		<key>shenzi3_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{45,226},{62,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,16}}</string>
			<key>sourceSize</key>
			<string>{62,16}</string>
		</dict>
		<key>shou10_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,323},{24,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,22}}</string>
			<key>sourceSize</key>
			<string>{24,22}</string>
		</dict>
		<key>shou11_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,137},{27,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,15}}</string>
			<key>sourceSize</key>
			<string>{27,15}</string>
		</dict>
		<key>shou12_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,336},{31,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,14}}</string>
			<key>sourceSize</key>
			<string>{31,14}</string>
		</dict>
		<key>shou13_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{327,33},{22,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,27}}</string>
			<key>sourceSize</key>
			<string>{22,27}</string>
		</dict>
		<key>shou3_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,38},{23,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,29}}</string>
			<key>sourceSize</key>
			<string>{23,29}</string>
		</dict>
		<key>shou9_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,179},{29,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,13}}</string>
			<key>sourceSize</key>
			<string>{29,13}</string>
		</dict>
		<key>x_kua_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,477},{43,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,33}}</string>
			<key>sourceSize</key>
			<string>{43,33}</string>
		</dict>
		<key>x_tou_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,281},{53,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,49}}</string>
			<key>sourceSize</key>
			<string>{53,49}</string>
		</dict>
		<key>x_xiong_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,430},{45,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,43}}</string>
			<key>sourceSize</key>
			<string>{45,43}</string>
		</dict>
		<key>x_youdatui_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,46},{42,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,31}}</string>
			<key>sourceSize</key>
			<string>{42,31}</string>
		</dict>
		<key>x_youxiaobi_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,2},{27,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,19}}</string>
			<key>sourceSize</key>
			<string>{27,19}</string>
		</dict>
		<key>x_youxiaotui_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,41},{36,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,33}}</string>
			<key>sourceSize</key>
			<string>{36,33}</string>
		</dict>
		<key>x_youyipian1_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,489},{21,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,27}}</string>
			<key>sourceSize</key>
			<string>{21,27}</string>
		</dict>
		<key>x_youyipian2_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,173},{22,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,38}}</string>
			<key>sourceSize</key>
			<string>{22,38}</string>
		</dict>
		<key>x_zuodatui_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,399},{43,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,29}}</string>
			<key>sourceSize</key>
			<string>{43,29}</string>
		</dict>
		<key>x_zuoxiaotui_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,2},{36,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,19}}</string>
			<key>sourceSize</key>
			<string>{36,19}</string>
		</dict>
		<key>x_zuoyipian1_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,320},{12,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,22}}</string>
			<key>sourceSize</key>
			<string>{12,22}</string>
		</dict>
		<key>x_zuoyipian2_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,489},{20,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,32}}</string>
			<key>sourceSize</key>
			<string>{20,32}</string>
		</dict>
		<key>z_tou_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,151},{61,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,59}}</string>
			<key>sourceSize</key>
			<string>{61,59}</string>
		</dict>
		<key>z_xiong_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{18,295},{42,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,64}}</string>
			<key>sourceSize</key>
			<string>{42,64}</string>
		</dict>
		<key>z_youshou_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{267,153},{24,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,31}}</string>
			<key>sourceSize</key>
			<string>{24,31}</string>
		</dict>
		<key>z_youxiaobi_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,492},{31,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,18}}</string>
			<key>sourceSize</key>
			<string>{31,18}</string>
		</dict>
		<key>z_zuoshou_zhenyuanzhaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,405},{32,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,23}}</string>
			<key>sourceSize</key>
			<string>{32,23}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA4444</string>
		<key>realTextureFileName</key>
		<string>zhenyuanzhaiimage.png</string>
		<key>scale</key>
		<real>0.5</real>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>zhenyuanzhaiimage.png</string>
	</dict>
</dict>
</plist>
