<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_szygnz_liumenbisha_baoqi_00021.png</key>
		<dict>
			<key>frame</key>
			<string>{{742,554},{216,202}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,202}}</string>
			<key>sourceSize</key>
			<string>{216,202}</string>
		</dict>
		<key>New_szygnz_liumenbisha_heidongqiu_00044.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{369,253}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{369,253}}</string>
			<key>sourceSize</key>
			<string>{371,261}</string>
		</dict>
		<key>New_szygnz_liumenbisha_heidongqiu_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,2},{369,253}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{369,253}}</string>
			<key>sourceSize</key>
			<string>{371,263}</string>
		</dict>
		<key>New_szygnz_liumenbisha_heidongqiu_00056.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,508},{369,249}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{369,249}}</string>
			<key>sourceSize</key>
			<string>{371,255}</string>
		</dict>
		<key>New_szygnz_liumenbisha_heidongqiu_00060.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,510},{369,244}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,10},{369,244}}</string>
			<key>sourceSize</key>
			<string>{371,264}</string>
		</dict>
		<key>New_szygnz_liumenbisha_heidongqiu_00064.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,755},{369,239}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,8},{369,239}}</string>
			<key>sourceSize</key>
			<string>{371,261}</string>
		</dict>
		<key>New_szygnz_liumenbisha_heidongqiu_00068.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,256},{369,251}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{369,251}}</string>
			<key>sourceSize</key>
			<string>{371,257}</string>
		</dict>
		<key>New_szygnz_liumenbisha_heidongqiu_00084.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,256},{369,253}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{369,253}}</string>
			<key>sourceSize</key>
			<string>{371,261}</string>
		</dict>
		<key>New_szygnz_liumenbisha_huoqiu_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{961,943},{59,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,59}}</string>
			<key>sourceSize</key>
			<string>{59,59}</string>
		</dict>
		<key>New_szygnz_liumenbisha_huoqiu_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{959,554},{59,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,59}}</string>
			<key>sourceSize</key>
			<string>{59,59}</string>
		</dict>
		<key>New_szygnz_liumenbisha_huoqiu_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{959,614},{59,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,59}}</string>
			<key>sourceSize</key>
			<string>{59,59}</string>
		</dict>
		<key>New_szygnz_liumenbisha_huoqiu_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{959,674},{59,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,59}}</string>
			<key>sourceSize</key>
			<string>{59,59}</string>
		</dict>
		<key>New_szygnz_liumenbisha_posui_00136.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,758},{263,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{263,240}}</string>
			<key>sourceSize</key>
			<string>{263,240}</string>
		</dict>
		<key>New_szygnz_liumenbisha_posui_00140.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,758},{268,264}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{268,264}}</string>
			<key>sourceSize</key>
			<string>{268,264}</string>
		</dict>
		<key>New_szygnz_putongbisa_baodianguang_00031.png</key>
		<dict>
			<key>frame</key>
			<string>{{742,2},{275,278}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{275,278}}</string>
			<key>sourceSize</key>
			<string>{275,278}</string>
		</dict>
		<key>New_szygnz_putongbisa_bingci3_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,757},{136,185}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,185}}</string>
			<key>sourceSize</key>
			<string>{136,185}</string>
		</dict>
		<key>New_szygnz_putongbisa_bingci4_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,995},{27,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,38}}</string>
			<key>sourceSize</key>
			<string>{27,38}</string>
		</dict>
		<key>New_szygnz_putongbisa_cankao_00031.png</key>
		<dict>
			<key>frame</key>
			<string>{{742,278},{275,278}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{275,278}}</string>
			<key>sourceSize</key>
			<string>{275,278}</string>
		</dict>
		<key>New_szygnz_xiaojineng_shouji_00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,943},{79,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,78}}</string>
			<key>sourceSize</key>
			<string>{79,78}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>ygnzXIV_common2.png</string>
		<key>scale</key>
		<real>0.45</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ygnzXIV_common2.png</string>
	</dict>
</dict>
</plist>
