<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ydnsysz0_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,567},{130,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,120}}</string>
			<key>sourceSize</key>
			<string>{130,120}</string>
		</dict>
		<key>ydnsysz100_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{684,685},{56,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,51}}</string>
			<key>sourceSize</key>
			<string>{56,51}</string>
		</dict>
		<key>ydnsysz101_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{895,306},{121,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,126}}</string>
			<key>sourceSize</key>
			<string>{121,126}</string>
		</dict>
		<key>ydnsysz102_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,566},{114,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,104}}</string>
			<key>sourceSize</key>
			<string>{114,104}</string>
		</dict>
		<key>ydnsysz103_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,168},{63,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,53}}</string>
			<key>sourceSize</key>
			<string>{63,53}</string>
		</dict>
		<key>ydnsysz104_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,677},{68,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,89}}</string>
			<key>sourceSize</key>
			<string>{68,89}</string>
		</dict>
		<key>ydnsysz105_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,536},{98,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,73}}</string>
			<key>sourceSize</key>
			<string>{98,73}</string>
		</dict>
		<key>ydnsysz106_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,810},{77,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,79}}</string>
			<key>sourceSize</key>
			<string>{77,79}</string>
		</dict>
		<key>ydnsysz107_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,916},{50,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,57}}</string>
			<key>sourceSize</key>
			<string>{50,57}</string>
		</dict>
		<key>ydnsysz108_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,677},{41,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,75}}</string>
			<key>sourceSize</key>
			<string>{41,75}</string>
		</dict>
		<key>ydnsysz109_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,660},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>ydnsysz10_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{708,179},{60,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,27}}</string>
			<key>sourceSize</key>
			<string>{60,27}</string>
		</dict>
		<key>ydnsysz110_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{608,892},{76,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,69}}</string>
			<key>sourceSize</key>
			<string>{76,69}</string>
		</dict>
		<key>ydnsysz111_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,114},{25,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,27}}</string>
			<key>sourceSize</key>
			<string>{25,27}</string>
		</dict>
		<key>ydnsysz113_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,980},{45,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,42}}</string>
			<key>sourceSize</key>
			<string>{45,42}</string>
		</dict>
		<key>ydnsysz114_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{890,945},{43,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,50}}</string>
			<key>sourceSize</key>
			<string>{43,50}</string>
		</dict>
		<key>ydnsysz116_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{766,961},{36,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,61}}</string>
			<key>sourceSize</key>
			<string>{36,61}</string>
		</dict>
		<key>ydnsysz117_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{529,892},{79,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,77}}</string>
			<key>sourceSize</key>
			<string>{79,77}</string>
		</dict>
		<key>ydnsysz118_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{685,489},{50,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,67}}</string>
			<key>sourceSize</key>
			<string>{50,67}</string>
		</dict>
		<key>ydnsysz119_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,684},{96,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,75}}</string>
			<key>sourceSize</key>
			<string>{96,75}</string>
		</dict>
		<key>ydnsysz11_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,219},{112,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,156}}</string>
			<key>sourceSize</key>
			<string>{112,156}</string>
		</dict>
		<key>ydnsysz120_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,892},{81,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,85}}</string>
			<key>sourceSize</key>
			<string>{81,85}</string>
		</dict>
		<key>ydnsysz121_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{708,241},{27,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,29}}</string>
			<key>sourceSize</key>
			<string>{27,29}</string>
		</dict>
		<key>ydnsysz122_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,302},{35,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,35}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>ydnsysz123_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,333},{137,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,115}}</string>
			<key>sourceSize</key>
			<string>{137,115}</string>
		</dict>
		<key>ydnsysz124_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{690,430},{57,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,45}}</string>
			<key>sourceSize</key>
			<string>{57,45}</string>
		</dict>
		<key>ydnsysz129_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,884},{59,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,38}}</string>
			<key>sourceSize</key>
			<string>{59,38}</string>
		</dict>
		<key>ydnsysz12_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,776},{64,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,34}}</string>
			<key>sourceSize</key>
			<string>{64,34}</string>
		</dict>
		<key>ydnsysz131_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{684,787},{55,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,75}}</string>
			<key>sourceSize</key>
			<string>{55,75}</string>
		</dict>
		<key>ydnsysz132_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{849,891},{67,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,31}}</string>
			<key>sourceSize</key>
			<string>{67,31}</string>
		</dict>
		<key>ydnsysz133_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,187},{122,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,117}}</string>
			<key>sourceSize</key>
			<string>{122,117}</string>
		</dict>
		<key>ydnsysz136_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,916},{57,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,34}}</string>
			<key>sourceSize</key>
			<string>{57,34}</string>
		</dict>
		<key>ydnsysz137_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{578,973},{67,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,49}}</string>
			<key>sourceSize</key>
			<string>{67,49}</string>
		</dict>
		<key>ydnsysz138_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,689},{85,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,87}}</string>
			<key>sourceSize</key>
			<string>{85,87}</string>
		</dict>
		<key>ydnsysz139_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{981,745},{52,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,40}}</string>
			<key>sourceSize</key>
			<string>{52,40}</string>
		</dict>
		<key>ydnsysz13_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,892},{65,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,81}}</string>
			<key>sourceSize</key>
			<string>{65,81}</string>
		</dict>
		<key>ydnsysz140_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,980},{41,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,59}}</string>
			<key>sourceSize</key>
			<string>{41,59}</string>
		</dict>
		<key>ydnsysz141_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,78},{173,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,119}}</string>
			<key>sourceSize</key>
			<string>{173,119}</string>
		</dict>
		<key>ydnsysz142_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,546},{112,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,115}}</string>
			<key>sourceSize</key>
			<string>{112,115}</string>
		</dict>
		<key>ydnsysz143_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,848},{65,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,42}}</string>
			<key>sourceSize</key>
			<string>{65,42}</string>
		</dict>
		<key>ydnsysz144_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{940,745},{55,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,39}}</string>
			<key>sourceSize</key>
			<string>{55,39}</string>
		</dict>
		<key>ydnsysz145_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,726},{82,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,80}}</string>
			<key>sourceSize</key>
			<string>{82,80}</string>
		</dict>
		<key>ydnsysz146_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{741,849},{40,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,64}}</string>
			<key>sourceSize</key>
			<string>{40,64}</string>
		</dict>
		<key>ydnsysz147_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{684,743},{42,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,51}}</string>
			<key>sourceSize</key>
			<string>{42,51}</string>
		</dict>
		<key>ydnsysz148_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{981,799},{37,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,39}}</string>
			<key>sourceSize</key>
			<string>{37,39}</string>
		</dict>
		<key>ydnsysz14_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,2},{184,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,74}}</string>
			<key>sourceSize</key>
			<string>{184,74}</string>
		</dict>
		<key>ydnsysz150_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,786},{60,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,52}}</string>
			<key>sourceSize</key>
			<string>{60,52}</string>
		</dict>
		<key>ydnsysz151_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,975},{44,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,47}}</string>
			<key>sourceSize</key>
			<string>{44,47}</string>
		</dict>
		<key>ydnsysz152_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,761},{85,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,87}}</string>
			<key>sourceSize</key>
			<string>{85,87}</string>
		</dict>
		<key>ydnsysz153_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{561,72},{174,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,105}}</string>
			<key>sourceSize</key>
			<string>{174,105}</string>
		</dict>
		<key>ydnsysz154_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,827},{63,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,44}}</string>
			<key>sourceSize</key>
			<string>{63,44}</string>
		</dict>
		<key>ydnsysz155_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,916},{56,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,76}}</string>
			<key>sourceSize</key>
			<string>{56,76}</string>
		</dict>
		<key>ydnsysz156_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{826,689},{64,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,41}}</string>
			<key>sourceSize</key>
			<string>{64,41}</string>
		</dict>
		<key>ydnsysz157_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,439},{64,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,38}}</string>
			<key>sourceSize</key>
			<string>{64,38}</string>
		</dict>
		<key>ydnsysz158_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,975},{47,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,39}}</string>
			<key>sourceSize</key>
			<string>{47,39}</string>
		</dict>
		<key>ydnsysz159_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{804,961},{60,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,38}}</string>
			<key>sourceSize</key>
			<string>{60,38}</string>
		</dict>
		<key>ydnsysz160_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{515,290},{64,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,33}}</string>
			<key>sourceSize</key>
			<string>{64,33}</string>
		</dict>
		<key>ydnsysz16111_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,786},{60,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,43}}</string>
			<key>sourceSize</key>
			<string>{60,43}</string>
		</dict>
		<key>ydnsysz161_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,848},{43,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,41}}</string>
			<key>sourceSize</key>
			<string>{43,41}</string>
		</dict>
		<key>ydnsysz16222_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,440},{133,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,118}}</string>
			<key>sourceSize</key>
			<string>{133,118}</string>
		</dict>
		<key>ydnsysz16_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{561,2},{184,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,68}}</string>
			<key>sourceSize</key>
			<string>{184,68}</string>
		</dict>
		<key>ydnsysz178_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,428},{100,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,118}}</string>
			<key>sourceSize</key>
			<string>{100,118}</string>
		</dict>
		<key>ydnsysz179_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{844,755},{63,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,37}}</string>
			<key>sourceSize</key>
			<string>{63,37}</string>
		</dict>
		<key>ydnsysz180_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{714,969},{53,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,50}}</string>
			<key>sourceSize</key>
			<string>{53,50}</string>
		</dict>
		<key>ydnsysz181_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,795},{66,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,40}}</string>
			<key>sourceSize</key>
			<string>{66,40}</string>
		</dict>
		<key>ydnsysz182_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,349},{77,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,90}}</string>
			<key>sourceSize</key>
			<string>{77,90}</string>
		</dict>
		<key>ydnsysz183_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,754},{71,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,41}}</string>
			<key>sourceSize</key>
			<string>{71,41}</string>
		</dict>
		<key>ydnsysz184_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,810},{32,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,63}}</string>
			<key>sourceSize</key>
			<string>{32,63}</string>
		</dict>
		<key>ydnsysz185_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{935,979},{43,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,37}}</string>
			<key>sourceSize</key>
			<string>{43,37}</string>
		</dict>
		<key>ydnsysz186_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,978},{44,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,79}}</string>
			<key>sourceSize</key>
			<string>{44,79}</string>
		</dict>
		<key>ydnsysz187_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,726},{46,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,67}}</string>
			<key>sourceSize</key>
			<string>{46,67}</string>
		</dict>
		<key>ydnsysz188_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{956,889},{51,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,38}}</string>
			<key>sourceSize</key>
			<string>{51,38}</string>
		</dict>
		<key>ydnsysz189_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,892},{56,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,84}}</string>
			<key>sourceSize</key>
			<string>{56,84}</string>
		</dict>
		<key>ydnsysz18_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,2},{184,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,77}}</string>
			<key>sourceSize</key>
			<string>{184,77}</string>
		</dict>
		<key>ydnsysz190_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{461,815},{75,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,86}}</string>
			<key>sourceSize</key>
			<string>{75,86}</string>
		</dict>
		<key>ydnsysz191_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{708,300},{26,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,26}}</string>
			<key>sourceSize</key>
			<string>{26,26}</string>
		</dict>
		<key>ydnsysz194_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{741,776},{71,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,65}}</string>
			<key>sourceSize</key>
			<string>{71,65}</string>
		</dict>
		<key>ydnsysz195_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,726},{38,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,58}}</string>
			<key>sourceSize</key>
			<string>{38,58}</string>
		</dict>
		<key>ydnsysz196_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,848},{71,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,66}}</string>
			<key>sourceSize</key>
			<string>{71,66}</string>
		</dict>
		<key>ydnsysz197_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{956,838},{49,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,53}}</string>
			<key>sourceSize</key>
			<string>{49,53}</string>
		</dict>
		<key>ydnsysz199_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,143},{35,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,24}}</string>
			<key>sourceSize</key>
			<string>{35,24}</string>
		</dict>
		<key>ydnsysz200_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{520,199},{31,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,22}}</string>
			<key>sourceSize</key>
			<string>{31,22}</string>
		</dict>
		<key>ydnsysz201_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{927,2},{39,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,95}}</string>
			<key>sourceSize</key>
			<string>{39,95}</string>
		</dict>
		<key>ydnsysz202_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{690,328},{45,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,100}}</string>
			<key>sourceSize</key>
			<string>{45,100}</string>
		</dict>
		<key>ydnsysz20_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,450},{136,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,115}}</string>
			<key>sourceSize</key>
			<string>{136,115}</string>
		</dict>
		<key>ydnsysz22_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,863},{50,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,32}}</string>
			<key>sourceSize</key>
			<string>{50,32}</string>
		</dict>
		<key>ydnsysz26_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,114},{103,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,161}}</string>
			<key>sourceSize</key>
			<string>{103,161}</string>
		</dict>
		<key>ydnsysz27_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,530},{114,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,117}}</string>
			<key>sourceSize</key>
			<string>{114,117}</string>
		</dict>
		<key>ydnsysz28_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,975},{47,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,77}}</string>
			<key>sourceSize</key>
			<string>{47,77}</string>
		</dict>
		<key>ydnsysz29_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,468},{121,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,96}}</string>
			<key>sourceSize</key>
			<string>{121,96}</string>
		</dict>
		<key>ydnsysz30_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,199},{143,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,89}}</string>
			<key>sourceSize</key>
			<string>{143,89}</string>
		</dict>
		<key>ydnsysz33_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{876,429},{136,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,115}}</string>
			<key>sourceSize</key>
			<string>{136,115}</string>
		</dict>
		<key>ydnsysz34_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,646},{71,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,29}}</string>
			<key>sourceSize</key>
			<string>{71,29}</string>
		</dict>
		<key>ydnsysz36_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,611},{98,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,71}}</string>
			<key>sourceSize</key>
			<string>{98,71}</string>
		</dict>
		<key>ydnsysz38_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,672},{93,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,36}}</string>
			<key>sourceSize</key>
			<string>{93,36}</string>
		</dict>
		<key>ydnsysz39_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{862,820},{62,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,44}}</string>
			<key>sourceSize</key>
			<string>{62,44}</string>
		</dict>
		<key>ydnsysz3_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{685,558},{59,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,50}}</string>
			<key>sourceSize</key>
			<string>{59,50}</string>
		</dict>
		<key>ydnsysz40_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{935,929},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>ydnsysz41_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,975},{47,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,48}}</string>
			<key>sourceSize</key>
			<string>{47,48}</string>
		</dict>
		<key>ydnsysz42_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,810},{80,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,86}}</string>
			<key>sourceSize</key>
			<string>{80,86}</string>
		</dict>
		<key>ydnsysz43_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,546},{136,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,84}}</string>
			<key>sourceSize</key>
			<string>{136,84}</string>
		</dict>
		<key>ydnsysz47_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,103},{164,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,86}}</string>
			<key>sourceSize</key>
			<string>{164,86}</string>
		</dict>
		<key>ydnsysz48_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,785},{61,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,68}}</string>
			<key>sourceSize</key>
			<string>{61,68}</string>
		</dict>
		<key>ydnsysz49_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,254},{143,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,93}}</string>
			<key>sourceSize</key>
			<string>{143,93}</string>
		</dict>
		<key>ydnsysz4_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,290},{123,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,138}}</string>
			<key>sourceSize</key>
			<string>{123,138}</string>
		</dict>
		<key>ydnsysz51_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,745},{55,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,59}}</string>
			<key>sourceSize</key>
			<string>{55,59}</string>
		</dict>
		<key>ydnsysz52_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{515,356},{32,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,81}}</string>
			<key>sourceSize</key>
			<string>{32,81}</string>
		</dict>
		<key>ydnsysz53_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,81},{165,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,85}}</string>
			<key>sourceSize</key>
			<string>{165,85}</string>
		</dict>
		<key>ydnsysz54_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,233},{57,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,53}}</string>
			<key>sourceSize</key>
			<string>{57,53}</string>
		</dict>
		<key>ydnsysz56_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,505},{63,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,38}}</string>
			<key>sourceSize</key>
			<string>{63,38}</string>
		</dict>
		<key>ydnsysz57_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,891},{35,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,67}}</string>
			<key>sourceSize</key>
			<string>{35,67}</string>
		</dict>
		<key>ydnsysz58_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,719},{29,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,64}}</string>
			<key>sourceSize</key>
			<string>{29,64}</string>
		</dict>
		<key>ydnsysz59_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,570},{76,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,85}}</string>
			<key>sourceSize</key>
			<string>{76,85}</string>
		</dict>
		<key>ydnsysz5_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{908,806},{46,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,55}}</string>
			<key>sourceSize</key>
			<string>{46,55}</string>
		</dict>
		<key>ydnsysz60_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{747,2},{178,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,110}}</string>
			<key>sourceSize</key>
			<string>{178,110}</string>
		</dict>
		<key>ydnsysz61_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,423},{123,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,121}}</string>
			<key>sourceSize</key>
			<string>{123,121}</string>
		</dict>
		<key>ydnsysz62_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,646},{78,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,97}}</string>
			<key>sourceSize</key>
			<string>{78,97}</string>
		</dict>
		<key>ydnsysz63_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,974},{50,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,48}}</string>
			<key>sourceSize</key>
			<string>{50,48}</string>
		</dict>
		<key>ydnsysz64_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{684,619},{64,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,51}}</string>
			<key>sourceSize</key>
			<string>{64,51}</string>
		</dict>
		<key>ydnsysz65_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,317},{138,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,121}}</string>
			<key>sourceSize</key>
			<string>{138,121}</string>
		</dict>
		<key>ydnsysz66_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,349},{124,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,117}}</string>
			<key>sourceSize</key>
			<string>{124,117}</string>
		</dict>
		<key>ydnsysz67_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,168},{150,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,132}}</string>
			<key>sourceSize</key>
			<string>{150,132}</string>
		</dict>
		<key>ydnsysz68_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,979},{66,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,43}}</string>
			<key>sourceSize</key>
			<string>{66,43}</string>
		</dict>
		<key>ydnsysz6_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,848},{67,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,42}}</string>
			<key>sourceSize</key>
			<string>{67,42}</string>
		</dict>
		<key>ydnsysz70_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,891},{64,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,68}}</string>
			<key>sourceSize</key>
			<string>{64,68}</string>
		</dict>
		<key>ydnsysz71_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{185,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,99}}</string>
			<key>sourceSize</key>
			<string>{185,99}</string>
		</dict>
		<key>ydnsysz72_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,536},{31,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,34}}</string>
			<key>sourceSize</key>
			<string>{31,34}</string>
		</dict>
		<key>ydnsysz74_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,560},{132,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,115}}</string>
			<key>sourceSize</key>
			<string>{132,115}</string>
		</dict>
		<key>ydnsysz76_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,892},{65,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,75}}</string>
			<key>sourceSize</key>
			<string>{65,75}</string>
		</dict>
		<key>ydnsysz77_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,747},{89,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,61}}</string>
			<key>sourceSize</key>
			<string>{89,61}</string>
		</dict>
		<key>ydnsysz78_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,892},{72,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,86}}</string>
			<key>sourceSize</key>
			<string>{72,86}</string>
		</dict>
		<key>ydnsysz79_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,191},{149,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,61}}</string>
			<key>sourceSize</key>
			<string>{149,61}</string>
		</dict>
		<key>ydnsysz7_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,732},{81,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,78}}</string>
			<key>sourceSize</key>
			<string>{81,78}</string>
		</dict>
		<key>ydnsysz80_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,632},{124,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,111}}</string>
			<key>sourceSize</key>
			<string>{124,111}</string>
		</dict>
		<key>ydnsysz81_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,710},{74,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,89}}</string>
			<key>sourceSize</key>
			<string>{74,89}</string>
		</dict>
		<key>ydnsysz82_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{807,849},{53,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,40}}</string>
			<key>sourceSize</key>
			<string>{53,40}</string>
		</dict>
		<key>ydnsysz83_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,970},{65,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,52}}</string>
			<key>sourceSize</key>
			<string>{65,52}</string>
		</dict>
		<key>ydnsysz84_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,892},{81,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,77}}</string>
			<key>sourceSize</key>
			<string>{81,77}</string>
		</dict>
		<key>ydnsysz85_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,657},{73,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,76}}</string>
			<key>sourceSize</key>
			<string>{73,76}</string>
		</dict>
		<key>ydnsysz86_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{708,272},{26,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,27}}</string>
			<key>sourceSize</key>
			<string>{26,27}</string>
		</dict>
		<key>ydnsysz89_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,415},{133,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,119}}</string>
			<key>sourceSize</key>
			<string>{133,119}</string>
		</dict>
		<key>ydnsysz8_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,179},{136,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,156}}</string>
			<key>sourceSize</key>
			<string>{136,156}</string>
		</dict>
		<key>ydnsysz93_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{527,974},{48,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,49}}</string>
			<key>sourceSize</key>
			<string>{48,49}</string>
		</dict>
		<key>ydnsysz94_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,726},{57,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,76}}</string>
			<key>sourceSize</key>
			<string>{57,76}</string>
		</dict>
		<key>ydnsysz95_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{927,43},{142,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,94}}</string>
			<key>sourceSize</key>
			<string>{142,94}</string>
		</dict>
		<key>ydnsysz96_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,292},{53,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,55}}</string>
			<key>sourceSize</key>
			<string>{53,55}</string>
		</dict>
		<key>ydnsysz97_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,302},{134,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,119}}</string>
			<key>sourceSize</key>
			<string>{134,119}</string>
		</dict>
		<key>ydnsysz99_ydnsyszimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{844,960},{62,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,44}}</string>
			<key>sourceSize</key>
			<string>{62,44}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>ydnsyszimage.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ydnsyszimage.png</string>
	</dict>
</dict>
</plist>
