<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>zhenniteshizhuang_kb_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,2},{132,249}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{132,249}}</string>
			<key>sourceSize</key>
			<string>{132,251}</string>
		</dict>
		<key>zhenniteshizhuang_kb_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{711,752},{149,215}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,215}}</string>
			<key>sourceSize</key>
			<string>{149,215}</string>
		</dict>
		<key>zhenniteshizhuang_kb_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,598},{266,332}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{266,332}}</string>
			<key>sourceSize</key>
			<string>{270,332}</string>
		</dict>
		<key>zhenniteshizhuang_kb_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{685,2},{225,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{225,320}}</string>
			<key>sourceSize</key>
			<string>{225,322}</string>
		</dict>
		<key>zhenniteshizhuang_kb_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,598},{265,367}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{265,367}}</string>
			<key>sourceSize</key>
			<string>{267,367}</string>
		</dict>
		<key>zhenniteshizhuang_kb_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,752},{169,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,122}}</string>
			<key>sourceSize</key>
			<string>{169,122}</string>
		</dict>
		<key>zhenniteshizhuang_kb_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{685,228},{176,306}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,306}}</string>
			<key>sourceSize</key>
			<string>{176,306}</string>
		</dict>
		<key>zhenniteshizhuang_kb_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,264},{194,308}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,308}}</string>
			<key>sourceSize</key>
			<string>{194,308}</string>
		</dict>
		<key>zhenniteshizhuang_kb_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,135},{128,248}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,248}}</string>
			<key>sourceSize</key>
			<string>{128,248}</string>
		</dict>
		<key>zhenniteshizhuang_kb_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{412,595}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{412,595}}</string>
			<key>sourceSize</key>
			<string>{412,595}</string>
		</dict>
		<key>zhenniteshizhuang_kb_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{544,931},{62,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{62,140}}</string>
			<key>sourceSize</key>
			<string>{62,142}</string>
		</dict>
		<key>zhenniteshizhuang_kb_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,982},{14,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,49}}</string>
			<key>sourceSize</key>
			<string>{14,49}</string>
		</dict>
		<key>zhenniteshizhuang_kb_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,598},{383,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{383,52}}</string>
			<key>sourceSize</key>
			<string>{383,52}</string>
		</dict>
		<key>zhenniteshizhuang_kb_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,931},{119,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,81}}</string>
			<key>sourceSize</key>
			<string>{119,81}</string>
		</dict>
		<key>zhenniteshizhuang_kb_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{685,519},{232,234}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232,234}}</string>
			<key>sourceSize</key>
			<string>{232,234}</string>
		</dict>
		<key>zhenniteshizhuang_kb_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,931},{102,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,87}}</string>
			<key>sourceSize</key>
			<string>{102,87}</string>
		</dict>
		<key>zhenniteshizhuang_kb_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{685,405},{113,243}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,243}}</string>
			<key>sourceSize</key>
			<string>{113,243}</string>
		</dict>
		<key>znt_kabei_guang0328.png</key>
		<dict>
			<key>frame</key>
			<string>{{861,752},{158,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,164}}</string>
			<key>sourceSize</key>
			<string>{158,164}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>zhenniteSZCard_role0.png</string>
		<key>scale</key>
		<real>0.9</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>zhenniteSZCard_role0.png</string>
	</dict>
</dict>
</plist>
