<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_jiesuan_youlose.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{507,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{507,76}}</string>
			<key>sourceSize</key>
			<string>{507,76}</string>
		</dict>
		<key>pic_shibai_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,80},{12,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,25}}</string>
			<key>sourceSize</key>
			<string>{12,25}</string>
		</dict>
		<key>pic_shibai_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,80},{22,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,25}}</string>
			<key>sourceSize</key>
			<string>{22,25}</string>
		</dict>
		<key>pic_shibai_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,80},{22,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,25}}</string>
			<key>sourceSize</key>
			<string>{22,25}</string>
		</dict>
		<key>pic_shibai_pic_difangcxueliang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,80},{116,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,25}}</string>
			<key>sourceSize</key>
			<string>{116,25}</string>
		</dict>
		<key>pic_shibai_round.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,80},{84,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,19}}</string>
			<key>sourceSize</key>
			<string>{84,19}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_lose0.png</string>
		<key>size</key>
		<string>{511,107}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_lose0.png</string>
	</dict>
</dict>
</plist>
