<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask01_gedoujiashiyongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,423},{284,358}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,358}}</string>
			<key>sourceSize</key>
			<string>{284,358}</string>
		</dict>
		<key>wy_1_1_94681_gedoujiashiyongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{751,2},{247,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{247,77}}</string>
			<key>sourceSize</key>
			<string>{247,77}</string>
		</dict>
		<key>wy_22_22_6617_gedoujiashiyongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{747,419}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{747,419}}</string>
			<key>sourceSize</key>
			<string>{747,419}</string>
		</dict>
		<key>wy_8_8_72999_gedoujiashiyongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,423},{284,357}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,357}}</string>
			<key>sourceSize</key>
			<string>{286,359}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>gedoujiashiyongimage.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>gedoujiashiyongimage.png</string>
	</dict>
</dict>
</plist>
