<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_cankao_00090.png</key>
		<dict>
			<key>frame</key>
			<string>{{622,555},{36,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,41}}</string>
			<key>sourceSize</key>
			<string>{36,41}</string>
		</dict>
		<key>New_mtj_liumenbisha_baibo_00095.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{518,515}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{518,515}}</string>
			<key>sourceSize</key>
			<string>{518,515}</string>
		</dict>
		<key>New_mtj_liumenbisha_bo_00109.png</key>
		<dict>
			<key>frame</key>
			<string>{{622,592},{430,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{430,184}}</string>
			<key>sourceSize</key>
			<string>{430,184}</string>
		</dict>
		<key>New_mtj_liumenbisha_shouji_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{807,986},{25,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,29}}</string>
			<key>sourceSize</key>
			<string>{25,29}</string>
		</dict>
		<key>New_mtj_liumenbisha_shouji_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{833,986},{23,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,23}}</string>
			<key>sourceSize</key>
			<string>{23,23}</string>
		</dict>
		<key>New_mtj_liumenbisha_xuliquan_00047.png</key>
		<dict>
			<key>frame</key>
			<string>{{622,517},{41,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,37}}</string>
			<key>sourceSize</key>
			<string>{41,37}</string>
		</dict>
		<key>New_mtj_putongbisha_dabo_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{521,2},{501,352}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{501,352}}</string>
			<key>sourceSize</key>
			<string>{501,352}</string>
		</dict>
		<key>New_mtj_putongbisha_dabo_00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,518},{503,317}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{503,317}}</string>
			<key>sourceSize</key>
			<string>{503,317}</string>
		</dict>
		<key>New_mtj_putongbisha_dabo_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,518},{503,301}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{503,301}}</string>
			<key>sourceSize</key>
			<string>{503,301}</string>
		</dict>
		<key>New_mtj_putongbisha_dabo_00042.png</key>
		<dict>
			<key>frame</key>
			<string>{{807,582},{403,212}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{403,212}}</string>
			<key>sourceSize</key>
			<string>{403,212}</string>
		</dict>
		<key>New_mtj_putonggongji_bo_00036.png</key>
		<dict>
			<key>frame</key>
			<string>{{664,355},{358,226}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{358,226}}</string>
			<key>sourceSize</key>
			<string>{358,226}</string>
		</dict>
		<key>New_mtj_xiaojineng_tuibo_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{521,355},{142,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,161}}</string>
			<key>sourceSize</key>
			<string>{142,161}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>mtjxv_common3.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>mtjxv_common3.png</string>
	</dict>
</dict>
</plist>
