<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_zezb_guanbi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1708,238},{60,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,37}}</string>
			<key>sourceSize</key>
			<string>{60,37}</string>
		</dict>
		<key>btn_zezb_guanbi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{952,85},{60,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,37}}</string>
			<key>sourceSize</key>
			<string>{60,37}</string>
		</dict>
		<key>btn_zezb_zhuyaoanniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{753,313},{190,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,94}}</string>
			<key>sourceSize</key>
			<string>{190,94}</string>
		</dict>
		<key>pic_jp_zezb_dpjj_daojishi_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,291},{494,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{494,44}}</string>
			<key>sourceSize</key>
			<string>{494,44}</string>
		</dict>
		<key>pic_jp_zezb_dpjj_datouxiang_dianji.png</key>
		<dict>
			<key>frame</key>
			<string>{{753,129},{182,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,182}}</string>
			<key>sourceSize</key>
			<string>{182,182}</string>
		</dict>
		<key>pic_jp_zezb_dpjj_dianji.png</key>
		<dict>
			<key>frame</key>
			<string>{{1337,274},{125,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,117}}</string>
			<key>sourceSize</key>
			<string>{125,117}</string>
		</dict>
		<key>pic_jp_zezb_dpjj_jiangli_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,157},{519,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{519,132}}</string>
			<key>sourceSize</key>
			<string>{519,132}</string>
		</dict>
		<key>pic_jp_zezb_dpjj_jiesuo.png</key>
		<dict>
			<key>frame</key>
			<string>{{945,260},{106,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,106}}</string>
			<key>sourceSize</key>
			<string>{106,106}</string>
		</dict>
		<key>pic_jp_zezb_dpjj_jiesuo_boss.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,129},{219,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,213}}</string>
			<key>sourceSize</key>
			<string>{219,213}</string>
		</dict>
		<key>pic_jp_zezb_dpjj_jindutiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{945,391},{121,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{121,16}}</string>
			<key>sourceSize</key>
			<string>{127,22}</string>
		</dict>
		<key>pic_jp_zezb_dpjj_jindutiao_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,385},{127,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,22}}</string>
			<key>sourceSize</key>
			<string>{127,22}</string>
		</dict>
		<key>pic_jp_zezb_dpjj_miaoshu_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{528,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{528,153}}</string>
			<key>sourceSize</key>
			<string>{528,153}</string>
		</dict>
		<key>pic_jp_zezb_dpjj_tiaozhancishu_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,2},{519,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{519,81}}</string>
			<key>sourceSize</key>
			<string>{519,81}</string>
		</dict>
		<key>pic_shouhumofa_tj_rqz_suo1.png</key>
		<dict>
			<key>frame</key>
			<string>{{937,129},{100,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,129}}</string>
			<key>sourceSize</key>
			<string>{100,129}</string>
		</dict>
		<key>pic_shouhumofa_tj_rqz_suo2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1588,273},{102,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,102}}</string>
			<key>sourceSize</key>
			<string>{102,102}</string>
		</dict>
		<key>pic_zezb_jindutiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1428,238},{278,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{278,33}}</string>
			<key>sourceSize</key>
			<string>{278,33}</string>
		</dict>
		<key>pic_zezb_jindutiao_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,345},{282,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{282,38}}</string>
			<key>sourceSize</key>
			<string>{282,38}</string>
		</dict>
		<key>pic_zezb_jindutiao_shuzidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,345},{44,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,27}}</string>
			<key>sourceSize</key>
			<string>{44,27}</string>
		</dict>
		<key>pic_zezb_kai.png</key>
		<dict>
			<key>frame</key>
			<string>{{1428,2},{234,346}}</string>
			<key>offset</key>
			<string>{-13,-26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,52},{234,346}}</string>
			<key>sourceSize</key>
			<string>{300,398}</string>
		</dict>
		<key>pic_zezb_kai_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1876,312},{90,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,90}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>pic_zezb_line01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,337},{402,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{402,6}}</string>
			<key>sourceSize</key>
			<string>{402,6}</string>
		</dict>
		<key>pic_zezb_meixuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1776,2},{270,308}}</string>
			<key>offset</key>
			<string>{9,-45}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,90},{270,308}}</string>
			<key>sourceSize</key>
			<string>{300,398}</string>
		</dict>
		<key>pic_zezb_meixuan_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1784,312},{90,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,90}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>pic_zezb_shijiandi.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,85},{418,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{418,42}}</string>
			<key>sourceSize</key>
			<string>{418,42}</string>
		</dict>
		<key>pic_zezb_suoer.png</key>
		<dict>
			<key>frame</key>
			<string>{{1053,2},{270,373}}</string>
			<key>offset</key>
			<string>{-2,-22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,44},{270,373}}</string>
			<key>sourceSize</key>
			<string>{300,417}</string>
		</dict>
		<key>pic_zezb_suoer_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1692,312},{90,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,90}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>pic_zezb_task_finish.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,345},{68,54}}</string>
			<key>offset</key>
			<string>{-4,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{68,54}}</string>
			<key>sourceSize</key>
			<string>{82,60}</string>
		</dict>
		<key>pic_zezb_touxiang_changgui.png</key>
		<dict>
			<key>frame</key>
			<string>{{1053,274},{115,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{115,140}}</string>
			<key>sourceSize</key>
			<string>{121,140}</string>
		</dict>
		<key>pic_zezb_touxiang_weijiesuo.png</key>
		<dict>
			<key>frame</key>
			<string>{{1456,273},{115,130}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,4},{115,130}}</string>
			<key>sourceSize</key>
			<string>{121,140}</string>
		</dict>
		<key>pic_zezb_touxiang_xuanzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1195,274},{121,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,140}}</string>
			<key>sourceSize</key>
			<string>{121,140}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>GuiltyGear0.png</string>
		<key>size</key>
		<string>{2048,409}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>GuiltyGear0.png</string>
	</dict>
</dict>
</plist>
