<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_hzs_liumen_shentiguang_00016_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,355},{83,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,161}}</string>
			<key>sourceSize</key>
			<string>{83,161}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00017_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,268},{85,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,163}}</string>
			<key>sourceSize</key>
			<string>{85,163}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00018_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,182},{84,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{84,165}}</string>
			<key>sourceSize</key>
			<string>{86,165}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00019_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,182},{84,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{84,165}}</string>
			<key>sourceSize</key>
			<string>{86,165}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00020_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,92},{88,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,167}}</string>
			<key>sourceSize</key>
			<string>{88,167}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00021_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,92},{88,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,167}}</string>
			<key>sourceSize</key>
			<string>{88,167}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00022_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,2},{88,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,167}}</string>
			<key>sourceSize</key>
			<string>{88,167}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00023_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,2},{88,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,167}}</string>
			<key>sourceSize</key>
			<string>{88,167}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00024_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{88,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,167}}</string>
			<key>sourceSize</key>
			<string>{88,167}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00025_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{88,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,167}}</string>
			<key>sourceSize</key>
			<string>{88,167}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00026_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,92},{91,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,166}}</string>
			<key>sourceSize</key>
			<string>{91,166}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00027_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,92},{91,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,166}}</string>
			<key>sourceSize</key>
			<string>{91,166}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00028_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,268},{95,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,163}}</string>
			<key>sourceSize</key>
			<string>{95,163}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00029_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,268},{95,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,163}}</string>
			<key>sourceSize</key>
			<string>{95,163}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00030_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,185},{94,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,164}}</string>
			<key>sourceSize</key>
			<string>{94,164}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00031_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,185},{94,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,164}}</string>
			<key>sourceSize</key>
			<string>{94,164}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00032_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,185},{94,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,164}}</string>
			<key>sourceSize</key>
			<string>{94,164}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00033_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,185},{94,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,164}}</string>
			<key>sourceSize</key>
			<string>{94,164}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00034_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,185},{94,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,164}}</string>
			<key>sourceSize</key>
			<string>{94,164}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00035_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,185},{94,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,164}}</string>
			<key>sourceSize</key>
			<string>{94,164}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00036_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,185},{94,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,164}}</string>
			<key>sourceSize</key>
			<string>{94,164}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00037_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,185},{94,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,164}}</string>
			<key>sourceSize</key>
			<string>{94,164}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00038_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,281},{96,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,161}}</string>
			<key>sourceSize</key>
			<string>{96,161}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00039_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,281},{96,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,161}}</string>
			<key>sourceSize</key>
			<string>{96,161}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00040_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,365},{105,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,149}}</string>
			<key>sourceSize</key>
			<string>{105,149}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00041_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,365},{105,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,149}}</string>
			<key>sourceSize</key>
			<string>{105,149}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00042_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,905},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00043_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,905},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00044_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,792},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00045_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,905},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00046_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,792},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00047_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,681},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00048_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,640},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00049_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{389,578},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00050_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,578},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00051_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,578},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00052_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,578},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00053_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,578},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00054_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,578},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00055_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,578},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00056_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,578},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00057_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,578},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00058_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,578},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00059_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,578},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00060_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,578},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00061_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,578},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00062_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,578},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00063_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,578},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00064_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,578},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00065_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,578},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00066_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,578},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00067_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,578},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00068_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,578},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00069_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,578},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00070_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,578},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00071_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,578},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00072_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,578},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00073_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,578},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00074_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,578},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00075_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,578},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00076_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,905},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00077_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,570},{111,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,109}}</string>
			<key>sourceSize</key>
			<string>{111,109}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00078_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,538},{100,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,128}}</string>
			<key>sourceSize</key>
			<string>{100,128}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00079_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,476},{100,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,128}}</string>
			<key>sourceSize</key>
			<string>{100,128}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00080_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,472},{96,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,142}}</string>
			<key>sourceSize</key>
			<string>{96,142}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00081_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,440},{96,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,142}}</string>
			<key>sourceSize</key>
			<string>{96,142}</string>
		</dict>
		<key>New_hzs_liumen_shentiguang_00082_shentifaguangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,379},{95,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{95,147}}</string>
			<key>sourceSize</key>
			<string>{95,149}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>shentifaguangimage.png</string>
		<key>scale</key>
		<real>0.64</real>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>shentifaguangimage.png</string>
	</dict>
</dict>
</plist>
