<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask01_baydctxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,532},{113,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,120}}</string>
			<key>sourceSize</key>
			<string>{113,120}</string>
		</dict>
		<key>wy_10_10_57771_baydctxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{436,144},{66,68}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{39,34},{66,68}}</string>
			<key>sourceSize</key>
			<string>{144,148}</string>
		</dict>
		<key>wy_11_11_95057_baydctxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,646},{106,110}}</string>
			<key>offset</key>
			<string>{0,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,12},{106,110}}</string>
			<key>sourceSize</key>
			<string>{144,148}</string>
		</dict>
		<key>wy_12_12_45366_baydctxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,532},{112,118}}</string>
			<key>offset</key>
			<string>{0,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,7},{112,118}}</string>
			<key>sourceSize</key>
			<string>{144,148}</string>
		</dict>
		<key>wy_13_13_65034_baydctxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,418},{118,124}}</string>
			<key>offset</key>
			<string>{0,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,4},{118,124}}</string>
			<key>sourceSize</key>
			<string>{144,148}</string>
		</dict>
		<key>wy_14_14_3010_baydctxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,404},{126,132}}</string>
			<key>offset</key>
			<string>{0,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,0},{126,132}}</string>
			<key>sourceSize</key>
			<string>{144,148}</string>
		</dict>
		<key>wy_15_15_15614_baydctxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,284},{132,134}}</string>
			<key>offset</key>
			<string>{0,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{132,134}}</string>
			<key>sourceSize</key>
			<string>{144,148}</string>
		</dict>
		<key>wy_16_16_7866_baydctxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,282},{134,136}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{134,136}}</string>
			<key>sourceSize</key>
			<string>{144,148}</string>
		</dict>
		<key>wy_17_17_10373_baydctxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,144},{136,142}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{136,142}}</string>
			<key>sourceSize</key>
			<string>{144,148}</string>
		</dict>
		<key>wy_18_18_18626_baydctxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,280},{138,122}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,16},{138,122}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>wy_1_1_72474_baydctxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,2},{30,30}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,56},{30,30}}</string>
			<key>sourceSize</key>
			<string>{144,148}</string>
		</dict>
		<key>wy_2_2_67321_baydctxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,404},{83,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,120}}</string>
			<key>sourceSize</key>
			<string>{83,120}</string>
		</dict>
		<key>wy_3_3_10234_baydctxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,144},{138,144}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{138,144}}</string>
			<key>sourceSize</key>
			<string>{144,148}</string>
		</dict>
		<key>wy_4_4_39144_baydctxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,2},{140,146}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{140,146}}</string>
			<key>sourceSize</key>
			<string>{144,148}</string>
		</dict>
		<key>wy_5_5_92299_baydctxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{140,148}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{140,148}}</string>
			<key>sourceSize</key>
			<string>{144,148}</string>
		</dict>
		<key>wy_6_6_92557_baydctxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,2},{140,146}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{140,146}}</string>
			<key>sourceSize</key>
			<string>{144,148}</string>
		</dict>
		<key>wy_7_7_12327_baydctxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,144},{134,142}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,4},{134,142}}</string>
			<key>sourceSize</key>
			<string>{144,148}</string>
		</dict>
		<key>wy_8_8_91997_baydctxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,418},{118,124}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,11},{118,124}}</string>
			<key>sourceSize</key>
			<string>{144,148}</string>
		</dict>
		<key>wy_9_9_41847_baydctxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,2},{28,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,27}}</string>
			<key>sourceSize</key>
			<string>{28,27}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>baydctxk23image.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>baydctxk23image.png</string>
	</dict>
</dict>
</plist>
