<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_gedoujia_yuanhu_jinengshu_zs_tiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1138,160},{44,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,41}}</string>
			<key>sourceSize</key>
			<string>{44,41}</string>
		</dict>
		<key>pic_jp_yuanhu_diban_mask.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,144},{179,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,74}}</string>
			<key>sourceSize</key>
			<string>{179,74}</string>
		</dict>
		<key>pic_stregthen_bszh_zidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1138,203},{14,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,12}}</string>
			<key>sourceSize</key>
			<string>{14,12}</string>
		</dict>
		<key>pic_zjzz_gzsm_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{983,160},{73,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,68}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>pic_zjzz_yh_biaoqian_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{861,87},{137,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,14}}</string>
			<key>sourceSize</key>
			<string>{137,14}</string>
		</dict>
		<key>pic_zjzz_yh_biaoqian_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1102,160},{34,66}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,66}}</string>
			<key>sourceSize</key>
			<string>{42,66}</string>
		</dict>
		<key>pic_zjzz_yh_biaoqian_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1058,160},{42,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,66}}</string>
			<key>sourceSize</key>
			<string>{42,66}</string>
		</dict>
		<key>pic_zjzz_yh_daojishi_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{861,103},{43,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,39}}</string>
			<key>sourceSize</key>
			<string>{43,39}</string>
		</dict>
		<key>pic_zjzz_yh_guyongyuanhu_zs.png</key>
		<dict>
			<key>frame</key>
			<string>{{494,228},{13,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,29}}</string>
			<key>sourceSize</key>
			<string>{13,29}</string>
		</dict>
		<key>pic_zjzz_yh_tanchuan_xuanzedi.png</key>
		<dict>
			<key>frame</key>
			<string>{{526,144},{274,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{274,108}}</string>
			<key>sourceSize</key>
			<string>{274,108}</string>
		</dict>
		<key>pic_zjzz_yh_tanchuan_xuanzedi_xuanzhongkuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1202,134},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,11},{28,28}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>pic_zjzz_yh_tanchuang2_wenzi_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,220},{23,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,34}}</string>
			<key>sourceSize</key>
			<string>{23,34}</string>
		</dict>
		<key>pic_zjzz_yh_tanchuang2_zs.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,228},{254,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{254,18}}</string>
			<key>sourceSize</key>
			<string>{254,18}</string>
		</dict>
		<key>pic_zjzz_yh_tanchuang2_zs2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,87},{12,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,21}}</string>
			<key>sourceSize</key>
			<string>{12,21}</string>
		</dict>
		<key>pic_zjzz_yh_tanchuang_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{526,2},{83,495}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,495}}</string>
			<key>sourceSize</key>
			<string>{83,495}</string>
		</dict>
		<key>pic_zjzz_yh_tanchuang_tiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{906,123},{28,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,10}}</string>
			<key>sourceSize</key>
			<string>{28,10}</string>
		</dict>
		<key>pic_zjzz_yh_tanchuang_tiao_jinengshu_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{906,103},{18,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,91}}</string>
			<key>sourceSize</key>
			<string>{18,91}</string>
		</dict>
		<key>pic_zjzz_yh_tanchuang_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{526,87},{333,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{333,55}}</string>
			<key>sourceSize</key>
			<string>{333,55}</string>
		</dict>
		<key>pic_zjzz_yh_tanchuang_zhongdi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,115},{522,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{522,111}}</string>
			<key>sourceSize</key>
			<string>{522,111}</string>
		</dict>
		<key>pic_zjzz_yh_tanchuang_zhongdi_grey.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{522,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{522,111}}</string>
			<key>sourceSize</key>
			<string>{522,111}</string>
		</dict>
		<key>pic_zjzz_yh_tanchuang_zs.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,228},{234,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{234,16}}</string>
			<key>sourceSize</key>
			<string>{234,16}</string>
		</dict>
		<key>pic_zjzz_yh_xuanzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1202,101},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>tab_qhzb_heng_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,101},{200,57}}</string>
			<key>offset</key>
			<string>{-1,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,15},{200,57}}</string>
			<key>sourceSize</key>
			<string>{212,97}</string>
		</dict>
		<key>tab_qhzb_heng_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1023,2},{212,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,97}}</string>
			<key>sourceSize</key>
			<string>{212,97}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>RTFDeploy40.png</string>
		<key>size</key>
		<string>{1237,254}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>RTFDeploy40.png</string>
	</dict>
</dict>
</plist>
