<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>huoyan_01_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,449},{190,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,104}}</string>
			<key>sourceSize</key>
			<string>{190,104}</string>
		</dict>
		<key>huoyan_02_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{632,2},{204,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,113}}</string>
			<key>sourceSize</key>
			<string>{204,113}</string>
		</dict>
		<key>huoyan_03_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,2},{208,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{208,120}}</string>
			<key>sourceSize</key>
			<string>{208,120}</string>
		</dict>
		<key>huoyan_04_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{209,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,123}}</string>
			<key>sourceSize</key>
			<string>{209,123}</string>
		</dict>
		<key>huoyan_05_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{423,2},{207,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,126}}</string>
			<key>sourceSize</key>
			<string>{207,126}</string>
		</dict>
		<key>huoyan_06_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,186},{204,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,127}}</string>
			<key>sourceSize</key>
			<string>{204,127}</string>
		</dict>
		<key>huoyan_07_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{628,221},{195,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{195,127}}</string>
			<key>sourceSize</key>
			<string>{195,127}</string>
		</dict>
		<key>huoyan_08_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,55},{155,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,107}}</string>
			<key>sourceSize</key>
			<string>{155,107}</string>
		</dict>
		<key>huoyan_09_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{627,447},{143,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,106}}</string>
			<key>sourceSize</key>
			<string>{143,106}</string>
		</dict>
		<key>i_fa2_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{611,195},{15,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,34}}</string>
			<key>sourceSize</key>
			<string>{15,34}</string>
		</dict>
		<key>i_piyi1_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{824,562},{112,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,71}}</string>
			<key>sourceSize</key>
			<string>{112,71}</string>
		</dict>
		<key>i_piyi2_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{995,55},{26,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,46}}</string>
			<key>sourceSize</key>
			<string>{26,46}</string>
		</dict>
		<key>i_piyi3_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{507,585},{61,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,55}}</string>
			<key>sourceSize</key>
			<string>{61,55}</string>
		</dict>
		<key>i_piyi4_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{569,750},{56,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,46}}</string>
			<key>sourceSize</key>
			<string>{56,46}</string>
		</dict>
		<key>i_piyi5_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,702},{66,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,44}}</string>
			<key>sourceSize</key>
			<string>{66,44}</string>
		</dict>
		<key>i_piyi7_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,921},{92,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,76}}</string>
			<key>sourceSize</key>
			<string>{92,76}</string>
		</dict>
		<key>i_piyihou6_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,783},{36,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,62}}</string>
			<key>sourceSize</key>
			<string>{36,62}</string>
		</dict>
		<key>i_piyihoubai8_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{627,756},{103,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,99}}</string>
			<key>sourceSize</key>
			<string>{103,99}</string>
		</dict>
		<key>i_shen1_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{733,721},{88,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,95}}</string>
			<key>sourceSize</key>
			<string>{88,95}</string>
		</dict>
		<key>i_shen9_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{823,739},{90,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,99}}</string>
			<key>sourceSize</key>
			<string>{90,99}</string>
		</dict>
		<key>i_shenti10_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{822,831},{88,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,92}}</string>
			<key>sourceSize</key>
			<string>{88,92}</string>
		</dict>
		<key>i_shenti13_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{824,458},{102,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,114}}</string>
			<key>sourceSize</key>
			<string>{102,114}</string>
		</dict>
		<key>i_shenti2_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{924,767},{85,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,95}}</string>
			<key>sourceSize</key>
			<string>{85,95}</string>
		</dict>
		<key>i_shenti3_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{732,818},{88,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,94}}</string>
			<key>sourceSize</key>
			<string>{88,94}</string>
		</dict>
		<key>i_shenti4_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,684},{64,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,54}}</string>
			<key>sourceSize</key>
			<string>{64,54}</string>
		</dict>
		<key>i_shenti7_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{824,635},{102,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,106}}</string>
			<key>sourceSize</key>
			<string>{102,106}</string>
		</dict>
		<key>i_shenti8_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{381,703},{86,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,106}}</string>
			<key>sourceSize</key>
			<string>{86,106}</string>
		</dict>
		<key>i_shenzi11_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{932,660},{90,105}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{90,105}}</string>
			<key>sourceSize</key>
			<string>{92,105}</string>
		</dict>
		<key>i_shenzi12_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{627,662},{92,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,104}}</string>
			<key>sourceSize</key>
			<string>{92,104}</string>
		</dict>
		<key>i_shenzi5_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{627,555},{109,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,105}}</string>
			<key>sourceSize</key>
			<string>{109,105}</string>
		</dict>
		<key>i_shenzi6_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,609},{92,106}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,106}}</string>
			<key>sourceSize</key>
			<string>{92,108}</string>
		</dict>
		<key>i_tou10_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,835},{36,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,51}}</string>
			<key>sourceSize</key>
			<string>{36,51}</string>
		</dict>
		<key>i_tou12_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,557},{58,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,65}}</string>
			<key>sourceSize</key>
			<string>{58,65}</string>
		</dict>
		<key>i_tou15_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,666},{69,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,71}}</string>
			<key>sourceSize</key>
			<string>{69,71}</string>
		</dict>
		<key>i_tou1_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{772,564},{46,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,50}}</string>
			<key>sourceSize</key>
			<string>{46,50}</string>
		</dict>
		<key>i_tou21_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,642},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>i_tou22_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{489,782},{77,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,76}}</string>
			<key>sourceSize</key>
			<string>{77,76}</string>
		</dict>
		<key>i_tou23_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{509,518},{59,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,65}}</string>
			<key>sourceSize</key>
			<string>{59,65}</string>
		</dict>
		<key>i_tou3_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,594},{68,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,71}}</string>
			<key>sourceSize</key>
			<string>{68,71}</string>
		</dict>
		<key>i_tou7_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{938,580},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>i_tou8_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{940,500},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>i_tou9_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,786},{85,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,74}}</string>
			<key>sourceSize</key>
			<string>{85,74}</string>
		</dict>
		<key>i_toufa11_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{772,612},{50,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,39}}</string>
			<key>sourceSize</key>
			<string>{50,39}</string>
		</dict>
		<key>i_toufa13_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,821},{39,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,51}}</string>
			<key>sourceSize</key>
			<string>{39,51}</string>
		</dict>
		<key>i_toufa14_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,996},{34,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,24}}</string>
			<key>sourceSize</key>
			<string>{34,24}</string>
		</dict>
		<key>i_toufa16_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,783},{33,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,38}}</string>
			<key>sourceSize</key>
			<string>{33,38}</string>
		</dict>
		<key>i_toufa17_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,303},{22,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,50}}</string>
			<key>sourceSize</key>
			<string>{22,50}</string>
		</dict>
		<key>i_toufa18_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{611,195},{15,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,34}}</string>
			<key>sourceSize</key>
			<string>{15,34}</string>
		</dict>
		<key>i_toufa19_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,737},{46,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,51}}</string>
			<key>sourceSize</key>
			<string>{46,51}</string>
		</dict>
		<key>i_toufa20_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{995,103},{25,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{25,67}}</string>
			<key>sourceSize</key>
			<string>{27,67}</string>
		</dict>
		<key>i_toufa2_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{995,103},{25,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{25,67}}</string>
			<key>sourceSize</key>
			<string>{27,67}</string>
		</dict>
		<key>i_toufa4_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,921},{33,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,37}}</string>
			<key>sourceSize</key>
			<string>{33,37}</string>
		</dict>
		<key>i_toufa5_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,355},{21,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,50}}</string>
			<key>sourceSize</key>
			<string>{21,50}</string>
		</dict>
		<key>i_toufa6_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,518},{41,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,125}}</string>
			<key>sourceSize</key>
			<string>{41,125}</string>
		</dict>
		<key>i_xuanzhuan1_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{837,164},{109,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,148}}</string>
			<key>sourceSize</key>
			<string>{109,148}</string>
		</dict>
		<key>i_yihoubai1_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{577,411},{48,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,67}}</string>
			<key>sourceSize</key>
			<string>{48,67}</string>
		</dict>
		<key>i_youdabi12_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,617},{47,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,72}}</string>
			<key>sourceSize</key>
			<string>{47,72}</string>
		</dict>
		<key>i_youdabi1_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,921},{47,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,73}}</string>
			<key>sourceSize</key>
			<string>{47,73}</string>
		</dict>
		<key>i_youshou10_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,962},{36,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,37}}</string>
			<key>sourceSize</key>
			<string>{36,37}</string>
		</dict>
		<key>i_youshou11_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,964},{41,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,34}}</string>
			<key>sourceSize</key>
			<string>{41,34}</string>
		</dict>
		<key>i_youshou12_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,877},{35,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,32}}</string>
			<key>sourceSize</key>
			<string>{35,32}</string>
		</dict>
		<key>i_youshou1_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,877},{41,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,37}}</string>
			<key>sourceSize</key>
			<string>{41,37}</string>
		</dict>
		<key>i_youshou2_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{987,237},{35,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,37}}</string>
			<key>sourceSize</key>
			<string>{35,37}</string>
		</dict>
		<key>i_youshou3_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,970},{45,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,41}}</string>
			<key>sourceSize</key>
			<string>{45,41}</string>
		</dict>
		<key>i_youshou4_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,877},{38,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,39}}</string>
			<key>sourceSize</key>
			<string>{38,39}</string>
		</dict>
		<key>i_youshou5_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,596},{39,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,32}}</string>
			<key>sourceSize</key>
			<string>{39,32}</string>
		</dict>
		<key>i_youshou6_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,921},{36,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,33}}</string>
			<key>sourceSize</key>
			<string>{36,33}</string>
		</dict>
		<key>i_youshou7_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,877},{30,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,32}}</string>
			<key>sourceSize</key>
			<string>{30,32}</string>
		</dict>
		<key>i_youshou8_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{43,877},{42,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,38}}</string>
			<key>sourceSize</key>
			<string>{42,38}</string>
		</dict>
		<key>i_youshou9_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,921},{47,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,40}}</string>
			<key>sourceSize</key>
			<string>{47,40}</string>
		</dict>
		<key>i_youxiaobi1_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{568,798},{77,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,57}}</string>
			<key>sourceSize</key>
			<string>{77,57}</string>
		</dict>
		<key>i_youxiaobi2_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,791},{36,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,62}}</string>
			<key>sourceSize</key>
			<string>{36,62}</string>
		</dict>
		<key>i_youxiaobi3_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,789},{58,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,44}}</string>
			<key>sourceSize</key>
			<string>{58,44}</string>
		</dict>
		<key>i_youxiaobi4_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{489,722},{78,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,58}}</string>
			<key>sourceSize</key>
			<string>{78,58}</string>
		</dict>
		<key>i_youxiaobi5_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,737},{62,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,44}}</string>
			<key>sourceSize</key>
			<string>{62,44}</string>
		</dict>
		<key>i_zhuoshou3_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{733,676},{43,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,37}}</string>
			<key>sourceSize</key>
			<string>{43,37}</string>
		</dict>
		<key>i_zhuoshou4_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,921},{41,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,37}}</string>
			<key>sourceSize</key>
			<string>{41,37}</string>
		</dict>
		<key>i_zuodabi2_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{987,172},{35,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,63}}</string>
			<key>sourceSize</key>
			<string>{35,63}</string>
		</dict>
		<key>i_zuodabi33_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,866},{53,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,36}}</string>
			<key>sourceSize</key>
			<string>{53,36}</string>
		</dict>
		<key>i_zuodabi3_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,645},{55,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,37}}</string>
			<key>sourceSize</key>
			<string>{55,37}</string>
		</dict>
		<key>i_zuoshou1_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,921},{39,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,39}}</string>
			<key>sourceSize</key>
			<string>{39,39}</string>
		</dict>
		<key>i_zuoshou2_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,921},{36,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,39}}</string>
			<key>sourceSize</key>
			<string>{36,39}</string>
		</dict>
		<key>i_zuoshou3_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,877},{42,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,39}}</string>
			<key>sourceSize</key>
			<string>{42,39}</string>
		</dict>
		<key>i_zuoshou4_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,637},{32,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,37}}</string>
			<key>sourceSize</key>
			<string>{32,37}</string>
		</dict>
		<key>i_zuoshou5_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,702},{33,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,39}}</string>
			<key>sourceSize</key>
			<string>{33,39}</string>
		</dict>
		<key>i_zuoshou6_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{249,962},{36,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,39}}</string>
			<key>sourceSize</key>
			<string>{36,39}</string>
		</dict>
		<key>i_zuoshou7_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,964},{40,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,39}}</string>
			<key>sourceSize</key>
			<string>{40,39}</string>
		</dict>
		<key>i_zuoshou8_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,877},{36,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,37}}</string>
			<key>sourceSize</key>
			<string>{36,37}</string>
		</dict>
		<key>i_zuoshou9_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,555},{32,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,39}}</string>
			<key>sourceSize</key>
			<string>{32,39}</string>
		</dict>
		<key>i_zuoxiaobi1_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,667},{68,55}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,55}}</string>
			<key>sourceSize</key>
			<string>{68,57}</string>
		</dict>
		<key>i_zuoxiaobi2_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{772,447},{50,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,57}}</string>
			<key>sourceSize</key>
			<string>{50,57}</string>
		</dict>
		<key>i_zuoxiaobi3_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,791},{34,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,69}}</string>
			<key>sourceSize</key>
			<string>{34,69}</string>
		</dict>
		<key>i_zuoxiaobi4_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,748},{39,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,62}}</string>
			<key>sourceSize</key>
			<string>{39,62}</string>
		</dict>
		<key>i_zuoxiaobi5_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,577},{66,55}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,55}}</string>
			<key>sourceSize</key>
			<string>{66,57}</string>
		</dict>
		<key>i_zuoxiaobi6_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,877},{41,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,62}}</string>
			<key>sourceSize</key>
			<string>{41,62}</string>
		</dict>
		<key>i_zuoxiaobi7_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{772,506},{50,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,56}}</string>
			<key>sourceSize</key>
			<string>{50,56}</string>
		</dict>
		<key>i_zuoxiaotui1_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,724},{48,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,64}}</string>
			<key>sourceSize</key>
			<string>{48,64}</string>
		</dict>
		<key>i_zuoxiaotui2_caotibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{772,653},{48,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,64}}</string>
			<key>sourceSize</key>
			<string>{48,64}</string>
		</dict>
		<key>lianz_01_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,791},{58,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,73}}</string>
			<key>sourceSize</key>
			<string>{58,73}</string>
		</dict>
		<key>lianz_02_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,557},{123,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,53}}</string>
			<key>sourceSize</key>
			<string>{123,53}</string>
		</dict>
		<key>lianz_03_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,561},{123,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,46}}</string>
			<key>sourceSize</key>
			<string>{123,46}</string>
		</dict>
		<key>lianz_04_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{940,458},{82,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,40}}</string>
			<key>sourceSize</key>
			<string>{82,40}</string>
		</dict>
		<key>lianz_05_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,480},{95,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,55}}</string>
			<key>sourceSize</key>
			<string>{95,55}</string>
		</dict>
		<key>lianz_06_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,702},{116,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,82}}</string>
			<key>sourceSize</key>
			<string>{116,82}</string>
		</dict>
		<key>lianz_07_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,612},{116,88}}</string>
			<key>offset</key>
			<string>{0,61}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,122},{116,88}}</string>
			<key>sourceSize</key>
			<string>{116,210}</string>
		</dict>
		<key>lianz_08_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,594},{116,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,106}}</string>
			<key>sourceSize</key>
			<string>{116,106}</string>
		</dict>
		<key>lianz_09_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{825,276},{111,195}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,195}}</string>
			<key>sourceSize</key>
			<string>{111,195}</string>
		</dict>
		<key>lianz_10_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{632,117},{102,203}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,203}}</string>
			<key>sourceSize</key>
			<string>{102,203}</string>
		</dict>
		<key>lianz_11_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,303},{106,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,194}}</string>
			<key>sourceSize</key>
			<string>{106,194}</string>
		</dict>
		<key>lianz_12_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,195},{106,199}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,199}}</string>
			<key>sourceSize</key>
			<string>{106,199}</string>
		</dict>
		<key>lianz_21_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{628,350},{95,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,194}}</string>
			<key>sourceSize</key>
			<string>{95,194}</string>
		</dict>
		<key>lianz_22_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,243},{99,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,198}}</string>
			<key>sourceSize</key>
			<string>{99,198}</string>
		</dict>
		<key>lianz_23_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,315},{75,196}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,196}}</string>
			<key>sourceSize</key>
			<string>{75,196}</string>
		</dict>
		<key>lianz_24_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{421,130},{63,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,200}}</string>
			<key>sourceSize</key>
			<string>{63,200}</string>
		</dict>
		<key>lianz_25_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,191},{50,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,200}}</string>
			<key>sourceSize</key>
			<string>{50,200}</string>
		</dict>
		<key>lianz_26_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,555},{37,186}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{37,186}}</string>
			<key>sourceSize</key>
			<string>{37,188}</string>
		</dict>
		<key>lianz_27_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,2},{32,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,175}}</string>
			<key>sourceSize</key>
			<string>{32,175}</string>
		</dict>
		<key>lianz_28_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,36},{17,172}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,172}}</string>
			<key>sourceSize</key>
			<string>{17,172}</string>
		</dict>
		<key>raoh_1_01_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,344},{193,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,53}}</string>
			<key>sourceSize</key>
			<string>{193,53}</string>
		</dict>
		<key>raoh_1_03_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,392},{191,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,55}}</string>
			<key>sourceSize</key>
			<string>{191,55}</string>
		</dict>
		<key>raoh_1_05_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{824,389},{193,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,67}}</string>
			<key>sourceSize</key>
			<string>{193,67}</string>
		</dict>
		<key>raoh_1_07_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,399},{191,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,53}}</string>
			<key>sourceSize</key>
			<string>{191,53}</string>
		</dict>
		<key>raoh_2_01_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,454},{186,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,53}}</string>
			<key>sourceSize</key>
			<string>{186,53}</string>
		</dict>
		<key>raoh_2_03_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,411},{187,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,53}}</string>
			<key>sourceSize</key>
			<string>{187,53}</string>
		</dict>
		<key>raoh_2_05_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,509},{186,46}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{186,46}}</string>
			<key>sourceSize</key>
			<string>{188,46}</string>
		</dict>
		<key>raoh_2_07_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,466},{186,50}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{186,50}}</string>
			<key>sourceSize</key>
			<string>{188,50}</string>
		</dict>
		<key>xieh_1_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,124},{206,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,65}}</string>
			<key>sourceSize</key>
			<string>{206,65}</string>
		</dict>
		<key>xieh_2_caotihetiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,127},{205,57}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{205,57}}</string>
			<key>sourceSize</key>
			<string>{207,57}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA4444</string>
		<key>realTextureFileName</key>
		<string>baguancaohetigroup.png</string>
		<key>scale</key>
		<real>0.7</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>baguancaohetigroup.png</string>
	</dict>
</dict>
</plist>
