<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bg_pata_guang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{242,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,117}}</string>
			<key>sourceSize</key>
			<string>{242,117}</string>
		</dict>
		<key>icon_pata_fuhuo.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,121},{177,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,139}}</string>
			<key>sourceSize</key>
			<string>{177,139}</string>
		</dict>
		<key>pic_common_baiotibian.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,262},{170,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,30}}</string>
			<key>sourceSize</key>
			<string>{170,30}</string>
		</dict>
		<key>star.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,121},{59,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,58}}</string>
			<key>sourceSize</key>
			<string>{59,58}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>TowerBuyBuff0.png</string>
		<key>size</key>
		<string>{246,294}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>TowerBuyBuff0.png</string>
	</dict>
</dict>
</plist>
