<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_ld_blal_liumenbisha_cr_00044.png</key>
		<dict>
			<key>frame</key>
			<string>{{789,749},{56,39}}</string>
			<key>offset</key>
			<string>{-14,-35}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,70},{56,39}}</string>
			<key>sourceSize</key>
			<string>{130,109}</string>
		</dict>
		<key>New_ld_blal_liumenbisha_cr_00049.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,470},{116,61}}</string>
			<key>offset</key>
			<string>{-4,-14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,38},{116,61}}</string>
			<key>sourceSize</key>
			<string>{130,109}</string>
		</dict>
		<key>New_ld_blal_liumenbisha_quan_00081.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,638},{40,87}}</string>
			<key>offset</key>
			<string>{7,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,85},{40,87}}</string>
			<key>sourceSize</key>
			<string>{104,257}</string>
		</dict>
		<key>New_ld_blal_liumenbisha_quan_00084.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,817},{64,145}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,56},{64,145}}</string>
			<key>sourceSize</key>
			<string>{104,257}</string>
		</dict>
		<key>New_ld_blal_liumenbisha_quan_00085.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,470},{68,157}}</string>
			<key>offset</key>
			<string>{4,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,51},{68,157}}</string>
			<key>sourceSize</key>
			<string>{104,257}</string>
		</dict>
		<key>New_ld_blal_liumenbisha_quan_00092.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,728},{104,257}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,257}}</string>
			<key>sourceSize</key>
			<string>{104,257}</string>
		</dict>
		<key>New_ld_blal_liumenbisha_tlbd_00081.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,728},{88,65}}</string>
			<key>offset</key>
			<string>{-142,-23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,149},{88,65}}</string>
			<key>sourceSize</key>
			<string>{372,317}</string>
		</dict>
		<key>New_ld_blal_liumenbisha_tlbd_00084.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,694},{336,317}}</string>
			<key>offset</key>
			<string>{10,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,0},{336,317}}</string>
			<key>sourceSize</key>
			<string>{372,317}</string>
		</dict>
		<key>New_ld_blal_putongbisha_ldy_00065.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,628},{104,64}}</string>
			<key>offset</key>
			<string>{2,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,45},{104,64}}</string>
			<key>sourceSize</key>
			<string>{190,114}</string>
		</dict>
		<key>New_ld_blal_putongbisha_ldyq_00043.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,617},{61,20}}</string>
			<key>offset</key>
			<string>{2,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{68,12},{61,20}}</string>
			<key>sourceSize</key>
			<string>{193,52}</string>
		</dict>
		<key>New_ld_blal_putongbisha_ldyq_00045.png</key>
		<dict>
			<key>frame</key>
			<string>{{789,611},{137,40}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28,4},{137,40}}</string>
			<key>sourceSize</key>
			<string>{193,52}</string>
		</dict>
		<key>New_ld_blal_putongbisha_ldyq_00048.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,2},{183,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{183,50}}</string>
			<key>sourceSize</key>
			<string>{193,52}</string>
		</dict>
		<key>New_ld_blal_putongbisha_tdg_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,694},{192,175}}</string>
			<key>offset</key>
			<string>{-13,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,46},{192,175}}</string>
			<key>sourceSize</key>
			<string>{228,221}</string>
		</dict>
		<key>New_ld_blal_putongbisha_tdg_00017.png</key>
		<dict>
			<key>frame</key>
			<string>{{789,870},{152,217}}</string>
			<key>offset</key>
			<string>{38,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76,1},{152,217}}</string>
			<key>sourceSize</key>
			<string>{228,221}</string>
		</dict>
		<key>New_ld_blal_putongbisha_tdg_00021.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,489},{138,135}}</string>
			<key>offset</key>
			<string>{25,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,27},{138,135}}</string>
			<key>sourceSize</key>
			<string>{228,221}</string>
		</dict>
		<key>New_ld_blal_putongbisha_xcdb_00043.png</key>
		<dict>
			<key>frame</key>
			<string>{{566,489},{222,196}}</string>
			<key>offset</key>
			<string>{4,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,29},{222,196}}</string>
			<key>sourceSize</key>
			<string>{238,232}</string>
		</dict>
		<key>New_ld_blal_putongbisha_xcdb_00049.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,101},{212,222}}</string>
			<key>offset</key>
			<string>{12,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25,7},{212,222}}</string>
			<key>sourceSize</key>
			<string>{238,232}</string>
		</dict>
		<key>New_ld_blal_putongbisha_xcdb_00050.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,101},{204,214}}</string>
			<key>offset</key>
			<string>{11,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,11},{204,214}}</string>
			<key>sourceSize</key>
			<string>{238,232}</string>
		</dict>
		<key>New_ld_blal_putongbisha_xcdb_00053.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,485},{190,208}}</string>
			<key>offset</key>
			<string>{11,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,17},{190,208}}</string>
			<key>sourceSize</key>
			<string>{238,232}</string>
		</dict>
		<key>New_ld_blal_putongbisha_xcdb_00059.png</key>
		<dict>
			<key>frame</key>
			<string>{{789,489},{50,42}}</string>
			<key>offset</key>
			<string>{-9,21}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{85,74},{50,42}}</string>
			<key>sourceSize</key>
			<string>{238,232}</string>
		</dict>
		<key>New_ld_blal_putonggongji_bd_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{789,540},{70,41}}</string>
			<key>offset</key>
			<string>{30,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,35},{70,41}}</string>
			<key>sourceSize</key>
			<string>{150,143}</string>
		</dict>
		<key>New_ld_blal_xiaojineng_bd_00048.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,53},{262,182}}</string>
			<key>offset</key>
			<string>{-5,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,7},{262,182}}</string>
			<key>sourceSize</key>
			<string>{282,206}</string>
		</dict>
		<key>New_ld_blal_xiaojineng_bd_00049.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,730},{274,186}}</string>
			<key>offset</key>
			<string>{-4,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,5},{274,186}}</string>
			<key>sourceSize</key>
			<string>{282,206}</string>
		</dict>
		<key>New_ld_blal_xiaojineng_bd_00054.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,316},{182,168}}</string>
			<key>offset</key>
			<string>{44,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{94,34},{182,168}}</string>
			<key>sourceSize</key>
			<string>{282,206}</string>
		</dict>
		<key>New_ld_blal_xiaojineng_gq_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1005},{17,37}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,27},{17,37}}</string>
			<key>sourceSize</key>
			<string>{37,91}</string>
		</dict>
		<key>New_ld_blal_xiaojineng_gq_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,587},{29,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,15},{29,61}}</string>
			<key>sourceSize</key>
			<string>{37,91}</string>
		</dict>
		<key>New_ld_blal_xiaojineng_gq_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{789,806},{29,63}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,14},{29,63}}</string>
			<key>sourceSize</key>
			<string>{37,91}</string>
		</dict>
		<key>New_ld_blal_xiaojineng_gq_00017.png</key>
		<dict>
			<key>frame</key>
			<string>{{279,986},{35,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,5},{35,81}}</string>
			<key>sourceSize</key>
			<string>{37,91}</string>
		</dict>
		<key>New_ld_blal_xiaojineng_gq_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,986},{35,89}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,89}}</string>
			<key>sourceSize</key>
			<string>{37,91}</string>
		</dict>
		<key>New_ld_blal_xiaojineng_ttw_00047.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{419,98}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{419,98}}</string>
			<key>sourceSize</key>
			<string>{421,98}</string>
		</dict>
		<key>New_ld_blal_xiaojineng_ttw_00051.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,316},{411,98}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{411,98}}</string>
			<key>sourceSize</key>
			<string>{421,98}</string>
		</dict>
		<key>New_ld_blal_xiaojineng_ttw_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,2},{415,98}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{415,98}}</string>
			<key>sourceSize</key>
			<string>{421,98}</string>
		</dict>
		<key>New_ld_blal_xiaojineng_ttw_00053.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,316},{413,98}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{413,98}}</string>
			<key>sourceSize</key>
			<string>{421,98}</string>
		</dict>
		<key>New_ld_blal_xiaojineng_ttw_00054.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,316},{411,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{411,98}}</string>
			<key>sourceSize</key>
			<string>{421,98}</string>
		</dict>
		<key>New_ld_blal_xiaojineng_ttw_00057.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,101},{407,96}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{407,96}}</string>
			<key>sourceSize</key>
			<string>{421,98}</string>
		</dict>
		<key>New_ld_blal_xiaojineng_ttw_00058.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,198},{407,96}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{407,96}}</string>
			<key>sourceSize</key>
			<string>{421,98}</string>
		</dict>
		<key>New_ld_blal_xiaojineng_ttw_00059.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,295},{407,96}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{407,96}}</string>
			<key>sourceSize</key>
			<string>{421,98}</string>
		</dict>
		<key>New_ld_blal_xiaojineng_ttw_00060.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,392},{401,96}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,1},{401,96}}</string>
			<key>sourceSize</key>
			<string>{421,98}</string>
		</dict>
		<key>New_ld_blal_xiaojineng_ttw_00062.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,628},{393,90}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,5},{393,90}}</string>
			<key>sourceSize</key>
			<string>{421,98}</string>
		</dict>
		<key>New_ld_blal_xiaojineng_xztw_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,314},{155,130}}</string>
			<key>offset</key>
			<string>{-11,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,31},{155,130}}</string>
			<key>sourceSize</key>
			<string>{177,178}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>bainiaoailuo_common0.png</string>
		<key>scale</key>
		<real>0.72</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>bainiaoailuo_common0.png</string>
	</dict>
</dict>
</plist>
