<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bg_shetuanzhan_lashendikaung2.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,1110},{124,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,126}}</string>
			<key>sourceSize</key>
			<string>{124,126}</string>
		</dict>
		<key>bg_shetuanzhan_lashendikaung3.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,814},{76,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,52}}</string>
			<key>sourceSize</key>
			<string>{76,52}</string>
		</dict>
		<key>bg_shetuanzhan_lashendikuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,1343},{126,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,140}}</string>
			<key>sourceSize</key>
			<string>{126,140}</string>
		</dict>
		<key>bg_shetuanzhan_xuanzegedoujia_blackbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,1946},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>btn_shetuanzhan_changhuangannniu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,1144},{152,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,47}}</string>
			<key>sourceSize</key>
			<string>{152,47}</string>
		</dict>
		<key>btn_shetuanzhan_changhuangannniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,1172},{152,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,47}}</string>
			<key>sourceSize</key>
			<string>{152,47}</string>
		</dict>
		<key>btn_shetuanzhan_henganniu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,1110},{124,47}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,5},{124,47}}</string>
			<key>sourceSize</key>
			<string>{126,55}</string>
		</dict>
		<key>btn_shetuanzhan_henganniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,1601},{126,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,55}}</string>
			<key>sourceSize</key>
			<string>{126,55}</string>
		</dict>
		<key>btn_shetuanzhan_huangse2_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,317},{138,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,58}}</string>
			<key>sourceSize</key>
			<string>{138,58}</string>
		</dict>
		<key>btn_shetuanzhan_huangse2_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,1886},{138,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,58}}</string>
			<key>sourceSize</key>
			<string>{138,58}</string>
		</dict>
		<key>btn_shetuanzhan_huangse_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,565},{101,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,44}}</string>
			<key>sourceSize</key>
			<string>{101,44}</string>
		</dict>
		<key>btn_shetuanzhan_huangse_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,1942},{101,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,44}}</string>
			<key>sourceSize</key>
			<string>{101,44}</string>
		</dict>
		<key>btn_shetuanzhan_huangsexiao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{331,1938},{92,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,59}}</string>
			<key>sourceSize</key>
			<string>{92,59}</string>
		</dict>
		<key>btn_shetuanzhan_huangsexiao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,1881},{92,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,59}}</string>
			<key>sourceSize</key>
			<string>{92,59}</string>
		</dict>
		<key>btn_shetuanzhan_lananniu2_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,457},{106,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,66}}</string>
			<key>sourceSize</key>
			<string>{106,66}</string>
		</dict>
		<key>btn_shetuanzhan_lananniu2_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{348,868},{107,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,66}}</string>
			<key>sourceSize</key>
			<string>{107,66}</string>
		</dict>
		<key>btn_shetuanzhan_sousuo_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,1296},{93,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,44}}</string>
			<key>sourceSize</key>
			<string>{93,44}</string>
		</dict>
		<key>btn_shetuanzhan_sousuo_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,679},{93,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,44}}</string>
			<key>sourceSize</key>
			<string>{93,44}</string>
		</dict>
		<key>btn_shetuanzhan_xiaolanniu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,732},{124,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,47}}</string>
			<key>sourceSize</key>
			<string>{124,47}</string>
		</dict>
		<key>btn_shetuanzhan_xiaolanniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,606},{124,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,47}}</string>
			<key>sourceSize</key>
			<string>{124,47}</string>
		</dict>
		<key>ditu.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,453},{106,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,13}}</string>
			<key>sourceSize</key>
			<string>{106,13}</string>
		</dict>
		<key>hongsexuetiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,1938},{104,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{104,11}}</string>
			<key>sourceSize</key>
			<string>{106,13}</string>
		</dict>
		<key>pic_lansexuetiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,1938},{104,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{104,11}}</string>
			<key>sourceSize</key>
			<string>{106,13}</string>
		</dict>
		<key>pic_shetuan_buzhen_banzi_dadi_.png</key>
		<dict>
			<key>frame</key>
			<string>{{441,2},{19,242}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,242}}</string>
			<key>sourceSize</key>
			<string>{19,242}</string>
		</dict>
		<key>pic_shetuan_buzhen_banzi_di_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,1348},{249,269}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{249,269}}</string>
			<key>sourceSize</key>
			<string>{249,275}</string>
		</dict>
		<key>pic_shetuan_buzhen_banzi_di_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,738},{209,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,28}}</string>
			<key>sourceSize</key>
			<string>{209,28}</string>
		</dict>
		<key>pic_shetuan_buzhen_banzi_di_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,1485},{68,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,60}}</string>
			<key>sourceSize</key>
			<string>{68,60}</string>
		</dict>
		<key>pic_shetuan_buzhen_banzi_suo.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,738},{208,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{208,101}}</string>
			<key>sourceSize</key>
			<string>{208,101}</string>
		</dict>
		<key>pic_shetuan_buzhen_banzi_suo_zidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,564},{40,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,36}}</string>
			<key>sourceSize</key>
			<string>{40,36}</string>
		</dict>
		<key>pic_shetuanzhan_1new.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,317},{255,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,83}}</string>
			<key>sourceSize</key>
			<string>{255,83}</string>
		</dict>
		<key>pic_shetuanzhan_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,1298},{36,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,41}}</string>
			<key>sourceSize</key>
			<string>{36,41}</string>
		</dict>
		<key>pic_shetuanzhan_2new.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,2},{261,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{261,85}}</string>
			<key>sourceSize</key>
			<string>{261,85}</string>
		</dict>
		<key>pic_shetuanzhan_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{423,1823},{36,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,41}}</string>
			<key>sourceSize</key>
			<string>{36,41}</string>
		</dict>
		<key>pic_shetuanzhan_3new.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,1619},{255,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,79}}</string>
			<key>sourceSize</key>
			<string>{255,79}</string>
		</dict>
		<key>pic_shetuanzhan_battle_guanzhanrenshubg.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,738},{210,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,42}}</string>
			<key>sourceSize</key>
			<string>{210,42}</string>
		</dict>
		<key>pic_shetuanzhan_battle_lose.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,1110},{121,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,52}}</string>
			<key>sourceSize</key>
			<string>{121,52}</string>
		</dict>
		<key>pic_shetuanzhan_battle_topbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,317},{245,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,67}}</string>
			<key>sourceSize</key>
			<string>{245,67}</string>
		</dict>
		<key>pic_shetuanzhan_battle_win.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,265},{100,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,50}}</string>
			<key>sourceSize</key>
			<string>{100,50}</string>
		</dict>
		<key>pic_shetuanzhan_changci.png</key>
		<dict>
			<key>frame</key>
			<string>{{441,679},{113,25}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,25}}</string>
			<key>sourceSize</key>
			<string>{115,25}</string>
		</dict>
		<key>pic_shetuanzhan_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,1619},{260,62}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{260,62}}</string>
			<key>sourceSize</key>
			<string>{260,66}</string>
		</dict>
		<key>pic_shetuanzhan_di1.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,950},{158,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,119}}</string>
			<key>sourceSize</key>
			<string>{158,119}</string>
		</dict>
		<key>pic_shetuanzhan_di2.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,1729},{65,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,119}}</string>
			<key>sourceSize</key>
			<string>{65,119}</string>
		</dict>
		<key>pic_shetuanzhan_duihuan_jiantou.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,1026},{59,34}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,3},{59,34}}</string>
			<key>sourceSize</key>
			<string>{67,42}</string>
		</dict>
		<key>pic_shetuanzhan_duihuantiaomubg.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,2},{313,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{313,131}}</string>
			<key>sourceSize</key>
			<string>{313,131}</string>
		</dict>
		<key>pic_shetuanzhan_huadongbg_dadi.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,725},{87,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,74}}</string>
			<key>sourceSize</key>
			<string>{87,74}</string>
		</dict>
		<key>pic_shetuanzhan_huangselashendi2.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,936},{61,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,27}}</string>
			<key>sourceSize</key>
			<string>{61,27}</string>
		</dict>
		<key>pic_shetuanzhan_jiantoudian.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,794},{23,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,29}}</string>
			<key>sourceSize</key>
			<string>{23,29}</string>
		</dict>
		<key>pic_shetuanzhan_jinjiheiduan.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,999},{26,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,25}}</string>
			<key>sourceSize</key>
			<string>{26,25}</string>
		</dict>
		<key>pic_shetuanzhan_jinjihengtiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,1619},{236,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,36}}</string>
			<key>sourceSize</key>
			<string>{236,36}</string>
		</dict>
		<key>pic_shetuanzhan_lansechangtiao1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,743},{603,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{603,118}}</string>
			<key>sourceSize</key>
			<string>{603,118}</string>
		</dict>
		<key>pic_shetuanzhan_lansechangtiao2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{739,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{739,134}}</string>
			<key>sourceSize</key>
			<string>{739,134}</string>
		</dict>
		<key>pic_shetuanzhan_lansechangtiao3.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,2},{603,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{603,81}}</string>
			<key>sourceSize</key>
			<string>{603,81}</string>
		</dict>
		<key>pic_shetuanzhan_lansediban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1348},{596,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{596,27}}</string>
			<key>sourceSize</key>
			<string>{596,27}</string>
		</dict>
		<key>pic_shetuanzhan_lashendadi2.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,1857},{82,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,62}}</string>
			<key>sourceSize</key>
			<string>{82,62}</string>
		</dict>
		<key>pic_shetuanzhan_lashendiban1.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,1941},{98,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,59}}</string>
			<key>sourceSize</key>
			<string>{98,59}</string>
		</dict>
		<key>pic_shetuanzhan_lashendiban3.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,1485},{114,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,114}}</string>
			<key>sourceSize</key>
			<string>{114,114}</string>
		</dict>
		<key>pic_shetuanzhan_lashenkaung4.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,1238},{142,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,103}}</string>
			<key>sourceSize</key>
			<string>{142,103}</string>
		</dict>
		<key>pic_shetuanzhan_lashentiao1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1946},{100,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,118}}</string>
			<key>sourceSize</key>
			<string>{100,118}</string>
		</dict>
		<key>pic_shetuanzhan_lashentiao2.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,1026},{82,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,81}}</string>
			<key>sourceSize</key>
			<string>{82,81}</string>
		</dict>
		<key>pic_shetuanzhan_lashenzhuangshi.png</key>
		<dict>
			<key>frame</key>
			<string>{{421,1581},{129,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,40}}</string>
			<key>sourceSize</key>
			<string>{129,40}</string>
		</dict>
		<key>pic_shetuanzhan_maohao.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,1087},{19,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,27}}</string>
			<key>sourceSize</key>
			<string>{19,27}</string>
		</dict>
		<key>pic_shetuanzhan_mingzidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,959},{211,30}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,30}}</string>
			<key>sourceSize</key>
			<string>{221,30}</string>
		</dict>
		<key>pic_shetuanzhan_paihangbangdikuang1.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,1619},{265,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{265,80}}</string>
			<key>sourceSize</key>
			<string>{265,80}</string>
		</dict>
		<key>pic_shetuanzhan_putongvs.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,1547},{68,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,32}}</string>
			<key>sourceSize</key>
			<string>{68,32}</string>
		</dict>
		<key>pic_shetuanzhan_rank_fenshubg.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,574},{97,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,30}}</string>
			<key>sourceSize</key>
			<string>{97,30}</string>
		</dict>
		<key>pic_shetuanzhan_rank_winbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,858},{90,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,30}}</string>
			<key>sourceSize</key>
			<string>{90,30}</string>
		</dict>
		<key>pic_shetuanzhan_s.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,948},{9,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,11}}</string>
			<key>sourceSize</key>
			<string>{9,11}</string>
		</dict>
		<key>pic_shetuanzhan_suo.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,1236},{58,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,58}}</string>
			<key>sourceSize</key>
			<string>{58,58}</string>
		</dict>
		<key>pic_shetuanzhan_title_zuorizhankuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,948},{194,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,72}}</string>
			<key>sourceSize</key>
			<string>{194,72}</string>
		</dict>
		<key>pic_shetuanzhan_vs.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,607},{157,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,129}}</string>
			<key>sourceSize</key>
			<string>{157,129}</string>
		</dict>
		<key>pic_shetuanzhan_vslandi.png</key>
		<dict>
			<key>frame</key>
			<string>{{435,317},{134,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,26}}</string>
			<key>sourceSize</key>
			<string>{134,26}</string>
		</dict>
		<key>pic_shetuanzhan_wenhaohuizhang.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,1862},{74,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,78}}</string>
			<key>sourceSize</key>
			<string>{74,78}</string>
		</dict>
		<key>pic_shetuanzhan_win.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,1601},{126,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,66}}</string>
			<key>sourceSize</key>
			<string>{126,66}</string>
		</dict>
		<key>pic_shetuanzhan_xiaohuangsuo.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,1862},{37,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,32}}</string>
			<key>sourceSize</key>
			<string>{37,32}</string>
		</dict>
		<key>pic_shetuanzhan_xiegang.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,1581},{11,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,21}}</string>
			<key>sourceSize</key>
			<string>{11,21}</string>
		</dict>
		<key>pic_shetuanzhan_xuanzhongkuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,611},{110,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,66}}</string>
			<key>sourceSize</key>
			<string>{110,66}</string>
		</dict>
		<key>pic_shetuanzhan_zhihuifengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,1942},{31,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,2}}</string>
			<key>sourceSize</key>
			<string>{31,2}</string>
		</dict>
		<key>pic_shetuanzhan_zhihuiheiduan.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,1581},{26,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,3}}</string>
			<key>sourceSize</key>
			<string>{26,3}</string>
		</dict>
		<key>pic_shetuanzhan_zhihuitiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,743},{214,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,15}}</string>
			<key>sourceSize</key>
			<string>{214,15}</string>
		</dict>
		<key>pic_shetuanzhan_zuojinjiduan.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,1729},{131,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,58}}</string>
			<key>sourceSize</key>
			<string>{131,58}</string>
		</dict>
		<key>pic_shetuanzhan_zuojzhihuiduan.png</key>
		<dict>
			<key>frame</key>
			<string>{{423,1712},{109,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,10},{109,38}}</string>
			<key>sourceSize</key>
			<string>{131,58}</string>
		</dict>
		<key>pic_xiaoanniushetuanzhan_lanse_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,1391},{80,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,42}}</string>
			<key>sourceSize</key>
			<string>{80,42}</string>
		</dict>
		<key>pic_xiaoanniushetuanzhan_lanse_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,1233},{80,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,42}}</string>
			<key>sourceSize</key>
			<string>{80,42}</string>
		</dict>
		<key>pic_xunliansuo_LOCK.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,936},{88,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,88}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>clubWar0.png</string>
		<key>size</key>
		<string>{468,2048}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>clubWar0.png</string>
	</dict>
</dict>
</plist>
