<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_znt_putongbisha_xt_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{690,389},{161,73}}</string>
			<key>offset</key>
			<string>{-12,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,0},{161,73}}</string>
			<key>sourceSize</key>
			<string>{211,73}</string>
		</dict>
		<key>New_znt_putongbisha_xt_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{839,583},{159,65}}</string>
			<key>offset</key>
			<string>{-5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,5},{159,65}}</string>
			<key>sourceSize</key>
			<string>{211,73}</string>
		</dict>
		<key>New_znt_putongbisha_xt_00021.png</key>
		<dict>
			<key>frame</key>
			<string>{{839,649},{159,59}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,8},{159,59}}</string>
			<key>sourceSize</key>
			<string>{211,73}</string>
		</dict>
		<key>New_znt_putongbisha_xt_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{334,531},{159,49}}</string>
			<key>offset</key>
			<string>{9,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,14},{159,49}}</string>
			<key>sourceSize</key>
			<string>{211,73}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{651,937},{82,87}}</string>
			<key>offset</key>
			<string>{-56,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,48},{82,87}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00017.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,844},{82,93}}</string>
			<key>offset</key>
			<string>{-55,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,38},{82,93}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,709},{108,101}}</string>
			<key>offset</key>
			<string>{-46,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,25},{108,101}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{907,2},{114,115}}</string>
			<key>offset</key>
			<string>{-46,12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,11},{114,115}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00025.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,556},{138,159}}</string>
			<key>offset</key>
			<string>{-28,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,1},{138,159}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{519,488},{144,159}}</string>
			<key>offset</key>
			<string>{-25,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{144,159}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00027.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,252},{168,157}}</string>
			<key>offset</key>
			<string>{-13,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{168,157}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,417},{166,153}}</string>
			<key>offset</key>
			<string>{-19,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{166,153}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,443},{164,151}}</string>
			<key>offset</key>
			<string>{-22,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{164,151}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00034.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{182,151}}</string>
			<key>offset</key>
			<string>{6,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,10},{182,151}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00039.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,2},{180,159}}</string>
			<key>offset</key>
			<string>{4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,0},{180,159}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00042.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,162},{170,149}}</string>
			<key>offset</key>
			<string>{19,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,1},{170,149}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00043.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,154},{180,159}}</string>
			<key>offset</key>
			<string>{15,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,1},{180,159}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00048.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,704},{140,155}}</string>
			<key>offset</key>
			<string>{27,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{62,5},{140,155}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00050.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,809},{132,155}}</string>
			<key>offset</key>
			<string>{29,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{68,0},{132,155}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{637,695},{148,149}}</string>
			<key>offset</key>
			<string>{26,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{57,1},{148,149}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00054.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,660},{148,155}}</string>
			<key>offset</key>
			<string>{31,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{62,4},{148,155}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00059.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,812},{124,133}}</string>
			<key>offset</key>
			<string>{34,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{77,17},{124,133}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00072.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,718},{106,125}}</string>
			<key>offset</key>
			<string>{30,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{82,16},{106,125}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00076.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,845},{96,123}}</string>
			<key>offset</key>
			<string>{32,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{89,28},{96,123}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00077.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,845},{96,119}}</string>
			<key>offset</key>
			<string>{32,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{89,32},{96,119}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00078.png</key>
		<dict>
			<key>frame</key>
			<string>{{519,938},{82,131}}</string>
			<key>offset</key>
			<string>{38,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{102,18},{82,131}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00079.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,942},{80,129}}</string>
			<key>offset</key>
			<string>{36,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{101,16},{80,129}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00080.png</key>
		<dict>
			<key>frame</key>
			<string>{{421,718},{78,125}}</string>
			<key>offset</key>
			<string>{33,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{99,16},{78,125}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00083.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,718},{74,125}}</string>
			<key>offset</key>
			<string>{34,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{102,25},{74,125}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00084.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,709},{74,119}}</string>
			<key>offset</key>
			<string>{39,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{107,31},{74,119}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00085.png</key>
		<dict>
			<key>frame</key>
			<string>{{907,117},{78,115}}</string>
			<key>offset</key>
			<string>{40,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{106,33},{78,115}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00086.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,942},{80,123}}</string>
			<key>offset</key>
			<string>{39,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{104,21},{80,123}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00087.png</key>
		<dict>
			<key>frame</key>
			<string>{{944,829},{74,111}}</string>
			<key>offset</key>
			<string>{38,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{106,18},{74,111}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00088.png</key>
		<dict>
			<key>frame</key>
			<string>{{905,196},{66,117}}</string>
			<key>offset</key>
			<string>{35,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{107,20},{66,117}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_00090.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,937},{50,105}}</string>
			<key>offset</key>
			<string>{32,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{112,35},{50,105}}</string>
			<key>sourceSize</key>
			<string>{210,161}</string>
		</dict>
		<key>New_znt_putongbisha_zb_yl_00031.png</key>
		<dict>
			<key>frame</key>
			<string>{{545,250},{177,114}}</string>
			<key>offset</key>
			<string>{-11,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{49,11},{177,114}}</string>
			<key>sourceSize</key>
			<string>{297,158}</string>
		</dict>
		<key>New_znt_putongbisha_zb_yl_00072.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,633},{145,84}}</string>
			<key>offset</key>
			<string>{29,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{105,16},{145,84}}</string>
			<key>sourceSize</key>
			<string>{297,158}</string>
		</dict>
		<key>New_znt_putongbisha_zb_yl_00073.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,942},{153,80}}</string>
			<key>offset</key>
			<string>{39,19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{111,20},{153,80}}</string>
			<key>sourceSize</key>
			<string>{297,158}</string>
		</dict>
		<key>New_znt_putonggongji_btw_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,595},{156,108}}</string>
			<key>offset</key>
			<string>{-4,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,50},{156,108}}</string>
			<key>sourceSize</key>
			<string>{164,158}</string>
		</dict>
		<key>New_znt_putonggongji_btw_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{787,695},{116,50}}</string>
			<key>offset</key>
			<string>{-18,-46}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,100},{116,50}}</string>
			<key>sourceSize</key>
			<string>{164,158}</string>
		</dict>
		<key>New_znt_putonggongji_tw_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{852,436},{160,146}}</string>
			<key>offset</key>
			<string>{7,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,8},{160,146}}</string>
			<key>sourceSize</key>
			<string>{180,154}</string>
		</dict>
		<key>New_znt_putonggongji_tw_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{690,463},{160,92}}</string>
			<key>offset</key>
			<string>{0,-31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,62},{160,92}}</string>
			<key>sourceSize</key>
			<string>{180,154}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00053.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,718},{60,92}}</string>
			<key>offset</key>
			<string>{-58,29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{60,92}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00054.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,718},{60,92}}</string>
			<key>offset</key>
			<string>{-58,29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{60,92}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00055.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,718},{60,92}}</string>
			<key>offset</key>
			<string>{-58,29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{60,92}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00056.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,718},{60,92}}</string>
			<key>offset</key>
			<string>{-58,29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{60,92}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00057.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,718},{60,92}}</string>
			<key>offset</key>
			<string>{-58,29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{60,92}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00058.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,718},{60,92}}</string>
			<key>offset</key>
			<string>{-58,29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{60,92}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00059.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,718},{60,92}}</string>
			<key>offset</key>
			<string>{-58,29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{60,92}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00060.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,718},{60,92}}</string>
			<key>offset</key>
			<string>{-58,29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{60,92}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00061.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,718},{60,92}}</string>
			<key>offset</key>
			<string>{-58,29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{60,92}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00062.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,718},{60,92}}</string>
			<key>offset</key>
			<string>{-58,29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{60,92}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00063.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,718},{60,92}}</string>
			<key>offset</key>
			<string>{-58,29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{60,92}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00064.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,718},{60,92}}</string>
			<key>offset</key>
			<string>{-58,29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{60,92}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00068.png</key>
		<dict>
			<key>frame</key>
			<string>{{334,581},{156,136}}</string>
			<key>offset</key>
			<string>{-20,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,20},{156,136}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00069.png</key>
		<dict>
			<key>frame</key>
			<string>{{728,2},{178,136}}</string>
			<key>offset</key>
			<string>{-7,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,24},{178,136}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00070.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,2},{180,130}}</string>
			<key>offset</key>
			<string>{-5,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,31},{180,130}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00071.png</key>
		<dict>
			<key>frame</key>
			<string>{{547,2},{180,124}}</string>
			<key>offset</key>
			<string>{-4,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,38},{180,124}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00080.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,133},{178,118}}</string>
			<key>offset</key>
			<string>{-3,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,46},{178,118}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00081.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,139},{178,120}}</string>
			<key>offset</key>
			<string>{-2,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,44},{178,120}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00082.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,139},{178,120}}</string>
			<key>offset</key>
			<string>{-2,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,44},{178,120}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00083.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,139},{178,120}}</string>
			<key>offset</key>
			<string>{-2,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,44},{178,120}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00084.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,139},{178,120}}</string>
			<key>offset</key>
			<string>{-2,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,44},{178,120}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00085.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,139},{178,120}}</string>
			<key>offset</key>
			<string>{-2,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,44},{178,120}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00086.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,139},{178,120}}</string>
			<key>offset</key>
			<string>{-2,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,44},{178,120}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00087.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,139},{178,120}}</string>
			<key>offset</key>
			<string>{-2,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,44},{178,120}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00088.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,139},{178,120}}</string>
			<key>offset</key>
			<string>{-2,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,44},{178,120}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00089.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,139},{178,120}}</string>
			<key>offset</key>
			<string>{-2,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,44},{178,120}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00090.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,139},{178,120}}</string>
			<key>offset</key>
			<string>{-2,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,44},{178,120}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00091.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,139},{178,120}}</string>
			<key>offset</key>
			<string>{-2,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,44},{178,120}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00092.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,139},{178,120}}</string>
			<key>offset</key>
			<string>{-2,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,44},{178,120}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00093.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,139},{178,120}}</string>
			<key>offset</key>
			<string>{-2,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,44},{178,120}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00094.png</key>
		<dict>
			<key>frame</key>
			<string>{{547,127},{178,122}}</string>
			<key>offset</key>
			<string>{-1,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,42},{178,122}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00095.png</key>
		<dict>
			<key>frame</key>
			<string>{{723,260},{176,128}}</string>
			<key>offset</key>
			<string>{1,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,35},{176,128}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00096.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,312},{168,130}}</string>
			<key>offset</key>
			<string>{6,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,32},{168,130}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00103.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,941},{78,108}}</string>
			<key>offset</key>
			<string>{58,22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{118,6},{78,108}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00104.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,844},{78,96}}</string>
			<key>offset</key>
			<string>{57,31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{117,3},{78,96}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq2_00105.png</key>
		<dict>
			<key>frame</key>
			<string>{{938,941},{70,66}}</string>
			<key>offset</key>
			<string>{55,44}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{119,5},{70,66}}</string>
			<key>sourceSize</key>
			<string>{198,164}</string>
		</dict>
		<key>New_znt_xiaojineng_zq_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,571},{162,88}}</string>
			<key>offset</key>
			<string>{-9,-51}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,105},{162,88}}</string>
			<key>sourceSize</key>
			<string>{182,196}</string>
		</dict>
		<key>New_znt_xiaojineng_zq_00053.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,263},{172,122}}</string>
			<key>offset</key>
			<string>{-5,-37}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,74},{172,122}}</string>
			<key>sourceSize</key>
			<string>{182,196}</string>
		</dict>
		<key>New_znt_xiaojineng_zq_00054.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,263},{172,122}}</string>
			<key>offset</key>
			<string>{-5,-37}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,74},{172,122}}</string>
			<key>sourceSize</key>
			<string>{182,196}</string>
		</dict>
		<key>New_znt_xiaojineng_zq_00055.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,263},{172,122}}</string>
			<key>offset</key>
			<string>{-5,-37}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,74},{172,122}}</string>
			<key>sourceSize</key>
			<string>{182,196}</string>
		</dict>
		<key>New_znt_xiaojineng_zq_00056.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,263},{172,122}}</string>
			<key>offset</key>
			<string>{-5,-37}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,74},{172,122}}</string>
			<key>sourceSize</key>
			<string>{182,196}</string>
		</dict>
		<key>New_znt_xiaojineng_zq_00057.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,263},{172,122}}</string>
			<key>offset</key>
			<string>{-5,-37}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,74},{172,122}}</string>
			<key>sourceSize</key>
			<string>{182,196}</string>
		</dict>
		<key>New_znt_xiaojineng_zq_00058.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,263},{172,122}}</string>
			<key>offset</key>
			<string>{-5,-37}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,74},{172,122}}</string>
			<key>sourceSize</key>
			<string>{182,196}</string>
		</dict>
		<key>New_znt_xiaojineng_zq_00059.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,263},{172,122}}</string>
			<key>offset</key>
			<string>{-5,-37}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,74},{172,122}}</string>
			<key>sourceSize</key>
			<string>{182,196}</string>
		</dict>
		<key>New_znt_xiaojineng_zq_00060.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,263},{172,122}}</string>
			<key>offset</key>
			<string>{-5,-37}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,74},{172,122}}</string>
			<key>sourceSize</key>
			<string>{182,196}</string>
		</dict>
		<key>New_znt_xiaojineng_zq_00061.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,263},{172,122}}</string>
			<key>offset</key>
			<string>{-5,-37}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,74},{172,122}}</string>
			<key>sourceSize</key>
			<string>{182,196}</string>
		</dict>
		<key>New_znt_xiaojineng_zq_00062.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,263},{172,122}}</string>
			<key>offset</key>
			<string>{-5,-37}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,74},{172,122}}</string>
			<key>sourceSize</key>
			<string>{182,196}</string>
		</dict>
		<key>New_znt_xiaojineng_zq_00063.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,263},{172,122}}</string>
			<key>offset</key>
			<string>{-5,-37}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,74},{172,122}}</string>
			<key>sourceSize</key>
			<string>{182,196}</string>
		</dict>
		<key>New_znt_xiaojineng_zq_00064.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,263},{172,122}}</string>
			<key>offset</key>
			<string>{-5,-37}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,74},{172,122}}</string>
			<key>sourceSize</key>
			<string>{182,196}</string>
		</dict>
		<key>New_znt_xiaojineng_zq_00065.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,263},{172,122}}</string>
			<key>offset</key>
			<string>{-5,-37}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,74},{172,122}}</string>
			<key>sourceSize</key>
			<string>{182,196}</string>
		</dict>
		<key>New_znt_xiaojineng_zq_00066.png</key>
		<dict>
			<key>frame</key>
			<string>{{523,365},{122,166}}</string>
			<key>offset</key>
			<string>{29,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{59,22},{122,166}}</string>
			<key>sourceSize</key>
			<string>{182,196}</string>
		</dict>
		<key>New_znt_xiaojineng_zq_00067.png</key>
		<dict>
			<key>frame</key>
			<string>{{352,410},{120,166}}</string>
			<key>offset</key>
			<string>{31,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{62,22},{120,166}}</string>
			<key>sourceSize</key>
			<string>{182,196}</string>
		</dict>
		<key>New_znt_xiaojineng_zq_00068.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,314},{102,168}}</string>
			<key>offset</key>
			<string>{40,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{80,18},{102,168}}</string>
			<key>sourceSize</key>
			<string>{182,196}</string>
		</dict>
		<key>New_znt_xiaojineng_zq_00072.png</key>
		<dict>
			<key>frame</key>
			<string>{{564,844},{92,142}}</string>
			<key>offset</key>
			<string>{40,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{85,12},{92,142}}</string>
			<key>sourceSize</key>
			<string>{182,196}</string>
		</dict>
		<key>New_znt_xiaojineng_zq_00074.png</key>
		<dict>
			<key>frame</key>
			<string>{{707,844},{92,102}}</string>
			<key>offset</key>
			<string>{37,41}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{82,6},{92,102}}</string>
			<key>sourceSize</key>
			<string>{182,196}</string>
		</dict>
		<key>New_znt_xiaojineng_zq_00076.png</key>
		<dict>
			<key>frame</key>
			<string>{{739,937},{92,76}}</string>
			<key>offset</key>
			<string>{30,58}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,2},{92,76}}</string>
			<key>sourceSize</key>
			<string>{182,196}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>zhennite_common2.png</string>
		<key>scale</key>
		<real>0.37</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>zhennite_common2.png</string>
	</dict>
</dict>
</plist>
