<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bg_dfss_headbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{747,733},{98,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,97}}</string>
			<key>sourceSize</key>
			<string>{98,97}</string>
		</dict>
		<key>btn_dfss_paihang_normal_csaiqie.png</key>
		<dict>
			<key>frame</key>
			<string>{{735,934},{43,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,43}}</string>
			<key>sourceSize</key>
			<string>{43,43}</string>
		</dict>
		<key>btn_dfss_paihang_press_csaiqie.png</key>
		<dict>
			<key>frame</key>
			<string>{{846,777},{43,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,43}}</string>
			<key>sourceSize</key>
			<string>{43,43}</string>
		</dict>
		<key>btn_dfss_wenhao_normal_csaiqie.png</key>
		<dict>
			<key>frame</key>
			<string>{{824,948},{42,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,43}}</string>
			<key>sourceSize</key>
			<string>{42,43}</string>
		</dict>
		<key>btn_dfss_wenhao_press_csaiqie.png</key>
		<dict>
			<key>frame</key>
			<string>{{780,933},{42,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,43}}</string>
			<key>sourceSize</key>
			<string>{42,43}</string>
		</dict>
		<key>pic_dfss_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{827,906},{40,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,60}}</string>
			<key>sourceSize</key>
			<string>{40,60}</string>
		</dict>
		<key>pic_dfss_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{846,720},{40,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,55}}</string>
			<key>sourceSize</key>
			<string>{40,55}</string>
		</dict>
		<key>pic_dfss_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{828,663},{40,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,55}}</string>
			<key>sourceSize</key>
			<string>{40,55}</string>
		</dict>
		<key>pic_dfss_8_vs_hui.png</key>
		<dict>
			<key>frame</key>
			<string>{{848,574},{87,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,57}}</string>
			<key>sourceSize</key>
			<string>{87,57}</string>
		</dict>
		<key>pic_dfss_bisaidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,839},{229,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{229,33}}</string>
			<key>sourceSize</key>
			<string>{229,33}</string>
		</dict>
		<key>pic_dfss_dachendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{651,934},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,82}}</string>
			<key>sourceSize</key>
			<string>{82,82}</string>
		</dict>
		<key>pic_dfss_dadiban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{905,570}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{905,570}}</string>
			<key>sourceSize</key>
			<string>{905,570}</string>
		</dict>
		<key>pic_dfss_head.png</key>
		<dict>
			<key>frame</key>
			<string>{{637,835},{98,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,97}}</string>
			<key>sourceSize</key>
			<string>{98,97}</string>
		</dict>
		<key>pic_dfss_headnoe.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,733},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>pic_dfss_henglantiao_csaiqie.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,874},{110,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,139}}</string>
			<key>sourceSize</key>
			<string>{110,139}</string>
		</dict>
		<key>pic_dfss_jiangbei.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,989},{196,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,28}}</string>
			<key>sourceSize</key>
			<string>{196,28}</string>
		</dict>
		<key>pic_dfss_lashendiban_csaiqie.png</key>
		<dict>
			<key>frame</key>
			<string>{{555,839},{104,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,80}}</string>
			<key>sourceSize</key>
			<string>{104,80}</string>
		</dict>
		<key>pic_dfss_lashendilanxiao_csaiqie.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,987},{30,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,21}}</string>
			<key>sourceSize</key>
			<string>{30,21}</string>
		</dict>
		<key>pic_dfss_lashengonggaodi_csaiqie.png</key>
		<dict>
			<key>frame</key>
			<string>{{555,945},{94,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,33}}</string>
			<key>sourceSize</key>
			<string>{94,33}</string>
		</dict>
		<key>pic_dfss_lashenkuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,718},{183,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,44}}</string>
			<key>sourceSize</key>
			<string>{183,44}</string>
		</dict>
		<key>pic_dfss_out.png</key>
		<dict>
			<key>frame</key>
			<string>{{827,833},{71,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,69}}</string>
			<key>sourceSize</key>
			<string>{71,69}</string>
		</dict>
		<key>pic_dfss_s.png</key>
		<dict>
			<key>frame</key>
			<string>{{624,980},{25,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,33}}</string>
			<key>sourceSize</key>
			<string>{25,33}</string>
		</dict>
		<key>pic_dfss_shudi.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,799},{38,299}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,299}}</string>
			<key>sourceSize</key>
			<string>{38,299}</string>
		</dict>
		<key>pic_dfss_shutiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,755},{42,319}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,319}}</string>
			<key>sourceSize</key>
			<string>{42,319}</string>
		</dict>
		<key>pic_dfss_xiaoguangdian.png</key>
		<dict>
			<key>frame</key>
			<string>{{888,692},{19,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,33}}</string>
			<key>sourceSize</key>
			<string>{19,33}</string>
		</dict>
		<key>pic_dfss_youdi.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,653},{78,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,182}}</string>
			<key>sourceSize</key>
			<string>{78,182}</string>
		</dict>
		<key>pic_dfss_zuojiantou_csaiqie.png</key>
		<dict>
			<key>frame</key>
			<string>{{465,874},{88,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,111}}</string>
			<key>sourceSize</key>
			<string>{88,111}</string>
		</dict>
		<key>pic_dfss_zuojindtiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,574},{77,202}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,202}}</string>
			<key>sourceSize</key>
			<string>{77,202}</string>
		</dict>
		<key>pic_phb_dfss_dadianm.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,574},{179,274}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,274}}</string>
			<key>sourceSize</key>
			<string>{179,274}</string>
		</dict>
		<key>pic_phb_dfss_dadiban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,718},{268,214}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{268,214}}</string>
			<key>sourceSize</key>
			<string>{268,214}</string>
		</dict>
		<key>pic_phb_dfss_diqiuhuawen.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,574},{364,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{364,142}}</string>
			<key>sourceSize</key>
			<string>{364,142}</string>
		</dict>
		<key>pic_phb_dfss_hengtiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,934},{320,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,53}}</string>
			<key>sourceSize</key>
			<string>{320,53}</string>
		</dict>
		<key>pic_phb_dfss_jindutiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{555,980},{6,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,67}}</string>
			<key>sourceSize</key>
			<string>{6,67}</string>
		</dict>
		<key>pic_phb_dfss_waifaguang.png</key>
		<dict>
			<key>frame</key>
			<string>{{888,692},{19,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,33}}</string>
			<key>sourceSize</key>
			<string>{19,33}</string>
		</dict>
		<key>pic_phb_dfss_xiahuaxian.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,718},{1,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,90}}</string>
			<key>sourceSize</key>
			<string>{1,90}</string>
		</dict>
		<key>pic_phb_dfss_youxiajiaochendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,986},{66,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,31}}</string>
			<key>sourceSize</key>
			<string>{66,31}</string>
		</dict>
		<key>pic_pipei_dfss_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{822,992},{21,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,35}}</string>
			<key>sourceSize</key>
			<string>{21,35}</string>
		</dict>
		<key>pic_pipei_dfss_1p.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,990},{36,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,27}}</string>
			<key>sourceSize</key>
			<string>{36,27}</string>
		</dict>
		<key>pic_pipei_dfss_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,903},{29,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,37}}</string>
			<key>sourceSize</key>
			<string>{29,37}</string>
		</dict>
		<key>pic_pipei_dfss_2p.png</key>
		<dict>
			<key>frame</key>
			<string>{{780,978},{40,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,28}}</string>
			<key>sourceSize</key>
			<string>{40,28}</string>
		</dict>
		<key>pic_pipei_dfss_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,988},{29,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,36}}</string>
			<key>sourceSize</key>
			<string>{29,36}</string>
		</dict>
		<key>pic_pipei_dfss_3p.png</key>
		<dict>
			<key>frame</key>
			<string>{{735,979},{40,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,28}}</string>
			<key>sourceSize</key>
			<string>{40,28}</string>
		</dict>
		<key>pic_pipei_dfss_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,718},{29,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,35}}</string>
			<key>sourceSize</key>
			<string>{29,35}</string>
		</dict>
		<key>pic_pipei_dfss_4p.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,948},{40,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,27}}</string>
			<key>sourceSize</key>
			<string>{40,27}</string>
		</dict>
		<key>pic_pipei_dfss_5p.png</key>
		<dict>
			<key>frame</key>
			<string>{{548,988},{40,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,27}}</string>
			<key>sourceSize</key>
			<string>{40,27}</string>
		</dict>
		<key>pic_pipei_dfss_6p.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,987},{40,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,28}}</string>
			<key>sourceSize</key>
			<string>{40,28}</string>
		</dict>
		<key>pic_pipei_dfss_7p.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,663},{37,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,27}}</string>
			<key>sourceSize</key>
			<string>{37,27}</string>
		</dict>
		<key>pic_pipei_dfss_8p.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,986},{40,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,28}}</string>
			<key>sourceSize</key>
			<string>{40,28}</string>
		</dict>
		<key>pic_pipei_dfss_gongcd.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,835},{88,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,96}}</string>
			<key>sourceSize</key>
			<string>{88,96}</string>
		</dict>
		<key>pic_pipei_dfss_shijiandi.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,989},{133,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,26}}</string>
			<key>sourceSize</key>
			<string>{133,26}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>RealTimeChampion0.png</string>
		<key>size</key>
		<string>{909,1019}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>RealTimeChampion0.png</string>
	</dict>
</dict>
</plist>
