<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bg_renwuliandituimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{1802,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1802,640}}</string>
			<key>sourceSize</key>
			<string>{1802,640}</string>
		</dict>
		<key>deng_renwuliandituimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1912},{127,248}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,248}}</string>
			<key>sourceSize</key>
			<string>{127,248}</string>
		</dict>
		<key>dgss_renwuliandituimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{757,1417},{111,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,111}}</string>
			<key>sourceSize</key>
			<string>{111,111}</string>
		</dict>
		<key>dian_renwuliandituimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{587,2011},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>fb_renwuliandituimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,1806},{283,199}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{283,199}}</string>
			<key>sourceSize</key>
			<string>{283,199}</string>
		</dict>
		<key>gonggao_renwuliandituimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{252,1912},{203,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,128}}</string>
			<key>sourceSize</key>
			<string>{203,128}</string>
		</dict>
		<key>guangtiao_renwuliandituimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{938,576},{163,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,51}}</string>
			<key>sourceSize</key>
			<string>{163,51}</string>
		</dict>
		<key>guangyun_renwuliandituimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,1417},{111,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,111}}</string>
			<key>sourceSize</key>
			<string>{111,111}</string>
		</dict>
		<key>huatan_renwuliandituimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,2},{572,374}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{572,374}}</string>
			<key>sourceSize</key>
			<string>{572,374}</string>
		</dict>
		<key>liuxing_renwuliandituimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,2007},{143,21}}</string>
			<key>offset</key>
			<string>{-4,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{143,21}}</string>
			<key>sourceSize</key>
			<string>{155,29}</string>
		</dict>
		<key>mao_renwuliandituimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{820,1003},{158,174}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,174}}</string>
			<key>sourceSize</key>
			<string>{158,174}</string>
		</dict>
		<key>mask01_renwuliandituimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1806},{609,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{609,104}}</string>
			<key>sourceSize</key>
			<string>{609,104}</string>
		</dict>
		<key>mask02_renwuliandituimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{938,741},{155,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,77}}</string>
			<key>sourceSize</key>
			<string>{155,77}</string>
		</dict>
		<key>men.png_renwuliandituimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,576},{292,425}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{292,425}}</string>
			<key>sourceSize</key>
			<string>{292,425}</string>
		</dict>
		<key>mentiaoguang_renwuliandituimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{587,1912},{15,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,97}}</string>
			<key>sourceSize</key>
			<string>{15,97}</string>
		</dict>
		<key>shendneg_renwuliandituimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,1219},{196,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,180}}</string>
			<key>sourceSize</key>
			<string>{196,180}</string>
		</dict>
		<key>smoke_renwuliandituimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,1912},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>wenhao_renwuliandituimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,1003},{214,174}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,174}}</string>
			<key>sourceSize</key>
			<string>{214,174}</string>
		</dict>
		<key>xing01_renwuliandituimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{938,898},{43,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,43}}</string>
			<key>sourceSize</key>
			<string>{43,43}</string>
		</dict>
		<key>xiyuanguang_renwuliandituimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,1530},{84,122}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,122}}</string>
			<key>sourceSize</key>
			<string>{88,126}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>renwuliandituimage.png</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>renwuliandituimage.png</string>
	</dict>
</dict>
</plist>
