<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bg_xinpata_tashen_4qi_quan.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{956,223}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{956,223}}</string>
			<key>sourceSize</key>
			<string>{956,223}</string>
		</dict>
		<key>bg_xinpata_tashen_4qi_zhuzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,227},{864,643}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,0},{864,643}}</string>
			<key>sourceSize</key>
			<string>{894,643}</string>
		</dict>
		<key>pic_xinpata_huoba_5qi_deng1.png</key>
		<dict>
			<key>frame</key>
			<string>{{937,227},{65,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,18}}</string>
			<key>sourceSize</key>
			<string>{65,18}</string>
		</dict>
		<key>pic_xinpata_huoba_5qi_deng2.png</key>
		<dict>
			<key>frame</key>
			<string>{{868,253},{65,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,25}}</string>
			<key>sourceSize</key>
			<string>{65,25}</string>
		</dict>
		<key>pic_xinpata_tanchuang_fengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{957,227},{1,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,9}}</string>
			<key>sourceSize</key>
			<string>{1,9}</string>
		</dict>
		<key>pic_xpt_cxjd_cjxd_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{868,227},{67,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,24}}</string>
			<key>sourceSize</key>
			<string>{67,24}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ClimbTower60.png</string>
		<key>size</key>
		<string>{960,872}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ClimbTower60.png</string>
	</dict>
</dict>
</plist>
