<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bronzehero_100103.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1112},{172,276}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,0},{172,276}}</string>
			<key>sourceSize</key>
			<string>{220,276}</string>
		</dict>
		<key>bronzehero_100106.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,556},{176,276}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,0},{176,276}}</string>
			<key>sourceSize</key>
			<string>{220,276}</string>
		</dict>
		<key>bronzehero_100108.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,834},{174,276}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,0},{174,276}}</string>
			<key>sourceSize</key>
			<string>{220,276}</string>
		</dict>
		<key>bronzehero_100113.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{180,276}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,0},{180,276}}</string>
			<key>sourceSize</key>
			<string>{220,276}</string>
		</dict>
		<key>bronzehero_100117.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,280},{178,274}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,1},{178,274}}</string>
			<key>sourceSize</key>
			<string>{220,276}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Bronze_t210.png</string>
		<key>size</key>
		<string>{184,1390}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>Bronze_t210.png</string>
	</dict>
</dict>
</plist>
