<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>jisi_putongbisha_dimianshandian_00001_jisishiwubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{310,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,143}}</string>
			<key>sourceSize</key>
			<string>{310,143}</string>
		</dict>
		<key>jisi_putongbisha_dimianshandian_00002_jisishiwubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,2},{308,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{308,166}}</string>
			<key>sourceSize</key>
			<string>{308,166}</string>
		</dict>
		<key>jisi_putongbisha_dimianshandian_00003_jisishiwubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,147},{307,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{307,192}}</string>
			<key>sourceSize</key>
			<string>{307,194}</string>
		</dict>
		<key>jisi_putongbisha_dimianshandian_00004_jisishiwubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{311,170},{296,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{296,193}}</string>
			<key>sourceSize</key>
			<string>{304,193}</string>
		</dict>
		<key>jisi_putongbisha_dimianshandian_00005_jisishiwubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{609,184},{294,189}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{294,189}}</string>
			<key>sourceSize</key>
			<string>{304,189}</string>
		</dict>
		<key>jisi_putongbisha_dimianshandian_00006_jisishiwubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,341},{296,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{296,182}}</string>
			<key>sourceSize</key>
			<string>{300,182}</string>
		</dict>
		<key>jisi_putongbisha_dimianshandian_00007_jisishiwubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{624,2},{298,180}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,0},{298,180}}</string>
			<key>sourceSize</key>
			<string>{308,180}</string>
		</dict>
		<key>jisi_putongbisha_dimianshandian_00008_jisishiwubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,365},{292,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{292,200}}</string>
			<key>sourceSize</key>
			<string>{296,200}</string>
		</dict>
		<key>jisi_putongbisha_dimianshandian_00009_jisishiwubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,707},{246,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{246,138}}</string>
			<key>sourceSize</key>
			<string>{246,138}</string>
		</dict>
		<key>jisi_putongbisha_shoushandian_00000_jisishiwubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{817,375},{161,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,165}}</string>
			<key>sourceSize</key>
			<string>{161,165}</string>
		</dict>
		<key>jisi_putongbisha_shoushandian_00002_jisishiwubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{594,557},{154,163}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{154,163}}</string>
			<key>sourceSize</key>
			<string>{160,165}</string>
		</dict>
		<key>jisi_putongbisha_shoushandian_00004_jisishiwubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{815,856},{157,156}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{157,156}}</string>
			<key>sourceSize</key>
			<string>{161,158}</string>
		</dict>
		<key>jisi_putongbisha_shoushandian_00006_jisishiwubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,856},{161,160}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{161,160}}</string>
			<key>sourceSize</key>
			<string>{163,160}</string>
		</dict>
		<key>jisi_putongbisha_shoushandian_00008_jisishiwubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{817,538},{154,163}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{154,163}}</string>
			<key>sourceSize</key>
			<string>{160,165}</string>
		</dict>
		<key>jisi_putongbisha_shoushandian_00010_jisishiwubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{657,856},{157,156}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{157,156}}</string>
			<key>sourceSize</key>
			<string>{161,158}</string>
		</dict>
		<key>jisi_putongbisha_shoushandian_00012_jisishiwubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{759,694},{161,160}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{161,160}}</string>
			<key>sourceSize</key>
			<string>{163,160}</string>
		</dict>
		<key>jisi_putongbisha_weiyi_00003_jisishiwubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{905,196},{121,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,101}}</string>
			<key>sourceSize</key>
			<string>{121,101}</string>
		</dict>
		<key>jisi_putongbisha_weiyi_00004_jisishiwubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,707},{244,172}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{244,172}}</string>
			<key>sourceSize</key>
			<string>{248,172}</string>
		</dict>
		<key>jisi_putongbisha_weiyi_00005_jisishiwubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,698},{241,177}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,177}}</string>
			<key>sourceSize</key>
			<string>{243,177}</string>
		</dict>
		<key>jisi_putongbisha_weiyi_00006_jisishiwubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,525},{254,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{254,180}}</string>
			<key>sourceSize</key>
			<string>{254,180}</string>
		</dict>
		<key>jisi_putongbisha_weiyi_00007_jisishiwubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{594,375},{221,180}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,180}}</string>
			<key>sourceSize</key>
			<string>{223,180}</string>
		</dict>
		<key>jisi_putongbisha_weiyi_00008_jisishiwubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,567},{205,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,129}}</string>
			<key>sourceSize</key>
			<string>{205,129}</string>
		</dict>
		<key>jisi_putongbisha_weiyi_00009_jisishiwubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{924,2},{192,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{192,82}}</string>
			<key>sourceSize</key>
			<string>{196,82}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>jisishiwubiimage.png</string>
		<key>scale</key>
		<real>0.57</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>jisishiwubiimage.png</string>
	</dict>
</dict>
</plist>
