<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>largepic_100093.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{582,598}}</string>
			<key>offset</key>
			<string>{0,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{145,42},{582,598}}</string>
			<key>sourceSize</key>
			<string>{872,640}</string>
		</dict>
		<key>longpic_100093.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,602},{159,274}}</string>
			<key>offset</key>
			<string>{-2,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,13},{159,274}}</string>
			<key>sourceSize</key>
			<string>{193,288}</string>
		</dict>
		<key>middlepic_100093.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,878},{183,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,71}}</string>
			<key>sourceSize</key>
			<string>{183,71}</string>
		</dict>
		<key>namepic_100093.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,878},{152,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,98}}</string>
			<key>sourceSize</key>
			<string>{152,98}</string>
		</dict>
		<key>skillmaxpic_100093.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,602},{262,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{262,52}}</string>
			<key>sourceSize</key>
			<string>{262,52}</string>
		</dict>
		<key>skillnamepic_100093.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,978},{206,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,40}}</string>
			<key>sourceSize</key>
			<string>{206,40}</string>
		</dict>
		<key>skillsmaxpic_100093.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,951},{238,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{238,52}}</string>
			<key>sourceSize</key>
			<string>{238,52}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>heros_100093.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>heros_100093.png</string>
	</dict>
</dict>
</plist>
