<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>largepic_100162.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{502,634}}</string>
			<key>offset</key>
			<string>{-6,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{179,6},{502,634}}</string>
			<key>sourceSize</key>
			<string>{872,640}</string>
		</dict>
		<key>longpic_100162.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,740},{147,284}}</string>
			<key>offset</key>
			<string>{-7,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,3},{147,284}}</string>
			<key>sourceSize</key>
			<string>{193,288}</string>
		</dict>
		<key>middlepic_100162.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,948},{139,71}}</string>
			<key>offset</key>
			<string>{-16,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{139,71}}</string>
			<key>sourceSize</key>
			<string>{183,71}</string>
		</dict>
		<key>namepic_100162.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,638},{471,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{471,100}}</string>
			<key>sourceSize</key>
			<string>{471,100}</string>
		</dict>
		<key>skillmaxpic_100162.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,740},{281,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,52}}</string>
			<key>sourceSize</key>
			<string>{281,52}</string>
		</dict>
		<key>skillnamepic_100162.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,740},{206,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,42}}</string>
			<key>sourceSize</key>
			<string>{206,42}</string>
		</dict>
		<key>skillsmaxpic_100162.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,889},{283,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{283,52}}</string>
			<key>sourceSize</key>
			<string>{283,52}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>heros_100162.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>heros_100162.png</string>
	</dict>
</dict>
</plist>
