<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wy_10_10_84956_sznwjchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,88},{199,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,69}}</string>
			<key>sourceSize</key>
			<string>{199,69}</string>
		</dict>
		<key>wy_11_11_27761_sznwjchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,2},{208,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{208,84}}</string>
			<key>sourceSize</key>
			<string>{208,84}</string>
		</dict>
		<key>wy_12_12_2112_sznwjchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,99},{150,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,65}}</string>
			<key>sourceSize</key>
			<string>{150,65}</string>
		</dict>
		<key>wy_1_1_22164_sznwjchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,171},{183,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,54}}</string>
			<key>sourceSize</key>
			<string>{183,54}</string>
		</dict>
		<key>wy_28_28_55954_sznwjchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,198},{119,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,117}}</string>
			<key>sourceSize</key>
			<string>{119,117}</string>
		</dict>
		<key>wy_2_2_5943_sznwjchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{261,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{261,95}}</string>
			<key>sourceSize</key>
			<string>{261,95}</string>
		</dict>
		<key>wy_30_30_82170_sznwjchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,268},{111,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,111}}</string>
			<key>sourceSize</key>
			<string>{111,111}</string>
		</dict>
		<key>wy_31_31_14348_sznwjchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,24},{54,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,18}}</string>
			<key>sourceSize</key>
			<string>{54,18}</string>
		</dict>
		<key>wy_36_36_68628_sznwjchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,227},{40,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,39}}</string>
			<key>sourceSize</key>
			<string>{40,39}</string>
		</dict>
		<key>wy_37_37_62818_sznwjchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,245},{53,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,53}}</string>
			<key>sourceSize</key>
			<string>{53,53}</string>
		</dict>
		<key>wy_3_3_16770_sznwjchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,99},{189,70}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{189,70}}</string>
			<key>sourceSize</key>
			<string>{189,74}</string>
		</dict>
		<key>wy_4_4_31476_sznwjchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,159},{130,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,37}}</string>
			<key>sourceSize</key>
			<string>{130,37}</string>
		</dict>
		<key>wy_5_5_26036_sznwjchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,227},{142,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,42}}</string>
			<key>sourceSize</key>
			<string>{142,42}</string>
		</dict>
		<key>wy_6_6_49091_sznwjchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{466,88},{155,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,42}}</string>
			<key>sourceSize</key>
			<string>{155,42}</string>
		</dict>
		<key>wy_7_7_41375_sznwjchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,2},{29,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,20}}</string>
			<key>sourceSize</key>
			<string>{29,20}</string>
		</dict>
		<key>wy_8_8_29603_sznwjchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{381,220},{55,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,62}}</string>
			<key>sourceSize</key>
			<string>{55,62}</string>
		</dict>
		<key>wy_9_9_49982_sznwjchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,159},{71,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,59}}</string>
			<key>sourceSize</key>
			<string>{71,59}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>sznwjchimage.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>sznwjchimage.png</string>
	</dict>
</dict>
</plist>
