<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_jjsd_daohang_fanhui_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{596,1106},{119,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,52}}</string>
			<key>sourceSize</key>
			<string>{119,52}</string>
		</dict>
		<key>btn_jjsd_daohang_fanhui_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,846},{119,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,52}}</string>
			<key>sourceSize</key>
			<string>{119,52}</string>
		</dict>
		<key>btn_jjsd_daohang_jiahao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{895,1182},{39,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,1},{39,39}}</string>
			<key>sourceSize</key>
			<string>{53,41}</string>
		</dict>
		<key>btn_jjsd_daohang_jiahao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{854,1182},{39,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,1},{39,39}}</string>
			<key>sourceSize</key>
			<string>{53,41}</string>
		</dict>
		<key>btn_jjsd_daohang_tanhao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{942,1102},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,42}}</string>
			<key>sourceSize</key>
			<string>{42,42}</string>
		</dict>
		<key>btn_jjsd_daohang_tanhao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{953,1052},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,42}}</string>
			<key>sourceSize</key>
			<string>{42,42}</string>
		</dict>
		<key>btn_jjsd_tanchuang_guanbi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{807,1151},{45,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{45,47}}</string>
			<key>sourceSize</key>
			<string>{47,47}</string>
		</dict>
		<key>btn_jjsd_tanchuang_guanbi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{760,1169},{45,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{45,47}}</string>
			<key>sourceSize</key>
			<string>{47,47}</string>
		</dict>
		<key>btn_jjsd_xiariji_tanhao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{894,447},{19,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,19}}</string>
			<key>sourceSize</key>
			<string>{19,19}</string>
		</dict>
		<key>btn_jjsd_xiariji_tanhao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{786,1028},{19,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,19}}</string>
			<key>sourceSize</key>
			<string>{19,19}</string>
		</dict>
		<key>btn_qhjh_daohang_tanhao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{975,1182},{37,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,37}}</string>
			<key>sourceSize</key>
			<string>{37,37}</string>
		</dict>
		<key>btn_qhjh_daohang_tanhao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{936,1182},{37,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,37}}</string>
			<key>sourceSize</key>
			<string>{37,37}</string>
		</dict>
		<key>pic_jjqd_dtc_jljl_mcjl_huawen.png</key>
		<dict>
			<key>frame</key>
			<string>{{1005,766},{247,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{247,10}}</string>
			<key>sourceSize</key>
			<string>{247,10}</string>
		</dict>
		<key>pic_jjqd_dtc_jljl_mcjl_kong_huawen.png</key>
		<dict>
			<key>frame</key>
			<string>{{596,1028},{103,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,76}}</string>
			<key>sourceSize</key>
			<string>{103,76}</string>
		</dict>
		<key>pic_jjqd_ztc_wjxx_fszr_aocao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,104},{605,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{605,142}}</string>
			<key>sourceSize</key>
			<string>{605,142}</string>
		</dict>
		<key>pic_jjqd_ztc_wjxx_fszr_huawen.png</key>
		<dict>
			<key>frame</key>
			<string>{{1005,388},{376,9}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,1},{376,9}}</string>
			<key>sourceSize</key>
			<string>{450,11}</string>
		</dict>
		<key>pic_jjsd_duihaoduihao.png</key>
		<dict>
			<key>frame</key>
			<string>{{970,1008},{32,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,33}}</string>
			<key>sourceSize</key>
			<string>{32,33}</string>
		</dict>
		<key>pic_jjsd_jianglizhanshi_icon1.png</key>
		<dict>
			<key>frame</key>
			<string>{{717,1105},{62,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,66}}</string>
			<key>sourceSize</key>
			<string>{62,66}</string>
		</dict>
		<key>pic_jjsd_jianglizhanshi_icon2.png</key>
		<dict>
			<key>frame</key>
			<string>{{704,1169},{54,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,50}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
		<key>pic_jjsd_jianglizhanshi_icon3.png</key>
		<dict>
			<key>frame</key>
			<string>{{886,1052},{65,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,48}}</string>
			<key>sourceSize</key>
			<string>{65,48}</string>
		</dict>
		<key>pic_jjsd_jianglizhanshi_jiangpindi1.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,1027},{136,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,178}}</string>
			<key>sourceSize</key>
			<string>{136,178}</string>
		</dict>
		<key>pic_jjsd_jianglizhanshi_jiangpindi2.png</key>
		<dict>
			<key>frame</key>
			<string>{{815,941},{153,109}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,109}}</string>
			<key>sourceSize</key>
			<string>{155,111}</string>
		</dict>
		<key>pic_jjsd_jianglizhanshi_jiangpindi3.png</key>
		<dict>
			<key>frame</key>
			<string>{{704,474},{105,101}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,101}}</string>
			<key>sourceSize</key>
			<string>{107,103}</string>
		</dict>
		<key>pic_jjsd_jianglizhanshi_qiandi.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,1195},{55,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,21}}</string>
			<key>sourceSize</key>
			<string>{55,21}</string>
		</dict>
		<key>pic_jjsd_jinbiaosai_biaoqian.png</key>
		<dict>
			<key>frame</key>
			<string>{{631,593},{182,433}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,20},{182,433}}</string>
			<key>sourceSize</key>
			<string>{188,471}</string>
		</dict>
		<key>pic_jjsd_jinbiaosai_dierdi.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,248},{653,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{653,72}}</string>
			<key>sourceSize</key>
			<string>{653,74}</string>
		</dict>
		<key>pic_jjsd_jinbiaosai_disandi.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,248},{653,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{653,72}}</string>
			<key>sourceSize</key>
			<string>{653,74}</string>
		</dict>
		<key>pic_jjsd_jinbiaosai_diyidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,248},{653,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{653,72}}</string>
			<key>sourceSize</key>
			<string>{653,74}</string>
		</dict>
		<key>pic_jjsd_jinbiaosai_jifendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{379,1195},{99,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,26}}</string>
			<key>sourceSize</key>
			<string>{99,26}</string>
		</dict>
		<key>pic_jjsd_jinbiaosai_qitadi.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,248},{651,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{651,72}}</string>
			<key>sourceSize</key>
			<string>{653,74}</string>
		</dict>
		<key>pic_jjsd_jinbiaosai_wenzidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{590,248},{650,39}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{650,39}}</string>
			<key>sourceSize</key>
			<string>{652,39}</string>
		</dict>
		<key>pic_jjsd_jinbiaosai_zijidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,248},{670,72}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,20},{670,72}}</string>
			<key>sourceSize</key>
			<string>{710,110}</string>
		</dict>
		<key>pic_jjsd_jinbiaosai_zijixuanzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{700,100}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,4},{700,100}}</string>
			<key>sourceSize</key>
			<string>{710,110}</string>
		</dict>
		<key>pic_jjsd_jindutiao_dengji.png</key>
		<dict>
			<key>frame</key>
			<string>{{970,941},{65,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,16},{65,33}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>pic_jjsd_jingjichang_dierdi.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,903},{136,253}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{136,253}}</string>
			<key>sourceSize</key>
			<string>{136,261}</string>
		</dict>
		<key>pic_jjsd_jingjichang_disandi.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,903},{136,255}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{136,255}}</string>
			<key>sourceSize</key>
			<string>{136,261}</string>
		</dict>
		<key>pic_jjsd_jingjichang_diyidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,920},{136,255}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{136,255}}</string>
			<key>sourceSize</key>
			<string>{136,261}</string>
		</dict>
		<key>pic_jjsd_jingjichang_fengedi.png</key>
		<dict>
			<key>frame</key>
			<string>{{894,2},{443,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{443,69}}</string>
			<key>sourceSize</key>
			<string>{443,69}</string>
		</dict>
		<key>pic_jjsd_jingjichang_mingchengdi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1177},{150,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,31}}</string>
			<key>sourceSize</key>
			<string>{150,31}</string>
		</dict>
		<key>pic_jjsd_jingjichang_sanjiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1013,2},{8,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,9}}</string>
			<key>sourceSize</key>
			<string>{8,9}</string>
		</dict>
		<key>pic_jjsd_jingjichang_shijiandi.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,2},{398,31}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{398,31}}</string>
			<key>sourceSize</key>
			<string>{400,31}</string>
		</dict>
		<key>pic_jjsd_jingjichang_tipsdi.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,1160},{223,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{223,54}}</string>
			<key>sourceSize</key>
			<string>{223,54}</string>
		</dict>
		<key>pic_jjsd_jingjichang_zhandoulidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{786,1052},{98,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{98,40}}</string>
			<key>sourceSize</key>
			<string>{98,44}</string>
		</dict>
		<key>pic_jjsd_jingjichang_zhandoutb_bai.png</key>
		<dict>
			<key>frame</key>
			<string>{{785,1151},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>pic_jjsd_jingjichang_zhandoutb_hei.png</key>
		<dict>
			<key>frame</key>
			<string>{{1005,1015},{16,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,15}}</string>
			<key>sourceSize</key>
			<string>{16,15}</string>
		</dict>
		<key>pic_jjsd_jingjichang_zhandoutb_ziji.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,901},{17,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{17,16}}</string>
			<key>sourceSize</key>
			<string>{21,20}</string>
		</dict>
		<key>pic_jjsd_jingjichang_zijidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{631,104},{487,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{487,71}}</string>
			<key>sourceSize</key>
			<string>{487,73}</string>
		</dict>
		<key>pic_jjsd_renwu_jindutiao_dadao.png</key>
		<dict>
			<key>frame</key>
			<string>{{609,104},{52,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,20}}</string>
			<key>sourceSize</key>
			<string>{52,20}</string>
		</dict>
		<key>pic_jjsd_renwu_jindutiao_jindudi.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,901},{17,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,39}}</string>
			<key>sourceSize</key>
			<string>{17,39}</string>
		</dict>
		<key>pic_jjsd_renwu_jindutiao_jinduline.png</key>
		<dict>
			<key>frame</key>
			<string>{{998,2},{384,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,13}}</string>
			<key>sourceSize</key>
			<string>{384,13}</string>
		</dict>
		<key>pic_jjsd_renwu_jindutiao_tubiao_dadao.png</key>
		<dict>
			<key>frame</key>
			<string>{{885,1102},{55,55}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,10},{55,55}}</string>
			<key>sourceSize</key>
			<string>{83,75}</string>
		</dict>
		<key>pic_jjsd_renwu_jindutiao_tubiao_weidadao.png</key>
		<dict>
			<key>frame</key>
			<string>{{786,1094},{55,55}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,10},{55,55}}</string>
			<key>sourceSize</key>
			<string>{83,75}</string>
		</dict>
		<key>pic_jjsd_renwu_jindutiao_tubiao_xuanzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{701,1028},{83,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,75}}</string>
			<key>sourceSize</key>
			<string>{83,75}</string>
		</dict>
		<key>pic_jjsd_renwu_jindutiao_weidadao.png</key>
		<dict>
			<key>frame</key>
			<string>{{609,158},{51,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{51,18}}</string>
			<key>sourceSize</key>
			<string>{53,20}</string>
		</dict>
		<key>pic_jjsd_renwu_neirongdi.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,248},{651,90}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{651,90}}</string>
			<key>sourceSize</key>
			<string>{653,92}</string>
		</dict>
		<key>pic_jjsd_renwu_shijiandi.png</key>
		<dict>
			<key>frame</key>
			<string>{{379,1165},{323,28}}</string>
			<key>offset</key>
			<string>{-44,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{323,28}}</string>
			<key>sourceSize</key>
			<string>{411,32}</string>
		</dict>
		<key>pic_jjsd_tanchuang_wenzidi_jiugong.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,402},{70,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{70,28}}</string>
			<key>sourceSize</key>
			<string>{70,34}</string>
		</dict>
		<key>pic_jjsd_tiaozhuanjiemian_paihang_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{942,1146},{34,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{34,42}}</string>
			<key>sourceSize</key>
			<string>{50,42}</string>
		</dict>
		<key>pic_jjsd_tiaozhuanjiemian_paihang_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{843,1094},{43,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,40}}</string>
			<key>sourceSize</key>
			<string>{43,40}</string>
		</dict>
		<key>pic_jjsd_tiaozhuanjiemian_paihang_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{986,1096},{35,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,37}}</string>
			<key>sourceSize</key>
			<string>{35,37}</string>
		</dict>
		<key>pic_jjsd_xiariji_doujidahui_biaoqian.png</key>
		<dict>
			<key>frame</key>
			<string>{{815,474},{188,465}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,465}}</string>
			<key>sourceSize</key>
			<string>{188,465}</string>
		</dict>
		<key>pic_jjsd_xiariji_tips_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,901},{213,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,124}}</string>
			<key>sourceSize</key>
			<string>{213,124}</string>
		</dict>
		<key>pic_jjsd_xiariji_xiangcaogedou_biaoqian.png</key>
		<dict>
			<key>frame</key>
			<string>{{704,2},{188,470}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,470}}</string>
			<key>sourceSize</key>
			<string>{188,470}</string>
		</dict>
		<key>pic_jjsd_zuocebtn_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,248},{124,596}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,596}}</string>
			<key>sourceSize</key>
			<string>{124,598}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>CompetitionFestival0.png</string>
		<key>size</key>
		<string>{1023,1223}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>CompetitionFestival0.png</string>
	</dict>
</dict>
</plist>
