<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>YGNSXV_a_yj01.png</key>
		<dict>
			<key>frame</key>
			<string>{{984,824},{50,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,38}}</string>
			<key>sourceSize</key>
			<string>{50,38}</string>
		</dict>
		<key>YGNSXV_e3_yb01.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,487},{50,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,53}}</string>
			<key>sourceSize</key>
			<string>{50,53}</string>
		</dict>
		<key>YGNS_a_tf01.png</key>
		<dict>
			<key>frame</key>
			<string>{{984,602},{38,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,56}}</string>
			<key>sourceSize</key>
			<string>{38,56}</string>
		</dict>
		<key>YGNS_a_tf04.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,964},{16,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,36}}</string>
			<key>sourceSize</key>
			<string>{16,36}</string>
		</dict>
		<key>YGNS_a_yd03.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,524},{19,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,12}}</string>
			<key>sourceSize</key>
			<string>{19,12}</string>
		</dict>
		<key>YGNS_a_yj01.png</key>
		<dict>
			<key>frame</key>
			<string>{{984,824},{50,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,38}}</string>
			<key>sourceSize</key>
			<string>{50,38}</string>
		</dict>
		<key>YGNS_a_zj01.png</key>
		<dict>
			<key>frame</key>
			<string>{{756,833},{52,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,25}}</string>
			<key>sourceSize</key>
			<string>{52,25}</string>
		</dict>
		<key>YGNS_a_zt02.png</key>
		<dict>
			<key>frame</key>
			<string>{{696,935},{54,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,87}}</string>
			<key>sourceSize</key>
			<string>{54,87}</string>
		</dict>
		<key>YGNS_atk_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{654,606},{135,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,83}}</string>
			<key>sourceSize</key>
			<string>{135,83}</string>
		</dict>
		<key>YGNS_atk_28.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,487},{50,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,60}}</string>
			<key>sourceSize</key>
			<string>{50,60}</string>
		</dict>
		<key>YGNS_atk_30.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{184,279}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,279}}</string>
			<key>sourceSize</key>
			<string>{184,279}</string>
		</dict>
		<key>YGNS_atk_32.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,652},{112,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,89}}</string>
			<key>sourceSize</key>
			<string>{112,89}</string>
		</dict>
		<key>YGNS_atk_34.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,301},{92,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,73}}</string>
			<key>sourceSize</key>
			<string>{92,73}</string>
		</dict>
		<key>YGNS_atk_43.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,278},{172,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,79}}</string>
			<key>sourceSize</key>
			<string>{172,79}</string>
		</dict>
		<key>YGNS_atk_47.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,538},{190,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,107}}</string>
			<key>sourceSize</key>
			<string>{190,107}</string>
		</dict>
		<key>YGNS_atk_50.png</key>
		<dict>
			<key>frame</key>
			<string>{{954,971},{51,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,59}}</string>
			<key>sourceSize</key>
			<string>{51,59}</string>
		</dict>
		<key>YGNS_atk_54.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,2},{174,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,128}}</string>
			<key>sourceSize</key>
			<string>{174,128}</string>
		</dict>
		<key>YGNS_atk_56.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,282},{255,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,85}}</string>
			<key>sourceSize</key>
			<string>{255,85}</string>
		</dict>
		<key>YGNS_atk_66.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,576},{75,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,73}}</string>
			<key>sourceSize</key>
			<string>{75,73}</string>
		</dict>
		<key>YGNS_atk_67.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,180},{120,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,73}}</string>
			<key>sourceSize</key>
			<string>{120,73}</string>
		</dict>
		<key>YGNS_atk_84.png</key>
		<dict>
			<key>frame</key>
			<string>{{549,217},{98,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,63}}</string>
			<key>sourceSize</key>
			<string>{98,63}</string>
		</dict>
		<key>YGNS_atk_85.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,282},{204,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,122}}</string>
			<key>sourceSize</key>
			<string>{204,122}</string>
		</dict>
		<key>YGNS_atk_87.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,937},{51,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,85}}</string>
			<key>sourceSize</key>
			<string>{51,85}</string>
		</dict>
		<key>YGNS_atk_90.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,487},{57,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,50}}</string>
			<key>sourceSize</key>
			<string>{57,50}</string>
		</dict>
		<key>YGNS_beijgd_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{987,128},{34,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,26}}</string>
			<key>sourceSize</key>
			<string>{34,26}</string>
		</dict>
		<key>YGNS_beijgd_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,618},{56,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,33}}</string>
			<key>sourceSize</key>
			<string>{56,33}</string>
		</dict>
		<key>YGNS_beijgd_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{851,652},{132,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,123}}</string>
			<key>sourceSize</key>
			<string>{132,123}</string>
		</dict>
		<key>YGNS_beijgd_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,394},{90,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,73}}</string>
			<key>sourceSize</key>
			<string>{90,73}</string>
		</dict>
		<key>YGNS_beijgd_29.png</key>
		<dict>
			<key>frame</key>
			<string>{{984,770},{53,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,38}}</string>
			<key>sourceSize</key>
			<string>{53,38}</string>
		</dict>
		<key>YGNS_beijgd_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{984,659},{55,38}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{55,38}}</string>
			<key>sourceSize</key>
			<string>{55,40}</string>
		</dict>
		<key>YGNS_beijgd_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,792},{230,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{230,103}}</string>
			<key>sourceSize</key>
			<string>{230,103}</string>
		</dict>
		<key>YGNS_c1_tf02.png</key>
		<dict>
			<key>frame</key>
			<string>{{954,930},{25,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,40}}</string>
			<key>sourceSize</key>
			<string>{25,40}</string>
		</dict>
		<key>YGNS_c1_tf04.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,524},{13,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,37}}</string>
			<key>sourceSize</key>
			<string>{13,37}</string>
		</dict>
		<key>YGNS_c2_tou01.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,937},{84,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,132}}</string>
			<key>sourceSize</key>
			<string>{84,132}</string>
		</dict>
		<key>YGNS_c2_zs01.png</key>
		<dict>
			<key>frame</key>
			<string>{{987,49},{43,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,34}}</string>
			<key>sourceSize</key>
			<string>{43,34}</string>
		</dict>
		<key>YGNS_chuchang_29.png</key>
		<dict>
			<key>frame</key>
			<string>{{568,469},{85,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,130}}</string>
			<key>sourceSize</key>
			<string>{85,130}</string>
		</dict>
		<key>YGNS_chuchang_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{421,729},{87,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,145}}</string>
			<key>sourceSize</key>
			<string>{87,145}</string>
		</dict>
		<key>YGNS_chuchang_30.png</key>
		<dict>
			<key>frame</key>
			<string>{{567,737},{86,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,121}}</string>
			<key>sourceSize</key>
			<string>{86,121}</string>
		</dict>
		<key>YGNS_chuchang_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,784},{152,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,155}}</string>
			<key>sourceSize</key>
			<string>{152,155}</string>
		</dict>
		<key>YGNS_chuchang_58.png</key>
		<dict>
			<key>frame</key>
			<string>{{851,883},{139,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,102}}</string>
			<key>sourceSize</key>
			<string>{139,102}</string>
		</dict>
		<key>YGNS_chuchang_69.png</key>
		<dict>
			<key>frame</key>
			<string>{{418,217},{64,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,73}}</string>
			<key>sourceSize</key>
			<string>{64,73}</string>
		</dict>
		<key>YGNS_chuchang_73.png</key>
		<dict>
			<key>frame</key>
			<string>{{986,229},{36,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,146}}</string>
			<key>sourceSize</key>
			<string>{36,146}</string>
		</dict>
		<key>YGNS_d1_yt01.png</key>
		<dict>
			<key>frame</key>
			<string>{{984,453},{38,74}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{38,74}}</string>
			<key>sourceSize</key>
			<string>{40,74}</string>
		</dict>
		<key>YGNS_d1_zt01.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,231},{60,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,50}}</string>
			<key>sourceSize</key>
			<string>{60,50}</string>
		</dict>
		<key>YGNS_d2_tun01.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,217},{56,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,64}}</string>
			<key>sourceSize</key>
			<string>{56,64}</string>
		</dict>
		<key>YGNS_d3_tou01.png</key>
		<dict>
			<key>frame</key>
			<string>{{648,186},{95,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,89}}</string>
			<key>sourceSize</key>
			<string>{95,89}</string>
		</dict>
		<key>YGNS_die_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,210},{173,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,67}}</string>
			<key>sourceSize</key>
			<string>{173,67}</string>
		</dict>
		<key>YGNS_die_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{984,376},{76,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,38}}</string>
			<key>sourceSize</key>
			<string>{76,38}</string>
		</dict>
		<key>YGNS_die_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{393,472},{174,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,65}}</string>
			<key>sourceSize</key>
			<string>{174,65}</string>
		</dict>
		<key>YGNS_e3_jn01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,538},{253,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,84}}</string>
			<key>sourceSize</key>
			<string>{253,84}</string>
		</dict>
		<key>YGNS_e3_tou01.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,937},{105,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,85}}</string>
			<key>sourceSize</key>
			<string>{105,85}</string>
		</dict>
		<key>YGNS_e3_yb01.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,487},{50,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,53}}</string>
			<key>sourceSize</key>
			<string>{50,53}</string>
		</dict>
		<key>YGNS_f1_zb02.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,618},{33,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,56}}</string>
			<key>sourceSize</key>
			<string>{33,56}</string>
		</dict>
		<key>YGNS_f1_zs01.png</key>
		<dict>
			<key>frame</key>
			<string>{{987,93},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>YGNS_g1_zs01.png</key>
		<dict>
			<key>frame</key>
			<string>{{751,935},{28,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,47}}</string>
			<key>sourceSize</key>
			<string>{28,47}</string>
		</dict>
		<key>YGNS_g2_xiong01.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,937},{85,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,66}}</string>
			<key>sourceSize</key>
			<string>{85,66}</string>
		</dict>
		<key>YGNS_g2_zs01.png</key>
		<dict>
			<key>frame</key>
			<string>{{566,187},{29,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,49}}</string>
			<key>sourceSize</key>
			<string>{29,49}</string>
		</dict>
		<key>YGNS_g5_tf01.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,917},{46,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,50}}</string>
			<key>sourceSize</key>
			<string>{46,50}</string>
		</dict>
		<key>YGNS_g5_xiong01.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,485},{90,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,73}}</string>
			<key>sourceSize</key>
			<string>{90,73}</string>
		</dict>
		<key>YGNS_h11_yb02.png</key>
		<dict>
			<key>frame</key>
			<string>{{984,715},{54,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,38}}</string>
			<key>sourceSize</key>
			<string>{54,38}</string>
		</dict>
		<key>YGNS_h15_zs01.png</key>
		<dict>
			<key>frame</key>
			<string>{{954,883},{46,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,29}}</string>
			<key>sourceSize</key>
			<string>{46,29}</string>
		</dict>
		<key>YGNS_h19_zjj01.png</key>
		<dict>
			<key>frame</key>
			<string>{{987,2},{34,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,46}}</string>
			<key>sourceSize</key>
			<string>{34,46}</string>
		</dict>
		<key>YGNS_h6_yt01.png</key>
		<dict>
			<key>frame</key>
			<string>{{984,528},{38,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,73}}</string>
			<key>sourceSize</key>
			<string>{38,73}</string>
		</dict>
		<key>YGNS_h6_zt01.png</key>
		<dict>
			<key>frame</key>
			<string>{{559,859},{45,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,76}}</string>
			<key>sourceSize</key>
			<string>{45,76}</string>
		</dict>
		<key>YGNS_h8_xiong01.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,936},{72,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,86}}</string>
			<key>sourceSize</key>
			<string>{72,86}</string>
		</dict>
		<key>YGNS_idle_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,784},{7,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,167}}</string>
			<key>sourceSize</key>
			<string>{7,167}</string>
		</dict>
		<key>YGNS_idle_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{984,924},{38,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,46}}</string>
			<key>sourceSize</key>
			<string>{38,46}</string>
		</dict>
		<key>YGNS_idle_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,833},{83,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,41}}</string>
			<key>sourceSize</key>
			<string>{83,41}</string>
		</dict>
		<key>YGNS_idle_2_g.png</key>
		<dict>
			<key>frame</key>
			<string>{{987,155},{73,33}}</string>
			<key>offset</key>
			<string>{5,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,8},{73,33}}</string>
			<key>sourceSize</key>
			<string>{83,41}</string>
		</dict>
		<key>YGNS_idle_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{926,618},{50,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,33}}</string>
			<key>sourceSize</key>
			<string>{50,33}</string>
		</dict>
		<key>YGNS_run_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{605,859},{76,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,41}}</string>
			<key>sourceSize</key>
			<string>{76,41}</string>
		</dict>
		<key>YGNS_run_2a.png</key>
		<dict>
			<key>frame</key>
			<string>{{751,964},{82,58}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{82,58}}</string>
			<key>sourceSize</key>
			<string>{82,60}</string>
		</dict>
		<key>YGNS_skill1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,792},{158,229}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,229}}</string>
			<key>sourceSize</key>
			<string>{158,229}</string>
		</dict>
		<key>YGNS_skill1_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{504,2},{184,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,90}}</string>
			<key>sourceSize</key>
			<string>{184,90}</string>
		</dict>
		<key>YGNS_skill1_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{421,817},{137,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,119}}</string>
			<key>sourceSize</key>
			<string>{137,119}</string>
		</dict>
		<key>YGNS_skill1_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{756,742},{90,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,94}}</string>
			<key>sourceSize</key>
			<string>{90,94}</string>
		</dict>
		<key>YGNS_skill1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,538},{101,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,190}}</string>
			<key>sourceSize</key>
			<string>{101,190}</string>
		</dict>
		<key>YGNS_skill1_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{851,776},{132,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,106}}</string>
			<key>sourceSize</key>
			<string>{132,106}</string>
		</dict>
		<key>YGNS_skill1_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,358},{144,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,171}}</string>
			<key>sourceSize</key>
			<string>{144,171}</string>
		</dict>
		<key>YGNS_skill1_42.png</key>
		<dict>
			<key>frame</key>
			<string>{{449,282},{187,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,57}}</string>
			<key>sourceSize</key>
			<string>{187,57}</string>
		</dict>
		<key>YGNS_skill1_52.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,538},{245,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,158}}</string>
			<key>sourceSize</key>
			<string>{245,158}</string>
		</dict>
		<key>YGNS_skill1_57.png</key>
		<dict>
			<key>frame</key>
			<string>{{654,450},{155,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,83}}</string>
			<key>sourceSize</key>
			<string>{155,83}</string>
		</dict>
		<key>YGNS_skill1_61.png</key>
		<dict>
			<key>frame</key>
			<string>{{241,2},{214,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,64}}</string>
			<key>sourceSize</key>
			<string>{214,64}</string>
		</dict>
		<key>YGNS_skill1_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,2},{147,197}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,197}}</string>
			<key>sourceSize</key>
			<string>{147,197}</string>
		</dict>
		<key>YGNS_skill1_78.png</key>
		<dict>
			<key>frame</key>
			<string>{{675,2},{177,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,136}}</string>
			<key>sourceSize</key>
			<string>{177,136}</string>
		</dict>
		<key>YGNS_skill1_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{343,282},{105,189}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,189}}</string>
			<key>sourceSize</key>
			<string>{105,189}</string>
		</dict>
		<key>YGNS_skill1_sx_h_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,200},{87,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,16}}</string>
			<key>sourceSize</key>
			<string>{87,16}</string>
		</dict>
		<key>YGNS_skill1_sx_h_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{595,2},{183,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,79}}</string>
			<key>sourceSize</key>
			<string>{183,79}</string>
		</dict>
		<key>YGNS_skill1_sx_h_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,2},{203,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,49}}</string>
			<key>sourceSize</key>
			<string>{203,49}</string>
		</dict>
		<key>YGNS_skill1_sx_h_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,200},{121,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,16}}</string>
			<key>sourceSize</key>
			<string>{121,16}</string>
		</dict>
		<key>YGNS_skill1_sx_q_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,2},{228,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{228,53}}</string>
			<key>sourceSize</key>
			<string>{228,53}</string>
		</dict>
		<key>YGNS_skill1_sx_q_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,217},{169,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,64}}</string>
			<key>sourceSize</key>
			<string>{169,64}</string>
		</dict>
		<key>YGNS_skill1_sx_q_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,729},{174,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,54}}</string>
			<key>sourceSize</key>
			<string>{174,54}</string>
		</dict>
		<key>YGNS_skill_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{654,742},{116,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,101}}</string>
			<key>sourceSize</key>
			<string>{116,101}</string>
		</dict>
		<key>YGNS_suskill3_83.png</key>
		<dict>
			<key>frame</key>
			<string>{{654,282},{167,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,83}}</string>
			<key>sourceSize</key>
			<string>{167,83}</string>
		</dict>
		<key>YGNS_suskill_133.png</key>
		<dict>
			<key>frame</key>
			<string>{{456,617},{107,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,100}}</string>
			<key>sourceSize</key>
			<string>{107,100}</string>
		</dict>
		<key>YGNS_suskill_147.png</key>
		<dict>
			<key>frame</key>
			<string>{{567,600},{136,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,86}}</string>
			<key>sourceSize</key>
			<string>{136,86}</string>
		</dict>
		<key>YGNS_suskill_149.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,503},{171,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,114}}</string>
			<key>sourceSize</key>
			<string>{171,114}</string>
		</dict>
		<key>YGNS_suskill_153.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,859},{152,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,75}}</string>
			<key>sourceSize</key>
			<string>{152,75}</string>
		</dict>
		<key>YGNS_suskill_167.png</key>
		<dict>
			<key>frame</key>
			<string>{{456,538},{110,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,78}}</string>
			<key>sourceSize</key>
			<string>{110,78}</string>
		</dict>
		<key>YGNS_suskill_63.png</key>
		<dict>
			<key>frame</key>
			<string>{{984,875},{38,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,48}}</string>
			<key>sourceSize</key>
			<string>{38,48}</string>
		</dict>
		<key>YGNS_suskill_71.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,282},{241,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,131}}</string>
			<key>sourceSize</key>
			<string>{241,131}</string>
		</dict>
		<key>YGNS_suskill_77.png</key>
		<dict>
			<key>frame</key>
			<string>{{507,282},{186,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,146}}</string>
			<key>sourceSize</key>
			<string>{186,146}</string>
		</dict>
		<key>YGNS_suskill_78.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,131},{174,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,78}}</string>
			<key>sourceSize</key>
			<string>{174,78}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>ygnzYG_role1.png</string>
		<key>scale</key>
		<real>0.74</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ygnzYG_role1.png</string>
	</dict>
</dict>
</plist>
