<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hz01_txguang_zhongjihzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{91,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,95}}</string>
			<key>sourceSize</key>
			<string>{91,95}</string>
		</dict>
		<key>hz02_txguang_zhongjihzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,91},{85,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,88}}</string>
			<key>sourceSize</key>
			<string>{85,88}</string>
		</dict>
		<key>hz03_txguang_zhongjihzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,116},{79,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,81}}</string>
			<key>sourceSize</key>
			<string>{79,81}</string>
		</dict>
		<key>hz04_txguang_zhongjihzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,178},{79,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,79}}</string>
			<key>sourceSize</key>
			<string>{79,79}</string>
		</dict>
		<key>hz05_txguang_zhongjihzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,2},{87,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,90}}</string>
			<key>sourceSize</key>
			<string>{87,90}</string>
		</dict>
		<key>mask01_zhongjihzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,247},{72,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,70}}</string>
			<key>sourceSize</key>
			<string>{72,70}</string>
		</dict>
		<key>mask02_zhongjihzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,177},{24,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,64}}</string>
			<key>sourceSize</key>
			<string>{24,64}</string>
		</dict>
		<key>mask03_zhongjihzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,271},{66,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,45}}</string>
			<key>sourceSize</key>
			<string>{66,45}</string>
		</dict>
		<key>mask04_zhongjihzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,2},{62,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,59}}</string>
			<key>sourceSize</key>
			<string>{62,59}</string>
		</dict>
		<key>mask05_zhongjihzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,318},{25,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,57}}</string>
			<key>sourceSize</key>
			<string>{25,57}</string>
		</dict>
		<key>mask06_zhongjihzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,259},{71,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,71}}</string>
			<key>sourceSize</key>
			<string>{71,71}</string>
		</dict>
		<key>mask1_zhongjihzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,319},{55,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,41}}</string>
			<key>sourceSize</key>
			<string>{55,41}</string>
		</dict>
		<key>mask2_zhongjihzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,203},{58,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,42}}</string>
			<key>sourceSize</key>
			<string>{58,42}</string>
		</dict>
		<key>mask3_zhongjihzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{61,332},{39,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,54}}</string>
			<key>sourceSize</key>
			<string>{39,54}</string>
		</dict>
		<key>mask4_zhongjihzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,197},{72,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,72}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>mask5_zhongjihzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,95},{86,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,19}}</string>
			<key>sourceSize</key>
			<string>{86,19}</string>
		</dict>
		<key>mask6_zhongjihzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,63},{59,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,54}}</string>
			<key>sourceSize</key>
			<string>{59,54}</string>
		</dict>
		<key>mask7_zhongjihzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,178},{21,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,66}}</string>
			<key>sourceSize</key>
			<string>{21,66}</string>
		</dict>
		<key>mask8_zhongjihzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,319},{45,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,45}}</string>
			<key>sourceSize</key>
			<string>{45,45}</string>
		</dict>
		<key>mask9_zhongjihzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,119},{56,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,64}}</string>
			<key>sourceSize</key>
			<string>{56,64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>zhongjihzimage.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>zhongjihzimage.png</string>
	</dict>
</dict>
</plist>
