<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_wqgf_xtc_gjsy_tanhao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1863,1166},{24,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,24}}</string>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>btn_wqgf_xtc_gjsy_tanhao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1712,1211},{24,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,24}}</string>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>btn_wuqigongfang_bb_zuoce_quanbu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1995,327},{155,43}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,8},{155,43}}</string>
			<key>sourceSize</key>
			<string>{173,59}</string>
		</dict>
		<key>btn_wuqigongfang_bb_zuoce_quanbu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1010,1181},{173,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,59}}</string>
			<key>sourceSize</key>
			<string>{173,59}</string>
		</dict>
		<key>btn_wuqigongfang_bwxx_youcexinxi_diban_guanbi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1964,660},{74,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,42}}</string>
			<key>sourceSize</key>
			<string>{74,42}</string>
		</dict>
		<key>btn_wuqigongfang_bwxx_youcexinxi_diban_guanbi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1333,2},{74,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,42}}</string>
			<key>sourceSize</key>
			<string>{74,42}</string>
		</dict>
		<key>btn_wuqigongfang_tc_guanbi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1681,915},{54,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,53}}</string>
			<key>sourceSize</key>
			<string>{54,53}</string>
		</dict>
		<key>btn_wuqigongfang_tc_guanbi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1568,932},{54,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,53}}</string>
			<key>sourceSize</key>
			<string>{54,53}</string>
		</dict>
		<key>btn_wuqigongfang_tc_huoqutujing_guanbi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1996,941},{40,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,39}}</string>
			<key>sourceSize</key>
			<string>{40,39}</string>
		</dict>
		<key>btn_wuqigongfang_tc_huoqutujing_guanbi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1409,2},{40,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,39}}</string>
			<key>sourceSize</key>
			<string>{40,39}</string>
		</dict>
		<key>btn_wuqigongfang_tc_jiachengzonglan_yeqian_liangtiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{898,920},{695,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{695,10}}</string>
			<key>sourceSize</key>
			<string>{695,10}</string>
		</dict>
		<key>btn_wuqigongfang_tc_jiachengzonglan_yeqian_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1745,1117},{150,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,47}}</string>
			<key>sourceSize</key>
			<string>{150,47}</string>
		</dict>
		<key>btn_wuqigongfang_tc_jiachengzonglan_yeqian_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1456,1193},{150,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,47}}</string>
			<key>sourceSize</key>
			<string>{150,47}</string>
		</dict>
		<key>btn_wuqigongfang_yeqian_jiantou_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1980,895},{45,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,44}}</string>
			<key>sourceSize</key>
			<string>{45,44}</string>
		</dict>
		<key>btn_wuqigongfang_yeqian_jiantou_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1948,1196},{45,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,44}}</string>
			<key>sourceSize</key>
			<string>{45,44}</string>
		</dict>
		<key>btn_wuqigongfang_zjm_dingdaohang_jiahao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1746,805},{184,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,41}}</string>
			<key>sourceSize</key>
			<string>{184,41}</string>
		</dict>
		<key>btn_wuqigongfang_zjm_dingdaohang_jiahao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1555,987},{184,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,41}}</string>
			<key>sourceSize</key>
			<string>{184,41}</string>
		</dict>
		<key>btn_wuqigongfang_zjm_fangdajing_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1948,371},{37,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,35}}</string>
			<key>sourceSize</key>
			<string>{37,35}</string>
		</dict>
		<key>btn_wuqigongfang_zjm_fangdajing_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2003,253},{37,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,35}}</string>
			<key>sourceSize</key>
			<string>{37,35}</string>
		</dict>
		<key>btn_wuqigongfang_zjm_fanhui_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1362,932},{204,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,53}}</string>
			<key>sourceSize</key>
			<string>{204,53}</string>
		</dict>
		<key>btn_wuqigongfang_zjm_fanhui_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1457,842},{204,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,53}}</string>
			<key>sourceSize</key>
			<string>{204,53}</string>
		</dict>
		<key>btn_wuqigongfang_zjm_yeqian_cheng_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1890,848},{152,47}}</string>
			<key>offset</key>
			<string>{-5,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,12},{152,47}}</string>
			<key>sourceSize</key>
			<string>{174,73}</string>
		</dict>
		<key>btn_wuqigongfang_zjm_yeqian_cheng_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1776,730},{174,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,73}}</string>
			<key>sourceSize</key>
			<string>{174,73}</string>
		</dict>
		<key>btn_wuqigongfang_zjm_yeqian_lan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1302,1193},{152,47}}</string>
			<key>offset</key>
			<string>{-5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,12},{152,47}}</string>
			<key>sourceSize</key>
			<string>{174,73}</string>
		</dict>
		<key>btn_wuqigongfang_zjm_yeqian_lan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1964,484},{174,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,73}}</string>
			<key>sourceSize</key>
			<string>{174,73}</string>
		</dict>
		<key>btn_wuqigongfang_zjm_yeqian_zi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1474,612},{152,47}}</string>
			<key>offset</key>
			<string>{-5,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,12},{152,47}}</string>
			<key>sourceSize</key>
			<string>{174,73}</string>
		</dict>
		<key>btn_wuqigongfang_zjm_yeqian_zi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1057,1106},{174,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,73}}</string>
			<key>sourceSize</key>
			<string>{174,73}</string>
		</dict>
		<key>pic_wqgf_gj_zhenbaomitan_anniu_taizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1024,842},{431,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{431,57}}</string>
			<key>sourceSize</key>
			<string>{431,57}</string>
		</dict>
		<key>pic_wqgf_gj_zhenbaomitan_leijishichang_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1487,795},{257,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{257,45}}</string>
			<key>sourceSize</key>
			<string>{257,45}</string>
		</dict>
		<key>pic_wqgf_gj_zhenbaomitan_qianjingzhuangshi1.png</key>
		<dict>
			<key>frame</key>
			<string>{{943,46},{366,539}}</string>
			<key>offset</key>
			<string>{-8,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{366,539}}</string>
			<key>sourceSize</key>
			<string>{382,539}</string>
		</dict>
		<key>pic_wqgf_gj_zhenbaomitan_qianjingzhuangshi2.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,430},{200,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,640}}</string>
			<key>sourceSize</key>
			<string>{200,640}</string>
		</dict>
		<key>pic_wqgf_gj_zhenbaomitan_ztmxj_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1057,612},{415,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{415,175}}</string>
			<key>sourceSize</key>
			<string>{415,175}</string>
		</dict>
		<key>pic_wqgf_xtc_gjsy_baoxiang_huawendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1598,1002},{145,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,145}}</string>
			<key>sourceSize</key>
			<string>{145,145}</string>
		</dict>
		<key>pic_wqgf_xtc_gjsy_fubiaoti_diban_9g.png</key>
		<dict>
			<key>frame</key>
			<string>{{898,951},{334,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{334,134}}</string>
			<key>sourceSize</key>
			<string>{334,134}</string>
		</dict>
		<key>pic_wqgf_xtc_gjsy_fubiaoti_zwsh_huawendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1523,708},{251,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{251,85}}</string>
			<key>sourceSize</key>
			<string>{251,85}</string>
		</dict>
		<key>pic_wqgf_xtc_gjsy_tips_diban_9g.png</key>
		<dict>
			<key>frame</key>
			<string>{{1825,409},{319,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{319,137}}</string>
			<key>sourceSize</key>
			<string>{319,137}</string>
		</dict>
		<key>pic_wqgf_xtc_pqsz_daoju_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1663,842},{71,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,71}}</string>
			<key>sourceSize</key>
			<string>{71,71}</string>
		</dict>
		<key>pic_wqgf_xtc_pqsz_daoju_jiahao_tubiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1995,1196},{43,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,43}}</string>
			<key>sourceSize</key>
			<string>{43,43}</string>
		</dict>
		<key>pic_wqgf_xtc_pqsz_daoju_jiantou.png</key>
		<dict>
			<key>frame</key>
			<string>{{2003,292},{31,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,35}}</string>
			<key>sourceSize</key>
			<string>{31,35}</string>
		</dict>
		<key>pic_wqgf_xtc_pqsz_daoju_xiaosuo_tubiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2009,1134},{29,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,33}}</string>
			<key>sourceSize</key>
			<string>{29,33}</string>
		</dict>
		<key>pic_wqgf_xtc_pqsz_dqgjxl_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1897,1117},{128,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,49}}</string>
			<key>sourceSize</key>
			<string>{128,49}</string>
		</dict>
		<key>pic_wqgf_xtc_pqsz_duiyuan_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1975,1001},{131,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,47}}</string>
			<key>sourceSize</key>
			<string>{131,47}</string>
		</dict>
		<key>pic_wqgf_xtc_pqsz_duizhang_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1980,761},{132,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,47}}</string>
			<key>sourceSize</key>
			<string>{132,47}</string>
		</dict>
		<key>pic_wqgf_xtc_pqsz_renmingdaoju_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,632},{673,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{673,136}}</string>
			<key>sourceSize</key>
			<string>{673,136}</string>
		</dict>
		<key>pic_wuqigongfang_bb_daoju_xuanzhongkuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1237,1066},{110,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,110}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>pic_wuqigongfang_bb_fubiaoti_huawenxian.png</key>
		<dict>
			<key>frame</key>
			<string>{{1484,327},{509,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{509,42}}</string>
			<key>sourceSize</key>
			<string>{509,42}</string>
		</dict>
		<key>pic_wuqigongfang_bb_kongzhuangtai_huawen.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,914},{514,208}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{514,208}}</string>
			<key>sourceSize</key>
			<string>{514,208}</string>
		</dict>
		<key>pic_wuqigongfang_bb_youcexinxi_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,46},{382,541}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{382,541}}</string>
			<key>sourceSize</key>
			<string>{382,541}</string>
		</dict>
		<key>pic_wuqigongfang_bb_youcexinxi_diban_daojuhuawen.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,1162},{310,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,82}}</string>
			<key>sourceSize</key>
			<string>{310,82}</string>
		</dict>
		<key>pic_wuqigongfang_bb_youcexinxi_diban_fgx.png</key>
		<dict>
			<key>frame</key>
			<string>{{898,1087},{337,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{337,17}}</string>
			<key>sourceSize</key>
			<string>{337,17}</string>
		</dict>
		<key>pic_wuqigongfang_bb_youcexinxi_diban_msk.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{396,583}}</string>
			<key>offset</key>
			<string>{0,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{396,583}}</string>
			<key>sourceSize</key>
			<string>{396,599}</string>
		</dict>
		<key>pic_wuqigongfang_bb_youcexinxi_miaoshu_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1500,897},{133,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,17}}</string>
			<key>sourceSize</key>
			<string>{133,17}</string>
		</dict>
		<key>pic_wuqigongfang_bwxx_youcexinxi_baowu_huawendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{658,1162},{277,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{277,71}}</string>
			<key>sourceSize</key>
			<string>{277,71}</string>
		</dict>
		<key>pic_wuqigongfang_bwxx_youcexinxi_daojuxinxi_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1024,789},{461,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{461,51}}</string>
			<key>sourceSize</key>
			<string>{461,51}</string>
		</dict>
		<key>pic_wuqigongfang_bwxx_youcexinxi_daojuxinxi_fengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{1024,901},{474,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{474,17}}</string>
			<key>sourceSize</key>
			<string>{474,17}</string>
		</dict>
		<key>pic_wuqigongfang_bwxx_youcexinxi_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{1484,2},{517,323}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{517,323}}</string>
			<key>sourceSize</key>
			<string>{517,323}</string>
		</dict>
		<key>pic_wuqigongfang_bwxx_youcexinxi_diban_masaike.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,587},{554,378}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,8},{554,378}}</string>
			<key>sourceSize</key>
			<string>{554,386}</string>
		</dict>
		<key>pic_wuqigongfang_bwxx_youcexinxi_jiantou.png</key>
		<dict>
			<key>frame</key>
			<string>{{1776,708},{32,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,20}}</string>
			<key>sourceSize</key>
			<string>{32,20}</string>
		</dict>
		<key>pic_wuqigongfang_bwxx_youcexinxi_xingjibianhua_di_9g.png</key>
		<dict>
			<key>frame</key>
			<string>{{1484,371},{462,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{462,36}}</string>
			<key>sourceSize</key>
			<string>{462,36}</string>
		</dict>
		<key>pic_wuqigongfang_tc_huoqutujing_daoju_huawendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1143},{342,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{342,90}}</string>
			<key>sourceSize</key>
			<string>{342,90}</string>
		</dict>
		<key>pic_wuqigongfang_tc_huoqutujing_fengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{898,932},{462,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{462,17}}</string>
			<key>sourceSize</key>
			<string>{462,17}</string>
		</dict>
		<key>pic_wuqigongfang_tc_huoqutujing_fubiaoti_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2003,2},{249,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{249,17}}</string>
			<key>sourceSize</key>
			<string>{249,17}</string>
		</dict>
		<key>pic_wuqigongfang_tc_jiachengzonglan_dadiban_aocao_9g.png</key>
		<dict>
			<key>frame</key>
			<string>{{1948,1134},{59,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,60}}</string>
			<key>sourceSize</key>
			<string>{59,60}</string>
		</dict>
		<key>pic_wuqigongfang_tc_jiachengzonglan_sxjc_kong_huawen.png</key>
		<dict>
			<key>frame</key>
			<string>{{1042,414},{479,196}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{479,196}}</string>
			<key>sourceSize</key>
			<string>{479,196}</string>
		</dict>
		<key>pic_wuqigongfang_tc_jiachengzonglan_tiaomu_di_9g.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,1124},{673,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{673,36}}</string>
			<key>sourceSize</key>
			<string>{673,36}</string>
		</dict>
		<key>pic_wuqigongfang_tc_jiachengzonglan_xingxing_chendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1205,1181},{64,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,18}}</string>
			<key>sourceSize</key>
			<string>{64,18}</string>
		</dict>
		<key>pic_wuqigongfang_yeqian_suo_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1939,805},{137,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,39}}</string>
			<key>sourceSize</key>
			<string>{137,39}</string>
		</dict>
		<key>pic_wuqigongfang_zjm_baowudahuawen.png</key>
		<dict>
			<key>frame</key>
			<string>{{1523,409},{300,297}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,297}}</string>
			<key>sourceSize</key>
			<string>{300,297}</string>
		</dict>
		<key>pic_wuqigongfang_zjm_baowumingcheng_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1712,1166},{149,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,43}}</string>
			<key>sourceSize</key>
			<string>{149,43}</string>
		</dict>
		<key>pic_wuqigongfang_zjm_baowupinzhi_cheng.png</key>
		<dict>
			<key>frame</key>
			<string>{{1860,1002},{113,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,113}}</string>
			<key>sourceSize</key>
			<string>{113,113}</string>
		</dict>
		<key>pic_wuqigongfang_zjm_baowupinzhi_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1745,1002},{113,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,113}}</string>
			<key>sourceSize</key>
			<string>{113,113}</string>
		</dict>
		<key>pic_wuqigongfang_zjm_baowupinzhi_xuanzhonghuangquan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1736,848},{152,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,152}}</string>
			<key>sourceSize</key>
			<string>{152,152}</string>
		</dict>
		<key>pic_wuqigongfang_zjm_baowupinzhi_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1234,951},{113,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,113}}</string>
			<key>sourceSize</key>
			<string>{113,113}</string>
		</dict>
		<key>pic_wuqigongfang_zjm_baowuyaan_heijianbian.png</key>
		<dict>
			<key>frame</key>
			<string>{{1349,987},{204,204}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,204}}</string>
			<key>sourceSize</key>
			<string>{204,204}</string>
		</dict>
		<key>pic_wuqigongfang_zjm_hongdian.png</key>
		<dict>
			<key>frame</key>
			<string>{{2009,1169},{22,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,22}}</string>
			<key>sourceSize</key>
			<string>{22,22}</string>
		</dict>
		<key>pic_wuqigongfang_zjm_tiaojianxinxi_huawen.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,2},{931,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{931,42}}</string>
			<key>sourceSize</key>
			<string>{931,42}</string>
		</dict>
		<key>pic_wuqigongfang_zjm_tiaojianxinxi_tishidian.png</key>
		<dict>
			<key>frame</key>
			<string>{{1008,414},{14,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,14}}</string>
			<key>sourceSize</key>
			<string>{14,14}</string>
		</dict>
		<key>pic_wuqigongfang_zjm_tiaojianxinxi_tishidian_hui.png</key>
		<dict>
			<key>frame</key>
			<string>{{992,414},{14,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,14}}</string>
			<key>sourceSize</key>
			<string>{14,14}</string>
		</dict>
		<key>pic_wuqigongfang_zjm_xiaohaodaoju_chengdi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1624,916},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>pic_wuqigongfang_zjm_xiaohaodaoju_chengdi_waiquan.png</key>
		<dict>
			<key>frame</key>
			<string>{{937,1162},{71,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,71}}</string>
			<key>sourceSize</key>
			<string>{71,71}</string>
		</dict>
		<key>pic_wuqigongfang_zjm_xiaohaodaoju_di_xuanzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1608,1149},{96,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,102}}</string>
			<key>sourceSize</key>
			<string>{96,102}</string>
		</dict>
		<key>pic_wuqigongfang_zjm_xiaohaodaoju_jijie_andi.png</key>
		<dict>
			<key>frame</key>
			<string>{{943,414},{47,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,14}}</string>
			<key>sourceSize</key>
			<string>{47,14}</string>
		</dict>
		<key>pic_wuqigongfang_zjm_xiaohaodaoju_landi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1964,704},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>pic_wuqigongfang_zjm_xiaohaodaoju_zidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1939,944},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>pic_wuqigongfang_zjm_xiaohaoyaan_heidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1233,1178},{67,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,67}}</string>
			<key>sourceSize</key>
			<string>{67,67}</string>
		</dict>
		<key>pic_wuqigongfang_zjm_xingji_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1185,1181},{64,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,18}}</string>
			<key>sourceSize</key>
			<string>{64,18}</string>
		</dict>
		<key>pic_wuqigongfang_zjm_xingxing.png</key>
		<dict>
			<key>frame</key>
			<string>{{1474,766},{20,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,19}}</string>
			<key>sourceSize</key>
			<string>{20,19}</string>
		</dict>
		<key>pic_wuqigongfang_zjm_xingxing_aocao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1555,1173},{18,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,18}}</string>
			<key>sourceSize</key>
			<string>{18,18}</string>
		</dict>
		<key>pic_wuqigongfang_zjm_yeqian_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,770},{142,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,640}}</string>
			<key>sourceSize</key>
			<string>{142,640}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>WeaponWorkshop0.png</string>
		<key>size</key>
		<string>{2040,1247}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>WeaponWorkshop0.png</string>
	</dict>
</dict>
</plist>
