<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_yanjiuyuan_huangdiban.png</key>
		<dict>
			<key>frame</key>
			<string>{{599,2},{281,367}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,367}}</string>
			<key>sourceSize</key>
			<string>{281,367}</string>
		</dict>
		<key>pic_yanjiuyuan_jinbijuanxian.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,2},{197,316}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{197,316}}</string>
			<key>sourceSize</key>
			<string>{197,320}</string>
		</dict>
		<key>pic_yanjiuyuan_juanxian.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,329},{84,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,34}}</string>
			<key>sourceSize</key>
			<string>{84,34}</string>
		</dict>
		<key>pic_yanjiuyuan_juanxian_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,329},{84,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,34}}</string>
			<key>sourceSize</key>
			<string>{84,34}</string>
		</dict>
		<key>pic_yanjiuyuan_yanjiuyuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{701,285},{178,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,76}}</string>
			<key>sourceSize</key>
			<string>{178,76}</string>
		</dict>
		<key>pic_yanjiuyuan_zanweikaiqi.png</key>
		<dict>
			<key>frame</key>
			<string>{{599,285},{100,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,78}}</string>
			<key>sourceSize</key>
			<string>{100,78}</string>
		</dict>
		<key>pic_yanjiuyuan_zhizunjuanxian.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{197,325}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,325}}</string>
			<key>sourceSize</key>
			<string>{197,325}</string>
		</dict>
		<key>pic_yanjiuyuan_zuanshijuanxian.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,2},{197,316}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{197,316}}</string>
			<key>sourceSize</key>
			<string>{197,320}</string>
		</dict>
		<key>pic_yjy_zi_juanxian.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,329},{61,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,28}}</string>
			<key>sourceSize</key>
			<string>{61,28}</string>
		</dict>
		<key>pic_yjy_zi_quanbujuanxian.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,320},{40,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,37}}</string>
			<key>sourceSize</key>
			<string>{40,37}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_clubtechnology0.png</string>
		<key>size</key>
		<string>{968,365}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_clubtechnology0.png</string>
	</dict>
</dict>
</plist>
