<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_tongyongbaodian_00003_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,747},{65,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,71}}</string>
			<key>sourceSize</key>
			<string>{65,71}</string>
		</dict>
		<key>New_tongyongbaodian_00007_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,671},{125,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,137}}</string>
			<key>sourceSize</key>
			<string>{125,137}</string>
		</dict>
		<key>New_tongyongbaodian_00011_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{576,821},{125,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,129}}</string>
			<key>sourceSize</key>
			<string>{125,129}</string>
		</dict>
		<key>New_xiaojineng_00027_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,633},{189,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,80}}</string>
			<key>sourceSize</key>
			<string>{189,80}</string>
		</dict>
		<key>New_xiaojineng_00029_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{894,535},{175,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,128}}</string>
			<key>sourceSize</key>
			<string>{175,128}</string>
		</dict>
		<key>New_xiaojineng_00031_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,348},{233,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{233,133}}</string>
			<key>sourceSize</key>
			<string>{233,133}</string>
		</dict>
		<key>New_xiaojineng_00033_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,337},{239,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{239,146}}</string>
			<key>sourceSize</key>
			<string>{239,146}</string>
		</dict>
		<key>New_xiaojineng_00035_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,204},{241,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,142}}</string>
			<key>sourceSize</key>
			<string>{241,142}</string>
		</dict>
		<key>New_xiaojineng_00037_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{767,2},{243,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{243,148}}</string>
			<key>sourceSize</key>
			<string>{243,148}</string>
		</dict>
		<key>New_xiaojineng_00039_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{681,535},{211,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,129}}</string>
			<key>sourceSize</key>
			<string>{211,129}</string>
		</dict>
		<key>New_xiaojineng_00041_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{877,712},{144,82}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{144,82}}</string>
			<key>sourceSize</key>
			<string>{144,86}</string>
		</dict>
		<key>New_yan_putongbisha1_00023_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,830},{167,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,131}}</string>
			<key>sourceSize</key>
			<string>{167,131}</string>
		</dict>
		<key>New_yan_putongbisha1_00025_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{260,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{260,165}}</string>
			<key>sourceSize</key>
			<string>{260,165}</string>
		</dict>
		<key>New_yan_putongbisha1_00027_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{520,2},{245,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,163}}</string>
			<key>sourceSize</key>
			<string>{245,163}</string>
		</dict>
		<key>New_yan_putongbisha1_00029_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,483},{226,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,148}}</string>
			<key>sourceSize</key>
			<string>{226,148}</string>
		</dict>
		<key>New_yan_putongbisha1_00031_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,747},{71,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,68}}</string>
			<key>sourceSize</key>
			<string>{71,68}</string>
		</dict>
		<key>New_yan_putongbisha2_00038_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,922},{159,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,96}}</string>
			<key>sourceSize</key>
			<string>{159,96}</string>
		</dict>
		<key>New_yan_putongbisha2_00040_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,360},{231,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{231,159}}</string>
			<key>sourceSize</key>
			<string>{231,159}</string>
		</dict>
		<key>New_yan_putongbisha2_00042_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,378},{220,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,155}}</string>
			<key>sourceSize</key>
			<string>{220,155}</string>
		</dict>
		<key>New_yan_putongbisha2_00044_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{676,666},{199,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,153}}</string>
			<key>sourceSize</key>
			<string>{199,153}</string>
		</dict>
		<key>New_yan_putongbisha2_00045_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,810},{100,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,110}}</string>
			<key>sourceSize</key>
			<string>{100,110}</string>
		</dict>
		<key>New_yan_putonggongji1_00003_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{703,821},{107,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,129}}</string>
			<key>sourceSize</key>
			<string>{107,129}</string>
		</dict>
		<key>New_yan_putonggongji1_00005_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,821},{191,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,157}}</string>
			<key>sourceSize</key>
			<string>{191,157}</string>
		</dict>
		<key>New_yan_putonggongji1_00007_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{877,796},{184,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,143}}</string>
			<key>sourceSize</key>
			<string>{184,143}</string>
		</dict>
		<key>New_yan_putonggongji1_00009_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,821},{158,119}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,4},{158,119}}</string>
			<key>sourceSize</key>
			<string>{160,123}</string>
		</dict>
		<key>New_yan_putonggongji2_00016_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,671},{121,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,74}}</string>
			<key>sourceSize</key>
			<string>{121,74}</string>
		</dict>
		<key>New_yan_putonggongji2_00018_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,485},{216,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,135}}</string>
			<key>sourceSize</key>
			<string>{216,135}</string>
		</dict>
		<key>New_yan_putonggongji2_00020_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,622},{211,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,123}}</string>
			<key>sourceSize</key>
			<string>{211,123}</string>
		</dict>
		<key>New_yan_putonggongji2_00022_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,715},{179,113}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{179,113}}</string>
			<key>sourceSize</key>
			<string>{181,113}</string>
		</dict>
		<key>New_yan_xiaojineng2_00004_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,521},{221,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,148}}</string>
			<key>sourceSize</key>
			<string>{221,148}</string>
		</dict>
		<key>New_yan_xiaojineng2_00006_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,2},{254,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{254,200}}</string>
			<key>sourceSize</key>
			<string>{254,200}</string>
		</dict>
		<key>New_yan_xiaojineng2_00008_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,169},{250,189}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{250,189}}</string>
			<key>sourceSize</key>
			<string>{250,189}</string>
		</dict>
		<key>New_yan_xiaojineng2_00010_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{767,152},{224,241}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,241}}</string>
			<key>sourceSize</key>
			<string>{224,241}</string>
		</dict>
		<key>New_yan_xiaojineng2_00012_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{520,167},{168,241}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,241}}</string>
			<key>sourceSize</key>
			<string>{168,241}</string>
		</dict>
		<key>New_yan_xiaojineng2_00014_ldyterimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{960,378},{40,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,149}}</string>
			<key>sourceSize</key>
			<string>{40,149}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>ldyterimage.png</string>
		<key>scale</key>
		<real>0.68</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ldyterimage.png</string>
	</dict>
</dict>
</plist>
