<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>a1_gaonizijinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,2},{22,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,22}}</string>
			<key>sourceSize</key>
			<string>{22,22}</string>
		</dict>
		<key>a2_gaonizijinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,118},{31,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,37}}</string>
			<key>sourceSize</key>
			<string>{31,37}</string>
		</dict>
		<key>a3_gaonizijinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,114},{31,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,37}}</string>
			<key>sourceSize</key>
			<string>{31,37}</string>
		</dict>
		<key>a4_gaonizijinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,76},{30,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,36}}</string>
			<key>sourceSize</key>
			<string>{30,36}</string>
		</dict>
		<key>a5_gaonizijinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,30},{44,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,45}}</string>
			<key>sourceSize</key>
			<string>{44,45}</string>
		</dict>
		<key>a6_gaonizijinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,38},{41,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,45}}</string>
			<key>sourceSize</key>
			<string>{41,45}</string>
		</dict>
		<key>b1_gaonizijinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,81},{35,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,43}}</string>
			<key>sourceSize</key>
			<string>{35,43}</string>
		</dict>
		<key>b2_gaonizijinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,110},{34,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,43}}</string>
			<key>sourceSize</key>
			<string>{34,43}</string>
		</dict>
		<key>b3_gaonizijinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,76},{32,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,45}}</string>
			<key>sourceSize</key>
			<string>{32,45}</string>
		</dict>
		<key>b4_gaonizijinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{34,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,48}}</string>
			<key>sourceSize</key>
			<string>{34,48}</string>
		</dict>
		<key>b5_gaonizijinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,2},{26,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,46}}</string>
			<key>sourceSize</key>
			<string>{26,46}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA4444</string>
		<key>realTextureFileName</key>
		<string>gaonizijinengimage.png</string>
		<key>scale</key>
		<real>0.5</real>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>gaonizijinengimage.png</string>
	</dict>
</dict>
</plist>
