<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bga_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{784,442}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{784,442}}</string>
			<key>sourceSize</key>
			<string>{784,442}</string>
		</dict>
		<key>dg_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,446},{58,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,31}}</string>
			<key>sourceSize</key>
			<string>{58,31}</string>
		</dict>
		<key>diqiu_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,75},{414,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{414,207}}</string>
			<key>sourceSize</key>
			<string>{414,207}</string>
		</dict>
		<key>dz_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,905},{54,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,114}}</string>
			<key>sourceSize</key>
			<string>{54,114}</string>
		</dict>
		<key>dzda_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{997,472},{28,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,12}}</string>
			<key>sourceSize</key>
			<string>{28,12}</string>
		</dict>
		<key>dzdb_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{997,431},{39,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,14}}</string>
			<key>sourceSize</key>
			<string>{39,14}</string>
		</dict>
		<key>dzxa_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{997,403},{14,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,16}}</string>
			<key>sourceSize</key>
			<string>{14,16}</string>
		</dict>
		<key>dzxb_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,446},{53,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,41}}</string>
			<key>sourceSize</key>
			<string>{53,41}</string>
		</dict>
		<key>dzxc_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{997,75},{41,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,25}}</string>
			<key>sourceSize</key>
			<string>{41,25}</string>
		</dict>
		<key>gp_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,446},{55,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,119}}</string>
			<key>sourceSize</key>
			<string>{55,119}</string>
		</dict>
		<key>jza_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,721},{54,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,135}}</string>
			<key>sourceSize</key>
			<string>{54,135}</string>
		</dict>
		<key>jzb_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,717},{48,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,98}}</string>
			<key>sourceSize</key>
			<string>{48,98}</string>
		</dict>
		<key>jzc_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,2},{224,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,71}}</string>
			<key>sourceSize</key>
			<string>{224,71}</string>
		</dict>
		<key>mask1_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,446},{56,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,40}}</string>
			<key>sourceSize</key>
			<string>{56,40}</string>
		</dict>
		<key>mask2_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,681},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,38}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>qt_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,513},{159,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,166}}</string>
			<key>sourceSize</key>
			<string>{159,166}</string>
		</dict>
		<key>rwa_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,446},{30,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,62}}</string>
			<key>sourceSize</key>
			<string>{30,62}</string>
		</dict>
		<key>rwapz_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{997,369},{16,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,17}}</string>
			<key>sourceSize</key>
			<string>{16,17}</string>
		</dict>
		<key>rwb_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,446},{39,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,61}}</string>
			<key>sourceSize</key>
			<string>{39,61}</string>
		</dict>
		<key>rwba_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1011,485},{10,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,26}}</string>
			<key>sourceSize</key>
			<string>{10,26}</string>
		</dict>
		<key>rwbb_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{997,419},{10,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,15}}</string>
			<key>sourceSize</key>
			<string>{10,15}</string>
		</dict>
		<key>rwbc_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1011,472},{11,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,11}}</string>
			<key>sourceSize</key>
			<string>{11,11}</string>
		</dict>
		<key>rwc_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,681},{34,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,46}}</string>
			<key>sourceSize</key>
			<string>{34,46}</string>
		</dict>
		<key>rwca_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{997,282},{10,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,20}}</string>
			<key>sourceSize</key>
			<string>{10,20}</string>
		</dict>
		<key>rwcb_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{997,260},{21,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,20}}</string>
			<key>sourceSize</key>
			<string>{21,20}</string>
		</dict>
		<key>rwcc_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1014,2},{8,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,19}}</string>
			<key>sourceSize</key>
			<string>{8,19}</string>
		</dict>
		<key>rwd_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{997,220},{21,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,38}}</string>
			<key>sourceSize</key>
			<string>{21,38}</string>
		</dict>
		<key>rwda_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{997,387},{14,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,17}}</string>
			<key>sourceSize</key>
			<string>{14,17}</string>
		</dict>
		<key>sga_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,491},{12,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,12}}</string>
			<key>sourceSize</key>
			<string>{12,12}</string>
		</dict>
		<key>wangA_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,905},{110,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,92}}</string>
			<key>sourceSize</key>
			<string>{110,92}</string>
		</dict>
		<key>wangB_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,722},{181,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,118}}</string>
			<key>sourceSize</key>
			<string>{181,118}</string>
		</dict>
		<key>xhgr_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{997,294},{73,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,19}}</string>
			<key>sourceSize</key>
			<string>{73,19}</string>
		</dict>
		<key>yinying_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,858},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>yueqiu_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,513},{207,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,104}}</string>
			<key>sourceSize</key>
			<string>{207,104}</string>
		</dict>
		<key>zg_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{997,118},{100,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,22}}</string>
			<key>sourceSize</key>
			<string>{100,22}</string>
		</dict>
		<key>zm_szncjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,905},{112,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,40}}</string>
			<key>sourceSize</key>
			<string>{112,40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>szncjimage.png</string>
		<key>scale</key>
		<real>0.69</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>szncjimage.png</string>
	</dict>
</dict>
</plist>
