<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wy_1_1_16313_liuydctxk24image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{147,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,142}}</string>
			<key>sourceSize</key>
			<string>{147,142}</string>
		</dict>
		<key>wy_2_2_89566_liuydctxk24image.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,83},{79,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,82}}</string>
			<key>sourceSize</key>
			<string>{79,82}</string>
		</dict>
		<key>wy_3_3_13335_liuydctxk24image.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,164},{68,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,41}}</string>
			<key>sourceSize</key>
			<string>{68,41}</string>
		</dict>
		<key>wy_4_4_45144_liuydctxk24image.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,2},{79,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,88}}</string>
			<key>sourceSize</key>
			<string>{79,88}</string>
		</dict>
		<key>wy_5_5_22185_liuydctxk24image.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,83},{14,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,18}}</string>
			<key>sourceSize</key>
			<string>{14,18}</string>
		</dict>
		<key>wy_6_6_1384_liuydctxk24image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,146},{130,129}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{130,129}}</string>
			<key>sourceSize</key>
			<string>{134,135}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>liuydctxk24image.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>liuydctxk24image.png</string>
	</dict>
</dict>
</plist>
