<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_qhzl_jjzs_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,675},{155,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,62}}</string>
			<key>sourceSize</key>
			<string>{155,62}</string>
		</dict>
		<key>btn_qhzl_jjzs_plus_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,675},{155,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,62}}</string>
			<key>sourceSize</key>
			<string>{155,62}</string>
		</dict>
		<key>btn_qhzl_jjzs_plus_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{860,722},{155,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,62}}</string>
			<key>sourceSize</key>
			<string>{155,62}</string>
		</dict>
		<key>btn_qhzl_jjzs_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{796,610},{155,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,62}}</string>
			<key>sourceSize</key>
			<string>{155,62}</string>
		</dict>
		<key>btn_qhzl_yjlq_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{241,752},{113,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,33}}</string>
			<key>sourceSize</key>
			<string>{113,33}</string>
		</dict>
		<key>btn_qhzl_yjlq_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,739},{113,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,33}}</string>
			<key>sourceSize</key>
			<string>{113,33}</string>
		</dict>
		<key>pic_qhzl_huang_di_djlq.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,739},{122,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,41}}</string>
			<key>sourceSize</key>
			<string>{122,41}</string>
		</dict>
		<key>pic_qhzl_ji_goumai_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{414,610},{204,63}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{204,63}}</string>
			<key>sourceSize</key>
			<string>{208,63}</string>
		</dict>
		<key>pic_qhzl_ji_goumai_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,610},{204,63}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{204,63}}</string>
			<key>sourceSize</key>
			<string>{208,63}</string>
		</dict>
		<key>pic_qhzl_ji_kelingqu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,610},{204,63}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{204,63}}</string>
			<key>sourceSize</key>
			<string>{208,63}</string>
		</dict>
		<key>pic_qhzl_ji_kelingqu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{931,509},{204,63}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{204,63}}</string>
			<key>sourceSize</key>
			<string>{208,63}</string>
		</dict>
		<key>pic_qhzl_ji_weidadao.png</key>
		<dict>
			<key>frame</key>
			<string>{{931,301},{206,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,31}}</string>
			<key>sourceSize</key>
			<string>{206,31}</string>
		</dict>
		<key>pic_qhzl_ji_yilingqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{964,301},{151,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,41}}</string>
			<key>sourceSize</key>
			<string>{151,41}</string>
		</dict>
		<key>pic_qhzl_jjj.png</key>
		<dict>
			<key>frame</key>
			<string>{{620,610},{174,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,83}}</string>
			<key>sourceSize</key>
			<string>{174,83}</string>
		</dict>
		<key>pic_qhzl_jjzl_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{931,2},{297,87}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{297,87}}</string>
			<key>sourceSize</key>
			<string>{297,91}</string>
		</dict>
		<key>pic_qhzl_jjzl_word_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{996,589},{131,22}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{131,22}}</string>
			<key>sourceSize</key>
			<string>{135,22}</string>
		</dict>
		<key>pic_qhzl_jxzl_sjzl_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{927,606}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{927,606}}</string>
			<key>sourceSize</key>
			<string>{927,606}</string>
		</dict>
		<key>pic_qhzl_mrry_mrry.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,675},{97,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,94}}</string>
			<key>sourceSize</key>
			<string>{97,94}</string>
		</dict>
		<key>pic_qhzl_wu_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,610},{80,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,16}}</string>
			<key>sourceSize</key>
			<string>{80,16}</string>
		</dict>
		<key>pic_qhzl_ygm.png</key>
		<dict>
			<key>frame</key>
			<string>{{860,610},{103,51}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{103,51}}</string>
			<key>sourceSize</key>
			<string>{103,53}</string>
		</dict>
		<key>pic_qhzl_zi_di_djlq.png</key>
		<dict>
			<key>frame</key>
			<string>{{566,738},{122,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,41}}</string>
			<key>sourceSize</key>
			<string>{122,41}</string>
		</dict>
		<key>word_qhzl_jl_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{566,695},{127,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,41}}</string>
			<key>sourceSize</key>
			<string>{127,41}</string>
		</dict>
		<key>word_qhzl_jl_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,704},{134,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,46}}</string>
			<key>sourceSize</key>
			<string>{134,46}</string>
		</dict>
		<key>word_qhzl_tsrw_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{996,454},{133,24}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,2},{133,24}}</string>
			<key>sourceSize</key>
			<string>{135,26}</string>
		</dict>
		<key>word_qhzl_tsrw_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,675},{149,27}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{149,27}}</string>
			<key>sourceSize</key>
			<string>{153,29}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_privilegeCard0.png</string>
		<key>size</key>
		<string>{1022,787}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_privilegeCard0.png</string>
	</dict>
</dict>
</plist>
