<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>a1_kulaxinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,267},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>a2_kulaxinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,266},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>a3_kulaxinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,199},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>a4_kulaxinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,321},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>a5_kulaxinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,240},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>a6_kulaxinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,201},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>a7_kulaxinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{42,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,97}}</string>
			<key>sourceSize</key>
			<string>{42,97}</string>
		</dict>
		<key>b10_kulaxinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,2},{54,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,69}}</string>
			<key>sourceSize</key>
			<string>{54,69}</string>
		</dict>
		<key>b11_kulaxinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,185},{53,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,66}}</string>
			<key>sourceSize</key>
			<string>{53,66}</string>
		</dict>
		<key>b1_kulaxinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,199},{46,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,44}}</string>
			<key>sourceSize</key>
			<string>{46,44}</string>
		</dict>
		<key>b2_kulaxinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,266},{55,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,53}}</string>
			<key>sourceSize</key>
			<string>{55,53}</string>
		</dict>
		<key>b3_kulaxinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,137},{62,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,67}}</string>
			<key>sourceSize</key>
			<string>{62,67}</string>
		</dict>
		<key>b4_kulaxinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,130},{67,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,67}}</string>
			<key>sourceSize</key>
			<string>{67,67}</string>
		</dict>
		<key>b5_kulaxinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,2},{82,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,64}}</string>
			<key>sourceSize</key>
			<string>{82,64}</string>
		</dict>
		<key>b6_kulaxinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,46},{68,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,68}}</string>
			<key>sourceSize</key>
			<string>{68,68}</string>
		</dict>
		<key>b7_kulaxinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,116},{67,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,67}}</string>
			<key>sourceSize</key>
			<string>{67,67}</string>
		</dict>
		<key>b8_kulaxinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,68},{67,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,68}}</string>
			<key>sourceSize</key>
			<string>{67,68}</string>
		</dict>
		<key>b9_kulaxinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,58},{68,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,70}}</string>
			<key>sourceSize</key>
			<string>{68,70}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA4444</string>
		<key>realTextureFileName</key>
		<string>kulaxinbiimage.png</string>
		<key>scale</key>
		<real>0.5</real>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>kulaxinbiimage.png</string>
	</dict>
</dict>
</plist>
