<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_bxzl_tiaozhan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1855,2},{153,47}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,2},{153,47}}</string>
			<key>sourceSize</key>
			<string>{171,49}</string>
		</dict>
		<key>btn_bxzl_tiaozhan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1186,457},{153,47}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,2},{153,47}}</string>
			<key>sourceSize</key>
			<string>{171,49}</string>
		</dict>
		<key>btn_drwqc_changjing_duihuan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1186,310},{209,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,68}}</string>
			<key>sourceSize</key>
			<string>{209,68}</string>
		</dict>
		<key>btn_drwqc_changjing_duihuan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1397,312},{209,54}}</string>
			<key>offset</key>
			<string>{0,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,14},{209,54}}</string>
			<key>sourceSize</key>
			<string>{209,68}</string>
		</dict>
		<key>btn_drwqc_changjing_jingjichang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,58},{290,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{290,111}}</string>
			<key>sourceSize</key>
			<string>{290,111}</string>
		</dict>
		<key>btn_drwqc_changjing_jingjichang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,318},{290,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{290,111}}</string>
			<key>sourceSize</key>
			<string>{290,111}</string>
		</dict>
		<key>btn_drwqc_changjing_qiandao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{847,362},{106,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,135}}</string>
			<key>sourceSize</key>
			<string>{106,135}</string>
		</dict>
		<key>btn_drwqc_changjing_qiyu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1212,228},{221,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,80}}</string>
			<key>sourceSize</key>
			<string>{221,80}</string>
		</dict>
		<key>btn_drwqc_changjing_qiyu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{705,292},{221,68}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,12},{221,68}}</string>
			<key>sourceSize</key>
			<string>{221,80}</string>
		</dict>
		<key>btn_drwqc_changjing_renwu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1746,241},{153,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{153,87}}</string>
			<key>sourceSize</key>
			<string>{157,87}</string>
		</dict>
		<key>btn_drwqc_changjing_renwu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1751,164},{157,75}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,12},{157,75}}</string>
			<key>sourceSize</key>
			<string>{157,87}</string>
		</dict>
		<key>btn_wqcjjc_choujiang_choushici_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,362},{172,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,80}}</string>
			<key>sourceSize</key>
			<string>{172,80}</string>
		</dict>
		<key>btn_wqcjjc_choujiang_choushici_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,415},{172,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,80}}</string>
			<key>sourceSize</key>
			<string>{172,80}</string>
		</dict>
		<key>btn_wqcjjc_choujiang_chouyici_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{591,333},{172,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,80}}</string>
			<key>sourceSize</key>
			<string>{172,80}</string>
		</dict>
		<key>btn_wqcjjc_choujiang_chouyici_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,333},{172,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,80}}</string>
			<key>sourceSize</key>
			<string>{172,80}</string>
		</dict>
		<key>btn_wqcjjc_choujiang_wqqcj_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1186,380},{75,128}}</string>
			<key>offset</key>
			<string>{-13,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,128}}</string>
			<key>sourceSize</key>
			<string>{101,128}</string>
		</dict>
		<key>btn_wqcjjc_choujiang_zscj_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{955,369},{101,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,128}}</string>
			<key>sourceSize</key>
			<string>{101,128}</string>
		</dict>
		<key>btn_wqcjjc_choujiang_zscj_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1058,369},{75,128}}</string>
			<key>offset</key>
			<string>{-13,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,128}}</string>
			<key>sourceSize</key>
			<string>{101,128}</string>
		</dict>
		<key>btn_wqcjjc_chushou_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1656,228},{86,88}}</string>
			<key>offset</key>
			<string>{15,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,13},{86,88}}</string>
			<key>sourceSize</key>
			<string>{116,116}</string>
		</dict>
		<key>btn_wqcjjc_ditu_buzhen_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1715,464},{81,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,26}}</string>
			<key>sourceSize</key>
			<string>{81,26}</string>
		</dict>
		<key>btn_wqcjjc_ditu_buzhen_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1848,381},{81,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,26}}</string>
			<key>sourceSize</key>
			<string>{81,26}</string>
		</dict>
		<key>btn_wqcjjc_huanyipi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,285},{219,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,82}}</string>
			<key>sourceSize</key>
			<string>{219,82}</string>
		</dict>
		<key>btn_wqcjjc_huanyipi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1435,228},{219,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,82}}</string>
			<key>sourceSize</key>
			<string>{219,82}</string>
		</dict>
		<key>btn_wqcjjc_kapaihuishou_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,318},{101,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,121}}</string>
			<key>sourceSize</key>
			<string>{101,121}</string>
		</dict>
		<key>btn_wqcjjc_paihangbang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1316,380},{67,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,71}}</string>
			<key>sourceSize</key>
			<string>{67,71}</string>
		</dict>
		<key>btn_wqcjjc_qianwangjishi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1742,330},{132,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,49}}</string>
			<key>sourceSize</key>
			<string>{132,49}</string>
		</dict>
		<key>btn_wqcjjc_qianwangjishi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1608,316},{132,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,49}}</string>
			<key>sourceSize</key>
			<string>{132,49}</string>
		</dict>
		<key>btn_wqcjjc_qianwangxunbao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1385,421},{132,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,49}}</string>
			<key>sourceSize</key>
			<string>{132,49}</string>
		</dict>
		<key>btn_wqcjjc_qianwangxunbao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1135,369},{132,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,49}}</string>
			<key>sourceSize</key>
			<string>{132,49}</string>
		</dict>
		<key>btn_wqcjjc_quan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1600,412},{117,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,43}}</string>
			<key>sourceSize</key>
			<string>{117,43}</string>
		</dict>
		<key>btn_wqcjjc_quan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1555,368},{117,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,43}}</string>
			<key>sourceSize</key>
			<string>{117,43}</string>
		</dict>
		<key>btn_wqcjjc_yijianhuishou_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1397,368},{156,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,51}}</string>
			<key>sourceSize</key>
			<string>{156,51}</string>
		</dict>
		<key>btn_wqcjjc_yijianhuishou_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,444},{156,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,51}}</string>
			<key>sourceSize</key>
			<string>{156,51}</string>
		</dict>
		<key>btn_wqcjjc_yimaichu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1728,381},{118,43}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,11},{118,43}}</string>
			<key>sourceSize</key>
			<string>{138,65}</string>
		</dict>
		<key>btn_wqcjjc_yimairu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1608,367},{118,43}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,11},{118,43}}</string>
			<key>sourceSize</key>
			<string>{138,65}</string>
		</dict>
		<key>btn_xsrw_lingqu2_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1719,426},{93,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{93,36}}</string>
			<key>sourceSize</key>
			<string>{93,38}</string>
		</dict>
		<key>btn_xsrw_lingqu2_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,460},{93,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{93,36}}</string>
			<key>sourceSize</key>
			<string>{93,38}</string>
		</dict>
		<key>btn_xsrw_qianwang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1341,472},{91,33}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{91,33}}</string>
			<key>sourceSize</key>
			<string>{95,37}</string>
		</dict>
		<key>btn_xsrw_qianwang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,421},{95,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,37}}</string>
			<key>sourceSize</key>
			<string>{95,37}</string>
		</dict>
		<key>pic_bxzl_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,431},{303,62}}</string>
			<key>offset</key>
			<string>{-58,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{95,13},{303,62}}</string>
			<key>sourceSize</key>
			<string>{609,88}</string>
		</dict>
		<key>pic_bxzl_zaicitiaozhan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1600,457},{113,34}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{113,34}}</string>
			<key>sourceSize</key>
			<string>{119,40}</string>
		</dict>
		<key>pic_drwqc_daohang_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{705,228},{258,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{258,62}}</string>
			<key>sourceSize</key>
			<string>{258,62}</string>
		</dict>
		<key>pic_ssrwzx_yilingqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1434,472},{89,31}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,27},{89,31}}</string>
			<key>sourceSize</key>
			<string>{89,87}</string>
		</dict>
		<key>pic_wqcjjc_choujiang_jiangliyulan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1876,330},{32,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,132}}</string>
			<key>sourceSize</key>
			<string>{32,132}</string>
		</dict>
		<key>pic_wqcjjc_daohang_choujiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1491,164},{258,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{258,62}}</string>
			<key>sourceSize</key>
			<string>{258,62}</string>
		</dict>
		<key>pic_wqcjjc_daohang_shichang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1231,164},{258,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{258,62}}</string>
			<key>sourceSize</key>
			<string>{258,62}</string>
		</dict>
		<key>pic_wqcjjc_daohang_wqcjjc.png</key>
		<dict>
			<key>frame</key>
			<string>{{971,164},{258,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{258,62}}</string>
			<key>sourceSize</key>
			<string>{258,62}</string>
		</dict>
		<key>pic_wqcjjc_daohang_yangcheng.png</key>
		<dict>
			<key>frame</key>
			<string>{{711,164},{258,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{258,62}}</string>
			<key>sourceSize</key>
			<string>{258,62}</string>
		</dict>
		<key>pic_wqcjjc_tanchuang_bangzhushuoming.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,279},{284,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,52}}</string>
			<key>sourceSize</key>
			<string>{284,52}</string>
		</dict>
		<key>pic_wqcjjc_tanchuang_buzhen.png</key>
		<dict>
			<key>frame</key>
			<string>{{1569,110},{284,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,52}}</string>
			<key>sourceSize</key>
			<string>{284,52}</string>
		</dict>
		<key>pic_wqcjjc_tanchuang_caozuoyindao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1569,56},{284,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,52}}</string>
			<key>sourceSize</key>
			<string>{284,52}</string>
		</dict>
		<key>pic_wqcjjc_tanchuang_gmtzcs.png</key>
		<dict>
			<key>frame</key>
			<string>{{1283,110},{284,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,52}}</string>
			<key>sourceSize</key>
			<string>{284,52}</string>
		</dict>
		<key>pic_wqcjjc_tanchuang_huishou.png</key>
		<dict>
			<key>frame</key>
			<string>{{1283,56},{284,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,52}}</string>
			<key>sourceSize</key>
			<string>{284,52}</string>
		</dict>
		<key>pic_wqcjjc_tanchuang_huishouzhuyi.png</key>
		<dict>
			<key>frame</key>
			<string>{{997,110},{284,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,52}}</string>
			<key>sourceSize</key>
			<string>{284,52}</string>
		</dict>
		<key>pic_wqcjjc_tanchuang_jiangliyulan.png</key>
		<dict>
			<key>frame</key>
			<string>{{997,56},{284,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,52}}</string>
			<key>sourceSize</key>
			<string>{284,52}</string>
		</dict>
		<key>pic_wqcjjc_tanchuang_jiaoyijilu.png</key>
		<dict>
			<key>frame</key>
			<string>{{711,110},{284,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,52}}</string>
			<key>sourceSize</key>
			<string>{284,52}</string>
		</dict>
		<key>pic_wqcjjc_tanchuang_jishiguize.png</key>
		<dict>
			<key>frame</key>
			<string>{{711,56},{284,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,52}}</string>
			<key>sourceSize</key>
			<string>{284,52}</string>
		</dict>
		<key>pic_wqcjjc_tanchuang_meirijiangli.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{702,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{702,54}}</string>
			<key>sourceSize</key>
			<string>{702,54}</string>
		</dict>
		<key>pic_wqcjjc_tanchuang_paihangbang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1564,2},{284,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,52}}</string>
			<key>sourceSize</key>
			<string>{284,52}</string>
		</dict>
		<key>pic_wqcjjc_tanchuang_shangjia.png</key>
		<dict>
			<key>frame</key>
			<string>{{1278,2},{284,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,52}}</string>
			<key>sourceSize</key>
			<string>{284,52}</string>
		</dict>
		<key>pic_wqcjjc_tanchuang_shengjiechenggong.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,58},{415,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{415,121}}</string>
			<key>sourceSize</key>
			<string>{415,121}</string>
		</dict>
		<key>pic_wqcjjc_tanchuang_wanjiaxinxi.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,225},{284,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,52}}</string>
			<key>sourceSize</key>
			<string>{284,52}</string>
		</dict>
		<key>pic_wqcjjc_tanchuang_xianshouzhi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1525,421},{72,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,25}}</string>
			<key>sourceSize</key>
			<string>{72,25}</string>
		</dict>
		<key>pic_wqcjjc_tanchuang_xingxianxuanze.png</key>
		<dict>
			<key>frame</key>
			<string>{{992,2},{284,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,52}}</string>
			<key>sourceSize</key>
			<string>{284,52}</string>
		</dict>
		<key>pic_wqcjjc_tanchuang_yijianhuishou.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,171},{284,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,52}}</string>
			<key>sourceSize</key>
			<string>{284,52}</string>
		</dict>
		<key>pic_wqcjjc_tanchuang_zhandouli.png</key>
		<dict>
			<key>frame</key>
			<string>{{1798,464},{72,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,25}}</string>
			<key>sourceSize</key>
			<string>{72,25}</string>
		</dict>
		<key>pic_wqcjjc_tanchuang_zizhitisheng.png</key>
		<dict>
			<key>frame</key>
			<string>{{706,2},{284,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,52}}</string>
			<key>sourceSize</key>
			<string>{284,52}</string>
		</dict>
		<key>pic_xsrw_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,228},{245,55}}</string>
			<key>offset</key>
			<string>{-21,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,28},{245,55}}</string>
			<key>sourceSize</key>
			<string>{289,127}</string>
		</dict>
		<key>reward_jiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,181},{415,67}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{415,67}}</string>
			<key>sourceSize</key>
			<string>{425,67}</string>
		</dict>
		<key>wy_16_16_40202_ydrw25image_.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,250},{415,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{415,66}}</string>
			<key>sourceSize</key>
			<string>{415,66}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_ActivityNewYear202510.png</string>
		<key>size</key>
		<string>{1910,507}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_ActivityNewYear202510.png</string>
	</dict>
</dict>
</plist>
