<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask01_100065txkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,494},{69,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,69}}</string>
			<key>sourceSize</key>
			<string>{69,69}</string>
		</dict>
		<key>wy_10_10_67515_100065txkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{493,187},{17,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,18}}</string>
			<key>sourceSize</key>
			<string>{17,18}</string>
		</dict>
		<key>wy_11_11_61440_100065txkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,284},{24,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,24}}</string>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>wy_12_12_23877_100065txkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,284},{25,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,25}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>wy_13_13_31068_100065txkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,284},{18,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,18}}</string>
			<key>sourceSize</key>
			<string>{18,18}</string>
		</dict>
		<key>wy_14_14_38454_100065txkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{493,207},{13,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,12}}</string>
			<key>sourceSize</key>
			<string>{13,12}</string>
		</dict>
		<key>wy_15_15_2843_100065txkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,284},{33,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,35}}</string>
			<key>sourceSize</key>
			<string>{33,35}</string>
		</dict>
		<key>wy_16_16_89233_100065txkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,494},{68,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,68}}</string>
			<key>sourceSize</key>
			<string>{68,68}</string>
		</dict>
		<key>wy_1_1_90402_100065txkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,494},{64,65}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{64,65}}</string>
			<key>sourceSize</key>
			<string>{74,73}</string>
		</dict>
		<key>wy_2_2_75358_100065txkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,329},{194,196}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{194,196}}</string>
			<key>sourceSize</key>
			<string>{202,202}</string>
		</dict>
		<key>wy_3_3_82953_100065txkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,250},{250,242}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{250,242}}</string>
			<key>sourceSize</key>
			<string>{252,252}</string>
		</dict>
		<key>wy_4_4_88916_100065txkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,2},{59,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,150}}</string>
			<key>sourceSize</key>
			<string>{59,150}</string>
		</dict>
		<key>wy_5_5_35250_100065txkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,187},{44,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,140}}</string>
			<key>sourceSize</key>
			<string>{44,140}</string>
		</dict>
		<key>wy_6_6_76497_100065txkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,250},{137,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,28}}</string>
			<key>sourceSize</key>
			<string>{137,28}</string>
		</dict>
		<key>wy_7_7_74779_100065txkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,154},{50,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,31}}</string>
			<key>sourceSize</key>
			<string>{50,31}</string>
		</dict>
		<key>wy_8_8_87106_100065txkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{393,250},{38,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,32}}</string>
			<key>sourceSize</key>
			<string>{38,32}</string>
		</dict>
		<key>wy_9_9_20018_100065txkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{443,246}}</string>
			<key>offset</key>
			<string>{2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{443,246}}</string>
			<key>sourceSize</key>
			<string>{449,252}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>100065txkimage.png</string>
		<key>scale</key>
		<real>0.84</real>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>100065txkimage.png</string>
	</dict>
</dict>
</plist>
