<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_bingo_box_open.png</key>
		<dict>
			<key>frame</key>
			<string>{{1984,2},{61,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{61,47}}</string>
			<key>sourceSize</key>
			<string>{63,47}</string>
		</dict>
		<key>pic_jp_bingo_baoxiang_diban_.png</key>
		<dict>
			<key>frame</key>
			<string>{{1965,225},{77,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,60}}</string>
			<key>sourceSize</key>
			<string>{77,60}</string>
		</dict>
		<key>pic_jp_bingo_baoxiang_jindutiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1194,349},{369,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{369,24}}</string>
			<key>sourceSize</key>
			<string>{369,24}</string>
		</dict>
		<key>pic_jp_bingo_baoxiang_jindutiao_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1194,316},{372,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{372,31}}</string>
			<key>sourceSize</key>
			<string>{372,31}</string>
		</dict>
		<key>pic_jp_bingo_btn_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1832,225},{131,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,55}}</string>
			<key>sourceSize</key>
			<string>{131,55}</string>
		</dict>
		<key>pic_jp_bingo_btn_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1825,2},{157,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,67}}</string>
			<key>sourceSize</key>
			<string>{157,67}</string>
		</dict>
		<key>pic_jp_bingo_btn_zhihui.png</key>
		<dict>
			<key>frame</key>
			<string>{{1825,71},{131,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,55}}</string>
			<key>sourceSize</key>
			<string>{131,55}</string>
		</dict>
		<key>pic_jp_bingo_daikaijiang_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1568,302},{255,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,32}}</string>
			<key>sourceSize</key>
			<string>{255,32}</string>
		</dict>
		<key>pic_jp_bingo_dianliang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1957,304},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>pic_jp_bingo_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{1194,123},{121,571}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,571}}</string>
			<key>sourceSize</key>
			<string>{121,571}</string>
		</dict>
		<key>pic_jp_bingo_diban_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1767,128},{253,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,95}}</string>
			<key>sourceSize</key>
			<string>{253,95}</string>
		</dict>
		<key>pic_jp_bingo_diban_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1568,336},{32,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,67}}</string>
			<key>sourceSize</key>
			<string>{32,67}</string>
		</dict>
		<key>pic_jp_bingo_gundongtiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1637,336},{22,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,60}}</string>
			<key>sourceSize</key>
			<string>{22,60}</string>
		</dict>
		<key>pic_jp_bingo_gundongtiao_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1194,18},{2,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,39}}</string>
			<key>sourceSize</key>
			<string>{2,39}</string>
		</dict>
		<key>pic_jp_bingo_jiantou.png</key>
		<dict>
			<key>frame</key>
			<string>{{1994,65},{35,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,35}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>pic_jp_bingo_kaijiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{436,357}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{436,357}}</string>
			<key>sourceSize</key>
			<string>{436,357}</string>
		</dict>
		<key>pic_jp_bingo_kaijiang_deng.png</key>
		<dict>
			<key>frame</key>
			<string>{{1194,246},{339,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{339,68}}</string>
			<key>sourceSize</key>
			<string>{339,68}</string>
		</dict>
		<key>pic_jp_bingo_kaijiang_xian.png</key>
		<dict>
			<key>frame</key>
			<string>{{862,18},{330,330}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{330,330}}</string>
			<key>sourceSize</key>
			<string>{330,330}</string>
		</dict>
		<key>pic_jp_bingo_kaijiang_xian_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1535,285},{15,343}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,343}}</string>
			<key>sourceSize</key>
			<string>{15,343}</string>
		</dict>
		<key>pic_jp_bingo_tanchuang_fengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,2},{756,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{756,14}}</string>
			<key>sourceSize</key>
			<string>{756,14}</string>
		</dict>
		<key>pic_jp_bingo_tanchuang_goumai_dikuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1535,246},{295,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,37}}</string>
			<key>sourceSize</key>
			<string>{295,37}</string>
		</dict>
		<key>pic_jp_bingo_tanchuang_jiangliyilan_chendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1198,2},{625,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{625,119}}</string>
			<key>sourceSize</key>
			<string>{625,119}</string>
		</dict>
		<key>pic_jp_bingo_tanchuang_title_jiangpinyilan_fenge.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,361},{260,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{260,5}}</string>
			<key>sourceSize</key>
			<string>{260,5}</string>
		</dict>
		<key>pic_jp_bingo_weidianliang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1891,282},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>pic_jp_bingo_weijiesuo_mask.png</key>
		<dict>
			<key>frame</key>
			<string>{{1958,71},{34,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,46}}</string>
			<key>sourceSize</key>
			<string>{34,46}</string>
		</dict>
		<key>pic_jp_bingo_weikaijiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,18},{420,343}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,10},{420,343}}</string>
			<key>sourceSize</key>
			<string>{436,357}</string>
		</dict>
		<key>pic_jp_bingo_zhongjiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1825,302},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Bingo0.png</string>
		<key>size</key>
		<string>{2035,375}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>Bingo0.png</string>
	</dict>
</dict>
</plist>
