<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bg_zjzz_bz_diban2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{984,227}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{984,227}}</string>
			<key>sourceSize</key>
			<string>{984,227}</string>
		</dict>
		<key>btn_common_yellow1_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,1268},{105,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,37}}</string>
			<key>sourceSize</key>
			<string>{105,37}</string>
		</dict>
		<key>btn_common_yellow1_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{373,1268},{105,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,37}}</string>
			<key>sourceSize</key>
			<string>{105,37}</string>
		</dict>
		<key>btn_shishi_jia_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,1752},{48,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,47}}</string>
			<key>sourceSize</key>
			<string>{48,47}</string>
		</dict>
		<key>btn_shishi_jia_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,1702},{48,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,47}}</string>
			<key>sourceSize</key>
			<string>{48,47}</string>
		</dict>
		<key>btn_shishi_jian_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,1652},{48,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,47}}</string>
			<key>sourceSize</key>
			<string>{48,47}</string>
		</dict>
		<key>btn_shishi_jian_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,1602},{48,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,47}}</string>
			<key>sourceSize</key>
			<string>{48,47}</string>
		</dict>
		<key>btn_zjzz_anniupipei_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1490},{238,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{238,91}}</string>
			<key>sourceSize</key>
			<string>{238,91}</string>
		</dict>
		<key>btn_zjzz_anniupipei_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,664},{238,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{238,91}}</string>
			<key>sourceSize</key>
			<string>{238,91}</string>
		</dict>
		<key>btn_zjzz_bz_anniu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,1268},{105,36}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,36}}</string>
			<key>sourceSize</key>
			<string>{107,36}</string>
		</dict>
		<key>btn_zjzz_bz_anniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,1230},{107,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,36}}</string>
			<key>sourceSize</key>
			<string>{107,36}</string>
		</dict>
		<key>btn_zjzz_smdh_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1968},{165,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,51}}</string>
			<key>sourceSize</key>
			<string>{165,51}</string>
		</dict>
		<key>btn_zjzz_smdh_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,1823},{165,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,51}}</string>
			<key>sourceSize</key>
			<string>{165,51}</string>
		</dict>
		<key>btn_zjzz_zjm_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,1197},{125,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,31}}</string>
			<key>sourceSize</key>
			<string>{125,31}</string>
		</dict>
		<key>btn_zjzz_zjm_normal_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,1961},{125,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,31}}</string>
			<key>sourceSize</key>
			<string>{125,31}</string>
		</dict>
		<key>pic_zjzz_bz_buzhen_1_noraml.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,1623},{198,75}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,7},{198,75}}</string>
			<key>sourceSize</key>
			<string>{218,89}</string>
		</dict>
		<key>pic_zjzz_bz_buzhen_1_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,1400},{214,89}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{214,89}}</string>
			<key>sourceSize</key>
			<string>{218,89}</string>
		</dict>
		<key>pic_zjzz_bz_buzhen_2_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,904},{179,79}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,5},{179,79}}</string>
			<key>sourceSize</key>
			<string>{193,89}</string>
		</dict>
		<key>pic_zjzz_bz_buzhen_2_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,1616},{193,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,89}}</string>
			<key>sourceSize</key>
			<string>{193,89}</string>
		</dict>
		<key>pic_zjzz_bz_buzhen_3_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,845},{161,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,5},{161,79}}</string>
			<key>sourceSize</key>
			<string>{173,89}</string>
		</dict>
		<key>pic_zjzz_bz_buzhen_3_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,1870},{173,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,89}}</string>
			<key>sourceSize</key>
			<string>{173,89}</string>
		</dict>
		<key>pic_zjzz_bz_buzhen_4_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,1008},{187,77}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,6},{187,77}}</string>
			<key>sourceSize</key>
			<string>{199,89}</string>
		</dict>
		<key>pic_zjzz_bz_buzhen_4_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,1669},{199,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,89}}</string>
			<key>sourceSize</key>
			<string>{199,89}</string>
		</dict>
		<key>pic_zjzz_bz_buzhen_5_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,1730},{209,79}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{209,79}}</string>
			<key>sourceSize</key>
			<string>{219,89}</string>
		</dict>
		<key>pic_zjzz_bz_buzhen_5_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,1439},{219,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,89}}</string>
			<key>sourceSize</key>
			<string>{219,89}</string>
		</dict>
		<key>pic_zjzz_bz_buzhen_6_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,1439},{228,77}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,5},{228,77}}</string>
			<key>sourceSize</key>
			<string>{236,89}</string>
		</dict>
		<key>pic_zjzz_bz_buzhen_6_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1730},{236,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,89}}</string>
			<key>sourceSize</key>
			<string>{236,89}</string>
		</dict>
		<key>pic_zjzz_bz_shang_shengli.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,1994},{28,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,27}}</string>
			<key>sourceSize</key>
			<string>{28,27}</string>
		</dict>
		<key>pic_zjzz_bz_shang_shengli2.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,1439},{15,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{15,15}}</string>
			<key>sourceSize</key>
			<string>{17,17}</string>
		</dict>
		<key>pic_zjzz_bz_shang_zdxs2.png</key>
		<dict>
			<key>frame</key>
			<string>{{413,1549},{56,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,51}}</string>
			<key>sourceSize</key>
			<string>{56,51}</string>
		</dict>
		<key>pic_zjzz_bz_shang_zdxs3.png</key>
		<dict>
			<key>frame</key>
			<string>{{413,1496},{56,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,51}}</string>
			<key>sourceSize</key>
			<string>{56,51}</string>
		</dict>
		<key>pic_zjzz_bz_shang_zdxs4.png</key>
		<dict>
			<key>frame</key>
			<string>{{413,1443},{56,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,51}}</string>
			<key>sourceSize</key>
			<string>{56,51}</string>
		</dict>
		<key>pic_zjzz_bz_shangdi1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,2},{192,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,12}}</string>
			<key>sourceSize</key>
			<string>{192,12}</string>
		</dict>
		<key>pic_zjzz_bz_shangdi2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,664},{192,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,12}}</string>
			<key>sourceSize</key>
			<string>{192,12}</string>
		</dict>
		<key>pic_zjzz_bz_shangdi4.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,1400},{221,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,55}}</string>
			<key>sourceSize</key>
			<string>{221,55}</string>
		</dict>
		<key>pic_zjzz_bz_suo1_qianpai.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,845},{40,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,35}}</string>
			<key>sourceSize</key>
			<string>{40,35}</string>
		</dict>
		<key>pic_zjzz_bz_suo2_houpai.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,858},{40,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,35}}</string>
			<key>sourceSize</key>
			<string>{40,35}</string>
		</dict>
		<key>pic_zjzz_bz_xia_diban1.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,1811},{52,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{52,80}}</string>
			<key>sourceSize</key>
			<string>{54,80}</string>
		</dict>
		<key>pic_zjzz_bz_xia_diban3.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,733},{110,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,131}}</string>
			<key>sourceSize</key>
			<string>{110,131}</string>
		</dict>
		<key>pic_zjzz_bz_xia_diban3_fengexian1.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,1400},{24,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{24,5}}</string>
			<key>sourceSize</key>
			<string>{24,7}</string>
		</dict>
		<key>pic_zjzz_bz_xia_diban3_fengexian2.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,2},{87,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{87,7}}</string>
			<key>sourceSize</key>
			<string>{93,7}</string>
		</dict>
		<key>pic_zjzz_bz_xia_jinzhi.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,305},{33,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{33,32}}</string>
			<key>sourceSize</key>
			<string>{33,34}</string>
		</dict>
		<key>pic_zjzz_guize_xinxifenge.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,2},{260,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{260,5}}</string>
			<key>sourceSize</key>
			<string>{260,5}</string>
		</dict>
		<key>pic_zjzz_ph_di1.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,1660},{51,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,68}}</string>
			<key>sourceSize</key>
			<string>{51,68}</string>
		</dict>
		<key>pic_zjzz_select_yixuanze.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,1961},{51,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,58}}</string>
			<key>sourceSize</key>
			<string>{51,58}</string>
		</dict>
		<key>pic_zjzz_smdh_aniniu_suo.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,264},{39,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,33}}</string>
			<key>sourceSize</key>
			<string>{39,33}</string>
		</dict>
		<key>pic_zjzz_smdh_dikuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,988},{70,500}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,500}}</string>
			<key>sourceSize</key>
			<string>{70,500}</string>
		</dict>
		<key>pic_zjzz_smdh_dikuang_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,2},{224,341}}</string>
			<key>offset</key>
			<string>{4,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,4},{224,341}}</string>
			<key>sourceSize</key>
			<string>{250,345}</string>
		</dict>
		<key>pic_zjzz_smdh_likuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,985},{46,189}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,189}}</string>
			<key>sourceSize</key>
			<string>{46,189}</string>
		</dict>
		<key>pic_zjzz_smdh_tc_zidi_fengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{489,1008},{2,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,4}}</string>
			<key>sourceSize</key>
			<string>{2,4}</string>
		</dict>
		<key>pic_zjzz_smdh_zidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,1823},{195,66}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{195,66}}</string>
			<key>sourceSize</key>
			<string>{201,66}</string>
		</dict>
		<key>pic_zjzz_tubiao_di_xuanzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,1280},{118,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,115}}</string>
			<key>sourceSize</key>
			<string>{118,115}</string>
		</dict>
		<key>pic_zjzz_xzq_deng1.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,1280},{180,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,157}}</string>
			<key>sourceSize</key>
			<string>{180,157}</string>
		</dict>
		<key>pic_zjzz_xzq_deng2.png</key>
		<dict>
			<key>frame</key>
			<string>{{413,1375},{59,66}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,66}}</string>
			<key>sourceSize</key>
			<string>{61,66}</string>
		</dict>
		<key>pic_zjzz_xzq_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,539},{153,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,192}}</string>
			<key>sourceSize</key>
			<string>{153,192}</string>
		</dict>
		<key>pic_zjzz_xzq_di_huise.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,345},{153,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,192}}</string>
			<key>sourceSize</key>
			<string>{153,192}</string>
		</dict>
		<key>pic_zjzz_zjm_tubiaodi.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,988},{290,286}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{290,286}}</string>
			<key>sourceSize</key>
			<string>{290,286}</string>
		</dict>
		<key>pic_zjzz_zjm_xingxing_zhuagnshi.png</key>
		<dict>
			<key>frame</key>
			<string>{{471,733},{75,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,14}}</string>
			<key>sourceSize</key>
			<string>{75,14}</string>
		</dict>
		<key>pic_zjzz_zjm_xingxingdi2.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,345},{317,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{317,105}}</string>
			<key>sourceSize</key>
			<string>{317,105}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>RTFDeploy0.png</string>
		<key>size</key>
		<string>{493,2023}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>RTFDeploy0.png</string>
	</dict>
</dict>
</plist>
