<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wy_10_10_62708_zailinygnzchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,2},{56,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,46}}</string>
			<key>sourceSize</key>
			<string>{56,46}</string>
		</dict>
		<key>wy_12_12_91403_zailinygnzchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,73},{23,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,27}}</string>
			<key>sourceSize</key>
			<string>{23,27}</string>
		</dict>
		<key>wy_14_14_37114_zailinygnzchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,60},{37,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,43}}</string>
			<key>sourceSize</key>
			<string>{37,43}</string>
		</dict>
		<key>wy_4_4_11121_zailinygnzchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{200,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,69}}</string>
			<key>sourceSize</key>
			<string>{200,69}</string>
		</dict>
		<key>wy_5_5_17082_zailinygnzchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,99},{137,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,62}}</string>
			<key>sourceSize</key>
			<string>{137,62}</string>
		</dict>
		<key>wy_6_6_44893_zailinygnzchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,73},{161,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,37}}</string>
			<key>sourceSize</key>
			<string>{161,37}</string>
		</dict>
		<key>wy_8_8_76983_zailinygnzchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,73},{23,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,23}}</string>
			<key>sourceSize</key>
			<string>{23,23}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>zailinygnzchimage.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>zailinygnzchimage.png</string>
	</dict>
</dict>
</plist>
