<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bg_jingjichang_touxiangkuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{404,147}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{404,147}}</string>
			<key>sourceSize</key>
			<string>{406,147}</string>
		</dict>
		<key>bg_jingjichang_touxiangkuang02.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,408},{119,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,106}}</string>
			<key>sourceSize</key>
			<string>{119,106}</string>
		</dict>
		<key>btn_mobai_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,272},{134,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,57}}</string>
			<key>sourceSize</key>
			<string>{134,57}</string>
		</dict>
		<key>btn_mobai_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,136},{134,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,57}}</string>
			<key>sourceSize</key>
			<string>{134,57}</string>
		</dict>
		<key>btn_xuanyaoanniu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,69},{102,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,65}}</string>
			<key>sourceSize</key>
			<string>{102,65}</string>
		</dict>
		<key>btn_xuanyaoanniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,2},{102,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,65}}</string>
			<key>sourceSize</key>
			<string>{102,65}</string>
		</dict>
		<key>btn_xuanyaoanniublue_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,240},{102,43}}</string>
			<key>offset</key>
			<string>{0,11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,43}}</string>
			<key>sourceSize</key>
			<string>{102,65}</string>
		</dict>
		<key>btn_xuanyaoanniublue_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,136},{102,43}}</string>
			<key>offset</key>
			<string>{0,11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,43}}</string>
			<key>sourceSize</key>
			<string>{102,65}</string>
		</dict>
		<key>pic_jjc_tzq_xiaologo.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,495},{29,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{29,23}}</string>
			<key>sourceSize</key>
			<string>{33,27}</string>
		</dict>
		<key>pic_qipao_shizhuangqipaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,408},{159,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,73}}</string>
			<key>sourceSize</key>
			<string>{159,73}</string>
		</dict>
		<key>youan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,408},{85,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,57}}</string>
			<key>sourceSize</key>
			<string>{85,57}</string>
		</dict>
		<key>youan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,529},{85,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,57}}</string>
			<key>sourceSize</key>
			<string>{85,57}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Arena0.png</string>
		<key>size</key>
		<string>{255,589}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>Arena0.png</string>
	</dict>
</dict>
</plist>
