<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>diguanga_sznfccjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{423,472},{93,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,82}}</string>
			<key>sourceSize</key>
			<string>{93,82}</string>
		</dict>
		<key>diqiu_sznfccjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,629},{292,325}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{292,325}}</string>
			<key>sourceSize</key>
			<string>{292,325}</string>
		</dict>
		<key>ditu_sznfccjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{767,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{767,288}}</string>
			<key>sourceSize</key>
			<string>{767,288}</string>
		</dict>
		<key>ggb_sznfccjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,292},{228,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{228,224}}</string>
			<key>sourceSize</key>
			<string>{228,224}</string>
		</dict>
		<key>huan_sznfccjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,292},{194,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,41}}</string>
			<key>sourceSize</key>
			<string>{194,41}</string>
		</dict>
		<key>huance_sznfccjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,292},{194,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,30}}</string>
			<key>sourceSize</key>
			<string>{194,30}</string>
		</dict>
		<key>huanying_sznfccjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,839},{165,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,73}}</string>
			<key>sourceSize</key>
			<string>{165,73}</string>
		</dict>
		<key>lihe_sznfccjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{909,571},{56,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,60}}</string>
			<key>sourceSize</key>
			<string>{56,60}</string>
		</dict>
		<key>mask1_sznfccjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1012,2},{7,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,7}}</string>
			<key>sourceSize</key>
			<string>{7,7}</string>
		</dict>
		<key>mask2_sznfccjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,292},{28,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,47}}</string>
			<key>sourceSize</key>
			<string>{28,47}</string>
		</dict>
		<key>mask3_sznfccjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,292},{41,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,68}}</string>
			<key>sourceSize</key>
			<string>{41,68}</string>
		</dict>
		<key>mask4_sznfccjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{762,344},{258,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{258,145}}</string>
			<key>sourceSize</key>
			<string>{258,145}</string>
		</dict>
		<key>qipao_sznfccjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{909,491},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>qiu_sznfccjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,839},{165,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,163}}</string>
			<key>sourceSize</key>
			<string>{165,163}</string>
		</dict>
		<key>quan_sznfccjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{989,491},{25,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,25}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>rwlrk_sznfccjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,344},{419,493}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{419,493}}</string>
			<key>sourceSize</key>
			<string>{419,493}</string>
		</dict>
		<key>shangmeng_sznfccjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{762,491},{125,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,145}}</string>
			<key>sourceSize</key>
			<string>{125,145}</string>
		</dict>
		<key>tanmuA_sznfccjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,839},{165,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,93}}</string>
			<key>sourceSize</key>
			<string>{165,93}</string>
		</dict>
		<key>tanmuB_sznfccjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{423,324},{146,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,102}}</string>
			<key>sourceSize</key>
			<string>{146,102}</string>
		</dict>
		<key>tc_sznfccjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{771,2},{340,239}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{340,239}}</string>
			<key>sourceSize</key>
			<string>{340,239}</string>
		</dict>
		<key>wzcsq_sznfccjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,839},{151,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,168}}</string>
			<key>sourceSize</key>
			<string>{151,168}</string>
		</dict>
		<key>xiameng_sznfccjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,629},{125,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,140}}</string>
			<key>sourceSize</key>
			<string>{125,140}</string>
		</dict>
		<key>xingdian_sznfccjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,756},{124,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,124}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>zi_sznfccjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,292},{41,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,36}}</string>
			<key>sourceSize</key>
			<string>{41,36}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>sznfccjimage.png</string>
		<key>scale</key>
		<real>0.9</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>sznfccjimage.png</string>
	</dict>
</dict>
</plist>
