<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask01_shiznjjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{585,457},{520,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{520,150}}</string>
			<key>sourceSize</key>
			<string>{520,150}</string>
		</dict>
		<key>mask02_shiznjjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{761,278}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{761,278}}</string>
			<key>sourceSize</key>
			<string>{761,278}</string>
		</dict>
		<key>szntb_shiznjjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{955,915},{66,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,54}}</string>
			<key>sourceSize</key>
			<string>{66,54}</string>
		</dict>
		<key>wy_10_10_90690_shiznjjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,718},{581,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{581,216}}</string>
			<key>sourceSize</key>
			<string>{581,216}</string>
		</dict>
		<key>wy_11_11_25743_shiznjjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,500},{581,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{581,216}}</string>
			<key>sourceSize</key>
			<string>{581,216}</string>
		</dict>
		<key>wy_12_12_92408_shiznjjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1152},{560,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{560,69}}</string>
			<key>sourceSize</key>
			<string>{560,69}</string>
		</dict>
		<key>wy_13_13_44900_shiznjjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{720,1023},{190,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,105}}</string>
			<key>sourceSize</key>
			<string>{190,105}</string>
		</dict>
		<key>wy_14_14_53953_shiznjjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{983,447},{71,28}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{71,28}}</string>
			<key>sourceSize</key>
			<string>{75,32}</string>
		</dict>
		<key>wy_15_15_10649_shiznjjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,936},{580,214}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{580,214}}</string>
			<key>sourceSize</key>
			<string>{580,214}</string>
		</dict>
		<key>wy_1_1_41784_shiznjjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1013,447},{261,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{261,6}}</string>
			<key>sourceSize</key>
			<string>{261,6}</string>
		</dict>
		<key>wy_2_2_80687_shiznjjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{765,2},{251,275}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{251,275}}</string>
			<key>sourceSize</key>
			<string>{251,275}</string>
		</dict>
		<key>wy_35_35_7645_shiznjjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{983,413},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>wy_37_37_63821_shiznjjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,282},{581,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{581,216}}</string>
			<key>sourceSize</key>
			<string>{581,216}</string>
		</dict>
		<key>wy_39_39_76259_shiznjjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{681,1130},{549,181}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{549,181}}</string>
			<key>sourceSize</key>
			<string>{555,185}</string>
		</dict>
		<key>wy_3_3_31545_shiznjjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{864,1130},{446,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{446,71}}</string>
			<key>sourceSize</key>
			<string>{446,71}</string>
		</dict>
		<key>wy_41_41_84091_shiznjjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{585,282},{173,176}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,176}}</string>
			<key>sourceSize</key>
			<string>{173,176}</string>
		</dict>
		<key>wy_46_46_25081_shiznjjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{937,1309},{52,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,54}}</string>
			<key>sourceSize</key>
			<string>{52,54}</string>
		</dict>
		<key>wy_48_48_72830_shiznjjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{983,570},{22,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,40}}</string>
			<key>sourceSize</key>
			<string>{22,40}</string>
		</dict>
		<key>wy_4_4_83842_shiznjjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{955,971},{336,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{336,59}}</string>
			<key>sourceSize</key>
			<string>{336,59}</string>
		</dict>
		<key>wy_50_50_71437_shiznjjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{983,279},{37,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,31}}</string>
			<key>sourceSize</key>
			<string>{37,31}</string>
		</dict>
		<key>wy_52_52_951_shiznjjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{983,520},{26,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,48}}</string>
			<key>sourceSize</key>
			<string>{26,48}</string>
		</dict>
		<key>wy_56_56_54439_shiznjjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,915},{216,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,106}}</string>
			<key>sourceSize</key>
			<string>{216,106}</string>
		</dict>
		<key>wy_58_58_60613_shiznjjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,862},{268,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{268,51}}</string>
			<key>sourceSize</key>
			<string>{268,51}</string>
		</dict>
		<key>wy_59_59_50462_shiznjjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{584,1115},{95,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,95}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>wy_5_5_90020_shiznjjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{584,979},{134,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,134}}</string>
			<key>sourceSize</key>
			<string>{134,134}</string>
		</dict>
		<key>wy_6_6_45055_shiznjjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{983,312},{99,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,36}}</string>
			<key>sourceSize</key>
			<string>{99,36}</string>
		</dict>
		<key>wy_9_9_63610_shiznjjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{765,279},{581,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{581,216}}</string>
			<key>sourceSize</key>
			<string>{581,216}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>shiznjjimage.png</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>shiznjjimage.png</string>
	</dict>
</dict>
</plist>
