<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_shengdanjiemian_shijiandi.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,2},{79,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,37}}</string>
			<key>sourceSize</key>
			<string>{79,37}</string>
		</dict>
		<key>pic_shizhuangxiu_banzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{206,301}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,301}}</string>
			<key>sourceSize</key>
			<string>{206,301}</string>
		</dict>
		<key>pic_shizhuangxiu_banzi_fengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{861,2},{90,1}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,1}}</string>
			<key>sourceSize</key>
			<string>{92,1}</string>
		</dict>
		<key>pic_shizhuangxiu_jianjiedi.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,2},{300,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,103}}</string>
			<key>sourceSize</key>
			<string>{300,103}</string>
		</dict>
		<key>pic_shizhuangxiu_xiaojiantou.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,83},{21,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,20}}</string>
			<key>sourceSize</key>
			<string>{21,20}</string>
		</dict>
		<key>pic_szzz_unkown_100091.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,731},{128,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,153}}</string>
			<key>sourceSize</key>
			<string>{128,153}</string>
		</dict>
		<key>pic_szzz_unkown_100095.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,573},{128,156}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,10},{128,156}}</string>
			<key>sourceSize</key>
			<string>{150,166}</string>
		</dict>
		<key>pic_szzz_unkown_100096.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,1180},{126,146}}</string>
			<key>offset</key>
			<string>{3,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,20},{126,146}}</string>
			<key>sourceSize</key>
			<string>{150,166}</string>
		</dict>
		<key>pic_szzz_unkown_100099.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,403},{128,168}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,0},{128,168}}</string>
			<key>sourceSize</key>
			<string>{150,168}</string>
		</dict>
		<key>pic_szzz_unkown_100100.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,886},{128,148}}</string>
			<key>offset</key>
			<string>{-2,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,18},{128,148}}</string>
			<key>sourceSize</key>
			<string>{150,166}</string>
		</dict>
		<key>pic_szzz_unkown_100101.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,1449},{143,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,184}}</string>
			<key>sourceSize</key>
			<string>{143,184}</string>
		</dict>
		<key>pic_szzz_unkown_100102.png</key>
		<dict>
			<key>frame</key>
			<string>{{397,216},{107,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,142}}</string>
			<key>sourceSize</key>
			<string>{107,142}</string>
		</dict>
		<key>pic_szzz_unkown_100103.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,1531},{162,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,147}}</string>
			<key>sourceSize</key>
			<string>{162,147}</string>
		</dict>
		<key>pic_szzz_unkown_100104.png</key>
		<dict>
			<key>frame</key>
			<string>{{471,1724},{138,148}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,148}}</string>
			<key>sourceSize</key>
			<string>{140,148}</string>
		</dict>
		<key>pic_szzz_unkown_100105.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,1036},{128,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,142}}</string>
			<key>sourceSize</key>
			<string>{128,142}</string>
		</dict>
		<key>pic_szzz_unkown_100106.png</key>
		<dict>
			<key>frame</key>
			<string>{{471,1864},{150,150}}</string>
			<key>offset</key>
			<string>{0,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,166}</string>
		</dict>
		<key>pic_szzz_unkown_100107.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,1864},{135,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,142}}</string>
			<key>sourceSize</key>
			<string>{135,142}</string>
		</dict>
		<key>pic_szzz_unkown_100108.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,1908},{132,146}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,2},{132,146}}</string>
			<key>sourceSize</key>
			<string>{140,148}</string>
		</dict>
		<key>pic_szzz_unkown_100109.png</key>
		<dict>
			<key>frame</key>
			<string>{{696,1717},{155,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,145}}</string>
			<key>sourceSize</key>
			<string>{155,145}</string>
		</dict>
		<key>pic_szzz_unkown_100110.png</key>
		<dict>
			<key>frame</key>
			<string>{{691,1276},{135,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,166}}</string>
			<key>sourceSize</key>
			<string>{135,166}</string>
		</dict>
		<key>pic_szzz_unkown_100111.png</key>
		<dict>
			<key>frame</key>
			<string>{{697,478},{100,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,169}}</string>
			<key>sourceSize</key>
			<string>{100,169}</string>
		</dict>
		<key>pic_szzz_unkown_100112.png</key>
		<dict>
			<key>frame</key>
			<string>{{539,1570},{155,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,152}}</string>
			<key>sourceSize</key>
			<string>{155,152}</string>
		</dict>
		<key>pic_szzz_unkown_100113.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1752},{155,158}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{155,158}}</string>
			<key>sourceSize</key>
			<string>{155,160}</string>
		</dict>
		<key>pic_szzz_unkown_100114.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,1751},{155,154}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{155,154}}</string>
			<key>sourceSize</key>
			<string>{155,160}</string>
		</dict>
		<key>pic_szzz_unkown_100115.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,1752},{155,154}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{155,154}}</string>
			<key>sourceSize</key>
			<string>{155,160}</string>
		</dict>
		<key>pic_szzz_unkown_100116.png</key>
		<dict>
			<key>frame</key>
			<string>{{508,143},{186,196}}</string>
			<key>offset</key>
			<string>{0,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,14},{186,196}}</string>
			<key>sourceSize</key>
			<string>{186,210}</string>
		</dict>
		<key>pic_szzz_unkown_100117.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,107},{201,107}}</string>
			<key>offset</key>
			<string>{0,-34}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,68},{201,107}}</string>
			<key>sourceSize</key>
			<string>{201,175}</string>
		</dict>
		<key>pic_szzz_unkown_100118.png</key>
		<dict>
			<key>frame</key>
			<string>{{706,315},{159,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,161}}</string>
			<key>sourceSize</key>
			<string>{159,161}</string>
		</dict>
		<key>pic_szzz_unkown_100119.png</key>
		<dict>
			<key>frame</key>
			<string>{{607,2},{201,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,139}}</string>
			<key>sourceSize</key>
			<string>{201,139}</string>
		</dict>
		<key>pic_szzz_unkown_100121.png</key>
		<dict>
			<key>frame</key>
			<string>{{504,1216},{185,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,156}}</string>
			<key>sourceSize</key>
			<string>{185,156}</string>
		</dict>
		<key>pic_szzz_unkown_100122.png</key>
		<dict>
			<key>frame</key>
			<string>{{693,1111},{168,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,163}}</string>
			<key>sourceSize</key>
			<string>{168,163}</string>
		</dict>
		<key>pic_szzz_unkown_100123.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,1052},{185,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,162}}</string>
			<key>sourceSize</key>
			<string>{185,162}</string>
		</dict>
		<key>pic_szzz_unkown_100124.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,1286},{185,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,161}}</string>
			<key>sourceSize</key>
			<string>{185,161}</string>
		</dict>
		<key>pic_szzz_unkown_100125.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,331},{185,189}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,189}}</string>
			<key>sourceSize</key>
			<string>{185,189}</string>
		</dict>
		<key>pic_szzz_unkown_100128.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,1328},{115,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,149}}</string>
			<key>sourceSize</key>
			<string>{115,149}</string>
		</dict>
		<key>pic_szzz_unkown_100131.png</key>
		<dict>
			<key>frame</key>
			<string>{{693,954},{170,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,155}}</string>
			<key>sourceSize</key>
			<string>{170,155}</string>
		</dict>
		<key>pic_szzz_unkown_100132.png</key>
		<dict>
			<key>frame</key>
			<string>{{696,1570},{155,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,145}}</string>
			<key>sourceSize</key>
			<string>{155,145}</string>
		</dict>
		<key>pic_szzz_unkown_100133.png</key>
		<dict>
			<key>frame</key>
			<string>{{706,143},{170,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,159}}</string>
			<key>sourceSize</key>
			<string>{170,159}</string>
		</dict>
		<key>pic_szzz_unkown_100141.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,587},{185,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,179}}</string>
			<key>sourceSize</key>
			<string>{185,179}</string>
		</dict>
		<key>pic_szzz_unkown_100142.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,699},{185,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,179}}</string>
			<key>sourceSize</key>
			<string>{185,179}</string>
		</dict>
		<key>pic_szzz_unkown_100143.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,518},{185,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,179}}</string>
			<key>sourceSize</key>
			<string>{185,179}</string>
		</dict>
		<key>pic_szzz_unkown_100150.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,210},{200,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,171}}</string>
			<key>sourceSize</key>
			<string>{200,171}</string>
		</dict>
		<key>pic_szzz_unkown_100151.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1442},{185,158}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{185,158}}</string>
			<key>sourceSize</key>
			<string>{185,162}</string>
		</dict>
		<key>pic_szzz_unkown_100152.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,1118},{185,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,166}}</string>
			<key>sourceSize</key>
			<string>{185,166}</string>
		</dict>
		<key>pic_szzz_unkown_100153.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,383},{185,185}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,185}}</string>
			<key>sourceSize</key>
			<string>{185,185}</string>
		</dict>
		<key>pic_szzz_unkown_100156.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,570},{185,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,181}}</string>
			<key>sourceSize</key>
			<string>{185,181}</string>
		</dict>
		<key>pic_szzz_unkown_100157.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,216},{185,191}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,191}}</string>
			<key>sourceSize</key>
			<string>{185,191}</string>
		</dict>
		<key>pic_szzz_unkown_100158.png</key>
		<dict>
			<key>frame</key>
			<string>{{658,1413},{155,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,163}}</string>
			<key>sourceSize</key>
			<string>{155,163}</string>
		</dict>
		<key>pic_szzz_unkown_100159.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,403},{185,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,182}}</string>
			<key>sourceSize</key>
			<string>{185,182}</string>
		</dict>
		<key>pic_szzz_unkown_100160.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,1594},{155,161}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{155,161}}</string>
			<key>sourceSize</key>
			<string>{155,163}</string>
		</dict>
		<key>pic_szzz_unkown_100161.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,946},{185,170}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,12},{185,170}}</string>
			<key>sourceSize</key>
			<string>{185,182}</string>
		</dict>
		<key>pic_szzz_unkown_100162.png</key>
		<dict>
			<key>frame</key>
			<string>{{493,1374},{155,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,163}}</string>
			<key>sourceSize</key>
			<string>{155,163}</string>
		</dict>
		<key>pic_szzz_unkown_100163.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,880},{185,170}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,12},{185,170}}</string>
			<key>sourceSize</key>
			<string>{185,182}</string>
		</dict>
		<key>pic_szzz_unkown_100165.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,753},{185,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,178}}</string>
			<key>sourceSize</key>
			<string>{185,178}</string>
		</dict>
		<key>pic_szzz_unkown_100166.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,768},{185,176}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{185,176}}</string>
			<key>sourceSize</key>
			<string>{185,182}</string>
		</dict>
		<key>pic_szzz_unkown_100168.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1109},{185,167}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,12},{185,167}}</string>
			<key>sourceSize</key>
			<string>{185,179}</string>
		</dict>
		<key>pic_szzz_unkown_100169.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1278},{185,162}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,20},{185,162}}</string>
			<key>sourceSize</key>
			<string>{185,182}</string>
		</dict>
		<key>pic_szzz_unkown_100170.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1602},{148,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,161}}</string>
			<key>sourceSize</key>
			<string>{148,161}</string>
		</dict>
		<key>pic_szzz_unkown_100171.png</key>
		<dict>
			<key>frame</key>
			<string>{{693,580},{185,173}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{185,173}}</string>
			<key>sourceSize</key>
			<string>{185,179}</string>
		</dict>
		<key>pic_szzz_unkown_100172.png</key>
		<dict>
			<key>frame</key>
			<string>{{693,767},{185,172}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,10},{185,172}}</string>
			<key>sourceSize</key>
			<string>{185,182}</string>
		</dict>
		<key>pic_szzz_unkown_100178.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,933},{185,174}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{185,174}}</string>
			<key>sourceSize</key>
			<string>{185,182}</string>
		</dict>
		<key>wfef.png</key>
		<dict>
			<key>frame</key>
			<string>{{849,2},{2,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,10}}</string>
			<key>sourceSize</key>
			<string>{2,10}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>SkinMain20.png</string>
		<key>size</key>
		<string>{868,2042}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>SkinMain20.png</string>
	</dict>
</dict>
</plist>
