<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bda_pkbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,87},{19,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,19}}</string>
			<key>sourceSize</key>
			<string>{19,19}</string>
		</dict>
		<key>fagbd_pkbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,2},{25,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,25}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>fk_pkbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{20,237},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>fppkp_pkbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,135},{43,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,59}}</string>
			<key>sourceSize</key>
			<string>{43,59}</string>
		</dict>
		<key>gta_pkbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,48},{44,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,8}}</string>
			<key>sourceSize</key>
			<string>{44,8}</string>
		</dict>
		<key>heipkp_pkbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,120},{43,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,59}}</string>
			<key>sourceSize</key>
			<string>{43,59}</string>
		</dict>
		<key>heit_pkbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,237},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>hg_pkbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{78,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,2}}</string>
			<key>sourceSize</key>
			<string>{78,2}</string>
		</dict>
		<key>hongpkp_pkbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,176},{43,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,59}}</string>
			<key>sourceSize</key>
			<string>{43,59}</string>
		</dict>
		<key>ht_pkbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,76},{16,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,15}}</string>
			<key>sourceSize</key>
			<string>{16,15}</string>
		</dict>
		<key>huo_pkbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,2},{72,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,77}}</string>
			<key>sourceSize</key>
			<string>{72,77}</string>
		</dict>
		<key>jok_pkbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,176},{43,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,59}}</string>
			<key>sourceSize</key>
			<string>{43,59}</string>
		</dict>
		<key>lizib_pkbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,19},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>mask1_pkbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,29},{23,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,5}}</string>
			<key>sourceSize</key>
			<string>{23,5}</string>
		</dict>
		<key>mask2_pkbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,6},{11,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,11}}</string>
			<key>sourceSize</key>
			<string>{11,11}</string>
		</dict>
		<key>mh_pkbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,108},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>mhpkp_pkbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,131},{43,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,59}}</string>
			<key>sourceSize</key>
			<string>{43,59}</string>
		</dict>
		<key>pkbm_pkbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,31},{9,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,15}}</string>
			<key>sourceSize</key>
			<string>{9,15}</string>
		</dict>
		<key>sd01_pkbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,76},{57,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,64}}</string>
			<key>sourceSize</key>
			<string>{57,64}</string>
		</dict>
		<key>sd02_pkbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,61},{57,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,64}}</string>
			<key>sourceSize</key>
			<string>{57,64}</string>
		</dict>
		<key>sd03_pkbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,2},{57,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,64}}</string>
			<key>sourceSize</key>
			<string>{57,64}</string>
		</dict>
		<key>sd04_pkbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,72},{57,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,64}}</string>
			<key>sourceSize</key>
			<string>{57,64}</string>
		</dict>
		<key>sg_pkbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,36},{22,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,49}}</string>
			<key>sourceSize</key>
			<string>{22,49}</string>
		</dict>
		<key>tx_pkbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,135},{29,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,33}}</string>
			<key>sourceSize</key>
			<string>{29,33}</string>
		</dict>
		<key>zxbda_pkbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,6},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA4444</string>
		<key>realTextureFileName</key>
		<string>pkbuffimage.png</string>
		<key>scale</key>
		<real>0.5</real>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>pkbuffimage.png</string>
	</dict>
</dict>
</plist>
