<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_kua_zhandouli.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,776},{78,58}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,58}}</string>
			<key>sourceSize</key>
			<string>{78,60}</string>
		</dict>
		<key>pic_qhjc_1dang_you.png</key>
		<dict>
			<key>frame</key>
			<string>{{855,636},{34,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{34,33}}</string>
			<key>sourceSize</key>
			<string>{36,35}</string>
		</dict>
		<key>pic_qhjc_1dang_zuo.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,690},{31,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{31,34}}</string>
			<key>sourceSize</key>
			<string>{35,36}</string>
		</dict>
		<key>pic_qhjc_2dang_you.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,728},{35,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,3},{35,32}}</string>
			<key>sourceSize</key>
			<string>{41,38}</string>
		</dict>
		<key>pic_qhjc_2dang_zuo.png</key>
		<dict>
			<key>frame</key>
			<string>{{822,728},{31,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,3},{31,35}}</string>
			<key>sourceSize</key>
			<string>{39,41}</string>
		</dict>
		<key>pic_qhjc_3dang_you.png</key>
		<dict>
			<key>frame</key>
			<string>{{886,671},{31,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,5},{31,29}}</string>
			<key>sourceSize</key>
			<string>{41,39}</string>
		</dict>
		<key>pic_qhjc_3dang_zuo.png</key>
		<dict>
			<key>frame</key>
			<string>{{855,726},{29,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,5},{29,31}}</string>
			<key>sourceSize</key>
			<string>{39,41}</string>
		</dict>
		<key>pic_qhjc_biaozhi_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,776},{58,60}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{58,60}}</string>
			<key>sourceSize</key>
			<string>{58,78}</string>
		</dict>
		<key>pic_qhjc_biaozhi_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{962,771},{57,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{57,59}}</string>
			<key>sourceSize</key>
			<string>{57,75}</string>
		</dict>
		<key>pic_qhjc_btword_bjl.png</key>
		<dict>
			<key>frame</key>
			<string>{{758,657},{72,23}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{72,23}}</string>
			<key>sourceSize</key>
			<string>{74,25}</string>
		</dict>
		<key>pic_qhjc_btword_bjqd.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,56},{98,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{98,23}}</string>
			<key>sourceSize</key>
			<string>{98,25}</string>
		</dict>
		<key>pic_qhjc_btword_bskx.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,2},{99,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,25}}</string>
			<key>sourceSize</key>
			<string>{99,25}</string>
		</dict>
		<key>pic_qhjc_btword_bssh.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,81},{97,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,25}}</string>
			<key>sourceSize</key>
			<string>{97,25}</string>
		</dict>
		<key>pic_qhjc_btword_ftl.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,583},{74,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,25}}</string>
			<key>sourceSize</key>
			<string>{74,25}</string>
		</dict>
		<key>pic_qhjc_btword_fy.png</key>
		<dict>
			<key>frame</key>
			<string>{{855,610},{47,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,24}}</string>
			<key>sourceSize</key>
			<string>{47,24}</string>
		</dict>
		<key>pic_qhjc_btword_gdl.png</key>
		<dict>
			<key>frame</key>
			<string>{{731,659},{74,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,25}}</string>
			<key>sourceSize</key>
			<string>{74,25}</string>
		</dict>
		<key>pic_qhjc_btword_gdqd.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,29},{98,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,25}}</string>
			<key>sourceSize</key>
			<string>{98,25}</string>
		</dict>
		<key>pic_qhjc_btword_gj.png</key>
		<dict>
			<key>frame</key>
			<string>{{864,583},{49,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,25}}</string>
			<key>sourceSize</key>
			<string>{49,25}</string>
		</dict>
		<key>pic_qhjc_btword_kbl.png</key>
		<dict>
			<key>frame</key>
			<string>{{731,583},{74,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,25}}</string>
			<key>sourceSize</key>
			<string>{74,25}</string>
		</dict>
		<key>pic_qhjc_btword_kzl.png</key>
		<dict>
			<key>frame</key>
			<string>{{704,659},{74,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,25}}</string>
			<key>sourceSize</key>
			<string>{74,25}</string>
		</dict>
		<key>pic_qhjc_btword_mkl.png</key>
		<dict>
			<key>frame</key>
			<string>{{704,583},{74,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,25}}</string>
			<key>sourceSize</key>
			<string>{74,25}</string>
		</dict>
		<key>pic_qhjc_btword_msl.png</key>
		<dict>
			<key>frame</key>
			<string>{{677,659},{74,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,25}}</string>
			<key>sourceSize</key>
			<string>{74,25}</string>
		</dict>
		<key>pic_qhjc_btword_pjl.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,663},{70,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{70,25}}</string>
			<key>sourceSize</key>
			<string>{74,25}</string>
		</dict>
		<key>pic_qhjc_btword_shl.png</key>
		<dict>
			<key>frame</key>
			<string>{{677,583},{74,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,25}}</string>
			<key>sourceSize</key>
			<string>{74,25}</string>
		</dict>
		<key>pic_qhjc_btword_sm.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,655},{33,21}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,3},{33,21}}</string>
			<key>sourceSize</key>
			<string>{49,25}</string>
		</dict>
		<key>pic_qhjc_btword_zll.png</key>
		<dict>
			<key>frame</key>
			<string>{{758,583},{72,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{72,25}}</string>
			<key>sourceSize</key>
			<string>{74,25}</string>
		</dict>
		<key>pic_qhjc_hongduishengli.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,234},{95,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,36}}</string>
			<key>sourceSize</key>
			<string>{95,36}</string>
		</dict>
		<key>pic_qhjc_landuishengli.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,196},{95,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,36}}</string>
			<key>sourceSize</key>
			<string>{95,36}</string>
		</dict>
		<key>pic_qhjc_main_bigbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{914,579}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{914,579}}</string>
			<key>sourceSize</key>
			<string>{914,585}</string>
		</dict>
		<key>pic_qhjc_word_blueteam.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,776},{63,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,0},{63,32}}</string>
			<key>sourceSize</key>
			<string>{121,32}</string>
		</dict>
		<key>pic_qhjc_word_bqhdjjs.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,776},{624,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{624,42}}</string>
			<key>sourceSize</key>
			<string>{624,42}</string>
		</dict>
		<key>pic_qhjc_word_djjsz.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,272},{92,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,20}}</string>
			<key>sourceSize</key>
			<string>{92,20}</string>
		</dict>
		<key>pic_qhjc_word_hdsj.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,820},{81,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,20}}</string>
			<key>sourceSize</key>
			<string>{81,20}</string>
		</dict>
		<key>pic_qhjc_word_hdyqbjs.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,362},{475,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{475,42}}</string>
			<key>sourceSize</key>
			<string>{475,42}</string>
		</dict>
		<key>pic_qhjc_word_jccg.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,294},{84,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,0},{84,44}}</string>
			<key>sourceSize</key>
			<string>{158,44}</string>
		</dict>
		<key>pic_qhjc_word_jcsb.png</key>
		<dict>
			<key>frame</key>
			<string>{{627,735},{111,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,0},{111,39}}</string>
			<key>sourceSize</key>
			<string>{153,39}</string>
		</dict>
		<key>pic_qhjc_word_jcsysj.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,340},{81,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,0},{81,20}}</string>
			<key>sourceSize</key>
			<string>{117,20}</string>
		</dict>
		<key>pic_qhjc_word_queren.png</key>
		<dict>
			<key>frame</key>
			<string>{{740,735},{46,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,1},{46,37}}</string>
			<key>sourceSize</key>
			<string>{82,39}</string>
		</dict>
		<key>pic_qhjc_word_redteam.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,776},{63,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,0},{63,32}}</string>
			<key>sourceSize</key>
			<string>{121,32}</string>
		</dict>
		<key>pic_qhjc_word_wjc_gray.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,583},{78,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,25}}</string>
			<key>sourceSize</key>
			<string>{78,25}</string>
		</dict>
		<key>pic_qhjc_word_xqhddjs.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,820},{118,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{118,20}}</string>
			<key>sourceSize</key>
			<string>{134,20}</string>
		</dict>
		<key>pic_qhjc_word_yjc_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,152},{95,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,42}}</string>
			<key>sourceSize</key>
			<string>{95,42}</string>
		</dict>
		<key>pic_qhjc_word_yjc_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,108},{95,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,42}}</string>
			<key>sourceSize</key>
			<string>{95,42}</string>
		</dict>
		<key>pic_qhjc_word_zwjcjl.png</key>
		<dict>
			<key>frame</key>
			<string>{{962,362},{407,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{407,57}}</string>
			<key>sourceSize</key>
			<string>{407,57}</string>
		</dict>
		<key>pic_qhjc_xianshou_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{783,657},{45,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,69}}</string>
			<key>sourceSize</key>
			<string>{45,69}</string>
		</dict>
		<key>pic_qhjc_xianshou_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{785,610},{43,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,66}}</string>
			<key>sourceSize</key>
			<string>{43,66}</string>
		</dict>
		<key>pic_shetuanzhan_zhanbao_huifang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,776},{56,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,32}}</string>
			<key>sourceSize</key>
			<string>{56,32}</string>
		</dict>
		<key>pic_shetuanzhan_zhanbao_huifang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,776},{56,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,32}}</string>
			<key>sourceSize</key>
			<string>{56,32}</string>
		</dict>
		<key>pic_zhandoulishuzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{627,583},{150,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,21}}</string>
			<key>sourceSize</key>
			<string>{150,21}</string>
		</dict>
		<key>pic_zy_smkd_rizhi_kongbaidiwen.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,583},{623,191}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{623,191}}</string>
			<key>sourceSize</key>
			<string>{623,191}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_KOFQuiz0.png</string>
		<key>size</key>
		<string>{1021,842}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_KOFQuiz0.png</string>
	</dict>
</dict>
</plist>
