<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask01_dddnnchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,2},{124,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,34}}</string>
			<key>sourceSize</key>
			<string>{124,34}</string>
		</dict>
		<key>mask02_dddnnchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{442,156},{116,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,31}}</string>
			<key>sourceSize</key>
			<string>{116,31}</string>
		</dict>
		<key>wy_11_11_80009_dddnnchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,156},{157,25}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,7},{157,25}}</string>
			<key>sourceSize</key>
			<string>{163,35}</string>
		</dict>
		<key>wy_13_13_12651_dddnnchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,186},{172,69}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,0},{172,69}}</string>
			<key>sourceSize</key>
			<string>{200,69}</string>
		</dict>
		<key>wy_16_16_13599_dddnnchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,40},{172,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,73}}</string>
			<key>sourceSize</key>
			<string>{172,73}</string>
		</dict>
		<key>wy_18_18_79886_dddnnchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,115},{172,69}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,0},{172,69}}</string>
			<key>sourceSize</key>
			<string>{200,69}</string>
		</dict>
		<key>wy_21_21_79476_dddnnchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,257},{171,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,73}}</string>
			<key>sourceSize</key>
			<string>{171,73}</string>
		</dict>
		<key>wy_3_3_38399_dddnnchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,332},{262,128}}</string>
			<key>offset</key>
			<string>{-11,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,32},{262,128}}</string>
			<key>sourceSize</key>
			<string>{284,160}</string>
		</dict>
		<key>wy_5_5_5699_dddnnchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{442,128},{59,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,26}}</string>
			<key>sourceSize</key>
			<string>{59,26}</string>
		</dict>
		<key>wy_7_7_91037_dddnnchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{516,264}}</string>
			<key>offset</key>
			<string>{26,28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{52,0},{516,264}}</string>
			<key>sourceSize</key>
			<string>{568,320}</string>
		</dict>
		<key>wy_9_9_66818_dddnnchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,2},{197,36}}</string>
			<key>offset</key>
			<string>{4,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,29},{197,36}}</string>
			<key>sourceSize</key>
			<string>{221,84}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>dddnnchimage.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dddnnchimage.png</string>
	</dict>
</dict>
</plist>
