<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_xt_liumenbisha_ccb_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,538},{260,255}}</string>
			<key>offset</key>
			<string>{1,-203}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,406},{260,255}}</string>
			<key>sourceSize</key>
			<string>{328,661}</string>
		</dict>
		<key>New_xt_liumenbisha_ccb_00034.png</key>
		<dict>
			<key>frame</key>
			<string>{{943,199},{212,77}}</string>
			<key>offset</key>
			<string>{1,-283}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{59,575},{212,77}}</string>
			<key>sourceSize</key>
			<string>{328,661}</string>
		</dict>
		<key>New_xt_liumenbisha_fz_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{665,590},{430,184}}</string>
			<key>offset</key>
			<string>{-4,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,18},{430,184}}</string>
			<key>sourceSize</key>
			<string>{438,202}</string>
		</dict>
		<key>New_xt_liumenbisha_fz_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,590},{432,198}}</string>
			<key>offset</key>
			<string>{-3,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{432,198}}</string>
			<key>sourceSize</key>
			<string>{438,202}</string>
		</dict>
		<key>New_xt_liumenbisha_fz_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{462,590},{430,202}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{430,202}}</string>
			<key>sourceSize</key>
			<string>{438,202}</string>
		</dict>
		<key>New_xt_liumenbisha_fz_00021.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,397},{438,192}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,10},{438,192}}</string>
			<key>sourceSize</key>
			<string>{438,202}</string>
		</dict>
		<key>New_xt_putongbisha_qb2_00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{903,412},{117,126}}</string>
			<key>offset</key>
			<string>{-180,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,27},{117,126}}</string>
			<key>sourceSize</key>
			<string>{477,198}</string>
		</dict>
		<key>New_xt_putongbisha_qb2_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,198},{473,142}}</string>
			<key>offset</key>
			<string>{-2,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,21},{473,142}}</string>
			<key>sourceSize</key>
			<string>{477,198}</string>
		</dict>
		<key>New_xt_putongbisha_qb2_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,2},{473,196}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{473,196}}</string>
			<key>sourceSize</key>
			<string>{477,198}</string>
		</dict>
		<key>New_xt_putongbisha_qb2_00027.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,341},{461,196}}</string>
			<key>offset</key>
			<string>{8,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,2},{461,196}}</string>
			<key>sourceSize</key>
			<string>{477,198}</string>
		</dict>
		<key>New_xt_putongbisha_qb_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,737},{122,127}}</string>
			<key>offset</key>
			<string>{-180,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,40},{122,127}}</string>
			<key>sourceSize</key>
			<string>{482,197}</string>
		</dict>
		<key>New_xt_putongbisha_qb_00021.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{482,195}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{482,195}}</string>
			<key>sourceSize</key>
			<string>{482,197}</string>
		</dict>
		<key>New_xt_putongbisha_qb_00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,199},{466,197}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,0},{466,197}}</string>
			<key>sourceSize</key>
			<string>{482,197}</string>
		</dict>
		<key>New_xt_putonggongji_pk_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,590},{146,149}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,0},{146,149}}</string>
			<key>sourceSize</key>
			<string>{160,149}</string>
		</dict>
		<key>New_xt_shengli_yan_00017.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,794},{224,231}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,32},{224,231}}</string>
			<key>sourceSize</key>
			<string>{282,295}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>xietou_common2.png</string>
		<key>scale</key>
		<real>0.67</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>xietou_common2.png</string>
	</dict>
</dict>
</plist>
