<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>largepic_100020.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{488,422}}</string>
			<key>offset</key>
			<string>{13,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,0},{488,422}}</string>
			<key>sourceSize</key>
			<string>{576,422}</string>
		</dict>
		<key>longpic_100020.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,426},{117,184}}</string>
			<key>offset</key>
			<string>{-5,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{117,184}}</string>
			<key>sourceSize</key>
			<string>{127,190}</string>
		</dict>
		<key>middlepic_100020.png</key>
		<dict>
			<key>frame</key>
			<string>{{188,490},{121,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,47}}</string>
			<key>sourceSize</key>
			<string>{121,47}</string>
		</dict>
		<key>namepic_100020.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,426},{132,67}}</string>
			<key>offset</key>
			<string>{-8,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,0},{132,67}}</string>
			<key>sourceSize</key>
			<string>{216,67}</string>
		</dict>
		<key>skillnamepic_100020.png</key>
		<dict>
			<key>frame</key>
			<string>{{188,462},{161,26}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,26}}</string>
			<key>sourceSize</key>
			<string>{163,26}</string>
		</dict>
		<key>skillsmaxpic_100020.png</key>
		<dict>
			<key>frame</key>
			<string>{{188,426},{176,34}}</string>
			<key>offset</key>
			<string>{-7,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{176,34}}</string>
			<key>sourceSize</key>
			<string>{198,36}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>heros_100020.png</string>
		<key>scale</key>
		<real>0.66</real>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>heros_100020.png</string>
	</dict>
</dict>
</plist>
