<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_jp_ThousandDay_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,688},{604,280}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,39},{604,280}}</string>
			<key>sourceSize</key>
			<string>{628,356}</string>
		</dict>
		<key>pic_jp_ThousandDay_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{588,338}}</string>
			<key>offset</key>
			<string>{7,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,0},{588,338}}</string>
			<key>sourceSize</key>
			<string>{628,356}</string>
		</dict>
		<key>pic_jp_ThousandDay_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1294},{532,304}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{49,27},{532,304}}</string>
			<key>sourceSize</key>
			<string>{628,356}</string>
		</dict>
		<key>pic_jp_ThousandDay_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,1276},{516,210}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,74},{516,210}}</string>
			<key>sourceSize</key>
			<string>{628,356}</string>
		</dict>
		<key>pic_jp_ThousandDay_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,688},{586,298}}</string>
			<key>offset</key>
			<string>{-21,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,30},{586,298}}</string>
			<key>sourceSize</key>
			<string>{628,356}</string>
		</dict>
		<key>pic_jp_ThousandDay_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,342},{574,344}}</string>
			<key>offset</key>
			<string>{16,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,6},{574,344}}</string>
			<key>sourceSize</key>
			<string>{628,356}</string>
		</dict>
		<key>pic_jp_sgzj_chendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1961},{197,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,31}}</string>
			<key>sourceSize</key>
			<string>{197,31}</string>
		</dict>
		<key>pic_jp_sgzj_chuansong.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1828},{505,131}}</string>
			<key>offset</key>
			<string>{-1,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,16},{505,131}}</string>
			<key>sourceSize</key>
			<string>{509,147}</string>
		</dict>
		<key>pic_jp_sgzj_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{520,1276},{676,74}}</string>
			<key>offset</key>
			<string>{0,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,18},{676,74}}</string>
			<key>sourceSize</key>
			<string>{676,92}</string>
		</dict>
		<key>pic_jp_sgzj_qizi_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{509,1954},{43,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,43}}</string>
			<key>sourceSize</key>
			<string>{43,43}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>HolidaySanguo0.png</string>
		<key>size</key>
		<string>{596,1999}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>HolidaySanguo0.png</string>
	</dict>
</dict>
</plist>
