<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_dscz_bisha1_jqbb_00046.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,398},{135,136}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,11},{135,136}}</string>
			<key>sourceSize</key>
			<string>{157,156}</string>
		</dict>
		<key>New_dscz_bisha1_qb_00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,260},{137,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,137}}</string>
			<key>sourceSize</key>
			<string>{137,137}</string>
		</dict>
		<key>New_dscz_bisha1_qb_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,501},{135,135}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{135,135}}</string>
			<key>sourceSize</key>
			<string>{137,137}</string>
		</dict>
		<key>New_dscz_bisha1_qb_00025.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,637},{133,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{133,133}}</string>
			<key>sourceSize</key>
			<string>{137,137}</string>
		</dict>
		<key>New_dscz_daiji_lz_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,222},{141,101}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,15},{141,101}}</string>
			<key>sourceSize</key>
			<string>{145,127}</string>
		</dict>
		<key>New_dscz_daiji_lz_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,262},{139,101}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,15},{139,101}}</string>
			<key>sourceSize</key>
			<string>{145,127}</string>
		</dict>
		<key>New_dscz_daiji_lz_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,875},{105,101}}</string>
			<key>offset</key>
			<string>{-5,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,19},{105,101}}</string>
			<key>sourceSize</key>
			<string>{145,127}</string>
		</dict>
		<key>New_dscz_daiji_lz_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,887},{109,109}}</string>
			<key>offset</key>
			<string>{8,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,18},{109,109}}</string>
			<key>sourceSize</key>
			<string>{145,127}</string>
		</dict>
		<key>New_dscz_daiji_lz_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,731},{117,115}}</string>
			<key>offset</key>
			<string>{11,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,12},{117,115}}</string>
			<key>sourceSize</key>
			<string>{145,127}</string>
		</dict>
		<key>New_dscz_sehngli_czfw_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,669},{103,102}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,33},{103,102}}</string>
			<key>sourceSize</key>
			<string>{173,172}</string>
		</dict>
		<key>New_dscz_sehngli_czfw_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,771},{115,116}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,26},{115,116}}</string>
			<key>sourceSize</key>
			<string>{173,172}</string>
		</dict>
		<key>New_dscz_sehngli_czfw_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,669},{133,132}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,19},{133,132}}</string>
			<key>sourceSize</key>
			<string>{173,172}</string>
		</dict>
		<key>New_dscz_sehngli_czfw_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,461},{135,136}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,17},{135,136}}</string>
			<key>sourceSize</key>
			<string>{173,172}</string>
		</dict>
		<key>New_dscz_sehngli_czfw_00017.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,597},{133,134}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,18},{133,134}}</string>
			<key>sourceSize</key>
			<string>{173,172}</string>
		</dict>
		<key>New_dscz_sehngli_czfw_00021.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,534},{135,134}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,18},{135,134}}</string>
			<key>sourceSize</key>
			<string>{173,172}</string>
		</dict>
		<key>New_dscz_sehngli_czfw_00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,324},{137,136}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,17},{137,136}}</string>
			<key>sourceSize</key>
			<string>{173,172}</string>
		</dict>
		<key>New_dscz_sehngli_czfw_00025.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,364},{137,136}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,18},{137,136}}</string>
			<key>sourceSize</key>
			<string>{173,172}</string>
		</dict>
		<key>New_dscz_sehngli_czfw_00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,117},{143,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,15},{143,142}}</string>
			<key>sourceSize</key>
			<string>{173,172}</string>
		</dict>
		<key>New_dscz_sehngli_czfw_00055.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,119},{143,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,15},{143,142}}</string>
			<key>sourceSize</key>
			<string>{173,172}</string>
		</dict>
		<key>New_dscz_sehngli_czfw_00075.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,260},{83,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{45,44},{83,84}}</string>
			<key>sourceSize</key>
			<string>{173,172}</string>
		</dict>
		<key>New_dscz_sehngli_fw_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,2},{114,144}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{114,144}}</string>
			<key>sourceSize</key>
			<string>{118,150}</string>
		</dict>
		<key>New_dscz_sehngli_fw_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{116,144}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{116,144}}</string>
			<key>sourceSize</key>
			<string>{118,150}</string>
		</dict>
		<key>New_dscz_sehngli_fw_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,2},{116,144}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{116,144}}</string>
			<key>sourceSize</key>
			<string>{118,150}</string>
		</dict>
		<key>New_dscz_xiaojineng_dg2_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,119},{102,142}}</string>
			<key>offset</key>
			<string>{43,-28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{86,56},{102,142}}</string>
			<key>sourceSize</key>
			<string>{188,198}</string>
		</dict>
		<key>New_dscz_xiaojineng_gz_00086.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,887},{114,100}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,14},{114,100}}</string>
			<key>sourceSize</key>
			<string>{116,122}</string>
		</dict>
		<key>dscz_bisha1_quan_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,772},{102,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,102}}</string>
			<key>sourceSize</key>
			<string>{102,102}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>dasheXI_common3.png</string>
		<key>scale</key>
		<real>0.54</real>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dasheXI_common3.png</string>
	</dict>
</dict>
</plist>
