<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_bqbh_bj_beiji_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,451},{117,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,146}}</string>
			<key>sourceSize</key>
			<string>{117,146}</string>
		</dict>
		<key>New_bqbh_gd_dun_00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{435,600},{115,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,163}}</string>
			<key>sourceSize</key>
			<string>{115,163}</string>
		</dict>
		<key>New_bqbh_gd_dun_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,406},{117,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,163}}</string>
			<key>sourceSize</key>
			<string>{117,163}</string>
		</dict>
		<key>New_bqbh_gd_dun_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,600},{118,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,163}}</string>
			<key>sourceSize</key>
			<string>{118,163}</string>
		</dict>
		<key>New_bqbh_gd_dun_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,764},{112,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,163}}</string>
			<key>sourceSize</key>
			<string>{112,163}</string>
		</dict>
		<key>New_bqbh_gd_dun_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{551,600},{112,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,163}}</string>
			<key>sourceSize</key>
			<string>{112,163}</string>
		</dict>
		<key>New_bqbh_gd_dun_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{783,600},{112,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,163}}</string>
			<key>sourceSize</key>
			<string>{112,163}</string>
		</dict>
		<key>New_bqbh_gd_dun_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{373,764},{117,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,163}}</string>
			<key>sourceSize</key>
			<string>{117,163}</string>
		</dict>
		<key>New_bqbh_gd_dun_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{781,713},{112,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,163}}</string>
			<key>sourceSize</key>
			<string>{112,163}</string>
		</dict>
		<key>New_bqbh_gd_dun_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,780},{112,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,163}}</string>
			<key>sourceSize</key>
			<string>{112,163}</string>
		</dict>
		<key>New_bqbh_gd_dun_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,893},{112,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,163}}</string>
			<key>sourceSize</key>
			<string>{112,163}</string>
		</dict>
		<key>New_bqbh_ptbs_baodian_00053.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,406},{194,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,192}}</string>
			<key>sourceSize</key>
			<string>{194,192}</string>
		</dict>
		<key>New_bqbh_ptbs_baodian_00057.png</key>
		<dict>
			<key>frame</key>
			<string>{{768,826},{161,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,102}}</string>
			<key>sourceSize</key>
			<string>{161,102}</string>
		</dict>
		<key>New_bqbh_ptbs_baodian_00058.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,793},{184,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,109}}</string>
			<key>sourceSize</key>
			<string>{184,109}</string>
		</dict>
		<key>New_bqbh_ptbs_baodian_00059.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,600},{202,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,120}}</string>
			<key>sourceSize</key>
			<string>{202,120}</string>
		</dict>
		<key>New_bqbh_ptbs_baoqi_00025.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,803},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>New_bqbh_ptbs_baoqi_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,2},{202,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,201}}</string>
			<key>sourceSize</key>
			<string>{202,201}</string>
		</dict>
		<key>New_bqbh_ptbs_baoqi_00027.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,181},{202,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,201}}</string>
			<key>sourceSize</key>
			<string>{202,201}</string>
		</dict>
		<key>New_bqbh_ptbs_baoqi_00041.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,181},{202,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,201}}</string>
			<key>sourceSize</key>
			<string>{202,201}</string>
		</dict>
		<key>New_bqbh_ptbs_baoqi_00042.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,181},{202,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,201}}</string>
			<key>sourceSize</key>
			<string>{202,201}</string>
		</dict>
		<key>New_bqbh_ptbs_baoqi_00043.png</key>
		<dict>
			<key>frame</key>
			<string>{{611,204},{202,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,201}}</string>
			<key>sourceSize</key>
			<string>{202,201}</string>
		</dict>
		<key>New_bqbh_ptbs_baoqi_00044.png</key>
		<dict>
			<key>frame</key>
			<string>{{814,398},{202,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,201}}</string>
			<key>sourceSize</key>
			<string>{202,201}</string>
		</dict>
		<key>New_bqbh_ptbs_baoqi_00045.png</key>
		<dict>
			<key>frame</key>
			<string>{{826,2},{197,196}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,196}}</string>
			<key>sourceSize</key>
			<string>{197,196}</string>
		</dict>
		<key>New_bqbh_ptbs_baoqi_00046.png</key>
		<dict>
			<key>frame</key>
			<string>{{826,200},{197,196}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,196}}</string>
			<key>sourceSize</key>
			<string>{197,196}</string>
		</dict>
		<key>New_bqbh_ptbs_baoqi_00047.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,406},{188,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,188}}</string>
			<key>sourceSize</key>
			<string>{188,188}</string>
		</dict>
		<key>New_bqbh_ptbs_baoqixuli_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{664,677},{116,102}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{116,102}}</string>
			<key>sourceSize</key>
			<string>{116,104}</string>
		</dict>
		<key>New_bqbh_ptbs_shizi_00051.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,600},{192,192}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,194}</string>
		</dict>
		<key>New_bqbh_ptgj_baodian_00031.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,826},{160,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,111}}</string>
			<key>sourceSize</key>
			<string>{160,111}</string>
		</dict>
		<key>New_bqbh_ptgj_baodian_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{664,524},{152,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,118}}</string>
			<key>sourceSize</key>
			<string>{152,118}</string>
		</dict>
		<key>New_bqbh_putongbisha_bo_00058.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,2},{205,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,178}}</string>
			<key>sourceSize</key>
			<string>{205,178}</string>
		</dict>
		<key>New_bqbh_putongbisha_bo_00059.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,2},{206,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,178}}</string>
			<key>sourceSize</key>
			<string>{206,178}</string>
		</dict>
		<key>New_bqbh_putongbisha_bo_00060.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{207,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,178}}</string>
			<key>sourceSize</key>
			<string>{207,178}</string>
		</dict>
		<key>New_bqbh_xiaojineng_lizi_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,793},{184,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,67}}</string>
			<key>sourceSize</key>
			<string>{184,67}</string>
		</dict>
		<key>New_bqbh_xiaojineng_lizi_00027.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,383},{185,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,67}}</string>
			<key>sourceSize</key>
			<string>{185,67}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>bqbhHTTF_common3.png</string>
		<key>scale</key>
		<real>0.72</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>bqbhHTTF_common3.png</string>
	</dict>
</dict>
</plist>
