<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>guangtiao_dixiapaimingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,2},{163,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,51}}</string>
			<key>sourceSize</key>
			<string>{163,51}</string>
		</dict>
		<key>mask1_dixiapaimingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,155},{94,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{94,23}}</string>
			<key>sourceSize</key>
			<string>{96,23}</string>
		</dict>
		<key>mask2_dixiapaimingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{188,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,151}}</string>
			<key>sourceSize</key>
			<string>{188,151}</string>
		</dict>
		<key>xg_dixiapaimingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,155},{98,96}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,4},{98,96}}</string>
			<key>sourceSize</key>
			<string>{104,104}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>dixiapaimingimage.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dixiapaimingimage.png</string>
	</dict>
</dict>
</plist>
