<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fg_dianfengduijueimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{81,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,54}}</string>
			<key>sourceSize</key>
			<string>{81,54}</string>
		</dict>
		<key>huoxhdh_dianfengduijueimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,58},{60,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,128}}</string>
			<key>sourceSize</key>
			<string>{60,128}</string>
		</dict>
		<key>mask1_dianfengduijueimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,48},{37,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,31}}</string>
			<key>sourceSize</key>
			<string>{37,31}</string>
		</dict>
		<key>mask4_dianfengduijueimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,2},{40,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,44}}</string>
			<key>sourceSize</key>
			<string>{40,44}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>dianfengduijueimage.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dianfengduijueimage.png</string>
	</dict>
</dict>
</plist>
