<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>baoi_00010_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{745,347},{159,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,160}}</string>
			<key>sourceSize</key>
			<string>{159,160}</string>
		</dict>
		<key>baoi_00012_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,504},{211,177}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{211,177}}</string>
			<key>sourceSize</key>
			<string>{213,177}</string>
		</dict>
		<key>baoi_00014_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,717},{205,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{205,175}}</string>
			<key>sourceSize</key>
			<string>{209,175}</string>
		</dict>
		<key>baoi_00016_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,251},{198,172}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{198,172}}</string>
			<key>sourceSize</key>
			<string>{202,172}</string>
		</dict>
		<key>baoi_00018_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{715,182},{182,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{182,163}}</string>
			<key>sourceSize</key>
			<string>{190,163}</string>
		</dict>
		<key>baoi_00020_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,621},{161,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,124}}</string>
			<key>sourceSize</key>
			<string>{161,124}</string>
		</dict>
		<key>baoqi_00001_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{796,938},{73,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,72}}</string>
			<key>sourceSize</key>
			<string>{73,72}</string>
		</dict>
		<key>baoqi_00003_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{899,191},{139,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{139,119}}</string>
			<key>sourceSize</key>
			<string>{139,121}</string>
		</dict>
		<key>baoqi_00005_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,253},{178,249}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,249}}</string>
			<key>sourceSize</key>
			<string>{178,249}</string>
		</dict>
		<key>baoqi_00007_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,504},{178,249}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,249}}</string>
			<key>sourceSize</key>
			<string>{178,249}</string>
		</dict>
		<key>baoqi_00009_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,2},{178,249}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,249}}</string>
			<key>sourceSize</key>
			<string>{178,249}</string>
		</dict>
		<key>baoqi_00011_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,253},{178,249}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,249}}</string>
			<key>sourceSize</key>
			<string>{178,249}</string>
		</dict>
		<key>baoqi_00013_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{178,249}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,249}}</string>
			<key>sourceSize</key>
			<string>{178,249}</string>
		</dict>
		<key>baoqi_00015_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,2},{166,247}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,247}}</string>
			<key>sourceSize</key>
			<string>{166,247}</string>
		</dict>
		<key>dant_00004_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{736,2},{199,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,178}}</string>
			<key>sourceSize</key>
			<string>{199,178}</string>
		</dict>
		<key>dant_00006_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{530,2},{204,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,178}}</string>
			<key>sourceSize</key>
			<string>{204,178}</string>
		</dict>
		<key>dant_00008_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,755},{214,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,178}}</string>
			<key>sourceSize</key>
			<string>{214,178}</string>
		</dict>
		<key>dant_00010_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,747},{175,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,125}}</string>
			<key>sourceSize</key>
			<string>{175,125}</string>
		</dict>
		<key>dant_00012_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{536,362},{207,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,122}}</string>
			<key>sourceSize</key>
			<string>{207,122}</string>
		</dict>
		<key>dant_00014_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{524,638},{174,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,124}}</string>
			<key>sourceSize</key>
			<string>{174,124}</string>
		</dict>
		<key>dant_00016_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,920},{154,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,90}}</string>
			<key>sourceSize</key>
			<string>{154,90}</string>
		</dict>
		<key>kuo_100006_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,971},{103,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,46}}</string>
			<key>sourceSize</key>
			<string>{103,46}</string>
		</dict>
		<key>kuo_100008_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,938},{148,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,61}}</string>
			<key>sourceSize</key>
			<string>{148,61}</string>
		</dict>
		<key>kuo_100010_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{937,2},{187,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,82}}</string>
			<key>sourceSize</key>
			<string>{187,82}</string>
		</dict>
		<key>kuo_100012_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,924},{201,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,92}}</string>
			<key>sourceSize</key>
			<string>{201,92}</string>
		</dict>
		<key>kuo_100014_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{899,565},{217,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{217,97}}</string>
			<key>sourceSize</key>
			<string>{217,97}</string>
		</dict>
		<key>kuo_100016_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{906,332},{231,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{231,101}}</string>
			<key>sourceSize</key>
			<string>{231,101}</string>
		</dict>
		<key>kuo_100018_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,640},{197,100}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,100}}</string>
			<key>sourceSize</key>
			<string>{199,100}</string>
		</dict>
		<key>kuo_100020_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{649,839},{198,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{198,97}}</string>
			<key>sourceSize</key>
			<string>{200,97}</string>
		</dict>
		<key>kuo_100022_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,742},{186,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,95}}</string>
			<key>sourceSize</key>
			<string>{186,95}</string>
		</dict>
		<key>tuci_200007_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,924},{103,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,96}}</string>
			<key>sourceSize</key>
			<string>{103,96}</string>
		</dict>
		<key>tuci_200009_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,509},{181,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,129}}</string>
			<key>sourceSize</key>
			<string>{181,129}</string>
		</dict>
		<key>tuci_200011_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{533,486},{181,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,150}}</string>
			<key>sourceSize</key>
			<string>{181,150}</string>
		</dict>
		<key>tuci_200013_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,764},{154,161}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{154,161}}</string>
			<key>sourceSize</key>
			<string>{154,163}</string>
		</dict>
		<key>tuci_200015_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,451},{169,168}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{169,168}}</string>
			<key>sourceSize</key>
			<string>{169,170}</string>
		</dict>
		<key>tuci_200017_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{536,182},{177,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,178}}</string>
			<key>sourceSize</key>
			<string>{177,178}</string>
		</dict>
		<key>tuci_200019_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{888,784},{124,91}}</string>
			<key>offset</key>
			<string>{7,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,0},{124,91}}</string>
			<key>sourceSize</key>
			<string>{154,121}</string>
		</dict>
		<key>tuci_200021_banqitiangouteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1019},{3,5}}</string>
			<key>offset</key>
			<string>{-57,-21}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{3,5}}</string>
			<key>sourceSize</key>
			<string>{117,47}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>banqitiangouteimage.png</string>
		<key>scale</key>
		<real>0.89</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>banqitiangouteimage.png</string>
	</dict>
</dict>
</plist>
