<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_zdtj_guanbi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{888,711},{51,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,51}}</string>
			<key>sourceSize</key>
			<string>{51,51}</string>
		</dict>
		<key>btn_zdtj_guanbi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{888,658},{51,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,51}}</string>
			<key>sourceSize</key>
			<string>{51,51}</string>
		</dict>
		<key>btn_zdtj_xuwu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,624},{112,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,32}}</string>
			<key>sourceSize</key>
			<string>{112,32}</string>
		</dict>
		<key>btn_zdtj_xuwu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,590},{112,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,32}}</string>
			<key>sourceSize</key>
			<string>{112,32}</string>
		</dict>
		<key>btn_zdtj_xuwuchengshang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{774,704},{112,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,32}}</string>
			<key>sourceSize</key>
			<string>{112,32}</string>
		</dict>
		<key>btn_zdtj_xuwuchengshang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{774,590},{112,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,32}}</string>
			<key>sourceSize</key>
			<string>{112,32}</string>
		</dict>
		<key>pic_zdtj_bg_da.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{918,586}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{918,586}}</string>
			<key>sourceSize</key>
			<string>{918,586}</string>
		</dict>
		<key>pic_zdtj_jindutiao_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,2},{400,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{400,46}}</string>
			<key>sourceSize</key>
			<string>{400,46}</string>
		</dict>
		<key>pic_zdtj_jindutiao_di01.png</key>
		<dict>
			<key>frame</key>
			<string>{{941,404},{380,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{380,46}}</string>
			<key>sourceSize</key>
			<string>{380,46}</string>
		</dict>
		<key>pic_zdtj_jindutiao_dida.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,590},{770,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{770,148}}</string>
			<key>sourceSize</key>
			<string>{770,148}</string>
		</dict>
		<key>pic_zdtj_jindutiao_hong.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,786},{346,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{346,44}}</string>
			<key>sourceSize</key>
			<string>{346,44}</string>
		</dict>
		<key>pic_zdtj_jindutiao_hong01.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,832},{326,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{326,44}}</string>
			<key>sourceSize</key>
			<string>{326,44}</string>
		</dict>
		<key>pic_zdtj_jindutiao_huang.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,740},{346,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{346,44}}</string>
			<key>sourceSize</key>
			<string>{346,44}</string>
		</dict>
		<key>pic_zdtj_jindutiao_huang01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,832},{326,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{326,44}}</string>
			<key>sourceSize</key>
			<string>{326,44}</string>
		</dict>
		<key>pic_zdtj_jindutiao_lv.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,740},{346,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{346,44}}</string>
			<key>sourceSize</key>
			<string>{346,44}</string>
		</dict>
		<key>pic_zdtj_jindutiao_lv01.png</key>
		<dict>
			<key>frame</key>
			<string>{{678,786},{326,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{326,44}}</string>
			<key>sourceSize</key>
			<string>{326,44}</string>
		</dict>
		<key>pic_zdtj_jindutiao_xiushi.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,658},{20,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,50}}</string>
			<key>sourceSize</key>
			<string>{20,50}</string>
		</dict>
		<key>pic_zdtj_jindutiao_yichu.png</key>
		<dict>
			<key>frame</key>
			<string>{{970,2},{346,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{346,44}}</string>
			<key>sourceSize</key>
			<string>{346,44}</string>
		</dict>
		<key>pic_zdtj_jindutiao_yichu01.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,786},{326,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{326,44}}</string>
			<key>sourceSize</key>
			<string>{326,44}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>arenaStatistics0.png</string>
		<key>size</key>
		<string>{1016,878}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>arenaStatistics0.png</string>
	</dict>
</dict>
</plist>
