<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>anmu_caiquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,112},{284,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,160}}</string>
			<key>sourceSize</key>
			<string>{284,160}</string>
		</dict>
		<key>bai_caiquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,356},{148,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,145}}</string>
			<key>sourceSize</key>
			<string>{148,145}</string>
		</dict>
		<key>duishou_caiquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,57},{286,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{286,53}}</string>
			<key>sourceSize</key>
			<string>{286,53}</string>
		</dict>
		<key>ping_caiquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,301},{148,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,145}}</string>
			<key>sourceSize</key>
			<string>{148,145}</string>
		</dict>
		<key>sheng_caiquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,153},{159,146}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{159,146}}</string>
			<key>sourceSize</key>
			<string>{161,146}</string>
		</dict>
		<key>shitou_caiquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{295,2},{163,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,149}}</string>
			<key>sourceSize</key>
			<string>{163,149}</string>
		</dict>
		<key>wofang_caiquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{291,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{291,53}}</string>
			<key>sourceSize</key>
			<string>{291,53}</string>
		</dict>
		<key>xing_caiquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,274},{87,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,80}}</string>
			<key>sourceSize</key>
			<string>{87,80}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>caiquanimage.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>caiquanimage.png</string>
	</dict>
</dict>
</plist>
