<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask01_bznzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,932},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,82}}</string>
			<key>sourceSize</key>
			<string>{82,82}</string>
		</dict>
		<key>mask02_bznzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,325},{47,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,40}}</string>
			<key>sourceSize</key>
			<string>{47,40}</string>
		</dict>
		<key>mask03_bznzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,374},{37,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,34}}</string>
			<key>sourceSize</key>
			<string>{37,34}</string>
		</dict>
		<key>wy_10_10_81424_bznzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,374},{37,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,33}}</string>
			<key>sourceSize</key>
			<string>{37,33}</string>
		</dict>
		<key>wy_11_11_10375_bznzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,138},{420,278}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{420,278}}</string>
			<key>sourceSize</key>
			<string>{420,278}</string>
		</dict>
		<key>wy_12_12_804_bznzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,576},{346,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{346,75}}</string>
			<key>sourceSize</key>
			<string>{346,75}</string>
		</dict>
		<key>wy_13_13_31675_bznzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,576},{309,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{309,37}}</string>
			<key>sourceSize</key>
			<string>{309,37}</string>
		</dict>
		<key>wy_14_14_44228_bznzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,924},{91,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,162}}</string>
			<key>sourceSize</key>
			<string>{91,162}</string>
		</dict>
		<key>wy_15_15_53865_bznzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{954,334},{50,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,240}}</string>
			<key>sourceSize</key>
			<string>{50,240}</string>
		</dict>
		<key>wy_16_16_85584_bznzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{954,138},{57,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,194}}</string>
			<key>sourceSize</key>
			<string>{57,194}</string>
		</dict>
		<key>wy_17_17_61326_bznzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,410},{48,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,113}}</string>
			<key>sourceSize</key>
			<string>{48,113}</string>
		</dict>
		<key>wy_18_18_73961_bznzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,296},{36,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,99}}</string>
			<key>sourceSize</key>
			<string>{36,99}</string>
		</dict>
		<key>wy_19_19_69649_bznzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,576},{292,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{292,116}}</string>
			<key>sourceSize</key>
			<string>{292,116}</string>
		</dict>
		<key>wy_20_20_18250_bznzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,296},{27,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,146}}</string>
			<key>sourceSize</key>
			<string>{27,146}</string>
		</dict>
		<key>wy_21_21_3609_bznzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,410},{161,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,188}}</string>
			<key>sourceSize</key>
			<string>{161,188}</string>
		</dict>
		<key>wy_2_2_60712_bznzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{528,292}}</string>
			<key>offset</key>
			<string>{2,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{528,292}}</string>
			<key>sourceSize</key>
			<string>{534,300}</string>
		</dict>
		<key>wy_3_3_82787_bznzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,932},{81,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,81}}</string>
			<key>sourceSize</key>
			<string>{81,81}</string>
		</dict>
		<key>wy_4_4_19769_bznzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,410},{158,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,70}}</string>
			<key>sourceSize</key>
			<string>{158,70}</string>
		</dict>
		<key>wy_5_5_63479_bznzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,576},{354,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{354,118}}</string>
			<key>sourceSize</key>
			<string>{354,118}</string>
		</dict>
		<key>wy_6_6_17414_bznzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,2},{467,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{467,134}}</string>
			<key>sourceSize</key>
			<string>{467,134}</string>
		</dict>
		<key>wy_7_7_94239_bznzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{333,296},{197,196}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,196}}</string>
			<key>sourceSize</key>
			<string>{197,196}</string>
		</dict>
		<key>wy_9_9_65211_bznzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,296},{112,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,131}}</string>
			<key>sourceSize</key>
			<string>{112,131}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>bznzcjimage.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>bznzcjimage.png</string>
	</dict>
</dict>
</plist>
