<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>lke_a_dtg01.png</key>
		<dict>
			<key>frame</key>
			<string>{{768,957},{65,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,114}}</string>
			<key>sourceSize</key>
			<string>{65,114}</string>
		</dict>
		<key>lke_a_dtg02.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,757},{50,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,125}}</string>
			<key>sourceSize</key>
			<string>{50,125}</string>
		</dict>
		<key>lke_a_gzb1.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,163},{27,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,139}}</string>
			<key>sourceSize</key>
			<string>{27,139}</string>
		</dict>
		<key>lke_a_gzb3.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,267},{31,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,132}}</string>
			<key>sourceSize</key>
			<string>{31,132}</string>
		</dict>
		<key>lke_a_gzb6.png</key>
		<dict>
			<key>frame</key>
			<string>{{705,772},{116,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,184}}</string>
			<key>sourceSize</key>
			<string>{116,184}</string>
		</dict>
		<key>lke_a_gzd2.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,259},{38,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,168}}</string>
			<key>sourceSize</key>
			<string>{38,168}</string>
		</dict>
		<key>lke_a_gzd3.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,2},{139,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,160}}</string>
			<key>sourceSize</key>
			<string>{139,160}</string>
		</dict>
		<key>lke_a_gze1.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,572},{51,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,220}}</string>
			<key>sourceSize</key>
			<string>{51,220}</string>
		</dict>
		<key>lke_a_gzj1.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,979},{42,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,116}}</string>
			<key>sourceSize</key>
			<string>{42,116}</string>
		</dict>
		<key>lke_a_gzp1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{72,299}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,299}}</string>
			<key>sourceSize</key>
			<string>{72,299}</string>
		</dict>
		<key>lke_a_gzq1.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,299},{38,219}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,219}}</string>
			<key>sourceSize</key>
			<string>{38,219}</string>
		</dict>
		<key>lke_a_jxb02.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,996},{25,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,47}}</string>
			<key>sourceSize</key>
			<string>{25,47}</string>
		</dict>
		<key>lke_a_jxb04.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,259},{24,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,39}}</string>
			<key>sourceSize</key>
			<string>{24,39}</string>
		</dict>
		<key>lke_a_jxb05.png</key>
		<dict>
			<key>frame</key>
			<string>{{529,259},{31,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,38}}</string>
			<key>sourceSize</key>
			<string>{31,38}</string>
		</dict>
		<key>lke_a_jxdb01.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,2},{176,264}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,264}}</string>
			<key>sourceSize</key>
			<string>{176,264}</string>
		</dict>
		<key>lke_a_jxdb02.png</key>
		<dict>
			<key>frame</key>
			<string>{{252,2},{133,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,256}}</string>
			<key>sourceSize</key>
			<string>{133,256}</string>
		</dict>
		<key>lke_a_jxst01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,302},{144,269}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,269}}</string>
			<key>sourceSize</key>
			<string>{144,269}</string>
		</dict>
		<key>lke_a_jxsw01.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,191},{88,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,106}}</string>
			<key>sourceSize</key>
			<string>{88,106}</string>
		</dict>
		<key>lke_a_jxxb01.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,411},{172,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,175}}</string>
			<key>sourceSize</key>
			<string>{172,175}</string>
		</dict>
		<key>lke_a_q01.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,299},{126,218}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,218}}</string>
			<key>sourceSize</key>
			<string>{126,218}</string>
		</dict>
		<key>lke_a_q02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,808},{66,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,213}}</string>
			<key>sourceSize</key>
			<string>{66,213}</string>
		</dict>
		<key>lke_a_st01.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,299},{159,205}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,205}}</string>
			<key>sourceSize</key>
			<string>{159,205}</string>
		</dict>
		<key>lke_a_wt01.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,757},{87,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,136}}</string>
			<key>sourceSize</key>
			<string>{87,136}</string>
		</dict>
		<key>lke_a_xl02.png</key>
		<dict>
			<key>frame</key>
			<string>{{822,73},{60,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,50}}</string>
			<key>sourceSize</key>
			<string>{60,50}</string>
		</dict>
		<key>lke_a_xp03.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,259},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>lke_a_ydb001.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,191},{124,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,125}}</string>
			<key>sourceSize</key>
			<string>{124,125}</string>
		</dict>
		<key>lke_a_ypd01.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,519},{52,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,78}}</string>
			<key>sourceSize</key>
			<string>{52,78}</string>
		</dict>
		<key>lke_a_ysz02.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,996},{26,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,36}}</string>
			<key>sourceSize</key>
			<string>{26,36}</string>
		</dict>
		<key>lke_a_zs01+.png</key>
		<dict>
			<key>frame</key>
			<string>{{822,2},{70,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,60}}</string>
			<key>sourceSize</key>
			<string>{70,60}</string>
		</dict>
		<key>lke_a_zsz01.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,996},{24,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,38}}</string>
			<key>sourceSize</key>
			<string>{24,38}</string>
		</dict>
		<key>lke_a_zx01.png</key>
		<dict>
			<key>frame</key>
			<string>{{664,180},{93,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,129}}</string>
			<key>sourceSize</key>
			<string>{93,129}</string>
		</dict>
		<key>lke_a_zx02.png</key>
		<dict>
			<key>frame</key>
			<string>{{755,572},{94,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,131}}</string>
			<key>sourceSize</key>
			<string>{94,131}</string>
		</dict>
		<key>lke_b_st01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,572},{235,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,131}}</string>
			<key>sourceSize</key>
			<string>{235,131}</string>
		</dict>
		<key>lke_b_tf01.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,259},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>lke_b_tf05.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,267},{32,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,44}}</string>
			<key>sourceSize</key>
			<string>{32,44}</string>
		</dict>
		<key>lke_c_st01.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,2},{173,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,160}}</string>
			<key>sourceSize</key>
			<string>{173,160}</string>
		</dict>
		<key>lke_c_tf02.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,310},{31,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,63}}</string>
			<key>sourceSize</key>
			<string>{31,63}</string>
		</dict>
		<key>lke_c_tf08.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,979},{104,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,42}}</string>
			<key>sourceSize</key>
			<string>{104,42}</string>
		</dict>
		<key>lke_c_ydb01.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,411},{99,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,89}}</string>
			<key>sourceSize</key>
			<string>{99,89}</string>
		</dict>
		<key>lke_d3_k01.png</key>
		<dict>
			<key>frame</key>
			<string>{{755,704},{67,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,76}}</string>
			<key>sourceSize</key>
			<string>{67,76}</string>
		</dict>
		<key>lke_d3_st01.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,572},{218,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,113}}</string>
			<key>sourceSize</key>
			<string>{218,113}</string>
		</dict>
		<key>lke_g10_ydt01.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,310},{84,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,100}}</string>
			<key>sourceSize</key>
			<string>{84,100}</string>
		</dict>
		<key>lke_g3_tf03.png</key>
		<dict>
			<key>frame</key>
			<string>{{560,73},{115,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,89}}</string>
			<key>sourceSize</key>
			<string>{115,89}</string>
		</dict>
		<key>lke_g3_zdt01.png</key>
		<dict>
			<key>frame</key>
			<string>{{560,2},{70,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,110}}</string>
			<key>sourceSize</key>
			<string>{70,110}</string>
		</dict>
		<key>lke_g6_st01.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,298},{166,202}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,202}}</string>
			<key>sourceSize</key>
			<string>{166,202}</string>
		</dict>
		<key>lke_g6_ysz01.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,501},{75,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,70}}</string>
			<key>sourceSize</key>
			<string>{75,70}</string>
		</dict>
		<key>lke_g8_st01.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,808},{135,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,207}}</string>
			<key>sourceSize</key>
			<string>{135,207}</string>
		</dict>
		<key>lke_h12_k01.png</key>
		<dict>
			<key>frame</key>
			<string>{{822,883},{99,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,73}}</string>
			<key>sourceSize</key>
			<string>{99,73}</string>
		</dict>
		<key>lke_h12_st01.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,587},{169,172}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,172}}</string>
			<key>sourceSize</key>
			<string>{169,172}</string>
		</dict>
		<key>lke_h12_t01.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,411},{89,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,109}}</string>
			<key>sourceSize</key>
			<string>{89,109}</string>
		</dict>
		<key>lke_h12_tf01.png</key>
		<dict>
			<key>frame</key>
			<string>{{972,957},{50,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,59}}</string>
			<key>sourceSize</key>
			<string>{50,59}</string>
		</dict>
		<key>lke_h13_ydt01.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,163},{101,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,95}}</string>
			<key>sourceSize</key>
			<string>{101,95}</string>
		</dict>
		<key>lke_h13_zdb01.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,163},{86,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,95}}</string>
			<key>sourceSize</key>
			<string>{86,95}</string>
		</dict>
		<key>lke_h14_st01.png</key>
		<dict>
			<key>frame</key>
			<string>{{544,774},{160,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,200}}</string>
			<key>sourceSize</key>
			<string>{160,200}</string>
		</dict>
		<key>lke_h15_k01.png</key>
		<dict>
			<key>frame</key>
			<string>{{671,2},{86,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,70}}</string>
			<key>sourceSize</key>
			<string>{86,70}</string>
		</dict>
		<key>lke_h16_st01.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,791},{169,204}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,204}}</string>
			<key>sourceSize</key>
			<string>{169,204}</string>
		</dict>
		<key>lke_h16_ydt01.png</key>
		<dict>
			<key>frame</key>
			<string>{{758,2},{63,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,132}}</string>
			<key>sourceSize</key>
			<string>{63,132}</string>
		</dict>
		<key>lke_h17_st01.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,777},{168,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,201}}</string>
			<key>sourceSize</key>
			<string>{168,201}</string>
		</dict>
		<key>lke_h1_yxt01.png</key>
		<dict>
			<key>frame</key>
			<string>{{884,317},{113,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,93}}</string>
			<key>sourceSize</key>
			<string>{113,93}</string>
		</dict>
		<key>lke_h23_k01.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,957},{88,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,65}}</string>
			<key>sourceSize</key>
			<string>{88,65}</string>
		</dict>
		<key>lke_h23_tf04.png</key>
		<dict>
			<key>frame</key>
			<string>{{334,505},{119,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,66}}</string>
			<key>sourceSize</key>
			<string>{119,66}</string>
		</dict>
		<key>lke_h23_ydt01.png</key>
		<dict>
			<key>frame</key>
			<string>{{758,318},{125,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,92}}</string>
			<key>sourceSize</key>
			<string>{125,92}</string>
		</dict>
		<key>lke_h24_st01.png</key>
		<dict>
			<key>frame</key>
			<string>{{758,135},{182,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,124}}</string>
			<key>sourceSize</key>
			<string>{182,124}</string>
		</dict>
		<key>lke_h2_zj01.png</key>
		<dict>
			<key>frame</key>
			<string>{{597,975},{47,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,87}}</string>
			<key>sourceSize</key>
			<string>{47,87}</string>
		</dict>
		<key>lke_h3_t01.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,845},{91,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,111}}</string>
			<key>sourceSize</key>
			<string>{91,111}</string>
		</dict>
		<key>lke_h4_st01.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,572},{162,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,201}}</string>
			<key>sourceSize</key>
			<string>{162,201}</string>
		</dict>
		<key>lke_h4_yxt01.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,505},{66,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,104}}</string>
			<key>sourceSize</key>
			<string>{66,104}</string>
		</dict>
		<key>lke_h6_yj01.png</key>
		<dict>
			<key>frame</key>
			<string>{{749,501},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>lke_h6_yxt01.png</key>
		<dict>
			<key>frame</key>
			<string>{{559,501},{70,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,113}}</string>
			<key>sourceSize</key>
			<string>{70,113}</string>
		</dict>
		<key>lke_h6_zj01.png</key>
		<dict>
			<key>frame</key>
			<string>{{685,975},{47,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,82}}</string>
			<key>sourceSize</key>
			<string>{47,82}</string>
		</dict>
		<key>lke_h6_zxt01.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,518},{53,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,107}}</string>
			<key>sourceSize</key>
			<string>{53,107}</string>
		</dict>
		<key>lke_h7_zxt01.png</key>
		<dict>
			<key>frame</key>
			<string>{{676,73},{81,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,106}}</string>
			<key>sourceSize</key>
			<string>{81,106}</string>
		</dict>
		<key>lke_h8_st01.png</key>
		<dict>
			<key>frame</key>
			<string>{{626,572},{199,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,128}}</string>
			<key>sourceSize</key>
			<string>{199,128}</string>
		</dict>
		<key>lke_i3_st01.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,572},{162,204}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,204}}</string>
			<key>sourceSize</key>
			<string>{162,204}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>dierzhang_role2.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dierzhang_role2.png</string>
	</dict>
</dict>
</plist>
