<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_sy_lmbs_tongyongbaibo_00303_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,494},{63,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{63,66}}</string>
			<key>sourceSize</key>
			<string>{65,66}</string>
		</dict>
		<key>New_sy_lmbs_tongyongbaibo_00305_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{831,834},{97,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{97,100}}</string>
			<key>sourceSize</key>
			<string>{99,100}</string>
		</dict>
		<key>New_sy_lmbs_tongyongbaibo_00307_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,888},{134,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,133}}</string>
			<key>sourceSize</key>
			<string>{134,133}</string>
		</dict>
		<key>New_sy_lmbs_tongyongbaibo_00309_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,286},{166,168}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,168}}</string>
			<key>sourceSize</key>
			<string>{168,168}</string>
		</dict>
		<key>New_sy_lmbs_tongyongbaibo_00311_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,67},{194,195}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,195}}</string>
			<key>sourceSize</key>
			<string>{196,195}</string>
		</dict>
		<key>New_sy_lmbs_tongyongbaibo_00313_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,206},{214,216}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,216}}</string>
			<key>sourceSize</key>
			<string>{216,216}</string>
		</dict>
		<key>New_sy_lmbs_tongyongbaibo_00315_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,2},{233,234}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{233,234}}</string>
			<key>sourceSize</key>
			<string>{235,234}</string>
		</dict>
		<key>New_sy_tongyongshouji_00005_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{667,500},{62,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,58}}</string>
			<key>sourceSize</key>
			<string>{62,58}</string>
		</dict>
		<key>New_sy_tongyongshouji_00007_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{930,834},{87,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,79}}</string>
			<key>sourceSize</key>
			<string>{87,79}</string>
		</dict>
		<key>New_sy_tongyongshouji_00009_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,886},{132,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,114}}</string>
			<key>sourceSize</key>
			<string>{132,114}</string>
		</dict>
		<key>New_sy_tongyongshouji_00011_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{865,303},{178,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,152}}</string>
			<key>sourceSize</key>
			<string>{178,152}</string>
		</dict>
		<key>New_sy_xjn_baodian2_00133_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{736,853},{93,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,104}}</string>
			<key>sourceSize</key>
			<string>{93,104}</string>
		</dict>
		<key>New_sy_xjn_baodian2_00135_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,736},{94,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,116}}</string>
			<key>sourceSize</key>
			<string>{94,116}</string>
		</dict>
		<key>New_sy_xjn_baodian2_00137_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{530,656},{73,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,96}}</string>
			<key>sourceSize</key>
			<string>{73,96}</string>
		</dict>
		<key>New_sy_xjn_baodian2_00139_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{803,721},{60,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,83}}</string>
			<key>sourceSize</key>
			<string>{60,83}</string>
		</dict>
		<key>New_sy_xjn_baodian2_00141_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,793},{61,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,87}}</string>
			<key>sourceSize</key>
			<string>{61,87}</string>
		</dict>
		<key>New_sy_xjn_baodian2_00143_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,731},{60,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,83}}</string>
			<key>sourceSize</key>
			<string>{60,83}</string>
		</dict>
		<key>New_sy_xjn_baodian2_00145_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{718,791},{60,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,86}}</string>
			<key>sourceSize</key>
			<string>{60,86}</string>
		</dict>
		<key>New_sy_xjn_baodian2_00147_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{631,791},{61,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,85}}</string>
			<key>sourceSize</key>
			<string>{61,85}</string>
		</dict>
		<key>New_sy_xjn_baodian2_00149_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{418,382},{56,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,55}}</string>
			<key>sourceSize</key>
			<string>{56,55}</string>
		</dict>
		<key>New_sy_xjn_baodian_00011_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{536,858},{125,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,45}}</string>
			<key>sourceSize</key>
			<string>{125,45}</string>
		</dict>
		<key>New_sy_xjn_baodian_00013_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,286},{144,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,24}}</string>
			<key>sourceSize</key>
			<string>{144,24}</string>
		</dict>
		<key>New_sy_xjn_baodian_00015_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,856},{118,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,28}}</string>
			<key>sourceSize</key>
			<string>{118,28}</string>
		</dict>
		<key>New_sy_xjn_baodian_00017_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{687,564},{87,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,36}}</string>
			<key>sourceSize</key>
			<string>{87,36}</string>
		</dict>
		<key>New_sy_xjn_baodian_00019_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{683,980},{87,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,42}}</string>
			<key>sourceSize</key>
			<string>{87,42}</string>
		</dict>
		<key>New_sy_xjn_baodian_00021_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{772,959},{86,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,46}}</string>
			<key>sourceSize</key>
			<string>{86,46}</string>
		</dict>
		<key>New_sy_xjn_baodian_00023_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{715,741},{86,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,48}}</string>
			<key>sourceSize</key>
			<string>{86,48}</string>
		</dict>
		<key>New_sy_xjn_baodian_00025_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{627,741},{86,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,48}}</string>
			<key>sourceSize</key>
			<string>{86,48}</string>
		</dict>
		<key>New_sy_xjn_baodian_00027_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{628,454},{70,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,37}}</string>
			<key>sourceSize</key>
			<string>{70,37}</string>
		</dict>
		<key>New_sy_xjn_daoguang_00127_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,206},{165,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{165,14}}</string>
			<key>sourceSize</key>
			<string>{167,14}</string>
		</dict>
		<key>New_sy_xjn_daoguang_00129_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,263},{180,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{180,21}}</string>
			<key>sourceSize</key>
			<string>{182,21}</string>
		</dict>
		<key>New_sy_xjn_daoguang_00131_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,230},{193,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,26}}</string>
			<key>sourceSize</key>
			<string>{193,26}</string>
		</dict>
		<key>New_sy_xjn_daoguang_00133_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,258},{191,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,101}}</string>
			<key>sourceSize</key>
			<string>{191,101}</string>
		</dict>
		<key>New_sy_xjn_daoguang_00135_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,237},{184,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,71}}</string>
			<key>sourceSize</key>
			<string>{184,71}</string>
		</dict>
		<key>New_sy_xjn_daoguang_00137_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,649},{150,85}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,85}}</string>
			<key>sourceSize</key>
			<string>{152,85}</string>
		</dict>
		<key>New_sy_xjn_daoguang_00139_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{860,936},{82,88}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,88}}</string>
			<key>sourceSize</key>
			<string>{88,88}</string>
		</dict>
		<key>New_sy_xjn_daoguang_00141_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,527},{36,76}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{36,76}}</string>
			<key>sourceSize</key>
			<string>{40,80}</string>
		</dict>
		<key>New_sy_xjn_honghoubo_00070_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{583,856},{98,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,124}}</string>
			<key>sourceSize</key>
			<string>{98,124}</string>
		</dict>
		<key>New_sy_xjn_honghoubo_00072_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{421,878},{113,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,139}}</string>
			<key>sourceSize</key>
			<string>{113,139}</string>
		</dict>
		<key>New_sy_xjn_honghoubo_00074_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,694},{120,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,152}}</string>
			<key>sourceSize</key>
			<string>{120,152}</string>
		</dict>
		<key>New_sy_xjn_honghoubo_00076_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{234,522},{125,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,158}}</string>
			<key>sourceSize</key>
			<string>{125,158}</string>
		</dict>
		<key>New_sy_xjn_honghoubo_00078_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,422},{127,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,165}}</string>
			<key>sourceSize</key>
			<string>{127,165}</string>
		</dict>
		<key>New_sy_xjn_honghoubo_00080_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{474,454},{112,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,152}}</string>
			<key>sourceSize</key>
			<string>{112,152}</string>
		</dict>
		<key>New_sy_xjn_hongquan_00063_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{489,731},{125,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,51}}</string>
			<key>sourceSize</key>
			<string>{125,51}</string>
		</dict>
		<key>New_sy_xjn_hongquan_00065_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{436,731},{125,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,51}}</string>
			<key>sourceSize</key>
			<string>{125,51}</string>
		</dict>
		<key>New_sy_xjn_hongquan_00067_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{683,854},{124,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,51}}</string>
			<key>sourceSize</key>
			<string>{124,51}</string>
		</dict>
		<key>New_sy_xjn_hongquan_00069_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{839,483},{165,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,163}}</string>
			<key>sourceSize</key>
			<string>{165,163}</string>
		</dict>
		<key>New_sy_xjn_hongquan_00071_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{671,361},{166,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,137}}</string>
			<key>sourceSize</key>
			<string>{166,137}</string>
		</dict>
		<key>New_sy_xjn_hongquan_00073_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,105},{193,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,123}}</string>
			<key>sourceSize</key>
			<string>{193,123}</string>
		</dict>
		<key>New_sy_xjn_hongquan_00075_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,310},{180,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,120}}</string>
			<key>sourceSize</key>
			<string>{180,120}</string>
		</dict>
		<key>New_sy_xjn_hongquan_00077_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,432},{163,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,88}}</string>
			<key>sourceSize</key>
			<string>{163,88}</string>
		</dict>
		<key>New_sy_xjn_hongquan_00079_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,562},{145,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,66}}</string>
			<key>sourceSize</key>
			<string>{145,66}</string>
		</dict>
		<key>New_sy_xjn_houbo_00011_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,440},{85,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,71}}</string>
			<key>sourceSize</key>
			<string>{85,71}</string>
		</dict>
		<key>New_sy_xjn_houbo_00013_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{628,656},{95,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,83}}</string>
			<key>sourceSize</key>
			<string>{95,83}</string>
		</dict>
		<key>New_sy_xjn_houbo_00015_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{725,624},{111,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,95}}</string>
			<key>sourceSize</key>
			<string>{111,95}</string>
		</dict>
		<key>New_sy_xjn_houbo_00017_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,888},{134,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,114}}</string>
			<key>sourceSize</key>
			<string>{134,114}</string>
		</dict>
		<key>New_sy_xjn_houbo_00019_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{867,170},{153,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,131}}</string>
			<key>sourceSize</key>
			<string>{153,131}</string>
		</dict>
		<key>New_sy_xjn_houbo_00021_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,2},{166,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,139}}</string>
			<key>sourceSize</key>
			<string>{166,139}</string>
		</dict>
		<key>New_sy_xjn_houbo_00023_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,551},{160,141}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{160,141}}</string>
			<key>sourceSize</key>
			<string>{166,141}</string>
		</dict>
		<key>New_sy_xjn_lanshou_00123_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{888,735},{100,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,97}}</string>
			<key>sourceSize</key>
			<string>{100,97}</string>
		</dict>
		<key>New_sy_xjn_lanshou_00125_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,237},{143,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,51}}</string>
			<key>sourceSize</key>
			<string>{143,51}</string>
		</dict>
		<key>New_sy_xjn_lanshou_00127_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,422},{70,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,65}}</string>
			<key>sourceSize</key>
			<string>{70,65}</string>
		</dict>
		<key>New_sy_xjn_lanshou_00129_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,565},{89,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,75}}</string>
			<key>sourceSize</key>
			<string>{89,75}</string>
		</dict>
		<key>New_sy_xjn_lanshou_00131_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{727,536},{106,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,86}}</string>
			<key>sourceSize</key>
			<string>{106,86}</string>
		</dict>
		<key>New_sy_xjn_lanshou_00133_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{579,568},{106,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,86}}</string>
			<key>sourceSize</key>
			<string>{106,86}</string>
		</dict>
		<key>New_sy_xjn_lanshou_00135_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{471,568},{106,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,86}}</string>
			<key>sourceSize</key>
			<string>{106,86}</string>
		</dict>
		<key>New_sy_xjn_lanshou_00137_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{888,648},{103,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,85}}</string>
			<key>sourceSize</key>
			<string>{103,85}</string>
		</dict>
		<key>New_sy_xjn_lanshouhuo_00126_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,656},{144,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,73}}</string>
			<key>sourceSize</key>
			<string>{144,73}</string>
		</dict>
		<key>New_sy_xjn_lanshouhuo_00128_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,709},{145,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,74}}</string>
			<key>sourceSize</key>
			<string>{145,74}</string>
		</dict>
		<key>New_sy_xjn_lanshouhuo_00130_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{328,736},{147,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,69}}</string>
			<key>sourceSize</key>
			<string>{147,69}</string>
		</dict>
		<key>New_sy_xjn_lanshouhuo_00132_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,816},{148,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,70}}</string>
			<key>sourceSize</key>
			<string>{148,70}</string>
		</dict>
		<key>New_sy_xjn_lanshouhuo_00134_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{369,885},{128,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,50}}</string>
			<key>sourceSize</key>
			<string>{128,50}</string>
		</dict>
		<key>New_sy_xjn_shou_00010_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,731},{145,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,35}}</string>
			<key>sourceSize</key>
			<string>{145,35}</string>
		</dict>
		<key>New_sy_xjn_shou_00012_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{684,2},{197,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,101}}</string>
			<key>sourceSize</key>
			<string>{197,101}</string>
		</dict>
		<key>New_sy_xjn_shou_00014_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{235,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,101}}</string>
			<key>sourceSize</key>
			<string>{235,101}</string>
		</dict>
		<key>New_sy_xjn_shou_00016_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,105},{230,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{230,99}}</string>
			<key>sourceSize</key>
			<string>{230,99}</string>
		</dict>
		<key>New_sy_xjn_shou_00018_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,2},{207,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,63}}</string>
			<key>sourceSize</key>
			<string>{207,63}</string>
		</dict>
		<key>New_sy_xjn_shou_00020_sysstimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{727,500},{110,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,34}}</string>
			<key>sourceSize</key>
			<string>{110,34}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>sysstimage.png</string>
		<key>scale</key>
		<real>0.47</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>sysstimage.png</string>
	</dict>
</dict>
</plist>
