<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>      ..._xunlianzhongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,48},{19,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,6}}</string>
			<key>sourceSize</key>
			<string>{19,6}</string>
		</dict>
		<key>dian_xunlianzhongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,56},{6,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{6,6}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>lian_xunlianzhongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{24,25},{20,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{20,21}}</string>
			<key>sourceSize</key>
			<string>{26,25}</string>
		</dict>
		<key>xun_xunlianzhongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{21,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{21,21}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>zhong_xunlianzhongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,25},{20,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{20,21}}</string>
			<key>sourceSize</key>
			<string>{24,25}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>xunlianzhongimage.png</string>
		<key>size</key>
		<string>{64,64}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>xunlianzhongimage.png</string>
	</dict>
</dict>
</plist>
