<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>a_jihuoaoyiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,40},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{28,30}</string>
		</dict>
		<key>b_jihuoaoyiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,40},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>you_jihuoaoyiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{43,36}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{43,36}}</string>
			<key>sourceSize</key>
			<string>{49,44}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>jihuoaoyiimage.png</string>
		<key>size</key>
		<string>{64,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>jihuoaoyiimage.png</string>
	</dict>
</dict>
</plist>
