<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sds01_xinnianjiesuanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,136},{112,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,111}}</string>
			<key>sourceSize</key>
			<string>{112,111}</string>
		</dict>
		<key>sds02_xinnianjiesuanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,23},{112,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,111}}</string>
			<key>sourceSize</key>
			<string>{112,111}</string>
		</dict>
		<key>sds03_xinnianjiesuanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,137},{112,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,109}}</string>
			<key>sourceSize</key>
			<string>{112,109}</string>
		</dict>
		<key>sdsh_xinnianjiesuanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,23},{112,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,109}}</string>
			<key>sourceSize</key>
			<string>{112,109}</string>
		</dict>
		<key>xue01_xinnianjiesuanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{216,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,19}}</string>
			<key>sourceSize</key>
			<string>{216,19}</string>
		</dict>
		<key>xue02_xinnianjiesuanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,2},{135,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,14}}</string>
			<key>sourceSize</key>
			<string>{135,14}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>xinnianjiesuanimage.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>xinnianjiesuanimage.png</string>
	</dict>
</dict>
</plist>
