<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dcA_shouyigenisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,449},{63,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,105}}</string>
			<key>sourceSize</key>
			<string>{63,105}</string>
		</dict>
		<key>dcB_shouyigenisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,580},{56,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,93}}</string>
			<key>sourceSize</key>
			<string>{56,93}</string>
		</dict>
		<key>dcC_shouyigenisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,525},{73,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,101}}</string>
			<key>sourceSize</key>
			<string>{73,101}</string>
		</dict>
		<key>dcD_shouyigenisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,445},{78,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,105}}</string>
			<key>sourceSize</key>
			<string>{78,105}</string>
		</dict>
		<key>dcE_shouyigenisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{241,514},{80,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,104}}</string>
			<key>sourceSize</key>
			<string>{80,104}</string>
		</dict>
		<key>dcF_shouyigenisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,600},{51,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,61}}</string>
			<key>sourceSize</key>
			<string>{51,61}</string>
		</dict>
		<key>ddA_shouyigenisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{465,341},{237,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{237,45}}</string>
			<key>sourceSize</key>
			<string>{237,45}</string>
		</dict>
		<key>ddB_shouyigenisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,432},{241,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,72}}</string>
			<key>sourceSize</key>
			<string>{241,72}</string>
		</dict>
		<key>ddC_shouyigenisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,353},{259,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,77}}</string>
			<key>sourceSize</key>
			<string>{259,77}</string>
		</dict>
		<key>ddE_shouyigenisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,506},{237,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{237,75}}</string>
			<key>sourceSize</key>
			<string>{237,75}</string>
		</dict>
		<key>dianA_shouyigenisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,353},{91,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,94}}</string>
			<key>sourceSize</key>
			<string>{91,94}</string>
		</dict>
		<key>dianB_shouyigenisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,235},{113,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,104}}</string>
			<key>sourceSize</key>
			<string>{113,104}</string>
		</dict>
		<key>dianC_shouyigenisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,341},{107,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,102}}</string>
			<key>sourceSize</key>
			<string>{107,102}</string>
		</dict>
		<key>dianD_shouyigenisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,596},{85,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,84}}</string>
			<key>sourceSize</key>
			<string>{85,84}</string>
		</dict>
		<key>dianE_shouyigenisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{471,235},{27,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,58}}</string>
			<key>sourceSize</key>
			<string>{27,58}</string>
		</dict>
		<key>faguang_shouyigenisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,104},{130,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,129}}</string>
			<key>sourceSize</key>
			<string>{130,129}</string>
		</dict>
		<key>guangquan_shouyigenisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,2},{100,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,151}}</string>
			<key>sourceSize</key>
			<string>{100,151}</string>
		</dict>
		<key>mask1_shouyigenisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,583},{174,233}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,233}}</string>
			<key>sourceSize</key>
			<string>{174,233}</string>
		</dict>
		<key>renwuguang_shouyigenisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{349,352}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{349,352}}</string>
			<key>sourceSize</key>
			<string>{349,352}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>shouyigenisiimage.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>shouyigenisiimage.png</string>
	</dict>
</dict>
</plist>
