<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bg_bag_jindutiaodi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{236,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{236,24}}</string>
			<key>sourceSize</key>
			<string>{236,26}</string>
		</dict>
		<key>btn_bag_maxnew_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,146},{66,46}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,13},{66,46}}</string>
			<key>sourceSize</key>
			<string>{68,68}</string>
		</dict>
		<key>btn_bag_maxnew_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,98},{66,46}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,13},{66,46}}</string>
			<key>sourceSize</key>
			<string>{68,68}</string>
		</dict>
		<key>btn_bag_minnew_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,50},{66,46}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,13},{66,46}}</string>
			<key>sourceSize</key>
			<string>{68,68}</string>
		</dict>
		<key>btn_bag_minnew_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,2},{66,46}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,13},{66,46}}</string>
			<key>sourceSize</key>
			<string>{68,68}</string>
		</dict>
		<key>btn_bag_tuodong_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,194},{37,46}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,6},{37,46}}</string>
			<key>sourceSize</key>
			<string>{45,54}</string>
		</dict>
		<key>btn_bag_tuodong_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,194},{37,46}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,6},{37,46}}</string>
			<key>sourceSize</key>
			<string>{45,54}</string>
		</dict>
		<key>pic_bag_jindutiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{28,2},{232,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232,20}}</string>
			<key>sourceSize</key>
			<string>{232,20}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>BagBatchUse0.png</string>
		<key>size</key>
		<string>{128,242}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>BagBatchUse0.png</string>
	</dict>
</dict>
</plist>
