<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>leizhixiaermei_pifu_atk_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,493},{62,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,141}}</string>
			<key>sourceSize</key>
			<string>{62,141}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_100.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,408},{47,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,22}}</string>
			<key>sourceSize</key>
			<string>{47,22}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,908},{114,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,147}}</string>
			<key>sourceSize</key>
			<string>{114,147}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,959},{39,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,63}}</string>
			<key>sourceSize</key>
			<string>{39,63}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,864},{62,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,136}}</string>
			<key>sourceSize</key>
			<string>{62,136}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_25.png</key>
		<dict>
			<key>frame</key>
			<string>{{889,462},{55,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,106}}</string>
			<key>sourceSize</key>
			<string>{55,106}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_26.png</key>
		<dict>
			<key>frame</key>
			<string>{{573,2},{54,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,146}}</string>
			<key>sourceSize</key>
			<string>{54,146}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_28.png</key>
		<dict>
			<key>frame</key>
			<string>{{518,400},{45,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,93}}</string>
			<key>sourceSize</key>
			<string>{45,93}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_33.png</key>
		<dict>
			<key>frame</key>
			<string>{{616,781},{92,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{92,82}}</string>
			<key>sourceSize</key>
			<string>{94,82}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_36.png</key>
		<dict>
			<key>frame</key>
			<string>{{504,253},{54,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,146}}</string>
			<key>sourceSize</key>
			<string>{54,146}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_42.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,865},{42,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,144}}</string>
			<key>sourceSize</key>
			<string>{42,144}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_43.png</key>
		<dict>
			<key>frame</key>
			<string>{{337,205},{47,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,137}}</string>
			<key>sourceSize</key>
			<string>{47,137}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_44.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,409},{92,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,84}}</string>
			<key>sourceSize</key>
			<string>{92,84}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_50.png</key>
		<dict>
			<key>frame</key>
			<string>{{309,705},{78,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,158}}</string>
			<key>sourceSize</key>
			<string>{78,158}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_61.png</key>
		<dict>
			<key>frame</key>
			<string>{{593,864},{50,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,43}}</string>
			<key>sourceSize</key>
			<string>{50,43}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_66.png</key>
		<dict>
			<key>frame</key>
			<string>{{449,253},{54,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,150}}</string>
			<key>sourceSize</key>
			<string>{54,150}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_67.png</key>
		<dict>
			<key>frame</key>
			<string>{{547,494},{52,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,143}}</string>
			<key>sourceSize</key>
			<string>{52,143}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{766,488},{120,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,133}}</string>
			<key>sourceSize</key>
			<string>{120,133}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_73.png</key>
		<dict>
			<key>frame</key>
			<string>{{715,393},{94,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,80}}</string>
			<key>sourceSize</key>
			<string>{94,80}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{889,2},{74,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,133}}</string>
			<key>sourceSize</key>
			<string>{74,133}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_81.png</key>
		<dict>
			<key>frame</key>
			<string>{{505,864},{43,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,87}}</string>
			<key>sourceSize</key>
			<string>{43,87}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_86.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,2},{53,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,150}}</string>
			<key>sourceSize</key>
			<string>{53,150}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_89.png</key>
		<dict>
			<key>frame</key>
			<string>{{721,488},{44,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,134}}</string>
			<key>sourceSize</key>
			<string>{44,134}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_99.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,494},{44,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,145}}</string>
			<key>sourceSize</key>
			<string>{44,145}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_bu_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{842,90},{46,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,50}}</string>
			<key>sourceSize</key>
			<string>{46,50}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_bu_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{836,257},{49,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,131}}</string>
			<key>sourceSize</key>
			<string>{49,131}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_bu_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,655},{49,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,132}}</string>
			<key>sourceSize</key>
			<string>{49,132}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_bu_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,463},{30,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,143}}</string>
			<key>sourceSize</key>
			<string>{30,143}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_bu_27.png</key>
		<dict>
			<key>frame</key>
			<string>{{996,503},{62,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,26}}</string>
			<key>sourceSize</key>
			<string>{62,26}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_bu_29.png</key>
		<dict>
			<key>frame</key>
			<string>{{739,2},{64,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,138}}</string>
			<key>sourceSize</key>
			<string>{64,138}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_bu_31.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,908},{40,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,113}}</string>
			<key>sourceSize</key>
			<string>{40,113}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_bu_35.png</key>
		<dict>
			<key>frame</key>
			<string>{{887,518},{40,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,106}}</string>
			<key>sourceSize</key>
			<string>{40,106}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_bu_36.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,672},{32,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,61}}</string>
			<key>sourceSize</key>
			<string>{32,61}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_bu_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{707,864},{67,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,135}}</string>
			<key>sourceSize</key>
			<string>{67,135}</string>
		</dict>
		<key>leizhixiaermei_pifu_atk_bu_40.png</key>
		<dict>
			<key>frame</key>
			<string>{{579,638},{59,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,142}}</string>
			<key>sourceSize</key>
			<string>{59,142}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{373,253},{153,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,46}}</string>
			<key>sourceSize</key>
			<string>{153,46}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_100.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,908},{111,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,92}}</string>
			<key>sourceSize</key>
			<string>{111,92}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,230},{147,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,22}}</string>
			<key>sourceSize</key>
			<string>{147,22}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,253},{155,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,66}}</string>
			<key>sourceSize</key>
			<string>{155,66}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{520,785},{95,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,78}}</string>
			<key>sourceSize</key>
			<string>{95,78}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{796,389},{98,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,92}}</string>
			<key>sourceSize</key>
			<string>{98,92}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_25.png</key>
		<dict>
			<key>frame</key>
			<string>{{795,622},{91,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,61}}</string>
			<key>sourceSize</key>
			<string>{91,61}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_26.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,785},{63,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,45}}</string>
			<key>sourceSize</key>
			<string>{63,45}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_32.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,908},{114,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,61}}</string>
			<key>sourceSize</key>
			<string>{114,61}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_34.png</key>
		<dict>
			<key>frame</key>
			<string>{{615,253},{141,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,94}}</string>
			<key>sourceSize</key>
			<string>{141,94}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_39.png</key>
		<dict>
			<key>frame</key>
			<string>{{786,684},{86,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,90}}</string>
			<key>sourceSize</key>
			<string>{86,90}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_42.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,791},{61,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,72}}</string>
			<key>sourceSize</key>
			<string>{61,72}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_45.png</key>
		<dict>
			<key>frame</key>
			<string>{{821,1000},{22,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,49}}</string>
			<key>sourceSize</key>
			<string>{22,49}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_48.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,405},{88,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{88,78}}</string>
			<key>sourceSize</key>
			<string>{90,78}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_49.png</key>
		<dict>
			<key>frame</key>
			<string>{{559,253},{55,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,142}}</string>
			<key>sourceSize</key>
			<string>{55,142}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_50.png</key>
		<dict>
			<key>frame</key>
			<string>{{854,775},{68,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,122}}</string>
			<key>sourceSize</key>
			<string>{68,122}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_55.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,645},{87,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,145}}</string>
			<key>sourceSize</key>
			<string>{87,145}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_62.png</key>
		<dict>
			<key>frame</key>
			<string>{{795,775},{58,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,88}}</string>
			<key>sourceSize</key>
			<string>{58,88}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_65.png</key>
		<dict>
			<key>frame</key>
			<string>{{887,634},{94,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,39}}</string>
			<key>sourceSize</key>
			<string>{94,39}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,456},{46,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,22}}</string>
			<key>sourceSize</key>
			<string>{46,22}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_76.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,640},{102,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,144}}</string>
			<key>sourceSize</key>
			<string>{102,144}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,791},{72,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,69}}</string>
			<key>sourceSize</key>
			<string>{72,69}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_86.png</key>
		<dict>
			<key>frame</key>
			<string>{{628,395},{95,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,86}}</string>
			<key>sourceSize</key>
			<string>{95,86}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_95.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,494},{160,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,82}}</string>
			<key>sourceSize</key>
			<string>{160,82}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_97.png</key>
		<dict>
			<key>frame</key>
			<string>{{959,193},{63,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,48}}</string>
			<key>sourceSize</key>
			<string>{63,48}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_99.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,142},{107,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,123}}</string>
			<key>sourceSize</key>
			<string>{107,123}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_bu_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{873,684},{10,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,29}}</string>
			<key>sourceSize</key>
			<string>{10,29}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_bu_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,153},{99,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,149}}</string>
			<key>sourceSize</key>
			<string>{99,149}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_bu_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{533,908},{110,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,110}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_bu_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{663,491},{140,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,57}}</string>
			<key>sourceSize</key>
			<string>{140,57}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_bu_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{711,632},{134,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,74}}</string>
			<key>sourceSize</key>
			<string>{134,74}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_bu_25.png</key>
		<dict>
			<key>frame</key>
			<string>{{675,2},{33,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,139}}</string>
			<key>sourceSize</key>
			<string>{33,139}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_bu_31.png</key>
		<dict>
			<key>frame</key>
			<string>{{909,979},{48,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,43}}</string>
			<key>sourceSize</key>
			<string>{48,43}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_bu_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,849},{54,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,45}}</string>
			<key>sourceSize</key>
			<string>{54,45}</string>
		</dict>
		<key>leizhixiaermei_pifu_daodi_bu_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{323,494},{156,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,45}}</string>
			<key>sourceSize</key>
			<string>{156,45}</string>
		</dict>
		<key>leizhixiaermei_pifu_ged_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,655},{16,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,14}}</string>
			<key>sourceSize</key>
			<string>{16,14}</string>
		</dict>
		<key>leizhixiaermei_pifu_ged_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{369,494},{90,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,150}}</string>
			<key>sourceSize</key>
			<string>{90,150}</string>
		</dict>
		<key>leizhixiaermei_pifu_ged_29.png</key>
		<dict>
			<key>frame</key>
			<string>{{978,729},{44,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,55}}</string>
			<key>sourceSize</key>
			<string>{44,55}</string>
		</dict>
		<key>leizhixiaermei_pifu_ged_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{710,252},{79,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,140}}</string>
			<key>sourceSize</key>
			<string>{79,140}</string>
		</dict>
		<key>leizhixiaermei_pifu_ged_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{842,2},{46,87}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,87}}</string>
			<key>sourceSize</key>
			<string>{52,87}</string>
		</dict>
		<key>leizhixiaermei_pifu_ged_bu_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{990,566},{32,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,50}}</string>
			<key>sourceSize</key>
			<string>{32,50}</string>
		</dict>
		<key>leizhixiaermei_pifu_ged_bu_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,1000},{22,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,35}}</string>
			<key>sourceSize</key>
			<string>{22,35}</string>
		</dict>
		<key>leizhixiaermei_pifu_ged_bu_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{854,844},{67,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,122}}</string>
			<key>sourceSize</key>
			<string>{67,122}</string>
		</dict>
		<key>leizhixiaermei_pifu_ged_bu_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,1001},{20,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,52}}</string>
			<key>sourceSize</key>
			<string>{20,52}</string>
		</dict>
		<key>leizhixiaermei_pifu_idle_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{982,242},{14,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,20}}</string>
			<key>sourceSize</key>
			<string>{14,20}</string>
		</dict>
		<key>leizhixiaermei_pifu_idle_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1003,242},{14,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,19}}</string>
			<key>sourceSize</key>
			<string>{14,19}</string>
		</dict>
		<key>leizhixiaermei_pifu_idle_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,904},{54,45}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,45}}</string>
			<key>sourceSize</key>
			<string>{54,49}</string>
		</dict>
		<key>leizhixiaermei_pifu_idle_41.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,409},{51,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,36}}</string>
			<key>sourceSize</key>
			<string>{51,36}</string>
		</dict>
		<key>leizhixiaermei_pifu_idle_49.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,205},{15,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,14}}</string>
			<key>sourceSize</key>
			<string>{15,14}</string>
		</dict>
		<key>leizhixiaermei_pifu_idle_53.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,205},{15,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,16}}</string>
			<key>sourceSize</key>
			<string>{15,16}</string>
		</dict>
		<key>leizhixiaermei_pifu_idle_57.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,864},{43,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,143}}</string>
			<key>sourceSize</key>
			<string>{43,143}</string>
		</dict>
		<key>leizhixiaermei_pifu_idle_65.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,672},{32,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,57}}</string>
			<key>sourceSize</key>
			<string>{32,57}</string>
		</dict>
		<key>leizhixiaermei_pifu_idle_68.png</key>
		<dict>
			<key>frame</key>
			<string>{{628,2},{46,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,140}}</string>
			<key>sourceSize</key>
			<string>{46,140}</string>
		</dict>
		<key>leizhixiaermei_pifu_idle_70.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,250},{25,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,126}}</string>
			<key>sourceSize</key>
			<string>{25,126}</string>
		</dict>
		<key>leizhixiaermei_pifu_idle_bu_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{65,250}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{65,250}}</string>
			<key>sourceSize</key>
			<string>{67,252}</string>
		</dict>
		<key>leizhixiaermei_pifu_idle_bu_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,253},{80,240}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{80,240}}</string>
			<key>sourceSize</key>
			<string>{82,242}</string>
		</dict>
		<key>leizhixiaermei_pifu_idle_bu_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{1004,373},{12,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,34}}</string>
			<key>sourceSize</key>
			<string>{12,34}</string>
		</dict>
		<key>leizhixiaermei_pifu_idle_bu_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{505,494},{41,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,144}}</string>
			<key>sourceSize</key>
			<string>{41,144}</string>
		</dict>
		<key>leizhixiaermei_pifu_idle_bu_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,908},{21,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,114}}</string>
			<key>sourceSize</key>
			<string>{21,114}</string>
		</dict>
		<key>leizhixiaermei_pifu_idle_bu_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,221},{31,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,116}}</string>
			<key>sourceSize</key>
			<string>{31,116}</string>
		</dict>
		<key>leizhixiaermei_pifu_idle_bu_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{1004,321},{12,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,51}}</string>
			<key>sourceSize</key>
			<string>{12,51}</string>
		</dict>
		<key>leizhixiaermei_pifu_idle_bu_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{770,1000},{22,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,50}}</string>
			<key>sourceSize</key>
			<string>{22,50}</string>
		</dict>
		<key>leizhixiaermei_pifu_idle_toufa1.png</key>
		<dict>
			<key>frame</key>
			<string>{{804,2},{37,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,138}}</string>
			<key>sourceSize</key>
			<string>{37,138}</string>
		</dict>
		<key>leizhixiaermei_pifu_idle_toufa2.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,205},{15,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,20}}</string>
			<key>sourceSize</key>
			<string>{15,20}</string>
		</dict>
		<key>leizhixiaermei_pifu_idle_toufa3.png</key>
		<dict>
			<key>frame</key>
			<string>{{790,250},{19,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,138}}</string>
			<key>sourceSize</key>
			<string>{19,138}</string>
		</dict>
		<key>leizhixiaermei_pifu_idle_toufa4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1004,295},{14,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,18}}</string>
			<key>sourceSize</key>
			<string>{14,18}</string>
		</dict>
		<key>leizhixiaermei_pifu_runbeij_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{639,635},{71,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,140}}</string>
			<key>sourceSize</key>
			<string>{71,140}</string>
		</dict>
		<key>leizhixiaermei_pifu_runbeij_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,253},{28,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,151}}</string>
			<key>sourceSize</key>
			<string>{28,151}</string>
		</dict>
		<key>leizhixiaermei_pifu_runbeij_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{886,257},{117,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,128}}</string>
			<key>sourceSize</key>
			<string>{117,128}</string>
		</dict>
		<key>leizhixiaermei_pifu_runbeij_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{697,1001},{20,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,17}}</string>
			<key>sourceSize</key>
			<string>{20,17}</string>
		</dict>
		<key>leizhixiaermei_pifu_runbeij_26.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,461},{32,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,62}}</string>
			<key>sourceSize</key>
			<string>{32,62}</string>
		</dict>
		<key>leizhixiaermei_pifu_runbeij_34.png</key>
		<dict>
			<key>frame</key>
			<string>{{887,674},{90,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,86}}</string>
			<key>sourceSize</key>
			<string>{90,86}</string>
		</dict>
		<key>leizhixiaermei_pifu_runbeij_40.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,2},{36,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,150}}</string>
			<key>sourceSize</key>
			<string>{36,150}</string>
		</dict>
		<key>leizhixiaermei_pifu_runbeij_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,2},{90,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,146}}</string>
			<key>sourceSize</key>
			<string>{90,146}</string>
		</dict>
		<key>leizhixiaermei_pifu_runbeij_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{982,668},{40,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,60}}</string>
			<key>sourceSize</key>
			<string>{40,60}</string>
		</dict>
		<key>leizhixiaermei_pifu_runbeij_bu_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,908},{114,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,97}}</string>
			<key>sourceSize</key>
			<string>{114,97}</string>
		</dict>
		<key>leizhixiaermei_pifu_runbeij_bu_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{709,2},{29,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,139}}</string>
			<key>sourceSize</key>
			<string>{29,139}</string>
		</dict>
		<key>leizhixiaermei_pifu_runbeij_bu_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{775,864},{50,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,135}}</string>
			<key>sourceSize</key>
			<string>{50,135}</string>
		</dict>
		<key>leizhixiaermei_pifu_runbeij_bu_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{836,141},{52,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,115}}</string>
			<key>sourceSize</key>
			<string>{52,115}</string>
		</dict>
		<key>leizhixiaermei_pifu_skil_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,2},{101,227}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,227}}</string>
			<key>sourceSize</key>
			<string>{101,227}</string>
		</dict>
		<key>leizhixiaermei_pifu_skil_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{826,919},{80,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,82}}</string>
			<key>sourceSize</key>
			<string>{80,82}</string>
		</dict>
		<key>leizhixiaermei_pifu_skil_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{1004,280},{18,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,14}}</string>
			<key>sourceSize</key>
			<string>{18,14}</string>
		</dict>
		<key>leizhixiaermei_pifu_skil_33.png</key>
		<dict>
			<key>frame</key>
			<string>{{887,559},{102,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,74}}</string>
			<key>sourceSize</key>
			<string>{102,74}</string>
		</dict>
		<key>leizhixiaermei_pifu_skil_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,2},{113,218}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,218}}</string>
			<key>sourceSize</key>
			<string>{113,218}</string>
		</dict>
		<key>leizhixiaermei_pifu_skil_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,253},{101,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,209}}</string>
			<key>sourceSize</key>
			<string>{101,209}</string>
		</dict>
		<key>leizhixiaermei_pifu_skil_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,494},{118,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,210}}</string>
			<key>sourceSize</key>
			<string>{118,210}</string>
		</dict>
		<key>leizhixiaermei_pifu_skil_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,2},{106,202}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,202}}</string>
			<key>sourceSize</key>
			<string>{106,202}</string>
		</dict>
		<key>leizhixiaermei_pifu_skil_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,253},{120,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,207}}</string>
			<key>sourceSize</key>
			<string>{120,207}</string>
		</dict>
		<key>leizhixiaermei_pifu_skill2_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,705},{92,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,159}}</string>
			<key>sourceSize</key>
			<string>{92,159}</string>
		</dict>
		<key>leizhixiaermei_pifu_skill2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,705},{202,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,106}}</string>
			<key>sourceSize</key>
			<string>{202,106}</string>
		</dict>
		<key>leizhixiaermei_pifu_skill2_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{1004,257},{22,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,18}}</string>
			<key>sourceSize</key>
			<string>{22,18}</string>
		</dict>
		<key>leizhixiaermei_pifu_skill2_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{373,908},{66,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,112}}</string>
			<key>sourceSize</key>
			<string>{66,112}</string>
		</dict>
		<key>leizhixiaermei_pifu_skill2_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{241,672},{17,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,11}}</string>
			<key>sourceSize</key>
			<string>{17,11}</string>
		</dict>
		<key>leizhixiaermei_pifu_skill2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,705},{202,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,106}}</string>
			<key>sourceSize</key>
			<string>{202,106}</string>
		</dict>
		<key>leizhixiaermei_pifu_skill2_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{709,776},{87,85}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,85}}</string>
			<key>sourceSize</key>
			<string>{89,85}</string>
		</dict>
		<key>leizhixiaermei_pifu_skill2_26.png</key>
		<dict>
			<key>frame</key>
			<string>{{909,912},{66,67}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,67}}</string>
			<key>sourceSize</key>
			<string>{66,69}</string>
		</dict>
		<key>leizhixiaermei_pifu_skill2_27.png</key>
		<dict>
			<key>frame</key>
			<string>{{564,396},{63,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,96}}</string>
			<key>sourceSize</key>
			<string>{63,96}</string>
		</dict>
		<key>leizhixiaermei_pifu_skill2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{889,386},{110,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,75}}</string>
			<key>sourceSize</key>
			<string>{110,75}</string>
		</dict>
		<key>leizhixiaermei_pifu_skill2_33.png</key>
		<dict>
			<key>frame</key>
			<string>{{1004,310},{16,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,10}}</string>
			<key>sourceSize</key>
			<string>{16,10}</string>
		</dict>
		<key>leizhixiaermei_pifu_skill2_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,494},{118,177}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,177}}</string>
			<key>sourceSize</key>
			<string>{118,177}</string>
		</dict>
		<key>leizhixiaermei_pifu_skill2_40.png</key>
		<dict>
			<key>frame</key>
			<string>{{826,864},{54,27}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{54,27}}</string>
			<key>sourceSize</key>
			<string>{56,27}</string>
		</dict>
		<key>leizhixiaermei_pifu_skill2_43.png</key>
		<dict>
			<key>frame</key>
			<string>{{889,77},{115,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{115,132}}</string>
			<key>sourceSize</key>
			<string>{115,134}</string>
		</dict>
		<key>leizhixiaermei_pifu_skill2_56.png</key>
		<dict>
			<key>frame</key>
			<string>{{889,193},{69,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,63}}</string>
			<key>sourceSize</key>
			<string>{69,63}</string>
		</dict>
		<key>leizhixiaermei_pifu_skill2_57.png</key>
		<dict>
			<key>frame</key>
			<string>{{715,1000},{54,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,22}}</string>
			<key>sourceSize</key>
			<string>{54,22}</string>
		</dict>
		<key>leizhixiaermei_pifu_skill2_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,221},{8,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,18}}</string>
			<key>sourceSize</key>
			<string>{8,18}</string>
		</dict>
		<key>leizhixiaermei_pifu_skill2_bu_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,461},{55,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,32}}</string>
			<key>sourceSize</key>
			<string>{55,32}</string>
		</dict>
		<key>leizhixiaermei_pifu_skill2_bu_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,153},{51,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,83}}</string>
			<key>sourceSize</key>
			<string>{51,83}</string>
		</dict>
		<key>leizhixiaermei_pifu_skill2_bu_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{625,149},{86,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,102}}</string>
			<key>sourceSize</key>
			<string>{86,102}</string>
		</dict>
		<key>leizhixiaermei_pifu_sl_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{959,242},{22,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,14}}</string>
			<key>sourceSize</key>
			<string>{22,14}</string>
		</dict>
		<key>leizhixiaermei_pifu_sl_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,377},{18,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,10}}</string>
			<key>sourceSize</key>
			<string>{18,10}</string>
		</dict>
		<key>leizhixiaermei_pifu_sl_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{990,617},{32,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,50}}</string>
			<key>sourceSize</key>
			<string>{32,50}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>lzxemKVSZ_role0.png</string>
		<key>scale</key>
		<real>0.8</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lzxemKVSZ_role0.png</string>
	</dict>
</dict>
</plist>
