<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wy_1_1_30269_xunhuitiaozhansaibeijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,945},{105,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,47}}</string>
			<key>sourceSize</key>
			<string>{105,47}</string>
		</dict>
		<key>wy_2_2_29444_xunhuitiaozhansaibeijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,221},{86,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,36}}</string>
			<key>sourceSize</key>
			<string>{86,36}</string>
		</dict>
		<key>wy_3_3_98236_xunhuitiaozhansaibeijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,819},{98,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,45}}</string>
			<key>sourceSize</key>
			<string>{98,45}</string>
		</dict>
		<key>wy_4_4_23930_xunhuitiaozhansaibeijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,919},{86,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,38}}</string>
			<key>sourceSize</key>
			<string>{86,38}</string>
		</dict>
		<key>wy_5_5_54056_xunhuitiaozhansaibeijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,820},{123,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,81}}</string>
			<key>sourceSize</key>
			<string>{123,81}</string>
		</dict>
		<key>wy_7_7_44111_xunhuitiaozhansaibeijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{476,217}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{476,217}}</string>
			<key>sourceSize</key>
			<string>{476,217}</string>
		</dict>
		<key>wy_8_8_56115_xunhuitiaozhansaibeijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,221},{597,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{597,53}}</string>
			<key>sourceSize</key>
			<string>{597,53}</string>
		</dict>
		<key>wy_9_9_17000_xunhuitiaozhansaibeijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,221},{596,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{596,53}}</string>
			<key>sourceSize</key>
			<string>{596,53}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>xunhuitiaozhansaibeijingimage.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>xunhuitiaozhansaibeijingimage.png</string>
	</dict>
</dict>
</plist>
