<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>aa_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,867},{141,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,135}}</string>
			<key>sourceSize</key>
			<string>{141,135}</string>
		</dict>
		<key>bad_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,192},{120,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,27}}</string>
			<key>sourceSize</key>
			<string>{120,27}</string>
		</dict>
		<key>bb_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,447},{124,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,135}}</string>
			<key>sourceSize</key>
			<string>{124,135}</string>
		</dict>
		<key>cc_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{654,867},{109,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,103}}</string>
			<key>sourceSize</key>
			<string>{109,103}</string>
		</dict>
		<key>dd_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,581},{102,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,98}}</string>
			<key>sourceSize</key>
			<string>{102,98}</string>
		</dict>
		<key>dihongtiao_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,584},{218,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,36}}</string>
			<key>sourceSize</key>
			<string>{218,36}</string>
		</dict>
		<key>dihuangtiao_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,584},{218,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,36}}</string>
			<key>sourceSize</key>
			<string>{218,36}</string>
		</dict>
		<key>dilantiao_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,982},{218,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,36}}</string>
			<key>sourceSize</key>
			<string>{218,36}</string>
		</dict>
		<key>fbjl_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,219},{516,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{516,107}}</string>
			<key>sourceSize</key>
			<string>{516,107}</string>
		</dict>
		<key>fggf_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,832},{181,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,4},{181,167}}</string>
			<key>sourceSize</key>
			<string>{187,175}</string>
		</dict>
		<key>gd_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,977},{45,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,27}}</string>
			<key>sourceSize</key>
			<string>{45,27}</string>
		</dict>
		<key>good_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,991},{102,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,31}}</string>
			<key>sourceSize</key>
			<string>{102,31}</string>
		</dict>
		<key>great_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,984},{114,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,38}}</string>
			<key>sourceSize</key>
			<string>{114,38}</string>
		</dict>
		<key>guangshu_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,615},{208,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{208,28}}</string>
			<key>sourceSize</key>
			<string>{208,28}</string>
		</dict>
		<key>guangttt_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{780,2},{242,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,116}}</string>
			<key>sourceSize</key>
			<string>{242,116}</string>
		</dict>
		<key>hengdi_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{776,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{776,60}}</string>
			<key>sourceSize</key>
			<string>{776,60}</string>
		</dict>
		<key>huangxing_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,480},{108,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,114}}</string>
			<key>sourceSize</key>
			<string>{108,114}</string>
		</dict>
		<key>huididi_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,589},{218,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,131}}</string>
			<key>sourceSize</key>
			<string>{218,131}</string>
		</dict>
		<key>jinbi0101_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{544,398},{49,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,47}}</string>
			<key>sourceSize</key>
			<string>{49,47}</string>
		</dict>
		<key>liuguang_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{751,126},{50,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,26}}</string>
			<key>sourceSize</key>
			<string>{50,26}</string>
		</dict>
		<key>liujiao_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{544,326},{62,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,70}}</string>
			<key>sourceSize</key>
			<string>{62,70}</string>
		</dict>
		<key>liujiaohong_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{241,615},{117,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,131}}</string>
			<key>sourceSize</key>
			<string>{117,131}</string>
		</dict>
		<key>liujiaohuang_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{135,328},{117,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,131}}</string>
			<key>sourceSize</key>
			<string>{117,131}</string>
		</dict>
		<key>liujiaohui_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,832},{218,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,148}}</string>
			<key>sourceSize</key>
			<string>{218,148}</string>
		</dict>
		<key>liujiaolan_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,328},{117,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,131}}</string>
			<key>sourceSize</key>
			<string>{117,131}</string>
		</dict>
		<key>mA_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{355,480},{107,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,98}}</string>
			<key>sourceSize</key>
			<string>{107,98}</string>
		</dict>
		<key>mB_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,328},{86,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,97}}</string>
			<key>sourceSize</key>
			<string>{86,97}</string>
		</dict>
		<key>mBar2_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,982},{219,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,36}}</string>
			<key>sourceSize</key>
			<string>{219,36}</string>
		</dict>
		<key>mBar_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,64},{775,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{775,60}}</string>
			<key>sourceSize</key>
			<string>{775,60}</string>
		</dict>
		<key>mBlock_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,126},{474,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{474,64}}</string>
			<key>sourceSize</key>
			<string>{474,64}</string>
		</dict>
		<key>mC_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,480},{105,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,99}}</string>
			<key>sourceSize</key>
			<string>{105,99}</string>
		</dict>
		<key>mD_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,681},{97,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,94}}</string>
			<key>sourceSize</key>
			<string>{97,94}</string>
		</dict>
		<key>mRect_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,126},{268,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{268,91}}</string>
			<key>sourceSize</key>
			<string>{268,91}</string>
		</dict>
		<key>mSSS_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{779,120},{233,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{233,102}}</string>
			<key>sourceSize</key>
			<string>{233,102}</string>
		</dict>
		<key>mSS_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,832},{157,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,102}}</string>
			<key>sourceSize</key>
			<string>{157,102}</string>
		</dict>
		<key>mS_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{241,748},{78,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,102}}</string>
			<key>sourceSize</key>
			<string>{78,102}</string>
		</dict>
		<key>perfect_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,832},{150,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,47}}</string>
			<key>sourceSize</key>
			<string>{150,47}</string>
		</dict>
		<key>s_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,447},{115,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,140}}</string>
			<key>sourceSize</key>
			<string>{115,140}</string>
		</dict>
		<key>sctg_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,832},{403,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{403,33}}</string>
			<key>sourceSize</key>
			<string>{403,33}</string>
		</dict>
		<key>tiao_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1019,120},{125,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,3}}</string>
			<key>sourceSize</key>
			<string>{125,3}</string>
		</dict>
		<key>wt_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,328},{106,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,106}}</string>
			<key>sourceSize</key>
			<string>{106,106}</string>
		</dict>
		<key>xfkk_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{544,447},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>xian_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1014,120},{710,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{710,3}}</string>
			<key>sourceSize</key>
			<string>{710,3}</string>
		</dict>
		<key>xinghong_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{759,867},{108,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,114}}</string>
			<key>sourceSize</key>
			<string>{108,114}</string>
		</dict>
		<key>xinglan_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{544,867},{108,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,113}}</string>
			<key>sourceSize</key>
			<string>{108,113}</string>
		</dict>
		<key>xingzha_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{544,192},{67,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,66}}</string>
			<key>sourceSize</key>
			<string>{67,66}</string>
		</dict>
		<key>zhaguangxing_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{544,261},{66,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,63}}</string>
			<key>sourceSize</key>
			<string>{66,63}</string>
		</dict>
		<key>zhuanguang_fubenjiangliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,224},{389,390}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{389,390}}</string>
			<key>sourceSize</key>
			<string>{389,390}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>fubenjiangliimage.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>fubenjiangliimage.png</string>
	</dict>
</dict>
</plist>
