<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wy_10_10_3677_sihunyinjirukouimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,2},{159,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,22}}</string>
			<key>sourceSize</key>
			<string>{159,22}</string>
		</dict>
		<key>wy_1_1_89211_sihunyinjirukouimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{42,265},{32,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,1},{32,38}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>wy_2_2_31324_sihunyinjirukouimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{42,299},{34,34}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,3},{34,34}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>wy_2_2_77578_sihunyinjirukouimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{222,222}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,222}}</string>
			<key>sourceSize</key>
			<string>{222,222}</string>
		</dict>
		<key>wy_3_3_95698_sihunyinjirukouimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,301},{34,32}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,7},{34,32}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>wy_4_4_92242_sihunyinjirukouimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,301},{34,32}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,7},{34,32}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>wy_5_5_52525_sihunyinjirukouimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,265},{34,38}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{34,38}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>wy_6_6_737_sihunyinjirukouimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,265},{34,34}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{34,34}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>wy_7_7_38180_sihunyinjirukouimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,226},{82,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,93}}</string>
			<key>sourceSize</key>
			<string>{82,93}</string>
		</dict>
		<key>wy_9_9_49333_sihunyinjirukouimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,226},{134,37}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,37}}</string>
			<key>sourceSize</key>
			<string>{134,39}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>sihunyinjirukouimage.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>sihunyinjirukouimage.png</string>
	</dict>
</dict>
</plist>
