<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wy_1_1_42036_liuyzltxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{134,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,128}}</string>
			<key>sourceSize</key>
			<string>{134,128}</string>
		</dict>
		<key>wy_2_2_79318_liuyzltxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,41},{28,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,27}}</string>
			<key>sourceSize</key>
			<string>{28,27}</string>
		</dict>
		<key>wy_3_3_37085_liuyzltxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,41},{10,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,11}}</string>
			<key>sourceSize</key>
			<string>{10,11}</string>
		</dict>
		<key>wy_4_4_5635_liuyzltxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,132},{130,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,129}}</string>
			<key>sourceSize</key>
			<string>{130,129}</string>
		</dict>
		<key>wy_5_5_10889_liuyzltxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,41},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>wy_6_6_83595_liuyzltxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,2},{53,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,39}}</string>
			<key>sourceSize</key>
			<string>{53,39}</string>
		</dict>
		<key>wy_7_7_77707_liuyzltxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,2},{53,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,37}}</string>
			<key>sourceSize</key>
			<string>{53,37}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>liuyzltxk23image.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>liuyzltxk23image.png</string>
	</dict>
</dict>
</plist>
