<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>zadi1_zaditexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,184},{52,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{52,18}}</string>
			<key>sourceSize</key>
			<string>{54,18}</string>
		</dict>
		<key>zadi2_zaditexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,119},{63,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,29}}</string>
			<key>sourceSize</key>
			<string>{63,29}</string>
		</dict>
		<key>zadi3_zaditexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,27},{65,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,39}}</string>
			<key>sourceSize</key>
			<string>{65,39}</string>
		</dict>
		<key>zadi4_zaditexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{80,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,46}}</string>
			<key>sourceSize</key>
			<string>{80,46}</string>
		</dict>
		<key>zadi5_zaditexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,50},{77,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,48}}</string>
			<key>sourceSize</key>
			<string>{77,48}</string>
		</dict>
		<key>zadi6_zaditexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,100},{77,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,29}}</string>
			<key>sourceSize</key>
			<string>{77,29}</string>
		</dict>
		<key>zadi7_zaditexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,131},{46,23}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{46,23}}</string>
			<key>sourceSize</key>
			<string>{50,23}</string>
		</dict>
		<key>zadi8_zaditexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,94},{44,23}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{44,23}}</string>
			<key>sourceSize</key>
			<string>{50,23}</string>
		</dict>
		<key>zadi9_zaditexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,2},{42,23}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{42,23}}</string>
			<key>sourceSize</key>
			<string>{50,23}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA4444</string>
		<key>realTextureFileName</key>
		<string>zaditexiaoimage.png</string>
		<key>scale</key>
		<real>0.5</real>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>zaditexiaoimage.png</string>
	</dict>
</dict>
</plist>
