<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bth_qhse_tanchuchuang_1shengji_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{880,888},{73,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,28}}</string>
			<key>sourceSize</key>
			<string>{73,28}</string>
		</dict>
		<key>bth_qhse_tanchuchuang_1shengji_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{799,1068},{73,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,28}}</string>
			<key>sourceSize</key>
			<string>{73,28}</string>
		</dict>
		<key>bth_qhse_tanchuchuang_jinru_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,1038},{73,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,28}}</string>
			<key>sourceSize</key>
			<string>{73,28}</string>
		</dict>
		<key>bth_qhse_tanchuchuang_jinru_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,1008},{73,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,28}}</string>
			<key>sourceSize</key>
			<string>{73,28}</string>
		</dict>
		<key>bth_qhse_tanchuchuang_shengji_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{859,925},{81,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,28}}</string>
			<key>sourceSize</key>
			<string>{81,28}</string>
		</dict>
		<key>bth_qhse_tanchuchuang_shengji_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{829,925},{81,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,28}}</string>
			<key>sourceSize</key>
			<string>{81,28}</string>
		</dict>
		<key>bth_qhsq_zhujiemian_wenhao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{889,962},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,42}}</string>
			<key>sourceSize</key>
			<string>{42,42}</string>
		</dict>
		<key>pic_qhsq_jianzhu_dajindutiao2.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,933},{292,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{292,16}}</string>
			<key>sourceSize</key>
			<string>{292,16}</string>
		</dict>
		<key>pic_qhsq_jianzhu_dajindutiao4.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,915},{292,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{292,16}}</string>
			<key>sourceSize</key>
			<string>{292,16}</string>
		</dict>
		<key>pic_qhsq_jianzhu_dajindutiao5.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,897},{292,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{292,16}}</string>
			<key>sourceSize</key>
			<string>{292,16}</string>
		</dict>
		<key>pic_qhsq_jianzhu_dajindutiao7.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,879},{292,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{292,16}}</string>
			<key>sourceSize</key>
			<string>{292,16}</string>
		</dict>
		<key>pic_qhsq_jianzhu_dajindutiaochendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,855},{297,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{297,22}}</string>
			<key>sourceSize</key>
			<string>{297,22}</string>
		</dict>
		<key>pic_qhsq_jianzhu_jindutiaofengedian.png</key>
		<dict>
			<key>frame</key>
			<string>{{1008,687},{11,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,12}}</string>
			<key>sourceSize</key>
			<string>{11,12}</string>
		</dict>
		<key>pic_qhsq_jianzhu_jindutiaofengedian2.png</key>
		<dict>
			<key>frame</key>
			<string>{{740,987},{11,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,12}}</string>
			<key>sourceSize</key>
			<string>{11,12}</string>
		</dict>
		<key>pic_qhsq_jianzhu_shuxingjiugong.png</key>
		<dict>
			<key>frame</key>
			<string>{{952,942},{33,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,33}}</string>
			<key>sourceSize</key>
			<string>{33,33}</string>
		</dict>
		<key>pic_qhsq_jiedaoshengji_shengjihuobijiugong.png</key>
		<dict>
			<key>frame</key>
			<string>{{764,1065},{33,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,33}}</string>
			<key>sourceSize</key>
			<string>{33,33}</string>
		</dict>
		<key>pic_qhsq_jiequ_qipao.png</key>
		<dict>
			<key>frame</key>
			<string>{{666,925},{85,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,60}}</string>
			<key>sourceSize</key>
			<string>{85,60}</string>
		</dict>
		<key>pic_qhsq_tanchuchuang_yeqianhentiaojiugonge.png</key>
		<dict>
			<key>frame</key>
			<string>{{997,718},{12,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,4}}</string>
			<key>sourceSize</key>
			<string>{12,4}</string>
		</dict>
		<key>pic_qhsq_teshurenwu_jiedaochendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{764,652},{72,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,137}}</string>
			<key>sourceSize</key>
			<string>{72,137}</string>
		</dict>
		<key>pic_qhsq_teshurenwu_jiedaojiugongge.png</key>
		<dict>
			<key>frame</key>
			<string>{{920,1034},{24,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,25}}</string>
			<key>sourceSize</key>
			<string>{24,25}</string>
		</dict>
		<key>pic_qhsq_teshurenwu_naobiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{920,1006},{26,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,26}}</string>
			<key>sourceSize</key>
			<string>{26,26}</string>
		</dict>
		<key>pic_qhsq_teshurenwu_qipao.png</key>
		<dict>
			<key>frame</key>
			<string>{{867,554},{91,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,93}}</string>
			<key>sourceSize</key>
			<string>{91,93}</string>
		</dict>
		<key>pic_qhsq_teshurenwu_qipao_chendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{955,906},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>pic_qhsq_xuanzhuti_qipaojiugong.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,951},{138,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,159}}</string>
			<key>sourceSize</key>
			<string>{138,159}</string>
		</dict>
		<key>pic_qhsq_xuanzhuti_xuanzhongkuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{671,855},{125,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,44}}</string>
			<key>sourceSize</key>
			<string>{125,44}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_biaoqingku.png</key>
		<dict>
			<key>frame</key>
			<string>{{975,1008},{25,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,24}}</string>
			<key>sourceSize</key>
			<string>{25,24}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_biaoqingshengqi.png</key>
		<dict>
			<key>frame</key>
			<string>{{948,1008},{25,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,24}}</string>
			<key>sourceSize</key>
			<string>{25,24}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_biaoqingweixiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{991,906},{25,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,25}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_biaoqingxiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{974,1034},{25,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,25}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_biaoqingzhengchang.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,1034},{25,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,25}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_dachendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{547,541}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{547,541}}</string>
			<key>sourceSize</key>
			<string>{547,541}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_dengjichendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{997,520},{196,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,9}}</string>
			<key>sourceSize</key>
			<string>{196,9}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_dengjihong.png</key>
		<dict>
			<key>frame</key>
			<string>{{666,916},{194,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,7}}</string>
			<key>sourceSize</key>
			<string>{194,7}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_dengjihuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{568,1091},{194,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,7}}</string>
			<key>sourceSize</key>
			<string>{194,7}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_dengjilv.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,1091},{194,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,7}}</string>
			<key>sourceSize</key>
			<string>{194,7}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_dengjishuzichendijiugong.png</key>
		<dict>
			<key>frame</key>
			<string>{{933,986},{16,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,17}}</string>
			<key>sourceSize</key>
			<string>{16,17}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_dianjikuojian.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,603},{428,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{428,47}}</string>
			<key>sourceSize</key>
			<string>{428,47}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_fangzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{763,791},{68,62}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,62}}</string>
			<key>sourceSize</key>
			<string>{70,62}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_fengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,851},{389,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{389,2}}</string>
			<key>sourceSize</key>
			<string>{389,2}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_gedoujiachendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,652},{325,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{325,133}}</string>
			<key>sourceSize</key>
			<string>{325,133}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_genghuanxiexia.png</key>
		<dict>
			<key>frame</key>
			<string>{{533,951},{129,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,122}}</string>
			<key>sourceSize</key>
			<string>{129,122}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_hongtanhao.png</key>
		<dict>
			<key>frame</key>
			<string>{{741,787},{17,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,45}}</string>
			<key>sourceSize</key>
			<string>{17,45}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_jiahao.png</key>
		<dict>
			<key>frame</key>
			<string>{{969,766},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_jiantou.png</key>
		<dict>
			<key>frame</key>
			<string>{{740,1001},{70,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,62}}</string>
			<key>sourceSize</key>
			<string>{70,62}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_jianzaokong.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,554},{428,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{428,47}}</string>
			<key>sourceSize</key>
			<string>{428,47}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_jianzaozhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{551,505},{428,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{428,47}}</string>
			<key>sourceSize</key>
			<string>{428,47}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_jumingzongfenchendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{533,1075},{212,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,14}}</string>
			<key>sourceSize</key>
			<string>{212,14}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_jumingzongfenhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{983,520},{210,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,12}}</string>
			<key>sourceSize</key>
			<string>{210,12}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_jumingzongfenhuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{969,554},{210,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,12}}</string>
			<key>sourceSize</key>
			<string>{210,12}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_jumingzongfenlv.png</key>
		<dict>
			<key>frame</key>
			<string>{{955,649},{210,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,12}}</string>
			<key>sourceSize</key>
			<string>{210,12}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_juminzongfen100.png</key>
		<dict>
			<key>frame</key>
			<string>{{798,855},{42,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,29}}</string>
			<key>sourceSize</key>
			<string>{42,29}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_lantanhao.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,831},{17,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,46}}</string>
			<key>sourceSize</key>
			<string>{17,46}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_qianghuashangzhenchendijiugong.png</key>
		<dict>
			<key>frame</key>
			<string>{{874,1068},{30,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,29}}</string>
			<key>sourceSize</key>
			<string>{30,29}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_shijianchendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{666,901},{167,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,13}}</string>
			<key>sourceSize</key>
			<string>{167,13}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_shijianhuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1008,520},{165,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,11}}</string>
			<key>sourceSize</key>
			<string>{165,11}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_tanhaohong.png</key>
		<dict>
			<key>frame</key>
			<string>{{753,925},{74,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,74}}</string>
			<key>sourceSize</key>
			<string>{74,74}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_tanhaolan.png</key>
		<dict>
			<key>frame</key>
			<string>{{664,987},{74,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,74}}</string>
			<key>sourceSize</key>
			<string>{74,74}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_tianjia.png</key>
		<dict>
			<key>frame</key>
			<string>{{889,918},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,42}}</string>
			<key>sourceSize</key>
			<string>{42,42}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_tiaomushou.png</key>
		<dict>
			<key>frame</key>
			<string>{{551,288},{433,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{433,164}}</string>
			<key>sourceSize</key>
			<string>{433,164}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_tiaomushuzidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{933,918},{66,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,17}}</string>
			<key>sourceSize</key>
			<string>{66,17}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_tiaomuxiala.png</key>
		<dict>
			<key>frame</key>
			<string>{{551,2},{433,284}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{433,284}}</string>
			<key>sourceSize</key>
			<string>{433,284}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_tiaomuxiala1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,545},{433,284}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{433,284}}</string>
			<key>sourceSize</key>
			<string>{433,284}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_wenbenchendii.png</key>
		<dict>
			<key>frame</key>
			<string>{{986,303},{215,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,29}}</string>
			<key>sourceSize</key>
			<string>{215,29}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_wenhao.png</key>
		<dict>
			<key>frame</key>
			<string>{{969,818},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,42}}</string>
			<key>sourceSize</key>
			<string>{42,42}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_wenzitishidian.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,897},{17,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,17}}</string>
			<key>sourceSize</key>
			<string>{17,17}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_xiaoditu.png</key>
		<dict>
			<key>frame</key>
			<string>{{955,862},{41,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,42}}</string>
			<key>sourceSize</key>
			<string>{41,42}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_xiaoquchendi1.png</key>
		<dict>
			<key>frame</key>
			<string>{{551,454},{429,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{429,49}}</string>
			<key>sourceSize</key>
			<string>{429,49}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_xiaotanchuangjiugong.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,831},{267,368}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{267,368}}</string>
			<key>sourceSize</key>
			<string>{267,368}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_xiaozhenchendi1.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,787},{302,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{302,62}}</string>
			<key>sourceSize</key>
			<string>{302,62}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_xiaozhenchendi2.png</key>
		<dict>
			<key>frame</key>
			<string>{{986,2},{299,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{299,33}}</string>
			<key>sourceSize</key>
			<string>{299,33}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_xingfuduanhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{937,649},{237,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{237,16}}</string>
			<key>sourceSize</key>
			<string>{237,16}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_xingfuduanlv.png</key>
		<dict>
			<key>frame</key>
			<string>{{919,649},{237,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{237,16}}</string>
			<key>sourceSize</key>
			<string>{237,16}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_xingfuduchendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,652},{243,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{243,22}}</string>
			<key>sourceSize</key>
			<string>{243,22}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_xingfuduhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{901,649},{237,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{237,16}}</string>
			<key>sourceSize</key>
			<string>{237,16}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_xingfudulv.png</key>
		<dict>
			<key>frame</key>
			<string>{{862,652},{237,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{237,16}}</string>
			<key>sourceSize</key>
			<string>{237,16}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_xingfuduxin.png</key>
		<dict>
			<key>frame</key>
			<string>{{952,977},{33,29}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{33,29}}</string>
			<key>sourceSize</key>
			<string>{33,31}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_xingfuduxin1.png</key>
		<dict>
			<key>frame</key>
			<string>{{987,973},{32,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,29}}</string>
			<key>sourceSize</key>
			<string>{32,29}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_xingfuduxin2.png</key>
		<dict>
			<key>frame</key>
			<string>{{987,942},{32,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,29}}</string>
			<key>sourceSize</key>
			<string>{32,29}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_xingfuduxin3.png</key>
		<dict>
			<key>frame</key>
			<string>{{983,732},{32,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,29}}</string>
			<key>sourceSize</key>
			<string>{32,29}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_xingfuduxinsui.png</key>
		<dict>
			<key>frame</key>
			<string>{{887,1008},{33,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,31}}</string>
			<key>sourceSize</key>
			<string>{33,31}</string>
		</dict>
		<key>pic_qhsq_zhujiemian_zidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{880,649},{237,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{237,19}}</string>
			<key>sourceSize</key>
			<string>{237,19}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>KOFCommunity40.png</string>
		<key>size</key>
		<string>{1021,1100}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>KOFCommunity40.png</string>
	</dict>
</dict>
</plist>
