<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_xszm_choujiang_jiangliyulan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1957,938},{71,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,71}}</string>
			<key>sourceSize</key>
			<string>{71,71}</string>
		</dict>
		<key>btn_xszm_choujiang_jiangliyulan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1957,865},{71,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,71}}</string>
			<key>sourceSize</key>
			<string>{71,71}</string>
		</dict>
		<key>btn_xszm_daohang_wenhao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1988,1060},{37,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,36}}</string>
			<key>sourceSize</key>
			<string>{37,36}</string>
		</dict>
		<key>btn_xszm_daohang_wenhao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1949,1060},{37,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,36}}</string>
			<key>sourceSize</key>
			<string>{37,36}</string>
		</dict>
		<key>btn_xszm_tanchuang_10ci_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1507,1051},{161,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,52}}</string>
			<key>sourceSize</key>
			<string>{161,52}</string>
		</dict>
		<key>btn_xszm_tanchuang_10ci_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1344,1049},{161,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,52}}</string>
			<key>sourceSize</key>
			<string>{161,52}</string>
		</dict>
		<key>btn_xszm_tanchuang_1ci_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1957,702},{161,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,52}}</string>
			<key>sourceSize</key>
			<string>{161,52}</string>
		</dict>
		<key>btn_xszm_tanchuang_1ci_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1903,758},{161,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,52}}</string>
			<key>sourceSize</key>
			<string>{161,52}</string>
		</dict>
		<key>btn_xszm_tanchuang_guanbi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1903,921},{39,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,39}}</string>
			<key>sourceSize</key>
			<string>{39,39}</string>
		</dict>
		<key>btn_xszm_tanchuang_guanbi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{489,215},{39,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,39}}</string>
			<key>sourceSize</key>
			<string>{39,39}</string>
		</dict>
		<key>btn_xszm_tanchuang_queding_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1517,997},{161,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,52}}</string>
			<key>sourceSize</key>
			<string>{161,52}</string>
		</dict>
		<key>btn_xszm_tanchuang_queding_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1517,943},{161,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,52}}</string>
			<key>sourceSize</key>
			<string>{161,52}</string>
		</dict>
		<key>btn_xszm_tanchuang_quedingl_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1354,995},{161,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,52}}</string>
			<key>sourceSize</key>
			<string>{161,52}</string>
		</dict>
		<key>btn_xszm_tanchuang_quedingl_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1522,889},{161,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,52}}</string>
			<key>sourceSize</key>
			<string>{161,52}</string>
		</dict>
		<key>btn_xszm_tanchuang_quxiao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1354,941},{161,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,52}}</string>
			<key>sourceSize</key>
			<string>{161,52}</string>
		</dict>
		<key>btn_xszm_tanchuang_quxiao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1132,873},{161,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,52}}</string>
			<key>sourceSize</key>
			<string>{161,52}</string>
		</dict>
		<key>btn_xszm_tanchuang_zlrw_lingqu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1670,1051},{130,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,42}}</string>
			<key>sourceSize</key>
			<string>{130,42}</string>
		</dict>
		<key>btn_xszm_tanchuang_zlrw_lingqu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1064,1086},{130,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,42}}</string>
			<key>sourceSize</key>
			<string>{130,42}</string>
		</dict>
		<key>btn_xszm_tanchuang_zlrw_qianwang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{932,1086},{130,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,42}}</string>
			<key>sourceSize</key>
			<string>{130,42}</string>
		</dict>
		<key>btn_xszm_tanchuang_zlrw_qianwang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,1086},{130,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,42}}</string>
			<key>sourceSize</key>
			<string>{130,42}</string>
		</dict>
		<key>btn_xszm_tc_gmts_goumai_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1680,947},{145,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,47}}</string>
			<key>sourceSize</key>
			<string>{145,47}</string>
		</dict>
		<key>btn_xszm_tc_gmts_goumai_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{653,1079},{145,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,47}}</string>
			<key>sourceSize</key>
			<string>{145,47}</string>
		</dict>
		<key>btn_xszm_tc_gmts_zuida_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1122,1044},{64,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,40}}</string>
			<key>sourceSize</key>
			<string>{64,40}</string>
		</dict>
		<key>btn_xszm_tc_gmts_zuida_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,1044},{64,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,40}}</string>
			<key>sourceSize</key>
			<string>{64,40}</string>
		</dict>
		<key>btn_xszm_zhaomu_shangdian_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1804,1094},{104,22}}</string>
			<key>offset</key>
			<string>{-21,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,14},{104,22}}</string>
			<key>sourceSize</key>
			<string>{166,50}</string>
		</dict>
		<key>btn_xszm_zhaomu_shangdian_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1354,889},{166,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,50}}</string>
			<key>sourceSize</key>
			<string>{166,50}</string>
		</dict>
		<key>btn_xszm_zhaomu_shenwu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1196,1097},{142,22}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,14},{142,22}}</string>
			<key>sourceSize</key>
			<string>{166,50}</string>
		</dict>
		<key>btn_xszm_zhaomu_shenwu_normal_100222.png</key>
		<dict>
			<key>frame</key>
			<string>{{1802,1070},{126,22}}</string>
			<key>offset</key>
			<string>{-11,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,14},{126,22}}</string>
			<key>sourceSize</key>
			<string>{166,50}</string>
		</dict>
		<key>btn_xszm_zhaomu_shenwu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1186,992},{166,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,50}}</string>
			<key>sourceSize</key>
			<string>{166,50}</string>
		</dict>
		<key>btn_xszm_zhaomu_shenwu_press_100222.png</key>
		<dict>
			<key>frame</key>
			<string>{{1186,940},{166,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,50}}</string>
			<key>sourceSize</key>
			<string>{166,50}</string>
		</dict>
		<key>btn_xszm_zhaomu_yingyuan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1440,1105},{98,22}}</string>
			<key>offset</key>
			<string>{-24,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,14},{98,22}}</string>
			<key>sourceSize</key>
			<string>{166,50}</string>
		</dict>
		<key>btn_xszm_zhaomu_yingyuan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1186,888},{166,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,50}}</string>
			<key>sourceSize</key>
			<string>{166,50}</string>
		</dict>
		<key>btn_xszm_zhaomu_zhanling_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1821,1046},{126,22}}</string>
			<key>offset</key>
			<string>{-11,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,14},{126,22}}</string>
			<key>sourceSize</key>
			<string>{166,50}</string>
		</dict>
		<key>btn_xszm_zhaomu_zhanling_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1210,836},{166,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,50}}</string>
			<key>sourceSize</key>
			<string>{166,50}</string>
		</dict>
		<key>btn_xszm_zmzl_jjzlgm_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1971,359},{196,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,66}}</string>
			<key>sourceSize</key>
			<string>{196,66}</string>
		</dict>
		<key>btn_xszm_zmzl_jjzlgm_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{924,1018},{196,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,66}}</string>
			<key>sourceSize</key>
			<string>{196,66}</string>
		</dict>
		<key>btn_xszm_zmzl_renwuliebiao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1685,894},{51,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,146}}</string>
			<key>sourceSize</key>
			<string>{51,146}</string>
		</dict>
		<key>btn_xszm_zmzl_renwuliebiao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1196,1044},{51,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,146}}</string>
			<key>sourceSize</key>
			<string>{51,146}</string>
		</dict>
		<key>pic_xssd_sd_yilingqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1054,836},{154,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,35}}</string>
			<key>sourceSize</key>
			<string>{154,35}</string>
		</dict>
		<key>pic_xszm_choujiang_biaoti_100222.png</key>
		<dict>
			<key>frame</key>
			<string>{{1463,280},{485,228}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{485,228}}</string>
			<key>sourceSize</key>
			<string>{485,228}</string>
		</dict>
		<key>pic_xszm_choujiang_biaoti_100228.png</key>
		<dict>
			<key>frame</key>
			<string>{{976,510},{485,228}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{485,228}}</string>
			<key>sourceSize</key>
			<string>{485,228}</string>
		</dict>
		<key>pic_xszm_choujiang_biaoti_100232.png</key>
		<dict>
			<key>frame</key>
			<string>{{976,280},{485,228}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{485,228}}</string>
			<key>sourceSize</key>
			<string>{485,228}</string>
		</dict>
		<key>pic_xszm_choujiang_biaoti_100233.png</key>
		<dict>
			<key>frame</key>
			<string>{{489,510},{485,228}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{485,228}}</string>
			<key>sourceSize</key>
			<string>{485,228}</string>
		</dict>
		<key>pic_xszm_choujiang_biaoti_100234.png</key>
		<dict>
			<key>frame</key>
			<string>{{489,280},{485,228}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{485,228}}</string>
			<key>sourceSize</key>
			<string>{485,228}</string>
		</dict>
		<key>pic_xszm_choujiang_biaoti_100235.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,675},{485,228}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{485,228}}</string>
			<key>sourceSize</key>
			<string>{485,228}</string>
		</dict>
		<key>pic_xszm_choujiang_biaoti_100237.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,445},{485,228}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{485,228}}</string>
			<key>sourceSize</key>
			<string>{485,228}</string>
		</dict>
		<key>pic_xszm_choujiang_biaoti_100238.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,215},{485,228}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{485,228}}</string>
			<key>sourceSize</key>
			<string>{485,228}</string>
		</dict>
		<key>pic_xszm_choujiang_choujiang10ci.png</key>
		<dict>
			<key>frame</key>
			<string>{{1340,1103},{98,25}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,25}}</string>
			<key>sourceSize</key>
			<string>{100,25}</string>
		</dict>
		<key>pic_xszm_choujiang_choujiang1ci.png</key>
		<dict>
			<key>frame</key>
			<string>{{1952,1011},{86,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,25}}</string>
			<key>sourceSize</key>
			<string>{86,25}</string>
		</dict>
		<key>pic_xszm_choujiang_dazheshengxiaozhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1670,1095},{132,29}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,29}}</string>
			<key>sourceSize</key>
			<string>{134,29}</string>
		</dict>
		<key>pic_xszm_choujiang_qianwangjihuo.png</key>
		<dict>
			<key>frame</key>
			<string>{{2011,702},{132,29}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,29}}</string>
			<key>sourceSize</key>
			<string>{134,29}</string>
		</dict>
		<key>pic_xszm_daohang_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{1693,702},{241,54}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{241,54}}</string>
			<key>sourceSize</key>
			<string>{241,56}</string>
		</dict>
		<key>pic_xszm_tanchuang_gongxihuode.png</key>
		<dict>
			<key>frame</key>
			<string>{{1693,567},{331,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{331,76}}</string>
			<key>sourceSize</key>
			<string>{331,76}</string>
		</dict>
		<key>pic_xszm_tanchuang_goumaitishi_dadiban.png</key>
		<dict>
			<key>frame</key>
			<string>{{1693,645},{329,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{329,55}}</string>
			<key>sourceSize</key>
			<string>{329,55}</string>
		</dict>
		<key>pic_xszm_tanchuang_guizeshuoming.png</key>
		<dict>
			<key>frame</key>
			<string>{{1383,828},{355,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{355,59}}</string>
			<key>sourceSize</key>
			<string>{355,59}</string>
		</dict>
		<key>pic_xszm_tanchuang_neirongdi9g.png</key>
		<dict>
			<key>frame</key>
			<string>{{1833,894},{68,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,69}}</string>
			<key>sourceSize</key>
			<string>{68,69}</string>
		</dict>
		<key>pic_xszm_tanchuang_shuoming.png</key>
		<dict>
			<key>frame</key>
			<string>{{1383,767},{355,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{355,59}}</string>
			<key>sourceSize</key>
			<string>{355,59}</string>
		</dict>
		<key>pic_xszm_tanchuang_yulan.png</key>
		<dict>
			<key>frame</key>
			<string>{{567,1018},{355,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{355,59}}</string>
			<key>sourceSize</key>
			<string>{355,59}</string>
		</dict>
		<key>pic_xszm_tanchuang_zhuyi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1971,2},{355,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{355,59}}</string>
			<key>sourceSize</key>
			<string>{355,59}</string>
		</dict>
		<key>pic_xszm_tanchuang_zlrw_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1044},{484,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{484,78}}</string>
			<key>sourceSize</key>
			<string>{484,78}</string>
		</dict>
		<key>pic_xszm_tanchuang_zlrw_weidacheng.png</key>
		<dict>
			<key>frame</key>
			<string>{{1827,965},{128,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{128,42}}</string>
			<key>sourceSize</key>
			<string>{130,42}</string>
		</dict>
		<key>pic_xszm_tanchuang_zlrw_yilingqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1821,1009},{129,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,35}}</string>
			<key>sourceSize</key>
			<string>{129,35}</string>
		</dict>
		<key>pic_xszm_zhaomu_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{545,211}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{545,211}}</string>
			<key>sourceSize</key>
			<string>{545,211}</string>
		</dict>
		<key>pic_xszm_zhaomu_dazhekawenzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1054,740},{327,94}}</string>
			<key>offset</key>
			<string>{20,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,0},{327,94}}</string>
			<key>sourceSize</key>
			<string>{367,94}</string>
		</dict>
		<key>pic_xszm_zhaomu_jiuzheka.png</key>
		<dict>
			<key>frame</key>
			<string>{{1740,758},{161,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,134}}</string>
			<key>sourceSize</key>
			<string>{161,134}</string>
		</dict>
		<key>pic_xszm_zhaomu_shengxiaozhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1680,996},{139,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,53}}</string>
			<key>sourceSize</key>
			<string>{139,53}</string>
		</dict>
		<key>pic_xszm_zmzl_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{1832,2},{563,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{563,137}}</string>
			<key>sourceSize</key>
			<string>{563,137}</string>
		</dict>
		<key>pic_xszm_zmzl_biaoti_100222.png</key>
		<dict>
			<key>frame</key>
			<string>{{1693,2},{563,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{563,137}}</string>
			<key>sourceSize</key>
			<string>{563,137}</string>
		</dict>
		<key>pic_xszm_zmzl_biaoti_100228.png</key>
		<dict>
			<key>frame</key>
			<string>{{567,879},{563,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{563,137}}</string>
			<key>sourceSize</key>
			<string>{563,137}</string>
		</dict>
		<key>pic_xszm_zmzl_biaoti_100232.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,905},{563,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{563,137}}</string>
			<key>sourceSize</key>
			<string>{563,137}</string>
		</dict>
		<key>pic_xszm_zmzl_biaoti_100233.png</key>
		<dict>
			<key>frame</key>
			<string>{{489,740},{563,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{563,137}}</string>
			<key>sourceSize</key>
			<string>{563,137}</string>
		</dict>
		<key>pic_xszm_zmzl_biaoti_100234.png</key>
		<dict>
			<key>frame</key>
			<string>{{1114,141},{563,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{563,137}}</string>
			<key>sourceSize</key>
			<string>{563,137}</string>
		</dict>
		<key>pic_xszm_zmzl_biaoti_100235.png</key>
		<dict>
			<key>frame</key>
			<string>{{549,141},{563,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{563,137}}</string>
			<key>sourceSize</key>
			<string>{563,137}</string>
		</dict>
		<key>pic_xszm_zmzl_biaoti_100237.png</key>
		<dict>
			<key>frame</key>
			<string>{{1114,2},{563,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{563,137}}</string>
			<key>sourceSize</key>
			<string>{563,137}</string>
		</dict>
		<key>pic_xszm_zmzl_biaoti_100238.png</key>
		<dict>
			<key>frame</key>
			<string>{{549,2},{563,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{563,137}}</string>
			<key>sourceSize</key>
			<string>{563,137}</string>
		</dict>
		<key>pic_xszm_zmzl_jichu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1952,1038},{20,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,77}}</string>
			<key>sourceSize</key>
			<string>{20,77}</string>
		</dict>
		<key>pic_xszm_zmzl_jinjie.png</key>
		<dict>
			<key>frame</key>
			<string>{{1383,740},{20,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,77}}</string>
			<key>sourceSize</key>
			<string>{20,77}</string>
		</dict>
		<key>pic_xszm_zmzl_yijinjie.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,1086},{163,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,42}}</string>
			<key>sourceSize</key>
			<string>{163,42}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_NewTimeLimitDraw0.png</string>
		<key>size</key>
		<string>{2043,1130}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_NewTimeLimitDraw0.png</string>
	</dict>
</dict>
</plist>
