<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_kfstz_cishutongji_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,1918},{77,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,58}}</string>
			<key>sourceSize</key>
			<string>{77,58}</string>
		</dict>
		<key>btn_kfstz_cishutongji_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,1858},{77,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,58}}</string>
			<key>sourceSize</key>
			<string>{77,58}</string>
		</dict>
		<key>btn_kfstz_guwutongji_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,784},{78,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,59}}</string>
			<key>sourceSize</key>
			<string>{78,59}</string>
		</dict>
		<key>btn_kfstz_guwutongji_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,704},{78,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,59}}</string>
			<key>sourceSize</key>
			<string>{78,59}</string>
		</dict>
		<key>btn_kfstz_wodequanxian_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{348,634},{68,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,8},{68,68}}</string>
			<key>sourceSize</key>
			<string>{84,84}</string>
		</dict>
		<key>btn_kfstz_wodequanxian_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,1082},{84,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,84}}</string>
			<key>sourceSize</key>
			<string>{84,84}</string>
		</dict>
		<key>num_kfstz_main_time.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,2},{160,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,39}}</string>
			<key>sourceSize</key>
			<string>{160,39}</string>
		</dict>
		<key>num_sspk_rank_ranknum.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,541},{300,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,40}}</string>
			<key>sourceSize</key>
			<string>{300,40}</string>
		</dict>
		<key>pic_huiigu_huigubiaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1756},{164,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,72}}</string>
			<key>sourceSize</key>
			<string>{164,72}</string>
		</dict>
		<key>pic_huiigu_quanbu1.png</key>
		<dict>
			<key>frame</key>
			<string>{{234,1321},{65,28}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,12},{65,28}}</string>
			<key>sourceSize</key>
			<string>{85,50}</string>
		</dict>
		<key>pic_huiigu_quanbu2.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,263},{85,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{85,48}}</string>
			<key>sourceSize</key>
			<string>{85,50}</string>
		</dict>
		<key>pic_huiigu_ziji1.png</key>
		<dict>
			<key>frame</key>
			<string>{{345,1976},{61,24}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,15},{61,24}}</string>
			<key>sourceSize</key>
			<string>{85,50}</string>
		</dict>
		<key>pic_huiigu_ziji2.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,1264},{79,44}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{79,44}}</string>
			<key>sourceSize</key>
			<string>{85,50}</string>
		</dict>
		<key>pic_js_chengxuwenzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{579,36}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{579,36}}</string>
			<key>sourceSize</key>
			<string>{585,36}</string>
		</dict>
		<key>pic_js_gerenzhan1.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,1440},{74,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,11},{74,25}}</string>
			<key>sourceSize</key>
			<string>{100,47}</string>
		</dict>
		<key>pic_js_gerenzhan2.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,1168},{94,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{94,47}}</string>
			<key>sourceSize</key>
			<string>{100,47}</string>
		</dict>
		<key>pic_js_jingyingsai1.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,1561},{82,27}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,11},{82,27}}</string>
			<key>sourceSize</key>
			<string>{100,47}</string>
		</dict>
		<key>pic_js_jingyingsai2.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,1922},{100,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,47}}</string>
			<key>sourceSize</key>
			<string>{100,47}</string>
		</dict>
		<key>pic_js_renchendiban.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,350},{189,322}}</string>
			<key>offset</key>
			<string>{17,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{34,0},{189,322}}</string>
			<key>sourceSize</key>
			<string>{223,328}</string>
		</dict>
		<key>pic_js_siqiangduiwu.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,1524},{120,25}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{120,25}}</string>
			<key>sourceSize</key>
			<string>{120,27}</string>
		</dict>
		<key>pic_js_tait.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,1756},{162,72}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,72}}</string>
			<key>sourceSize</key>
			<string>{164,72}</string>
		</dict>
		<key>pic_js_tuanzhan1.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,1525},{80,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,10},{80,27}}</string>
			<key>sourceSize</key>
			<string>{98,47}</string>
		</dict>
		<key>pic_js_tuanzhan2.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,639},{98,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,47}}</string>
			<key>sourceSize</key>
			<string>{98,47}</string>
		</dict>
		<key>pic_jys_cansaiduiwu.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,1529},{126,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{126,28}}</string>
			<key>sourceSize</key>
			<string>{126,30}</string>
		</dict>
		<key>pic_jys_huigu.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,1524},{85,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{85,29}}</string>
			<key>sourceSize</key>
			<string>{87,29}</string>
		</dict>
		<key>pic_jys_jiashi.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,1817},{71,24}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,24}}</string>
			<key>sourceSize</key>
			<string>{71,26}</string>
		</dict>
		<key>pic_jys_jiashi_done.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,1352},{81,35}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{81,35}}</string>
			<key>sourceSize</key>
			<string>{81,37}</string>
		</dict>
		<key>pic_jys_jingyingjifen.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,1173},{148,25}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{148,25}}</string>
			<key>sourceSize</key>
			<string>{152,25}</string>
		</dict>
		<key>pic_jys_jingyingsaipaiming.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1410},{174,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{174,25}}</string>
			<key>sourceSize</key>
			<string>{176,25}</string>
		</dict>
		<key>pic_jys_jysfcbiaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,583},{258,72}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{258,72}}</string>
			<key>sourceSize</key>
			<string>{258,74}</string>
		</dict>
		<key>pic_jys_paihang.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,1388},{86,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{86,29}}</string>
			<key>sourceSize</key>
			<string>{88,29}</string>
		</dict>
		<key>pic_jys_renming.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,1345},{62,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{62,29}}</string>
			<key>sourceSize</key>
			<string>{64,29}</string>
		</dict>
		<key>pic_jys_tianjiajy.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,1920},{118,23}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{118,23}}</string>
			<key>sourceSize</key>
			<string>{124,25}</string>
		</dict>
		<key>pic_jys_zhenrong.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,1645},{67,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{67,27}}</string>
			<key>sourceSize</key>
			<string>{67,29}</string>
		</dict>
		<key>pic_kfstz_1zhihuiguan.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,1382},{82,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{82,26}}</string>
			<key>sourceSize</key>
			<string>{84,26}</string>
		</dict>
		<key>pic_kfstz_bangzhu.png</key>
		<dict>
			<key>frame</key>
			<string>{{345,1918},{63,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,29}}</string>
			<key>sourceSize</key>
			<string>{63,29}</string>
		</dict>
		<key>pic_kfstz_bisaijinxingzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,1167},{147,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{147,42}}</string>
			<key>sourceSize</key>
			<string>{147,44}</string>
		</dict>
		<key>pic_kfstz_bunengcansai.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,1032},{48,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,54}}</string>
			<key>sourceSize</key>
			<string>{48,54}</string>
		</dict>
		<key>pic_kfstz_dh.png</key>
		<dict>
			<key>frame</key>
			<string>{{355,1889},{61,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,27}}</string>
			<key>sourceSize</key>
			<string>{61,27}</string>
		</dict>
		<key>pic_kfstz_gerenxuanshou.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,976},{54,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,54}}</string>
			<key>sourceSize</key>
			<string>{54,54}</string>
		</dict>
		<key>pic_kfstz_grs_grsjf.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,1389},{133,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,26}}</string>
			<key>sourceSize</key>
			<string>{133,26}</string>
		</dict>
		<key>pic_kfstz_grs_grspm.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,1184},{157,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,26}}</string>
			<key>sourceSize</key>
			<string>{157,26}</string>
		</dict>
		<key>pic_kfstz_huigu.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,1667},{86,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,29}}</string>
			<key>sourceSize</key>
			<string>{86,29}</string>
		</dict>
		<key>pic_kfstz_jihuomubiao1.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,1476},{46,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,47}}</string>
			<key>sourceSize</key>
			<string>{46,47}</string>
		</dict>
		<key>pic_kfstz_jingriguwu.png</key>
		<dict>
			<key>frame</key>
			<string>{{393,1168},{96,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,23}}</string>
			<key>sourceSize</key>
			<string>{96,23}</string>
		</dict>
		<key>pic_kfstz_jingyingxuanshou.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,864},{53,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,59}}</string>
			<key>sourceSize</key>
			<string>{53,59}</string>
		</dict>
		<key>pic_kfstz_kaisadjs.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,767},{215,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,78}}</string>
			<key>sourceSize</key>
			<string>{215,78}</string>
		</dict>
		<key>pic_kfstz_kashetuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{35,992},{198,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,75}}</string>
			<key>sourceSize</key>
			<string>{198,75}</string>
		</dict>
		<key>pic_kfstz_logodi.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,1410},{166,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,51}}</string>
			<key>sourceSize</key>
			<string>{166,51}</string>
		</dict>
		<key>pic_kfstz_paihang.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,1564},{64,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,29}}</string>
			<key>sourceSize</key>
			<string>{64,29}</string>
		</dict>
		<key>pic_kfstz_paiming_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,1076},{95,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,74}}</string>
			<key>sourceSize</key>
			<string>{95,74}</string>
		</dict>
		<key>pic_kfstz_paiming_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,657},{95,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,74}}</string>
			<key>sourceSize</key>
			<string>{95,74}</string>
		</dict>
		<key>pic_kfstz_paiming_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,541},{91,74}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{91,74}}</string>
			<key>sourceSize</key>
			<string>{95,74}</string>
		</dict>
		<key>pic_kfstz_paiming_4_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,1689},{30,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,32}}</string>
			<key>sourceSize</key>
			<string>{30,32}</string>
		</dict>
		<key>pic_kfstz_shangweikaisai.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,1389},{138,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,26}}</string>
			<key>sourceSize</key>
			<string>{138,26}</string>
		</dict>
		<key>pic_kfstz_siliao.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,1409},{63,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,29}}</string>
			<key>sourceSize</key>
			<string>{63,29}</string>
		</dict>
		<key>pic_kfstz_taitou_js.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,915},{159,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,69}}</string>
			<key>sourceSize</key>
			<string>{159,69}</string>
		</dict>
		<key>pic_kfstz_taitou_jysph.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,967},{198,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,69}}</string>
			<key>sourceSize</key>
			<string>{198,69}</string>
		</dict>
		<key>pic_kfstz_taitou_kfstz.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,767},{198,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,69}}</string>
			<key>sourceSize</key>
			<string>{198,69}</string>
		</dict>
		<key>pic_kfstz_taitou_ttsph.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,984},{198,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,69}}</string>
			<key>sourceSize</key>
			<string>{198,69}</string>
		</dict>
		<key>pic_kfstz_taitou_zph.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,754},{159,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,69}}</string>
			<key>sourceSize</key>
			<string>{159,69}</string>
		</dict>
		<key>pic_kfstz_tc_jiesuan_xueliang.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,1192},{158,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,58}}</string>
			<key>sourceSize</key>
			<string>{158,58}</string>
		</dict>
		<key>pic_kfstz_tts_ttsjf.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,1538},{132,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,26}}</string>
			<key>sourceSize</key>
			<string>{132,26}</string>
		</dict>
		<key>pic_kfstz_tts_ttspm.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,1578},{132,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,26}}</string>
			<key>sourceSize</key>
			<string>{132,26}</string>
		</dict>
		<key>pic_kfstz_tuantixuanshou.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,919},{55,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,54}}</string>
			<key>sourceSize</key>
			<string>{55,54}</string>
		</dict>
		<key>pic_kfstz_wanjia.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,1388},{85,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,25}}</string>
			<key>sourceSize</key>
			<string>{85,25}</string>
		</dict>
		<key>pic_kfstz_weijihuo.png</key>
		<dict>
			<key>frame</key>
			<string>{{249,1996},{85,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,41}}</string>
			<key>sourceSize</key>
			<string>{85,41}</string>
		</dict>
		<key>pic_kfstz_xiazhu_taitou.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1586},{168,77}}</string>
			<key>offset</key>
			<string>{-5,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{168,77}}</string>
			<key>sourceSize</key>
			<string>{178,81}</string>
		</dict>
		<key>pic_kfstz_yijihuo.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,1997},{85,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,41}}</string>
			<key>sourceSize</key>
			<string>{85,41}</string>
		</dict>
		<key>pic_kfstz_yixiazh.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,657},{192,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,108}}</string>
			<key>sourceSize</key>
			<string>{192,108}</string>
		</dict>
		<key>pic_kfstz_zhihuiguan.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,583},{51,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,54}}</string>
			<key>sourceSize</key>
			<string>{51,54}</string>
		</dict>
		<key>pic_kfstz_zhuagnshi2.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,534},{13,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,5}}</string>
			<key>sourceSize</key>
			<string>{13,5}</string>
		</dict>
		<key>pic_kfstz_zi_gerensai.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,1844},{72,24}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,3},{72,24}}</string>
			<key>sourceSize</key>
			<string>{78,28}</string>
		</dict>
		<key>pic_kfstz_zi_jifen.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,1918},{76,24}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,3},{76,24}}</string>
			<key>sourceSize</key>
			<string>{78,28}</string>
		</dict>
		<key>pic_kfstz_zi_jingyingsai.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,1388},{86,24}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,3},{86,24}}</string>
			<key>sourceSize</key>
			<string>{92,28}</string>
		</dict>
		<key>pic_kfstz_zi_paiming.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,1752},{90,24}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,3},{90,24}}</string>
			<key>sourceSize</key>
			<string>{92,28}</string>
		</dict>
		<key>pic_kfstz_zi_shetuanxinxi.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,1920},{110,24}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,3},{110,24}}</string>
			<key>sourceSize</key>
			<string>{114,28}</string>
		</dict>
		<key>pic_kfstz_zi_tuantisai.png</key>
		<dict>
			<key>frame</key>
			<string>{{355,1817},{70,24}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,3},{70,24}}</string>
			<key>sourceSize</key>
			<string>{78,28}</string>
		</dict>
		<key>pic_kfstz_zi_wanjia.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,442},{90,24}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,3},{90,24}}</string>
			<key>sourceSize</key>
			<string>{92,28}</string>
		</dict>
		<key>pic_kfstz_zi_wanjiaxinxi.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,1538},{127,24}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{127,24}}</string>
			<key>sourceSize</key>
			<string>{129,28}</string>
		</dict>
		<key>pic_kfstz_zi_xiazhu.png</key>
		<dict>
			<key>frame</key>
			<string>{{337,1794},{51,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{51,21}}</string>
			<key>sourceSize</key>
			<string>{55,23}</string>
		</dict>
		<key>pic_kfstz_zi_yeqian_dierqi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,1729},{80,26}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,0},{80,26}}</string>
			<key>sourceSize</key>
			<string>{96,28}</string>
		</dict>
		<key>pic_kfstz_zi_yeqian_dierqi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,1467},{84,28}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{84,28}}</string>
			<key>sourceSize</key>
			<string>{96,28}</string>
		</dict>
		<key>pic_kfstz_zi_yeqian_disanqi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,1607},{80,26}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,0},{80,26}}</string>
			<key>sourceSize</key>
			<string>{96,28}</string>
		</dict>
		<key>pic_kfstz_zi_yeqian_disanqi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{311,1467},{84,28}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{84,28}}</string>
			<key>sourceSize</key>
			<string>{96,28}</string>
		</dict>
		<key>pic_kfstz_zi_yeqian_disiqi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{311,1636},{78,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,0},{78,28}}</string>
			<key>sourceSize</key>
			<string>{96,28}</string>
		</dict>
		<key>pic_kfstz_zi_yeqian_disiqi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,1475},{84,28}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{84,28}}</string>
			<key>sourceSize</key>
			<string>{96,28}</string>
		</dict>
		<key>pic_kfstz_zi_yeqian_diyiqi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,1443},{80,26}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,0},{80,26}}</string>
			<key>sourceSize</key>
			<string>{96,28}</string>
		</dict>
		<key>pic_kfstz_zi_yeqian_diyiqi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,1323},{84,28}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{84,28}}</string>
			<key>sourceSize</key>
			<string>{96,28}</string>
		</dict>
		<key>pic_kfstz_zi_yeqian_gerenzhan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,1918},{76,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,1},{76,26}}</string>
			<key>sourceSize</key>
			<string>{82,28}</string>
		</dict>
		<key>pic_kfstz_zi_yeqian_gerenzhan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,1635},{79,28}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{79,28}}</string>
			<key>sourceSize</key>
			<string>{85,30}</string>
		</dict>
		<key>pic_kfstz_zi_yeqian_jingyingsai_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,442},{97,26}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{97,26}}</string>
			<key>sourceSize</key>
			<string>{103,28}</string>
		</dict>
		<key>pic_kfstz_zi_yeqian_jingyingsai_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,1755},{99,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,0},{99,28}}</string>
			<key>sourceSize</key>
			<string>{123,28}</string>
		</dict>
		<key>pic_kfstz_zi_yeqian_juesai_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,1716},{78,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{78,26}}</string>
			<key>sourceSize</key>
			<string>{82,28}</string>
		</dict>
		<key>pic_kfstz_zi_yeqian_juesai_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{311,1553},{81,28}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{81,28}}</string>
			<key>sourceSize</key>
			<string>{85,30}</string>
		</dict>
		<key>pic_kfstz_zi_yeqian_siqiang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,164},{97,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,1},{97,26}}</string>
			<key>sourceSize</key>
			<string>{103,28}</string>
		</dict>
		<key>pic_kfstz_zi_yeqian_siqiang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,739},{103,28}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{103,28}}</string>
			<key>sourceSize</key>
			<string>{123,28}</string>
		</dict>
		<key>pic_kfstz_zi_yeqian_tuanzhan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,1714},{78,26}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{78,26}}</string>
			<key>sourceSize</key>
			<string>{84,30}</string>
		</dict>
		<key>pic_kfstz_zi_yeqian_tuanzhan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,1553},{80,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{80,28}}</string>
			<key>sourceSize</key>
			<string>{84,30}</string>
		</dict>
		<key>pic_kfstz_zi_yeqian_zongpaihang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1922},{116,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{116,28}}</string>
			<key>sourceSize</key>
			<string>{120,28}</string>
		</dict>
		<key>pic_kfstz_zi_yeqian_zongpaihang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,1920},{118,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{118,28}}</string>
			<key>sourceSize</key>
			<string>{120,28}</string>
		</dict>
		<key>pic_kfstz_zi_zongjifen.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,1630},{79,25}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,25}}</string>
			<key>sourceSize</key>
			<string>{81,25}</string>
		</dict>
		<key>pic_kfstz_zibiaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1017},{391,31}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,3},{391,31}}</string>
			<key>sourceSize</key>
			<string>{403,35}</string>
		</dict>
		<key>pic_kfstz_zongguwu.png</key>
		<dict>
			<key>frame</key>
			<string>{{369,1723},{58,21}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,2},{58,21}}</string>
			<key>sourceSize</key>
			<string>{68,23}</string>
		</dict>
		<key>pic_kfstz_zr_dui_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,1918},{66,21}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,2},{66,21}}</string>
			<key>sourceSize</key>
			<string>{82,23}</string>
		</dict>
		<key>pic_kfstz_zr_dui_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,1645},{82,21}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{82,21}}</string>
			<key>sourceSize</key>
			<string>{82,23}</string>
		</dict>
		<key>pic_kfstz_zr_dui_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,1920},{74,21}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,2},{74,21}}</string>
			<key>sourceSize</key>
			<string>{82,23}</string>
		</dict>
		<key>pic_kfstz_zr_dui_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,1920},{74,21}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,2},{74,21}}</string>
			<key>sourceSize</key>
			<string>{82,23}</string>
		</dict>
		<key>pic_kfstz_zr_dui_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,1844},{74,21}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,2},{74,21}}</string>
			<key>sourceSize</key>
			<string>{82,23}</string>
		</dict>
		<key>pic_kfstz_zr_dui_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,1794},{74,21}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{74,21}}</string>
			<key>sourceSize</key>
			<string>{82,23}</string>
		</dict>
		<key>pic_kfstz_zr_dui_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,1844},{72,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{72,23}}</string>
			<key>sourceSize</key>
			<string>{82,23}</string>
		</dict>
		<key>pic_kfstz_zr_dui_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{381,1817},{70,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{70,23}}</string>
			<key>sourceSize</key>
			<string>{82,23}</string>
		</dict>
		<key>pic_kfstz_zr_dui_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,1769},{74,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{74,23}}</string>
			<key>sourceSize</key>
			<string>{82,23}</string>
		</dict>
		<key>pic_kfstz_zr_dui_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,1744},{74,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{74,23}}</string>
			<key>sourceSize</key>
			<string>{82,23}</string>
		</dict>
		<key>pic_kfstz_zr_paichushuoming.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,583},{432,25}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{432,25}}</string>
			<key>sourceSize</key>
			<string>{440,25}</string>
		</dict>
		<key>pic_kfstz_zr_xianshouzhi.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,1173},{146,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,36}}</string>
			<key>sourceSize</key>
			<string>{146,36}</string>
		</dict>
		<key>pic_renming_daojishi.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,321},{119,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,51}}</string>
			<key>sourceSize</key>
			<string>{119,51}</string>
		</dict>
		<key>pic_renming_jingying.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,1476},{86,28}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{86,28}}</string>
			<key>sourceSize</key>
			<string>{86,30}</string>
		</dict>
		<key>pic_renming_renmgeren.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,767},{223,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{223,72}}</string>
			<key>sourceSize</key>
			<string>{223,74}</string>
		</dict>
		<key>pic_renming_renmingjinying.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,2},{259,72}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{259,72}}</string>
			<key>sourceSize</key>
			<string>{259,74}</string>
		</dict>
		<key>pic_renming_shetuanchengyuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,1389},{165,25}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{165,25}}</string>
			<key>sourceSize</key>
			<string>{165,27}</string>
		</dict>
		<key>pic_renming_shuxing.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,1756},{100,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,25}}</string>
			<key>sourceSize</key>
			<string>{100,25}</string>
		</dict>
		<key>pic_renming_zhandouli.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,1672},{82,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,48}}</string>
			<key>sourceSize</key>
			<string>{82,48}</string>
		</dict>
		<key>pic_shetuanzhan_jinruzhanchang.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,1322},{58,48}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,48}}</string>
			<key>sourceSize</key>
			<string>{58,50}</string>
		</dict>
		<key>pic_shetuanzhan_ziji1.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,263},{63,56}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{63,56}}</string>
			<key>sourceSize</key>
			<string>{67,58}</string>
		</dict>
		<key>pic_tanchuang_pic_xianshouzhidadiban_kuafuzhan.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,2},{261,346}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{261,346}}</string>
			<key>sourceSize</key>
			<string>{261,346}</string>
		</dict>
		<key>pic_tc_guize1.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,1360},{81,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,2},{81,26}}</string>
			<key>sourceSize</key>
			<string>{83,30}</string>
		</dict>
		<key>pic_tc_guize2.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,1817},{73,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,3},{73,24}}</string>
			<key>sourceSize</key>
			<string>{83,30}</string>
		</dict>
		<key>pic_tc_jiangli1.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,844},{102,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{102,30}}</string>
			<key>sourceSize</key>
			<string>{104,30}</string>
		</dict>
		<key>pic_tc_jiangli2.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,1266},{92,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,2},{92,26}}</string>
			<key>sourceSize</key>
			<string>{104,30}</string>
		</dict>
		<key>pic_tc_renming.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,1316},{70,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{70,34}}</string>
			<key>sourceSize</key>
			<string>{72,34}</string>
		</dict>
		<key>pic_tc_yirenming.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,1657},{93,40}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,7},{93,40}}</string>
			<key>sourceSize</key>
			<string>{105,54}</string>
		</dict>
		<key>pic_ttfc_fangyu.png</key>
		<dict>
			<key>frame</key>
			<string>{{345,1949},{61,25}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{61,25}}</string>
			<key>sourceSize</key>
			<string>{63,27}</string>
		</dict>
		<key>pic_ttfc_gaojiguwu.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,1389},{147,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{147,35}}</string>
			<key>sourceSize</key>
			<string>{147,37}</string>
		</dict>
		<key>pic_ttfc_gongji.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,2002},{55,27}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{55,27}}</string>
			<key>sourceSize</key>
			<string>{63,27}</string>
		</dict>
		<key>pic_ttfc_putongguwu.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,1173},{147,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{147,35}}</string>
			<key>sourceSize</key>
			<string>{147,37}</string>
		</dict>
		<key>pic_ttfc_quanshetuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,948},{100,35}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,4},{100,35}}</string>
			<key>sourceSize</key>
			<string>{102,39}</string>
		</dict>
		<key>pic_ttfc_shengming.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,1817},{63,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,25}}</string>
			<key>sourceSize</key>
			<string>{63,25}</string>
		</dict>
		<key>pic_ttfc_tuantisaifencahng.png</key>
		<dict>
			<key>frame</key>
			<string>{{35,1192},{195,73}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{195,73}}</string>
			<key>sourceSize</key>
			<string>{203,73}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_CSClubbattle0.png</string>
		<key>size</key>
		<string>{418,2040}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_CSClubbattle0.png</string>
	</dict>
</dict>
</plist>
