<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>UI_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{1136,641}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1136,641}}</string>
			<key>sourceSize</key>
			<string>{1136,641}</string>
		</dict>
		<key>chuizi_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,774},{87,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,148}}</string>
			<key>sourceSize</key>
			<string>{87,148}</string>
		</dict>
		<key>maoa_erduo_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{989,242},{20,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,33}}</string>
			<key>sourceSize</key>
			<string>{20,33}</string>
		</dict>
		<key>maoa_tou01_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{825,907},{81,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,82}}</string>
			<key>sourceSize</key>
			<string>{81,82}</string>
		</dict>
		<key>maoa_tou02_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,927},{83,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,81}}</string>
			<key>sourceSize</key>
			<string>{83,81}</string>
		</dict>
		<key>maoa_yanbi_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{795,774},{19,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,16}}</string>
			<key>sourceSize</key>
			<string>{19,16}</string>
		</dict>
		<key>maoa_yansj_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{951,366},{18,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,20}}</string>
			<key>sourceSize</key>
			<string>{18,20}</string>
		</dict>
		<key>maoa_yanzhuan_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{973,366},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>maoa_zhua_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{989,364},{27,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,20}}</string>
			<key>sourceSize</key>
			<string>{27,20}</string>
		</dict>
		<key>maob_erduo_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{989,264},{19,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,31}}</string>
			<key>sourceSize</key>
			<string>{19,31}</string>
		</dict>
		<key>maob_shou_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1005,526},{20,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,16}}</string>
			<key>sourceSize</key>
			<string>{20,16}</string>
		</dict>
		<key>maobb_qugan_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{989,285},{51,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,30}}</string>
			<key>sourceSize</key>
			<string>{51,30}</string>
		</dict>
		<key>maobb_tou01_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{760,863},{82,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,63}}</string>
			<key>sourceSize</key>
			<string>{82,63}</string>
		</dict>
		<key>maobb_yanbi_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{989,338},{29,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,24}}</string>
			<key>sourceSize</key>
			<string>{29,24}</string>
		</dict>
		<key>maobb_yandeng_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1005,502},{22,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,17}}</string>
			<key>sourceSize</key>
			<string>{22,17}</string>
		</dict>
		<key>maoc_erduo_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{989,214},{26,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,33}}</string>
			<key>sourceSize</key>
			<string>{26,33}</string>
		</dict>
		<key>maoc_ld_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{860,699},{16,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,19}}</string>
			<key>sourceSize</key>
			<string>{16,19}</string>
		</dict>
		<key>maoc_lian_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{948,502},{55,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,40}}</string>
			<key>sourceSize</key>
			<string>{55,40}</string>
		</dict>
		<key>maoc_qg_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,606},{91,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,41}}</string>
			<key>sourceSize</key>
			<string>{91,41}</string>
		</dict>
		<key>maoc_shou_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,699},{26,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,24}}</string>
			<key>sourceSize</key>
			<string>{26,24}</string>
		</dict>
		<key>maoc_tou01_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{909,907},{75,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,54}}</string>
			<key>sourceSize</key>
			<string>{75,54}</string>
		</dict>
		<key>maoc_tou02_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{730,947},{82,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,58}}</string>
			<key>sourceSize</key>
			<string>{82,58}</string>
		</dict>
		<key>maost_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,2},{375,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{375,210}}</string>
			<key>sourceSize</key>
			<string>{375,210}</string>
		</dict>
		<key>maotou01_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,739},{185,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,166}}</string>
			<key>sourceSize</key>
			<string>{185,166}</string>
		</dict>
		<key>maotou02_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,606},{187,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,166}}</string>
			<key>sourceSize</key>
			<string>{187,166}</string>
		</dict>
		<key>mask_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{880,492},{66,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,59}}</string>
			<key>sourceSize</key>
			<string>{66,59}</string>
		</dict>
		<key>sz01_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,214},{342,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{342,150}}</string>
			<key>sourceSize</key>
			<string>{342,150}</string>
		</dict>
		<key>sz02_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{951,386},{114,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,69}}</string>
			<key>sourceSize</key>
			<string>{114,69}</string>
		</dict>
		<key>yun01_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,366},{304,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{304,124}}</string>
			<key>sourceSize</key>
			<string>{304,124}</string>
		</dict>
		<key>yun02_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,492},{233,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{233,112}}</string>
			<key>sourceSize</key>
			<string>{233,112}</string>
		</dict>
		<key>yun03_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,863},{113,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,62}}</string>
			<key>sourceSize</key>
			<string>{113,62}</string>
		</dict>
		<key>zha_dadishuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{880,553},{184,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,133}}</string>
			<key>sourceSize</key>
			<string>{184,133}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>dadishuimage.png</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dadishuimage.png</string>
	</dict>
</dict>
</plist>
