<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_hax_bisha4_sshy2_00099.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,486},{144,61}}</string>
			<key>offset</key>
			<string>{-3,-67}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,135},{144,61}}</string>
			<key>sourceSize</key>
			<string>{208,197}</string>
		</dict>
		<key>New_hax_bisha4_sshy2_00101.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,287},{154,65}}</string>
			<key>offset</key>
			<string>{-6,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,132},{154,65}}</string>
			<key>sourceSize</key>
			<string>{208,197}</string>
		</dict>
		<key>New_hax_bisha4_sshy2_00103.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{174,93}}</string>
			<key>offset</key>
			<string>{-8,-52}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,104},{174,93}}</string>
			<key>sourceSize</key>
			<string>{208,197}</string>
		</dict>
		<key>New_hax_dengchang_bq_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,548},{135,132}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,0},{135,132}}</string>
			<key>sourceSize</key>
			<string>{149,132}</string>
		</dict>
		<key>New_hax_dengchang_bq_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,353},{145,132}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{145,132}}</string>
			<key>sourceSize</key>
			<string>{149,132}</string>
		</dict>
		<key>New_hax_dengchang_bq_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{828,162},{149,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,132}}</string>
			<key>sourceSize</key>
			<string>{149,132}</string>
		</dict>
		<key>New_hax_dengchang_bq_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,264},{149,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,132}}</string>
			<key>sourceSize</key>
			<string>{149,132}</string>
		</dict>
		<key>New_hax_dengchang_bq_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{823,295},{149,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,132}}</string>
			<key>sourceSize</key>
			<string>{149,132}</string>
		</dict>
		<key>New_hax_dengchang_bq_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,297},{147,130}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{147,130}}</string>
			<key>sourceSize</key>
			<string>{149,132}</string>
		</dict>
		<key>New_hax_dengchang_bq_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{670,677},{141,126}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,5},{141,126}}</string>
			<key>sourceSize</key>
			<string>{149,132}</string>
		</dict>
		<key>New_hax_dengchang_xhhd_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{959,581},{62,57}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{62,57}}</string>
			<key>sourceSize</key>
			<string>{64,65}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_bz_00160.png</key>
		<dict>
			<key>frame</key>
			<string>{{436,884},{138,104}}</string>
			<key>offset</key>
			<string>{-9,-34}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{45,74},{138,104}}</string>
			<key>sourceSize</key>
			<string>{246,184}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_bz_00162.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,836},{138,102}}</string>
			<key>offset</key>
			<string>{-9,-33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,74},{138,102}}</string>
			<key>sourceSize</key>
			<string>{246,184}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_bz_00164.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,740},{138,94}}</string>
			<key>offset</key>
			<string>{-9,-36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,81},{138,94}}</string>
			<key>sourceSize</key>
			<string>{246,184}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_bz_00168.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,804},{134,88}}</string>
			<key>offset</key>
			<string>{-9,-35}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{47,83},{134,88}}</string>
			<key>sourceSize</key>
			<string>{246,184}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_bz_00174.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,750},{60,76}}</string>
			<key>offset</key>
			<string>{-30,-36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63,90},{60,76}}</string>
			<key>sourceSize</key>
			<string>{246,184}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_dg_00095.png</key>
		<dict>
			<key>frame</key>
			<string>{{670,884},{113,69}}</string>
			<key>offset</key>
			<string>{-4,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,24},{113,69}}</string>
			<key>sourceSize</key>
			<string>{163,147}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_dg_00097.png</key>
		<dict>
			<key>frame</key>
			<string>{{815,568},{143,93}}</string>
			<key>offset</key>
			<string>{-4,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,35},{143,93}}</string>
			<key>sourceSize</key>
			<string>{163,147}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_dg_00099.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,484},{143,97}}</string>
			<key>offset</key>
			<string>{2,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,47},{143,97}}</string>
			<key>sourceSize</key>
			<string>{163,147}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_dg_00101.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,939},{121,83}}</string>
			<key>offset</key>
			<string>{0,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,46},{121,83}}</string>
			<key>sourceSize</key>
			<string>{163,147}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_jchd_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{671,491},{97,143}}</string>
			<key>offset</key>
			<string>{1,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,13},{97,143}}</string>
			<key>sourceSize</key>
			<string>{103,157}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_jchd_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,397},{93,147}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,8},{93,147}}</string>
			<key>sourceSize</key>
			<string>{103,157}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_jchd_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,742},{93,141}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,11},{93,141}}</string>
			<key>sourceSize</key>
			<string>{103,157}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_jchd_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{670,589},{87,143}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,9},{87,143}}</string>
			<key>sourceSize</key>
			<string>{103,157}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_jchd_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{670,804},{79,141}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,10},{79,141}}</string>
			<key>sourceSize</key>
			<string>{103,157}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_jchd_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{814,662},{79,143}}</string>
			<key>offset</key>
			<string>{3,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,6},{79,143}}</string>
			<key>sourceSize</key>
			<string>{103,157}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_sbhd_00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{959,639},{62,47}}</string>
			<key>offset</key>
			<string>{-1,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,89},{62,47}}</string>
			<key>sourceSize</key>
			<string>{166,211}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_sbhd_00051.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,684},{118,119}}</string>
			<key>offset</key>
			<string>{2,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,53},{118,119}}</string>
			<key>sourceSize</key>
			<string>{166,211}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_sbhd_00059.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,336},{140,151}}</string>
			<key>offset</key>
			<string>{5,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,35},{140,151}}</string>
			<key>sourceSize</key>
			<string>{166,211}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_sbhd_00063.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,132},{154,167}}</string>
			<key>offset</key>
			<string>{4,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,25},{154,167}}</string>
			<key>sourceSize</key>
			<string>{166,211}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_sg_00135.png</key>
		<dict>
			<key>frame</key>
			<string>{{518,142},{154,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,23},{154,154}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_sg_00137.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,2},{172,172}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,14},{172,172}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_yj_00064.png</key>
		<dict>
			<key>frame</key>
			<string>{{973,364},{92,49}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,0},{92,49}}</string>
			<key>sourceSize</key>
			<string>{130,49}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_yj_00076.png</key>
		<dict>
			<key>frame</key>
			<string>{{541,863},{128,47}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{128,47}}</string>
			<key>sourceSize</key>
			<string>{130,49}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_yj_00124.png</key>
		<dict>
			<key>frame</key>
			<string>{{628,347},{110,43}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,4},{110,43}}</string>
			<key>sourceSize</key>
			<string>{130,49}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_yj_00132.png</key>
		<dict>
			<key>frame</key>
			<string>{{436,835},{102,45}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,3},{102,45}}</string>
			<key>sourceSize</key>
			<string>{130,49}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_yj_00140.png</key>
		<dict>
			<key>frame</key>
			<string>{{571,684},{98,45}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,3},{98,45}}</string>
			<key>sourceSize</key>
			<string>{130,49}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_yjjg_00136.png</key>
		<dict>
			<key>frame</key>
			<string>{{852,2},{99,156}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,9},{99,156}}</string>
			<key>sourceSize</key>
			<string>{107,170}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_yjjg_00138.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,248},{91,162}}</string>
			<key>offset</key>
			<string>{-4,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,5},{91,162}}</string>
			<key>sourceSize</key>
			<string>{107,170}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_yjjg_00144.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,175},{83,166}}</string>
			<key>offset</key>
			<string>{-6,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,4},{83,166}}</string>
			<key>sourceSize</key>
			<string>{107,170}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_yjjg_00146.png</key>
		<dict>
			<key>frame</key>
			<string>{{852,102},{59,156}}</string>
			<key>offset</key>
			<string>{-7,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,14},{59,156}}</string>
			<key>sourceSize</key>
			<string>{107,170}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_yjjg_00150.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,428},{55,144}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,14},{55,144}}</string>
			<key>sourceSize</key>
			<string>{107,170}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_yjxl_00062.png</key>
		<dict>
			<key>frame</key>
			<string>{{522,2},{170,139}}</string>
			<key>offset</key>
			<string>{3,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,20},{170,139}}</string>
			<key>sourceSize</key>
			<string>{192,185}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_yjxl_00066.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,144},{154,119}}</string>
			<key>offset</key>
			<string>{8,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,35},{154,119}}</string>
			<key>sourceSize</key>
			<string>{192,185}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_yjxl_00068.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,96},{172,151}}</string>
			<key>offset</key>
			<string>{4,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,29},{172,151}}</string>
			<key>sourceSize</key>
			<string>{192,185}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_yjxl_00072.png</key>
		<dict>
			<key>frame</key>
			<string>{{693,2},{158,141}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,20},{158,141}}</string>
			<key>sourceSize</key>
			<string>{192,185}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_yjxl_00074.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,836},{140,117}}</string>
			<key>offset</key>
			<string>{2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,32},{140,117}}</string>
			<key>sourceSize</key>
			<string>{192,185}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_yjxl_00080.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,804},{134,101}}</string>
			<key>offset</key>
			<string>{2,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{31,46},{134,101}}</string>
			<key>sourceSize</key>
			<string>{192,185}</string>
		</dict>
		<key>New_haxsz_yamd_liumenbisha_yjxl_00088.png</key>
		<dict>
			<key>frame</key>
			<string>{{548,740},{122,121}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,35},{122,121}}</string>
			<key>sourceSize</key>
			<string>{192,185}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha2_cctw_00102.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,582},{141,92}}</string>
			<key>offset</key>
			<string>{-29,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,3},{141,92}}</string>
			<key>sourceSize</key>
			<string>{229,100}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha2_cctw_00110.png</key>
		<dict>
			<key>frame</key>
			<string>{{978,162},{117,44}}</string>
			<key>offset</key>
			<string>{38,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{94,28},{117,44}}</string>
			<key>sourceSize</key>
			<string>{229,100}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha2_cctw_00112.png</key>
		<dict>
			<key>frame</key>
			<string>{{541,911},{97,42}}</string>
			<key>offset</key>
			<string>{50,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{116,28},{97,42}}</string>
			<key>sourceSize</key>
			<string>{229,100}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha2_cctw_00114.png</key>
		<dict>
			<key>frame</key>
			<string>{{978,280},{83,44}}</string>
			<key>offset</key>
			<string>{67,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{140,25},{83,44}}</string>
			<key>sourceSize</key>
			<string>{229,100}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha2_hbd_00050.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,486},{130,129}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{130,129}}</string>
			<key>sourceSize</key>
			<string>{134,133}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha2_rwxs_00054.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,457},{56,123}}</string>
			<key>offset</key>
			<string>{-3,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,19},{56,123}}</string>
			<key>sourceSize</key>
			<string>{72,151}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha2_rwxs_00060.png</key>
		<dict>
			<key>frame</key>
			<string>{{135,548},{66,135}}</string>
			<key>offset</key>
			<string>{-1,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,14},{66,135}}</string>
			<key>sourceSize</key>
			<string>{72,151}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha2_rwxs_00068.png</key>
		<dict>
			<key>frame</key>
			<string>{{954,809},{68,129}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,9},{68,129}}</string>
			<key>sourceSize</key>
			<string>{72,151}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha2_rwxs_00070.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,679},{70,129}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,7},{70,129}}</string>
			<key>sourceSize</key>
			<string>{72,151}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha2_rwxs_00072.png</key>
		<dict>
			<key>frame</key>
			<string>{{541,954},{68,127}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,7},{68,127}}</string>
			<key>sourceSize</key>
			<string>{72,151}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha2_rwxs_00074.png</key>
		<dict>
			<key>frame</key>
			<string>{{669,954},{68,127}}</string>
			<key>offset</key>
			<string>{0,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,5},{68,127}}</string>
			<key>sourceSize</key>
			<string>{72,151}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha2_rwxs_00076.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,954},{68,125}}</string>
			<key>offset</key>
			<string>{0,8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,5},{68,125}}</string>
			<key>sourceSize</key>
			<string>{72,151}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha2_rwxs_00080.png</key>
		<dict>
			<key>frame</key>
			<string>{{958,687},{64,121}}</string>
			<key>offset</key>
			<string>{1,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,3},{64,121}}</string>
			<key>sourceSize</key>
			<string>{72,151}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha2_rwxs_00088.png</key>
		<dict>
			<key>frame</key>
			<string>{{608,458},{62,117}}</string>
			<key>offset</key>
			<string>{0,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,2},{62,117}}</string>
			<key>sourceSize</key>
			<string>{72,151}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha_cxte_00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,939},{82,87}}</string>
			<key>offset</key>
			<string>{28,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{63,9},{82,87}}</string>
			<key>sourceSize</key>
			<string>{152,115}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha_cxte_00051.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,939},{82,75}}</string>
			<key>offset</key>
			<string>{-25,9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,11},{82,75}}</string>
			<key>sourceSize</key>
			<string>{152,115}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha_hddd_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,675},{107,64}}</string>
			<key>offset</key>
			<string>{2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,14},{107,64}}</string>
			<key>sourceSize</key>
			<string>{115,82}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha_hddd_00035.png</key>
		<dict>
			<key>frame</key>
			<string>{{607,576},{107,62}}</string>
			<key>offset</key>
			<string>{-1,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,15},{107,62}}</string>
			<key>sourceSize</key>
			<string>{115,82}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha_hddd_00039.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,750},{85,70}}</string>
			<key>offset</key>
			<string>{5,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,7},{85,70}}</string>
			<key>sourceSize</key>
			<string>{115,82}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha_hddd_00041.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,939},{83,78}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,2},{83,78}}</string>
			<key>sourceSize</key>
			<string>{115,82}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha_hddd_00047.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,954},{99,64}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,14},{99,64}}</string>
			<key>sourceSize</key>
			<string>{115,82}</string>
		</dict>
		<key>New_haxsz_yamd_putongbisha_hddd_00049.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,740},{95,76}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,4},{95,76}}</string>
			<key>sourceSize</key>
			<string>{115,82}</string>
		</dict>
		<key>New_haxsz_yamd_xiaojineng2_byt_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,477},{70,145}}</string>
			<key>offset</key>
			<string>{6,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,28},{70,145}}</string>
			<key>sourceSize</key>
			<string>{92,177}</string>
		</dict>
		<key>New_haxsz_yamd_xiaojineng2_byt_00035.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,259},{76,159}}</string>
			<key>offset</key>
			<string>{6,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,11},{76,159}}</string>
			<key>sourceSize</key>
			<string>{92,177}</string>
		</dict>
		<key>New_haxsz_yamd_xiaojineng2_byt_00043.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,684},{78,119}}</string>
			<key>offset</key>
			<string>{0,22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,7},{78,119}}</string>
			<key>sourceSize</key>
			<string>{92,177}</string>
		</dict>
		<key>New_haxsz_yamd_xiaojineng_bd_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{367,939},{68,65}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,34},{68,65}}</string>
			<key>sourceSize</key>
			<string>{134,133}</string>
		</dict>
		<key>New_haxsz_yamd_xiaojineng_bd_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,836},{102,103}}</string>
			<key>offset</key>
			<string>{-6,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,14},{102,103}}</string>
			<key>sourceSize</key>
			<string>{134,133}</string>
		</dict>
		<key>New_haxsz_yamd_xiaojineng_bd_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,548},{130,129}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{130,129}}</string>
			<key>sourceSize</key>
			<string>{134,133}</string>
		</dict>
		<key>New_haxsz_yamd_xiaojineng_bd_00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{628,297},{44,49}}</string>
			<key>offset</key>
			<string>{-5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,43},{44,49}}</string>
			<key>sourceSize</key>
			<string>{134,133}</string>
		</dict>
		<key>New_haxsz_yamd_xiaojineng_bd_00034.png</key>
		<dict>
			<key>frame</key>
			<string>{{367,939},{68,65}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,34},{68,65}}</string>
			<key>sourceSize</key>
			<string>{134,133}</string>
		</dict>
		<key>New_haxsz_yamd_xiaojineng_bd_00036.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,836},{102,103}}</string>
			<key>offset</key>
			<string>{-6,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,14},{102,103}}</string>
			<key>sourceSize</key>
			<string>{134,133}</string>
		</dict>
		<key>New_haxsz_yamd_xiaojineng_bd_00048.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,616},{130,123}}</string>
			<key>offset</key>
			<string>{2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,3},{130,123}}</string>
			<key>sourceSize</key>
			<string>{134,133}</string>
		</dict>
		<key>New_haxsz_yamd_xiaojineng_bd_00050.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,548},{130,129}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{130,129}}</string>
			<key>sourceSize</key>
			<string>{134,133}</string>
		</dict>
		<key>New_haxsz_yamd_xiaojineng_hddd_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,2},{171,129}}</string>
			<key>offset</key>
			<string>{5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,16},{171,129}}</string>
			<key>sourceSize</key>
			<string>{181,147}</string>
		</dict>
		<key>New_haxsz_yamd_xiaojineng_hddd_00036.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,340},{149,145}}</string>
			<key>offset</key>
			<string>{16,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,0},{149,145}}</string>
			<key>sourceSize</key>
			<string>{181,147}</string>
		</dict>
		<key>New_haxsz_yamd_xiaojineng_hddd_00038.png</key>
		<dict>
			<key>frame</key>
			<string>{{820,428},{145,139}}</string>
			<key>offset</key>
			<string>{15,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,5},{145,139}}</string>
			<key>sourceSize</key>
			<string>{181,147}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>heiaxiuRESZ_common2.png</string>
		<key>scale</key>
		<real>0.63</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>heiaxiuRESZ_common2.png</string>
	</dict>
</dict>
</plist>
