<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_3_00051.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,883},{132,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,104}}</string>
			<key>sourceSize</key>
			<string>{132,104}</string>
		</dict>
		<key>New_bsy_daiji_huoyan_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,794},{88,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,126}}</string>
			<key>sourceSize</key>
			<string>{88,126}</string>
		</dict>
		<key>New_bsy_daiji_huoyan_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,700},{88,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,126}}</string>
			<key>sourceSize</key>
			<string>{88,126}</string>
		</dict>
		<key>New_bsy_daiji_huoyan_00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,795},{89,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,121}}</string>
			<key>sourceSize</key>
			<string>{89,121}</string>
		</dict>
		<key>New_bsy_lmbs_baozha1_00099.png</key>
		<dict>
			<key>frame</key>
			<string>{{860,598},{158,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,158}}</string>
			<key>sourceSize</key>
			<string>{158,158}</string>
		</dict>
		<key>New_bsy_lmbs_baozha1_00153.png</key>
		<dict>
			<key>frame</key>
			<string>{{659,770},{115,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,106}}</string>
			<key>sourceSize</key>
			<string>{115,106}</string>
		</dict>
		<key>New_bsy_lmbs_baozha1diyan_00105.png</key>
		<dict>
			<key>frame</key>
			<string>{{719,103},{176,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,88}}</string>
			<key>sourceSize</key>
			<string>{176,88}</string>
		</dict>
		<key>New_bsy_lmbs_baozha2huoyan2shang_00185.png</key>
		<dict>
			<key>frame</key>
			<string>{{530,411},{168,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,131}}</string>
			<key>sourceSize</key>
			<string>{168,131}</string>
		</dict>
		<key>New_bsy_lmbs_baozha2huoyan2shang_00188.png</key>
		<dict>
			<key>frame</key>
			<string>{{890,286},{159,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{159,132}}</string>
			<key>sourceSize</key>
			<string>{161,132}</string>
		</dict>
		<key>New_bsy_lmbs_baozha2huoyan2shang_00192.png</key>
		<dict>
			<key>frame</key>
			<string>{{699,531},{160,131}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{160,131}}</string>
			<key>sourceSize</key>
			<string>{164,131}</string>
		</dict>
		<key>New_bsy_lmbs_baozha2huoyan2shang_00196.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,433},{166,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,129}}</string>
			<key>sourceSize</key>
			<string>{166,129}</string>
		</dict>
		<key>New_bsy_lmbs_baozha2huoyan2shang_00198.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,396},{170,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,134}}</string>
			<key>sourceSize</key>
			<string>{170,134}</string>
		</dict>
		<key>New_bsy_lmbs_dazhuahen1_00128.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,2},{126,146}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{126,146}}</string>
			<key>sourceSize</key>
			<string>{128,146}</string>
		</dict>
		<key>New_bsy_lmbs_dazhuahen2_00140.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,168},{130,176}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,176}}</string>
			<key>sourceSize</key>
			<string>{130,176}</string>
		</dict>
		<key>New_bsy_lmbs_dazhuahen2_00146.png</key>
		<dict>
			<key>frame</key>
			<string>{{675,663},{150,106}}</string>
			<key>offset</key>
			<string>{-2,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,106}}</string>
			<key>sourceSize</key>
			<string>{154,114}</string>
		</dict>
		<key>New_bsy_ptbs_zhuahen1_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{888,877},{131,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,101}}</string>
			<key>sourceSize</key>
			<string>{131,101}</string>
		</dict>
		<key>New_bsy_ptbx_shoubuguang2_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,2},{176,176}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,176}}</string>
			<key>sourceSize</key>
			<string>{176,176}</string>
		</dict>
		<key>New_bsy_ptbx_shoubuguang2_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,154},{176,176}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,176}}</string>
			<key>sourceSize</key>
			<string>{176,176}</string>
		</dict>
		<key>New_bsy_ptbx_shoubuguang2_00025.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,588},{160,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,160}}</string>
			<key>sourceSize</key>
			<string>{160,160}</string>
		</dict>
		<key>New_bsy_ptbx_shoujibaozhahuoyan_00051.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,887},{135,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{135,120}}</string>
			<key>sourceSize</key>
			<string>{137,120}</string>
		</dict>
		<key>New_bsy_ptbx_shoujibaozhahuoyan_00096.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,684},{156,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,110}}</string>
			<key>sourceSize</key>
			<string>{156,110}</string>
		</dict>
		<key>New_bsy_ptbx_shoujiguang_00048.png</key>
		<dict>
			<key>frame</key>
			<string>{{517,543},{157,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,156}}</string>
			<key>sourceSize</key>
			<string>{157,156}</string>
		</dict>
		<key>New_bsy_ptbx_shoujihuoyan_00083.png</key>
		<dict>
			<key>frame</key>
			<string>{{625,877},{141,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,144}}</string>
			<key>sourceSize</key>
			<string>{141,144}</string>
		</dict>
		<key>New_bsy_ptbx_shoujihuoyan_00087.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,446},{151,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,139}}</string>
			<key>sourceSize</key>
			<string>{151,139}</string>
		</dict>
		<key>New_bsy_ptbx_shoujihuoyan_00089.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,887},{149,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,135}}</string>
			<key>sourceSize</key>
			<string>{149,135}</string>
		</dict>
		<key>New_bsy_ptbx_shoujihuoyan_00093.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,149},{136,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{136,126}}</string>
			<key>sourceSize</key>
			<string>{136,128}</string>
		</dict>
		<key>New_bsy_xjn_gongji1shang_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,2},{165,179}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,179}}</string>
			<key>sourceSize</key>
			<string>{167,179}</string>
		</dict>
		<key>New_bsy_xjn_gongji1shang_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,142},{162,179}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,179}}</string>
			<key>sourceSize</key>
			<string>{168,179}</string>
		</dict>
		<key>New_bsy_xjn_gongji1shang_00021.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,2},{178,151}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{178,151}}</string>
			<key>sourceSize</key>
			<string>{178,155}</string>
		</dict>
		<key>New_bsy_xjn_gongji1shang_00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,563},{157,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,146}}</string>
			<key>sourceSize</key>
			<string>{157,146}</string>
		</dict>
		<key>New_bsy_xjn_gongji1shang_00025.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,885},{136,102}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{136,102}}</string>
			<key>sourceSize</key>
			<string>{138,102}</string>
		</dict>
		<key>New_bsy_xjn_gongji1shang_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,795},{86,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,90}}</string>
			<key>sourceSize</key>
			<string>{86,90}</string>
		</dict>
		<key>New_bsy_xjn_gongji1xia_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{767,877},{120,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,144}}</string>
			<key>sourceSize</key>
			<string>{120,144}</string>
		</dict>
		<key>New_bsy_xjn_gongji1xia_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{826,757},{119,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,145}}</string>
			<key>sourceSize</key>
			<string>{119,145}</string>
		</dict>
		<key>New_bsy_xjn_gongji2huoyan_00062.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{180,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,139}}</string>
			<key>sourceSize</key>
			<string>{180,139}</string>
		</dict>
		<key>New_bsy_xjn_gongji3huoyan_00093.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,883},{143,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,131}}</string>
			<key>sourceSize</key>
			<string>{143,131}</string>
		</dict>
		<key>New_bsy_xjn_gongji3huoyan_00101.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,420},{168,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,167}}</string>
			<key>sourceSize</key>
			<string>{168,167}</string>
		</dict>
		<key>New_bsy_xjn_gongji3huoyan_00103.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,521},{164,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,162}}</string>
			<key>sourceSize</key>
			<string>{164,162}</string>
		</dict>
		<key>New_bsy_xjn_shoubutuowei2_00046.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,331},{101,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,170}}</string>
			<key>sourceSize</key>
			<string>{101,170}</string>
		</dict>
		<key>New_bsy_xjn_shoubutuowei2_00048.png</key>
		<dict>
			<key>frame</key>
			<string>{{179,419},{101,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,170}}</string>
			<key>sourceSize</key>
			<string>{101,170}</string>
		</dict>
		<key>New_bsy_xjn_shoubutuowei2_00050.png</key>
		<dict>
			<key>frame</key>
			<string>{{540,310},{100,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,171}}</string>
			<key>sourceSize</key>
			<string>{100,171}</string>
		</dict>
		<key>New_bsy_xjn_shoubutuowei2_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{715,295},{100,172}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,172}}</string>
			<key>sourceSize</key>
			<string>{100,172}</string>
		</dict>
		<key>New_bsy_xjn_shoubutuowei2_00055.png</key>
		<dict>
			<key>frame</key>
			<string>{{719,2},{100,176}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,176}}</string>
			<key>sourceSize</key>
			<string>{100,176}</string>
		</dict>
		<key>New_bsy_xjn_shoubutuowei2shang_00044.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,749},{137,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,150}}</string>
			<key>sourceSize</key>
			<string>{137,150}</string>
		</dict>
		<key>New_bsy_xjn_shoubutuowei2shang_00055.png</key>
		<dict>
			<key>frame</key>
			<string>{{540,179},{130,174}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,174}}</string>
			<key>sourceSize</key>
			<string>{130,174}</string>
		</dict>
		<key>New_bsy_xjn_shoubutuowei2shang_00057.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,299},{119,176}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,176}}</string>
			<key>sourceSize</key>
			<string>{119,176}</string>
		</dict>
		<key>New_bsy_xjn_shoubutuowei2shang_00059.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,305},{114,176}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,176}}</string>
			<key>sourceSize</key>
			<string>{114,176}</string>
		</dict>
		<key>New_bsy_xjn_shoubutuowei2shang_00061.png</key>
		<dict>
			<key>frame</key>
			<string>{{715,192},{102,174}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,174}}</string>
			<key>sourceSize</key>
			<string>{102,174}</string>
		</dict>
		<key>New_bsy_xjn_shoubutuowei_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,794},{135,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,88}}</string>
			<key>sourceSize</key>
			<string>{135,88}</string>
		</dict>
		<key>ty_zhuahen3.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,710},{105,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,83}}</string>
			<key>sourceSize</key>
			<string>{105,83}</string>
		</dict>
		<key>ty_zhuahen4.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,710},{105,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,83}}</string>
			<key>sourceSize</key>
			<string>{105,83}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>bashenshisi_common7.png</string>
		<key>scale</key>
		<real>0.66</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>bashenshisi_common7.png</string>
	</dict>
</dict>
</plist>
