<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>jiahao_tongxiangjiahaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1699,284},{68,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,70}}</string>
			<key>sourceSize</key>
			<string>{68,70}</string>
		</dict>
		<key>kk_jnsjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,2},{591,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{591,126}}</string>
			<key>sourceSize</key>
			<string>{591,126}</string>
		</dict>
		<key>pic_btn_zizhi_jindutiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,647},{275,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{275,9}}</string>
			<key>sourceSize</key>
			<string>{275,9}</string>
		</dict>
		<key>pic_btn_zizhi_jindutiao_dikuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1488,228},{283,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{283,17}}</string>
			<key>sourceSize</key>
			<string>{283,17}</string>
		</dict>
		<key>pic_btn_zizhi_lingqu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2000,476},{62,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,26}}</string>
			<key>sourceSize</key>
			<string>{62,26}</string>
		</dict>
		<key>pic_btn_zizhi_lingqu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1871,298},{62,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,26}}</string>
			<key>sourceSize</key>
			<string>{62,26}</string>
		</dict>
		<key>pic_btn_zizhi_nengliangdian_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1488,335},{196,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,28}}</string>
			<key>sourceSize</key>
			<string>{196,28}</string>
		</dict>
		<key>pic_btn_zizhi_shenqitiqu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1488,284},{209,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,49}}</string>
			<key>sourceSize</key>
			<string>{209,49}</string>
		</dict>
		<key>pic_btn_zizhi_shenqitiqu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,668},{209,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,49}}</string>
			<key>sourceSize</key>
			<string>{209,49}</string>
		</dict>
		<key>pic_jp_zizhi_dijishuijing.png</key>
		<dict>
			<key>frame</key>
			<string>{{1390,538},{96,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{96,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>pic_jp_zizhi_fazhen.png</key>
		<dict>
			<key>frame</key>
			<string>{{1206,130},{280,292}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{280,292}}</string>
			<key>sourceSize</key>
			<string>{280,292}</string>
		</dict>
		<key>pic_jp_zizhi_fazhen_guiji.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,2},{430,461}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{430,461}}</string>
			<key>sourceSize</key>
			<string>{432,461}</string>
		</dict>
		<key>pic_jp_zizhi_fazhen_guiji_press_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,544},{219,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,122}}</string>
			<key>sourceSize</key>
			<string>{219,122}</string>
		</dict>
		<key>pic_jp_zizhi_fazhen_guiji_press_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1200,602},{20,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,114}}</string>
			<key>sourceSize</key>
			<string>{20,114}</string>
		</dict>
		<key>pic_jp_zizhi_gaojishuijing.png</key>
		<dict>
			<key>frame</key>
			<string>{{1127,624},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>pic_jp_zizhi_icon_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{502,647},{64,75}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{64,75}}</string>
			<key>sourceSize</key>
			<string>{66,75}</string>
		</dict>
		<key>pic_jp_zizhi_icon_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1663,648},{64,75}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{64,75}}</string>
			<key>sourceSize</key>
			<string>{66,75}</string>
		</dict>
		<key>pic_jp_zizhi_jiasu_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{1200,424},{201,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,100}}</string>
			<key>sourceSize</key>
			<string>{201,100}</string>
		</dict>
		<key>pic_jp_zizhi_suo.png</key>
		<dict>
			<key>frame</key>
			<string>{{1694,604},{33,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,36}}</string>
			<key>sourceSize</key>
			<string>{33,36}</string>
		</dict>
		<key>pic_jp_zizhi_taizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,465},{489,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{489,142}}</string>
			<key>sourceSize</key>
			<string>{489,142}</string>
		</dict>
		<key>pic_jp_zizhi_xiaoguoyulan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,658},{83,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,44}}</string>
			<key>sourceSize</key>
			<string>{83,44}</string>
		</dict>
		<key>pic_jp_zizhi_xiaoguoyulan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,658},{83,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,44}}</string>
			<key>sourceSize</key>
			<string>{83,44}</string>
		</dict>
		<key>pic_jp_zizhi_zhongjishuijing.png</key>
		<dict>
			<key>frame</key>
			<string>{{1025,616},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>pic_zizhi_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,616},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>pic_zizhi_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{821,616},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>pic_zizhi_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1933,578},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>pic_zizhi_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{736,643},{72,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,83}}</string>
			<key>sourceSize</key>
			<string>{72,83}</string>
		</dict>
		<key>pic_zizhi_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{1831,604},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>pic_zizhi_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{1729,604},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>pic_zizhi_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{1898,476},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>pic_zizhi_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{651,643},{72,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,83}}</string>
			<key>sourceSize</key>
			<string>{72,83}</string>
		</dict>
		<key>pic_zizhi_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{1796,502},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>pic_zizhi_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1694,502},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>pic_zizhi_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{1791,400},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>pic_zizhi_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{1689,400},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>pic_zizhi_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{1769,298},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>pic_zizhi_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{1800,196},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>pic_zizhi_dengji_dikuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,424},{40,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,22}}</string>
			<key>sourceSize</key>
			<string>{40,22}</string>
		</dict>
		<key>pic_zizhi_gaoji_biankuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1390,640},{84,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,96}}</string>
			<key>sourceSize</key>
			<string>{84,96}</string>
		</dict>
		<key>pic_zizhi_gaoji_dianliang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1589,425},{98,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,111}}</string>
			<key>sourceSize</key>
			<string>{98,111}</string>
		</dict>
		<key>pic_zizhi_gaoji_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{1577,648},{72,84}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,5},{72,84}}</string>
			<key>sourceSize</key>
			<string>{84,96}</string>
		</dict>
		<key>pic_zizhi_gaoji_mask.png</key>
		<dict>
			<key>frame</key>
			<string>{{1316,602},{72,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,83}}</string>
			<key>sourceSize</key>
			<string>{72,83}</string>
		</dict>
		<key>pic_zizhi_huobi_chendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,658},{107,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,28}}</string>
			<key>sourceSize</key>
			<string>{107,28}</string>
		</dict>
		<key>pic_zizhi_jiasushi_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{1390,2},{123,515}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,515}}</string>
			<key>sourceSize</key>
			<string>{123,515}</string>
		</dict>
		<key>pic_zizhi_jiasushi_diban_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,130},{292,407}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{292,407}}</string>
			<key>sourceSize</key>
			<string>{292,407}</string>
		</dict>
		<key>pic_zizhi_jiesuan_zizhitisheng_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{1488,127},{401,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{401,67}}</string>
			<key>sourceSize</key>
			<string>{401,67}</string>
		</dict>
		<key>pic_zizhi_jineng_LR.png</key>
		<dict>
			<key>frame</key>
			<string>{{651,643},{72,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,83}}</string>
			<key>sourceSize</key>
			<string>{72,83}</string>
		</dict>
		<key>pic_zizhi_jineng_UR.png</key>
		<dict>
			<key>frame</key>
			<string>{{736,643},{72,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,83}}</string>
			<key>sourceSize</key>
			<string>{72,83}</string>
		</dict>
		<key>pic_zizhi_jineng_biankuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1477,425},{110,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,110}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>pic_zizhi_jineng_dise.png</key>
		<dict>
			<key>frame</key>
			<string>{{1584,538},{108,108}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{108,108}}</string>
			<key>sourceSize</key>
			<string>{110,110}</string>
		</dict>
		<key>pic_zizhi_jineng_gaoji_biankuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1488,537},{94,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,104}}</string>
			<key>sourceSize</key>
			<string>{94,104}</string>
		</dict>
		<key>pic_zizhi_jineng_gaoji_dise.png</key>
		<dict>
			<key>frame</key>
			<string>{{1488,643},{75,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,87}}</string>
			<key>sourceSize</key>
			<string>{75,87}</string>
		</dict>
		<key>pic_zizhi_jinengjiesuo_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{361,540}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{361,540}}</string>
			<key>sourceSize</key>
			<string>{361,550}</string>
		</dict>
		<key>pic_zizhi_jinengjiesuo_diban_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1488,247},{258,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{258,35}}</string>
			<key>sourceSize</key>
			<string>{258,35}</string>
		</dict>
		<key>pic_zizhi_jinengjiesuo_diban_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1488,196},{310,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,30}}</string>
			<key>sourceSize</key>
			<string>{310,30}</string>
		</dict>
		<key>pic_zizhi_jinengjiesuo_diban_fengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,643},{320,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,2}}</string>
			<key>sourceSize</key>
			<string>{320,2}</string>
		</dict>
		<key>pic_zizhi_putong_biankuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,544},{63,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,63}}</string>
			<key>sourceSize</key>
			<string>{63,63}</string>
		</dict>
		<key>pic_zizhi_putong_dianliang.png</key>
		<dict>
			<key>frame</key>
			<string>{{568,643},{81,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,81}}</string>
			<key>sourceSize</key>
			<string>{81,81}</string>
		</dict>
		<key>pic_zizhi_putong_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{1229,624},{53,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,5},{53,53}}</string>
			<key>sourceSize</key>
			<string>{63,63}</string>
		</dict>
		<key>pic_zizhi_putong_mask.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,544},{53,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,53}}</string>
			<key>sourceSize</key>
			<string>{53,53}</string>
		</dict>
		<key>pic_zizhi_xiaoguoyulan_bj.png</key>
		<dict>
			<key>frame</key>
			<string>{{1907,2},{139,472}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,472}}</string>
			<key>sourceSize</key>
			<string>{139,472}</string>
		</dict>
		<key>pic_zizhi_xiaoguoyulan_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,609},{591,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{591,32}}</string>
			<key>sourceSize</key>
			<string>{591,32}</string>
		</dict>
		<key>pic_zizhi_xiaoguoyulan_diban_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1403,424},{112,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,72}}</string>
			<key>sourceSize</key>
			<string>{112,72}</string>
		</dict>
		<key>pic_zizhi_xiaoguoyulan_fengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{1902,127},{3,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{3,98}}</string>
			<key>sourceSize</key>
			<string>{3,98}</string>
		</dict>
		<key>pic_zizhi_xiaoguoyulan_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{1488,365},{156,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,58}}</string>
			<key>sourceSize</key>
			<string>{156,58}</string>
		</dict>
		<key>pic_zizhi_xuanzegedoujia_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{856,424},{342,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{342,190}}</string>
			<key>sourceSize</key>
			<string>{342,190}</string>
		</dict>
		<key>pic_zizhi_xuanzegedoujia_yixuanze.png</key>
		<dict>
			<key>frame</key>
			<string>{{1200,526},{188,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,74}}</string>
			<key>sourceSize</key>
			<string>{188,74}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>HeroGrowValue0.png</string>
		<key>size</key>
		<string>{2048,727}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>HeroGrowValue0.png</string>
	</dict>
</dict>
</plist>
