<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>di_xiaritouxiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>niao_xiaritouxiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,205},{57,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,28}}</string>
			<key>sourceSize</key>
			<string>{57,28}</string>
		</dict>
		<key>qi1_xiaritouxiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{61,205},{27,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,24}}</string>
			<key>sourceSize</key>
			<string>{27,24}</string>
		</dict>
		<key>qi2_xiaritouxiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{61,234},{20,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,22}}</string>
			<key>sourceSize</key>
			<string>{20,22}</string>
		</dict>
		<key>xx_xiaritouxiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,2},{86,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,71}}</string>
			<key>sourceSize</key>
			<string>{86,71}</string>
		</dict>
		<key>yu_xiaritouxiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,104},{87,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,95}}</string>
			<key>sourceSize</key>
			<string>{87,95}</string>
		</dict>
		<key>yun_xiaritouxiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,104},{99,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,80}}</string>
			<key>sourceSize</key>
			<string>{99,80}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>xiaritouxiangimage.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>xiaritouxiangimage.png</string>
	</dict>
</dict>
</plist>
