<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>huo002_patahuopenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,2},{120,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,89}}</string>
			<key>sourceSize</key>
			<string>{120,89}</string>
		</dict>
		<key>huo005_patahuopenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{120,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,89}}</string>
			<key>sourceSize</key>
			<string>{120,89}</string>
		</dict>
		<key>huo007_patahuopenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,2},{119,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,85}}</string>
			<key>sourceSize</key>
			<string>{119,85}</string>
		</dict>
		<key>huo009_patahuopenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,390},{110,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,83}}</string>
			<key>sourceSize</key>
			<string>{110,83}</string>
		</dict>
		<key>huo011_patahuopenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,395},{113,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,86}}</string>
			<key>sourceSize</key>
			<string>{113,86}</string>
		</dict>
		<key>huo013_patahuopenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,271},{118,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,89}}</string>
			<key>sourceSize</key>
			<string>{118,89}</string>
		</dict>
		<key>huo015_patahuopenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,184},{118,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,89}}</string>
			<key>sourceSize</key>
			<string>{118,89}</string>
		</dict>
		<key>huo017_patahuopenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,184},{118,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,89}}</string>
			<key>sourceSize</key>
			<string>{118,89}</string>
		</dict>
		<key>huo019_patahuopenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,275},{118,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,89}}</string>
			<key>sourceSize</key>
			<string>{118,89}</string>
		</dict>
		<key>huo021_patahuopenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,184},{118,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,89}}</string>
			<key>sourceSize</key>
			<string>{118,89}</string>
		</dict>
		<key>huo023_patahuopenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,180},{118,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,89}}</string>
			<key>sourceSize</key>
			<string>{118,89}</string>
		</dict>
		<key>huo025_patahuopenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,93},{118,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,89}}</string>
			<key>sourceSize</key>
			<string>{118,89}</string>
		</dict>
		<key>huo027_patahuopenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,275},{113,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,85}}</string>
			<key>sourceSize</key>
			<string>{113,85}</string>
		</dict>
		<key>huo029_patahuopenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,395},{113,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,85}}</string>
			<key>sourceSize</key>
			<string>{113,85}</string>
		</dict>
		<key>huo031_patahuopenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,93},{118,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,89}}</string>
			<key>sourceSize</key>
			<string>{118,89}</string>
		</dict>
		<key>huo033_patahuopenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,93},{118,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,89}}</string>
			<key>sourceSize</key>
			<string>{118,89}</string>
		</dict>
		<key>huo035_patahuopenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,89},{118,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,89}}</string>
			<key>sourceSize</key>
			<string>{118,89}</string>
		</dict>
		<key>huo037_patahuopenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{367,2},{118,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,89}}</string>
			<key>sourceSize</key>
			<string>{118,89}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>patahuopenimage.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>patahuopenimage.png</string>
	</dict>
</dict>
</plist>
