<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wy_10_10_83970_rfxrjcj26image.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,495},{316,375}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{316,375}}</string>
			<key>sourceSize</key>
			<string>{316,375}</string>
		</dict>
		<key>wy_11_11_6823_rfxrjcj26image.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,1485},{237,470}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{237,470}}</string>
			<key>sourceSize</key>
			<string>{237,470}</string>
		</dict>
		<key>wy_12_12_35646_rfxrjcj26image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,957},{557,526}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{557,526}}</string>
			<key>sourceSize</key>
			<string>{557,526}</string>
		</dict>
		<key>wy_13_13_91351_rfxrjcj26image.png</key>
		<dict>
			<key>frame</key>
			<string>{{571,872},{301,203}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{301,203}}</string>
			<key>sourceSize</key>
			<string>{301,203}</string>
		</dict>
		<key>wy_13_13_91352_rfxrjcj26image.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,192},{301,323}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{301,323}}</string>
			<key>sourceSize</key>
			<string>{301,323}</string>
		</dict>
		<key>wy_14_14_51292_rfxrjcj26image.png</key>
		<dict>
			<key>frame</key>
			<string>{{996,94},{24,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,29}}</string>
			<key>sourceSize</key>
			<string>{24,29}</string>
		</dict>
		<key>wy_15_15_67693_rfxrjcj26image.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,2},{50,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,94}}</string>
			<key>sourceSize</key>
			<string>{50,94}</string>
		</dict>
		<key>wy_16_16_77040_rfxrjcj26image.png</key>
		<dict>
			<key>frame</key>
			<string>{{1002,69},{10,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,12}}</string>
			<key>sourceSize</key>
			<string>{10,12}</string>
		</dict>
		<key>wy_17_17_32443_rfxrjcj26image.png</key>
		<dict>
			<key>frame</key>
			<string>{{893,777},{41,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{41,128}}</string>
			<key>sourceSize</key>
			<string>{43,130}</string>
		</dict>
		<key>wy_18_18_55568_rfxrjcj26image.png</key>
		<dict>
			<key>frame</key>
			<string>{{893,734},{41,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{41,128}}</string>
			<key>sourceSize</key>
			<string>{43,130}</string>
		</dict>
		<key>wy_19_19_85213_rfxrjcj26image.png</key>
		<dict>
			<key>frame</key>
			<string>{{893,691},{41,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{41,128}}</string>
			<key>sourceSize</key>
			<string>{43,130}</string>
		</dict>
		<key>wy_20_20_59164_rfxrjcj26image.png</key>
		<dict>
			<key>frame</key>
			<string>{{893,648},{41,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{41,128}}</string>
			<key>sourceSize</key>
			<string>{43,130}</string>
		</dict>
		<key>wy_21_21_85064_rfxrjcj26image.png</key>
		<dict>
			<key>frame</key>
			<string>{{893,605},{41,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{41,128}}</string>
			<key>sourceSize</key>
			<string>{43,130}</string>
		</dict>
		<key>wy_22_22_35297_rfxrjcj26image.png</key>
		<dict>
			<key>frame</key>
			<string>{{893,562},{41,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{41,128}}</string>
			<key>sourceSize</key>
			<string>{43,130}</string>
		</dict>
		<key>wy_23_23_78721_rfxrjcj26image.png</key>
		<dict>
			<key>frame</key>
			<string>{{874,933},{150,68}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,5},{150,68}}</string>
			<key>sourceSize</key>
			<string>{166,82}</string>
		</dict>
		<key>wy_2_2_39992_rfxrjcj26image.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,54},{38,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,77}}</string>
			<key>sourceSize</key>
			<string>{38,77}</string>
		</dict>
		<key>wy_3_3_73308_rfxrjcj26image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,561},{394,567}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{394,567}}</string>
			<key>sourceSize</key>
			<string>{394,567}</string>
		</dict>
		<key>wy_4_4_66784_rfxrjcj26image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1485},{298,557}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{298,557}}</string>
			<key>sourceSize</key>
			<string>{298,557}</string>
		</dict>
		<key>wy_50_50_34835_rfxrjcj26image.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,94},{146,71}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,71}}</string>
			<key>sourceSize</key>
			<string>{150,75}</string>
		</dict>
		<key>wy_56_56_59581_rfxrjcj26image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{919,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{919,188}}</string>
			<key>sourceSize</key>
			<string>{919,188}</string>
		</dict>
		<key>wy_59_59_771_rfxrjcj26image.png</key>
		<dict>
			<key>frame</key>
			<string>{{944,933},{61,55}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,6},{61,55}}</string>
			<key>sourceSize</key>
			<string>{65,61}</string>
		</dict>
		<key>wy_5_5_51962_rfxrjcj26image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,192},{367,571}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{367,571}}</string>
			<key>sourceSize</key>
			<string>{367,571}</string>
		</dict>
		<key>wy_6_6_81016_rfxrjcj26image.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,242},{115,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,318}}</string>
			<key>sourceSize</key>
			<string>{115,318}</string>
		</dict>
		<key>wy_7_7_80955_rfxrjcj26image.png</key>
		<dict>
			<key>frame</key>
			<string>{{561,1077},{171,267}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,267}}</string>
			<key>sourceSize</key>
			<string>{171,267}</string>
		</dict>
		<key>wy_8_8_40684_rfxrjcj26image.png</key>
		<dict>
			<key>frame</key>
			<string>{{893,820},{111,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,111}}</string>
			<key>sourceSize</key>
			<string>{111,111}</string>
		</dict>
		<key>wy_9_9_60873_rfxrjcj26image.png</key>
		<dict>
			<key>frame</key>
			<string>{{1002,54},{13,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,13}}</string>
			<key>sourceSize</key>
			<string>{13,13}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>rfxrjcj26image.png</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>rfxrjcj26image.png</string>
	</dict>
</dict>
</plist>
