<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_common_min_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,284},{93,63}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{93,63}}</string>
			<key>sourceSize</key>
			<string>{95,63}</string>
		</dict>
		<key>btn_common_min_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,189},{93,63}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{93,63}}</string>
			<key>sourceSize</key>
			<string>{95,63}</string>
		</dict>
		<key>btn_common_tiaozhan_blue_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,379},{185,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,47}}</string>
			<key>sourceSize</key>
			<string>{185,47}</string>
		</dict>
		<key>btn_common_tiaozhan_blue_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,2},{185,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,47}}</string>
			<key>sourceSize</key>
			<string>{185,47}</string>
		</dict>
		<key>btn_common_tiaozhan_yellow_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,365},{185,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,47}}</string>
			<key>sourceSize</key>
			<string>{185,47}</string>
		</dict>
		<key>btn_common_tiaozhan_yellow_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,178},{185,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,47}}</string>
			<key>sourceSize</key>
			<string>{185,47}</string>
		</dict>
		<key>btn_sldh_guize_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,566},{51,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{51,43}}</string>
			<key>sourceSize</key>
			<string>{51,51}</string>
		</dict>
		<key>btn_sldh_guize_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,566},{51,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{51,43}}</string>
			<key>sourceSize</key>
			<string>{51,51}</string>
		</dict>
		<key>pic_anniuchat_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{59,174}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,174}}</string>
			<key>sourceSize</key>
			<string>{59,174}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>global_btn50.png</string>
		<key>size</key>
		<string>{116,611}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>global_btn50.png</string>
	</dict>
</dict>
</plist>
