<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>number_share.png</key>
		<dict>
			<key>frame</key>
			<string>{{1502,2},{290,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{290,43}}</string>
			<key>sourceSize</key>
			<string>{290,43}</string>
		</dict>
		<key>pic_xuanyao__0000hhh.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{121,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,121}}</string>
			<key>sourceSize</key>
			<string>{121,121}</string>
		</dict>
		<key>pic_xuanyao__0001jjj.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,2},{902,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{902,119}}</string>
			<key>sourceSize</key>
			<string>{902,119}</string>
		</dict>
		<key>pic_xuanyao_yingxiongdi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1029,2},{471,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{471,102}}</string>
			<key>sourceSize</key>
			<string>{471,102}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ShareSpecialHeroUi0.png</string>
		<key>size</key>
		<string>{1794,125}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ShareSpecialHeroUi0.png</string>
	</dict>
</dict>
</plist>
