<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask01_kulatximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,115},{101,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,101}}</string>
			<key>sourceSize</key>
			<string>{101,101}</string>
		</dict>
		<key>wy_10_10_67101_kulatximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,243},{13,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,11}}</string>
			<key>sourceSize</key>
			<string>{13,11}</string>
		</dict>
		<key>wy_11_11_99630_kulatximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,218},{26,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,27}}</string>
			<key>sourceSize</key>
			<string>{26,27}</string>
		</dict>
		<key>wy_12_12_47526_kulatximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,218},{17,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,23}}</string>
			<key>sourceSize</key>
			<string>{17,23}</string>
		</dict>
		<key>wy_13_13_64412_kulatximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,243},{11,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,15}}</string>
			<key>sourceSize</key>
			<string>{11,15}</string>
		</dict>
		<key>wy_14_14_58429_kulatximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,62},{17,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,15}}</string>
			<key>sourceSize</key>
			<string>{17,15}</string>
		</dict>
		<key>wy_15_15_64779_kulatximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,218},{17,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,23}}</string>
			<key>sourceSize</key>
			<string>{17,23}</string>
		</dict>
		<key>wy_16_16_88266_kulatximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,62},{17,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,15}}</string>
			<key>sourceSize</key>
			<string>{17,15}</string>
		</dict>
		<key>wy_3_3_2034_kulatximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,2},{54,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,58}}</string>
			<key>sourceSize</key>
			<string>{54,58}</string>
		</dict>
		<key>wy_4_4_69674_kulatximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,218},{36,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,49}}</string>
			<key>sourceSize</key>
			<string>{36,49}</string>
		</dict>
		<key>wy_5_5_36114_kulatximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{92,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,111}}</string>
			<key>sourceSize</key>
			<string>{92,111}</string>
		</dict>
		<key>wy_6_6_70003_kulatximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,2},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>kulatximage.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>kulatximage.png</string>
	</dict>
</dict>
</plist>
