<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_hw_liumenbisha_boqiu_00021.png</key>
		<dict>
			<key>frame</key>
			<string>{{671,562},{309,305}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{309,305}}</string>
			<key>sourceSize</key>
			<string>{309,305}</string>
		</dict>
		<key>New_hw_liumenbisha_xuli_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,685},{188,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,180}}</string>
			<key>sourceSize</key>
			<string>{188,180}</string>
		</dict>
		<key>New_hw_liumenbisha_xuli_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,866},{166,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,155}}</string>
			<key>sourceSize</key>
			<string>{166,155}</string>
		</dict>
		<key>New_hw_putongbisha_quanji_00027.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,601},{192,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,83}}</string>
			<key>sourceSize</key>
			<string>{192,83}</string>
		</dict>
		<key>New_hw_putongbisha_quanji_00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{671,480},{317,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{317,81}}</string>
			<key>sourceSize</key>
			<string>{317,81}</string>
		</dict>
		<key>New_hw_putongbisha_shandian_00043.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,2},{206,598}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,598}}</string>
			<key>sourceSize</key>
			<string>{206,598}</string>
		</dict>
		<key>New_hw_putongbisha_shandian_00046.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{235,598}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,598}}</string>
			<key>sourceSize</key>
			<string>{235,598}</string>
		</dict>
		<key>New_hw_putongbisha_shandian_00050.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,2},{263,518}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{263,518}}</string>
			<key>sourceSize</key>
			<string>{263,518}</string>
		</dict>
		<key>New_hw_putongbisha_shandian_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,480},{225,509}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{225,509}}</string>
			<key>sourceSize</key>
			<string>{225,509}</string>
		</dict>
		<key>New_hw_putongbisha_shandian_00053.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,266},{213,510}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,510}}</string>
			<key>sourceSize</key>
			<string>{213,510}</string>
		</dict>
		<key>New_hw_xiaojineng_daoguang_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,601},{248,410}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{248,410}}</string>
			<key>sourceSize</key>
			<string>{248,410}</string>
		</dict>
		<key>New_hw_xiaojineng_daoguang_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{671,868},{146,287}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{146,287}}</string>
			<key>sourceSize</key>
			<string>{148,287}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>ejthwxv_common1.png</string>
		<key>scale</key>
		<real>0.69</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ejthwxv_common1.png</string>
	</dict>
</dict>
</plist>
