<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>a_biaoqing1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,385},{59,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,67}}</string>
			<key>sourceSize</key>
			<string>{59,67}</string>
		</dict>
		<key>a_biaoqing2_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,316},{59,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,67}}</string>
			<key>sourceSize</key>
			<string>{59,67}</string>
		</dict>
		<key>a_biaoqing3_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,316},{59,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,68}}</string>
			<key>sourceSize</key>
			<string>{59,68}</string>
		</dict>
		<key>a_biaoqing4_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,386},{59,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,67}}</string>
			<key>sourceSize</key>
			<string>{59,67}</string>
		</dict>
		<key>a_dabi_you_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,284},{49,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,47}}</string>
			<key>sourceSize</key>
			<string>{49,47}</string>
		</dict>
		<key>a_dabi_zuo_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,233},{50,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,49}}</string>
			<key>sourceSize</key>
			<string>{50,49}</string>
		</dict>
		<key>a_datui_you_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,78},{55,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,69}}</string>
			<key>sourceSize</key>
			<string>{55,69}</string>
		</dict>
		<key>a_datui_zuo2_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,117},{46,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,51}}</string>
			<key>sourceSize</key>
			<string>{46,51}</string>
		</dict>
		<key>a_datui_zuo_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,366},{47,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,62}}</string>
			<key>sourceSize</key>
			<string>{47,62}</string>
		</dict>
		<key>a_fajie1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,170},{45,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,37}}</string>
			<key>sourceSize</key>
			<string>{45,37}</string>
		</dict>
		<key>a_hudiejie1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,149},{22,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,14}}</string>
			<key>sourceSize</key>
			<string>{22,14}</string>
		</dict>
		<key>a_hudiejie2_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,191},{20,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,18}}</string>
			<key>sourceSize</key>
			<string>{20,18}</string>
		</dict>
		<key>a_hudiejie_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,491},{29,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,19}}</string>
			<key>sourceSize</key>
			<string>{29,19}</string>
		</dict>
		<key>a_qugan1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,66},{59,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,59}}</string>
			<key>sourceSize</key>
			<string>{59,59}</string>
		</dict>
		<key>a_shou_you1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,443},{32,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,28}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>a_shou_you2_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,379},{30,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,25}}</string>
			<key>sourceSize</key>
			<string>{30,25}</string>
		</dict>
		<key>a_shou_zuo1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,418},{29,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,37}}</string>
			<key>sourceSize</key>
			<string>{29,37}</string>
		</dict>
		<key>a_shou_zuo2_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,477},{27,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,32}}</string>
			<key>sourceSize</key>
			<string>{27,32}</string>
		</dict>
		<key>a_xiaobi_you_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,280},{34,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,31}}</string>
			<key>sourceSize</key>
			<string>{34,31}</string>
		</dict>
		<key>a_xiaobi_zuo_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,457},{34,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,29}}</string>
			<key>sourceSize</key>
			<string>{34,29}</string>
		</dict>
		<key>a_xiaotui_you_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,455},{55,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,60}}</string>
			<key>sourceSize</key>
			<string>{55,60}</string>
		</dict>
		<key>a_xiaotui_zuo2_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,72},{66,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,61}}</string>
			<key>sourceSize</key>
			<string>{66,61}</string>
		</dict>
		<key>a_xiaotui_zuo_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,165},{59,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,63}}</string>
			<key>sourceSize</key>
			<string>{59,63}</string>
		</dict>
		<key>a_xie_you1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,333},{36,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,33}}</string>
			<key>sourceSize</key>
			<string>{36,33}</string>
		</dict>
		<key>a_xie_you_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,133},{42,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,30}}</string>
			<key>sourceSize</key>
			<string>{42,30}</string>
		</dict>
		<key>a_xie_zuo_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,379},{25,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,28}}</string>
			<key>sourceSize</key>
			<string>{25,28}</string>
		</dict>
		<key>a_xiuzi_you1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,268},{16,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,26}}</string>
			<key>sourceSize</key>
			<string>{16,26}</string>
		</dict>
		<key>a_xiuzi_zuo1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,491},{19,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,26}}</string>
			<key>sourceSize</key>
			<string>{19,26}</string>
		</dict>
		<key>a_yaobu1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,165},{53,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,33}}</string>
			<key>sourceSize</key>
			<string>{53,33}</string>
		</dict>
		<key>a_zui_zhang2_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,2},{59,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,68}}</string>
			<key>sourceSize</key>
			<string>{59,68}</string>
		</dict>
		<key>b_dabi_yuo1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,421},{47,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,32}}</string>
			<key>sourceSize</key>
			<string>{47,32}</string>
		</dict>
		<key>b_dabi_zuo1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,209},{47,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,52}}</string>
			<key>sourceSize</key>
			<string>{47,52}</string>
		</dict>
		<key>b_dabi_zuo2_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,263},{49,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,49}}</string>
			<key>sourceSize</key>
			<string>{49,49}</string>
		</dict>
		<key>b_datui_nei1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,232},{52,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,64}}</string>
			<key>sourceSize</key>
			<string>{52,64}</string>
		</dict>
		<key>b_datui_nei2_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,165},{74,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,43}}</string>
			<key>sourceSize</key>
			<string>{74,43}</string>
		</dict>
		<key>b_datui_ti1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,430},{62,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,46}}</string>
			<key>sourceSize</key>
			<string>{62,46}</string>
		</dict>
		<key>b_datui_wai1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,2},{52,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,62}}</string>
			<key>sourceSize</key>
			<string>{52,62}</string>
		</dict>
		<key>b_datui_wai2_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{45,2},{74,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,43}}</string>
			<key>sourceSize</key>
			<string>{74,43}</string>
		</dict>
		<key>b_datui_wai3_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{41,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,80}}</string>
			<key>sourceSize</key>
			<string>{41,80}</string>
		</dict>
		<key>b_qugan1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{249,294},{56,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,60}}</string>
			<key>sourceSize</key>
			<string>{56,60}</string>
		</dict>
		<key>b_qugan2_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,454},{56,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,66}}</string>
			<key>sourceSize</key>
			<string>{56,66}</string>
		</dict>
		<key>b_shou1 _dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{459,406},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{28,30}</string>
		</dict>
		<key>b_shou1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,439},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{28,30}</string>
		</dict>
		<key>b_tuinei_bu1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,241},{73,66}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{73,66}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>b_xia1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,138},{38,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,25}}</string>
			<key>sourceSize</key>
			<string>{38,25}</string>
		</dict>
		<key>b_xia2_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,470},{38,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,26}}</string>
			<key>sourceSize</key>
			<string>{38,26}</string>
		</dict>
		<key>b_xiaobi_you1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,140},{36,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,23}}</string>
			<key>sourceSize</key>
			<string>{36,23}</string>
		</dict>
		<key>b_xiaobi_zuo1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{369,371},{31,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,34}}</string>
			<key>sourceSize</key>
			<string>{31,34}</string>
		</dict>
		<key>b_xiaobi_zuo2_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{459,348},{33,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,29}}</string>
			<key>sourceSize</key>
			<string>{33,29}</string>
		</dict>
		<key>b_xiaotui_nei1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,2},{59,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,66}}</string>
			<key>sourceSize</key>
			<string>{59,66}</string>
		</dict>
		<key>b_xiaotui_nei2_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,374},{63,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,64}}</string>
			<key>sourceSize</key>
			<string>{63,64}</string>
		</dict>
		<key>b_xiaotui_ti1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,84},{79,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,64}}</string>
			<key>sourceSize</key>
			<string>{79,64}</string>
		</dict>
		<key>b_xiaotui_wai1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,440},{62,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,64}}</string>
			<key>sourceSize</key>
			<string>{62,64}</string>
		</dict>
		<key>b_xiaotui_wai2_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,165},{72,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,68}}</string>
			<key>sourceSize</key>
			<string>{72,68}</string>
		</dict>
		<key>b_xiaotui_wai3_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{188,70},{66,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,43}}</string>
			<key>sourceSize</key>
			<string>{66,43}</string>
		</dict>
		<key>b_yanbq1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,2},{56,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,65}}</string>
			<key>sourceSize</key>
			<string>{56,65}</string>
		</dict>
		<key>b_yanbq2_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,69},{56,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,65}}</string>
			<key>sourceSize</key>
			<string>{56,65}</string>
		</dict>
		<key>b_yanbq3_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,165},{56,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,65}}</string>
			<key>sourceSize</key>
			<string>{56,65}</string>
		</dict>
		<key>b_yanbq4_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,233},{56,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,65}}</string>
			<key>sourceSize</key>
			<string>{56,65}</string>
		</dict>
		<key>b_yaobu1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,371},{48,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,35}}</string>
			<key>sourceSize</key>
			<string>{48,35}</string>
		</dict>
		<key>b_yaobu2_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,371},{45,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,32}}</string>
			<key>sourceSize</key>
			<string>{45,32}</string>
		</dict>
		<key>c_dabi_you_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,200},{31,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,53}}</string>
			<key>sourceSize</key>
			<string>{31,53}</string>
		</dict>
		<key>c_dabi_zuo_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,313},{38,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,56}}</string>
			<key>sourceSize</key>
			<string>{38,56}</string>
		</dict>
		<key>c_datui_you_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,2},{44,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,59}}</string>
			<key>sourceSize</key>
			<string>{44,59}</string>
		</dict>
		<key>c_datui_zuo_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,230},{47,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,62}}</string>
			<key>sourceSize</key>
			<string>{47,62}</string>
		</dict>
		<key>c_ixuzi_zuo_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,494},{16,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,32}}</string>
			<key>sourceSize</key>
			<string>{16,32}</string>
		</dict>
		<key>c_qugan1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,366},{58,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,61}}</string>
			<key>sourceSize</key>
			<string>{58,61}</string>
		</dict>
		<key>c_shou_you_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,238},{28,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,17}}</string>
			<key>sourceSize</key>
			<string>{28,17}</string>
		</dict>
		<key>c_shou_zuo_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,158},{31,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,20}}</string>
			<key>sourceSize</key>
			<string>{31,20}</string>
		</dict>
		<key>c_xiaobi_you_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{267,136},{44,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,27}}</string>
			<key>sourceSize</key>
			<string>{44,27}</string>
		</dict>
		<key>c_xiaobi_zuo_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,344},{33,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,32}}</string>
			<key>sourceSize</key>
			<string>{33,32}</string>
		</dict>
		<key>c_xiaotui_you_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,2},{53,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,56}}</string>
			<key>sourceSize</key>
			<string>{53,56}</string>
		</dict>
		<key>c_xiaotui_zuo_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,429},{59,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{59,60}}</string>
			<key>sourceSize</key>
			<string>{61,60}</string>
		</dict>
		<key>c_xiuzi_you_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,494},{16,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,27}}</string>
			<key>sourceSize</key>
			<string>{16,27}</string>
		</dict>
		<key>c_yaobu1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,226},{52,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,34}}</string>
			<key>sourceSize</key>
			<string>{52,34}</string>
		</dict>
		<key>c_zui1 _dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,165},{61,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,66}}</string>
			<key>sourceSize</key>
			<string>{61,66}</string>
		</dict>
		<key>c_zui1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,239},{61,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,66}}</string>
			<key>sourceSize</key>
			<string>{61,66}</string>
		</dict>
		<key>d_dabi1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,63},{22,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,58}}</string>
			<key>sourceSize</key>
			<string>{22,58}</string>
		</dict>
		<key>d_dabi2_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,230},{28,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,60}}</string>
			<key>sourceSize</key>
			<string>{28,60}</string>
		</dict>
		<key>d_qugan2_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,165},{59,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,59}}</string>
			<key>sourceSize</key>
			<string>{59,59}</string>
		</dict>
		<key>d_qugaxn1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,69},{61,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,62}}</string>
			<key>sourceSize</key>
			<string>{61,62}</string>
		</dict>
		<key>d_toux1 _dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,307},{60,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,65}}</string>
			<key>sourceSize</key>
			<string>{60,65}</string>
		</dict>
		<key>d_toux1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,2},{60,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,65}}</string>
			<key>sourceSize</key>
			<string>{60,65}</string>
		</dict>
		<key>d_xiaobi1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,318},{28,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,34}}</string>
			<key>sourceSize</key>
			<string>{28,34}</string>
		</dict>
		<key>d_xiaobi2_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{393,333},{29,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,34}}</string>
			<key>sourceSize</key>
			<string>{29,34}</string>
		</dict>
		<key>d_xiuzi1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,149},{14,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,30}}</string>
			<key>sourceSize</key>
			<string>{14,30}</string>
		</dict>
		<key>d_xiuzi2_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,149},{11,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,26}}</string>
			<key>sourceSize</key>
			<string>{11,26}</string>
		</dict>
		<key>dabi_bu1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,60},{55,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,46}}</string>
			<key>sourceSize</key>
			<string>{55,46}</string>
		</dict>
		<key>dabi_bu2_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,127},{36,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,58}}</string>
			<key>sourceSize</key>
			<string>{36,58}</string>
		</dict>
		<key>qugan_bu1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,300},{61,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,64}}</string>
			<key>sourceSize</key>
			<string>{61,64}</string>
		</dict>
		<key>shou10_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,471},{27,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,25}}</string>
			<key>sourceSize</key>
			<string>{27,25}</string>
		</dict>
		<key>shou11_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,138},{25,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,35}}</string>
			<key>sourceSize</key>
			<string>{25,35}</string>
		</dict>
		<key>shou12_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,139},{22,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,26}}</string>
			<key>sourceSize</key>
			<string>{22,26}</string>
		</dict>
		<key>shou13_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,123},{20,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,33}}</string>
			<key>sourceSize</key>
			<string>{20,33}</string>
		</dict>
		<key>shou14_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,314},{28,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,34}}</string>
			<key>sourceSize</key>
			<string>{28,34}</string>
		</dict>
		<key>shou15_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,407},{28,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,34}}</string>
			<key>sourceSize</key>
			<string>{28,34}</string>
		</dict>
		<key>shou16_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,104},{22,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,33}}</string>
			<key>sourceSize</key>
			<string>{22,33}</string>
		</dict>
		<key>shou17_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,39},{32,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,23}}</string>
			<key>sourceSize</key>
			<string>{32,23}</string>
		</dict>
		<key>shou18_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,477},{31,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,30}}</string>
			<key>sourceSize</key>
			<string>{31,30}</string>
		</dict>
		<key>shou19_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,378},{26,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,33}}</string>
			<key>sourceSize</key>
			<string>{26,33}</string>
		</dict>
		<key>shou1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,407},{31,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,29}}</string>
			<key>sourceSize</key>
			<string>{31,29}</string>
		</dict>
		<key>shou20_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,406},{26,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,31}}</string>
			<key>sourceSize</key>
			<string>{26,31}</string>
		</dict>
		<key>shou2_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,2},{35,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,23}}</string>
			<key>sourceSize</key>
			<string>{35,23}</string>
		</dict>
		<key>shou3_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,211},{25,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,19}}</string>
			<key>sourceSize</key>
			<string>{25,19}</string>
		</dict>
		<key>shou4_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,255},{24,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,25}}</string>
			<key>sourceSize</key>
			<string>{24,25}</string>
		</dict>
		<key>shou5_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,282},{28,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,34}}</string>
			<key>sourceSize</key>
			<string>{28,34}</string>
		</dict>
		<key>shou6_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,440},{31,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,28}}</string>
			<key>sourceSize</key>
			<string>{31,28}</string>
		</dict>
		<key>shou7_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,73},{29,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,23}}</string>
			<key>sourceSize</key>
			<string>{29,23}</string>
		</dict>
		<key>shou8_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,227},{26,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,24}}</string>
			<key>sourceSize</key>
			<string>{26,24}</string>
		</dict>
		<key>shou9_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,167},{25,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,22}}</string>
			<key>sourceSize</key>
			<string>{25,22}</string>
		</dict>
		<key>xiaobi_bu1_dazhengxueshengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,194},{24,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,31}}</string>
			<key>sourceSize</key>
			<string>{24,31}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>dazhengxueshengimage.png</string>
		<key>scale</key>
		<real>0.6</real>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dazhengxueshengimage.png</string>
	</dict>
</dict>
</plist>
