<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_anniu_huangse_goumaiyong_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,674},{156,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,61}}</string>
			<key>sourceSize</key>
			<string>{156,61}</string>
		</dict>
		<key>pic_anniu_huangse_goumaiyong_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,674},{156,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,61}}</string>
			<key>sourceSize</key>
			<string>{156,61}</string>
		</dict>
		<key>pic_huodong_dazhuanpan_xingyunbang_taitou.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,520},{284,47}}</string>
			<key>offset</key>
			<string>{-13,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{284,47}}</string>
			<key>sourceSize</key>
			<string>{310,49}</string>
		</dict>
		<key>pic_zhongchou_banzidiban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,520},{216,312}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,312}}</string>
			<key>sourceSize</key>
			<string>{216,312}</string>
		</dict>
		<key>pic_zhongchou_dabaoxiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,641},{79,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,66}}</string>
			<key>sourceSize</key>
			<string>{79,66}</string>
		</dict>
		<key>pic_zhongchou_dadiban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{882,516}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{882,516}}</string>
			<key>sourceSize</key>
			<string>{882,516}</string>
		</dict>
		<key>pic_zhongchou_jindutiaofaguang.png</key>
		<dict>
			<key>frame</key>
			<string>{{886,2},{637,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{637,26}}</string>
			<key>sourceSize</key>
			<string>{637,26}</string>
		</dict>
		<key>pic_zhongchou_lashendibanjiantouhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{829,674},{54,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,30}}</string>
			<key>sourceSize</key>
			<string>{54,30}</string>
		</dict>
		<key>pic_zhongchou_pinjiefaguangdian.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,641},{442,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{442,31}}</string>
			<key>sourceSize</key>
			<string>{442,31}</string>
		</dict>
		<key>pic_zhongchou_xiaobaoxiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{770,674},{59,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,57}}</string>
			<key>sourceSize</key>
			<string>{59,57}</string>
		</dict>
		<key>pic_zhongchou_xuanzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,641},{68,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,68}}</string>
			<key>sourceSize</key>
			<string>{68,68}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ActivityCrowdfundingUi0.png</string>
		<key>size</key>
		<string>{914,738}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ActivityCrowdfundingUi0.png</string>
	</dict>
</dict>
</plist>
