<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>anying_shishizhandouchangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,904},{71,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,96}}</string>
			<key>sourceSize</key>
			<string>{71,96}</string>
		</dict>
		<key>anying_shishizhandouchangjingimage_shishizhandouchangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{43,904},{71,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,96}}</string>
			<key>sourceSize</key>
			<string>{71,96}</string>
		</dict>
		<key>bg_shishizhandouchangjingimage.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{900,507}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{900,507}}</string>
			<key>sourceSize</key>
			<string>{900,507}</string>
		</dict>
		<key>geboa01_shishizhandouchangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,997},{25,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,53}}</string>
			<key>sourceSize</key>
			<string>{25,53}</string>
		</dict>
		<key>geboa02_shishizhandouchangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,904},{32,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,56}}</string>
			<key>sourceSize</key>
			<string>{32,56}</string>
		</dict>
		<key>gebob_shishizhandouchangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,997},{25,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,45}}</string>
			<key>sourceSize</key>
			<string>{25,45}</string>
		</dict>
		<key>geboc_shishizhandouchangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,904},{24,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,31}}</string>
			<key>sourceSize</key>
			<string>{24,31}</string>
		</dict>
		<key>gebod_shishizhandouchangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,962},{56,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,31}}</string>
			<key>sourceSize</key>
			<string>{56,31}</string>
		</dict>
		<key>guangyun_shishizhandouchangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,904},{100,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,39}}</string>
			<key>sourceSize</key>
			<string>{100,39}</string>
		</dict>
		<key>leg_shishizhandouchangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,1002},{29,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,18}}</string>
			<key>sourceSize</key>
			<string>{29,18}</string>
		</dict>
		<key>mask1_shishizhandouchangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,904},{70,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,60}}</string>
			<key>sourceSize</key>
			<string>{70,60}</string>
		</dict>
		<key>mask1_shishizhandouchangjingimage_shishizhandouchangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,904},{70,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,60}}</string>
			<key>sourceSize</key>
			<string>{70,60}</string>
		</dict>
		<key>pingmuxuehua_shishizhandouchangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,976},{70,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,39}}</string>
			<key>sourceSize</key>
			<string>{70,39}</string>
		</dict>
		<key>qiubian_shishizhandouchangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,945},{30,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,38}}</string>
			<key>sourceSize</key>
			<string>{30,38}</string>
		</dict>
		<key>qiuqiu_shishizhandouchangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,904},{91,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,91}}</string>
			<key>sourceSize</key>
			<string>{91,91}</string>
		</dict>
		<key>qiushang_shishizhandouchangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,944},{38,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,30}}</string>
			<key>sourceSize</key>
			<string>{38,30}</string>
		</dict>
		<key>qiushangkou_shishizhandouchangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,1002},{29,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,10}}</string>
			<key>sourceSize</key>
			<string>{29,10}</string>
		</dict>
		<key>qiuxia_shishizhandouchangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,904},{38,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,30}}</string>
			<key>sourceSize</key>
			<string>{38,30}</string>
		</dict>
		<key>qiuxiakou_shishizhandouchangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{24,1006},{29,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,10}}</string>
			<key>sourceSize</key>
			<string>{29,10}</string>
		</dict>
		<key>zi8_shishizhandouchangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,944},{21,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,38}}</string>
			<key>sourceSize</key>
			<string>{21,38}</string>
		</dict>
		<key>zi9_shishizhandouchangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,904},{23,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,38}}</string>
			<key>sourceSize</key>
			<string>{23,38}</string>
		</dict>
		<key>zif_shishizhandouchangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,985},{29,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,36}}</string>
			<key>sourceSize</key>
			<string>{29,36}</string>
		</dict>
		<key>zihhong_shishizhandouchangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{13,1006},{12,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,9}}</string>
			<key>sourceSize</key>
			<string>{12,9}</string>
		</dict>
		<key>zihlv_shishizhandouchangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1006},{13,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,9}}</string>
			<key>sourceSize</key>
			<string>{13,9}</string>
		</dict>
		<key>zik_shishizhandouchangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,985},{32,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,35}}</string>
			<key>sourceSize</key>
			<string>{32,35}</string>
		</dict>
		<key>zio_shishizhandouchangjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,904},{28,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,39}}</string>
			<key>sourceSize</key>
			<string>{28,39}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>shishizhandouchangjingimage.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>shishizhandouchangjingimage.png</string>
	</dict>
</dict>
</plist>
