<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>chonghy_p01_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{652,892},{90,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,88}}</string>
			<key>sourceSize</key>
			<string>{90,88}</string>
		</dict>
		<key>chonghy_p02_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,854},{149,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,127}}</string>
			<key>sourceSize</key>
			<string>{149,127}</string>
		</dict>
		<key>chonghy_p03_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,191},{201,158}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,158}}</string>
			<key>sourceSize</key>
			<string>{205,158}</string>
		</dict>
		<key>chonghy_p04_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,173},{209,173}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,173}}</string>
			<key>sourceSize</key>
			<string>{219,173}</string>
		</dict>
		<key>chonghy_p05_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{221,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,169}}</string>
			<key>sourceSize</key>
			<string>{221,169}</string>
		</dict>
		<key>chonghy_p06_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{851,187},{170,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,156}}</string>
			<key>sourceSize</key>
			<string>{170,156}</string>
		</dict>
		<key>chonghy_p07_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,854},{100,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,147}}</string>
			<key>sourceSize</key>
			<string>{100,147}</string>
		</dict>
		<key>chonghy_p08_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,849},{96,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,136}}</string>
			<key>sourceSize</key>
			<string>{96,136}</string>
		</dict>
		<key>chonghy_p09_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{546,588},{88,130}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,130}}</string>
			<key>sourceSize</key>
			<string>{92,130}</string>
		</dict>
		<key>chonghy_p10_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,757},{95,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,122}}</string>
			<key>sourceSize</key>
			<string>{95,122}</string>
		</dict>
		<key>hun_p01_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,638},{149,158}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,158}}</string>
			<key>sourceSize</key>
			<string>{149,160}</string>
		</dict>
		<key>hun_p02_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,539},{129,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,163}}</string>
			<key>sourceSize</key>
			<string>{129,163}</string>
		</dict>
		<key>hun_p03_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,750},{102,157}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,157}}</string>
			<key>sourceSize</key>
			<string>{102,159}</string>
		</dict>
		<key>hun_p04_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,854},{81,150}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,150}}</string>
			<key>sourceSize</key>
			<string>{81,152}</string>
		</dict>
		<key>hun_p05_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{652,800},{90,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,104}}</string>
			<key>sourceSize</key>
			<string>{90,104}</string>
		</dict>
		<key>huoyan_p101_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{920,651},{93,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,107}}</string>
			<key>sourceSize</key>
			<string>{93,107}</string>
		</dict>
		<key>huoyan_p102_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{683,714},{84,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{84,111}}</string>
			<key>sourceSize</key>
			<string>{86,111}</string>
		</dict>
		<key>huoyan_p103_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{558,846},{92,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,118}}</string>
			<key>sourceSize</key>
			<string>{92,118}</string>
		</dict>
		<key>huoyan_p104_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{796,753},{92,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,109}}</string>
			<key>sourceSize</key>
			<string>{92,109}</string>
		</dict>
		<key>huoyan_p201_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{907,760},{90,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,107}}</string>
			<key>sourceSize</key>
			<string>{90,107}</string>
		</dict>
		<key>huoyan_p202_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,770},{94,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,74}}</string>
			<key>sourceSize</key>
			<string>{94,74}</string>
		</dict>
		<key>huoyan_p203_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,789},{60,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,49}}</string>
			<key>sourceSize</key>
			<string>{60,49}</string>
		</dict>
		<key>jibao_p01_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,351},{192,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,121}}</string>
			<key>sourceSize</key>
			<string>{192,121}</string>
		</dict>
		<key>jibao_p02_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{421,206},{197,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,124}}</string>
			<key>sourceSize</key>
			<string>{197,124}</string>
		</dict>
		<key>jibao_p03_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{421,332},{197,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,120}}</string>
			<key>sourceSize</key>
			<string>{197,120}</string>
		</dict>
		<key>jibao_p04_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{827,537},{187,112}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{187,112}}</string>
			<key>sourceSize</key>
			<string>{191,112}</string>
		</dict>
		<key>jibao_p05_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{620,206},{179,23}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,23}}</string>
			<key>sourceSize</key>
			<string>{179,27}</string>
		</dict>
		<key>jibao_p06_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{620,387},{160,15}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{160,15}}</string>
			<key>sourceSize</key>
			<string>{168,27}</string>
		</dict>
		<key>ranshao_p101_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,585},{84,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,163}}</string>
			<key>sourceSize</key>
			<string>{84,163}</string>
		</dict>
		<key>ranshao_p102_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{851,2},{93,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,171}}</string>
			<key>sourceSize</key>
			<string>{93,171}</string>
		</dict>
		<key>ranshao_p103_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,548},{88,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{88,166}}</string>
			<key>sourceSize</key>
			<string>{90,166}</string>
		</dict>
		<key>ranshao_p104_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{851,97},{88,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,171}}</string>
			<key>sourceSize</key>
			<string>{88,171}</string>
		</dict>
		<key>ranshao_p105_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{637,540},{84,170}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,170}}</string>
			<key>sourceSize</key>
			<string>{86,170}</string>
		</dict>
		<key>ranshao_p106_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,400},{93,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,168}}</string>
			<key>sourceSize</key>
			<string>{93,168}</string>
		</dict>
		<key>ranshao_p201_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,454},{92,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,168}}</string>
			<key>sourceSize</key>
			<string>{92,168}</string>
		</dict>
		<key>ranshao_p202_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{849,345},{84,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{84,170}}</string>
			<key>sourceSize</key>
			<string>{86,170}</string>
		</dict>
		<key>ranshao_p203_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,495},{88,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,168}}</string>
			<key>sourceSize</key>
			<string>{88,168}</string>
		</dict>
		<key>ranshao_p204_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,626},{86,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,166}}</string>
			<key>sourceSize</key>
			<string>{86,166}</string>
		</dict>
		<key>ranshao_p205_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{548,454},{67,132}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{67,132}}</string>
			<key>sourceSize</key>
			<string>{71,134}</string>
		</dict>
		<key>shanguang_p01_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,851},{142,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,92}}</string>
			<key>sourceSize</key>
			<string>{142,92}</string>
		</dict>
		<key>shanguang_p02_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{839,431},{175,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,104}}</string>
			<key>sourceSize</key>
			<string>{175,104}</string>
		</dict>
		<key>shanguang_p03_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,671},{158,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,84}}</string>
			<key>sourceSize</key>
			<string>{158,84}</string>
		</dict>
		<key>shengbo_a01_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{804,651},{100,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,114}}</string>
			<key>sourceSize</key>
			<string>{100,114}</string>
		</dict>
		<key>shengbo_a02_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,2},{187,203}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,203}}</string>
			<key>sourceSize</key>
			<string>{187,203}</string>
		</dict>
		<key>shengbo_a03_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,198},{206,200}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,200}}</string>
			<key>sourceSize</key>
			<string>{208,200}</string>
		</dict>
		<key>shengbo_a04_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,348},{204,189}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{204,189}}</string>
			<key>sourceSize</key>
			<string>{208,189}</string>
		</dict>
		<key>shengbo_a05_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{436,2},{208,202}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{208,202}}</string>
			<key>sourceSize</key>
			<string>{210,202}</string>
		</dict>
		<key>shengbo_a06_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,2},{209,194}}</string>
			<key>offset</key>
			<string>{-1,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,14},{209,194}}</string>
			<key>sourceSize</key>
			<string>{211,208}</string>
		</dict>
		<key>shengbo_a07_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,670},{78,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{78,162}}</string>
			<key>sourceSize</key>
			<string>{78,164}</string>
		</dict>
		<key>shux_p01_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{546,720},{48,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,135}}</string>
			<key>sourceSize</key>
			<string>{48,135}</string>
		</dict>
		<key>shux_p02_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{637,474},{64,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,188}}</string>
			<key>sourceSize</key>
			<string>{64,188}</string>
		</dict>
		<key>shux_p03_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,789},{58,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,136}}</string>
			<key>sourceSize</key>
			<string>{58,136}</string>
		</dict>
		<key>shux_p04_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,638},{52,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,130}}</string>
			<key>sourceSize</key>
			<string>{52,130}</string>
		</dict>
		<key>shux_p05_tiangouxintexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{508,846},{48,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,120}}</string>
			<key>sourceSize</key>
			<string>{48,120}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>tiangouxintexiaoimage.png</string>
		<key>scale</key>
		<real>0.4</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>tiangouxintexiaoimage.png</string>
	</dict>
</dict>
</plist>
