<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_xszm_tc_gmts_jh_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1325,285},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>btn_xszm_tc_gmts_jh_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1381,281},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>btn_xszm_tc_gmts_jiah_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1381,239},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>btn_xszm_tc_gmts_jiah_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1381,197},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>pic_lyzb_huobidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{872,479},{199,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,25}}</string>
			<key>sourceSize</key>
			<string>{199,25}</string>
		</dict>
		<key>pic_xssd_sd_dadiban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{868,508}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{868,508}}</string>
			<key>sourceSize</key>
			<string>{868,508}</string>
		</dict>
		<key>pic_xssd_sd_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{1291,2},{156,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,193}}</string>
			<key>sourceSize</key>
			<string>{156,193}</string>
		</dict>
		<key>pic_xszm_huobi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1291,197},{86,88}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,4},{86,88}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>pic_xszm_tc_gmtishi_dadiban.png</key>
		<dict>
			<key>frame</key>
			<string>{{872,2},{417,475}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{417,475}}</string>
			<key>sourceSize</key>
			<string>{417,475}</string>
		</dict>
		<key>pic_xszm_tc_gmts_shuzidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1291,323},{161,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,32}}</string>
			<key>sourceSize</key>
			<string>{161,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>NewTimeLimitDraw030.png</string>
		<key>size</key>
		<string>{1449,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>NewTimeLimitDraw030.png</string>
	</dict>
</dict>
</plist>
