<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Pic_zaikaishici.png</key>
		<dict>
			<key>frame</key>
			<string>{{762,129},{61,27}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{61,27}}</string>
			<key>sourceSize</key>
			<string>{65,27}</string>
		</dict>
		<key>bg_shop_tubiaokaungjin_smsp.png</key>
		<dict>
			<key>frame</key>
			<string>{{1513,2},{286,214}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{286,214}}</string>
			<key>sourceSize</key>
			<string>{286,214}</string>
		</dict>
		<key>btn_common_add_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{528,162},{54,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,55}}</string>
			<key>sourceSize</key>
			<string>{54,55}</string>
		</dict>
		<key>btn_common_addadd_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{687,162},{49,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{49,51}}</string>
			<key>sourceSize</key>
			<string>{51,51}</string>
		</dict>
		<key>btn_common_addadd_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,162},{49,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{49,51}}</string>
			<key>sourceSize</key>
			<string>{51,51}</string>
		</dict>
		<key>btn_common_reduce_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,162},{54,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,55}}</string>
			<key>sourceSize</key>
			<string>{54,55}</string>
		</dict>
		<key>btn_common_reduce_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,162},{54,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,55}}</string>
			<key>sourceSize</key>
			<string>{54,55}</string>
		</dict>
		<key>btn_sd_kfsdzh.png</key>
		<dict>
			<key>frame</key>
			<string>{{541,219},{54,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,33}}</string>
			<key>sourceSize</key>
			<string>{54,33}</string>
		</dict>
		<key>btn_sd_kfsdzh_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,211},{54,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,33}}</string>
			<key>sourceSize</key>
			<string>{54,33}</string>
		</dict>
		<key>btn_sd_yjgm_xuanzhong_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{470,219},{35,35}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,5},{35,35}}</string>
			<key>sourceSize</key>
			<string>{45,43}</string>
		</dict>
		<key>btn_sd_yjgm_xuanzhong_gou.png</key>
		<dict>
			<key>frame</key>
			<string>{{597,216},{41,37}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,3},{41,37}}</string>
			<key>sourceSize</key>
			<string>{45,43}</string>
		</dict>
		<key>ico_main_contribution.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,158},{41,41}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{41,41}}</string>
			<key>sourceSize</key>
			<string>{49,47}</string>
		</dict>
		<key>pic_anniudikuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{858,64},{192,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,190}}</string>
			<key>sourceSize</key>
			<string>{192,190}</string>
		</dict>
		<key>pic_dangqianyongyou.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,162},{57,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,56}}</string>
			<key>sourceSize</key>
			<string>{57,56}</string>
		</dict>
		<key>pic_gongyongdiban.png</key>
		<dict>
			<key>frame</key>
			<string>{{1180,64},{102,326}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,326}}</string>
			<key>sourceSize</key>
			<string>{102,326}</string>
		</dict>
		<key>pic_goumaishici.png</key>
		<dict>
			<key>frame</key>
			<string>{{762,92},{86,35}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,1},{86,35}}</string>
			<key>sourceSize</key>
			<string>{140,37}</string>
		</dict>
		<key>pic_goumaiyici.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,219},{52,35}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,1},{52,35}}</string>
			<key>sourceSize</key>
			<string>{90,37}</string>
		</dict>
		<key>pic_hongsedi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,167},{190,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,42}}</string>
			<key>sourceSize</key>
			<string>{190,42}</string>
		</dict>
		<key>pic_jp_shangdian_guizeshuoming_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,209},{44,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,45}}</string>
			<key>sourceSize</key>
			<string>{44,45}</string>
		</dict>
		<key>pic_jp_shangdian_guizeshuoming_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,162},{44,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,45}}</string>
			<key>sourceSize</key>
			<string>{44,45}</string>
		</dict>
		<key>pic_jp_shangdian_tanchuang_fuhao.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,201},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>pic_kenengkaichu.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,162},{57,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,56}}</string>
			<key>sourceSize</key>
			<string>{57,56}</string>
		</dict>
		<key>pic_lansetiaodi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1180,168},{190,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,43}}</string>
			<key>sourceSize</key>
			<string>{190,43}</string>
		</dict>
		<key>pic_qipao_tip.png</key>
		<dict>
			<key>frame</key>
			<string>{{1052,64},{190,126}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{190,126}}</string>
			<key>sourceSize</key>
			<string>{192,126}</string>
		</dict>
		<key>pic_shangcenghauwen.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,92},{758,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{758,68}}</string>
			<key>sourceSize</key>
			<string>{758,68}</string>
		</dict>
		<key>pic_shop_chaojishangpin.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,167},{102,49}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,3},{102,49}}</string>
			<key>sourceSize</key>
			<string>{112,57}</string>
		</dict>
		<key>pic_shop_chaojishangpin_biaoqian.png</key>
		<dict>
			<key>frame</key>
			<string>{{1372,168},{115,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,84}}</string>
			<key>sourceSize</key>
			<string>{115,84}</string>
		</dict>
		<key>pic_shop_plgm_numbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,211},{95,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,33}}</string>
			<key>sourceSize</key>
			<string>{95,33}</string>
		</dict>
		<key>pic_shop_xin_chushoudaoju_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1180,213},{171,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,40}}</string>
			<key>sourceSize</key>
			<string>{171,40}</string>
		</dict>
		<key>pic_shop_xin_chushoudaoju_xian.png</key>
		<dict>
			<key>frame</key>
			<string>{{1508,64},{71,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{71,2}}</string>
			<key>sourceSize</key>
			<string>{73,2}</string>
		</dict>
		<key>pic_suipian_xiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{584,162},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{50,52}</string>
		</dict>
		<key>pic_tubiaodi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{854,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{854,88}}</string>
			<key>sourceSize</key>
			<string>{854,88}</string>
		</dict>
		<key>pic_xiacenghuawen.png</key>
		<dict>
			<key>frame</key>
			<string>{{858,2},{653,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{653,60}}</string>
			<key>sourceSize</key>
			<string>{653,60}</string>
		</dict>
		<key>pic_yaoshi.png</key>
		<dict>
			<key>frame</key>
			<string>{{507,219},{35,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,32}}</string>
			<key>sourceSize</key>
			<string>{35,32}</string>
		</dict>
		<key>pic_zaikaiyici.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,211},{43,27}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,27}}</string>
			<key>sourceSize</key>
			<string>{45,27}</string>
		</dict>
		<key>pic_zhuangshixian.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,162},{284,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,3}}</string>
			<key>sourceSize</key>
			<string>{284,3}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ShopUi0.png</string>
		<key>size</key>
		<string>{1801,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ShopUi0.png</string>
	</dict>
</dict>
</plist>
