<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>jnt_kejisuojingyantiao_kejisuojingyantiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,393},{52,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,8}}</string>
			<key>sourceSize</key>
			<string>{52,8}</string>
		</dict>
		<key>tiaodi_kejisuojingyantiao_kejisuojingyantiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{389,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{389,19}}</string>
			<key>sourceSize</key>
			<string>{389,19}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>kejisuojingyantiaoimage.png</string>
		<key>size</key>
		<string>{32,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>kejisuojingyantiaoimage.png</string>
	</dict>
</dict>
</plist>
