<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_kls_liumenbisha_bo_00025.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,909},{124,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,113}}</string>
			<key>sourceSize</key>
			<string>{124,113}</string>
		</dict>
		<key>New_kls_putongbisha_bo_00073 (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{2,474},{131,234}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,234}}</string>
			<key>sourceSize</key>
			<string>{131,234}</string>
		</dict>
		<key>New_kls_putongbisha_bo_00073 (3).png</key>
		<dict>
			<key>frame</key>
			<string>{{2,709},{131,234}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,234}}</string>
			<key>sourceSize</key>
			<string>{131,234}</string>
		</dict>
		<key>New_kls_putongbisha_bo_00073.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,2},{131,234}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,234}}</string>
			<key>sourceSize</key>
			<string>{131,234}</string>
		</dict>
		<key>New_kls_putongbisha_bo_00074 (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{109,235}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,235}}</string>
			<key>sourceSize</key>
			<string>{109,235}</string>
		</dict>
		<key>New_kls_putongbisha_bo_00074 (3).png</key>
		<dict>
			<key>frame</key>
			<string>{{2,238},{109,235}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,235}}</string>
			<key>sourceSize</key>
			<string>{109,235}</string>
		</dict>
		<key>New_kls_putongbisha_bq2_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,2},{232,232}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232,232}}</string>
			<key>sourceSize</key>
			<string>{232,232}</string>
		</dict>
		<key>New_kls_putongbisha_bq2_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{735,2},{65,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,68}}</string>
			<key>sourceSize</key>
			<string>{65,68}</string>
		</dict>
		<key>New_kls_putongbisha_bq3_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{657,225},{136,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,144}}</string>
			<key>sourceSize</key>
			<string>{136,144}</string>
		</dict>
		<key>New_kls_putongbisha_shandian2_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,944},{212,75}}</string>
			<key>offset</key>
			<string>{-9,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,23},{212,75}}</string>
			<key>sourceSize</key>
			<string>{238,133}</string>
		</dict>
		<key>New_kls_putongbisha_shandian2_00027.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,944},{212,75}}</string>
			<key>offset</key>
			<string>{-9,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,23},{212,75}}</string>
			<key>sourceSize</key>
			<string>{238,133}</string>
		</dict>
		<key>New_kls_putongbisha_shandian2_00028 (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{587,910},{214,111}}</string>
			<key>offset</key>
			<string>{-9,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{214,111}}</string>
			<key>sourceSize</key>
			<string>{238,133}</string>
		</dict>
		<key>New_kls_putongbisha_shandian2_00028 (3).png</key>
		<dict>
			<key>frame</key>
			<string>{{802,344},{214,111}}</string>
			<key>offset</key>
			<string>{-9,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{214,111}}</string>
			<key>sourceSize</key>
			<string>{238,133}</string>
		</dict>
		<key>New_kls_putongbisha_shandian2_00029 (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{802,456},{214,99}}</string>
			<key>offset</key>
			<string>{-8,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,12},{214,99}}</string>
			<key>sourceSize</key>
			<string>{238,133}</string>
		</dict>
		<key>New_kls_putongbisha_shandian2_00029 (3).png</key>
		<dict>
			<key>frame</key>
			<string>{{522,454},{214,99}}</string>
			<key>offset</key>
			<string>{-8,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,12},{214,99}}</string>
			<key>sourceSize</key>
			<string>{238,133}</string>
		</dict>
		<key>New_kls_putongbisha_shandian2_00030 (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{802,2},{220,113}}</string>
			<key>offset</key>
			<string>{-5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,12},{220,113}}</string>
			<key>sourceSize</key>
			<string>{238,133}</string>
		</dict>
		<key>New_kls_putongbisha_shandian2_00030 (3).png</key>
		<dict>
			<key>frame</key>
			<string>{{802,116},{220,113}}</string>
			<key>offset</key>
			<string>{-5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,12},{220,113}}</string>
			<key>sourceSize</key>
			<string>{238,133}</string>
		</dict>
		<key>New_kls_putongbisha_shandian2_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,230},{220,113}}</string>
			<key>offset</key>
			<string>{-5,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,12},{220,113}}</string>
			<key>sourceSize</key>
			<string>{238,133}</string>
		</dict>
		<key>New_kls_putongbisha_shandian2_00031 (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{112,237},{234,129}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{234,129}}</string>
			<key>sourceSize</key>
			<string>{238,133}</string>
		</dict>
		<key>New_kls_putongbisha_shandian2_00031 (3).png</key>
		<dict>
			<key>frame</key>
			<string>{{134,472},{234,129}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{234,129}}</string>
			<key>sourceSize</key>
			<string>{238,133}</string>
		</dict>
		<key>New_kls_putongbisha_shandian2_00031.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,237},{234,129}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{234,129}}</string>
			<key>sourceSize</key>
			<string>{238,133}</string>
		</dict>
		<key>New_kls_putongbisha_shandian2_00032 (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{392,464},{222,129}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,4},{222,129}}</string>
			<key>sourceSize</key>
			<string>{238,133}</string>
		</dict>
		<key>New_kls_putongbisha_shandian2_00032 (3).png</key>
		<dict>
			<key>frame</key>
			<string>{{500,231},{222,129}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,4},{222,129}}</string>
			<key>sourceSize</key>
			<string>{238,133}</string>
		</dict>
		<key>New_kls_putongbisha_shandian2_00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{605,2},{222,129}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,4},{222,129}}</string>
			<key>sourceSize</key>
			<string>{238,133}</string>
		</dict>
		<key>New_kls_putongbisha_shandian2_00033 (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{134,707},{230,127}}</string>
			<key>offset</key>
			<string>{4,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{230,127}}</string>
			<key>sourceSize</key>
			<string>{238,133}</string>
		</dict>
		<key>New_kls_putongbisha_shandian2_00033 (3).png</key>
		<dict>
			<key>frame</key>
			<string>{{262,707},{230,127}}</string>
			<key>offset</key>
			<string>{4,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{230,127}}</string>
			<key>sourceSize</key>
			<string>{238,133}</string>
		</dict>
		<key>New_kls_putongbisha_shandian2_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,472},{230,127}}</string>
			<key>offset</key>
			<string>{4,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{230,127}}</string>
			<key>sourceSize</key>
			<string>{238,133}</string>
		</dict>
		<key>New_kls_putongbisha_shandian2_00034 (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{390,703},{228,127}}</string>
			<key>offset</key>
			<string>{4,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,0},{228,127}}</string>
			<key>sourceSize</key>
			<string>{238,133}</string>
		</dict>
		<key>New_kls_putongbisha_shandian2_00034 (3).png</key>
		<dict>
			<key>frame</key>
			<string>{{372,235},{228,127}}</string>
			<key>offset</key>
			<string>{4,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,0},{228,127}}</string>
			<key>sourceSize</key>
			<string>{238,133}</string>
		</dict>
		<key>New_kls_putongbisha_shandian2_00034.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,2},{228,127}}</string>
			<key>offset</key>
			<string>{4,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,0},{228,127}}</string>
			<key>sourceSize</key>
			<string>{238,133}</string>
		</dict>
		<key>New_kls_putongbisha_shandian2_00035 (3).png</key>
		<dict>
			<key>frame</key>
			<string>{{848,686},{222,105}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,17},{222,105}}</string>
			<key>sourceSize</key>
			<string>{238,133}</string>
		</dict>
		<key>New_kls_putongbisha_shandian2_00036 (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{518,687},{222,109}}</string>
			<key>offset</key>
			<string>{1,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,7},{222,109}}</string>
			<key>sourceSize</key>
			<string>{238,133}</string>
		</dict>
		<key>New_kls_putongbisha_shandian2_00036 (3).png</key>
		<dict>
			<key>frame</key>
			<string>{{628,686},{222,109}}</string>
			<key>offset</key>
			<string>{1,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,7},{222,109}}</string>
			<key>sourceSize</key>
			<string>{238,133}</string>
		</dict>
		<key>New_kls_putongbisha_shandian2_00036.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,686},{222,109}}</string>
			<key>offset</key>
			<string>{1,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,7},{222,109}}</string>
			<key>sourceSize</key>
			<string>{238,133}</string>
		</dict>
		<key>New_kls_putongbisha_shandian3_00060.png</key>
		<dict>
			<key>frame</key>
			<string>{{927,556},{81,117}}</string>
			<key>offset</key>
			<string>{-43,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,99},{81,117}}</string>
			<key>sourceSize</key>
			<string>{167,295}</string>
		</dict>
		<key>New_kls_putongbisha_shandian3_00063 (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{215,938},{83,75}}</string>
			<key>offset</key>
			<string>{41,27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{83,83},{83,75}}</string>
			<key>sourceSize</key>
			<string>{167,295}</string>
		</dict>
		<key>New_kls_putongbisha_shandian3_00063 (3).png</key>
		<dict>
			<key>frame</key>
			<string>{{291,938},{83,75}}</string>
			<key>offset</key>
			<string>{41,27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{83,83},{83,75}}</string>
			<key>sourceSize</key>
			<string>{167,295}</string>
		</dict>
		<key>New_kls_putongbisha_shandian3_00063.png</key>
		<dict>
			<key>frame</key>
			<string>{{367,938},{83,75}}</string>
			<key>offset</key>
			<string>{41,27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{83,83},{83,75}}</string>
			<key>sourceSize</key>
			<string>{167,295}</string>
		</dict>
		<key>New_kls_putongbisha_shandian3_00064 (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{443,932},{85,71}}</string>
			<key>offset</key>
			<string>{40,92}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{81,20},{85,71}}</string>
			<key>sourceSize</key>
			<string>{167,295}</string>
		</dict>
		<key>New_kls_putongbisha_shandian3_00064 (3).png</key>
		<dict>
			<key>frame</key>
			<string>{{515,932},{85,71}}</string>
			<key>offset</key>
			<string>{40,92}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{81,20},{85,71}}</string>
			<key>sourceSize</key>
			<string>{167,295}</string>
		</dict>
		<key>New_kls_putongbisha_shandian3_00064.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,362},{85,71}}</string>
			<key>offset</key>
			<string>{40,92}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{81,20},{85,71}}</string>
			<key>sourceSize</key>
			<string>{167,295}</string>
		</dict>
		<key>New_kls_putongbisha_shandian_00032 (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{522,556},{134,129}}</string>
			<key>offset</key>
			<string>{5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,2},{134,129}}</string>
			<key>sourceSize</key>
			<string>{144,135}</string>
		</dict>
		<key>New_kls_putongbisha_shandian_00032 (3).png</key>
		<dict>
			<key>frame</key>
			<string>{{657,556},{134,129}}</string>
			<key>offset</key>
			<string>{5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,2},{134,129}}</string>
			<key>sourceSize</key>
			<string>{144,135}</string>
		</dict>
		<key>New_kls_putongbisha_shandian_00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,556},{134,129}}</string>
			<key>offset</key>
			<string>{5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,2},{134,129}}</string>
			<key>sourceSize</key>
			<string>{144,135}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>klsXV_common2.png</string>
		<key>scale</key>
		<real>0.62</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>klsXV_common2.png</string>
	</dict>
</dict>
</plist>
