<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_danmu_danmu_guan.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,2},{52,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>btn_danmu_danmu_kai.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,2},{52,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>btn_danmu_danmuanniu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,2},{52,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>btn_danmu_danmuanniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{52,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>danmakuRes0.png</string>
		<key>size</key>
		<string>{218,56}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>danmakuRes0.png</string>
	</dict>
</dict>
</plist>
