<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BG_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{1136,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1136,640}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
		<key>banqi_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,1140},{159,286}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,1},{159,286}}</string>
			<key>sourceSize</key>
			<string>{193,288}</string>
		</dict>
		<key>bao_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{698,1428},{21,16}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{21,16}}</string>
			<key>sourceSize</key>
			<string>{21,20}</string>
		</dict>
		<key>baoqi1_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1917},{104,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,137}}</string>
			<key>sourceSize</key>
			<string>{104,137}</string>
		</dict>
		<key>baoqi2_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,1760},{74,42}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,42}}</string>
			<key>sourceSize</key>
			<string>{76,42}</string>
		</dict>
		<key>baoqi3_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,1892},{122,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,146}}</string>
			<key>sourceSize</key>
			<string>{122,146}</string>
		</dict>
		<key>baoqi_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{698,1386},{205,40}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{205,40}}</string>
			<key>sourceSize</key>
			<string>{209,42}</string>
		</dict>
		<key>changgui_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,1752},{139,40}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,2},{139,40}}</string>
			<key>sourceSize</key>
			<string>{209,42}</string>
		</dict>
		<key>dashe_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1628},{122,189}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,189}}</string>
			<key>sourceSize</key>
			<string>{122,189}</string>
		</dict>
		<key>diban_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{943,1358},{17,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,62}}</string>
			<key>sourceSize</key>
			<string>{17,62}</string>
		</dict>
		<key>dongzhang_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,1140},{166,273}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,273}}</string>
			<key>sourceSize</key>
			<string>{166,273}</string>
		</dict>
		<key>doudi_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{905,1426},{19,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,21}}</string>
			<key>sourceSize</key>
			<string>{19,21}</string>
		</dict>
		<key>fangkuan2_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{654,1788},{117,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,79}}</string>
			<key>sourceSize</key>
			<string>{117,79}</string>
		</dict>
		<key>huangjiantou_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{905,1386},{38,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,78}}</string>
			<key>sourceSize</key>
			<string>{38,78}</string>
		</dict>
		<key>jeihsufanhui_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{971,1426},{199,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{199,40}}</string>
			<key>sourceSize</key>
			<string>{207,40}</string>
		</dict>
		<key>jiankuai_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,1920},{39,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,39}}</string>
			<key>sourceSize</key>
			<string>{39,39}</string>
		</dict>
		<key>luobo_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,1301},{145,284}}</string>
			<key>offset</key>
			<string>{6,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,3},{145,284}}</string>
			<key>sourceSize</key>
			<string>{193,288}</string>
		</dict>
		<key>mask1_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{943,1308},{66,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,48}}</string>
			<key>sourceSize</key>
			<string>{66,48}</string>
		</dict>
		<key>mask2_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,1920},{50,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,49}}</string>
			<key>sourceSize</key>
			<string>{50,49}</string>
		</dict>
		<key>qipao_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{698,1308},{243,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{243,76}}</string>
			<key>sourceSize</key>
			<string>{243,76}</string>
		</dict>
		<key>qtbq_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{908,1447},{207,61}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{207,61}}</string>
			<key>sourceSize</key>
			<string>{219,63}</string>
		</dict>
		<key>rebnqun_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1140},{408,306}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{408,306}}</string>
			<key>sourceSize</key>
			<string>{408,306}</string>
		</dict>
		<key>shouzhi_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,1836},{70,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,87}}</string>
			<key>sourceSize</key>
			<string>{70,87}</string>
		</dict>
		<key>toudiban_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1448},{904,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{904,178}}</string>
			<key>sourceSize</key>
			<string>{904,178}</string>
		</dict>
		<key>touxiang1_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,1760},{130,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,159}}</string>
			<key>sourceSize</key>
			<string>{130,159}</string>
		</dict>
		<key>touxiang2_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,1628},{130,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,162}}</string>
			<key>sourceSize</key>
			<string>{130,162}</string>
		</dict>
		<key>touxiang3_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1752},{130,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,163}}</string>
			<key>sourceSize</key>
			<string>{130,163}</string>
		</dict>
		<key>touxiang4_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,1628},{130,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,163}}</string>
			<key>sourceSize</key>
			<string>{130,163}</string>
		</dict>
		<key>touxiang5_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{522,1628},{130,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,159}}</string>
			<key>sourceSize</key>
			<string>{130,159}</string>
		</dict>
		<key>touxiang6_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{337,1760},{130,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,158}}</string>
			<key>sourceSize</key>
			<string>{130,158}</string>
		</dict>
		<key>ui_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,2},{1136,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1136,76}}</string>
			<key>sourceSize</key>
			<string>{1136,76}</string>
		</dict>
		<key>xiansgshang_baoqishuomingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{971,1627},{159,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,0},{159,40}}</string>
			<key>sourceSize</key>
			<string>{189,40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>baoqishuomingimage.png</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>baoqishuomingimage.png</string>
	</dict>
</dict>
</plist>
