<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_zl_ygnz_sdssz_bisha1_dq_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,2},{148,146}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{148,146}}</string>
			<key>sourceSize</key>
			<string>{150,146}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha1_dq_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{665,785},{140,110}}</string>
			<key>offset</key>
			<string>{-5,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,15},{140,110}}</string>
			<key>sourceSize</key>
			<string>{150,146}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha1_fz_00044.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,232},{77,215}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,21},{77,215}}</string>
			<key>sourceSize</key>
			<string>{89,255}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha1_fz_00048.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,458},{77,221}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,18},{77,221}}</string>
			<key>sourceSize</key>
			<string>{89,255}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha1_fz_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,232},{79,225}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,16},{79,225}}</string>
			<key>sourceSize</key>
			<string>{89,255}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha1_ps_00036.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,900},{117,126}}</string>
			<key>offset</key>
			<string>{-20,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,22},{117,126}}</string>
			<key>sourceSize</key>
			<string>{185,162}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha1_ps_00044.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,2},{185,148}}</string>
			<key>offset</key>
			<string>{0,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,148}}</string>
			<key>sourceSize</key>
			<string>{185,162}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha2_sq_00108.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,373},{58,63}}</string>
			<key>offset</key>
			<string>{-18,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,6},{58,63}}</string>
			<key>sourceSize</key>
			<string>{108,83}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha2_zkr_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,361},{113,78}}</string>
			<key>offset</key>
			<string>{-27,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,9},{113,78}}</string>
			<key>sourceSize</key>
			<string>{169,116}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha2_zkr_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,810},{141,88}}</string>
			<key>offset</key>
			<string>{-13,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,19},{141,88}}</string>
			<key>sourceSize</key>
			<string>{169,116}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha3_jc_00038.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,672},{147,137}}</string>
			<key>offset</key>
			<string>{-2,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,134},{147,137}}</string>
			<key>sourceSize</key>
			<string>{217,273}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha3_jc_00042.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,812},{143,85}}</string>
			<key>offset</key>
			<string>{-3,-89}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,183},{143,85}}</string>
			<key>sourceSize</key>
			<string>{217,273}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha3_jc_00046.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,175},{135,75}}</string>
			<key>offset</key>
			<string>{-5,-89}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,188},{135,75}}</string>
			<key>sourceSize</key>
			<string>{217,273}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_bb1_00184.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{219,229}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,229}}</string>
			<key>sourceSize</key>
			<string>{221,229}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_cc2_00131.png</key>
		<dict>
			<key>frame</key>
			<string>{{374,898},{138,116}}</string>
			<key>offset</key>
			<string>{36,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,7},{138,116}}</string>
			<key>sourceSize</key>
			<string>{216,128}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_cc2_00135.png</key>
		<dict>
			<key>frame</key>
			<string>{{868,149},{138,102}}</string>
			<key>offset</key>
			<string>{37,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,12},{138,102}}</string>
			<key>sourceSize</key>
			<string>{216,128}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_ccbd_00132.png</key>
		<dict>
			<key>frame</key>
			<string>{{736,2},{137,132}}</string>
			<key>offset</key>
			<string>{2,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{32,20},{137,132}}</string>
			<key>sourceSize</key>
			<string>{197,160}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_fz2_00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,188},{172,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,60}}</string>
			<key>sourceSize</key>
			<string>{172,60}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_fz2_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{551,188},{172,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,60}}</string>
			<key>sourceSize</key>
			<string>{172,60}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_fz2_00040.png</key>
		<dict>
			<key>frame</key>
			<string>{{566,2},{172,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,60}}</string>
			<key>sourceSize</key>
			<string>{172,60}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_fz2_00048.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,639},{172,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,60}}</string>
			<key>sourceSize</key>
			<string>{172,60}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_fz2_00056.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,639},{172,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,60}}</string>
			<key>sourceSize</key>
			<string>{172,60}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_fz2_00064.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,440},{172,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,60}}</string>
			<key>sourceSize</key>
			<string>{172,60}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_fz2_00072.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,613},{172,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,60}}</string>
			<key>sourceSize</key>
			<string>{172,60}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_fz2_00080.png</key>
		<dict>
			<key>frame</key>
			<string>{{553,440},{172,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,60}}</string>
			<key>sourceSize</key>
			<string>{172,60}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_fz2_00088.png</key>
		<dict>
			<key>frame</key>
			<string>{{603,613},{172,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,60}}</string>
			<key>sourceSize</key>
			<string>{172,60}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_fz2_00096.png</key>
		<dict>
			<key>frame</key>
			<string>{{614,439},{172,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,60}}</string>
			<key>sourceSize</key>
			<string>{172,60}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_fz2_00104.png</key>
		<dict>
			<key>frame</key>
			<string>{{664,612},{172,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,60}}</string>
			<key>sourceSize</key>
			<string>{172,60}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_fz2_00112.png</key>
		<dict>
			<key>frame</key>
			<string>{{675,439},{172,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,60}}</string>
			<key>sourceSize</key>
			<string>{172,60}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_fz2_00120.png</key>
		<dict>
			<key>frame</key>
			<string>{{725,612},{172,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,60}}</string>
			<key>sourceSize</key>
			<string>{172,60}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_fz2_00128.png</key>
		<dict>
			<key>frame</key>
			<string>{{736,438},{172,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,60}}</string>
			<key>sourceSize</key>
			<string>{172,60}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_fz2_00136.png</key>
		<dict>
			<key>frame</key>
			<string>{{786,611},{172,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,60}}</string>
			<key>sourceSize</key>
			<string>{172,60}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_fz2_00144.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,438},{172,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,60}}</string>
			<key>sourceSize</key>
			<string>{172,60}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_fz2_00152.png</key>
		<dict>
			<key>frame</key>
			<string>{{627,2},{172,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,60}}</string>
			<key>sourceSize</key>
			<string>{172,60}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_fz2_00160.png</key>
		<dict>
			<key>frame</key>
			<string>{{847,611},{172,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,60}}</string>
			<key>sourceSize</key>
			<string>{172,60}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_qg_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,2},{197,194}}</string>
			<key>offset</key>
			<string>{-32,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{37,98},{197,194}}</string>
			<key>sourceSize</key>
			<string>{335,380}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_qg_00037.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,678},{219,198}}</string>
			<key>offset</key>
			<string>{-22,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,96},{219,198}}</string>
			<key>sourceSize</key>
			<string>{335,380}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_qg_00041.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,680},{219,218}}</string>
			<key>offset</key>
			<string>{-22,-14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,95},{219,218}}</string>
			<key>sourceSize</key>
			<string>{335,380}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_qg_00045.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,458},{219,218}}</string>
			<key>offset</key>
			<string>{-22,-14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,95},{219,218}}</string>
			<key>sourceSize</key>
			<string>{335,380}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_bisha4_xlbt_00047.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,232},{212,142}}</string>
			<key>offset</key>
			<string>{50,124}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{133,0},{212,142}}</string>
			<key>sourceSize</key>
			<string>{378,390}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_daiji_db_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,188},{184,57}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{184,57}}</string>
			<key>sourceSize</key>
			<string>{186,57}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_daiji_lz_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{736,140},{131,165}}</string>
			<key>offset</key>
			<string>{4,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,18},{131,165}}</string>
			<key>sourceSize</key>
			<string>{147,191}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_daiji_sd_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{605,361},{77,84}}</string>
			<key>offset</key>
			<string>{-11,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,14},{77,84}}</string>
			<key>sourceSize</key>
			<string>{99,110}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_xiaojineng_dq_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{564,786},{100,111}}</string>
			<key>offset</key>
			<string>{1,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,23},{100,111}}</string>
			<key>sourceSize</key>
			<string>{136,149}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_xiaojineng_dq_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{858,410},{102,101}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,25},{102,101}}</string>
			<key>sourceSize</key>
			<string>{136,149}</string>
		</dict>
		<key>New_zl_ygnz_sdssz_xiaojineng_dq_00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{629,898},{114,113}}</string>
			<key>offset</key>
			<string>{2,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,22},{114,113}}</string>
			<key>sourceSize</key>
			<string>{136,149}</string>
		</dict>
		<key>wy_17_17_52198_csignizimage_sds.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,899},{102,113}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,13},{102,113}}</string>
			<key>sourceSize</key>
			<string>{118,133}</string>
		</dict>
		<key>wy_21_21_75374_csignizimage_sds.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,898},{115,115}}</string>
			<key>offset</key>
			<string>{-3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,15},{115,115}}</string>
			<key>sourceSize</key>
			<string>{139,139}</string>
		</dict>
		<key>wy_25_25_75841_csignizimage_sds.png</key>
		<dict>
			<key>frame</key>
			<string>{{925,252},{86,101}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{86,101}}</string>
			<key>sourceSize</key>
			<string>{92,103}</string>
		</dict>
		<key>wy_29_29_78964_csignizimage_sds.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,900},{117,115}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,5},{117,115}}</string>
			<key>sourceSize</key>
			<string>{125,125}</string>
		</dict>
		<key>wy_33_33_67589_csignizimage_sds.png</key>
		<dict>
			<key>frame</key>
			<string>{{690,306},{131,131}}</string>
			<key>offset</key>
			<string>{-2,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,15},{131,131}}</string>
			<key>sourceSize</key>
			<string>{151,149}</string>
		</dict>
		<key>zl_ygnz_sdssz_bisha4_ps2_00138.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,200},{193,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,128}}</string>
			<key>sourceSize</key>
			<string>{193,128}</string>
		</dict>
		<key>zl_ygnz_sdssz_bisha4_ps6_00155.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,445},{193,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,192}}</string>
			<key>sourceSize</key>
			<string>{193,192}</string>
		</dict>
		<key>zl_ygnz_sdssz_bisha4_ps_00131.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,898},{123,128}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{123,128}}</string>
			<key>sourceSize</key>
			<string>{125,128}</string>
		</dict>
		<key>zl_ygnz_sdssz_bisha4_xlg2_00055.png</key>
		<dict>
			<key>frame</key>
			<string>{{743,896},{127,126}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{127,126}}</string>
			<key>sourceSize</key>
			<string>{129,130}</string>
		</dict>
		<key>zl_ygnz_sdssz_bisha4_xlg_00044.png</key>
		<dict>
			<key>frame</key>
			<string>{{822,306},{103,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,102}}</string>
			<key>sourceSize</key>
			<string>{103,102}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>ygnzYGSZ_common3.png</string>
		<key>scale</key>
		<real>0.7</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ygnzYGSZ_common3.png</string>
	</dict>
</dict>
</plist>
