<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>b_dabi_nei_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,128},{23,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,36}}</string>
			<key>sourceSize</key>
			<string>{23,36}</string>
		</dict>
		<key>b_dabi_wai_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,183},{29,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,33}}</string>
			<key>sourceSize</key>
			<string>{29,33}</string>
		</dict>
		<key>b_datui_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,2},{25,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,53}}</string>
			<key>sourceSize</key>
			<string>{25,53}</string>
		</dict>
		<key>b_kua_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,99},{30,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,27}}</string>
			<key>sourceSize</key>
			<string>{30,27}</string>
		</dict>
		<key>b_qugan1_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,183},{40,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,70}}</string>
			<key>sourceSize</key>
			<string>{40,70}</string>
		</dict>
		<key>b_qugan2_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,111},{40,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,70}}</string>
			<key>sourceSize</key>
			<string>{40,70}</string>
		</dict>
		<key>b_shou_nei1_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,205},{25,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,25}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>b_shou_nei2_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,214},{25,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,25}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>b_shou_wai1_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,182},{21,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,29}}</string>
			<key>sourceSize</key>
			<string>{21,29}</string>
		</dict>
		<key>b_shou_wai2_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,183},{21,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,29}}</string>
			<key>sourceSize</key>
			<string>{21,29}</string>
		</dict>
		<key>b_xiaobi_nei_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,153},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{28,30}</string>
		</dict>
		<key>b_xiaobi_wai_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,124},{19,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,32}}</string>
			<key>sourceSize</key>
			<string>{19,32}</string>
		</dict>
		<key>b_xiaotui_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,108},{21,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,46}}</string>
			<key>sourceSize</key>
			<string>{21,46}</string>
		</dict>
		<key>b_xie_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,218},{33,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,26}}</string>
			<key>sourceSize</key>
			<string>{33,26}</string>
		</dict>
		<key>dabi_you_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,2},{17,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,34}}</string>
			<key>sourceSize</key>
			<string>{17,34}</string>
		</dict>
		<key>dabi_zuo_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,183},{21,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,33}}</string>
			<key>sourceSize</key>
			<string>{21,33}</string>
		</dict>
		<key>datui_you_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,2},{20,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,53}}</string>
			<key>sourceSize</key>
			<string>{20,53}</string>
		</dict>
		<key>datui_zuo_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,81},{25,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,51}}</string>
			<key>sourceSize</key>
			<string>{25,51}</string>
		</dict>
		<key>glass_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,158},{23,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,14}}</string>
			<key>sourceSize</key>
			<string>{23,14}</string>
		</dict>
		<key>kua_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,62},{35,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,27}}</string>
			<key>sourceSize</key>
			<string>{35,27}</string>
		</dict>
		<key>liuhai1_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,218},{21,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,33}}</string>
			<key>sourceSize</key>
			<string>{21,33}</string>
		</dict>
		<key>liuhai2_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{67,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,107}}</string>
			<key>sourceSize</key>
			<string>{67,107}</string>
		</dict>
		<key>qugan1_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,181},{50,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,68}}</string>
			<key>sourceSize</key>
			<string>{50,68}</string>
		</dict>
		<key>qugan2_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,111},{50,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,68}}</string>
			<key>sourceSize</key>
			<string>{50,68}</string>
		</dict>
		<key>shou_qiang1_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,77},{52,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,49}}</string>
			<key>sourceSize</key>
			<string>{52,49}</string>
		</dict>
		<key>shou_qiang2_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,29},{50,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,52}}</string>
			<key>sourceSize</key>
			<string>{50,52}</string>
		</dict>
		<key>shou_you1_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,165},{29,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,27}}</string>
			<key>sourceSize</key>
			<string>{29,27}</string>
		</dict>
		<key>shou_you2_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,153},{29,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,27}}</string>
			<key>sourceSize</key>
			<string>{29,27}</string>
		</dict>
		<key>shou_zuo1_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,128},{20,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,35}}</string>
			<key>sourceSize</key>
			<string>{20,35}</string>
		</dict>
		<key>tou1_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,24},{52,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,51}}</string>
			<key>sourceSize</key>
			<string>{52,51}</string>
		</dict>
		<key>tou1_yan_bi_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,152},{12,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,8}}</string>
			<key>sourceSize</key>
			<string>{12,8}</string>
		</dict>
		<key>tou1_yan_shouji_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,142},{12,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,8}}</string>
			<key>sourceSize</key>
			<string>{12,8}</string>
		</dict>
		<key>tou1_zui_ya_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,131},{12,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,9}}</string>
			<key>sourceSize</key>
			<string>{12,9}</string>
		</dict>
		<key>tou2_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,2},{58,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,54}}</string>
			<key>sourceSize</key>
			<string>{58,54}</string>
		</dict>
		<key>tou2_yan_bi_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,71},{18,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,9}}</string>
			<key>sourceSize</key>
			<string>{18,9}</string>
		</dict>
		<key>tou2_yan_shouji_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,60},{18,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,9}}</string>
			<key>sourceSize</key>
			<string>{18,9}</string>
		</dict>
		<key>tou2_zui_ya_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,162},{11,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,8}}</string>
			<key>sourceSize</key>
			<string>{11,8}</string>
		</dict>
		<key>xiaobi_you_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,38},{20,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,18}}</string>
			<key>sourceSize</key>
			<string>{20,18}</string>
		</dict>
		<key>xiaobi_zuo_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,232},{21,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,25}}</string>
			<key>sourceSize</key>
			<string>{21,25}</string>
		</dict>
		<key>xiaotui_you_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,82},{19,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,40}}</string>
			<key>sourceSize</key>
			<string>{19,40}</string>
		</dict>
		<key>xiaotui_zuo_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,62},{25,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,47}}</string>
			<key>sourceSize</key>
			<string>{25,47}</string>
		</dict>
		<key>xie_you_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,153},{31,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,28}}</string>
			<key>sourceSize</key>
			<string>{31,28}</string>
		</dict>
		<key>xie_zuo_nvtegongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,218},{21,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,29}}</string>
			<key>sourceSize</key>
			<string>{21,29}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA4444</string>
		<key>realTextureFileName</key>
		<string>nvtegongimage.png</string>
		<key>scale</key>
		<real>0.5</real>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>nvtegongimage.png</string>
	</dict>
</dict>
</plist>
