<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_xszm_daohang_jia_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,972},{35,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,36}}</string>
			<key>sourceSize</key>
			<string>{35,36}</string>
		</dict>
		<key>btn_xszm_daohang_jia_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{845,972},{35,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,36}}</string>
			<key>sourceSize</key>
			<string>{35,36}</string>
		</dict>
		<key>btn_xszm_daohang_jiaqie_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,787},{171,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,36}}</string>
			<key>sourceSize</key>
			<string>{171,36}</string>
		</dict>
		<key>btn_xszm_daohang_jiaqie_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,787},{171,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,36}}</string>
			<key>sourceSize</key>
			<string>{171,36}</string>
		</dict>
		<key>btn_znded_fb_jiantou_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,960},{49,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,65}}</string>
			<key>sourceSize</key>
			<string>{49,65}</string>
		</dict>
		<key>btn_znded_fb_jiantou_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,960},{49,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,65}}</string>
			<key>sourceSize</key>
			<string>{49,65}</string>
		</dict>
		<key>btn_znded_fb_wenhao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{763,972},{38,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,42}}</string>
			<key>sourceSize</key>
			<string>{38,42}</string>
		</dict>
		<key>btn_znded_fb_wenhao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,902},{38,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,42}}</string>
			<key>sourceSize</key>
			<string>{38,42}</string>
		</dict>
		<key>pic_flcf_zjm_duigou.png</key>
		<dict>
			<key>frame</key>
			<string>{{803,972},{40,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,41}}</string>
			<key>sourceSize</key>
			<string>{40,41}</string>
		</dict>
		<key>pic_nstzs_shijiandi.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,936},{491,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{491,31}}</string>
			<key>sourceSize</key>
			<string>{491,31}</string>
		</dict>
		<key>pic_nstzs_tanchuang_di_zhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,632},{636,302}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{636,302}}</string>
			<key>sourceSize</key>
			<string>{636,302}</string>
		</dict>
		<key>pic_nstzs_tanchuang_paiming_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,95},{790,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{790,78}}</string>
			<key>sourceSize</key>
			<string>{790,78}</string>
		</dict>
		<key>pic_nstzs_tanchuang_wode_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,175},{790,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{790,44}}</string>
			<key>sourceSize</key>
			<string>{790,44}</string>
		</dict>
		<key>pic_nstzs_tanchuang_zuizhongjisha_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{797,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{797,91}}</string>
			<key>sourceSize</key>
			<string>{797,91}</string>
		</dict>
		<key>pic_ssrwzx_dikuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,534},{638,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{638,96}}</string>
			<key>sourceSize</key>
			<string>{638,96}</string>
		</dict>
		<key>pic_xrj_yindaotu_kuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,221},{782,311}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{782,311}}</string>
			<key>sourceSize</key>
			<string>{782,311}</string>
		</dict>
		<key>pic_znded_fb_che.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,534},{98,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,95}}</string>
			<key>sourceSize</key>
			<string>{98,95}</string>
		</dict>
		<key>pic_znded_fb_guanqiadi.png</key>
		<dict>
			<key>frame</key>
			<string>{{786,787},{122,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,67}}</string>
			<key>sourceSize</key>
			<string>{122,67}</string>
		</dict>
		<key>pic_znded_fb_guanqiadih.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,778},{122,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,67}}</string>
			<key>sourceSize</key>
			<string>{122,67}</string>
		</dict>
		<key>pic_znded_fb_touxiangdi.png</key>
		<dict>
			<key>frame</key>
			<string>{{786,856},{114,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,15},{114,114}}</string>
			<key>sourceSize</key>
			<string>{144,144}</string>
		</dict>
		<key>pic_znded_fb_touxiangdih.png</key>
		<dict>
			<key>frame</key>
			<string>{{801,2},{114,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,15},{114,114}}</string>
			<key>sourceSize</key>
			<string>{144,144}</string>
		</dict>
		<key>pic_znded_fb_touxiangdixz.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,632},{144,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,144}}</string>
			<key>sourceSize</key>
			<string>{144,144}</string>
		</dict>
		<key>pic_znded_fb_tubiaodi.png</key>
		<dict>
			<key>frame</key>
			<string>{{794,118},{667,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{667,122}}</string>
			<key>sourceSize</key>
			<string>{667,122}</string>
		</dict>
		<key>pic_znded_fb_wenzidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,972},{625,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{625,43}}</string>
			<key>sourceSize</key>
			<string>{625,43}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ActivitySummerTown40.png</string>
		<key>size</key>
		<string>{919,1017}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ActivitySummerTown40.png</string>
	</dict>
</dict>
</plist>
