<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_huangseanniu_wenhao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{727,464},{60,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,38}}</string>
			<key>sourceSize</key>
			<string>{60,38}</string>
		</dict>
		<key>btn_huangseanniu_wenhao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{665,464},{60,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,38}}</string>
			<key>sourceSize</key>
			<string>{60,38}</string>
		</dict>
		<key>pic_czlb_title_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{665,2},{660,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{660,47}}</string>
			<key>sourceSize</key>
			<string>{660,47}</string>
		</dict>
		<key>pic_graypoint_ywqd_fx.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,465},{5,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,5}}</string>
			<key>sourceSize</key>
			<string>{5,5}</string>
		</dict>
		<key>pic_huangpoint_ywqd_fx.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,465},{19,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,19}}</string>
			<key>sourceSize</key>
			<string>{19,19}</string>
		</dict>
		<key>pic_ywqd_bg_light.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,494},{124,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,10}}</string>
			<key>sourceSize</key>
			<string>{124,10}</string>
		</dict>
		<key>pic_ywqd_ckbg_word.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,51},{377,197}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{377,197}}</string>
			<key>sourceSize</key>
			<string>{377,197}</string>
		</dict>
		<key>pic_ywqd_fengexian_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,438},{30,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,12}}</string>
			<key>sourceSize</key>
			<string>{30,12}</string>
		</dict>
		<key>pic_ywqd_fx_xinxibg.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,2},{434,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{434,80}}</string>
			<key>sourceSize</key>
			<string>{434,80}</string>
		</dict>
		<key>pic_ywqd_guanbi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{993,439},{46,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,54}}</string>
			<key>sourceSize</key>
			<string>{46,54}</string>
		</dict>
		<key>pic_ywqd_guanbi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{945,439},{46,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,54}}</string>
			<key>sourceSize</key>
			<string>{46,54}</string>
		</dict>
		<key>pic_ywqd_hqywx_biaoti_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{484,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{484,47}}</string>
			<key>sourceSize</key>
			<string>{484,47}</string>
		</dict>
		<key>pic_ywqd_icon_ywx.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,407},{100,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,98}}</string>
			<key>sourceSize</key>
			<string>{100,98}</string>
		</dict>
		<key>pic_ywqd_laba.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,407},{22,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,18}}</string>
			<key>sourceSize</key>
			<string>{22,18}</string>
		</dict>
		<key>pic_ywqd_shangshen_jiantou.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,481},{26,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,11}}</string>
			<key>sourceSize</key>
			<string>{26,11}</string>
		</dict>
		<key>pic_ywqd_ts_wxzbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{660,51},{202,287}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,287}}</string>
			<key>sourceSize</key>
			<string>{202,287}</string>
		</dict>
		<key>pic_ywqd_ts_yxzbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{656,260},{202,287}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,287}}</string>
			<key>sourceSize</key>
			<string>{202,287}</string>
		</dict>
		<key>pic_ywqd_tsgl_fengexuxian.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,481},{380,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{380,2}}</string>
			<key>sourceSize</key>
			<string>{380,2}</string>
		</dict>
		<key>pic_ywqd_tupian_gedoujia.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,2},{359,403}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{359,403}}</string>
			<key>sourceSize</key>
			<string>{359,403}</string>
		</dict>
		<key>pic_ywqd_word_glbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,407},{399,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{399,72}}</string>
			<key>sourceSize</key>
			<string>{399,72}</string>
		</dict>
		<key>pic_ywqd_word_huawen.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,488},{80,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,14}}</string>
			<key>sourceSize</key>
			<string>{80,14}</string>
		</dict>
		<key>pic_ywqd_wxzbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{494,2},{164,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,256}}</string>
			<key>sourceSize</key>
			<string>{164,256}</string>
		</dict>
		<key>pic_ywqd_xiajiang_jiantou.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,452},{26,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,11}}</string>
			<key>sourceSize</key>
			<string>{26,11}</string>
		</dict>
		<key>pic_ywqd_yidachengbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1041,439},{42,265}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,265}}</string>
			<key>sourceSize</key>
			<string>{42,265}</string>
		</dict>
		<key>pic_ywqd_yxzbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{945,255},{182,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,280}}</string>
			<key>sourceSize</key>
			<string>{182,280}</string>
		</dict>
		<key>zhengjia_jytpimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,438},{67,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,67}}</string>
			<key>sourceSize</key>
			<string>{67,67}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ActivityWishList0.png</string>
		<key>size</key>
		<string>{1348,507}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ActivityWishList0.png</string>
	</dict>
</dict>
</plist>
