<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>aa_0627image.png</key>
		<dict>
			<key>frame</key>
			<string>{{665,54},{79,30}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{79,30}}</string>
			<key>sourceSize</key>
			<string>{83,32}</string>
		</dict>
		<key>btn_chat_qiang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{905,166},{63,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,38}}</string>
			<key>sourceSize</key>
			<string>{63,38}</string>
		</dict>
		<key>btn_chat_qiang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{857,154},{63,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,38}}</string>
			<key>sourceSize</key>
			<string>{63,38}</string>
		</dict>
		<key>btn_chat_qianwang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{908,62},{63,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,38}}</string>
			<key>sourceSize</key>
			<string>{63,38}</string>
		</dict>
		<key>btn_chat_qianwang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{817,116},{63,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,38}}</string>
			<key>sourceSize</key>
			<string>{63,38}</string>
		</dict>
		<key>btn_chat_shenqing_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{805,184},{63,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,38}}</string>
			<key>sourceSize</key>
			<string>{63,38}</string>
		</dict>
		<key>btn_chat_shenqing_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{765,189},{63,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,38}}</string>
			<key>sourceSize</key>
			<string>{63,38}</string>
		</dict>
		<key>dd_0627image.png</key>
		<dict>
			<key>frame</key>
			<string>{{757,116},{71,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,26}}</string>
			<key>sourceSize</key>
			<string>{71,26}</string>
		</dict>
		<key>ff_0627image.png</key>
		<dict>
			<key>frame</key>
			<string>{{701,116},{76,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,26}}</string>
			<key>sourceSize</key>
			<string>{76,26}</string>
		</dict>
		<key>pic_chat_buttntext.png</key>
		<dict>
			<key>frame</key>
			<string>{{665,116},{76,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,34}}</string>
			<key>sourceSize</key>
			<string>{76,34}</string>
		</dict>
		<key>pic_chat_buttntext_faqiliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{665,30},{80,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,22}}</string>
			<key>sourceSize</key>
			<string>{80,22}</string>
		</dict>
		<key>pic_chat_buttntext_jiahaoyou.png</key>
		<dict>
			<key>frame</key>
			<string>{{765,2},{107,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{107,22}}</string>
			<key>sourceSize</key>
			<string>{119,22}</string>
		</dict>
		<key>pic_chat_buttntext_lahei.png</key>
		<dict>
			<key>frame</key>
			<string>{{665,2},{96,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,26}}</string>
			<key>sourceSize</key>
			<string>{96,26}</string>
		</dict>
		<key>pic_chat_tishi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,199},{351,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{351,51}}</string>
			<key>sourceSize</key>
			<string>{351,51}</string>
		</dict>
		<key>pic_quanqu1_quanquliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{785,116},{66,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,30}}</string>
			<key>sourceSize</key>
			<string>{66,30}</string>
		</dict>
		<key>pic_quanqu2_quanquliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{845,219},{58,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,25}}</string>
			<key>sourceSize</key>
			<string>{58,25}</string>
		</dict>
		<key>pic_quanquliaotian_icon_shengli_you.png</key>
		<dict>
			<key>frame</key>
			<string>{{902,127},{43,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,37}}</string>
			<key>sourceSize</key>
			<string>{43,37}</string>
		</dict>
		<key>pic_quanquliaotian_icon_shengli_zuo.png</key>
		<dict>
			<key>frame</key>
			<string>{{857,115},{43,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,37}}</string>
			<key>sourceSize</key>
			<string>{43,37}</string>
		</dict>
		<key>pic_quanquliaotian_icon_zhanli.png</key>
		<dict>
			<key>frame</key>
			<string>{{848,62},{51,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,58}}</string>
			<key>sourceSize</key>
			<string>{51,58}</string>
		</dict>
		<key>pic_quanquliaotian_kongbaidiwen.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,2},{623,191}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{623,191}}</string>
			<key>sourceSize</key>
			<string>{623,191}</string>
		</dict>
		<key>pic_quanquliaotian_word_fenxiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{195,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{195,36}}</string>
			<key>sourceSize</key>
			<string>{201,36}</string>
		</dict>
		<key>pic_quanquliaotian_word_zwjcjl.png</key>
		<dict>
			<key>frame</key>
			<string>{{355,195},{408,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{408,57}}</string>
			<key>sourceSize</key>
			<string>{408,57}</string>
		</dict>
		<key>ss_0627image.png</key>
		<dict>
			<key>frame</key>
			<string>{{765,26},{85,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{85,30}}</string>
			<key>sourceSize</key>
			<string>{89,34}</string>
		</dict>
		<key>tab_chat_gonghui__normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{874,2},{71,26}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,3},{71,26}}</string>
			<key>sourceSize</key>
			<string>{91,34}</string>
		</dict>
		<key>tab_chat_gonghui_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{665,86},{79,28}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,3},{79,28}}</string>
			<key>sourceSize</key>
			<string>{91,34}</string>
		</dict>
		<key>tab_chat_liaotian__normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,88},{73,26}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,4},{73,26}}</string>
			<key>sourceSize</key>
			<string>{91,34}</string>
		</dict>
		<key>tab_chat_liaotian_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{765,58},{81,28}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{81,28}}</string>
			<key>sourceSize</key>
			<string>{83,32}</string>
		</dict>
		<key>tab_chat_shijie__normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{729,116},{73,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,4},{73,26}}</string>
			<key>sourceSize</key>
			<string>{91,34}</string>
		</dict>
		<key>tab_chat_shijie_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{852,30},{81,30}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{81,30}}</string>
			<key>sourceSize</key>
			<string>{91,34}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_chat0.png</string>
		<key>size</key>
		<string>{948,254}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_chat0.png</string>
	</dict>
</dict>
</plist>
