<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fsg_hunxiakaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,380},{96,185}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,185}}</string>
			<key>sourceSize</key>
			<string>{96,185}</string>
		</dict>
		<key>kapaiguang_hunxiakaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{254,376}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{254,376}}</string>
			<key>sourceSize</key>
			<string>{254,376}</string>
		</dict>
		<key>xianshi_hunxiakaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,380},{97,36}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{97,36}}</string>
			<key>sourceSize</key>
			<string>{97,40}</string>
		</dict>
		<key>zhezhao1_hunxiakaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,2},{216,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,165}}</string>
			<key>sourceSize</key>
			<string>{216,165}</string>
		</dict>
		<key>zhezhao2_hunxiakaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,479},{65,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,22}}</string>
			<key>sourceSize</key>
			<string>{65,22}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>hunxiakaimage.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>hunxiakaimage.png</string>
	</dict>
</dict>
</plist>
