<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_qhzb_jrzt_3_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{160,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,153}}</string>
			<key>sourceSize</key>
			<string>{160,153}</string>
		</dict>
		<key>pic_qhzb_jrzt_3_fengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,65},{7,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,2}}</string>
			<key>sourceSize</key>
			<string>{7,2}</string>
		</dict>
		<key>pic_qhzb_jrzt_4_dian.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,65},{12,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{12,23}}</string>
			<key>sourceSize</key>
			<string>{16,25}</string>
		</dict>
		<key>pic_qhzb_jrzt_4_zidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,2},{33,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,61}}</string>
			<key>sourceSize</key>
			<string>{33,61}</string>
		</dict>
		<key>pic_qhzb_jrzt_4_zidifengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,69},{6,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,2}}</string>
			<key>sourceSize</key>
			<string>{6,2}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>TheKingOfFighters30.png</string>
		<key>size</key>
		<string>{199,157}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>TheKingOfFighters30.png</string>
	</dict>
</dict>
</plist>
