<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_zl_zsbt_daiji_lz_00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,709},{71,96}}</string>
			<key>offset</key>
			<string>{10,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,8},{71,96}}</string>
			<key>sourceSize</key>
			<string>{105,126}</string>
		</dict>
		<key>New_zl_zsbt_daiji_lz_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{461,154},{75,82}}</string>
			<key>offset</key>
			<string>{5,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,18},{75,82}}</string>
			<key>sourceSize</key>
			<string>{105,126}</string>
		</dict>
		<key>New_zl_zsbt_daiji_lz_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,934},{97,86}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,20},{97,86}}</string>
			<key>sourceSize</key>
			<string>{105,126}</string>
		</dict>
		<key>New_zl_zsbt_daiji_lz_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{544,261},{101,80}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,21},{101,80}}</string>
			<key>sourceSize</key>
			<string>{105,126}</string>
		</dict>
		<key>New_zl_zsbt_daiji_lz_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,781},{95,84}}</string>
			<key>offset</key>
			<string>{-4,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,12},{95,84}}</string>
			<key>sourceSize</key>
			<string>{105,126}</string>
		</dict>
		<key>New_zl_zsbt_daiji_lz_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{693,261},{97,78}}</string>
			<key>offset</key>
			<string>{0,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,8},{97,78}}</string>
			<key>sourceSize</key>
			<string>{105,126}</string>
		</dict>
		<key>New_zl_zsbt_daiji_lz_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{868,198},{81,78}}</string>
			<key>offset</key>
			<string>{0,20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,4},{81,78}}</string>
			<key>sourceSize</key>
			<string>{105,126}</string>
		</dict>
		<key>New_zl_zsbt_daiji_lz_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{651,183},{77,76}}</string>
			<key>offset</key>
			<string>{-1,23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,2},{77,76}}</string>
			<key>sourceSize</key>
			<string>{105,126}</string>
		</dict>
		<key>New_zl_zsbt_daiji_lz_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{461,230},{67,82}}</string>
			<key>offset</key>
			<string>{-4,18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,4},{67,82}}</string>
			<key>sourceSize</key>
			<string>{105,126}</string>
		</dict>
		<key>New_zl_zsbt_daiji_lz_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{544,154},{75,104}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,9},{75,104}}</string>
			<key>sourceSize</key>
			<string>{105,126}</string>
		</dict>
		<key>New_zl_zsbt_daiji_lz_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,721},{81,116}}</string>
			<key>offset</key>
			<string>{2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,8},{81,116}}</string>
			<key>sourceSize</key>
			<string>{105,126}</string>
		</dict>
		<key>New_zl_zsbt_daiji_lz_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{772,215},{77,96}}</string>
			<key>offset</key>
			<string>{6,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,14},{77,96}}</string>
			<key>sourceSize</key>
			<string>{105,126}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha1_jy_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,743},{29,11}}</string>
			<key>offset</key>
			<string>{-2,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,18},{29,11}}</string>
			<key>sourceSize</key>
			<string>{37,29}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha1_jy_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,544},{31,19}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,10},{31,19}}</string>
			<key>sourceSize</key>
			<string>{37,29}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha1_jy_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{345,700},{33,23}}</string>
			<key>offset</key>
			<string>{2,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,6},{33,23}}</string>
			<key>sourceSize</key>
			<string>{37,29}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha1_jy_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,340},{35,27}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{35,27}}</string>
			<key>sourceSize</key>
			<string>{37,29}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha1_jy_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,340},{35,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{35,29}}</string>
			<key>sourceSize</key>
			<string>{37,29}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha1_jy_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,338},{35,25}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{35,25}}</string>
			<key>sourceSize</key>
			<string>{37,29}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha1_jy_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,700},{33,27}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{33,27}}</string>
			<key>sourceSize</key>
			<string>{37,29}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha1_jy_00034.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,884},{31,29}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{31,29}}</string>
			<key>sourceSize</key>
			<string>{37,29}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha1_jy_00038.png</key>
		<dict>
			<key>frame</key>
			<string>{{585,635},{27,25}}</string>
			<key>offset</key>
			<string>{-3,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,4},{27,25}}</string>
			<key>sourceSize</key>
			<string>{37,29}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha1_jy_00040.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,915},{25,13}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,9},{25,13}}</string>
			<key>sourceSize</key>
			<string>{37,29}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha2_shgxh_00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{862,2},{117,133}}</string>
			<key>offset</key>
			<string>{-4,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,2},{117,133}}</string>
			<key>sourceSize</key>
			<string>{151,141}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha2_shgxh_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{523,363},{127,135}}</string>
			<key>offset</key>
			<string>{-4,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{127,135}}</string>
			<key>sourceSize</key>
			<string>{151,141}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha2_shgxh_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,729},{147,131}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,5},{147,131}}</string>
			<key>sourceSize</key>
			<string>{151,141}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha2_shgxh_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{728,862},{133,133}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,1},{133,133}}</string>
			<key>sourceSize</key>
			<string>{151,141}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha2_shgxh_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{729,359},{125,119}}</string>
			<key>offset</key>
			<string>{3,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,15},{125,119}}</string>
			<key>sourceSize</key>
			<string>{151,141}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha2_shgxh_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{862,2},{117,133}}</string>
			<key>offset</key>
			<string>{-4,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,2},{117,133}}</string>
			<key>sourceSize</key>
			<string>{151,141}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha2_shgxh_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{523,363},{127,135}}</string>
			<key>offset</key>
			<string>{-4,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{127,135}}</string>
			<key>sourceSize</key>
			<string>{151,141}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha2_shgxh_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,729},{147,131}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,5},{147,131}}</string>
			<key>sourceSize</key>
			<string>{151,141}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha2_shgxh_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{728,862},{133,133}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,1},{133,133}}</string>
			<key>sourceSize</key>
			<string>{151,141}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha2_shgxh_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{729,359},{125,119}}</string>
			<key>offset</key>
			<string>{3,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,15},{125,119}}</string>
			<key>sourceSize</key>
			<string>{151,141}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha2_shgxhq_00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{576,663},{66,63}}</string>
			<key>offset</key>
			<string>{-17,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,63}}</string>
			<key>sourceSize</key>
			<string>{100,67}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha2_shgxhq_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{651,2},{66,55}}</string>
			<key>offset</key>
			<string>{-5,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,9},{66,55}}</string>
			<key>sourceSize</key>
			<string>{100,67}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha2_shgxhq_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{625,261},{100,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,67}}</string>
			<key>sourceSize</key>
			<string>{100,67}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha2_shy_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,338},{32,50}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,2},{32,50}}</string>
			<key>sourceSize</key>
			<string>{34,52}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha2_shy_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,318},{30,46}}</string>
			<key>offset</key>
			<string>{-1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,6},{30,46}}</string>
			<key>sourceSize</key>
			<string>{34,52}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha2_shy_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,680},{32,48}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{32,48}}</string>
			<key>sourceSize</key>
			<string>{34,52}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha2_shy_00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,338},{32,50}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{32,50}}</string>
			<key>sourceSize</key>
			<string>{34,52}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha2_shy_00034.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,680},{32,46}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,6},{32,46}}</string>
			<key>sourceSize</key>
			<string>{34,52}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha2_shy_00036.png</key>
		<dict>
			<key>frame</key>
			<string>{{453,680},{30,48}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{30,48}}</string>
			<key>sourceSize</key>
			<string>{34,52}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha2_shy_00038.png</key>
		<dict>
			<key>frame</key>
			<string>{{369,700},{32,50}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{32,50}}</string>
			<key>sourceSize</key>
			<string>{34,52}</string>
		</dict>
		<key>New_zl_zsbt_liumenbisha2_shy_00040.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,700},{34,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,52}}</string>
			<key>sourceSize</key>
			<string>{34,52}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_hy_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,340},{32,36}}</string>
			<key>offset</key>
			<string>{6,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,26},{32,36}}</string>
			<key>sourceSize</key>
			<string>{86,84}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_hy_00054.png</key>
		<dict>
			<key>frame</key>
			<string>{{517,663},{58,64}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,6},{58,64}}</string>
			<key>sourceSize</key>
			<string>{86,84}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_hy_00056.png</key>
		<dict>
			<key>frame</key>
			<string>{{953,183},{68,66}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,9},{68,66}}</string>
			<key>sourceSize</key>
			<string>{86,84}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_hy_00058.png</key>
		<dict>
			<key>frame</key>
			<string>{{651,102},{80,76}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,3},{80,76}}</string>
			<key>sourceSize</key>
			<string>{86,84}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_hy_00060.png</key>
		<dict>
			<key>frame</key>
			<string>{{868,277},{80,74}}</string>
			<key>offset</key>
			<string>{2,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{80,74}}</string>
			<key>sourceSize</key>
			<string>{86,84}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_hy_00062.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,2},{82,72}}</string>
			<key>offset</key>
			<string>{2,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,3},{82,72}}</string>
			<key>sourceSize</key>
			<string>{86,84}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_hy_00064.png</key>
		<dict>
			<key>frame</key>
			<string>{{598,69},{32,32}}</string>
			<key>offset</key>
			<string>{5,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,12},{32,32}}</string>
			<key>sourceSize</key>
			<string>{86,84}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_sg_00060.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,517},{93,145}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,3},{93,145}}</string>
			<key>sourceSize</key>
			<string>{111,157}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_sg_00062.png</key>
		<dict>
			<key>frame</key>
			<string>{{688,726},{99,135}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,10},{99,135}}</string>
			<key>sourceSize</key>
			<string>{111,157}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_sg_00064.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,734},{101,149}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,5},{101,149}}</string>
			<key>sourceSize</key>
			<string>{111,157}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_zthy2_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,340},{33,37}}</string>
			<key>offset</key>
			<string>{-14,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,80},{33,37}}</string>
			<key>sourceSize</key>
			<string>{125,179}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_zthy2_00054.png</key>
		<dict>
			<key>frame</key>
			<string>{{708,2},{79,99}}</string>
			<key>offset</key>
			<string>{-9,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,63},{79,99}}</string>
			<key>sourceSize</key>
			<string>{125,179}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_zthy2_00056.png</key>
		<dict>
			<key>frame</key>
			<string>{{389,530},{101,149}}</string>
			<key>offset</key>
			<string>{-1,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,21},{101,149}}</string>
			<key>sourceSize</key>
			<string>{125,179}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_zthy2_00058.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,374},{111,155}}</string>
			<key>offset</key>
			<string>{-5,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,18},{111,155}}</string>
			<key>sourceSize</key>
			<string>{125,179}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_zthy2_00060.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,172},{115,165}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,10},{115,165}}</string>
			<key>sourceSize</key>
			<string>{125,179}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_zthy2_00062.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,2},{119,169}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,5},{119,169}}</string>
			<key>sourceSize</key>
			<string>{125,179}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_zthy2_00064.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,172},{107,167}}</string>
			<key>offset</key>
			<string>{9,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,2},{107,167}}</string>
			<key>sourceSize</key>
			<string>{125,179}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_zthy2_00066.png</key>
		<dict>
			<key>frame</key>
			<string>{{584,727},{103,143}}</string>
			<key>offset</key>
			<string>{10,17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,1},{103,143}}</string>
			<key>sourceSize</key>
			<string>{125,179}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_zthy2_00068.png</key>
		<dict>
			<key>frame</key>
			<string>{{648,871},{79,139}}</string>
			<key>offset</key>
			<string>{4,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,5},{79,139}}</string>
			<key>sourceSize</key>
			<string>{125,179}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_zthy_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{953,120},{69,62}}</string>
			<key>offset</key>
			<string>{-5,-45}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,123},{69,62}}</string>
			<key>sourceSize</key>
			<string>{159,218}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_zthy_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{852,606},{115,102}}</string>
			<key>offset</key>
			<string>{9,-44}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,102},{115,102}}</string>
			<key>sourceSize</key>
			<string>{159,218}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_zthy_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,914},{121,108}}</string>
			<key>offset</key>
			<string>{7,-43}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,98},{121,108}}</string>
			<key>sourceSize</key>
			<string>{159,218}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_zthy_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{585,499},{135,122}}</string>
			<key>offset</key>
			<string>{7,-42}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,90},{135,122}}</string>
			<key>sourceSize</key>
			<string>{159,218}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_zthy_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,884},{137,130}}</string>
			<key>offset</key>
			<string>{9,-42}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,86},{137,130}}</string>
			<key>sourceSize</key>
			<string>{159,218}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_zthy_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,877},{145,134}}</string>
			<key>offset</key>
			<string>{7,-42}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,84},{145,134}}</string>
			<key>sourceSize</key>
			<string>{159,218}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_zthy_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,2},{151,142}}</string>
			<key>offset</key>
			<string>{3,-36}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,74},{151,142}}</string>
			<key>sourceSize</key>
			<string>{159,218}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_zthy_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,566},{131,176}}</string>
			<key>offset</key>
			<string>{0,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,36},{131,176}}</string>
			<key>sourceSize</key>
			<string>{159,218}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_zthy_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{135,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,15},{135,188}}</string>
			<key>sourceSize</key>
			<string>{159,218}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_zthy_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,191},{135,188}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,12},{135,188}}</string>
			<key>sourceSize</key>
			<string>{159,218}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_zthy_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,380},{125,188}}</string>
			<key>offset</key>
			<string>{3,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,7},{125,188}}</string>
			<key>sourceSize</key>
			<string>{159,218}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_zthy_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,569},{129,186}}</string>
			<key>offset</key>
			<string>{2,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,3},{129,186}}</string>
			<key>sourceSize</key>
			<string>{159,218}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_zthy_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,743},{123,170}}</string>
			<key>offset</key>
			<string>{5,24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,0},{123,170}}</string>
			<key>sourceSize</key>
			<string>{159,218}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_zthy_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,377},{103,166}}</string>
			<key>offset</key>
			<string>{-2,25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,1},{103,166}}</string>
			<key>sourceSize</key>
			<string>{159,218}</string>
		</dict>
		<key>New_zl_zsbt_putongbisha_zthy_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,485},{83,120}}</string>
			<key>offset</key>
			<string>{5,44}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,5},{83,120}}</string>
			<key>sourceSize</key>
			<string>{159,218}</string>
		</dict>
		<key>zl_zsbt_liumenbisha2_dd.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,318},{121,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,44}}</string>
			<key>sourceSize</key>
			<string>{121,44}</string>
		</dict>
		<key>zl_zsbt_liumenbisha2_djp.png</key>
		<dict>
			<key>frame</key>
			<string>{{643,635},{90,84}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{90,84}}</string>
			<key>sourceSize</key>
			<string>{94,84}</string>
		</dict>
		<key>zl_zsbt_liumenbisha2_yg.png</key>
		<dict>
			<key>frame</key>
			<string>{{188,915},{24,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{24,13}}</string>
			<key>sourceSize</key>
			<string>{26,15}</string>
		</dict>
		<key>zl_zsbt_xiaojineng_hy_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{868,120},{84,77}}</string>
			<key>offset</key>
			<string>{4,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{115,97},{84,77}}</string>
			<key>sourceSize</key>
			<string>{306,291}</string>
		</dict>
		<key>zl_zsbt_xiaojineng_hy_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{728,618},{102,123}}</string>
			<key>offset</key>
			<string>{1,11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{103,73},{102,123}}</string>
			<key>sourceSize</key>
			<string>{306,291}</string>
		</dict>
		<key>zl_zsbt_xiaojineng_hy_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{728,102},{112,131}}</string>
			<key>offset</key>
			<string>{-1,13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{96,67},{112,131}}</string>
			<key>sourceSize</key>
			<string>{306,291}</string>
		</dict>
		<key>zl_zsbt_xiaojineng_hy_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,371},{132,145}}</string>
			<key>offset</key>
			<string>{-1,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{86,60},{132,145}}</string>
			<key>sourceSize</key>
			<string>{306,291}</string>
		</dict>
		<key>zl_zsbt_xiaojineng_hy_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,544},{124,155}}</string>
			<key>offset</key>
			<string>{5,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{96,56},{124,155}}</string>
			<key>sourceSize</key>
			<string>{306,291}</string>
		</dict>
		<key>zl_zsbt_xiaojineng_hy_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,2},{128,161}}</string>
			<key>offset</key>
			<string>{3,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{92,52},{128,161}}</string>
			<key>sourceSize</key>
			<string>{306,291}</string>
		</dict>
		<key>zl_zsbt_xiaojineng_hy_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,164},{98,153}}</string>
			<key>offset</key>
			<string>{-3,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{101,57},{98,153}}</string>
			<key>sourceSize</key>
			<string>{306,291}</string>
		</dict>
		<key>zl_zsbt_xiaojineng_hy_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,936},{86,143}}</string>
			<key>offset</key>
			<string>{-1,13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{109,61},{86,143}}</string>
			<key>sourceSize</key>
			<string>{306,291}</string>
		</dict>
		<key>zl_zsbt_xiaojineng_ss_00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{651,362},{77,127}}</string>
			<key>offset</key>
			<string>{-10,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{79,120},{77,127}}</string>
			<key>sourceSize</key>
			<string>{255,369}</string>
		</dict>
		<key>zl_zsbt_xiaojineng_ss_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{708,490},{75,127}}</string>
			<key>offset</key>
			<string>{-9,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{81,120},{75,127}}</string>
			<key>sourceSize</key>
			<string>{255,369}</string>
		</dict>
		<key>zl_zsbt_xiaojineng_ss_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,2},{67,163}}</string>
			<key>offset</key>
			<string>{-3,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{91,102},{67,163}}</string>
			<key>sourceSize</key>
			<string>{255,369}</string>
		</dict>
		<key>zl_zsbt_xiaojineng_ss_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,743},{63,171}}</string>
			<key>offset</key>
			<string>{-3,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{93,95},{63,171}}</string>
			<key>sourceSize</key>
			<string>{255,369}</string>
		</dict>
		<key>zl_zsbt_xiaojineng_ss_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,756},{61,179}}</string>
			<key>offset</key>
			<string>{-2,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{95,89},{61,179}}</string>
			<key>sourceSize</key>
			<string>{255,369}</string>
		</dict>
		<key>zl_zsbt_xiaojineng_ss_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,756},{55,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{100,95},{55,179}}</string>
			<key>sourceSize</key>
			<string>{255,369}</string>
		</dict>
		<key>zl_zsbt_xiaojineng_ss_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,380},{45,185}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{106,90},{45,185}}</string>
			<key>sourceSize</key>
			<string>{255,369}</string>
		</dict>
		<key>zl_zsbt_xiaojineng_ss_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,756},{41,177}}</string>
			<key>offset</key>
			<string>{4,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{111,97},{41,177}}</string>
			<key>sourceSize</key>
			<string>{255,369}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>zhaisiRE_common0.png</string>
		<key>scale</key>
		<real>0.87</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>zhaisiRE_common0.png</string>
	</dict>
</dict>
</plist>
