<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_bq_fwsd_back_normal-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1744,374},{75,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,43}}</string>
			<key>sourceSize</key>
			<string>{75,43}</string>
		</dict>
		<key>btn_bq_fwsd_back_normal-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1667,371},{75,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,43}}</string>
			<key>sourceSize</key>
			<string>{75,43}</string>
		</dict>
		<key>btn_bq_fwsd_back_normal-03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1760,329},{75,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,43}}</string>
			<key>sourceSize</key>
			<string>{75,43}</string>
		</dict>
		<key>btn_bq_fwsd_back_press-01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1760,284},{75,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,43}}</string>
			<key>sourceSize</key>
			<string>{75,43}</string>
		</dict>
		<key>btn_bq_fwsd_back_press-02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1590,371},{75,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,43}}</string>
			<key>sourceSize</key>
			<string>{75,43}</string>
		</dict>
		<key>btn_bq_fwsd_back_press-03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1513,373},{75,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,43}}</string>
			<key>sourceSize</key>
			<string>{75,43}</string>
		</dict>
		<key>btn_bq_xmqh_shengpin_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1694,225},{92,36}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,4},{92,36}}</string>
			<key>sourceSize</key>
			<string>{112,46}</string>
		</dict>
		<key>btn_bq_xmqh_shengpin_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1686,271},{92,36}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,4},{92,36}}</string>
			<key>sourceSize</key>
			<string>{112,46}</string>
		</dict>
		<key>btn_bq_xmqh_xgyl_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1626,416},{40,25}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,5},{40,25}}</string>
			<key>sourceSize</key>
			<string>{54,33}</string>
		</dict>
		<key>btn_bq_xmqh_xgyl_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1443,310},{40,25}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,5},{40,25}}</string>
			<key>sourceSize</key>
			<string>{54,33}</string>
		</dict>
		<key>dizuo_xmjximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1222,310},{219,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,70}}</string>
			<key>sourceSize</key>
			<string>{219,70}</string>
		</dict>
		<key>pic_baoqi_tujian_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1453,373},{59,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,58}}</string>
			<key>sourceSize</key>
			<string>{59,58}</string>
		</dict>
		<key>pic_baoqi_tujian_di_fengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{1043,452},{12,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,1}}</string>
			<key>sourceSize</key>
			<string>{12,1}</string>
		</dict>
		<key>pic_baoqi_tujian_tubiao_di2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1470,310},{27,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,9}}</string>
			<key>sourceSize</key>
			<string>{27,9}</string>
		</dict>
		<key>pic_baoqi_xmqh_zidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1222,234},{470,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{470,29}}</string>
			<key>sourceSize</key>
			<string>{470,29}</string>
		</dict>
		<key>pic_bq_fwsd_di01_zs.png</key>
		<dict>
			<key>frame</key>
			<string>{{1816,2},{200,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,24}}</string>
			<key>sourceSize</key>
			<string>{200,24}</string>
		</dict>
		<key>pic_bq_fwsd_di02_zs.png</key>
		<dict>
			<key>frame</key>
			<string>{{1424,434},{200,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,24}}</string>
			<key>sourceSize</key>
			<string>{200,24}</string>
		</dict>
		<key>pic_bq_fwsd_di03_zs.png</key>
		<dict>
			<key>frame</key>
			<string>{{1222,434},{200,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,24}}</string>
			<key>sourceSize</key>
			<string>{200,24}</string>
		</dict>
		<key>pic_bq_fwsd_fanzuandi01.png</key>
		<dict>
			<key>frame</key>
			<string>{{734,2},{242,456}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,456}}</string>
			<key>sourceSize</key>
			<string>{242,456}</string>
		</dict>
		<key>pic_bq_fwsd_fanzuandi02.png</key>
		<dict>
			<key>frame</key>
			<string>{{978,2},{242,448}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,448}}</string>
			<key>sourceSize</key>
			<string>{242,456}</string>
		</dict>
		<key>pic_bq_fwsd_fanzuandi03.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,2},{242,456}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,456}}</string>
			<key>sourceSize</key>
			<string>{242,456}</string>
		</dict>
		<key>pic_bq_fwsd_zhongjiandi_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,2},{242,456}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,456}}</string>
			<key>sourceSize</key>
			<string>{242,456}</string>
		</dict>
		<key>pic_bq_fwsd_zhongjiandi_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{242,456}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,456}}</string>
			<key>sourceSize</key>
			<string>{242,456}</string>
		</dict>
		<key>pic_bq_fwsd_zhongjiandi_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1222,2},{230,452}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,4},{230,452}}</string>
			<key>sourceSize</key>
			<string>{242,456}</string>
		</dict>
		<key>pic_bq_tips_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1586,271},{98,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,98}}</string>
			<key>sourceSize</key>
			<string>{98,98}</string>
		</dict>
		<key>pic_bq_xmqh_tc_dian.png</key>
		<dict>
			<key>frame</key>
			<string>{{1668,416},{26,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,26}}</string>
			<key>sourceSize</key>
			<string>{26,26}</string>
		</dict>
		<key>pic_bq_xmqh_tc_dian_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1816,204},{18,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,18}}</string>
			<key>sourceSize</key>
			<string>{18,18}</string>
		</dict>
		<key>pic_bq_xmqh_xialatiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1686,365},{4,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,27}}</string>
			<key>sourceSize</key>
			<string>{4,27}</string>
		</dict>
		<key>pic_bq_xmqh_xialatiao_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1842,2},{2,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,7}}</string>
			<key>sourceSize</key>
			<string>{2,7}</string>
		</dict>
		<key>pic_bq_xmqh_xuanzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1482,271},{100,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,102}}</string>
			<key>sourceSize</key>
			<string>{100,102}</string>
		</dict>
		<key>pic_bq_xmqh_youce_taitou.png</key>
		<dict>
			<key>frame</key>
			<string>{{1222,271},{258,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{258,37}}</string>
			<key>sourceSize</key>
			<string>{258,37}</string>
		</dict>
		<key>pic_bq_xmqh_zi_qtsxjc_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1222,265},{514,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{514,4}}</string>
			<key>sourceSize</key>
			<string>{514,4}</string>
		</dict>
		<key>pic_bq_xmqh_zuoce_ditu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1696,416},{22,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,21}}</string>
			<key>sourceSize</key>
			<string>{22,21}</string>
		</dict>
		<key>pic_bq_xsyd_jiantou.png</key>
		<dict>
			<key>frame</key>
			<string>{{1222,382},{229,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{229,50}}</string>
			<key>sourceSize</key>
			<string>{229,50}</string>
		</dict>
		<key>pic_bq_xsyd_tu1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1676,2},{138,221}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,221}}</string>
			<key>sourceSize</key>
			<string>{138,221}</string>
		</dict>
		<key>pic_bq_xsyd_xuanzekuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1788,225},{56,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,57}}</string>
			<key>sourceSize</key>
			<string>{56,57}</string>
		</dict>
		<key>pic_lashentiao_baoqi.png</key>
		<dict>
			<key>frame</key>
			<string>{{978,452},{6,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,63}}</string>
			<key>sourceSize</key>
			<string>{6,63}</string>
		</dict>
		<key>pic_lashenxian_baoqi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1842,11},{2,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,4}}</string>
			<key>sourceSize</key>
			<string>{2,4}</string>
		</dict>
		<key>pic_rune_duihua.png</key>
		<dict>
			<key>frame</key>
			<string>{{1724,271},{34,76}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{34,76}}</string>
			<key>sourceSize</key>
			<string>{36,78}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Rune20.png</string>
		<key>size</key>
		<string>{1846,460}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>Rune20.png</string>
	</dict>
</dict>
</plist>
