<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_hcz_daiji_huo_00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,423},{125,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,114}}</string>
			<key>sourceSize</key>
			<string>{125,114}</string>
		</dict>
		<key>New_hcz_daiji_huo_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,130},{143,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,129}}</string>
			<key>sourceSize</key>
			<string>{143,129}</string>
		</dict>
		<key>New_hcz_daiji_huo_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{146,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,127}}</string>
			<key>sourceSize</key>
			<string>{146,127}</string>
		</dict>
		<key>New_hcz_daiji_huo_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{898,773},{110,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,99}}</string>
			<key>sourceSize</key>
			<string>{110,99}</string>
		</dict>
		<key>New_hcz_daiji_huo_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,825},{99,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,104}}</string>
			<key>sourceSize</key>
			<string>{99,104}</string>
		</dict>
		<key>New_hcz_daiji_huo_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,825},{106,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,109}}</string>
			<key>sourceSize</key>
			<string>{106,109}</string>
		</dict>
		<key>New_hcz_daiji_huo_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,629},{120,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,111}}</string>
			<key>sourceSize</key>
			<string>{120,111}</string>
		</dict>
		<key>New_hcz_liumenbisha_ci_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,656},{75,115}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{75,115}}</string>
			<key>sourceSize</key>
			<string>{75,119}</string>
		</dict>
		<key>New_hcz_liumenbisha_ci_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,933},{89,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,87}}</string>
			<key>sourceSize</key>
			<string>{89,87}</string>
		</dict>
		<key>New_hcz_liumenbisha_ci_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{601,821},{88,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,96}}</string>
			<key>sourceSize</key>
			<string>{88,96}</string>
		</dict>
		<key>New_hcz_liumenbisha_ci_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{578,924},{96,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,97}}</string>
			<key>sourceSize</key>
			<string>{96,97}</string>
		</dict>
		<key>New_hcz_liumenbisha_ci_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,656},{84,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,76}}</string>
			<key>sourceSize</key>
			<string>{84,76}</string>
		</dict>
		<key>New_hcz_liumenbisha_ci_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,656},{88,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,81}}</string>
			<key>sourceSize</key>
			<string>{88,81}</string>
		</dict>
		<key>New_hcz_liumenbisha_ci_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,741},{83,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,83}}</string>
			<key>sourceSize</key>
			<string>{83,83}</string>
		</dict>
		<key>New_hcz_liumenbisha_ci_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,936},{87,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,85}}</string>
			<key>sourceSize</key>
			<string>{87,85}</string>
		</dict>
		<key>New_hcz_liumenbisha_ci_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{861,138},{94,134}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,134}}</string>
			<key>sourceSize</key>
			<string>{94,136}</string>
		</dict>
		<key>New_hcz_liumenbisha_ci_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{660,547},{120,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,108}}</string>
			<key>sourceSize</key>
			<string>{120,108}</string>
		</dict>
		<key>New_hcz_putongbisha_huoqiuzha_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,656},{68,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,72}}</string>
			<key>sourceSize</key>
			<string>{68,72}</string>
		</dict>
		<key>New_hcz_putongbisha_huoqiuzha_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{723,107},{137,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,130}}</string>
			<key>sourceSize</key>
			<string>{137,130}</string>
		</dict>
		<key>New_hcz_putongbisha_huoqiuzha_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,238},{132,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,130}}</string>
			<key>sourceSize</key>
			<string>{132,130}</string>
		</dict>
		<key>New_hcz_putongbisha_huoqiuzha_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,273},{136,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,132}}</string>
			<key>sourceSize</key>
			<string>{136,132}</string>
		</dict>
		<key>New_hcz_putongbisha_huoqiuzha_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{584,111},{137,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,125}}</string>
			<key>sourceSize</key>
			<string>{137,125}</string>
		</dict>
		<key>New_hcz_putongbisha_huoqiuzha_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{845,347},{128,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,127}}</string>
			<key>sourceSize</key>
			<string>{128,127}</string>
		</dict>
		<key>New_hcz_putongbisha_huoqiuzha_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,535},{120,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,123}}</string>
			<key>sourceSize</key>
			<string>{120,123}</string>
		</dict>
		<key>New_hcz_putongbisha_huoqiuzha_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{807,475},{120,111}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{120,111}}</string>
			<key>sourceSize</key>
			<string>{122,111}</string>
		</dict>
		<key>New_hcz_putongbisha_huoqiuzha_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,758},{113,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,111}}</string>
			<key>sourceSize</key>
			<string>{113,111}</string>
		</dict>
		<key>New_hcz_putongbisha_huoqiuzha_00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{501,821},{99,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,102}}</string>
			<key>sourceSize</key>
			<string>{99,102}</string>
		</dict>
		<key>New_hcz_putongbisha_huoqiuzha_00034.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,930},{90,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,97}}</string>
			<key>sourceSize</key>
			<string>{90,97}</string>
		</dict>
		<key>New_hcz_putongbisha_huoqiuzha_00035.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,936},{85,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,90}}</string>
			<key>sourceSize</key>
			<string>{85,90}</string>
		</dict>
		<key>New_hcz_putongbisha_huoqiuzha_00036.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,741},{75,83}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,83}}</string>
			<key>sourceSize</key>
			<string>{77,83}</string>
		</dict>
		<key>New_hcz_putongbisha_huoqiuzha_00037.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,741},{72,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,70}}</string>
			<key>sourceSize</key>
			<string>{72,70}</string>
		</dict>
		<key>New_hcz_putongbisha_huoqiuzha_00038.png</key>
		<dict>
			<key>frame</key>
			<string>{{840,821},{56,62}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,62}}</string>
			<key>sourceSize</key>
			<string>{56,64}</string>
		</dict>
		<key>New_hcz_xiaojineng_dibo_00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{436,144},{105,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,137}}</string>
			<key>sourceSize</key>
			<string>{105,137}</string>
		</dict>
		<key>New_hcz_xiaojineng_tuowei_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{861,233},{113,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,133}}</string>
			<key>sourceSize</key>
			<string>{113,133}</string>
		</dict>
		<key>New_hcz_xiaojineng_tuowei_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{781,652},{116,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,105}}</string>
			<key>sourceSize</key>
			<string>{116,105}</string>
		</dict>
		<key>New_hcz_xiaojineng_tuowei_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,936},{109,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,85}}</string>
			<key>sourceSize</key>
			<string>{109,85}</string>
		</dict>
		<key>New_hcz_xiaojineng_tuowei_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,870},{98,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,64}}</string>
			<key>sourceSize</key>
			<string>{98,64}</string>
		</dict>
		<key>hct_100_100_49812_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{723,2},{104,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,138}}</string>
			<key>sourceSize</key>
			<string>{104,138}</string>
		</dict>
		<key>hct_102_102_51702_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{269,532},{96,125}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{96,125}}</string>
			<key>sourceSize</key>
			<string>{98,125}</string>
		</dict>
		<key>hct_103_103_68159_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{611,732},{88,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,114}}</string>
			<key>sourceSize</key>
			<string>{88,114}</string>
		</dict>
		<key>hct_105_105_37002_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,743},{81,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,103}}</string>
			<key>sourceSize</key>
			<string>{81,103}</string>
		</dict>
		<key>hct_132_132_23175_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{862,2},{135,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,137}}</string>
			<key>sourceSize</key>
			<string>{135,137}</string>
		</dict>
		<key>hct_133_133_97751_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{441,2},{142,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,141}}</string>
			<key>sourceSize</key>
			<string>{142,141}</string>
		</dict>
		<key>hct_134_134_29452_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,134},{141,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,138}}</string>
			<key>sourceSize</key>
			<string>{141,138}</string>
		</dict>
		<key>hct_135_135_33983_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{557,414},{125,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,120}}</string>
			<key>sourceSize</key>
			<string>{125,120}</string>
		</dict>
		<key>hct_137_137_71025_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{898,661},{111,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,115}}</string>
			<key>sourceSize</key>
			<string>{111,115}</string>
		</dict>
		<key>hct_138_138_8262_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,825},{104,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,107}}</string>
			<key>sourceSize</key>
			<string>{104,107}</string>
		</dict>
		<key>hct_28_28_78143_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,393},{71,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,135}}</string>
			<key>sourceSize</key>
			<string>{71,135}</string>
		</dict>
		<key>hct_29_29_13802_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{707,369},{67,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,126}}</string>
			<key>sourceSize</key>
			<string>{67,126}</string>
		</dict>
		<key>hct_31_31_74688_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,355},{67,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,132}}</string>
			<key>sourceSize</key>
			<string>{67,132}</string>
		</dict>
		<key>hct_32_32_66955_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{781,587},{64,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,117}}</string>
			<key>sourceSize</key>
			<string>{64,117}</string>
		</dict>
		<key>hct_33_33_96685_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{536,535},{69,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,123}}</string>
			<key>sourceSize</key>
			<string>{69,123}</string>
		</dict>
		<key>hct_34_34_5292_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,463},{71,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,130}}</string>
			<key>sourceSize</key>
			<string>{71,130}</string>
		</dict>
		<key>hct_35_35_6692_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{574,342},{71,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,132}}</string>
			<key>sourceSize</key>
			<string>{71,132}</string>
		</dict>
		<key>hct_36_36_91986_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,465},{67,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,130}}</string>
			<key>sourceSize</key>
			<string>{67,130}</string>
		</dict>
		<key>hct_38_38_33414_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{897,873},{110,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,62}}</string>
			<key>sourceSize</key>
			<string>{110,62}</string>
		</dict>
		<key>hct_54_54_93316_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,741},{88,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,83}}</string>
			<key>sourceSize</key>
			<string>{88,83}</string>
		</dict>
		<key>hct_55_55_1635_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,550},{90,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,110}}</string>
			<key>sourceSize</key>
			<string>{90,110}</string>
		</dict>
		<key>hct_56_56_5403_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{584,2},{108,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,138}}</string>
			<key>sourceSize</key>
			<string>{108,138}</string>
		</dict>
		<key>hct_57_57_41110_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,227},{104,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,140}}</string>
			<key>sourceSize</key>
			<string>{104,140}</string>
		</dict>
		<key>hct_59_59_12415_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{574,237},{104,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,137}}</string>
			<key>sourceSize</key>
			<string>{104,137}</string>
		</dict>
		<key>hct_61_61_64437_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,538},{99,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,122}}</string>
			<key>sourceSize</key>
			<string>{99,122}</string>
		</dict>
		<key>hct_63_63_70675_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,825},{87,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,107}}</string>
			<key>sourceSize</key>
			<string>{87,107}</string>
		</dict>
		<key>hct_64_64_83624_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,936},{85,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,100}}</string>
			<key>sourceSize</key>
			<string>{85,100}</string>
		</dict>
		<key>hct_66_66_84132_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{840,758},{57,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,62}}</string>
			<key>sourceSize</key>
			<string>{57,62}</string>
		</dict>
		<key>hct_70_70_72694_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{518,605},{100,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,119}}</string>
			<key>sourceSize</key>
			<string>{100,119}</string>
		</dict>
		<key>hct_71_71_42585_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{279,406},{125,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,130}}</string>
			<key>sourceSize</key>
			<string>{125,130}</string>
		</dict>
		<key>hct_72_72_72621_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,332},{130,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,136}}</string>
			<key>sourceSize</key>
			<string>{130,136}</string>
		</dict>
		<key>hct_73_73_62358_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,260},{132,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,139}}</string>
			<key>sourceSize</key>
			<string>{132,139}</string>
		</dict>
		<key>hct_74_74_98994_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,2},{131,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,144}}</string>
			<key>sourceSize</key>
			<string>{131,144}</string>
		</dict>
		<key>hct_77_77_46597_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,533},{122,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,129}}</string>
			<key>sourceSize</key>
			<string>{122,129}</string>
		</dict>
		<key>hct_79_79_8199_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,638},{118,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,104}}</string>
			<key>sourceSize</key>
			<string>{118,104}</string>
		</dict>
		<key>hct_80_80_46406_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,706},{114,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,99}}</string>
			<key>sourceSize</key>
			<string>{114,99}</string>
		</dict>
		<key>hct_81_81_59826_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,475},{74,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,91}}</string>
			<key>sourceSize</key>
			<string>{74,91}</string>
		</dict>
		<key>hct_92_92_58622_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,112},{144,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,114}}</string>
			<key>sourceSize</key>
			<string>{144,114}</string>
		</dict>
		<key>hct_93_93_99762_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,2},{146,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,109}}</string>
			<key>sourceSize</key>
			<string>{146,109}</string>
		</dict>
		<key>hct_97_97_76865_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{683,437},{123,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,109}}</string>
			<key>sourceSize</key>
			<string>{123,109}</string>
		</dict>
		<key>hct_99_99_46325_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{436,250},{104,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,137}}</string>
			<key>sourceSize</key>
			<string>{104,137}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>lctj_common1.png</string>
		<key>scale</key>
		<real>0.7</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lctj_common1.png</string>
	</dict>
</dict>
</plist>
