<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wy_10_10_92847_zzdtxzrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,308},{111,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,111}}</string>
			<key>sourceSize</key>
			<string>{111,111}</string>
		</dict>
		<key>wy_11_11_63369_zzdtxzrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,2},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>wy_12_12_65760_zzdtxzrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,142},{163,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,51}}</string>
			<key>sourceSize</key>
			<string>{163,51}</string>
		</dict>
		<key>wy_13_13_4588_zzdtxzrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,195},{111,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,111}}</string>
			<key>sourceSize</key>
			<string>{111,111}</string>
		</dict>
		<key>wy_14_14_12889_zzdtxzrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,314},{100,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,98}}</string>
			<key>sourceSize</key>
			<string>{100,98}</string>
		</dict>
		<key>wy_1_1_62875_zzdtxzrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,72},{210,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,68}}</string>
			<key>sourceSize</key>
			<string>{210,68}</string>
		</dict>
		<key>wy_3_3_81263_zzdtxzrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,142},{79,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,78}}</string>
			<key>sourceSize</key>
			<string>{79,78}</string>
		</dict>
		<key>wy_4_4_55202_zzdtxzrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,222},{77,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,78}}</string>
			<key>sourceSize</key>
			<string>{77,78}</string>
		</dict>
		<key>wy_5_5_45345_zzdtxzrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{210,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,68}}</string>
			<key>sourceSize</key>
			<string>{210,68}</string>
		</dict>
		<key>wy_7_7_4380_zzdtxzrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,2},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>wy_8_8_67364_zzdtxzrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,256},{56,43}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{56,43}}</string>
			<key>sourceSize</key>
			<string>{62,49}</string>
		</dict>
		<key>wy_9_9_72250_zzdtxzrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,195},{50,59}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{50,59}}</string>
			<key>sourceSize</key>
			<string>{56,67}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>zzdtxzrimage.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>zzdtxzrimage.png</string>
	</dict>
</dict>
</plist>
