<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_choujiang_kazhengh.png</key>
		<dict>
			<key>frame</key>
			<string>{{1626,2},{332,507}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{332,507}}</string>
			<key>sourceSize</key>
			<string>{332,507}</string>
		</dict>
		<key>pic_choujiang_kazhengl.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1464},{332,507}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{332,507}}</string>
			<key>sourceSize</key>
			<string>{332,507}</string>
		</dict>
		<key>pic_jp_jiuba_btn_huangse_10_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1800,1354},{214,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,95}}</string>
			<key>sourceSize</key>
			<string>{214,95}</string>
		</dict>
		<key>pic_jp_jiuba_btn_huangse_10_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1628,1478},{214,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,95}}</string>
			<key>sourceSize</key>
			<string>{214,95}</string>
		</dict>
		<key>pic_jp_jiuba_btn_huangse_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1531,1478},{214,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,95}}</string>
			<key>sourceSize</key>
			<string>{214,95}</string>
		</dict>
		<key>pic_jp_jiuba_btn_huangse_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1523,1381},{214,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,95}}</string>
			<key>sourceSize</key>
			<string>{214,95}</string>
		</dict>
		<key>pic_jp_jiuba_btn_jiuban_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2005,880},{150,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,38}}</string>
			<key>sourceSize</key>
			<string>{150,38}</string>
		</dict>
		<key>pic_jp_jiuba_btn_jiuban_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2005,728},{150,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,38}}</string>
			<key>sourceSize</key>
			<string>{150,38}</string>
		</dict>
		<key>pic_jp_jiuba_btn_lanse_10_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1815,1762},{212,95}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,95}}</string>
			<key>sourceSize</key>
			<string>{214,95}</string>
		</dict>
		<key>pic_jp_jiuba_btn_lanse_10_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1601,1791},{212,95}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,95}}</string>
			<key>sourceSize</key>
			<string>{214,95}</string>
		</dict>
		<key>pic_jp_jiuba_btn_lanse_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1387,1791},{212,95}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,95}}</string>
			<key>sourceSize</key>
			<string>{214,95}</string>
		</dict>
		<key>pic_jp_jiuba_btn_lanse_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1531,1694},{212,95}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,95}}</string>
			<key>sourceSize</key>
			<string>{214,95}</string>
		</dict>
		<key>pic_jp_jiuba_btn_lvse_10_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1800,1257},{214,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,95}}</string>
			<key>sourceSize</key>
			<string>{214,95}</string>
		</dict>
		<key>pic_jp_jiuba_btn_lvse_10_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1903,727},{214,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,95}}</string>
			<key>sourceSize</key>
			<string>{214,95}</string>
		</dict>
		<key>pic_jp_jiuba_btn_lvse_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1903,511},{214,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,95}}</string>
			<key>sourceSize</key>
			<string>{214,95}</string>
		</dict>
		<key>pic_jp_jiuba_btn_lvse_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1434,1481},{214,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,95}}</string>
			<key>sourceSize</key>
			<string>{214,95}</string>
		</dict>
		<key>pic_jp_jiuba_btn_xinban_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2005,576},{150,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,38}}</string>
			<key>sourceSize</key>
			<string>{150,38}</string>
		</dict>
		<key>pic_jp_jiuba_btn_xinban_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2005,424},{150,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,38}}</string>
			<key>sourceSize</key>
			<string>{150,38}</string>
		</dict>
		<key>pic_jp_jiuba_btn_xinshou_10_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1822,1665},{212,95}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,95}}</string>
			<key>sourceSize</key>
			<string>{214,95}</string>
		</dict>
		<key>pic_jp_jiuba_btn_xinshou_10_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1919,1451},{212,95}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,95}}</string>
			<key>sourceSize</key>
			<string>{214,95}</string>
		</dict>
		<key>pic_jp_jiuba_btn_zise_10_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1822,1451},{212,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,95}}</string>
			<key>sourceSize</key>
			<string>{212,95}</string>
		</dict>
		<key>pic_jp_jiuba_btn_zise_10_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1725,1478},{212,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,95}}</string>
			<key>sourceSize</key>
			<string>{212,95}</string>
		</dict>
		<key>pic_jp_jiuba_btn_zise_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1337,1481},{215,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,95}}</string>
			<key>sourceSize</key>
			<string>{215,95}</string>
		</dict>
		<key>pic_jp_jiuba_btn_zise_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,1798},{215,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,95}}</string>
			<key>sourceSize</key>
			<string>{215,95}</string>
		</dict>
		<key>pic_jp_jiuba_chouka_wenzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1988,231},{191,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,30}}</string>
			<key>sourceSize</key>
			<string>{191,30}</string>
		</dict>
		<key>pic_jp_jiuba_chouka_wenzi_huangse.png</key>
		<dict>
			<key>frame</key>
			<string>{{1044,1858},{191,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,30}}</string>
			<key>sourceSize</key>
			<string>{191,30}</string>
		</dict>
		<key>pic_jp_jiuba_chouka_wenzi_lanse.png</key>
		<dict>
			<key>frame</key>
			<string>{{2012,2},{195,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{195,31}}</string>
			<key>sourceSize</key>
			<string>{195,31}</string>
		</dict>
		<key>pic_jp_jiuba_chouka_wenzi_lvse.png</key>
		<dict>
			<key>frame</key>
			<string>{{1044,1826},{191,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,30}}</string>
			<key>sourceSize</key>
			<string>{191,30}</string>
		</dict>
		<key>pic_jp_jiuba_chuouka_wenzi_xinshou.png</key>
		<dict>
			<key>frame</key>
			<string>{{1973,943},{186,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,30}}</string>
			<key>sourceSize</key>
			<string>{186,30}</string>
		</dict>
		<key>pic_jp_jiuba_hunxia_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{1235,1374},{286,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{286,105}}</string>
			<key>sourceSize</key>
			<string>{286,105}</string>
		</dict>
		<key>pic_jp_jiuba_hunxia_lvse_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1798},{286,99}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{286,99}}</string>
			<key>sourceSize</key>
			<string>{286,105}</string>
		</dict>
		<key>pic_jp_jiuba_hunxia_wenan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1044,1516},{308,191}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{308,191}}</string>
			<key>sourceSize</key>
			<string>{308,191}</string>
		</dict>
		<key>pic_jp_jiuba_hunxia_wenzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1960,2},{503,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{503,26}}</string>
			<key>sourceSize</key>
			<string>{503,26}</string>
		</dict>
		<key>pic_jp_jiuba_jichu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1593,511},{308,442}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{308,442}}</string>
			<key>sourceSize</key>
			<string>{308,442}</string>
		</dict>
		<key>pic_jp_jiuba_jizhu_bj.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,980},{805,482}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{805,482}}</string>
			<key>sourceSize</key>
			<string>{805,482}</string>
		</dict>
		<key>pic_jp_jiuba_lvse_bj.png</key>
		<dict>
			<key>frame</key>
			<string>{{819,2},{805,482}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{805,482}}</string>
			<key>sourceSize</key>
			<string>{805,482}</string>
		</dict>
		<key>pic_jp_jiuba_lvse_wenan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1800,955},{300,171}}</string>
			<key>offset</key>
			<string>{-4,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,171}}</string>
			<key>sourceSize</key>
			<string>{308,191}</string>
		</dict>
		<key>pic_jp_jiuba_wenzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1988,2},{227,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{227,22}}</string>
			<key>sourceSize</key>
			<string>{227,22}</string>
		</dict>
		<key>pic_jp_jiuba_xianding_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{1237,1481},{286,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{286,98}}</string>
			<key>sourceSize</key>
			<string>{286,98}</string>
		</dict>
		<key>pic_jp_jiuba_xianding_bj.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{815,492}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{815,492}}</string>
			<key>sourceSize</key>
			<string>{815,492}</string>
		</dict>
		<key>pic_jp_jiuba_xianding_wenan.png</key>
		<dict>
			<key>frame</key>
			<string>{{734,1709},{308,191}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{308,191}}</string>
			<key>sourceSize</key>
			<string>{308,191}</string>
		</dict>
		<key>pic_jp_jiuba_xinshou.png</key>
		<dict>
			<key>frame</key>
			<string>{{1283,930},{292,442}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{292,442}}</string>
			<key>sourceSize</key>
			<string>{308,442}</string>
		</dict>
		<key>pic_jp_jiuba_xinshou_bj.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,496},{805,482}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{805,482}}</string>
			<key>sourceSize</key>
			<string>{805,482}</string>
		</dict>
		<key>pic_jp_jiuba_xinshou_wenan.png</key>
		<dict>
			<key>frame</key>
			<string>{{734,1516},{308,191}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{308,191}}</string>
			<key>sourceSize</key>
			<string>{308,191}</string>
		</dict>
		<key>pic_jp_jiuba_yeqian_xianshi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1237,1769},{116,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,148}}</string>
			<key>sourceSize</key>
			<string>{116,148}</string>
		</dict>
		<key>pic_jp_jiuba_youqing.png</key>
		<dict>
			<key>frame</key>
			<string>{{1283,486},{308,442}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{308,442}}</string>
			<key>sourceSize</key>
			<string>{308,442}</string>
		</dict>
		<key>pic_jp_jiuba_youqing_bj.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,496},{795,472}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,5},{795,472}}</string>
			<key>sourceSize</key>
			<string>{805,482}</string>
		</dict>
		<key>pic_jp_jiuba_zhuti_biaoti_fang.png</key>
		<dict>
			<key>frame</key>
			<string>{{511,1464},{424,221}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{424,221}}</string>
			<key>sourceSize</key>
			<string>{424,221}</string>
		</dict>
		<key>pic_jp_jiuba_zhuti_biaoti_gong.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,1293},{424,221}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{424,221}}</string>
			<key>sourceSize</key>
			<string>{424,221}</string>
		</dict>
		<key>pic_jp_jiuba_zhuti_biaoti_ji.png</key>
		<dict>
			<key>frame</key>
			<string>{{1577,955},{424,221}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{424,221}}</string>
			<key>sourceSize</key>
			<string>{424,221}</string>
		</dict>
		<key>pic_xjbhx_zk_bazhe.png</key>
		<dict>
			<key>frame</key>
			<string>{{1739,1381},{59,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,33}}</string>
			<key>sourceSize</key>
			<string>{59,33}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_herorecruitNew0.png</string>
		<key>size</key>
		<string>{2045,1902}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_herorecruitNew0.png</string>
	</dict>
</dict>
</plist>
