<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_bamen_buzhen_touxiangdi.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,341},{435,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{435,61}}</string>
			<key>sourceSize</key>
			<string>{435,61}</string>
		</dict>
		<key>pic_bamen_buzhen_zidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{232,337}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{232,337}}</string>
			<key>sourceSize</key>
			<string>{234,337}</string>
		</dict>
		<key>pic_beibao_kxjl_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,341},{76,488}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,488}}</string>
			<key>sourceSize</key>
			<string>{76,488}</string>
		</dict>
		<key>pic_zhuagnbei_bamen_di_kejihuoshuxing_zidi_chengse.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,578},{235,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,51}}</string>
			<key>sourceSize</key>
			<string>{235,51}</string>
		</dict>
		<key>pic_zhuagnbei_bamen_di_kejihuoshuxing_zidi_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,341},{235,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,51}}</string>
			<key>sourceSize</key>
			<string>{235,51}</string>
		</dict>
		<key>pic_zhuagnbei_bamen_di_kejihuoshuxing_zidi_lan_xiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,578},{235,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,33}}</string>
			<key>sourceSize</key>
			<string>{235,33}</string>
		</dict>
		<key>pic_zhuagnbei_bamen_di_kejihuoshuxing_zidi_lv.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,341},{235,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,33}}</string>
			<key>sourceSize</key>
			<string>{235,33}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>EightGates20.png</string>
		<key>size</key>
		<string>{236,831}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>EightGates20.png</string>
	</dict>
</dict>
</plist>
