<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_club_main_inputbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{839,2},{323,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{323,40}}</string>
			<key>sourceSize</key>
			<string>{323,40}</string>
		</dict>
		<key>pic_club_main_massagebg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{835,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{835,114}}</string>
			<key>sourceSize</key>
			<string>{835,114}</string>
		</dict>
		<key>pic_st_xxjj_di1.png</key>
		<dict>
			<key>frame</key>
			<string>{{979,76},{138,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,38}}</string>
			<key>sourceSize</key>
			<string>{138,38}</string>
		</dict>
		<key>pic_st_xxjj_di1_fengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{1119,100},{126,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,1}}</string>
			<key>sourceSize</key>
			<string>{126,1}</string>
		</dict>
		<key>pic_st_xxjj_di1_xuanzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1252,60},{132,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,35}}</string>
			<key>sourceSize</key>
			<string>{132,35}</string>
		</dict>
		<key>pic_st_xxjj_di2.png</key>
		<dict>
			<key>frame</key>
			<string>{{839,76},{138,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,38}}</string>
			<key>sourceSize</key>
			<string>{138,38}</string>
		</dict>
		<key>pic_st_xxjj_weixuanzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1119,60},{131,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,9},{131,38}}</string>
			<key>sourceSize</key>
			<string>{151,56}</string>
		</dict>
		<key>pic_st_xxjj_xuanzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1164,2},{151,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,56}}</string>
			<key>sourceSize</key>
			<string>{151,56}</string>
		</dict>
		<key>rank_number.png</key>
		<dict>
			<key>frame</key>
			<string>{{839,44},{248,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{248,30}}</string>
			<key>sourceSize</key>
			<string>{250,30}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>unionin0.png</string>
		<key>size</key>
		<string>{1386,118}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>unionin0.png</string>
	</dict>
</dict>
</plist>
