<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bzhong_dianfengchuangduiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,192},{283,227}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{283,227}}</string>
			<key>sourceSize</key>
			<string>{283,227}</string>
		</dict>
		<key>title_dianfengchuangduiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{425,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{425,188}}</string>
			<key>sourceSize</key>
			<string>{425,188}</string>
		</dict>
		<key>yihong_dianfengchuangduiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,108},{104,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,45}}</string>
			<key>sourceSize</key>
			<string>{104,45}</string>
		</dict>
		<key>yilan_dianfengchuangduiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,2},{104,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,45}}</string>
			<key>sourceSize</key>
			<string>{104,45}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>dianfengchuangduiimage.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dianfengchuangduiimage.png</string>
	</dict>
</dict>
</plist>
