<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>largepic_100012.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{430,480}}</string>
			<key>offset</key>
			<string>{13,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{125,0},{430,480}}</string>
			<key>sourceSize</key>
			<string>{654,480}</string>
		</dict>
		<key>longpic_100012.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,434},{127,216}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,0},{127,216}}</string>
			<key>sourceSize</key>
			<string>{145,216}</string>
		</dict>
		<key>middlepic_100012.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,507},{137,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,53}}</string>
			<key>sourceSize</key>
			<string>{137,53}</string>
		</dict>
		<key>namepic_100012.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,475},{120,75}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,75}}</string>
			<key>sourceSize</key>
			<string>{122,75}</string>
		</dict>
		<key>skillmaxpic_100012.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,434},{181,41}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,41}}</string>
			<key>sourceSize</key>
			<string>{185,41}</string>
		</dict>
		<key>skillnamepic_100012.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,475},{157,30}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,30}}</string>
			<key>sourceSize</key>
			<string>{159,30}</string>
		</dict>
		<key>skillsmaxpic_100012.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,434},{242,39}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{242,39}}</string>
			<key>sourceSize</key>
			<string>{248,41}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>heros_100012.png</string>
		<key>scale</key>
		<real>0.75</real>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>heros_100012.png</string>
	</dict>
</dict>
</plist>
