<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>guangming_sanseguangquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,149},{122,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,122}}</string>
			<key>sourceSize</key>
			<string>{122,122}</string>
		</dict>
		<key>hongquan_sanseguangquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,273},{111,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,111}}</string>
			<key>sourceSize</key>
			<string>{111,111}</string>
		</dict>
		<key>huangquan_sanseguangquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,386},{109,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,109}}</string>
			<key>sourceSize</key>
			<string>{109,109}</string>
		</dict>
		<key>lanquan_sanseguangquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,149},{125,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,124}}</string>
			<key>sourceSize</key>
			<string>{125,124}</string>
		</dict>
		<key>xiee_sanseguangquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{146,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,145}}</string>
			<key>sourceSize</key>
			<string>{146,145}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>sanseguangquanimage.png</string>
		<key>scale</key>
		<real>0.9</real>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>sanseguangquanimage.png</string>
	</dict>
</dict>
</plist>
