<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_xsqh_goumai_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1723},{136,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,57}}</string>
			<key>sourceSize</key>
			<string>{136,57}</string>
		</dict>
		<key>btn_xsqh_goumai_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1664},{136,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,57}}</string>
			<key>sourceSize</key>
			<string>{136,57}</string>
		</dict>
		<key>btn_xsqh_guize_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,1181},{72,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,86}}</string>
			<key>sourceSize</key>
			<string>{72,86}</string>
		</dict>
		<key>btn_xsqh_guize_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,1093},{72,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,86}}</string>
			<key>sourceSize</key>
			<string>{72,86}</string>
		</dict>
		<key>btn_xsqh_jianglirizhi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,1005},{81,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,86}}</string>
			<key>sourceSize</key>
			<string>{81,86}</string>
		</dict>
		<key>btn_xsqh_jianglirizhi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,917},{81,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,86}}</string>
			<key>sourceSize</key>
			<string>{81,86}</string>
		</dict>
		<key>btn_xsqh_jiangliyulan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,829},{81,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,86}}</string>
			<key>sourceSize</key>
			<string>{81,86}</string>
		</dict>
		<key>btn_xsqh_jiangliyulan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,741},{81,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,86}}</string>
			<key>sourceSize</key>
			<string>{81,86}</string>
		</dict>
		<key>btn_xsqh_qianwang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1605},{136,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,57}}</string>
			<key>sourceSize</key>
			<string>{136,57}</string>
		</dict>
		<key>btn_xsqh_qianwang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1546},{136,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,57}}</string>
			<key>sourceSize</key>
			<string>{136,57}</string>
		</dict>
		<key>btn_xsqh_queding2_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1312},{168,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,130}}</string>
			<key>sourceSize</key>
			<string>{168,130}</string>
		</dict>
		<key>btn_xsqh_queding2_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1180},{168,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,130}}</string>
			<key>sourceSize</key>
			<string>{168,130}</string>
		</dict>
		<key>btn_xsqh_queding_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1487},{136,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,57}}</string>
			<key>sourceSize</key>
			<string>{136,57}</string>
		</dict>
		<key>btn_xsqh_queding_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,1407},{136,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,57}}</string>
			<key>sourceSize</key>
			<string>{136,57}</string>
		</dict>
		<key>btn_xsqh_quxiao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,1269},{136,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,59}}</string>
			<key>sourceSize</key>
			<string>{136,59}</string>
		</dict>
		<key>btn_xsqh_quxiao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,603},{136,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,59}}</string>
			<key>sourceSize</key>
			<string>{136,59}</string>
		</dict>
		<key>btn_xsqh_sousuo10_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1048},{168,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,130}}</string>
			<key>sourceSize</key>
			<string>{168,130}</string>
		</dict>
		<key>btn_xsqh_sousuo10_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,916},{168,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,130}}</string>
			<key>sourceSize</key>
			<string>{168,130}</string>
		</dict>
		<key>btn_xsqh_sousuo1_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,784},{168,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,130}}</string>
			<key>sourceSize</key>
			<string>{168,130}</string>
		</dict>
		<key>btn_xsqh_sousuo1_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,652},{168,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,130}}</string>
			<key>sourceSize</key>
			<string>{168,130}</string>
		</dict>
		<key>btn_xsqh_zjm_sousuo10_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,603},{179,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,47}}</string>
			<key>sourceSize</key>
			<string>{179,47}</string>
		</dict>
		<key>btn_xsqh_zjm_sousuo10_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,554},{179,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,47}}</string>
			<key>sourceSize</key>
			<string>{179,47}</string>
		</dict>
		<key>btn_xsqh_zjm_sousuo1_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,409},{192,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,47}}</string>
			<key>sourceSize</key>
			<string>{192,47}</string>
		</dict>
		<key>btn_xsqh_zjm_sousuo1_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,215},{192,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,47}}</string>
			<key>sourceSize</key>
			<string>{192,47}</string>
		</dict>
		<key>pic_xianshiqihun_chucunshangxiantishi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1444},{166,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,41}}</string>
			<key>sourceSize</key>
			<string>{166,41}</string>
		</dict>
		<key>pic_xianshiqihun_goumaitishi.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,46},{167,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,41}}</string>
			<key>sourceSize</key>
			<string>{167,41}</string>
		</dict>
		<key>pic_xianshiqihun_guize.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1782},{119,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,39}}</string>
			<key>sourceSize</key>
			<string>{119,39}</string>
		</dict>
		<key>pic_xianshiqihun_jianglirizhi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{227,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{227,42}}</string>
			<key>sourceSize</key>
			<string>{227,42}</string>
		</dict>
		<key>pic_xianshiqihun_jiangliyulan.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,46},{205,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,42}}</string>
			<key>sourceSize</key>
			<string>{205,42}</string>
		</dict>
		<key>pic_xsqh_biaoti_ewaidajiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,90},{462,196}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{462,196}}</string>
			<key>sourceSize</key>
			<string>{462,196}</string>
		</dict>
		<key>pic_xsqh_biaoti_zuoshangjiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,1545},{257,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{257,88}}</string>
			<key>sourceSize</key>
			<string>{257,88}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_ActivityElementDraw0.png</string>
		<key>size</key>
		<string>{255,1837}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_ActivityElementDraw0.png</string>
	</dict>
</dict>
</plist>
