<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bth_lt_shuaxin_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,494},{30,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,26}}</string>
			<key>sourceSize</key>
			<string>{30,26}</string>
		</dict>
		<key>bth_lt_shuaxin_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,462},{30,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,26}}</string>
			<key>sourceSize</key>
			<string>{30,26}</string>
		</dict>
		<key>btn_jp_xtsz_main_anniu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,158},{192,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,78}}</string>
			<key>sourceSize</key>
			<string>{192,78}</string>
		</dict>
		<key>btn_jp_xtsz_main_anniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,158},{192,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,78}}</string>
			<key>sourceSize</key>
			<string>{192,78}</string>
		</dict>
		<key>btn_setting_normal_.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,561},{167,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,68}}</string>
			<key>sourceSize</key>
			<string>{167,68}</string>
		</dict>
		<key>btn_setting_press_.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,462},{167,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,68}}</string>
			<key>sourceSize</key>
			<string>{167,68}</string>
		</dict>
		<key>btn_setting_qqtequan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,780},{34,48}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,5},{34,48}}</string>
			<key>sourceSize</key>
			<string>{88,60}</string>
		</dict>
		<key>btn_setting_qqtequan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,707},{42,54}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,2},{42,54}}</string>
			<key>sourceSize</key>
			<string>{88,60}</string>
		</dict>
		<key>btn_setting_timebg.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,561},{119,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,19}}</string>
			<key>sourceSize</key>
			<string>{119,19}</string>
		</dict>
		<key>btn_sz_yysz_duigou.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,707},{36,34}}</string>
			<key>offset</key>
			<string>{-29,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,6},{36,34}}</string>
			<key>sourceSize</key>
			<string>{100,50}</string>
		</dict>
		<key>btn_sz_yysz_music_pause_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,783},{31,32}}</string>
			<key>offset</key>
			<string>{14,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{41,4},{31,32}}</string>
			<key>sourceSize</key>
			<string>{85,40}</string>
		</dict>
		<key>btn_sz_yysz_music_pause_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,763},{39,40}}</string>
			<key>offset</key>
			<string>{14,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{85,40}</string>
		</dict>
		<key>btn_sz_yysz_music_play_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,749},{31,32}}</string>
			<key>offset</key>
			<string>{14,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{41,4},{31,32}}</string>
			<key>sourceSize</key>
			<string>{85,40}</string>
		</dict>
		<key>btn_sz_yysz_music_play_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,631},{39,40}}</string>
			<key>offset</key>
			<string>{14,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{85,40}</string>
		</dict>
		<key>btn_sz_yysz_xuankuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,673},{32,32}}</string>
			<key>offset</key>
			<string>{-30,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,9},{32,32}}</string>
			<key>sourceSize</key>
			<string>{100,50}</string>
		</dict>
		<key>pic_lt_tiaomu_chendi9g.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,707},{32,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,71}}</string>
			<key>sourceSize</key>
			<string>{32,71}</string>
		</dict>
		<key>pic_lt_tiaomu_shijiandi.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,532},{177,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,27}}</string>
			<key>sourceSize</key>
			<string>{177,27}</string>
		</dict>
		<key>pic_mainbg_yjwd_xuanzhong_yuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,745},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>pic_mainbg_yjwd_xuanzhong_yuan_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,781},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{30,30}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>pic_setting_fengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{618,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{618,5}}</string>
			<key>sourceSize</key>
			<string>{618,5}</string>
		</dict>
		<key>pic_sz_gehcj_dibantu1.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,681},{23,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,123}}</string>
			<key>sourceSize</key>
			<string>{23,123}</string>
		</dict>
		<key>pic_sz_gehcj_htzz.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,707},{40,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,30}}</string>
			<key>sourceSize</key>
			<string>{40,30}</string>
		</dict>
		<key>pic_sz_gehcj_jiesuo.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,596},{212,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,30}}</string>
			<key>sourceSize</key>
			<string>{212,30}</string>
		</dict>
		<key>pic_sz_gehcj_lashenhengkuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,622},{198,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,30}}</string>
			<key>sourceSize</key>
			<string>{198,30}</string>
		</dict>
		<key>pic_sz_gehcj_pintiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{9,158},{308,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{308,35}}</string>
			<key>sourceSize</key>
			<string>{308,35}</string>
		</dict>
		<key>pic_sz_gehcj_xuyanze.png</key>
		<dict>
			<key>frame</key>
			<string>{{9,2},{241,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,154}}</string>
			<key>sourceSize</key>
			<string>{241,154}</string>
		</dict>
		<key>pic_sz_yysz_musicbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,407},{138,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,53}}</string>
			<key>sourceSize</key>
			<string>{138,53}</string>
		</dict>
		<key>pic_sz_yysz_musicbg_palying.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,352},{138,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,53}}</string>
			<key>sourceSize</key>
			<string>{138,53}</string>
		</dict>
		<key>pic_wanjiaxinxi_gouruqingbao.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,681},{91,24}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{91,24}}</string>
			<key>sourceSize</key>
			<string>{97,28}</string>
		</dict>
		<key>pic_wanjiaxinxi_jindudi.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,158},{289,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{289,24}}</string>
			<key>sourceSize</key>
			<string>{289,24}</string>
		</dict>
		<key>pic_wanjiaxinxi_jindutiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,158},{285,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{285,20}}</string>
			<key>sourceSize</key>
			<string>{289,24}</string>
		</dict>
		<key>yellow_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,631},{126,48}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,5},{126,48}}</string>
			<key>sourceSize</key>
			<string>{140,60}</string>
		</dict>
		<key>yellow_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{9,468},{126,48}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,5},{126,48}}</string>
			<key>sourceSize</key>
			<string>{140,60}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>setting0.png</string>
		<key>size</key>
		<string>{256,830}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>setting0.png</string>
	</dict>
</dict>
</plist>
