<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_shuangyeyingyouxi_zjm_kaishiyouxi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1290,2},{166,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,91}}</string>
			<key>sourceSize</key>
			<string>{166,91}</string>
		</dict>
		<key>btn_shuangyeyingyouxi_zjm_kaishiyouxi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1122,2},{166,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,91}}</string>
			<key>sourceSize</key>
			<string>{166,91}</string>
		</dict>
		<key>pic_shuangyeyingyouxi_jiesuan_gxtg_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{656,2},{293,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{293,101}}</string>
			<key>sourceSize</key>
			<string>{293,101}</string>
		</dict>
		<key>pic_shuangyeyingyouxi_jiesuan_jljs_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,2},{293,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{293,101}}</string>
			<key>sourceSize</key>
			<string>{293,101}</string>
		</dict>
		<key>pic_shuangyeyingyouxi_jiesuan_word_bencitongguanshu.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,76},{107,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,1},{107,26}}</string>
			<key>sourceSize</key>
			<string>{137,28}</string>
		</dict>
		<key>pic_shuangyeyingyouxi_jiesuan_word_kehuodejiangli.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,76},{135,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{135,27}}</string>
			<key>sourceSize</key>
			<string>{137,27}</string>
		</dict>
		<key>pic_shuangyeyingyouxi_jiesuan_word_xiayiguan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1550,54},{82,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,0},{82,42}}</string>
			<key>sourceSize</key>
			<string>{122,42}</string>
		</dict>
		<key>pic_shuangyeyingyouxi_yxzjm_nxc_pa.png</key>
		<dict>
			<key>frame</key>
			<string>{{1788,2},{117,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,91}}</string>
			<key>sourceSize</key>
			<string>{117,91}</string>
		</dict>
		<key>pic_shuangyeyingyouxi_yxzjm_zl_word_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1056,54},{25,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,26}}</string>
			<key>sourceSize</key>
			<string>{25,26}</string>
		</dict>
		<key>pic_shuangyeyingyouxi_yxzjm_zl_word_guan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1458,54},{90,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,26}}</string>
			<key>sourceSize</key>
			<string>{90,26}</string>
		</dict>
		<key>pic_shuangyeyingyouxi_yxzjm_zl_word_shengyubushu.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,76},{101,25}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{101,25}}</string>
			<key>sourceSize</key>
			<string>{103,25}</string>
		</dict>
		<key>pic_shuangyeyingyouxi_zjm_biaoti_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{357,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{357,72}}</string>
			<key>sourceSize</key>
			<string>{357,72}</string>
		</dict>
		<key>pic_shuangyeyingyouxi_zjm_word_jianglishangxian.png</key>
		<dict>
			<key>frame</key>
			<string>{{951,2},{169,50}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,50}}</string>
			<key>sourceSize</key>
			<string>{169,52}</string>
		</dict>
		<key>pic_shuangyeyingyouxi_zjm_word_jinrizuigaoguanqia.png</key>
		<dict>
			<key>frame</key>
			<string>{{1625,2},{161,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{161,50}}</string>
			<key>sourceSize</key>
			<string>{169,52}</string>
		</dict>
		<key>pic_shuangyeyingyouxi_zjm_word_wanfacishu.png</key>
		<dict>
			<key>frame</key>
			<string>{{951,54},{103,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,37}}</string>
			<key>sourceSize</key>
			<string>{103,37}</string>
		</dict>
		<key>pic_shuangyeyingyouxi_zjm_word_yihuojiangli.png</key>
		<dict>
			<key>frame</key>
			<string>{{1458,2},{165,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{165,50}}</string>
			<key>sourceSize</key>
			<string>{169,52}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_PrankGame0.png</string>
		<key>size</key>
		<string>{1907,105}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_PrankGame0.png</string>
	</dict>
</dict>
</plist>
