<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_hd_hk_tanhao9_noraml.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,2},{57,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,58}}</string>
			<key>sourceSize</key>
			<string>{57,58}</string>
		</dict>
		<key>btn_hd_hk_tanhao9_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,2},{57,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,58}}</string>
			<key>sourceSize</key>
			<string>{57,58}</string>
		</dict>
		<key>btn_jd_bnhk_guize_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,2},{57,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,58}}</string>
			<key>sourceSize</key>
			<string>{57,58}</string>
		</dict>
		<key>btn_jd_bnhk_guize_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{333,2},{57,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,58}}</string>
			<key>sourceSize</key>
			<string>{57,58}</string>
		</dict>
		<key>pic_hd_bnhk_hkjlyl_zs.png</key>
		<dict>
			<key>frame</key>
			<string>{{1037,40},{132,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,7}}</string>
			<key>sourceSize</key>
			<string>{132,7}</string>
		</dict>
		<key>pic_jp_heka_fengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{569,50},{782,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{782,7}}</string>
			<key>sourceSize</key>
			<string>{782,7}</string>
		</dict>
		<key>pic_jp_heka_jiangli_chendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1037,2},{769,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{769,36}}</string>
			<key>sourceSize</key>
			<string>{769,36}</string>
		</dict>
		<key>pic_jp_heka_tianshu.png</key>
		<dict>
			<key>frame</key>
			<string>{{569,2},{147,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,46}}</string>
			<key>sourceSize</key>
			<string>{147,46}</string>
		</dict>
		<key>pic_jp_heka_yeqian_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{718,2},{317,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{317,45}}</string>
			<key>sourceSize</key>
			<string>{317,45}</string>
		</dict>
		<key>pic_jp_heka_yeqian_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{329,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{329,59}}</string>
			<key>sourceSize</key>
			<string>{329,59}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>NewYearCard0.png</string>
		<key>size</key>
		<string>{1808,63}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>NewYearCard0.png</string>
	</dict>
</dict>
</plist>
