<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>yigenizi_zl_xcxy_tu_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{534,798},{195,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{195,169}}</string>
			<key>sourceSize</key>
			<string>{195,169}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,272},{356,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{356,207}}</string>
			<key>sourceSize</key>
			<string>{356,207}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,573},{89,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,128}}</string>
			<key>sourceSize</key>
			<string>{89,128}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,422},{74,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,105}}</string>
			<key>sourceSize</key>
			<string>{74,105}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,573},{131,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,88}}</string>
			<key>sourceSize</key>
			<string>{131,88}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,616},{213,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,178}}</string>
			<key>sourceSize</key>
			<string>{213,178}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{794,176},{206,217}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,217}}</string>
			<key>sourceSize</key>
			<string>{206,217}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,750},{55,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,40}}</string>
			<key>sourceSize</key>
			<string>{55,40}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,671},{67,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{67,48}}</string>
			<key>sourceSize</key>
			<string>{69,48}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,573},{75,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,30}}</string>
			<key>sourceSize</key>
			<string>{75,30}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{764,402},{73,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,28}}</string>
			<key>sourceSize</key>
			<string>{73,28}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,750},{39,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,55}}</string>
			<key>sourceSize</key>
			<string>{39,55}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{695,480},{91,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,68}}</string>
			<key>sourceSize</key>
			<string>{91,68}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,671},{33,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,66}}</string>
			<key>sourceSize</key>
			<string>{33,66}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,279},{293,293}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{293,293}}</string>
			<key>sourceSize</key>
			<string>{293,293}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{764,476},{47,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,24}}</string>
			<key>sourceSize</key>
			<string>{47,24}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,662},{47,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,39}}</string>
			<key>sourceSize</key>
			<string>{47,39}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_25.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,649},{30,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,58}}</string>
			<key>sourceSize</key>
			<string>{30,58}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_26.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,671},{39,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,63}}</string>
			<key>sourceSize</key>
			<string>{39,63}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_27.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,663},{75,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,82}}</string>
			<key>sourceSize</key>
			<string>{75,82}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_28.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,795},{138,199}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,199}}</string>
			<key>sourceSize</key>
			<string>{138,199}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_29.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,708},{178,186}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,186}}</string>
			<key>sourceSize</key>
			<string>{178,186}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{764,272},{29,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,129}}</string>
			<key>sourceSize</key>
			<string>{29,129}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_30.png</key>
		<dict>
			<key>frame</key>
			<string>{{695,572},{96,177}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,177}}</string>
			<key>sourceSize</key>
			<string>{96,177}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_31.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,480},{292,259}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{292,259}}</string>
			<key>sourceSize</key>
			<string>{292,259}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_32.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{404,276}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{404,276}}</string>
			<key>sourceSize</key>
			<string>{404,276}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_33.png</key>
		<dict>
			<key>frame</key>
			<string>{{794,2},{173,225}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,225}}</string>
			<key>sourceSize</key>
			<string>{173,225}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_34.png</key>
		<dict>
			<key>frame</key>
			<string>{{779,795},{231,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{231,182}}</string>
			<key>sourceSize</key>
			<string>{231,182}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_35.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,740},{187,275}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,275}}</string>
			<key>sourceSize</key>
			<string>{187,275}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_36.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,2},{386,269}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{386,269}}</string>
			<key>sourceSize</key>
			<string>{386,269}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{704,750},{74,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,73}}</string>
			<key>sourceSize</key>
			<string>{74,73}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{794,383},{232,215}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232,215}}</string>
			<key>sourceSize</key>
			<string>{232,215}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,279},{108,142}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,142}}</string>
			<key>sourceSize</key>
			<string>{108,144}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{534,740},{57,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,136}}</string>
			<key>sourceSize</key>
			<string>{57,136}</string>
		</dict>
		<key>yigenizi_zl_xcxy_tu_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,497},{103,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,173}}</string>
			<key>sourceSize</key>
			<string>{103,173}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>snygnzCard_role0.png</string>
		<key>scale</key>
		<real>0.97</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>snygnzCard_role0.png</string>
	</dict>
</dict>
</plist>
