<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>jisi_liumenbisha_feng_00001_jisiliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,866},{233,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{233,147}}</string>
			<key>sourceSize</key>
			<string>{233,149}</string>
		</dict>
		<key>jisi_liumenbisha_feng_00002_jisiliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,2},{439,278}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{439,278}}</string>
			<key>sourceSize</key>
			<string>{439,278}</string>
		</dict>
		<key>jisi_liumenbisha_feng_00003_jisiliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{441,278}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{441,278}}</string>
			<key>sourceSize</key>
			<string>{441,278}</string>
		</dict>
		<key>jisi_liumenbisha_feng_00004_jisiliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,465},{279,243}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{279,243}}</string>
			<key>sourceSize</key>
			<string>{281,243}</string>
		</dict>
		<key>jisi_liumenbisha_feng_00005_jisiliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,311},{300,241}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{300,241}}</string>
			<key>sourceSize</key>
			<string>{302,241}</string>
		</dict>
		<key>jisi_liumenbisha_feng_00006_jisiliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,311},{310,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{310,240}}</string>
			<key>sourceSize</key>
			<string>{312,240}</string>
		</dict>
		<key>jisi_liumenbisha_feng_00007_jisiliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,623},{307,258}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{307,258}}</string>
			<key>sourceSize</key>
			<string>{309,258}</string>
		</dict>
		<key>jisi_liumenbisha_feng_00008_jisiliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,710},{265,195}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{265,195}}</string>
			<key>sourceSize</key>
			<string>{265,195}</string>
		</dict>
		<key>jisi_liumenbisha_feng_00009_jisiliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,613},{251,223}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{251,223}}</string>
			<key>sourceSize</key>
			<string>{251,223}</string>
		</dict>
		<key>jisi_liumenbisha_feng_00010_jisiliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,282},{283,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{283,181}}</string>
			<key>sourceSize</key>
			<string>{283,181}</string>
		</dict>
		<key>jisi_liumenbisha_shou2_00000_jisiliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{772,385},{232,249}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232,249}}</string>
			<key>sourceSize</key>
			<string>{232,249}</string>
		</dict>
		<key>jisi_liumenbisha_shou_00000_jisiliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{768,619},{169,253}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,253}}</string>
			<key>sourceSize</key>
			<string>{169,253}</string>
		</dict>
		<key>jisi_liumenbisha_shouhuoyan_00001_jisiliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,907},{101,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,112}}</string>
			<key>sourceSize</key>
			<string>{101,112}</string>
		</dict>
		<key>jisi_liumenbisha_shouhuoyan_00003_jisiliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,907},{101,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,112}}</string>
			<key>sourceSize</key>
			<string>{101,112}</string>
		</dict>
		<key>jisi_liumenbisha_shouhuoyan_00005_jisiliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{886,208},{101,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,114}}</string>
			<key>sourceSize</key>
			<string>{101,114}</string>
		</dict>
		<key>jisi_liumenbisha_shouhuoyan_00007_jisiliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{886,105},{101,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,115}}</string>
			<key>sourceSize</key>
			<string>{101,115}</string>
		</dict>
		<key>jisi_liumenbisha_shouhuoyan_00009_jisiliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{886,2},{101,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,115}}</string>
			<key>sourceSize</key>
			<string>{101,115}</string>
		</dict>
		<key>jisi_liumenbisha_shouhuoyan_00011_jisiliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{867,790},{101,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,105}}</string>
			<key>sourceSize</key>
			<string>{101,105}</string>
		</dict>
		<key>jisi_liumenbisha_shouhuoyan_00013_jisiliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{703,907},{101,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,111}}</string>
			<key>sourceSize</key>
			<string>{101,111}</string>
		</dict>
		<key>jisi_liumenbisha_shouhuoyan_00015_jisiliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{772,282},{101,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,112}}</string>
			<key>sourceSize</key>
			<string>{101,112}</string>
		</dict>
		<key>jisi_liumenbisha_shouhuoyan_00017_jisiliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{764,790},{101,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,109}}</string>
			<key>sourceSize</key>
			<string>{101,109}</string>
		</dict>
		<key>jisi_liumenbisha_shouhuoyan_00019_jisiliumenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,901},{101,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,107}}</string>
			<key>sourceSize</key>
			<string>{101,107}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>jisiliumenimage.png</string>
		<key>scale</key>
		<real>0.74</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>jisiliumenimage.png</string>
	</dict>
</dict>
</plist>
