<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_ysl_lmbs_penfa2_00124.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,719},{58,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,58}}</string>
			<key>sourceSize</key>
			<string>{58,58}</string>
		</dict>
		<key>New_ysl_lmbs_penfa2_00126.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,778},{151,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,173}}</string>
			<key>sourceSize</key>
			<string>{151,173}</string>
		</dict>
		<key>New_ysl_lmbs_penfa2_00135.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,802},{174,177}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,177}}</string>
			<key>sourceSize</key>
			<string>{174,177}</string>
		</dict>
		<key>New_ysl_lmbs_penfa_00068.png</key>
		<dict>
			<key>frame</key>
			<string>{{471,719},{58,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,58}}</string>
			<key>sourceSize</key>
			<string>{58,58}</string>
		</dict>
		<key>New_ysl_lmbs_penfa_00069.png</key>
		<dict>
			<key>frame</key>
			<string>{{929,383},{108,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,93}}</string>
			<key>sourceSize</key>
			<string>{108,93}</string>
		</dict>
		<key>New_ysl_lmbs_penfa_00071.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,2},{157,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,154}}</string>
			<key>sourceSize</key>
			<string>{157,154}</string>
		</dict>
		<key>New_ysl_lmbs_penfa_00074.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,189},{153,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,158}}</string>
			<key>sourceSize</key>
			<string>{153,158}</string>
		</dict>
		<key>New_ysl_lmbs_penfa_00076.png</key>
		<dict>
			<key>frame</key>
			<string>{{503,562},{145,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,154}}</string>
			<key>sourceSize</key>
			<string>{145,154}</string>
		</dict>
		<key>New_ysl_lmbs_yan2_00094.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,603},{174,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{174,103}}</string>
			<key>sourceSize</key>
			<string>{174,105}</string>
		</dict>
		<key>New_ysl_lmbs_yan2_00095.png</key>
		<dict>
			<key>frame</key>
			<string>{{857,383},{68,73}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,73}}</string>
			<key>sourceSize</key>
			<string>{70,73}</string>
		</dict>
		<key>New_ysl_lmbs_yan3_00095.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,2},{199,196}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,196}}</string>
			<key>sourceSize</key>
			<string>{199,200}</string>
		</dict>
		<key>New_ysl_lmbs_yan3_00097.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,407},{189,195}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,195}}</string>
			<key>sourceSize</key>
			<string>{189,195}</string>
		</dict>
		<key>New_ysl_lmbs_yan3_00098.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,605},{191,196}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,196}}</string>
			<key>sourceSize</key>
			<string>{191,196}</string>
		</dict>
		<key>New_ysl_lmbs_yan3_00119.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,2},{199,196}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,196}}</string>
			<key>sourceSize</key>
			<string>{199,200}</string>
		</dict>
		<key>New_ysl_lmbs_yan3_00121.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,407},{189,195}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,195}}</string>
			<key>sourceSize</key>
			<string>{189,195}</string>
		</dict>
		<key>New_ysl_lmbs_yan3_00122.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,605},{191,196}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,196}}</string>
			<key>sourceSize</key>
			<string>{191,196}</string>
		</dict>
		<key>New_ysl_lmbs_yan_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,407},{197,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,157}}</string>
			<key>sourceSize</key>
			<string>{197,157}</string>
		</dict>
		<key>New_ysl_lmbs_yan_00027.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,778},{155,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,154}}</string>
			<key>sourceSize</key>
			<string>{155,154}</string>
		</dict>
		<key>New_ysl_lmbs_yan_00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{884,2},{116,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,127}}</string>
			<key>sourceSize</key>
			<string>{116,127}</string>
		</dict>
		<key>New_ysl_lmbs_yan_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,276},{106,107}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,107}}</string>
			<key>sourceSize</key>
			<string>{108,107}</string>
		</dict>
		<key>New_ysl_ptbs_tuowei1_00025.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,698},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>New_ysl_ptbs_tuowei1_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{796,887},{81,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,81}}</string>
			<key>sourceSize</key>
			<string>{81,81}</string>
		</dict>
		<key>New_ysl_ptbs_tuowei1_00031.png</key>
		<dict>
			<key>frame</key>
			<string>{{857,561},{66,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,88}}</string>
			<key>sourceSize</key>
			<string>{66,88}</string>
		</dict>
		<key>New_ysl_ptbs_tuowei2_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{849,457},{103,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,73}}</string>
			<key>sourceSize</key>
			<string>{103,73}</string>
		</dict>
		<key>New_ysl_ptbs_tuowei2_00027.png</key>
		<dict>
			<key>frame</key>
			<string>{{742,698},{107,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,78}}</string>
			<key>sourceSize</key>
			<string>{107,78}</string>
		</dict>
		<key>New_ysl_ptbs_tuowei2_00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{706,892},{110,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,89}}</string>
			<key>sourceSize</key>
			<string>{110,89}</string>
		</dict>
		<key>New_ysl_ptbs_tuowei2_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{929,686},{99,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,87}}</string>
			<key>sourceSize</key>
			<string>{99,87}</string>
		</dict>
		<key>New_ysl_ptbs_tuowei2_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,504},{76,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,57}}</string>
			<key>sourceSize</key>
			<string>{76,57}</string>
		</dict>
		<key>New_ysl_ptbs_tuowei3_00042.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,202},{189,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,61}}</string>
			<key>sourceSize</key>
			<string>{189,61}</string>
		</dict>
		<key>New_ysl_ptbs_tuowei3_00047.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,2},{186,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,57}}</string>
			<key>sourceSize</key>
			<string>{186,57}</string>
		</dict>
		<key>New_ysl_ptbs_tuowei4_00049.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{130,202}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,202}}</string>
			<key>sourceSize</key>
			<string>{130,202}</string>
		</dict>
		<key>New_ysl_ptbs_tuowei4_00050.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,392},{144,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,169}}</string>
			<key>sourceSize</key>
			<string>{144,169}</string>
		</dict>
		<key>New_ysl_ptbs_tuowei4_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{582,778},{150,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,90}}</string>
			<key>sourceSize</key>
			<string>{150,90}</string>
		</dict>
		<key>New_ysl_ptbs_tuowei5_00080.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,202},{194,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,115}}</string>
			<key>sourceSize</key>
			<string>{194,115}</string>
		</dict>
		<key>New_ysl_ptgj_daoguang_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{617,2},{145,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,116}}</string>
			<key>sourceSize</key>
			<string>{145,116}</string>
		</dict>
		<key>New_ysl_ptgj_daoguang_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{560,934},{145,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,88}}</string>
			<key>sourceSize</key>
			<string>{145,88}</string>
		</dict>
		<key>New_ysl_ptgj_daoguang_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{707,292},{133,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,68}}</string>
			<key>sourceSize</key>
			<string>{133,68}</string>
		</dict>
		<key>New_ysl_xjn_daoguang_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,205},{172,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,201}}</string>
			<key>sourceSize</key>
			<string>{172,201}</string>
		</dict>
		<key>New_ysl_xjn_daoguang_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{668,148},{143,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,92}}</string>
			<key>sourceSize</key>
			<string>{143,92}</string>
		</dict>
		<key>New_ysl_xjn_daoguangbaodian2_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{530,717},{132,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,60}}</string>
			<key>sourceSize</key>
			<string>{132,60}</string>
		</dict>
		<key>New_ysl_xjn_daoguangbaodian2_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,952},{143,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,68}}</string>
			<key>sourceSize</key>
			<string>{143,68}</string>
		</dict>
		<key>New_ysl_xjn_daoguangbaodian2_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{543,2},{150,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,73}}</string>
			<key>sourceSize</key>
			<string>{150,73}</string>
		</dict>
		<key>New_ysl_xjn_daoguangbaodian2_00017.png</key>
		<dict>
			<key>frame</key>
			<string>{{589,153},{149,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,78}}</string>
			<key>sourceSize</key>
			<string>{149,78}</string>
		</dict>
		<key>New_ysl_xjn_daoguangbaodian2_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{507,160},{150,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,81}}</string>
			<key>sourceSize</key>
			<string>{150,81}</string>
		</dict>
		<key>New_ysl_xjn_daoguangbaodian2_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{649,562},{139,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,79}}</string>
			<key>sourceSize</key>
			<string>{139,79}</string>
		</dict>
		<key>New_ysl_xjn_daoguangbaodian2_00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,952},{140,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,68}}</string>
			<key>sourceSize</key>
			<string>{140,68}</string>
		</dict>
		<key>New_ysl_xjn_shouguidao2_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{884,304},{116,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,78}}</string>
			<key>sourceSize</key>
			<string>{116,78}</string>
		</dict>
		<key>New_ysl_xjn_shouguidao2_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{736,426},{132,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,112}}</string>
			<key>sourceSize</key>
			<string>{132,112}</string>
		</dict>
		<key>New_ysl_xjn_shouguidao2_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{729,562},{127,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,135}}</string>
			<key>sourceSize</key>
			<string>{127,135}</string>
		</dict>
		<key>New_ysl_xjn_shouguidao2_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{761,145},{122,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,130}}</string>
			<key>sourceSize</key>
			<string>{122,130}</string>
		</dict>
		<key>New_ysl_xjn_shouguidao2_00021.png</key>
		<dict>
			<key>frame</key>
			<string>{{884,119},{120,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,122}}</string>
			<key>sourceSize</key>
			<string>{120,122}</string>
		</dict>
		<key>New_ysl_xjn_shouguidao2_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{929,584},{90,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,101}}</string>
			<key>sourceSize</key>
			<string>{90,101}</string>
		</dict>
		<key>New_ysl_xjn_shouguidao3_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{884,240},{122,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,63}}</string>
			<key>sourceSize</key>
			<string>{122,63}</string>
		</dict>
		<key>New_ysl_xjn_shouguidao3_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{593,449},{142,112}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{142,112}}</string>
			<key>sourceSize</key>
			<string>{144,112}</string>
		</dict>
		<key>New_ysl_xjn_shouguidao3_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,777},{114,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,105}}</string>
			<key>sourceSize</key>
			<string>{114,105}</string>
		</dict>
		<key>New_ysl_xjn_shouguidao3_00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{929,492},{93,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,91}}</string>
			<key>sourceSize</key>
			<string>{93,91}</string>
		</dict>
		<key>New_ysl_xjn_shouguidao3_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{663,702},{78,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,74}}</string>
			<key>sourceSize</key>
			<string>{78,74}</string>
		</dict>
		<key>New_ysl_xjn_shouguidao_00017.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,603},{171,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,113}}</string>
			<key>sourceSize</key>
			<string>{171,113}</string>
		</dict>
		<key>New_ysl_xjn_shouguidao_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,802},{178,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,97}}</string>
			<key>sourceSize</key>
			<string>{178,97}</string>
		</dict>
		<key>New_ysl_xjn_shouguidao_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,562},{156,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,90}}</string>
			<key>sourceSize</key>
			<string>{156,90}</string>
		</dict>
		<key>New_ysl_xjn_shouguidao_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,348},{155,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,97}}</string>
			<key>sourceSize</key>
			<string>{155,97}</string>
		</dict>
		<key>New_ysl_xjn_shouguidao_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{593,303},{145,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,113}}</string>
			<key>sourceSize</key>
			<string>{145,113}</string>
		</dict>
		<key>New_ysl_xjn_shouguidao_00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{734,2},{142,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,106}}</string>
			<key>sourceSize</key>
			<string>{142,106}</string>
		</dict>
		<key>New_ysl_xjn_shouguidao_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{779,777},{109,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,90}}</string>
			<key>sourceSize</key>
			<string>{109,90}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>yisila_common6.png</string>
		<key>scale</key>
		<real>0.72</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>yisila_common6.png</string>
	</dict>
</dict>
</plist>
