<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>a10_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,2},{313,338}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{313,338}}</string>
			<key>sourceSize</key>
			<string>{313,338}</string>
		</dict>
		<key>a1_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,712},{278,246}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{278,246}}</string>
			<key>sourceSize</key>
			<string>{278,246}</string>
		</dict>
		<key>a2_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,2},{217,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{217,152}}</string>
			<key>sourceSize</key>
			<string>{217,152}</string>
		</dict>
		<key>a3_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{759,622},{141,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,79}}</string>
			<key>sourceSize</key>
			<string>{141,79}</string>
		</dict>
		<key>a4_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{762,760},{183,176}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,176}}</string>
			<key>sourceSize</key>
			<string>{183,176}</string>
		</dict>
		<key>a5_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{909,380},{179,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,111}}</string>
			<key>sourceSize</key>
			<string>{179,111}</string>
		</dict>
		<key>a6_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,374},{278,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{278,135}}</string>
			<key>sourceSize</key>
			<string>{278,135}</string>
		</dict>
		<key>a9_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{915,196},{70,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,99}}</string>
			<key>sourceSize</key>
			<string>{70,99}</string>
		</dict>
		<key>b1_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{908,561},{121,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,84}}</string>
			<key>sourceSize</key>
			<string>{121,84}</string>
		</dict>
		<key>b2_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{823,2},{195,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{195,132}}</string>
			<key>sourceSize</key>
			<string>{195,132}</string>
		</dict>
		<key>b3_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{383,2},{244,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{244,128}}</string>
			<key>sourceSize</key>
			<string>{244,128}</string>
		</dict>
		<key>c1_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{667,2},{199,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,154}}</string>
			<key>sourceSize</key>
			<string>{199,154}</string>
		</dict>
		<key>c2_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{635,579},{122,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,83}}</string>
			<key>sourceSize</key>
			<string>{122,83}</string>
		</dict>
		<key>c3_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{605,760},{187,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,155}}</string>
			<key>sourceSize</key>
			<string>{187,155}</string>
		</dict>
		<key>c4_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{557,579},{76,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,124}}</string>
			<key>sourceSize</key>
			<string>{76,124}</string>
		</dict>
		<key>c5_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,375},{293,235}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{293,235}}</string>
			<key>sourceSize</key>
			<string>{293,235}</string>
		</dict>
		<key>deng_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,670},{47,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,41}}</string>
			<key>sourceSize</key>
			<string>{47,41}</string>
		</dict>
		<key>dengg_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{585,221},{145,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,150}}</string>
			<key>sourceSize</key>
			<string>{145,150}</string>
		</dict>
		<key>dxg_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{64,371}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,371}}</string>
			<key>sourceSize</key>
			<string>{64,371}</string>
		</dict>
		<key>hb_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,670},{33,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,40}}</string>
			<key>sourceSize</key>
			<string>{33,40}</string>
		</dict>
		<key>mask1_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,367},{39,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,6}}</string>
			<key>sourceSize</key>
			<string>{39,6}</string>
		</dict>
		<key>redd_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{352,359},{14,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,14}}</string>
			<key>sourceSize</key>
			<string>{14,14}</string>
		</dict>
		<key>redj_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,359},{14,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,10}}</string>
			<key>sourceSize</key>
			<string>{14,10}</string>
		</dict>
		<key>rwaa_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,1003},{11,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,12}}</string>
			<key>sourceSize</key>
			<string>{11,12}</string>
		</dict>
		<key>rwab_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,1003},{13,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,12}}</string>
			<key>sourceSize</key>
			<string>{13,12}</string>
		</dict>
		<key>rwac_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,1003},{8,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,12}}</string>
			<key>sourceSize</key>
			<string>{8,12}</string>
		</dict>
		<key>rwad_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,342},{12,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,17}}</string>
			<key>sourceSize</key>
			<string>{12,17}</string>
		</dict>
		<key>rwae_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{823,136},{61,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,62}}</string>
			<key>sourceSize</key>
			<string>{61,62}</string>
		</dict>
		<key>rwba_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,342},{11,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,17}}</string>
			<key>sourceSize</key>
			<string>{11,17}</string>
		</dict>
		<key>rwbb_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,365},{8,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,15}}</string>
			<key>sourceSize</key>
			<string>{8,15}</string>
		</dict>
		<key>rwbc_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,670},{37,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,70}}</string>
			<key>sourceSize</key>
			<string>{37,70}</string>
		</dict>
		<key>rwca_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,359},{13,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,32}}</string>
			<key>sourceSize</key>
			<string>{13,32}</string>
		</dict>
		<key>rwcb_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,342},{24,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,49}}</string>
			<key>sourceSize</key>
			<string>{24,49}</string>
		</dict>
		<key>rwcc_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,342},{23,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,35}}</string>
			<key>sourceSize</key>
			<string>{23,35}</string>
		</dict>
		<key>rwda_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,1003},{11,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,10}}</string>
			<key>sourceSize</key>
			<string>{11,10}</string>
		</dict>
		<key>rwdb_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{311,1003},{10,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,9}}</string>
			<key>sourceSize</key>
			<string>{10,9}</string>
		</dict>
		<key>rwdc_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,342},{24,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,47}}</string>
			<key>sourceSize</key>
			<string>{24,47}</string>
		</dict>
		<key>rwea_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,1003},{11,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,10}}</string>
			<key>sourceSize</key>
			<string>{11,10}</string>
		</dict>
		<key>rweb_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,368},{5,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,8}}</string>
			<key>sourceSize</key>
			<string>{5,8}</string>
		</dict>
		<key>rwec_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,1003},{8,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,12}}</string>
			<key>sourceSize</key>
			<string>{8,12}</string>
		</dict>
		<key>rwed_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,342},{9,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,21}}</string>
			<key>sourceSize</key>
			<string>{9,21}</string>
		</dict>
		<key>rweda_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{311,1015},{7,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,7}}</string>
			<key>sourceSize</key>
			<string>{7,7}</string>
		</dict>
		<key>rwedb_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,367},{6,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,17}}</string>
			<key>sourceSize</key>
			<string>{6,17}</string>
		</dict>
		<key>rwef_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,342},{16,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,43}}</string>
			<key>sourceSize</key>
			<string>{16,43}</string>
		</dict>
		<key>rweg_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,342},{17,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,14}}</string>
			<key>sourceSize</key>
			<string>{17,14}</string>
		</dict>
		<key>rwfa_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,342},{15,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,43}}</string>
			<key>sourceSize</key>
			<string>{15,43}</string>
		</dict>
		<key>rwfb_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,359},{14,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,9}}</string>
			<key>sourceSize</key>
			<string>{14,9}</string>
		</dict>
		<key>rwga_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,342},{19,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,23}}</string>
			<key>sourceSize</key>
			<string>{19,23}</string>
		</dict>
		<key>rwgb_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,342},{7,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,20}}</string>
			<key>sourceSize</key>
			<string>{7,20}</string>
		</dict>
		<key>rwgc_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,342},{11,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,20}}</string>
			<key>sourceSize</key>
			<string>{11,20}</string>
		</dict>
		<key>rwha_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,368},{5,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,17}}</string>
			<key>sourceSize</key>
			<string>{5,17}</string>
		</dict>
		<key>rwhb_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,1003},{11,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,37}}</string>
			<key>sourceSize</key>
			<string>{11,37}</string>
		</dict>
		<key>train_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,364},{105,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,9}}</string>
			<key>sourceSize</key>
			<string>{105,9}</string>
		</dict>
		<key>x1_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{732,203},{181,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,157}}</string>
			<key>sourceSize</key>
			<string>{181,157}</string>
		</dict>
		<key>x2_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,717},{154,284}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,284}}</string>
			<key>sourceSize</key>
			<string>{154,284}</string>
		</dict>
		<key>x3_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{761,362},{146,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,112}}</string>
			<key>sourceSize</key>
			<string>{146,112}</string>
		</dict>
		<key>x4_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,670},{45,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,53}}</string>
			<key>sourceSize</key>
			<string>{45,53}</string>
		</dict>
		<key>x5_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{425,248},{158,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,124}}</string>
			<key>sourceSize</key>
			<string>{158,124}</string>
		</dict>
		<key>x6_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{902,684},{77,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,74}}</string>
			<key>sourceSize</key>
			<string>{77,74}</string>
		</dict>
		<key>z10_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{557,374},{203,202}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,202}}</string>
			<key>sourceSize</key>
			<string>{203,202}</string>
		</dict>
		<key>z1_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{915,268},{110,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,90}}</string>
			<key>sourceSize</key>
			<string>{110,90}</string>
		</dict>
		<key>z2_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{442,654},{112,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,52}}</string>
			<key>sourceSize</key>
			<string>{112,52}</string>
		</dict>
		<key>z3_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{761,476},{144,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,145}}</string>
			<key>sourceSize</key>
			<string>{144,145}</string>
		</dict>
		<key>z4_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,670},{41,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,46}}</string>
			<key>sourceSize</key>
			<string>{41,46}</string>
		</dict>
		<key>z5_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{886,136},{69,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,58}}</string>
			<key>sourceSize</key>
			<string>{69,58}</string>
		</dict>
		<key>zhalanL_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,375},{340,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{340,179}}</string>
			<key>sourceSize</key>
			<string>{340,179}</string>
		</dict>
		<key>zhalanR_yhcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,717},{300,197}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,197}}</string>
			<key>sourceSize</key>
			<string>{300,197}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>yhcjimage.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>yhcjimage.png</string>
	</dict>
</dict>
</plist>
