<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_hhdds_liumenbisha_bo_00118.png</key>
		<dict>
			<key>frame</key>
			<string>{{684,466},{150,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,89}}</string>
			<key>sourceSize</key>
			<string>{150,89}</string>
		</dict>
		<key>New_hhdds_liumenbisha_bo_00120.png</key>
		<dict>
			<key>frame</key>
			<string>{{540,2},{178,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,93}}</string>
			<key>sourceSize</key>
			<string>{178,93}</string>
		</dict>
		<key>New_hhdds_liumenbisha_bo_00148.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,143},{174,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,87}}</string>
			<key>sourceSize</key>
			<string>{174,87}</string>
		</dict>
		<key>New_hhdds_liumenbisha_bo_00154.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,231},{172,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{172,75}}</string>
			<key>sourceSize</key>
			<string>{172,77}</string>
		</dict>
		<key>New_hhdds_liumenbisha_bo_00156.png</key>
		<dict>
			<key>frame</key>
			<string>{{715,285},{174,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,79}}</string>
			<key>sourceSize</key>
			<string>{174,79}</string>
		</dict>
		<key>New_hhdds_liumenbisha_bo_00158.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,199},{175,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,94}}</string>
			<key>sourceSize</key>
			<string>{175,94}</string>
		</dict>
		<key>New_hhdds_liumenbisha_bo_00162.png</key>
		<dict>
			<key>frame</key>
			<string>{{535,293},{173,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,98}}</string>
			<key>sourceSize</key>
			<string>{173,98}</string>
		</dict>
		<key>New_hhdds_liumenbisha_bo_00164.png</key>
		<dict>
			<key>frame</key>
			<string>{{718,185},{177,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,99}}</string>
			<key>sourceSize</key>
			<string>{177,99}</string>
		</dict>
		<key>New_hhdds_liumenbisha_bo_00166.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,97},{176,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,101}}</string>
			<key>sourceSize</key>
			<string>{176,101}</string>
		</dict>
		<key>New_hhdds_liumenbisha_bo_00170.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,648},{134,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,101}}</string>
			<key>sourceSize</key>
			<string>{134,101}</string>
		</dict>
		<key>New_hhdds_liumenbisha_stw_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,2},{119,178}}</string>
			<key>offset</key>
			<string>{-20,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{48,23},{119,178}}</string>
			<key>sourceSize</key>
			<string>{255,230}</string>
		</dict>
		<key>New_hhdds_liumenbisha_stw_00060.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{179,140}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,45},{179,140}}</string>
			<key>sourceSize</key>
			<string>{255,230}</string>
		</dict>
		<key>New_hhdds_liumenbisha_yan_00025.png</key>
		<dict>
			<key>frame</key>
			<string>{{785,764},{142,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{142,132}}</string>
			<key>sourceSize</key>
			<string>{144,132}</string>
		</dict>
		<key>New_hhdds_liumenbisha_yan_00031.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,764},{144,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,132}}</string>
			<key>sourceSize</key>
			<string>{144,132}</string>
		</dict>
		<key>New_hhdds_liumenbisha_yan_00035.png</key>
		<dict>
			<key>frame</key>
			<string>{{876,572},{146,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,133}}</string>
			<key>sourceSize</key>
			<string>{146,133}</string>
		</dict>
		<key>New_hhdds_liumenbisha_yan_00037.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,752},{148,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{148,132}}</string>
			<key>sourceSize</key>
			<string>{148,134}</string>
		</dict>
		<key>New_hhdds_liumenbisha_yan_00039.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,752},{149,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,134}}</string>
			<key>sourceSize</key>
			<string>{149,134}</string>
		</dict>
		<key>New_hhdds_liumenbisha_yan_00041.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,752},{146,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{146,133}}</string>
			<key>sourceSize</key>
			<string>{146,135}</string>
		</dict>
		<key>New_hhdds_liumenbisha_yan_00047.png</key>
		<dict>
			<key>frame</key>
			<string>{{897,142},{125,137}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{125,137}}</string>
			<key>sourceSize</key>
			<string>{129,137}</string>
		</dict>
		<key>New_hhdds_liumenbisha_yan_00049.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,280},{126,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,138}}</string>
			<key>sourceSize</key>
			<string>{126,138}</string>
		</dict>
		<key>New_hhdds_liumenbisha_yan_00051.png</key>
		<dict>
			<key>frame</key>
			<string>{{898,2},{124,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{124,139}}</string>
			<key>sourceSize</key>
			<string>{126,139}</string>
		</dict>
		<key>New_hhdds_liumenbisha_yan_00055.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,897},{125,134}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,3},{125,134}}</string>
			<key>sourceSize</key>
			<string>{127,138}</string>
		</dict>
		<key>New_hhdds_liumenbisha_yan_00069.png</key>
		<dict>
			<key>frame</key>
			<string>{{755,897},{132,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,125}}</string>
			<key>sourceSize</key>
			<string>{132,125}</string>
		</dict>
		<key>New_hhdds_liumenbisha_yan_00071.png</key>
		<dict>
			<key>frame</key>
			<string>{{621,897},{133,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,125}}</string>
			<key>sourceSize</key>
			<string>{133,125}</string>
		</dict>
		<key>New_hhdds_putongbisha2_bd_00025.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,402},{166,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,146}}</string>
			<key>sourceSize</key>
			<string>{166,146}</string>
		</dict>
		<key>New_hhdds_putongbisha2_bd_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,415},{166,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,101}}</string>
			<key>sourceSize</key>
			<string>{166,101}</string>
		</dict>
		<key>New_hhdds_putongbisha2_bd_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,307},{171,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,94}}</string>
			<key>sourceSize</key>
			<string>{171,94}</string>
		</dict>
		<key>New_hhdds_putongbisha2_bd_00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,122},{176,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,94}}</string>
			<key>sourceSize</key>
			<string>{176,94}</string>
		</dict>
		<key>New_hhdds_putongbisha2_bd_00031.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,2},{178,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,94}}</string>
			<key>sourceSize</key>
			<string>{178,94}</string>
		</dict>
		<key>New_hhdds_putongbisha3_bd_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{518,392},{165,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,149}}</string>
			<key>sourceSize</key>
			<string>{165,149}</string>
		</dict>
		<key>New_hhdds_putongbisha3_bd_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,217},{172,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,98}}</string>
			<key>sourceSize</key>
			<string>{172,98}</string>
		</dict>
		<key>New_hhdds_putongbisha3_bd_00017.png</key>
		<dict>
			<key>frame</key>
			<string>{{709,365},{166,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,100}}</string>
			<key>sourceSize</key>
			<string>{166,100}</string>
		</dict>
		<key>New_hhdds_putongbisha3_bd_00021.png</key>
		<dict>
			<key>frame</key>
			<string>{{538,198},{176,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,94}}</string>
			<key>sourceSize</key>
			<string>{176,94}</string>
		</dict>
		<key>New_hhdds_putongbisha3_cr_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,668},{61,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,81}}</string>
			<key>sourceSize</key>
			<string>{61,81}</string>
		</dict>
		<key>New_hhdds_putongbisha3_db_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{627,648},{101,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,76}}</string>
			<key>sourceSize</key>
			<string>{101,76}</string>
		</dict>
		<key>New_hhdds_putongbisha3_db_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,899},{116,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,80}}</string>
			<key>sourceSize</key>
			<string>{116,80}</string>
		</dict>
		<key>New_hhdds_putongbisha3_db_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,648},{115,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,82}}</string>
			<key>sourceSize</key>
			<string>{115,82}</string>
		</dict>
		<key>New_hhdds_putongbisha3_db_00025.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,764},{94,78}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,0},{94,78}}</string>
			<key>sourceSize</key>
			<string>{110,78}</string>
		</dict>
		<key>New_hhdds_putongbisha3_db_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,665},{86,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,69}}</string>
			<key>sourceSize</key>
			<string>{86,69}</string>
		</dict>
		<key>New_hhdds_putongbisha3_dg_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,633},{150,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,118}}</string>
			<key>sourceSize</key>
			<string>{150,118}</string>
		</dict>
		<key>New_hhdds_putongbisha3_dg_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,902},{148,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,119}}</string>
			<key>sourceSize</key>
			<string>{148,119}</string>
		</dict>
		<key>New_hhdds_putongbisha3_dg_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,902},{137,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,119}}</string>
			<key>sourceSize</key>
			<string>{137,119}</string>
		</dict>
		<key>New_hhdds_putongbisha3_dg_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,901},{118,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,115}}</string>
			<key>sourceSize</key>
			<string>{118,115}</string>
		</dict>
		<key>New_hhdds_putongbisha3_jbd_00021.png</key>
		<dict>
			<key>frame</key>
			<string>{{888,897},{127,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,125}}</string>
			<key>sourceSize</key>
			<string>{127,125}</string>
		</dict>
		<key>New_hhdds_putongbisha3_jbd_00025.png</key>
		<dict>
			<key>frame</key>
			<string>{{559,750},{146,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,80}}</string>
			<key>sourceSize</key>
			<string>{146,80}</string>
		</dict>
		<key>New_hhdds_putongbisha3_jbd_00027.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,549},{151,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,83}}</string>
			<key>sourceSize</key>
			<string>{151,83}</string>
		</dict>
		<key>New_hhdds_putonggongji_bd_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{704,632},{89,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,87}}</string>
			<key>sourceSize</key>
			<string>{89,87}</string>
		</dict>
		<key>New_hhdds_putonggongji_bd_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,668},{83,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,81}}</string>
			<key>sourceSize</key>
			<string>{83,81}</string>
		</dict>
		<key>New_hhdds_putonggongji_bd_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,556},{91,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,83}}</string>
			<key>sourceSize</key>
			<string>{91,83}</string>
		</dict>
		<key>New_hhdds_putonggongji_bd_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,665},{99,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,84}}</string>
			<key>sourceSize</key>
			<string>{99,84}</string>
		</dict>
		<key>New_hongquan__00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,517},{152,150}}</string>
			<key>offset</key>
			<string>{3,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,16},{152,150}}</string>
			<key>sourceSize</key>
			<string>{200,202}</string>
		</dict>
		<key>New_jshhd_liumenbisha_baibo2_00183.png</key>
		<dict>
			<key>frame</key>
			<string>{{719,2},{78,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,178}}</string>
			<key>sourceSize</key>
			<string>{78,178}</string>
		</dict>
		<key>New_jshhd_liumenbisha_baibo3_00162.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,750},{80,146}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,146}}</string>
			<key>sourceSize</key>
			<string>{84,146}</string>
		</dict>
		<key>New_jshhd_liumenbisha_baibo3_00166.png</key>
		<dict>
			<key>frame</key>
			<string>{{540,96},{101,177}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{101,177}}</string>
			<key>sourceSize</key>
			<string>{107,179}</string>
		</dict>
		<key>New_jshhd_liumenbisha_baibo_00167.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,437},{76,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,159}}</string>
			<key>sourceSize</key>
			<string>{76,159}</string>
		</dict>
		<key>New_jshhd_liumenbisha_baibo_00175.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,556},{75,150}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,8},{75,150}}</string>
			<key>sourceSize</key>
			<string>{75,162}</string>
		</dict>
		<key>New_jshhd_liumenbisha_baibo_00179.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,752},{73,149}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{73,149}}</string>
			<key>sourceSize</key>
			<string>{75,157}</string>
		</dict>
		<key>New_kl_putongbisha2_baoqi_00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{876,419},{146,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,152}}</string>
			<key>sourceSize</key>
			<string>{146,152}</string>
		</dict>
		<key>New_kl_putongbisha2_baoqi_00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,514},{150,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,153}}</string>
			<key>sourceSize</key>
			<string>{150,153}</string>
		</dict>
		<key>New_kl_putongbisha2_baoqi_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,294},{167,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,142}}</string>
			<key>sourceSize</key>
			<string>{167,142}</string>
		</dict>
		<key>New_klk_ptbs_shenhoubaibo_00027.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,706},{94,57}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,57}}</string>
			<key>sourceSize</key>
			<string>{96,57}</string>
		</dict>
		<key>New_klk_ptbs_shenhoubaibo_00031.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,542},{150,89}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,89}}</string>
			<key>sourceSize</key>
			<string>{152,89}</string>
		</dict>
		<key>New_klk_ptbs_shenhoubaibo_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,316},{167,98}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,98}}</string>
			<key>sourceSize</key>
			<string>{169,98}</string>
		</dict>
		<key>New_klk_ptbs_shenhoubaibo_00034.png</key>
		<dict>
			<key>frame</key>
			<string>{{719,81},{177,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,103}}</string>
			<key>sourceSize</key>
			<string>{177,103}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>jshhdXVJD_common3.png</string>
		<key>scale</key>
		<real>0.5</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>jshhdXVJD_common3.png</string>
	</dict>
</dict>
</plist>
