<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>jingle_kulachenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,105},{71,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,65}}</string>
			<key>sourceSize</key>
			<string>{71,65}</string>
		</dict>
		<key>mask01_kulachenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{101,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,101}}</string>
			<key>sourceSize</key>
			<string>{101,101}</string>
		</dict>
		<key>tou_kulachenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,166},{50,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,58}}</string>
			<key>sourceSize</key>
			<string>{50,58}</string>
		</dict>
		<key>wy_12_12_18333_kulachenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,243},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>wy_16_16_89253_kulachenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,178},{65,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,27}}</string>
			<key>sourceSize</key>
			<string>{65,27}</string>
		</dict>
		<key>wy_17_17_83718_kulachenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,178},{63,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,38}}</string>
			<key>sourceSize</key>
			<string>{63,38}</string>
		</dict>
		<key>wy_18_18_78947_kulachenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,105},{59,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,44}}</string>
			<key>sourceSize</key>
			<string>{59,44}</string>
		</dict>
		<key>wy_19_19_8903_kulachenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{105,2},{51,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,38}}</string>
			<key>sourceSize</key>
			<string>{51,38}</string>
		</dict>
		<key>wy_20_20_7596_kulachenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{145,2},{50,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,39}}</string>
			<key>sourceSize</key>
			<string>{50,39}</string>
		</dict>
		<key>wy_21_21_15334_kulachenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,105},{50,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,31}}</string>
			<key>sourceSize</key>
			<string>{50,31}</string>
		</dict>
		<key>wy_23_23_97204_kulachenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,157},{48,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,18}}</string>
			<key>sourceSize</key>
			<string>{48,18}</string>
		</dict>
		<key>wy_24_24_40712_kulachenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,243},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>wy_2_2_66275_kulachenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,226},{23,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,27}}</string>
			<key>sourceSize</key>
			<string>{23,27}</string>
		</dict>
		<key>wy_3_3_59379_kulachenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,226},{16,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,19}}</string>
			<key>sourceSize</key>
			<string>{16,19}</string>
		</dict>
		<key>wy_4_4_62168_kulachenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,226},{19,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,22}}</string>
			<key>sourceSize</key>
			<string>{19,22}</string>
		</dict>
		<key>wy_5_5_63328_kulachenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,207},{15,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,17}}</string>
			<key>sourceSize</key>
			<string>{15,17}</string>
		</dict>
		<key>wy_6_6_31729_kulachenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,226},{18,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,21}}</string>
			<key>sourceSize</key>
			<string>{18,21}</string>
		</dict>
		<key>wy_7_7_42_kulachenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,207},{31,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,14}}</string>
			<key>sourceSize</key>
			<string>{31,14}</string>
		</dict>
		<key>wy_8_8_8851_kulachenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,223},{29,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,13}}</string>
			<key>sourceSize</key>
			<string>{29,13}</string>
		</dict>
		<key>wy_9_9_91133_kulachenghaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{105,55},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>kulachenghaoimage.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>kulachenghaoimage.png</string>
	</dict>
</dict>
</plist>
