<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_basheni_shengdan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1885,2},{133,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,156}}</string>
			<key>sourceSize</key>
			<string>{133,156}</string>
		</dict>
		<key>pic_jp_hd_main_bg02.png</key>
		<dict>
			<key>frame</key>
			<string>{{660,2},{238,367}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{238,367}}</string>
			<key>sourceSize</key>
			<string>{238,367}</string>
		</dict>
		<key>pic_jp_hd_main_bg03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1029,2},{238,366}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{238,366}}</string>
			<key>sourceSize</key>
			<string>{238,366}</string>
		</dict>
		<key>pic_jp_hd_main_chendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1015,242},{194,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,32}}</string>
			<key>sourceSize</key>
			<string>{194,32}</string>
		</dict>
		<key>pic_jp_hd_main_chendi01.png</key>
		<dict>
			<key>frame</key>
			<string>{{819,242},{194,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,32}}</string>
			<key>sourceSize</key>
			<string>{194,32}</string>
		</dict>
		<key>pic_jp_hd_main_chendi03.png</key>
		<dict>
			<key>frame</key>
			<string>{{619,242},{198,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,28}}</string>
			<key>sourceSize</key>
			<string>{198,28}</string>
		</dict>
		<key>pic_jp_hd_main_chendi04.png</key>
		<dict>
			<key>frame</key>
			<string>{{1397,224},{198,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,28}}</string>
			<key>sourceSize</key>
			<string>{198,28}</string>
		</dict>
		<key>pic_jp_hd_main_chendi05.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,79},{612,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{612,64}}</string>
			<key>sourceSize</key>
			<string>{612,64}</string>
		</dict>
		<key>pic_jp_hd_main_chendi06.png</key>
		<dict>
			<key>frame</key>
			<string>{{241,298},{13,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,23}}</string>
			<key>sourceSize</key>
			<string>{13,23}</string>
		</dict>
		<key>pic_jp_hd_main_chendi07.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,145},{232,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232,62}}</string>
			<key>sourceSize</key>
			<string>{232,62}</string>
		</dict>
		<key>pic_jp_hd_main_chendi08.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,209},{230,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{230,62}}</string>
			<key>sourceSize</key>
			<string>{230,62}</string>
		</dict>
		<key>pic_jp_hd_main_weijihuochendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,273},{227,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{227,32}}</string>
			<key>sourceSize</key>
			<string>{227,32}</string>
		</dict>
		<key>pic_jp_hd_main_weijihuochendi01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1648,191},{227,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{227,32}}</string>
			<key>sourceSize</key>
			<string>{227,32}</string>
		</dict>
		<key>pic_jp_hd_shuoming_xuetiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,307},{173,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,19}}</string>
			<key>sourceSize</key>
			<string>{173,19}</string>
		</dict>
		<key>pic_jp_hd_shuoming_xuetiao01.png</key>
		<dict>
			<key>frame</key>
			<string>{{241,323},{167,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,15}}</string>
			<key>sourceSize</key>
			<string>{167,15}</string>
		</dict>
		<key>pic_jp_hd_yueka_dipan01.png</key>
		<dict>
			<key>frame</key>
			<string>{{796,276},{175,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,47}}</string>
			<key>sourceSize</key>
			<string>{175,47}</string>
		</dict>
		<key>pic_jp_hd_yueka_dipan02.png</key>
		<dict>
			<key>frame</key>
			<string>{{619,272},{175,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,47}}</string>
			<key>sourceSize</key>
			<string>{175,47}</string>
		</dict>
		<key>pic_jp_hd_yueka_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{656,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{656,75}}</string>
			<key>sourceSize</key>
			<string>{656,75}</string>
		</dict>
		<key>pic_shengdanjiemian_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,145},{187,237}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,237}}</string>
			<key>sourceSize</key>
			<string>{187,237}</string>
		</dict>
		<key>pic_shengdanjiemian_diban_f.png</key>
		<dict>
			<key>frame</key>
			<string>{{1648,2},{187,235}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{187,235}}</string>
			<key>sourceSize</key>
			<string>{187,237}</string>
		</dict>
		<key>pic_shengdanjiemian_huangdiban.png</key>
		<dict>
			<key>frame</key>
			<string>{{1389,254},{176,79}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{176,79}}</string>
			<key>sourceSize</key>
			<string>{176,81}</string>
		</dict>
		<key>pic_shengdanjiemian_huangdiban_f.png</key>
		<dict>
			<key>frame</key>
			<string>{{1211,242},{176,79}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{176,79}}</string>
			<key>sourceSize</key>
			<string>{176,81}</string>
		</dict>
		<key>pic_shengdanjiemian_moren.png</key>
		<dict>
			<key>frame</key>
			<string>{{973,276},{128,28}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{128,28}}</string>
			<key>sourceSize</key>
			<string>{132,28}</string>
		</dict>
		<key>pic_shengdanjiemian_rexiaozhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1567,254},{129,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,79}}</string>
			<key>sourceSize</key>
			<string>{129,79}</string>
		</dict>
		<key>pic_shengdanjiemian_shangjia_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{973,306},{26,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,32}}</string>
			<key>sourceSize</key>
			<string>{26,32}</string>
		</dict>
		<key>pic_shengdanjiemian_shangjia_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{616,79},{22,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,20}}</string>
			<key>sourceSize</key>
			<string>{22,20}</string>
		</dict>
		<key>pic_shengdanjiemian_shiyongzhing.png</key>
		<dict>
			<key>frame</key>
			<string>{{1885,160},{146,79}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{146,79}}</string>
			<key>sourceSize</key>
			<string>{148,83}</string>
		</dict>
		<key>pic_shengdanjiemian_touying.png</key>
		<dict>
			<key>frame</key>
			<string>{{585,321},{133,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,17}}</string>
			<key>sourceSize</key>
			<string>{133,17}</string>
		</dict>
		<key>pic_shengdanjiemian_zanwu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1103,276},{100,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,28}}</string>
			<key>sourceSize</key>
			<string>{100,28}</string>
		</dict>
		<key>pic_shizhuang_lashenxuanzhongkuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1397,2},{220,249}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,249}}</string>
			<key>sourceSize</key>
			<string>{220,249}</string>
		</dict>
		<key>pic_shizhuang_shiyongzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1884,241},{89,92}}</string>
			<key>offset</key>
			<string>{2,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,19},{89,92}}</string>
			<key>sourceSize</key>
			<string>{121,122}</string>
		</dict>
		<key>pic_shizhuang_xialahuangdiban.png</key>
		<dict>
			<key>frame</key>
			<string>{{1792,225},{90,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{90,102}}</string>
			<key>sourceSize</key>
			<string>{92,102}</string>
		</dict>
		<key>pic_shizhuang_xialahuangdiban_f.png</key>
		<dict>
			<key>frame</key>
			<string>{{1698,225},{92,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,102}}</string>
			<key>sourceSize</key>
			<string>{92,102}</string>
		</dict>
		<key>pic_zhezhaocaizhi_shengdan.png</key>
		<dict>
			<key>frame</key>
			<string>{{241,145},{144,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,151}}</string>
			<key>sourceSize</key>
			<string>{144,151}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>global_ip130.png</string>
		<key>size</key>
		<string>{2034,340}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>global_ip130.png</string>
	</dict>
</dict>
</plist>
