<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_r_jbgz_dtc_guize_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,1762},{48,142}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{48,142}}</string>
			<key>sourceSize</key>
			<string>{58,148}</string>
		</dict>
		<key>btn_r_jbgz_dtc_guize_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,1615},{58,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,148}}</string>
			<key>sourceSize</key>
			<string>{58,148}</string>
		</dict>
		<key>btn_r_jbgz_dtc_jiangliyulan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,1762},{48,142}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{48,142}}</string>
			<key>sourceSize</key>
			<string>{58,148}</string>
		</dict>
		<key>btn_r_jbgz_dtc_jiangliyulan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,943},{58,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,148}}</string>
			<key>sourceSize</key>
			<string>{58,148}</string>
		</dict>
		<key>btn_r_jbgz_dtc_mdxz_queding_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,1598},{202,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,58}}</string>
			<key>sourceSize</key>
			<string>{202,58}</string>
		</dict>
		<key>btn_r_jbgz_dtc_mdxz_queding_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,1538},{202,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,58}}</string>
			<key>sourceSize</key>
			<string>{202,58}</string>
		</dict>
		<key>btn_r_jbgz_dtc_mdxz_quxiao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,1478},{202,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,58}}</string>
			<key>sourceSize</key>
			<string>{202,58}</string>
		</dict>
		<key>btn_r_jbgz_dtc_mdxz_quxiao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,1418},{202,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,58}}</string>
			<key>sourceSize</key>
			<string>{202,58}</string>
		</dict>
		<key>btn_r_jbgz_dtc_xinyuandan_baocun_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,1433},{168,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,49}}</string>
			<key>sourceSize</key>
			<string>{168,49}</string>
		</dict>
		<key>btn_r_jbgz_dtc_xinyuandan_baocun_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,649},{168,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,49}}</string>
			<key>sourceSize</key>
			<string>{168,49}</string>
		</dict>
		<key>btn_r_jbgz_gxhd_queding_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1255},{221,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,69}}</string>
			<key>sourceSize</key>
			<string>{221,69}</string>
		</dict>
		<key>btn_r_jbgz_gxhd_queding_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,1233},{221,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,69}}</string>
			<key>sourceSize</key>
			<string>{221,69}</string>
		</dict>
		<key>btn_r_jbgz_gxhd_zmcs100_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1184},{221,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,69}}</string>
			<key>sourceSize</key>
			<string>{221,69}</string>
		</dict>
		<key>btn_r_jbgz_gxhd_zmcs100_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,1162},{221,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,69}}</string>
			<key>sourceSize</key>
			<string>{221,69}</string>
		</dict>
		<key>btn_r_jbgz_gxhd_zmcs10_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1113},{221,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,69}}</string>
			<key>sourceSize</key>
			<string>{221,69}</string>
		</dict>
		<key>btn_r_jbgz_gxhd_zmcs10_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,1091},{221,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,69}}</string>
			<key>sourceSize</key>
			<string>{221,69}</string>
		</dict>
		<key>btn_r_jbgz_gxhd_zmcs1_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1042},{221,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,69}}</string>
			<key>sourceSize</key>
			<string>{221,69}</string>
		</dict>
		<key>btn_r_jbgz_gxhd_zmcs1_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,798},{221,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,69}}</string>
			<key>sourceSize</key>
			<string>{221,69}</string>
		</dict>
		<key>btn_r_jbgz_mdzm_ghgdj_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{105,1702},{142,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,58}}</string>
			<key>sourceSize</key>
			<string>{142,58}</string>
		</dict>
		<key>btn_r_jbgz_mdzm_ghgdj_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,1763},{142,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,58}}</string>
			<key>sourceSize</key>
			<string>{142,58}</string>
		</dict>
		<key>btn_r_jbgz_xfmd_ghgdj_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{383,1765},{142,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,62}}</string>
			<key>sourceSize</key>
			<string>{142,62}</string>
		</dict>
		<key>btn_r_jbgz_xfmd_ghgdj_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,654},{142,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,62}}</string>
			<key>sourceSize</key>
			<string>{142,62}</string>
		</dict>
		<key>btn_r_jbgz_xfmd_icon_gz_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{269,1871},{70,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,80}}</string>
			<key>sourceSize</key>
			<string>{70,80}</string>
		</dict>
		<key>btn_r_jbgz_xfmd_icon_gz_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{249,1690},{70,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,80}}</string>
			<key>sourceSize</key>
			<string>{70,80}</string>
		</dict>
		<key>btn_r_jbgz_xfmd_icon_mdb_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,673},{97,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,81}}</string>
			<key>sourceSize</key>
			<string>{97,81}</string>
		</dict>
		<key>btn_r_jbgz_xfmd_icon_mdb_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,590},{97,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,81}}</string>
			<key>sourceSize</key>
			<string>{97,81}</string>
		</dict>
		<key>btn_r_jbgz_xfmd_icon_yiyongyou.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,819},{66,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,55}}</string>
			<key>sourceSize</key>
			<string>{66,55}</string>
		</dict>
		<key>btn_r_jbgz_xfmd_icon_zmjl_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,1762},{76,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,81}}</string>
			<key>sourceSize</key>
			<string>{76,81}</string>
		</dict>
		<key>btn_r_jbgz_xfmd_icon_zmjl_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,1909},{76,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,81}}</string>
			<key>sourceSize</key>
			<string>{76,81}</string>
		</dict>
		<key>btn_r_jbgz_xfmd_jianglidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{105,1909},{84,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,87}}</string>
			<key>sourceSize</key>
			<string>{84,87}</string>
		</dict>
		<key>btn_r_jbgz_xfmd_yilingqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,887},{55,54}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{55,54}}</string>
			<key>sourceSize</key>
			<string>{61,60}</string>
		</dict>
		<key>btn_r_jbgz_xfmd_yq_zi_mindingzhaomu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,1612},{111,27}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,1},{111,27}}</string>
			<key>sourceSize</key>
			<string>{147,31}</string>
		</dict>
		<key>btn_r_jbgz_xfmd_yq_zi_mindingzhaomu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,1517},{115,31}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,0},{115,31}}</string>
			<key>sourceSize</key>
			<string>{147,31}</string>
		</dict>
		<key>btn_r_jbgz_xfmd_yq_zi_richangzhaomu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,1641},{109,27}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,1},{109,27}}</string>
			<key>sourceSize</key>
			<string>{147,31}</string>
		</dict>
		<key>btn_r_jbgz_xfmd_yq_zi_richangzhaomu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,1550},{113,31}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,0},{113,31}}</string>
			<key>sourceSize</key>
			<string>{147,31}</string>
		</dict>
		<key>btn_r_jbgz_xfmd_yq_zi_xinfuminding_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,1762},{145,27}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{145,27}}</string>
			<key>sourceSize</key>
			<string>{147,31}</string>
		</dict>
		<key>btn_r_jbgz_xfmd_yq_zi_xinfuminding_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{269,1953},{147,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,31}}</string>
			<key>sourceSize</key>
			<string>{147,31}</string>
		</dict>
		<key>btn_r_jbgz_xfmd_yq_zi_xinyuanzhaomu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,1583},{111,27}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,1},{111,27}}</string>
			<key>sourceSize</key>
			<string>{147,31}</string>
		</dict>
		<key>btn_r_jbgz_xfmd_yq_zi_xinyuanzhaomu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,1484},{115,31}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,0},{115,31}}</string>
			<key>sourceSize</key>
			<string>{147,31}</string>
		</dict>
		<key>btn_r_jbgz_xfmd_zhaomucishu10_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,778},{224,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,68}}</string>
			<key>sourceSize</key>
			<string>{224,68}</string>
		</dict>
		<key>btn_r_jbgz_xfmd_zhaomucishu10_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,708},{224,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,68}}</string>
			<key>sourceSize</key>
			<string>{224,68}</string>
		</dict>
		<key>btn_r_jbgz_xfmd_zhaomucishu1_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,1021},{223,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{223,68}}</string>
			<key>sourceSize</key>
			<string>{223,68}</string>
		</dict>
		<key>btn_r_jbgz_xfmd_zhaomucishu1_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,972},{223,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{223,68}}</string>
			<key>sourceSize</key>
			<string>{223,68}</string>
		</dict>
		<key>pic_jbck_richangzm_slg_ci.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1326},{667,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{667,34}}</string>
			<key>sourceSize</key>
			<string>{667,34}</string>
		</dict>
		<key>pic_r_jbgz_dtc_mdxz_bt_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,1658},{135,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,35}}</string>
			<key>sourceSize</key>
			<string>{135,35}</string>
		</dict>
		<key>pic_r_jbgz_dtc_mdxz_wenzi_fang.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,1795},{32,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,35}}</string>
			<key>sourceSize</key>
			<string>{32,35}</string>
		</dict>
		<key>pic_r_jbgz_dtc_mdxz_wenzi_gong.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,1864},{33,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,33}}</string>
			<key>sourceSize</key>
			<string>{33,33}</string>
		</dict>
		<key>pic_r_jbgz_dtc_mdxz_wenzi_ji.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,1829},{34,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,33}}</string>
			<key>sourceSize</key>
			<string>{34,33}</string>
		</dict>
		<key>pic_r_jbgz_dtc_mdxz_yiyongyou.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,1398},{170,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,33}}</string>
			<key>sourceSize</key>
			<string>{170,33}</string>
		</dict>
		<key>pic_r_jbgz_dtc_xinyuanbiduihuan_bt_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,1361},{180,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,35}}</string>
			<key>sourceSize</key>
			<string>{180,35}</string>
		</dict>
		<key>pic_r_jbgz_dtc_xinyuandan_bt_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,1326},{185,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,33}}</string>
			<key>sourceSize</key>
			<string>{185,33}</string>
		</dict>
		<key>pic_r_jbgz_dtc_xinyuandan_weiyongyou.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,497},{92,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,29}}</string>
			<key>sourceSize</key>
			<string>{92,29}</string>
		</dict>
		<key>pic_r_jbgz_dtc_xinyuandan_yimanxing.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,466},{92,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,29}}</string>
			<key>sourceSize</key>
			<string>{92,29}</string>
		</dict>
		<key>pic_r_jbgz_dtc_zhaomujilu_bt_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,1478},{135,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,35}}</string>
			<key>sourceSize</key>
			<string>{135,35}</string>
		</dict>
		<key>pic_r_jbgz_dtc_zuize_bt_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,528},{103,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,32}}</string>
			<key>sourceSize</key>
			<string>{103,32}</string>
		</dict>
		<key>pic_r_jbgz_gxhd_biaotizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,649},{231,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{231,57}}</string>
			<key>sourceSize</key>
			<string>{231,57}</string>
		</dict>
		<key>pic_r_jbgz_gxhd_tgdh_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,634},{64,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,18}}</string>
			<key>sourceSize</key>
			<string>{64,18}</string>
		</dict>
		<key>pic_r_jbgz_mdzm_jieying.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{417,443}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{417,443}}</string>
			<key>sourceSize</key>
			<string>{417,443}</string>
		</dict>
		<key>pic_r_jbgz_mdzm_mingzixinxi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,520},{283,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{283,83}}</string>
			<key>sourceSize</key>
			<string>{283,83}</string>
		</dict>
		<key>pic_r_jbgz_richangzhaomu_xuanchuanyu.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,421},{388,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{388,43}}</string>
			<key>sourceSize</key>
			<string>{388,43}</string>
		</dict>
		<key>pic_r_jbgz_richangzhaomu_zmcs100_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,910},{224,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,60}}</string>
			<key>sourceSize</key>
			<string>{224,60}</string>
		</dict>
		<key>pic_r_jbgz_richangzhaomu_zmcs100_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,848},{224,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,60}}</string>
			<key>sourceSize</key>
			<string>{224,60}</string>
		</dict>
		<key>pic_r_jbgz_richangzhaomu_zmcs10_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,1358},{211,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,58}}</string>
			<key>sourceSize</key>
			<string>{211,58}</string>
		</dict>
		<key>pic_r_jbgz_richangzhaomu_zmcs10_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,421},{211,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,58}}</string>
			<key>sourceSize</key>
			<string>{211,58}</string>
		</dict>
		<key>pic_r_jbgz_xfmd_ddh_bt.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,466},{293,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{293,52}}</string>
			<key>sourceSize</key>
			<string>{293,52}</string>
		</dict>
		<key>pic_r_jbgz_xfmd_js_jy_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,756},{180,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,94}}</string>
			<key>sourceSize</key>
			<string>{180,94}</string>
		</dict>
		<key>pic_r_jbgz_xfmd_mdgdjgl_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,605},{271,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{271,42}}</string>
			<key>sourceSize</key>
			<string>{271,42}</string>
		</dict>
		<key>pic_r_jbgz_xinyuanzhaomu_xyd_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,562},{100,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,26}}</string>
			<key>sourceSize</key>
			<string>{100,26}</string>
		</dict>
		<key>pic_r_jbgz_xtc_goumaitishi_bt_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,1658},{159,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,30}}</string>
			<key>sourceSize</key>
			<string>{159,30}</string>
		</dict>
		<key>pic_r_jbgz_xtc_tishi_bt_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{105,1670},{78,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,30}}</string>
			<key>sourceSize</key>
			<string>{78,30}</string>
		</dict>
		<key>pic_r_jbgz_xyzm_zmbdgdj_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,1484},{498,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{498,34}}</string>
			<key>sourceSize</key>
			<string>{498,34}</string>
		</dict>
		<key>pic_r_jbgz_zrtj_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,1304},{212,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,52}}</string>
			<key>sourceSize</key>
			<string>{212,52}</string>
		</dict>
		<key>pic_r_jbgz_zrtj_fang.png</key>
		<dict>
			<key>frame</key>
			<string>{{414,1458},{37,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,18}}</string>
			<key>sourceSize</key>
			<string>{37,18}</string>
		</dict>
		<key>pic_r_jbgz_zrtj_gong.png</key>
		<dict>
			<key>frame</key>
			<string>{{414,1438},{37,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,18}}</string>
			<key>sourceSize</key>
			<string>{37,18}</string>
		</dict>
		<key>pic_r_jbgz_zrtj_ji.png</key>
		<dict>
			<key>frame</key>
			<string>{{414,1418},{37,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,18}}</string>
			<key>sourceSize</key>
			<string>{37,18}</string>
		</dict>
		<key>pic_r_jbgz_zrtj_jjzr.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,1840},{81,29}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{81,29}}</string>
			<key>sourceSize</key>
			<string>{91,29}</string>
		</dict>
		<key>pic_r_jbgz_zrtj_tjzr.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,1670},{91,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,29}}</string>
			<key>sourceSize</key>
			<string>{91,29}</string>
		</dict>
		<key>pic_r_jbgz_zrtj_xszr.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,1909},{91,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,29}}</string>
			<key>sourceSize</key>
			<string>{91,29}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_HeroRecruitNewUi10.png</string>
		<key>size</key>
		<string>{453,2002}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_HeroRecruitNewUi10.png</string>
	</dict>
</dict>
</plist>
