<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask1_xiaermihushiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{173,233}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,233}}</string>
			<key>sourceSize</key>
			<string>{173,233}</string>
		</dict>
		<key>xin_xiaermihushiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,2},{40,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,36}}</string>
			<key>sourceSize</key>
			<string>{40,36}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>xiaermihushiimage.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>xiaermihushiimage.png</string>
	</dict>
</dict>
</plist>
