<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>baoxiang_shishiduizhanbaoxiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,61},{54,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,58}}</string>
			<key>sourceSize</key>
			<string>{54,58}</string>
		</dict>
		<key>baoxiangg_shishiduizhanbaoxiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,117},{52,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,56}}</string>
			<key>sourceSize</key>
			<string>{52,56}</string>
		</dict>
		<key>di_shishiduizhanbaoxiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,61},{143,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,51}}</string>
			<key>sourceSize</key>
			<string>{143,51}</string>
		</dict>
		<key>jiangli_shishiduizhanbaoxiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,36},{72,23}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{72,23}}</string>
			<key>sourceSize</key>
			<string>{74,27}</string>
		</dict>
		<key>maskpic_shishiduizhanbaoxiangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{107,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,32}}</string>
			<key>sourceSize</key>
			<string>{107,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>shishiduizhanbaoxiangimage.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>shishiduizhanbaoxiangimage.png</string>
	</dict>
</dict>
</plist>
