<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>banyu1_haiyangshendanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,2},{137,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,106}}</string>
			<key>sourceSize</key>
			<string>{137,106}</string>
		</dict>
		<key>banyu2_haiyangshendanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,665},{85,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,42}}</string>
			<key>sourceSize</key>
			<string>{85,42}</string>
		</dict>
		<key>daqunyu_haiyangshendanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,396},{407,334}}</string>
			<key>offset</key>
			<string>{-11,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{407,334}}</string>
			<key>sourceSize</key>
			<string>{429,334}</string>
		</dict>
		<key>eer3_haiyangshendanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{24,805},{206,287}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{206,287}}</string>
			<key>sourceSize</key>
			<string>{206,289}</string>
		</dict>
		<key>fuguang_haiyangshendanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,141},{253,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,104}}</string>
			<key>sourceSize</key>
			<string>{253,104}</string>
		</dict>
		<key>jing1_haiyangshendanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,396},{153,127}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,0},{153,127}}</string>
			<key>sourceSize</key>
			<string>{163,127}</string>
		</dict>
		<key>qi1_haiyangshendanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,362},{29,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,69}}</string>
			<key>sourceSize</key>
			<string>{29,69}</string>
		</dict>
		<key>qi2_haiyangshendanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{247,362},{16,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,83}}</string>
			<key>sourceSize</key>
			<string>{16,83}</string>
		</dict>
		<key>qi3_haiyangshendanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,551},{65,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,112}}</string>
			<key>sourceSize</key>
			<string>{65,112}</string>
		</dict>
		<key>qianjing_haiyangshendanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{909,358}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{909,358}}</string>
			<key>sourceSize</key>
			<string>{909,358}</string>
		</dict>
		<key>shen_haiyangshendanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,805},{200,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,171}}</string>
			<key>sourceSize</key>
			<string>{200,171}</string>
		</dict>
		<key>xyu1_haiyangshendanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,362},{172,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,27}}</string>
			<key>sourceSize</key>
			<string>{172,27}</string>
		</dict>
		<key>xzcv_haiyangshendanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,805},{211,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,20}}</string>
			<key>sourceSize</key>
			<string>{211,20}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>haiyangshendanimage.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>haiyangshendanimage.png</string>
	</dict>
</dict>
</plist>
