<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_szgz_scg_fanhui_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,963},{183,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,97}}</string>
			<key>sourceSize</key>
			<string>{183,97}</string>
		</dict>
		<key>btn_szgz_scg_fanhui_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,740},{183,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,97}}</string>
			<key>sourceSize</key>
			<string>{183,97}</string>
		</dict>
		<key>btn_szgz_scg_szzjc_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1666},{160,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,66}}</string>
			<key>sourceSize</key>
			<string>{160,66}</string>
		</dict>
		<key>btn_szgz_scg_szzjc_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1504},{160,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,66}}</string>
			<key>sourceSize</key>
			<string>{160,66}</string>
		</dict>
		<key>btn_szgz_shangdian_richangshizhuang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,1302},{152,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,59}}</string>
			<key>sourceSize</key>
			<string>{152,59}</string>
		</dict>
		<key>btn_szgz_shangdian_richangshizhuang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,1148},{152,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,59}}</string>
			<key>sourceSize</key>
			<string>{152,59}</string>
		</dict>
		<key>btn_szgz_shangdian_xianshijingxuan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,1828},{152,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,59}}</string>
			<key>sourceSize</key>
			<string>{152,59}</string>
		</dict>
		<key>btn_szgz_shangdian_xianshijingxuan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1828},{152,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,59}}</string>
			<key>sourceSize</key>
			<string>{152,59}</string>
		</dict>
		<key>btn_szzjm_shiyong_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,514},{146,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,43}}</string>
			<key>sourceSize</key>
			<string>{146,43}</string>
		</dict>
		<key>btn_szzjm_shiyong_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1982},{146,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,43}}</string>
			<key>sourceSize</key>
			<string>{146,43}</string>
		</dict>
		<key>btn_szzjm_shizhuangshangdian_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,1914},{82,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,77}}</string>
			<key>sourceSize</key>
			<string>{82,77}</string>
		</dict>
		<key>btn_szzjm_shizhuangshangdian_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,1742},{82,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,77}}</string>
			<key>sourceSize</key>
			<string>{82,77}</string>
		</dict>
		<key>btn_szzjm_shoucangguan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,1076},{68,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,78}}</string>
			<key>sourceSize</key>
			<string>{68,78}</string>
		</dict>
		<key>btn_szzjm_shoucangguan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,1748},{68,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,78}}</string>
			<key>sourceSize</key>
			<string>{68,78}</string>
		</dict>
		<key>pic_szgz_gz_biaoti_wenzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,332},{179,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,61}}</string>
			<key>sourceSize</key>
			<string>{179,61}</string>
		</dict>
		<key>pic_szgz_scg_biaoti_wenzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,371},{367,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{367,166}}</string>
			<key>sourceSize</key>
			<string>{367,166}</string>
		</dict>
		<key>pic_szgz_scg_jd_shuzi1_an.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,1567},{86,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,78}}</string>
			<key>sourceSize</key>
			<string>{86,78}</string>
		</dict>
		<key>pic_szgz_scg_jd_shuzi1_liang.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,1826},{86,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,78}}</string>
			<key>sourceSize</key>
			<string>{86,78}</string>
		</dict>
		<key>pic_szgz_scg_jd_shuzi2_an.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,832},{86,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,78}}</string>
			<key>sourceSize</key>
			<string>{86,78}</string>
		</dict>
		<key>pic_szgz_scg_jd_shuzi2_liang.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,322},{86,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,78}}</string>
			<key>sourceSize</key>
			<string>{86,78}</string>
		</dict>
		<key>pic_szgz_scg_jd_shuzi3_an.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,242},{86,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,78}}</string>
			<key>sourceSize</key>
			<string>{86,78}</string>
		</dict>
		<key>pic_szgz_scg_jd_shuzi3_liang.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,162},{86,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,78}}</string>
			<key>sourceSize</key>
			<string>{86,78}</string>
		</dict>
		<key>pic_szgz_scg_jd_shuzi4_an.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,82},{86,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,78}}</string>
			<key>sourceSize</key>
			<string>{86,78}</string>
		</dict>
		<key>pic_szgz_scg_jd_shuzi4_liang.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,2},{86,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,78}}</string>
			<key>sourceSize</key>
			<string>{86,78}</string>
		</dict>
		<key>pic_szgz_scg_shizhuangjiacheng.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,1099},{125,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,49}}</string>
			<key>sourceSize</key>
			<string>{125,49}</string>
		</dict>
		<key>pic_szgz_scg_weiyongyou_xiaobiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,1655},{64,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,62}}</string>
			<key>sourceSize</key>
			<string>{64,62}</string>
		</dict>
		<key>pic_szgz_sdxqtc_taozhuangming_daitu.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,1053},{103,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,44}}</string>
			<key>sourceSize</key>
			<string>{103,44}</string>
		</dict>
		<key>pic_szgz_shangdian_biaoti_wenzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{367,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{367,166}}</string>
			<key>sourceSize</key>
			<string>{367,166}</string>
		</dict>
		<key>pic_szgz_shangdian_xianshigoumai_wenzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,1427},{68,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,16}}</string>
			<key>sourceSize</key>
			<string>{68,16}</string>
		</dict>
		<key>pic_szgz_shangdian_yiyongyou.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,1428},{111,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,37}}</string>
			<key>sourceSize</key>
			<string>{111,37}</string>
		</dict>
		<key>pic_szgz_tzm_bumieyanhun.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,1150},{139,48}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{139,48}}</string>
			<key>sourceSize</key>
			<string>{151,48}</string>
		</dict>
		<key>pic_szgz_tzm_chaonengzhanshi.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,1599},{141,48}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{141,48}}</string>
			<key>sourceSize</key>
			<string>{151,48}</string>
		</dict>
		<key>pic_szgz_tzm_dianzipengke.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,1456},{141,47}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,2},{141,47}}</string>
			<key>sourceSize</key>
			<string>{151,49}</string>
		</dict>
		<key>pic_szgz_tzm_dushiliren.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,1289},{137,48}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,0},{137,48}}</string>
			<key>sourceSize</key>
			<string>{151,48}</string>
		</dict>
		<key>pic_szgz_tzm_huangyeliliang.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,1287},{139,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{139,48}}</string>
			<key>sourceSize</key>
			<string>{151,48}</string>
		</dict>
		<key>pic_szgz_tzm_jiazhenggaoshou.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,514},{151,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,48}}</string>
			<key>sourceSize</key>
			<string>{151,48}</string>
		</dict>
		<key>pic_szgz_tzm_kuangyexibu.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,1146},{139,48}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,2},{139,48}}</string>
			<key>sourceSize</key>
			<string>{151,50}</string>
		</dict>
		<key>pic_szgz_tzm_lingnengdoushi.png</key>
		<dict>
			<key>frame</key>
			<string>{{249,912},{139,48}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{139,48}}</string>
			<key>sourceSize</key>
			<string>{151,48}</string>
		</dict>
		<key>pic_szgz_tzm_nvshenzhanzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,912},{139,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{139,48}}</string>
			<key>sourceSize</key>
			<string>{151,48}</string>
		</dict>
		<key>pic_szgz_tzm_rexuejiequ.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,1291},{137,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,0},{137,48}}</string>
			<key>sourceSize</key>
			<string>{151,48}</string>
		</dict>
		<key>pic_szgz_tzm_sanjinghuashang.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,1430},{135,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{135,48}}</string>
			<key>sourceSize</key>
			<string>{151,48}</string>
		</dict>
		<key>pic_szgz_tzm_shishangnvlang.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,691},{139,48}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,0},{139,48}}</string>
			<key>sourceSize</key>
			<string>{151,48}</string>
		</dict>
		<key>pic_szgz_tzm_shuimofenghua.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,925},{149,48}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,48}}</string>
			<key>sourceSize</key>
			<string>{151,48}</string>
		</dict>
		<key>pic_szgz_tzm_sishenzhanji.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,925},{147,46}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,2},{147,46}}</string>
			<key>sourceSize</key>
			<string>{151,48}</string>
		</dict>
		<key>pic_szgz_tzm_wanwuzhuzai.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,1150},{137,48}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{137,48}}</string>
			<key>sourceSize</key>
			<string>{151,48}</string>
		</dict>
		<key>pic_szgz_tzm_xiarifengqing.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,1828},{141,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{141,48}}</string>
			<key>sourceSize</key>
			<string>{151,48}</string>
		</dict>
		<key>pic_szgz_tzm_youyaqizhi.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,1456},{145,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{145,48}}</string>
			<key>sourceSize</key>
			<string>{151,48}</string>
		</dict>
		<key>pic_szgz_tzm_yundongdaren.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,1603},{143,48}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{143,48}}</string>
			<key>sourceSize</key>
			<string>{151,48}</string>
		</dict>
		<key>pic_szgz_tzm_zhanyichongran.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,691},{139,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{139,48}}</string>
			<key>sourceSize</key>
			<string>{151,48}</string>
		</dict>
		<key>pic_szgz_tzm_zhixingguan.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,1290},{135,48}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,0},{135,48}}</string>
			<key>sourceSize</key>
			<string>{151,48}</string>
		</dict>
		<key>pic_szgz_xianshishangdian_yiyongyou.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,402},{110,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,88}}</string>
			<key>sourceSize</key>
			<string>{110,88}</string>
		</dict>
		<key>pic_szzjm_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,2},{328,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{328,65}}</string>
			<key>sourceSize</key>
			<string>{328,65}</string>
		</dict>
		<key>pic_szzjm_juejishanghai_wenzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,1719},{95,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,21}}</string>
			<key>sourceSize</key>
			<string>{95,21}</string>
		</dict>
		<key>pic_szzjm_kangbaolv_wenzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,1912},{89,21}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,21}}</string>
			<key>sourceSize</key>
			<string>{91,21}</string>
		</dict>
		<key>pic_szzjm_shiyongzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,1150},{138,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,43}}</string>
			<key>sourceSize</key>
			<string>{138,43}</string>
		</dict>
		<key>pic_szzjm_taozhuangming_daitu.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,803},{55,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,17}}</string>
			<key>sourceSize</key>
			<string>{55,17}</string>
		</dict>
		<key>pic_szzjm_weiyongyou.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,667},{134,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,51}}</string>
			<key>sourceSize</key>
			<string>{134,51}</string>
		</dict>
		<key>pic_szzjm_xiaobiao_chuanshuo.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1326},{176,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,56}}</string>
			<key>sourceSize</key>
			<string>{176,56}</string>
		</dict>
		<key>pic_szzjm_xiaobiao_shishi.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,513},{176,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,56}}</string>
			<key>sourceSize</key>
			<string>{176,56}</string>
		</dict>
		<key>pic_szzjm_xiaobiao_xiyou.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1148},{176,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,56}}</string>
			<key>sourceSize</key>
			<string>{176,56}</string>
		</dict>
		<key>pic_szzjm_youce_jineng_di_konghuawen.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,740},{221,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,69}}</string>
			<key>sourceSize</key>
			<string>{221,69}</string>
		</dict>
		<key>pic_szzjm_zuoce_yiyongyou_wenzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{267,1712},{53,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,22}}</string>
			<key>sourceSize</key>
			<string>{53,22}</string>
		</dict>
		<key>pic_szzjm_zuoce_zizhi_LR.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,1644},{29,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,16}}</string>
			<key>sourceSize</key>
			<string>{29,16}</string>
		</dict>
		<key>pic_szzjm_zuoce_zizhi_N.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,860},{17,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,17}}</string>
			<key>sourceSize</key>
			<string>{17,17}</string>
		</dict>
		<key>pic_szzjm_zuoce_zizhi_R.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,1074},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>pic_szzjm_zuoce_zizhi_SR.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,1956},{32,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,16}}</string>
			<key>sourceSize</key>
			<string>{32,16}</string>
		</dict>
		<key>pic_szzjm_zuoce_zizhi_UR.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,1497},{32,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,16}}</string>
			<key>sourceSize</key>
			<string>{32,16}</string>
		</dict>
		<key>pic_szzjm_zuoce_zizhi_douhao.png</key>
		<dict>
			<key>frame</key>
			<string>{{249,1993},{7,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,8}}</string>
			<key>sourceSize</key>
			<string>{7,8}</string>
		</dict>
		<key>pic_szzjm_zuoce_zizhi_quanbu.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,667},{40,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,20}}</string>
			<key>sourceSize</key>
			<string>{40,20}</string>
		</dict>
		<key>word_hd_szlb_baojilv.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,1816},{72,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{72,21}}</string>
			<key>sourceSize</key>
			<string>{72,23}</string>
		</dict>
		<key>word_hd_szlb_baojiqiangdu.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,803},{97,21}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,21}}</string>
			<key>sourceSize</key>
			<string>{97,23}</string>
		</dict>
		<key>word_hd_szlb_fangyu.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,1428},{46,21}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{46,21}}</string>
			<key>sourceSize</key>
			<string>{50,23}</string>
		</dict>
		<key>word_hd_szlb_fantanlv.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,969},{65,21}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{65,21}}</string>
			<key>sourceSize</key>
			<string>{75,23}</string>
		</dict>
		<key>word_hd_szlb_gedanglv.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,1655},{61,21}}</string>
			<key>offset</key>
			<string>{-7,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{61,21}}</string>
			<key>sourceSize</key>
			<string>{75,23}</string>
		</dict>
		<key>word_hd_szlb_gedangqiangdu.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,1545},{97,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{97,21}}</string>
			<key>sourceSize</key>
			<string>{97,23}</string>
		</dict>
		<key>word_hd_szlb_gongji.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,1736},{48,21}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{48,21}}</string>
			<key>sourceSize</key>
			<string>{50,23}</string>
		</dict>
		<key>word_hd_szlb_juejikangxing.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,1545},{93,21}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{93,21}}</string>
			<key>sourceSize</key>
			<string>{95,23}</string>
		</dict>
		<key>word_hd_szlb_juejishanghai.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,1816},{94,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{94,21}}</string>
			<key>sourceSize</key>
			<string>{94,23}</string>
		</dict>
		<key>word_hd_szlb_kangbaolv.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,1742},{75,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{75,21}}</string>
			<key>sourceSize</key>
			<string>{75,23}</string>
		</dict>
		<key>word_hd_szlb_kongzhilv.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,1742},{72,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{72,21}}</string>
			<key>sourceSize</key>
			<string>{72,23}</string>
		</dict>
		<key>word_hd_szlb_miankonglv.png</key>
		<dict>
			<key>frame</key>
			<string>{{249,2003},{72,22}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,22}}</string>
			<key>sourceSize</key>
			<string>{72,24}</string>
		</dict>
		<key>word_hd_szlb_mianshanglv.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,1742},{72,22}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,22}}</string>
			<key>sourceSize</key>
			<string>{72,24}</string>
		</dict>
		<key>word_hd_szlb_pojilv.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,902},{65,21}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{65,21}}</string>
			<key>sourceSize</key>
			<string>{75,23}</string>
		</dict>
		<key>word_hd_szlb_quangedoujiagongji.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,1430},{121,22}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,22}}</string>
			<key>sourceSize</key>
			<string>{129,22}</string>
		</dict>
		<key>word_hd_szlb_shanghaikangxing.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,1541},{97,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{97,21}}</string>
			<key>sourceSize</key>
			<string>{97,23}</string>
		</dict>
		<key>word_hd_szlb_shanghailv.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,832},{72,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{72,21}}</string>
			<key>sourceSize</key>
			<string>{72,23}</string>
		</dict>
		<key>word_hd_szlb_shanghaiqiangdu.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,1993},{97,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{97,21}}</string>
			<key>sourceSize</key>
			<string>{97,23}</string>
		</dict>
		<key>word_hd_szlb_shengming.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,925},{36,19}}</string>
			<key>offset</key>
			<string>{-7,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{36,19}}</string>
			<key>sourceSize</key>
			<string>{50,23}</string>
		</dict>
		<key>word_hd_szlb_xianshouzhi.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,1644},{66,21}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{66,21}}</string>
			<key>sourceSize</key>
			<string>{72,23}</string>
		</dict>
		<key>word_hd_szlb_xiaojinenggailv.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,1427},{116,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{116,21}}</string>
			<key>sourceSize</key>
			<string>{116,23}</string>
		</dict>
		<key>word_hd_szlb_xixuelv.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,1890},{64,21}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{64,21}}</string>
			<key>sourceSize</key>
			<string>{72,23}</string>
		</dict>
		<key>word_hd_szlb_zhiliaolv.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,1640},{70,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{70,21}}</string>
			<key>sourceSize</key>
			<string>{72,23}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_skinRemould0.png</string>
		<key>size</key>
		<string>{325,2027}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_skinRemould0.png</string>
	</dict>
</dict>
</plist>
