<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_hd_common_qtl_lq_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,754},{118,50}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,7},{118,50}}</string>
			<key>sourceSize</key>
			<string>{138,66}</string>
		</dict>
		<key>btn_hd_common_qtl_lq_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,634},{118,50}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,7},{118,50}}</string>
			<key>sourceSize</key>
			<string>{138,66}</string>
		</dict>
		<key>btn_hd_common_qtl_tanchuang_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{630,462}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,24},{630,462}}</string>
			<key>sourceSize</key>
			<string>{650,512}</string>
		</dict>
		<key>btn_hd_common_qtl_tanchuang_fengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,776},{127,18}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,0},{127,18}}</string>
			<key>sourceSize</key>
			<string>{159,18}</string>
		</dict>
		<key>btn_hd_common_qtl_tanchuang_likuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,840},{40,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,47}}</string>
			<key>sourceSize</key>
			<string>{40,47}</string>
		</dict>
		<key>btn_hd_common_qtl_tanchuang_lingqu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,776},{159,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,60}}</string>
			<key>sourceSize</key>
			<string>{159,60}</string>
		</dict>
		<key>btn_hd_common_qtl_tanchuang_lingqu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,660},{159,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,60}}</string>
			<key>sourceSize</key>
			<string>{159,60}</string>
		</dict>
		<key>btn_hd_common_qtl_yq_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{367,660},{129,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,7},{129,42}}</string>
			<key>sourceSize</key>
			<string>{137,56}</string>
		</dict>
		<key>btn_hd_common_qtl_yq_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,821},{137,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,56}}</string>
			<key>sourceSize</key>
			<string>{137,56}</string>
		</dict>
		<key>btn_hd_common_qtl_zuoanniu_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{367,791},{40,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,47}}</string>
			<key>sourceSize</key>
			<string>{40,47}</string>
		</dict>
		<key>btn_hd_common_qtl_zuoanniu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,718},{183,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{183,56}}</string>
			<key>sourceSize</key>
			<string>{189,56}</string>
		</dict>
		<key>btn_hd_common_qtl_zuoanniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,660},{183,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{183,56}}</string>
			<key>sourceSize</key>
			<string>{189,56}</string>
		</dict>
		<key>pic_hd_common_qtl_close_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,882},{46,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,46}}</string>
			<key>sourceSize</key>
			<string>{46,46}</string>
		</dict>
		<key>pic_hd_common_qtl_close_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,874},{46,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,46}}</string>
			<key>sourceSize</key>
			<string>{46,46}</string>
		</dict>
		<key>pic_hd_common_qtl_tiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,634},{616,116}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,3},{616,116}}</string>
			<key>sourceSize</key>
			<string>{638,124}</string>
		</dict>
		<key>pic_hd_common_qtl_zidi_biaodai.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,634},{290,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{290,24}}</string>
			<key>sourceSize</key>
			<string>{290,24}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ActivitySevenDayCommon0.png</string>
		<key>size</key>
		<string>{466,1252}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ActivitySevenDayCommon0.png</string>
	</dict>
</dict>
</plist>
