<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_xst_stdks_daohang_fanhui_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1373,196},{139,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,51}}</string>
			<key>sourceSize</key>
			<string>{139,51}</string>
		</dict>
		<key>btn_xst_stdks_daohang_fanhui_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1362,143},{139,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,51}}</string>
			<key>sourceSize</key>
			<string>{139,51}</string>
		</dict>
		<key>btn_xst_stdks_daohang_jiahao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1333,474},{152,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,35}}</string>
			<key>sourceSize</key>
			<string>{152,35}</string>
		</dict>
		<key>btn_xst_stdks_daohang_jiahao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1373,249},{152,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,35}}</string>
			<key>sourceSize</key>
			<string>{152,35}</string>
		</dict>
		<key>btn_xst_stdks_daohang_wenhao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1487,474},{28,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,27}}</string>
			<key>sourceSize</key>
			<string>{28,27}</string>
		</dict>
		<key>btn_xst_stdks_daohang_wenhao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1503,143},{28,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,27}}</string>
			<key>sourceSize</key>
			<string>{28,27}</string>
		</dict>
		<key>pic_xst_stdks_baoming_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{609,276},{422,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{422,113}}</string>
			<key>sourceSize</key>
			<string>{422,113}</string>
		</dict>
		<key>pic_xst_stdks_duijue_hongwenzidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{614,477},{240,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,30}}</string>
			<key>sourceSize</key>
			<string>{240,30}</string>
		</dict>
		<key>pic_xst_stdks_duijue_lanwenzidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{606,445},{241,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,30}}</string>
			<key>sourceSize</key>
			<string>{241,30}</string>
		</dict>
		<key>pic_xst_stdks_jiezhishijian_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1033,276},{314,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{314,59}}</string>
			<key>sourceSize</key>
			<string>{314,59}</string>
		</dict>
		<key>pic_xst_stdks_jindutiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{606,416},{332,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{332,10}}</string>
			<key>sourceSize</key>
			<string>{334,12}</string>
		</dict>
		<key>pic_xst_stdks_jindutiao_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,496},{334,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{334,12}}</string>
			<key>sourceSize</key>
			<string>{334,12}</string>
		</dict>
		<key>pic_xst_stdks_jindutiao_dian.png</key>
		<dict>
			<key>frame</key>
			<string>{{1526,449},{17,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{17,17}}</string>
			<key>sourceSize</key>
			<string>{23,23}</string>
		</dict>
		<key>pic_xst_stdks_jindutiao_xuanzhongdian.png</key>
		<dict>
			<key>frame</key>
			<string>{{996,391},{23,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,23}}</string>
			<key>sourceSize</key>
			<string>{23,23}</string>
		</dict>
		<key>pic_xst_stdks_riqixian.png</key>
		<dict>
			<key>frame</key>
			<string>{{1526,380},{67,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,7}}</string>
			<key>sourceSize</key>
			<string>{67,7}</string>
		</dict>
		<key>pic_xst_stdks_shetuan_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{606,391},{388,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{388,23}}</string>
			<key>sourceSize</key>
			<string>{388,23}</string>
		</dict>
		<key>pic_xst_stdks_shijian_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1033,337},{300,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,25}}</string>
			<key>sourceSize</key>
			<string>{300,25}</string>
		</dict>
		<key>pic_xst_stdks_tc_fenyexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,482},{610,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{610,12}}</string>
			<key>sourceSize</key>
			<string>{610,12}</string>
		</dict>
		<key>pic_xst_stdks_tc_jiangli_dak.png</key>
		<dict>
			<key>frame</key>
			<string>{{1365,2},{139,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,178}}</string>
			<key>sourceSize</key>
			<string>{139,178}</string>
		</dict>
		<key>pic_xst_stdks_tc_jiangli_lingqudi.png</key>
		<dict>
			<key>frame</key>
			<string>{{856,461},{139,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,31}}</string>
			<key>sourceSize</key>
			<string>{139,31}</string>
		</dict>
		<key>pic_xst_stdks_tc_jiangli_xiaok.png</key>
		<dict>
			<key>frame</key>
			<string>{{1192,364},{139,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,128}}</string>
			<key>sourceSize</key>
			<string>{139,128}</string>
		</dict>
		<key>pic_xst_stdks_tc_jiangli_xuanzhongk.png</key>
		<dict>
			<key>frame</key>
			<string>{{1033,364},{157,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,146}}</string>
			<key>sourceSize</key>
			<string>{157,146}</string>
		</dict>
		<key>pic_xst_stdks_tc_jiangli_yilingqudi.png</key>
		<dict>
			<key>frame</key>
			<string>{{876,428},{139,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,31}}</string>
			<key>sourceSize</key>
			<string>{139,31}</string>
		</dict>
		<key>pic_xst_stdks_tc_jindutiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,496},{262,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{262,9}}</string>
			<key>sourceSize</key>
			<string>{268,15}</string>
		</dict>
		<key>pic_xst_stdks_tc_jindutiao_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{606,428},{268,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{268,15}}</string>
			<key>sourceSize</key>
			<string>{268,15}</string>
		</dict>
		<key>pic_xst_stdks_tc_jindutiao_dian.png</key>
		<dict>
			<key>frame</key>
			<string>{{997,461},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>pic_xst_stdks_tc_jindutiao_xzdian.png</key>
		<dict>
			<key>frame</key>
			<string>{{1503,172},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>pic_xst_stdks_tc_shenglijiangli_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{758,115},{602,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{602,107}}</string>
			<key>sourceSize</key>
			<string>{602,107}</string>
		</dict>
		<key>pic_xst_stdks_tc_shenglishetuan_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{758,2},{605,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{605,111}}</string>
			<key>sourceSize</key>
			<string>{605,111}</string>
		</dict>
		<key>pic_xst_stdks_tc_shenglishetuan_jldi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1333,380},{191,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,92}}</string>
			<key>sourceSize</key>
			<string>{191,92}</string>
		</dict>
		<key>pic_xst_stdks_tc_shenglishetuan_wzdi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1192,494},{108,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,9}}</string>
			<key>sourceSize</key>
			<string>{108,9}</string>
		</dict>
		<key>pic_xst_stdks_tc_shibaijiangli_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,373},{602,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{602,107}}</string>
			<key>sourceSize</key>
			<string>{602,107}</string>
		</dict>
		<key>pic_xst_stdks_tc_shibaishetuan_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,260},{605,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{605,111}}</string>
			<key>sourceSize</key>
			<string>{605,111}</string>
		</dict>
		<key>pic_xst_stdks_tc_shibaishetuan_jldi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1349,286},{191,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,92}}</string>
			<key>sourceSize</key>
			<string>{191,92}</string>
		</dict>
		<key>pic_xst_stdks_tc_shibaishetuan_wzdi.png</key>
		<dict>
			<key>frame</key>
			<string>{{609,260},{108,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,9}}</string>
			<key>sourceSize</key>
			<string>{108,9}</string>
		</dict>
		<key>pic_xst_stdks_tc_tiaozhanjiangli_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{754,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{754,256}}</string>
			<key>sourceSize</key>
			<string>{754,256}</string>
		</dict>
		<key>pic_xst_stdks_tc_wodedi.png</key>
		<dict>
			<key>frame</key>
			<string>{{758,224},{613,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{613,50}}</string>
			<key>sourceSize</key>
			<string>{613,50}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>NClubWar0.png</string>
		<key>size</key>
		<string>{1545,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>NClubWar0.png</string>
	</dict>
</dict>
</plist>
