<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_swxl_liumenbisha_bq_00031.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,810},{168,206}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,3},{168,206}}</string>
			<key>sourceSize</key>
			<string>{174,210}</string>
		</dict>
		<key>New_swxl_liumenbisha_bq_00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,2},{251,291}}</string>
			<key>offset</key>
			<string>{4,-44}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,103},{251,291}}</string>
			<key>sourceSize</key>
			<string>{339,409}</string>
		</dict>
		<key>New_swxl_liumenbisha_bq_00034.png</key>
		<dict>
			<key>frame</key>
			<string>{{648,340},{317,369}}</string>
			<key>offset</key>
			<string>{2,-20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,40},{317,369}}</string>
			<key>sourceSize</key>
			<string>{339,409}</string>
		</dict>
		<key>New_swxl_liumenbisha_bq_00035.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,412},{321,397}}</string>
			<key>offset</key>
			<string>{2,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,12},{321,397}}</string>
			<key>sourceSize</key>
			<string>{339,409}</string>
		</dict>
		<key>New_swxl_liumenbisha_bq_00036.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{321,409}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,0},{321,409}}</string>
			<key>sourceSize</key>
			<string>{339,409}</string>
		</dict>
		<key>New_swxl_liumenbisha_bq_00037.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,350},{323,389}}</string>
			<key>offset</key>
			<string>{1,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,20},{323,389}}</string>
			<key>sourceSize</key>
			<string>{339,409}</string>
		</dict>
		<key>New_swxl_liumenbisha_bq_00038.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,2},{337,393}}</string>
			<key>offset</key>
			<string>{1,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,16},{337,393}}</string>
			<key>sourceSize</key>
			<string>{339,409}</string>
		</dict>
		<key>New_swxl_liumenbisha_bq_00039.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,740},{62,366}}</string>
			<key>offset</key>
			<string>{0,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,16},{62,366}}</string>
			<key>sourceSize</key>
			<string>{62,382}</string>
		</dict>
		<key>New_swxl_liumenbisha_bq_00040.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,2},{48,347}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,347}}</string>
			<key>sourceSize</key>
			<string>{48,347}</string>
		</dict>
		<key>New_swxl_liumenbisha_qj_00111.png</key>
		<dict>
			<key>frame</key>
			<string>{{648,658},{144,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,78}}</string>
			<key>sourceSize</key>
			<string>{144,78}</string>
		</dict>
		<key>New_swxl_liumenbisha_qj_00112.png</key>
		<dict>
			<key>frame</key>
			<string>{{599,803},{75,151}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,17},{75,151}}</string>
			<key>sourceSize</key>
			<string>{75,181}</string>
		</dict>
		<key>New_swxl_liumenbisha_qj_00113.png</key>
		<dict>
			<key>frame</key>
			<string>{{523,803},{75,159}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,14},{75,159}}</string>
			<key>sourceSize</key>
			<string>{75,181}</string>
		</dict>
		<key>New_swxl_liumenbisha_qj_00114.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,803},{75,165}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,11},{75,165}}</string>
			<key>sourceSize</key>
			<string>{75,181}</string>
		</dict>
		<key>New_swxl_liumenbisha_qj_00115.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,803},{71,171}}</string>
			<key>offset</key>
			<string>{2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,8},{71,171}}</string>
			<key>sourceSize</key>
			<string>{75,181}</string>
		</dict>
		<key>New_swxl_liumenbisha_qj_00116.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,810},{71,177}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{71,177}}</string>
			<key>sourceSize</key>
			<string>{75,181}</string>
		</dict>
		<key>New_swxl_liumenbisha_qj_00117.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,810},{67,179}}</string>
			<key>offset</key>
			<string>{4,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,2},{67,179}}</string>
			<key>sourceSize</key>
			<string>{75,181}</string>
		</dict>
		<key>New_swxl_liumenbisha_qj_00118.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,810},{63,181}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,0},{63,181}}</string>
			<key>sourceSize</key>
			<string>{75,181}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>shenwuXI_common0.png</string>
		<key>scale</key>
		<real>0.79</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>shenwuXI_common0.png</string>
	</dict>
</dict>
</plist>
