<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_qxzl_jinru_chongneng1ci_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,1312},{176,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,54}}</string>
			<key>sourceSize</key>
			<string>{176,54}</string>
		</dict>
		<key>btn_qxzl_jinru_chongneng1ci_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,1098},{176,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,54}}</string>
			<key>sourceSize</key>
			<string>{176,54}</string>
		</dict>
		<key>btn_qxzl_jinru_dianliangxingxing_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,860},{176,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,54}}</string>
			<key>sourceSize</key>
			<string>{176,54}</string>
		</dict>
		<key>btn_qxzl_jinru_dianliangxingxing_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,682},{176,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,54}}</string>
			<key>sourceSize</key>
			<string>{176,54}</string>
		</dict>
		<key>btn_qxzl_jinru_yijianchongneng_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,504},{176,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,54}}</string>
			<key>sourceSize</key>
			<string>{176,54}</string>
		</dict>
		<key>btn_qxzl_jinru_yijianchongneng_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{42,1134},{176,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,54}}</string>
			<key>sourceSize</key>
			<string>{176,54}</string>
		</dict>
		<key>btn_qxzl_xingpan_shuxingjiadian_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,1589},{97,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,95}}</string>
			<key>sourceSize</key>
			<string>{97,95}</string>
		</dict>
		<key>btn_qxzl_xingpan_shuxingjiadian_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,1490},{97,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,95}}</string>
			<key>sourceSize</key>
			<string>{97,95}</string>
		</dict>
		<key>btn_qxzl_zysx_baocun_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1710},{176,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,54}}</string>
			<key>sourceSize</key>
			<string>{176,54}</string>
		</dict>
		<key>btn_qxzl_zysx_baocun_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1532},{176,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,54}}</string>
			<key>sourceSize</key>
			<string>{176,54}</string>
		</dict>
		<key>btn_qxzl_zysx_chongzhi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1354},{176,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,54}}</string>
			<key>sourceSize</key>
			<string>{176,54}</string>
		</dict>
		<key>btn_qxzl_zysx_chongzhi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,326},{176,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,54}}</string>
			<key>sourceSize</key>
			<string>{176,54}</string>
		</dict>
		<key>pic_qxzl_daohang_qxzl.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,841},{291,56}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{291,56}}</string>
			<key>sourceSize</key>
			<string>{293,56}</string>
		</dict>
		<key>pic_qxzl_daohang_zysx.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,548},{291,56}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{291,56}}</string>
			<key>sourceSize</key>
			<string>{293,56}</string>
		</dict>
		<key>pic_qxzl_jinru_chongnengjiacheng.png</key>
		<dict>
			<key>frame</key>
			<string>{{43,1888},{128,39}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,0},{128,39}}</string>
			<key>sourceSize</key>
			<string>{148,39}</string>
		</dict>
		<key>pic_qxzl_jinru_chongnengliang_huang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,275},{271,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{39,0},{271,127}}</string>
			<key>sourceSize</key>
			<string>{349,127}</string>
		</dict>
		<key>pic_qxzl_jinru_chongnengliang_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{271,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{39,0},{271,127}}</string>
			<key>sourceSize</key>
			<string>{349,127}</string>
		</dict>
		<key>pic_qxzl_jinru_chongnengxiaohao.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,1123},{106,39}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,0},{106,39}}</string>
			<key>sourceSize</key>
			<string>{148,39}</string>
		</dict>
		<key>pic_qxzl_jinru_dianliangjiacheng.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1888},{128,39}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,0},{128,39}}</string>
			<key>sourceSize</key>
			<string>{148,39}</string>
		</dict>
		<key>pic_qxzl_jinru_dianliangxiaohao.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,1838},{106,37}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,2},{106,37}}</string>
			<key>sourceSize</key>
			<string>{148,39}</string>
		</dict>
		<key>pic_qxzl_jinru_saijizengyi.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,1688},{148,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,39}}</string>
			<key>sourceSize</key>
			<string>{148,39}</string>
		</dict>
		<key>pic_qxzl_jinru_shangyikexingxing.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1134},{218,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,7},{218,38}}</string>
			<key>sourceSize</key>
			<string>{222,52}</string>
		</dict>
		<key>pic_qxzl_jinru_sxjc.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,1490},{168,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,39}}</string>
			<key>sourceSize</key>
			<string>{168,39}</string>
		</dict>
		<key>pic_qxzl_jinru_yidianliang.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,1276},{118,42}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{53,5},{118,42}}</string>
			<key>sourceSize</key>
			<string>{222,52}</string>
		</dict>
		<key>pic_qxzl_jinru_yiquanbudianliang.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,1688},{148,42}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{38,4},{148,42}}</string>
			<key>sourceSize</key>
			<string>{222,52}</string>
		</dict>
		<key>pic_qxzl_jinru_zengyixiaoguo.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,1316},{94,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,27}}</string>
			<key>sourceSize</key>
			<string>{94,27}</string>
		</dict>
		<key>pic_qxzl_jinru_ziyoushuxingdian.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,1660},{148,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,39}}</string>
			<key>sourceSize</key>
			<string>{148,39}</string>
		</dict>
		<key>pic_qxzl_rukou_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,1941},{62,62}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,7},{62,62}}</string>
			<key>sourceSize</key>
			<string>{62,70}</string>
		</dict>
		<key>pic_qxzl_rukou_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,1877},{62,62}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,7},{62,62}}</string>
			<key>sourceSize</key>
			<string>{62,70}</string>
		</dict>
		<key>pic_qxzl_tanchuang_guize.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,823},{273,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{273,72}}</string>
			<key>sourceSize</key>
			<string>{273,72}</string>
		</dict>
		<key>pic_qxzl_tanchuang_huoqutujing.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,548},{273,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{273,72}}</string>
			<key>sourceSize</key>
			<string>{273,72}</string>
		</dict>
		<key>pic_qxzl_tanchuang_kehuoqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,2},{322,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{322,42}}</string>
			<key>sourceSize</key>
			<string>{322,42}</string>
		</dict>
		<key>pic_qxzl_zysx_fang.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,1951},{35,35}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,1},{35,35}}</string>
			<key>sourceSize</key>
			<string>{91,37}</string>
		</dict>
		<key>pic_qxzl_zysx_fangyu.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,1231},{83,36}}</string>
			<key>offset</key>
			<string>{-25,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,36}}</string>
			<key>sourceSize</key>
			<string>{133,36}</string>
		</dict>
		<key>pic_qxzl_zysx_gong.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,1914},{35,35}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,1},{35,35}}</string>
			<key>sourceSize</key>
			<string>{91,37}</string>
		</dict>
		<key>pic_qxzl_zysx_gongji.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,1038},{83,36}}</string>
			<key>offset</key>
			<string>{-25,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,36}}</string>
			<key>sourceSize</key>
			<string>{133,36}</string>
		</dict>
		<key>pic_qxzl_zysx_ji.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,1877},{35,35}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,2},{35,35}}</string>
			<key>sourceSize</key>
			<string>{91,37}</string>
		</dict>
		<key>pic_qxzl_zysx_quan.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,1412},{61,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,1},{61,35}}</string>
			<key>sourceSize</key>
			<string>{91,37}</string>
		</dict>
		<key>pic_qxzl_zysx_shengming.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,1396},{83,36}}</string>
			<key>offset</key>
			<string>{-25,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,36}}</string>
			<key>sourceSize</key>
			<string>{133,36}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_StarsPower0.png</string>
		<key>size</key>
		<string>{196,2018}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_StarsPower0.png</string>
	</dict>
</dict>
</plist>
