<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>arm_hongshouimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,248},{72,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,30}}</string>
			<key>sourceSize</key>
			<string>{72,30}</string>
		</dict>
		<key>back_punch_hongshouimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,319},{77,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,139}}</string>
			<key>sourceSize</key>
			<string>{77,139}</string>
		</dict>
		<key>body_hongshouimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,460},{50,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,42}}</string>
			<key>sourceSize</key>
			<string>{50,42}</string>
		</dict>
		<key>bolt1_hongshouimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,2},{72,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,74}}</string>
			<key>sourceSize</key>
			<string>{72,74}</string>
		</dict>
		<key>bolt2_hongshouimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,460},{49,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,117}}</string>
			<key>sourceSize</key>
			<string>{49,117}</string>
		</dict>
		<key>bolt3_hongshouimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,484},{26,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,80}}</string>
			<key>sourceSize</key>
			<string>{26,80}</string>
		</dict>
		<key>bolt4_hongshouimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,452},{30,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,111}}</string>
			<key>sourceSize</key>
			<string>{30,111}</string>
		</dict>
		<key>bolt5_hongshouimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{168,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,168}}</string>
			<key>sourceSize</key>
			<string>{168,168}</string>
		</dict>
		<key>brust1_hongshouimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,312},{97,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,138}}</string>
			<key>sourceSize</key>
			<string>{97,138}</string>
		</dict>
		<key>brust2_hongshouimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,172},{97,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,138}}</string>
			<key>sourceSize</key>
			<string>{97,138}</string>
		</dict>
		<key>front_punch_hongshouimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,2},{76,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,138}}</string>
			<key>sourceSize</key>
			<string>{76,138}</string>
		</dict>
		<key>head_hongshouimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,142},{76,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,104}}</string>
			<key>sourceSize</key>
			<string>{76,104}</string>
		</dict>
		<key>hurt_hongshouimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,319},{97,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,138}}</string>
			<key>sourceSize</key>
			<string>{97,138}</string>
		</dict>
		<key>leg_hongshouimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,460},{50,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,29}}</string>
			<key>sourceSize</key>
			<string>{50,29}</string>
		</dict>
		<key>light1_hongshouimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,2},{89,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,89}}</string>
			<key>sourceSize</key>
			<string>{89,89}</string>
		</dict>
		<key>side_kick_hongshouimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,172},{81,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,145}}</string>
			<key>sourceSize</key>
			<string>{81,145}</string>
		</dict>
		<key>vfx1_hongshouimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,452},{7,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,42}}</string>
			<key>sourceSize</key>
			<string>{7,42}</string>
		</dict>
		<key>vfx2_hongshouimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,496},{7,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,40}}</string>
			<key>sourceSize</key>
			<string>{7,40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>hongshouimage.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>hongshouimage.png</string>
	</dict>
</dict>
</plist>
