<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>terui_rf_atk_104.png</key>
		<dict>
			<key>frame</key>
			<string>{{827,2},{194,244}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,244}}</string>
			<key>sourceSize</key>
			<string>{194,244}</string>
		</dict>
		<key>terui_rf_atk_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{610,322},{220,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,216}}</string>
			<key>sourceSize</key>
			<string>{220,216}</string>
		</dict>
		<key>terui_rf_atk_26.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,606},{33,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,41}}</string>
			<key>sourceSize</key>
			<string>{33,41}</string>
		</dict>
		<key>terui_rf_atk_45.png</key>
		<dict>
			<key>frame</key>
			<string>{{537,640},{87,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,72}}</string>
			<key>sourceSize</key>
			<string>{87,72}</string>
		</dict>
		<key>terui_rf_atk_49.png</key>
		<dict>
			<key>frame</key>
			<string>{{453,591},{48,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,127}}</string>
			<key>sourceSize</key>
			<string>{48,127}</string>
		</dict>
		<key>terui_rf_atk_56.png</key>
		<dict>
			<key>frame</key>
			<string>{{937,622},{85,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,85}}</string>
			<key>sourceSize</key>
			<string>{85,85}</string>
		</dict>
		<key>terui_rf_atk_60.png</key>
		<dict>
			<key>frame</key>
			<string>{{666,270},{51,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,87}}</string>
			<key>sourceSize</key>
			<string>{51,87}</string>
		</dict>
		<key>terui_rf_atk_70.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,774},{93,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,73}}</string>
			<key>sourceSize</key>
			<string>{93,73}</string>
		</dict>
		<key>terui_rf_atk_78.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,952},{111,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,70}}</string>
			<key>sourceSize</key>
			<string>{111,70}</string>
		</dict>
		<key>terui_rf_atk_80_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,606},{39,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,33}}</string>
			<key>sourceSize</key>
			<string>{39,33}</string>
		</dict>
		<key>terui_rf_bs3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{873,910},{149,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,99}}</string>
			<key>sourceSize</key>
			<string>{149,99}</string>
		</dict>
		<key>terui_rf_bs3_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{765,910},{112,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,107}}</string>
			<key>sourceSize</key>
			<string>{112,107}</string>
		</dict>
		<key>terui_rf_bs3_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,952},{114,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,70}}</string>
			<key>sourceSize</key>
			<string>{114,70}</string>
		</dict>
		<key>terui_rf_die_17_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{893,711},{129,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,62}}</string>
			<key>sourceSize</key>
			<string>{129,62}</string>
		</dict>
		<key>terui_rf_die_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,640},{311,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{311,158}}</string>
			<key>sourceSize</key>
			<string>{311,158}</string>
		</dict>
		<key>terui_rf_die_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,640},{295,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,158}}</string>
			<key>sourceSize</key>
			<string>{295,158}</string>
		</dict>
		<key>terui_rf_gebei_0_bu.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,868},{64,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,41}}</string>
			<key>sourceSize</key>
			<string>{64,41}</string>
		</dict>
		<key>terui_rf_gebei_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,272},{49,65}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{49,65}}</string>
			<key>sourceSize</key>
			<string>{49,69}</string>
		</dict>
		<key>terui_rf_gebei_30_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{592,271},{50,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,73}}</string>
			<key>sourceSize</key>
			<string>{50,73}</string>
		</dict>
		<key>terui_rf_gebei_37.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,936},{85,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,86}}</string>
			<key>sourceSize</key>
			<string>{85,86}</string>
		</dict>
		<key>terui_rf_idle_22_bu_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{501,271},{50,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,90}}</string>
			<key>sourceSize</key>
			<string>{50,90}</string>
		</dict>
		<key>terui_rf_idle_24_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,936},{86,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,84}}</string>
			<key>sourceSize</key>
			<string>{86,84}</string>
		</dict>
		<key>terui_rf_idle_4_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{442,272},{58,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,49}}</string>
			<key>sourceSize</key>
			<string>{58,49}</string>
		</dict>
		<key>terui_rf_run_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{827,622},{109,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,88}}</string>
			<key>sourceSize</key>
			<string>{109,88}</string>
		</dict>
		<key>terui_rf_run_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{581,591},{28,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,46}}</string>
			<key>sourceSize</key>
			<string>{28,46}</string>
		</dict>
		<key>terui_rf_skbs12_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,911},{32,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,24}}</string>
			<key>sourceSize</key>
			<string>{32,24}</string>
		</dict>
		<key>terui_rf_skbs12_100.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,322},{193,268}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{193,268}}</string>
			<key>sourceSize</key>
			<string>{193,270}</string>
		</dict>
		<key>terui_rf_skbs12_106.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,911},{114,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,111}}</string>
			<key>sourceSize</key>
			<string>{114,111}</string>
		</dict>
		<key>terui_rf_skbs12_108.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,711},{198,219}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,219}}</string>
			<key>sourceSize</key>
			<string>{198,219}</string>
		</dict>
		<key>terui_rf_skbs12_114.png</key>
		<dict>
			<key>frame</key>
			<string>{{754,270},{45,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,51}}</string>
			<key>sourceSize</key>
			<string>{45,51}</string>
		</dict>
		<key>terui_rf_skbs12_122.png</key>
		<dict>
			<key>frame</key>
			<string>{{610,543},{167,216}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,216}}</string>
			<key>sourceSize</key>
			<string>{169,216}</string>
		</dict>
		<key>terui_rf_skbs12_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{537,728},{182,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,132}}</string>
			<key>sourceSize</key>
			<string>{182,132}</string>
		</dict>
		<key>terui_rf_skbs12_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{893,774},{135,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,55}}</string>
			<key>sourceSize</key>
			<string>{135,55}</string>
		</dict>
		<key>terui_rf_skbs12_29.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,272},{49,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,65}}</string>
			<key>sourceSize</key>
			<string>{49,65}</string>
		</dict>
		<key>terui_rf_skbs12_39.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,606},{33,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,41}}</string>
			<key>sourceSize</key>
			<string>{33,41}</string>
		</dict>
		<key>terui_rf_skbs12_40.png</key>
		<dict>
			<key>frame</key>
			<string>{{827,502},{192,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,119}}</string>
			<key>sourceSize</key>
			<string>{192,119}</string>
		</dict>
		<key>terui_rf_skbs12_68.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,322},{230,317}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{230,317}}</string>
			<key>sourceSize</key>
			<string>{230,317}</string>
		</dict>
		<key>terui_rf_skbs12_69.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{232,319}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232,319}}</string>
			<key>sourceSize</key>
			<string>{232,319}</string>
		</dict>
		<key>terui_rf_skbs12_71.png</key>
		<dict>
			<key>frame</key>
			<string>{{657,911},{111,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,107}}</string>
			<key>sourceSize</key>
			<string>{111,107}</string>
		</dict>
		<key>terui_rf_skbs12_77.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,270},{49,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,20}}</string>
			<key>sourceSize</key>
			<string>{49,20}</string>
		</dict>
		<key>terui_rf_skbs12_94.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,606},{32,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,95}}</string>
			<key>sourceSize</key>
			<string>{32,95}</string>
		</dict>
		<key>terui_rf_skbs12_95_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,911},{37,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,22}}</string>
			<key>sourceSize</key>
			<string>{37,22}</string>
		</dict>
		<key>terui_rf_skbs12_99.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,2},{191,268}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,268}}</string>
			<key>sourceSize</key>
			<string>{191,268}</string>
		</dict>
		<key>terui_rf_sl_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,272},{49,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,74}}</string>
			<key>sourceSize</key>
			<string>{49,74}</string>
		</dict>
		<key>terui_rf_sl_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{610,711},{62,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,16}}</string>
			<key>sourceSize</key>
			<string>{62,16}</string>
		</dict>
		<key>terui_rf_sl_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,322},{283,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{283,182}}</string>
			<key>sourceSize</key>
			<string>{283,182}</string>
		</dict>
		<key>terui_rf_sl_25.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,911},{141,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,111}}</string>
			<key>sourceSize</key>
			<string>{141,111}</string>
		</dict>
		<key>terui_rf_sl_27.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,2},{215,269}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,269}}</string>
			<key>sourceSize</key>
			<string>{215,269}</string>
		</dict>
		<key>terui_rf_sl_27_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,640},{216,270}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,270}}</string>
			<key>sourceSize</key>
			<string>{216,270}</string>
		</dict>
		<key>terui_rf_sl_28.png</key>
		<dict>
			<key>frame</key>
			<string>{{827,247},{193,254}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,254}}</string>
			<key>sourceSize</key>
			<string>{193,254}</string>
		</dict>
		<key>terui_rf_sl_31.png</key>
		<dict>
			<key>frame</key>
			<string>{{643,2},{183,267}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,267}}</string>
			<key>sourceSize</key>
			<string>{183,267}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>teruiTRSZ_role0.png</string>
		<key>scale</key>
		<real>0.7</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>teruiTRSZ_role0.png</string>
	</dict>
</dict>
</plist>
