<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_huodong_xnnkt_yizan.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,140},{159,34}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{159,34}}</string>
			<key>sourceSize</key>
			<string>{163,36}</string>
		</dict>
		<key>btn_huodong_xnnkt_zan.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,140},{159,34}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{159,34}}</string>
			<key>sourceSize</key>
			<string>{163,36}</string>
		</dict>
		<key>pic_huodong_xnnkt_shezhizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,140},{94,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{94,23}}</string>
			<key>sourceSize</key>
			<string>{94,29}</string>
		</dict>
		<key>pic_huodong_xnnkt_taitou.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{529,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{529,136}}</string>
			<key>sourceSize</key>
			<string>{529,136}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_encourage0.png</string>
		<key>size</key>
		<string>{533,176}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_encourage0.png</string>
	</dict>
</dict>
</plist>
