<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_buzhen_daiding_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{145,870},{68,77}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,77}}</string>
			<key>sourceSize</key>
			<string>{70,79}</string>
		</dict>
		<key>btn_buzhen_daiding_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{145,800},{68,77}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,77}}</string>
			<key>sourceSize</key>
			<string>{70,79}</string>
		</dict>
		<key>btn_buzhen_yinji_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,1306},{70,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,79}}</string>
			<key>sourceSize</key>
			<string>{70,79}</string>
		</dict>
		<key>btn_buzhen_yinji_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,1138},{70,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,79}}</string>
			<key>sourceSize</key>
			<string>{70,79}</string>
		</dict>
		<key>btn_buzhen_yuanhu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,1066},{70,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,79}}</string>
			<key>sourceSize</key>
			<string>{70,79}</string>
		</dict>
		<key>btn_buzhen_yuanhu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,985},{70,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,79}}</string>
			<key>sourceSize</key>
			<string>{70,79}</string>
		</dict>
		<key>btn_gedoujia_yuanhu_jiachengyulan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,1465},{41,39}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{41,39}}</string>
			<key>sourceSize</key>
			<string>{41,41}</string>
		</dict>
		<key>btn_gedoujia_yuanhu_jiachengyulan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,1424},{41,39}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{41,39}}</string>
			<key>sourceSize</key>
			<string>{41,41}</string>
		</dict>
		<key>btn_gedoujia_yuanhu_xgyl_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,1880},{77,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,25}}</string>
			<key>sourceSize</key>
			<string>{77,25}</string>
		</dict>
		<key>btn_gedoujia_yuanhu_xgyl_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,1503},{77,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,25}}</string>
			<key>sourceSize</key>
			<string>{77,25}</string>
		</dict>
		<key>btn_gedoujia_yuanhu_yijianshengji_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,1735},{64,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,68}}</string>
			<key>sourceSize</key>
			<string>{64,68}</string>
		</dict>
		<key>btn_gedoujia_yuanhu_yijianshengji_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,694},{64,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,68}}</string>
			<key>sourceSize</key>
			<string>{64,68}</string>
		</dict>
		<key>btnpic_gdjqh_yh_tp.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,546},{85,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,40}}</string>
			<key>sourceSize</key>
			<string>{85,40}</string>
		</dict>
		<key>pic_buzhen_tanchuang_guize.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{798,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{798,70}}</string>
			<key>sourceSize</key>
			<string>{798,70}</string>
		</dict>
		<key>pic_buzhen_tanchuang_houpai.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,1805},{73,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,34}}</string>
			<key>sourceSize</key>
			<string>{73,34}</string>
		</dict>
		<key>pic_buzhen_tanchuang_qianpai.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,215},{73,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,34}}</string>
			<key>sourceSize</key>
			<string>{73,34}</string>
		</dict>
		<key>pic_buzhen_tanchuang_shangzhen.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,802},{778,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{778,55}}</string>
			<key>sourceSize</key>
			<string>{778,55}</string>
		</dict>
		<key>pic_buzhen_tanchuang_tuodong.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,1845},{58,30}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{58,30}}</string>
			<key>sourceSize</key>
			<string>{60,32}</string>
		</dict>
		<key>pic_bz_kaishizhandou.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,1582},{111,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,40}}</string>
			<key>sourceSize</key>
			<string>{111,40}</string>
		</dict>
		<key>pic_bz_szrs.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,1590},{91,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{91,20}}</string>
			<key>sourceSize</key>
			<string>{97,20}</string>
		</dict>
		<key>pic_bz_yhgdj.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,1387},{114,20}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{114,20}}</string>
			<key>sourceSize</key>
			<string>{118,20}</string>
		</dict>
		<key>pic_common_buttntext_xuanze.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,1957},{73,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,33}}</string>
			<key>sourceSize</key>
			<string>{73,33}</string>
		</dict>
		<key>pic_gdj_yh_jingjichang_shagnzhen.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,1781},{24,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,69}}</string>
			<key>sourceSize</key>
			<string>{24,69}</string>
		</dict>
		<key>pic_gdj_yh_jingjichang_yuanhu.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,1959},{24,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,69}}</string>
			<key>sourceSize</key>
			<string>{24,69}</string>
		</dict>
		<key>pic_gdj_yh_tanchuang_taitou_jiqiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1882},{156,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,72}}</string>
			<key>sourceSize</key>
			<string>{156,72}</string>
		</dict>
		<key>pic_gdj_yh_tanchuang_yijihuo.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,1210},{94,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{94,94}}</string>
			<key>sourceSize</key>
			<string>{98,98}</string>
		</dict>
		<key>pic_gdj_yh_tanchuang_zi_fenjie.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,251},{97,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{97,45}}</string>
			<key>sourceSize</key>
			<string>{99,45}</string>
		</dict>
		<key>pic_gdj_yh_tanchuang_zi_jihuoxiaoguo.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,1590},{95,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,25}}</string>
			<key>sourceSize</key>
			<string>{95,25}</string>
		</dict>
		<key>pic_gdj_yh_tanchuang_zi_wannengshu.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,1387},{114,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,2},{114,38}}</string>
			<key>sourceSize</key>
			<string>{138,42}</string>
		</dict>
		<key>pic_gdj_yh_tanchuang_zi_yijiantianjia.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,1389},{140,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{140,37}}</string>
			<key>sourceSize</key>
			<string>{144,37}</string>
		</dict>
		<key>pic_gdj_yh_tu_jihuotiaojian.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,273},{253,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,26}}</string>
			<key>sourceSize</key>
			<string>{253,26}</string>
		</dict>
		<key>pic_gdj_yh_zi_dangqianshiyong.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,350},{105,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{105,29}}</string>
			<key>sourceSize</key>
			<string>{105,33}</string>
		</dict>
		<key>pic_gdj_yh_zi_fenjie_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,764},{66,27}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{66,27}}</string>
			<key>sourceSize</key>
			<string>{72,31}</string>
		</dict>
		<key>pic_gdj_yh_zi_fenjie_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,1880},{73,29}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,29}}</string>
			<key>sourceSize</key>
			<string>{73,31}</string>
		</dict>
		<key>pic_gdj_yh_zi_genghuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,1506},{80,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{80,35}}</string>
			<key>sourceSize</key>
			<string>{80,37}</string>
		</dict>
		<key>pic_gdj_yh_zi_genghuan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,629},{66,27}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{66,27}}</string>
			<key>sourceSize</key>
			<string>{72,31}</string>
		</dict>
		<key>pic_gdj_yh_zi_genghuan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,1805},{73,29}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,29}}</string>
			<key>sourceSize</key>
			<string>{73,31}</string>
		</dict>
		<key>pic_gdj_yh_zi_jiachengxiaoguo.png</key>
		<dict>
			<key>frame</key>
			<string>{{27,1751},{124,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{124,32}}</string>
			<key>sourceSize</key>
			<string>{128,36}</string>
		</dict>
		<key>pic_gdj_yh_zi_jihuo.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,528},{99,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,45}}</string>
			<key>sourceSize</key>
			<string>{99,45}</string>
		</dict>
		<key>pic_gdj_yh_zi_jinengqianghua.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,1582},{112,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{112,32}}</string>
			<key>sourceSize</key>
			<string>{112,36}</string>
		</dict>
		<key>pic_gdj_yh_zi_jinengqianghua_sj.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,1086},{122,32}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{122,32}}</string>
			<key>sourceSize</key>
			<string>{128,36}</string>
		</dict>
		<key>pic_gdj_yh_zi_jinengqianghua_sp.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,800},{137,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{137,34}}</string>
			<key>sourceSize</key>
			<string>{137,36}</string>
		</dict>
		<key>pic_gdj_yh_zi_qianghua.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,1696},{76,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{76,37}}</string>
			<key>sourceSize</key>
			<string>{80,37}</string>
		</dict>
		<key>pic_gdj_yh_zi_swazjqs.png</key>
		<dict>
			<key>frame</key>
			<string>{{27,1582},{167,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,0},{167,36}}</string>
			<key>sourceSize</key>
			<string>{189,36}</string>
		</dict>
		<key>pic_gdj_yh_zi_tuijian.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,1781},{62,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{62,28}}</string>
			<key>sourceSize</key>
			<string>{62,32}</string>
		</dict>
		<key>pic_gdj_yh_zi_xuanzhognmubiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,457},{87,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,2},{87,29}}</string>
			<key>sourceSize</key>
			<string>{103,33}</string>
		</dict>
		<key>pic_gdj_yh_zi_zhuagnbei.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,940},{93,43}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{93,43}}</string>
			<key>sourceSize</key>
			<string>{99,45}</string>
		</dict>
		<key>pic_gdjqh_yh_xgjc_zi_erwaixiaoguo.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,350},{100,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,22}}</string>
			<key>sourceSize</key>
			<string>{100,22}</string>
		</dict>
		<key>pic_gdjqh_yh_xgjc_zi_tuanduishuxing.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,452},{92,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{92,22}}</string>
			<key>sourceSize</key>
			<string>{94,22}</string>
		</dict>
		<key>pic_gdjqh_yh_yhsz_kfzdz_yeqian_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,1389},{140,19}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{140,19}}</string>
			<key>sourceSize</key>
			<string>{144,21}</string>
		</dict>
		<key>pic_gdjqh_yh_yhsz_yeqian_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,1531},{60,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,49}}</string>
			<key>sourceSize</key>
			<string>{60,49}</string>
		</dict>
		<key>pic_gdjqh_yh_yhsz_yeqian_houpai.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,1732},{47,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,52}}</string>
			<key>sourceSize</key>
			<string>{47,52}</string>
		</dict>
		<key>pic_gdjqh_yh_yhsz_yeqian_qianpai.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,1683},{47,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,52}}</string>
			<key>sourceSize</key>
			<string>{47,52}</string>
		</dict>
		<key>pic_gdjqh_yh_yhsz_yeqian_tongyong.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,479},{47,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,52}}</string>
			<key>sourceSize</key>
			<string>{47,52}</string>
		</dict>
		<key>pic_gdjqh_yh_yhsz_zdz_zi_1huihe.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,1321},{27,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{27,14}}</string>
			<key>sourceSize</key>
			<string>{37,14}</string>
		</dict>
		<key>pic_gdjqh_yh_yhsz_zdz_zi_2huihe.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,1290},{29,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{29,14}}</string>
			<key>sourceSize</key>
			<string>{41,14}</string>
		</dict>
		<key>pic_gdjqh_yh_yhsz_zdz_zi_bukeshangzhen.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,546},{56,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{56,13}}</string>
			<key>sourceSize</key>
			<string>{56,15}</string>
		</dict>
		<key>pic_gdjqh_yh_yhsz_zdz_zi_keshangzhen.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,1781},{40,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{40,13}}</string>
			<key>sourceSize</key>
			<string>{42,15}</string>
		</dict>
		<key>pic_gdjqh_yh_yhsz_zdz_zi_yhszdjs.png</key>
		<dict>
			<key>frame</key>
			<string>{{61,1751},{119,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,16}}</string>
			<key>sourceSize</key>
			<string>{119,16}</string>
		</dict>
		<key>pic_gdjqh_yh_yhsz_zdz_zi_yishangzhen.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,1350},{40,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{40,13}}</string>
			<key>sourceSize</key>
			<string>{42,15}</string>
		</dict>
		<key>pic_gdjqh_yh_yhsz_zi_tdszszyh.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,939},{145,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,18}}</string>
			<key>sourceSize</key>
			<string>{145,18}</string>
		</dict>
		<key>pic_gdjqh_yh_yhsz_zi_tdszszyh2.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,1880},{75,34}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{75,34}}</string>
			<key>sourceSize</key>
			<string>{77,36}</string>
		</dict>
		<key>pic_gdjqh_yh_yhsz_zi_yhzdl.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,1588},{89,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{89,18}}</string>
			<key>sourceSize</key>
			<string>{89,20}</string>
		</dict>
		<key>pic_gdjyz_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,273},{204,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,65}}</string>
			<key>sourceSize</key>
			<string>{204,65}</string>
		</dict>
		<key>pic_gdjyz_chakan.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,633},{79,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,34}}</string>
			<key>sourceSize</key>
			<string>{79,34}</string>
		</dict>
		<key>pic_gdjyz_yhz_logo.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,697},{101,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,74}}</string>
			<key>sourceSize</key>
			<string>{101,74}</string>
		</dict>
		<key>pic_gdjyz_yixiagedoujia.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1582},{298,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{298,23}}</string>
			<key>sourceSize</key>
			<string>{298,23}</string>
		</dict>
		<key>pic_gedoujia_yuanhu_zi_buwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,669},{79,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{79,23}}</string>
			<key>sourceSize</key>
			<string>{83,25}</string>
		</dict>
		<key>pic_gedoujia_yuanhu_zi_jingqingqidai.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,2},{211,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,74}}</string>
			<key>sourceSize</key>
			<string>{211,74}</string>
		</dict>
		<key>pic_gedoujia_yuanhu_zi_qxzygzb.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,802},{153,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,48}}</string>
			<key>sourceSize</key>
			<string>{153,48}</string>
		</dict>
		<key>pic_gedoujia_yuanhu_zi_tdsxjc.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,528},{167,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,0},{167,38}}</string>
			<key>sourceSize</key>
			<string>{181,38}</string>
		</dict>
		<key>pic_gedoujia_yuanhu_zi_weijihuo.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,1254},{133,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,48}}</string>
			<key>sourceSize</key>
			<string>{133,48}</string>
		</dict>
		<key>pic_gedoujia_yuanhu_zi_xiyoudu.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,985},{73,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,2},{73,21}}</string>
			<key>sourceSize</key>
			<string>{83,25}</string>
		</dict>
		<key>pic_gedoujia_yuanhu_zi_zhiye.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,1957},{73,23}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,1},{73,23}}</string>
			<key>sourceSize</key>
			<string>{83,25}</string>
		</dict>
		<key>pic_zd_yuanhushifangcishu.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,1210},{78,16}}</string>
			<key>offset</key>
			<string>{-9,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{78,16}}</string>
			<key>sourceSize</key>
			<string>{100,16}</string>
		</dict>
		<key>pic_zhuagnbei_yh_zi_yeqian_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,1959},{75,25}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,2},{75,25}}</string>
			<key>sourceSize</key>
			<string>{85,31}</string>
		</dict>
		<key>pic_zhuagnbei_yh_zi_yeqian_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,1503},{85,27}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{85,27}}</string>
			<key>sourceSize</key>
			<string>{85,31}</string>
		</dict>
		<key>qingjingdaf.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,2},{269,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{269,72}}</string>
			<key>sourceSize</key>
			<string>{269,72}</string>
		</dict>
		<key>word_gedoujia_yuanhu_yangchengguize.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,1108},{144,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,48}}</string>
			<key>sourceSize</key>
			<string>{144,48}</string>
		</dict>
		<key>word_gedoujia_yuanhu_zhandouguize.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,957},{149,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,48}}</string>
			<key>sourceSize</key>
			<string>{149,48}</string>
		</dict>
		<key>zi_ghjqs.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,1306},{116,25}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{116,25}}</string>
			<key>sourceSize</key>
			<string>{122,25}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_intervene0.png</string>
		<key>size</key>
		<string>{224,2040}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_intervene0.png</string>
	</dict>
</dict>
</plist>
