<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_szygnz_liumenbisha_anqiu_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{323,987},{37,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,35}}</string>
			<key>sourceSize</key>
			<string>{37,35}</string>
		</dict>
		<key>New_szygnz_liumenbisha_baoqi_00017.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{383,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{383,149}}</string>
			<key>sourceSize</key>
			<string>{383,149}</string>
		</dict>
		<key>New_szygnz_liumenbisha_baoqi_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,2},{381,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{381,158}}</string>
			<key>sourceSize</key>
			<string>{381,158}</string>
		</dict>
		<key>New_szygnz_liumenbisha_baoqiquan2_00097.png</key>
		<dict>
			<key>frame</key>
			<string>{{708,685},{33,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,33}}</string>
			<key>sourceSize</key>
			<string>{33,33}</string>
		</dict>
		<key>New_szygnz_liumenbisha_dianqiu_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{323,946},{40,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,47}}</string>
			<key>sourceSize</key>
			<string>{40,47}</string>
		</dict>
		<key>New_szygnz_liumenbisha_heidongqiu_00048.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,429},{369,255}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,6},{369,255}}</string>
			<key>sourceSize</key>
			<string>{371,261}</string>
		</dict>
		<key>New_szygnz_liumenbisha_heidongqiu_00076.png</key>
		<dict>
			<key>frame</key>
			<string>{{768,2},{369,254}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{369,254}}</string>
			<key>sourceSize</key>
			<string>{371,258}</string>
		</dict>
		<key>New_szygnz_liumenbisha_heidongqiu_00080.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,691},{369,254}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,10},{369,254}}</string>
			<key>sourceSize</key>
			<string>{371,264}</string>
		</dict>
		<key>New_szygnz_liumenbisha_heidongqiu_00088.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,435},{369,255}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,6},{369,255}}</string>
			<key>sourceSize</key>
			<string>{371,261}</string>
		</dict>
		<key>New_szygnz_liumenbisha_heidongqiu_00092.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,152},{369,282}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{369,282}}</string>
			<key>sourceSize</key>
			<string>{371,290}</string>
		</dict>
		<key>New_szygnz_liumenbisha_heidongqiu_00096.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,161},{369,267}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{369,267}}</string>
			<key>sourceSize</key>
			<string>{371,273}</string>
		</dict>
		<key>New_szygnz_liumenbisha_heidongqiu_00108.png</key>
		<dict>
			<key>frame</key>
			<string>{{822,874},{183,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,146}}</string>
			<key>sourceSize</key>
			<string>{183,146}</string>
		</dict>
		<key>New_szygnz_liumenbisha_huoqiu_00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,946},{59,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,59}}</string>
			<key>sourceSize</key>
			<string>{59,59}</string>
		</dict>
		<key>New_szygnz_liumenbisha_huoqiu_00036.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,946},{59,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,59}}</string>
			<key>sourceSize</key>
			<string>{59,59}</string>
		</dict>
		<key>New_szygnz_putongbisa_baodianguang_00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,685},{335,336}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{335,336}}</string>
			<key>sourceSize</key>
			<string>{335,336}</string>
		</dict>
		<key>New_szygnz_putongbisa_bingci1_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{708,719},{32,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,43}}</string>
			<key>sourceSize</key>
			<string>{32,43}</string>
		</dict>
		<key>New_szygnz_putongbisa_bingci2_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{708,763},{32,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,43}}</string>
			<key>sourceSize</key>
			<string>{32,43}</string>
		</dict>
		<key>New_szygnz_putongbisa_bingci3_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{708,807},{32,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,43}}</string>
			<key>sourceSize</key>
			<string>{32,43}</string>
		</dict>
		<key>New_szygnz_putongbisa_bingkuai_00038.png</key>
		<dict>
			<key>frame</key>
			<string>{{742,372},{280,223}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{280,223}}</string>
			<key>sourceSize</key>
			<string>{280,223}</string>
		</dict>
		<key>New_szygnz_xiaojineng_bingci_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,946},{98,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,73}}</string>
			<key>sourceSize</key>
			<string>{98,73}</string>
		</dict>
		<key>New_szygnz_xiaojineng_bingci_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{708,874},{147,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,113}}</string>
			<key>sourceSize</key>
			<string>{147,113}</string>
		</dict>
		<key>New_szygnz_xiaojineng_bingci_00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,946},{101,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,72}}</string>
			<key>sourceSize</key>
			<string>{101,72}</string>
		</dict>
		<key>szygnz_liumenbisha_fazhen_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{742,596},{278,277}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{278,277}}</string>
			<key>sourceSize</key>
			<string>{278,277}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>ygnzXIV_common1.png</string>
		<key>scale</key>
		<real>0.45</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ygnzXIV_common1.png</string>
	</dict>
</dict>
</plist>
