<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_zl_hj_daiji_dj_00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,2},{189,252}}</string>
			<key>offset</key>
			<string>{27,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{68,23},{189,252}}</string>
			<key>sourceSize</key>
			<string>{271,326}</string>
		</dict>
		<key>New_zl_hj_daiji_dj_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,762},{249,222}}</string>
			<key>offset</key>
			<string>{-9,22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,30},{249,222}}</string>
			<key>sourceSize</key>
			<string>{271,326}</string>
		</dict>
		<key>New_zl_hj_daiji_dj_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,2},{217,206}}</string>
			<key>offset</key>
			<string>{0,51}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,9},{217,206}}</string>
			<key>sourceSize</key>
			<string>{271,326}</string>
		</dict>
		<key>New_zl_hj_daiji_dj_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{309,255},{179,218}}</string>
			<key>offset</key>
			<string>{-12,45}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,9},{179,218}}</string>
			<key>sourceSize</key>
			<string>{271,326}</string>
		</dict>
		<key>New_zl_hj_daiji_dj_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{205,254}}</string>
			<key>offset</key>
			<string>{16,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{49,34},{205,254}}</string>
			<key>sourceSize</key>
			<string>{271,326}</string>
		</dict>
		<key>New_zl_hj_dengchang_zz2_00017.png</key>
		<dict>
			<key>frame</key>
			<string>{{605,2},{145,169}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,169}}</string>
			<key>sourceSize</key>
			<string>{145,173}</string>
		</dict>
		<key>New_zl_hj_dengchang_zz2_00021.png</key>
		<dict>
			<key>frame</key>
			<string>{{751,2},{145,165}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,165}}</string>
			<key>sourceSize</key>
			<string>{145,173}</string>
		</dict>
		<key>New_zl_hj_dengchang_zz2_00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{751,148},{145,161}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,161}}</string>
			<key>sourceSize</key>
			<string>{145,173}</string>
		</dict>
		<key>New_zl_hj_dengchang_zz2_00027.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,411},{145,151}}</string>
			<key>offset</key>
			<string>{0,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,151}}</string>
			<key>sourceSize</key>
			<string>{145,173}</string>
		</dict>
		<key>New_zl_hj_dengchang_zz2_00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{677,294},{145,149}}</string>
			<key>offset</key>
			<string>{0,12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,149}}</string>
			<key>sourceSize</key>
			<string>{145,173}</string>
		</dict>
		<key>New_zl_hj_dengchang_zz2_00031.png</key>
		<dict>
			<key>frame</key>
			<string>{{827,294},{145,147}}</string>
			<key>offset</key>
			<string>{0,13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,147}}</string>
			<key>sourceSize</key>
			<string>{145,173}</string>
		</dict>
		<key>New_zl_hj_dengchang_zz2_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,563},{145,145}}</string>
			<key>offset</key>
			<string>{0,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,145}}</string>
			<key>sourceSize</key>
			<string>{145,173}</string>
		</dict>
		<key>New_zl_hj_dengchang_zz2_00035.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,709},{145,137}}</string>
			<key>offset</key>
			<string>{0,18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,137}}</string>
			<key>sourceSize</key>
			<string>{145,173}</string>
		</dict>
		<key>New_zl_hj_dengchang_zz2_00037.png</key>
		<dict>
			<key>frame</key>
			<string>{{611,855},{145,133}}</string>
			<key>offset</key>
			<string>{0,20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,133}}</string>
			<key>sourceSize</key>
			<string>{145,173}</string>
		</dict>
		<key>New_zl_hj_dengchang_zz2_00039.png</key>
		<dict>
			<key>frame</key>
			<string>{{680,709},{145,127}}</string>
			<key>offset</key>
			<string>{0,23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,127}}</string>
			<key>sourceSize</key>
			<string>{145,173}</string>
		</dict>
		<key>New_zl_hj_dengchang_zz2_00047.png</key>
		<dict>
			<key>frame</key>
			<string>{{917,2},{135,99}}</string>
			<key>offset</key>
			<string>{5,37}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,0},{135,99}}</string>
			<key>sourceSize</key>
			<string>{145,173}</string>
		</dict>
		<key>New_zl_hj_dengchang_zz2_00049.png</key>
		<dict>
			<key>frame</key>
			<string>{{917,138},{135,93}}</string>
			<key>offset</key>
			<string>{5,40}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,0},{135,93}}</string>
			<key>sourceSize</key>
			<string>{145,173}</string>
		</dict>
		<key>New_zl_hj_dengchang_zz2_00051.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,931},{133,83}}</string>
			<key>offset</key>
			<string>{6,45}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,0},{133,83}}</string>
			<key>sourceSize</key>
			<string>{145,173}</string>
		</dict>
		<key>New_zl_hj_dengchang_zz2_00053.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,931},{125,75}}</string>
			<key>offset</key>
			<string>{10,49}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,0},{125,75}}</string>
			<key>sourceSize</key>
			<string>{145,173}</string>
		</dict>
		<key>New_zl_hj_putongbisha_ddq_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{745,855},{144,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,143}}</string>
			<key>sourceSize</key>
			<string>{144,143}</string>
		</dict>
		<key>New_zl_hj_putongbisha_ddq_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,440},{144,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,143}}</string>
			<key>sourceSize</key>
			<string>{144,143}</string>
		</dict>
		<key>New_zl_hj_putongbisha_ddq_00017.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,584},{144,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,143}}</string>
			<key>sourceSize</key>
			<string>{144,143}</string>
		</dict>
		<key>New_zl_hj_putongbisha_kk_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,474},{127,211}}</string>
			<key>offset</key>
			<string>{-8,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,38},{127,211}}</string>
			<key>sourceSize</key>
			<string>{167,285}</string>
		</dict>
		<key>New_zl_hj_putongbisha_kk_00017.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,510},{141,235}}</string>
			<key>offset</key>
			<string>{-7,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,25},{141,235}}</string>
			<key>sourceSize</key>
			<string>{167,285}</string>
		</dict>
		<key>New_zl_hj_putongbisha_sk_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,717},{139,213}}</string>
			<key>offset</key>
			<string>{11,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,31},{139,213}}</string>
			<key>sourceSize</key>
			<string>{161,271}</string>
		</dict>
		<key>New_zl_hj_putongbisha_sk_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,510},{97,251}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,12},{97,251}}</string>
			<key>sourceSize</key>
			<string>{161,271}</string>
		</dict>
		<key>New_zl_hj_xiaojineng2_cs_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,686},{50,211}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,13},{50,211}}</string>
			<key>sourceSize</key>
			<string>{62,235}</string>
		</dict>
		<key>New_zl_hj_xiaojineng2_cs_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,746},{62,235}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,235}}</string>
			<key>sourceSize</key>
			<string>{62,235}</string>
		</dict>
		<key>New_zl_hj_xiaojineng2_cs_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,510},{62,235}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,235}}</string>
			<key>sourceSize</key>
			<string>{62,235}</string>
		</dict>
		<key>New_zl_hj_xiaojineng2_cs_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,255},{62,235}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,235}}</string>
			<key>sourceSize</key>
			<string>{62,235}</string>
		</dict>
		<key>New_zl_hj_xiaojineng2_cs_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,746},{62,235}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,235}}</string>
			<key>sourceSize</key>
			<string>{62,235}</string>
		</dict>
		<key>New_zl_hj_xiaojineng2_cs_00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,491},{58,225}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,7},{58,225}}</string>
			<key>sourceSize</key>
			<string>{62,235}</string>
		</dict>
		<key>New_zl_hj_xiaojineng_bd_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,257},{252,243}}</string>
			<key>offset</key>
			<string>{-12,12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,3},{252,243}}</string>
			<key>sourceSize</key>
			<string>{290,273}</string>
		</dict>
		<key>New_zl_hj_xiaojineng_bd_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{489,220},{190,187}}</string>
			<key>offset</key>
			<string>{0,13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{50,30},{190,187}}</string>
			<key>sourceSize</key>
			<string>{290,273}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>huojiRE_common1.png</string>
		<key>scale</key>
		<real>0.92</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>huojiRE_common1.png</string>
	</dict>
</dict>
</plist>
