<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask01_baolongmibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{240,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,188}}</string>
			<key>sourceSize</key>
			<string>{240,188}</string>
		</dict>
		<key>mask02_baolongmibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,258},{207,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,71}}</string>
			<key>sourceSize</key>
			<string>{207,71}</string>
		</dict>
		<key>sg_baolongmibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,258},{83,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,120}}</string>
			<key>sourceSize</key>
			<string>{83,120}</string>
		</dict>
		<key>wy_12_12_65245_baolongmibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,382},{177,116}}</string>
			<key>offset</key>
			<string>{-66,22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,3},{177,116}}</string>
			<key>sourceSize</key>
			<string>{319,166}</string>
		</dict>
		<key>wy_13_13_81844_baolongmibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,2},{213,86}}</string>
			<key>offset</key>
			<string>{-32,37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,3},{213,86}}</string>
			<key>sourceSize</key>
			<string>{319,166}</string>
		</dict>
		<key>wy_14_14_47753_baolongmibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,90},{213,84}}</string>
			<key>offset</key>
			<string>{19,36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{72,5},{213,84}}</string>
			<key>sourceSize</key>
			<string>{319,166}</string>
		</dict>
		<key>wy_15_15_61577_baolongmibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,274},{185,106}}</string>
			<key>offset</key>
			<string>{59,24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{126,6},{185,106}}</string>
			<key>sourceSize</key>
			<string>{319,166}</string>
		</dict>
		<key>wy_16_16_12217_baolongmibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,534},{135,154}}</string>
			<key>offset</key>
			<string>{84,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{176,6},{135,154}}</string>
			<key>sourceSize</key>
			<string>{319,166}</string>
		</dict>
		<key>wy_17_17_52411_baolongmibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,549},{129,154}}</string>
			<key>offset</key>
			<string>{84,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{179,12},{129,154}}</string>
			<key>sourceSize</key>
			<string>{319,166}</string>
		</dict>
		<key>wy_18_18_72522_baolongmibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,437},{177,110}}</string>
			<key>offset</key>
			<string>{56,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{127,56},{177,110}}</string>
			<key>sourceSize</key>
			<string>{319,166}</string>
		</dict>
		<key>wy_19_19_89713_baolongmibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,192},{211,80}}</string>
			<key>offset</key>
			<string>{22,-43}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,86},{211,80}}</string>
			<key>sourceSize</key>
			<string>{319,166}</string>
		</dict>
		<key>wy_20_20_66683_baolongmibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,176},{213,80}}</string>
			<key>offset</key>
			<string>{-29,-43}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,86},{213,80}}</string>
			<key>sourceSize</key>
			<string>{319,166}</string>
		</dict>
		<key>wy_21_21_22785_baolongmibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,331},{185,104}}</string>
			<key>offset</key>
			<string>{-67,-31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,62},{185,104}}</string>
			<key>sourceSize</key>
			<string>{319,166}</string>
		</dict>
		<key>wy_22_22_81971_baolongmibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,380},{133,152}}</string>
			<key>offset</key>
			<string>{-93,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,14},{133,152}}</string>
			<key>sourceSize</key>
			<string>{319,166}</string>
		</dict>
		<key>wy_23_23_71755_baolongmibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,500},{129,158}}</string>
			<key>offset</key>
			<string>{-93,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,3},{129,158}}</string>
			<key>sourceSize</key>
			<string>{319,166}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>baolongmibaoimage.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>baolongmibaoimage.png</string>
	</dict>
</dict>
</plist>
