<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bamziyou_shishiduizhanshengliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,121},{399,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{399,117}}</string>
			<key>sourceSize</key>
			<string>{399,117}</string>
		</dict>
		<key>banzizuo_shishiduizhanshengliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{410,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{410,117}}</string>
			<key>sourceSize</key>
			<string>{410,117}</string>
		</dict>
		<key>gi_shishiduizhanshengliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,315},{126,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,98}}</string>
			<key>sourceSize</key>
			<string>{126,98}</string>
		</dict>
		<key>huodejiangli_shishiduizhanshengliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,240},{136,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{136,28}}</string>
			<key>sourceSize</key>
			<string>{136,30}</string>
		</dict>
		<key>sheng_shishiduizhanshengliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,240},{127,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,100}}</string>
			<key>sourceSize</key>
			<string>{127,100}</string>
		</dict>
		<key>sl_shishiduizhanshengliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,240},{185,73}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{55,3},{185,73}}</string>
			<key>sourceSize</key>
			<string>{293,79}</string>
		</dict>
		<key>ziyou_shishiduizhanshengliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,436},{431,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{431,48}}</string>
			<key>sourceSize</key>
			<string>{431,48}</string>
		</dict>
		<key>zizuo_shishiduizhanshengliimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{414,2},{432,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{432,48}}</string>
			<key>sourceSize</key>
			<string>{432,48}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>shishiduizhanshengliimage.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>shishiduizhanshengliimage.png</string>
	</dict>
</dict>
</plist>
