<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_ysl_dj_huoyan2_00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,636},{107,147}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,6},{107,147}}</string>
			<key>sourceSize</key>
			<string>{161,157}</string>
		</dict>
		<key>New_ysl_dj_huoyan2_00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,605},{115,137}}</string>
			<key>offset</key>
			<string>{1,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,15},{115,137}}</string>
			<key>sourceSize</key>
			<string>{161,157}</string>
		</dict>
		<key>New_ysl_dj_huoyan2_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{736,142},{117,139}}</string>
			<key>offset</key>
			<string>{2,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,16},{117,139}}</string>
			<key>sourceSize</key>
			<string>{161,157}</string>
		</dict>
		<key>New_ysl_dj_huoyan2_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,2},{105,141}}</string>
			<key>offset</key>
			<string>{-4,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,16},{105,141}}</string>
			<key>sourceSize</key>
			<string>{161,157}</string>
		</dict>
		<key>New_ysl_dj_huoyan2_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,324},{105,149}}</string>
			<key>offset</key>
			<string>{1,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,8},{105,149}}</string>
			<key>sourceSize</key>
			<string>{161,157}</string>
		</dict>
		<key>New_ysl_dj_huoyan2_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,474},{117,147}}</string>
			<key>offset</key>
			<string>{2,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,0},{117,147}}</string>
			<key>sourceSize</key>
			<string>{161,157}</string>
		</dict>
		<key>New_ysl_dj_huoyan2_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{508,145},{115,141}}</string>
			<key>offset</key>
			<string>{-4,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,11},{115,141}}</string>
			<key>sourceSize</key>
			<string>{161,157}</string>
		</dict>
		<key>New_ysl_dj_huoyan2_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,324},{125,145}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,7},{125,145}}</string>
			<key>sourceSize</key>
			<string>{161,157}</string>
		</dict>
		<key>New_ysl_dj_huoyan2_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{648,2},{129,139}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,11},{129,139}}</string>
			<key>sourceSize</key>
			<string>{161,157}</string>
		</dict>
		<key>New_ysl_dj_huoyan2_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{778,2},{125,137}}</string>
			<key>offset</key>
			<string>{8,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,15},{125,137}}</string>
			<key>sourceSize</key>
			<string>{161,157}</string>
		</dict>
		<key>New_ysl_dj_huoyan2_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,2},{131,143}}</string>
			<key>offset</key>
			<string>{9,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,10},{131,143}}</string>
			<key>sourceSize</key>
			<string>{161,157}</string>
		</dict>
		<key>New_ysl_dj_huoyan2_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,795},{131,153}}</string>
			<key>offset</key>
			<string>{8,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,3},{131,153}}</string>
			<key>sourceSize</key>
			<string>{161,157}</string>
		</dict>
		<key>New_ysl_dj_huoyan2_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,641},{145,153}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,2},{145,153}}</string>
			<key>sourceSize</key>
			<string>{161,157}</string>
		</dict>
		<key>New_ysl_dj_huoyan2_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,2},{155,133}}</string>
			<key>offset</key>
			<string>{3,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,20},{155,133}}</string>
			<key>sourceSize</key>
			<string>{161,157}</string>
		</dict>
		<key>New_ysl_dj_huoyan2_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,326},{157,125}}</string>
			<key>offset</key>
			<string>{-2,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,27},{157,125}}</string>
			<key>sourceSize</key>
			<string>{161,157}</string>
		</dict>
		<key>New_ysl_dj_huoyan2_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,483},{153,127}}</string>
			<key>offset</key>
			<string>{-4,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,20},{153,127}}</string>
			<key>sourceSize</key>
			<string>{161,157}</string>
		</dict>
		<key>New_ysl_dj_huoyan2_00017.png</key>
		<dict>
			<key>frame</key>
			<string>{{770,459},{125,131}}</string>
			<key>offset</key>
			<string>{-3,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,15},{125,131}}</string>
			<key>sourceSize</key>
			<string>{161,157}</string>
		</dict>
		<key>New_ysl_dj_huoyan2_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{904,2},{117,135}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,11},{117,135}}</string>
			<key>sourceSize</key>
			<string>{161,157}</string>
		</dict>
		<key>New_ysl_dj_huoyan2_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{608,324},{121,139}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,9},{121,139}}</string>
			<key>sourceSize</key>
			<string>{161,157}</string>
		</dict>
		<key>New_ysl_dj_huoyan2_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{904,138},{117,135}}</string>
			<key>offset</key>
			<string>{-3,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,17},{117,135}}</string>
			<key>sourceSize</key>
			<string>{161,157}</string>
		</dict>
		<key>New_ysl_dj_huoyan2_00021.png</key>
		<dict>
			<key>frame</key>
			<string>{{904,274},{117,135}}</string>
			<key>offset</key>
			<string>{-10,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,17},{117,135}}</string>
			<key>sourceSize</key>
			<string>{161,157}</string>
		</dict>
		<key>New_ysl_dj_huoyan2_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,465},{123,139}}</string>
			<key>offset</key>
			<string>{-11,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,13},{123,139}}</string>
			<key>sourceSize</key>
			<string>{161,157}</string>
		</dict>
		<key>New_ysl_dj_huoyan2_00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,146},{123,143}}</string>
			<key>offset</key>
			<string>{-11,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,9},{123,143}}</string>
			<key>sourceSize</key>
			<string>{161,157}</string>
		</dict>
		<key>New_ysl_dj_huoyan_00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{901,635},{121,136}}</string>
			<key>offset</key>
			<string>{7,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,25},{121,136}}</string>
			<key>sourceSize</key>
			<string>{155,176}</string>
		</dict>
		<key>New_ysl_dj_huoyan_00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{903,410},{119,128}}</string>
			<key>offset</key>
			<string>{6,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,27},{119,128}}</string>
			<key>sourceSize</key>
			<string>{155,176}</string>
		</dict>
		<key>New_ysl_dj_huoyan_00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{624,144},{111,140}}</string>
			<key>offset</key>
			<string>{-5,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,21},{111,140}}</string>
			<key>sourceSize</key>
			<string>{155,176}</string>
		</dict>
		<key>New_ysl_dj_huoyan_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,158},{119,146}}</string>
			<key>offset</key>
			<string>{-4,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,13},{119,146}}</string>
			<key>sourceSize</key>
			<string>{155,176}</string>
		</dict>
		<key>New_ysl_dj_huoyan_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,641},{121,154}}</string>
			<key>offset</key>
			<string>{-2,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,3},{121,154}}</string>
			<key>sourceSize</key>
			<string>{155,176}</string>
		</dict>
		<key>New_ysl_dj_huoyan_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,167},{127,158}}</string>
			<key>offset</key>
			<string>{-1,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,0},{127,158}}</string>
			<key>sourceSize</key>
			<string>{155,176}</string>
		</dict>
		<key>New_ysl_dj_huoyan_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,326},{133,156}}</string>
			<key>offset</key>
			<string>{-2,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,0},{133,156}}</string>
			<key>sourceSize</key>
			<string>{155,176}</string>
		</dict>
		<key>New_ysl_dj_huoyan_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,637},{135,152}}</string>
			<key>offset</key>
			<string>{-1,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,6},{135,152}}</string>
			<key>sourceSize</key>
			<string>{155,176}</string>
		</dict>
		<key>New_ysl_dj_huoyan_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,167},{133,156}}</string>
			<key>offset</key>
			<string>{1,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,5},{133,156}}</string>
			<key>sourceSize</key>
			<string>{155,176}</string>
		</dict>
		<key>New_ysl_dj_huoyan_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{141,164}}</string>
			<key>offset</key>
			<string>{4,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,2},{141,164}}</string>
			<key>sourceSize</key>
			<string>{155,176}</string>
		</dict>
		<key>New_ysl_dj_huoyan_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,484},{145,156}}</string>
			<key>offset</key>
			<string>{3,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,15},{145,156}}</string>
			<key>sourceSize</key>
			<string>{155,176}</string>
		</dict>
		<key>New_ysl_dj_huoyan_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,790},{147,150}}</string>
			<key>offset</key>
			<string>{-4,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,25},{147,150}}</string>
			<key>sourceSize</key>
			<string>{155,176}</string>
		</dict>
		<key>New_ysl_dj_huoyan_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,796},{153,146}}</string>
			<key>offset</key>
			<string>{-1,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,30},{153,146}}</string>
			<key>sourceSize</key>
			<string>{155,176}</string>
		</dict>
		<key>New_ysl_dj_huoyan_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,2},{131,142}}</string>
			<key>offset</key>
			<string>{12,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,28},{131,142}}</string>
			<key>sourceSize</key>
			<string>{155,176}</string>
		</dict>
		<key>New_ysl_dj_huoyan_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{494,324},{113,140}}</string>
			<key>offset</key>
			<string>{4,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,23},{113,140}}</string>
			<key>sourceSize</key>
			<string>{155,176}</string>
		</dict>
		<key>New_ysl_dj_huoyan_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,743},{115,126}}</string>
			<key>offset</key>
			<string>{5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,29},{115,126}}</string>
			<key>sourceSize</key>
			<string>{155,176}</string>
		</dict>
		<key>New_ysl_dj_huoyan_00017.png</key>
		<dict>
			<key>frame</key>
			<string>{{770,585},{113,130}}</string>
			<key>offset</key>
			<string>{7,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28,25},{113,130}}</string>
			<key>sourceSize</key>
			<string>{155,176}</string>
		</dict>
		<key>New_ysl_dj_huoyan_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{770,341},{117,132}}</string>
			<key>offset</key>
			<string>{9,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28,21},{117,132}}</string>
			<key>sourceSize</key>
			<string>{155,176}</string>
		</dict>
		<key>New_ysl_dj_huoyan_00021.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,470},{105,144}}</string>
			<key>offset</key>
			<string>{8,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,14},{105,144}}</string>
			<key>sourceSize</key>
			<string>{155,176}</string>
		</dict>
		<key>New_ysl_dj_huoyan_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,790},{103,152}}</string>
			<key>offset</key>
			<string>{8,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,9},{103,152}}</string>
			<key>sourceSize</key>
			<string>{155,176}</string>
		</dict>
		<key>New_ysl_dj_huoyan_00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{770,699},{113,130}}</string>
			<key>offset</key>
			<string>{7,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28,31},{113,130}}</string>
			<key>sourceSize</key>
			<string>{155,176}</string>
		</dict>
		<key>axinjiayisila10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1009,1007},{11,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,10}}</string>
			<key>sourceSize</key>
			<string>{11,10}</string>
		</dict>
		<key>axinjiayisila14.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,615},{20,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,27}}</string>
			<key>sourceSize</key>
			<string>{20,27}</string>
		</dict>
		<key>axinjiayisila8.png</key>
		<dict>
			<key>frame</key>
			<string>{{514,636},{18,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,23}}</string>
			<key>sourceSize</key>
			<string>{18,23}</string>
		</dict>
		<key>yisila_a_sz_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{854,306},{28,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,49}}</string>
			<key>sourceSize</key>
			<string>{28,49}</string>
		</dict>
		<key>yisila_a_sz_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,158},{5,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,23}}</string>
			<key>sourceSize</key>
			<string>{5,23}</string>
		</dict>
		<key>yisila_a_sz_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{383,622},{13,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,23}}</string>
			<key>sourceSize</key>
			<string>{13,23}</string>
		</dict>
		<key>yisila_a_sz_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,146},{11,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,60}}</string>
			<key>sourceSize</key>
			<string>{11,60}</string>
		</dict>
		<key>yisila_a_t_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,305},{18,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,37}}</string>
			<key>sourceSize</key>
			<string>{18,37}</string>
		</dict>
		<key>yisila_a_t_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{901,772},{54,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,121}}</string>
			<key>sourceSize</key>
			<string>{54,121}</string>
		</dict>
		<key>yisila_a_yj_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1009,995},{11,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,11}}</string>
			<key>sourceSize</key>
			<string>{11,11}</string>
		</dict>
		<key>yisila_a_ysd_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,622},{14,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,25}}</string>
			<key>sourceSize</key>
			<string>{14,25}</string>
		</dict>
		<key>yisila_a_ysd_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,305},{26,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,18}}</string>
			<key>sourceSize</key>
			<string>{26,18}</string>
		</dict>
		<key>yisila_a_ysd_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,622},{28,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,14}}</string>
			<key>sourceSize</key>
			<string>{28,14}</string>
		</dict>
		<key>yisila_a_zdb_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{729,687},{40,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,57}}</string>
			<key>sourceSize</key>
			<string>{40,57}</string>
		</dict>
		<key>yisila_a_zs_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{331,622},{14,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,18}}</string>
			<key>sourceSize</key>
			<string>{14,18}</string>
		</dict>
		<key>yisila_a_zs_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,158},{6,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,16}}</string>
			<key>sourceSize</key>
			<string>{6,16}</string>
		</dict>
		<key>yisila_a_zsd_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,305},{29,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,18}}</string>
			<key>sourceSize</key>
			<string>{29,18}</string>
		</dict>
		<key>yisila_a_zsd_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,622},{14,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,18}}</string>
			<key>sourceSize</key>
			<string>{14,18}</string>
		</dict>
		<key>yisila_b_st_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{533,636},{85,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,79}}</string>
			<key>sourceSize</key>
			<string>{85,79}</string>
		</dict>
		<key>yisila_b_t_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,158},{8,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,44}}</string>
			<key>sourceSize</key>
			<string>{8,44}</string>
		</dict>
		<key>yisila_c_st_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{848,813},{52,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,77}}</string>
			<key>sourceSize</key>
			<string>{52,77}</string>
		</dict>
		<key>yisila_c_zxb_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{729,625},{40,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,61}}</string>
			<key>sourceSize</key>
			<string>{40,61}</string>
		</dict>
		<key>yisila_d1_t_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{945,881},{9,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,46}}</string>
			<key>sourceSize</key>
			<string>{9,46}</string>
		</dict>
		<key>yisila_d2_st_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{945,827},{53,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,77}}</string>
			<key>sourceSize</key>
			<string>{53,77}</string>
		</dict>
		<key>yisila_d2_st_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,941},{80,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,75}}</string>
			<key>sourceSize</key>
			<string>{80,75}</string>
		</dict>
		<key>yisila_e1_st_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,940},{61,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,82}}</string>
			<key>sourceSize</key>
			<string>{61,82}</string>
		</dict>
		<key>yisila_e1_st_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{505,605},{30,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,107}}</string>
			<key>sourceSize</key>
			<string>{30,107}</string>
		</dict>
		<key>yisila_e1_t_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,146},{11,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,44}}</string>
			<key>sourceSize</key>
			<string>{11,44}</string>
		</dict>
		<key>yisila_e1_t_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{992,881},{18,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,9}}</string>
			<key>sourceSize</key>
			<string>{18,9}</string>
		</dict>
		<key>yisila_e2_st_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{594,941},{81,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,46}}</string>
			<key>sourceSize</key>
			<string>{81,46}</string>
		</dict>
		<key>yisila_e2_st_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,949},{86,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,73}}</string>
			<key>sourceSize</key>
			<string>{86,73}</string>
		</dict>
		<key>yisila_e2_t_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{854,186},{43,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,49}}</string>
			<key>sourceSize</key>
			<string>{43,49}</string>
		</dict>
		<key>yisila_e2_t_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{777,941},{80,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,55}}</string>
			<key>sourceSize</key>
			<string>{80,55}</string>
		</dict>
		<key>yisila_e2_ydt_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{585,287},{36,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,60}}</string>
			<key>sourceSize</key>
			<string>{36,60}</string>
		</dict>
		<key>yisila_e2_yj_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{595,777},{12,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,11}}</string>
			<key>sourceSize</key>
			<string>{12,11}</string>
		</dict>
		<key>yisila_e2_zj_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1009,985},{13,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,9}}</string>
			<key>sourceSize</key>
			<string>{13,9}</string>
		</dict>
		<key>yisila_e3_st_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,305},{18,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,25}}</string>
			<key>sourceSize</key>
			<string>{18,25}</string>
		</dict>
		<key>yisila_e3_st_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,615},{20,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,40}}</string>
			<key>sourceSize</key>
			<string>{20,40}</string>
		</dict>
		<key>yisila_f2_st_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,949},{72,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,73}}</string>
			<key>sourceSize</key>
			<string>{72,73}</string>
		</dict>
		<key>yisila_f2_st_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,950},{72,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,88}}</string>
			<key>sourceSize</key>
			<string>{72,88}</string>
		</dict>
		<key>yisila_f2_t_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{730,436},{39,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,53}}</string>
			<key>sourceSize</key>
			<string>{39,53}</string>
		</dict>
		<key>yisila_f2_ysd_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{944,891},{78,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,93}}</string>
			<key>sourceSize</key>
			<string>{78,93}</string>
		</dict>
		<key>yisila_f2_zdb_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{730,324},{39,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,55}}</string>
			<key>sourceSize</key>
			<string>{39,55}</string>
		</dict>
		<key>yisila_f3_st_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{533,790},{70,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,79}}</string>
			<key>sourceSize</key>
			<string>{70,79}</string>
		</dict>
		<key>yisila_f3_st_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{901,827},{43,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,63}}</string>
			<key>sourceSize</key>
			<string>{43,63}</string>
		</dict>
		<key>yisila_f3_st_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{514,660},{21,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,18}}</string>
			<key>sourceSize</key>
			<string>{21,18}</string>
		</dict>
		<key>yisila_g1_st_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{848,891},{48,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,95}}</string>
			<key>sourceSize</key>
			<string>{48,95}</string>
		</dict>
		<key>yisila_g1_t_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{369,622},{14,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,13}}</string>
			<key>sourceSize</key>
			<string>{14,13}</string>
		</dict>
		<key>yisila_g1_yj_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{514,700},{13,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,21}}</string>
			<key>sourceSize</key>
			<string>{13,21}</string>
		</dict>
		<key>yisila_g1_ysd_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{624,464},{105,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,40}}</string>
			<key>sourceSize</key>
			<string>{105,40}</string>
		</dict>
		<key>yisila_g2_yj_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{514,682},{18,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,17}}</string>
			<key>sourceSize</key>
			<string>{18,17}</string>
		</dict>
		<key>yisila_g3_ysd_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,941},{86,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,81}}</string>
			<key>sourceSize</key>
			<string>{86,81}</string>
		</dict>
		<key>yisila_g3_zsd_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{777,870},{70,70}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{72,70}</string>
		</dict>
		<key>yisila_g5_st_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{514,722},{67,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,80}}</string>
			<key>sourceSize</key>
			<string>{67,80}</string>
		</dict>
		<key>yisila_g5_st_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{624,505},{64,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,104}}</string>
			<key>sourceSize</key>
			<string>{64,104}</string>
		</dict>
		<key>yisila_g6_zsd_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{729,544},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>yisila_g7_zdt_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{854,272},{33,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,49}}</string>
			<key>sourceSize</key>
			<string>{33,49}</string>
		</dict>
		<key>yisila_g8_zj.png</key>
		<dict>
			<key>frame</key>
			<string>{{729,803},{55,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,40}}</string>
			<key>sourceSize</key>
			<string>{55,40}</string>
		</dict>
		<key>yisila_h2_st_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{730,490},{39,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,53}}</string>
			<key>sourceSize</key>
			<string>{39,53}</string>
		</dict>
		<key>yisila_h4_t_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{595,722},{17,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,54}}</string>
			<key>sourceSize</key>
			<string>{17,54}</string>
		</dict>
		<key>yisila_h5_ysd_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{854,140},{45,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,49}}</string>
			<key>sourceSize</key>
			<string>{45,49}</string>
		</dict>
		<key>yisila_h7_st_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{717,941},{80,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,59}}</string>
			<key>sourceSize</key>
			<string>{80,59}</string>
		</dict>
		<key>yisila_h7_t_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{729,859},{32,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,10}}</string>
			<key>sourceSize</key>
			<string>{32,10}</string>
		</dict>
		<key>yisila_i11_st_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{833,941},{48,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,80}}</string>
			<key>sourceSize</key>
			<string>{48,80}</string>
		</dict>
		<key>yisila_i12_st_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,943},{79,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,100}}</string>
			<key>sourceSize</key>
			<string>{79,100}</string>
		</dict>
		<key>yisila_i12_t_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,950},{72,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,86}}</string>
			<key>sourceSize</key>
			<string>{72,86}</string>
		</dict>
		<key>yisila_i14_ydt_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{624,570},{63,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,34}}</string>
			<key>sourceSize</key>
			<string>{63,34}</string>
		</dict>
		<key>yisila_i14_zsd_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,285},{61,38}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{61,38}}</string>
			<key>sourceSize</key>
			<string>{65,38}</string>
		</dict>
		<key>yisila_i17_ysd_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,290},{33,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,67}}</string>
			<key>sourceSize</key>
			<string>{33,67}</string>
		</dict>
		<key>yisila_i18_zsd_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{517,287},{67,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,36}}</string>
			<key>sourceSize</key>
			<string>{67,36}</string>
		</dict>
		<key>yisila_i19_st_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,870},{92,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,70}}</string>
			<key>sourceSize</key>
			<string>{92,70}</string>
		</dict>
		<key>yisila_i21_ydt_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{854,230},{41,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,49}}</string>
			<key>sourceSize</key>
			<string>{41,49}</string>
		</dict>
		<key>yisila_i22_st_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{770,282},{83,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,58}}</string>
			<key>sourceSize</key>
			<string>{83,58}</string>
		</dict>
		<key>yisila_i25_st_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{533,861},{70,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,79}}</string>
			<key>sourceSize</key>
			<string>{70,79}</string>
		</dict>
		<key>yisila_i26_zdt_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{729,745},{40,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,57}}</string>
			<key>sourceSize</key>
			<string>{40,57}</string>
		</dict>
		<key>yisila_i2_st_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{697,870},{70,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,79}}</string>
			<key>sourceSize</key>
			<string>{70,79}</string>
		</dict>
		<key>yisila_i2_ydt_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{730,380},{39,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,55}}</string>
			<key>sourceSize</key>
			<string>{39,55}</string>
		</dict>
		<key>yisila_i3_ysd_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{944,985},{64,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,37}}</string>
			<key>sourceSize</key>
			<string>{64,37}</string>
		</dict>
		<key>yisila_i4_st_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{526,941},{67,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,81}}</string>
			<key>sourceSize</key>
			<string>{67,81}</string>
		</dict>
		<key>yisila_i4_t_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,615},{20,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,28}}</string>
			<key>sourceSize</key>
			<string>{20,28}</string>
		</dict>
		<key>yisila_i5_st_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{770,813},{56,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,77}}</string>
			<key>sourceSize</key>
			<string>{56,77}</string>
		</dict>
		<key>yisila_i5_zs.png</key>
		<dict>
			<key>frame</key>
			<string>{{688,570},{33,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,40}}</string>
			<key>sourceSize</key>
			<string>{33,40}</string>
		</dict>
		<key>yisila_j11_ydt_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{453,290},{63,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,33}}</string>
			<key>sourceSize</key>
			<string>{63,33}</string>
		</dict>
		<key>yisila_j1_zdt_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{708,285},{38,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,61}}</string>
			<key>sourceSize</key>
			<string>{38,61}</string>
		</dict>
		<key>yisila_j8_st_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{902,539},{116,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,95}}</string>
			<key>sourceSize</key>
			<string>{116,95}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>yisila_role0.png</string>
		<key>scale</key>
		<real>0.71</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>yisila_role0.png</string>
	</dict>
</dict>
</plist>
