<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>largepic_100234.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{832,622}}</string>
			<key>offset</key>
			<string>{-10,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,18},{832,622}}</string>
			<key>sourceSize</key>
			<string>{872,640}</string>
		</dict>
		<key>longpic_100234.png</key>
		<dict>
			<key>frame</key>
			<string>{{836,2},{186,287}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,287}}</string>
			<key>sourceSize</key>
			<string>{192,287}</string>
		</dict>
		<key>middlepic_100234.png</key>
		<dict>
			<key>frame</key>
			<string>{{836,291},{183,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,71}}</string>
			<key>sourceSize</key>
			<string>{183,71}</string>
		</dict>
		<key>namepic_100234.png</key>
		<dict>
			<key>frame</key>
			<string>{{836,364},{477,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{477,101}}</string>
			<key>sourceSize</key>
			<string>{477,101}</string>
		</dict>
		<key>skillmaxpic_100234.png</key>
		<dict>
			<key>frame</key>
			<string>{{939,633},{263,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{263,52}}</string>
			<key>sourceSize</key>
			<string>{263,52}</string>
		</dict>
		<key>skillmaxpic_10023401.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,898},{261,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{261,52}}</string>
			<key>sourceSize</key>
			<string>{261,52}</string>
		</dict>
		<key>skillnamepic_100234.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,626},{206,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,43}}</string>
			<key>sourceSize</key>
			<string>{206,43}</string>
		</dict>
		<key>skillnamepic_10023401.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,626},{206,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,42}}</string>
			<key>sourceSize</key>
			<string>{206,42}</string>
		</dict>
		<key>skillsmaxpic_100234.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,843},{254,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{254,52}}</string>
			<key>sourceSize</key>
			<string>{254,52}</string>
		</dict>
		<key>skillsmaxpic_10023401.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,843},{254,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{254,52}}</string>
			<key>sourceSize</key>
			<string>{254,52}</string>
		</dict>
		<key>skillsmaxpic_10023402.png</key>
		<dict>
			<key>frame</key>
			<string>{{939,364},{267,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{267,52}}</string>
			<key>sourceSize</key>
			<string>{267,52}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>heros_100234.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>heros_100234.png</string>
	</dict>
</dict>
</plist>
