<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bigBoss_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{705,950},{45,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,88}}</string>
			<key>sourceSize</key>
			<string>{45,88}</string>
		</dict>
		<key>boss_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,607},{38,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,83}}</string>
			<key>sourceSize</key>
			<string>{38,83}</string>
		</dict>
		<key>chui1_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{401,390}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{401,390}}</string>
			<key>sourceSize</key>
			<string>{401,390}</string>
		</dict>
		<key>chui2_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,2},{383,387}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{383,387}}</string>
			<key>sourceSize</key>
			<string>{383,387}</string>
		</dict>
		<key>chui3_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,391},{361,380}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{361,380}}</string>
			<key>sourceSize</key>
			<string>{361,380}</string>
		</dict>
		<key>heroRed_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{876,140},{73,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,100}}</string>
			<key>sourceSize</key>
			<string>{73,100}</string>
		</dict>
		<key>heroblue_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{790,243},{73,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,100}}</string>
			<key>sourceSize</key>
			<string>{73,100}</string>
		</dict>
		<key>herogreen_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,757},{73,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,100}}</string>
			<key>sourceSize</key>
			<string>{73,100}</string>
		</dict>
		<key>heroyellow_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{603,950},{72,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,100}}</string>
			<key>sourceSize</key>
			<string>{72,100}</string>
		</dict>
		<key>shadow_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{968,859},{141,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,49}}</string>
			<key>sourceSize</key>
			<string>{141,49}</string>
		</dict>
		<key>tiaod_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{768,391},{56,171}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{56,171}}</string>
			<key>sourceSize</key>
			<string>{62,179}</string>
		</dict>
		<key>wuqiji1_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,852},{145,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,157}}</string>
			<key>sourceSize</key>
			<string>{145,157}</string>
		</dict>
		<key>wuqiji2_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,848},{182,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,171}}</string>
			<key>sourceSize</key>
			<string>{182,171}</string>
		</dict>
		<key>wuqiji3_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{603,773},{198,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,175}}</string>
			<key>sourceSize</key>
			<string>{198,175}</string>
		</dict>
		<key>wuqiji4_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,773},{199,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,184}}</string>
			<key>sourceSize</key>
			<string>{199,184}</string>
		</dict>
		<key>wuqiji5_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,647},{199,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,184}}</string>
			<key>sourceSize</key>
			<string>{199,184}</string>
		</dict>
		<key>wy_10_10_57905_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{826,419},{90,78}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,78}}</string>
			<key>sourceSize</key>
			<string>{92,80}</string>
		</dict>
		<key>wy_11_11_33741_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,852},{146,53}}</string>
			<key>offset</key>
			<string>{-3,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,53}}</string>
			<key>sourceSize</key>
			<string>{152,55}</string>
		</dict>
		<key>wy_12_12_67965_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{803,892},{163,67}}</string>
			<key>offset</key>
			<string>{-9,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,67}}</string>
			<key>sourceSize</key>
			<string>{181,69}</string>
		</dict>
		<key>wy_13_13_82069_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{790,2},{154,77}}</string>
			<key>offset</key>
			<string>{-10,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,77}}</string>
			<key>sourceSize</key>
			<string>{174,79}</string>
		</dict>
		<key>wy_14_14_73314_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{369,607},{38,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,24}}</string>
			<key>sourceSize</key>
			<string>{38,24}</string>
		</dict>
		<key>wy_15_15_88050_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{35,999},{29,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,20}}</string>
			<key>sourceSize</key>
			<string>{29,20}</string>
		</dict>
		<key>wy_16_16_51048_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,607},{45,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,35}}</string>
			<key>sourceSize</key>
			<string>{45,35}</string>
		</dict>
		<key>wy_17_17_69404_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{328,607},{39,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,30}}</string>
			<key>sourceSize</key>
			<string>{39,30}</string>
		</dict>
		<key>wy_18_18_47469_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,999},{26,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,20}}</string>
			<key>sourceSize</key>
			<string>{26,20}</string>
		</dict>
		<key>wy_19_19_93683_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,999},{31,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,21}}</string>
			<key>sourceSize</key>
			<string>{31,21}</string>
		</dict>
		<key>wy_1_1_94514_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{768,711},{171,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,44}}</string>
			<key>sourceSize</key>
			<string>{171,44}</string>
		</dict>
		<key>wy_2_2_93767_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{768,564},{155,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,145}}</string>
			<key>sourceSize</key>
			<string>{155,145}</string>
		</dict>
		<key>wy_3_3_6986_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,394},{254,192}}</string>
			<key>offset</key>
			<string>{13,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,28},{254,192}}</string>
			<key>sourceSize</key>
			<string>{300,250}</string>
		</dict>
		<key>wy_4_4_53154_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,394},{211,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,192}}</string>
			<key>sourceSize</key>
			<string>{211,192}</string>
		</dict>
		<key>wy_5_5_45037_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,650},{200,212}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,212}}</string>
			<key>sourceSize</key>
			<string>{200,212}</string>
		</dict>
		<key>wy_6_6_19167_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{803,757},{123,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,133}}</string>
			<key>sourceSize</key>
			<string>{123,133}</string>
		</dict>
		<key>wy_7_7_44157_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{790,158},{83,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,84}}</string>
			<key>sourceSize</key>
			<string>{83,84}</string>
		</dict>
		<key>wy_8_8_41192_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,2},{136,82}}</string>
			<key>offset</key>
			<string>{-11,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,82}}</string>
			<key>sourceSize</key>
			<string>{158,84}</string>
		</dict>
		<key>wy_9_9_57499_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{892,215},{90,80}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,80}}</string>
			<key>sourceSize</key>
			<string>{92,82}</string>
		</dict>
		<key>zhanchang_jdzcqiziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{826,318},{99,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,75}}</string>
			<key>sourceSize</key>
			<string>{99,75}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>jdzcqiziimage.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>jdzcqiziimage.png</string>
	</dict>
</dict>
</plist>
