<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask01_dddtxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,36},{28,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,14}}</string>
			<key>sourceSize</key>
			<string>{28,14}</string>
		</dict>
		<key>wy_1_1_351_dddtxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,146},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>wy_2_2_62207_dddtxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,36},{53,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,57}}</string>
			<key>sourceSize</key>
			<string>{53,57}</string>
		</dict>
		<key>wy_3_3_23245_dddtxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,146},{48,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,110}}</string>
			<key>sourceSize</key>
			<string>{48,110}</string>
		</dict>
		<key>wy_4_4_14488_dddtxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,2},{78,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,32}}</string>
			<key>sourceSize</key>
			<string>{78,32}</string>
		</dict>
		<key>wy_5_5_91270_dddtxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{161,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,142}}</string>
			<key>sourceSize</key>
			<string>{161,142}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>dddtxkimage.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dddtxkimage.png</string>
	</dict>
</dict>
</plist>
