<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_ysl_lmbs_penfa2_00125.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,623},{109,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,108}}</string>
			<key>sourceSize</key>
			<string>{109,108}</string>
		</dict>
		<key>New_ysl_lmbs_penfa2_00137.png</key>
		<dict>
			<key>frame</key>
			<string>{{1002,2},{110,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,19}}</string>
			<key>sourceSize</key>
			<string>{110,19}</string>
		</dict>
		<key>New_ysl_lmbs_penfa2_00138.png</key>
		<dict>
			<key>frame</key>
			<string>{{1002,113},{81,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,16}}</string>
			<key>sourceSize</key>
			<string>{81,16}</string>
		</dict>
		<key>New_ysl_lmbs_penfa_00081.png</key>
		<dict>
			<key>frame</key>
			<string>{{980,946},{61,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,42}}</string>
			<key>sourceSize</key>
			<string>{61,42}</string>
		</dict>
		<key>New_ysl_lmbs_yan3_00112.png</key>
		<dict>
			<key>frame</key>
			<string>{{826,733},{196,212}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,212}}</string>
			<key>sourceSize</key>
			<string>{196,212}</string>
		</dict>
		<key>New_ysl_lmbs_yan3_00136.png</key>
		<dict>
			<key>frame</key>
			<string>{{826,733},{196,212}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,212}}</string>
			<key>sourceSize</key>
			<string>{196,212}</string>
		</dict>
		<key>New_ysl_lmbs_yan4_00120.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,468},{356,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{356,133}}</string>
			<key>sourceSize</key>
			<string>{356,133}</string>
		</dict>
		<key>New_ysl_lmbs_yan4_00123.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{358,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{358,132}}</string>
			<key>sourceSize</key>
			<string>{358,132}</string>
		</dict>
		<key>New_ysl_lmbs_yan4_00124.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,602},{356,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{356,130}}</string>
			<key>sourceSize</key>
			<string>{356,130}</string>
		</dict>
		<key>New_ysl_lmbs_yan4_00129.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,490},{356,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{356,132}}</string>
			<key>sourceSize</key>
			<string>{356,132}</string>
		</dict>
		<key>New_ysl_lmbs_yan4_00131.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,2},{357,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{357,170}}</string>
			<key>sourceSize</key>
			<string>{357,170}</string>
		</dict>
		<key>New_ysl_lmbs_yan4_00138.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,173},{356,176}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{356,176}}</string>
			<key>sourceSize</key>
			<string>{356,176}</string>
		</dict>
		<key>New_ysl_lmbs_yan4_00140.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,135},{356,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{356,184}}</string>
			<key>sourceSize</key>
			<string>{356,184}</string>
		</dict>
		<key>New_ysl_lmbs_yan4_00150.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,320},{356,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{356,147}}</string>
			<key>sourceSize</key>
			<string>{356,147}</string>
		</dict>
		<key>New_ysl_lmbs_yan4_00151.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,350},{356,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{356,139}}</string>
			<key>sourceSize</key>
			<string>{356,139}</string>
		</dict>
		<key>New_ysl_lmbs_yan_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,733},{167,277}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,277}}</string>
			<key>sourceSize</key>
			<string>{167,277}</string>
		</dict>
		<key>New_ysl_lmbs_yan_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{719,2},{167,282}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,282}}</string>
			<key>sourceSize</key>
			<string>{167,282}</string>
		</dict>
		<key>New_ysl_lmbs_yan_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,733},{168,279}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,279}}</string>
			<key>sourceSize</key>
			<string>{168,279}</string>
		</dict>
		<key>New_ysl_lmbs_yan_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,384},{185,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,280}}</string>
			<key>sourceSize</key>
			<string>{185,280}</string>
		</dict>
		<key>New_ysl_lmbs_yan_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{719,170},{213,281}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,281}}</string>
			<key>sourceSize</key>
			<string>{213,281}</string>
		</dict>
		<key>New_ysl_lmbs_yan_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{583,733},{242,274}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,274}}</string>
			<key>sourceSize</key>
			<string>{242,274}</string>
		</dict>
		<key>New_ysl_lmbs_yan_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,733},{243,274}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{243,274}}</string>
			<key>sourceSize</key>
			<string>{243,274}</string>
		</dict>
		<key>New_ysl_xjn_daoguangbaodian2_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{826,946},{153,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,76}}</string>
			<key>sourceSize</key>
			<string>{153,76}</string>
		</dict>
		<key>New_ysl_xjn_daoguangbaodian_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{842,570},{161,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,30}}</string>
			<key>sourceSize</key>
			<string>{161,30}</string>
		</dict>
		<key>New_ysl_xjn_daoguangbaodian_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{997,384},{120,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,24}}</string>
			<key>sourceSize</key>
			<string>{120,24}</string>
		</dict>
		<key>New_ysl_xjn_shouguidao2_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,623},{101,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,109}}</string>
			<key>sourceSize</key>
			<string>{101,109}</string>
		</dict>
		<key>New_ysl_xjn_shouguidao3_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,623},{135,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,109}}</string>
			<key>sourceSize</key>
			<string>{135,109}</string>
		</dict>
		<key>New_ysl_xjn_shouguidao_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{873,570},{149,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,159}}</string>
			<key>sourceSize</key>
			<string>{149,159}</string>
		</dict>
		<key>New_ysl_xjn_shouguidao_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,570},{162,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,125}}</string>
			<key>sourceSize</key>
			<string>{162,125}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>yisila_common1.png</string>
		<key>scale</key>
		<real>0.72</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>yisila_common1.png</string>
	</dict>
</dict>
</plist>
