<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_lke_lmbs_bo_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{125,398}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,398}}</string>
			<key>sourceSize</key>
			<string>{125,398}</string>
		</dict>
		<key>New_lke_lmbs_quanji_00027.png</key>
		<dict>
			<key>frame</key>
			<string>{{343,400},{229,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{229,48}}</string>
			<key>sourceSize</key>
			<string>{229,48}</string>
		</dict>
		<key>New_lke_lmbs_quanji_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,704},{245,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,48}}</string>
			<key>sourceSize</key>
			<string>{245,48}</string>
		</dict>
		<key>New_lke_lmbs_quanji_00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,703},{238,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{238,43}}</string>
			<key>sourceSize</key>
			<string>{238,43}</string>
		</dict>
		<key>New_lke_sl_hongshou_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,2},{57,56}}</string>
			<key>offset</key>
			<string>{-27,-71}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,142},{57,56}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{337,262},{57,58}}</string>
			<key>offset</key>
			<string>{-29,-70}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,140},{57,58}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,60},{57,56}}</string>
			<key>offset</key>
			<string>{-31,-68}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,139},{57,56}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{389,2},{57,54}}</string>
			<key>offset</key>
			<string>{-33,-66}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,138},{57,54}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{579,240},{47,50}}</string>
			<key>offset</key>
			<string>{-16,-59}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,133},{47,50}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{537,344},{47,50}}</string>
			<key>offset</key>
			<string>{-7,-58}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,132},{47,50}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00021.png</key>
		<dict>
			<key>frame</key>
			<string>{{582,291},{47,50}}</string>
			<key>offset</key>
			<string>{2,-53}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,127},{47,50}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,182},{47,50}}</string>
			<key>offset</key>
			<string>{10,-46}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,120},{47,50}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{627,233},{47,48}}</string>
			<key>offset</key>
			<string>{22,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{60,103},{47,48}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00025.png</key>
		<dict>
			<key>frame</key>
			<string>{{628,180},{45,48}}</string>
			<key>offset</key>
			<string>{27,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{66,92},{45,48}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,130},{47,44}}</string>
			<key>offset</key>
			<string>{31,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{69,83},{47,44}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00027.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,163},{49,42}}</string>
			<key>offset</key>
			<string>{35,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{72,72},{49,42}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{593,130},{49,42}}</string>
			<key>offset</key>
			<string>{37,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{74,62},{49,42}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,118},{49,44}}</string>
			<key>offset</key>
			<string>{37,24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{74,53},{49,44}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,143},{51,44}}</string>
			<key>offset</key>
			<string>{35,29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{71,48},{51,44}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00031.png</key>
		<dict>
			<key>frame</key>
			<string>{{489,240},{51,44}}</string>
			<key>offset</key>
			<string>{35,30}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{71,47},{51,44}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{534,240},{51,44}}</string>
			<key>offset</key>
			<string>{34,31}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,46},{51,44}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{502,2},{51,46}}</string>
			<key>offset</key>
			<string>{34,32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,44},{51,46}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00034.png</key>
		<dict>
			<key>frame</key>
			<string>{{535,188},{51,44}}</string>
			<key>offset</key>
			<string>{33,32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{69,45},{51,44}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00035.png</key>
		<dict>
			<key>frame</key>
			<string>{{548,130},{51,44}}</string>
			<key>offset</key>
			<string>{33,32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{69,45},{51,44}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00036.png</key>
		<dict>
			<key>frame</key>
			<string>{{537,292},{51,44}}</string>
			<key>offset</key>
			<string>{32,32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{68,45},{51,44}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00037.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,47},{51,46}}</string>
			<key>offset</key>
			<string>{32,32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{68,44},{51,46}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00038.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,49},{51,46}}</string>
			<key>offset</key>
			<string>{31,32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67,44},{51,46}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00039.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,94},{51,46}}</string>
			<key>offset</key>
			<string>{30,32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{66,44},{51,46}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00040.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,96},{51,46}}</string>
			<key>offset</key>
			<string>{29,32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{65,44},{51,46}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00041.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,141},{51,46}}</string>
			<key>offset</key>
			<string>{29,32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{65,44},{51,46}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00042.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,206},{51,46}}</string>
			<key>offset</key>
			<string>{28,32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{64,44},{51,46}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00043.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,258},{51,46}}</string>
			<key>offset</key>
			<string>{27,32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{63,44},{51,46}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00044.png</key>
		<dict>
			<key>frame</key>
			<string>{{441,206},{51,46}}</string>
			<key>offset</key>
			<string>{27,32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{63,44},{51,46}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00045.png</key>
		<dict>
			<key>frame</key>
			<string>{{442,258},{51,46}}</string>
			<key>offset</key>
			<string>{26,32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{62,44},{51,46}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00046.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,188},{51,46}}</string>
			<key>offset</key>
			<string>{25,32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{61,44},{51,46}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00047.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,69},{61,60}}</string>
			<key>offset</key>
			<string>{28,30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{59,39},{61,60}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00048.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,640},{61,62}}</string>
			<key>offset</key>
			<string>{27,37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{58,31},{61,62}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00049.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,197},{61,64}}</string>
			<key>offset</key>
			<string>{24,43}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{55,24},{61,64}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00050.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,2},{61,66}}</string>
			<key>offset</key>
			<string>{21,50}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,16},{61,66}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00051.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,199},{61,66}}</string>
			<key>offset</key>
			<string>{16,54}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,12},{61,66}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,266},{61,66}}</string>
			<key>offset</key>
			<string>{11,58}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{42,8},{61,66}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00053.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,130},{61,66}}</string>
			<key>offset</key>
			<string>{12,59}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,7},{61,66}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00054.png</key>
		<dict>
			<key>frame</key>
			<string>{{707,811},{61,68}}</string>
			<key>offset</key>
			<string>{12,60}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,5},{61,68}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00055.png</key>
		<dict>
			<key>frame</key>
			<string>{{720,2},{61,68}}</string>
			<key>offset</key>
			<string>{12,61}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{43,4},{61,68}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00056.png</key>
		<dict>
			<key>frame</key>
			<string>{{720,64},{61,68}}</string>
			<key>offset</key>
			<string>{12,61}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{43,4},{61,68}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00057.png</key>
		<dict>
			<key>frame</key>
			<string>{{576,68},{61,68}}</string>
			<key>offset</key>
			<string>{13,62}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{44,3},{61,68}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00058.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,68},{61,68}}</string>
			<key>offset</key>
			<string>{13,63}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{44,2},{61,68}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00059.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,130},{61,68}}</string>
			<key>offset</key>
			<string>{13,63}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44,2},{61,68}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00066.png</key>
		<dict>
			<key>frame</key>
			<string>{{389,60},{57,54}}</string>
			<key>offset</key>
			<string>{20,47}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{53,25},{57,54}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_hongshou_00067.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,2},{57,44}}</string>
			<key>offset</key>
			<string>{24,36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,41},{57,44}}</string>
			<key>sourceSize</key>
			<string>{123,198}</string>
		</dict>
		<key>New_lke_sl_liuxue_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,924},{43,75}}</string>
			<key>offset</key>
			<string>{-4,31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,36},{43,75}}</string>
			<key>sourceSize</key>
			<string>{55,209}</string>
		</dict>
		<key>New_lke_sl_liuxue_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,924},{43,75}}</string>
			<key>offset</key>
			<string>{-4,31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,36},{43,75}}</string>
			<key>sourceSize</key>
			<string>{55,209}</string>
		</dict>
		<key>New_lke_sl_liuxue_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,924},{43,75}}</string>
			<key>offset</key>
			<string>{-4,31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,36},{43,75}}</string>
			<key>sourceSize</key>
			<string>{55,209}</string>
		</dict>
		<key>New_lke_sl_liuxue_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{707,697},{43,113}}</string>
			<key>offset</key>
			<string>{-5,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,37},{43,113}}</string>
			<key>sourceSize</key>
			<string>{55,209}</string>
		</dict>
		<key>New_lke_sl_liuxue_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,984},{25,111}}</string>
			<key>offset</key>
			<string>{4,41}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,8},{25,111}}</string>
			<key>sourceSize</key>
			<string>{55,209}</string>
		</dict>
		<key>New_lke_sl_liuxue_00021.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,984},{25,111}}</string>
			<key>offset</key>
			<string>{4,41}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,8},{25,111}}</string>
			<key>sourceSize</key>
			<string>{55,209}</string>
		</dict>
		<key>New_lke_sl_liuxue_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,984},{25,111}}</string>
			<key>offset</key>
			<string>{4,41}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,8},{25,111}}</string>
			<key>sourceSize</key>
			<string>{55,209}</string>
		</dict>
		<key>New_lke_sl_xuebao_00071.png</key>
		<dict>
			<key>frame</key>
			<string>{{576,2},{109,65}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,6},{109,65}}</string>
			<key>sourceSize</key>
			<string>{115,71}</string>
		</dict>
		<key>New_lke_sl_xuebao_00072.png</key>
		<dict>
			<key>frame</key>
			<string>{{576,2},{109,65}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,6},{109,65}}</string>
			<key>sourceSize</key>
			<string>{115,71}</string>
		</dict>
		<key>New_lke_sl_xuebao_00073.png</key>
		<dict>
			<key>frame</key>
			<string>{{789,2},{111,67}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{111,67}}</string>
			<key>sourceSize</key>
			<string>{115,71}</string>
		</dict>
		<key>New_lke_sl_xuebao_00074.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,950},{113,71}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{113,71}}</string>
			<key>sourceSize</key>
			<string>{115,71}</string>
		</dict>
		<key>New_lke_sl_xuebao_00076.png</key>
		<dict>
			<key>frame</key>
			<string>{{901,2},{111,67}}</string>
			<key>offset</key>
			<string>{2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{111,67}}</string>
			<key>sourceSize</key>
			<string>{115,71}</string>
		</dict>
		<key>New_lke_sl_xuebao_00077.png</key>
		<dict>
			<key>frame</key>
			<string>{{901,2},{111,67}}</string>
			<key>offset</key>
			<string>{2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{111,67}}</string>
			<key>sourceSize</key>
			<string>{115,71}</string>
		</dict>
		<key>New_lke_sl_xuebao_00078.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,337},{109,63}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{109,63}}</string>
			<key>sourceSize</key>
			<string>{115,71}</string>
		</dict>
		<key>New_lke_sl_xuebao_00079.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,337},{109,63}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{109,63}}</string>
			<key>sourceSize</key>
			<string>{115,71}</string>
		</dict>
		<key>New_lke_sl_xuebao_00081.png</key>
		<dict>
			<key>frame</key>
			<string>{{373,924},{81,53}}</string>
			<key>offset</key>
			<string>{-8,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,2},{81,53}}</string>
			<key>sourceSize</key>
			<string>{115,71}</string>
		</dict>
		<key>New_lke_xjn_daoguang_00068.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,400},{221,183}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,183}}</string>
			<key>sourceSize</key>
			<string>{221,183}</string>
		</dict>
		<key>New_lke_xjn_daoguang_00070.png</key>
		<dict>
			<key>frame</key>
			<string>{{352,702},{221,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,168}}</string>
			<key>sourceSize</key>
			<string>{221,168}</string>
		</dict>
		<key>New_lke_xjn_gongj6_00081.png</key>
		<dict>
			<key>frame</key>
			<string>{{471,924},{158,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,74}}</string>
			<key>sourceSize</key>
			<string>{158,74}</string>
		</dict>
		<key>New_lke_xjn_gongj6_00082.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,401},{334,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{334,70}}</string>
			<key>sourceSize</key>
			<string>{334,70}</string>
		</dict>
		<key>New_lke_xjn_gongj6_00083.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,401},{302,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{302,67}}</string>
			<key>sourceSize</key>
			<string>{302,67}</string>
		</dict>
		<key>New_lke_xjn_gongj6_00084.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,736},{247,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{247,62}}</string>
			<key>sourceSize</key>
			<string>{247,62}</string>
		</dict>
		<key>New_lke_xjn_gongj6_00085.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,640},{218,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,61}}</string>
			<key>sourceSize</key>
			<string>{218,61}</string>
		</dict>
		<key>New_lke_xjn_gongji1_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{561,622},{158,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,74}}</string>
			<key>sourceSize</key>
			<string>{158,74}</string>
		</dict>
		<key>New_lke_xjn_gongji1_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,401},{334,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{334,70}}</string>
			<key>sourceSize</key>
			<string>{334,70}</string>
		</dict>
		<key>New_lke_xjn_gongji1_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,704},{302,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{302,67}}</string>
			<key>sourceSize</key>
			<string>{302,67}</string>
		</dict>
		<key>New_lke_xjn_gongji1_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,736},{247,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{247,62}}</string>
			<key>sourceSize</key>
			<string>{247,62}</string>
		</dict>
		<key>New_lke_xjn_gongji1_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{521,702},{218,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,61}}</string>
			<key>sourceSize</key>
			<string>{218,61}</string>
		</dict>
		<key>New_lke_xjn_gongji2_00017.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,916},{158,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,74}}</string>
			<key>sourceSize</key>
			<string>{158,74}</string>
		</dict>
		<key>New_lke_xjn_gongji2_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,2},{334,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{334,70}}</string>
			<key>sourceSize</key>
			<string>{334,70}</string>
		</dict>
		<key>New_lke_xjn_gongji2_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,401},{302,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{302,67}}</string>
			<key>sourceSize</key>
			<string>{302,67}</string>
		</dict>
		<key>New_lke_xjn_gongji2_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,736},{247,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{247,62}}</string>
			<key>sourceSize</key>
			<string>{247,62}</string>
		</dict>
		<key>New_lke_xjn_gongji2_00021.png</key>
		<dict>
			<key>frame</key>
			<string>{{583,697},{218,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,61}}</string>
			<key>sourceSize</key>
			<string>{218,61}</string>
		</dict>
		<key>New_lke_xjn_gongji3_00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{561,622},{158,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,74}}</string>
			<key>sourceSize</key>
			<string>{158,74}</string>
		</dict>
		<key>New_lke_xjn_gongji3_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,401},{334,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{334,70}}</string>
			<key>sourceSize</key>
			<string>{334,70}</string>
		</dict>
		<key>New_lke_xjn_gongji3_00031.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,704},{302,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{302,67}}</string>
			<key>sourceSize</key>
			<string>{302,67}</string>
		</dict>
		<key>New_lke_xjn_gongji3_00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,736},{247,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{247,62}}</string>
			<key>sourceSize</key>
			<string>{247,62}</string>
		</dict>
		<key>New_lke_xjn_gongji3_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{521,702},{218,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,61}}</string>
			<key>sourceSize</key>
			<string>{218,61}</string>
		</dict>
		<key>New_lke_xjn_gongji4_00048.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,328},{298,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{298,71}}</string>
			<key>sourceSize</key>
			<string>{298,71}</string>
		</dict>
		<key>New_lke_xjn_gongji4_00049.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,2},{325,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{325,70}}</string>
			<key>sourceSize</key>
			<string>{325,70}</string>
		</dict>
		<key>New_lke_xjn_gongji4_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,400},{239,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{239,62}}</string>
			<key>sourceSize</key>
			<string>{239,62}</string>
		</dict>
		<key>New_lke_xjn_gongji4_00053.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,697},{218,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,61}}</string>
			<key>sourceSize</key>
			<string>{218,61}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>lukaer02umtx_common1.png</string>
		<key>scale</key>
		<real>0.8</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lukaer02umtx_common1.png</string>
	</dict>
</dict>
</plist>
