<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bz_dfjjzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,419},{416,274}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{416,274}}</string>
			<key>sourceSize</key>
			<string>{416,274}</string>
		</dict>
		<key>cbh_dfjjzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,846},{143,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,52}}</string>
			<key>sourceSize</key>
			<string>{143,52}</string>
		</dict>
		<key>cblan_dfjjzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,846},{143,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,52}}</string>
			<key>sourceSize</key>
			<string>{143,52}</string>
		</dict>
		<key>dingguangh_dfjjzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,419},{425,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{425,192}}</string>
			<key>sourceSize</key>
			<string>{425,192}</string>
		</dict>
		<key>dingguangl_dfjjzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,419},{419,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{419,190}}</string>
			<key>sourceSize</key>
			<string>{419,190}</string>
		</dict>
		<key>dth_dfjjzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{927,2},{415,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{415,76}}</string>
			<key>sourceSize</key>
			<string>{415,76}</string>
		</dict>
		<key>dtlan_dfjjzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{499,2},{426,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{426,93}}</string>
			<key>sourceSize</key>
			<string>{426,93}</string>
		</dict>
		<key>dzsb_dfjjzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,935},{188,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,62}}</string>
			<key>sourceSize</key>
			<string>{188,62}</string>
		</dict>
		<key>htdban_dfjjzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{495,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{495,93}}</string>
			<key>sourceSize</key>
			<string>{495,93}</string>
		</dict>
		<key>jsgdjh_dfjjzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,995},{110,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,20}}</string>
			<key>sourceSize</key>
			<string>{110,20}</string>
		</dict>
		<key>ltlg_dfjjzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,970},{109,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,44}}</string>
			<key>sourceSize</key>
			<string>{109,44}</string>
		</dict>
		<key>sbh_dfjjzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1005,2},{46,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,16}}</string>
			<key>sourceSize</key>
			<string>{46,16}</string>
		</dict>
		<key>tbsb_dfjjzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,840},{128,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,99}}</string>
			<key>sourceSize</key>
			<string>{128,99}</string>
		</dict>
		<key>tbsl_dfjjzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,840},{127,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,100}}</string>
			<key>sourceSize</key>
			<string>{127,100}</string>
		</dict>
		<key>titlesl_dfjjzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,846},{147,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,64}}</string>
			<key>sourceSize</key>
			<string>{147,64}</string>
		</dict>
		<key>tttlg_dfjjzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,837},{96,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>wgdj_dfjjzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,995},{106,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,22}}</string>
			<key>sourceSize</key>
			<string>{106,22}</string>
		</dict>
		<key>wjh_dfjjzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,991},{98,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,20}}</string>
			<key>sourceSize</key>
			<string>{98,20}</string>
		</dict>
		<key>xhd_dfjjzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,846},{147,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,30}}</string>
			<key>sourceSize</key>
			<string>{147,30}</string>
		</dict>
		<key>xiaodi_dfjjzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,846},{147,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,30}}</string>
			<key>sourceSize</key>
			<string>{147,30}</string>
		</dict>
		<key>xingxing_dfjjzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,969},{71,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,40}}</string>
			<key>sourceSize</key>
			<string>{71,40}</string>
		</dict>
		<key>zdxq_dfjjzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{541,837},{58,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,59}}</string>
			<key>sourceSize</key>
			<string>{58,59}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>dfjjzhanbaoimage.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dfjjzhanbaoimage.png</string>
	</dict>
</dict>
</plist>
