<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>andi_chusaiiamge_chusaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{389,2},{120,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,120}}</string>
			<key>sourceSize</key>
			<string>{120,120}</string>
		</dict>
		<key>banzixiao_chusaiiamge_chusaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,173},{244,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{244,88}}</string>
			<key>sourceSize</key>
			<string>{244,88}</string>
		</dict>
		<key>chusai_chusaiiamge_chusaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,419},{102,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,57}}</string>
			<key>sourceSize</key>
			<string>{102,57}</string>
		</dict>
		<key>ditutu_chusaiiamge_chusaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{385,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{385,169}}</string>
			<key>sourceSize</key>
			<string>{385,169}</string>
		</dict>
		<key>fusaijiantou_chusaiiamge_chusaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{389,124},{117,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,47}}</string>
			<key>sourceSize</key>
			<string>{117,47}</string>
		</dict>
		<key>fusaizi_chusaiiamge_chusaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,412},{139,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,56}}</string>
			<key>sourceSize</key>
			<string>{139,56}</string>
		</dict>
		<key>guangdian_chusaiiamge_chusaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,344},{162,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,27}}</string>
			<key>sourceSize</key>
			<string>{162,27}</string>
		</dict>
		<key>huangdiandian_chusaiiamge_chusaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,373},{14,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,14}}</string>
			<key>sourceSize</key>
			<string>{14,14}</string>
		</dict>
		<key>lanbanyuana_chusaiiamge_chusaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,419},{65,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,87}}</string>
			<key>sourceSize</key>
			<string>{65,87}</string>
		</dict>
		<key>landiandian_chusaiiamge_chusaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,173},{12,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,12}}</string>
			<key>sourceSize</key>
			<string>{12,12}</string>
		</dict>
		<key>lanshangbana_chusaiiamge_chusaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,369},{111,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,99}}</string>
			<key>sourceSize</key>
			<string>{111,99}</string>
		</dict>
		<key>lanxiaban_chusaiiamge_chusaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,478},{112,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,30}}</string>
			<key>sourceSize</key>
			<string>{112,30}</string>
		</dict>
		<key>quan01_chusaiiamge_chusaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,173},{234,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{234,39}}</string>
			<key>sourceSize</key>
			<string>{234,39}</string>
		</dict>
		<key>quan02_chusaiiamge_chusaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{334,344},{158,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,26}}</string>
			<key>sourceSize</key>
			<string>{158,26}</string>
		</dict>
		<key>sanjiao_chusaiiamge_chusaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,470},{102,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,33}}</string>
			<key>sourceSize</key>
			<string>{102,33}</string>
		</dict>
		<key>shangguang_chusaiiamge_chusaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,470},{45,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,34}}</string>
			<key>sourceSize</key>
			<string>{45,34}</string>
		</dict>
		<key>tiaoguang001_chusaiiamge_chusaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,389},{144,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,19}}</string>
			<key>sourceSize</key>
			<string>{144,19}</string>
		</dict>
		<key>wantiao_chusaiiamge_chusaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,173},{199,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{199,23}}</string>
			<key>sourceSize</key>
			<string>{203,25}</string>
		</dict>
		<key>zhongguang_chusaiiamge_chusaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,173},{167,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,159}}</string>
			<key>sourceSize</key>
			<string>{167,159}</string>
		</dict>
		<key>zhuanquan_chusaiiamge_chusaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{334,173},{171,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,169}}</string>
			<key>sourceSize</key>
			<string>{171,169}</string>
		</dict>
		<key>zidia_chusaiiamge_chusaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,344},{134,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,23}}</string>
			<key>sourceSize</key>
			<string>{134,23}</string>
		</dict>
		<key>zijiantou_chusaiiamge_chusaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,374},{36,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,48}}</string>
			<key>sourceSize</key>
			<string>{36,48}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>chusaiimage.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>chusaiimage.png</string>
	</dict>
</dict>
</plist>
