<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>baoyan1_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,283},{67,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,56}}</string>
			<key>sourceSize</key>
			<string>{67,56}</string>
		</dict>
		<key>baoyan2_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,224},{67,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,57}}</string>
			<key>sourceSize</key>
			<string>{67,57}</string>
		</dict>
		<key>baoyan3_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{425,234},{66,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,57}}</string>
			<key>sourceSize</key>
			<string>{66,57}</string>
		</dict>
		<key>baoyan4_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,299},{64,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,52}}</string>
			<key>sourceSize</key>
			<string>{64,52}</string>
		</dict>
		<key>baoyan5_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,145},{55,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,40}}</string>
			<key>sourceSize</key>
			<string>{55,40}</string>
		</dict>
		<key>baoyan6_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,224},{60,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,33}}</string>
			<key>sourceSize</key>
			<string>{60,33}</string>
		</dict>
		<key>baoyan7_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,265},{61,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,35}}</string>
			<key>sourceSize</key>
			<string>{61,35}</string>
		</dict>
		<key>baoyan8_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,202},{61,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,35}}</string>
			<key>sourceSize</key>
			<string>{61,35}</string>
		</dict>
		<key>dashezhi01_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,169},{81,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,53}}</string>
			<key>sourceSize</key>
			<string>{81,53}</string>
		</dict>
		<key>dashezhi02_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,93},{88,52}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,52}}</string>
			<key>sourceSize</key>
			<string>{88,54}</string>
		</dict>
		<key>dashezhi03_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,155},{84,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,53}}</string>
			<key>sourceSize</key>
			<string>{84,53}</string>
		</dict>
		<key>dashezhi04_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,242},{79,55}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{79,55}}</string>
			<key>sourceSize</key>
			<string>{81,55}</string>
		</dict>
		<key>dashezhi05_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,98},{84,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,55}}</string>
			<key>sourceSize</key>
			<string>{84,55}</string>
		</dict>
		<key>dashezhi06_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,266},{82,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,54}}</string>
			<key>sourceSize</key>
			<string>{82,54}</string>
		</dict>
		<key>dashezhi07_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,178},{82,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,55}}</string>
			<key>sourceSize</key>
			<string>{82,55}</string>
		</dict>
		<key>dashezhi08_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,210},{82,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,54}}</string>
			<key>sourceSize</key>
			<string>{82,54}</string>
		</dict>
		<key>dashezhi09_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,235},{82,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,53}}</string>
			<key>sourceSize</key>
			<string>{82,53}</string>
		</dict>
		<key>diqi1_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,185},{81,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,22}}</string>
			<key>sourceSize</key>
			<string>{81,22}</string>
		</dict>
		<key>diqi2_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,147},{83,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,29}}</string>
			<key>sourceSize</key>
			<string>{83,29}</string>
		</dict>
		<key>diqi3_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,145},{84,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,24}}</string>
			<key>sourceSize</key>
			<string>{84,24}</string>
		</dict>
		<key>guang1_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,98},{61,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,25}}</string>
			<key>sourceSize</key>
			<string>{61,25}</string>
		</dict>
		<key>lanbo1_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,72},{71,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,89}}</string>
			<key>sourceSize</key>
			<string>{71,89}</string>
		</dict>
		<key>lanbo2_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,2},{109,89}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{109,89}}</string>
			<key>sourceSize</key>
			<string>{111,91}</string>
		</dict>
		<key>lanbo3_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{113,94}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,94}}</string>
			<key>sourceSize</key>
			<string>{115,94}</string>
		</dict>
		<key>lanbo4_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{436,143},{71,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,89}}</string>
			<key>sourceSize</key>
			<string>{71,89}</string>
		</dict>
		<key>sha1_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,71},{99,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,96}}</string>
			<key>sourceSize</key>
			<string>{99,96}</string>
		</dict>
		<key>sha2_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,2},{105,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,68}}</string>
			<key>sourceSize</key>
			<string>{105,68}</string>
		</dict>
		<key>sha3_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,2},{103,67}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{103,67}}</string>
			<key>sourceSize</key>
			<string>{105,67}</string>
		</dict>
		<key>sha4_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,2},{55,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{55,70}}</string>
			<key>sourceSize</key>
			<string>{55,72}</string>
		</dict>
		<key>sha5_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,322},{67,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{67,78}}</string>
			<key>sourceSize</key>
			<string>{67,80}</string>
		</dict>
		<key>sha6_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,290},{67,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{67,78}}</string>
			<key>sourceSize</key>
			<string>{67,80}</string>
		</dict>
		<key>sha7_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,171},{69,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,82}}</string>
			<key>sourceSize</key>
			<string>{69,82}</string>
		</dict>
		<key>sha8_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,59},{69,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,82}}</string>
			<key>sourceSize</key>
			<string>{69,82}</string>
		</dict>
		<key>shou19_jixinbiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,161},{25,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,22}}</string>
			<key>sourceSize</key>
			<string>{25,22}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA4444</string>
		<key>realTextureFileName</key>
		<string>jixinbiimage.png</string>
		<key>scale</key>
		<real>0.5</real>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>jixinbiimage.png</string>
	</dict>
</dict>
</plist>
