<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wy_12_12_25718_jitouxiangkuangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,235},{73,77}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,7},{73,77}}</string>
			<key>sourceSize</key>
			<string>{87,91}</string>
		</dict>
		<key>wy_13_13_93362_jitouxiangkuangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,223},{73,77}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,7},{73,77}}</string>
			<key>sourceSize</key>
			<string>{87,91}</string>
		</dict>
		<key>wy_14_14_43356_jitouxiangkuangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,223},{73,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,7},{73,77}}</string>
			<key>sourceSize</key>
			<string>{87,91}</string>
		</dict>
		<key>wy_15_15_92613_jitouxiangkuangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,160},{73,77}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,7},{73,77}}</string>
			<key>sourceSize</key>
			<string>{87,91}</string>
		</dict>
		<key>wy_16_16_90053_jitouxiangkuangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,146},{75,77}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,7},{75,77}}</string>
			<key>sourceSize</key>
			<string>{87,91}</string>
		</dict>
		<key>wy_17_17_74566_jitouxiangkuangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,81},{77,77}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,6},{77,77}}</string>
			<key>sourceSize</key>
			<string>{87,91}</string>
		</dict>
		<key>wy_18_18_31605_jitouxiangkuangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,2},{77,77}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,6},{77,77}}</string>
			<key>sourceSize</key>
			<string>{87,91}</string>
		</dict>
		<key>wy_19_19_35752_jitouxiangkuangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,146},{75,77}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,7},{75,77}}</string>
			<key>sourceSize</key>
			<string>{87,91}</string>
		</dict>
		<key>wy_2_2_16201_jitouxiangkuangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{169,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,142}}</string>
			<key>sourceSize</key>
			<string>{169,142}</string>
		</dict>
		<key>wy_5_5_48777_jitouxiangkuangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,160},{36,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,12}}</string>
			<key>sourceSize</key>
			<string>{36,12}</string>
		</dict>
		<key>wy_7_7_5369_jitouxiangkuangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,298},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>wy_9_9_91035_jitouxiangkuangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,298},{52,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,19}}</string>
			<key>sourceSize</key>
			<string>{52,19}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>jitouxiangkuangimage.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>jitouxiangkuangimage.png</string>
	</dict>
</dict>
</plist>
