<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask01_qznrfchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,70},{162,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,34}}</string>
			<key>sourceSize</key>
			<string>{162,34}</string>
		</dict>
		<key>mask02_qznrfchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,70},{182,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,64}}</string>
			<key>sourceSize</key>
			<string>{182,64}</string>
		</dict>
		<key>wy_10_10_51938_qznrfchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,22},{18,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,24}}</string>
			<key>sourceSize</key>
			<string>{18,24}</string>
		</dict>
		<key>wy_11_11_64268_qznrfchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,42},{17,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,24}}</string>
			<key>sourceSize</key>
			<string>{17,24}</string>
		</dict>
		<key>wy_12_12_51340_qznrfchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,117},{17,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,21}}</string>
			<key>sourceSize</key>
			<string>{17,21}</string>
		</dict>
		<key>wy_13_13_85523_qznrfchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,99},{15,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,22}}</string>
			<key>sourceSize</key>
			<string>{15,22}</string>
		</dict>
		<key>wy_14_14_87398_qznrfchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,78},{18,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,22}}</string>
			<key>sourceSize</key>
			<string>{18,22}</string>
		</dict>
		<key>wy_15_15_67101_qznrfchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,98},{17,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,22}}</string>
			<key>sourceSize</key>
			<string>{17,22}</string>
		</dict>
		<key>wy_16_16_70183_qznrfchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,91},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>wy_17_17_57444_qznrfchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{191,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,66}}</string>
			<key>sourceSize</key>
			<string>{191,66}</string>
		</dict>
		<key>wy_1_1_20106_qznrfchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,234},{19,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,97}}</string>
			<key>sourceSize</key>
			<string>{19,97}</string>
		</dict>
		<key>wy_2_2_74933_qznrfchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,234},{8,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,20}}</string>
			<key>sourceSize</key>
			<string>{8,20}</string>
		</dict>
		<key>wy_38_38_86353_qznrfchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,42},{17,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,24}}</string>
			<key>sourceSize</key>
			<string>{17,24}</string>
		</dict>
		<key>wy_39_39_26123_qznrfchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,22},{18,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,24}}</string>
			<key>sourceSize</key>
			<string>{18,24}</string>
		</dict>
		<key>wy_3_3_5132_qznrfchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,2},{18,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,24}}</string>
			<key>sourceSize</key>
			<string>{18,24}</string>
		</dict>
		<key>wy_40_40_2101_qznrfchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,61},{15,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,24}}</string>
			<key>sourceSize</key>
			<string>{15,24}</string>
		</dict>
		<key>wy_4_4_52456_qznrfchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,61},{17,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,23}}</string>
			<key>sourceSize</key>
			<string>{17,23}</string>
		</dict>
		<key>wy_5_5_99292_qznrfchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,80},{9,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,11}}</string>
			<key>sourceSize</key>
			<string>{9,11}</string>
		</dict>
		<key>wy_6_6_78600_qznrfchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,116},{18,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,21}}</string>
			<key>sourceSize</key>
			<string>{18,21}</string>
		</dict>
		<key>wy_7_7_38395_qznrfchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,2},{18,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,24}}</string>
			<key>sourceSize</key>
			<string>{18,24}</string>
		</dict>
		<key>wy_8_8_59200_qznrfchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,234},{13,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,20}}</string>
			<key>sourceSize</key>
			<string>{13,20}</string>
		</dict>
		<key>wy_9_9_48068_qznrfchimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,80},{17,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,22}}</string>
			<key>sourceSize</key>
			<string>{17,22}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>qznrfchimage.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>qznrfchimage.png</string>
	</dict>
</dict>
</plist>
