<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ctj_exMAX_luodi_00150.png</key>
		<dict>
			<key>frame</key>
			<string>{{840,112},{157,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,94}}</string>
			<key>sourceSize</key>
			<string>{157,94}</string>
		</dict>
		<key>ctj_exMAX_luodi_00154.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,2},{169,76}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{169,76}}</string>
			<key>sourceSize</key>
			<string>{169,80}</string>
		</dict>
		<key>ctj_exMAX_luodi_00156.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,657},{132,83}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{132,83}}</string>
			<key>sourceSize</key>
			<string>{132,87}</string>
		</dict>
		<key>ctj_exMAX_luodi_00157.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,340},{137,87}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{137,87}}</string>
			<key>sourceSize</key>
			<string>{137,91}</string>
		</dict>
		<key>ctj_exMAX_luodi_00158.png</key>
		<dict>
			<key>frame</key>
			<string>{{466,349},{144,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,90}}</string>
			<key>sourceSize</key>
			<string>{144,90}</string>
		</dict>
		<key>ctj_exMAX_luodi_00160.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,306},{149,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{149,85}}</string>
			<key>sourceSize</key>
			<string>{151,85}</string>
		</dict>
		<key>ctj_exMAX_luodi_00161.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,219},{154,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,86}}</string>
			<key>sourceSize</key>
			<string>{154,86}</string>
		</dict>
		<key>ctj_exMAX_luodi_00162.png</key>
		<dict>
			<key>frame</key>
			<string>{{669,133},{156,86}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,86}}</string>
			<key>sourceSize</key>
			<string>{156,88}</string>
		</dict>
		<key>ctj_ex_daji2_00086.png</key>
		<dict>
			<key>frame</key>
			<string>{{895,944},{77,78}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{77,78}}</string>
			<key>sourceSize</key>
			<string>{79,78}</string>
		</dict>
		<key>ctj_ex_daji2_00088.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,890},{128,130}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{128,130}}</string>
			<key>sourceSize</key>
			<string>{130,130}</string>
		</dict>
		<key>ctj_ex_daji2_00125.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,160},{164,104}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,104}}</string>
			<key>sourceSize</key>
			<string>{164,108}</string>
		</dict>
		<key>ctj_ex_daji2_00126.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,270},{150,96}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,96}}</string>
			<key>sourceSize</key>
			<string>{154,96}</string>
		</dict>
		<key>ctj_ex_daji2_1_00057.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,214},{155,134}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{155,134}}</string>
			<key>sourceSize</key>
			<string>{155,136}</string>
		</dict>
		<key>ctj_ex_daji2_1_00059.png</key>
		<dict>
			<key>frame</key>
			<string>{{933,693},{89,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,56}}</string>
			<key>sourceSize</key>
			<string>{89,56}</string>
		</dict>
		<key>ctj_ex_daji2_2_00053.png</key>
		<dict>
			<key>frame</key>
			<string>{{664,451},{136,86}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,86}}</string>
			<key>sourceSize</key>
			<string>{144,86}</string>
		</dict>
		<key>ctj_ex_daji2_2_00056.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,392},{142,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,142}}</string>
			<key>sourceSize</key>
			<string>{142,142}</string>
		</dict>
		<key>ctj_ex_daji2_2_00058.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,516},{136,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,140}}</string>
			<key>sourceSize</key>
			<string>{136,140}</string>
		</dict>
		<key>ctj_ex_daji2_2_00061.png</key>
		<dict>
			<key>frame</key>
			<string>{{725,788},{95,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,73}}</string>
			<key>sourceSize</key>
			<string>{95,73}</string>
		</dict>
		<key>ctj_ex_daji2_2_00062.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,741},{79,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,77}}</string>
			<key>sourceSize</key>
			<string>{79,77}</string>
		</dict>
		<key>ctj_exmax_fire_00111.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,822},{78,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,63}}</string>
			<key>sourceSize</key>
			<string>{78,63}</string>
		</dict>
		<key>ctj_exmax_fire_00112.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,565},{80,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,63}}</string>
			<key>sourceSize</key>
			<string>{80,63}</string>
		</dict>
		<key>ctj_exmax_fire_00113.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,467},{97,63}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{97,63}}</string>
			<key>sourceSize</key>
			<string>{97,67}</string>
		</dict>
		<key>ctj_exmax_fire_00114.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,493},{99,73}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{99,73}}</string>
			<key>sourceSize</key>
			<string>{99,75}</string>
		</dict>
		<key>ctj_exmax_fire_00118.png</key>
		<dict>
			<key>frame</key>
			<string>{{799,916},{95,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,106}}</string>
			<key>sourceSize</key>
			<string>{95,106}</string>
		</dict>
		<key>ctj_exmax_fire_00119.png</key>
		<dict>
			<key>frame</key>
			<string>{{568,646},{95,114}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{95,114}}</string>
			<key>sourceSize</key>
			<string>{95,116}</string>
		</dict>
		<key>ctj_exmax_fire_00123.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,910},{99,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,112}}</string>
			<key>sourceSize</key>
			<string>{99,112}</string>
		</dict>
		<key>ctj_exmax_fire_00125.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,786},{123,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,131}}</string>
			<key>sourceSize</key>
			<string>{123,131}</string>
		</dict>
		<key>ctj_exmax_fire_00126.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,653},{138,132}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{138,132}}</string>
			<key>sourceSize</key>
			<string>{138,136}</string>
		</dict>
		<key>ctj_exmax_fire_00127.png</key>
		<dict>
			<key>frame</key>
			<string>{{664,538},{135,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,130}}</string>
			<key>sourceSize</key>
			<string>{135,130}</string>
		</dict>
		<key>ctj_exmax_fire_00128.png</key>
		<dict>
			<key>frame</key>
			<string>{{666,318},{132,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,145}}</string>
			<key>sourceSize</key>
			<string>{132,145}</string>
		</dict>
		<key>ctj_exmax_fire_00129.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,367},{132,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,148}}</string>
			<key>sourceSize</key>
			<string>{132,148}</string>
		</dict>
		<key>ctj_exmax_fire_00130.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,384},{131,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,147}}</string>
			<key>sourceSize</key>
			<string>{131,147}</string>
		</dict>
		<key>ctj_exmax_fire_00131.png</key>
		<dict>
			<key>frame</key>
			<string>{{681,2},{130,158}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{130,158}}</string>
			<key>sourceSize</key>
			<string>{132,158}</string>
		</dict>
		<key>ctj_exmax_fire_00134.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,725},{131,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,130}}</string>
			<key>sourceSize</key>
			<string>{131,130}</string>
		</dict>
		<key>ctj_exmax_fire_00135.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,692},{130,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,129}}</string>
			<key>sourceSize</key>
			<string>{130,129}</string>
		</dict>
		<key>ctj_exmax_fire_00136.png</key>
		<dict>
			<key>frame</key>
			<string>{{596,890},{129,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,128}}</string>
			<key>sourceSize</key>
			<string>{129,128}</string>
		</dict>
		<key>ctj_exmax_fire_00137.png</key>
		<dict>
			<key>frame</key>
			<string>{{547,761},{116,128}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>ctj_exmax_fire_00140.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,910},{109,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,125}}</string>
			<key>sourceSize</key>
			<string>{109,125}</string>
		</dict>
		<key>ctj_exmax_fire_00141.png</key>
		<dict>
			<key>frame</key>
			<string>{{933,750},{88,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,112}}</string>
			<key>sourceSize</key>
			<string>{88,112}</string>
		</dict>
		<key>ctj_exmax_fire_00146.png</key>
		<dict>
			<key>frame</key>
			<string>{{929,863},{80,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,93}}</string>
			<key>sourceSize</key>
			<string>{80,93}</string>
		</dict>
		<key>ctj_exmax_fire_00148.png</key>
		<dict>
			<key>frame</key>
			<string>{{725,884},{73,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,92}}</string>
			<key>sourceSize</key>
			<string>{73,92}</string>
		</dict>
		<key>ctj_exmax_fire_00149.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,419},{71,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,73}}</string>
			<key>sourceSize</key>
			<string>{71,73}</string>
		</dict>
		<key>ctj_skill_bao_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{936,593},{99,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,86}}</string>
			<key>sourceSize</key>
			<string>{99,86}</string>
		</dict>
		<key>ctj_skill_bao_00058.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,890},{130,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,120}}</string>
			<key>sourceSize</key>
			<string>{130,120}</string>
		</dict>
		<key>ctj_skill_bao_00059.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,428},{136,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,125}}</string>
			<key>sourceSize</key>
			<string>{136,125}</string>
		</dict>
		<key>ctj_skill_bao_00060.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,440},{142,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,129}}</string>
			<key>sourceSize</key>
			<string>{142,129}</string>
		</dict>
		<key>ctj_skill_bao_00061.png</key>
		<dict>
			<key>frame</key>
			<string>{{826,207},{146,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,132}}</string>
			<key>sourceSize</key>
			<string>{146,132}</string>
		</dict>
		<key>ctj_skill_bao_00064.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,79},{165,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,139}}</string>
			<key>sourceSize</key>
			<string>{165,139}</string>
		</dict>
		<key>ctj_skill_bao_00065.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,2},{170,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,145}}</string>
			<key>sourceSize</key>
			<string>{170,145}</string>
		</dict>
		<key>ctj_skill_bao_00067.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{170,157}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,0},{170,157}}</string>
			<key>sourceSize</key>
			<string>{180,157}</string>
		</dict>
		<key>ctj_skill_bao_00076.png</key>
		<dict>
			<key>frame</key>
			<string>{{840,2},{157,109}}</string>
			<key>offset</key>
			<string>{26,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{53,0},{157,109}}</string>
			<key>sourceSize</key>
			<string>{211,109}</string>
		</dict>
		<key>ctj_skill_bao_00078.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,265},{162,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,118}}</string>
			<key>sourceSize</key>
			<string>{162,118}</string>
		</dict>
		<key>ctj_skill_bao_00079.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,148},{164,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,121}}</string>
			<key>sourceSize</key>
			<string>{164,121}</string>
		</dict>
		<key>ctj_skill_bao_00080.png</key>
		<dict>
			<key>frame</key>
			<string>{{514,2},{166,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,125}}</string>
			<key>sourceSize</key>
			<string>{166,125}</string>
		</dict>
		<key>ctj_skill_bao_00081.png</key>
		<dict>
			<key>frame</key>
			<string>{{799,796},{119,129}}</string>
			<key>offset</key>
			<string>{-22,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{119,129}}</string>
			<key>sourceSize</key>
			<string>{167,129}</string>
		</dict>
		<key>ctj_skill_bao_00082.png</key>
		<dict>
			<key>frame</key>
			<string>{{799,677},{118,133}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{118,133}}</string>
			<key>sourceSize</key>
			<string>{122,133}</string>
		</dict>
		<key>ctj_skill_bao_00083.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,554},{122,135}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,2},{122,135}}</string>
			<key>sourceSize</key>
			<string>{124,137}</string>
		</dict>
		<key>ctj_skill_bao_00084.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,535},{121,139}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,2},{121,139}}</string>
			<key>sourceSize</key>
			<string>{123,141}</string>
		</dict>
		<key>ctj_skill_bao_00085.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,570},{121,134}}</string>
			<key>offset</key>
			<string>{1,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,1},{121,134}}</string>
			<key>sourceSize</key>
			<string>{125,146}</string>
		</dict>
		<key>ctj_skill_bao_00091.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,890},{117,130}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{117,130}}</string>
			<key>sourceSize</key>
			<string>{119,130}</string>
		</dict>
		<key>ctj_skill_bao_00092.png</key>
		<dict>
			<key>frame</key>
			<string>{{664,669},{118,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,134}}</string>
			<key>sourceSize</key>
			<string>{118,134}</string>
		</dict>
		<key>ctj_skill_bao_00093.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,609},{115,139}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,139}}</string>
			<key>sourceSize</key>
			<string>{117,139}</string>
		</dict>
		<key>ctj_skill_bao_00094.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,500},{108,142}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,142}}</string>
			<key>sourceSize</key>
			<string>{110,142}</string>
		</dict>
		<key>ctj_skill_bao_00095.png</key>
		<dict>
			<key>frame</key>
			<string>{{666,220},{97,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{97,146}}</string>
			<key>sourceSize</key>
			<string>{101,146}</string>
		</dict>
		<key>ctj_skill_bao_00097.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,340},{78,72}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{78,72}}</string>
			<key>sourceSize</key>
			<string>{80,76}</string>
		</dict>
		<key>ctj_skill_diyan_00043.png</key>
		<dict>
			<key>frame</key>
			<string>{{611,349},{117,52}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,52}}</string>
			<key>sourceSize</key>
			<string>{119,52}</string>
		</dict>
		<key>ctj_skill_diyan_00045.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,128},{158,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,85}}</string>
			<key>sourceSize</key>
			<string>{158,85}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>caotijingshisi_common3.png</string>
		<key>scale</key>
		<real>0.6</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>caotijingshisi_common3.png</string>
	</dict>
</dict>
</plist>
