<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>kuang_huiliuyaoqingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{528,240},{348,127}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{348,127}}</string>
			<key>sourceSize</key>
			<string>{358,135}</string>
		</dict>
		<key>ss_huiliuyaoqingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{528,240},{348,127}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{348,127}}</string>
			<key>sourceSize</key>
			<string>{358,135}</string>
		</dict>
		<key>wy_4_4_77252_huiliuyaoqingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{996,2},{60,26}}</string>
			<key>offset</key>
			<string>{-152,-140}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{102,287},{60,26}}</string>
			<key>sourceSize</key>
			<string>{568,320}</string>
		</dict>
		<key>wy_5_5_83129_huiliuyaoqingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{528,2},{466,236}}</string>
			<key>offset</key>
			<string>{-8,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,29},{466,236}}</string>
			<key>sourceSize</key>
			<string>{568,320}</string>
		</dict>
		<key>wy_6_6_18027_huiliuyaoqingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,260},{516,264}}</string>
			<key>offset</key>
			<string>{26,28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,0},{516,264}}</string>
			<key>sourceSize</key>
			<string>{568,320}</string>
		</dict>
		<key>wy_7_7_37763_huiliuyaoqingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{520,369},{510,276}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{510,276}}</string>
			<key>sourceSize</key>
			<string>{510,276}</string>
		</dict>
		<key>wy_8_8_58824_huiliuyaoqingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{524,256}}</string>
			<key>offset</key>
			<string>{-22,-32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,64},{524,256}}</string>
			<key>sourceSize</key>
			<string>{568,320}</string>
		</dict>
		<key>wy_9_9_79728_huiliuyaoqingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{996,64},{196,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,22}}</string>
			<key>sourceSize</key>
			<string>{196,22}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>huiliuyaoqingimage.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>huiliuyaoqingimage.png</string>
	</dict>
</dict>
</plist>
