<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_kongcao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,303},{116,124}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,4},{116,124}}</string>
			<key>sourceSize</key>
			<string>{134,130}</string>
		</dict>
		<key>pic_ybzd_datanchaung_shuxing_chendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{693,299}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{693,299}}</string>
			<key>sourceSize</key>
			<string>{693,299}</string>
		</dict>
		<key>pic_ybzd_shishiyinjitanchaung_dengji_dachendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{697,2},{616,295}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{616,295}}</string>
			<key>sourceSize</key>
			<string>{616,295}</string>
		</dict>
		<key>pic_ybzd_shuxingyinji_dachendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{697,299},{578,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{578,128}}</string>
			<key>sourceSize</key>
			<string>{578,128}</string>
		</dict>
		<key>pic_ybzd_yinji_dangqiandengjidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,355},{154,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,33}}</string>
			<key>sourceSize</key>
			<string>{154,33}</string>
		</dict>
		<key>pic_ybzd_yinji_xiayijidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,320},{154,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,33}}</string>
			<key>sourceSize</key>
			<string>{154,33}</string>
		</dict>
		<key>pic_ybzd_yinjitanchaung_dengji_fengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,317},{562,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{562,1}}</string>
			<key>sourceSize</key>
			<string>{562,1}</string>
		</dict>
		<key>pic_ybzd_yinjitanchaung_sxtj_xian.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,303},{572,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{572,12}}</string>
			<key>sourceSize</key>
			<string>{572,12}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>DistantBossCultivate10.png</string>
		<key>size</key>
		<string>{1315,429}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>DistantBossCultivate10.png</string>
	</dict>
</dict>
</plist>
