<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_jiangli_shengzujiangli.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,426},{165,27}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{165,27}}</string>
			<key>sourceSize</key>
			<string>{167,29}</string>
		</dict>
		<key>pic_jiangli_ssaijijiangli.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,729},{150,25}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{150,25}}</string>
			<key>sourceSize</key>
			<string>{150,29}</string>
		</dict>
		<key>pic_jiangli_suozaizu.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,741},{85,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{85,25}}</string>
			<key>sourceSize</key>
			<string>{89,27}</string>
		</dict>
		<key>pic_kfjjc_js_jj.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,76},{176,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,146}}</string>
			<key>sourceSize</key>
			<string>{176,146}</string>
		</dict>
		<key>pic_kua1fu_duanswei.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,918},{107,24}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,4},{107,24}}</string>
			<key>sourceSize</key>
			<string>{149,28}</string>
		</dict>
		<key>pic_kua1fu_jiangli.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,288},{173,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,72}}</string>
			<key>sourceSize</key>
			<string>{173,72}</string>
		</dict>
		<key>pic_kua1fu_paihang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{209,72}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,72}}</string>
			<key>sourceSize</key>
			<string>{211,72}</string>
		</dict>
		<key>pic_kua1fu_paiming.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,2},{40,21}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,4},{40,21}}</string>
			<key>sourceSize</key>
			<string>{96,25}</string>
		</dict>
		<key>pic_kua1fu_shetuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,959},{70,21}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,4},{70,21}}</string>
			<key>sourceSize</key>
			<string>{96,25}</string>
		</dict>
		<key>pic_kua1fu_wanjiaxingming.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,944},{120,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{120,23}}</string>
			<key>sourceSize</key>
			<string>{122,23}</string>
		</dict>
		<key>pic_kua1fu_wodepaiming.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,586},{90,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,22}}</string>
			<key>sourceSize</key>
			<string>{90,22}</string>
		</dict>
		<key>pic_kua1fu_zhanbao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,455},{155,72}}</string>
			<key>offset</key>
			<string>{-8,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,72}}</string>
			<key>sourceSize</key>
			<string>{171,72}</string>
		</dict>
		<key>pic_kua1fu_zhandouli.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,205},{73,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,25}}</string>
			<key>sourceSize</key>
			<string>{73,25}</string>
		</dict>
		<key>pic_kua1fu_zongpaiming_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,866},{140,27}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{140,27}}</string>
			<key>sourceSize</key>
			<string>{142,29}</string>
		</dict>
		<key>pic_kua1fu_zongpaiming_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,224},{174,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{174,62}}</string>
			<key>sourceSize</key>
			<string>{176,62}</string>
		</dict>
		<key>pic_kua__fangshou_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,969},{115,27}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,19},{115,27}}</string>
			<key>sourceSize</key>
			<string>{151,65}</string>
		</dict>
		<key>pic_kua__fangshou_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,666},{151,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{151,61}}</string>
			<key>sourceSize</key>
			<string>{151,65}</string>
		</dict>
		<key>pic_kua__gongji_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,969},{115,27}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,20},{115,27}}</string>
			<key>sourceSize</key>
			<string>{151,65}</string>
		</dict>
		<key>pic_kua__gongji_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,756},{149,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{149,61}}</string>
			<key>sourceSize</key>
			<string>{151,65}</string>
		</dict>
		<key>pic_kua__jifen_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,895},{137,26}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,18},{137,26}}</string>
			<key>sourceSize</key>
			<string>{173,62}</string>
		</dict>
		<key>pic_kua__jifen_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,362},{173,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,62}}</string>
			<key>sourceSize</key>
			<string>{173,62}</string>
		</dict>
		<key>pic_kua__jinji_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,76},{121,27}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,16},{121,27}}</string>
			<key>sourceSize</key>
			<string>{155,61}</string>
		</dict>
		<key>pic_kua__jinji_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,529},{155,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,61}}</string>
			<key>sourceSize</key>
			<string>{155,61}</string>
		</dict>
		<key>pic_kua_dangqianduanwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,256},{73,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,24}}</string>
			<key>sourceSize</key>
			<string>{73,24}</string>
		</dict>
		<key>pic_kua_dangqianjifen.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,610},{88,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{88,25}}</string>
			<key>sourceSize</key>
			<string>{90,25}</string>
		</dict>
		<key>pic_kua_erdui.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,868},{107,48}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{107,48}}</string>
			<key>sourceSize</key>
			<string>{109,48}</string>
		</dict>
		<key>pic_kua_eriduihong.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,982},{105,48}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{105,48}}</string>
			<key>sourceSize</key>
			<string>{109,48}</string>
		</dict>
		<key>pic_kua_yidui.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,818},{101,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{101,48}}</string>
			<key>sourceSize</key>
			<string>{109,48}</string>
		</dict>
		<key>pic_kua_yiduihong.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,768},{101,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{101,48}}</string>
			<key>sourceSize</key>
			<string>{109,48}</string>
		</dict>
		<key>pic_kua_yijianbuzhen.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,923},{130,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{130,34}}</string>
			<key>sourceSize</key>
			<string>{132,34}</string>
		</dict>
		<key>pic_kua_zhenrong.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,592},{153,72}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,72}}</string>
			<key>sourceSize</key>
			<string>{159,72}</string>
		</dict>
		<key>pic_kua_zongcxianshouzhi.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,232},{75,22}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,22}}</string>
			<key>sourceSize</key>
			<string>{77,22}</string>
		</dict>
		<key>pic_kuajing_kuafujingjichang.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,282},{254,72}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{254,72}}</string>
			<key>sourceSize</key>
			<string>{256,72}</string>
		</dict>
		<key>pic_kuajing_qufu_huang.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,969},{66,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,23}}</string>
			<key>sourceSize</key>
			<string>{66,23}</string>
		</dict>
		<key>pic_kuajing_qufu_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,969},{66,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,23}}</string>
			<key>sourceSize</key>
			<string>{66,23}</string>
		</dict>
		<key>pic_kuajing_qufu_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{135,969},{66,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,23}}</string>
			<key>sourceSize</key>
			<string>{66,23}</string>
		</dict>
		<key>pic_kuajing_wanjia_huang.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,715},{87,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,24}}</string>
			<key>sourceSize</key>
			<string>{87,24}</string>
		</dict>
		<key>pic_kuajing_wanjia_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,689},{87,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,24}}</string>
			<key>sourceSize</key>
			<string>{87,24}</string>
		</dict>
		<key>pic_kuajing_wanjia_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,663},{87,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,24}}</string>
			<key>sourceSize</key>
			<string>{87,24}</string>
		</dict>
		<key>pic_kuajing_wodepaiming1.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,538},{92,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{92,46}}</string>
			<key>sourceSize</key>
			<string>{94,46}</string>
		</dict>
		<key>pic_kuajing_wodezhanli1.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,1050},{50,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{50,25}}</string>
			<key>sourceSize</key>
			<string>{52,25}</string>
		</dict>
		<key>pic_kuajing_zhanli_huang.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,1023},{52,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{52,24}}</string>
			<key>sourceSize</key>
			<string>{52,26}</string>
		</dict>
		<key>pic_kuajing_zhanli_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,969},{52,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{52,24}}</string>
			<key>sourceSize</key>
			<string>{52,26}</string>
		</dict>
		<key>pic_kuajing_zhanli_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{188,1037},{52,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{52,24}}</string>
			<key>sourceSize</key>
			<string>{52,26}</string>
		</dict>
		<key>pic_qufu_kuafuziji.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,982},{66,23}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,23}}</string>
			<key>sourceSize</key>
			<string>{68,23}</string>
		</dict>
		<key>pic_shangweidacheng_xiaozhuant.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,819},{145,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,45}}</string>
			<key>sourceSize</key>
			<string>{145,45}</string>
		</dict>
		<key>pic_wanjia_kuafuziji.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,637},{87,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{87,24}}</string>
			<key>sourceSize</key>
			<string>{89,24}</string>
		</dict>
		<key>pic_zhanli_kuafuziji.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,1037},{52,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,24}}</string>
			<key>sourceSize</key>
			<string>{52,24}</string>
		</dict>
		<key>title_fenxiang_qhjjc.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,25},{178,38}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,2},{178,38}}</string>
			<key>sourceSize</key>
			<string>{194,40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_crossSports10.png</string>
		<key>size</key>
		<string>{256,1091}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_crossSports10.png</string>
	</dict>
</dict>
</plist>
