<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_hd_qhgj_ditutaitou.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,1308},{653,39}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{653,39}}</string>
			<key>sourceSize</key>
			<string>{653,41}</string>
		</dict>
		<key>pic_huodong_qhgj_qhgjtc_aoyi.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,655},{651,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{651,132}}</string>
			<key>sourceSize</key>
			<string>{651,132}</string>
		</dict>
		<key>pic_huodong_qhgj_qhgjtc_bilidegunzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,1308},{651,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{651,132}}</string>
			<key>sourceSize</key>
			<string>{651,132}</string>
		</dict>
		<key>pic_huodong_qhgj_qhgjtc_dayuzhouliliang.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,2},{651,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{651,132}}</string>
			<key>sourceSize</key>
			<string>{651,132}</string>
		</dict>
		<key>pic_huodong_qhgj_qhgjtc_huanxiangtiaozhan.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,655},{651,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{651,132}}</string>
			<key>sourceSize</key>
			<string>{651,132}</string>
		</dict>
		<key>pic_huodong_qhgj_qhgjtc_jinbifuben.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,1308},{651,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{651,132}}</string>
			<key>sourceSize</key>
			<string>{651,132}</string>
		</dict>
		<key>pic_huodong_qhgj_qhgjtc_jinyanfuben.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,2},{651,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{651,132}}</string>
			<key>sourceSize</key>
			<string>{651,132}</string>
		</dict>
		<key>pic_huodong_qhgj_qhgjtc_jiuba.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,655},{651,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{651,132}}</string>
			<key>sourceSize</key>
			<string>{651,132}</string>
		</dict>
		<key>pic_huodong_qhgj_qhgjtc_kuafuquanhuangzhengba.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1308},{651,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{651,132}}</string>
			<key>sourceSize</key>
			<string>{651,132}</string>
		</dict>
		<key>pic_huodong_qhgj_qhgjtc_nvgedoujia.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,2},{651,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{651,132}}</string>
			<key>sourceSize</key>
			<string>{651,132}</string>
		</dict>
		<key>pic_huodong_qhgj_qhgjtc_putonglingqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,1600},{79,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,79}}</string>
			<key>sourceSize</key>
			<string>{79,79}</string>
		</dict>
		<key>pic_huodong_qhgj_qhgjtc_xhyjs.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,655},{651,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{651,132}}</string>
			<key>sourceSize</key>
			<string>{651,132}</string>
		</dict>
		<key>pic_huodong_qhgj_qhgjtc_yibaoming.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,1681},{74,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,89}}</string>
			<key>sourceSize</key>
			<string>{74,89}</string>
		</dict>
		<key>pic_huodong_qhgj_qhgjtc_zhuangbeijuexingbaoxiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{651,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{651,132}}</string>
			<key>sourceSize</key>
			<string>{651,132}</string>
		</dict>
		<key>pic_huodong_qhgj_qhgjtc_zhuanshilingqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,1519},{79,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,79}}</string>
			<key>sourceSize</key>
			<string>{79,79}</string>
		</dict>
		<key>pic_qhgj_buzhen_banzi_suo.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,1308},{209,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,101}}</string>
			<key>sourceSize</key>
			<string>{209,101}</string>
		</dict>
		<key>pic_qhgj_qianwang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,1772},{124,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,38}}</string>
			<key>sourceSize</key>
			<string>{124,38}</string>
		</dict>
		<key>pic_qhgj_qianwang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,1782},{124,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,38}}</string>
			<key>sourceSize</key>
			<string>{124,38}</string>
		</dict>
		<key>word_huodong_qhgj_goumai_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,1908},{77,29}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,2},{77,29}}</string>
			<key>sourceSize</key>
			<string>{117,31}</string>
		</dict>
		<key>word_huodong_qhgj_goumai_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,1963},{73,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,0},{73,27}}</string>
			<key>sourceSize</key>
			<string>{113,27}</string>
		</dict>
		<key>word_huodong_qhgj_qhgjtc_baochunshezhi.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,1519},{135,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{135,33}}</string>
			<key>sourceSize</key>
			<string>{137,33}</string>
		</dict>
		<key>word_huodong_qhgj_qhgjtc_fuben_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,1996},{99,29}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,2},{99,29}}</string>
			<key>sourceSize</key>
			<string>{117,31}</string>
		</dict>
		<key>word_huodong_qhgj_qhgjtc_fuben_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,1990},{95,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,0},{95,27}}</string>
			<key>sourceSize</key>
			<string>{113,27}</string>
		</dict>
		<key>word_huodong_qhgj_qhgjtc_jinbijuanxian.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,1961},{105,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{105,28}}</string>
			<key>sourceSize</key>
			<string>{107,28}</string>
		</dict>
		<key>word_huodong_qhgj_qhgjtc_jinbijuanxuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,1908},{87,23}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,5},{87,23}}</string>
			<key>sourceSize</key>
			<string>{99,29}</string>
		</dict>
		<key>word_huodong_qhgj_qhgjtc_mianfeilingqu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{345,1992},{69,29}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,2},{69,29}}</string>
			<key>sourceSize</key>
			<string>{117,31}</string>
		</dict>
		<key>word_huodong_qhgj_qhgjtc_mianfeilingqu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,1997},{65,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,0},{65,27}}</string>
			<key>sourceSize</key>
			<string>{113,27}</string>
		</dict>
		<key>word_huodong_qhgj_qhgjtc_qita_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{501,1898},{87,29}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,2},{87,29}}</string>
			<key>sourceSize</key>
			<string>{117,31}</string>
		</dict>
		<key>word_huodong_qhgj_qhgjtc_qita_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,1897},{83,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,0},{83,27}}</string>
			<key>sourceSize</key>
			<string>{113,27}</string>
		</dict>
		<key>word_huodong_qhgj_qhgjtc_shetuan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1996},{107,29}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,2},{107,29}}</string>
			<key>sourceSize</key>
			<string>{117,31}</string>
		</dict>
		<key>word_huodong_qhgj_qhgjtc_shetuan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,1961},{103,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{103,27}}</string>
			<key>sourceSize</key>
			<string>{113,27}</string>
		</dict>
		<key>word_huodong_qhgj_qhgjtc_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{525,1772},{123,34}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,0},{123,34}}</string>
			<key>sourceSize</key>
			<string>{135,34}</string>
		</dict>
		<key>word_huodong_qhgj_qhgjtc_yijianwanc.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1961},{137,33}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{137,33}}</string>
			<key>sourceSize</key>
			<string>{137,35}</string>
		</dict>
		<key>word_huodong_qhgj_qhgjtc_zhizunjuanxian.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,1656},{124,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,28}}</string>
			<key>sourceSize</key>
			<string>{124,28}</string>
		</dict>
		<key>word_huodong_qhgj_qhgjtc_zizunjuanxian.png</key>
		<dict>
			<key>frame</key>
			<string>{{538,2},{104,21}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{104,21}}</string>
			<key>sourceSize</key>
			<string>{106,29}</string>
		</dict>
		<key>word_huodong_qhgj_qhgjtc_zuanshijuanxian.png</key>
		<dict>
			<key>frame</key>
			<string>{{538,108},{94,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{94,21}}</string>
			<key>sourceSize</key>
			<string>{98,23}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_KOFButler0.png</string>
		<key>size</key>
		<string>{561,2027}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_KOFButler0.png</string>
	</dict>
</dict>
</plist>
