<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Snake_Dmg_01_A_0013_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{974,46},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>Snake_Dmg_01_A_0015_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{974,2},{48,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,42}}</string>
			<key>sourceSize</key>
			<string>{48,42}</string>
		</dict>
		<key>Snake_Dmg_01_A_0017_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{974,87},{56,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,39}}</string>
			<key>sourceSize</key>
			<string>{56,39}</string>
		</dict>
		<key>Snake_Dmg_01_A_0019_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{974,452},{64,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,30}}</string>
			<key>sourceSize</key>
			<string>{64,30}</string>
		</dict>
		<key>Snake_Dmg_01_A_0021_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{974,380},{70,30}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{70,30}}</string>
			<key>sourceSize</key>
			<string>{72,30}</string>
		</dict>
		<key>Snake_Dmg_01_A_0023_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{974,228},{76,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,34}}</string>
			<key>sourceSize</key>
			<string>{76,34}</string>
		</dict>
		<key>Snake_Dmg_01_A_0025_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{974,145},{81,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,38}}</string>
			<key>sourceSize</key>
			<string>{81,38}</string>
		</dict>
		<key>Snake_Dmg_01_A_0027_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{955,547},{61,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,24}}</string>
			<key>sourceSize</key>
			<string>{61,24}</string>
		</dict>
		<key>Snake_Dmg_01_A_0029_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{955,518},{66,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,27}}</string>
			<key>sourceSize</key>
			<string>{66,27}</string>
		</dict>
		<key>Snake_Dmg_01_A_0031_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{974,306},{72,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,30}}</string>
			<key>sourceSize</key>
			<string>{72,30}</string>
		</dict>
		<key>Snake_Dmg_01_A_0032_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,904},{105,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,109}}</string>
			<key>sourceSize</key>
			<string>{105,109}</string>
		</dict>
		<key>Snake_Dmg_01_A_0034_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,904},{122,118}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,0},{122,118}}</string>
			<key>sourceSize</key>
			<string>{132,118}</string>
		</dict>
		<key>Snake_Dmg_01_A_0036_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,897},{144,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,125}}</string>
			<key>sourceSize</key>
			<string>{144,125}</string>
		</dict>
		<key>Snake_Dmg_01_A_0038_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,506},{161,137}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,137}}</string>
			<key>sourceSize</key>
			<string>{161,141}</string>
		</dict>
		<key>Snake_Dmg_01_A_0040_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,819},{172,143}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{172,143}}</string>
			<key>sourceSize</key>
			<string>{172,145}</string>
		</dict>
		<key>Snake_Dmg_01_A_0042_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,670},{184,147}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{184,147}}</string>
			<key>sourceSize</key>
			<string>{184,153}</string>
		</dict>
		<key>Snake_Dmg_01_A_0044_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,814},{196,157}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,157}}</string>
			<key>sourceSize</key>
			<string>{196,159}</string>
		</dict>
		<key>Snake_Dmg_01_A_0046_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,814},{205,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{205,157}}</string>
			<key>sourceSize</key>
			<string>{205,159}</string>
		</dict>
		<key>Snake_Dmg_01_A_0048_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,506},{216,159}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,159}}</string>
			<key>sourceSize</key>
			<string>{216,161}</string>
		</dict>
		<key>Snake_Dmg_01_A_0050_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,670},{225,164}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{225,164}}</string>
			<key>sourceSize</key>
			<string>{225,166}</string>
		</dict>
		<key>Snake_Dmg_01_A_0052_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,670},{232,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232,162}}</string>
			<key>sourceSize</key>
			<string>{232,162}</string>
		</dict>
		<key>Snake_Dmg_01_A_0054_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,341},{237,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{237,163}}</string>
			<key>sourceSize</key>
			<string>{237,163}</string>
		</dict>
		<key>Snake_Dmg_01_A_0056_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,341},{239,163}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{239,163}}</string>
			<key>sourceSize</key>
			<string>{239,167}</string>
		</dict>
		<key>Snake_Dmg_01_A_0058_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,340},{241,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{241,163}}</string>
			<key>sourceSize</key>
			<string>{241,171}</string>
		</dict>
		<key>Snake_Dmg_01_A_0060_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,172},{241,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,167}}</string>
			<key>sourceSize</key>
			<string>{241,167}</string>
		</dict>
		<key>Snake_Dmg_01_A_0062_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,171},{241,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,167}}</string>
			<key>sourceSize</key>
			<string>{241,167}</string>
		</dict>
		<key>Snake_Dmg_01_A_0064_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{731,2},{241,167}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{241,167}}</string>
			<key>sourceSize</key>
			<string>{241,171}</string>
		</dict>
		<key>Snake_Dmg_01_A_0066_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,2},{241,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,168}}</string>
			<key>sourceSize</key>
			<string>{241,168}</string>
		</dict>
		<key>Snake_Dmg_01_A_0068_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{241,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,169}}</string>
			<key>sourceSize</key>
			<string>{241,169}</string>
		</dict>
		<key>Snake_Dmg_01_A_0070_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{731,171},{241,166}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,166}}</string>
			<key>sourceSize</key>
			<string>{241,168}</string>
		</dict>
		<key>Snake_Dmg_01_A_0072_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,2},{241,167}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,167}}</string>
			<key>sourceSize</key>
			<string>{241,169}</string>
		</dict>
		<key>Snake_Dmg_01_A_0074_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{731,339},{241,165}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,165}}</string>
			<key>sourceSize</key>
			<string>{241,169}</string>
		</dict>
		<key>Snake_Dmg_01_A_0076_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,173},{241,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,166}}</string>
			<key>sourceSize</key>
			<string>{241,166}</string>
		</dict>
		<key>Snake_Dmg_01_A_0078_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,505},{237,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{237,160}}</string>
			<key>sourceSize</key>
			<string>{237,164}</string>
		</dict>
		<key>Snake_Dmg_01_A_0080_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{721,506},{232,162}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{232,162}}</string>
			<key>sourceSize</key>
			<string>{234,162}</string>
		</dict>
		<key>Snake_Dmg_01_A_0082_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,670},{227,154}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,4},{227,154}}</string>
			<key>sourceSize</key>
			<string>{229,162}</string>
		</dict>
		<key>Snake_Dmg_01_A_0084_SnakeDmgDown01image.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,667},{214,145}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,8},{214,145}}</string>
			<key>sourceSize</key>
			<string>{226,157}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>SnakeDmgDown01image.png</string>
		<key>scale</key>
		<real>0.62</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>SnakeDmgDown01image.png</string>
	</dict>
</dict>
</plist>
