<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_huodong_xnnkt_anniu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,639},{219,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{219,65}}</string>
			<key>sourceSize</key>
			<string>{221,67}</string>
		</dict>
		<key>btn_huodong_xnnkt_anniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,537},{240,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,67}}</string>
			<key>sourceSize</key>
			<string>{240,67}</string>
		</dict>
		<key>pic_huodong_xnnkt_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{901,533}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{901,533}}</string>
			<key>sourceSize</key>
			<string>{901,533}</string>
		</dict>
		<key>pic_huodong_xnnkt_xialatiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,606},{5,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,7}}</string>
			<key>sourceSize</key>
			<string>{5,7}</string>
		</dict>
		<key>pic_huodong_xnnkt_xialatiaodi.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,615},{2,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,7}}</string>
			<key>sourceSize</key>
			<string>{2,7}</string>
		</dict>
		<key>pic_huodong_xnnkt_xiaonana.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,537},{168,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,180}}</string>
			<key>sourceSize</key>
			<string>{168,180}</string>
		</dict>
		<key>pic_huodong_xnnkt_xiaonana_touxiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,537},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>EncourageUi0.png</string>
		<key>size</key>
		<string>{905,707}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>EncourageUi0.png</string>
	</dict>
</dict>
</plist>
