<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ylsb_skill2_up_00013_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{920,864},{39,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,53}}</string>
			<key>sourceSize</key>
			<string>{39,53}</string>
		</dict>
		<key>ylsb_skill2_up_00014_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{863,895},{38,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{38,53}}</string>
			<key>sourceSize</key>
			<string>{40,53}</string>
		</dict>
		<key>ylsb_skill2_up_00015_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{683,837},{39,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,52}}</string>
			<key>sourceSize</key>
			<string>{39,52}</string>
		</dict>
		<key>ylsb_skill2_up_00016_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,821},{41,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,55}}</string>
			<key>sourceSize</key>
			<string>{41,55}</string>
		</dict>
		<key>ylsb_skill2_up_00017_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,863},{41,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{41,53}}</string>
			<key>sourceSize</key>
			<string>{41,55}</string>
		</dict>
		<key>ylsb_skill2_up_00018_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{814,775},{42,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,55}}</string>
			<key>sourceSize</key>
			<string>{42,55}</string>
		</dict>
		<key>ylsb_skill2_up_00019_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{695,792},{43,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,55}}</string>
			<key>sourceSize</key>
			<string>{43,55}</string>
		</dict>
		<key>ylsb_skill2_up_00020_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{752,819},{43,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,54}}</string>
			<key>sourceSize</key>
			<string>{43,54}</string>
		</dict>
		<key>ylsb_skill2_up_00021_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,905},{44,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,52}}</string>
			<key>sourceSize</key>
			<string>{44,52}</string>
		</dict>
		<key>ylsb_skill2_up_00022_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{725,955},{45,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,43}}</string>
			<key>sourceSize</key>
			<string>{45,43}</string>
		</dict>
		<key>ylsb_skill2_up_00023_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{975,864},{46,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,44}}</string>
			<key>sourceSize</key>
			<string>{46,44}</string>
		</dict>
		<key>ylsb_skill2_up_00024_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{972,910},{46,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,43}}</string>
			<key>sourceSize</key>
			<string>{46,43}</string>
		</dict>
		<key>ylsb_skill2_up_00025_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{971,46},{47,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,44}}</string>
			<key>sourceSize</key>
			<string>{47,44}</string>
		</dict>
		<key>ylsb_skill2_up_00026_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{971,92},{47,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,43}}</string>
			<key>sourceSize</key>
			<string>{47,43}</string>
		</dict>
		<key>ylsb_skill2_up_00027_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{862,935},{45,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,42}}</string>
			<key>sourceSize</key>
			<string>{45,42}</string>
		</dict>
		<key>ylsb_skill2_up_00028_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{815,906},{45,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,42}}</string>
			<key>sourceSize</key>
			<string>{45,42}</string>
		</dict>
		<key>ylsb_skill2_up_00029_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{771,906},{45,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,42}}</string>
			<key>sourceSize</key>
			<string>{45,42}</string>
		</dict>
		<key>ylsb_skill2_up_00030_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{770,955},{45,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,42}}</string>
			<key>sourceSize</key>
			<string>{45,42}</string>
		</dict>
		<key>ylsb_skill2_up_00031_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,906},{45,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,44}}</string>
			<key>sourceSize</key>
			<string>{45,44}</string>
		</dict>
		<key>ylsb_skill2_up_00032_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,906},{45,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,43}}</string>
			<key>sourceSize</key>
			<string>{45,43}</string>
		</dict>
		<key>ylsb_skill2_up_00033_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,864},{45,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,40}}</string>
			<key>sourceSize</key>
			<string>{45,40}</string>
		</dict>
		<key>ylsb_skill2_up_00034_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{857,979},{44,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{44,38}}</string>
			<key>sourceSize</key>
			<string>{44,40}</string>
		</dict>
		<key>ylsb_skill2_up_00035_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,864},{44,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,39}}</string>
			<key>sourceSize</key>
			<string>{44,39}</string>
		</dict>
		<key>ylsb_skill2_up_00036_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{814,979},{43,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,41}}</string>
			<key>sourceSize</key>
			<string>{43,41}</string>
		</dict>
		<key>ylsb_skill2_up_00037_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{680,955},{43,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,45}}</string>
			<key>sourceSize</key>
			<string>{43,45}</string>
		</dict>
		<key>ylsb_skill2_up_00038_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{727,906},{42,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{42,45}}</string>
			<key>sourceSize</key>
			<string>{42,47}</string>
		</dict>
		<key>ylsb_skill2_up_00039_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{971,2},{42,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,49}}</string>
			<key>sourceSize</key>
			<string>{42,49}</string>
		</dict>
		<key>ylsb_skill2_up_00040_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,955},{42,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,52}}</string>
			<key>sourceSize</key>
			<string>{42,52}</string>
		</dict>
		<key>ylsb_skill2_up_00041_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{864,851},{42,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,54}}</string>
			<key>sourceSize</key>
			<string>{42,54}</string>
		</dict>
		<key>ylsb_skill2_up_00042_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,819},{42,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,54}}</string>
			<key>sourceSize</key>
			<string>{42,54}</string>
		</dict>
		<key>ylsb_skill2_up_00043_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,808},{41,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,55}}</string>
			<key>sourceSize</key>
			<string>{41,55}</string>
		</dict>
		<key>ylsb_skill2_up_00044_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{755,775},{42,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,57}}</string>
			<key>sourceSize</key>
			<string>{42,57}</string>
		</dict>
		<key>ylsb_skill2_up_00045_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,744},{43,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,58}}</string>
			<key>sourceSize</key>
			<string>{43,58}</string>
		</dict>
		<key>ylsb_skill2_up_00046_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,762},{44,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,59}}</string>
			<key>sourceSize</key>
			<string>{44,59}</string>
		</dict>
		<key>ylsb_skill2_up_00047_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{957,776},{43,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{43,58}}</string>
			<key>sourceSize</key>
			<string>{45,60}</string>
		</dict>
		<key>ylsb_skill2_up_00048_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{651,696},{46,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,60}}</string>
			<key>sourceSize</key>
			<string>{46,60}</string>
		</dict>
		<key>ylsb_skill2_up_00049_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{976,714},{46,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,60}}</string>
			<key>sourceSize</key>
			<string>{46,60}</string>
		</dict>
		<key>ylsb_skill2_up_00050_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,727},{46,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,59}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>ylsb_skill2_up_00051_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,714},{46,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,60}}</string>
			<key>sourceSize</key>
			<string>{46,60}</string>
		</dict>
		<key>ylsb_skill2_up_00052_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{852,679},{46,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,60}}</string>
			<key>sourceSize</key>
			<string>{46,60}</string>
		</dict>
		<key>ylsb_skill2_up_00053_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{790,679},{46,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,60}}</string>
			<key>sourceSize</key>
			<string>{46,60}</string>
		</dict>
		<key>ylsb_skill2_up_00054_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{930,666},{46,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,60}}</string>
			<key>sourceSize</key>
			<string>{46,60}</string>
		</dict>
		<key>ylsb_skill2_up_00055_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{774,727},{46,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,59}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>ylsb_skill2_up_00056_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{713,696},{46,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,59}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>ylsb_skill2_up_00057_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,789},{46,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,57}}</string>
			<key>sourceSize</key>
			<string>{46,57}</string>
		</dict>
		<key>ylsb_skill2_up_00058_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{696,744},{46,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,57}}</string>
			<key>sourceSize</key>
			<string>{46,57}</string>
		</dict>
		<key>ylsb_skill2_up_00059_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{971,137},{46,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,114}}</string>
			<key>sourceSize</key>
			<string>{46,114}</string>
		</dict>
		<key>ylsb_skill2_up_00060_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{97,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{97,144}}</string>
			<key>sourceSize</key>
			<string>{99,144}</string>
		</dict>
		<key>ylsb_skill2_up_00061_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,148},{88,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,140}}</string>
			<key>sourceSize</key>
			<string>{88,140}</string>
		</dict>
		<key>ylsb_skill2_up_00062_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{791,599},{78,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,137}}</string>
			<key>sourceSize</key>
			<string>{78,137}</string>
		</dict>
		<key>ylsb_skill2_up_00063_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{670,427},{67,133}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,133}}</string>
			<key>sourceSize</key>
			<string>{67,135}</string>
		</dict>
		<key>ylsb_skill2_up_00064_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{670,496},{65,133}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{65,133}}</string>
			<key>sourceSize</key>
			<string>{67,133}</string>
		</dict>
		<key>ylsb_skill2_up_00065_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{945,530},{69,134}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{69,134}}</string>
			<key>sourceSize</key>
			<string>{71,134}</string>
		</dict>
		<key>ylsb_skill2_up_00066_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{731,282},{72,136}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{72,136}}</string>
			<key>sourceSize</key>
			<string>{74,136}</string>
		</dict>
		<key>ylsb_skill2_up_00067_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{945,392},{74,136}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{74,136}}</string>
			<key>sourceSize</key>
			<string>{76,136}</string>
		</dict>
		<key>ylsb_skill2_up_00068_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{946,253},{76,137}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{76,137}}</string>
			<key>sourceSize</key>
			<string>{78,137}</string>
		</dict>
		<key>ylsb_skill2_up_00069_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{831,2},{77,138}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{77,138}}</string>
			<key>sourceSize</key>
			<string>{79,138}</string>
		</dict>
		<key>ylsb_skill2_up_00070_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{831,81},{76,138}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{76,138}}</string>
			<key>sourceSize</key>
			<string>{80,138}</string>
		</dict>
		<key>ylsb_skill2_up_00071_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{652,286},{77,139}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{77,139}}</string>
			<key>sourceSize</key>
			<string>{81,139}</string>
		</dict>
		<key>ylsb_skill2_up_00072_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{590,428},{78,139}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{78,139}}</string>
			<key>sourceSize</key>
			<string>{82,139}</string>
		</dict>
		<key>ylsb_skill2_up_00073_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,574},{80,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,140}}</string>
			<key>sourceSize</key>
			<string>{80,140}</string>
		</dict>
		<key>ylsb_skill2_up_00074_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,432},{80,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,140}}</string>
			<key>sourceSize</key>
			<string>{80,140}</string>
		</dict>
		<key>ylsb_skill2_up_00075_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,290},{81,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,140}}</string>
			<key>sourceSize</key>
			<string>{81,140}</string>
		</dict>
		<key>ylsb_skill2_up_00076_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{723,142},{81,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,138}}</string>
			<key>sourceSize</key>
			<string>{81,138}</string>
		</dict>
		<key>ylsb_skill2_up_00077_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{667,2},{81,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,138}}</string>
			<key>sourceSize</key>
			<string>{81,138}</string>
		</dict>
		<key>ylsb_skill2_up_00078_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,2},{79,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{79,138}}</string>
			<key>sourceSize</key>
			<string>{81,138}</string>
		</dict>
		<key>ylsb_skill2_up_00079_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,159},{62,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,138}}</string>
			<key>sourceSize</key>
			<string>{62,138}</string>
		</dict>
		<key>ylsb_skill2_up_00080_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{651,631},{63,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{63,137}}</string>
			<key>sourceSize</key>
			<string>{63,139}</string>
		</dict>
		<key>ylsb_skill2_up_00081_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{659,144},{62,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,139}}</string>
			<key>sourceSize</key>
			<string>{62,139}</string>
		</dict>
		<key>ylsb_skill2_up_00082_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{805,412},{61,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,138}}</string>
			<key>sourceSize</key>
			<string>{61,138}</string>
		</dict>
		<key>ylsb_skill2_up_00083_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{805,349},{61,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,138}}</string>
			<key>sourceSize</key>
			<string>{61,138}</string>
		</dict>
		<key>ylsb_skill2_up_00084_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{805,286},{61,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,138}}</string>
			<key>sourceSize</key>
			<string>{61,138}</string>
		</dict>
		<key>ylsb_skill2_up_00085_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{651,569},{60,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,138}}</string>
			<key>sourceSize</key>
			<string>{60,138}</string>
		</dict>
		<key>ylsb_skill2_up_00086_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{805,537},{60,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,138}}</string>
			<key>sourceSize</key>
			<string>{60,138}</string>
		</dict>
		<key>ylsb_skill2_up_00087_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{805,475},{60,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,138}}</string>
			<key>sourceSize</key>
			<string>{60,138}</string>
		</dict>
		<key>ylsb_skill2_up_00088_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,223},{61,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,138}}</string>
			<key>sourceSize</key>
			<string>{61,138}</string>
		</dict>
		<key>ylsb_skill2_up_00089_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,144},{62,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{62,140}}</string>
			<key>sourceSize</key>
			<string>{62,142}</string>
		</dict>
		<key>ylsb_skill2_up_00090_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,286},{62,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{62,140}}</string>
			<key>sourceSize</key>
			<string>{62,142}</string>
		</dict>
		<key>ylsb_skill2_up_00091_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{465,428},{61,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{61,140}}</string>
			<key>sourceSize</key>
			<string>{61,142}</string>
		</dict>
		<key>ylsb_skill2_up_00092_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{605,2},{60,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{60,140}}</string>
			<key>sourceSize</key>
			<string>{60,142}</string>
		</dict>
		<key>ylsb_skill2_up_00093_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{449,854},{61,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{61,140}}</string>
			<key>sourceSize</key>
			<string>{61,142}</string>
		</dict>
		<key>ylsb_skill2_up_00094_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,574},{62,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{62,140}}</string>
			<key>sourceSize</key>
			<string>{62,142}</string>
		</dict>
		<key>ylsb_skill2_up_00095_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,858},{63,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{63,140}}</string>
			<key>sourceSize</key>
			<string>{63,142}</string>
		</dict>
		<key>ylsb_skill2_up_00096_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,432},{62,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{62,140}}</string>
			<key>sourceSize</key>
			<string>{62,142}</string>
		</dict>
		<key>ylsb_skill2_up_00097_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{449,712},{61,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{61,140}}</string>
			<key>sourceSize</key>
			<string>{61,142}</string>
		</dict>
		<key>ylsb_skill2_up_00098_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,570},{61,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{61,140}}</string>
			<key>sourceSize</key>
			<string>{61,142}</string>
		</dict>
		<key>ylsb_skill2_up_00099_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{418,2},{61,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{61,140}}</string>
			<key>sourceSize</key>
			<string>{61,142}</string>
		</dict>
		<key>ylsb_skill2_up_00100_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{597,144},{60,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{60,140}}</string>
			<key>sourceSize</key>
			<string>{60,142}</string>
		</dict>
		<key>ylsb_skill2_up_00101_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{590,286},{60,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{60,140}}</string>
			<key>sourceSize</key>
			<string>{60,142}</string>
		</dict>
		<key>ylsb_skill2_up_00102_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{574,854},{60,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{60,140}}</string>
			<key>sourceSize</key>
			<string>{60,142}</string>
		</dict>
		<key>ylsb_skill2_up_00103_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,144},{61,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{61,140}}</string>
			<key>sourceSize</key>
			<string>{61,142}</string>
		</dict>
		<key>ylsb_skill2_up_00104_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,858},{62,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{62,140}}</string>
			<key>sourceSize</key>
			<string>{62,142}</string>
		</dict>
		<key>ylsb_skill2_up_00105_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,716},{62,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{62,140}}</string>
			<key>sourceSize</key>
			<string>{62,142}</string>
		</dict>
		<key>ylsb_skill2_up_00106_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,286},{61,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{61,140}}</string>
			<key>sourceSize</key>
			<string>{61,142}</string>
		</dict>
		<key>ylsb_skill2_up_00107_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{589,570},{60,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{60,140}}</string>
			<key>sourceSize</key>
			<string>{60,142}</string>
		</dict>
		<key>ylsb_skill2_up_00108_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,428},{61,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{61,140}}</string>
			<key>sourceSize</key>
			<string>{61,142}</string>
		</dict>
		<key>ylsb_skill2_up_00109_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,2},{62,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{62,140}}</string>
			<key>sourceSize</key>
			<string>{62,142}</string>
		</dict>
		<key>ylsb_skill2_up_00110_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,716},{63,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{63,140}}</string>
			<key>sourceSize</key>
			<string>{63,142}</string>
		</dict>
		<key>ylsb_skill2_up_00111_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,144},{62,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{62,140}}</string>
			<key>sourceSize</key>
			<string>{62,142}</string>
		</dict>
		<key>ylsb_skill2_up_00112_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,854},{61,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{61,140}}</string>
			<key>sourceSize</key>
			<string>{61,142}</string>
		</dict>
		<key>ylsb_skill2_up_00113_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,712},{61,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{61,140}}</string>
			<key>sourceSize</key>
			<string>{61,142}</string>
		</dict>
		<key>ylsb_skill2_up_00114_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,570},{61,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{61,140}}</string>
			<key>sourceSize</key>
			<string>{61,142}</string>
		</dict>
		<key>ylsb_skill2_up_00115_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{574,712},{60,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{60,140}}</string>
			<key>sourceSize</key>
			<string>{60,142}</string>
		</dict>
		<key>ylsb_skill2_up_00116_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{528,428},{60,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{60,140}}</string>
			<key>sourceSize</key>
			<string>{60,142}</string>
		</dict>
		<key>ylsb_skill2_up_00117_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{543,2},{60,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{60,140}}</string>
			<key>sourceSize</key>
			<string>{60,142}</string>
		</dict>
		<key>ylsb_skill2_up_00118_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{355,2},{61,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{61,140}}</string>
			<key>sourceSize</key>
			<string>{61,142}</string>
		</dict>
		<key>ylsb_skill2_up_00119_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,574},{62,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{62,140}}</string>
			<key>sourceSize</key>
			<string>{62,142}</string>
		</dict>
		<key>ylsb_skill2_up_00120_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,290},{62,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{62,140}}</string>
			<key>sourceSize</key>
			<string>{62,142}</string>
		</dict>
		<key>ylsb_skill2_up_00121_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,144},{61,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{61,140}}</string>
			<key>sourceSize</key>
			<string>{61,142}</string>
		</dict>
		<key>ylsb_skill2_up_00122_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{535,144},{60,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{60,140}}</string>
			<key>sourceSize</key>
			<string>{60,142}</string>
		</dict>
		<key>ylsb_skill2_up_00123_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,286},{61,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{61,140}}</string>
			<key>sourceSize</key>
			<string>{61,142}</string>
		</dict>
		<key>ylsb_skill2_up_00124_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,432},{62,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{62,140}}</string>
			<key>sourceSize</key>
			<string>{62,142}</string>
		</dict>
		<key>ylsb_skill2_up_00125_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,858},{63,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{63,140}}</string>
			<key>sourceSize</key>
			<string>{63,142}</string>
		</dict>
		<key>ylsb_skill2_up_00126_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,858},{62,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{62,140}}</string>
			<key>sourceSize</key>
			<string>{62,142}</string>
		</dict>
		<key>ylsb_skill2_up_00127_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,428},{61,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{61,140}}</string>
			<key>sourceSize</key>
			<string>{61,142}</string>
		</dict>
		<key>ylsb_skill2_up_00128_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{323,854},{61,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{61,140}}</string>
			<key>sourceSize</key>
			<string>{61,142}</string>
		</dict>
		<key>ylsb_skill2_up_00129_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{323,712},{61,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{61,140}}</string>
			<key>sourceSize</key>
			<string>{61,142}</string>
		</dict>
		<key>ylsb_skill2_up_00130_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{528,286},{60,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{60,140}}</string>
			<key>sourceSize</key>
			<string>{60,142}</string>
		</dict>
		<key>ylsb_skill2_up_00131_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{512,854},{60,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{60,140}}</string>
			<key>sourceSize</key>
			<string>{60,142}</string>
		</dict>
		<key>ylsb_skill2_up_00132_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{527,570},{60,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{60,140}}</string>
			<key>sourceSize</key>
			<string>{60,142}</string>
		</dict>
		<key>ylsb_skill2_up_00133_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,570},{61,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{61,140}}</string>
			<key>sourceSize</key>
			<string>{61,142}</string>
		</dict>
		<key>ylsb_skill2_up_00134_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,716},{62,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{62,140}}</string>
			<key>sourceSize</key>
			<string>{62,142}</string>
		</dict>
		<key>ylsb_skill2_up_00135_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,2},{62,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{62,140}}</string>
			<key>sourceSize</key>
			<string>{62,142}</string>
		</dict>
		<key>ylsb_skill2_up_00136_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,2},{61,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{61,140}}</string>
			<key>sourceSize</key>
			<string>{61,142}</string>
		</dict>
		<key>ylsb_skill2_up_00137_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{512,712},{60,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{60,140}}</string>
			<key>sourceSize</key>
			<string>{60,142}</string>
		</dict>
		<key>ylsb_skill2_up_00138_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,144},{61,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{61,140}}</string>
			<key>sourceSize</key>
			<string>{61,142}</string>
		</dict>
		<key>ylsb_skill2_up_00139_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,574},{62,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{62,140}}</string>
			<key>sourceSize</key>
			<string>{62,142}</string>
		</dict>
		<key>ylsb_skill2_up_00140_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,716},{63,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{63,140}}</string>
			<key>sourceSize</key>
			<string>{63,142}</string>
		</dict>
		<key>ylsb_skill2_up_00141_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,148},{62,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{62,140}}</string>
			<key>sourceSize</key>
			<string>{62,142}</string>
		</dict>
		<key>ylsb_skill2_up_00142_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,286},{61,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{61,140}}</string>
			<key>sourceSize</key>
			<string>{61,142}</string>
		</dict>
		<key>ylsb_skill2_up_00143_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,428},{61,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{61,140}}</string>
			<key>sourceSize</key>
			<string>{61,142}</string>
		</dict>
		<key>ylsb_skill2_up_00144_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,858},{61,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{61,140}}</string>
			<key>sourceSize</key>
			<string>{61,142}</string>
		</dict>
		<key>ylsb_skill2_up_00145_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{465,570},{60,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{60,140}}</string>
			<key>sourceSize</key>
			<string>{60,142}</string>
		</dict>
		<key>ylsb_skill2_up_00146_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,2},{60,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{60,140}}</string>
			<key>sourceSize</key>
			<string>{60,142}</string>
		</dict>
		<key>ylsb_skill2_up_00147_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,144},{60,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{60,140}}</string>
			<key>sourceSize</key>
			<string>{60,142}</string>
		</dict>
		<key>ylsb_skill2_up_00148_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,716},{61,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{61,140}}</string>
			<key>sourceSize</key>
			<string>{61,142}</string>
		</dict>
		<key>ylsb_skill2_up_00149_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,290},{62,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{62,140}}</string>
			<key>sourceSize</key>
			<string>{62,142}</string>
		</dict>
		<key>ylsb_skill2_up_00150_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,432},{62,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{62,140}}</string>
			<key>sourceSize</key>
			<string>{62,142}</string>
		</dict>
		<key>ylsb_skill2_up_00151_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,2},{61,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{61,140}}</string>
			<key>sourceSize</key>
			<string>{61,142}</string>
		</dict>
		<key>ylsb_skill2_up_00152_lianshabaibishateshangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{466,286},{60,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{60,140}}</string>
			<key>sourceSize</key>
			<string>{60,142}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>lianshabaibishateshangimage.png</string>
		<key>scale</key>
		<real>0.51</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lianshabaibishateshangimage.png</string>
	</dict>
</dict>
</plist>
