<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Title_Billboards_winterscene.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,606},{165,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,36}}</string>
			<key>sourceSize</key>
			<string>{165,36}</string>
		</dict>
		<key>Title_CandyCrush_winterscene.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,735},{165,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,36}}</string>
			<key>sourceSize</key>
			<string>{165,36}</string>
		</dict>
		<key>Title_Christmastree_winterscene.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,697},{165,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,36}}</string>
			<key>sourceSize</key>
			<string>{165,36}</string>
		</dict>
		<key>Title_Joycreat_winterscene.png</key>
		<dict>
			<key>frame</key>
			<string>{{725,644},{164,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,36}}</string>
			<key>sourceSize</key>
			<string>{164,36}</string>
		</dict>
		<key>Unlock_winterscene.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,825},{165,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,36}}</string>
			<key>sourceSize</key>
			<string>{165,36}</string>
		</dict>
		<key>bg_zhizaoji_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{871,597}}</string>
			<key>offset</key>
			<string>{11,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,8},{871,597}}</string>
			<key>sourceSize</key>
			<string>{893,605}</string>
		</dict>
		<key>btn_candy_gmtg_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{665,763},{64,89}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,0},{64,89}}</string>
			<key>sourceSize</key>
			<string>{84,89}</string>
		</dict>
		<key>btn_candy_gmtg_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{648,697},{64,89}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,0},{64,89}}</string>
			<key>sourceSize</key>
			<string>{84,89}</string>
		</dict>
		<key>btn_candy_wanfashuomign_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{957,659},{45,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,62}}</string>
			<key>sourceSize</key>
			<string>{45,62}</string>
		</dict>
		<key>btn_candy_wanfashuoming_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{795,822},{45,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,62}}</string>
			<key>sourceSize</key>
			<string>{45,62}</string>
		</dict>
		<key>btn_candy_wanjiapeifang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{731,822},{45,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,62}}</string>
			<key>sourceSize</key>
			<string>{45,62}</string>
		</dict>
		<key>btn_candy_wanjiapeifang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{731,822},{45,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,62}}</string>
			<key>sourceSize</key>
			<string>{45,62}</string>
		</dict>
		<key>btn_dongmujie_wanjia_guan.png</key>
		<dict>
			<key>frame</key>
			<string>{{957,723},{52,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>btn_dongmujie_wanjia_kai.png</key>
		<dict>
			<key>frame</key>
			<string>{{934,441},{52,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>btn_shezhi_dongmujie_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,777},{53,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,51}}</string>
			<key>sourceSize</key>
			<string>{53,51}</string>
		</dict>
		<key>btn_shezhi_dongmujie_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{959,606},{53,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,51}}</string>
			<key>sourceSize</key>
			<string>{53,51}</string>
		</dict>
		<key>pic_candy_kaishizhizuo.png</key>
		<dict>
			<key>frame</key>
			<string>{{892,644},{94,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,0},{94,41}}</string>
			<key>sourceSize</key>
			<string>{152,41}</string>
		</dict>
		<key>pic_candy_liwudan.png</key>
		<dict>
			<key>frame</key>
			<string>{{935,644},{20,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,94}}</string>
			<key>sourceSize</key>
			<string>{20,94}</string>
		</dict>
		<key>pic_candy_shuliandu.png</key>
		<dict>
			<key>frame</key>
			<string>{{534,773},{129,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,74}}</string>
			<key>sourceSize</key>
			<string>{129,74}</string>
		</dict>
		<key>pic_candy_tangguopaidui.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,2},{250,77}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{250,77}}</string>
			<key>sourceSize</key>
			<string>{254,77}</string>
		</dict>
		<key>pic_candy_yilingqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{892,740},{56,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,56}}</string>
			<key>sourceSize</key>
			<string>{56,56}</string>
		</dict>
		<key>pic_dongmujie_gonggao_jieshu.png</key>
		<dict>
			<key>frame</key>
			<string>{{739,727},{151,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,43}}</string>
			<key>sourceSize</key>
			<string>{151,43}</string>
		</dict>
		<key>pic_dongmujie_gonggao_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{518,601},{272,35}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,18},{272,35}}</string>
			<key>sourceSize</key>
			<string>{272,73}</string>
		</dict>
		<key>pic_dongmujie_gonggao_yugao.png</key>
		<dict>
			<key>frame</key>
			<string>{{739,682},{151,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,43}}</string>
			<key>sourceSize</key>
			<string>{151,43}</string>
		</dict>
		<key>pic_dongmujie_taitou.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,681},{234,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{234,83}}</string>
			<key>sourceSize</key>
			<string>{234,83}</string>
		</dict>
		<key>pic_dongmujie_yincang_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{731,772},{149,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{149,24}}</string>
			<key>sourceSize</key>
			<string>{149,26}</string>
		</dict>
		<key>pic_liwuka_dierzhou.png</key>
		<dict>
			<key>frame</key>
			<string>{{880,822},{49,19}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{49,19}}</string>
			<key>sourceSize</key>
			<string>{49,21}</string>
		</dict>
		<key>pic_liwuka_diliuzhou.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,847},{49,19}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{49,19}}</string>
			<key>sourceSize</key>
			<string>{49,21}</string>
		</dict>
		<key>pic_liwuka_diqizhou.png</key>
		<dict>
			<key>frame</key>
			<string>{{993,398},{49,19}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{49,19}}</string>
			<key>sourceSize</key>
			<string>{49,21}</string>
		</dict>
		<key>pic_liwuka_disanzhou.png</key>
		<dict>
			<key>frame</key>
			<string>{{993,347},{49,19}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{49,19}}</string>
			<key>sourceSize</key>
			<string>{49,21}</string>
		</dict>
		<key>pic_liwuka_disizhou.png</key>
		<dict>
			<key>frame</key>
			<string>{{993,296},{49,19}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{49,19}}</string>
			<key>sourceSize</key>
			<string>{49,21}</string>
		</dict>
		<key>pic_liwuka_diwuzhou.png</key>
		<dict>
			<key>frame</key>
			<string>{{993,245},{49,19}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{49,19}}</string>
			<key>sourceSize</key>
			<string>{49,21}</string>
		</dict>
		<key>pic_liwuka_diyizhou.png</key>
		<dict>
			<key>frame</key>
			<string>{{859,822},{45,19}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{45,19}}</string>
			<key>sourceSize</key>
			<string>{49,21}</string>
		</dict>
		<key>pic_liwuka_yilingqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,497},{107,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,107}}</string>
			<key>sourceSize</key>
			<string>{107,107}</string>
		</dict>
		<key>pic_liwuka_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,601},{514,78}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{514,78}}</string>
			<key>sourceSize</key>
			<string>{522,82}</string>
		</dict>
		<key>pic_stregthen_shengdanshu.png</key>
		<dict>
			<key>frame</key>
			<string>{{984,495},{103,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,22}}</string>
			<key>sourceSize</key>
			<string>{103,22}</string>
		</dict>
		<key>pic_stregthen_tangguopaidui.png</key>
		<dict>
			<key>frame</key>
			<string>{{731,798},{120,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,22}}</string>
			<key>sourceSize</key>
			<string>{120,22}</string>
		</dict>
		<key>pic_stregthen_zhuxian_winter.png</key>
		<dict>
			<key>frame</key>
			<string>{{853,798},{56,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,22}}</string>
			<key>sourceSize</key>
			<string>{56,22}</string>
		</dict>
		<key>pic_xnfcj_dm.png</key>
		<dict>
			<key>frame</key>
			<string>{{934,254},{185,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,57}}</string>
			<key>sourceSize</key>
			<string>{185,57}</string>
		</dict>
		<key>pic_xnfcj_ggb.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,799},{185,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,57}}</string>
			<key>sourceSize</key>
			<string>{185,57}</string>
		</dict>
		<key>pic_xnfcj_hlzzj.png</key>
		<dict>
			<key>frame</key>
			<string>{{518,638},{205,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,57}}</string>
			<key>sourceSize</key>
			<string>{205,57}</string>
		</dict>
		<key>pic_xnfcj_jqqd.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,766},{241,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,57}}</string>
			<key>sourceSize</key>
			<string>{241,57}</string>
		</dict>
		<key>pic_xnfcj_qhjc.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,681},{241,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,57}}</string>
			<key>sourceSize</key>
			<string>{241,57}</string>
		</dict>
		<key>pic_xnfcj_sds.png</key>
		<dict>
			<key>frame</key>
			<string>{{954,2},{241,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,57}}</string>
			<key>sourceSize</key>
			<string>{241,57}</string>
		</dict>
		<key>pic_xnfcj_tgpd.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,254},{241,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,57}}</string>
			<key>sourceSize</key>
			<string>{241,57}</string>
		</dict>
		<key>pic_xnfcj_xyqq.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,740},{185,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,57}}</string>
			<key>sourceSize</key>
			<string>{185,57}</string>
		</dict>
		<key>pic_zhizaoji_yongyou.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,825},{60,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,20}}</string>
			<key>sourceSize</key>
			<string>{60,20}</string>
		</dict>
		<key>wintersBuff.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,773},{100,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{100,94}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_wintersDayMainScene0.png</string>
		<key>size</key>
		<string>{1014,869}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_wintersDayMainScene0.png</string>
	</dict>
</dict>
</plist>
