<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>jiantou_tengxunjingxiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,141},{17,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,26}}</string>
			<key>sourceSize</key>
			<string>{17,26}</string>
		</dict>
		<key>mask01_tengxunjingxiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,171},{205,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,60}}</string>
			<key>sourceSize</key>
			<string>{205,60}</string>
		</dict>
		<key>mask02_tengxunjingxiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,366},{137,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,39}}</string>
			<key>sourceSize</key>
			<string>{137,39}</string>
		</dict>
		<key>mask03_tengxunjingxiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,171},{279,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{279,40}}</string>
			<key>sourceSize</key>
			<string>{279,40}</string>
		</dict>
		<key>wy_12_12_53532_tengxunjingxiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,287},{35,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,35}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>wy_13_13_342_tengxunjingxiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,226},{48,59}}</string>
			<key>offset</key>
			<string>{-11,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,11},{48,59}}</string>
			<key>sourceSize</key>
			<string>{74,73}</string>
		</dict>
		<key>wy_14_14_91158_tengxunjingxiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,2},{30,67}}</string>
			<key>offset</key>
			<string>{-21,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,3},{30,67}}</string>
			<key>sourceSize</key>
			<string>{74,73}</string>
		</dict>
		<key>wy_15_15_5847_tengxunjingxiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,378},{42,65}}</string>
			<key>offset</key>
			<string>{-14,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{42,65}}</string>
			<key>sourceSize</key>
			<string>{74,73}</string>
		</dict>
		<key>wy_16_16_43867_tengxunjingxiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,442},{60,47}}</string>
			<key>offset</key>
			<string>{-5,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,3},{60,47}}</string>
			<key>sourceSize</key>
			<string>{74,73}</string>
		</dict>
		<key>wy_17_17_95185_tengxunjingxiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,110},{66,29}}</string>
			<key>offset</key>
			<string>{-1,19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{66,29}}</string>
			<key>sourceSize</key>
			<string>{74,73}</string>
		</dict>
		<key>wy_18_18_80503_tengxunjingxiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,378},{62,45}}</string>
			<key>offset</key>
			<string>{1,11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,3},{62,45}}</string>
			<key>sourceSize</key>
			<string>{74,73}</string>
		</dict>
		<key>wy_19_19_73309_tengxunjingxiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,171},{54,53}}</string>
			<key>offset</key>
			<string>{5,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,4},{54,53}}</string>
			<key>sourceSize</key>
			<string>{74,73}</string>
		</dict>
		<key>wy_1_1_35861_tengxunjingxiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,171},{193,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,178}}</string>
			<key>sourceSize</key>
			<string>{193,178}</string>
		</dict>
		<key>wy_20_20_15583_tengxunjingxiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,135},{34,65}}</string>
			<key>offset</key>
			<string>{14,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{34,5},{34,65}}</string>
			<key>sourceSize</key>
			<string>{74,73}</string>
		</dict>
		<key>wy_21_21_65774_tengxunjingxiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,445},{38,65}}</string>
			<key>offset</key>
			<string>{12,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,5},{38,65}}</string>
			<key>sourceSize</key>
			<string>{74,73}</string>
		</dict>
		<key>wy_22_22_30666_tengxunjingxiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,452},{56,53}}</string>
			<key>offset</key>
			<string>{3,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,18},{56,53}}</string>
			<key>sourceSize</key>
			<string>{74,73}</string>
		</dict>
		<key>wy_23_23_87827_tengxunjingxiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,75},{66,33}}</string>
			<key>offset</key>
			<string>{-2,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,38},{66,33}}</string>
			<key>sourceSize</key>
			<string>{74,73}</string>
		</dict>
		<key>wy_24_24_10040_tengxunjingxiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,34},{66,39}}</string>
			<key>offset</key>
			<string>{-2,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,31},{66,39}}</string>
			<key>sourceSize</key>
			<string>{74,73}</string>
		</dict>
		<key>wy_2_2_46154_tengxunjingxiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{384,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,131}}</string>
			<key>sourceSize</key>
			<string>{384,131}</string>
		</dict>
		<key>wy_2_2_58095_tengxunjingxiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,366},{137,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,42}}</string>
			<key>sourceSize</key>
			<string>{137,42}</string>
		</dict>
		<key>wy_3_3_8503_tengxunjingxiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,141},{187,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,164}}</string>
			<key>sourceSize</key>
			<string>{187,164}</string>
		</dict>
		<key>wy_8_8_82921_tengxunjingxiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,2},{167,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,53}}</string>
			<key>sourceSize</key>
			<string>{167,53}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>tengxunjingxiimage.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>tengxunjingxiimage.png</string>
	</dict>
</dict>
</plist>
