<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,916},{288,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,103}}</string>
			<key>sourceSize</key>
			<string>{288,103}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{568,2},{301,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{301,127}}</string>
			<key>sourceSize</key>
			<string>{301,127}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,308},{304,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{304,128}}</string>
			<key>sourceSize</key>
			<string>{304,128}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,618},{307,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{307,134}}</string>
			<key>sourceSize</key>
			<string>{307,134}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,310},{306,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{306,136}}</string>
			<key>sourceSize</key>
			<string>{306,136}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,2},{305,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{305,136}}</string>
			<key>sourceSize</key>
			<string>{305,136}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,617},{305,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{305,136}}</string>
			<key>sourceSize</key>
			<string>{305,136}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00047.png</key>
		<dict>
			<key>frame</key>
			<string>{{828,769},{251,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{251,124}}</string>
			<key>sourceSize</key>
			<string>{251,124}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00055.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,2},{303,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{303,127}}</string>
			<key>sourceSize</key>
			<string>{303,127}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00063.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,609},{300,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,181}}</string>
			<key>sourceSize</key>
			<string>{300,181}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00069.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,470},{298,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{298,182}}</string>
			<key>sourceSize</key>
			<string>{298,182}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00070.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,613},{302,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{302,182}}</string>
			<key>sourceSize</key>
			<string>{302,182}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00071.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,306},{302,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{302,182}}</string>
			<key>sourceSize</key>
			<string>{302,182}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00072.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,304},{299,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{299,182}}</string>
			<key>sourceSize</key>
			<string>{299,182}</string>
		</dict>
		<key>New_dzxv_putongbisha_xiapi_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{300,307}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,307}}</string>
			<key>sourceSize</key>
			<string>{300,307}</string>
		</dict>
		<key>New_dzxv_putongbisha_zhuang_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,191},{183,278}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,278}}</string>
			<key>sourceSize</key>
			<string>{183,278}</string>
		</dict>
		<key>New_dzxv_putongbisha_zhuang_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,618},{188,307}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,307}}</string>
			<key>sourceSize</key>
			<string>{188,307}</string>
		</dict>
		<key>New_dzxv_putongbisha_zhuang_00035.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,310},{195,307}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{195,307}}</string>
			<key>sourceSize</key>
			<string>{195,307}</string>
		</dict>
		<key>New_dzxv_putongbisha_zhuang_00041.png</key>
		<dict>
			<key>frame</key>
			<string>{{752,2},{188,266}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,266}}</string>
			<key>sourceSize</key>
			<string>{188,266}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>dongzhangXV_common5.png</string>
		<key>scale</key>
		<real>0.91</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dongzhangXV_common5.png</string>
	</dict>
</dict>
</plist>
