<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask01_honglianjuegunriimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,41},{128,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,22}}</string>
			<key>sourceSize</key>
			<string>{128,22}</string>
		</dict>
		<key>wy_10_10_51785_honglianjuegunriimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,587},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_11_11_95211_honglianjuegunriimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,584},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_12_12_52789_honglianjuegunriimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,559},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_13_13_75299_honglianjuegunriimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,470},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_14_14_75936_honglianjuegunriimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,467},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_15_15_41065_honglianjuegunriimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,442},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_16_16_5495_honglianjuegunriimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,353},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_1_1_47006_honglianjuegunriimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,350},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_1_1_79759_honglianjuegunriimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,2},{138,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,37}}</string>
			<key>sourceSize</key>
			<string>{138,37}</string>
		</dict>
		<key>wy_2_2_22009_honglianjuegunriimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,325},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_2_2_91060_honglianjuegunriimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,701},{40,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,39}}</string>
			<key>sourceSize</key>
			<string>{40,39}</string>
		</dict>
		<key>wy_3_3_58367_honglianjuegunriimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,676},{164,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,69}}</string>
			<key>sourceSize</key>
			<string>{164,69}</string>
		</dict>
		<key>wy_3_3_76766_honglianjuegunriimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,236},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_4_4_25043_honglianjuegunriimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,233},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_5_5_82627_honglianjuegunriimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,208},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_5_5_93916_honglianjuegunriimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{196,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,87}}</string>
			<key>sourceSize</key>
			<string>{196,87}</string>
		</dict>
		<key>wy_6_6_89127_honglianjuegunriimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,119},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_7_7_58364_honglianjuegunriimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,91},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_8_8_81177_honglianjuegunriimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,65},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
		<key>wy_9_9_54124_honglianjuegunriimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,2},{115,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,166}}</string>
			<key>sourceSize</key>
			<string>{115,166}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>honglianjuegunriimage.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>honglianjuegunriimage.png</string>
	</dict>
</dict>
</plist>
