<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_nzfy_zjm_fangkongxianzhong_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,94},{76,22}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,4},{76,22}}</string>
			<key>sourceSize</key>
			<string>{86,30}</string>
		</dict>
		<key>btn_nzfy_zjm_ziji.png</key>
		<dict>
			<key>frame</key>
			<string>{{659,234},{44,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,30}}</string>
			<key>sourceSize</key>
			<string>{44,30}</string>
		</dict>
		<key>pic_buff_01_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{895,196},{54,60}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,60}}</string>
			<key>sourceSize</key>
			<string>{56,60}</string>
		</dict>
		<key>pic_buff_01_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{833,227},{54,60}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,60}}</string>
			<key>sourceSize</key>
			<string>{56,60}</string>
		</dict>
		<key>pic_buff_02_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{771,221},{54,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{54,60}}</string>
			<key>sourceSize</key>
			<string>{56,60}</string>
		</dict>
		<key>pic_buff_02_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{715,212},{54,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{54,60}}</string>
			<key>sourceSize</key>
			<string>{56,60}</string>
		</dict>
		<key>pic_buff_03_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{833,171},{54,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{54,60}}</string>
			<key>sourceSize</key>
			<string>{56,60}</string>
		</dict>
		<key>pic_buff_03_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{771,165},{54,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{54,60}}</string>
			<key>sourceSize</key>
			<string>{56,60}</string>
		</dict>
		<key>pic_buff_04_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{715,150},{54,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{54,60}}</string>
			<key>sourceSize</key>
			<string>{56,60}</string>
		</dict>
		<key>pic_buff_04_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{659,172},{54,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{54,60}}</string>
			<key>sourceSize</key>
			<string>{56,60}</string>
		</dict>
		<key>pic_buff_05_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{847,109},{54,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{54,60}}</string>
			<key>sourceSize</key>
			<string>{56,60}</string>
		</dict>
		<key>pic_buff_05_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{785,109},{54,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{54,60}}</string>
			<key>sourceSize</key>
			<string>{56,60}</string>
		</dict>
		<key>pic_buff_06_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{723,94},{54,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{54,60}}</string>
			<key>sourceSize</key>
			<string>{56,60}</string>
		</dict>
		<key>pic_buff_06_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{603,173},{54,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{54,60}}</string>
			<key>sourceSize</key>
			<string>{56,60}</string>
		</dict>
		<key>pic_buff_07_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{903,134},{56,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,60}}</string>
			<key>sourceSize</key>
			<string>{56,60}</string>
		</dict>
		<key>pic_buff_07_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{903,72},{56,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,60}}</string>
			<key>sourceSize</key>
			<string>{56,60}</string>
		</dict>
		<key>pic_nzfy_dwtg_tanchuang_yicanzhan.png</key>
		<dict>
			<key>frame</key>
			<string>{{595,235},{62,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,29}}</string>
			<key>sourceSize</key>
			<string>{62,29}</string>
		</dict>
		<key>pic_nzfy_dwtg_tanchuang_zanwuduiwu.png</key>
		<dict>
			<key>frame</key>
			<string>{{894,2},{67,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,68}}</string>
			<key>sourceSize</key>
			<string>{67,68}</string>
		</dict>
		<key>pic_nzfy_dwtg_zi_celuexuanzze.png</key>
		<dict>
			<key>frame</key>
			<string>{{793,55},{99,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,25}}</string>
			<key>sourceSize</key>
			<string>{99,25}</string>
		</dict>
		<key>pic_nzfy_dwtg_zi_duiwu.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,145},{47,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,25}}</string>
			<key>sourceSize</key>
			<string>{47,25}</string>
		</dict>
		<key>pic_nzfy_dwtg_zi_fuhuocishu.png</key>
		<dict>
			<key>frame</key>
			<string>{{793,82},{98,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,25}}</string>
			<key>sourceSize</key>
			<string>{98,25}</string>
		</dict>
		<key>pic_nzfy_dwtg_zi_kaiqituoguan.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,134},{144,37}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{144,37}}</string>
			<key>sourceSize</key>
			<string>{146,37}</string>
		</dict>
		<key>pic_nzfy_dwtg_zi_quxiaotuoguan.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,55},{146,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,37}}</string>
			<key>sourceSize</key>
			<string>{146,37}</string>
		</dict>
		<key>pic_nzfy_dwtg_zi_tuoguan.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,222},{98,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,43}}</string>
			<key>sourceSize</key>
			<string>{98,43}</string>
		</dict>
		<key>pic_nzfy_dwtg_zi_xiaohao.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,118},{48,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,25}}</string>
			<key>sourceSize</key>
			<string>{48,25}</string>
		</dict>
		<key>pic_nzfy_zi_ck_chakanzhenrong.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,95},{147,37}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{147,37}}</string>
			<key>sourceSize</key>
			<string>{147,39}</string>
		</dict>
		<key>pic_nzfy_zi_ck_qianwagnzhanchang.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,55},{148,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,38}}</string>
			<key>sourceSize</key>
			<string>{148,38}</string>
		</dict>
		<key>pic_nzfy_zjm_banzi_ditu.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{491,283}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{491,283}}</string>
			<key>sourceSize</key>
			<string>{491,283}</string>
		</dict>
		<key>pic_nzwf_danmu_fasongyy.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,173},{106,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{106,47}}</string>
			<key>sourceSize</key>
			<string>{110,51}</string>
		</dict>
		<key>word_nzfy_dwtg_mqmykpzddwo.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,2},{395,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{395,51}}</string>
			<key>sourceSize</key>
			<string>{395,51}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_southTown30.png</string>
		<key>size</key>
		<string>{963,287}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_southTown30.png</string>
	</dict>
</dict>
</plist>
