<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>kuang_tianxiezuotximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{119,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,116}}</string>
			<key>sourceSize</key>
			<string>{119,116}</string>
		</dict>
		<key>m_tianxiezuotximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,195},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>qianzi1_tianxiezuotximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,148},{19,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,25}}</string>
			<key>sourceSize</key>
			<string>{19,25}</string>
		</dict>
		<key>qianzi2_tianxiezuotximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,175},{23,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,18}}</string>
			<key>sourceSize</key>
			<string>{23,18}</string>
		</dict>
		<key>shenzi_tianxiezuotximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,120},{46,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,34}}</string>
			<key>sourceSize</key>
			<string>{46,34}</string>
		</dict>
		<key>weiba_tianxiezuotximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,120},{19,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,26}}</string>
			<key>sourceSize</key>
			<string>{19,26}</string>
		</dict>
		<key>yuan_tianxiezuotximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,156},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,42}}</string>
			<key>sourceSize</key>
			<string>{42,42}</string>
		</dict>
		<key>yun1_tianxiezuotximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,120},{54,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,13}}</string>
			<key>sourceSize</key>
			<string>{54,13}</string>
		</dict>
		<key>yun2_tianxiezuotximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,135},{19,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,6}}</string>
			<key>sourceSize</key>
			<string>{19,6}</string>
		</dict>
		<key>yun3_tianxiezuotximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,163},{24,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,10}}</string>
			<key>sourceSize</key>
			<string>{24,10}</string>
		</dict>
		<key>yun4_tianxiezuotximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,156},{11,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,5}}</string>
			<key>sourceSize</key>
			<string>{11,5}</string>
		</dict>
		<key>yy_tianxiezuotximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,135},{43,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,33}}</string>
			<key>sourceSize</key>
			<string>{43,33}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>tianxiezuotximage.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>tianxiezuotximage.png</string>
	</dict>
</dict>
</plist>
