<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_xzltr_putongbisha2_bqg_00073.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,859},{63,48}}</string>
			<key>offset</key>
			<string>{4,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{46,31},{63,48}}</string>
			<key>sourceSize</key>
			<string>{147,112}</string>
		</dict>
		<key>New_xzltr_putongbisha2_bqg_00075.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,920},{97,58}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,26},{97,58}}</string>
			<key>sourceSize</key>
			<string>{147,112}</string>
		</dict>
		<key>New_xzltr_putongbisha2_bz_00041.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,687},{148,153}}</string>
			<key>offset</key>
			<string>{3,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,22},{148,153}}</string>
			<key>sourceSize</key>
			<string>{180,177}</string>
		</dict>
		<key>New_xzltr_putongbisha2_sty_00084.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,859},{44,63}}</string>
			<key>offset</key>
			<string>{-9,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{44,63}}</string>
			<key>sourceSize</key>
			<string>{68,95}</string>
		</dict>
		<key>New_xzltr_putongbisha_xx_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,859},{40,64}}</string>
			<key>offset</key>
			<string>{-5,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,30},{40,64}}</string>
			<key>sourceSize</key>
			<string>{62,104}</string>
		</dict>
		<key>New_xzltr_putongbisha_xx_00027.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,859},{60,98}}</string>
			<key>offset</key>
			<string>{-1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{60,98}}</string>
			<key>sourceSize</key>
			<string>{62,104}</string>
		</dict>
		<key>New_xzltr_putongbisha_yan_00035.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,859},{72,63}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,6},{72,63}}</string>
			<key>sourceSize</key>
			<string>{78,75}</string>
		</dict>
		<key>New_zltr_xcyhyz_liumenbisha_db_00073.png</key>
		<dict>
			<key>frame</key>
			<string>{{786,416},{234,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,8},{234,72}}</string>
			<key>sourceSize</key>
			<string>{290,88}</string>
		</dict>
		<key>New_zltr_xcyhyz_liumenbisha_db_00074.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,429},{254,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,4},{254,80}}</string>
			<key>sourceSize</key>
			<string>{290,88}</string>
		</dict>
		<key>New_zltr_xcyhyz_liumenbisha_db_00075.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{270,84}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,2},{270,84}}</string>
			<key>sourceSize</key>
			<string>{290,88}</string>
		</dict>
		<key>New_zltr_xcyhyz_liumenbisha_djgz_00053.png</key>
		<dict>
			<key>frame</key>
			<string>{{781,852},{125,89}}</string>
			<key>offset</key>
			<string>{5,-17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,43},{125,89}}</string>
			<key>sourceSize</key>
			<string>{149,141}</string>
		</dict>
		<key>New_zltr_xcyhyz_liumenbisha_djgz_00063.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,923},{139,99}}</string>
			<key>offset</key>
			<string>{5,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,33},{139,99}}</string>
			<key>sourceSize</key>
			<string>{149,141}</string>
		</dict>
		<key>New_zltr_xcyhyz_liumenbisha_djgz_00073.png</key>
		<dict>
			<key>frame</key>
			<string>{{551,856},{165,229}}</string>
			<key>offset</key>
			<string>{-6,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,52},{165,229}}</string>
			<key>sourceSize</key>
			<string>{289,337}</string>
		</dict>
		<key>New_zltr_xcyhyz_liumenbisha_djgz_00077.png</key>
		<dict>
			<key>frame</key>
			<string>{{762,489},{197,245}}</string>
			<key>offset</key>
			<string>{-6,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{40,51},{197,245}}</string>
			<key>sourceSize</key>
			<string>{289,337}</string>
		</dict>
		<key>New_zltr_xcyhyz_liumenbisha_djgz_00079.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,468},{207,245}}</string>
			<key>offset</key>
			<string>{-7,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{34,54},{207,245}}</string>
			<key>sourceSize</key>
			<string>{289,337}</string>
		</dict>
		<key>New_zltr_xcyhyz_liumenbisha_djgz_00081.png</key>
		<dict>
			<key>frame</key>
			<string>{{801,2},{219,247}}</string>
			<key>offset</key>
			<string>{-7,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,58},{219,247}}</string>
			<key>sourceSize</key>
			<string>{289,337}</string>
		</dict>
		<key>New_zltr_xcyhyz_liumenbisha_djgz_00083.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,216},{181,259}}</string>
			<key>offset</key>
			<string>{-9,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{45,50},{181,259}}</string>
			<key>sourceSize</key>
			<string>{289,337}</string>
		</dict>
		<key>New_zltr_xcyhyz_liumenbisha_djgz_00085.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,87},{183,265}}</string>
			<key>offset</key>
			<string>{-9,-14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{44,50},{183,265}}</string>
			<key>sourceSize</key>
			<string>{289,337}</string>
		</dict>
		<key>New_zltr_xcyhyz_liumenbisha_djgz_00087.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,2},{213,265}}</string>
			<key>offset</key>
			<string>{-20,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,49},{213,265}}</string>
			<key>sourceSize</key>
			<string>{289,337}</string>
		</dict>
		<key>New_zltr_xcyhyz_liumenbisha_djgz_00123.png</key>
		<dict>
			<key>frame</key>
			<string>{{539,2},{257,261}}</string>
			<key>offset</key>
			<string>{16,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{32,42},{257,261}}</string>
			<key>sourceSize</key>
			<string>{289,337}</string>
		</dict>
		<key>New_zltr_xcyhyz_liumenbisha_djgz_00125.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,631},{227,241}}</string>
			<key>offset</key>
			<string>{30,-27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{61,75},{227,241}}</string>
			<key>sourceSize</key>
			<string>{289,337}</string>
		</dict>
		<key>New_zltr_xcyhyz_liumenbisha_djgz_00127.png</key>
		<dict>
			<key>frame</key>
			<string>{{528,260},{207,257}}</string>
			<key>offset</key>
			<string>{9,-17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{50,57},{207,257}}</string>
			<key>sourceSize</key>
			<string>{289,337}</string>
		</dict>
		<key>New_zltr_xcyhyz_liumenbisha_djgz_00129.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,510},{207,247}}</string>
			<key>offset</key>
			<string>{6,-18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{47,63},{207,247}}</string>
			<key>sourceSize</key>
			<string>{289,337}</string>
		</dict>
		<key>New_zltr_xcyhyz_liumenbisha_djgz_00131.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,718},{207,241}}</string>
			<key>offset</key>
			<string>{9,-22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{50,70},{207,241}}</string>
			<key>sourceSize</key>
			<string>{289,337}</string>
		</dict>
		<key>New_zltr_xcyhyz_putongbisha1_fg_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,398},{254,232}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,23},{254,232}}</string>
			<key>sourceSize</key>
			<string>{304,274}</string>
		</dict>
		<key>New_zltr_xcyhyz_putongbisha1_fg_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,841},{146,148}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{78,63},{146,148}}</string>
			<key>sourceSize</key>
			<string>{304,274}</string>
		</dict>
		<key>New_zltr_xcyhyz_putongbisha1_qbz_00068.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,271},{258,157}}</string>
			<key>offset</key>
			<string>{2,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,29},{258,157}}</string>
			<key>sourceSize</key>
			<string>{262,195}</string>
		</dict>
		<key>New_zltr_xcyhyz_putongbisha1_qbz_00074.png</key>
		<dict>
			<key>frame</key>
			<string>{{801,250},{214,165}}</string>
			<key>offset</key>
			<string>{2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,20},{214,165}}</string>
			<key>sourceSize</key>
			<string>{262,195}</string>
		</dict>
		<key>New_zltr_xcyhyz_putongbisha1_qbz_00082.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,676},{202,179}}</string>
			<key>offset</key>
			<string>{13,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,6},{202,179}}</string>
			<key>sourceSize</key>
			<string>{262,195}</string>
		</dict>
		<key>New_zltr_xcyhyz_putongbisha1_qbz_00096.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,926},{144,95}}</string>
			<key>offset</key>
			<string>{57,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{116,40},{144,95}}</string>
			<key>sourceSize</key>
			<string>{262,195}</string>
		</dict>
		<key>New_zltr_xcyhyz_putongbisha1_qg_00051.png</key>
		<dict>
			<key>frame</key>
			<string>{{877,988},{137,24}}</string>
			<key>offset</key>
			<string>{4,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,52},{137,24}}</string>
			<key>sourceSize</key>
			<string>{221,124}</string>
		</dict>
		<key>New_zltr_xcyhyz_putongbisha2_bq_00065.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,926},{50,96}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,1},{50,96}}</string>
			<key>sourceSize</key>
			<string>{120,102}</string>
		</dict>
		<key>New_zltr_xcyhyz_putongbisha2_bz_00078.png</key>
		<dict>
			<key>frame</key>
			<string>{{695,687},{164,175}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,2},{164,175}}</string>
			<key>sourceSize</key>
			<string>{196,177}</string>
		</dict>
		<key>New_zltr_xcyhyz_putongbisha2_bz_00101.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,926},{96,145}}</string>
			<key>offset</key>
			<string>{12,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{62,10},{96,145}}</string>
			<key>sourceSize</key>
			<string>{196,177}</string>
		</dict>
		<key>New_zltr_xcyhyz_putongbisha2_stw_00071.png</key>
		<dict>
			<key>frame</key>
			<string>{{840,988},{36,32}}</string>
			<key>offset</key>
			<string>{-24,41}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{36,32}}</string>
			<key>sourceSize</key>
			<string>{86,122}</string>
		</dict>
		<key>New_zltr_xcyhyz_putongbisha2_stw_00093.png</key>
		<dict>
			<key>frame</key>
			<string>{{781,978},{44,58}}</string>
			<key>offset</key>
			<string>{-11,12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,20},{44,58}}</string>
			<key>sourceSize</key>
			<string>{86,122}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>teruiTRSZ_common2.png</string>
		<key>scale</key>
		<real>0.51</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>teruiTRSZ_common2.png</string>
	</dict>
</dict>
</plist>
