<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fenjiechenggong_fjcgimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{229,72}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,13},{229,72}}</string>
			<key>sourceSize</key>
			<string>{251,98}</string>
		</dict>
		<key>huan1_fjcgimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,215},{100,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,39}}</string>
			<key>sourceSize</key>
			<string>{100,39}</string>
		</dict>
		<key>huan2_fjcgimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,76},{137,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,56}}</string>
			<key>sourceSize</key>
			<string>{137,56}</string>
		</dict>
		<key>pian1_fjcgimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,167},{50,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,55}}</string>
			<key>sourceSize</key>
			<string>{50,55}</string>
		</dict>
		<key>pian2_fjcgimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,167},{42,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,51}}</string>
			<key>sourceSize</key>
			<string>{42,51}</string>
		</dict>
		<key>pian3_fjcgimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,211},{30,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,39}}</string>
			<key>sourceSize</key>
			<string>{30,39}</string>
		</dict>
		<key>xingxing_fjcgimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,76},{89,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,85}}</string>
			<key>sourceSize</key>
			<string>{89,85}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>fjcgimage.png</string>
		<key>scale</key>
		<real>0.79</real>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>fjcgimage.png</string>
	</dict>
</dict>
</plist>
