<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_mzdsqy_liumenbisha_bz2_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,2},{206,200}}</string>
			<key>offset</key>
			<string>{3,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,8},{206,200}}</string>
			<key>sourceSize</key>
			<string>{212,208}</string>
		</dict>
		<key>New_mzdsqy_liumenbisha_bz2_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{693,2},{188,150}}</string>
			<key>offset</key>
			<string>{-10,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,45},{188,150}}</string>
			<key>sourceSize</key>
			<string>{212,208}</string>
		</dict>
		<key>New_mzdsqy_liumenbisha_bz2_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,267},{150,146}}</string>
			<key>offset</key>
			<string>{-8,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,46},{150,146}}</string>
			<key>sourceSize</key>
			<string>{212,208}</string>
		</dict>
		<key>New_mzdsqy_liumenbisha_bz2_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{722,454},{156,146}}</string>
			<key>offset</key>
			<string>{-12,-14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,45},{156,146}}</string>
			<key>sourceSize</key>
			<string>{212,208}</string>
		</dict>
		<key>New_mzdsqy_liumenbisha_bz2_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,2},{146,136}}</string>
			<key>offset</key>
			<string>{-8,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25,55},{146,136}}</string>
			<key>sourceSize</key>
			<string>{212,208}</string>
		</dict>
		<key>New_mzdsqy_liumenbisha_bz_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,306},{205,198}}</string>
			<key>offset</key>
			<string>{-5,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,50},{205,198}}</string>
			<key>sourceSize</key>
			<string>{221,264}</string>
		</dict>
		<key>New_mzdsqy_liumenbisha_bz_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{693,153},{175,172}}</string>
			<key>offset</key>
			<string>{-3,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,63},{175,172}}</string>
			<key>sourceSize</key>
			<string>{221,264}</string>
		</dict>
		<key>New_mzjx_daiji_yan_00034.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{242,178}}</string>
			<key>offset</key>
			<string>{-11,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,8},{242,178}}</string>
			<key>sourceSize</key>
			<string>{300,198}</string>
		</dict>
		<key>New_mzjx_daiji_yan_00038.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,186},{206,124}}</string>
			<key>offset</key>
			<string>{-20,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,64},{206,124}}</string>
			<key>sourceSize</key>
			<string>{300,198}</string>
		</dict>
		<key>New_mzjx_daiji_yan_00040.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,181},{220,124}}</string>
			<key>offset</key>
			<string>{-10,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,65},{220,124}}</string>
			<key>sourceSize</key>
			<string>{300,198}</string>
		</dict>
		<key>New_mzsz_liumenbisha_hy_00060.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,362},{170,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,155}}</string>
			<key>sourceSize</key>
			<string>{170,155}</string>
		</dict>
		<key>New_mzsz_liumenbisha_hy_00062.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,476},{170,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,155}}</string>
			<key>sourceSize</key>
			<string>{170,155}</string>
		</dict>
		<key>New_mzsz_liumenbisha_hy_00064.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,505},{170,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,155}}</string>
			<key>sourceSize</key>
			<string>{170,155}</string>
		</dict>
		<key>New_mzsz_liumenbisha_hy_00066.png</key>
		<dict>
			<key>frame</key>
			<string>{{551,454},{170,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,155}}</string>
			<key>sourceSize</key>
			<string>{170,155}</string>
		</dict>
		<key>New_mzsz_liumenbisha_hy_00068.png</key>
		<dict>
			<key>frame</key>
			<string>{{379,518},{168,117}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,19},{168,117}}</string>
			<key>sourceSize</key>
			<string>{170,155}</string>
		</dict>
		<key>New_mzsz_liumenbisha_hy_00070.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,843},{164,101}}</string>
			<key>offset</key>
			<string>{-3,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,30},{164,101}}</string>
			<key>sourceSize</key>
			<string>{170,155}</string>
		</dict>
		<key>New_mzsz_putongbisha_bz_00121.png</key>
		<dict>
			<key>frame</key>
			<string>{{548,610},{156,167}}</string>
			<key>offset</key>
			<string>{-2,9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,2},{156,167}}</string>
			<key>sourceSize</key>
			<string>{178,189}</string>
		</dict>
		<key>New_mzsz_putongbisha_bz_00125.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,203},{158,175}}</string>
			<key>offset</key>
			<string>{-3,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,0},{158,175}}</string>
			<key>sourceSize</key>
			<string>{178,189}</string>
		</dict>
		<key>New_mzsz_putongbisha_bz_00127.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,843},{158,165}}</string>
			<key>offset</key>
			<string>{-6,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,16},{158,165}}</string>
			<key>sourceSize</key>
			<string>{178,189}</string>
		</dict>
		<key>New_mzsz_putongbisha_bz_00129.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,311},{164,171}}</string>
			<key>offset</key>
			<string>{-7,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,14},{164,171}}</string>
			<key>sourceSize</key>
			<string>{178,189}</string>
		</dict>
		<key>New_mzsz_putongbisha_bz_00131.png</key>
		<dict>
			<key>frame</key>
			<string>{{848,698},{126,167}}</string>
			<key>offset</key>
			<string>{-23,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,21},{126,167}}</string>
			<key>sourceSize</key>
			<string>{178,189}</string>
		</dict>
		<key>New_mzsz_putongbisha_db_00098.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,611},{131,115}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{131,115}}</string>
			<key>sourceSize</key>
			<string>{139,121}</string>
		</dict>
		<key>New_mzsz_putongbisha_db_00106.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,149},{135,117}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{135,117}}</string>
			<key>sourceSize</key>
			<string>{139,121}</string>
		</dict>
		<key>New_mzsz_putongbisha_db_00108.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,582},{133,115}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{133,115}}</string>
			<key>sourceSize</key>
			<string>{139,121}</string>
		</dict>
		<key>New_mzsz_putongbisha_dg2_00058.png</key>
		<dict>
			<key>frame</key>
			<string>{{606,326},{127,171}}</string>
			<key>offset</key>
			<string>{31,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{64,10},{127,171}}</string>
			<key>sourceSize</key>
			<string>{193,181}</string>
		</dict>
		<key>New_mzsz_putongbisha_dg_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{778,326},{90,125}}</string>
			<key>offset</key>
			<string>{-92,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,30},{90,125}}</string>
			<key>sourceSize</key>
			<string>{278,187}</string>
		</dict>
		<key>New_mzsz_putongbisha_dg_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,2},{240,183}}</string>
			<key>offset</key>
			<string>{-12,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,1},{240,183}}</string>
			<key>sourceSize</key>
			<string>{278,187}</string>
		</dict>
		<key>New_mzsz_putongbisha_dg_00025.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,414},{148,167}}</string>
			<key>offset</key>
			<string>{65,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{130,10},{148,167}}</string>
			<key>sourceSize</key>
			<string>{278,187}</string>
		</dict>
		<key>New_mzsz_xiaojineng_bz_00034.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,727},{115,124}}</string>
			<key>offset</key>
			<string>{4,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,6},{115,124}}</string>
			<key>sourceSize</key>
			<string>{123,130}</string>
		</dict>
		<key>New_mzsz_xiaojineng_db_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,611},{131,115}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{131,115}}</string>
			<key>sourceSize</key>
			<string>{139,121}</string>
		</dict>
		<key>New_mzsz_xiaojineng_db_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,149},{135,117}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{135,117}}</string>
			<key>sourceSize</key>
			<string>{139,121}</string>
		</dict>
		<key>New_mzsz_xiaojineng_db_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,582},{133,115}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{133,115}}</string>
			<key>sourceSize</key>
			<string>{139,121}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>maizhuo13RESZ_common3.png</string>
		<key>scale</key>
		<real>0.63</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>maizhuo13RESZ_common3.png</string>
	</dict>
</dict>
</plist>
