<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bth_qhsq_guanbianniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,605},{66,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,55}}</string>
			<key>sourceSize</key>
			<string>{66,55}</string>
		</dict>
		<key>pic_qhsq_guize_chendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,474},{451,500}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{451,500}}</string>
			<key>sourceSize</key>
			<string>{451,500}</string>
		</dict>
		<key>pic_qhsq_huobixiala_duigou.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,605},{43,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,43}}</string>
			<key>sourceSize</key>
			<string>{43,43}</string>
		</dict>
		<key>pic_qhsq_jiequ_wenhao.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,650},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>pic_qhsq_jiequ_zhishipai.png</key>
		<dict>
			<key>frame</key>
			<string>{{504,474},{231,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{231,178}}</string>
			<key>sourceSize</key>
			<string>{231,178}</string>
		</dict>
		<key>pic_qhsq_kongdi_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,2},{310,172}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,172}}</string>
			<key>sourceSize</key>
			<string>{310,172}</string>
		</dict>
		<key>pic_qhsq_kongdi_small.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,314},{249,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{249,135}}</string>
			<key>sourceSize</key>
			<string>{249,135}</string>
		</dict>
		<key>pic_qhsq_tanchuchuang_chendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{741,470}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{741,470}}</string>
			<key>sourceSize</key>
			<string>{741,470}</string>
		</dict>
		<key>pic_qhsq_tanchuchuang_tiaomu.png</key>
		<dict>
			<key>frame</key>
			<string>{{745,2},{690,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{690,85}}</string>
			<key>sourceSize</key>
			<string>{690,85}</string>
		</dict>
		<key>pic_qhsq_xiaonicheng_tanchuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{504,694},{475,276}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{475,276}}</string>
			<key>sourceSize</key>
			<string>{475,276}</string>
		</dict>
		<key>pic_qhsq_xuanzhuti_zhihuichendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,565},{117,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,38}}</string>
			<key>sourceSize</key>
			<string>{117,38}</string>
		</dict>
		<key>pic_qhsq_xuanzhuti_zhutihong.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,927},{118,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,37}}</string>
			<key>sourceSize</key>
			<string>{118,37}</string>
		</dict>
		<key>pic_qhsq_xuanzhuti_zhutihuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,927},{118,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,37}}</string>
			<key>sourceSize</key>
			<string>{118,37}</string>
		</dict>
		<key>pic_qhsq_xuanzhuti_zhutilan.png</key>
		<dict>
			<key>frame</key>
			<string>{{951,565},{118,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,37}}</string>
			<key>sourceSize</key>
			<string>{118,37}</string>
		</dict>
		<key>pic_qhsq_xuanzhuti_zhutilv.png</key>
		<dict>
			<key>frame</key>
			<string>{{624,654},{118,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,37}}</string>
			<key>sourceSize</key>
			<string>{118,37}</string>
		</dict>
		<key>pic_qhsq_xuanzhuti_zhutizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{504,654},{118,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,37}}</string>
			<key>sourceSize</key>
			<string>{118,37}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>KOFCommunity20.png</string>
		<key>size</key>
		<string>{1006,972}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>KOFCommunity20.png</string>
	</dict>
</dict>
</plist>
