<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bg_chengshiyejingimage.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{1012,570}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1012,570}}</string>
			<key>sourceSize</key>
			<string>{1012,570}</string>
		</dict>
		<key>m1_chengshiyejingimage.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{75,760},{455,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{455,84}}</string>
			<key>sourceSize</key>
			<string>{455,84}</string>
		</dict>
		<key>m1_chengshiyejingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,674},{455,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{455,84}}</string>
			<key>sourceSize</key>
			<string>{455,84}</string>
		</dict>
		<key>m2_chengshiyejingimage.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{84,1008},{42,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,14}}</string>
			<key>sourceSize</key>
			<string>{42,14}</string>
		</dict>
		<key>m2_chengshiyejingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,992},{42,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,14}}</string>
			<key>sourceSize</key>
			<string>{42,14}</string>
		</dict>
		<key>q1_chengshiyejingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,854},{44,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,136}}</string>
			<key>sourceSize</key>
			<string>{44,136}</string>
		</dict>
		<key>q2_chengshiyejingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,714},{34,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,138}}</string>
			<key>sourceSize</key>
			<string>{34,138}</string>
		</dict>
		<key>q3_chengshiyejingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,714},{35,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,136}}</string>
			<key>sourceSize</key>
			<string>{35,136}</string>
		</dict>
		<key>q4_chengshiyejingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,574},{39,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,138}}</string>
			<key>sourceSize</key>
			<string>{39,138}</string>
		</dict>
		<key>qq02_chengshiyejingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,852},{46,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,121}}</string>
			<key>sourceSize</key>
			<string>{46,121}</string>
		</dict>
		<key>yan02_chengshiyejingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,975},{50,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,15}}</string>
			<key>sourceSize</key>
			<string>{50,15}</string>
		</dict>
		<key>yan03_chengshiyejingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,992},{80,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,20}}</string>
			<key>sourceSize</key>
			<string>{80,20}</string>
		</dict>
		<key>yan04_chengshiyejingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{43,574},{98,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,53}}</string>
			<key>sourceSize</key>
			<string>{98,53}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>chengshiyejingimage.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>chengshiyejingimage.png</string>
	</dict>
</dict>
</plist>
