<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_dzjnh_biaoqian_1_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{54,1639},{108,23}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,20},{108,23}}</string>
			<key>sourceSize</key>
			<string>{140,61}</string>
		</dict>
		<key>btn_dzjnh_biaoqian_1_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,1476},{110,25}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,19},{110,25}}</string>
			<key>sourceSize</key>
			<string>{140,61}</string>
		</dict>
		<key>btn_dzjnh_biaoqian_2_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,1639},{112,23}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,20},{112,23}}</string>
			<key>sourceSize</key>
			<string>{140,61}</string>
		</dict>
		<key>btn_dzjnh_biaoqian_2_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,1481},{114,25}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,19},{114,25}}</string>
			<key>sourceSize</key>
			<string>{140,61}</string>
		</dict>
		<key>btn_dzjnh_biaoqian_3_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,1476},{112,23}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,20},{112,23}}</string>
			<key>sourceSize</key>
			<string>{140,61}</string>
		</dict>
		<key>btn_dzjnh_biaoqian_3_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,1365},{114,25}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,19},{114,25}}</string>
			<key>sourceSize</key>
			<string>{140,61}</string>
		</dict>
		<key>btn_dzjnh_biaoqian_4_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,1597},{102,23}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,20},{102,23}}</string>
			<key>sourceSize</key>
			<string>{140,61}</string>
		</dict>
		<key>btn_dzjnh_biaoqian_4_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,911},{104,25}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,19},{104,25}}</string>
			<key>sourceSize</key>
			<string>{140,61}</string>
		</dict>
		<key>btn_dzjnh_jiangliyulan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,840},{69,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,69}}</string>
			<key>sourceSize</key>
			<string>{69,69}</string>
		</dict>
		<key>btn_dzjnh_jiangliyulan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,1162},{69,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,69}}</string>
			<key>sourceSize</key>
			<string>{69,69}</string>
		</dict>
		<key>btn_dzjnh_renwu_lingqu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,1590},{87,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,29}}</string>
			<key>sourceSize</key>
			<string>{87,29}</string>
		</dict>
		<key>btn_dzjnh_renwu_lingqu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,1590},{87,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,29}}</string>
			<key>sourceSize</key>
			<string>{87,29}</string>
		</dict>
		<key>btn_dzjnh_renwu_yijianlingqu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,1591},{100,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,29}}</string>
			<key>sourceSize</key>
			<string>{100,29}</string>
		</dict>
		<key>btn_dzjnh_renwu_yijianlingqu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,1484},{100,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,29}}</string>
			<key>sourceSize</key>
			<string>{100,29}</string>
		</dict>
		<key>btn_dzjnh_rukou_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,1356},{87,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,82}}</string>
			<key>sourceSize</key>
			<string>{87,82}</string>
		</dict>
		<key>btn_dzjnh_rukou_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,1078},{87,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,82}}</string>
			<key>sourceSize</key>
			<string>{87,82}</string>
		</dict>
		<key>btn_dzjnh_tanchuang_duihuan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,1162},{121,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,35}}</string>
			<key>sourceSize</key>
			<string>{121,35}</string>
		</dict>
		<key>btn_dzjnh_tanchuang_duihuan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,1233},{121,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,35}}</string>
			<key>sourceSize</key>
			<string>{121,35}</string>
		</dict>
		<key>btn_dzjnh_tanchuang_queren_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,1233},{121,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,35}}</string>
			<key>sourceSize</key>
			<string>{121,35}</string>
		</dict>
		<key>btn_dzjnh_tanchuang_queren_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,1233},{121,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,35}}</string>
			<key>sourceSize</key>
			<string>{121,35}</string>
		</dict>
		<key>btn_xdjnh_huojiangxiangqing_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,1017},{124,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,59}}</string>
			<key>sourceSize</key>
			<string>{124,59}</string>
		</dict>
		<key>btn_xdjnh_huojiangxiangqing_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{43,1239},{124,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,59}}</string>
			<key>sourceSize</key>
			<string>{124,59}</string>
		</dict>
		<key>btn_xdjnh_kaishiguajiang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{35,1498},{106,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,58}}</string>
			<key>sourceSize</key>
			<string>{106,58}</string>
		</dict>
		<key>btn_xdjnh_kaishiguajiang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,729},{106,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,58}}</string>
			<key>sourceSize</key>
			<string>{106,58}</string>
		</dict>
		<key>btn_xdjnh_tanchuang_kaishi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{35,1365},{131,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,56}</string>
		</dict>
		<key>btn_xdjnh_tanchuang_kaishi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{43,1106},{131,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,56}}</string>
			<key>sourceSize</key>
			<string>{131,56}</string>
		</dict>
		<key>btn_xdjnh_zailaiyici_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,552},{175,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,53}}</string>
			<key>sourceSize</key>
			<string>{175,53}</string>
		</dict>
		<key>btn_xdjnh_zailaiyici_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,840},{175,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,53}}</string>
			<key>sourceSize</key>
			<string>{175,53}</string>
		</dict>
		<key>pic_dzjnh_anzhuxuli.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,1701},{66,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,34}}</string>
			<key>sourceSize</key>
			<string>{66,34}</string>
		</dict>
		<key>pic_dzjnh_daohangtiao_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,552},{286,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{286,54}}</string>
			<key>sourceSize</key>
			<string>{286,54}</string>
		</dict>
		<key>pic_dzjnh_duihuanshangdian_chao.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,1679},{57,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,33}}</string>
			<key>sourceSize</key>
			<string>{57,33}</string>
		</dict>
		<key>pic_dzjnh_duihuanshangdian_re.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,1714},{51,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,51}}</string>
			<key>sourceSize</key>
			<string>{51,51}</string>
		</dict>
		<key>pic_dzjnh_jieqiukuang_max.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,1285},{81,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,35}}</string>
			<key>sourceSize</key>
			<string>{81,35}</string>
		</dict>
		<key>pic_dzjnh_max.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,1771},{53,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,34}}</string>
			<key>sourceSize</key>
			<string>{53,34}</string>
		</dict>
		<key>pic_dzjnh_renwu_dailingqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,1667},{76,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,29}}</string>
			<key>sourceSize</key>
			<string>{76,29}</string>
		</dict>
		<key>pic_dzjnh_renwu_huoyuedu.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,1078},{63,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,27}}</string>
			<key>sourceSize</key>
			<string>{63,27}</string>
		</dict>
		<key>pic_dzjnh_renwu_yilingqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{42,1774},{73,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,38}}</string>
			<key>sourceSize</key>
			<string>{73,38}</string>
		</dict>
		<key>pic_dzjnh_tanchuang_1hao.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,1745},{51,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,23}}</string>
			<key>sourceSize</key>
			<string>{51,23}</string>
		</dict>
		<key>pic_dzjnh_tanchuang_2hao.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,1820},{51,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,23}}</string>
			<key>sourceSize</key>
			<string>{51,23}</string>
		</dict>
		<key>pic_dzjnh_tanchuang_3hao.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,1767},{51,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,23}}</string>
			<key>sourceSize</key>
			<string>{51,23}</string>
		</dict>
		<key>pic_dzjnh_tanchuang_4hao.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,1767},{51,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,23}}</string>
			<key>sourceSize</key>
			<string>{51,23}</string>
		</dict>
		<key>pic_dzjnh_tanchuang_5hao.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,1769},{51,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,23}}</string>
			<key>sourceSize</key>
			<string>{51,23}</string>
		</dict>
		<key>pic_dzjnh_tanchuang_gongxihuode.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,911},{103,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,31}}</string>
			<key>sourceSize</key>
			<string>{103,31}</string>
		</dict>
		<key>pic_dzjnh_tanchuang_goumaidaoju.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,1106},{125,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,31}}</string>
			<key>sourceSize</key>
			<string>{125,31}</string>
		</dict>
		<key>pic_dzjnh_tanchuang_jiangliyulan.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1509},{128,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,31}}</string>
			<key>sourceSize</key>
			<string>{128,31}</string>
		</dict>
		<key>pic_dzjnh_tanchuang_youxiguize.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,1586},{79,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,29}}</string>
			<key>sourceSize</key>
			<string>{79,29}</string>
		</dict>
		<key>pic_dzjnh_tanchuang_zhuyi.png</key>
		<dict>
			<key>frame</key>
			<string>{{35,1606},{55,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,31}}</string>
			<key>sourceSize</key>
			<string>{55,31}</string>
		</dict>
		<key>pic_dzjnh_wuliao.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,1798},{47,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,23}}</string>
			<key>sourceSize</key>
			<string>{47,23}</string>
		</dict>
		<key>pic_dzjnh_xiaohao.png</key>
		<dict>
			<key>frame</key>
			<string>{{54,1749},{47,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,23}}</string>
			<key>sourceSize</key>
			<string>{47,23}</string>
		</dict>
		<key>pic_dzjnh_xulizhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,1440},{97,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,34}}</string>
			<key>sourceSize</key>
			<string>{97,34}</string>
		</dict>
		<key>pic_dzjnh_zhigoulibao_shouqing.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1775},{73,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,38}}</string>
			<key>sourceSize</key>
			<string>{73,38}</string>
		</dict>
		<key>pic_xdjnh_tanchuang_1dengjiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,280},{270,122}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{270,122}}</string>
			<key>sourceSize</key>
			<string>{276,122}</string>
		</dict>
		<key>pic_xdjnh_tanchuang_2dengjiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,558},{276,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{276,122}}</string>
			<key>sourceSize</key>
			<string>{276,122}</string>
		</dict>
		<key>pic_xdjnh_tanchuang_3dengjiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,2},{276,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{276,122}}</string>
			<key>sourceSize</key>
			<string>{276,122}</string>
		</dict>
		<key>pic_xdjnh_tanchuang_4dengjiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,836},{268,122}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{268,122}}</string>
			<key>sourceSize</key>
			<string>{276,122}</string>
		</dict>
		<key>pic_xdjnh_tanchuang_5dengjiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,280},{276,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{276,122}}</string>
			<key>sourceSize</key>
			<string>{276,122}</string>
		</dict>
		<key>pic_xdjnh_tanchuang_6dengjiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{276,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{276,122}}</string>
			<key>sourceSize</key>
			<string>{276,122}</string>
		</dict>
		<key>pic_xdjnh_tanchuang_huojiangxiangqing.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,1368},{114,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,31}}</string>
			<key>sourceSize</key>
			<string>{114,31}</string>
		</dict>
		<key>pic_xdjnh_tanchuang_jiangji.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,1639},{108,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,22}}</string>
			<key>sourceSize</key>
			<string>{108,22}</string>
		</dict>
		<key>pic_xdjnh_tanchuang_jiangli.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,1774},{72,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,22}}</string>
			<key>sourceSize</key>
			<string>{72,22}</string>
		</dict>
		<key>pic_xdjnh_tanchuang_jianglixinxi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1639},{134,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,25}}</string>
			<key>sourceSize</key>
			<string>{134,25}</string>
		</dict>
		<key>pic_xdjnh_tanchuang_jibenguize.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,1476},{113,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,25}}</string>
			<key>sourceSize</key>
			<string>{113,25}</string>
		</dict>
		<key>pic_xdjnh_tanchuang_shenglichangci.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,1693},{76,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,21}}</string>
			<key>sourceSize</key>
			<string>{76,21}</string>
		</dict>
		<key>pic_xdjnh_tanchuang_shijian.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,1826},{53,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,21}}</string>
			<key>sourceSize</key>
			<string>{53,21}</string>
		</dict>
		<key>pic_xdjnh_tanchuang_xuanzejifangtuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1360},{147,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,31}}</string>
			<key>sourceSize</key>
			<string>{147,31}</string>
		</dict>
		<key>pic_xdjnh_tanchuang_zanwuhuojiangjilu.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1106},{252,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{252,39}}</string>
			<key>sourceSize</key>
			<string>{252,39}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_ActivityHoodle0.png</string>
		<key>size</key>
		<string>{252,1850}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_ActivityHoodle0.png</string>
	</dict>
</dict>
</plist>
