<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_guize_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1426,2},{84,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,7},{84,85}}</string>
			<key>sourceSize</key>
			<string>{102,99}</string>
		</dict>
		<key>btn_guize_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1243,31},{84,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,7},{84,85}}</string>
			<key>sourceSize</key>
			<string>{102,99}</string>
		</dict>
		<key>btn_paihang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1336,2},{88,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,7},{88,85}}</string>
			<key>sourceSize</key>
			<string>{102,99}</string>
		</dict>
		<key>btn_paihang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1027,32},{98,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,7},{98,85}}</string>
			<key>sourceSize</key>
			<string>{102,99}</string>
		</dict>
		<key>btn_woyaobashen_passbtn_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{509,60},{145,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,46}}</string>
			<key>sourceSize</key>
			<string>{145,46}</string>
		</dict>
		<key>btn_woyaobashen_passbtn_select.png</key>
		<dict>
			<key>frame</key>
			<string>{{1416,89},{37,34}}</string>
			<key>offset</key>
			<string>{-45,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,4},{37,34}}</string>
			<key>sourceSize</key>
			<string>{145,46}</string>
		</dict>
		<key>btn_woyaobashen_word_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,54},{55,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,44}}</string>
			<key>sourceSize</key>
			<string>{55,44}</string>
		</dict>
		<key>pic_woyaobashen_duibaikaung.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{269,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{269,95}}</string>
			<key>sourceSize</key>
			<string>{269,95}</string>
		</dict>
		<key>pic_woyaobashen_faguangdi.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,9},{226,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,43}}</string>
			<key>sourceSize</key>
			<string>{226,43}</string>
		</dict>
		<key>pic_woyaobashen_haoyunpaiahng.png</key>
		<dict>
			<key>frame</key>
			<string>{{523,2},{230,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{230,56}}</string>
			<key>sourceSize</key>
			<string>{230,56}</string>
		</dict>
		<key>pic_woyaobashen_huase.png</key>
		<dict>
			<key>frame</key>
			<string>{{1175,98},{24,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,23}}</string>
			<key>sourceSize</key>
			<string>{24,23}</string>
		</dict>
		<key>pic_woyaobashen_jaingli.png</key>
		<dict>
			<key>frame</key>
			<string>{{1243,2},{91,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,27}}</string>
			<key>sourceSize</key>
			<string>{91,27}</string>
		</dict>
		<key>pic_woyaobashen_jaingli2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1027,2},{108,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,28}}</string>
			<key>sourceSize</key>
			<string>{108,28}</string>
		</dict>
		<key>pic_woyaobashen_jiangli.png</key>
		<dict>
			<key>frame</key>
			<string>{{1329,89},{85,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,24}}</string>
			<key>sourceSize</key>
			<string>{85,24}</string>
		</dict>
		<key>pic_woyaobashen_jianhaojiushou.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,2},{111,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,36}}</string>
			<key>sourceSize</key>
			<string>{111,36}</string>
		</dict>
		<key>pic_woyaobashen_jintrizuijia.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,40},{90,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,79}}</string>
			<key>sourceSize</key>
			<string>{90,79}</string>
		</dict>
		<key>pic_woyaobashen_lashenjainglidikuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1137,2},{104,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,56}}</string>
			<key>sourceSize</key>
			<string>{104,56}</string>
		</dict>
		<key>pic_woyaobashen_lashenzongxinxidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{853,61},{42,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,57}}</string>
			<key>sourceSize</key>
			<string>{42,57}</string>
		</dict>
		<key>pic_woyaobashen_mianfeigaitou.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,61},{101,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,0},{101,52}}</string>
			<key>sourceSize</key>
			<string>{141,52}</string>
		</dict>
		<key>pic_woyaobashen_mianfeigaitoucishu.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,99},{155,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,26}}</string>
			<key>sourceSize</key>
			<string>{155,26}</string>
		</dict>
		<key>pic_woyaobashen_paiming.png</key>
		<dict>
			<key>frame</key>
			<string>{{1493,89},{23,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,23}}</string>
			<key>sourceSize</key>
			<string>{23,23}</string>
		</dict>
		<key>pic_woyaobashen_shuoming.png</key>
		<dict>
			<key>frame</key>
			<string>{{448,100},{50,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,23}}</string>
			<key>sourceSize</key>
			<string>{50,23}</string>
		</dict>
		<key>pic_woyaobashen_toushaizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1127,60},{78,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,0},{78,36}}</string>
			<key>sourceSize</key>
			<string>{108,36}</string>
		</dict>
		<key>pic_woyaobashen_wanfacishu.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,99},{108,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,26}}</string>
			<key>sourceSize</key>
			<string>{108,26}</string>
		</dict>
		<key>pic_woyaobashen_woyaobashen.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,54},{173,72}}</string>
			<key>offset</key>
			<string>{-19,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,72}}</string>
			<key>sourceSize</key>
			<string>{211,72}</string>
		</dict>
		<key>pic_woyaobashen_xiaobashenshaizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1455,89},{36,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,33}}</string>
			<key>sourceSize</key>
			<string>{36,33}</string>
		</dict>
		<key>pic_woyaobashen_xiaohenggang.png</key>
		<dict>
			<key>frame</key>
			<string>{{505,49},{2,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,29}}</string>
			<key>sourceSize</key>
			<string>{2,29}</string>
		</dict>
		<key>pic_woyaobashen_zhuangshifengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,2},{248,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{248,5}}</string>
			<key>sourceSize</key>
			<string>{248,5}</string>
		</dict>
		<key>pic_woyaobashen_zuanshigaitou.png</key>
		<dict>
			<key>frame</key>
			<string>{{656,60},{92,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,51}}</string>
			<key>sourceSize</key>
			<string>{92,51}</string>
		</dict>
		<key>pic_wybs_hl_numredline.png</key>
		<dict>
			<key>frame</key>
			<string>{{501,9},{38,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,4}}</string>
			<key>sourceSize</key>
			<string>{38,4}</string>
		</dict>
		<key>pic_wybs_hl_wordbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{755,2},{157,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,57}}</string>
			<key>sourceSize</key>
			<string>{157,57}</string>
		</dict>
		<key>word_rankpopup_bashenshu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1207,60},{66,24}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{66,24}}</string>
			<key>sourceSize</key>
			<string>{72,24}</string>
		</dict>
		<key>word_rankpopup_chengyuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1512,2},{81,22}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,3},{81,22}}</string>
			<key>sourceSize</key>
			<string>{83,26}</string>
		</dict>
		<key>word_rankpopup_cishu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1127,98},{46,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{46,24}}</string>
			<key>sourceSize</key>
			<string>{48,24}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>WantBashen0.png</string>
		<key>size</key>
		<string>{1536,128}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>WantBashen0.png</string>
	</dict>
</dict>
</plist>
