<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask01_jjsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,87},{125,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,39}}</string>
			<key>sourceSize</key>
			<string>{125,39}</string>
		</dict>
		<key>mask02_jjsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,87},{671,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{671,70}}</string>
			<key>sourceSize</key>
			<string>{671,70}</string>
		</dict>
		<key>mask03_jjsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,760},{64,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,62}}</string>
			<key>sourceSize</key>
			<string>{64,62}</string>
		</dict>
		<key>sg_jjsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{83,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,120}}</string>
			<key>sourceSize</key>
			<string>{83,120}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>jjsdimage.png</string>
		<key>size</key>
		<string>{128,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>jjsdimage.png</string>
	</dict>
</dict>
</plist>
