<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_common_blue_small_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,129},{125,43}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,5},{125,43}}</string>
			<key>sourceSize</key>
			<string>{133,55}</string>
		</dict>
		<key>btn_common_blue_small_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{125,43}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,5},{125,43}}</string>
			<key>sourceSize</key>
			<string>{133,55}</string>
		</dict>
		<key>btn_common_fang_yellow_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,360},{102,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,74}}</string>
			<key>sourceSize</key>
			<string>{102,74}</string>
		</dict>
		<key>btn_common_fang_yellow_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,256},{102,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,74}}</string>
			<key>sourceSize</key>
			<string>{102,74}</string>
		</dict>
		<key>btn_common_smallyellow_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,66},{62,30}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,10},{62,30}}</string>
			<key>sourceSize</key>
			<string>{88,50}</string>
		</dict>
		<key>btn_common_smallyellow_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,2},{62,30}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,10},{62,30}}</string>
			<key>sourceSize</key>
			<string>{88,50}</string>
		</dict>
		<key>pic_ay_gh_block_gougou.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,162},{27,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,26}}</string>
			<key>sourceSize</key>
			<string>{27,26}</string>
		</dict>
		<key>pic_ay_gh_block_kuangkuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,191},{25,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,25}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>pic_kuangdong_zhuzhen_duihao_dikuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,130},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>global_btn60.png</string>
		<key>size</key>
		<string>{79,464}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>global_btn60.png</string>
	</dict>
</dict>
</plist>
