<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bg_diliucengimage.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{418,303}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{418,303}}</string>
			<key>sourceSize</key>
			<string>{418,303}</string>
		</dict>
		<key>liushi_diliucengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,450},{45,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,39}}</string>
			<key>sourceSize</key>
			<string>{45,39}</string>
		</dict>
		<key>paizi_diliucengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,450},{59,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,35}}</string>
			<key>sourceSize</key>
			<string>{59,35}</string>
		</dict>
		<key>she1_diliucengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,141},{67,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,86}}</string>
			<key>sourceSize</key>
			<string>{67,86}</string>
		</dict>
		<key>she2_diliucengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,210},{80,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,113}}</string>
			<key>sourceSize</key>
			<string>{80,113}</string>
		</dict>
		<key>she3_diliucengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,325},{123,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,68}}</string>
			<key>sourceSize</key>
			<string>{123,68}</string>
		</dict>
		<key>she4_diliucengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,2},{88,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,137}}</string>
			<key>sourceSize</key>
			<string>{88,137}</string>
		</dict>
		<key>she5_diliucengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,325},{160,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,137}}</string>
			<key>sourceSize</key>
			<string>{160,137}</string>
		</dict>
		<key>shetou01_diliucengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,325},{99,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,69}}</string>
			<key>sourceSize</key>
			<string>{99,69}</string>
		</dict>
		<key>shetou02_diliucengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,325},{92,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,72}}</string>
			<key>sourceSize</key>
			<string>{92,72}</string>
		</dict>
		<key>yan_diliucengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,426},{91,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,76}}</string>
			<key>sourceSize</key>
			<string>{91,76}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>diliucengimage.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>diliucengimage.png</string>
	</dict>
</dict>
</plist>
