<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wy_10_10_12629_dsllbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{414,687},{174,153}}</string>
			<key>offset</key>
			<string>{3,-33}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,73},{174,153}}</string>
			<key>sourceSize</key>
			<string>{214,233}</string>
		</dict>
		<key>wy_11_11_92124_dsllbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{764,352},{174,65}}</string>
			<key>offset</key>
			<string>{3,-77}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,161},{174,65}}</string>
			<key>sourceSize</key>
			<string>{214,233}</string>
		</dict>
		<key>wy_12_12_2614_dsllbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{940,414},{174,63}}</string>
			<key>offset</key>
			<string>{3,-77}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,162},{174,63}}</string>
			<key>sourceSize</key>
			<string>{214,233}</string>
		</dict>
		<key>wy_14_14_50255_dsllbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,942},{173,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,75}}</string>
			<key>sourceSize</key>
			<string>{173,75}</string>
		</dict>
		<key>wy_1_1_34697_dsllbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{973,170},{48,69}}</string>
			<key>offset</key>
			<string>{3,82}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{86,0},{48,69}}</string>
			<key>sourceSize</key>
			<string>{214,233}</string>
		</dict>
		<key>wy_28_28_2852_dsllbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{940,352},{60,71}}</string>
			<key>offset</key>
			<string>{4,81}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{81,0},{60,71}}</string>
			<key>sourceSize</key>
			<string>{214,233}</string>
		</dict>
		<key>wy_29_29_98357_dsllbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,904},{104,109}}</string>
			<key>offset</key>
			<string>{6,62}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{61,0},{104,109}}</string>
			<key>sourceSize</key>
			<string>{214,233}</string>
		</dict>
		<key>wy_2_2_34005_dsllbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,923},{84,107}}</string>
			<key>offset</key>
			<string>{5,63}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,0},{84,107}}</string>
			<key>sourceSize</key>
			<string>{214,233}</string>
		</dict>
		<key>wy_30_30_27941_dsllbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,472},{104,233}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{61,0},{104,233}}</string>
			<key>sourceSize</key>
			<string>{214,233}</string>
		</dict>
		<key>wy_31_31_6412_dsllbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,237},{142,233}}</string>
			<key>offset</key>
			<string>{-8,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,0},{142,233}}</string>
			<key>sourceSize</key>
			<string>{214,233}</string>
		</dict>
		<key>wy_32_32_2120_dsllbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{779,2},{166,209}}</string>
			<key>offset</key>
			<string>{-2,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,24},{166,209}}</string>
			<key>sourceSize</key>
			<string>{214,233}</string>
		</dict>
		<key>wy_33_33_97211_dsllbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{770,170},{180,201}}</string>
			<key>offset</key>
			<string>{-2,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,24},{180,201}}</string>
			<key>sourceSize</key>
			<string>{214,233}</string>
		</dict>
		<key>wy_34_34_41980_dsllbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{563,2},{214,159}}</string>
			<key>offset</key>
			<string>{0,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,65},{214,159}}</string>
			<key>sourceSize</key>
			<string>{214,233}</string>
		</dict>
		<key>wy_35_35_27804_dsllbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,688},{214,159}}</string>
			<key>offset</key>
			<string>{0,-29}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,66},{214,159}}</string>
			<key>sourceSize</key>
			<string>{214,233}</string>
		</dict>
		<key>wy_36_36_54387_dsllbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,515},{170,153}}</string>
			<key>offset</key>
			<string>{-2,-32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,72},{170,153}}</string>
			<key>sourceSize</key>
			<string>{214,233}</string>
		</dict>
		<key>wy_37_37_4399_dsllbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{563,863},{172,151}}</string>
			<key>offset</key>
			<string>{-2,-32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,73},{172,151}}</string>
			<key>sourceSize</key>
			<string>{214,233}</string>
		</dict>
		<key>wy_38_38_53288_dsllbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{569,687},{174,65}}</string>
			<key>offset</key>
			<string>{-2,-75}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,159},{174,65}}</string>
			<key>sourceSize</key>
			<string>{214,233}</string>
		</dict>
		<key>wy_39_39_24973_dsllbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{764,419},{172,61}}</string>
			<key>offset</key>
			<string>{-2,-75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,161},{172,61}}</string>
			<key>sourceSize</key>
			<string>{214,233}</string>
		</dict>
		<key>wy_3_3_46581_dsllbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,707},{84,233}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{70,0},{84,233}}</string>
			<key>sourceSize</key>
			<string>{214,233}</string>
		</dict>
		<key>wy_40_40_44154_dsllbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,904},{169,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,73}}</string>
			<key>sourceSize</key>
			<string>{169,73}</string>
		</dict>
		<key>wy_4_4_55733_dsllbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{142,233}}</string>
			<key>offset</key>
			<string>{-8,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,0},{142,233}}</string>
			<key>sourceSize</key>
			<string>{214,233}</string>
		</dict>
		<key>wy_5_5_94923_dsllbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{563,163},{168,205}}</string>
			<key>offset</key>
			<string>{-1,-14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,28},{168,205}}</string>
			<key>sourceSize</key>
			<string>{214,233}</string>
		</dict>
		<key>wy_6_6_92191_dsllbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{563,333},{180,199}}</string>
			<key>offset</key>
			<string>{-2,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,28},{180,199}}</string>
			<key>sourceSize</key>
			<string>{214,233}</string>
		</dict>
		<key>wy_7_7_98883_dsllbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,472},{214,161}}</string>
			<key>offset</key>
			<string>{0,-30}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,66},{214,161}}</string>
			<key>sourceSize</key>
			<string>{214,233}</string>
		</dict>
		<key>wy_8_8_58569_dsllbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,707},{214,163}}</string>
			<key>offset</key>
			<string>{0,-30}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,65},{214,163}}</string>
			<key>sourceSize</key>
			<string>{214,233}</string>
		</dict>
		<key>wy_9_9_8368_dsllbuffimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,515},{170,155}}</string>
			<key>offset</key>
			<string>{3,-33}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25,72},{170,155}}</string>
			<key>sourceSize</key>
			<string>{214,233}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>dsllbuffimage.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dsllbuffimage.png</string>
	</dict>
</dict>
</plist>
