<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_dlls_ptbs_baibo_00044.png</key>
		<dict>
			<key>frame</key>
			<string>{{860,2},{104,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,103}}</string>
			<key>sourceSize</key>
			<string>{104,103}</string>
		</dict>
		<key>New_dlls_ptbs_baibo_00046.png</key>
		<dict>
			<key>frame</key>
			<string>{{557,2},{115,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,114}}</string>
			<key>sourceSize</key>
			<string>{115,114}</string>
		</dict>
		<key>New_dlls_ptbs_baibo_00048.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,2},{122,124}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,124}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>New_kl_putongbisha2_baoqi_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,127},{110,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,122}}</string>
			<key>sourceSize</key>
			<string>{110,122}</string>
		</dict>
		<key>New_kl_putongbisha2_baoqi_00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,125},{117,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,119}}</string>
			<key>sourceSize</key>
			<string>{117,119}</string>
		</dict>
		<key>New_kl_putongbisha2_baoqi_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,530},{123,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,122}}</string>
			<key>sourceSize</key>
			<string>{123,122}</string>
		</dict>
		<key>New_kl_putongbisha2_baoqi_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,136},{132,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,131}}</string>
			<key>sourceSize</key>
			<string>{132,131}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_baofeng2_00144.png</key>
		<dict>
			<key>frame</key>
			<string>{{860,106},{102,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,89}}</string>
			<key>sourceSize</key>
			<string>{102,89}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_baofeng2_00148.png</key>
		<dict>
			<key>frame</key>
			<string>{{553,239},{115,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,105}}</string>
			<key>sourceSize</key>
			<string>{115,105}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_baofeng2_00152.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,245},{116,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,106}}</string>
			<key>sourceSize</key>
			<string>{116,106}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_baofeng2_00168.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,355},{103,107}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{103,107}}</string>
			<key>sourceSize</key>
			<string>{105,107}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_baofeng2_00172.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,488},{114,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{114,102}}</string>
			<key>sourceSize</key>
			<string>{114,104}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_baofeng2_00176.png</key>
		<dict>
			<key>frame</key>
			<string>{{820,266},{100,101}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,1},{100,101}}</string>
			<key>sourceSize</key>
			<string>{110,103}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_baofeng2_00180.png</key>
		<dict>
			<key>frame</key>
			<string>{{449,2},{119,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,107}}</string>
			<key>sourceSize</key>
			<string>{119,107}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_baofeng2_00188.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,371},{117,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{117,102}}</string>
			<key>sourceSize</key>
			<string>{117,104}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_baofeng2_00192.png</key>
		<dict>
			<key>frame</key>
			<string>{{334,762},{117,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,106}}</string>
			<key>sourceSize</key>
			<string>{117,106}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_baofeng2_00196.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,509},{117,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,105}}</string>
			<key>sourceSize</key>
			<string>{117,105}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_baofeng2_00200.png</key>
		<dict>
			<key>frame</key>
			<string>{{518,122},{116,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{116,105}}</string>
			<key>sourceSize</key>
			<string>{116,107}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_baofeng2_00204.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,627},{117,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,104}}</string>
			<key>sourceSize</key>
			<string>{117,104}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_baofeng2_00212.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,523},{121,95}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{121,95}}</string>
			<key>sourceSize</key>
			<string>{121,97}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_baofeng2_00216.png</key>
		<dict>
			<key>frame</key>
			<string>{{554,355},{114,83}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{114,83}}</string>
			<key>sourceSize</key>
			<string>{114,85}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_baofeng_00144.png</key>
		<dict>
			<key>frame</key>
			<string>{{902,444},{97,94}}</string>
			<key>offset</key>
			<string>{-1,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,14},{97,94}}</string>
			<key>sourceSize</key>
			<string>{99,114}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_baofeng_00148.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,399},{109,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{109,123}}</string>
			<key>sourceSize</key>
			<string>{109,125}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_baofeng_00156.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,388},{109,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{109,120}}</string>
			<key>sourceSize</key>
			<string>{109,122}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_baofeng_00160.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,371},{109,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{109,116}}</string>
			<key>sourceSize</key>
			<string>{109,118}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_baofeng_00164.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,523},{110,120}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{110,120}}</string>
			<key>sourceSize</key>
			<string>{110,124}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_baofeng_00168.png</key>
		<dict>
			<key>frame</key>
			<string>{{327,644},{109,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{109,117}}</string>
			<key>sourceSize</key>
			<string>{109,119}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_baofeng_00172.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,250},{106,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{106,120}}</string>
			<key>sourceSize</key>
			<string>{106,122}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_baofeng_00176.png</key>
		<dict>
			<key>frame</key>
			<string>{{624,118},{104,115}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{104,115}}</string>
			<key>sourceSize</key>
			<string>{106,117}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_baofeng_00180.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,777},{106,119}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{106,119}}</string>
			<key>sourceSize</key>
			<string>{106,121}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_baofeng_00184.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,896},{107,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,118}}</string>
			<key>sourceSize</key>
			<string>{107,118}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_baofeng_00192.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,2},{110,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,122}}</string>
			<key>sourceSize</key>
			<string>{110,122}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_baofeng_00196.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,654},{110,122}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{110,122}}</string>
			<key>sourceSize</key>
			<string>{110,124}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_baofeng_00200.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,777},{110,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,122}}</string>
			<key>sourceSize</key>
			<string>{110,122}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_baofeng_00204.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,900},{110,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,122}}</string>
			<key>sourceSize</key>
			<string>{110,122}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_youcibang_00045.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,897},{119,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,98}}</string>
			<key>sourceSize</key>
			<string>{119,98}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_yumao3_00043.png</key>
		<dict>
			<key>frame</key>
			<string>{{696,504},{90,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,95}}</string>
			<key>sourceSize</key>
			<string>{90,95}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_yumao3_00051.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,654},{109,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,122}}</string>
			<key>sourceSize</key>
			<string>{109,122}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_yumao3_00055.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,269},{115,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,129}}</string>
			<key>sourceSize</key>
			<string>{115,129}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_yumao3_00059.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,400},{118,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,129}}</string>
			<key>sourceSize</key>
			<string>{118,129}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_yumao3_00063.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{120,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,133}}</string>
			<key>sourceSize</key>
			<string>{120,133}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_yumao3_00067.png</key>
		<dict>
			<key>frame</key>
			<string>{{729,118},{105,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,90}}</string>
			<key>sourceSize</key>
			<string>{105,90}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_zuocibang_00043.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,354},{98,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,89}}</string>
			<key>sourceSize</key>
			<string>{98,89}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_zuocibang_00045.png</key>
		<dict>
			<key>frame</key>
			<string>{{590,470},{107,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,105}}</string>
			<key>sourceSize</key>
			<string>{107,105}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_zuocibang_00048.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,777},{118,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,113}}</string>
			<key>sourceSize</key>
			<string>{118,113}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_zuocibang_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,897},{117,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,118}}</string>
			<key>sourceSize</key>
			<string>{117,118}</string>
		</dict>
		<key>New_lkhhd_liumenbisha_zuocibang_00056.png</key>
		<dict>
			<key>frame</key>
			<string>{{659,234},{99,106}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,106}}</string>
			<key>sourceSize</key>
			<string>{101,106}</string>
		</dict>
		<key>New_lkhhd_putongbisha_baofeng2_00055.png</key>
		<dict>
			<key>frame</key>
			<string>{{441,745},{113,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,40}}</string>
			<key>sourceSize</key>
			<string>{113,40}</string>
		</dict>
		<key>New_lkhhd_putongbisha_baofeng2_00059.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,489},{117,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,48}}</string>
			<key>sourceSize</key>
			<string>{117,48}</string>
		</dict>
		<key>New_lkhhd_putongbisha_baofeng2_00061.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,125},{120,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,48}}</string>
			<key>sourceSize</key>
			<string>{120,48}</string>
		</dict>
		<key>New_lkhhd_putongbisha_baofeng_00055.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,880},{114,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,49}}</string>
			<key>sourceSize</key>
			<string>{114,49}</string>
		</dict>
		<key>New_lkhhd_putongbisha_baofeng_00057.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,2},{115,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,51}}</string>
			<key>sourceSize</key>
			<string>{115,51}</string>
		</dict>
		<key>New_lkhhd_putongbisha_baofeng_00059.png</key>
		<dict>
			<key>frame</key>
			<string>{{724,2},{115,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,45}}</string>
			<key>sourceSize</key>
			<string>{115,45}</string>
		</dict>
		<key>New_lkhhd_putongbisha_liuguang_00047.png</key>
		<dict>
			<key>frame</key>
			<string>{{820,367},{58,98}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{58,98}}</string>
			<key>sourceSize</key>
			<string>{62,102}</string>
		</dict>
		<key>New_lkhhd_putongbisha_liuguang_00055.png</key>
		<dict>
			<key>frame</key>
			<string>{{759,323},{60,96}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{60,96}}</string>
			<key>sourceSize</key>
			<string>{62,102}</string>
		</dict>
		<key>New_lkhhd_putongbisha_liuguang_00059.png</key>
		<dict>
			<key>frame</key>
			<string>{{963,106},{58,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{58,102}}</string>
			<key>sourceSize</key>
			<string>{62,102}</string>
		</dict>
		<key>New_lkhhd_putongbisha_liuguang_00063.png</key>
		<dict>
			<key>frame</key>
			<string>{{759,224},{60,98}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{60,98}}</string>
			<key>sourceSize</key>
			<string>{62,102}</string>
		</dict>
		<key>New_lkhhd_putongbisha_liuguang_00067.png</key>
		<dict>
			<key>frame</key>
			<string>{{803,485},{58,96}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{58,96}}</string>
			<key>sourceSize</key>
			<string>{62,102}</string>
		</dict>
		<key>New_lkhhd_putongbisha_liuguang_00071.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,295},{58,100}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{58,100}}</string>
			<key>sourceSize</key>
			<string>{62,102}</string>
		</dict>
		<key>New_lkhhd_putongbisha_liuguang_00075.png</key>
		<dict>
			<key>frame</key>
			<string>{{803,426},{58,98}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,3},{58,98}}</string>
			<key>sourceSize</key>
			<string>{62,102}</string>
		</dict>
		<key>New_lkhhd_putongbisha_quanji2_00047.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,265},{114,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,122}}</string>
			<key>sourceSize</key>
			<string>{114,122}</string>
		</dict>
		<key>New_lkhhd_shengli_youyumao_00042.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,2},{91,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,132}}</string>
			<key>sourceSize</key>
			<string>{91,132}</string>
		</dict>
		<key>New_lkhhd_shengli_zuoyumao_00038.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,209},{85,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,99}}</string>
			<key>sourceSize</key>
			<string>{85,99}</string>
		</dict>
		<key>New_lkhhd_shengli_zuoyumao_00042.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,603},{96,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,109}}</string>
			<key>sourceSize</key>
			<string>{96,109}</string>
		</dict>
		<key>New_lkhhd_shengli_zuoyumao_00046.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,644},{103,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,118}}</string>
			<key>sourceSize</key>
			<string>{103,118}</string>
		</dict>
		<key>New_lkhhd_shengli_zuoyumao_00054.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,135},{105,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,129}}</string>
			<key>sourceSize</key>
			<string>{105,129}</string>
		</dict>
		<key>New_lkhhd_shengli_zuoyumao_00078.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,269},{105,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,130}}</string>
			<key>sourceSize</key>
			<string>{105,130}</string>
		</dict>
		<key>New_lkhhd_xiaojineng_yumao_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{742,420},{83,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,60}}</string>
			<key>sourceSize</key>
			<string>{83,60}</string>
		</dict>
		<key>New_lkhhd_xiaojineng_yumao_00046.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,745},{109,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,99}}</string>
			<key>sourceSize</key>
			<string>{109,99}</string>
		</dict>
		<key>New_lkhhd_xiaojineng_yumao_00054.png</key>
		<dict>
			<key>frame</key>
			<string>{{770,2},{89,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,105}}</string>
			<key>sourceSize</key>
			<string>{89,105}</string>
		</dict>
		<key>New_lkhhd_xiaojineng_yumao_00058.png</key>
		<dict>
			<key>frame</key>
			<string>{{820,196},{69,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,102}}</string>
			<key>sourceSize</key>
			<string>{69,102}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>lkhhdXV_common3.png</string>
		<key>scale</key>
		<real>0.39</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lkhhdXV_common3.png</string>
	</dict>
</dict>
</plist>
