<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ay_dabi1_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,484},{56,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,39}}</string>
			<key>sourceSize</key>
			<string>{56,39}</string>
		</dict>
		<key>ay_dabi2_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{561,791},{52,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,38}}</string>
			<key>sourceSize</key>
			<string>{52,38}</string>
		</dict>
		<key>ay_datui1_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{940,169},{48,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,74}}</string>
			<key>sourceSize</key>
			<string>{48,74}</string>
		</dict>
		<key>ay_datui2_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{960,2},{62,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,73}}</string>
			<key>sourceSize</key>
			<string>{62,73}</string>
		</dict>
		<key>ay_jiao1_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,287},{33,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,37}}</string>
			<key>sourceSize</key>
			<string>{33,37}</string>
		</dict>
		<key>ay_jiao2_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{526,791},{39,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,33}}</string>
			<key>sourceSize</key>
			<string>{39,33}</string>
		</dict>
		<key>ay_lingjin1_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,849},{11,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,14}}</string>
			<key>sourceSize</key>
			<string>{11,14}</string>
		</dict>
		<key>ay_lingjin2_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,849},{12,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,20}}</string>
			<key>sourceSize</key>
			<string>{12,20}</string>
		</dict>
		<key>ay_qiu1_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,849},{15,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,14}}</string>
			<key>sourceSize</key>
			<string>{15,14}</string>
		</dict>
		<key>ay_qunzi16100_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,261},{25,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,28}}</string>
			<key>sourceSize</key>
			<string>{25,28}</string>
		</dict>
		<key>ay_qunzi16101_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{770,985},{30,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,31}}</string>
			<key>sourceSize</key>
			<string>{30,31}</string>
		</dict>
		<key>ay_qunzi1691_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{940,219},{74,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,27}}</string>
			<key>sourceSize</key>
			<string>{74,27}</string>
		</dict>
		<key>ay_qunzi1692_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,285},{35,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,35}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>ay_qunzi1693_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,271},{25,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,29}}</string>
			<key>sourceSize</key>
			<string>{25,29}</string>
		</dict>
		<key>ay_qunzi1694_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,244},{29,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,25}}</string>
			<key>sourceSize</key>
			<string>{29,25}</string>
		</dict>
		<key>ay_qunzi1695_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,233},{28,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,26}}</string>
			<key>sourceSize</key>
			<string>{28,26}</string>
		</dict>
		<key>ay_qunzi1696_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{662,985},{31,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,32}}</string>
			<key>sourceSize</key>
			<string>{31,32}</string>
		</dict>
		<key>ay_qunzi1697_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{695,985},{32,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,31}}</string>
			<key>sourceSize</key>
			<string>{32,31}</string>
		</dict>
		<key>ay_qunzi1698_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{992,300},{24,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,27}}</string>
			<key>sourceSize</key>
			<string>{24,27}</string>
		</dict>
		<key>ay_qunzi1699_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{992,274},{24,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,27}}</string>
			<key>sourceSize</key>
			<string>{24,27}</string>
		</dict>
		<key>ay_qunzi1_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,173},{110,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,59}}</string>
			<key>sourceSize</key>
			<string>{110,59}</string>
		</dict>
		<key>ay_shou1_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,993},{47,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,29}}</string>
			<key>sourceSize</key>
			<string>{47,29}</string>
		</dict>
		<key>ay_shou2_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,287},{36,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,40}}</string>
			<key>sourceSize</key>
			<string>{36,40}</string>
		</dict>
		<key>ay_tou1_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,233},{92,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,91}}</string>
			<key>sourceSize</key>
			<string>{92,91}</string>
		</dict>
		<key>ay_toufa001_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{728,985},{40,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,31}}</string>
			<key>sourceSize</key>
			<string>{40,31}</string>
		</dict>
		<key>ay_toufa002_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,287},{38,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,37}}</string>
			<key>sourceSize</key>
			<string>{38,37}</string>
		</dict>
		<key>ay_toufa003_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{562,993},{29,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,49}}</string>
			<key>sourceSize</key>
			<string>{29,49}</string>
		</dict>
		<key>ay_toufa004_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,216},{30,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,26}}</string>
			<key>sourceSize</key>
			<string>{30,26}</string>
		</dict>
		<key>ay_toufa005_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{547,311},{20,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,26}}</string>
			<key>sourceSize</key>
			<string>{20,26}</string>
		</dict>
		<key>ay_toufa006_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{992,248},{24,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,27}}</string>
			<key>sourceSize</key>
			<string>{24,27}</string>
		</dict>
		<key>ay_toufa1_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{988,326},{19,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,25}}</string>
			<key>sourceSize</key>
			<string>{19,25}</string>
		</dict>
		<key>ay_toufa2_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{571,258},{59,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,65}}</string>
			<key>sourceSize</key>
			<string>{59,65}</string>
		</dict>
		<key>ay_toufa3_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{615,791},{33,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,61}}</string>
			<key>sourceSize</key>
			<string>{33,61}</string>
		</dict>
		<key>ay_toufa4_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{676,2},{123,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,139}}</string>
			<key>sourceSize</key>
			<string>{123,139}</string>
		</dict>
		<key>ay_xiaobi1_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{441,484},{54,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,48}}</string>
			<key>sourceSize</key>
			<string>{54,48}</string>
		</dict>
		<key>ay_xiaobi2_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{960,77},{62,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,42}}</string>
			<key>sourceSize</key>
			<string>{62,42}</string>
		</dict>
		<key>ay_xiaotui1_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,311},{45,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,53}}</string>
			<key>sourceSize</key>
			<string>{45,53}</string>
		</dict>
		<key>ay_xiaotui2_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{926,248},{64,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,63}}</string>
			<key>sourceSize</key>
			<string>{64,63}</string>
		</dict>
		<key>ay_xiong1_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{571,167},{71,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,89}}</string>
			<key>sourceSize</key>
			<string>{71,89}</string>
		</dict>
		<key>b10_toufa1166_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,849},{173,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,88}}</string>
			<key>sourceSize</key>
			<string>{173,88}</string>
		</dict>
		<key>b11_a15_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,95},{136,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,136}}</string>
			<key>sourceSize</key>
			<string>{136,136}</string>
		</dict>
		<key>b12_houtoufa11_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{413,169},{156,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,140}}</string>
			<key>sourceSize</key>
			<string>{156,140}</string>
		</dict>
		<key>b12_houtoufa12_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,326},{223,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{223,114}}</string>
			<key>sourceSize</key>
			<string>{223,114}</string>
		</dict>
		<key>b12_houtoufa_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,867},{147,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,117}}</string>
			<key>sourceSize</key>
			<string>{147,117}</string>
		</dict>
		<key>b2_toufa_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,631},{216,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,98}}</string>
			<key>sourceSize</key>
			<string>{216,98}</string>
		</dict>
		<key>b5_houtoufa_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,318},{164,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,89}}</string>
			<key>sourceSize</key>
			<string>{164,89}</string>
		</dict>
		<key>b6_houtoufa1_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,551},{157,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,78}}</string>
			<key>sourceSize</key>
			<string>{157,78}</string>
		</dict>
		<key>b6_houtoufa_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,635},{230,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{230,63}}</string>
			<key>sourceSize</key>
			<string>{230,63}</string>
		</dict>
		<key>d5_2812_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{548,2},{163,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,126}}</string>
			<key>sourceSize</key>
			<string>{163,126}</string>
		</dict>
		<key>d6_a28_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,871},{150,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,115}}</string>
			<key>sourceSize</key>
			<string>{150,115}</string>
		</dict>
		<key>d7_a1_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,2},{156,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,91}}</string>
			<key>sourceSize</key>
			<string>{156,91}</string>
		</dict>
		<key>g3_a21_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{502,832},{189,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,58}}</string>
			<key>sourceSize</key>
			<string>{189,58}</string>
		</dict>
		<key>g4_a23_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,324},{216,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,113}}</string>
			<key>sourceSize</key>
			<string>{216,113}</string>
		</dict>
		<key>g5_a16_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{373,843},{170,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,127}}</string>
			<key>sourceSize</key>
			<string>{170,127}</string>
		</dict>
		<key>g7_a20_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,173},{143,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,85}}</string>
			<key>sourceSize</key>
			<string>{143,85}</string>
		</dict>
		<key>n1_a21016_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,2},{169,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,144}}</string>
			<key>sourceSize</key>
			<string>{169,144}</string>
		</dict>
		<key>n1_a21661_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,542},{114,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,84}}</string>
			<key>sourceSize</key>
			<string>{114,84}</string>
		</dict>
		<key>n1_a21662_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{328,542},{101,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,86}}</string>
			<key>sourceSize</key>
			<string>{101,86}</string>
		</dict>
		<key>n1_a21663_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,287},{39,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,35}}</string>
			<key>sourceSize</key>
			<string>{39,35}</string>
		</dict>
		<key>n1_a21664_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,167},{47,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,30}}</string>
			<key>sourceSize</key>
			<string>{47,30}</string>
		</dict>
		<key>n1_a21665_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{925,313},{61,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,47}}</string>
			<key>sourceSize</key>
			<string>{61,47}</string>
		</dict>
		<key>n1_a21666_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,288},{27,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,60}}</string>
			<key>sourceSize</key>
			<string>{27,60}</string>
		</dict>
		<key>n1_a21667_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,326},{48,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,60}}</string>
			<key>sourceSize</key>
			<string>{48,60}</string>
		</dict>
		<key>n1_a21_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,2},{165,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,142}}</string>
			<key>sourceSize</key>
			<string>{165,142}</string>
		</dict>
		<key>n2_a1_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{678,143},{114,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,130}}</string>
			<key>sourceSize</key>
			<string>{114,130}</string>
		</dict>
		<key>n2_a22_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,635},{122,234}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,234}}</string>
			<key>sourceSize</key>
			<string>{122,234}</string>
		</dict>
		<key>n3_a166_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,871},{43,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,149}}</string>
			<key>sourceSize</key>
			<string>{43,149}</string>
		</dict>
		<key>n3_a1_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,326},{165,307}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,307}}</string>
			<key>sourceSize</key>
			<string>{165,307}</string>
		</dict>
		<key>n3_a1bu1_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,2},{125,283}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,283}}</string>
			<key>sourceSize</key>
			<string>{125,283}</string>
		</dict>
		<key>n4_a1_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{653,826},{138,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,157}}</string>
			<key>sourceSize</key>
			<string>{138,157}</string>
		</dict>
		<key>n5_a1_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,631},{126,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,210}}</string>
			<key>sourceSize</key>
			<string>{126,210}</string>
		</dict>
		<key>n6_a1_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{940,121},{46,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,77}}</string>
			<key>sourceSize</key>
			<string>{46,77}</string>
		</dict>
		<key>n6_a21_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{526,628},{161,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,116}}</string>
			<key>sourceSize</key>
			<string>{161,116}</string>
		</dict>
		<key>n6_a2_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{562,831},{89,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,160}}</string>
			<key>sourceSize</key>
			<string>{89,160}</string>
		</dict>
		<key>n7_a1_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{127,322}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,322}}</string>
			<key>sourceSize</key>
			<string>{127,322}</string>
		</dict>
		<key>x2_a26_yisanyadaijiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,630},{200,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,105}}</string>
			<key>sourceSize</key>
			<string>{200,105}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>yisanyadaijiimage.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>yisanyadaijiimage.png</string>
	</dict>
</dict>
</plist>
