<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_znscg_daohang_jiahao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{898,323},{179,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{179,36}}</string>
			<key>sourceSize</key>
			<string>{179,38}</string>
		</dict>
		<key>btn_znscg_daohang_jiahao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{860,323},{179,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{179,36}}</string>
			<key>sourceSize</key>
			<string>{179,38}</string>
		</dict>
		<key>pic_znscg_cebian_xian.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,503},{151,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,6}}</string>
			<key>sourceSize</key>
			<string>{151,6}</string>
		</dict>
		<key>pic_znscg_cebian_xuanzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,387},{166,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,33}}</string>
			<key>sourceSize</key>
			<string>{166,33}</string>
		</dict>
		<key>pic_znscg_jindutiao_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{860,293},{94,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,14}}</string>
			<key>sourceSize</key>
			<string>{94,14}</string>
		</dict>
		<key>pic_znscg_jindutiao_hong.png</key>
		<dict>
			<key>frame</key>
			<string>{{860,309},{90,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{90,12}}</string>
			<key>sourceSize</key>
			<string>{94,14}</string>
		</dict>
		<key>pic_znscg_jindutiao_lv.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,426},{90,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{90,12}}</string>
			<key>sourceSize</key>
			<string>{94,14}</string>
		</dict>
		<key>pic_znscg_taizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{447,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{447,34}}</string>
			<key>sourceSize</key>
			<string>{447,34}</string>
		</dict>
		<key>pic_znscg_tc_chengjiu_k.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,2},{396,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{396,173}}</string>
			<key>sourceSize</key>
			<string>{396,173}</string>
		</dict>
		<key>pic_znscg_tc_chengjiu_zs.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,2},{315,422}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{315,422}}</string>
			<key>sourceSize</key>
			<string>{321,428}</string>
		</dict>
		<key>pic_znscg_tc_jindu_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{952,309},{164,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,14}}</string>
			<key>sourceSize</key>
			<string>{164,14}</string>
		</dict>
		<key>pic_znscg_tc_jindu_tiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{936,323},{160,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{160,12}}</string>
			<key>sourceSize</key>
			<string>{164,14}</string>
		</dict>
		<key>pic_znscg_tc_meirirenwu_cebianx.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,440},{155,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,7}}</string>
			<key>sourceSize</key>
			<string>{155,7}</string>
		</dict>
		<key>pic_znscg_tc_meirirenwu_k.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,2},{436,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{436,83}}</string>
			<key>sourceSize</key>
			<string>{436,83}</string>
		</dict>
		<key>pic_znscg_tc_qingdianrenwu_k.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,426},{626,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{626,83}}</string>
			<key>sourceSize</key>
			<string>{626,83}</string>
		</dict>
		<key>pic_znscg_tcg_meirirenwu_cebiandi.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,177},{208,353}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,8},{208,353}}</string>
			<key>sourceSize</key>
			<string>{224,367}</string>
		</dict>
		<key>pic_znscg_zhanshizhao.png</key>
		<dict>
			<key>frame</key>
			<string>{{860,149},{107,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,142}}</string>
			<key>sourceSize</key>
			<string>{107,142}</string>
		</dict>
		<key>pic_znscg_zhanshizhaodi.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,449},{113,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,50}}</string>
			<key>sourceSize</key>
			<string>{113,50}</string>
		</dict>
		<key>pic_znscg_zhanshizhaodihhui.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,451},{113,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,50}}</string>
			<key>sourceSize</key>
			<string>{113,50}</string>
		</dict>
		<key>pic_znscg_zhanshizhaoh.png</key>
		<dict>
			<key>frame</key>
			<string>{{860,2},{107,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,145}}</string>
			<key>sourceSize</key>
			<string>{107,145}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>CollectionHall0.png</string>
		<key>size</key>
		<string>{969,511}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>CollectionHall0.png</string>
	</dict>
</dict>
</plist>
