<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_ax_liumenbisha_baoqi_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{849,2},{173,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,157}}</string>
			<key>sourceSize</key>
			<string>{173,157}</string>
		</dict>
		<key>New_ax_liumenbisha_baoqi_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{540,605},{176,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,165}}</string>
			<key>sourceSize</key>
			<string>{176,165}</string>
		</dict>
		<key>New_ax_liumenbisha_baoqi_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{565,831},{183,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,188}}</string>
			<key>sourceSize</key>
			<string>{183,188}</string>
		</dict>
		<key>New_ax_liumenbisha_baoqi_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{828,336},{186,189}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,189}}</string>
			<key>sourceSize</key>
			<string>{186,189}</string>
		</dict>
		<key>New_ax_liumenbisha_baoqi_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,831},{188,187}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,187}}</string>
			<key>sourceSize</key>
			<string>{188,187}</string>
		</dict>
		<key>New_ax_liumenbisha_baoqi_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{846,160},{176,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,175}}</string>
			<key>sourceSize</key>
			<string>{176,175}</string>
		</dict>
		<key>New_ax_liumenbisha_baoqi_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{706,605},{175,196}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{175,196}}</string>
			<key>sourceSize</key>
			<string>{179,200}</string>
		</dict>
		<key>New_ax_liumenbisha_baoqi_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,688},{201,223}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,223}}</string>
			<key>sourceSize</key>
			<string>{201,223}</string>
		</dict>
		<key>New_ax_liumenbisha_baozha2_00171.png</key>
		<dict>
			<key>frame</key>
			<string>{{817,953},{69,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,73}}</string>
			<key>sourceSize</key>
			<string>{69,73}</string>
		</dict>
		<key>New_ax_liumenbisha_baozha2_00172.png</key>
		<dict>
			<key>frame</key>
			<string>{{891,953},{69,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,73}}</string>
			<key>sourceSize</key>
			<string>{69,73}</string>
		</dict>
		<key>New_ax_liumenbisha_huozhu1_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,599},{109,182}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{109,182}}</string>
			<key>sourceSize</key>
			<string>{111,182}</string>
		</dict>
		<key>New_ax_liumenbisha_huozhu1_00061.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,899},{119,259}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,259}}</string>
			<key>sourceSize</key>
			<string>{119,259}</string>
		</dict>
		<key>New_ax_liumenbisha_huozhu2_00062.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{150,298}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,298}}</string>
			<key>sourceSize</key>
			<string>{150,298}</string>
		</dict>
		<key>New_ax_liumenbisha_huozhu2_00064.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,149},{150,285}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,285}}</string>
			<key>sourceSize</key>
			<string>{150,285}</string>
		</dict>
		<key>New_ax_liumenbisha_huozhu2_00066.png</key>
		<dict>
			<key>frame</key>
			<string>{{547,306},{151,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,280}}</string>
			<key>sourceSize</key>
			<string>{151,280}</string>
		</dict>
		<key>New_ax_liumenbisha_huozhu2_00067.png</key>
		<dict>
			<key>frame</key>
			<string>{{560,2},{152,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,288}}</string>
			<key>sourceSize</key>
			<string>{152,288}</string>
		</dict>
		<key>New_ax_liumenbisha_huozhu2_00088.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,2},{146,297}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,297}}</string>
			<key>sourceSize</key>
			<string>{146,297}</string>
		</dict>
		<key>New_ax_liumenbisha_huozhu2_00091.png</key>
		<dict>
			<key>frame</key>
			<string>{{540,458},{146,276}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,276}}</string>
			<key>sourceSize</key>
			<string>{146,276}</string>
		</dict>
		<key>New_ax_liumenbisha_huozhu2_00094.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,300},{147,284}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,284}}</string>
			<key>sourceSize</key>
			<string>{147,284}</string>
		</dict>
		<key>New_ax_liumenbisha_huozhu2_00105.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,301},{150,298}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,298}}</string>
			<key>sourceSize</key>
			<string>{150,298}</string>
		</dict>
		<key>New_ax_liumenbisha_huozhu3_00148.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,600},{150,298}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,298}}</string>
			<key>sourceSize</key>
			<string>{150,298}</string>
		</dict>
		<key>New_ax_liumenbisha_huozhu3_00150.png</key>
		<dict>
			<key>frame</key>
			<string>{{560,155},{150,285}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,285}}</string>
			<key>sourceSize</key>
			<string>{150,285}</string>
		</dict>
		<key>New_ax_liumenbisha_huozhu3_00152.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,448},{150,277}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,277}}</string>
			<key>sourceSize</key>
			<string>{150,277}</string>
		</dict>
		<key>New_ax_liumenbisha_huozhu3_00159.png</key>
		<dict>
			<key>frame</key>
			<string>{{903,626},{118,247}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,247}}</string>
			<key>sourceSize</key>
			<string>{118,247}</string>
		</dict>
		<key>New_ax_liumenbisha_zihuo_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{749,914},{80,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,67}}</string>
			<key>sourceSize</key>
			<string>{80,67}</string>
		</dict>
		<key>New_ax_putongbisha1_huoqiuchuxian_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{732,781},{84,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,49}}</string>
			<key>sourceSize</key>
			<string>{84,49}</string>
		</dict>
		<key>New_ax_putongbisha1_huoqiulizi_00037.png</key>
		<dict>
			<key>frame</key>
			<string>{{817,781},{85,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,85}}</string>
			<key>sourceSize</key>
			<string>{85,85}</string>
		</dict>
		<key>New_ax_putongbisha1_huoqiulizi_00038.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,599},{87,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,86}}</string>
			<key>sourceSize</key>
			<string>{87,86}</string>
		</dict>
		<key>New_ax_putongbisha1_huoqiulizi_00039.png</key>
		<dict>
			<key>frame</key>
			<string>{{343,599},{87,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,86}}</string>
			<key>sourceSize</key>
			<string>{87,86}</string>
		</dict>
		<key>New_ax_putongbisha1_huoqiulizi_00041.png</key>
		<dict>
			<key>frame</key>
			<string>{{817,867},{85,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,85}}</string>
			<key>sourceSize</key>
			<string>{85,85}</string>
		</dict>
		<key>New_ax_putongbisha1_zhuanquan_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{548,149},{11,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,20}}</string>
			<key>sourceSize</key>
			<string>{11,20}</string>
		</dict>
		<key>New_ax_putongbisha2_baoqi1_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,2},{97,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,103}}</string>
			<key>sourceSize</key>
			<string>{97,103}</string>
		</dict>
		<key>New_ax_putongbisha2_baoqi1_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,100},{97,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,103}}</string>
			<key>sourceSize</key>
			<string>{97,103}</string>
		</dict>
		<key>New_ax_putongbisha2_baoqi1_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,198},{97,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,103}}</string>
			<key>sourceSize</key>
			<string>{97,103}</string>
		</dict>
		<key>New_ax_putongbisha2_baoqi1_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,296},{97,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,103}}</string>
			<key>sourceSize</key>
			<string>{97,103}</string>
		</dict>
		<key>New_ax_putongbisha2_baoqi1_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,394},{97,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,103}}</string>
			<key>sourceSize</key>
			<string>{97,103}</string>
		</dict>
		<key>New_ax_putongbisha2_baoqi1_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,492},{97,102}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,102}}</string>
			<key>sourceSize</key>
			<string>{97,104}</string>
		</dict>
		<key>New_ax_putongbisha2_baoqi1_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,590},{97,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,102}}</string>
			<key>sourceSize</key>
			<string>{97,102}</string>
		</dict>
		<key>New_ax_putongbisha2_baoqi1_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{926,523},{96,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,102}}</string>
			<key>sourceSize</key>
			<string>{96,102}</string>
		</dict>
		<key>New_ax_putongbisha2_baoqi1_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,890},{96,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,102}}</string>
			<key>sourceSize</key>
			<string>{96,102}</string>
		</dict>
		<key>New_ax_putongbisha2_baoqi2_00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{749,831},{82,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{82,67}}</string>
			<key>sourceSize</key>
			<string>{86,67}</string>
		</dict>
		<key>New_ax_putongbisha2_baoqi2_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{529,782},{82,48}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{82,48}}</string>
			<key>sourceSize</key>
			<string>{88,50}</string>
		</dict>
		<key>New_ax_putongbisha2_baozha_00109.png</key>
		<dict>
			<key>frame</key>
			<string>{{548,170},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>New_ax_putongbisha2_baozha_00128.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,995},{24,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,27}}</string>
			<key>sourceSize</key>
			<string>{24,27}</string>
		</dict>
		<key>New_ax_putongbisha2_chongci_00102.png</key>
		<dict>
			<key>frame</key>
			<string>{{817,523},{81,54}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{81,54}}</string>
			<key>sourceSize</key>
			<string>{85,54}</string>
		</dict>
		<key>New_ax_putongbisha2_cuiyan_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{749,995},{38,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,27}}</string>
			<key>sourceSize</key>
			<string>{38,27}</string>
		</dict>
		<key>New_ax_putongbisha2_cuiyan_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{872,523},{53,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,81}}</string>
			<key>sourceSize</key>
			<string>{53,81}</string>
		</dict>
		<key>New_ax_putongbisha2_yanhua_00085.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,987},{35,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,69}}</string>
			<key>sourceSize</key>
			<string>{35,69}</string>
		</dict>
		<key>New_ax_xiaojineng_baozha_00037.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,987},{35,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,34}}</string>
			<key>sourceSize</key>
			<string>{35,34}</string>
		</dict>
		<key>New_ax_xiaojineng_lvcha_00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,782},{48,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,59}}</string>
			<key>sourceSize</key>
			<string>{48,59}</string>
		</dict>
		<key>New_ax_xiaojineng_lvcha_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,782},{48,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,59}}</string>
			<key>sourceSize</key>
			<string>{48,59}</string>
		</dict>
		<key>New_ax_xiaojineng_tuowei3_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,874},{146,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,57}}</string>
			<key>sourceSize</key>
			<string>{146,57}</string>
		</dict>
		<key>New_ax_xiaojineng_tuowei3_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,687},{143,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,52}}</string>
			<key>sourceSize</key>
			<string>{143,52}</string>
		</dict>
		<key>New_ax_xiaojineng_tuowei3_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,782},{98,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,48}}</string>
			<key>sourceSize</key>
			<string>{98,48}</string>
		</dict>
		<key>yandu1_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{903,874},{58,78}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,7},{58,78}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>axiu13_common1.png</string>
		<key>scale</key>
		<real>0.47</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>axiu13_common1.png</string>
	</dict>
</dict>
</plist>
