<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{1495,229},{84,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,96}}</string>
			<key>sourceSize</key>
			<string>{84,96}</string>
		</dict>
		<key>btn_qianjin_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1890,264},{84,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{84,93}}</string>
			<key>sourceSize</key>
			<string>{84,97}</string>
		</dict>
		<key>btn_qianjin_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1795,264},{84,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{84,93}}</string>
			<key>sourceSize</key>
			<string>{84,97}</string>
		</dict>
		<key>btn_yjy_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1694,264},{99,48}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{99,48}}</string>
			<key>sourceSize</key>
			<string>{101,50}</string>
		</dict>
		<key>btn_yjy_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1593,264},{99,48}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{99,48}}</string>
			<key>sourceSize</key>
			<string>{101,50}</string>
		</dict>
		<key>btn_yjy_xiao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1260,301},{57,48}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{57,48}}</string>
			<key>sourceSize</key>
			<string>{59,50}</string>
		</dict>
		<key>btn_yjy_xiao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1201,301},{57,48}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{57,48}}</string>
			<key>sourceSize</key>
			<string>{59,50}</string>
		</dict>
		<key>pic_yanjiuyuan_denjindudi.png</key>
		<dict>
			<key>frame</key>
			<string>{{727,250},{486,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{486,19}}</string>
			<key>sourceSize</key>
			<string>{486,19}</string>
		</dict>
		<key>pic_yanjiuyuan_dibankuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1610,2},{260,344}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{260,344}}</string>
			<key>sourceSize</key>
			<string>{260,344}</string>
		</dict>
		<key>pic_yanjiuyuan_dilashenjindu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1956,2},{245,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,23}}</string>
			<key>sourceSize</key>
			<string>{245,23}</string>
		</dict>
		<key>pic_yanjiuyuan_ditu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1162,288},{37,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,25}}</string>
			<key>sourceSize</key>
			<string>{37,25}</string>
		</dict>
		<key>pic_yanjiuyuan_fenjindu.png</key>
		<dict>
			<key>frame</key>
			<string>{{727,271},{482,15}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{482,15}}</string>
			<key>sourceSize</key>
			<string>{486,19}</string>
		</dict>
		<key>pic_yanjiuyuan_fenjindudi.png</key>
		<dict>
			<key>frame</key>
			<string>{{727,326},{425,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{425,28}}</string>
			<key>sourceSize</key>
			<string>{425,28}</string>
		</dict>
		<key>pic_yanjiuyuan_honglandi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{723,336}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{723,336}}</string>
			<key>sourceSize</key>
			<string>{723,336}</string>
		</dict>
		<key>pic_yanjiuyuan_huangsezhedi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1239,229},{254,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{254,51}}</string>
			<key>sourceSize</key>
			<string>{254,53}</string>
		</dict>
		<key>pic_yanjiuyuan_jindutiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{727,229},{510,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{510,19}}</string>
			<key>sourceSize</key>
			<string>{510,19}</string>
		</dict>
		<key>pic_yanjiuyuan_jindutiaoxiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1211,282},{237,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{237,17}}</string>
			<key>sourceSize</key>
			<string>{237,17}</string>
		</dict>
		<key>pic_yanjiuyuan_topbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{727,2},{881,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{881,116}}</string>
			<key>sourceSize</key>
			<string>{881,116}</string>
		</dict>
		<key>pic_yanjiuyuan_zhudi.png</key>
		<dict>
			<key>frame</key>
			<string>{{727,120},{881,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{881,107}}</string>
			<key>sourceSize</key>
			<string>{881,107}</string>
		</dict>
		<key>pic_yanjiuyuan_zhujindudi.png</key>
		<dict>
			<key>frame</key>
			<string>{{727,288},{433,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{433,36}}</string>
			<key>sourceSize</key>
			<string>{433,36}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ClubTechnology0.png</string>
		<key>size</key>
		<string>{1985,356}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ClubTechnology0.png</string>
	</dict>
</dict>
</plist>
