<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dian_xianshigedoujiaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,28},{4,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,4}}</string>
			<key>sourceSize</key>
			<string>{4,4}</string>
		</dict>
		<key>dipan_xianshigedoujiaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{95,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,24}}</string>
			<key>sourceSize</key>
			<string>{95,24}</string>
		</dict>
		<key>guangyun_xianshigedoujiaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{42,155},{19,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{19,19}}</string>
			<key>sourceSize</key>
			<string>{21,21}</string>
		</dict>
		<key>kulou_xianshigedoujiaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,54},{52,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,79}}</string>
			<key>sourceSize</key>
			<string>{52,79}</string>
		</dict>
		<key>lei01_xianshigedoujiaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,34},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>lei02_xianshigedoujiaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,108},{62,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,45}}</string>
			<key>sourceSize</key>
			<string>{62,45}</string>
		</dict>
		<key>lei03_xianshigedoujiaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{28,176},{14,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,14}}</string>
			<key>sourceSize</key>
			<string>{14,14}</string>
		</dict>
		<key>lei04_xianshigedoujiaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,68},{43,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,31}}</string>
			<key>sourceSize</key>
			<string>{43,31}</string>
		</dict>
		<key>quang_xianshigedoujiaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,28},{89,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,24}}</string>
			<key>sourceSize</key>
			<string>{89,24}</string>
		</dict>
		<key>shangtiao01_xianshigedoujiaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,166},{11,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,24}}</string>
			<key>sourceSize</key>
			<string>{11,24}</string>
		</dict>
		<key>shangtiao02_xianshigedoujiaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,155},{9,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,38}}</string>
			<key>sourceSize</key>
			<string>{9,38}</string>
		</dict>
		<key>tiaoguang_xianshigedoujiaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,101},{30,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,42}}</string>
			<key>sourceSize</key>
			<string>{30,42}</string>
		</dict>
		<key>yan001_xianshigedoujiaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,108},{24,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,14}}</string>
			<key>sourceSize</key>
			<string>{24,14}</string>
		</dict>
		<key>yan002_xianshigedoujiaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,2},{29,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,25}}</string>
			<key>sourceSize</key>
			<string>{29,25}</string>
		</dict>
		<key>yan003_xianshigedoujiaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,134},{47,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,56}}</string>
			<key>sourceSize</key>
			<string>{47,56}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>xianshigedoujiaimage.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>xianshigedoujiaimage.png</string>
	</dict>
</dict>
</plist>
