<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>largepic_100073.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{436,640}}</string>
			<key>offset</key>
			<string>{22,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{240,0},{436,640}}</string>
			<key>sourceSize</key>
			<string>{872,640}</string>
		</dict>
		<key>longpic_100073.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,810},{140,287}}</string>
			<key>offset</key>
			<string>{14,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{40,0},{140,287}}</string>
			<key>sourceSize</key>
			<string>{192,287}</string>
		</dict>
		<key>middlepic_100073.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,644},{133,71}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,0},{133,71}}</string>
			<key>sourceSize</key>
			<string>{183,71}</string>
		</dict>
		<key>namepic_100073.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,644},{257,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{257,98}}</string>
			<key>sourceSize</key>
			<string>{257,100}</string>
		</dict>
		<key>skillmaxpic_100073.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,290},{297,53}}</string>
			<key>offset</key>
			<string>{-6,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{297,53}}</string>
			<key>sourceSize</key>
			<string>{309,55}</string>
		</dict>
		<key>skillnamepic_100073.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,589},{219,36}}</string>
			<key>offset</key>
			<string>{-5,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{219,36}}</string>
			<key>sourceSize</key>
			<string>{229,40}</string>
		</dict>
		<key>skillsmaxpic_100073.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,2},{286,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{286,55}}</string>
			<key>sourceSize</key>
			<string>{288,55}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>heros_100073.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>heros_100073.png</string>
	</dict>
</dict>
</plist>
