<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>largepic_100037.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{642,640}}</string>
			<key>offset</key>
			<string>{14,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{129,0},{642,640}}</string>
			<key>sourceSize</key>
			<string>{872,640}</string>
		</dict>
		<key>longpic_100037.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,99},{183,288}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,0},{183,288}}</string>
			<key>sourceSize</key>
			<string>{193,288}</string>
		</dict>
		<key>middlepic_100037.png</key>
		<dict>
			<key>frame</key>
			<string>{{854,284},{183,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,71}}</string>
			<key>sourceSize</key>
			<string>{183,71}</string>
		</dict>
		<key>namepic_100037.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,284},{206,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{206,98}}</string>
			<key>sourceSize</key>
			<string>{206,100}</string>
		</dict>
		<key>skillmaxpic_100037.png</key>
		<dict>
			<key>frame</key>
			<string>{{964,44},{411,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{411,55}}</string>
			<key>sourceSize</key>
			<string>{411,55}</string>
		</dict>
		<key>skillnamepic_100037.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,2},{329,40}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{329,40}}</string>
			<key>sourceSize</key>
			<string>{331,40}</string>
		</dict>
		<key>skillsmaxpic_100037.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,44},{316,53}}</string>
			<key>offset</key>
			<string>{5,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,0},{316,53}}</string>
			<key>sourceSize</key>
			<string>{326,55}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>heros_100037.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>heros_100037.png</string>
	</dict>
</dict>
</plist>
