<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>largepic_100103.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{616,604}}</string>
			<key>offset</key>
			<string>{-59,18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{69,36},{616,604}}</string>
			<key>sourceSize</key>
			<string>{872,640}</string>
		</dict>
		<key>longpic_100103.png</key>
		<dict>
			<key>frame</key>
			<string>{{620,109},{167,280}}</string>
			<key>offset</key>
			<string>{-9,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,7},{167,280}}</string>
			<key>sourceSize</key>
			<string>{193,288}</string>
		</dict>
		<key>middlepic_100103.png</key>
		<dict>
			<key>frame</key>
			<string>{{902,109},{173,71}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,71}}</string>
			<key>sourceSize</key>
			<string>{183,71}</string>
		</dict>
		<key>namepic_100103.png</key>
		<dict>
			<key>frame</key>
			<string>{{620,278},{464,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{464,98}}</string>
			<key>sourceSize</key>
			<string>{464,98}</string>
		</dict>
		<key>skillmaxpic_100103.png</key>
		<dict>
			<key>frame</key>
			<string>{{620,55},{319,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{319,52}}</string>
			<key>sourceSize</key>
			<string>{319,52}</string>
		</dict>
		<key>skillnamepic_100103.png</key>
		<dict>
			<key>frame</key>
			<string>{{975,2},{257,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{257,40}}</string>
			<key>sourceSize</key>
			<string>{257,40}</string>
		</dict>
		<key>skillsmaxpic_100103.png</key>
		<dict>
			<key>frame</key>
			<string>{{620,2},{353,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{353,51}}</string>
			<key>sourceSize</key>
			<string>{353,51}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>heros_100103.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>heros_100103.png</string>
	</dict>
</dict>
</plist>
