<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sczw0210.png</key>
		<dict>
			<key>frame</key>
			<string>{{607,740},{78,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,50}}</string>
			<key>sourceSize</key>
			<string>{78,50}</string>
		</dict>
		<key>sczw02101.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,616},{74,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,60}}</string>
			<key>sourceSize</key>
			<string>{74,60}</string>
		</dict>
		<key>sczw0211.png</key>
		<dict>
			<key>frame</key>
			<string>{{708,791},{93,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,89}}</string>
			<key>sourceSize</key>
			<string>{93,89}</string>
		</dict>
		<key>sczw02110.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,616},{60,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,89}}</string>
			<key>sourceSize</key>
			<string>{60,89}</string>
		</dict>
		<key>sczw02112.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,2},{90,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,153}}</string>
			<key>sourceSize</key>
			<string>{90,153}</string>
		</dict>
		<key>sczw02115.png</key>
		<dict>
			<key>frame</key>
			<string>{{874,395},{28,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,76}}</string>
			<key>sourceSize</key>
			<string>{28,76}</string>
		</dict>
		<key>sczw02116.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,101},{89,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,147}}</string>
			<key>sourceSize</key>
			<string>{89,147}</string>
		</dict>
		<key>sczw02118.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,791},{67,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,50}}</string>
			<key>sourceSize</key>
			<string>{67,50}</string>
		</dict>
		<key>sczw02127.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,304},{143,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,104}}</string>
			<key>sourceSize</key>
			<string>{143,104}</string>
		</dict>
		<key>sczw02128.png</key>
		<dict>
			<key>frame</key>
			<string>{{730,627},{112,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,120}}</string>
			<key>sourceSize</key>
			<string>{112,120}</string>
		</dict>
		<key>sczw02129.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,791},{94,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,62}}</string>
			<key>sourceSize</key>
			<string>{94,62}</string>
		</dict>
		<key>sczw0213.png</key>
		<dict>
			<key>frame</key>
			<string>{{459,189},{23,65}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,65}}</string>
			<key>sourceSize</key>
			<string>{23,67}</string>
		</dict>
		<key>sczw02130.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,974},{48,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,89}}</string>
			<key>sourceSize</key>
			<string>{48,89}</string>
		</dict>
		<key>sczw02134.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,886},{82,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,86}}</string>
			<key>sourceSize</key>
			<string>{82,86}</string>
		</dict>
		<key>sczw02139.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,740},{83,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,50}}</string>
			<key>sourceSize</key>
			<string>{83,50}</string>
		</dict>
		<key>sczw0214.png</key>
		<dict>
			<key>frame</key>
			<string>{{614,374},{91,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,130}}</string>
			<key>sourceSize</key>
			<string>{91,130}</string>
		</dict>
		<key>sczw02144.png</key>
		<dict>
			<key>frame</key>
			<string>{{851,842},{50,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,46}}</string>
			<key>sourceSize</key>
			<string>{50,46}</string>
		</dict>
		<key>sczw02146.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,976},{95,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,46}}</string>
			<key>sourceSize</key>
			<string>{95,46}</string>
		</dict>
		<key>sczw02148.png</key>
		<dict>
			<key>frame</key>
			<string>{{466,973},{78,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,49}}</string>
			<key>sourceSize</key>
			<string>{78,49}</string>
		</dict>
		<key>sczw02154.png</key>
		<dict>
			<key>frame</key>
			<string>{{615,308},{65,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,131}}</string>
			<key>sourceSize</key>
			<string>{65,131}</string>
		</dict>
		<key>sczw02155.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,859},{45,113}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,113}}</string>
			<key>sourceSize</key>
			<string>{51,113}</string>
		</dict>
		<key>sczw02156.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,2},{92,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,155}}</string>
			<key>sourceSize</key>
			<string>{92,155}</string>
		</dict>
		<key>sczw02157.png</key>
		<dict>
			<key>frame</key>
			<string>{{851,889},{86,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,54}}</string>
			<key>sourceSize</key>
			<string>{86,54}</string>
		</dict>
		<key>sczw02158.png</key>
		<dict>
			<key>frame</key>
			<string>{{916,231},{105,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,124}}</string>
			<key>sourceSize</key>
			<string>{105,124}</string>
		</dict>
		<key>sczw02159.png</key>
		<dict>
			<key>frame</key>
			<string>{{637,192},{115,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,133}}</string>
			<key>sourceSize</key>
			<string>{115,133}</string>
		</dict>
		<key>sczw0216.png</key>
		<dict>
			<key>frame</key>
			<string>{{756,740},{50,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,58}}</string>
			<key>sourceSize</key>
			<string>{50,58}</string>
		</dict>
		<key>sczw02160.png</key>
		<dict>
			<key>frame</key>
			<string>{{761,976},{46,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,95}}</string>
			<key>sourceSize</key>
			<string>{46,95}</string>
		</dict>
		<key>sczw02167.png</key>
		<dict>
			<key>frame</key>
			<string>{{798,802},{82,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,52}}</string>
			<key>sourceSize</key>
			<string>{82,52}</string>
		</dict>
		<key>sczw02168.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,973},{49,95}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{49,95}}</string>
			<key>sourceSize</key>
			<string>{49,97}</string>
		</dict>
		<key>sczw02169.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,677},{59,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,62}}</string>
			<key>sourceSize</key>
			<string>{59,62}</string>
		</dict>
		<key>sczw0217.png</key>
		<dict>
			<key>frame</key>
			<string>{{501,740},{83,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,52}}</string>
			<key>sourceSize</key>
			<string>{83,52}</string>
		</dict>
		<key>sczw02173.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,677},{46,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,62}}</string>
			<key>sourceSize</key>
			<string>{46,62}</string>
		</dict>
		<key>sczw02176.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,859},{73,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,112}}</string>
			<key>sourceSize</key>
			<string>{73,112}</string>
		</dict>
		<key>sczw02179.png</key>
		<dict>
			<key>frame</key>
			<string>{{903,466},{107,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,119}}</string>
			<key>sourceSize</key>
			<string>{107,119}</string>
		</dict>
		<key>sczw02182.png</key>
		<dict>
			<key>frame</key>
			<string>{{607,564},{122,112}}</string>
			<key>offset</key>
			<string>{9,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,0},{122,112}}</string>
			<key>sourceSize</key>
			<string>{140,112}</string>
		</dict>
		<key>sczw02185.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,309},{114,130}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,130}}</string>
			<key>sourceSize</key>
			<string>{118,130}</string>
		</dict>
		<key>sczw02188.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,704},{117,92}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{117,92}}</string>
			<key>sourceSize</key>
			<string>{121,92}</string>
		</dict>
		<key>sczw02189.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,430},{96,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,120}}</string>
			<key>sourceSize</key>
			<string>{96,120}</string>
		</dict>
		<key>sczw02191.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,709},{67,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,75}}</string>
			<key>sourceSize</key>
			<string>{67,75}</string>
		</dict>
		<key>sczw02192.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,859},{102,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,114}}</string>
			<key>sourceSize</key>
			<string>{102,114}</string>
		</dict>
		<key>sczw02193.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{163,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,116}}</string>
			<key>sourceSize</key>
			<string>{163,116}</string>
		</dict>
		<key>sczw02194.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,859},{68,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,116}}</string>
			<key>sourceSize</key>
			<string>{68,116}</string>
		</dict>
		<key>sczw02199.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,972},{41,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,73}}</string>
			<key>sourceSize</key>
			<string>{41,73}</string>
		</dict>
		<key>sczw02201.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,975},{47,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,93}}</string>
			<key>sourceSize</key>
			<string>{47,93}</string>
		</dict>
		<key>sczw02202.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,466},{97,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,126}}</string>
			<key>sourceSize</key>
			<string>{97,126}</string>
		</dict>
		<key>sczw02203.png</key>
		<dict>
			<key>frame</key>
			<string>{{903,574},{119,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,97}}</string>
			<key>sourceSize</key>
			<string>{119,97}</string>
		</dict>
		<key>sczw02204.png</key>
		<dict>
			<key>frame</key>
			<string>{{607,677},{74,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,62}}</string>
			<key>sourceSize</key>
			<string>{74,62}</string>
		</dict>
		<key>sczw02208.png</key>
		<dict>
			<key>frame</key>
			<string>{{851,667},{51,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,71}}</string>
			<key>sourceSize</key>
			<string>{51,71}</string>
		</dict>
		<key>sczw02210.png</key>
		<dict>
			<key>frame</key>
			<string>{{637,93},{139,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,98}}</string>
			<key>sourceSize</key>
			<string>{139,98}</string>
		</dict>
		<key>sczw02211.png</key>
		<dict>
			<key>frame</key>
			<string>{{903,672},{118,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,96}}</string>
			<key>sourceSize</key>
			<string>{118,96}</string>
		</dict>
		<key>sczw02213.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,533},{44,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,82}}</string>
			<key>sourceSize</key>
			<string>{44,82}</string>
		</dict>
		<key>sczw02214.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,2},{155,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,84}}</string>
			<key>sourceSize</key>
			<string>{155,84}</string>
		</dict>
		<key>sczw02215.png</key>
		<dict>
			<key>frame</key>
			<string>{{740,512},{125,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,114}}</string>
			<key>sourceSize</key>
			<string>{125,114}</string>
		</dict>
		<key>sczw02220.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,119},{119,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,146}}</string>
			<key>sourceSize</key>
			<string>{119,146}</string>
		</dict>
		<key>sczw02225.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,605},{75,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,103}}</string>
			<key>sourceSize</key>
			<string>{75,103}</string>
		</dict>
		<key>sczw02226.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,859},{115,108}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,108}}</string>
			<key>sourceSize</key>
			<string>{119,108}</string>
		</dict>
		<key>sczw02227.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,239},{95,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,144}}</string>
			<key>sourceSize</key>
			<string>{95,144}</string>
		</dict>
		<key>sczw0223.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,335},{143,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,94}}</string>
			<key>sourceSize</key>
			<string>{143,94}</string>
		</dict>
		<key>sczw02231.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,424},{100,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,123}}</string>
			<key>sourceSize</key>
			<string>{100,123}</string>
		</dict>
		<key>sczw0224.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,601},{68,121}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,121}}</string>
			<key>sourceSize</key>
			<string>{70,121}</string>
		</dict>
		<key>sczw02241.png</key>
		<dict>
			<key>frame</key>
			<string>{{857,976},{91,46}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{91,46}}</string>
			<key>sourceSize</key>
			<string>{91,60}</string>
		</dict>
		<key>sczw02242.png</key>
		<dict>
			<key>frame</key>
			<string>{{851,791},{50,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,51}}</string>
			<key>sourceSize</key>
			<string>{50,51}</string>
		</dict>
		<key>sczw02248.png</key>
		<dict>
			<key>frame</key>
			<string>{{761,885},{89,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,90}}</string>
			<key>sourceSize</key>
			<string>{89,90}</string>
		</dict>
		<key>sczw02249.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,409},{41,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,99}}</string>
			<key>sourceSize</key>
			<string>{41,99}</string>
		</dict>
		<key>sczw0225.png</key>
		<dict>
			<key>frame</key>
			<string>{{939,2},{83,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,132}}</string>
			<key>sourceSize</key>
			<string>{83,132}</string>
		</dict>
		<key>sczw02250.png</key>
		<dict>
			<key>frame</key>
			<string>{{771,302},{92,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,132}}</string>
			<key>sourceSize</key>
			<string>{92,132}</string>
		</dict>
		<key>sczw02252.png</key>
		<dict>
			<key>frame</key>
			<string>{{668,885},{87,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,92}}</string>
			<key>sourceSize</key>
			<string>{87,92}</string>
		</dict>
		<key>sczw02254.png</key>
		<dict>
			<key>frame</key>
			<string>{{554,670},{90,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,52}}</string>
			<key>sourceSize</key>
			<string>{90,52}</string>
		</dict>
		<key>sczw02256.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,309},{71,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,37}}</string>
			<key>sourceSize</key>
			<string>{71,37}</string>
		</dict>
		<key>sczw02257.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,509},{95,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,41}}</string>
			<key>sourceSize</key>
			<string>{95,41}</string>
		</dict>
		<key>sczw02259.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,304},{66,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,22}}</string>
			<key>sourceSize</key>
			<string>{66,22}</string>
		</dict>
		<key>sczw0226.png</key>
		<dict>
			<key>frame</key>
			<string>{{556,886},{86,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,55}}</string>
			<key>sourceSize</key>
			<string>{86,55}</string>
		</dict>
		<key>sczw02260.png</key>
		<dict>
			<key>frame</key>
			<string>{{795,2},{143,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,76}}</string>
			<key>sourceSize</key>
			<string>{143,76}</string>
		</dict>
		<key>sczw02262.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,818},{92,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,40}}</string>
			<key>sourceSize</key>
			<string>{92,40}</string>
		</dict>
		<key>sczw02271.png</key>
		<dict>
			<key>frame</key>
			<string>{{904,356},{109,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,118}}</string>
			<key>sourceSize</key>
			<string>{109,118}</string>
		</dict>
		<key>sczw02274.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,886},{86,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,55}}</string>
			<key>sourceSize</key>
			<string>{86,55}</string>
		</dict>
		<key>sczw02276.png</key>
		<dict>
			<key>frame</key>
			<string>{{493,886},{86,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,62}}</string>
			<key>sourceSize</key>
			<string>{86,62}</string>
		</dict>
		<key>sczw0228.png</key>
		<dict>
			<key>frame</key>
			<string>{{605,973},{48,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,78}}</string>
			<key>sourceSize</key>
			<string>{48,78}</string>
		</dict>
		<key>sczw02282.png</key>
		<dict>
			<key>frame</key>
			<string>{{684,973},{44,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,76}}</string>
			<key>sourceSize</key>
			<string>{44,76}</string>
		</dict>
		<key>sczw02287.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,189},{144,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,119}}</string>
			<key>sourceSize</key>
			<string>{144,119}</string>
		</dict>
		<key>sczw02289.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,381},{37,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,65}}</string>
			<key>sourceSize</key>
			<string>{37,65}</string>
		</dict>
		<key>sczw02292.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,432},{129,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,112}}</string>
			<key>sourceSize</key>
			<string>{129,112}</string>
		</dict>
		<key>sczw02295.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,677},{102,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,113}}</string>
			<key>sourceSize</key>
			<string>{102,113}</string>
		</dict>
		<key>sczw02299.png</key>
		<dict>
			<key>frame</key>
			<string>{{479,670},{74,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,69}}</string>
			<key>sourceSize</key>
			<string>{74,69}</string>
		</dict>
		<key>sczw023.png</key>
		<dict>
			<key>frame</key>
			<string>{{866,566},{36,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,59}}</string>
			<key>sourceSize</key>
			<string>{36,59}</string>
		</dict>
		<key>sczw02300.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,200},{131,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,128}}</string>
			<key>sourceSize</key>
			<string>{131,128}</string>
		</dict>
		<key>sczw02304.png</key>
		<dict>
			<key>frame</key>
			<string>{{866,626},{36,40}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,40}}</string>
			<key>sourceSize</key>
			<string>{38,40}</string>
		</dict>
		<key>sczw02307.png</key>
		<dict>
			<key>frame</key>
			<string>{{935,135},{87,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,95}}</string>
			<key>sourceSize</key>
			<string>{87,95}</string>
		</dict>
		<key>sczw02308.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,150},{11,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,35}}</string>
			<key>sourceSize</key>
			<string>{11,35}</string>
		</dict>
		<key>sczw02310.png</key>
		<dict>
			<key>frame</key>
			<string>{{906,859},{86,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,42}}</string>
			<key>sourceSize</key>
			<string>{86,42}</string>
		</dict>
		<key>sczw02315.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,797},{61,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,108}}</string>
			<key>sourceSize</key>
			<string>{61,108}</string>
		</dict>
		<key>sczw02317.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,525},{90,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,123}}</string>
			<key>sourceSize</key>
			<string>{90,123}</string>
		</dict>
		<key>sczw02318.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,447},{85,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,44}}</string>
			<key>sourceSize</key>
			<string>{85,44}</string>
		</dict>
		<key>sczw02320.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,791},{57,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,67}}</string>
			<key>sourceSize</key>
			<string>{57,67}</string>
		</dict>
		<key>sczw02325.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,705},{116,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,112}}</string>
			<key>sourceSize</key>
			<string>{116,112}</string>
		</dict>
		<key>sczw02326.png</key>
		<dict>
			<key>frame</key>
			<string>{{777,190},{138,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,111}}</string>
			<key>sourceSize</key>
			<string>{138,111}</string>
		</dict>
		<key>sczw02327.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,599},{117,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,104}}</string>
			<key>sourceSize</key>
			<string>{117,104}</string>
		</dict>
		<key>sczw0233.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,791},{67,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,90}}</string>
			<key>sourceSize</key>
			<string>{67,90}</string>
		</dict>
		<key>sczw0234.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,95},{93,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,147}}</string>
			<key>sourceSize</key>
			<string>{93,147}</string>
		</dict>
		<key>sczw0236.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,974},{48,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,87}}</string>
			<key>sourceSize</key>
			<string>{48,87}</string>
		</dict>
		<key>sczw0240.png</key>
		<dict>
			<key>frame</key>
			<string>{{545,973},{59,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,49}}</string>
			<key>sourceSize</key>
			<string>{59,49}</string>
		</dict>
		<key>sczw0241.png</key>
		<dict>
			<key>frame</key>
			<string>{{815,740},{35,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,61}}</string>
			<key>sourceSize</key>
			<string>{35,61}</string>
		</dict>
		<key>sczw0246.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,859},{80,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,114}}</string>
			<key>sourceSize</key>
			<string>{80,114}</string>
		</dict>
		<key>sczw0248.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,119},{15,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,37}}</string>
			<key>sourceSize</key>
			<string>{15,37}</string>
		</dict>
		<key>sczw0249.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,521},{34,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,27}}</string>
			<key>sourceSize</key>
			<string>{34,27}</string>
		</dict>
		<key>sczw0252.png</key>
		<dict>
			<key>frame</key>
			<string>{{874,472},{27,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,93}}</string>
			<key>sourceSize</key>
			<string>{27,93}</string>
		</dict>
		<key>sczw0253.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,87},{112,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,151}}</string>
			<key>sourceSize</key>
			<string>{112,151}</string>
		</dict>
		<key>sczw0254.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,101},{48,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,14}}</string>
			<key>sourceSize</key>
			<string>{48,14}</string>
		</dict>
		<key>sczw0261.png</key>
		<dict>
			<key>frame</key>
			<string>{{554,791},{63,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,94}}</string>
			<key>sourceSize</key>
			<string>{63,94}</string>
		</dict>
		<key>sczw0262.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,409},{111,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,125}}</string>
			<key>sourceSize</key>
			<string>{111,125}</string>
		</dict>
		<key>sczw0263.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,594},{110,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,117}}</string>
			<key>sourceSize</key>
			<string>{110,117}</string>
		</dict>
		<key>sczw0264.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,191},{144,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,112}}</string>
			<key>sourceSize</key>
			<string>{144,112}</string>
		</dict>
		<key>sczw0266.png</key>
		<dict>
			<key>frame</key>
			<string>{{745,395},{128,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,116}}</string>
			<key>sourceSize</key>
			<string>{128,116}</string>
		</dict>
		<key>sczw0267.png</key>
		<dict>
			<key>frame</key>
			<string>{{501,824},{47,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,61}}</string>
			<key>sourceSize</key>
			<string>{47,61}</string>
		</dict>
		<key>sczw0273.png</key>
		<dict>
			<key>frame</key>
			<string>{{903,769},{118,89}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,89}}</string>
			<key>sourceSize</key>
			<string>{120,89}</string>
		</dict>
		<key>sczw0274.png</key>
		<dict>
			<key>frame</key>
			<string>{{851,739},{51,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,51}}</string>
			<key>sourceSize</key>
			<string>{51,51}</string>
		</dict>
		<key>sczw0278.png</key>
		<dict>
			<key>frame</key>
			<string>{{795,79},{110,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,139}}</string>
			<key>sourceSize</key>
			<string>{110,139}</string>
		</dict>
		<key>sczw0282.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,521},{77,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,120}}</string>
			<key>sourceSize</key>
			<string>{77,120}</string>
		</dict>
		<key>sczw0283.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,545},{55,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,123}}</string>
			<key>sourceSize</key>
			<string>{55,123}</string>
		</dict>
		<key>sczw0284.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,2},{98,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,162}}</string>
			<key>sourceSize</key>
			<string>{98,162}</string>
		</dict>
		<key>sczw029.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,329},{102,130}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,130}}</string>
			<key>sourceSize</key>
			<string>{108,130}</string>
		</dict>
		<key>sczw0290.png</key>
		<dict>
			<key>frame</key>
			<string>{{618,791},{89,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,93}}</string>
			<key>sourceSize</key>
			<string>{89,93}</string>
		</dict>
		<key>sczw0294.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,527},{66,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,120}}</string>
			<key>sourceSize</key>
			<string>{66,120}</string>
		</dict>
		<key>sczw0298.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,740},{69,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,50}}</string>
			<key>sourceSize</key>
			<string>{69,50}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>shichuizhenwu02_role0.png</string>
		<key>scale</key>
		<real>0.86</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>shichuizhenwu02_role0.png</string>
	</dict>
</dict>
</plist>
