<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_r_jbgz_dtc_mdxz_bingmo_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{1685,608},{146,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,209}}</string>
			<key>sourceSize</key>
			<string>{146,209}</string>
		</dict>
		<key>pic_r_jbgz_dtc_mdxz_dadb.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{899,551}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{899,551}}</string>
			<key>sourceSize</key>
			<string>{899,551}</string>
		</dict>
		<key>pic_r_jbgz_dtc_mdxz_juese_bk.png</key>
		<dict>
			<key>frame</key>
			<string>{{1676,2},{223,310}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{223,310}}</string>
			<key>sourceSize</key>
			<string>{223,310}</string>
		</dict>
		<key>pic_r_jbgz_dtc_mdxz_xuanzhongkuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1421,559},{262,347}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{262,347}}</string>
			<key>sourceSize</key>
			<string>{262,347}</string>
		</dict>
		<key>pic_r_jbgz_dtc_mindingbiduihuan_tiaomudi.png</key>
		<dict>
			<key>frame</key>
			<string>{{694,559},{718,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{718,108}}</string>
			<key>sourceSize</key>
			<string>{718,108}</string>
		</dict>
		<key>pic_r_jbgz_dtc_zhaomujilu_tiaomu_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{903,508},{763,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{763,49}}</string>
			<key>sourceSize</key>
			<string>{763,49}</string>
		</dict>
		<key>pic_r_jbgz_dtc_zhaomujilu_tiaomu_fgx.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,950},{778,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{778,13}}</string>
			<key>sourceSize</key>
			<string>{778,13}</string>
		</dict>
		<key>pic_r_jbgz_dtc_zuize_zzgdj_fubiaodi.png</key>
		<dict>
			<key>frame</key>
			<string>{{694,707},{643,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{643,36}}</string>
			<key>sourceSize</key>
			<string>{643,36}</string>
		</dict>
		<key>pic_r_jbgz_dtc_zuize_zzgdjsp_fubiaodi.png</key>
		<dict>
			<key>frame</key>
			<string>{{694,669},{643,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{643,36}}</string>
			<key>sourceSize</key>
			<string>{643,36}</string>
		</dict>
		<key>pic_r_jbgz_xtc_goumaitishi_dadiban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,555},{690,393}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{690,393}}</string>
			<key>sourceSize</key>
			<string>{690,393}</string>
		</dict>
		<key>pic_r_jbgz_xyzm_blsp_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1685,410},{276,196}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{276,196}}</string>
			<key>sourceSize</key>
			<string>{276,196}</string>
		</dict>
		<key>pic_r_jbgz_xyzm_blsp_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1685,819},{174,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,119}}</string>
			<key>sourceSize</key>
			<string>{174,119}</string>
		</dict>
		<key>pic_r_jbgz_xyzm_blsp_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1676,227},{310,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{310,181}}</string>
			<key>sourceSize</key>
			<string>{310,181}</string>
		</dict>
		<key>pic_r_jbgz_xyzm_blsp_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,745},{303,218}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{303,218}}</string>
			<key>sourceSize</key>
			<string>{303,218}</string>
		</dict>
		<key>pic_r_jbgz_xyzm_blsp_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{1087,745},{332,208}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{332,208}}</string>
			<key>sourceSize</key>
			<string>{332,208}</string>
		</dict>
		<key>pic_r_jbgz_xyzm_blsp_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{1833,608},{205,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,132}}</string>
			<key>sourceSize</key>
			<string>{205,132}</string>
		</dict>
		<key>pic_r_jbgz_xyzm_blsp_zong.png</key>
		<dict>
			<key>frame</key>
			<string>{{903,2},{771,504}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{771,504}}</string>
			<key>sourceSize</key>
			<string>{771,504}</string>
		</dict>
		<key>pic_r_jbgz_xyzm_zmbdgdj_shuzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{694,745},{130,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,24}}</string>
			<key>sourceSize</key>
			<string>{130,24}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>HeroRecruitNewUi20.png</string>
		<key>size</key>
		<string>{1988,965}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>HeroRecruitNewUi20.png</string>
	</dict>
</dict>
</plist>
