<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hong_zhihuanrenwuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,55},{107,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,156}}</string>
			<key>sourceSize</key>
			<string>{107,156}</string>
		</dict>
		<key>lan_zhihuanrenwuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,2},{107,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,156}}</string>
			<key>sourceSize</key>
			<string>{107,156}</string>
		</dict>
		<key>mask01_zhihuanrenwuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,2},{106,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,155}}</string>
			<key>sourceSize</key>
			<string>{106,155}</string>
		</dict>
		<key>sg_zhihuanrenwuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,164},{83,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,120}}</string>
			<key>sourceSize</key>
			<string>{83,120}</string>
		</dict>
		<key>wy_1_1_79639_zhihuanrenwuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,2},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>wy_2_2_99104_zhihuanrenwuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{466,110},{37,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,36}}</string>
			<key>sourceSize</key>
			<string>{37,36}</string>
		</dict>
		<key>wy_3_3_57545_zhihuanrenwuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,249},{57,93}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,3},{57,93}}</string>
			<key>sourceSize</key>
			<string>{65,101}</string>
		</dict>
		<key>wy_4_4_19112_zhihuanrenwuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{163,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,51}}</string>
			<key>sourceSize</key>
			<string>{163,51}</string>
		</dict>
		<key>wy_5_5_97856_zhihuanrenwuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,237},{111,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,111}}</string>
			<key>sourceSize</key>
			<string>{111,111}</string>
		</dict>
		<key>wy_6_6_23159_zhihuanrenwuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,110},{139,139}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{139,139}}</string>
			<key>sourceSize</key>
			<string>{143,143}</string>
		</dict>
		<key>wy_7_7_33517_zhihuanrenwuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,237},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>wy_8_8_97638_zhihuanrenwuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,111},{124,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,124}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>zhihuanrenwuimage.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>zhihuanrenwuimage.png</string>
	</dict>
</dict>
</plist>
