<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>a_fa1_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,333},{28,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,35}}</string>
			<key>sourceSize</key>
			<string>{28,35}</string>
		</dict>
		<key>a_fa2_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,261},{20,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,41}}</string>
			<key>sourceSize</key>
			<string>{20,41}</string>
		</dict>
		<key>a_fa3_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,92},{7,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,21}}</string>
			<key>sourceSize</key>
			<string>{7,21}</string>
		</dict>
		<key>a_fa4_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,358},{24,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,35}}</string>
			<key>sourceSize</key>
			<string>{24,35}</string>
		</dict>
		<key>a_fa5_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,331},{25,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,43}}</string>
			<key>sourceSize</key>
			<string>{25,43}</string>
		</dict>
		<key>a_kua_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,245},{46,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,27}}</string>
			<key>sourceSize</key>
			<string>{46,27}</string>
		</dict>
		<key>a_tou1_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,138},{48,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,58}}</string>
			<key>sourceSize</key>
			<string>{48,58}</string>
		</dict>
		<key>a_tou2_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,151},{62,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,52}}</string>
			<key>sourceSize</key>
			<string>{62,52}</string>
		</dict>
		<key>a_tou_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,166},{43,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,53}}</string>
			<key>sourceSize</key>
			<string>{43,53}</string>
		</dict>
		<key>a_toux_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,289},{43,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,53}}</string>
			<key>sourceSize</key>
			<string>{43,53}</string>
		</dict>
		<key>a_xiong1_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,150},{66,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,61}}</string>
			<key>sourceSize</key>
			<string>{66,61}</string>
		</dict>
		<key>a_xiong2_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,78},{71,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,71}}</string>
			<key>sourceSize</key>
			<string>{71,71}</string>
		</dict>
		<key>a_xiong_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,2},{65,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,79}}</string>
			<key>sourceSize</key>
			<string>{65,79}</string>
		</dict>
		<key>a_youdabi_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{105,241},{32,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,46}}</string>
			<key>sourceSize</key>
			<string>{32,46}</string>
		</dict>
		<key>a_youdatui_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,122},{34,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,47}}</string>
			<key>sourceSize</key>
			<string>{34,47}</string>
		</dict>
		<key>a_youjiao_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,280},{20,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,37}}</string>
			<key>sourceSize</key>
			<string>{20,37}</string>
		</dict>
		<key>a_youxiaobi1_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,303},{43,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,28}}</string>
			<key>sourceSize</key>
			<string>{43,28}</string>
		</dict>
		<key>a_youxiaobi_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,292},{27,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,36}}</string>
			<key>sourceSize</key>
			<string>{27,36}</string>
		</dict>
		<key>a_youxiaotui_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,276},{26,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,45}}</string>
			<key>sourceSize</key>
			<string>{26,45}</string>
		</dict>
		<key>a_zuodabi_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,76},{30,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,41}}</string>
			<key>sourceSize</key>
			<string>{30,41}</string>
		</dict>
		<key>a_zuodatui_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,304},{25,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,43}}</string>
			<key>sourceSize</key>
			<string>{25,43}</string>
		</dict>
		<key>a_zuojiao_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,325},{27,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,32}}</string>
			<key>sourceSize</key>
			<string>{27,32}</string>
		</dict>
		<key>a_zuoshou_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,354},{31,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,27}}</string>
			<key>sourceSize</key>
			<string>{31,27}</string>
		</dict>
		<key>a_zuoxiaobi_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,234},{33,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,40}}</string>
			<key>sourceSize</key>
			<string>{33,40}</string>
		</dict>
		<key>a_zuoxiaotui_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,258},{20,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,45}}</string>
			<key>sourceSize</key>
			<string>{20,45}</string>
		</dict>
		<key>b_datuiwai_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,261},{29,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,42}}</string>
			<key>sourceSize</key>
			<string>{29,42}</string>
		</dict>
		<key>b_fa1_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,2},{40,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,37}}</string>
			<key>sourceSize</key>
			<string>{40,37}</string>
		</dict>
		<key>b_fa2_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,48},{16,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,41}}</string>
			<key>sourceSize</key>
			<string>{16,41}</string>
		</dict>
		<key>b_fa5_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,318},{21,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,30}}</string>
			<key>sourceSize</key>
			<string>{21,30}</string>
		</dict>
		<key>b_jiaowai_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,309},{30,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,35}}</string>
			<key>sourceSize</key>
			<string>{30,35}</string>
		</dict>
		<key>b_kua_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,171},{36,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,34}}</string>
			<key>sourceSize</key>
			<string>{36,34}</string>
		</dict>
		<key>b_tou1_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,122},{64,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,53}}</string>
			<key>sourceSize</key>
			<string>{64,53}</string>
		</dict>
		<key>b_tou_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,233},{54,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,54}}</string>
			<key>sourceSize</key>
			<string>{54,54}</string>
		</dict>
		<key>b_xiaotuiwai_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,219},{24,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,48}}</string>
			<key>sourceSize</key>
			<string>{24,48}</string>
		</dict>
		<key>b_xiong_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{309,66},{54,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,79}}</string>
			<key>sourceSize</key>
			<string>{54,79}</string>
		</dict>
		<key>b_yan1_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,84},{10,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,6}}</string>
			<key>sourceSize</key>
			<string>{10,6}</string>
		</dict>
		<key>b_yan2_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,145},{10,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,6}}</string>
			<key>sourceSize</key>
			<string>{10,6}</string>
		</dict>
		<key>b_youdabi_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,274},{27,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,45}}</string>
			<key>sourceSize</key>
			<string>{27,45}</string>
		</dict>
		<key>b_youshou_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,334},{31,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,30}}</string>
			<key>sourceSize</key>
			<string>{31,30}</string>
		</dict>
		<key>b_youxiaobi_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,108},{28,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,41}}</string>
			<key>sourceSize</key>
			<string>{28,41}</string>
		</dict>
		<key>b_zui1_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,110},{15,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,10}}</string>
			<key>sourceSize</key>
			<string>{15,10}</string>
		</dict>
		<key>b_zui2_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,98},{15,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,10}}</string>
			<key>sourceSize</key>
			<string>{15,10}</string>
		</dict>
		<key>b_zui3_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,67},{15,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,11}}</string>
			<key>sourceSize</key>
			<string>{15,11}</string>
		</dict>
		<key>b_zuodabi_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,275},{32,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,43}}</string>
			<key>sourceSize</key>
			<string>{32,43}</string>
		</dict>
		<key>b_zuoshou_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,344},{25,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,28}}</string>
			<key>sourceSize</key>
			<string>{25,28}</string>
		</dict>
		<key>b_zuoxiaobi_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,209},{23,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,34}}</string>
			<key>sourceSize</key>
			<string>{23,34}</string>
		</dict>
		<key>bolang1_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{115,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,9}}</string>
			<key>sourceSize</key>
			<string>{115,9}</string>
		</dict>
		<key>bt_yan23_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,205},{54,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,54}}</string>
			<key>sourceSize</key>
			<string>{54,54}</string>
		</dict>
		<key>bt_yan2_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,225},{54,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,54}}</string>
			<key>sourceSize</key>
			<string>{54,54}</string>
		</dict>
		<key>bt_yan3_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,177},{54,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,54}}</string>
			<key>sourceSize</key>
			<string>{54,54}</string>
		</dict>
		<key>bt_zui1_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,188},{54,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,54}}</string>
			<key>sourceSize</key>
			<string>{54,54}</string>
		</dict>
		<key>bt_zui2_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,169},{54,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,54}}</string>
			<key>sourceSize</key>
			<string>{54,54}</string>
		</dict>
		<key>dabi1_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,213},{26,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,49}}</string>
			<key>sourceSize</key>
			<string>{26,49}</string>
		</dict>
		<key>dabi2_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,135},{32,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,60}}</string>
			<key>sourceSize</key>
			<string>{32,60}</string>
		</dict>
		<key>dasheheilizi01_dasheheiliziimgae_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,122},{14,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,21}}</string>
			<key>sourceSize</key>
			<string>{14,21}</string>
		</dict>
		<key>dasheheilizi02_dasheheiliziimgae_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,166},{50,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,51}}</string>
			<key>sourceSize</key>
			<string>{50,51}</string>
		</dict>
		<key>dasheheilizi03_dasheheiliziimgae_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,67},{81,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,84}}</string>
			<key>sourceSize</key>
			<string>{81,84}</string>
		</dict>
		<key>dasheheilizi04_dasheheiliziimgae_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,2},{91,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,74}}</string>
			<key>sourceSize</key>
			<string>{91,74}</string>
		</dict>
		<key>dasheheilizi05_dasheheiliziimgae_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,90},{93,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,74}}</string>
			<key>sourceSize</key>
			<string>{93,74}</string>
		</dict>
		<key>dasheheilizi06_dasheheiliziimgae_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,13},{94,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,75}}</string>
			<key>sourceSize</key>
			<string>{94,75}</string>
		</dict>
		<key>datui_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,228},{28,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,48}}</string>
			<key>sourceSize</key>
			<string>{28,48}</string>
		</dict>
		<key>heipan2_dasheheiliziimgae_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,2},{63,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,95}}</string>
			<key>sourceSize</key>
			<string>{63,95}</string>
		</dict>
		<key>jiao1_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,289},{20,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,39}}</string>
			<key>sourceSize</key>
			<string>{20,39}</string>
		</dict>
		<key>s_bei1_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{309,2},{62,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,81}}</string>
			<key>sourceSize</key>
			<string>{62,81}</string>
		</dict>
		<key>s_kua_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,242},{47,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,32}}</string>
			<key>sourceSize</key>
			<string>{47,32}</string>
		</dict>
		<key>s_shou01_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,230},{22,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,27}}</string>
			<key>sourceSize</key>
			<string>{22,27}</string>
		</dict>
		<key>s_shou02_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,329},{24,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,27}}</string>
			<key>sourceSize</key>
			<string>{24,27}</string>
		</dict>
		<key>s_xiong1_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,69},{64,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,77}}</string>
			<key>sourceSize</key>
			<string>{64,77}</string>
		</dict>
		<key>s_youshou_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,292},{24,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,22}}</string>
			<key>sourceSize</key>
			<string>{24,22}</string>
		</dict>
		<key>s_zuoshou03_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,311},{23,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,33}}</string>
			<key>sourceSize</key>
			<string>{23,33}</string>
		</dict>
		<key>s_zuoshou_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,13},{33,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,19}}</string>
			<key>sourceSize</key>
			<string>{33,19}</string>
		</dict>
		<key>shou10_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,259},{30,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,36}}</string>
			<key>sourceSize</key>
			<string>{30,36}</string>
		</dict>
		<key>shou11_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,341},{25,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,23}}</string>
			<key>sourceSize</key>
			<string>{25,23}</string>
		</dict>
		<key>shou12_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,297},{38,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,26}}</string>
			<key>sourceSize</key>
			<string>{38,26}</string>
		</dict>
		<key>shou13_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,363},{24,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,24}}</string>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>shou14_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,307},{25,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,38}}</string>
			<key>sourceSize</key>
			<string>{25,38}</string>
		</dict>
		<key>shou1_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,276},{33,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,29}}</string>
			<key>sourceSize</key>
			<string>{33,29}</string>
		</dict>
		<key>shou2_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,321},{27,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,32}}</string>
			<key>sourceSize</key>
			<string>{27,32}</string>
		</dict>
		<key>shou3_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,302},{36,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,25}}</string>
			<key>sourceSize</key>
			<string>{36,25}</string>
		</dict>
		<key>shou4_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,44},{30,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,37}}</string>
			<key>sourceSize</key>
			<string>{30,37}</string>
		</dict>
		<key>shou5_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{279,311},{26,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,31}}</string>
			<key>sourceSize</key>
			<string>{26,31}</string>
		</dict>
		<key>shou7_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,150},{23,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,42}}</string>
			<key>sourceSize</key>
			<string>{23,42}</string>
		</dict>
		<key>shou8_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,336},{29,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,32}}</string>
			<key>sourceSize</key>
			<string>{29,32}</string>
		</dict>
		<key>shou9_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,194},{31,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,32}}</string>
			<key>sourceSize</key>
			<string>{31,32}</string>
		</dict>
		<key>thyan1_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{389,281},{43,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,53}}</string>
			<key>sourceSize</key>
			<string>{43,53}</string>
		</dict>
		<key>tyan3_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,244},{43,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,53}}</string>
			<key>sourceSize</key>
			<string>{43,53}</string>
		</dict>
		<key>xiaobi1_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,326},{21,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,37}}</string>
			<key>sourceSize</key>
			<string>{21,37}</string>
		</dict>
		<key>xiaobi2_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,211},{51,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,29}}</string>
			<key>sourceSize</key>
			<string>{51,29}</string>
		</dict>
		<key>xiaotui_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,177},{22,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,51}}</string>
			<key>sourceSize</key>
			<string>{22,51}</string>
		</dict>
		<key>yan1_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,78},{23,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,6}}</string>
			<key>sourceSize</key>
			<string>{23,6}</string>
		</dict>
		<key>yan2_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,140},{23,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,6}}</string>
			<key>sourceSize</key>
			<string>{23,6}</string>
		</dict>
		<key>yan3_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,115},{23,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,6}}</string>
			<key>sourceSize</key>
			<string>{23,6}</string>
		</dict>
		<key>zui1_dasheimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,91},{16,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,5}}</string>
			<key>sourceSize</key>
			<string>{16,5}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA4444</string>
		<key>realTextureFileName</key>
		<string>dasheimage.png</string>
		<key>scale</key>
		<real>0.5</real>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dasheimage.png</string>
	</dict>
</dict>
</plist>
