<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>chengkuai_shetuanguanqiadianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,175},{91,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,53}}</string>
			<key>sourceSize</key>
			<string>{91,53}</string>
		</dict>
		<key>guangkuai_shetuanguanqiadianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,2},{19,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{19,15}}</string>
			<key>sourceSize</key>
			<string>{21,17}</string>
		</dict>
		<key>huan01_shetuanguanqiadianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,175},{104,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{104,104}}</string>
			<key>sourceSize</key>
			<string>{108,108}</string>
		</dict>
		<key>huan_shetuanguanqiadianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,230},{66,66}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{66,66}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>kuang_shetuanguanqiadianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{225,171}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{225,171}}</string>
			<key>sourceSize</key>
			<string>{227,177}</string>
		</dict>
		<key>zidian01_shetuanguanqiadianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,175},{39,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,39}}</string>
			<key>sourceSize</key>
			<string>{39,39}</string>
		</dict>
		<key>zidian02_shetuanguanqiadianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,216},{26,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,26}}</string>
			<key>sourceSize</key>
			<string>{26,26}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>shetuanguanqiadianimage.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>shetuanguanqiadianimage.png</string>
	</dict>
</dict>
</plist>
