<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Newsz_kxv_xiaojineng_huoyan_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,287},{247,397}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{247,397}}</string>
			<key>sourceSize</key>
			<string>{247,397}</string>
		</dict>
		<key>Newsz_kxvjr_daiji_huo_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,535},{187,215}}</string>
			<key>offset</key>
			<string>{8,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,39},{187,215}}</string>
			<key>sourceSize</key>
			<string>{203,267}</string>
		</dict>
		<key>Newsz_kxvjr_daiji_huo_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,535},{183,211}}</string>
			<key>offset</key>
			<string>{6,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,35},{183,211}}</string>
			<key>sourceSize</key>
			<string>{203,267}</string>
		</dict>
		<key>Newsz_kxvjr_daiji_huo_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,535},{179,213}}</string>
			<key>offset</key>
			<string>{1,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,22},{179,213}}</string>
			<key>sourceSize</key>
			<string>{203,267}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_baoguang_00072.png</key>
		<dict>
			<key>frame</key>
			<string>{{820,211},{192,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,192}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_huoqiu_00067.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,289},{287,245}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{287,245}}</string>
			<key>sourceSize</key>
			<string>{287,245}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_huozhu_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,751},{220,267}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,267}}</string>
			<key>sourceSize</key>
			<string>{220,267}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_huozhu_00060.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,404},{213,346}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,346}}</string>
			<key>sourceSize</key>
			<string>{213,346}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_longtou_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{820,2},{193,208}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,208}}</string>
			<key>sourceSize</key>
			<string>{193,208}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_longtouhuo_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{554,535},{208,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{208,171}}</string>
			<key>sourceSize</key>
			<string>{208,171}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_shouzhang_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,2},{408,284}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{408,284}}</string>
			<key>sourceSize</key>
			<string>{408,284}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_shouzhang_00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{408,286}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{408,286}}</string>
			<key>sourceSize</key>
			<string>{408,286}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_shouzhang_00068.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,751},{383,271}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{383,271}}</string>
			<key>sourceSize</key>
			<string>{383,271}</string>
		</dict>
		<key>Newsz_sy_lmbs_shoubuhonghuo_00171.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,751},{271,395}}</string>
			<key>offset</key>
			<string>{3,13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,51},{271,395}}</string>
			<key>sourceSize</key>
			<string>{323,471}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>Kxvjr_common27.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>Kxvjr_common27.png</string>
	</dict>
</dict>
</plist>
