<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_mx_lmbs_gongji1_00053.png</key>
		<dict>
			<key>frame</key>
			<string>{{795,950},{72,84}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,84}}</string>
			<key>sourceSize</key>
			<string>{72,88}</string>
		</dict>
		<key>New_mx_lmbs_gongji1_00057.png</key>
		<dict>
			<key>frame</key>
			<string>{{920,841},{102,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,112}}</string>
			<key>sourceSize</key>
			<string>{102,112}</string>
		</dict>
		<key>New_mx_lmbs_gongji1_00063.png</key>
		<dict>
			<key>frame</key>
			<string>{{615,634},{159,107}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,107}}</string>
			<key>sourceSize</key>
			<string>{159,113}</string>
		</dict>
		<key>New_mx_lmbs_gongji1_00065.png</key>
		<dict>
			<key>frame</key>
			<string>{{759,841},{160,108}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{160,108}}</string>
			<key>sourceSize</key>
			<string>{162,108}</string>
		</dict>
		<key>New_mx_lmbs_gongji1_00070.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,305},{182,126}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,126}}</string>
			<key>sourceSize</key>
			<string>{182,128}</string>
		</dict>
		<key>New_mx_lmbs_gongji1_00074.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,432},{182,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,125}}</string>
			<key>sourceSize</key>
			<string>{182,125}</string>
		</dict>
		<key>New_mx_lmbs_gongji1_00075.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,560},{181,128}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{181,128}}</string>
			<key>sourceSize</key>
			<string>{183,128}</string>
		</dict>
		<key>New_mx_lmbs_gongji1_00086.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,558},{183,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,133}}</string>
			<key>sourceSize</key>
			<string>{183,133}</string>
		</dict>
		<key>New_mx_lmbs_gongji1_00087.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,560},{181,140}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,140}}</string>
			<key>sourceSize</key>
			<string>{181,144}</string>
		</dict>
		<key>New_mx_lmbs_gongji1_00115.png</key>
		<dict>
			<key>frame</key>
			<string>{{829,742},{110,98}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{110,98}}</string>
			<key>sourceSize</key>
			<string>{110,102}</string>
		</dict>
		<key>New_mx_lmbs_gongji1_00124.png</key>
		<dict>
			<key>frame</key>
			<string>{{336,952},{74,70}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{74,70}}</string>
			<key>sourceSize</key>
			<string>{76,72}</string>
		</dict>
		<key>New_mx_lmbs_gongji2_00186.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,276},{244,232}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{244,232}}</string>
			<key>sourceSize</key>
			<string>{244,234}</string>
		</dict>
		<key>New_mx_lmbs_gongji2_00187.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,2},{288,273}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{288,273}}</string>
			<key>sourceSize</key>
			<string>{290,275}</string>
		</dict>
		<key>New_mx_lmbs_gongji2_00188.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{323,302}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{323,302}}</string>
			<key>sourceSize</key>
			<string>{323,304}</string>
		</dict>
		<key>New_mx_lmbs_gongji3_00191.png</key>
		<dict>
			<key>frame</key>
			<string>{{618,950},{72,89}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,89}}</string>
			<key>sourceSize</key>
			<string>{72,91}</string>
		</dict>
		<key>New_mx_lmbs_gongji3_00202.png</key>
		<dict>
			<key>frame</key>
			<string>{{873,204},{206,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{206,149}}</string>
			<key>sourceSize</key>
			<string>{206,151}</string>
		</dict>
		<key>New_mx_lmbs_gongji3_00203.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,560},{208,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{208,148}}</string>
			<key>sourceSize</key>
			<string>{208,150}</string>
		</dict>
		<key>New_mx_lmbs_gongji3_00204.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,742},{209,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,154}}</string>
			<key>sourceSize</key>
			<string>{209,154}</string>
		</dict>
		<key>New_mx_lmbs_gongji3_00205.png</key>
		<dict>
			<key>frame</key>
			<string>{{615,305},{214,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,156}}</string>
			<key>sourceSize</key>
			<string>{214,156}</string>
		</dict>
		<key>New_mx_lmbs_gongji3_00206.png</key>
		<dict>
			<key>frame</key>
			<string>{{601,742},{207,157}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{207,157}}</string>
			<key>sourceSize</key>
			<string>{217,157}</string>
		</dict>
		<key>New_mx_lmbs_gongji3_00207.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,742},{208,148}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{208,148}}</string>
			<key>sourceSize</key>
			<string>{208,152}</string>
		</dict>
		<key>New_mx_lmbs_gongji3_00208.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,742},{211,147}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,3},{211,147}}</string>
			<key>sourceSize</key>
			<string>{213,151}</string>
		</dict>
		<key>New_mx_lmbs_gongji3_00209.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,742},{212,146}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{212,146}}</string>
			<key>sourceSize</key>
			<string>{216,146}</string>
		</dict>
		<key>New_mx_lmbs_gongji3_00212.png</key>
		<dict>
			<key>frame</key>
			<string>{{878,2},{201,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,143}}</string>
			<key>sourceSize</key>
			<string>{201,143}</string>
		</dict>
		<key>New_mx_lmbs_gongji3_00213.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,305},{201,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,140}}</string>
			<key>sourceSize</key>
			<string>{201,140}</string>
		</dict>
		<key>New_mx_lmbs_gongji3_00214.png</key>
		<dict>
			<key>frame</key>
			<string>{{829,605},{192,136}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{192,136}}</string>
			<key>sourceSize</key>
			<string>{192,144}</string>
		</dict>
		<key>New_mx_lmbs_gongji3_00215.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,951},{71,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,136}}</string>
			<key>sourceSize</key>
			<string>{71,136}</string>
		</dict>
		<key>New_mx_lmbs_gongji3_00216.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,955},{66,139}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{66,139}}</string>
			<key>sourceSize</key>
			<string>{72,139}</string>
		</dict>
		<key>New_mx_lmbs_gongji3_00223.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,530},{27,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,42}}</string>
			<key>sourceSize</key>
			<string>{27,42}</string>
		</dict>
		<key>New_mx_ptbs_gongji1_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,509},{101,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,50}}</string>
			<key>sourceSize</key>
			<string>{101,50}</string>
		</dict>
		<key>New_mx_ptbs_gongji1_00041.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,955},{110,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{110,67}}</string>
			<key>sourceSize</key>
			<string>{114,67}</string>
		</dict>
		<key>New_mx_ptbs_gongji1_00047.png</key>
		<dict>
			<key>frame</key>
			<string>{{571,383},{100,43}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{100,43}}</string>
			<key>sourceSize</key>
			<string>{104,43}</string>
		</dict>
		<key>New_mx_ptbs_gongji1_00049.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,709},{32,36}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{32,36}}</string>
			<key>sourceSize</key>
			<string>{32,38}</string>
		</dict>
		<key>New_mx_ptgj_gongji1_00031.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,709},{36,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,12}}</string>
			<key>sourceSize</key>
			<string>{36,12}</string>
		</dict>
		<key>New_mx_ptgj_gongji1_00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{880,950},{72,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{72,37}}</string>
			<key>sourceSize</key>
			<string>{74,37}</string>
		</dict>
		<key>New_mx_ptgj_gongji1_00034.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,305},{104,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,42}}</string>
			<key>sourceSize</key>
			<string>{104,42}</string>
		</dict>
		<key>New_mx_ptgj_gongji1_00035.png</key>
		<dict>
			<key>frame</key>
			<string>{{571,276},{106,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,43}}</string>
			<key>sourceSize</key>
			<string>{106,43}</string>
		</dict>
		<key>New_mx_ptgj_gongji1_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,507},{103,52}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,52}}</string>
			<key>sourceSize</key>
			<string>{103,56}</string>
		</dict>
		<key>New_mx_ptgj_gongji1_00053.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,954},{104,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,57}}</string>
			<key>sourceSize</key>
			<string>{104,57}</string>
		</dict>
		<key>New_mx_ptgj_gongji1_00054.png</key>
		<dict>
			<key>frame</key>
			<string>{{775,634},{105,53}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{105,53}}</string>
			<key>sourceSize</key>
			<string>{107,59}</string>
		</dict>
		<key>New_mx_ptgj_gongji1_00059.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,507},{43,36}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{43,36}}</string>
			<key>sourceSize</key>
			<string>{45,42}</string>
		</dict>
		<key>New_mx_ptgj_gongji2_00062.png</key>
		<dict>
			<key>frame</key>
			<string>{{940,742},{82,95}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,95}}</string>
			<key>sourceSize</key>
			<string>{82,97}</string>
		</dict>
		<key>New_mx_ptgj_gongji2_00079.png</key>
		<dict>
			<key>frame</key>
			<string>{{479,709},{31,92}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{31,92}}</string>
			<key>sourceSize</key>
			<string>{33,94}</string>
		</dict>
		<key>New_mx_ptgj_gongji2_00080.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,509},{20,88}}</string>
			<key>offset</key>
			<string>{4,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,0},{20,88}}</string>
			<key>sourceSize</key>
			<string>{30,94}</string>
		</dict>
		<key>New_mx_xjn_gongji1_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{759,769},{14,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,19}}</string>
			<key>sourceSize</key>
			<string>{14,19}</string>
		</dict>
		<key>New_mx_xjn_gongji1_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{525,530},{27,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,24}}</string>
			<key>sourceSize</key>
			<string>{27,24}</string>
		</dict>
		<key>New_mx_xjn_gongji1_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,954},{82,68}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{82,68}}</string>
			<key>sourceSize</key>
			<string>{86,72}</string>
		</dict>
		<key>New_mx_xjn_gongji1_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{708,950},{86,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,72}}</string>
			<key>sourceSize</key>
			<string>{86,72}</string>
		</dict>
		<key>New_mx_xjn_gongji1_00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,722},{25,19}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{25,19}}</string>
			<key>sourceSize</key>
			<string>{27,23}</string>
		</dict>
		<key>New_mx_xjn_gongji2_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{759,789},{16,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,14}}</string>
			<key>sourceSize</key>
			<string>{16,14}</string>
		</dict>
		<key>New_mx_xjn_gongji2_00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,952},{70,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{70,69}}</string>
			<key>sourceSize</key>
			<string>{78,69}</string>
		</dict>
		<key>New_mx_xjn_gongji3_00046.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,530},{23,20}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,3},{23,20}}</string>
			<key>sourceSize</key>
			<string>{27,24}</string>
		</dict>
		<key>New_mx_xjn_gongji4_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{598,722},{19,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,16}}</string>
			<key>sourceSize</key>
			<string>{19,16}</string>
		</dict>
		<key>New_mx_xjn_gongji4_00034.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,509},{53,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{53,50}}</string>
			<key>sourceSize</key>
			<string>{55,50}</string>
		</dict>
		<key>New_mx_xjn_gongji4_00051.png</key>
		<dict>
			<key>frame</key>
			<string>{{775,740},{100,53}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{100,53}}</string>
			<key>sourceSize</key>
			<string>{100,61}</string>
		</dict>
		<key>New_mx_xjn_gongji4_00057.png</key>
		<dict>
			<key>frame</key>
			<string>{{571,484},{75,43}}</string>
			<key>offset</key>
			<string>{3,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,2},{75,43}}</string>
			<key>sourceSize</key>
			<string>{85,45}</string>
		</dict>
		<key>New_mx_xjn_gongji5_00040.png</key>
		<dict>
			<key>frame</key>
			<string>{{759,742},{14,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,26}}</string>
			<key>sourceSize</key>
			<string>{14,26}</string>
		</dict>
		<key>New_mx_xjn_gongji5_00070.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,709},{35,32}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{35,32}}</string>
			<key>sourceSize</key>
			<string>{35,38}</string>
		</dict>
		<key>ctj_ex_daji2_00091.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,411},{192,193}}</string>
			<key>offset</key>
			<string>{7,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,0},{192,193}}</string>
			<key>sourceSize</key>
			<string>{206,193}</string>
		</dict>
		<key>ctj_ex_daji2_00092.png</key>
		<dict>
			<key>frame</key>
			<string>{{615,462},{171,213}}</string>
			<key>offset</key>
			<string>{23,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{46,0},{171,213}}</string>
			<key>sourceSize</key>
			<string>{217,213}</string>
		</dict>
		<key>ctj_ex_daji2_00102.png</key>
		<dict>
			<key>frame</key>
			<string>{{615,155},{257,149}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{257,149}}</string>
			<key>sourceSize</key>
			<string>{257,153}</string>
		</dict>
		<key>ctj_ex_daji2_00103.png</key>
		<dict>
			<key>frame</key>
			<string>{{615,2},{262,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{262,152}}</string>
			<key>sourceSize</key>
			<string>{262,152}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>meixing_common0.png</string>
		<key>scale</key>
		<real>0.62</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>meixing_common0.png</string>
	</dict>
</dict>
</plist>
