<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bfsgnzz105_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,2},{166,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,140}}</string>
			<key>sourceSize</key>
			<string>{166,140}</string>
		</dict>
		<key>bfsgnzz106_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{699,341},{93,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,118}}</string>
			<key>sourceSize</key>
			<string>{93,118}</string>
		</dict>
		<key>bfsgnzz108_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,258},{159,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,115}}</string>
			<key>sourceSize</key>
			<string>{159,115}</string>
		</dict>
		<key>bfsgnzz109_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,451},{100,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,85}}</string>
			<key>sourceSize</key>
			<string>{100,85}</string>
		</dict>
		<key>bfsgnzz112_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,400},{58,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,62}}</string>
			<key>sourceSize</key>
			<string>{58,62}</string>
		</dict>
		<key>bfsgnzz114_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,496},{88,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,83}}</string>
			<key>sourceSize</key>
			<string>{88,83}</string>
		</dict>
		<key>bfsgnzz115_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,538},{72,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,87}}</string>
			<key>sourceSize</key>
			<string>{72,87}</string>
		</dict>
		<key>bfsgnzz116_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,236},{145,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,94}}</string>
			<key>sourceSize</key>
			<string>{145,94}</string>
		</dict>
		<key>bfsgnzz117_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,117},{119,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,165}}</string>
			<key>sourceSize</key>
			<string>{119,165}</string>
		</dict>
		<key>bfsgnzz128_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{522,238},{34,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,27}}</string>
			<key>sourceSize</key>
			<string>{34,27}</string>
		</dict>
		<key>bfsgnzz129_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{819,341},{72,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,49}}</string>
			<key>sourceSize</key>
			<string>{72,49}</string>
		</dict>
		<key>bfsgnzz130_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,2},{183,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,120}}</string>
			<key>sourceSize</key>
			<string>{183,120}</string>
		</dict>
		<key>bfsgnzz131_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,126},{162,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,130}}</string>
			<key>sourceSize</key>
			<string>{162,130}</string>
		</dict>
		<key>bfsgnzz133_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,378},{89,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,94}}</string>
			<key>sourceSize</key>
			<string>{89,94}</string>
		</dict>
		<key>bfsgnzz134_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,258},{119,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,65}}</string>
			<key>sourceSize</key>
			<string>{119,65}</string>
		</dict>
		<key>bfsgnzz136_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{901,2},{121,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,149}}</string>
			<key>sourceSize</key>
			<string>{121,149}</string>
		</dict>
		<key>bfsgnzz137_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,400},{103,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,94}}</string>
			<key>sourceSize</key>
			<string>{103,94}</string>
		</dict>
		<key>bfsgnzz142_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,382},{73,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,51}}</string>
			<key>sourceSize</key>
			<string>{73,51}</string>
		</dict>
		<key>bfsgnzz148_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{565,144},{153,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,99}}</string>
			<key>sourceSize</key>
			<string>{153,99}</string>
		</dict>
		<key>bfsgnzz149_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{740,2},{159,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,75}}</string>
			<key>sourceSize</key>
			<string>{159,75}</string>
		</dict>
		<key>bfsgnzz150_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,2},{172,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,113}}</string>
			<key>sourceSize</key>
			<string>{172,113}</string>
		</dict>
		<key>bfsgnzz152_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{558,245},{139,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,135}}</string>
			<key>sourceSize</key>
			<string>{139,135}</string>
		</dict>
		<key>bfsgnzz157_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{557,382},{85,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,67}}</string>
			<key>sourceSize</key>
			<string>{85,67}</string>
		</dict>
		<key>bfsgnzz159_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,124},{132,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,163}}</string>
			<key>sourceSize</key>
			<string>{132,163}</string>
		</dict>
		<key>bfsgnzz160_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{819,415},{69,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,49}}</string>
			<key>sourceSize</key>
			<string>{69,49}</string>
		</dict>
		<key>bfsgnzz37_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{279,419},{72,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,94}}</string>
			<key>sourceSize</key>
			<string>{72,94}</string>
		</dict>
		<key>bfsgnzz38_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{279,325},{97,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,92}}</string>
			<key>sourceSize</key>
			<string>{97,92}</string>
		</dict>
		<key>bfsgnzz39_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{740,79},{139,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,155}}</string>
			<key>sourceSize</key>
			<string>{139,155}</string>
		</dict>
		<key>bfsgnzz42_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,469},{60,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,68}}</string>
			<key>sourceSize</key>
			<string>{60,68}</string>
		</dict>
		<key>bfsgnzz45_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{474,378},{81,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,67}}</string>
			<key>sourceSize</key>
			<string>{81,67}</string>
		</dict>
		<key>bfsgnzz46_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{556,451},{75,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,71}}</string>
			<key>sourceSize</key>
			<string>{75,71}</string>
		</dict>
		<key>bfsgnzz47_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,464},{61,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,58}}</string>
			<key>sourceSize</key>
			<string>{61,58}</string>
		</dict>
		<key>bfsgnzz48_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,164},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,42}}</string>
			<key>sourceSize</key>
			<string>{42,42}</string>
		</dict>
		<key>bfsgnzz49_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,126},{36,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,44}}</string>
			<key>sourceSize</key>
			<string>{36,44}</string>
		</dict>
		<key>bfsgnzz61_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,238},{138,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,142}}</string>
			<key>sourceSize</key>
			<string>{138,142}</string>
		</dict>
		<key>bfsgnzz64_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,208},{71,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,40}}</string>
			<key>sourceSize</key>
			<string>{71,40}</string>
		</dict>
		<key>bfsgnzz66_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{720,220},{119,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,149}}</string>
			<key>sourceSize</key>
			<string>{119,149}</string>
		</dict>
		<key>bfsgnzz77_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{474,447},{51,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,80}}</string>
			<key>sourceSize</key>
			<string>{51,80}</string>
		</dict>
		<key>bfsgnzz79_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{897,153},{81,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,120}}</string>
			<key>sourceSize</key>
			<string>{81,120}</string>
		</dict>
		<key>bfsgnzz83_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,325},{73,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,114}}</string>
			<key>sourceSize</key>
			<string>{73,114}</string>
		</dict>
		<key>bfsgnzz84_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,332},{143,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,139}}</string>
			<key>sourceSize</key>
			<string>{143,139}</string>
		</dict>
		<key>bfsgnzz88_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,473},{99,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,115}}</string>
			<key>sourceSize</key>
			<string>{99,115}</string>
		</dict>
		<key>bfsgnzz89_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{209,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,122}}</string>
			<key>sourceSize</key>
			<string>{209,122}</string>
		</dict>
		<key>bfsgnzz98_baofenggaozengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,375},{110,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,74}}</string>
			<key>sourceSize</key>
			<string>{110,74}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>baofenggaozengimage.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>baofenggaozengimage.png</string>
	</dict>
</dict>
</plist>
