<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_fight_lock.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,667},{31,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,26}}</string>
			<key>sourceSize</key>
			<string>{31,26}</string>
		</dict>
		<key>pic_huodong_qhgj_qhgjtc_xuanzhongdi.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,667},{26,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,5},{26,27}}</string>
			<key>sourceSize</key>
			<string>{54,37}</string>
		</dict>
		<key>pic_jp_kbn_guan.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,641},{50,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,24}}</string>
			<key>sourceSize</key>
			<string>{50,24}</string>
		</dict>
		<key>pic_jp_kbn_kai.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,641},{50,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,24}}</string>
			<key>sourceSize</key>
			<string>{50,24}</string>
		</dict>
		<key>pic_jp_kbn_renwu.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,609},{26,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{26,32}}</string>
			<key>sourceSize</key>
			<string>{30,32}</string>
		</dict>
		<key>pic_jp_kbn_yinyue.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,609},{30,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,32}}</string>
			<key>sourceSize</key>
			<string>{30,32}</string>
		</dict>
		<key>pic_jp_xpxf_dh_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,2},{150,539}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,539}}</string>
			<key>sourceSize</key>
			<string>{150,539}</string>
		</dict>
		<key>pic_jp_xpxf_dh_diban01.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,543},{96,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,59}}</string>
			<key>sourceSize</key>
			<string>{96,59}</string>
		</dict>
		<key>pic_jp_xpxf_tanchuang_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{273,539}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{273,539}}</string>
			<key>sourceSize</key>
			<string>{273,539}</string>
		</dict>
		<key>pic_zhanhun_fengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,637},{14,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,2}}</string>
			<key>sourceSize</key>
			<string>{14,2}</string>
		</dict>
		<key>pic_zhaocaimaofulishe_sd_tc_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,543},{131,295}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,295}}</string>
			<key>sourceSize</key>
			<string>{131,295}</string>
		</dict>
		<key>pic_zhaocaimaofulishe_sd_tc_qy_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,543},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>global_ip210.png</string>
		<key>size</key>
		<string>{429,695}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>global_ip210.png</string>
	</dict>
</dict>
</plist>
