<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_xukonghunxia_goumaishige_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,426},{210,81}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,81}}</string>
			<key>sourceSize</key>
			<string>{212,81}</string>
		</dict>
		<key>btn_xukonghunxia_goumaishige_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,426},{210,81}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,81}}</string>
			<key>sourceSize</key>
			<string>{212,81}</string>
		</dict>
		<key>btn_xukonghunxia_goumaiyige_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{891,214},{210,81}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,81}}</string>
			<key>sourceSize</key>
			<string>{212,81}</string>
		</dict>
		<key>btn_xukonghunxia_goumaiyige_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{891,2},{210,81}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,81}}</string>
			<key>sourceSize</key>
			<string>{212,81}</string>
		</dict>
		<key>btn_xukonghunxia_xiangqingjieshao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{775,444},{64,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,77}}</string>
			<key>sourceSize</key>
			<string>{64,77}</string>
		</dict>
		<key>btn_xukonghunxia_xiangqingjieshao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{696,444},{64,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,77}}</string>
			<key>sourceSize</key>
			<string>{64,77}</string>
		</dict>
		<key>pic_xukonghunxia_shengyushijian.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,370},{127,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,33}}</string>
			<key>sourceSize</key>
			<string>{127,33}</string>
		</dict>
		<key>pic_xukonghunxia_tanchuang_bj.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,2},{617,366}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{617,366}}</string>
			<key>sourceSize</key>
			<string>{617,366}</string>
		</dict>
		<key>pic_xukonghunxia_ti.png</key>
		<dict>
			<key>frame</key>
			<string>{{696,370},{191,72}}</string>
			<key>offset</key>
			<string>{-16,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,72}}</string>
			<key>sourceSize</key>
			<string>{223,72}</string>
		</dict>
		<key>pic_xukonghunxia_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{502,268}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{502,268}}</string>
			<key>sourceSize</key>
			<string>{508,268}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_VoidSoulbox0.png</string>
		<key>size</key>
		<string>{974,510}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_VoidSoulbox0.png</string>
	</dict>
</dict>
</plist>
