<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dase_xunhuan1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,812},{71,173}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{71,173}}</string>
			<key>sourceSize</key>
			<string>{77,173}</string>
		</dict>
		<key>dase_xunhuan1_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,742},{69,173}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{69,173}}</string>
			<key>sourceSize</key>
			<string>{77,173}</string>
		</dict>
		<key>dase_xunhuan1_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{505,2},{59,192}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{59,192}}</string>
			<key>sourceSize</key>
			<string>{61,192}</string>
		</dict>
		<key>dase_xunhuan1_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{515,273},{55,192}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{55,192}}</string>
			<key>sourceSize</key>
			<string>{61,192}</string>
		</dict>
		<key>dase_xunhuan1_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,549},{57,192}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{57,192}}</string>
			<key>sourceSize</key>
			<string>{61,192}</string>
		</dict>
		<key>dase_xunhuan1_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{565,2},{55,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{55,192}}</string>
			<key>sourceSize</key>
			<string>{61,192}</string>
		</dict>
		<key>dase_xunhuan1_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,549},{57,192}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,192}}</string>
			<key>sourceSize</key>
			<string>{61,192}</string>
		</dict>
		<key>dase_xunhuan1_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,549},{59,192}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{59,192}}</string>
			<key>sourceSize</key>
			<string>{61,192}</string>
		</dict>
		<key>dase_xunhuan1_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{621,2},{55,192}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{55,192}}</string>
			<key>sourceSize</key>
			<string>{61,192}</string>
		</dict>
		<key>dase_xunhuan1_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,549},{57,192}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{57,192}}</string>
			<key>sourceSize</key>
			<string>{61,192}</string>
		</dict>
		<key>dase_xunhuan1_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{677,2},{55,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{55,192}}</string>
			<key>sourceSize</key>
			<string>{61,192}</string>
		</dict>
		<key>dase_xunhuan1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{552,195},{77,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,173}}</string>
			<key>sourceSize</key>
			<string>{77,173}</string>
		</dict>
		<key>dase_xunhuan1_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,273},{57,192}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,192}}</string>
			<key>sourceSize</key>
			<string>{61,192}</string>
		</dict>
		<key>dase_xunhuan1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,475},{73,173}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{73,173}}</string>
			<key>sourceSize</key>
			<string>{77,173}</string>
		</dict>
		<key>dase_xunhuan1_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,812},{71,173}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{71,173}}</string>
			<key>sourceSize</key>
			<string>{77,173}</string>
		</dict>
		<key>dase_xunhuan1_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{525,742},{69,173}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{69,173}}</string>
			<key>sourceSize</key>
			<string>{77,173}</string>
		</dict>
		<key>dase_xunhuan1_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{559,812},{71,173}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{71,173}}</string>
			<key>sourceSize</key>
			<string>{77,173}</string>
		</dict>
		<key>dase_xunhuan1_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{571,273},{77,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,173}}</string>
			<key>sourceSize</key>
			<string>{77,173}</string>
		</dict>
		<key>dase_xunhuan1_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,475},{73,173}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{73,173}}</string>
			<key>sourceSize</key>
			<string>{77,173}</string>
		</dict>
		<key>dase_xunhuan1_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{631,812},{71,173}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{71,173}}</string>
			<key>sourceSize</key>
			<string>{77,173}</string>
		</dict>
		<key>dase_xunhuan2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,812},{102,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,201}}</string>
			<key>sourceSize</key>
			<string>{102,201}</string>
		</dict>
		<key>dase_xunhuan2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,812},{102,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,201}}</string>
			<key>sourceSize</key>
			<string>{102,201}</string>
		</dict>
		<key>dase_xunhuan2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,2},{98,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,201}}</string>
			<key>sourceSize</key>
			<string>{98,201}</string>
		</dict>
		<key>dase_xunhuan2_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,2},{95,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,201}}</string>
			<key>sourceSize</key>
			<string>{95,201}</string>
		</dict>
		<key>dase_xunhuan2_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,273},{98,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,201}}</string>
			<key>sourceSize</key>
			<string>{98,201}</string>
		</dict>
		<key>dase_xunhuan2_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,273},{97,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,201}}</string>
			<key>sourceSize</key>
			<string>{97,201}</string>
		</dict>
		<key>dase_xunhuan2_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,812},{101,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,201}}</string>
			<key>sourceSize</key>
			<string>{101,201}</string>
		</dict>
		<key>dase_xunhuan2_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,819},{104,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,201}}</string>
			<key>sourceSize</key>
			<string>{104,201}</string>
		</dict>
		<key>dashe_atk_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{938,179},{84,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,44}}</string>
			<key>sourceSize</key>
			<string>{84,44}</string>
		</dict>
		<key>dashe_atk_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{938,80},{84,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,50}}</string>
			<key>sourceSize</key>
			<string>{84,50}</string>
		</dict>
		<key>dashe_atk_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{938,131},{47,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,84}}</string>
			<key>sourceSize</key>
			<string>{47,84}</string>
		</dict>
		<key>dashe_atk_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,224},{88,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,48}}</string>
			<key>sourceSize</key>
			<string>{88,48}</string>
		</dict>
		<key>dashe_bu_tafa2.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,475},{76,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,61}}</string>
			<key>sourceSize</key>
			<string>{76,61}</string>
		</dict>
		<key>dashe_chuchang_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{702,986},{35,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,65}}</string>
			<key>sourceSize</key>
			<string>{35,65}</string>
		</dict>
		<key>dashe_chuchang_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,782},{29,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,66}}</string>
			<key>sourceSize</key>
			<string>{29,66}</string>
		</dict>
		<key>dashe_chuchang_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{912,391},{59,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,110}}</string>
			<key>sourceSize</key>
			<string>{59,110}</string>
		</dict>
		<key>dashe_chuchang_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{867,679},{99,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,72}}</string>
			<key>sourceSize</key>
			<string>{99,72}</string>
		</dict>
		<key>dashe_chuchang_26_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{702,391},{109,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,83}}</string>
			<key>sourceSize</key>
			<string>{109,83}</string>
		</dict>
		<key>dashe_chuchang_36.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,595},{55,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,83}}</string>
			<key>sourceSize</key>
			<string>{55,83}</string>
		</dict>
		<key>dashe_chuchang_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{990,812},{31,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,67}}</string>
			<key>sourceSize</key>
			<string>{31,67}</string>
		</dict>
		<key>dashe_chuchang_BU_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{703,940},{45,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,60}}</string>
			<key>sourceSize</key>
			<string>{45,60}</string>
		</dict>
		<key>dashe_daodi_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{861,938},{84,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,105}}</string>
			<key>sourceSize</key>
			<string>{84,105}</string>
		</dict>
		<key>dashe_daodi_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{777,742},{46,69}}</string>
			<key>offset</key>
			<string>{-3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{46,69}}</string>
			<key>sourceSize</key>
			<string>{52,73}</string>
		</dict>
		<key>dashe_daodi_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{967,679},{102,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,55}}</string>
			<key>sourceSize</key>
			<string>{102,55}</string>
		</dict>
		<key>dashe_daodi_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{634,986},{67,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,35}}</string>
			<key>sourceSize</key>
			<string>{67,35}</string>
		</dict>
		<key>dashe_daodi_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,195},{85,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,113}}</string>
			<key>sourceSize</key>
			<string>{85,113}</string>
		</dict>
		<key>dashe_gedang_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{912,538},{48,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,54}}</string>
			<key>sourceSize</key>
			<string>{48,54}</string>
		</dict>
		<key>dashe_gedang_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{628,475},{73,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,106}}</string>
			<key>sourceSize</key>
			<string>{73,106}</string>
		</dict>
		<key>dashe_idle_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{544,681},{60,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,121}}</string>
			<key>sourceSize</key>
			<string>{60,121}</string>
		</dict>
		<key>dashe_idle_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,549},{86,227}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,227}}</string>
			<key>sourceSize</key>
			<string>{86,227}</string>
		</dict>
		<key>dashe_idle_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{699,742},{69,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,77}}</string>
			<key>sourceSize</key>
			<string>{69,77}</string>
		</dict>
		<key>dashe_idle_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,537},{49,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,76}}</string>
			<key>sourceSize</key>
			<string>{49,76}</string>
		</dict>
		<key>dashe_idle_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{666,679},{62,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,90}}</string>
			<key>sourceSize</key>
			<string>{62,90}</string>
		</dict>
		<key>dashe_idle_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,2},{125,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,114}}</string>
			<key>sourceSize</key>
			<string>{125,114}</string>
		</dict>
		<key>dashe_idle_22_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,117},{125,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,114}}</string>
			<key>sourceSize</key>
			<string>{125,114}</string>
		</dict>
		<key>dashe_idle_3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{571,447},{27,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,72}}</string>
			<key>sourceSize</key>
			<string>{27,72}</string>
		</dict>
		<key>dashe_idle_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,447},{24,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,57}}</string>
			<key>sourceSize</key>
			<string>{24,57}</string>
		</dict>
		<key>dashe_idle_4_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{990,880},{22,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,55}}</string>
			<key>sourceSize</key>
			<string>{22,55}</string>
		</dict>
		<key>dashe_idle_5_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{967,555},{31,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,53}}</string>
			<key>sourceSize</key>
			<string>{31,53}</string>
		</dict>
		<key>dashe_idle_6_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,204},{19,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,50}}</string>
			<key>sourceSize</key>
			<string>{19,50}</string>
		</dict>
		<key>dashe_idle_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{878,309},{61,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,81}}</string>
			<key>sourceSize</key>
			<string>{61,81}</string>
		</dict>
		<key>dashe_idle_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{940,309},{61,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,81}}</string>
			<key>sourceSize</key>
			<string>{61,81}</string>
		</dict>
		<key>dashe_idle_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,232},{74,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{74,76}}</string>
			<key>sourceSize</key>
			<string>{76,76}</string>
		</dict>
		<key>dashe_run_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,475},{18,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,21}}</string>
			<key>sourceSize</key>
			<string>{18,21}</string>
		</dict>
		<key>dashe_run_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{912,451},{86,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,54}}</string>
			<key>sourceSize</key>
			<string>{86,54}</string>
		</dict>
		<key>dashe_run_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{561,986},{35,72}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{35,72}}</string>
			<key>sourceSize</key>
			<string>{35,74}</string>
		</dict>
		<key>dashe_run_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{757,679},{54,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,62}}</string>
			<key>sourceSize</key>
			<string>{54,62}</string>
		</dict>
		<key>dashe_shengli_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{954,271},{37,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,67}}</string>
			<key>sourceSize</key>
			<string>{37,67}</string>
		</dict>
		<key>dashe_shengli_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{730,549},{129,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,71}}</string>
			<key>sourceSize</key>
			<string>{129,71}</string>
		</dict>
		<key>dashe_shengli_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{967,451},{55,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,103}}</string>
			<key>sourceSize</key>
			<string>{55,103}</string>
		</dict>
		<key>dashe_shengli_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{726,309},{81,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,80}}</string>
			<key>sourceSize</key>
			<string>{81,80}</string>
		</dict>
		<key>dashe_shengli_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,224},{48,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,119}}</string>
			<key>sourceSize</key>
			<string>{48,119}</string>
		</dict>
		<key>dashe_shengli_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,777},{34,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,67}}</string>
			<key>sourceSize</key>
			<string>{34,67}</string>
		</dict>
		<key>dashe_shengli_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{733,2},{112,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,78}}</string>
			<key>sourceSize</key>
			<string>{112,78}</string>
		</dict>
		<key>dashe_shengli_28.png</key>
		<dict>
			<key>frame</key>
			<string>{{735,475},{73,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,99}}</string>
			<key>sourceSize</key>
			<string>{73,99}</string>
		</dict>
		<key>dashe_shengli_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,204},{17,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,24}}</string>
			<key>sourceSize</key>
			<string>{17,24}</string>
		</dict>
		<key>dashe_shengli_31.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,503},{45,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,96}}</string>
			<key>sourceSize</key>
			<string>{45,96}</string>
		</dict>
		<key>dashe_shengli_32.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,2},{79,270}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,270}}</string>
			<key>sourceSize</key>
			<string>{79,270}</string>
		</dict>
		<key>dashe_shengli_33.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,549},{80,269}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,269}}</string>
			<key>sourceSize</key>
			<string>{80,269}</string>
		</dict>
		<key>dashe_shengli_34.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{153,273}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,273}}</string>
			<key>sourceSize</key>
			<string>{153,273}</string>
		</dict>
		<key>dashe_shengli_35.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,276},{180,272}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,272}}</string>
			<key>sourceSize</key>
			<string>{180,272}</string>
		</dict>
		<key>dashe_shengli_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{817,812},{120,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,125}}</string>
			<key>sourceSize</key>
			<string>{120,125}</string>
		</dict>
		<key>dashe_skill2_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{807,309},{81,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,70}}</string>
			<key>sourceSize</key>
			<string>{81,70}</string>
		</dict>
		<key>dashe_skill2_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,204},{68,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,106}}</string>
			<key>sourceSize</key>
			<string>{68,106}</string>
		</dict>
		<key>dashe_skill2_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{976,587},{80,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,46}}</string>
			<key>sourceSize</key>
			<string>{80,46}</string>
		</dict>
		<key>dashe_skill2_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{703,812},{113,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,127}}</string>
			<key>sourceSize</key>
			<string>{113,127}</string>
		</dict>
		<key>dashe_skill2_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,391},{99,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,83}}</string>
			<key>sourceSize</key>
			<string>{99,83}</string>
		</dict>
		<key>dashe_skill2_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{733,115},{66,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,78}}</string>
			<key>sourceSize</key>
			<string>{66,78}</string>
		</dict>
		<key>dashe_skill2_25.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,986},{36,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,69}}</string>
			<key>sourceSize</key>
			<string>{36,69}</string>
		</dict>
		<key>dashe_skill2_26.png</key>
		<dict>
			<key>frame</key>
			<string>{{824,742},{69,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,31}}</string>
			<key>sourceSize</key>
			<string>{69,31}</string>
		</dict>
		<key>dashe_skill2_31.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,2},{73,221}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{73,221}}</string>
			<key>sourceSize</key>
			<string>{75,221}</string>
		</dict>
		<key>dashe_skill2_32.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,742},{30,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{30,38}}</string>
			<key>sourceSize</key>
			<string>{32,40}</string>
		</dict>
		<key>dashe_skill2_33.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,273},{76,229}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{76,229}}</string>
			<key>sourceSize</key>
			<string>{78,231}</string>
		</dict>
		<key>dashe_skill2_34.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,549},{139,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,262}}</string>
			<key>sourceSize</key>
			<string>{139,262}</string>
		</dict>
		<key>dashe_skill2_36.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,679},{54,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,62}}</string>
			<key>sourceSize</key>
			<string>{54,62}</string>
		</dict>
		<key>dashe_skill2_44.png</key>
		<dict>
			<key>frame</key>
			<string>{{938,2},{84,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,77}}</string>
			<key>sourceSize</key>
			<string>{84,77}</string>
		</dict>
		<key>dashe_skill2_46.png</key>
		<dict>
			<key>frame</key>
			<string>{{858,587},{91,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,117}}</string>
			<key>sourceSize</key>
			<string>{91,117}</string>
		</dict>
		<key>dashe_skill2_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{887,232},{66,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,76}}</string>
			<key>sourceSize</key>
			<string>{66,76}</string>
		</dict>
		<key>dashe_skill2_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,986},{36,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,75}}</string>
			<key>sourceSize</key>
			<string>{36,75}</string>
		</dict>
		<key>dashe_skill4_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{768,940},{82,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,92}}</string>
			<key>sourceSize</key>
			<string>{82,92}</string>
		</dict>
		<key>dashe_skill4_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{649,391},{52,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,55}}</string>
			<key>sourceSize</key>
			<string>{52,55}</string>
		</dict>
		<key>dashe_skill4_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,549},{45,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,32}}</string>
			<key>sourceSize</key>
			<string>{45,32}</string>
		</dict>
		<key>dashe_skill4_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,777},{59,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,34}}</string>
			<key>sourceSize</key>
			<string>{59,34}</string>
		</dict>
		<key>dashe_skill_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{938,812},{51,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,125}}</string>
			<key>sourceSize</key>
			<string>{51,125}</string>
		</dict>
		<key>dashe_skill_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{649,273},{117,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,76}}</string>
			<key>sourceSize</key>
			<string>{117,76}</string>
		</dict>
		<key>dashe_skill_25.png</key>
		<dict>
			<key>frame</key>
			<string>{{954,224},{68,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,46}}</string>
			<key>sourceSize</key>
			<string>{68,46}</string>
		</dict>
		<key>dashe_skill_30.png</key>
		<dict>
			<key>frame</key>
			<string>{{967,938},{83,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,55}}</string>
			<key>sourceSize</key>
			<string>{83,55}</string>
		</dict>
		<key>dashe_skill_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{856,752},{59,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,93}}</string>
			<key>sourceSize</key>
			<string>{59,93}</string>
		</dict>
		<key>dashe_xunhuan3_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{637,549},{92,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,129}}</string>
			<key>sourceSize</key>
			<string>{92,129}</string>
		</dict>
		<key>dashe_xunhuan3_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{544,549},{92,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{92,131}}</string>
			<key>sourceSize</key>
			<string>{92,133}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>dasheXI_role0.png</string>
		<key>scale</key>
		<real>0.94</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dasheXI_role0.png</string>
	</dict>
</dict>
</plist>
