<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bainiaoailuo_benti_A_biyan.png</key>
		<dict>
			<key>frame</key>
			<string>{{718,76},{202,231}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,4},{202,231}}</string>
			<key>sourceSize</key>
			<string>{210,239}</string>
		</dict>
		<key>bainiaoailuo_benti_A_shenti.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{281,345}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{281,345}}</string>
			<key>sourceSize</key>
			<string>{289,353}</string>
		</dict>
		<key>bainiaoailuo_benti_A_tou.png</key>
		<dict>
			<key>frame</key>
			<string>{{715,279},{202,231}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,4},{202,231}}</string>
			<key>sourceSize</key>
			<string>{210,239}</string>
		</dict>
		<key>bainiaoailuo_benti_A_toufa1.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,312},{99,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{99,75}}</string>
			<key>sourceSize</key>
			<string>{107,83}</string>
		</dict>
		<key>bainiaoailuo_benti_A_toufa2.png</key>
		<dict>
			<key>frame</key>
			<string>{{704,704},{170,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{170,161}}</string>
			<key>sourceSize</key>
			<string>{178,169}</string>
		</dict>
		<key>bainiaoailuo_benti_A_toufa3.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,866},{102,148}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{102,148}}</string>
			<key>sourceSize</key>
			<string>{110,156}</string>
		</dict>
		<key>bainiaoailuo_benti_A_toufa4.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,528},{76,98}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,3},{76,98}}</string>
			<key>sourceSize</key>
			<string>{84,106}</string>
		</dict>
		<key>bainiaoailuo_benti_A_toufa5.png</key>
		<dict>
			<key>frame</key>
			<string>{{466,613},{51,110}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{51,110}}</string>
			<key>sourceSize</key>
			<string>{59,118}</string>
		</dict>
		<key>bainiaoailuo_benti_A_toufa6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,692},{286,272}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{286,272}}</string>
			<key>sourceSize</key>
			<string>{294,280}</string>
		</dict>
		<key>bainiaoailuo_benti_A_toufahou.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,979},{37,71}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,3},{37,71}}</string>
			<key>sourceSize</key>
			<string>{45,79}</string>
		</dict>
		<key>bainiaoailuo_benti_B_biyan.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,2},{218,261}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{218,261}}</string>
			<key>sourceSize</key>
			<string>{224,269}</string>
		</dict>
		<key>bainiaoailuo_benti_B_shenti.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,348},{272,343}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{272,343}}</string>
			<key>sourceSize</key>
			<string>{280,351}</string>
		</dict>
		<key>bainiaoailuo_benti_B_tou.png</key>
		<dict>
			<key>frame</key>
			<string>{{503,2},{214,259}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,6},{214,259}}</string>
			<key>sourceSize</key>
			<string>{224,269}</string>
		</dict>
		<key>bainiaoailuo_benti_B_toufa1.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,412},{66,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{66,73}}</string>
			<key>sourceSize</key>
			<string>{74,81}</string>
		</dict>
		<key>bainiaoailuo_benti_B_toufa2.png</key>
		<dict>
			<key>frame</key>
			<string>{{518,637},{185,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{185,152}}</string>
			<key>sourceSize</key>
			<string>{193,160}</string>
		</dict>
		<key>bainiaoailuo_benti_B_toufa3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,979},{37,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{37,123}}</string>
			<key>sourceSize</key>
			<string>{45,131}</string>
		</dict>
		<key>bainiaoailuo_benti_B_toufa4.png</key>
		<dict>
			<key>frame</key>
			<string>{{597,262},{117,174}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{117,174}}</string>
			<key>sourceSize</key>
			<string>{125,182}</string>
		</dict>
		<key>bainiaoailuo_benti_B_toufa5.png</key>
		<dict>
			<key>frame</key>
			<string>{{975,2},{45,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{45,184}}</string>
			<key>sourceSize</key>
			<string>{53,192}</string>
		</dict>
		<key>bainiaoailuo_benti_B_toufa6.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,187},{67,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{67,124}}</string>
			<key>sourceSize</key>
			<string>{75,132}</string>
		</dict>
		<key>bainiaoailuo_benti_B_toufa7.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,348},{264,255}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,3},{264,255}}</string>
			<key>sourceSize</key>
			<string>{272,263}</string>
		</dict>
		<key>bainiaoailuo_benti_B_toufa8.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,264},{77,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{77,98}}</string>
			<key>sourceSize</key>
			<string>{85,106}</string>
		</dict>
		<key>bainiaoailuo_benti_B_toufahou.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,979},{24,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{24,24}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>bainiaoailuo_benti_bozi.png</key>
		<dict>
			<key>frame</key>
			<string>{{683,866},{88,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{88,95}}</string>
			<key>sourceSize</key>
			<string>{96,103}</string>
		</dict>
		<key>bainiaoailuo_benti_erduo.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,479},{48,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{48,66}}</string>
			<key>sourceSize</key>
			<string>{56,74}</string>
		</dict>
		<key>bainiaoailuo_benti_erduo_a.png</key>
		<dict>
			<key>frame</key>
			<string>{{531,342},{48,66}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{48,66}}</string>
			<key>sourceSize</key>
			<string>{56,74}</string>
		</dict>
		<key>bainiaoailuo_benti_hudiejie.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,726},{130,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{130,84}}</string>
			<key>sourceSize</key>
			<string>{138,92}</string>
		</dict>
		<key>bainiaoailuo_benti_qunzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{718,2},{256,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{256,73}}</string>
			<key>sourceSize</key>
			<string>{264,81}</string>
		</dict>
		<key>bainiaoailuo_benti_youbi.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,866},{88,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{88,150}}</string>
			<key>sourceSize</key>
			<string>{96,158}</string>
		</dict>
		<key>bainiaoailuo_benti_youdatui.png</key>
		<dict>
			<key>frame</key>
			<string>{{715,482},{112,207}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,6},{112,207}}</string>
			<key>sourceSize</key>
			<string>{122,217}</string>
		</dict>
		<key>bainiaoailuo_benti_youjiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{576,887},{106,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{106,112}}</string>
			<key>sourceSize</key>
			<string>{114,120}</string>
		</dict>
		<key>bainiaoailuo_benti_youshou.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,742},{142,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{142,121}}</string>
			<key>sourceSize</key>
			<string>{150,129}</string>
		</dict>
		<key>bainiaoailuo_benti_youshou2.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,726},{139,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,111}}</string>
			<key>sourceSize</key>
			<string>{139,111}</string>
		</dict>
		<key>bainiaoailuo_benti_youshoubi.png</key>
		<dict>
			<key>frame</key>
			<string>{{518,790},{96,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{96,162}}</string>
			<key>sourceSize</key>
			<string>{104,170}</string>
		</dict>
		<key>bainiaoailuo_benti_youxiaotui.png</key>
		<dict>
			<key>frame</key>
			<string>{{531,545},{91,178}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,4},{91,178}}</string>
			<key>sourceSize</key>
			<string>{99,186}</string>
		</dict>
		<key>bainiaoailuo_benti_zuobi.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,613},{112,190}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,4},{112,190}}</string>
			<key>sourceSize</key>
			<string>{120,198}</string>
		</dict>
		<key>bainiaoailuo_benti_zuodatui.png</key>
		<dict>
			<key>frame</key>
			<string>{{531,437},{107,183}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,4},{107,183}}</string>
			<key>sourceSize</key>
			<string>{115,191}</string>
		</dict>
		<key>bainiaoailuo_benti_zuojiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,887},{108,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{108,116}}</string>
			<key>sourceSize</key>
			<string>{116,124}</string>
		</dict>
		<key>bainiaoailuo_benti_zuoshou.png</key>
		<dict>
			<key>frame</key>
			<string>{{907,605},{136,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{136,113}}</string>
			<key>sourceSize</key>
			<string>{144,121}</string>
		</dict>
		<key>bainiaoailuo_benti_zuoshou2.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,864},{111,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,107}}</string>
			<key>sourceSize</key>
			<string>{111,107}</string>
		</dict>
		<key>bainiaoailuo_benti_zuoshoubi.png</key>
		<dict>
			<key>frame</key>
			<string>{{710,595},{108,196}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{108,196}}</string>
			<key>sourceSize</key>
			<string>{116,204}</string>
		</dict>
		<key>bainiaoailuo_benti_zuoxiaotui.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,264},{82,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{82,213}}</string>
			<key>sourceSize</key>
			<string>{90,221}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>bainiaoailuoBT_role0.png</string>
		<key>scale</key>
		<real>0.72</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>bainiaoailuoBT_role0.png</string>
	</dict>
</dict>
</plist>
