<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bronzehero_100118.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,835},{166,274}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,1},{166,274}}</string>
			<key>sourceSize</key>
			<string>{220,276}</string>
		</dict>
		<key>bronzehero_100121.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{239,277}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{239,277}}</string>
			<key>sourceSize</key>
			<string>{239,277}</string>
		</dict>
		<key>bronzehero_100122.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,559},{168,274}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,1},{168,274}}</string>
			<key>sourceSize</key>
			<string>{220,276}</string>
		</dict>
		<key>bronzehero_100123.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,281},{200,276}}</string>
			<key>offset</key>
			<string>{10,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,0},{200,276}}</string>
			<key>sourceSize</key>
			<string>{220,276}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Bronze_t240.png</string>
		<key>size</key>
		<string>{243,1111}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>Bronze_t240.png</string>
	</dict>
</dict>
</plist>
