<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bz01_BG_100102image.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,2},{16,16}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,10},{16,16}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>bz02_BG_100102image.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,440},{28,28}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,5},{28,28}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>bz03_BG_100102image.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,465},{32,32}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,2},{32,32}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>bz04_BG_100102image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,456},{36,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{36,34}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>bz05_BG_100102image.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,393},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{34,34}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>bz06_BG_100102image.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,392},{34,34}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{34,34}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>bz07_BG_100102image.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,429},{32,34}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{32,34}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>bz08_BG_100102image.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,465},{32,34}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{32,34}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>bz09_BG_100102image.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,429},{32,34}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{32,34}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>bz10_BG_100102image.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,408},{30,32}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,1},{30,32}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>bz11_BG_100102image.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,472},{30,30}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{30,30}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>bz12_BG_100102image.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,440},{30,30}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{30,30}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>huo_BG_100102image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,178},{143,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,154}}</string>
			<key>sourceSize</key>
			<string>{143,154}</string>
		</dict>
		<key>jc01_BG_100102image.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,178},{84,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,84}}</string>
			<key>sourceSize</key>
			<string>{84,84}</string>
		</dict>
		<key>mask1_BG_100102image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,340},{35,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,46}}</string>
			<key>sourceSize</key>
			<string>{35,46}</string>
		</dict>
		<key>mask2_BG_100102image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{174,232}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,232}}</string>
			<key>sourceSize</key>
			<string>{174,232}</string>
		</dict>
		<key>qjy01_BG_100102image.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,340},{62,32}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{62,32}}</string>
			<key>sourceSize</key>
			<string>{62,38}</string>
		</dict>
		<key>qjy02_BG_100102image.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,361},{62,30}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{62,30}}</string>
			<key>sourceSize</key>
			<string>{62,38}</string>
		</dict>
		<key>qjy03_BG_100102image.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,328},{62,32}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{62,32}}</string>
			<key>sourceSize</key>
			<string>{62,38}</string>
		</dict>
		<key>qjy04_BG_100102image.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,374},{60,32}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,6},{60,32}}</string>
			<key>sourceSize</key>
			<string>{62,38}</string>
		</dict>
		<key>qjy05_BG_100102image.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,449},{60,34}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,4},{60,34}}</string>
			<key>sourceSize</key>
			<string>{62,38}</string>
		</dict>
		<key>qjy06_BG_100102image.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,387},{60,34}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,4},{60,34}}</string>
			<key>sourceSize</key>
			<string>{62,38}</string>
		</dict>
		<key>qjy07_BG_100102image.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,323},{62,36}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{62,36}}</string>
			<key>sourceSize</key>
			<string>{62,38}</string>
		</dict>
		<key>qjy08_BG_100102image.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,323},{62,36}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{62,36}}</string>
			<key>sourceSize</key>
			<string>{62,38}</string>
		</dict>
		<key>qjy09_BG_100102image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,392},{62,36}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{62,36}}</string>
			<key>sourceSize</key>
			<string>{62,38}</string>
		</dict>
		<key>qjy10_BG_100102image.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,302},{62,36}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{62,36}}</string>
			<key>sourceSize</key>
			<string>{62,38}</string>
		</dict>
		<key>qjy11_BG_100102image.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,264},{62,36}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{62,36}}</string>
			<key>sourceSize</key>
			<string>{62,38}</string>
		</dict>
		<key>qjy12_BG_100102image.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,264},{62,32}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{62,32}}</string>
			<key>sourceSize</key>
			<string>{62,38}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>BG_100102image.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>BG_100102image.png</string>
	</dict>
</dict>
</plist>
