<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask01_shuaxinzhanduiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,175},{62,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,124}}</string>
			<key>sourceSize</key>
			<string>{62,124}</string>
		</dict>
		<key>wy_10_10_7195_shuaxinzhanduiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,102},{30,50}}</string>
			<key>offset</key>
			<string>{-10,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>wy_11_11_57157_shuaxinzhanduiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,106},{26,50}}</string>
			<key>offset</key>
			<string>{-12,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>wy_12_12_82321_shuaxinzhanduiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,134},{26,44}}</string>
			<key>offset</key>
			<string>{-12,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,44}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>wy_13_13_65672_shuaxinzhanduiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,134},{26,28}}</string>
			<key>offset</key>
			<string>{-12,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,28}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>wy_14_14_11051_shuaxinzhanduiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,106},{26,26}}</string>
			<key>offset</key>
			<string>{-12,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,26}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>wy_15_15_29345_shuaxinzhanduiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,37},{16,26}}</string>
			<key>offset</key>
			<string>{-8,12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,0},{16,26}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>wy_1_1_74291_shuaxinzhanduiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,2},{22,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,33}}</string>
			<key>sourceSize</key>
			<string>{22,33}</string>
		</dict>
		<key>wy_2_2_40991_shuaxinzhanduiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,134},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>wy_3_3_26969_shuaxinzhanduiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{56,171}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{56,171}}</string>
			<key>sourceSize</key>
			<string>{62,179}</string>
		</dict>
		<key>wy_4_4_37708_shuaxinzhanduiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,54},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>wy_5_5_50743_shuaxinzhanduiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,54},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>wy_6_6_32501_shuaxinzhanduiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,2},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>wy_7_7_43083_shuaxinzhanduiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,2},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>wy_8_8_80288_shuaxinzhanduiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,2},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>wy_9_9_23765_shuaxinzhanduiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,54},{46,50}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>shuaxinzhanduiimage.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>shuaxinzhanduiimage.png</string>
	</dict>
</dict>
</plist>
