<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_sznktzl_sdtips_goumai_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,821},{117,37}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{117,37}}</string>
			<key>sourceSize</key>
			<string>{121,39}</string>
		</dict>
		<key>btn_sznktzl_sdtips_goumai_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,782},{117,37}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{117,37}}</string>
			<key>sourceSize</key>
			<string>{121,39}</string>
		</dict>
		<key>btn_sznktzl_z_sd_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,860},{94,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,95}}</string>
			<key>sourceSize</key>
			<string>{94,95}</string>
		</dict>
		<key>btn_sznktzl_z_sd_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,860},{94,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,95}}</string>
			<key>sourceSize</key>
			<string>{94,95}</string>
		</dict>
		<key>btn_sznktzl_z_smhl_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,957},{94,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,94}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>btn_sznktzl_z_smhl_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,957},{94,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,94}}</string>
			<key>sourceSize</key>
			<string>{94,94}</string>
		</dict>
		<key>btn_sznktzl_z_tz_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,1026},{131,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,131}}</string>
			<key>sourceSize</key>
			<string>{131,131}</string>
		</dict>
		<key>btn_sznktzl_z_tz_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,893},{131,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,131}}</string>
			<key>sourceSize</key>
			<string>{131,131}</string>
		</dict>
		<key>pic_a_tanchuang_guizeshuoming.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,893},{196,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{62,0},{196,46}}</string>
			<key>sourceSize</key>
			<string>{320,46}</string>
		</dict>
		<key>pic_sznktzl_sd_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,893},{154,54}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{76,19},{154,54}}</string>
			<key>sourceSize</key>
			<string>{312,90}</string>
		</dict>
		<key>pic_sznktzl_sd_sqsq.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,1079},{85,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{85,72}}</string>
			<key>sourceSize</key>
			<string>{87,72}</string>
		</dict>
		<key>pic_sznktzl_shu_dbtz.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,806},{284,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,71}}</string>
			<key>sourceSize</key>
			<string>{284,71}</string>
		</dict>
		<key>pic_sznktzl_shu_tiaomu01.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,652},{402,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{402,128}}</string>
			<key>sourceSize</key>
			<string>{402,128}</string>
		</dict>
		<key>pic_sznktzl_shu_tiaomu02.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,522},{402,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{402,128}}</string>
			<key>sourceSize</key>
			<string>{402,128}</string>
		</dict>
		<key>pic_sznktzl_shu_tiaomu03.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,392},{402,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{402,128}}</string>
			<key>sourceSize</key>
			<string>{402,128}</string>
		</dict>
		<key>pic_sznktzl_shu_tiaomu04.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,262},{402,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{402,128}}</string>
			<key>sourceSize</key>
			<string>{402,128}</string>
		</dict>
		<key>pic_sznktzl_shu_tiaomu05.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,132},{402,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{402,128}}</string>
			<key>sourceSize</key>
			<string>{402,128}</string>
		</dict>
		<key>pic_sznktzl_shu_tiaomu06.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,2},{402,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{402,128}}</string>
			<key>sourceSize</key>
			<string>{402,128}</string>
		</dict>
		<key>pic_sznktzl_z_biaotizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,838},{221,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,53}}</string>
			<key>sourceSize</key>
			<string>{221,53}</string>
		</dict>
		<key>pic_sznktzl_z_mrtgcs_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,1053},{122,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{122,24}}</string>
			<key>sourceSize</key>
			<string>{124,24}</string>
		</dict>
		<key>pic_sznktzl_z_tgjl_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,1079},{93,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,26}}</string>
			<key>sourceSize</key>
			<string>{93,26}</string>
		</dict>
		<key>pic_sznktzl_z_tjzl_b.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,1091},{98,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,53}}</string>
			<key>sourceSize</key>
			<string>{98,53}</string>
		</dict>
		<key>pic_sznktzl_z_tzcg_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,782},{257,54}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{257,54}}</string>
			<key>sourceSize</key>
			<string>{259,84}</string>
		</dict>
		<key>pic_sznktzl_z_tzsb_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{802,95}}</string>
			<key>offset</key>
			<string>{-4,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,9},{802,95}}</string>
			<key>sourceSize</key>
			<string>{810,105}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_AdaptiveBlock0.png</string>
		<key>size</key>
		<string>{504,1159}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_AdaptiveBlock0.png</string>
	</dict>
</dict>
</plist>
