<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>a_dabi_you_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,334},{33,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,32}}</string>
			<key>sourceSize</key>
			<string>{33,32}</string>
		</dict>
		<key>a_dabi_zuo_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,144},{42,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,34}}</string>
			<key>sourceSize</key>
			<string>{42,34}</string>
		</dict>
		<key>a_datui_you_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,262},{42,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,35}}</string>
			<key>sourceSize</key>
			<string>{42,35}</string>
		</dict>
		<key>a_datui_zuo_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,355},{43,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,35}}</string>
			<key>sourceSize</key>
			<string>{43,35}</string>
		</dict>
		<key>a_kua_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{311,209},{42,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,28}}</string>
			<key>sourceSize</key>
			<string>{42,28}</string>
		</dict>
		<key>a_liuhai_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,73},{15,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,29}}</string>
			<key>sourceSize</key>
			<string>{15,29}</string>
		</dict>
		<key>a_qugan_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,90},{64,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,71}}</string>
			<key>sourceSize</key>
			<string>{64,71}</string>
		</dict>
		<key>a_shengzi1_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,163},{5,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,23}}</string>
			<key>sourceSize</key>
			<string>{5,23}</string>
		</dict>
		<key>a_shengzi2_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,163},{5,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,21}}</string>
			<key>sourceSize</key>
			<string>{5,21}</string>
		</dict>
		<key>a_shou_you_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,57},{30,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,31}}</string>
			<key>sourceSize</key>
			<string>{30,31}</string>
		</dict>
		<key>a_shou_zuo_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,464},{35,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,31}}</string>
			<key>sourceSize</key>
			<string>{35,31}</string>
		</dict>
		<key>a_tou_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,392},{47,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,53}}</string>
			<key>sourceSize</key>
			<string>{47,53}</string>
		</dict>
		<key>a_touaa_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,447},{47,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,53}}</string>
			<key>sourceSize</key>
			<string>{47,53}</string>
		</dict>
		<key>a_toubb_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,392},{47,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,53}}</string>
			<key>sourceSize</key>
			<string>{47,53}</string>
		</dict>
		<key>a_toucc_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,155},{47,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,53}}</string>
			<key>sourceSize</key>
			<string>{47,53}</string>
		</dict>
		<key>a_toudd_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,210},{47,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,53}}</string>
			<key>sourceSize</key>
			<string>{47,53}</string>
		</dict>
		<key>a_touee_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,2},{47,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,53}}</string>
			<key>sourceSize</key>
			<string>{47,53}</string>
		</dict>
		<key>a_touff_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,2},{47,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,53}}</string>
			<key>sourceSize</key>
			<string>{47,53}</string>
		</dict>
		<key>a_tougg_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,89},{47,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,53}}</string>
			<key>sourceSize</key>
			<string>{47,53}</string>
		</dict>
		<key>a_touhh_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,155},{47,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,53}}</string>
			<key>sourceSize</key>
			<string>{47,53}</string>
		</dict>
		<key>a_toux_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,218},{47,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,53}}</string>
			<key>sourceSize</key>
			<string>{47,53}</string>
		</dict>
		<key>a_xiaobi_you_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,299},{35,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,28}}</string>
			<key>sourceSize</key>
			<string>{35,28}</string>
		</dict>
		<key>a_xiaobi_zuo_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,31},{32,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,26}}</string>
			<key>sourceSize</key>
			<string>{32,26}</string>
		</dict>
		<key>a_xiaotui_you_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{323,434},{32,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,37}}</string>
			<key>sourceSize</key>
			<string>{32,37}</string>
		</dict>
		<key>a_xiaotui_zuo_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{295,89},{22,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,42}}</string>
			<key>sourceSize</key>
			<string>{22,42}</string>
		</dict>
		<key>a_xie_you_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,2},{32,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,28}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>a_xie_zuo_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,204},{34,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,26}}</string>
			<key>sourceSize</key>
			<string>{34,26}</string>
		</dict>
		<key>a_yan_bi_shouji_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,144},{19,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,9}}</string>
			<key>sourceSize</key>
			<string>{19,9}</string>
		</dict>
		<key>a_yan_bi_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,378},{17,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,12}}</string>
			<key>sourceSize</key>
			<string>{17,12}</string>
		</dict>
		<key>a_yan_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,378},{19,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,13}}</string>
			<key>sourceSize</key>
			<string>{19,13}</string>
		</dict>
		<key>a_zui_shouji_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,144},{17,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,16}}</string>
			<key>sourceSize</key>
			<string>{17,16}</string>
		</dict>
		<key>a_zui_ya_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{105,300},{20,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,17}}</string>
			<key>sourceSize</key>
			<string>{20,17}</string>
		</dict>
		<key>b_dabi_wai_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,392},{35,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,40}}</string>
			<key>sourceSize</key>
			<string>{35,40}</string>
		</dict>
		<key>b_datui_wai_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,210},{29,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,50}}</string>
			<key>sourceSize</key>
			<string>{29,50}</string>
		</dict>
		<key>b_kua_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,354},{36,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,32}}</string>
			<key>sourceSize</key>
			<string>{36,32}</string>
		</dict>
		<key>b_qugan1_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,171},{59,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,76}}</string>
			<key>sourceSize</key>
			<string>{59,76}</string>
		</dict>
		<key>b_qugan2_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,249},{71,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,69}}</string>
			<key>sourceSize</key>
			<string>{71,69}</string>
		</dict>
		<key>b_qugan3_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,322},{65,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,69}}</string>
			<key>sourceSize</key>
			<string>{65,69}</string>
		</dict>
		<key>b_tou_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,448},{54,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,53}}</string>
			<key>sourceSize</key>
			<string>{54,53}</string>
		</dict>
		<key>b_touax_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,392},{54,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,53}}</string>
			<key>sourceSize</key>
			<string>{54,53}</string>
		</dict>
		<key>b_toux_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,244},{54,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,53}}</string>
			<key>sourceSize</key>
			<string>{54,53}</string>
		</dict>
		<key>b_xiaobi_wai_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,2},{28,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,41}}</string>
			<key>sourceSize</key>
			<string>{28,41}</string>
		</dict>
		<key>b_xiaotui_wai_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,392},{23,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,45}}</string>
			<key>sourceSize</key>
			<string>{23,45}</string>
		</dict>
		<key>b_xie2_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,427},{33,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,26}}</string>
			<key>sourceSize</key>
			<string>{33,26}</string>
		</dict>
		<key>b_xie3_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,59},{23,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,30}}</string>
			<key>sourceSize</key>
			<string>{23,30}</string>
		</dict>
		<key>b_xie_wai_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,253},{35,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,23}}</string>
			<key>sourceSize</key>
			<string>{35,23}</string>
		</dict>
		<key>b_zui_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,378},{13,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,10}}</string>
			<key>sourceSize</key>
			<string>{13,10}</string>
		</dict>
		<key>c_dabi_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{257,353},{37,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,45}}</string>
			<key>sourceSize</key>
			<string>{37,45}</string>
		</dict>
		<key>c_datui_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,57},{30,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,46}}</string>
			<key>sourceSize</key>
			<string>{30,46}</string>
		</dict>
		<key>c_kua_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,447},{46,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,23}}</string>
			<key>sourceSize</key>
			<string>{46,23}</string>
		</dict>
		<key>c_qugan_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,171},{67,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,71}}</string>
			<key>sourceSize</key>
			<string>{67,71}</string>
		</dict>
		<key>c_tou_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,89},{53,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,52}}</string>
			<key>sourceSize</key>
			<string>{53,52}</string>
		</dict>
		<key>c_xiaobi_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,439},{23,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,41}}</string>
			<key>sourceSize</key>
			<string>{23,41}</string>
		</dict>
		<key>c_xiaotui_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,218},{24,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,48}}</string>
			<key>sourceSize</key>
			<string>{24,48}</string>
		</dict>
		<key>c_xie1_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,2},{25,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,31}}</string>
			<key>sourceSize</key>
			<string>{25,31}</string>
		</dict>
		<key>c_xie3_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,300},{30,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,20}}</string>
			<key>sourceSize</key>
			<string>{30,20}</string>
		</dict>
		<key>c_xie5_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,369},{27,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,33}}</string>
			<key>sourceSize</key>
			<string>{27,33}</string>
		</dict>
		<key>c_xie_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,355},{22,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,18}}</string>
			<key>sourceSize</key>
			<string>{22,18}</string>
		</dict>
		<key>d_baozi_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,89},{41,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,33}}</string>
			<key>sourceSize</key>
			<string>{41,33}</string>
		</dict>
		<key>d_blue1_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,462},{33,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,23}}</string>
			<key>sourceSize</key>
			<string>{33,23}</string>
		</dict>
		<key>d_blue2_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,73},{25,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,14}}</string>
			<key>sourceSize</key>
			<string>{25,14}</string>
		</dict>
		<key>d_blue3_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,144},{20,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,10}}</string>
			<key>sourceSize</key>
			<string>{20,10}</string>
		</dict>
		<key>d_dabi1_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,265},{41,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,32}}</string>
			<key>sourceSize</key>
			<string>{41,32}</string>
		</dict>
		<key>d_datui_you_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,299},{27,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,50}}</string>
			<key>sourceSize</key>
			<string>{27,50}</string>
		</dict>
		<key>d_datui_zuo_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,299},{34,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,51}}</string>
			<key>sourceSize</key>
			<string>{34,51}</string>
		</dict>
		<key>d_kua_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,299},{52,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,31}}</string>
			<key>sourceSize</key>
			<string>{52,31}</string>
		</dict>
		<key>d_liuhai1_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,188},{19,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,28}}</string>
			<key>sourceSize</key>
			<string>{19,28}</string>
		</dict>
		<key>d_liuhai2_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,92},{28,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,23}}</string>
			<key>sourceSize</key>
			<string>{28,23}</string>
		</dict>
		<key>d_qugan1_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,2},{69,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,66}}</string>
			<key>sourceSize</key>
			<string>{69,66}</string>
		</dict>
		<key>d_qugan2_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,90},{68,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,79}}</string>
			<key>sourceSize</key>
			<string>{68,79}</string>
		</dict>
		<key>d_shou1_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,299},{33,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,32}}</string>
			<key>sourceSize</key>
			<string>{33,32}</string>
		</dict>
		<key>d_tou1_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,451},{51,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,55}}</string>
			<key>sourceSize</key>
			<string>{51,55}</string>
		</dict>
		<key>d_tou2_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,2},{53,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,52}}</string>
			<key>sourceSize</key>
			<string>{53,52}</string>
		</dict>
		<key>d_tou2aa_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,322},{53,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,54}}</string>
			<key>sourceSize</key>
			<string>{53,54}</string>
		</dict>
		<key>d_tou2bb_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,2},{53,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,52}}</string>
			<key>sourceSize</key>
			<string>{53,52}</string>
		</dict>
		<key>d_tou2cc_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,89},{53,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,52}}</string>
			<key>sourceSize</key>
			<string>{53,52}</string>
		</dict>
		<key>d_tou2dd_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,163},{53,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,52}}</string>
			<key>sourceSize</key>
			<string>{53,52}</string>
		</dict>
		<key>d_tou2ee_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,299},{53,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,52}}</string>
			<key>sourceSize</key>
			<string>{53,52}</string>
		</dict>
		<key>d_tou2ff_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,244},{53,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,52}}</string>
			<key>sourceSize</key>
			<string>{53,52}</string>
		</dict>
		<key>d_tou2gg_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,449},{53,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,54}}</string>
			<key>sourceSize</key>
			<string>{53,54}</string>
		</dict>
		<key>d_tou2hh_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,393},{53,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,54}}</string>
			<key>sourceSize</key>
			<string>{53,54}</string>
		</dict>
		<key>d_tou2x_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,300},{53,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,52}}</string>
			<key>sourceSize</key>
			<string>{53,52}</string>
		</dict>
		<key>d_xiaobi1_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,88},{29,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,31}}</string>
			<key>sourceSize</key>
			<string>{29,31}</string>
		</dict>
		<key>d_yan1_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,378},{25,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,10}}</string>
			<key>sourceSize</key>
			<string>{25,10}</string>
		</dict>
		<key>d_yan2_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,144},{25,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,9}}</string>
			<key>sourceSize</key>
			<string>{25,9}</string>
		</dict>
		<key>d_yan3_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,144},{25,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,9}}</string>
			<key>sourceSize</key>
			<string>{25,9}</string>
		</dict>
		<key>d_yanbi_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,144},{24,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,9}}</string>
			<key>sourceSize</key>
			<string>{24,9}</string>
		</dict>
		<key>d_zui1_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,73},{22,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,14}}</string>
			<key>sourceSize</key>
			<string>{22,14}</string>
		</dict>
		<key>d_zui2_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,116},{26,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,21}}</string>
			<key>sourceSize</key>
			<string>{26,21}</string>
		</dict>
		<key>d_zui3_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,32},{28,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,21}}</string>
			<key>sourceSize</key>
			<string>{28,21}</string>
		</dict>
		<key>d_zui4_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,93},{26,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,21}}</string>
			<key>sourceSize</key>
			<string>{26,21}</string>
		</dict>
		<key>d_zui_zhang_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,404},{29,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,21}}</string>
			<key>sourceSize</key>
			<string>{29,21}</string>
		</dict>
		<key>e10_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,447},{46,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,29}}</string>
			<key>sourceSize</key>
			<string>{46,29}</string>
		</dict>
		<key>e11_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,57},{31,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,29}}</string>
			<key>sourceSize</key>
			<string>{31,29}</string>
		</dict>
		<key>e13_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,482},{35,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,28}}</string>
			<key>sourceSize</key>
			<string>{35,28}</string>
		</dict>
		<key>e14_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,473},{36,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,23}}</string>
			<key>sourceSize</key>
			<string>{36,23}</string>
		</dict>
		<key>e18_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,62},{26,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,28}}</string>
			<key>sourceSize</key>
			<string>{26,28}</string>
		</dict>
		<key>e19_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,275},{32,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,22}}</string>
			<key>sourceSize</key>
			<string>{32,22}</string>
		</dict>
		<key>e1_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,57},{30,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,33}}</string>
			<key>sourceSize</key>
			<string>{30,33}</string>
		</dict>
		<key>e20_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,113},{29,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,27}}</string>
			<key>sourceSize</key>
			<string>{29,27}</string>
		</dict>
		<key>e21_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,240},{33,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,32}}</string>
			<key>sourceSize</key>
			<string>{33,32}</string>
		</dict>
		<key>e22_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,2},{27,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,32}}</string>
			<key>sourceSize</key>
			<string>{27,32}</string>
		</dict>
		<key>e23_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,390},{35,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,33}}</string>
			<key>sourceSize</key>
			<string>{35,33}</string>
		</dict>
		<key>e24_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,57},{31,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,30}}</string>
			<key>sourceSize</key>
			<string>{31,30}</string>
		</dict>
		<key>e25_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,168},{34,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,26}}</string>
			<key>sourceSize</key>
			<string>{34,26}</string>
		</dict>
		<key>e26_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,132},{34,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,26}}</string>
			<key>sourceSize</key>
			<string>{34,26}</string>
		</dict>
		<key>e27_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,462},{33,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,25}}</string>
			<key>sourceSize</key>
			<string>{33,25}</string>
		</dict>
		<key>e2_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,57},{25,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,30}}</string>
			<key>sourceSize</key>
			<string>{25,30}</string>
		</dict>
		<key>e30_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,273},{24,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,34}}</string>
			<key>sourceSize</key>
			<string>{24,34}</string>
		</dict>
		<key>e31_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{369,92},{22,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,28}}</string>
			<key>sourceSize</key>
			<string>{22,28}</string>
		</dict>
		<key>e32_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,427},{35,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,31}}</string>
			<key>sourceSize</key>
			<string>{35,31}</string>
		</dict>
		<key>e33_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{418,427},{33,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,23}}</string>
			<key>sourceSize</key>
			<string>{33,23}</string>
		</dict>
		<key>e34_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,84},{29,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,27}}</string>
			<key>sourceSize</key>
			<string>{29,27}</string>
		</dict>
		<key>e35_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,373},{34,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,26}}</string>
			<key>sourceSize</key>
			<string>{34,26}</string>
		</dict>
		<key>e36_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,476},{34,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,32}}</string>
			<key>sourceSize</key>
			<string>{34,32}</string>
		</dict>
		<key>e37_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,122},{29,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,25}}</string>
			<key>sourceSize</key>
			<string>{29,25}</string>
		</dict>
		<key>e38_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,57},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{28,30}</string>
		</dict>
		<key>e3_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,32},{32,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,23}}</string>
			<key>sourceSize</key>
			<string>{32,23}</string>
		</dict>
		<key>e40_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,336},{35,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,21}}</string>
			<key>sourceSize</key>
			<string>{35,21}</string>
		</dict>
		<key>e42_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,273},{25,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,24}}</string>
			<key>sourceSize</key>
			<string>{25,24}</string>
		</dict>
		<key>e43_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,119},{27,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,27}}</string>
			<key>sourceSize</key>
			<string>{27,27}</string>
		</dict>
		<key>e44_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,2},{21,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,28}}</string>
			<key>sourceSize</key>
			<string>{21,28}</string>
		</dict>
		<key>e45_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,35},{29,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,25}}</string>
			<key>sourceSize</key>
			<string>{29,25}</string>
		</dict>
		<key>e46_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,66},{26,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,25}}</string>
			<key>sourceSize</key>
			<string>{26,25}</string>
		</dict>
		<key>e4_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,354},{36,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,28}}</string>
			<key>sourceSize</key>
			<string>{36,28}</string>
		</dict>
		<key>e5_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{295,434},{26,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,40}}</string>
			<key>sourceSize</key>
			<string>{26,40}</string>
		</dict>
		<key>e8_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,351},{33,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,37}}</string>
			<key>sourceSize</key>
			<string>{33,37}</string>
		</dict>
		<key>f_shoutexiao1_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{86,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,86}}</string>
			<key>sourceSize</key>
			<string>{86,86}</string>
		</dict>
		<key>f_tou1_zhuiquanzongimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,393},{51,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,56}}</string>
			<key>sourceSize</key>
			<string>{51,56}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA4444</string>
		<key>realTextureFileName</key>
		<string>zhuiquanzongimage.png</string>
		<key>scale</key>
		<real>0.5</real>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>zhuiquanzongimage.png</string>
	</dict>
</dict>
</plist>
