<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_bag_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,322},{161,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,75}}</string>
			<key>sourceSize</key>
			<string>{161,75}</string>
		</dict>
		<key>pic_bag_wuzhuangbei.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{318,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,6},{318,42}}</string>
			<key>sourceSize</key>
			<string>{320,54}</string>
		</dict>
		<key>pic_jijiangguoqi_xiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,2},{79,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,30}}</string>
			<key>sourceSize</key>
			<string>{79,30}</string>
		</dict>
		<key>tab_bag_cailiao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,352},{64,26}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,14},{64,26}}</string>
			<key>sourceSize</key>
			<string>{124,54}</string>
		</dict>
		<key>tab_bag_cailiao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,237},{68,28}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,14},{68,28}}</string>
			<key>sourceSize</key>
			<string>{124,54}</string>
		</dict>
		<key>tab_bag_quanbu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,286},{64,26}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,14},{64,26}}</string>
			<key>sourceSize</key>
			<string>{124,54}</string>
		</dict>
		<key>tab_bag_quanbu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,216},{68,28}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,13},{68,28}}</string>
			<key>sourceSize</key>
			<string>{124,54}</string>
		</dict>
		<key>tab_bag_suipian_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,418},{62,26}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{32,14},{62,26}}</string>
			<key>sourceSize</key>
			<string>{124,54}</string>
		</dict>
		<key>tab_bag_suipian_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,167},{68,28}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,14},{68,28}}</string>
			<key>sourceSize</key>
			<string>{124,54}</string>
		</dict>
		<key>tab_bag_xiaohaopin_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,2},{76,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,14},{76,26}}</string>
			<key>sourceSize</key>
			<string>{124,54}</string>
		</dict>
		<key>tab_bag_xiaohaopin_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,83},{82,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,13},{82,28}}</string>
			<key>sourceSize</key>
			<string>{124,54}</string>
		</dict>
		<key>tab_bag_zhuangbei_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,80},{64,26}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,14},{64,26}}</string>
			<key>sourceSize</key>
			<string>{124,54}</string>
		</dict>
		<key>tab_bag_zhuangbei_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,146},{68,28}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,14},{68,28}}</string>
			<key>sourceSize</key>
			<string>{124,54}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_bag0.png</string>
		<key>size</key>
		<string>{107,485}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_bag0.png</string>
	</dict>
</dict>
</plist>
