<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ggg_lbtkpaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{35,376},{50,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,121}}</string>
			<key>sourceSize</key>
			<string>{50,121}</string>
		</dict>
		<key>kouqi_lbtkpaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,376},{65,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,70}}</string>
			<key>sourceSize</key>
			<string>{65,70}</string>
		</dict>
		<key>tiao001_lbtkpaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,448},{16,151}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{16,151}}</string>
			<key>sourceSize</key>
			<string>{16,159}</string>
		</dict>
		<key>tiao_lbtkpaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,376},{31,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,133}}</string>
			<key>sourceSize</key>
			<string>{31,133}</string>
		</dict>
		<key>zhezhao_lbtkpaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{276,372}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{276,372}}</string>
			<key>sourceSize</key>
			<string>{276,372}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lbtkpaiimage.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lbtkpaiimage.png</string>
	</dict>
</dict>
</plist>
