<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_kl_daiji_lizi_00000_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{916,71},{84,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,67}}</string>
			<key>sourceSize</key>
			<string>{84,67}</string>
		</dict>
		<key>New_kl_daiji_lizi_00003_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{873,173},{82,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,70}}</string>
			<key>sourceSize</key>
			<string>{82,70}</string>
		</dict>
		<key>New_kl_daiji_lizi_00006_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{873,245},{80,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,68}}</string>
			<key>sourceSize</key>
			<string>{80,68}</string>
		</dict>
		<key>New_kl_daiji_lizi_00009_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{873,315},{77,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,67}}</string>
			<key>sourceSize</key>
			<string>{77,67}</string>
		</dict>
		<key>New_kl_daiji_lizi_00012_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{905,394},{73,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,68}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>New_kl_daiji_lizi_00015_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{942,315},{73,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,65}}</string>
			<key>sourceSize</key>
			<string>{73,65}</string>
		</dict>
		<key>New_kl_daiji_lizi_00018_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{593,419},{82,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,62}}</string>
			<key>sourceSize</key>
			<string>{82,62}</string>
		</dict>
		<key>New_kl_daiji_lizi_00021_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{916,2},{84,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,67}}</string>
			<key>sourceSize</key>
			<string>{84,67}</string>
		</dict>
		<key>New_kl_daiji_yan_00001_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{719,229},{152,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,169}}</string>
			<key>sourceSize</key>
			<string>{152,169}</string>
		</dict>
		<key>New_kl_daiji_yan_00003_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{739,653},{149,174}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,174}}</string>
			<key>sourceSize</key>
			<string>{149,174}</string>
		</dict>
		<key>New_kl_daiji_yan_00005_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{566,237},{151,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,180}}</string>
			<key>sourceSize</key>
			<string>{151,180}</string>
		</dict>
		<key>New_kl_daiji_yan_00007_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,487},{153,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,190}}</string>
			<key>sourceSize</key>
			<string>{153,190}</string>
		</dict>
		<key>New_kl_daiji_yan_00009_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,237},{154,191}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,191}}</string>
			<key>sourceSize</key>
			<string>{154,191}</string>
		</dict>
		<key>New_kl_daiji_yan_00011_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{581,679},{156,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,173}}</string>
			<key>sourceSize</key>
			<string>{156,173}</string>
		</dict>
		<key>New_kl_daiji_yan_00013_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{821,829},{155,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,167}}</string>
			<key>sourceSize</key>
			<string>{155,167}</string>
		</dict>
		<key>New_kl_daiji_yan_00015_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{637,483},{156,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,168}}</string>
			<key>sourceSize</key>
			<string>{156,168}</string>
		</dict>
		<key>New_kl_daiji_yan_00017_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{762,2},{152,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,169}}</string>
			<key>sourceSize</key>
			<string>{152,169}</string>
		</dict>
		<key>New_kl_daiji_yan_00019_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{795,479},{150,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,170}}</string>
			<key>sourceSize</key>
			<string>{150,170}</string>
		</dict>
		<key>New_kl_daiji_yan_00021_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{609,2},{151,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,171}}</string>
			<key>sourceSize</key>
			<string>{151,171}</string>
		</dict>
		<key>New_kl_daiji_yan_00023_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,854},{152,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,173}}</string>
			<key>sourceSize</key>
			<string>{152,173}</string>
		</dict>
		<key>New_kl_gedang_bing_00002_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,400},{77,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,134}}</string>
			<key>sourceSize</key>
			<string>{77,134}</string>
		</dict>
		<key>New_kl_gedang_bing_00004_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{567,888},{77,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,134}}</string>
			<key>sourceSize</key>
			<string>{77,134}</string>
		</dict>
		<key>New_kl_gedang_bing_00006_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,888},{77,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,134}}</string>
			<key>sourceSize</key>
			<string>{77,134}</string>
		</dict>
		<key>New_kl_gedang_bing_00008_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,934},{77,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,134}}</string>
			<key>sourceSize</key>
			<string>{77,134}</string>
		</dict>
		<key>New_kl_gedang_bing_00010_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{890,651},{73,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,129}}</string>
			<key>sourceSize</key>
			<string>{73,129}</string>
		</dict>
		<key>New_kl_gedang_bing_00012_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{890,726},{70,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,124}}</string>
			<key>sourceSize</key>
			<string>{70,124}</string>
		</dict>
		<key>New_kl_gedang_binglizi_00002_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{695,175},{52,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,82}}</string>
			<key>sourceSize</key>
			<string>{52,82}</string>
		</dict>
		<key>New_kl_gedang_binglizi_00005_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,430},{55,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,91}}</string>
			<key>sourceSize</key>
			<string>{55,91}</string>
		</dict>
		<key>New_kl_gedang_binglizi_00008_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{677,419},{56,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,90}}</string>
			<key>sourceSize</key>
			<string>{56,90}</string>
		</dict>
		<key>New_kl_gedang_binglizi_00011_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{503,430},{54,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,88}}</string>
			<key>sourceSize</key>
			<string>{54,88}</string>
		</dict>
		<key>New_kl_gedang_binglizi_00014_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{609,175},{51,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,84}}</string>
			<key>sourceSize</key>
			<string>{51,84}</string>
		</dict>
		<key>New_kl_gedang_binglizi_00017_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,679},{48,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,81}}</string>
			<key>sourceSize</key>
			<string>{48,81}</string>
		</dict>
		<key>New_kl_liumenbisha_hudie_00006_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,2},{197,233}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,233}}</string>
			<key>sourceSize</key>
			<string>{197,233}</string>
		</dict>
		<key>New_kl_liumenbisha_hudie_00008_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,487},{202,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,240}}</string>
			<key>sourceSize</key>
			<string>{202,240}</string>
		</dict>
		<key>New_kl_liumenbisha_hudie_00010_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,245},{202,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,240}}</string>
			<key>sourceSize</key>
			<string>{202,240}</string>
		</dict>
		<key>New_kl_liumenbisha_hudie_00012_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,2},{202,241}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,241}}</string>
			<key>sourceSize</key>
			<string>{202,241}</string>
		</dict>
		<key>New_kl_liumenbisha_hudie_00014_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,269},{202,265}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,265}}</string>
			<key>sourceSize</key>
			<string>{202,265}</string>
		</dict>
		<key>New_kl_liumenbisha_hudie_00016_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{202,265}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,265}}</string>
			<key>sourceSize</key>
			<string>{202,265}</string>
		</dict>
		<key>New_kl_liumenbisha_hudie_00018_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,729},{157,301}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,7},{157,301}}</string>
			<key>sourceSize</key>
			<string>{157,309}</string>
		</dict>
		<key>New_kl_liumenbisha_hudie_00020_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,894},{121,348}}</string>
			<key>offset</key>
			<string>{0,30}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,69},{121,348}}</string>
			<key>sourceSize</key>
			<string>{121,426}</string>
		</dict>
		<key>New_kl_liumenbisha_hudie_00022_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,536},{139,356}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{139,356}}</string>
			<key>sourceSize</key>
			<string>{139,372}</string>
		</dict>
		<key>New_kl_liumenbisha_hudie_00024_kulasstyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,536},{133,396}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,11},{133,396}}</string>
			<key>sourceSize</key>
			<string>{133,430}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>kulasstyimage.png</string>
		<key>scale</key>
		<real>0.68</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>kulasstyimage.png</string>
	</dict>
</dict>
</plist>
