<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>attack_00012_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,885},{136,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,70}}</string>
			<key>sourceSize</key>
			<string>{136,70}</string>
		</dict>
		<key>attack_00014_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{540,478},{168,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,74}}</string>
			<key>sourceSize</key>
			<string>{168,74}</string>
		</dict>
		<key>attack_00016_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,145},{185,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,85}}</string>
			<key>sourceSize</key>
			<string>{185,85}</string>
		</dict>
		<key>attack_00018_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{772,2},{186,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,86}}</string>
			<key>sourceSize</key>
			<string>{186,86}</string>
		</dict>
		<key>attack_00020_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{753,386},{170,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,74}}</string>
			<key>sourceSize</key>
			<string>{170,74}</string>
		</dict>
		<key>attack_00022_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,315},{171,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,76}}</string>
			<key>sourceSize</key>
			<string>{171,76}</string>
		</dict>
		<key>attack_00024_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{179,471},{170,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,83}}</string>
			<key>sourceSize</key>
			<string>{170,83}</string>
		</dict>
		<key>attack_00026_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,393},{170,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,89}}</string>
			<key>sourceSize</key>
			<string>{170,89}</string>
		</dict>
		<key>attack_00028_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,269},{182,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,81}}</string>
			<key>sourceSize</key>
			<string>{182,81}</string>
		</dict>
		<key>attack_00030_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{381,232},{181,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,81}}</string>
			<key>sourceSize</key>
			<string>{181,81}</string>
		</dict>
		<key>attack_00032_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,184},{182,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,83}}</string>
			<key>sourceSize</key>
			<string>{182,83}</string>
		</dict>
		<key>attack_00034_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,556},{157,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,72}}</string>
			<key>sourceSize</key>
			<string>{157,72}</string>
		</dict>
		<key>attack_00036_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{901,862},{100,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,71}}</string>
			<key>sourceSize</key>
			<string>{100,71}</string>
		</dict>
		<key>attack_00038_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,640},{94,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,67}}</string>
			<key>sourceSize</key>
			<string>{94,67}</string>
		</dict>
		<key>attack_00040_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{960,2},{84,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,62}}</string>
			<key>sourceSize</key>
			<string>{84,62}</string>
		</dict>
		<key>skill1_daoguang_00044_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,736},{145,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,50}}</string>
			<key>sourceSize</key>
			<string>{145,50}</string>
		</dict>
		<key>skill1_daoguang_00046_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,889},{132,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,68}}</string>
			<key>sourceSize</key>
			<string>{132,68}</string>
		</dict>
		<key>skill1_daoguang_00048_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{960,88},{99,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,61}}</string>
			<key>sourceSize</key>
			<string>{99,61}</string>
		</dict>
		<key>skill1_daoguang_00050_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{713,328},{101,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,38}}</string>
			<key>sourceSize</key>
			<string>{101,38}</string>
		</dict>
		<key>skill1_daoguang_00052_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{959,189},{63,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,18}}</string>
			<key>sourceSize</key>
			<string>{63,18}</string>
		</dict>
		<key>skill1_daoguang_00056_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{959,230},{158,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,58}}</string>
			<key>sourceSize</key>
			<string>{158,58}</string>
		</dict>
		<key>skill1_daoguang_00058_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,633},{148,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,58}}</string>
			<key>sourceSize</key>
			<string>{148,58}</string>
		</dict>
		<key>skill1_daoguang_00060_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,693},{124,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,74}}</string>
			<key>sourceSize</key>
			<string>{124,74}</string>
		</dict>
		<key>skill1_daoguang_00062_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,554},{150,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,77}}</string>
			<key>sourceSize</key>
			<string>{150,77}</string>
		</dict>
		<key>skill1_daoguang_00064_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{523,769},{109,73}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{109,73}}</string>
			<key>sourceSize</key>
			<string>{111,73}</string>
		</dict>
		<key>skill1_daoguang_00066_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{820,705},{84,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,52}}</string>
			<key>sourceSize</key>
			<string>{84,52}</string>
		</dict>
		<key>skill1_daoguang_00068_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{959,209},{59,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,19}}</string>
			<key>sourceSize</key>
			<string>{59,19}</string>
		</dict>
		<key>skill1_daoguang_00075_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{713,462},{168,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,83}}</string>
			<key>sourceSize</key>
			<string>{168,83}</string>
		</dict>
		<key>skill1_daoguang_00077_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,510},{170,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,81}}</string>
			<key>sourceSize</key>
			<string>{170,81}</string>
		</dict>
		<key>skill1_daoguang_00079_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,693},{107,66}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{107,66}}</string>
			<key>sourceSize</key>
			<string>{111,66}</string>
		</dict>
		<key>skill1_daoguang_00081_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,788},{95,55}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,55}}</string>
			<key>sourceSize</key>
			<string>{97,55}</string>
		</dict>
		<key>skill1_shouji02_00075_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{710,547},{156,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,166}}</string>
			<key>sourceSize</key>
			<string>{156,166}</string>
		</dict>
		<key>skill1_shouji02_00077_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,145},{181,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,181}}</string>
			<key>sourceSize</key>
			<string>{181,181}</string>
		</dict>
		<key>skill1_shouji02_00079_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{191,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,180}}</string>
			<key>sourceSize</key>
			<string>{191,180}</string>
		</dict>
		<key>skill1_shouji02_00081_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,309},{180,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{180,160}}</string>
			<key>sourceSize</key>
			<string>{180,162}</string>
		</dict>
		<key>skill1_shouji02_00083_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{772,90},{185,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,152}}</string>
			<key>sourceSize</key>
			<string>{185,152}</string>
		</dict>
		<key>skill1_shouji02_00085_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,484},{163,154}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,154}}</string>
			<key>sourceSize</key>
			<string>{163,156}</string>
		</dict>
		<key>skill1_shouji02_00087_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,889},{129,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,95}}</string>
			<key>sourceSize</key>
			<string>{129,95}</string>
		</dict>
		<key>skill1_shouji02_00089_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,471},{136,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,101}}</string>
			<key>sourceSize</key>
			<string>{136,101}</string>
		</dict>
		<key>skill1_xuli_down_00014_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,769},{113,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{113,114}}</string>
			<key>sourceSize</key>
			<string>{113,116}</string>
		</dict>
		<key>skill1_xuli_down_00016_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,630},{146,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,128}}</string>
			<key>sourceSize</key>
			<string>{146,128}</string>
		</dict>
		<key>skill1_xuli_down_00018_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{758,244},{175,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,140}}</string>
			<key>sourceSize</key>
			<string>{175,140}</string>
		</dict>
		<key>skill1_xuli_down_00020_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,166},{184,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,141}}</string>
			<key>sourceSize</key>
			<string>{184,141}</string>
		</dict>
		<key>skill1_xuli_down_00022_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,2},{191,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,141}}</string>
			<key>sourceSize</key>
			<string>{191,141}</string>
		</dict>
		<key>skill1_xuli_down_00024_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{581,2},{189,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,141}}</string>
			<key>sourceSize</key>
			<string>{189,141}</string>
		</dict>
		<key>skill1_xuli_down_00026_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{820,791},{79,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,102}}</string>
			<key>sourceSize</key>
			<string>{79,102}</string>
		</dict>
		<key>skill1_xuli_down_00028_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{698,908},{76,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,104}}</string>
			<key>sourceSize</key>
			<string>{76,104}</string>
		</dict>
		<key>skill1_xuli_down_00030_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{925,390},{79,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{79,97}}</string>
			<key>sourceSize</key>
			<string>{79,99}</string>
		</dict>
		<key>skill1_xuli_down_00032_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,904},{75,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,104}}</string>
			<key>sourceSize</key>
			<string>{75,104}</string>
		</dict>
		<key>skill1_xuli_down_00034_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,788},{78,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,97}}</string>
			<key>sourceSize</key>
			<string>{78,97}</string>
		</dict>
		<key>skill1_xuli_down_00036_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{634,802},{74,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,104}}</string>
			<key>sourceSize</key>
			<string>{74,104}</string>
		</dict>
		<key>skill1_xuli_down_00038_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{874,706},{79,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,100}}</string>
			<key>sourceSize</key>
			<string>{79,100}</string>
		</dict>
		<key>skill1_xuli_down_00040_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{901,787},{73,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,101}}</string>
			<key>sourceSize</key>
			<string>{73,101}</string>
		</dict>
		<key>skill1_xuli_up_00014_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,889},{128,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,127}}</string>
			<key>sourceSize</key>
			<string>{128,127}</string>
		</dict>
		<key>skill1_xuli_up_00016_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,593},{150,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,141}}</string>
			<key>sourceSize</key>
			<string>{150,141}</string>
		</dict>
		<key>skill1_xuli_up_00018_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,352},{175,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,156}}</string>
			<key>sourceSize</key>
			<string>{175,156}</string>
		</dict>
		<key>skill1_xuli_up_00020_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,2},{191,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{191,162}}</string>
			<key>sourceSize</key>
			<string>{193,162}</string>
		</dict>
		<key>skill1_xuli_up_00022_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{541,328},{170,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,148}}</string>
			<key>sourceSize</key>
			<string>{170,148}</string>
		</dict>
		<key>skill1_xuli_up_00024_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,640},{127,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,143}}</string>
			<key>sourceSize</key>
			<string>{127,143}</string>
		</dict>
		<key>skill1_xuli_up_00026_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{878,574},{130,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,143}}</string>
			<key>sourceSize</key>
			<string>{130,143}</string>
		</dict>
		<key>skill1_xuli_up_00028_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,760},{127,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,140}}</string>
			<key>sourceSize</key>
			<string>{127,140}</string>
		</dict>
		<key>skill1_xuli_up_00030_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,889},{115,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,133}}</string>
			<key>sourceSize</key>
			<string>{115,133}</string>
		</dict>
		<key>skill1_xuli_up_00032_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,769},{115,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,115}}</string>
			<key>sourceSize</key>
			<string>{115,115}</string>
		</dict>
		<key>skill1_xuli_up_00034_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,885},{108,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,107}}</string>
			<key>sourceSize</key>
			<string>{108,107}</string>
		</dict>
		<key>skill1_xuli_up_00036_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{710,705},{108,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,101}}</string>
			<key>sourceSize</key>
			<string>{108,101}</string>
		</dict>
		<key>skill1_xuli_up_00038_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{596,908},{100,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,104}}</string>
			<key>sourceSize</key>
			<string>{100,104}</string>
		</dict>
		<key>skill1_xuli_up_00040_banteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{710,808},{92,94}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{92,94}}</string>
			<key>sourceSize</key>
			<string>{96,94}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>banteimage.png</string>
		<key>scale</key>
		<real>0.64</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>banteimage.png</string>
	</dict>
</dict>
</plist>
