<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_dszl_ysjh_tb_bsbb_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,1083},{79,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,86}}</string>
			<key>sourceSize</key>
			<string>{79,86}</string>
		</dict>
		<key>btn_dszl_ysjh_tb_bsbb_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,1002},{79,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,86}}</string>
			<key>sourceSize</key>
			<string>{79,86}</string>
		</dict>
		<key>btn_dszl_ysjh_tb_bsgf_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,921},{79,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,86}}</string>
			<key>sourceSize</key>
			<string>{79,86}</string>
		</dict>
		<key>btn_dszl_ysjh_tb_bsgf_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,840},{79,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,86}}</string>
			<key>sourceSize</key>
			<string>{79,86}</string>
		</dict>
		<key>btn_dszl_ysjh_xq_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,1194},{50,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,28}}</string>
			<key>sourceSize</key>
			<string>{50,28}</string>
		</dict>
		<key>btn_dszl_ysjh_xq_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,1164},{50,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,28}}</string>
			<key>sourceSize</key>
			<string>{50,28}</string>
		</dict>
		<key>btn_dszl_ysjh_yjsj_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,417},{150,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,60}}</string>
			<key>sourceSize</key>
			<string>{150,60}</string>
		</dict>
		<key>btn_dszl_ysjh_yjsj_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,355},{150,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,60}}</string>
			<key>sourceSize</key>
			<string>{150,60}</string>
		</dict>
		<key>btn_dszl_ysjh_yjxq_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,334},{150,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,60}}</string>
			<key>sourceSize</key>
			<string>{150,60}</string>
		</dict>
		<key>btn_dszl_ysjh_yjxq_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,293},{150,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,60}}</string>
			<key>sourceSize</key>
			<string>{150,60}</string>
		</dict>
		<key>btn_dszl_z_jinhua_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,162},{197,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,49}}</string>
			<key>sourceSize</key>
			<string>{197,49}</string>
		</dict>
		<key>btn_dszl_z_jinhua_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,111},{197,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,49}}</string>
			<key>sourceSize</key>
			<string>{197,49}</string>
		</dict>
		<key>btn_ysjh_bsgfcs_cs_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1207},{135,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,54}}</string>
			<key>sourceSize</key>
			<string>{135,54}</string>
		</dict>
		<key>btn_ysjh_bsgfcs_cs_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1151},{135,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,54}}</string>
			<key>sourceSize</key>
			<string>{135,54}</string>
		</dict>
		<key>btn_ysjh_dtcbtz_bsgf_fenjie_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1095},{135,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,54}}</string>
			<key>sourceSize</key>
			<string>{135,54}</string>
		</dict>
		<key>btn_ysjh_dtcbtz_bsgf_fenjie_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1039},{135,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,54}}</string>
			<key>sourceSize</key>
			<string>{135,54}</string>
		</dict>
		<key>btn_ysjh_dtcbtz_bsgf_hechenganniu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,535},{136,54}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,54}}</string>
			<key>sourceSize</key>
			<string>{136,56}</string>
		</dict>
		<key>btn_ysjh_dtcbtz_bsgf_hechenganniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,479},{136,54}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,54}}</string>
			<key>sourceSize</key>
			<string>{136,56}</string>
		</dict>
		<key>btn_ysjh_dtcbtz_bsgf_shaixuan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,983},{135,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,54}}</string>
			<key>sourceSize</key>
			<string>{135,54}</string>
		</dict>
		<key>btn_ysjh_dtcbtz_bsgf_shaixuan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,927},{135,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,54}}</string>
			<key>sourceSize</key>
			<string>{135,54}</string>
		</dict>
		<key>btn_ysjh_dtcbtz_bsgf_zhuanhuaanniu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,871},{135,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,54}}</string>
			<key>sourceSize</key>
			<string>{135,54}</string>
		</dict>
		<key>btn_ysjh_dtcbtz_bsgf_zhuanhuaanniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,815},{135,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,54}}</string>
			<key>sourceSize</key>
			<string>{135,54}</string>
		</dict>
		<key>btn_ysjh_tips_jiexia_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,676},{104,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,48}}</string>
			<key>sourceSize</key>
			<string>{104,48}</string>
		</dict>
		<key>btn_ysjh_tips_jiexia_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,626},{104,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,48}}</string>
			<key>sourceSize</key>
			<string>{104,48}</string>
		</dict>
		<key>btn_ysjh_tips_tihuan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,576},{104,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,48}}</string>
			<key>sourceSize</key>
			<string>{104,48}</string>
		</dict>
		<key>btn_ysjh_tips_tihuan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,526},{104,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,48}}</string>
			<key>sourceSize</key>
			<string>{104,48}</string>
		</dict>
		<key>btn_ysjh_xtc_zhts_queding_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,759},{135,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,54}}</string>
			<key>sourceSize</key>
			<string>{135,54}</string>
		</dict>
		<key>btn_ysjh_xtc_zhts_queding_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,703},{135,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,54}}</string>
			<key>sourceSize</key>
			<string>{135,54}</string>
		</dict>
		<key>btn_ysjh_xtc_zhts_quxiao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,647},{135,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,54}}</string>
			<key>sourceSize</key>
			<string>{135,54}</string>
		</dict>
		<key>btn_ysjh_xtc_zhts_quxiao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,591},{135,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,54}}</string>
			<key>sourceSize</key>
			<string>{135,54}</string>
		</dict>
		<key>pic_dszl_ysjh_btz.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,213},{164,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,78}}</string>
			<key>sourceSize</key>
			<string>{164,78}</string>
		</dict>
		<key>pic_dszl_ysjh_jhj_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,111},{62,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{62,20}}</string>
			<key>sourceSize</key>
			<string>{62,22}</string>
		</dict>
		<key>pic_ysjh_dtc_huoqutujing_dianjiqianwang.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,423},{101,36}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{101,36}}</string>
			<key>sourceSize</key>
			<string>{119,36}</string>
		</dict>
		<key>pic_ysjh_dtcbbsxq_xiangqian_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,486},{54,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,32}}</string>
			<key>sourceSize</key>
			<string>{54,32}</string>
		</dict>
		<key>pic_ysjh_dtcbtz_baoshibeibao.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,1224},{134,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{134,33}}</string>
			<key>sourceSize</key>
			<string>{134,35}</string>
		</dict>
		<key>pic_ysjh_dtcbtz_baoshigongfang.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,1207},{134,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,35}}</string>
			<key>sourceSize</key>
			<string>{134,35}</string>
		</dict>
		<key>pic_ysjh_dtcbtz_baoshixianqian.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,1207},{134,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,35}}</string>
			<key>sourceSize</key>
			<string>{134,35}</string>
		</dict>
		<key>pic_ysjh_dtcbtz_guizeshuoming.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,1224},{132,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{132,34}}</string>
			<key>sourceSize</key>
			<string>{134,34}</string>
		</dict>
		<key>pic_ysjh_dtcbtz_hqtj_fubiaozi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,85},{222,24}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,0},{222,24}}</string>
			<key>sourceSize</key>
			<string>{266,24}</string>
		</dict>
		<key>pic_ysjh_dtcbtz_huoqutujing.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,1207},{135,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,34}}</string>
			<key>sourceSize</key>
			<string>{135,34}</string>
		</dict>
		<key>pic_ysjh_xtcbtz_baoshisaixuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,755},{104,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{104,26}}</string>
			<key>sourceSize</key>
			<string>{104,28}</string>
		</dict>
		<key>pic_ysjh_xtcbtz_fenjietishi.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,726},{104,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,27}}</string>
			<key>sourceSize</key>
			<string>{104,27}</string>
		</dict>
		<key>pic_ysjh_xtcbtz_rlsxts.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,85},{155,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,27}}</string>
			<key>sourceSize</key>
			<string>{155,27}</string>
		</dict>
		<key>pic_ysjh_xtcbtz_yijianshengji.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,812},{103,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,26}}</string>
			<key>sourceSize</key>
			<string>{103,26}</string>
		</dict>
		<key>pic_ysjh_xtcbtz_zhuanhuatishi.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,783},{103,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,27}}</string>
			<key>sourceSize</key>
			<string>{103,27}</string>
		</dict>
		<key>pic_ysjh_ztcbtz_baoshishengji_biaotizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,213},{119,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,31}}</string>
			<key>sourceSize</key>
			<string>{119,31}</string>
		</dict>
		<key>pic_ysjh_ztcbtz_bssj_anniuzi_shengji.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,1164},{49,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,30}}</string>
			<key>sourceSize</key>
			<string>{49,30}</string>
		</dict>
		<key>pic_ysjh_ztcbtz_bssj_zi_dqdj.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,248},{71,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,19}}</string>
			<key>sourceSize</key>
			<string>{71,19}</string>
		</dict>
		<key>pic_ysjh_ztcbtz_bssj_zi_xydj.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,175},{71,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,19}}</string>
			<key>sourceSize</key>
			<string>{71,19}</string>
		</dict>
		<key>pic_ysjh_ztcbtz_bssj_zi_ytszmj.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{235,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,81}}</string>
			<key>sourceSize</key>
			<string>{235,81}</string>
		</dict>
		<key>pic_ysjh_ztcbtz_xzzhcl_biaotizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,242},{179,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,31}}</string>
			<key>sourceSize</key>
			<string>{179,31}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_OrochiEvolution0.png</string>
		<key>size</key>
		<string>{255,1362}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_OrochiEvolution0.png</string>
	</dict>
</dict>
</plist>
