<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_xemjx_daiji_sd_00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{786,213},{125,52}}</string>
			<key>offset</key>
			<string>{6,-51}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,107},{125,52}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_daiji_sd_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{803,657},{127,142}}</string>
			<key>offset</key>
			<string>{-3,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,20},{127,142}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_daiji_sd_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,800},{109,134}}</string>
			<key>offset</key>
			<string>{-7,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,26},{109,134}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_daiji_sd_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{704,784},{97,124}}</string>
			<key>offset</key>
			<string>{-9,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,39},{97,124}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_daiji_sd_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,466},{139,62}}</string>
			<key>offset</key>
			<string>{-2,-51}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,102},{139,62}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_daiji_sd_00036.png</key>
		<dict>
			<key>frame</key>
			<string>{{768,529},{127,162}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{127,162}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_daiji_sd_00042.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,935},{109,54}}</string>
			<key>offset</key>
			<string>{-3,-54}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,109},{109,54}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_daiji_sd_00044.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,466},{139,62}}</string>
			<key>offset</key>
			<string>{-2,-51}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,102},{139,62}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_liumenbisha_bdsd_00051.png</key>
		<dict>
			<key>frame</key>
			<string>{{704,909},{110,113}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{110,113}}</string>
			<key>sourceSize</key>
			<string>{112,113}</string>
		</dict>
		<key>New_xemjx_liumenbisha_bdsd_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,800},{110,107}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{110,107}}</string>
			<key>sourceSize</key>
			<string>{112,113}</string>
		</dict>
		<key>New_xemjx_liumenbisha_bdsd_00055.png</key>
		<dict>
			<key>frame</key>
			<string>{{931,615},{80,91}}</string>
			<key>offset</key>
			<string>{3,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,8},{80,91}}</string>
			<key>sourceSize</key>
			<string>{112,113}</string>
		</dict>
		<key>New_xemjx_liumenbisha_bo_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,797},{160,224}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{160,224}}</string>
			<key>sourceSize</key>
			<string>{162,224}</string>
		</dict>
		<key>New_xemjx_liumenbisha_bo_00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{593,2},{124,218}}</string>
			<key>offset</key>
			<string>{19,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,2},{124,218}}</string>
			<key>sourceSize</key>
			<string>{162,224}</string>
		</dict>
		<key>New_xemjx_liumenbisha_bo_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{718,2},{120,210}}</string>
			<key>offset</key>
			<string>{18,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,5},{120,210}}</string>
			<key>sourceSize</key>
			<string>{162,224}</string>
		</dict>
		<key>New_xemjx_liumenbisha_bo_00025.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,221},{112,212}}</string>
			<key>offset</key>
			<string>{14,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,4},{112,212}}</string>
			<key>sourceSize</key>
			<string>{162,224}</string>
		</dict>
		<key>New_xemjx_liumenbisha_bo_00027.png</key>
		<dict>
			<key>frame</key>
			<string>{{489,223},{24,146}}</string>
			<key>offset</key>
			<string>{30,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{99,36},{24,146}}</string>
			<key>sourceSize</key>
			<string>{162,224}</string>
		</dict>
		<key>New_xemjx_liumenbisha_ll_00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{507,498},{39,35}}</string>
			<key>offset</key>
			<string>{-1,60}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,0},{39,35}}</string>
			<key>sourceSize</key>
			<string>{71,155}</string>
		</dict>
		<key>New_xemjx_liumenbisha_ll_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{543,498},{37,137}}</string>
			<key>offset</key>
			<string>{-5,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,15},{37,137}}</string>
			<key>sourceSize</key>
			<string>{71,155}</string>
		</dict>
		<key>New_xemjx_liumenbisha_sd_00027.png</key>
		<dict>
			<key>frame</key>
			<string>{{727,498},{40,159}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{40,159}}</string>
			<key>sourceSize</key>
			<string>{42,159}</string>
		</dict>
		<key>New_xemjx_liumenbisha_sd_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,461},{36,157}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,1},{36,157}}</string>
			<key>sourceSize</key>
			<string>{42,159}</string>
		</dict>
		<key>New_xemjx_liumenbisha_yan_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{839,139},{181,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,130}}</string>
			<key>sourceSize</key>
			<string>{181,130}</string>
		</dict>
		<key>New_xemjx_putongbisha_bd_00021.png</key>
		<dict>
			<key>frame</key>
			<string>{{696,658},{125,106}}</string>
			<key>offset</key>
			<string>{-6,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{32,41},{125,106}}</string>
			<key>sourceSize</key>
			<string>{201,190}</string>
		</dict>
		<key>New_xemjx_putongbisha_ll_00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{786,339},{52,107}}</string>
			<key>offset</key>
			<string>{-5,55}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{94,0},{52,107}}</string>
			<key>sourceSize</key>
			<string>{250,217}</string>
		</dict>
		<key>New_xemjx_putongbisha_ll_00027.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,2},{220,183}}</string>
			<key>offset</key>
			<string>{1,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,30},{220,183}}</string>
			<key>sourceSize</key>
			<string>{250,217}</string>
		</dict>
		<key>New_xemjx_putongbisha_ll_00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{508,785},{234,195}}</string>
			<key>offset</key>
			<string>{0,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,19},{234,195}}</string>
			<key>sourceSize</key>
			<string>{250,217}</string>
		</dict>
		<key>New_xemjx_putongbisha_ll_00031.png</key>
		<dict>
			<key>frame</key>
			<string>{{512,538},{238,183}}</string>
			<key>offset</key>
			<string>{1,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,30},{238,183}}</string>
			<key>sourceSize</key>
			<string>{250,217}</string>
		</dict>
		<key>New_xemjx_putongbisha_ll_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{839,2},{136,181}}</string>
			<key>offset</key>
			<string>{11,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{68,17},{136,181}}</string>
			<key>sourceSize</key>
			<string>{250,217}</string>
		</dict>
		<key>New_xemjx_putongbisha_lldl_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{839,358},{176,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,107}}</string>
			<key>sourceSize</key>
			<string>{176,107}</string>
		</dict>
		<key>New_xemjx_shengli_sd2_00041.png</key>
		<dict>
			<key>frame</key>
			<string>{{815,908},{109,97}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{109,97}}</string>
			<key>sourceSize</key>
			<string>{113,107}</string>
		</dict>
		<key>New_xemjx_shengli_sd2_00049.png</key>
		<dict>
			<key>frame</key>
			<string>{{931,529},{85,91}}</string>
			<key>offset</key>
			<string>{-5,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,7},{85,91}}</string>
			<key>sourceSize</key>
			<string>{113,107}</string>
		</dict>
		<key>New_xemjx_shengli_sd2_00055.png</key>
		<dict>
			<key>frame</key>
			<string>{{931,696},{103,89}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,7},{103,89}}</string>
			<key>sourceSize</key>
			<string>{113,107}</string>
		</dict>
		<key>New_xemjx_shengli_sd2_00067.png</key>
		<dict>
			<key>frame</key>
			<string>{{768,447},{69,81}}</string>
			<key>offset</key>
			<string>{-6,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,16},{69,81}}</string>
			<key>sourceSize</key>
			<string>{113,107}</string>
		</dict>
		<key>New_xemjx_shengli_sd2_00069.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,434},{67,63}}</string>
			<key>offset</key>
			<string>{-8,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,31},{67,63}}</string>
			<key>sourceSize</key>
			<string>{113,107}</string>
		</dict>
		<key>New_xemjx_shengli_sd2_00071.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,508},{33,29}}</string>
			<key>offset</key>
			<string>{-22,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,60},{33,29}}</string>
			<key>sourceSize</key>
			<string>{113,107}</string>
		</dict>
		<key>New_xemjx_shengli_sd3_00081.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,508},{29,74}}</string>
			<key>offset</key>
			<string>{-30,54}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,5},{29,74}}</string>
			<key>sourceSize</key>
			<string>{91,192}</string>
		</dict>
		<key>New_xemjx_shengli_sd3_00085.png</key>
		<dict>
			<key>frame</key>
			<string>{{839,270},{87,178}}</string>
			<key>offset</key>
			<string>{2,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,14},{87,178}}</string>
			<key>sourceSize</key>
			<string>{91,192}</string>
		</dict>
		<key>New_xemjx_shengli_sd4_00085.png</key>
		<dict>
			<key>frame</key>
			<string>{{355,793},{152,226}}</string>
			<key>offset</key>
			<string>{-1,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{152,226}}</string>
			<key>sourceSize</key>
			<string>{154,270}</string>
		</dict>
		<key>New_xemjx_shengli_sd4_00087.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,248},{130,212}}</string>
			<key>offset</key>
			<string>{1,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,20},{130,212}}</string>
			<key>sourceSize</key>
			<string>{154,270}</string>
		</dict>
		<key>New_xemjx_shengli_sd4_00089.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,255},{140,252}}</string>
			<key>offset</key>
			<string>{-6,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{140,252}}</string>
			<key>sourceSize</key>
			<string>{154,270}</string>
		</dict>
		<key>New_xemjx_shengli_sd4_00091.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,271},{126,268}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,0},{126,268}}</string>
			<key>sourceSize</key>
			<string>{154,270}</string>
		</dict>
		<key>New_xemjx_shengli_sd4_00093.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,538},{126,246}}</string>
			<key>offset</key>
			<string>{-3,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,7},{126,246}}</string>
			<key>sourceSize</key>
			<string>{154,270}</string>
		</dict>
		<key>New_xemjx_shengli_sd4_00095.png</key>
		<dict>
			<key>frame</key>
			<string>{{135,2},{142,252}}</string>
			<key>offset</key>
			<string>{-5,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{142,252}}</string>
			<key>sourceSize</key>
			<string>{154,270}</string>
		</dict>
		<key>New_xemjx_shengli_sd4_00097.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{132,268}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,2},{132,268}}</string>
			<key>sourceSize</key>
			<string>{154,270}</string>
		</dict>
		<key>New_xemjx_shengli_sd4_00099.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,540},{148,256}}</string>
			<key>offset</key>
			<string>{3,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,14},{148,256}}</string>
			<key>sourceSize</key>
			<string>{154,270}</string>
		</dict>
		<key>New_xemjx_shengli_sd4_00101.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,2},{130,252}}</string>
			<key>offset</key>
			<string>{-6,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,14},{130,252}}</string>
			<key>sourceSize</key>
			<string>{154,270}</string>
		</dict>
		<key>New_xemjx_shengli_sd4_00103.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,255},{138,242}}</string>
			<key>offset</key>
			<string>{-3,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,18},{138,242}}</string>
			<key>sourceSize</key>
			<string>{154,270}</string>
		</dict>
		<key>New_xemjx_shengli_sd4_00105.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,271},{132,254}}</string>
			<key>offset</key>
			<string>{-3,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{132,254}}</string>
			<key>sourceSize</key>
			<string>{154,270}</string>
		</dict>
		<key>New_xemjx_shengli_sd4_00107.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,540},{122,264}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,4},{122,264}}</string>
			<key>sourceSize</key>
			<string>{154,270}</string>
		</dict>
		<key>New_xemjx_shengli_sd4_00109.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,540},{110,252}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,9},{110,252}}</string>
			<key>sourceSize</key>
			<string>{154,270}</string>
		</dict>
		<key>New_xemjx_shengli_sd_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,223},{27,29}}</string>
			<key>offset</key>
			<string>{-1,-29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,69},{27,29}}</string>
			<key>sourceSize</key>
			<string>{65,109}</string>
		</dict>
		<key>New_xemjx_shengli_sd_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,526},{13,15}}</string>
			<key>offset</key>
			<string>{-1,-27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25,74},{13,15}}</string>
			<key>sourceSize</key>
			<string>{65,109}</string>
		</dict>
		<key>New_xemjx_shengli_sd_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,498},{39,39}}</string>
			<key>offset</key>
			<string>{7,-35}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,70},{39,39}}</string>
			<key>sourceSize</key>
			<string>{65,109}</string>
		</dict>
		<key>New_xemjx_shengli_sd_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,221},{17,17}}</string>
			<key>offset</key>
			<string>{4,-38}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,84},{17,17}}</string>
			<key>sourceSize</key>
			<string>{65,109}</string>
		</dict>
		<key>New_xemjx_shengli_sd_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,508},{27,31}}</string>
			<key>offset</key>
			<string>{3,-39}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,78},{27,31}}</string>
			<key>sourceSize</key>
			<string>{65,109}</string>
		</dict>
		<key>New_xemjx_shengli_sd_00044.png</key>
		<dict>
			<key>frame</key>
			<string>{{978,466},{37,41}}</string>
			<key>offset</key>
			<string>{2,17}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,17},{37,41}}</string>
			<key>sourceSize</key>
			<string>{65,109}</string>
		</dict>
		<key>New_xemjx_shengli_sd_00046.png</key>
		<dict>
			<key>frame</key>
			<string>{{681,498},{45,37}}</string>
			<key>offset</key>
			<string>{5,25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,11},{45,37}}</string>
			<key>sourceSize</key>
			<string>{65,109}</string>
		</dict>
		<key>New_xemjx_shengli_sd_00048.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,508},{31,25}}</string>
			<key>offset</key>
			<string>{8,26}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25,16},{31,25}}</string>
			<key>sourceSize</key>
			<string>{65,109}</string>
		</dict>
		<key>New_xemjx_shengli_sd_00050.png</key>
		<dict>
			<key>frame</key>
			<string>{{425,498},{41,39}}</string>
			<key>offset</key>
			<string>{5,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,19},{41,39}}</string>
			<key>sourceSize</key>
			<string>{65,109}</string>
		</dict>
		<key>New_xemjx_shengli_sd_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,223},{29,23}}</string>
			<key>offset</key>
			<string>{2,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,28},{29,23}}</string>
			<key>sourceSize</key>
			<string>{65,109}</string>
		</dict>
		<key>New_xemjx_shengli_sd_00054.png</key>
		<dict>
			<key>frame</key>
			<string>{{461,223},{27,27}}</string>
			<key>offset</key>
			<string>{8,28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,13},{27,27}}</string>
			<key>sourceSize</key>
			<string>{65,109}</string>
		</dict>
		<key>New_xemjx_xiaojineng_sd_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,805},{191,214}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,214}}</string>
			<key>sourceSize</key>
			<string>{191,214}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>lzxemKV_common0.png</string>
		<key>scale</key>
		<real>0.63</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lzxemKV_common0.png</string>
	</dict>
</dict>
</plist>
