<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bth_dszl_tianfu2_guanbi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1262,935},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>bth_dszl_tianfu2_guanbi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1262,893},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>bth_dszl_zhujiemian_guanbi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1262,822},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>bth_dszl_zhujiemian_guanbi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1262,770},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>bth_dszl_zhujiemian_tianfu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1154,1099},{173,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,119}}</string>
			<key>sourceSize</key>
			<string>{173,119}</string>
		</dict>
		<key>bth_dszl_zhujiemian_tianfu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1154,978},{173,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,119}}</string>
			<key>sourceSize</key>
			<string>{173,119}</string>
		</dict>
		<key>pic_dszl_choujiang_xiangoudi.png</key>
		<dict>
			<key>frame</key>
			<string>{{981,1537},{428,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{428,43}}</string>
			<key>sourceSize</key>
			<string>{428,43}</string>
		</dict>
		<key>pic_dszl_choujiang_xiushihuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1065,1902},{167,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,48}}</string>
			<key>sourceSize</key>
			<string>{167,48}</string>
		</dict>
		<key>pic_dszl_choujiang_xiushilan.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1879},{167,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,48}}</string>
			<key>sourceSize</key>
			<string>{167,48}</string>
		</dict>
		<key>pic_dszl_dipan.png</key>
		<dict>
			<key>frame</key>
			<string>{{551,774},{328,329}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{328,329}}</string>
			<key>sourceSize</key>
			<string>{328,329}</string>
		</dict>
		<key>pic_dszl_shuzichendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{842,531},{241,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,23}}</string>
			<key>sourceSize</key>
			<string>{241,23}</string>
		</dict>
		<key>pic_dszl_tanchaung_biaotidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1099},{778,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{778,55}}</string>
			<key>sourceSize</key>
			<string>{778,55}</string>
		</dict>
		<key>pic_dszl_tanchaung_chongshengwenzidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1238,1220},{277,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{277,34}}</string>
			<key>sourceSize</key>
			<string>{277,34}</string>
		</dict>
		<key>pic_dszl_tanchaung_dabeijing.png</key>
		<dict>
			<key>frame</key>
			<string>{{1058,1001},{94,507}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,507}}</string>
			<key>sourceSize</key>
			<string>{94,507}</string>
		</dict>
		<key>pic_dszl_tanchaung_dabeijing_kuang01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1158,1952},{62,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,63}}</string>
			<key>sourceSize</key>
			<string>{62,63}</string>
		</dict>
		<key>pic_dszl_tanchaung_dabeijing_kuang02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1262,706},{62,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,62}}</string>
			<key>sourceSize</key>
			<string>{62,62}</string>
		</dict>
		<key>pic_dszl_tanchaung_dabeijing_kuang03.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,1099},{564,258}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{564,258}}</string>
			<key>sourceSize</key>
			<string>{564,258}</string>
		</dict>
		<key>pic_dszl_tanchaung_fangxiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{583,1918},{104,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,104}}</string>
			<key>sourceSize</key>
			<string>{104,104}</string>
		</dict>
		<key>pic_dszl_tanchaung_huoqutujingdi.png</key>
		<dict>
			<key>frame</key>
			<string>{{597,1525},{391,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{391,116}}</string>
			<key>sourceSize</key>
			<string>{391,116}</string>
		</dict>
		<key>pic_dszl_tanchaung_huoqutujingxiushi.png</key>
		<dict>
			<key>frame</key>
			<string>{{715,1901},{244,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{244,145}}</string>
			<key>sourceSize</key>
			<string>{244,145}</string>
		</dict>
		<key>pic_dszl_tanchaung_huoqutujingxiushi01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,531},{838,241}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{838,241}}</string>
			<key>sourceSize</key>
			<string>{838,241}</string>
		</dict>
		<key>pic_dszl_tanchaung_jiangliyulandi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1065,1761},{135,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,139}}</string>
			<key>sourceSize</key>
			<string>{135,139}</string>
		</dict>
		<key>pic_dszl_tanchaung_shengjianniudi.png</key>
		<dict>
			<key>frame</key>
			<string>{{779,1105},{437,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{437,178}}</string>
			<key>sourceSize</key>
			<string>{437,178}</string>
		</dict>
		<key>pic_dszl_tanchaung_shengjidaojudi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1202,1761},{133,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,112}}</string>
			<key>sourceSize</key>
			<string>{133,112}</string>
		</dict>
		<key>pic_dszl_tanchaung_shutiaoxiushi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1110,978},{21,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,33}}</string>
			<key>sourceSize</key>
			<string>{21,33}</string>
		</dict>
		<key>pic_dszl_tanchaung_star.png</key>
		<dict>
			<key>frame</key>
			<string>{{1304,893},{24,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,23}}</string>
			<key>sourceSize</key>
			<string>{24,23}</string>
		</dict>
		<key>pic_dszl_tanchaung_tips_da.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,1099},{457,206}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{457,206}}</string>
			<key>sourceSize</key>
			<string>{457,206}</string>
		</dict>
		<key>pic_dszl_tanchaung_xiaobeijing.png</key>
		<dict>
			<key>frame</key>
			<string>{{911,2},{478,278}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{478,278}}</string>
			<key>sourceSize</key>
			<string>{478,278}</string>
		</dict>
		<key>pic_dszl_tanchaung_xinshouyindaoquan01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1216,1472},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>pic_dszl_tanchaung_xinshouyindaoquan02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1216,1494},{14,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{14,14}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>pic_dszl_tanchaung_xuanzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{527,1525},{35,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,31}}</string>
			<key>sourceSize</key>
			<string>{35,31}</string>
		</dict>
		<key>pic_dszl_tanchaung_xuanzhong01.png</key>
		<dict>
			<key>frame</key>
			<string>{{881,1070},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>pic_dszl_tianfu2_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{907,527}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{907,527}}</string>
			<key>sourceSize</key>
			<string>{907,527}</string>
		</dict>
		<key>pic_dszl_tianfuyouhua_dierceng.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,2001},{77,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,43}}</string>
			<key>sourceSize</key>
			<string>{77,43}</string>
		</dict>
		<key>pic_dszl_tianfuyouhua_disanceng.png</key>
		<dict>
			<key>frame</key>
			<string>{{1274,1402},{77,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,43}}</string>
			<key>sourceSize</key>
			<string>{77,43}</string>
		</dict>
		<key>pic_dszl_tianfuyouhua_diyiceng.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,2001},{72,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,43}}</string>
			<key>sourceSize</key>
			<string>{72,43}</string>
		</dict>
		<key>pic_dszl_tianfuyouhua_dqnl.png</key>
		<dict>
			<key>frame</key>
			<string>{{867,531},{100,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{100,21}}</string>
			<key>sourceSize</key>
			<string>{102,21}</string>
		</dict>
		<key>pic_dszl_tianfuyouhua_duigoukuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{564,1525},{25,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,25}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>pic_dszl_tianfuyouhua_huangdi.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,1665},{270,361}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{270,361}}</string>
			<key>sourceSize</key>
			<string>{270,361}</string>
		</dict>
		<key>pic_dszl_tianfuyouhua_landi.png</key>
		<dict>
			<key>frame</key>
			<string>{{715,1544},{264,355}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{264,355}}</string>
			<key>sourceSize</key>
			<string>{270,361}</string>
		</dict>
		<key>pic_dszl_tianfuyouhua_tiaomudi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1154,1220},{250,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{250,82}}</string>
			<key>sourceSize</key>
			<string>{250,82}</string>
		</dict>
		<key>pic_dszl_tianfuyouhua_tiaomuyaandi.png</key>
		<dict>
			<key>frame</key>
			<string>{{331,1917},{250,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{250,82}}</string>
			<key>sourceSize</key>
			<string>{250,82}</string>
		</dict>
		<key>pic_dszl_tianfuyouhua_zidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{331,1558},{264,357}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{264,357}}</string>
			<key>sourceSize</key>
			<string>{270,361}</string>
		</dict>
		<key>pic_dszl_zhujiemian_beibaodadi.png</key>
		<dict>
			<key>frame</key>
			<string>{{527,1105},{250,418}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{250,418}}</string>
			<key>sourceSize</key>
			<string>{250,418}</string>
		</dict>
		<key>pic_dszl_zhujiemian_beibaodi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1065,1510},{227,249}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{227,249}}</string>
			<key>sourceSize</key>
			<string>{227,249}</string>
		</dict>
		<key>pic_dszl_zhujiemian_gunlundi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1026,1537},{432,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{432,37}}</string>
			<key>sourceSize</key>
			<string>{432,37}</string>
		</dict>
		<key>pic_dszl_zhujiemian_jiahao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1236,649},{55,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,54}}</string>
			<key>sourceSize</key>
			<string>{55,54}</string>
		</dict>
		<key>pic_dszl_zhujiemian_suo01.png</key>
		<dict>
			<key>frame</key>
			<string>{{881,1001},{76,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,67}}</string>
			<key>sourceSize</key>
			<string>{76,67}</string>
		</dict>
		<key>pic_dszl_zhujiemian_suo02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1234,1896},{87,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,87}}</string>
			<key>sourceSize</key>
			<string>{87,87}</string>
		</dict>
		<key>pic_dszl_zhujiemian_tianfudi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,774},{547,323}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{547,323}}</string>
			<key>sourceSize</key>
			<string>{547,323}</string>
		</dict>
		<key>pic_dszl_zhujiemian_tianfudi_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1236,461},{186,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,54}}</string>
			<key>sourceSize</key>
			<string>{186,54}</string>
		</dict>
		<key>pic_dszl_zhujiemian_tianfudi_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1274,1220},{180,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{180,50}}</string>
			<key>sourceSize</key>
			<string>{186,54}</string>
		</dict>
		<key>pic_dszl_zhujiemian_tianfufaguang.png</key>
		<dict>
			<key>frame</key>
			<string>{{959,1001},{534,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{534,97}}</string>
			<key>sourceSize</key>
			<string>{534,97}</string>
		</dict>
		<key>pic_dszl_zhujiemian_tianfujindi02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1110,709},{150,267}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,267}}</string>
			<key>sourceSize</key>
			<string>{150,267}</string>
		</dict>
		<key>pic_dszl_zhujiemian_tianfushu01.png</key>
		<dict>
			<key>frame</key>
			<string>{{752,1525},{23,17}}</string>
			<key>offset</key>
			<string>{-12,27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,1},{23,17}}</string>
			<key>sourceSize</key>
			<string>{91,73}</string>
		</dict>
		<key>pic_dszl_zhujiemian_tianfushu02.png</key>
		<dict>
			<key>frame</key>
			<string>{{715,1525},{35,17}}</string>
			<key>offset</key>
			<string>{-20,15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,13},{35,17}}</string>
			<key>sourceSize</key>
			<string>{91,73}</string>
		</dict>
		<key>pic_dszl_zhujiemian_tianfushujindi02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1065,1952},{91,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,73}}</string>
			<key>sourceSize</key>
			<string>{91,73}</string>
		</dict>
		<key>pic_dszl_zhujiemian_tianfushujindi03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1191,461},{43,19}}</string>
			<key>offset</key>
			<string>{-24,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,28},{43,19}}</string>
			<key>sourceSize</key>
			<string>{91,73}</string>
		</dict>
		<key>pic_dszl_zhujiemian_tianfushujindi04.png</key>
		<dict>
			<key>frame</key>
			<string>{{961,1985},{65,61}}</string>
			<key>offset</key>
			<string>{-1,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,12},{65,61}}</string>
			<key>sourceSize</key>
			<string>{91,73}</string>
		</dict>
		<key>pic_dszl_zhujiemian_tianfushujindi05.png</key>
		<dict>
			<key>frame</key>
			<string>{{331,2001},{65,45}}</string>
			<key>offset</key>
			<string>{-1,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,28},{65,45}}</string>
			<key>sourceSize</key>
			<string>{91,73}</string>
		</dict>
		<key>pic_dszl_zhujiemian_tianfushujindi06.png</key>
		<dict>
			<key>frame</key>
			<string>{{1158,2017},{65,29}}</string>
			<key>offset</key>
			<string>{-1,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,44},{65,29}}</string>
			<key>sourceSize</key>
			<string>{91,73}</string>
		</dict>
		<key>pic_dszl_zhujiemian_tianfushujindi07.png</key>
		<dict>
			<key>frame</key>
			<string>{{1262,874},{65,17}}</string>
			<key>offset</key>
			<string>{-1,-29}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,58},{65,17}}</string>
			<key>sourceSize</key>
			<string>{91,75}</string>
		</dict>
		<key>pic_dszl_zhujiemian_tianfushuzidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1292,461},{85,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,35}}</string>
			<key>sourceSize</key>
			<string>{85,35}</string>
		</dict>
		<key>pic_dszl_zhujiemian_tianfushuzidi01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1154,1472},{60,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,26}}</string>
			<key>sourceSize</key>
			<string>{60,26}</string>
		</dict>
		<key>pic_dszl_zhujiemian_tianfushuzidi03.png</key>
		<dict>
			<key>frame</key>
			<string>{{551,2024},{54,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,22}}</string>
			<key>sourceSize</key>
			<string>{54,22}</string>
		</dict>
		<key>pic_dszl_zhujiemian_tips.png</key>
		<dict>
			<key>frame</key>
			<string>{{1191,2},{457,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{457,128}}</string>
			<key>sourceSize</key>
			<string>{457,128}</string>
		</dict>
		<key>pic_dszl_zhujiemian_yuansushuxingdadi.png</key>
		<dict>
			<key>frame</key>
			<string>{{911,482},{225,323}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{225,323}}</string>
			<key>sourceSize</key>
			<string>{225,323}</string>
		</dict>
		<key>pic_dszl_zhujiemian_yuansushuxingdi.png</key>
		<dict>
			<key>frame</key>
			<string>{{881,709},{227,290}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{227,290}}</string>
			<key>sourceSize</key>
			<string>{227,290}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>OrochiPower0.png</string>
		<key>size</key>
		<string>{1329,2048}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>OrochiPower0.png</string>
	</dict>
</dict>
</plist>
