<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_kfz_qhzb_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,445},{10,161}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,161}}</string>
			<key>sourceSize</key>
			<string>{10,169}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_baoming_dian.png</key>
		<dict>
			<key>frame</key>
			<string>{{1134,2},{31,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,29}}</string>
			<key>sourceSize</key>
			<string>{31,29}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_di_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1188,371},{91,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,149}}</string>
			<key>sourceSize</key>
			<string>{91,149}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_di_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{753,2},{414,36}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{414,36}}</string>
			<key>sourceSize</key>
			<string>{420,36}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_di_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{715,2},{414,36}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{414,36}}</string>
			<key>sourceSize</key>
			<string>{420,36}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_di_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{678,418},{414,36}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{414,36}}</string>
			<key>sourceSize</key>
			<string>{420,36}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_di_13_houbu.png</key>
		<dict>
			<key>frame</key>
			<string>{{677,2},{414,36}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{414,36}}</string>
			<key>sourceSize</key>
			<string>{420,36}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_di_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{839,374},{202,34}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{202,34}}</string>
			<key>sourceSize</key>
			<string>{204,34}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_di_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1424,272},{77,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,98}}</string>
			<key>sourceSize</key>
			<string>{77,98}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_di_2_new.png</key>
		<dict>
			<key>frame</key>
			<string>{{1953,2},{77,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,90}}</string>
			<key>sourceSize</key>
			<string>{77,90}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_di_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1890,208},{19,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,61}}</string>
			<key>sourceSize</key>
			<string>{19,61}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_di_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{791,2},{78,370}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,370}}</string>
			<key>sourceSize</key>
			<string>{78,370}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_di_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1339,371},{87,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{87,190}}</string>
			<key>sourceSize</key>
			<string>{93,194}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_di_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1067,372},{18,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,25}}</string>
			<key>sourceSize</key>
			<string>{18,25}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_di_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1298,247},{68,122}}</string>
			<key>offset</key>
			<string>{-2,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,11},{68,122}}</string>
			<key>sourceSize</key>
			<string>{82,136}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_di_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{1368,243},{573,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{573,27}}</string>
			<key>sourceSize</key>
			<string>{573,27}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_di_8_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{951,323},{47,190}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{47,190}}</string>
			<key>sourceSize</key>
			<string>{51,190}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_di_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{639,2},{414,36}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{414,36}}</string>
			<key>sourceSize</key>
			<string>{420,36}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_di_duihuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1368,272},{86,54}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{86,54}}</string>
			<key>sourceSize</key>
			<string>{86,56}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_di_vs_mingzidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,445},{8,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,23}}</string>
			<key>sourceSize</key>
			<string>{8,23}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_guize_zhuagnshitiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,457},{201,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,4}}</string>
			<key>sourceSize</key>
			<string>{201,4}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_main_worddi_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{791,374},{46,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,36}}</string>
			<key>sourceSize</key>
			<string>{46,36}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_zhuagnshi_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{901,323},{48,48}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,52}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_zhuagnshi_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1043,372},{22,33}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{22,33}}</string>
			<key>sourceSize</key>
			<string>{28,37}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_zhuagnshi_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,2},{366,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{366,28}}</string>
			<key>sourceSize</key>
			<string>{366,28}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_zi_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,445},{10,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,34}}</string>
			<key>sourceSize</key>
			<string>{10,34}</string>
		</dict>
		<key>pic_kfz_qhzb_wdsc_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1188,2},{763,204}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{763,204}}</string>
			<key>sourceSize</key>
			<string>{763,208}</string>
		</dict>
		<key>pic_kfz_qhzb_wdsc_hongse.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,455},{355,6}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{355,6}}</string>
			<key>sourceSize</key>
			<string>{365,6}</string>
		</dict>
		<key>pic_kfz_qhzb_wdsc_lanse.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,445},{289,6}}</string>
			<key>offset</key>
			<string>{38,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{76,0},{289,6}}</string>
			<key>sourceSize</key>
			<string>{365,6}</string>
		</dict>
		<key>pic_kfz_qhzb_wdsc_shijian_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1862,208},{26,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,32}}</string>
			<key>sourceSize</key>
			<string>{26,32}</string>
		</dict>
		<key>pic_kfz_qhzb_wdsc_xiaolaba.png</key>
		<dict>
			<key>frame</key>
			<string>{{639,418},{40,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,37}}</string>
			<key>sourceSize</key>
			<string>{40,37}</string>
		</dict>
		<key>pic_kfz_qhzb_wdsc_zuo_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1531,272},{186,485}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{186,485}}</string>
			<key>sourceSize</key>
			<string>{186,487}</string>
		</dict>
		<key>pic_kfz_qhzb_wdsc_zuo_di_li.png</key>
		<dict>
			<key>frame</key>
			<string>{{1143,208},{161,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,153}}</string>
			<key>sourceSize</key>
			<string>{161,153}</string>
		</dict>
		<key>pic_kfz_qhzb_you_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2018,247},{31,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,28}}</string>
			<key>sourceSize</key>
			<string>{31,28}</string>
		</dict>
		<key>pic_kfz_qhzb_zsc_taizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{635,441}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{635,441}}</string>
			<key>sourceSize</key>
			<string>{635,441}</string>
		</dict>
		<key>pic_kuafuzhengba_1_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1057,2},{319,75}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,3},{319,75}}</string>
			<key>sourceSize</key>
			<string>{327,81}</string>
		</dict>
		<key>pic_kuafuzhengba_1_di_paihangbang_tiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1674,208},{186,33}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,33}}</string>
			<key>sourceSize</key>
			<string>{192,33}</string>
		</dict>
		<key>pic_kuafuzhengba_2_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{980,2},{319,75}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,3},{319,75}}</string>
			<key>sourceSize</key>
			<string>{327,81}</string>
		</dict>
		<key>pic_kuafuzhengba_2_di_paihangbang_tiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1486,208},{186,33}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,33}}</string>
			<key>sourceSize</key>
			<string>{192,33}</string>
		</dict>
		<key>pic_kuafuzhengba_3_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{901,2},{319,77}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{319,77}}</string>
			<key>sourceSize</key>
			<string>{327,81}</string>
		</dict>
		<key>pic_kuafuzhengba_3_di_paihangbang_tiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1298,208},{186,33}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,33}}</string>
			<key>sourceSize</key>
			<string>{192,33}</string>
		</dict>
		<key>pic_kuafuzhengba_hengxianglashentu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1953,81},{88,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,164}}</string>
			<key>sourceSize</key>
			<string>{88,164}</string>
		</dict>
		<key>pic_lashendiban_kafu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1094,372},{90,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,92}}</string>
			<key>sourceSize</key>
			<string>{90,92}</string>
		</dict>
		<key>pic_qhzb_kfb_changcibg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1134,33},{140,30}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,4},{140,30}}</string>
			<key>sourceSize</key>
			<string>{144,38}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>global_ip150.png</string>
		<key>size</key>
		<string>{2048,464}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>global_ip150.png</string>
	</dict>
</dict>
</plist>
