<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fg_fyzmcgimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,88},{73,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,124}}</string>
			<key>sourceSize</key>
			<string>{73,124}</string>
		</dict>
		<key>men001_fyzmcgimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,485},{124,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,124}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>men005_fyzmcgimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,45},{187,187}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,187}}</string>
			<key>sourceSize</key>
			<string>{187,187}</string>
		</dict>
		<key>men007_fyzmcgimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,485},{218,218}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,218}}</string>
			<key>sourceSize</key>
			<string>{218,218}</string>
		</dict>
		<key>men011_fyzmcgimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,234},{278,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{278,280}}</string>
			<key>sourceSize</key>
			<string>{278,280}</string>
		</dict>
		<key>men013_fyzmcgimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{684,2},{308,312}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{308,312}}</string>
			<key>sourceSize</key>
			<string>{308,312}</string>
		</dict>
		<key>men017_fyzmcgimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,132},{367,351}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{367,351}}</string>
			<key>sourceSize</key>
			<string>{367,351}</string>
		</dict>
		<key>yezi_fyzmcgimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,705},{56,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,46}}</string>
			<key>sourceSize</key>
			<string>{56,46}</string>
		</dict>
		<key>zi01_fyzmcgimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,45},{486,41}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44,5},{486,41}}</string>
			<key>sourceSize</key>
			<string>{576,49}</string>
		</dict>
		<key>zi02_fyzmcgimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,88},{411,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,21},{411,42}}</string>
			<key>sourceSize</key>
			<string>{421,84}</string>
		</dict>
		<key>zi03_fyzmcgimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{680,41}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,22},{680,41}}</string>
			<key>sourceSize</key>
			<string>{742,83}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>fyzmcgimage.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>fyzmcgimage.png</string>
	</dict>
</dict>
</plist>
