<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Newsz_dlls_ptbs_baibo_00044.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,539},{266,265}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,265}}</string>
			<key>sourceSize</key>
			<string>{266,265}</string>
		</dict>
		<key>Newsz_kxv_liumenbisha_bo_00040.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{537,536}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{537,536}}</string>
			<key>sourceSize</key>
			<string>{537,536}</string>
		</dict>
		<key>Newsz_kxv_liumenbisha_jiaodibo_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,539},{259,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,82}}</string>
			<key>sourceSize</key>
			<string>{259,82}</string>
		</dict>
		<key>Newsz_kxv_xiaojineng_yan_00071.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,805},{220,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,216}}</string>
			<key>sourceSize</key>
			<string>{220,216}</string>
		</dict>
		<key>Newsz_kxvjr_daiji_huo_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{760,781},{179,241}}</string>
			<key>offset</key>
			<string>{7,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,26},{179,241}}</string>
			<key>sourceSize</key>
			<string>{203,267}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_baodian_00094.png</key>
		<dict>
			<key>frame</key>
			<string>{{540,2},{447,394}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{447,394}}</string>
			<key>sourceSize</key>
			<string>{447,394}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_huoqiu_00039.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,705},{317,270}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{317,270}}</string>
			<key>sourceSize</key>
			<string>{317,270}</string>
		</dict>
		<key>Newsz_kxvjr_xiaojineng_boxia2_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{760,705},{260,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{260,75}}</string>
			<key>sourceSize</key>
			<string>{260,75}</string>
		</dict>
		<key>Newsz_kxvjr_xiaojineng_daji_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{540,705},{219,316}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,316}}</string>
			<key>sourceSize</key>
			<string>{219,316}</string>
		</dict>
		<key>Newsz_sy_lmbs_shoubuhonghuo_00167.png</key>
		<dict>
			<key>frame</key>
			<string>{{540,397},{307,427}}</string>
			<key>offset</key>
			<string>{6,14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,36},{307,427}}</string>
			<key>sourceSize</key>
			<string>{323,471}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>Kxvjr_common16.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>Kxvjr_common16.png</string>
	</dict>
</dict>
</plist>
