<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wy_1_1_89758_zhibotxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{140,138}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,8},{140,138}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>wy_2_2_58871_zhibotxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,104},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>wy_3_3_44878_zhibotxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,104},{19,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,31}}</string>
			<key>sourceSize</key>
			<string>{19,31}</string>
		</dict>
		<key>wy_4_4_74706_zhibotxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,104},{32,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,28}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>wy_5_5_9822_zhibotxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,2},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>wy_6_6_75247_zhibotxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,142},{132,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,8},{132,134}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>zhibotxkimage.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>zhibotxkimage.png</string>
	</dict>
</dict>
</plist>
