<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_axsz_daiji_chibang_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,537},{73,111}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,14},{73,111}}</string>
			<key>sourceSize</key>
			<string>{73,129}</string>
		</dict>
		<key>New_axsz_daiji_chibang_00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,952},{69,119}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{69,119}}</string>
			<key>sourceSize</key>
			<string>{73,129}</string>
		</dict>
		<key>New_axsz_daiji_chibang_00036.png</key>
		<dict>
			<key>frame</key>
			<string>{{905,731},{67,117}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,8},{67,117}}</string>
			<key>sourceSize</key>
			<string>{73,129}</string>
		</dict>
		<key>New_axsz_daiji_chibang_00040.png</key>
		<dict>
			<key>frame</key>
			<string>{{905,799},{65,117}}</string>
			<key>offset</key>
			<string>{-1,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,10},{65,117}}</string>
			<key>sourceSize</key>
			<string>{73,129}</string>
		</dict>
		<key>New_axsz_daiji_chibang_00044.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,969},{51,119}}</string>
			<key>offset</key>
			<string>{-8,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,8},{51,119}}</string>
			<key>sourceSize</key>
			<string>{73,129}</string>
		</dict>
		<key>New_axsz_daiji_chibang_00048.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,969},{51,119}}</string>
			<key>offset</key>
			<string>{-7,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,8},{51,119}}</string>
			<key>sourceSize</key>
			<string>{73,129}</string>
		</dict>
		<key>New_axsz_daiji_hudie_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,652},{157,123}}</string>
			<key>offset</key>
			<string>{-9,-40}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,81},{157,123}}</string>
			<key>sourceSize</key>
			<string>{177,205}</string>
		</dict>
		<key>New_axsz_daiji_hudie_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,811},{157,125}}</string>
			<key>offset</key>
			<string>{-10,-39}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,79},{157,125}}</string>
			<key>sourceSize</key>
			<string>{177,205}</string>
		</dict>
		<key>New_axsz_daiji_hudie_00036.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,307},{145,129}}</string>
			<key>offset</key>
			<string>{15,38}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{31,0},{145,129}}</string>
			<key>sourceSize</key>
			<string>{177,205}</string>
		</dict>
		<key>New_axsz_daiji_hudie_00040.png</key>
		<dict>
			<key>frame</key>
			<string>{{466,780},{147,129}}</string>
			<key>offset</key>
			<string>{15,38}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,0},{147,129}}</string>
			<key>sourceSize</key>
			<string>{177,205}</string>
		</dict>
		<key>New_axsz_liumenbisha_baoqi_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,645},{138,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,155}}</string>
			<key>sourceSize</key>
			<string>{138,155}</string>
		</dict>
		<key>New_axsz_liumenbisha_baoqi_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,329},{158,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,157}}</string>
			<key>sourceSize</key>
			<string>{158,157}</string>
		</dict>
		<key>New_axsz_liumenbisha_baoqi_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,165},{155,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,158}}</string>
			<key>sourceSize</key>
			<string>{155,158}</string>
		</dict>
		<key>New_axsz_liumenbisha_baozha2_00158.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,166},{161,162}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,22},{161,162}}</string>
			<key>sourceSize</key>
			<string>{211,212}</string>
		</dict>
		<key>New_axsz_liumenbisha_baozha2_00178.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,810},{141,156}}</string>
			<key>offset</key>
			<string>{-21,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,28},{141,156}}</string>
			<key>sourceSize</key>
			<string>{211,212}</string>
		</dict>
		<key>New_axsz_liumenbisha_baozha_00151.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,2},{161,162}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,22},{161,162}}</string>
			<key>sourceSize</key>
			<string>{211,212}</string>
		</dict>
		<key>New_axsz_liumenbisha_baozha_00171.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,488},{141,156}}</string>
			<key>offset</key>
			<string>{-21,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,28},{141,156}}</string>
			<key>sourceSize</key>
			<string>{211,212}</string>
		</dict>
		<key>New_axsz_liumenbisha_hudiechuxian_00053.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,491},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>New_axsz_liumenbisha_hudieshengqi2_00165.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{126,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,163}}</string>
			<key>sourceSize</key>
			<string>{126,163}</string>
		</dict>
		<key>New_axsz_liumenbisha_hudieshengqi2_00167.png</key>
		<dict>
			<key>frame</key>
			<string>{{693,629},{124,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,137}}</string>
			<key>sourceSize</key>
			<string>{124,137}</string>
		</dict>
		<key>New_axsz_liumenbisha_hudieshengqi_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,207},{112,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,86}}</string>
			<key>sourceSize</key>
			<string>{112,86}</string>
		</dict>
		<key>New_axsz_liumenbisha_hudieshengqi_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,161},{118,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,156}}</string>
			<key>sourceSize</key>
			<string>{118,156}</string>
		</dict>
		<key>New_axsz_liumenbisha_hudieshengqi_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{559,2},{90,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,144}}</string>
			<key>sourceSize</key>
			<string>{90,144}</string>
		</dict>
		<key>New_axsz_putongbisha1_hudie2_00060.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,158},{148,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,79}}</string>
			<key>sourceSize</key>
			<string>{148,79}</string>
		</dict>
		<key>New_axsz_putongbisha1_hudie3_00062.png</key>
		<dict>
			<key>frame</key>
			<string>{{805,2},{140,77}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{140,77}}</string>
			<key>sourceSize</key>
			<string>{144,77}</string>
		</dict>
		<key>New_axsz_putongbisha1_hudie3_00064.png</key>
		<dict>
			<key>frame</key>
			<string>{{740,767},{135,78}}</string>
			<key>offset</key>
			<string>{6,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,0},{135,78}}</string>
			<key>sourceSize</key>
			<string>{147,78}</string>
		</dict>
		<key>New_axsz_putongbisha1_hudie3_00066.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,2},{144,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,77}}</string>
			<key>sourceSize</key>
			<string>{144,77}</string>
		</dict>
		<key>New_axsz_putongbisha1_hudie3_00070.png</key>
		<dict>
			<key>frame</key>
			<string>{{616,435},{141,82}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{141,82}}</string>
			<key>sourceSize</key>
			<string>{145,82}</string>
		</dict>
		<key>New_axsz_putongbisha1_hudie3_00072.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,292},{142,82}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{142,82}}</string>
			<key>sourceSize</key>
			<string>{144,82}</string>
		</dict>
		<key>New_axsz_putongbisha1_hudie3_00074.png</key>
		<dict>
			<key>frame</key>
			<string>{{767,145},{140,79}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{140,79}}</string>
			<key>sourceSize</key>
			<string>{148,79}</string>
		</dict>
		<key>New_axsz_putongbisha1_hudie3_00080.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,785},{148,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,79}}</string>
			<key>sourceSize</key>
			<string>{148,79}</string>
		</dict>
		<key>New_axsz_putongbisha1_hudie_00045.png</key>
		<dict>
			<key>frame</key>
			<string>{{699,551},{106,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,77}}</string>
			<key>sourceSize</key>
			<string>{106,77}</string>
		</dict>
		<key>New_axsz_putongbisha1_hudie_00049.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,377},{111,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,82}}</string>
			<key>sourceSize</key>
			<string>{111,82}</string>
		</dict>
		<key>New_axsz_putongbisha1_hudiechuxian_00031.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,294},{112,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,82}}</string>
			<key>sourceSize</key>
			<string>{112,82}</string>
		</dict>
		<key>New_axsz_putongbisha1_hudielizi_00051.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,959},{67,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,63}}</string>
			<key>sourceSize</key>
			<string>{67,63}</string>
		</dict>
		<key>New_axsz_putongbisha2_baozha2_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,928},{93,94}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,28},{93,94}}</string>
			<key>sourceSize</key>
			<string>{149,148}</string>
		</dict>
		<key>New_axsz_putongbisha2_baozha2_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{818,286},{91,98}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,21},{91,98}}</string>
			<key>sourceSize</key>
			<string>{149,148}</string>
		</dict>
		<key>New_axsz_putongbisha2_baozha2_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,481},{149,142}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{149,142}}</string>
			<key>sourceSize</key>
			<string>{149,148}</string>
		</dict>
		<key>New_axsz_putongbisha2_baozha2_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{511,631},{147,126}}</string>
			<key>offset</key>
			<string>{1,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,21},{147,126}}</string>
			<key>sourceSize</key>
			<string>{149,148}</string>
		</dict>
		<key>New_axsz_putongbisha2_baozha2_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,2},{139,130}}</string>
			<key>offset</key>
			<string>{5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,18},{139,130}}</string>
			<key>sourceSize</key>
			<string>{149,148}</string>
		</dict>
		<key>New_axsz_putongbisha2_baozha_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{585,928},{93,94}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,28},{93,94}}</string>
			<key>sourceSize</key>
			<string>{149,148}</string>
		</dict>
		<key>New_axsz_putongbisha2_baozha_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,481},{149,142}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{149,142}}</string>
			<key>sourceSize</key>
			<string>{149,148}</string>
		</dict>
		<key>New_axsz_putongbisha2_baozha_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{511,631},{147,126}}</string>
			<key>offset</key>
			<string>{1,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,21},{147,126}}</string>
			<key>sourceSize</key>
			<string>{149,148}</string>
		</dict>
		<key>New_axsz_putongbisha2_baozha_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,2},{139,130}}</string>
			<key>offset</key>
			<string>{5,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,18},{139,130}}</string>
			<key>sourceSize</key>
			<string>{149,148}</string>
		</dict>
		<key>New_axsz_putongbisha2_chongci_00097.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,460},{76,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{76,111}}</string>
			<key>sourceSize</key>
			<string>{78,113}</string>
		</dict>
		<key>New_axsz_putongbisha2_hudieshengqi_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,324},{130,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,156}}</string>
			<key>sourceSize</key>
			<string>{130,156}</string>
		</dict>
		<key>New_axsz_putongbisha2_hudieshengqi_00040.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,652},{93,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,158}}</string>
			<key>sourceSize</key>
			<string>{93,158}</string>
		</dict>
		<key>New_axsz_putongbisha2_hudieshengqi_00042.png</key>
		<dict>
			<key>frame</key>
			<string>{{519,158},{91,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,145}}</string>
			<key>sourceSize</key>
			<string>{91,145}</string>
		</dict>
		<key>New_axsz_putongbisha2_hudieshengqi_00046.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,551},{82,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,77}}</string>
			<key>sourceSize</key>
			<string>{82,77}</string>
		</dict>
		<key>New_axsz_putongbisha2_yanhua_00056.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,453},{65,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,143}}</string>
			<key>sourceSize</key>
			<string>{65,143}</string>
		</dict>
		<key>New_axsz_putongbisha2_yanhua_00060.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,318},{73,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,149}}</string>
			<key>sourceSize</key>
			<string>{73,149}</string>
		</dict>
		<key>New_axsz_putongbisha2_yanhua_00062.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,634},{74,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,150}}</string>
			<key>sourceSize</key>
			<string>{74,150}</string>
		</dict>
		<key>New_axsz_putongbisha2_yanhua_00064.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,631},{76,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,148}}</string>
			<key>sourceSize</key>
			<string>{76,148}</string>
		</dict>
		<key>New_axsz_putongbisha2_yanhua_00068.png</key>
		<dict>
			<key>frame</key>
			<string>{{611,147},{77,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,144}}</string>
			<key>sourceSize</key>
			<string>{77,144}</string>
		</dict>
		<key>New_axsz_putongbisha2_yanhua_00070.png</key>
		<dict>
			<key>frame</key>
			<string>{{689,147},{77,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,142}}</string>
			<key>sourceSize</key>
			<string>{77,142}</string>
		</dict>
		<key>New_axsz_putongbisha2_yanhua_00072.png</key>
		<dict>
			<key>frame</key>
			<string>{{728,2},{76,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,142}}</string>
			<key>sourceSize</key>
			<string>{76,142}</string>
		</dict>
		<key>New_axsz_putongbisha2_yanhua_00074.png</key>
		<dict>
			<key>frame</key>
			<string>{{695,290},{75,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,141}}</string>
			<key>sourceSize</key>
			<string>{75,141}</string>
		</dict>
		<key>New_axsz_putongbisha2_yanhua_00076.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,133},{73,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,139}}</string>
			<key>sourceSize</key>
			<string>{73,139}</string>
		</dict>
		<key>New_axsz_putongbisha2_yanhua_00088.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,967},{55,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,128}}</string>
			<key>sourceSize</key>
			<string>{55,128}</string>
		</dict>
		<key>New_axsz_putonggongji_shouji_00025.png</key>
		<dict>
			<key>frame</key>
			<string>{{819,385},{113,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,90}}</string>
			<key>sourceSize</key>
			<string>{113,90}</string>
		</dict>
		<key>New_axsz_putonggongji_shouji_00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,611},{119,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,110}}</string>
			<key>sourceSize</key>
			<string>{119,110}</string>
		</dict>
		<key>New_axsz_putonggongji_shouji_00035.png</key>
		<dict>
			<key>frame</key>
			<string>{{596,779},{145,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,143}}</string>
			<key>sourceSize</key>
			<string>{145,143}</string>
		</dict>
		<key>New_axsz_putonggongji_shouji_00037.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,2},{155,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,143}}</string>
			<key>sourceSize</key>
			<string>{155,143}</string>
		</dict>
		<key>New_axsz_putonggongji_shouji_00039.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,329},{161,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,116}}</string>
			<key>sourceSize</key>
			<string>{161,116}</string>
		</dict>
		<key>New_axsz_xiaojineng_baozha_00038.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,925},{99,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{99,97}}</string>
			<key>sourceSize</key>
			<string>{101,99}</string>
		</dict>
		<key>New_axsz_xiaojineng_baozha_00050.png</key>
		<dict>
			<key>frame</key>
			<string>{{699,432},{118,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,119}}</string>
			<key>sourceSize</key>
			<string>{118,119}</string>
		</dict>
		<key>New_axsz_xiaojineng_baozha_00056.png</key>
		<dict>
			<key>frame</key>
			<string>{{819,629},{81,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,90}}</string>
			<key>sourceSize</key>
			<string>{81,90}</string>
		</dict>
		<key>New_axsz_xiaojineng_hudietuowei_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,801},{150,115}}</string>
			<key>offset</key>
			<string>{-2,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,9},{150,115}}</string>
			<key>sourceSize</key>
			<string>{162,125}</string>
		</dict>
		<key>New_axsz_xiaojineng_hudietuowei_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,481},{152,117}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,5},{152,117}}</string>
			<key>sourceSize</key>
			<string>{162,125}</string>
		</dict>
		<key>New_axsz_xiaojineng_hudietuowei_00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,2},{158,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{158,123}}</string>
			<key>sourceSize</key>
			<string>{162,125}</string>
		</dict>
		<key>New_axsz_xiaojineng_hudietuowei_00038.png</key>
		<dict>
			<key>frame</key>
			<string>{{779,903},{130,119}}</string>
			<key>offset</key>
			<string>{16,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,4},{130,119}}</string>
			<key>sourceSize</key>
			<string>{162,125}</string>
		</dict>
		<key>New_axsz_xiaojineng_hudietuowei_00042.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,865},{110,93}}</string>
			<key>offset</key>
			<string>{24,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{50,32},{110,93}}</string>
			<key>sourceSize</key>
			<string>{162,125}</string>
		</dict>
		<key>New_axsz_xiaojineng_tuowei1_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{819,767},{85,80}}</string>
			<key>offset</key>
			<string>{-1,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,43},{85,80}}</string>
			<key>sourceSize</key>
			<string>{91,126}</string>
		</dict>
		<key>New_axsz_xiaojineng_tuowei1_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{818,711},{55,86}}</string>
			<key>offset</key>
			<string>{-1,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,4},{55,86}}</string>
			<key>sourceSize</key>
			<string>{91,126}</string>
		</dict>
		<key>New_axsz_xiaojineng_tuowei3_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{616,577},{77,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,51}}</string>
			<key>sourceSize</key>
			<string>{77,51}</string>
		</dict>
		<key>New_axsz_xiaojineng_tuowei3_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,629},{140,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,54}}</string>
			<key>sourceSize</key>
			<string>{140,54}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>axiu13hd_common4.png</string>
		<key>scale</key>
		<real>0.45</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>axiu13hd_common4.png</string>
	</dict>
</dict>
</plist>
