<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Newsz_kxv_putongbisha_quan_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,882},{134,183}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,183}}</string>
			<key>sourceSize</key>
			<string>{134,183}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_baodian_00090.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{597,385}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{597,385}}</string>
			<key>sourceSize</key>
			<string>{597,385}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_baoyan_00080.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,430},{581,405}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{581,405}}</string>
			<key>sourceSize</key>
			<string>{581,405}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_huozhuhuo_00049.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,430},{275,451}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{275,451}}</string>
			<key>sourceSize</key>
			<string>{275,451}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_shouzhangshanghuo_00071.png</key>
		<dict>
			<key>frame</key>
			<string>{{876,430},{362,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{362,146}}</string>
			<key>sourceSize</key>
			<string>{362,146}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_yaoshouji_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,2},{427,422}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{427,422}}</string>
			<key>sourceSize</key>
			<string>{427,422}</string>
		</dict>
		<key>Newsz_kxvjr_xiaojineng_boxia3_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,882},{426,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{426,140}}</string>
			<key>sourceSize</key>
			<string>{426,140}</string>
		</dict>
		<key>Newsz_kxvjr_xiaojineng_boxia_00017.png</key>
		<dict>
			<key>frame</key>
			<string>{{876,793},{127,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,82}}</string>
			<key>sourceSize</key>
			<string>{127,82}</string>
		</dict>
		<key>Newsz_kxvjr_xiaojineng_daji_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,388},{191,493}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,493}}</string>
			<key>sourceSize</key>
			<string>{191,493}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>Kxvjr_common6.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>Kxvjr_common6.png</string>
	</dict>
</dict>
</plist>
