<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_xxj_bj_beiji_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{893,395},{127,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,125}}</string>
			<key>sourceSize</key>
			<string>{127,125}</string>
		</dict>
		<key>New_xxj_ptbs_baodian_00049.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,181},{54,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,54}}</string>
			<key>sourceSize</key>
			<string>{54,54}</string>
		</dict>
		<key>New_xxj_ptbs_baodian_00054.png</key>
		<dict>
			<key>frame</key>
			<string>{{252,2},{235,233}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,233}}</string>
			<key>sourceSize</key>
			<string>{235,233}</string>
		</dict>
		<key>New_xxj_ptbs_baodian_00061.png</key>
		<dict>
			<key>frame</key>
			<string>{{659,610},{152,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,157}}</string>
			<key>sourceSize</key>
			<string>{152,157}</string>
		</dict>
		<key>New_xxj_ptbs_baoqi_00040.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,802},{219,218}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,218}}</string>
			<key>sourceSize</key>
			<string>{219,218}</string>
		</dict>
		<key>New_xxj_ptbs_baoqi_00045.png</key>
		<dict>
			<key>frame</key>
			<string>{{817,610},{206,204}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,204}}</string>
			<key>sourceSize</key>
			<string>{206,204}</string>
		</dict>
		<key>New_xxj_ptbs_baoqi_00046.png</key>
		<dict>
			<key>frame</key>
			<string>{{670,817},{206,204}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,204}}</string>
			<key>sourceSize</key>
			<string>{206,204}</string>
		</dict>
		<key>New_xxj_ptbs_baoqixuli_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,525},{239,229}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,2},{239,229}}</string>
			<key>sourceSize</key>
			<string>{247,231}</string>
		</dict>
		<key>New_xxj_ptbs_baoqixuli_00027.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,546},{255,243}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{255,243}}</string>
			<key>sourceSize</key>
			<string>{257,245}</string>
		</dict>
		<key>New_xxj_ptbs_baoqixuli_00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{441,238},{235,217}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,217}}</string>
			<key>sourceSize</key>
			<string>{235,221}</string>
		</dict>
		<key>New_xxj_ptbs_baoyan_00132.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,2},{230,231}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{230,231}}</string>
			<key>sourceSize</key>
			<string>{230,231}</string>
		</dict>
		<key>New_xxj_ptbs_baoyan_00133.png</key>
		<dict>
			<key>frame</key>
			<string>{{717,2},{230,231}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{230,231}}</string>
			<key>sourceSize</key>
			<string>{230,231}</string>
		</dict>
		<key>New_xxj_ptbs_baoyan_00134.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,765},{238,231}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{238,231}}</string>
			<key>sourceSize</key>
			<string>{238,231}</string>
		</dict>
		<key>New_xxj_ptbs_baoyan_00136.png</key>
		<dict>
			<key>frame</key>
			<string>{{877,817},{151,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,133}}</string>
			<key>sourceSize</key>
			<string>{151,133}</string>
		</dict>
		<key>New_xxj_ptbs_baoyan_00140.png</key>
		<dict>
			<key>frame</key>
			<string>{{670,392},{222,217}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{222,217}}</string>
			<key>sourceSize</key>
			<string>{222,219}</string>
		</dict>
		<key>New_xxj_ptbs_baoyan_00141.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,284},{240,237}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,237}}</string>
			<key>sourceSize</key>
			<string>{240,237}</string>
		</dict>
		<key>New_xxj_ptbs_baoyan_00143.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{249,281}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{249,281}}</string>
			<key>sourceSize</key>
			<string>{249,281}</string>
		</dict>
		<key>New_xxj_ptbs_shizi_00050.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,284},{261,200}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{261,200}}</string>
			<key>sourceSize</key>
			<string>{261,202}</string>
		</dict>
		<key>New_xxj_ptgj_baodian_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,125},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>New_xxj_ptgj_baodian_00025.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,808},{216,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,213}}</string>
			<key>sourceSize</key>
			<string>{216,213}</string>
		</dict>
		<key>New_xxj_ptgj_baodian_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{717,233},{224,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,158}}</string>
			<key>sourceSize</key>
			<string>{224,158}</string>
		</dict>
		<key>New_xxj_ptgj_baodian_00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,546},{261,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{261,182}}</string>
			<key>sourceSize</key>
			<string>{261,182}</string>
		</dict>
		<key>New_xxj_ptgj_baodian_00034.png</key>
		<dict>
			<key>frame</key>
			<string>{{441,474},{173,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,47}}</string>
			<key>sourceSize</key>
			<string>{173,47}</string>
		</dict>
		<key>New_xxj_ptgj_shizi_00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,2},{122,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{122,58}}</string>
			<key>sourceSize</key>
			<string>{124,60}</string>
		</dict>
		<key>tx_sqz.png</key>
		<dict>
			<key>frame</key>
			<string>{{942,236},{158,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,80}}</string>
			<key>sourceSize</key>
			<string>{158,80}</string>
		</dict>
		<key>tx_zhiyin.png</key>
		<dict>
			<key>frame</key>
			<string>{{893,521},{126,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,80}}</string>
			<key>sourceSize</key>
			<string>{126,80}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>xxiaojie_common1.png</string>
		<key>scale</key>
		<real>0.75</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>xxiaojie_common1.png</string>
	</dict>
</dict>
</plist>
