<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>a_pg1_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,2},{99,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,61}}</string>
			<key>sourceSize</key>
			<string>{99,61}</string>
		</dict>
		<key>a_yjiao1_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,965},{48,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,52}}</string>
			<key>sourceSize</key>
			<string>{48,52}</string>
		</dict>
		<key>a_zdb1_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,127},{72,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,96}}</string>
			<key>sourceSize</key>
			<string>{72,96}</string>
		</dict>
		<key>a_zjiao1_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,606},{73,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,49}}</string>
			<key>sourceSize</key>
			<string>{73,49}</string>
		</dict>
		<key>h1_dabi1_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,727},{71,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,87}}</string>
			<key>sourceSize</key>
			<string>{71,87}</string>
		</dict>
		<key>h1_dabi2_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,793},{69,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,85}}</string>
			<key>sourceSize</key>
			<string>{69,85}</string>
		</dict>
		<key>h1_houyifu_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,2},{201,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,124}}</string>
			<key>sourceSize</key>
			<string>{201,124}</string>
		</dict>
		<key>h1_quan1_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,646},{56,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,66}}</string>
			<key>sourceSize</key>
			<string>{56,66}</string>
		</dict>
		<key>h1_quan2_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,591},{53,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,62}}</string>
			<key>sourceSize</key>
			<string>{53,62}</string>
		</dict>
		<key>h1_shenti_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,264},{126,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,165}}</string>
			<key>sourceSize</key>
			<string>{126,165}</string>
		</dict>
		<key>h1_tou_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,508},{104,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,123}}</string>
			<key>sourceSize</key>
			<string>{104,123}</string>
		</dict>
		<key>h1_yifu_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,644},{58,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,107}}</string>
			<key>sourceSize</key>
			<string>{58,107}</string>
		</dict>
		<key>h2_houyifu_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{203,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,121}}</string>
			<key>sourceSize</key>
			<string>{203,121}</string>
		</dict>
		<key>h2_tou_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,500},{104,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,121}}</string>
			<key>sourceSize</key>
			<string>{104,121}</string>
		</dict>
		<key>p1_dabi1_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,408},{60,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,61}}</string>
			<key>sourceSize</key>
			<string>{60,61}</string>
		</dict>
		<key>p1_houliuhai_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,465},{31,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,37}}</string>
			<key>sourceSize</key>
			<string>{31,37}</string>
		</dict>
		<key>p1_liuhai1_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,965},{44,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,55}}</string>
			<key>sourceSize</key>
			<string>{44,55}</string>
		</dict>
		<key>p1_liuhai2_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{374,128},{39,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,34}}</string>
			<key>sourceSize</key>
			<string>{39,34}</string>
		</dict>
		<key>p1_shenti_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{374,201},{136,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,178}}</string>
			<key>sourceSize</key>
			<string>{136,178}</string>
		</dict>
		<key>p1_shou1_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,792},{51,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,70}}</string>
			<key>sourceSize</key>
			<string>{51,70}</string>
		</dict>
		<key>p1_shou2_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,471},{60,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,52}}</string>
			<key>sourceSize</key>
			<string>{60,52}</string>
		</dict>
		<key>p1_shoubi1_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,712},{88,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,79}}</string>
			<key>sourceSize</key>
			<string>{88,79}</string>
		</dict>
		<key>p1_tou_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{355,540},{102,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,116}}</string>
			<key>sourceSize</key>
			<string>{102,116}</string>
		</dict>
		<key>p1_xiaobi1_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,525},{63,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,64}}</string>
			<key>sourceSize</key>
			<string>{63,64}</string>
		</dict>
		<key>p2_tou_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,614},{102,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,119}}</string>
			<key>sourceSize</key>
			<string>{102,119}</string>
		</dict>
		<key>p3_dabi1_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,704},{70,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,96}}</string>
			<key>sourceSize</key>
			<string>{70,96}</string>
		</dict>
		<key>p3_liuhai1_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,498},{36,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,44}}</string>
			<key>sourceSize</key>
			<string>{36,44}</string>
		</dict>
		<key>p3_quan1_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,704},{66,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,51}}</string>
			<key>sourceSize</key>
			<string>{66,51}</string>
		</dict>
		<key>p3_quan2_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,726},{58,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,64}}</string>
			<key>sourceSize</key>
			<string>{58,64}</string>
		</dict>
		<key>p3_shenti_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,128},{134,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,179}}</string>
			<key>sourceSize</key>
			<string>{134,179}</string>
		</dict>
		<key>p3_tou_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,606},{104,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,110}}</string>
			<key>sourceSize</key>
			<string>{104,110}</string>
		</dict>
		<key>p4_quan1_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,338},{53,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,68}}</string>
			<key>sourceSize</key>
			<string>{53,68}</string>
		</dict>
		<key>p4_quan2_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,861},{65,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,53}}</string>
			<key>sourceSize</key>
			<string>{65,53}</string>
		</dict>
		<key>p4_tou_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,399},{107,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,126}}</string>
			<key>sourceSize</key>
			<string>{107,126}</string>
		</dict>
		<key>s1_dabi1_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,816},{77,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,77}}</string>
			<key>sourceSize</key>
			<string>{77,77}</string>
		</dict>
		<key>s1_dabi2_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,757},{69,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,72}}</string>
			<key>sourceSize</key>
			<string>{69,72}</string>
		</dict>
		<key>s1_liuhai2_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,540},{32,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,49}}</string>
			<key>sourceSize</key>
			<string>{32,49}</string>
		</dict>
		<key>s1_quan1_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,965},{53,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,51}}</string>
			<key>sourceSize</key>
			<string>{53,51}</string>
		</dict>
		<key>s1_quan2_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,681},{44,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,49}}</string>
			<key>sourceSize</key>
			<string>{44,49}</string>
		</dict>
		<key>s1_shenti_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,381},{140,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,157}}</string>
			<key>sourceSize</key>
			<string>{140,157}</string>
		</dict>
		<key>s1_tou_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,392},{106,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,123}}</string>
			<key>sourceSize</key>
			<string>{106,123}</string>
		</dict>
		<key>s1_xiaobi1_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,644},{47,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,80}}</string>
			<key>sourceSize</key>
			<string>{47,80}</string>
		</dict>
		<key>s1_xiaobi2_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,392},{37,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,71}}</string>
			<key>sourceSize</key>
			<string>{37,71}</string>
		</dict>
		<key>s2_dabi1_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,65},{60,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,99}}</string>
			<key>sourceSize</key>
			<string>{60,99}</string>
		</dict>
		<key>s2_dabi2_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,718},{65,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,109}}</string>
			<key>sourceSize</key>
			<string>{65,109}</string>
		</dict>
		<key>s2_quan1_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,912},{59,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,51}}</string>
			<key>sourceSize</key>
			<string>{59,51}</string>
		</dict>
		<key>s2_quan2_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,285},{54,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,51}}</string>
			<key>sourceSize</key>
			<string>{54,51}</string>
		</dict>
		<key>s2_shenti_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,125},{189,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,158}}</string>
			<key>sourceSize</key>
			<string>{189,158}</string>
		</dict>
		<key>s2_tou_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,285},{112,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,133}}</string>
			<key>sourceSize</key>
			<string>{112,133}</string>
		</dict>
		<key>s2_xiaobi1_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{354,776},{84,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,83}}</string>
			<key>sourceSize</key>
			<string>{84,83}</string>
		</dict>
		<key>s2_xiaobi2_wuliubuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,845},{67,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,65}}</string>
			<key>sourceSize</key>
			<string>{67,65}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>shenwugroup.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>shenwugroup.png</string>
	</dict>
</dict>
</plist>
