<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>heidi_nanzhenfengyun3image.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,213},{49,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,49}}</string>
			<key>sourceSize</key>
			<string>{49,49}</string>
		</dict>
		<key>wy_10_10_95098_nanzhenfengyun3image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,152},{56,171}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,3},{56,171}}</string>
			<key>sourceSize</key>
			<string>{62,179}</string>
		</dict>
		<key>wy_11_11_78273_nanzhenfengyun3image.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,168},{111,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,111}}</string>
			<key>sourceSize</key>
			<string>{111,111}</string>
		</dict>
		<key>wy_13_13_570_nanzhenfengyun3image.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,2},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>wy_14_14_34117_nanzhenfengyun3image.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,168},{56,43}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{56,43}}</string>
			<key>sourceSize</key>
			<string>{62,49}</string>
		</dict>
		<key>wy_15_15_58922_nanzhenfengyun3image.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,209},{50,59}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,4},{50,59}}</string>
			<key>sourceSize</key>
			<string>{56,67}</string>
		</dict>
		<key>wy_16_16_26808_nanzhenfengyun3image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{250,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{250,148}}</string>
			<key>sourceSize</key>
			<string>{250,148}</string>
		</dict>
		<key>wy_17_17_9164_nanzhenfengyun3image.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,264},{21,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,21}}</string>
			<key>sourceSize</key>
			<string>{21,21}</string>
		</dict>
		<key>wy_1_1_28204_nanzhenfengyun3image.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,120},{238,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{238,46}}</string>
			<key>sourceSize</key>
			<string>{238,46}</string>
		</dict>
		<key>wy_2_2_50217_nanzhenfengyun3image.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,260},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>wy_3_3_76489_nanzhenfengyun3image.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,152},{61,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,55}}</string>
			<key>sourceSize</key>
			<string>{61,55}</string>
		</dict>
		<key>wy_42_42_70636_nanzhenfengyun3image.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,168},{54,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,54}}</string>
			<key>sourceSize</key>
			<string>{54,54}</string>
		</dict>
		<key>wy_6_6_97959_nanzhenfengyun3image.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,224},{34,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,49}}</string>
			<key>sourceSize</key>
			<string>{34,49}</string>
		</dict>
		<key>wy_7_7_60284_nanzhenfengyun3image.png</key>
		<dict>
			<key>frame</key>
			<string>{{465,214},{45,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,44}}</string>
			<key>sourceSize</key>
			<string>{45,44}</string>
		</dict>
		<key>wy_8_8_12316_nanzhenfengyun3image.png</key>
		<dict>
			<key>frame</key>
			<string>{{465,168},{45,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,44}}</string>
			<key>sourceSize</key>
			<string>{45,44}</string>
		</dict>
		<key>wy_9_9_76782_nanzhenfengyun3image.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,2},{242,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,116}}</string>
			<key>sourceSize</key>
			<string>{242,116}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>nanzhenfengyun3image.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>nanzhenfengyun3image.png</string>
	</dict>
</dict>
</plist>
