<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_dwjnh_btnjiantou_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,941},{43,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,38}}</string>
			<key>sourceSize</key>
			<string>{43,38}</string>
		</dict>
		<key>btn_dwjnh_btnjiantou_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,901},{43,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,38}}</string>
			<key>sourceSize</key>
			<string>{43,38}</string>
		</dict>
		<key>pic_dwjnh_shouye_biaoqian.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,816},{235,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,170}}</string>
			<key>sourceSize</key>
			<string>{235,170}</string>
		</dict>
		<key>pic_dwjnh_shouye_shuzikuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,189},{497,266}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{497,266}}</string>
			<key>sourceSize</key>
			<string>{497,266}</string>
		</dict>
		<key>pic_dwjnh_shouye_xuanzhongkuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{185,290}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,290}}</string>
			<key>sourceSize</key>
			<string>{185,290}</string>
		</dict>
		<key>pic_dwjnh_shouye_yaogan.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,688},{135,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,126}}</string>
			<key>sourceSize</key>
			<string>{135,126}</string>
		</dict>
		<key>pic_dwjnh_shouye_zuanshidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,688},{153,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,27}}</string>
			<key>sourceSize</key>
			<string>{153,27}</string>
		</dict>
		<key>pic_dwjnh_tanchuang_wenzidi1.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,816},{36,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,30}}</string>
			<key>sourceSize</key>
			<string>{36,30}</string>
		</dict>
		<key>pic_dwjnh_tanchuang_wenzidi2.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,854},{45,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,45}}</string>
			<key>sourceSize</key>
			<string>{45,45}</string>
		</dict>
		<key>pic_dwjnh_tanchuang_wenzidi3.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,189},{625,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{625,30}}</string>
			<key>sourceSize</key>
			<string>{625,30}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ActivityWealthGame0.png</string>
		<key>size</key>
		<string>{302,988}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ActivityWealthGame0.png</string>
	</dict>
</dict>
</plist>
