<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_gedoujia_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{729,438},{60,64}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{60,64}}</string>
			<key>sourceSize</key>
			<string>{62,68}</string>
		</dict>
		<key>btn_gedoujia_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{665,438},{62,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,68}}</string>
			<key>sourceSize</key>
			<string>{62,68}</string>
		</dict>
		<key>btn_jienngshu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,421},{85,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,39}}</string>
			<key>sourceSize</key>
			<string>{85,39}</string>
		</dict>
		<key>btn_jienngshu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,421},{85,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,39}}</string>
			<key>sourceSize</key>
			<string>{85,39}</string>
		</dict>
		<key>pic_guankazhuanji_huangse01.png</key>
		<dict>
			<key>frame</key>
			<string>{{547,483},{22,21}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,21}}</string>
			<key>sourceSize</key>
			<string>{28,21}</string>
		</dict>
		<key>pic_guankazhuanji_huangse02.png</key>
		<dict>
			<key>frame</key>
			<string>{{983,477},{28,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{28,19}}</string>
			<key>sourceSize</key>
			<string>{28,21}</string>
		</dict>
		<key>pic_guankazhuanji_huangse03.png</key>
		<dict>
			<key>frame</key>
			<string>{{983,456},{28,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{28,19}}</string>
			<key>sourceSize</key>
			<string>{28,21}</string>
		</dict>
		<key>pic_guankazhuanji_huangse04.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,456},{28,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,21}}</string>
			<key>sourceSize</key>
			<string>{28,21}</string>
		</dict>
		<key>pic_guankazhuanji_huangse05.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,469},{28,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,21}}</string>
			<key>sourceSize</key>
			<string>{28,21}</string>
		</dict>
		<key>pic_guankazhuanji_huangse06.png</key>
		<dict>
			<key>frame</key>
			<string>{{953,477},{28,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{28,19}}</string>
			<key>sourceSize</key>
			<string>{28,21}</string>
		</dict>
		<key>pic_guankazhuanji_huangse09.png</key>
		<dict>
			<key>frame</key>
			<string>{{571,479},{26,17}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{26,17}}</string>
			<key>sourceSize</key>
			<string>{28,21}</string>
		</dict>
		<key>pic_guankazhuanji_huangse10.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,460},{22,19}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{22,19}}</string>
			<key>sourceSize</key>
			<string>{28,21}</string>
		</dict>
		<key>pic_guankazhuanji_lanse01.png</key>
		<dict>
			<key>frame</key>
			<string>{{547,460},{22,21}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,21}}</string>
			<key>sourceSize</key>
			<string>{28,21}</string>
		</dict>
		<key>pic_guankazhuanji_lanse02.png</key>
		<dict>
			<key>frame</key>
			<string>{{953,456},{28,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{28,19}}</string>
			<key>sourceSize</key>
			<string>{28,21}</string>
		</dict>
		<key>pic_guankazhuanji_lanse03.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,479},{28,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{28,19}}</string>
			<key>sourceSize</key>
			<string>{28,21}</string>
		</dict>
		<key>pic_guankazhuanji_lanse04.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,446},{28,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,21}}</string>
			<key>sourceSize</key>
			<string>{28,21}</string>
		</dict>
		<key>pic_guankazhuanji_lanse05.png</key>
		<dict>
			<key>frame</key>
			<string>{{633,380},{28,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,21}}</string>
			<key>sourceSize</key>
			<string>{28,21}</string>
		</dict>
		<key>pic_guankazhuanji_lanse06.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,387},{28,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{28,19}}</string>
			<key>sourceSize</key>
			<string>{28,21}</string>
		</dict>
		<key>pic_guankazhuanji_lanse09.png</key>
		<dict>
			<key>frame</key>
			<string>{{571,460},{26,17}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{26,17}}</string>
			<key>sourceSize</key>
			<string>{28,21}</string>
		</dict>
		<key>pic_guankazhuanji_lanse10.png</key>
		<dict>
			<key>frame</key>
			<string>{{599,460},{22,19}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{22,19}}</string>
			<key>sourceSize</key>
			<string>{28,21}</string>
		</dict>
		<key>pic_guankazhuanji_tiaozhan.png</key>
		<dict>
			<key>frame</key>
			<string>{{944,364},{103,45}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{103,45}}</string>
			<key>sourceSize</key>
			<string>{113,45}</string>
		</dict>
		<key>pic_guankazhuanji_tongguanjiangli.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,380},{154,27}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,5},{154,27}}</string>
			<key>sourceSize</key>
			<string>{160,33}</string>
		</dict>
		<key>pic_jp_liezhuan_juqinghuigu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,441},{64,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,63}}</string>
			<key>sourceSize</key>
			<string>{64,63}</string>
		</dict>
		<key>pic_jp_liezhuan_juqinghuigu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,441},{64,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,63}}</string>
			<key>sourceSize</key>
			<string>{64,63}</string>
		</dict>
		<key>pic_kaishizhandou_anniuwenzi_liezhuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,262},{145,41}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{145,41}}</string>
			<key>sourceSize</key>
			<string>{145,43}</string>
		</dict>
		<key>pic_liezhuan_buzhen_bukexuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,398},{102,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,49}}</string>
			<key>sourceSize</key>
			<string>{102,49}</string>
		</dict>
		<key>pic_liezhuan_buzhen_difang.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,419},{26,25}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,0},{26,25}}</string>
			<key>sourceSize</key>
			<string>{54,27}</string>
		</dict>
		<key>pic_liezhuan_buzhen_npc.png</key>
		<dict>
			<key>frame</key>
			<string>{{665,387},{102,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,49}}</string>
			<key>sourceSize</key>
			<string>{102,49}</string>
		</dict>
		<key>pic_liezhuan_buzhen_vsbiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,151},{280,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{280,102}}</string>
			<key>sourceSize</key>
			<string>{280,102}</string>
		</dict>
		<key>pic_liezhuan_buzhen_wofang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1028,411},{55,29}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{55,29}}</string>
			<key>sourceSize</key>
			<string>{57,29}</string>
		</dict>
		<key>pic_liezhuan_buzhen_xianshou.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,449},{91,53}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{91,53}}</string>
			<key>sourceSize</key>
			<string>{93,55}</string>
		</dict>
		<key>pic_liezhuan_buzhen_yicanzhan.png</key>
		<dict>
			<key>frame</key>
			<string>{{561,409},{102,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,49}}</string>
			<key>sourceSize</key>
			<string>{102,49}</string>
		</dict>
		<key>pic_liezhuan_buzhen_yishangzhen.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,419},{102,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,49}}</string>
			<key>sourceSize</key>
			<string>{102,49}</string>
		</dict>
		<key>pic_liezhuan_buzhen_zhan.png</key>
		<dict>
			<key>frame</key>
			<string>{{791,387},{114,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,37}}</string>
			<key>sourceSize</key>
			<string>{114,37}</string>
		</dict>
		<key>pic_liezhuan_gedoujialiezhuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,421},{195,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{195,72}}</string>
			<key>sourceSize</key>
			<string>{195,72}</string>
		</dict>
		<key>pic_liezhuan_jinruliezhuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,264},{150,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,0},{150,54}}</string>
			<key>sourceSize</key>
			<string>{204,54}</string>
		</dict>
		<key>pic_liezhuan_ndxz_banzi_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{735,2},{145,260}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{145,260}}</string>
			<key>sourceSize</key>
			<string>{155,264}</string>
		</dict>
		<key>pic_liezhuan_ndxz_banzi_1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,273},{112,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,0},{112,123}}</string>
			<key>sourceSize</key>
			<string>{126,123}</string>
		</dict>
		<key>pic_liezhuan_ndxz_banzi_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,264},{155,260}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,260}}</string>
			<key>sourceSize</key>
			<string>{155,264}</string>
		</dict>
		<key>pic_liezhuan_ndxz_banzi_2_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{705,273},{112,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,0},{112,123}}</string>
			<key>sourceSize</key>
			<string>{126,123}</string>
		</dict>
		<key>pic_liezhuan_ndxz_banzi_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,2},{155,260}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,260}}</string>
			<key>sourceSize</key>
			<string>{155,264}</string>
		</dict>
		<key>pic_liezhuan_ndxz_banzi_3_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{591,255},{112,123}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{112,123}}</string>
			<key>sourceSize</key>
			<string>{126,123}</string>
		</dict>
		<key>pic_liezhuan_ndxz_banzi_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,2},{155,258}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,258}}</string>
			<key>sourceSize</key>
			<string>{155,264}</string>
		</dict>
		<key>pic_liezhuan_ndxz_banzi_4_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,255},{112,123}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{112,123}}</string>
			<key>sourceSize</key>
			<string>{126,123}</string>
		</dict>
		<key>pic_liezhuan_ndxz_banzi_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,2},{147,260}}</string>
			<key>offset</key>
			<string>{2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{147,260}}</string>
			<key>sourceSize</key>
			<string>{155,264}</string>
		</dict>
		<key>pic_liezhuan_ndxz_banzi_5_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{932,157},{112,123}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{112,123}}</string>
			<key>sourceSize</key>
			<string>{126,123}</string>
		</dict>
		<key>pic_liezhuan_ndxz_banzi_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{155,260}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,260}}</string>
			<key>sourceSize</key>
			<string>{155,264}</string>
		</dict>
		<key>pic_liezhuan_ndxz_banzi_6_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,262},{112,123}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{112,123}}</string>
			<key>sourceSize</key>
			<string>{126,123}</string>
		</dict>
		<key>pic_liezhuan_paihang_dengji.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,470},{105,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{105,30}}</string>
			<key>sourceSize</key>
			<string>{105,32}</string>
		</dict>
		<key>pic_liezhuan_paihang_jingyan.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,387},{111,30}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{111,30}}</string>
			<key>sourceSize</key>
			<string>{113,32}</string>
		</dict>
		<key>pic_liezhuan_zi_jixu.png</key>
		<dict>
			<key>frame</key>
			<string>{{934,411},{92,43}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,3},{92,43}}</string>
			<key>sourceSize</key>
			<string>{100,47}</string>
		</dict>
		<key>pic_yiwancheng_tupian.png</key>
		<dict>
			<key>frame</key>
			<string>{{755,149},{175,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,122}}</string>
			<key>sourceSize</key>
			<string>{175,122}</string>
		</dict>
		<key>pic_zhuanji_jinengshu.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,409},{126,30}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{126,30}}</string>
			<key>sourceSize</key>
			<string>{126,40}</string>
		</dict>
		<key>pic_zhuanji_jinxingzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{944,271},{95,91}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,91}}</string>
			<key>sourceSize</key>
			<string>{97,91}</string>
		</dict>
		<key>pic_zhuanji_yijihuo.png</key>
		<dict>
			<key>frame</key>
			<string>{{997,2},{153,60}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,0},{153,60}}</string>
			<key>sourceSize</key>
			<string>{185,60}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_biography0.png</string>
		<key>size</key>
		<string>{1059,508}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_biography0.png</string>
	</dict>
</dict>
</plist>
