<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_bzxem_daiji_shandian_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{747,328},{60,73}}</string>
			<key>offset</key>
			<string>{-5,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,26},{60,73}}</string>
			<key>sourceSize</key>
			<string>{88,115}</string>
		</dict>
		<key>New_bzxem_liumenbisha_fangshebo_00195.png</key>
		<dict>
			<key>frame</key>
			<string>{{732,672},{279,263}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{279,263}}</string>
			<key>sourceSize</key>
			<string>{279,263}</string>
		</dict>
		<key>New_bzxem_liumenbisha_fangshebodian_00156.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{408,400}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{408,400}}</string>
			<key>sourceSize</key>
			<string>{408,400}</string>
		</dict>
		<key>New_bzxem_liumenbisha_fangshebodian_00166.png</key>
		<dict>
			<key>frame</key>
			<string>{{652,895},{103,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,76}}</string>
			<key>sourceSize</key>
			<string>{103,76}</string>
		</dict>
		<key>New_bzxem_liumenbisha_houshandian_00248.png</key>
		<dict>
			<key>frame</key>
			<string>{{747,460},{275,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{275,54}}</string>
			<key>sourceSize</key>
			<string>{275,54}</string>
		</dict>
		<key>New_bzxem_liumenbisha_leiyun_00065.png</key>
		<dict>
			<key>frame</key>
			<string>{{652,677},{142,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,79}}</string>
			<key>sourceSize</key>
			<string>{142,79}</string>
		</dict>
		<key>New_bzxem_liumenbisha_leiyun_00089.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,403},{154,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,72}}</string>
			<key>sourceSize</key>
			<string>{154,72}</string>
		</dict>
		<key>New_bzxem_liumenbisha_luoxiashandian_00147.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,328},{163,335}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,335}}</string>
			<key>sourceSize</key>
			<string>{163,335}</string>
		</dict>
		<key>New_bzxem_liumenbisha_luoxiashandian_00149.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,138},{204,321}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,321}}</string>
			<key>sourceSize</key>
			<string>{204,321}</string>
		</dict>
		<key>New_bzxem_liumenbisha_luoxiashandian_00152.png</key>
		<dict>
			<key>frame</key>
			<string>{{331,783},{152,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,320}}</string>
			<key>sourceSize</key>
			<string>{152,320}</string>
		</dict>
		<key>New_bzxem_liumenbisha_luoxiashandian_00160.png</key>
		<dict>
			<key>frame</key>
			<string>{{327,558},{97,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,224}}</string>
			<key>sourceSize</key>
			<string>{97,224}</string>
		</dict>
		<key>New_bzxem_liumenbisha_zuihoudian_00240.png</key>
		<dict>
			<key>frame</key>
			<string>{{735,515},{281,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,156}}</string>
			<key>sourceSize</key>
			<string>{281,156}</string>
		</dict>
		<key>New_bzxem_liumenbisha_zuihoudian_00242.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,521},{324,261}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{324,261}}</string>
			<key>sourceSize</key>
			<string>{324,261}</string>
		</dict>
		<key>New_bzxem_liumenbisha_zuihoudian_00248.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,783},{239,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{239,256}}</string>
			<key>sourceSize</key>
			<string>{239,256}</string>
		</dict>
		<key>New_bzxem_putongbisha_ccshandian_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,198},{353,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{353,129}}</string>
			<key>sourceSize</key>
			<string>{353,129}</string>
		</dict>
		<key>New_bzxem_putongbisha_ccshandian_00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{425,557},{306,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{306,119}}</string>
			<key>sourceSize</key>
			<string>{306,119}</string>
		</dict>
		<key>New_bzxem_putongbisha_ccshandian_00027.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,403},{335,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{335,117}}</string>
			<key>sourceSize</key>
			<string>{335,117}</string>
		</dict>
		<key>New_bzxem_putongbisha_ccshandian_00031.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,98},{396,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{396,99}}</string>
			<key>sourceSize</key>
			<string>{396,99}</string>
		</dict>
		<key>New_bzxem_putongbisha_ccshandian_00035.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,2},{398,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{398,95}}</string>
			<key>sourceSize</key>
			<string>{398,95}</string>
		</dict>
		<key>New_bzxem_putongbisha_ccshandian_00039.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,492},{323,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{323,64}}</string>
			<key>sourceSize</key>
			<string>{323,64}</string>
		</dict>
		<key>New_bzxem_putonggongji_qiushandian_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{652,820},{74,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,77}}</string>
			<key>sourceSize</key>
			<string>{74,77}</string>
		</dict>
		<key>New_bzxem_putonggongji_shandian_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{425,677},{152,105}}</string>
			<key>offset</key>
			<string>{1,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,10},{152,105}}</string>
			<key>sourceSize</key>
			<string>{154,115}</string>
		</dict>
		<key>New_bzxem_putonggongji_shandian_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{331,936},{124,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,84}}</string>
			<key>sourceSize</key>
			<string>{124,84}</string>
		</dict>
		<key>New_bzxem_shengli_luoxiashandian_00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{729,936},{83,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,240}}</string>
			<key>sourceSize</key>
			<string>{83,240}</string>
		</dict>
		<key>New_bzxem_shengli_luoxiashandian_00038.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,783},{71,230}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,230}}</string>
			<key>sourceSize</key>
			<string>{71,230}</string>
		</dict>
		<key>New_bzxem_shengli_shoushandian_00038.png</key>
		<dict>
			<key>frame</key>
			<string>{{578,677},{60,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,66}}</string>
			<key>sourceSize</key>
			<string>{60,66}</string>
		</dict>
		<key>New_bzxem_shengli_shoushandian_00041.png</key>
		<dict>
			<key>frame</key>
			<string>{{456,936},{82,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,84}}</string>
			<key>sourceSize</key>
			<string>{82,84}</string>
		</dict>
		<key>New_bzxem_xiaojineng_qiushandian_00053.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,2},{205,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,135}}</string>
			<key>sourceSize</key>
			<string>{205,135}</string>
		</dict>
		<key>New_dlls_ptbs_baibo_00038.png</key>
		<dict>
			<key>frame</key>
			<string>{{539,936},{58,60}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>New_kl_putongbisha2_baoqi_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{747,402},{52,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,59}}</string>
			<key>sourceSize</key>
			<string>{52,59}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>bzxem_common1.png</string>
		<key>scale</key>
		<real>0.51</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>bzxem_common1.png</string>
	</dict>
</dict>
</plist>
