<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>tetui2003_zailin_chunjiesz_tupian_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{595,404},{12,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{12,69}}</string>
			<key>sourceSize</key>
			<string>{14,71}</string>
		</dict>
		<key>tetui2003_zailin_chunjiesz_tupian_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{860,440},{72,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{72,88}}</string>
			<key>sourceSize</key>
			<string>{74,90}</string>
		</dict>
		<key>tetui2003_zailin_chunjiesz_tupian_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,404},{190,231}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{190,231}}</string>
			<key>sourceSize</key>
			<string>{192,233}</string>
		</dict>
		<key>tetui2003_zailin_chunjiesz_tupian_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{860,384},{28,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{28,50}}</string>
			<key>sourceSize</key>
			<string>{30,52}</string>
		</dict>
		<key>tetui2003_zailin_chunjiesz_tupian_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{721,288},{95,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{95,170}}</string>
			<key>sourceSize</key>
			<string>{97,172}</string>
		</dict>
		<key>tetui2003_zailin_chunjiesz_tupian_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{721,2},{146,222}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{146,222}}</string>
			<key>sourceSize</key>
			<string>{148,224}</string>
		</dict>
		<key>tetui2003_zailin_chunjiesz_tupian_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{219,620}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{219,620}}</string>
			<key>sourceSize</key>
			<string>{221,622}</string>
		</dict>
		<key>tetui2003_zailin_chunjiesz_tupian_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,2},{140,618}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{140,618}}</string>
			<key>sourceSize</key>
			<string>{142,620}</string>
		</dict>
		<key>tetui2003_zailin_chunjiesz_tupian_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,2},{175,401}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{175,401}}</string>
			<key>sourceSize</key>
			<string>{177,403}</string>
		</dict>
		<key>tetui2003_zailin_chunjiesz_tupian_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{892,372},{67,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{67,130}}</string>
			<key>sourceSize</key>
			<string>{69,132}</string>
		</dict>
		<key>tetui2003_zailin_chunjiesz_tupian_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,623},{375,398}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{375,398}}</string>
			<key>sourceSize</key>
			<string>{377,400}</string>
		</dict>
		<key>tetui2003_zailin_chunjiesz_tupian_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{698,384},{70,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{70,161}}</string>
			<key>sourceSize</key>
			<string>{72,163}</string>
		</dict>
		<key>tetui2003_zailin_chunjiesz_tupian_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{721,149},{181,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{181,138}}</string>
			<key>sourceSize</key>
			<string>{183,140}</string>
		</dict>
		<key>tetui2003_zailin_chunjiesz_tupian_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{539,2},{181,371}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{181,371}}</string>
			<key>sourceSize</key>
			<string>{183,373}</string>
		</dict>
		<key>tetui2003_zailin_chunjiesz_tupian_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{903,212},{113,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{113,159}}</string>
			<key>sourceSize</key>
			<string>{115,161}</string>
		</dict>
		<key>tetui2003_zailin_chunjiesz_tupian_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{944,2},{76,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{76,165}}</string>
			<key>sourceSize</key>
			<string>{78,167}</string>
		</dict>
		<key>tetui2003_zailin_chunjiesz_tupian_44444.png</key>
		<dict>
			<key>frame</key>
			<string>{{609,374},{88,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{88,146}}</string>
			<key>sourceSize</key>
			<string>{90,148}</string>
		</dict>
		<key>tetui2003_zailin_chunjiesz_tupian_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{943,168},{37,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{37,71}}</string>
			<key>sourceSize</key>
			<string>{39,73}</string>
		</dict>
		<key>tetui2003_zailin_chunjiesz_tupian_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{539,374},{29,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{29,69}}</string>
			<key>sourceSize</key>
			<string>{31,71}</string>
		</dict>
		<key>tetui2003_zailin_chunjiesz_tupian_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,595},{15,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{15,57}}</string>
			<key>sourceSize</key>
			<string>{17,59}</string>
		</dict>
		<key>tetui2003_zailin_chunjiesz_tupian_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{903,149},{39,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{39,62}}</string>
			<key>sourceSize</key>
			<string>{41,64}</string>
		</dict>
		<key>tetui2003_zailin_chunjiesz_tupian_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,440},{73,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{73,84}}</string>
			<key>sourceSize</key>
			<string>{75,86}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>szTeruiCard_role0.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>szTeruiCard_role0.png</string>
	</dict>
</dict>
</plist>
