<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_lmbs_bo_00105_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{893,932},{84,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,85}}</string>
			<key>sourceSize</key>
			<string>{84,85}</string>
		</dict>
		<key>New_lmbs_bo_00107_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{777,386},{139,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,141}}</string>
			<key>sourceSize</key>
			<string>{139,141}</string>
		</dict>
		<key>New_lmbs_bo_00109_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,223},{169,173}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{169,173}}</string>
			<key>sourceSize</key>
			<string>{173,173}</string>
		</dict>
		<key>New_lmbs_bo_00111_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,398},{175,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,179}}</string>
			<key>sourceSize</key>
			<string>{175,179}</string>
		</dict>
		<key>New_lmbs_bo_00113_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{220,225}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,225}}</string>
			<key>sourceSize</key>
			<string>{220,225}</string>
		</dict>
		<key>New_lmbs_quantoutexiao2_00023_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,579},{117,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,28}}</string>
			<key>sourceSize</key>
			<string>{117,28}</string>
		</dict>
		<key>New_lmbs_quantoutexiao2_00025_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{589,355},{202,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,29}}</string>
			<key>sourceSize</key>
			<string>{202,29}</string>
		</dict>
		<key>New_lmbs_quantoutexiao2_00027_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{586,554},{191,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{191,22}}</string>
			<key>sourceSize</key>
			<string>{193,22}</string>
		</dict>
		<key>New_lmbs_quantoutexiao_00013_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{862,893},{116,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{116,37}}</string>
			<key>sourceSize</key>
			<string>{118,37}</string>
		</dict>
		<key>New_lmbs_quantoutexiao_00015_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,229},{202,48}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{202,48}}</string>
			<key>sourceSize</key>
			<string>{204,48}</string>
		</dict>
		<key>New_lmbs_quantoutexiao_00017_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{703,945},{188,42}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{188,42}}</string>
			<key>sourceSize</key>
			<string>{194,42}</string>
		</dict>
		<key>New_lmbs_shoubutuowei_00089_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{881,305},{37,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,34}}</string>
			<key>sourceSize</key>
			<string>{37,34}</string>
		</dict>
		<key>New_lmbs_shoubutuowei_00091_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{962,534},{68,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,39}}</string>
			<key>sourceSize</key>
			<string>{68,39}</string>
		</dict>
		<key>New_lmbs_shoubutuowei_00093_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{920,269},{102,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,54}}</string>
			<key>sourceSize</key>
			<string>{102,54}</string>
		</dict>
		<key>New_lmbs_shoubutuowei_00095_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{920,173},{102,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,94}}</string>
			<key>sourceSize</key>
			<string>{102,94}</string>
		</dict>
		<key>New_lmbs_shoubutuowei_00097_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,325},{107,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,103}}</string>
			<key>sourceSize</key>
			<string>{107,103}</string>
		</dict>
		<key>New_lmbs_shoubutuowei_00099_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,434},{98,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,101}}</string>
			<key>sourceSize</key>
			<string>{98,101}</string>
		</dict>
		<key>New_lmbs_shoubutuowei_00101_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{862,764},{127,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,112}}</string>
			<key>sourceSize</key>
			<string>{127,112}</string>
		</dict>
		<key>New_lmbs_shoubutuowei_00103_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,890},{188,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,124}}</string>
			<key>sourceSize</key>
			<string>{188,124}</string>
		</dict>
		<key>New_lmbs_shoubutuowei_00105_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,579},{190,117}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{190,117}}</string>
			<key>sourceSize</key>
			<string>{192,117}</string>
		</dict>
		<key>New_lmbs_shoubutuowei_00107_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{530,740},{171,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,90}}</string>
			<key>sourceSize</key>
			<string>{171,90}</string>
		</dict>
		<key>New_lmbs_shoubutuowei_00109_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{878,534},{82,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,96}}</string>
			<key>sourceSize</key>
			<string>{82,96}</string>
		</dict>
		<key>New_lmbs_shoubutuowei_00111_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,305},{73,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,68}}</string>
			<key>sourceSize</key>
			<string>{73,68}</string>
		</dict>
		<key>New_lmbs_xuanwo2_00134_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,178},{112,125}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{112,125}}</string>
			<key>sourceSize</key>
			<string>{114,127}</string>
		</dict>
		<key>New_lmbs_xuanwo2_00136_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{723,578},{153,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,184}}</string>
			<key>sourceSize</key>
			<string>{153,184}</string>
		</dict>
		<key>New_lmbs_xuanwo2_00138_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,669},{176,219}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{176,219}}</string>
			<key>sourceSize</key>
			<string>{178,221}</string>
		</dict>
		<key>New_lmbs_xuanwo2_00140_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,449},{181,218}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,218}}</string>
			<key>sourceSize</key>
			<string>{181,218}</string>
		</dict>
		<key>New_lmbs_xuanwo2_00142_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,229},{182,218}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,218}}</string>
			<key>sourceSize</key>
			<string>{182,218}</string>
		</dict>
		<key>New_lmbs_xuanwo2_00144_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{589,2},{174,221}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,221}}</string>
			<key>sourceSize</key>
			<string>{174,221}</string>
		</dict>
		<key>New_lmbs_xuanwo2_00146_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,2},{180,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,216}}</string>
			<key>sourceSize</key>
			<string>{180,216}</string>
		</dict>
		<key>New_lmbs_xuanwo2_00148_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,2},{181,219}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,219}}</string>
			<key>sourceSize</key>
			<string>{181,219}</string>
		</dict>
		<key>New_lmbs_xuanwo2_00150_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{589,178},{175,215}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,215}}</string>
			<key>sourceSize</key>
			<string>{175,215}</string>
		</dict>
		<key>New_lmbs_xuanwoyan_00138_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{878,632},{56,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,64}}</string>
			<key>sourceSize</key>
			<string>{56,64}</string>
		</dict>
		<key>New_lmbs_xuanwoyan_00140_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{413,572},{119,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,124}}</string>
			<key>sourceSize</key>
			<string>{119,124}</string>
		</dict>
		<key>New_lmbs_xuanwoyan_00142_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,698},{166,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,158}}</string>
			<key>sourceSize</key>
			<string>{166,158}</string>
		</dict>
		<key>New_lmbs_xuanwoyan_00144_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,866},{172,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,156}}</string>
			<key>sourceSize</key>
			<string>{172,156}</string>
		</dict>
		<key>New_lmbs_xuanwoyan_00146_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,866},{174,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,156}}</string>
			<key>sourceSize</key>
			<string>{174,156}</string>
		</dict>
		<key>New_lmbs_xuanwoyan_00148_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,220},{180,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,162}}</string>
			<key>sourceSize</key>
			<string>{180,162}</string>
		</dict>
		<key>New_lmbs_xuanwoyan_00150_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,832},{185,159}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{185,159}}</string>
			<key>sourceSize</key>
			<string>{185,161}</string>
		</dict>
		<key>New_lmbs_xuanwoyan_00152_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,698},{188,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,166}}</string>
			<key>sourceSize</key>
			<string>{188,166}</string>
		</dict>
		<key>New_lmbs_xuanwoyan_00154_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,2},{188,169}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{188,169}}</string>
			<key>sourceSize</key>
			<string>{188,173}</string>
		</dict>
		<key>New_lmbs_xuanwoyan_00156_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{413,384},{186,171}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,171}}</string>
			<key>sourceSize</key>
			<string>{192,171}</string>
		</dict>
		<key>New_lmbs_xuanwoyan_00158_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{534,578},{187,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,160}}</string>
			<key>sourceSize</key>
			<string>{187,160}</string>
		</dict>
		<key>New_lmbs_xuanwoyan_00160_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{586,386},{189,166}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,166}}</string>
			<key>sourceSize</key>
			<string>{191,166}</string>
		</dict>
		<key>New_lmbs_xuanwoyan_00162_slmtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{703,764},{179,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,157}}</string>
			<key>sourceSize</key>
			<string>{179,157}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>slmtimage.png</string>
		<key>scale</key>
		<real>0.55</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>slmtimage.png</string>
	</dict>
</dict>
</plist>
