<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask01_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,156},{431,431}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{431,431}}</string>
			<key>sourceSize</key>
			<string>{431,431}</string>
		</dict>
		<key>wy_10_10_61293_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{855,156},{427,359}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{427,359}}</string>
			<key>sourceSize</key>
			<string>{427,359}</string>
		</dict>
		<key>wy_11_11_13950_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,1787},{226,221}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,221}}</string>
			<key>sourceSize</key>
			<string>{226,221}</string>
		</dict>
		<key>wy_12_12_40012_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1787},{205,242}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,242}}</string>
			<key>sourceSize</key>
			<string>{205,242}</string>
		</dict>
		<key>wy_13_13_45806_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,1776},{625,211}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{625,211}}</string>
			<key>sourceSize</key>
			<string>{625,211}</string>
		</dict>
		<key>wy_18_18_39413_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,1140},{638,204}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{638,204}}</string>
			<key>sourceSize</key>
			<string>{638,204}</string>
		</dict>
		<key>wy_20_20_42092_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,640},{298,482}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{298,482}}</string>
			<key>sourceSize</key>
			<string>{298,482}</string>
		</dict>
		<key>wy_23_23_4476_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,589},{546,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{546,146}}</string>
			<key>sourceSize</key>
			<string>{546,146}</string>
		</dict>
		<key>wy_25_25_28620_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,156},{418,457}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{418,457}}</string>
			<key>sourceSize</key>
			<string>{428,457}</string>
		</dict>
		<key>wy_26_26_60458_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,615},{519,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{519,159}}</string>
			<key>sourceSize</key>
			<string>{519,159}</string>
		</dict>
		<key>wy_28_28_10821_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{611,589},{308,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{308,512}}</string>
			<key>sourceSize</key>
			<string>{308,512}</string>
		</dict>
		<key>wy_29_29_9908_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1302,2},{683,636}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{683,636}}</string>
			<key>sourceSize</key>
			<string>{683,640}</string>
		</dict>
		<key>wy_30_30_93166_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,1532},{277,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{277,161}}</string>
			<key>sourceSize</key>
			<string>{277,161}</string>
		</dict>
		<key>wy_31_31_95364_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{418,1140},{634,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{634,210}}</string>
			<key>sourceSize</key>
			<string>{634,210}</string>
		</dict>
		<key>wy_33_33_99075_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1314,1274},{132,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,132}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>wy_34_34_95671_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1189,1551},{132,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,132}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>wy_35_35_42546_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1189,1417},{132,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,132}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>wy_36_36_75835_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1059,1819},{132,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,132}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>wy_37_37_19208_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1059,1685},{132,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,132}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>wy_38_38_97322_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1055,1551},{132,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,132}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>wy_39_39_44399_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1189,1140},{132,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,132}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>wy_40_40_99149_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1180,1283},{132,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,132}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>wy_41_41_10908_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1055,1417},{132,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,132}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>wy_42_42_50225_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1046,1283},{132,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,132}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>wy_43_43_19817_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{921,651},{132,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,132}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>wy_44_44_70633_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{921,517},{132,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,132}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>wy_6_6_56672_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1059,517},{156,202}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,202}}</string>
			<key>sourceSize</key>
			<string>{156,202}</string>
		</dict>
		<key>wy_76_76_52624_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{1298,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1298,152}}</string>
			<key>sourceSize</key>
			<string>{1298,152}</string>
		</dict>
		<key>wy_7_7_70362_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1046,1140},{141,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,141}}</string>
			<key>sourceSize</key>
			<string>{141,141}</string>
		</dict>
		<key>wy_81_81_98757_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{919,1140},{125,315}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,315}}</string>
			<key>sourceSize</key>
			<string>{125,315}</string>
		</dict>
		<key>wy_82_82_83032_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1987,2},{1136,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1136,45}}</string>
			<key>sourceSize</key>
			<string>{1136,45}</string>
		</dict>
		<key>wy_83_83_73392_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1140},{645,208}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{645,208}}</string>
			<key>sourceSize</key>
			<string>{645,208}</string>
		</dict>
		<key>wy_84_84_1245_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,1140},{287,390}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{287,390}}</string>
			<key>sourceSize</key>
			<string>{287,390}</string>
		</dict>
		<key>wy_8_8_97093_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{921,785},{297,304}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{297,304}}</string>
			<key>sourceSize</key>
			<string>{307,304}</string>
		</dict>
		<key>wy_9_9_56065_znyyimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,1532},{144,191}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,191}}</string>
			<key>sourceSize</key>
			<string>{144,191}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>znyyimage.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>znyyimage.png</string>
	</dict>
</dict>
</plist>
