<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wy_10_10_19963_scgdximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,219},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,28}</string>
		</dict>
		<key>wy_11_11_83245_scgdximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,168},{89,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,89}}</string>
			<key>sourceSize</key>
			<string>{89,89}</string>
		</dict>
		<key>wy_12_12_39405_scgdximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,315},{60,59}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{60,59}}</string>
			<key>sourceSize</key>
			<string>{62,61}</string>
		</dict>
		<key>wy_13_13_51733_scgdximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,2},{180,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,190}}</string>
			<key>sourceSize</key>
			<string>{180,190}</string>
		</dict>
		<key>wy_14_14_81362_scgdximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,259},{120,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{120,120}}</string>
			<key>sourceSize</key>
			<string>{122,122}</string>
		</dict>
		<key>wy_15_15_99940_scgdximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,168},{26,27}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{26,27}}</string>
			<key>sourceSize</key>
			<string>{26,37}</string>
		</dict>
		<key>wy_16_16_49975_scgdximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,235},{135,78}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,3},{135,78}}</string>
			<key>sourceSize</key>
			<string>{155,84}</string>
		</dict>
		<key>wy_17_17_84982_scgdximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,326},{148,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,59}}</string>
			<key>sourceSize</key>
			<string>{148,59}</string>
		</dict>
		<key>wy_18_18_75574_scgdximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,196},{21,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,21}}</string>
			<key>sourceSize</key>
			<string>{21,21}</string>
		</dict>
		<key>wy_1_1_68244_scgdximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,2},{104,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,164}}</string>
			<key>sourceSize</key>
			<string>{104,164}</string>
		</dict>
		<key>wy_2_2_41245_scgdximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{195,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{195,41}}</string>
			<key>sourceSize</key>
			<string>{195,41}</string>
		</dict>
		<key>wy_3_3_3801_scgdximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,235},{51,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,140}}</string>
			<key>sourceSize</key>
			<string>{51,140}</string>
		</dict>
		<key>wy_5_5_77873_scgdximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,45},{147,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,190}}</string>
			<key>sourceSize</key>
			<string>{147,190}</string>
		</dict>
		<key>wy_6_6_14445_scgdximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,184},{140,186}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,186}}</string>
			<key>sourceSize</key>
			<string>{140,186}</string>
		</dict>
		<key>wy_8_8_95326_scgdximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{482,168},{26,27}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{26,27}}</string>
			<key>sourceSize</key>
			<string>{26,37}</string>
		</dict>
		<key>wy_9_9_33761_scgdximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,194},{186,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{186,39}}</string>
			<key>sourceSize</key>
			<string>{188,39}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>scgdximage.png</string>
		<key>scale</key>
		<real>0.78</real>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>scgdximage.png</string>
	</dict>
</dict>
</plist>
