<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_hongquan__00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{643,756},{178,176}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{178,176}}</string>
			<key>sourceSize</key>
			<string>{180,182}</string>
		</dict>
		<key>New_hongquan__00021.png</key>
		<dict>
			<key>frame</key>
			<string>{{820,914},{106,108}}</string>
			<key>offset</key>
			<string>{5,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,32},{106,108}}</string>
			<key>sourceSize</key>
			<string>{180,182}</string>
		</dict>
		<key>New_hongquan__00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{932,304},{90,90}}</string>
			<key>offset</key>
			<string>{3,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{48,41},{90,90}}</string>
			<key>sourceSize</key>
			<string>{180,182}</string>
		</dict>
		<key>New_klk_ptbs_baodian2_00025.png</key>
		<dict>
			<key>frame</key>
			<string>{{521,935},{153,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,81}}</string>
			<key>sourceSize</key>
			<string>{153,81}</string>
		</dict>
		<key>New_klk_ptbs_shenhoubaibo_00027.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,935},{84,51}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,51}}</string>
			<key>sourceSize</key>
			<string>{86,51}</string>
		</dict>
		<key>New_klk_ptbs_shenhoubaibo_00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{911,499},{109,65}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,65}}</string>
			<key>sourceSize</key>
			<string>{111,65}</string>
		</dict>
		<key>New_klk_ptbs_shenhoubaibo_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{933,2},{150,88}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,88}}</string>
			<key>sourceSize</key>
			<string>{152,88}</string>
		</dict>
		<key>New_sqlexv_liumenbisha_shouxuanfeng_00050.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,408},{178,215}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,215}}</string>
			<key>sourceSize</key>
			<string>{178,215}</string>
		</dict>
		<key>New_sqlexv_liumenbisha_shouxuanfeng_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,220},{178,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,216}}</string>
			<key>sourceSize</key>
			<string>{178,216}</string>
		</dict>
		<key>New_sqlexv_liumenbisha_shouxuanfeng_00053.png</key>
		<dict>
			<key>frame</key>
			<string>{{713,2},{174,219}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,219}}</string>
			<key>sourceSize</key>
			<string>{174,219}</string>
		</dict>
		<key>New_sqlexv_liumenbisha_shouxuanfeng_00054.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,221},{178,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,216}}</string>
			<key>sourceSize</key>
			<string>{178,216}</string>
		</dict>
		<key>New_sqlexv_liumenbisha_shouxuanfeng_00061.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,756},{178,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,210}}</string>
			<key>sourceSize</key>
			<string>{178,210}</string>
		</dict>
		<key>New_sqlexv_liumenbisha_shouxuanfeng_00062.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,581},{172,215}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,215}}</string>
			<key>sourceSize</key>
			<string>{172,215}</string>
		</dict>
		<key>New_sqlexv_liumenbisha_shouxuanfeng_00063.png</key>
		<dict>
			<key>frame</key>
			<string>{{713,177},{174,218}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,218}}</string>
			<key>sourceSize</key>
			<string>{174,218}</string>
		</dict>
		<key>New_sqlexv_liumenbisha_shouxuanfeng_00064.png</key>
		<dict>
			<key>frame</key>
			<string>{{694,352},{177,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,216}}</string>
			<key>sourceSize</key>
			<string>{177,216}</string>
		</dict>
		<key>New_sqlexv_liumenbisha_shouxuanfeng_00066.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,227},{180,215}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,215}}</string>
			<key>sourceSize</key>
			<string>{180,215}</string>
		</dict>
		<key>New_sqlexv_liumenbisha_shouxuanfeng_00067.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,754},{180,214}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,214}}</string>
			<key>sourceSize</key>
			<string>{180,214}</string>
		</dict>
		<key>New_sqlexv_liumenbisha_shouxuanfeng_00068.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,399},{177,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,216}}</string>
			<key>sourceSize</key>
			<string>{177,216}</string>
		</dict>
		<key>New_sqlexv_liumenbisha_shouxuanfeng_00074.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,400},{180,215}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,215}}</string>
			<key>sourceSize</key>
			<string>{180,215}</string>
		</dict>
		<key>New_sqlexv_liumenbisha_shouxuanfeng_00076.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,769},{180,214}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,214}}</string>
			<key>sourceSize</key>
			<string>{180,214}</string>
		</dict>
		<key>New_sqlexv_liumenbisha_shouxuanfeng_00077.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,587},{181,214}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,214}}</string>
			<key>sourceSize</key>
			<string>{181,214}</string>
		</dict>
		<key>New_sqlexv_liumenbisha_shouxuanfeng_00081.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,577},{178,215}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,215}}</string>
			<key>sourceSize</key>
			<string>{178,215}</string>
		</dict>
		<key>New_sqlexv_liumenbisha_shouxuanfeng_00086.png</key>
		<dict>
			<key>frame</key>
			<string>{{820,738},{175,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,201}}</string>
			<key>sourceSize</key>
			<string>{175,201}</string>
		</dict>
		<key>New_sqlexv_liumenbisha_yan_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{675,935},{138,66}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,66}}</string>
			<key>sourceSize</key>
			<string>{138,68}</string>
		</dict>
		<key>New_sqlexv_liumenbisha_yan_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{933,153},{150,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,87}}</string>
			<key>sourceSize</key>
			<string>{150,87}</string>
		</dict>
		<key>New_sqlexv_liumenbisha_yan_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{890,565},{172,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,132}}</string>
			<key>sourceSize</key>
			<string>{172,132}</string>
		</dict>
		<key>New_sqlexv_liumenbisha_yan_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,935},{86,121}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{86,121}}</string>
			<key>sourceSize</key>
			<string>{90,123}</string>
		</dict>
		<key>New_sqlexv_putongbisha_quanji_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,935},{129,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,87}}</string>
			<key>sourceSize</key>
			<string>{129,87}</string>
		</dict>
		<key>New_sqlexv_putongbisha_quanji_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{237,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{237,224}}</string>
			<key>sourceSize</key>
			<string>{237,224}</string>
		</dict>
		<key>New_sqlexv_putongbisha_quanji_00036.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,2},{235,217}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,217}}</string>
			<key>sourceSize</key>
			<string>{235,217}</string>
		</dict>
		<key>New_sqlexv_putongbisha_quanji_00037.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,2},{236,218}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,218}}</string>
			<key>sourceSize</key>
			<string>{236,218}</string>
		</dict>
		<key>New_sqlexv_putongbisha_quanji_00039.png</key>
		<dict>
			<key>frame</key>
			<string>{{674,530},{207,215}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,215}}</string>
			<key>sourceSize</key>
			<string>{207,215}</string>
		</dict>
		<key>New_sqlexv_xiaojineng_shouyan_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,950},{169,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{169,72}}</string>
			<key>sourceSize</key>
			<string>{171,72}</string>
		</dict>
		<key>New_sqlexv_xiaojineng_yan2_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,950},{50,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,41}}</string>
			<key>sourceSize</key>
			<string>{50,41}</string>
		</dict>
		<key>New_sqlexv_xiaojineng_yan_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{982,914},{67,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{67,38}}</string>
			<key>sourceSize</key>
			<string>{69,40}</string>
		</dict>
		<key>New_sqlexv_xiaojineng_yan_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{927,914},{106,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{106,54}}</string>
			<key>sourceSize</key>
			<string>{108,54}</string>
		</dict>
		<key>New_sqlexv_xiaojineng_yan_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{911,395},{111,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{111,52}}</string>
			<key>sourceSize</key>
			<string>{111,54}</string>
		</dict>
		<key>New_sqlexv_xiaojineng_yan_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{911,448},{111,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{111,50}}</string>
			<key>sourceSize</key>
			<string>{113,52}</string>
		</dict>
		<key>Newsz_dlls_ptbs_baibo_00037.png</key>
		<dict>
			<key>frame</key>
			<string>{{982,982},{35,37}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,37}}</string>
			<key>sourceSize</key>
			<string>{37,37}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>sqleXV_common1.png</string>
		<key>scale</key>
		<real>0.45</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>sqleXV_common1.png</string>
	</dict>
</dict>
</plist>
