<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>a_dabi_you_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,243},{31,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,39}}</string>
			<key>sourceSize</key>
			<string>{31,39}</string>
		</dict>
		<key>a_dabi_zuo_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,86},{28,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,42}}</string>
			<key>sourceSize</key>
			<string>{28,42}</string>
		</dict>
		<key>a_datui_you_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,201},{30,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,38}}</string>
			<key>sourceSize</key>
			<string>{30,38}</string>
		</dict>
		<key>a_datui_zuo_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,284},{29,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,47}}</string>
			<key>sourceSize</key>
			<string>{29,47}</string>
		</dict>
		<key>a_fa1_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,353},{11,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,16}}</string>
			<key>sourceSize</key>
			<string>{11,16}</string>
		</dict>
		<key>a_fa2_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,268},{14,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,15}}</string>
			<key>sourceSize</key>
			<string>{14,15}</string>
		</dict>
		<key>a_kua_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,86},{46,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,28}}</string>
			<key>sourceSize</key>
			<string>{46,28}</string>
		</dict>
		<key>a_qugan1_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,2},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,82}}</string>
			<key>sourceSize</key>
			<string>{82,82}</string>
		</dict>
		<key>a_qugan_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,201},{82,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,69}}</string>
			<key>sourceSize</key>
			<string>{82,69}</string>
		</dict>
		<key>a_shou_you_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{257,86},{27,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,27}}</string>
			<key>sourceSize</key>
			<string>{27,27}</string>
		</dict>
		<key>a_shou_zuo_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,410},{36,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,24}}</string>
			<key>sourceSize</key>
			<string>{36,24}</string>
		</dict>
		<key>a_tou_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{54,449},{47,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,57}}</string>
			<key>sourceSize</key>
			<string>{47,57}</string>
		</dict>
		<key>a_xiaobi_you_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,86},{28,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,33}}</string>
			<key>sourceSize</key>
			<string>{28,33}</string>
		</dict>
		<key>a_xiaobi_zuo_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,56},{44,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,28}}</string>
			<key>sourceSize</key>
			<string>{44,28}</string>
		</dict>
		<key>a_xiaotui_you_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,405},{34,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,41}}</string>
			<key>sourceSize</key>
			<string>{34,41}</string>
		</dict>
		<key>a_xiaotui_zuo_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,86},{28,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,47}}</string>
			<key>sourceSize</key>
			<string>{28,47}</string>
		</dict>
		<key>a_xie_you_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,284},{25,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,38}}</string>
			<key>sourceSize</key>
			<string>{25,38}</string>
		</dict>
		<key>a_xie_zuo_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,277},{34,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,25}}</string>
			<key>sourceSize</key>
			<string>{34,25}</string>
		</dict>
		<key>a_yan_bankai_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,349},{9,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,5}}</string>
			<key>sourceSize</key>
			<string>{9,5}</string>
		</dict>
		<key>a_yan_bi1_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,497},{8,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,6}}</string>
			<key>sourceSize</key>
			<string>{8,6}</string>
		</dict>
		<key>a_yan_bi2_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,506},{9,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,4}}</string>
			<key>sourceSize</key>
			<string>{9,4}</string>
		</dict>
		<key>a_yan_kai_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,349},{10,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,6}}</string>
			<key>sourceSize</key>
			<string>{10,6}</string>
		</dict>
		<key>a_zui_ya_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,268},{14,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,9}}</string>
			<key>sourceSize</key>
			<string>{14,9}</string>
		</dict>
		<key>a_zui_zhang_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,349},{13,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,10}}</string>
			<key>sourceSize</key>
			<string>{13,10}</string>
		</dict>
		<key>b_cebei1_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,367},{79,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,69}}</string>
			<key>sourceSize</key>
			<string>{79,69}</string>
		</dict>
		<key>b_cebei2_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,116},{75,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,83}}</string>
			<key>sourceSize</key>
			<string>{75,83}</string>
		</dict>
		<key>b_cekua_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,361},{42,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,29}}</string>
			<key>sourceSize</key>
			<string>{42,29}</string>
		</dict>
		<key>b_dabi_nei_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,284},{35,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,45}}</string>
			<key>sourceSize</key>
			<string>{35,45}</string>
		</dict>
		<key>b_dabi_wai_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,448},{35,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,47}}</string>
			<key>sourceSize</key>
			<string>{35,47}</string>
		</dict>
		<key>b_datui_wai_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,448},{27,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,40}}</string>
			<key>sourceSize</key>
			<string>{27,40}</string>
		</dict>
		<key>b_kua_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,324},{34,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,29}}</string>
			<key>sourceSize</key>
			<string>{34,29}</string>
		</dict>
		<key>b_qugan_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,367},{56,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,80}}</string>
			<key>sourceSize</key>
			<string>{56,80}</string>
		</dict>
		<key>b_shou_nei_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,147},{23,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,24}}</string>
			<key>sourceSize</key>
			<string>{23,24}</string>
		</dict>
		<key>b_shou_wai_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,60},{26,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,24}}</string>
			<key>sourceSize</key>
			<string>{26,24}</string>
		</dict>
		<key>b_xiaobi_nei_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,116},{27,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,56}}</string>
			<key>sourceSize</key>
			<string>{27,56}</string>
		</dict>
		<key>b_xiaobi_wai_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,116},{27,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,55}}</string>
			<key>sourceSize</key>
			<string>{27,55}</string>
		</dict>
		<key>b_xiaotui_wai_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,173},{26,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,52}}</string>
			<key>sourceSize</key>
			<string>{26,52}</string>
		</dict>
		<key>b_xie_wai_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,490},{36,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,20}}</string>
			<key>sourceSize</key>
			<string>{36,20}</string>
		</dict>
		<key>bi1_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,448},{46,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,45}}</string>
			<key>sourceSize</key>
			<string>{46,45}</string>
		</dict>
		<key>bi2_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{45,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,112}}</string>
			<key>sourceSize</key>
			<string>{45,112}</string>
		</dict>
		<key>c_dabi_zuo_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,2},{35,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,50}}</string>
			<key>sourceSize</key>
			<string>{35,50}</string>
		</dict>
		<key>c_datui_zuo_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,2},{31,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,51}}</string>
			<key>sourceSize</key>
			<string>{31,51}</string>
		</dict>
		<key>c_kua_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,116},{52,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,31}}</string>
			<key>sourceSize</key>
			<string>{52,31}</string>
		</dict>
		<key>c_liuhai1_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,353},{12,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,12}}</string>
			<key>sourceSize</key>
			<string>{12,12}</string>
		</dict>
		<key>c_mawei1_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,201},{65,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,34}}</string>
			<key>sourceSize</key>
			<string>{65,34}</string>
		</dict>
		<key>c_mawei2_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,284},{27,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,63}}</string>
			<key>sourceSize</key>
			<string>{27,63}</string>
		</dict>
		<key>c_mawei3_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,2},{52,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,30}}</string>
			<key>sourceSize</key>
			<string>{52,30}</string>
		</dict>
		<key>c_mawei4_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,285},{66,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,37}}</string>
			<key>sourceSize</key>
			<string>{66,37}</string>
		</dict>
		<key>c_qugan_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,285},{80,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,66}}</string>
			<key>sourceSize</key>
			<string>{80,66}</string>
		</dict>
		<key>c_shou_zuo_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,54},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{28,30}</string>
		</dict>
		<key>c_tou1_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,116},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>c_tou2_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,201},{48,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,53}}</string>
			<key>sourceSize</key>
			<string>{48,53}</string>
		</dict>
		<key>c_xiaobi_zuo_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,361},{27,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,47}}</string>
			<key>sourceSize</key>
			<string>{27,47}</string>
		</dict>
		<key>c_xiaotui_zuo_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{179,55},{29,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,48}}</string>
			<key>sourceSize</key>
			<string>{29,48}</string>
		</dict>
		<key>c_xie_zuo_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,151},{30,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,19}}</string>
			<key>sourceSize</key>
			<string>{30,19}</string>
		</dict>
		<key>mawei1_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,448},{49,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,56}}</string>
			<key>sourceSize</key>
			<string>{49,56}</string>
		</dict>
		<key>shou10_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,313},{29,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,33}}</string>
			<key>sourceSize</key>
			<string>{29,33}</string>
		</dict>
		<key>shou11_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,256},{33,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,26}}</string>
			<key>sourceSize</key>
			<string>{33,26}</string>
		</dict>
		<key>shou12_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,173},{30,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,26}}</string>
			<key>sourceSize</key>
			<string>{30,26}</string>
		</dict>
		<key>shou13_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,331},{32,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,28}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>shou14_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,116},{33,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,25}}</string>
			<key>sourceSize</key>
			<string>{33,25}</string>
		</dict>
		<key>shou16_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,211},{24,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,25}}</string>
			<key>sourceSize</key>
			<string>{24,25}</string>
		</dict>
		<key>shou18_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,2},{26,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,26}}</string>
			<key>sourceSize</key>
			<string>{26,26}</string>
		</dict>
		<key>shou19_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{247,116},{29,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,29}}</string>
			<key>sourceSize</key>
			<string>{29,29}</string>
		</dict>
		<key>shou1_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,360},{27,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,34}}</string>
			<key>sourceSize</key>
			<string>{27,34}</string>
		</dict>
		<key>shou20_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,183},{26,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,22}}</string>
			<key>sourceSize</key>
			<string>{26,22}</string>
		</dict>
		<key>shou22_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,30},{26,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,25}}</string>
			<key>sourceSize</key>
			<string>{26,25}</string>
		</dict>
		<key>shou23_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,31},{27,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,24}}</string>
			<key>sourceSize</key>
			<string>{27,24}</string>
		</dict>
		<key>shou24_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,2},{22,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,26}}</string>
			<key>sourceSize</key>
			<string>{22,26}</string>
		</dict>
		<key>shou25_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,86},{30,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,28}}</string>
			<key>sourceSize</key>
			<string>{30,28}</string>
		</dict>
		<key>shou2_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,348},{29,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,21}}</string>
			<key>sourceSize</key>
			<string>{29,21}</string>
		</dict>
		<key>shou3_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,166},{33,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,30}}</string>
			<key>sourceSize</key>
			<string>{33,30}</string>
		</dict>
		<key>shou4_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,241},{27,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,34}}</string>
			<key>sourceSize</key>
			<string>{27,34}</string>
		</dict>
		<key>shou5_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,410},{24,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,36}}</string>
			<key>sourceSize</key>
			<string>{24,36}</string>
		</dict>
		<key>shou6_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,410},{23,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,36}}</string>
			<key>sourceSize</key>
			<string>{23,36}</string>
		</dict>
		<key>shou7_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,396},{29,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,25}}</string>
			<key>sourceSize</key>
			<string>{29,25}</string>
		</dict>
		<key>shou8_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,174},{25,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,46}}</string>
			<key>sourceSize</key>
			<string>{25,46}</string>
		</dict>
		<key>shou9_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,333},{32,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,26}}</string>
			<key>sourceSize</key>
			<string>{32,26}</string>
		</dict>
		<key>tou_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,449},{50,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,57}}</string>
			<key>sourceSize</key>
			<string>{50,57}</string>
		</dict>
		<key>tui1_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,361},{39,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,47}}</string>
			<key>sourceSize</key>
			<string>{39,47}</string>
		</dict>
		<key>xie1_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,201},{29,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,40}}</string>
			<key>sourceSize</key>
			<string>{29,40}</string>
		</dict>
		<key>xie2_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,2},{27,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,26}}</string>
			<key>sourceSize</key>
			<string>{27,26}</string>
		</dict>
		<key>xie3_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,201},{24,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,40}}</string>
			<key>sourceSize</key>
			<string>{24,40}</string>
		</dict>
		<key>xie4_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,256},{26,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,42}}</string>
			<key>sourceSize</key>
			<string>{26,42}</string>
		</dict>
		<key>ya_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,268},{14,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,9}}</string>
			<key>sourceSize</key>
			<string>{14,9}</string>
		</dict>
		<key>yan1_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,497},{20,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,7}}</string>
			<key>sourceSize</key>
			<string>{20,7}</string>
		</dict>
		<key>yan2_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,497},{20,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,8}}</string>
			<key>sourceSize</key>
			<string>{20,8}</string>
		</dict>
		<key>yan_bi_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,166},{21,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,5}}</string>
			<key>sourceSize</key>
			<string>{21,5}</string>
		</dict>
		<key>zui_luoboteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,353},{13,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,11}}</string>
			<key>sourceSize</key>
			<string>{13,11}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA4444</string>
		<key>realTextureFileName</key>
		<string>luoboteimage.png</string>
		<key>scale</key>
		<real>0.5</real>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>luoboteimage.png</string>
	</dict>
</dict>
</plist>
