<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>baozi_zqcdttximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,2},{42,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,41}}</string>
			<key>sourceSize</key>
			<string>{42,41}</string>
		</dict>
		<key>bz_zqcdttximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,116},{18,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,19}}</string>
			<key>sourceSize</key>
			<string>{18,19}</string>
		</dict>
		<key>qg_zqcdttximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,77},{66,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,66}}</string>
			<key>sourceSize</key>
			<string>{66,66}</string>
		</dict>
		<key>s01_zqcdttximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,110},{20,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,11}}</string>
			<key>sourceSize</key>
			<string>{20,11}</string>
		</dict>
		<key>s_zqcdttximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,123},{13,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,15}}</string>
			<key>sourceSize</key>
			<string>{13,15}</string>
		</dict>
		<key>shou01_zqcdttximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,71},{24,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,14}}</string>
			<key>sourceSize</key>
			<string>{24,14}</string>
		</dict>
		<key>shou02_zqcdttximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,107},{11,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,3}}</string>
			<key>sourceSize</key>
			<string>{11,3}</string>
		</dict>
		<key>tf01_zqcdttximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,67},{16,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,30}}</string>
			<key>sourceSize</key>
			<string>{16,30}</string>
		</dict>
		<key>tf02_zqcdttximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,103},{11,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,24}}</string>
			<key>sourceSize</key>
			<string>{11,24}</string>
		</dict>
		<key>tf03_zqcdttximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,45},{9,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,24}}</string>
			<key>sourceSize</key>
			<string>{9,24}</string>
		</dict>
		<key>tf04_zqcdttximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,45},{20,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,35}}</string>
			<key>sourceSize</key>
			<string>{20,35}</string>
		</dict>
		<key>tf05_zqcdttximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,85},{27,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,16}}</string>
			<key>sourceSize</key>
			<string>{27,16}</string>
		</dict>
		<key>tou_zqcdttximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{73,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,76}}</string>
			<key>sourceSize</key>
			<string>{73,76}</string>
		</dict>
		<key>yfn_zqcdttximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,123},{12,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,12}}</string>
			<key>sourceSize</key>
			<string>{12,12}</string>
		</dict>
		<key>yy01_zqcdttximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,77},{15,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,8}}</string>
			<key>sourceSize</key>
			<string>{15,8}</string>
		</dict>
		<key>yy02_zqcdttximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,97},{16,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,11}}</string>
			<key>sourceSize</key>
			<string>{16,11}</string>
		</dict>
		<key>zy01_zqcdttximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,94},{11,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,8}}</string>
			<key>sourceSize</key>
			<string>{11,8}</string>
		</dict>
		<key>zy02_zqcdttximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,137},{11,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,11}}</string>
			<key>sourceSize</key>
			<string>{11,11}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>zqcdttximage.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>zqcdttximage.png</string>
	</dict>
</dict>
</plist>
