<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask01_qiyzltx22image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,104},{93,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,66}}</string>
			<key>sourceSize</key>
			<string>{93,66}</string>
		</dict>
		<key>wy_10_10_48677_qiyzltx22image.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,104},{47,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,68}}</string>
			<key>sourceSize</key>
			<string>{47,68}</string>
		</dict>
		<key>wy_1_1_53429_qiyzltx22image.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,174},{29,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,23}}</string>
			<key>sourceSize</key>
			<string>{29,23}</string>
		</dict>
		<key>wy_2_2_84358_qiyzltx22image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,199},{48,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,55}}</string>
			<key>sourceSize</key>
			<string>{48,55}</string>
		</dict>
		<key>wy_3_3_70447_qiyzltx22image.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,2},{36,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,27}}</string>
			<key>sourceSize</key>
			<string>{36,27}</string>
		</dict>
		<key>wy_4_4_21703_qiyzltx22image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>wy_5_5_6357_qiyzltx22image.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,199},{47,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,43}}</string>
			<key>sourceSize</key>
			<string>{47,43}</string>
		</dict>
		<key>wy_6_6_46052_qiyzltx22image.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,199},{53,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,23}}</string>
			<key>sourceSize</key>
			<string>{53,23}</string>
		</dict>
		<key>wy_7_7_81077_qiyzltx22image.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,174},{44,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,14}}</string>
			<key>sourceSize</key>
			<string>{44,14}</string>
		</dict>
		<key>wy_8_8_77990_qiyzltx22image.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,2},{26,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,24}}</string>
			<key>sourceSize</key>
			<string>{26,24}</string>
		</dict>
		<key>wy_9_9_58733_qiyzltx22image.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,190},{36,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,44}}</string>
			<key>sourceSize</key>
			<string>{36,44}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>qiyzltx22image.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>qiyzltx22image.png</string>
	</dict>
</dict>
</plist>
