<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hld_h24_k01.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,158},{89,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,81}}</string>
			<key>sourceSize</key>
			<string>{89,81}</string>
		</dict>
		<key>lke_a_dq01.png</key>
		<dict>
			<key>frame</key>
			<string>{{247,381},{76,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,76}}</string>
			<key>sourceSize</key>
			<string>{76,76}</string>
		</dict>
		<key>lke_a_ydb01.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,86},{73,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,91}}</string>
			<key>sourceSize</key>
			<string>{73,91}</string>
		</dict>
		<key>lke_a_yj01.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,708},{53,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,57}}</string>
			<key>sourceSize</key>
			<string>{53,57}</string>
		</dict>
		<key>lke_a_yl01.png</key>
		<dict>
			<key>frame</key>
			<string>{{397,453},{69,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,71}}</string>
			<key>sourceSize</key>
			<string>{69,71}</string>
		</dict>
		<key>lke_a_ys01+.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,319},{71,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,83}}</string>
			<key>sourceSize</key>
			<string>{71,83}</string>
		</dict>
		<key>lke_a_zdb001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,164},{78,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,89}}</string>
			<key>sourceSize</key>
			<string>{78,89}</string>
		</dict>
		<key>lke_a_zj01.png</key>
		<dict>
			<key>frame</key>
			<string>{{334,376},{78,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,51}}</string>
			<key>sourceSize</key>
			<string>{78,51}</string>
		</dict>
		<key>lke_a_zxb01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,520},{69,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,74}}</string>
			<key>sourceSize</key>
			<string>{69,74}</string>
		</dict>
		<key>lke_b_tf03.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,523},{50,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,56}}</string>
			<key>sourceSize</key>
			<string>{50,56}</string>
		</dict>
		<key>lke_b_ypd01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,647},{70,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,50}}</string>
			<key>sourceSize</key>
			<string>{70,50}</string>
		</dict>
		<key>lke_b_zxb01.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,294},{84,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,68}}</string>
			<key>sourceSize</key>
			<string>{84,68}</string>
		</dict>
		<key>lke_c_zdb01.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,72},{75,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,91}}</string>
			<key>sourceSize</key>
			<string>{75,91}</string>
		</dict>
		<key>lke_d1_ydb01.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,232},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,82}}</string>
			<key>sourceSize</key>
			<string>{82,82}</string>
		</dict>
		<key>lke_d1_ysz01.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,639},{68,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,61}}</string>
			<key>sourceSize</key>
			<string>{68,61}</string>
		</dict>
		<key>lke_d1_zj01.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,631},{66,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,59}}</string>
			<key>sourceSize</key>
			<string>{66,59}</string>
		</dict>
		<key>lke_d1_zsz01.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,244},{80,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,68}}</string>
			<key>sourceSize</key>
			<string>{80,68}</string>
		</dict>
		<key>lke_d1_zxb01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,391},{80,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,76}}</string>
			<key>sourceSize</key>
			<string>{80,76}</string>
		</dict>
		<key>lke_d2_zsz01.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,442},{73,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,76}}</string>
			<key>sourceSize</key>
			<string>{73,76}</string>
		</dict>
		<key>lke_d3_zj01.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,655},{59,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,65}}</string>
			<key>sourceSize</key>
			<string>{59,65}</string>
		</dict>
		<key>lke_e_zxb01.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,240},{53,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,87}}</string>
			<key>sourceSize</key>
			<string>{53,87}</string>
		</dict>
		<key>lke_f1_zsz01.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,576},{62,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,71}}</string>
			<key>sourceSize</key>
			<string>{62,71}</string>
		</dict>
		<key>lke_f2_ysz01.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,613},{70,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,54}}</string>
			<key>sourceSize</key>
			<string>{70,54}</string>
		</dict>
		<key>lke_g10_ysz01.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,523},{69,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,69}}</string>
			<key>sourceSize</key>
			<string>{69,69}</string>
		</dict>
		<key>lke_g10_zsz01.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,379},{62,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,78}}</string>
			<key>sourceSize</key>
			<string>{62,78}</string>
		</dict>
		<key>lke_g1_k01.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,160},{89,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,83}}</string>
			<key>sourceSize</key>
			<string>{89,83}</string>
		</dict>
		<key>lke_g1_ysz01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,698},{68,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,52}}</string>
			<key>sourceSize</key>
			<string>{68,52}</string>
		</dict>
		<key>lke_g2_zdb01.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,148},{83,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,90}}</string>
			<key>sourceSize</key>
			<string>{83,90}</string>
		</dict>
		<key>lke_g2_zxb01.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,500},{55,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,75}}</string>
			<key>sourceSize</key>
			<string>{55,75}</string>
		</dict>
		<key>lke_g3_k01.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,2},{95,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,81}}</string>
			<key>sourceSize</key>
			<string>{95,81}</string>
		</dict>
		<key>lke_g3_tf01.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,593},{67,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,61}}</string>
			<key>sourceSize</key>
			<string>{67,61}</string>
		</dict>
		<key>lke_g3_zsz01.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,593},{66,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,62}}</string>
			<key>sourceSize</key>
			<string>{66,62}</string>
		</dict>
		<key>lke_g4_ysz01.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,563},{67,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,69}}</string>
			<key>sourceSize</key>
			<string>{67,69}</string>
		</dict>
		<key>lke_g4_yxt01.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,320},{72,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,68}}</string>
			<key>sourceSize</key>
			<string>{72,68}</string>
		</dict>
		<key>lke_g5_yj01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,468},{76,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,51}}</string>
			<key>sourceSize</key>
			<string>{76,51}</string>
		</dict>
		<key>lke_g5_zj01.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,691},{56,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,63}}</string>
			<key>sourceSize</key>
			<string>{56,63}</string>
		</dict>
		<key>lke_g6_yxb01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{80,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,96}}</string>
			<key>sourceSize</key>
			<string>{80,96}</string>
		</dict>
		<key>lke_g7_tf01.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,656},{66,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,51}}</string>
			<key>sourceSize</key>
			<string>{66,51}</string>
		</dict>
		<key>lke_g7_tf02.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,701},{66,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,51}}</string>
			<key>sourceSize</key>
			<string>{66,51}</string>
		</dict>
		<key>lke_g7_tf04.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,428},{72,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,65}}</string>
			<key>sourceSize</key>
			<string>{72,65}</string>
		</dict>
		<key>lke_g8_ysz01.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,494},{68,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,71}}</string>
			<key>sourceSize</key>
			<string>{68,71}</string>
		</dict>
		<key>lke_g8_zdt01.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,363},{81,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,80}}</string>
			<key>sourceSize</key>
			<string>{81,80}</string>
		</dict>
		<key>lke_g8_zxt01.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,516},{59,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,72}}</string>
			<key>sourceSize</key>
			<string>{59,72}</string>
		</dict>
		<key>lke_g9_k01.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,77},{93,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,80}}</string>
			<key>sourceSize</key>
			<string>{93,80}</string>
		</dict>
		<key>lke_g9_ysz01.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,524},{64,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,71}}</string>
			<key>sourceSize</key>
			<string>{64,71}</string>
		</dict>
		<key>lke_h10_zxt01.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,722},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>lke_h13_k01.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,2},{96,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,74}}</string>
			<key>sourceSize</key>
			<string>{96,74}</string>
		</dict>
		<key>lke_h13_ysz01.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,556},{72,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,56}}</string>
			<key>sourceSize</key>
			<string>{72,56}</string>
		</dict>
		<key>lke_h15_zj01.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,444},{55,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,76}}</string>
			<key>sourceSize</key>
			<string>{55,76}</string>
		</dict>
		<key>lke_h16_k01.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,84},{91,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,73}}</string>
			<key>sourceSize</key>
			<string>{91,73}</string>
		</dict>
		<key>lke_h16_yj01.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,589},{69,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,66}}</string>
			<key>sourceSize</key>
			<string>{69,66}</string>
		</dict>
		<key>lke_h1_k01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,243},{84,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,75}}</string>
			<key>sourceSize</key>
			<string>{84,75}</string>
		</dict>
		<key>lke_h1_yj01.png</key>
		<dict>
			<key>frame</key>
			<string>{{413,389},{63,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,73}}</string>
			<key>sourceSize</key>
			<string>{63,73}</string>
		</dict>
		<key>lke_h20_zxt01.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,2},{91,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,83}}</string>
			<key>sourceSize</key>
			<string>{91,83}</string>
		</dict>
		<key>lke_h22_zdt01.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,298},{82,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,80}}</string>
			<key>sourceSize</key>
			<string>{82,80}</string>
		</dict>
		<key>lke_h23_ydb01.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,2},{93,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,69}}</string>
			<key>sourceSize</key>
			<string>{93,69}</string>
		</dict>
		<key>lke_h2_k01.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,158},{87,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,69}}</string>
			<key>sourceSize</key>
			<string>{87,69}</string>
		</dict>
		<key>lke_h2_zdb01.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,458},{72,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,65}}</string>
			<key>sourceSize</key>
			<string>{72,65}</string>
		</dict>
		<key>lke_h3_yxb01.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,668},{53,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,68}}</string>
			<key>sourceSize</key>
			<string>{53,68}</string>
		</dict>
		<key>lke_h3_zj01.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,313},{62,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,80}}</string>
			<key>sourceSize</key>
			<string>{62,80}</string>
		</dict>
		<key>lke_h5_zj01.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,315},{78,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,65}}</string>
			<key>sourceSize</key>
			<string>{78,65}</string>
		</dict>
		<key>lke_h6_zdb01.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,244},{72,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,75}}</string>
			<key>sourceSize</key>
			<string>{72,75}</string>
		</dict>
		<key>lke_h9_yj01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,751},{65,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,63}}</string>
			<key>sourceSize</key>
			<string>{65,63}</string>
		</dict>
		<key>lke_h9_zdb01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,83},{93,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,80}}</string>
			<key>sourceSize</key>
			<string>{93,80}</string>
		</dict>
		<key>lke_i6_zsz01.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,228},{69,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,87}}</string>
			<key>sourceSize</key>
			<string>{69,87}</string>
		</dict>
		<key>lke_i7_yxb01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,590},{72,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,56}}</string>
			<key>sourceSize</key>
			<string>{72,56}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>dierzhang_role4.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dierzhang_role4.png</string>
	</dict>
</dict>
</plist>
