<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_xrjdfw_cebian_damaoxian_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1376,95},{62,20}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,12},{62,20}}</string>
			<key>sourceSize</key>
			<string>{144,44}</string>
		</dict>
		<key>btn_xrjdfw_cebian_damaoxian_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1261,2},{144,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,44}}</string>
			<key>sourceSize</key>
			<string>{144,44}</string>
		</dict>
		<key>btn_xrjdfw_cebian_renwu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1262,95},{112,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,12},{112,20}}</string>
			<key>sourceSize</key>
			<string>{144,44}</string>
		</dict>
		<key>btn_xrjdfw_cebian_renwu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1116,57},{144,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,44}}</string>
			<key>sourceSize</key>
			<string>{144,44}</string>
		</dict>
		<key>btn_xrjdfw_zjm_huodetouzi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1822,83},{114,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,37}}</string>
			<key>sourceSize</key>
			<string>{114,37}</string>
		</dict>
		<key>btn_xrjdfw_zjm_huodetouzi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1760,2},{114,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,37}}</string>
			<key>sourceSize</key>
			<string>{114,37}</string>
		</dict>
		<key>btn_xrjdfw_zjm_touzhi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1111,2},{148,53}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{148,53}}</string>
			<key>sourceSize</key>
			<string>{148,65}</string>
		</dict>
		<key>btn_xrjdfw_zjm_touzhi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{961,2},{148,53}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{148,53}}</string>
			<key>sourceSize</key>
			<string>{148,65}</string>
		</dict>
		<key>btn_xrjdfw_zjm_wanfashuoming_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1644,2},{114,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,37}}</string>
			<key>sourceSize</key>
			<string>{114,37}</string>
		</dict>
		<key>btn_xrjdfw_zjm_wanfashuoming_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1528,2},{114,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,37}}</string>
			<key>sourceSize</key>
			<string>{114,37}</string>
		</dict>
		<key>btn_xrjdmx_fenye_goumai_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,79},{127,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,42}}</string>
			<key>sourceSize</key>
			<string>{127,42}</string>
		</dict>
		<key>btn_xrjdmx_fenye_goumai_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,79},{127,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,42}}</string>
			<key>sourceSize</key>
			<string>{127,42}</string>
		</dict>
		<key>btn_xrjdmx_fenye_leijirenwu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1682,41},{138,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,45}}</string>
			<key>sourceSize</key>
			<string>{138,45}</string>
		</dict>
		<key>btn_xrjdmx_fenye_leijirenwu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1542,41},{138,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,45}}</string>
			<key>sourceSize</key>
			<string>{138,45}</string>
		</dict>
		<key>btn_xrjdmx_fenye_lingqu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1620,88},{76,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,30}}</string>
			<key>sourceSize</key>
			<string>{76,30}</string>
		</dict>
		<key>btn_xrjdmx_fenye_lingqu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1542,88},{76,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,30}}</string>
			<key>sourceSize</key>
			<string>{76,30}</string>
		</dict>
		<key>btn_xrjdmx_fenye_meirirenwu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1402,48},{138,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,45}}</string>
			<key>sourceSize</key>
			<string>{138,45}</string>
		</dict>
		<key>btn_xrjdmx_fenye_meirirenwu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1262,48},{138,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,45}}</string>
			<key>sourceSize</key>
			<string>{138,45}</string>
		</dict>
		<key>btn_xrjdmx_fenye_yijianlingqu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1407,2},{119,39}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{119,39}}</string>
			<key>sourceSize</key>
			<string>{131,39}</string>
		</dict>
		<key>btn_xrjdmx_fenye_yijianlingqu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,79},{119,39}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{119,39}}</string>
			<key>sourceSize</key>
			<string>{131,39}</string>
		</dict>
		<key>pic_xrjdfw_daohang_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{905,64},{209,53}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{209,53}}</string>
			<key>sourceSize</key>
			<string>{209,57}</string>
		</dict>
		<key>pic_xrjdfw_ssrwzx_yilingqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1876,2},{79,79}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,3},{79,79}}</string>
			<key>sourceSize</key>
			<string>{89,87}</string>
		</dict>
		<key>pic_xrjdmx_fenye_renwu_weiwancheng.png</key>
		<dict>
			<key>frame</key>
			<string>{{1698,88},{72,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,27}}</string>
			<key>sourceSize</key>
			<string>{72,27}</string>
		</dict>
		<key>pic_xrjdmx_tc_gongxihuode.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{315,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{315,75}}</string>
			<key>sourceSize</key>
			<string>{315,75}</string>
		</dict>
		<key>pic_xrjdmx_tc_goumaitouzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{643,64},{260,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{260,47}}</string>
			<key>sourceSize</key>
			<string>{260,47}</string>
		</dict>
		<key>pic_xrjdmx_tc_guizeshuoming.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,2},{319,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,0},{319,60}}</string>
			<key>sourceSize</key>
			<string>{371,60}</string>
		</dict>
		<key>pic_xrjdmx_tc_huodetouzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,2},{319,60}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,0},{319,60}}</string>
			<key>sourceSize</key>
			<string>{371,60}</string>
		</dict>
		<key>pic_xrjdmx_tc_yidejiangli.png</key>
		<dict>
			<key>frame</key>
			<string>{{381,64},{260,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{260,47}}</string>
			<key>sourceSize</key>
			<string>{260,47}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_AthenaAdventure0.png</string>
		<key>size</key>
		<string>{1957,123}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_AthenaAdventure0.png</string>
	</dict>
</dict>
</plist>
