<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bz_mxgxiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{381,476},{29,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,21}}</string>
			<key>sourceSize</key>
			<string>{29,21}</string>
		</dict>
		<key>di_mxgxiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{387,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{387,256}}</string>
			<key>sourceSize</key>
			<string>{387,256}</string>
		</dict>
		<key>guang01_mxgxiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,260},{243,214}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{243,214}}</string>
			<key>sourceSize</key>
			<string>{243,214}</string>
		</dict>
		<key>guang02_mxgxiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,2},{248,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{248,50}}</string>
			<key>sourceSize</key>
			<string>{248,50}</string>
		</dict>
		<key>jita_mxgxiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,2},{67,187}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,187}}</string>
			<key>sourceSize</key>
			<string>{67,187}</string>
		</dict>
		<key>mz01_mxgxiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,252},{190,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,84}}</string>
			<key>sourceSize</key>
			<string>{190,84}</string>
		</dict>
		<key>mz02_mxgxiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{247,260},{161,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,52}}</string>
			<key>sourceSize</key>
			<string>{161,52}</string>
		</dict>
		<key>qg_mxgxiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,260},{66,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,82}}</string>
			<key>sourceSize</key>
			<string>{66,82}</string>
		</dict>
		<key>tou_mxgxiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{247,423},{88,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,82}}</string>
			<key>sourceSize</key>
			<string>{88,82}</string>
		</dict>
		<key>yan_y_mxgxiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,344},{43,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,44}}</string>
			<key>sourceSize</key>
			<string>{43,44}</string>
		</dict>
		<key>yan_z_mxgxiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{337,464},{42,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,44}}</string>
			<key>sourceSize</key>
			<string>{42,44}</string>
		</dict>
		<key>ydb_mxgxiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{369,260},{18,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,53}}</string>
			<key>sourceSize</key>
			<string>{18,53}</string>
		</dict>
		<key>yinfu01_mxgxiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,444},{30,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,45}}</string>
			<key>sourceSize</key>
			<string>{30,45}</string>
		</dict>
		<key>yinfu02_mxgxiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,191},{36,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,56}}</string>
			<key>sourceSize</key>
			<string>{36,56}</string>
		</dict>
		<key>yinfu03_mxgxiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,344},{36,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,42}}</string>
			<key>sourceSize</key>
			<string>{36,42}</string>
		</dict>
		<key>yinfu04_mxgxiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,444},{25,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,38}}</string>
			<key>sourceSize</key>
			<string>{25,38}</string>
		</dict>
		<key>yinfu05_mxgxiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,444},{30,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,42}}</string>
			<key>sourceSize</key>
			<string>{30,42}</string>
		</dict>
		<key>yxb_mxgxiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{337,410},{22,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,52}}</string>
			<key>sourceSize</key>
			<string>{22,52}</string>
		</dict>
		<key>zdb_mxgxiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,410},{22,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,51}}</string>
			<key>sourceSize</key>
			<string>{22,51}</string>
		</dict>
		<key>zui_mxgxiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,229},{59,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,16}}</string>
			<key>sourceSize</key>
			<string>{59,16}</string>
		</dict>
		<key>zxb_mxgxiaorenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,389},{19,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,75}}</string>
			<key>sourceSize</key>
			<string>{19,75}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>mxgxiaorenimage.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>mxgxiaorenimage.png</string>
	</dict>
</dict>
</plist>
