<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,2},{299,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{299,123}}</string>
			<key>sourceSize</key>
			<string>{299,123}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00045.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,2},{298,135}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{298,135}}</string>
			<key>sourceSize</key>
			<string>{302,135}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00046.png</key>
		<dict>
			<key>frame</key>
			<string>{{591,138},{276,133}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{276,133}}</string>
			<key>sourceSize</key>
			<string>{278,133}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00048.png</key>
		<dict>
			<key>frame</key>
			<string>{{901,2},{289,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{289,118}}</string>
			<key>sourceSize</key>
			<string>{289,118}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00054.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{299,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{299,126}}</string>
			<key>sourceSize</key>
			<string>{299,126}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00064.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,126},{288,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,182}}</string>
			<key>sourceSize</key>
			<string>{288,182}</string>
		</dict>
		<key>New_dzxv_putongbisha_xiapi_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,129},{285,253}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{285,253}}</string>
			<key>sourceSize</key>
			<string>{285,253}</string>
		</dict>
		<key>New_dzxv_putongbisha_zhuang_00042.png</key>
		<dict>
			<key>frame</key>
			<string>{{536,525},{181,238}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,238}}</string>
			<key>sourceSize</key>
			<string>{181,238}</string>
		</dict>
		<key>New_dzxv_putongbisha_zhuang_00043.png</key>
		<dict>
			<key>frame</key>
			<string>{{865,292},{154,248}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,248}}</string>
			<key>sourceSize</key>
			<string>{154,248}</string>
		</dict>
		<key>New_xvdz_putonggongji_zhuaqu_00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{591,272},{252,273}}</string>
			<key>offset</key>
			<string>{27,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{153,122},{252,273}}</string>
			<key>sourceSize</key>
			<string>{504,521}</string>
		</dict>
		<key>New_xvdz_putonggongji_zhuaqu_00034.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,309},{240,247}}</string>
			<key>offset</key>
			<string>{27,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{159,134},{240,247}}</string>
			<key>sourceSize</key>
			<string>{504,521}</string>
		</dict>
		<key>New_xvdz_putonggongji_zhuaqu_00036.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,383},{244,237}}</string>
			<key>offset</key>
			<string>{26,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{156,137},{244,237}}</string>
			<key>sourceSize</key>
			<string>{504,521}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>dongzhangXV_common6.png</string>
		<key>scale</key>
		<real>0.91</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dongzhangXV_common6.png</string>
	</dict>
</dict>
</plist>
