<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>banzi_jmfdzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,174},{156,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,45}}</string>
			<key>sourceSize</key>
			<string>{156,45}</string>
		</dict>
		<key>bzhu_jmfdzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,274},{19,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,61}}</string>
			<key>sourceSize</key>
			<string>{19,61}</string>
		</dict>
		<key>ceguan_jmfdzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,227},{45,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,62}}</string>
			<key>sourceSize</key>
			<string>{45,62}</string>
		</dict>
		<key>cguan_jmfdzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,285},{35,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,43}}</string>
			<key>sourceSize</key>
			<string>{35,43}</string>
		</dict>
		<key>changguan_jmfdzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,174},{25,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,81}}</string>
			<key>sourceSize</key>
			<string>{25,81}</string>
		</dict>
		<key>dian_jmfdzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,311},{29,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,37}}</string>
			<key>sourceSize</key>
			<string>{29,37}</string>
		</dict>
		<key>dianchi_jmfdzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,221},{60,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,136}}</string>
			<key>sourceSize</key>
			<string>{60,136}</string>
		</dict>
		<key>diange_jmfdzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,227},{29,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,9}}</string>
			<key>sourceSize</key>
			<string>{29,9}</string>
		</dict>
		<key>fangzi_jmfdzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{249,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{249,170}}</string>
			<key>sourceSize</key>
			<string>{249,170}</string>
		</dict>
		<key>guan1_jmfdzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,258},{12,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,25}}</string>
			<key>sourceSize</key>
			<string>{12,25}</string>
		</dict>
		<key>guan2_jmfdzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,232},{19,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,23}}</string>
			<key>sourceSize</key>
			<string>{19,23}</string>
		</dict>
		<key>guan3_jmfdzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,295},{19,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,22}}</string>
			<key>sourceSize</key>
			<string>{19,22}</string>
		</dict>
		<key>guan4_jmfdzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,237},{13,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,19}}</string>
			<key>sourceSize</key>
			<string>{13,19}</string>
		</dict>
		<key>guan5_jmfdzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,217},{13,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,20}}</string>
			<key>sourceSize</key>
			<string>{13,20}</string>
		</dict>
		<key>jinqi_jmfdzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,258},{30,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,36}}</string>
			<key>sourceSize</key>
			<string>{30,36}</string>
		</dict>
		<key>kuoguan_jmfdzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,221},{16,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,14}}</string>
			<key>sourceSize</key>
			<string>{16,14}</string>
		</dict>
		<key>paiqi_jmfdzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,283},{44,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,26}}</string>
			<key>sourceSize</key>
			<string>{44,26}</string>
		</dict>
		<key>quan_jmfdzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,283},{58,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,58}}</string>
			<key>sourceSize</key>
			<string>{58,58}</string>
		</dict>
		<key>zhu_jmfdzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,174},{11,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,41}}</string>
			<key>sourceSize</key>
			<string>{11,41}</string>
		</dict>
		<key>zi_jmfdzimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,201},{71,24}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{71,24}}</string>
			<key>sourceSize</key>
			<string>{73,24}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>jmfdzimage.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>jmfdzimage.png</string>
	</dict>
</dict>
</plist>
