<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>largepic_100115.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{496,626}}</string>
			<key>offset</key>
			<string>{15,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{203,14},{496,626}}</string>
			<key>sourceSize</key>
			<string>{872,640}</string>
		</dict>
		<key>longpic_100115.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,630},{189,278}}</string>
			<key>offset</key>
			<string>{-2,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,9},{189,278}}</string>
			<key>sourceSize</key>
			<string>{193,288}</string>
		</dict>
		<key>middlepic_100115.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,630},{163,71}}</string>
			<key>offset</key>
			<string>{10,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,0},{163,71}}</string>
			<key>sourceSize</key>
			<string>{183,71}</string>
		</dict>
		<key>namepic_100115.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,821},{410,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{410,100}}</string>
			<key>sourceSize</key>
			<string>{410,100}</string>
		</dict>
		<key>skillmaxpic_100115.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,923},{292,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{292,52}}</string>
			<key>sourceSize</key>
			<string>{292,52}</string>
		</dict>
		<key>skillnamepic_100115.png</key>
		<dict>
			<key>frame</key>
			<string>{{468,630},{211,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,41}}</string>
			<key>sourceSize</key>
			<string>{211,41}</string>
		</dict>
		<key>skillsmaxpic_100115.png</key>
		<dict>
			<key>frame</key>
			<string>{{414,630},{382,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{382,52}}</string>
			<key>sourceSize</key>
			<string>{382,52}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>heros_100115.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>heros_100115.png</string>
	</dict>
</dict>
</plist>
