<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>largepic_100047.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{562,640}}</string>
			<key>offset</key>
			<string>{20,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{175,0},{562,640}}</string>
			<key>sourceSize</key>
			<string>{872,640}</string>
		</dict>
		<key>longpic_100047.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,644},{174,283}}</string>
			<key>offset</key>
			<string>{-6,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,4},{174,283}}</string>
			<key>sourceSize</key>
			<string>{192,287}</string>
		</dict>
		<key>middlepic_100047.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,935},{183,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,71}}</string>
			<key>sourceSize</key>
			<string>{183,71}</string>
		</dict>
		<key>namepic_100047.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,644},{248,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{248,98}}</string>
			<key>sourceSize</key>
			<string>{248,100}</string>
		</dict>
		<key>skillmaxpic_100047.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,929},{278,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{278,52}}</string>
			<key>sourceSize</key>
			<string>{278,52}</string>
		</dict>
		<key>skillnamepic_100047.png</key>
		<dict>
			<key>frame</key>
			<string>{{333,644},{245,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{245,40}}</string>
			<key>sourceSize</key>
			<string>{257,40}</string>
		</dict>
		<key>skillsmaxpic_100047.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,644},{289,53}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,1},{289,53}}</string>
			<key>sourceSize</key>
			<string>{305,57}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>heros_100047.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>heros_100047.png</string>
	</dict>
</dict>
</plist>
