<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>largepic_100168.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{692,638}}</string>
			<key>offset</key>
			<string>{-7,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{83,2},{692,638}}</string>
			<key>sourceSize</key>
			<string>{872,640}</string>
		</dict>
		<key>longpic_100168.png</key>
		<dict>
			<key>frame</key>
			<string>{{696,46},{174,287}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{174,287}}</string>
			<key>sourceSize</key>
			<string>{192,287}</string>
		</dict>
		<key>middlepic_100168.png</key>
		<dict>
			<key>frame</key>
			<string>{{696,222},{183,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,71}}</string>
			<key>sourceSize</key>
			<string>{183,71}</string>
		</dict>
		<key>namepic_100168.png</key>
		<dict>
			<key>frame</key>
			<string>{{881,222},{496,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{496,100}}</string>
			<key>sourceSize</key>
			<string>{496,100}</string>
		</dict>
		<key>skillmaxpic_100168.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,295},{392,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{392,52}}</string>
			<key>sourceSize</key>
			<string>{392,52}</string>
		</dict>
		<key>skillnamepic_100168.png</key>
		<dict>
			<key>frame</key>
			<string>{{696,2},{306,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{306,42}}</string>
			<key>sourceSize</key>
			<string>{306,42}</string>
		</dict>
		<key>skillsmaxpic_100168.png</key>
		<dict>
			<key>frame</key>
			<string>{{696,295},{396,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{396,52}}</string>
			<key>sourceSize</key>
			<string>{396,52}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>heros_100168.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>heros_100168.png</string>
	</dict>
</dict>
</plist>
