<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fx_xuequan_shifa2_00029_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{884,672},{29,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{29,37}}</string>
			<key>sourceSize</key>
			<string>{29,39}</string>
		</dict>
		<key>fx_xuequan_shifa2_00031_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{982,770},{40,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{40,75}}</string>
			<key>sourceSize</key>
			<string>{42,75}</string>
		</dict>
		<key>fx_xuequan_shifa2_00033_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{961,179},{60,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,95}}</string>
			<key>sourceSize</key>
			<string>{60,95}</string>
		</dict>
		<key>fx_xuequan_shifa2_00035_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{352,814},{79,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,95}}</string>
			<key>sourceSize</key>
			<string>{79,95}</string>
		</dict>
		<key>fx_xuequan_shifa2_00037_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{937,332},{82,96}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{82,96}}</string>
			<key>sourceSize</key>
			<string>{84,96}</string>
		</dict>
		<key>fx_xuequan_shifa2_00039_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{964,2},{57,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,87}}</string>
			<key>sourceSize</key>
			<string>{57,87}</string>
		</dict>
		<key>fx_xuequan_shifa2_00041_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{783,847},{75,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{75,81}}</string>
			<key>sourceSize</key>
			<string>{77,81}</string>
		</dict>
		<key>fx_xuequan_shifa2_00043_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,895},{98,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{98,91}}</string>
			<key>sourceSize</key>
			<string>{98,93}</string>
		</dict>
		<key>fx_xuequan_shifa2_00045_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,815},{88,97}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{88,97}}</string>
			<key>sourceSize</key>
			<string>{90,97}</string>
		</dict>
		<key>fx_xuequan_shifa2_00047_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,815},{71,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,87}}</string>
			<key>sourceSize</key>
			<string>{71,87}</string>
		</dict>
		<key>fx_xuequan_shifa2_00049_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{915,608},{87,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,99}}</string>
			<key>sourceSize</key>
			<string>{87,99}</string>
		</dict>
		<key>fx_xuequan_shifa2_00051_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{527,891},{95,96}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{95,96}}</string>
			<key>sourceSize</key>
			<string>{97,96}</string>
		</dict>
		<key>fx_xuequan_shifa2_00053_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{964,91},{57,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,86}}</string>
			<key>sourceSize</key>
			<string>{57,86}</string>
		</dict>
		<key>fx_xuequan_shifa2_00055_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{884,770},{51,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,96}}</string>
			<key>sourceSize</key>
			<string>{51,96}</string>
		</dict>
		<key>fx_xuequan_shifa2_00057_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{449,814},{75,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,82}}</string>
			<key>sourceSize</key>
			<string>{75,82}</string>
		</dict>
		<key>fx_xuequan_shifa2_00059_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,914},{51,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,86}}</string>
			<key>sourceSize</key>
			<string>{51,86}</string>
		</dict>
		<key>fx_xuequan_shifa2_00061_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,967},{53,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,65}}</string>
			<key>sourceSize</key>
			<string>{53,65}</string>
		</dict>
		<key>fx_xuequan_shifa2_00063_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{961,276},{54,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,59}}</string>
			<key>sourceSize</key>
			<string>{54,59}</string>
		</dict>
		<key>fx_xuequan_shifa2_00065_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{826,930},{63,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,69}}</string>
			<key>sourceSize</key>
			<string>{63,69}</string>
		</dict>
		<key>fx_xuequan_shifa2_00067_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{624,972},{45,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,40}}</string>
			<key>sourceSize</key>
			<string>{45,40}</string>
		</dict>
		<key>fx_xuequan_shifa2_00069_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,823},{47,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,40}}</string>
			<key>sourceSize</key>
			<string>{47,40}</string>
		</dict>
		<key>fx_xuequan_shifa2_00071_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{527,989},{42,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,31}}</string>
			<key>sourceSize</key>
			<string>{42,31}</string>
		</dict>
		<key>fx_xuequan_shifa3_00089_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{717,872},{64,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,91}}</string>
			<key>sourceSize</key>
			<string>{64,91}</string>
		</dict>
		<key>fx_xuequan_shifa3_00091_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{624,875},{95,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,91}}</string>
			<key>sourceSize</key>
			<string>{95,91}</string>
		</dict>
		<key>fx_xuequan_shifa3_00093_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,895},{125,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,87}}</string>
			<key>sourceSize</key>
			<string>{125,87}</string>
		</dict>
		<key>fx_xuequan_shifa3_00095_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,895},{120,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,80}}</string>
			<key>sourceSize</key>
			<string>{120,80}</string>
		</dict>
		<key>fx_xuequan_shifa3_00097_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{915,697},{97,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,71}}</string>
			<key>sourceSize</key>
			<string>{97,71}</string>
		</dict>
		<key>fx_xuequan_shifa3_00099_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{666,972},{41,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,67}}</string>
			<key>sourceSize</key>
			<string>{41,67}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_bingci_00089_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{735,965},{89,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,56}}</string>
			<key>sourceSize</key>
			<string>{89,56}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_bingci_00091_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,895},{169,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,116}}</string>
			<key>sourceSize</key>
			<string>{169,116}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_bingci_00093_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,395},{177,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,161}}</string>
			<key>sourceSize</key>
			<string>{177,161}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_bingci_00095_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,229},{181,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,173}}</string>
			<key>sourceSize</key>
			<string>{181,173}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_bingci_00097_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,2},{186,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,171}}</string>
			<key>sourceSize</key>
			<string>{186,171}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_bingci_00099_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,393},{180,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,165}}</string>
			<key>sourceSize</key>
			<string>{180,165}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_bingci_00101_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{574,219},{180,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,168}}</string>
			<key>sourceSize</key>
			<string>{180,168}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_bingci_00103_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{367,401},{178,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,166}}</string>
			<key>sourceSize</key>
			<string>{178,166}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_bingci_00105_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,233},{180,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,166}}</string>
			<key>sourceSize</key>
			<string>{180,166}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_bingci_00107_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,560},{177,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,171}}</string>
			<key>sourceSize</key>
			<string>{177,171}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_bingci_00109_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{557,389},{178,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,173}}</string>
			<key>sourceSize</key>
			<string>{178,173}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_bingci_00111_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,222},{182,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,169}}</string>
			<key>sourceSize</key>
			<string>{182,169}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_bingci_00113_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,733},{160,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,169}}</string>
			<key>sourceSize</key>
			<string>{160,169}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_bingci_00115_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,643},{177,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,170}}</string>
			<key>sourceSize</key>
			<string>{177,170}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_bingci_00117_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,645},{173,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,167}}</string>
			<key>sourceSize</key>
			<string>{173,167}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_bingci_00119_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{717,672},{149,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,165}}</string>
			<key>sourceSize</key>
			<string>{149,165}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_bingci_00121_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{538,716},{157,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,160}}</string>
			<key>sourceSize</key>
			<string>{157,160}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_down_00089_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{540,640},{175,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,74}}</string>
			<key>sourceSize</key>
			<string>{175,74}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_down_00091_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,569},{175,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,74}}</string>
			<key>sourceSize</key>
			<string>{175,74}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_down_00093_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{547,564},{175,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,74}}</string>
			<key>sourceSize</key>
			<string>{175,74}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_down_00095_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{916,430},{176,101}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,101}}</string>
			<key>sourceSize</key>
			<string>{178,101}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_down_00097_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{756,290},{179,103}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,103}}</string>
			<key>sourceSize</key>
			<string>{181,103}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_down_00099_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{587,2},{187,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,97}}</string>
			<key>sourceSize</key>
			<string>{187,97}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_down_00101_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{194,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,114}}</string>
			<key>sourceSize</key>
			<string>{194,114}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_down_00103_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{587,101},{185,116}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,116}}</string>
			<key>sourceSize</key>
			<string>{187,116}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_down_00105_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,404},{180,119}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,119}}</string>
			<key>sourceSize</key>
			<string>{182,119}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_down_00107_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,104},{187,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,116}}</string>
			<key>sourceSize</key>
			<string>{187,116}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_down_00109_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,2},{194,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,100}}</string>
			<key>sourceSize</key>
			<string>{194,100}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_down_00111_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,119},{185,112}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,112}}</string>
			<key>sourceSize</key>
			<string>{187,112}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_down_00113_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,525},{180,116}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,116}}</string>
			<key>sourceSize</key>
			<string>{182,116}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_down_00115_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,118},{187,109}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{187,109}}</string>
			<key>sourceSize</key>
			<string>{187,111}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_down_00117_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,2},{191,115}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{191,115}}</string>
			<key>sourceSize</key>
			<string>{193,115}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_down_00119_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{774,175},{185,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,113}}</string>
			<key>sourceSize</key>
			<string>{185,113}</string>
		</dict>
		<key>fx_xuequan_xaunfeng_down_00121_ldxqtlimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,558},{176,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,112}}</string>
			<key>sourceSize</key>
			<string>{176,112}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>ldxqtlimage.png</string>
		<key>scale</key>
		<real>0.41</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ldxqtlimage.png</string>
	</dict>
</dict>
</plist>
