<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>liang_putongbisha_baodian_00009_liangpubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,457},{46,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,54}}</string>
			<key>sourceSize</key>
			<string>{46,54}</string>
		</dict>
		<key>liang_putongbisha_baodian_00010_liangpubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,390},{63,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,65}}</string>
			<key>sourceSize</key>
			<string>{63,65}</string>
		</dict>
		<key>liang_putongbisha_baodian_00011_liangpubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,311},{85,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,77}}</string>
			<key>sourceSize</key>
			<string>{85,77}</string>
		</dict>
		<key>liang_putongbisha_baodian_00012_liangpubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,275},{91,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,87}}</string>
			<key>sourceSize</key>
			<string>{91,87}</string>
		</dict>
		<key>liang_putongbisha_baodian_00013_liangpubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{369,213},{102,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,95}}</string>
			<key>sourceSize</key>
			<string>{102,95}</string>
		</dict>
		<key>liang_putongbisha_baodian_00014_liangpubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,213},{115,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,96}}</string>
			<key>sourceSize</key>
			<string>{115,96}</string>
		</dict>
		<key>liang_putongbisha_baodian_00015_liangpubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,2},{108,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,106}}</string>
			<key>sourceSize</key>
			<string>{108,106}</string>
		</dict>
		<key>liang_putongbisha_baodian_00016_liangpubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,115},{119,107}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,6},{119,107}}</string>
			<key>sourceSize</key>
			<string>{119,113}</string>
		</dict>
		<key>liang_putongbisha_baodian_00017_liangpubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,2},{131,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,111}}</string>
			<key>sourceSize</key>
			<string>{131,111}</string>
		</dict>
		<key>liang_putongbisha_baodian_00018_liangpubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,110},{110,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,101}}</string>
			<key>sourceSize</key>
			<string>{110,101}</string>
		</dict>
		<key>liang_putongbisha_baodian_00019_liangpubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{254,160},{113,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,91}}</string>
			<key>sourceSize</key>
			<string>{113,91}</string>
		</dict>
		<key>liang_putongbisha_baodian_00020_liangpubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,301},{89,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,80}}</string>
			<key>sourceSize</key>
			<string>{89,80}</string>
		</dict>
		<key>liang_putongbisha_baodian_00021_liangpubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,56},{1,2}}</string>
			<key>offset</key>
			<string>{12,43}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,86},{1,2}}</string>
			<key>sourceSize</key>
			<string>{25,88}</string>
		</dict>
		<key>liang_putongbisha_bo_00044_liangpubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,213},{45,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,33}}</string>
			<key>sourceSize</key>
			<string>{45,33}</string>
		</dict>
		<key>liang_putongbisha_bo_00045_liangpubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{328,253},{74,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,39}}</string>
			<key>sourceSize</key>
			<string>{74,39}</string>
		</dict>
		<key>liang_putongbisha_bo_00046_liangpubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,253},{95,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{95,46}}</string>
			<key>sourceSize</key>
			<string>{99,46}</string>
		</dict>
		<key>liang_putongbisha_bo_00047_liangpubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,163},{116,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{116,48}}</string>
			<key>sourceSize</key>
			<string>{120,48}</string>
		</dict>
		<key>liang_putongbisha_bo_00048_liangpubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,52},{127,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{127,50}}</string>
			<key>sourceSize</key>
			<string>{129,50}</string>
		</dict>
		<key>liang_putongbisha_bo_00049_liangpubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,56},{129,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{129,52}}</string>
			<key>sourceSize</key>
			<string>{133,52}</string>
		</dict>
		<key>liang_putongbisha_bo_00050_liangpubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,110},{129,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,51}}</string>
			<key>sourceSize</key>
			<string>{129,51}</string>
		</dict>
		<key>liang_putongbisha_bo_00051_liangpubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,2},{129,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,48}}</string>
			<key>sourceSize</key>
			<string>{129,48}</string>
		</dict>
		<key>liang_putongbisha_bo_00052_liangpubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{134,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,52}}</string>
			<key>sourceSize</key>
			<string>{134,52}</string>
		</dict>
		<key>liang_putongbisha_bo_00053_liangpubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,104},{125,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,54}}</string>
			<key>sourceSize</key>
			<string>{125,54}</string>
		</dict>
		<key>liang_putongbisha_bo_00054_liangpubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,224},{110,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,49}}</string>
			<key>sourceSize</key>
			<string>{110,49}</string>
		</dict>
		<key>liang_putongbisha_bo_00055_liangpubiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{369,160},{22,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,34}}</string>
			<key>sourceSize</key>
			<string>{22,34}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA4444</string>
		<key>realTextureFileName</key>
		<string>liangpubiimage.png</string>
		<key>scale</key>
		<real>0.5</real>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>liangpubiimage.png</string>
	</dict>
</dict>
</plist>
