<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bth_hcjq_hengfu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,353},{88,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,6},{88,29}}</string>
			<key>sourceSize</key>
			<string>{136,41}</string>
		</dict>
		<key>bth_hcjq_hengfu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,80},{96,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,2},{96,37}}</string>
			<key>sourceSize</key>
			<string>{136,41}</string>
		</dict>
		<key>bth_hcjq_kongmingdeng_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{33,353},{88,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,6},{88,29}}</string>
			<key>sourceSize</key>
			<string>{136,41}</string>
		</dict>
		<key>bth_hcjq_kongmingdeng_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,41},{96,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,2},{96,37}}</string>
			<key>sourceSize</key>
			<string>{136,41}</string>
		</dict>
		<key>bth_hcjq_lahei_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,314},{92,37}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,8},{92,37}}</string>
			<key>sourceSize</key>
			<string>{118,49}</string>
		</dict>
		<key>bth_hcjq_lahei_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,275},{92,37}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,8},{92,37}}</string>
			<key>sourceSize</key>
			<string>{118,49}</string>
		</dict>
		<key>bth_hcjq_queding_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,236},{92,37}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,8},{92,37}}</string>
			<key>sourceSize</key>
			<string>{118,49}</string>
		</dict>
		<key>bth_hcjq_queding_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,197},{92,37}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,8},{92,37}}</string>
			<key>sourceSize</key>
			<string>{118,49}</string>
		</dict>
		<key>bth_hcjq_songhua_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,158},{92,37}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,8},{92,37}}</string>
			<key>sourceSize</key>
			<string>{118,49}</string>
		</dict>
		<key>bth_hcjq_songhua_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,119},{92,37}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,8},{92,37}}</string>
			<key>sourceSize</key>
			<string>{118,49}</string>
		</dict>
		<key>bth_hcjq_zhufuyu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,353},{88,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,6},{88,29}}</string>
			<key>sourceSize</key>
			<string>{136,41}</string>
		</dict>
		<key>bth_hcjq_zhufuyu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{96,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,2},{96,37}}</string>
			<key>sourceSize</key>
			<string>{136,41}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_kongMingLantern0.png</string>
		<key>size</key>
		<string>{100,443}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_kongMingLantern0.png</string>
	</dict>
</dict>
</plist>
