<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fangkuai_BG_10015101image.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,444},{18,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,42}}</string>
			<key>sourceSize</key>
			<string>{18,42}</string>
		</dict>
		<key>guangyun_BG_10015101image.png</key>
		<dict>
			<key>frame</key>
			<string>{{27,393},{111,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,111}}</string>
			<key>sourceSize</key>
			<string>{111,111}</string>
		</dict>
		<key>heidi_BG_10015101image.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,393},{49,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,49}}</string>
			<key>sourceSize</key>
			<string>{49,49}</string>
		</dict>
		<key>mask01_BG_10015101image.png</key>
		<dict>
			<key>frame</key>
			<string>{{27,2},{174,233}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,233}}</string>
			<key>sourceSize</key>
			<string>{174,233}</string>
		</dict>
		<key>tiao_BG_10015101image.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,237},{69,10}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{69,10}}</string>
			<key>sourceSize</key>
			<string>{73,14}</string>
		</dict>
		<key>tiaotiao001_BG_10015101image.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,2},{49,333}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,333}}</string>
			<key>sourceSize</key>
			<string>{49,333}</string>
		</dict>
		<key>tiaotiao002_BG_10015101image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{23,503}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,503}}</string>
			<key>sourceSize</key>
			<string>{23,503}</string>
		</dict>
		<key>yan_BG_10015101image.png</key>
		<dict>
			<key>frame</key>
			<string>{{27,237},{143,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,154}}</string>
			<key>sourceSize</key>
			<string>{143,154}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>BG_10015101image.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>BG_10015101image.png</string>
	</dict>
</dict>
</plist>
