<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ciguang_jyzltxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,147},{33,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,33}}</string>
			<key>sourceSize</key>
			<string>{33,33}</string>
		</dict>
		<key>dian01_jyzltxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,188},{61,59}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{61,59}}</string>
			<key>sourceSize</key>
			<string>{65,63}</string>
		</dict>
		<key>dian02_jyzltxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,101},{44,34}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{44,34}}</string>
			<key>sourceSize</key>
			<string>{48,38}</string>
		</dict>
		<key>dian03_jyzltxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,53},{39,46}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{39,46}}</string>
			<key>sourceSize</key>
			<string>{43,52}</string>
		</dict>
		<key>ding_jyzltxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{234,2},{64,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,20}}</string>
			<key>sourceSize</key>
			<string>{64,20}</string>
		</dict>
		<key>guangyun_jyzltxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,2},{85,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,85}}</string>
			<key>sourceSize</key>
			<string>{85,85}</string>
		</dict>
		<key>kuang_jyzltxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{92,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,93}}</string>
			<key>sourceSize</key>
			<string>{92,93}</string>
		</dict>
		<key>mask1_jyzltxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,172},{81,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,85}}</string>
			<key>sourceSize</key>
			<string>{81,85}</string>
		</dict>
		<key>mask2_jyzltxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,172},{62,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,11}}</string>
			<key>sourceSize</key>
			<string>{62,11}</string>
		</dict>
		<key>mask3_jyzltxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,97},{90,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,89}}</string>
			<key>sourceSize</key>
			<string>{90,89}</string>
		</dict>
		<key>quangg1_jyzltxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,2},{49,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,49}}</string>
			<key>sourceSize</key>
			<string>{49,49}</string>
		</dict>
		<key>sk_jyzltxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,221},{17,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,25}}</string>
			<key>sourceSize</key>
			<string>{17,25}</string>
		</dict>
		<key>tiao_jyzltxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,89},{81,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,85}}</string>
			<key>sourceSize</key>
			<string>{81,85}</string>
		</dict>
		<key>xtx_jyzltxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,188},{27,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,31}}</string>
			<key>sourceSize</key>
			<string>{27,31}</string>
		</dict>
		<key>xz_jyzltxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,53},{9,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,8}}</string>
			<key>sourceSize</key>
			<string>{9,8}</string>
		</dict>
		<key>yanjing_jyzltxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,147},{23,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,12}}</string>
			<key>sourceSize</key>
			<string>{23,12}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>jyzltxkimage.png</string>
		<key>scale</key>
		<real>0.77</real>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>jyzltxkimage.png</string>
	</dict>
</dict>
</plist>
