<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>duihao_jltimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,186},{34,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,21}}</string>
			<key>sourceSize</key>
			<string>{34,21}</string>
		</dict>
		<key>pic_birthday_jiantou2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,80},{104,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,104}}</string>
			<key>sourceSize</key>
			<string>{104,104}</string>
		</dict>
		<key>pic_smys_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{115,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,76}}</string>
			<key>sourceSize</key>
			<string>{115,76}</string>
		</dict>
		<key>pic_tiaozhan_pic_suo.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,186},{90,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,90}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>word_smys_swyycgdj_zz.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,80},{9,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,20}}</string>
			<key>sourceSize</key>
			<string>{9,20}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>magicStone0.png</string>
		<key>size</key>
		<string>{119,278}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>magicStone0.png</string>
	</dict>
</dict>
</plist>
