<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>yigenizi_daR_tupian_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{269,291},{32,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{32,28}}</string>
			<key>sourceSize</key>
			<string>{34,30}</string>
		</dict>
		<key>yigenizi_daR_tupian_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,291},{32,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{32,69}}</string>
			<key>sourceSize</key>
			<string>{34,71}</string>
		</dict>
		<key>yigenizi_daR_tupian_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{534,385},{37,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{37,74}}</string>
			<key>sourceSize</key>
			<string>{39,76}</string>
		</dict>
		<key>yigenizi_daR_tupian_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{593,2},{281,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{281,262}}</string>
			<key>sourceSize</key>
			<string>{283,264}</string>
		</dict>
		<key>yigenizi_daR_tupian_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{296,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{296,288}}</string>
			<key>sourceSize</key>
			<string>{298,290}</string>
		</dict>
		<key>yigenizi_daR_tupian_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{593,265},{264,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{264,256}}</string>
			<key>sourceSize</key>
			<string>{266,258}</string>
		</dict>
		<key>yigenizi_daR_tupian_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,2},{293,275}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{293,275}}</string>
			<key>sourceSize</key>
			<string>{295,277}</string>
		</dict>
		<key>yigenizi_daR_tupian_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,92},{232,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{232,142}}</string>
			<key>sourceSize</key>
			<string>{234,144}</string>
		</dict>
		<key>yigenizi_daR_tupian_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,504},{232,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{232,129}}</string>
			<key>sourceSize</key>
			<string>{234,131}</string>
		</dict>
		<key>yigenizi_daR_tupian_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,291},{233,212}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{233,212}}</string>
			<key>sourceSize</key>
			<string>{235,214}</string>
		</dict>
		<key>yigenizi_daR_tupian_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{534,460},{25,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{25,36}}</string>
			<key>sourceSize</key>
			<string>{27,38}</string>
		</dict>
		<key>yigenizi_daR_tupian_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,278},{234,231}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{234,231}}</string>
			<key>sourceSize</key>
			<string>{236,233}</string>
		</dict>
		<key>yigenizi_daR_tupian_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{534,486},{24,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{24,34}}</string>
			<key>sourceSize</key>
			<string>{26,36}</string>
		</dict>
		<key>yigenizi_daR_tupian_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{534,360},{46,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{46,24}}</string>
			<key>sourceSize</key>
			<string>{48,26}</string>
		</dict>
		<key>yigenizi_daR_tupian_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,510},{125,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{125,73}}</string>
			<key>sourceSize</key>
			<string>{127,75}</string>
		</dict>
		<key>yigenizi_daR_tupian_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{534,278},{49,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{49,81}}</string>
			<key>sourceSize</key>
			<string>{51,83}</string>
		</dict>
		<key>yigenizi_daR_tupian_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,2},{89,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{89,145}}</string>
			<key>sourceSize</key>
			<string>{91,147}</string>
		</dict>
		<key>yigenizi_daR_tupian_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{858,476},{84,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{84,153}}</string>
			<key>sourceSize</key>
			<string>{86,155}</string>
		</dict>
		<key>yigenizi_daR_tupian_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{858,325},{150,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{150,158}}</string>
			<key>sourceSize</key>
			<string>{152,160}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>tx_daR_ygnzYG_role0.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>tx_daR_ygnzYG_role0.png</string>
	</dict>
</dict>
</plist>
