<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_boc_taofawanbi2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{317,57}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{317,57}}</string>
			<key>sourceSize</key>
			<string>{319,63}</string>
		</dict>
		<key>pic_klzdz_yijian_zi_changci.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,31},{103,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,27}}</string>
			<key>sourceSize</key>
			<string>{103,27}</string>
		</dict>
		<key>pic_klzdz_yijian_zi_jianglibaoxiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{568,2},{103,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,27}}</string>
			<key>sourceSize</key>
			<string>{103,27}</string>
		</dict>
		<key>pic_klzdz_yijian_zi_yijiantiaozhan.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,2},{140,36}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{140,36}}</string>
			<key>sourceSize</key>
			<string>{146,38}</string>
		</dict>
		<key>pic_klzdz_yijian_zi_zhandoujieguo.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,2},{103,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,27}}</string>
			<key>sourceSize</key>
			<string>{103,27}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_coop_20.png</string>
		<key>size</key>
		<string>{673,61}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_coop_20.png</string>
	</dict>
</dict>
</plist>
