<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_3zn_zjm_tpwjzk_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,2},{68,223}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,223}}</string>
			<key>sourceSize</key>
			<string>{68,223}</string>
		</dict>
		<key>btn_hd_2zhounian_tiaoguo_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,386},{96,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,34}}</string>
			<key>sourceSize</key>
			<string>{96,34}</string>
		</dict>
		<key>btn_hd_2zhounian_tiaoguo_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{381,1226},{96,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,34}}</string>
			<key>sourceSize</key>
			<string>{96,34}</string>
		</dict>
		<key>btn_hd_2zhounian_tpwj_zi_noraml.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,864},{21,109}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,8},{21,109}}</string>
			<key>sourceSize</key>
			<string>{37,125}</string>
		</dict>
		<key>btn_hd_2zhounian_tpwj_zi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,1486},{37,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,125}}</string>
			<key>sourceSize</key>
			<string>{37,125}</string>
		</dict>
		<key>btn_main_2zhounianqing_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,1127},{92,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,96}}</string>
			<key>sourceSize</key>
			<string>{92,96}</string>
		</dict>
		<key>btn_main_2zhounianqing_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,1029},{92,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,96}}</string>
			<key>sourceSize</key>
			<string>{92,96}</string>
		</dict>
		<key>btn_main_shamomibao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{414,1403},{87,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,82}}</string>
			<key>sourceSize</key>
			<string>{87,82}</string>
		</dict>
		<key>btn_main_shamomibao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,1319},{87,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,82}}</string>
			<key>sourceSize</key>
			<string>{87,82}</string>
		</dict>
		<key>pic-yaoyiyao_qiqiu_biaotitou.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{563,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{563,143}}</string>
			<key>sourceSize</key>
			<string>{563,143}</string>
		</dict>
		<key>pic_hd_2zhounian__fenxiang_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,2},{125,35}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,0},{125,35}}</string>
			<key>sourceSize</key>
			<string>{161,35}</string>
		</dict>
		<key>pic_hd_2zhounian_biaoqian_duihuanshagndian.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,391},{158,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,60}}</string>
			<key>sourceSize</key>
			<string>{158,60}</string>
		</dict>
		<key>pic_hd_2zhounian_biaoqian_gonggao.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,1424},{158,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,60}}</string>
			<key>sourceSize</key>
			<string>{158,60}</string>
		</dict>
		<key>pic_hd_2zhounian_biaoqian_jinianguan.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,227},{159,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,60}}</string>
			<key>sourceSize</key>
			<string>{159,60}</string>
		</dict>
		<key>pic_hd_2zhounian_biaoqian_miaoxingrendazhan.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,710},{152,54}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,54}}</string>
			<key>sourceSize</key>
			<string>{152,56}</string>
		</dict>
		<key>pic_hd_2zhounian_biaoqian_xuyuanchi.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,551},{157,60}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{157,60}}</string>
			<key>sourceSize</key>
			<string>{159,60}</string>
		</dict>
		<key>pic_hd_2zhounian_fyt_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,818},{198,406}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,406}}</string>
			<key>sourceSize</key>
			<string>{198,406}</string>
		</dict>
		<key>pic_hd_2zhounian_huodongjieshu.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,1374},{166,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,48}}</string>
			<key>sourceSize</key>
			<string>{166,48}</string>
		</dict>
		<key>pic_hd_2zhounian_huodongyugao.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,227},{162,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{162,46}}</string>
			<key>sourceSize</key>
			<string>{166,48}</string>
		</dict>
		<key>pic_hd_2zhounian_jrlb_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,410},{198,406}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,406}}</string>
			<key>sourceSize</key>
			<string>{198,406}</string>
		</dict>
		<key>pic_hd_2zhounian_qdsd_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,975},{198,406}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,406}}</string>
			<key>sourceSize</key>
			<string>{198,406}</string>
		</dict>
		<key>pic_hd_2zhounian_qdsd_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1383},{182,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,72}}</string>
			<key>sourceSize</key>
			<string>{182,72}</string>
		</dict>
		<key>pic_hd_2zhounian_qdzz_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,567},{198,406}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,406}}</string>
			<key>sourceSize</key>
			<string>{198,406}</string>
		</dict>
		<key>pic_hd_2zhounian_taitou.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,1226},{177,72}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,72}}</string>
			<key>sourceSize</key>
			<string>{181,72}</string>
		</dict>
		<key>pic_hd_2zhounian_xyc_dqyy.png</key>
		<dict>
			<key>frame</key>
			<string>{{466,949},{63,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{63,22}}</string>
			<key>sourceSize</key>
			<string>{73,22}</string>
		</dict>
		<key>pic_hd_2zhounian_xyc_hjxx.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,410},{142,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,43}}</string>
			<key>sourceSize</key>
			<string>{142,43}</string>
		</dict>
		<key>pic_hd_2zhounian_xyc_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,2},{198,406}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,406}}</string>
			<key>sourceSize</key>
			<string>{198,406}</string>
		</dict>
		<key>pic_hd_2zhounian_xyc_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,1300},{159,72}}</string>
			<key>offset</key>
			<string>{-7,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,72}}</string>
			<key>sourceSize</key>
			<string>{173,72}</string>
		</dict>
		<key>pic_hd_2zhounian_xyc_xy.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,864},{163,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{163,39}}</string>
			<key>sourceSize</key>
			<string>{163,41}</string>
		</dict>
		<key>pic_hd_2zhounian_zi_fenxiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,484},{89,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,35}}</string>
			<key>sourceSize</key>
			<string>{89,35}</string>
		</dict>
		<key>pic_hd_2zhounian_zi_fubendiaoluo.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,710},{98,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,22}}</string>
			<key>sourceSize</key>
			<string>{98,22}</string>
		</dict>
		<key>pic_hd_2zhounian_zi_tuichu.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,242},{98,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,37}}</string>
			<key>sourceSize</key>
			<string>{98,37}</string>
		</dict>
		<key>pic_hd_2zhounian_zi_zaikanyibian.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,129},{111,35}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{111,35}}</string>
			<key>sourceSize</key>
			<string>{121,35}</string>
		</dict>
		<key>pic_tiaozhan_smmb_mrkq.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,575},{92,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,26}}</string>
			<key>sourceSize</key>
			<string>{92,26}</string>
		</dict>
		<key>pic_tiaozhan_smmb_taitou.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1457},{183,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,67}}</string>
			<key>sourceSize</key>
			<string>{183,67}</string>
		</dict>
		<key>pic_tiaozhan_smmb_yigongxian.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,1225},{92,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,82}}</string>
			<key>sourceSize</key>
			<string>{92,82}</string>
		</dict>
		<key>pic_tiaozhan_smmb_zhunbeizhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{466,863},{84,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,24}}</string>
			<key>sourceSize</key>
			<string>{84,24}</string>
		</dict>
		<key>pic_tiaozhan_smmb_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,2},{188,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,56}}</string>
			<key>sourceSize</key>
			<string>{188,56}</string>
		</dict>
		<key>pic_tiaozhan_smmb_zi_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,1486},{38,51}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,51}}</string>
			<key>sourceSize</key>
			<string>{42,51}</string>
		</dict>
		<key>pic_tiaozhan_smmb_zi_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,810},{42,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,51}}</string>
			<key>sourceSize</key>
			<string>{42,51}</string>
		</dict>
		<key>pic_tiaozhan_smmb_zi_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,1421},{42,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,51}}</string>
			<key>sourceSize</key>
			<string>{42,51}</string>
		</dict>
		<key>pic_tiaozhan_smmb_zi_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,1368},{42,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,51}}</string>
			<key>sourceSize</key>
			<string>{42,51}</string>
		</dict>
		<key>pic_tiaozhan_smmb_zi_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,1324},{42,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,51}}</string>
			<key>sourceSize</key>
			<string>{42,51}</string>
		</dict>
		<key>pic_tiaozhan_smmb_zi_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,342},{42,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,51}}</string>
			<key>sourceSize</key>
			<string>{42,51}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_ActivityYearsTwo0.png</string>
		<key>size</key>
		<string>{512,1526}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_ActivityYearsTwo0.png</string>
	</dict>
</dict>
</plist>
