<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>shan_00018_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{634,952},{65,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,127}}</string>
			<key>sourceSize</key>
			<string>{65,127}</string>
		</dict>
		<key>shan_00020_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{702,410},{72,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,159}}</string>
			<key>sourceSize</key>
			<string>{72,159}</string>
		</dict>
		<key>shan_00022_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{831,568},{97,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,162}}</string>
			<key>sourceSize</key>
			<string>{97,162}</string>
		</dict>
		<key>shan_00024_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{505,954},{67,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,127}}</string>
			<key>sourceSize</key>
			<string>{67,127}</string>
		</dict>
		<key>shan_00026_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,982},{40,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,109}}</string>
			<key>sourceSize</key>
			<string>{40,109}</string>
		</dict>
		<key>shan_00027_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,982},{40,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,109}}</string>
			<key>sourceSize</key>
			<string>{40,109}</string>
		</dict>
		<key>tui_00000_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{722,571},{107,187}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,187}}</string>
			<key>sourceSize</key>
			<string>{107,187}</string>
		</dict>
		<key>tui_00001_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{763,2},{107,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,188}}</string>
			<key>sourceSize</key>
			<string>{107,188}</string>
		</dict>
		<key>tui_00002_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{614,762},{107,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,188}}</string>
			<key>sourceSize</key>
			<string>{107,188}</string>
		</dict>
		<key>tui_00003_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{763,111},{106,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,188}}</string>
			<key>sourceSize</key>
			<string>{106,188}</string>
		</dict>
		<key>tui_00004_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{613,572},{107,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,188}}</string>
			<key>sourceSize</key>
			<string>{107,188}</string>
		</dict>
		<key>tui_00005_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,193},{107,189}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,189}}</string>
			<key>sourceSize</key>
			<string>{107,189}</string>
		</dict>
		<key>tui_00006_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,778},{107,189}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,189}}</string>
			<key>sourceSize</key>
			<string>{107,189}</string>
		</dict>
		<key>tui_00007_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{593,382},{107,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,188}}</string>
			<key>sourceSize</key>
			<string>{107,188}</string>
		</dict>
		<key>tui_00008_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{614,2},{107,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,188}}</string>
			<key>sourceSize</key>
			<string>{107,188}</string>
		</dict>
		<key>tui_00009_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{593,192},{107,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,188}}</string>
			<key>sourceSize</key>
			<string>{107,188}</string>
		</dict>
		<key>tui_00010_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,587},{107,189}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,189}}</string>
			<key>sourceSize</key>
			<string>{107,189}</string>
		</dict>
		<key>tui_00011_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,2},{107,189}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,189}}</string>
			<key>sourceSize</key>
			<string>{107,189}</string>
		</dict>
		<key>tui_00012_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{505,764},{107,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,188}}</string>
			<key>sourceSize</key>
			<string>{107,188}</string>
		</dict>
		<key>tui_00013_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{504,574},{107,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,188}}</string>
			<key>sourceSize</key>
			<string>{107,188}</string>
		</dict>
		<key>tui_00014_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,384},{107,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,188}}</string>
			<key>sourceSize</key>
			<string>{107,188}</string>
		</dict>
		<key>tui_00015_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{505,2},{107,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,188}}</string>
			<key>sourceSize</key>
			<string>{107,188}</string>
		</dict>
		<key>tui_00016_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{763,301},{107,187}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,187}}</string>
			<key>sourceSize</key>
			<string>{107,187}</string>
		</dict>
		<key>tui_1_00000_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,785},{95,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,193}}</string>
			<key>sourceSize</key>
			<string>{95,193}</string>
		</dict>
		<key>tui_1_00002_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,590},{96,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,193}}</string>
			<key>sourceSize</key>
			<string>{96,193}</string>
		</dict>
		<key>tui_1_00004_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,785},{95,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,193}}</string>
			<key>sourceSize</key>
			<string>{95,193}</string>
		</dict>
		<key>tui_1_00006_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,392},{90,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,193}}</string>
			<key>sourceSize</key>
			<string>{90,193}</string>
		</dict>
		<key>tui_1_00008_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,197},{88,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,193}}</string>
			<key>sourceSize</key>
			<string>{88,193}</string>
		</dict>
		<key>tui_1_00009_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{393,392},{89,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,193}}</string>
			<key>sourceSize</key>
			<string>{89,193}</string>
		</dict>
		<key>tui_1_00011_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,2},{93,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,193}}</string>
			<key>sourceSize</key>
			<string>{93,193}</string>
		</dict>
		<key>tui_1_00013_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,197},{96,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,193}}</string>
			<key>sourceSize</key>
			<string>{96,193}</string>
		</dict>
		<key>tui_1_00015_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,2},{96,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,193}}</string>
			<key>sourceSize</key>
			<string>{96,193}</string>
		</dict>
		<key>tui_1_00017_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,590},{93,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,193}}</string>
			<key>sourceSize</key>
			<string>{93,193}</string>
		</dict>
		<key>tui_1_00018_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,392},{90,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,193}}</string>
			<key>sourceSize</key>
			<string>{90,193}</string>
		</dict>
		<key>tui_1_00020_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,197},{88,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,193}}</string>
			<key>sourceSize</key>
			<string>{88,193}</string>
		</dict>
		<key>tui_1_00022_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,197},{91,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,193}}</string>
			<key>sourceSize</key>
			<string>{91,193}</string>
		</dict>
		<key>tui_2_00000_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,198},{98,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,194}}</string>
			<key>sourceSize</key>
			<string>{98,194}</string>
		</dict>
		<key>tui_2_00002_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,786},{98,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,194}}</string>
			<key>sourceSize</key>
			<string>{98,194}</string>
		</dict>
		<key>tui_2_00004_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,394},{97,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,194}}</string>
			<key>sourceSize</key>
			<string>{97,194}</string>
		</dict>
		<key>tui_2_00006_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,590},{97,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,194}}</string>
			<key>sourceSize</key>
			<string>{97,194}</string>
		</dict>
		<key>tui_2_00008_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,590},{99,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,194}}</string>
			<key>sourceSize</key>
			<string>{99,194}</string>
		</dict>
		<key>tui_2_00009_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,394},{99,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,194}}</string>
			<key>sourceSize</key>
			<string>{99,194}</string>
		</dict>
		<key>tui_2_00011_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,198},{99,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,194}}</string>
			<key>sourceSize</key>
			<string>{99,194}</string>
		</dict>
		<key>tui_2_00013_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,786},{98,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,194}}</string>
			<key>sourceSize</key>
			<string>{98,194}</string>
		</dict>
		<key>tui_2_00015_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,394},{97,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,194}}</string>
			<key>sourceSize</key>
			<string>{97,194}</string>
		</dict>
		<key>tui_2_00017_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,2},{97,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,194}}</string>
			<key>sourceSize</key>
			<string>{97,194}</string>
		</dict>
		<key>tui_2_00018_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,590},{97,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,194}}</string>
			<key>sourceSize</key>
			<string>{97,194}</string>
		</dict>
		<key>tui_2_00020_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,590},{99,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,194}}</string>
			<key>sourceSize</key>
			<string>{99,194}</string>
		</dict>
		<key>tui_2_00022_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{100,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,194}}</string>
			<key>sourceSize</key>
			<string>{100,194}</string>
		</dict>
		<key>wenl_00035_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{831,732},{155,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,164}}</string>
			<key>sourceSize</key>
			<string>{155,164}</string>
		</dict>
		<key>wenl_00036_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,410},{156,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,166}}</string>
			<key>sourceSize</key>
			<string>{156,166}</string>
		</dict>
		<key>xuant_00037_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{944,410},{78,185}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,185}}</string>
			<key>sourceSize</key>
			<string>{78,185}</string>
		</dict>
		<key>xuant_00039_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{763,219},{80,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,188}}</string>
			<key>sourceSize</key>
			<string>{80,188}</string>
		</dict>
		<key>xuant_00041_jiaoshisanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{723,760},{77,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,178}}</string>
			<key>sourceSize</key>
			<string>{77,178}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>jiaoshisanteimage.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>jiaoshisanteimage.png</string>
	</dict>
</dict>
</plist>
