<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_tbxdtg_tebiexingdong_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,390},{62,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,52}}</string>
			<key>sourceSize</key>
			<string>{62,52}</string>
		</dict>
		<key>btn_tbxdtg_tebiexingdong_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,419},{62,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,52}}</string>
			<key>sourceSize</key>
			<string>{62,52}</string>
		</dict>
		<key>btn_tbxdtg_tongxingzheng_goumaidengji_dadi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,48},{425,404}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{425,404}}</string>
			<key>sourceSize</key>
			<string>{425,404}</string>
		</dict>
		<key>btn_tbxdtg_tongxingzheng_goumaidengji_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{529,122},{35,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>sourceSize</key>
			<string>{35,38}</string>
		</dict>
		<key>btn_tbxdtg_tongxingzheng_goumaidengji_jiahao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{462,444},{35,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,35}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>btn_tbxdtg_tongxingzheng_goumaidengji_jiahao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,379},{35,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,35}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>btn_tbxdtg_tongxingzheng_goumaidengji_jiahao_zhihui.png</key>
		<dict>
			<key>frame</key>
			<string>{{529,382},{35,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,35}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>btn_tbxdtg_tongxingzheng_goumaidengji_jianhao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,353},{35,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,35}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>btn_tbxdtg_tongxingzheng_goumaidengji_jianhao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{529,345},{35,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,35}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>btn_tbxdtg_tongxingzheng_goumaidengji_jianhao_zhihui.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,316},{35,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,35}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>btn_tbxdtg_tongxingzheng_goumaidengji_max_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{529,283},{60,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,35}}</string>
			<key>sourceSize</key>
			<string>{60,35}</string>
		</dict>
		<key>btn_tbxdtg_tongxingzheng_goumaidengji_max_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{529,221},{60,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,35}}</string>
			<key>sourceSize</key>
			<string>{60,35}</string>
		</dict>
		<key>btn_tbxdtg_tongxingzheng_goumaidengji_max_zhihui.png</key>
		<dict>
			<key>frame</key>
			<string>{{529,159},{60,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,35}}</string>
			<key>sourceSize</key>
			<string>{60,35}</string>
		</dict>
		<key>btn_tbxdtg_tongxingzheng_goumaiguanbi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{533,453},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>btn_tbxdtg_tongxingzheng_goumaiguanbi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{533,419},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>pic_tbxdtg_bujilibao_xian.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,475},{56,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,2}}</string>
			<key>sourceSize</key>
			<string>{56,2}</string>
		</dict>
		<key>pic_tbxdtg_tebiexingdong_diaochawenjuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,48},{266,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,119}}</string>
			<key>sourceSize</key>
			<string>{266,119}</string>
		</dict>
		<key>pic_tbxdtg_tongxingzheng_dengji.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,316},{82,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,61}}</string>
			<key>sourceSize</key>
			<string>{82,61}</string>
		</dict>
		<key>pic_tbxdtg_tongxingzheng_fanyejiantou.png</key>
		<dict>
			<key>frame</key>
			<string>{{529,90},{30,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,40}}</string>
			<key>sourceSize</key>
			<string>{30,40}</string>
		</dict>
		<key>pic_tbxdtg_tongxingzheng_jiantou.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,390},{17,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,26}}</string>
			<key>sourceSize</key>
			<string>{17,26}</string>
		</dict>
		<key>pic_tbxdtg_tongxingzheng_jindutiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{578,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{578,24}}</string>
			<key>sourceSize</key>
			<string>{578,24}</string>
		</dict>
		<key>pic_tbxdtg_tongxingzheng_jindutiao_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,28},{575,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{575,18}}</string>
			<key>sourceSize</key>
			<string>{575,18}</string>
		</dict>
		<key>pic_tbxdtg_tongxingzheng_suo.png</key>
		<dict>
			<key>frame</key>
			<string>{{529,48},{40,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,44}}</string>
			<key>sourceSize</key>
			<string>{40,44}</string>
		</dict>
		<key>pic_tbxdtg_tongxingzheng_yilingqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{499,444},{32,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,33}}</string>
			<key>sourceSize</key>
			<string>{32,33}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ActivitySpecialAction0.png</string>
		<key>size</key>
		<string>{582,487}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ActivitySpecialAction0.png</string>
	</dict>
</dict>
</plist>
