<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask01_wuqigongfangbbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,359},{568,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{568,25}}</string>
			<key>sourceSize</key>
			<string>{568,25}</string>
		</dict>
		<key>mask02_wuqigongfangbbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,330},{133,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,22}}</string>
			<key>sourceSize</key>
			<string>{133,22}</string>
		</dict>
		<key>wy_10_10_13323_wuqigongfangbbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,482},{100,53}}</string>
			<key>offset</key>
			<string>{-26,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,15},{100,53}}</string>
			<key>sourceSize</key>
			<string>{166,79}</string>
		</dict>
		<key>wy_11_11_53553_wuqigongfangbbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,929},{118,53}}</string>
			<key>offset</key>
			<string>{-16,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,15},{118,53}}</string>
			<key>sourceSize</key>
			<string>{166,79}</string>
		</dict>
		<key>wy_12_12_95745_wuqigongfangbbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,275},{140,53}}</string>
			<key>offset</key>
			<string>{-6,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,15},{140,53}}</string>
			<key>sourceSize</key>
			<string>{166,79}</string>
		</dict>
		<key>wy_1_1_22942_wuqigongfangbbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,165},{142,53}}</string>
			<key>offset</key>
			<string>{-4,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,15},{142,53}}</string>
			<key>sourceSize</key>
			<string>{166,79}</string>
		</dict>
		<key>wy_1_1_83782_wuqigongfangbbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,369},{111,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,111}}</string>
			<key>sourceSize</key>
			<string>{111,111}</string>
		</dict>
		<key>wy_2_2_5096_wuqigongfangbbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,110},{142,53}}</string>
			<key>offset</key>
			<string>{-4,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,15},{142,53}}</string>
			<key>sourceSize</key>
			<string>{166,79}</string>
		</dict>
		<key>wy_2_2_98103_wuqigongfangbbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,330},{16,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,12}}</string>
			<key>sourceSize</key>
			<string>{16,12}</string>
		</dict>
		<key>wy_3_3_21248_wuqigongfangbbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{182,358}}</string>
			<key>offset</key>
			<string>{-1,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,3},{182,358}}</string>
			<key>sourceSize</key>
			<string>{196,374}</string>
		</dict>
		<key>wy_3_3_4751_wuqigongfangbbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,344},{13,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,13}}</string>
			<key>sourceSize</key>
			<string>{13,13}</string>
		</dict>
		<key>wy_3_3_98269_wuqigongfangbbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,354},{126,53}}</string>
			<key>offset</key>
			<string>{4,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,14},{126,53}}</string>
			<key>sourceSize</key>
			<string>{166,79}</string>
		</dict>
		<key>wy_4_4_28143_wuqigongfangbbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,462},{100,53}}</string>
			<key>offset</key>
			<string>{17,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{50,14},{100,53}}</string>
			<key>sourceSize</key>
			<string>{166,79}</string>
		</dict>
		<key>wy_4_4_72284_wuqigongfangbbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,186},{181,353}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,3},{181,353}}</string>
			<key>sourceSize</key>
			<string>{191,363}</string>
		</dict>
		<key>wy_5_5_30167_wuqigongfangbbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,929},{116,53}}</string>
			<key>offset</key>
			<string>{9,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,14},{116,53}}</string>
			<key>sourceSize</key>
			<string>{166,79}</string>
		</dict>
		<key>wy_6_6_87074_wuqigongfangbbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,220},{140,53}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,14},{140,53}}</string>
			<key>sourceSize</key>
			<string>{166,79}</string>
		</dict>
		<key>wy_7_7_87536_wuqigongfangbbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,2},{144,51}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,14},{144,51}}</string>
			<key>sourceSize</key>
			<string>{166,79}</string>
		</dict>
		<key>wy_8_8_93854_wuqigongfangbbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,55},{142,53}}</string>
			<key>offset</key>
			<string>{-4,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,14},{142,53}}</string>
			<key>sourceSize</key>
			<string>{166,79}</string>
		</dict>
		<key>wy_9_9_62819_wuqigongfangbbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,409},{126,51}}</string>
			<key>offset</key>
			<string>{-12,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,16},{126,51}}</string>
			<key>sourceSize</key>
			<string>{166,79}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>wuqigongfangbbimage.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>wuqigongfangbbimage.png</string>
	</dict>
</dict>
</plist>
