<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>denggaoguang_ydnxnimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{304,333}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{304,333}}</string>
			<key>sourceSize</key>
			<string>{304,333}</string>
		</dict>
		<key>gaoguang_ydnxnimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,2},{181,249}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,249}}</string>
			<key>sourceSize</key>
			<string>{181,249}</string>
		</dict>
		<key>mask1_ydnxnimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,337},{173,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,120}}</string>
			<key>sourceSize</key>
			<string>{173,120}</string>
		</dict>
		<key>mask2_ydnxnimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,337},{173,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,213}}</string>
			<key>sourceSize</key>
			<string>{173,213}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ydnxnimage.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ydnxnimage.png</string>
	</dict>
</dict>
</plist>
