<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bg_zzjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{1500,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1500,640}}</string>
			<key>sourceSize</key>
			<string>{1500,640}</string>
		</dict>
		<key>mask1_zzjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,259},{50,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,51}}</string>
			<key>sourceSize</key>
			<string>{50,51}</string>
		</dict>
		<key>snb_zzjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,160},{172,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,143}}</string>
			<key>sourceSize</key>
			<string>{172,143}</string>
		</dict>
		<key>zzj01_zzjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,2},{156,310}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,310}}</string>
			<key>sourceSize</key>
			<string>{156,310}</string>
		</dict>
		<key>zzj02_zzjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{818,160},{100,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,90}}</string>
			<key>sourceSize</key>
			<string>{100,90}</string>
		</dict>
		<key>zzjcs01_zzjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{956,2},{96,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,61}}</string>
			<key>sourceSize</key>
			<string>{96,61}</string>
		</dict>
		<key>zzjcs02_zzjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{818,252},{94,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{94,61}}</string>
			<key>sourceSize</key>
			<string>{96,61}</string>
		</dict>
		<key>zzjcs03_zzjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{920,196},{94,61}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,61}}</string>
			<key>sourceSize</key>
			<string>{96,61}</string>
		</dict>
		<key>zzjcs04_zzjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{956,100},{94,61}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{94,61}}</string>
			<key>sourceSize</key>
			<string>{96,61}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>zzjimage.png</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>zzjimage.png</string>
	</dict>
</dict>
</plist>
