<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_dlls_ptbs_baibo_00048.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,329},{319,317}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{319,317}}</string>
			<key>sourceSize</key>
			<string>{319,317}</string>
		</dict>
		<key>New_dlls_ptbs_texie_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{780,473},{220,235}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,235}}</string>
			<key>sourceSize</key>
			<string>{220,235}</string>
		</dict>
		<key>New_kl_putongbisha2_baoqi_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{462,640},{316,314}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{316,314}}</string>
			<key>sourceSize</key>
			<string>{316,314}</string>
		</dict>
		<key>New_sy_lmbs_huangsebo_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{858,307},{165,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,163}}</string>
			<key>sourceSize</key>
			<string>{165,163}</string>
		</dict>
		<key>New_sy_ptbs2_baoqixuli_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{777,694},{234,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{234,143}}</string>
			<key>sourceSize</key>
			<string>{234,143}</string>
		</dict>
		<key>New_xvdz_putonggongji_zhuaqu_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{300,326}}</string>
			<key>offset</key>
			<string>{25,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{152,122},{300,326}}</string>
			<key>sourceSize</key>
			<string>{554,572}</string>
		</dict>
		<key>New_xvdz_putonggongji_zhuaqu_00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,2},{278,318}}</string>
			<key>offset</key>
			<string>{30,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{168,133},{278,318}}</string>
			<key>sourceSize</key>
			<string>{554,572}</string>
		</dict>
		<key>Newsz_sy_lmbs_huangsebo_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{858,307},{165,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,163}}</string>
			<key>sourceSize</key>
			<string>{165,163}</string>
		</dict>
		<key>Newsz_sy_ptbs2_baoqixuli_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{777,694},{234,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{234,143}}</string>
			<key>sourceSize</key>
			<string>{234,143}</string>
		</dict>
		<key>swdjtx0.png</key>
		<dict>
			<key>frame</key>
			<string>{{777,838},{184,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,180}}</string>
			<key>sourceSize</key>
			<string>{184,180}</string>
		</dict>
		<key>sz_New_dscz_daiji_fz2_00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,649},{318,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{318,91}}</string>
			<key>sourceSize</key>
			<string>{318,91}</string>
		</dict>
		<key>sz_New_dscz_daiji_fz2_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,649},{318,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{318,91}}</string>
			<key>sourceSize</key>
			<string>{318,91}</string>
		</dict>
		<key>sz_New_dscz_daiji_fz2_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,649},{318,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{318,91}}</string>
			<key>sourceSize</key>
			<string>{318,91}</string>
		</dict>
		<key>sz_New_dscz_daiji_fz2_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,649},{318,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{318,91}}</string>
			<key>sourceSize</key>
			<string>{318,91}</string>
		</dict>
		<key>sz_New_dscz_daiji_fz2_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,321},{318,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{318,91}}</string>
			<key>sourceSize</key>
			<string>{318,91}</string>
		</dict>
		<key>sz_New_dscz_daiji_fz2_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{504,321},{316,91}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{316,91}}</string>
			<key>sourceSize</key>
			<string>{318,91}</string>
		</dict>
		<key>sz_New_dscz_daiji_fz2_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{582,2},{316,91}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{316,91}}</string>
			<key>sourceSize</key>
			<string>{318,91}</string>
		</dict>
		<key>sz_New_dscz_daiji_fz2_00048.png</key>
		<dict>
			<key>frame</key>
			<string>{{596,319},{316,91}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{316,91}}</string>
			<key>sourceSize</key>
			<string>{318,91}</string>
		</dict>
		<key>sz_New_dscz_daiji_fz2_00050.png</key>
		<dict>
			<key>frame</key>
			<string>{{674,2},{316,91}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{316,91}}</string>
			<key>sourceSize</key>
			<string>{318,91}</string>
		</dict>
		<key>sz_New_dscz_daiji_fz2_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{688,319},{316,91}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{316,91}}</string>
			<key>sourceSize</key>
			<string>{318,91}</string>
		</dict>
		<key>sz_New_dscz_daiji_fz2_00054.png</key>
		<dict>
			<key>frame</key>
			<string>{{766,2},{316,91}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{316,91}}</string>
			<key>sourceSize</key>
			<string>{318,91}</string>
		</dict>
		<key>sz_New_dscz_daiji_fz2_00056.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,640},{318,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{318,91}}</string>
			<key>sourceSize</key>
			<string>{318,91}</string>
		</dict>
		<key>sz_New_dscz_daiji_fz2_00058.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,321},{318,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{318,91}}</string>
			<key>sourceSize</key>
			<string>{318,91}</string>
		</dict>
		<key>ty_tongyongbaoqi2_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{858,2},{163,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,164}}</string>
			<key>sourceSize</key>
			<string>{163,164}</string>
		</dict>
		<key>ty_tongyongbaoqi_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{780,319},{76,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,87}}</string>
			<key>sourceSize</key>
			<string>{76,87}</string>
		</dict>
		<key>ty_xtxt18.png</key>
		<dict>
			<key>frame</key>
			<string>{{858,166},{164,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,140}}</string>
			<key>sourceSize</key>
			<string>{164,140}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>global_spinehero_effect11.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>global_spinehero_effect11.png</string>
	</dict>
</dict>
</plist>
