<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>largepic_100218.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{778,640}}</string>
			<key>offset</key>
			<string>{-47,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{778,640}}</string>
			<key>sourceSize</key>
			<string>{872,640}</string>
		</dict>
		<key>longpic_100218.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,157},{181,288}}</string>
			<key>offset</key>
			<string>{-6,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,288}}</string>
			<key>sourceSize</key>
			<string>{193,288}</string>
		</dict>
		<key>middlepic_100218.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,84},{183,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,71}}</string>
			<key>sourceSize</key>
			<string>{183,71}</string>
		</dict>
		<key>namepic_100218.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,693},{262,98}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{25,0},{262,98}}</string>
			<key>sourceSize</key>
			<string>{312,100}</string>
		</dict>
		<key>skillmaxpic_100218.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,389},{302,53}}</string>
			<key>offset</key>
			<string>{-9,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{302,53}}</string>
			<key>sourceSize</key>
			<string>{320,55}</string>
		</dict>
		<key>skillmaxpic_10021801.png</key>
		<dict>
			<key>frame</key>
			<string>{{967,84},{303,53}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{303,53}}</string>
			<key>sourceSize</key>
			<string>{303,55}</string>
		</dict>
		<key>skillnamepic_100218.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,43},{206,39}}</string>
			<key>offset</key>
			<string>{-7,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,0},{206,39}}</string>
			<key>sourceSize</key>
			<string>{292,39}</string>
		</dict>
		<key>skillnamepic_10021801.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,2},{210,39}}</string>
			<key>offset</key>
			<string>{-6,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,0},{210,39}}</string>
			<key>sourceSize</key>
			<string>{292,39}</string>
		</dict>
		<key>skillsmaxpic_100218.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,693},{301,52}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{301,52}}</string>
			<key>sourceSize</key>
			<string>{301,58}</string>
		</dict>
		<key>skillsmaxpic_10021801.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,693},{301,52}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{301,52}}</string>
			<key>sourceSize</key>
			<string>{301,58}</string>
		</dict>
		<key>skillsmaxpic_10021802.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,693},{301,52}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{301,52}}</string>
			<key>sourceSize</key>
			<string>{301,58}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>heros_100218.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>heros_100218.png</string>
	</dict>
</dict>
</plist>
