<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>DistantPlaceSignet_Mark_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,1718},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>DistantPlaceSignet_Mark_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,1718},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>DistantPlaceSignet_Mark_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,1718},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>DistantPlaceSignet_Mark_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{35,1718},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>DistantPlaceSignet_Mark_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1718},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>bth_ybzd_datanchaung_qianwang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,1680},{110,36}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{110,36}}</string>
			<key>sourceSize</key>
			<string>{120,36}</string>
		</dict>
		<key>bth_ybzd_datanchaung_qianwang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1680},{110,36}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{110,36}}</string>
			<key>sourceSize</key>
			<string>{120,36}</string>
		</dict>
		<key>bth_ybzd_shishitanchaung_shengji_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,863},{188,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,71}}</string>
			<key>sourceSize</key>
			<string>{188,71}</string>
		</dict>
		<key>bth_ybzd_shishitanchaung_shengji_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,679},{188,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,71}}</string>
			<key>sourceSize</key>
			<string>{188,71}</string>
		</dict>
		<key>bth_ybzd_zhujiemian_fangyukongjian_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,1064},{193,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,68}}</string>
			<key>sourceSize</key>
			<string>{193,68}</string>
		</dict>
		<key>bth_ybzd_zhujiemian_fangyukongjian_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1248},{193,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,68}}</string>
			<key>sourceSize</key>
			<string>{193,68}</string>
		</dict>
		<key>bth_ybzd_zhujiemian_gaizao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,1359},{98,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,108}}</string>
			<key>sourceSize</key>
			<string>{98,108}</string>
		</dict>
		<key>bth_ybzd_zhujiemian_gaizao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,1259},{98,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,108}}</string>
			<key>sourceSize</key>
			<string>{98,108}</string>
		</dict>
		<key>bth_ybzd_zhujiemian_gongjikongjian_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,1058},{193,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,68}}</string>
			<key>sourceSize</key>
			<string>{193,68}</string>
		</dict>
		<key>bth_ybzd_zhujiemian_gongjikongjian_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{145,869},{193,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,68}}</string>
			<key>sourceSize</key>
			<string>{193,68}</string>
		</dict>
		<key>bth_ybzd_zhujiemian_shengmingkongjian_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1053},{193,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,68}}</string>
			<key>sourceSize</key>
			<string>{193,68}</string>
		</dict>
		<key>bth_ybzd_zhujiemian_shengmingkongjian_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,863},{193,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,68}}</string>
			<key>sourceSize</key>
			<string>{193,68}</string>
		</dict>
		<key>bth_ybzd_zhujiemian_yinji_huise.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,1570},{98,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,108}}</string>
			<key>sourceSize</key>
			<string>{98,108}</string>
		</dict>
		<key>bth_ybzd_zhujiemian_yinji_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,1460},{98,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,108}}</string>
			<key>sourceSize</key>
			<string>{98,108}</string>
		</dict>
		<key>bth_ybzd_zhujiemian_yinji_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1570},{98,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,108}}</string>
			<key>sourceSize</key>
			<string>{98,108}</string>
		</dict>
		<key>bth_ybzd_zjtanchaung_shengshiji_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,673},{188,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,71}}</string>
			<key>sourceSize</key>
			<string>{188,71}</string>
		</dict>
		<key>bth_ybzd_zjtanchaung_shengshiji_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,673},{188,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,71}}</string>
			<key>sourceSize</key>
			<string>{188,71}</string>
		</dict>
		<key>bth_ybzd_zjtanchaung_shengxing_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,489},{188,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,71}}</string>
			<key>sourceSize</key>
			<string>{188,71}</string>
		</dict>
		<key>bth_ybzd_zjtanchaung_shengxing_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,483},{188,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,71}}</string>
			<key>sourceSize</key>
			<string>{188,71}</string>
		</dict>
		<key>bth_ybzd_zjtanchaung_shengyiji_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,483},{188,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,71}}</string>
			<key>sourceSize</key>
			<string>{188,71}</string>
		</dict>
		<key>bth_ybzd_zjtanchaung_shengyiji_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,299},{188,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,71}}</string>
			<key>sourceSize</key>
			<string>{188,71}</string>
		</dict>
		<key>pic_dszl_datanchaung_guize_wenzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,1443},{91,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,29}}</string>
			<key>sourceSize</key>
			<string>{91,29}</string>
		</dict>
		<key>pic_dszl_datanchaung_huoqutujing_wenzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1443},{125,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,32}}</string>
			<key>sourceSize</key>
			<string>{125,32}</string>
		</dict>
		<key>pic_dszl_datanchaung_zonglan_wenzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,1536},{62,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,31}}</string>
			<key>sourceSize</key>
			<string>{62,31}</string>
		</dict>
		<key>pic_dszl_datanchaung_zujiangaizao_wenzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,1103},{154,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,32}}</string>
			<key>sourceSize</key>
			<string>{154,32}</string>
		</dict>
		<key>pic_dszl_shishitanchaung_gaojiyinji_wenzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,734},{153,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,30}}</string>
			<key>sourceSize</key>
			<string>{153,30}</string>
		</dict>
		<key>pic_dszl_shishitanchaung_shishiyinji_wenzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,889},{212,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,31}}</string>
			<key>sourceSize</key>
			<string>{212,31}</string>
		</dict>
		<key>pic_dszl_shishitanchaung_shuxingyinji_wenzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,489},{243,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{243,29}}</string>
			<key>sourceSize</key>
			<string>{243,29}</string>
		</dict>
		<key>pic_ybzd_datanchaung_jqqd_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{479,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{479,158}}</string>
			<key>sourceSize</key>
			<string>{479,158}</string>
		</dict>
		<key>pic_ybzd_datanchaung_shishi.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,1460},{69,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,26}}</string>
			<key>sourceSize</key>
			<string>{69,26}</string>
		</dict>
		<key>pic_ybzd_yimanji .png</key>
		<dict>
			<key>frame</key>
			<string>{{162,2},{295,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,76}}</string>
			<key>sourceSize</key>
			<string>{295,76}</string>
		</dict>
		<key>pic_ybzd_zhujiemian_dabiaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,1253},{205,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,44}}</string>
			<key>sourceSize</key>
			<string>{205,44}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_DistantBossCultivate0.png</string>
		<key>size</key>
		<string>{253,1751}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_DistantBossCultivate0.png</string>
	</dict>
</dict>
</plist>
