<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>largepic_100179.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{650,630}}</string>
			<key>offset</key>
			<string>{-10,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{101,10},{650,630}}</string>
			<key>sourceSize</key>
			<string>{872,640}</string>
		</dict>
		<key>longpic_100179.png</key>
		<dict>
			<key>frame</key>
			<string>{{654,110},{168,287}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,0},{168,287}}</string>
			<key>sourceSize</key>
			<string>{192,287}</string>
		</dict>
		<key>middlepic_100179.png</key>
		<dict>
			<key>frame</key>
			<string>{{654,280},{163,71}}</string>
			<key>offset</key>
			<string>{9,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,0},{163,71}}</string>
			<key>sourceSize</key>
			<string>{183,71}</string>
		</dict>
		<key>namepic_100179.png</key>
		<dict>
			<key>frame</key>
			<string>{{819,280},{504,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{504,100}}</string>
			<key>sourceSize</key>
			<string>{504,100}</string>
		</dict>
		<key>skillmaxpic_100179.png</key>
		<dict>
			<key>frame</key>
			<string>{{654,2},{364,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{364,52}}</string>
			<key>sourceSize</key>
			<string>{364,52}</string>
		</dict>
		<key>skillnamepic_100179.png</key>
		<dict>
			<key>frame</key>
			<string>{{968,56},{247,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{247,43}}</string>
			<key>sourceSize</key>
			<string>{247,43}</string>
		</dict>
		<key>skillsmaxpic_100179.png</key>
		<dict>
			<key>frame</key>
			<string>{{654,56},{312,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{312,52}}</string>
			<key>sourceSize</key>
			<string>{312,52}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>heros_100179.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>heros_100179.png</string>
	</dict>
</dict>
</plist>
