<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wy_2_2_28833_kuangrezhisheriimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,2},{40,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,39}}</string>
			<key>sourceSize</key>
			<string>{40,39}</string>
		</dict>
		<key>wy_2_2_44693_kuangrezhisheriimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,80},{184,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,90}}</string>
			<key>sourceSize</key>
			<string>{184,90}</string>
		</dict>
		<key>wy_4_4_78916_kuangrezhisheriimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,43},{135,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,36}}</string>
			<key>sourceSize</key>
			<string>{135,36}</string>
		</dict>
		<key>wy_6_6_18194_kuangrezhisheriimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{204,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,76}}</string>
			<key>sourceSize</key>
			<string>{204,76}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>kuangrezhisheriimage.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>kuangrezhisheriimage.png</string>
	</dict>
</dict>
</plist>
