<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_hd_6zn_gonggao_dxqs.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,202},{198,405}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,405}}</string>
			<key>sourceSize</key>
			<string>{198,405}</string>
		</dict>
		<key>pic_hd_6zn_gonggao_qhjc.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,2},{198,405}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,405}}</string>
			<key>sourceSize</key>
			<string>{198,405}</string>
		</dict>
		<key>pic_hd_6zn_gonggao_qhyy.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,2},{198,405}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,405}}</string>
			<key>sourceSize</key>
			<string>{198,405}</string>
		</dict>
		<key>pic_hd_6zn_gonggao_zndg.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,2},{198,405}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,405}}</string>
			<key>sourceSize</key>
			<string>{198,405}</string>
		</dict>
		<key>pic_hd_6zn_gonggao_znzp.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{198,405}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,405}}</string>
			<key>sourceSize</key>
			<string>{198,405}</string>
		</dict>
		<key>pic_znq_gonggao_jieshu.png</key>
		<dict>
			<key>frame</key>
			<string>{{764,402},{159,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,53}}</string>
			<key>sourceSize</key>
			<string>{159,53}</string>
		</dict>
		<key>pic_znq_gonggao_yugao.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,402},{160,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,53}}</string>
			<key>sourceSize</key>
			<string>{160,53}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_ActivityYearsSix0.png</string>
		<key>size</key>
		<string>{1009,457}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_ActivityYearsSix0.png</string>
	</dict>
</dict>
</plist>
