<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bth_emobixunbao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{937,143},{91,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,102}}</string>
			<key>sourceSize</key>
			<string>{91,102}</string>
		</dict>
		<key>bth_emobixunbao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{844,143},{91,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,102}}</string>
			<key>sourceSize</key>
			<string>{91,102}</string>
		</dict>
		<key>bth_jhjj_buzhen_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{512,121},{134,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,50}}</string>
			<key>sourceSize</key>
			<string>{134,50}</string>
		</dict>
		<key>bth_jhjj_buzhen_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,77},{134,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,50}}</string>
			<key>sourceSize</key>
			<string>{134,50}</string>
		</dict>
		<key>bth_jhjj_gmtzcs_queding_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1805,47},{188,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,59}}</string>
			<key>sourceSize</key>
			<string>{188,59}</string>
		</dict>
		<key>bth_jhjj_gmtzcs_queding_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1615,70},{188,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,59}}</string>
			<key>sourceSize</key>
			<string>{188,59}</string>
		</dict>
		<key>bth_jhjj_paihang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1482,105},{86,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,71}}</string>
			<key>sourceSize</key>
			<string>{86,71}</string>
		</dict>
		<key>bth_jhjj_paihang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1394,105},{86,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,71}}</string>
			<key>sourceSize</key>
			<string>{86,71}</string>
		</dict>
		<key>bth_jhjj_shichang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1303,139},{89,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,100}}</string>
			<key>sourceSize</key>
			<string>{89,100}</string>
		</dict>
		<key>bth_jhjj_shichang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1212,131},{89,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,100}}</string>
			<key>sourceSize</key>
			<string>{89,100}</string>
		</dict>
		<key>bth_jhjj_shuaxin_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1594,2},{201,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,66}}</string>
			<key>sourceSize</key>
			<string>{201,66}</string>
		</dict>
		<key>bth_jhjj_shuaxin_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1391,2},{201,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,66}}</string>
			<key>sourceSize</key>
			<string>{201,66}</string>
		</dict>
		<key>bth_jhjj_xunbao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,86},{99,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,100}}</string>
			<key>sourceSize</key>
			<string>{99,100}</string>
		</dict>
		<key>bth_jhjj_xunbao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,77},{99,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,100}}</string>
			<key>sourceSize</key>
			<string>{99,100}</string>
		</dict>
		<key>bth_jhjj_zhenrongtiaozheng_taizhan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1703,131},{86,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,63}}</string>
			<key>sourceSize</key>
			<string>{86,63}</string>
		</dict>
		<key>bth_jhjj_zhenrongtiaozheng_taizhan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1615,131},{86,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,63}}</string>
			<key>sourceSize</key>
			<string>{86,63}</string>
		</dict>
		<key>bth_jhjj_zhenrongtiaozheng_yijianbuzhen_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1482,178},{86,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,63}}</string>
			<key>sourceSize</key>
			<string>{86,63}</string>
		</dict>
		<key>bth_jhjj_zhenrongtiaozheng_yijianbuzhen_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1394,178},{86,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,63}}</string>
			<key>sourceSize</key>
			<string>{86,63}</string>
		</dict>
		<key>bth_jhjj_zhuansheng_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1121,131},{89,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,100}}</string>
			<key>sourceSize</key>
			<string>{89,100}</string>
		</dict>
		<key>bth_jhjj_zhuansheng_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1030,131},{89,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,100}}</string>
			<key>sourceSize</key>
			<string>{89,100}</string>
		</dict>
		<key>bth_jhjjc_bianchenganniu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1118,80},{185,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,49}}</string>
			<key>sourceSize</key>
			<string>{185,49}</string>
		</dict>
		<key>bth_jhjjc_bianchenganniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{931,80},{185,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,49}}</string>
			<key>sourceSize</key>
			<string>{185,49}</string>
		</dict>
		<key>bth_jiangliyilan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1305,80},{79,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,57}}</string>
			<key>sourceSize</key>
			<string>{79,57}</string>
		</dict>
		<key>bth_jiangliyilan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{418,188},{79,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,57}}</string>
			<key>sourceSize</key>
			<string>{79,57}</string>
		</dict>
		<key>bth_xunbaoshici_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,160},{254,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{254,81}}</string>
			<key>sourceSize</key>
			<string>{254,81}</string>
		</dict>
		<key>bth_xunbaoshici_presspng.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,77},{254,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{254,81}}</string>
			<key>sourceSize</key>
			<string>{254,81}</string>
		</dict>
		<key>bth_xunbaoyici_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{676,2},{253,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,82}}</string>
			<key>sourceSize</key>
			<string>{253,82}</string>
		</dict>
		<key>bth_xunbaoyici_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{421,2},{253,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,82}}</string>
			<key>sourceSize</key>
			<string>{253,82}</string>
		</dict>
		<key>bth_ziji_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1641,196},{69,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,49}}</string>
			<key>sourceSize</key>
			<string>{69,49}</string>
		</dict>
		<key>bth_ziji_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1570,196},{69,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,49}}</string>
			<key>sourceSize</key>
			<string>{69,49}</string>
		</dict>
		<key>bth_zuanshixunbao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{751,143},{91,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,102}}</string>
			<key>sourceSize</key>
			<string>{91,102}</string>
		</dict>
		<key>bth_zuanshixunbao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{658,143},{91,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,102}}</string>
			<key>sourceSize</key>
			<string>{91,102}</string>
		</dict>
		<key>pic_jhjj_biaoti_shuoming.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,179},{64,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,32}}</string>
			<key>sourceSize</key>
			<string>{64,32}</string>
		</dict>
		<key>pic_jhjj_dabiaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{931,2},{237,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{237,76}}</string>
			<key>sourceSize</key>
			<string>{237,76}</string>
		</dict>
		<key>pic_jhjj_gmtzcs_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{1805,108},{192,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,33}}</string>
			<key>sourceSize</key>
			<string>{192,33}</string>
		</dict>
		<key>pic_jhjj_paihangbang_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{775,86},{97,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,45}}</string>
			<key>sourceSize</key>
			<string>{97,45}</string>
		</dict>
		<key>pic_jhjj_paihangbang_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1570,105},{79,43}}</string>
			<key>offset</key>
			<string>{-11,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,43}}</string>
			<key>sourceSize</key>
			<string>{101,45}</string>
		</dict>
		<key>pic_jhjj_paihangbang_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{676,86},{97,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,45}}</string>
			<key>sourceSize</key>
			<string>{97,45}</string>
		</dict>
		<key>pic_jhjj_paihangbang_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,213},{158,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,32}}</string>
			<key>sourceSize</key>
			<string>{158,32}</string>
		</dict>
		<key>pic_jhjj_wanjiaxinxi_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{1391,70},{222,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,33}}</string>
			<key>sourceSize</key>
			<string>{222,33}</string>
		</dict>
		<key>pic_jhjj_xxxz_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{512,86},{162,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,33}}</string>
			<key>sourceSize</key>
			<string>{162,33}</string>
		</dict>
		<key>pic_jhjj_zhenrongtiaozheng_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{1797,2},{210,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,43}}</string>
			<key>sourceSize</key>
			<string>{210,43}</string>
		</dict>
		<key>pic_jhjj_zhenrongtiaozheng_fang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1935,172},{25,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,28}}</string>
			<key>sourceSize</key>
			<string>{25,28}</string>
		</dict>
		<key>pic_jhjj_zhenrongtiaozheng_fang1.png</key>
		<dict>
			<key>frame</key>
			<string>{{512,173},{72,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,72}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>pic_jhjj_zhenrongtiaozheng_gong.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,179},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>pic_jhjj_zhenrongtiaozheng_gong1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1863,143},{70,70}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{70,70}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>pic_jhjj_zhenrongtiaozheng_ji.png</key>
		<dict>
			<key>frame</key>
			<string>{{1850,215},{26,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,28}}</string>
			<key>sourceSize</key>
			<string>{26,28}</string>
		</dict>
		<key>pic_jhjj_zhenrongtiaozheng_ji1.png</key>
		<dict>
			<key>frame</key>
			<string>{{586,173},{70,72}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{70,72}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>pic_jhjj_zhenrongtiaozheng_quan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1935,143},{28,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,27}}</string>
			<key>sourceSize</key>
			<string>{28,27}</string>
		</dict>
		<key>pic_jhjj_zhenrongtiaozheng_quan1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1791,143},{70,70}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{70,70}}</string>
			<key>sourceSize</key>
			<string>{72,72}</string>
		</dict>
		<key>pic_jihuanxunbao_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{1170,2},{219,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,76}}</string>
			<key>sourceSize</key>
			<string>{219,76}</string>
		</dict>
		<key>pic_tanchuang_jiangliyilan_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{417,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{417,73}}</string>
			<key>sourceSize</key>
			<string>{417,73}</string>
		</dict>
		<key>pic_zizhi11.png</key>
		<dict>
			<key>frame</key>
			<string>{{1798,215},{26,30}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,0},{26,30}}</string>
			<key>sourceSize</key>
			<string>{48,30}</string>
		</dict>
		<key>pic_zizhi12.png</key>
		<dict>
			<key>frame</key>
			<string>{{1826,215},{22,30}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,0},{22,30}}</string>
			<key>sourceSize</key>
			<string>{48,30}</string>
		</dict>
		<key>pic_zizhi13.png</key>
		<dict>
			<key>frame</key>
			<string>{{1712,215},{44,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{44,30}}</string>
			<key>sourceSize</key>
			<string>{48,30}</string>
		</dict>
		<key>pic_zizhi14.png</key>
		<dict>
			<key>frame</key>
			<string>{{874,86},{48,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,30}}</string>
			<key>sourceSize</key>
			<string>{48,30}</string>
		</dict>
		<key>pic_zizhi15.png</key>
		<dict>
			<key>frame</key>
			<string>{{1758,215},{38,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,0},{38,30}}</string>
			<key>sourceSize</key>
			<string>{48,30}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_ActivityTCGPVP0.png</string>
		<key>size</key>
		<string>{2009,247}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_ActivityTCGPVP0.png</string>
	</dict>
</dict>
</plist>
