<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_huangseanniu_xiaowenhao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1617,406},{28,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,26}}</string>
			<key>sourceSize</key>
			<string>{28,26}</string>
		</dict>
		<key>btn_huangseanniu_xiaowenhao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1629,466},{28,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,26}}</string>
			<key>sourceSize</key>
			<string>{28,26}</string>
		</dict>
		<key>btn_qhjc_blueteam_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1349,406},{146,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,62}}</string>
			<key>sourceSize</key>
			<string>{146,62}</string>
		</dict>
		<key>btn_qhjc_blueteam_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1201,410},{146,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,62}}</string>
			<key>sourceSize</key>
			<string>{146,62}</string>
		</dict>
		<key>btn_qhjc_redteam_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1149,262},{146,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,62}}</string>
			<key>sourceSize</key>
			<string>{146,62}</string>
		</dict>
		<key>btn_qhjc_redteam_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1085,262},{146,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,62}}</string>
			<key>sourceSize</key>
			<string>{146,62}</string>
		</dict>
		<key>pic_qhjc_bqwf_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1644,436},{22,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,22}}</string>
			<key>sourceSize</key>
			<string>{22,22}</string>
		</dict>
		<key>pic_qhjc_btnbg_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{1143,410},{56,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,70}}</string>
			<key>sourceSize</key>
			<string>{56,70}</string>
		</dict>
		<key>pic_qhjc_btnbg_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{1085,410},{56,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,70}}</string>
			<key>sourceSize</key>
			<string>{56,70}</string>
		</dict>
		<key>pic_qhjc_dangwei_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1497,406},{58,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,58}}</string>
			<key>sourceSize</key>
			<string>{58,58}</string>
		</dict>
		<key>pic_qhjc_dangwei_dikuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{941,262},{216,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,142}}</string>
			<key>sourceSize</key>
			<string>{216,142}</string>
		</dict>
		<key>pic_qhjc_dangwei_dikuang_xuanzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,262},{216,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,142}}</string>
			<key>sourceSize</key>
			<string>{216,142}</string>
		</dict>
		<key>pic_qhjc_dikuang_gdjbg_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{998,2},{870,258}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{870,258}}</string>
			<key>sourceSize</key>
			<string>{870,258}</string>
		</dict>
		<key>pic_qhjc_dikuang_gdjbg_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,2},{870,258}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{870,258}}</string>
			<key>sourceSize</key>
			<string>{870,258}</string>
		</dict>
		<key>pic_qhjc_fegeline_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,262},{2,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,32}}</string>
			<key>sourceSize</key>
			<string>{2,32}</string>
		</dict>
		<key>pic_qhjc_fegeline_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,262},{2,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,32}}</string>
			<key>sourceSize</key>
			<string>{2,32}</string>
		</dict>
		<key>pic_qhjc_fenge_gray.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,497},{117,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,2}}</string>
			<key>sourceSize</key>
			<string>{117,2}</string>
		</dict>
		<key>pic_qhjc_hdjs_redbluebg.png</key>
		<dict>
			<key>frame</key>
			<string>{{493,483},{784,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{784,16}}</string>
			<key>sourceSize</key>
			<string>{784,16}</string>
		</dict>
		<key>pic_qhjc_jcjilubg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1213,262},{660,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{660,142}}</string>
			<key>sourceSize</key>
			<string>{660,142}</string>
		</dict>
		<key>pic_qhjc_jinbi_bg_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{1629,436},{10,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,12}}</string>
			<key>sourceSize</key>
			<string>{10,12}</string>
		</dict>
		<key>pic_qhjc_jinbi_bg_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{1617,436},{10,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,12}}</string>
			<key>sourceSize</key>
			<string>{10,12}</string>
		</dict>
		<key>pic_qhjc_tc_fegeline.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,497},{62,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,2}}</string>
			<key>sourceSize</key>
			<string>{62,2}</string>
		</dict>
		<key>pic_qhjc_touxiangkuang_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{262,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{262,60}}</string>
			<key>sourceSize</key>
			<string>{262,60}</string>
		</dict>
		<key>pic_qhjc_touxiangkuang_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,2},{260,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{260,60}}</string>
			<key>sourceSize</key>
			<string>{260,60}</string>
		</dict>
		<key>pic_qhjc_touxiangkuang_shuzi1_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{1557,450},{14,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,42}}</string>
			<key>sourceSize</key>
			<string>{14,42}</string>
		</dict>
		<key>pic_qhjc_touxiangkuang_shuzi1_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{1601,450},{14,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,41}}</string>
			<key>sourceSize</key>
			<string>{14,41}</string>
		</dict>
		<key>pic_qhjc_touxiangkuang_shuzi2_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{1323,474},{28,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,41}}</string>
			<key>sourceSize</key>
			<string>{28,41}</string>
		</dict>
		<key>pic_qhjc_touxiangkuang_shuzi2_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{1588,406},{27,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,42}}</string>
			<key>sourceSize</key>
			<string>{27,42}</string>
		</dict>
		<key>pic_qhjc_touxiangkuang_shuzi3_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{1586,466},{29,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,41}}</string>
			<key>sourceSize</key>
			<string>{29,41}</string>
		</dict>
		<key>pic_qhjc_touxiangkuang_shuzi3_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{1279,474},{28,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,42}}</string>
			<key>sourceSize</key>
			<string>{28,42}</string>
		</dict>
		<key>pic_qhjc_touxiangkuang_shuzi4_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{1410,470},{30,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,42}}</string>
			<key>sourceSize</key>
			<string>{30,42}</string>
		</dict>
		<key>pic_qhjc_touxiangkuang_shuzi4_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{1366,470},{30,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,42}}</string>
			<key>sourceSize</key>
			<string>{30,42}</string>
		</dict>
		<key>pic_qhjc_touxiangkuang_shuzi5_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{1557,406},{29,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,42}}</string>
			<key>sourceSize</key>
			<string>{29,42}</string>
		</dict>
		<key>pic_qhjc_touxiangkuang_shuzi5_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{1542,466},{29,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,42}}</string>
			<key>sourceSize</key>
			<string>{29,42}</string>
		</dict>
		<key>pic_qhjc_touxiangkuang_shuzi6_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{1498,466},{29,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,42}}</string>
			<key>sourceSize</key>
			<string>{29,42}</string>
		</dict>
		<key>pic_qhjc_touxiangkuang_shuzi6_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{1454,470},{29,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,42}}</string>
			<key>sourceSize</key>
			<string>{29,42}</string>
		</dict>
		<key>pic_qhjc_xuanzhongkuang_dangwei.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,262},{239,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{239,165}}</string>
			<key>sourceSize</key>
			<string>{239,165}</string>
		</dict>
		<key>pic_qhjc_zs_gdj_kuang1_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,262},{150,219}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,219}}</string>
			<key>sourceSize</key>
			<string>{150,219}</string>
		</dict>
		<key>pic_qhjc_zs_gdj_kuang1_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{493,262},{150,219}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,219}}</string>
			<key>sourceSize</key>
			<string>{150,219}</string>
		</dict>
		<key>pic_qhjc_zs_gdj_kuang2_blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,266},{160,229}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,229}}</string>
			<key>sourceSize</key>
			<string>{160,229}</string>
		</dict>
		<key>pic_qhjc_zs_gdj_kuang2_red.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,266},{160,229}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,229}}</string>
			<key>sourceSize</key>
			<string>{160,229}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>KOFQuiz0.png</string>
		<key>size</key>
		<string>{1875,504}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>KOFQuiz0.png</string>
	</dict>
</dict>
</plist>
