<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bg_qiandao_cishu.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,945},{244,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{244,28}}</string>
			<key>sourceSize</key>
			<string>{244,28}</string>
		</dict>
		<key>bg_qiandao_dadi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,521},{685,422}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{685,422}}</string>
			<key>sourceSize</key>
			<string>{685,422}</string>
		</dict>
		<key>pic_jp_yqd_main_anniu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,945},{71,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,41}}</string>
			<key>sourceSize</key>
			<string>{71,41}</string>
		</dict>
		<key>pic_jp_yqd_main_bg01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{902,517}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{902,517}}</string>
			<key>sourceSize</key>
			<string>{908,517}</string>
		</dict>
		<key>pic_jp_yqd_main_tubiaodi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{689,521},{132,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,132}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>pic_jp_yqd_main_tubiaodi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{785,783},{124,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,124}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>pic_jp_yqd_main_yiqiandao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{785,655},{126,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,126}}</string>
			<key>sourceSize</key>
			<string>{126,126}</string>
		</dict>
		<key>word_jp_yqd_main_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{689,655},{336,94}}</string>
			<key>offset</key>
			<string>{-5,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,0},{336,94}}</string>
			<key>sourceSize</key>
			<string>{388,100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>CheckDayLayer0.png</string>
		<key>size</key>
		<string>{913,993}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>CheckDayLayer0.png</string>
	</dict>
</dict>
</plist>
