<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>effect_shuixiang_exMax03_00001_sxlmbsdsjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{435,499},{451,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{451,120}}</string>
			<key>sourceSize</key>
			<string>{451,120}</string>
		</dict>
		<key>effect_shuixiang_exMax03_00002_sxlmbsdsjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,499},{449,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{449,130}}</string>
			<key>sourceSize</key>
			<string>{449,130}</string>
		</dict>
		<key>effect_shuixiang_exMax03_00003_sxlmbsdsjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,499},{449,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{449,147}}</string>
			<key>sourceSize</key>
			<string>{449,147}</string>
		</dict>
		<key>effect_shuixiang_exMax03_00004_sxlmbsdsjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,499},{449,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{449,150}}</string>
			<key>sourceSize</key>
			<string>{449,150}</string>
		</dict>
		<key>effect_shuixiang_exMax03_00005_sxlmbsdsjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{449,167}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{449,167}}</string>
			<key>sourceSize</key>
			<string>{449,169}</string>
		</dict>
		<key>effect_shuixiang_exMax03_00006_sxlmbsdsjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{453,2},{449,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{449,160}}</string>
			<key>sourceSize</key>
			<string>{449,160}</string>
		</dict>
		<key>effect_shuixiang_exMax03_00007_sxlmbsdsjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,171},{447,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{447,164}}</string>
			<key>sourceSize</key>
			<string>{449,164}</string>
		</dict>
		<key>effect_shuixiang_exMax03_00008_sxlmbsdsjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,337},{445,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{445,160}}</string>
			<key>sourceSize</key>
			<string>{445,160}</string>
		</dict>
		<key>effect_shuixiang_exMax03_00009_sxlmbsdsjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{453,164},{435,158}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{435,158}}</string>
			<key>sourceSize</key>
			<string>{441,158}</string>
		</dict>
		<key>effect_shuixiang_exMax03_00010_sxlmbsdsjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,324},{433,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{433,149}}</string>
			<key>sourceSize</key>
			<string>{433,149}</string>
		</dict>
		<key>effect_shuixiang_exMax03_00011_sxlmbsdsjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{707,475},{431,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{431,145}}</string>
			<key>sourceSize</key>
			<string>{431,145}</string>
		</dict>
		<key>effect_shuixiang_exMax03_00012_sxlmbsdsjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{557,475},{431,148}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{431,148}}</string>
			<key>sourceSize</key>
			<string>{431,148}</string>
		</dict>
		<key>effect_shuixiang_exMax03_00013_sxlmbsdsjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{854,475},{154,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,151}}</string>
			<key>sourceSize</key>
			<string>{154,151}</string>
		</dict>
		<key>effect_shuixiang_exMax03_00014_sxlmbsdsjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{854,631},{153,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,143}}</string>
			<key>sourceSize</key>
			<string>{153,143}</string>
		</dict>
		<key>effect_shuixiang_exMax03_00015_sxlmbsdsjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{854,786},{137,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,146}}</string>
			<key>sourceSize</key>
			<string>{137,146}</string>
		</dict>
		<key>effect_shuixiang_exMax03_00016_sxlmbsdsjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{886,324},{135,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,147}}</string>
			<key>sourceSize</key>
			<string>{135,147}</string>
		</dict>
		<key>effect_shuixiang_exMax03_00017_sxlmbsdsjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{904,2},{75,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,56}}</string>
			<key>sourceSize</key>
			<string>{75,56}</string>
		</dict>
		<key>effect_shuixiang_exMax03_00018_sxlmbsdsjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,950},{75,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,57}}</string>
			<key>sourceSize</key>
			<string>{75,57}</string>
		</dict>
		<key>effect_shuixiang_exMax03_00019_sxlmbsdsjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{557,908},{75,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,11}}</string>
			<key>sourceSize</key>
			<string>{75,11}</string>
		</dict>
		<key>effect_shuixiang_exMax03_00020_sxlmbsdsjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{999,631},{59,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,5}}</string>
			<key>sourceSize</key>
			<string>{59,5}</string>
		</dict>
		<key>effect_shuixiang_exMax03_00021_sxlmbsdsjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{890,164},{3,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{3,3}}</string>
			<key>sourceSize</key>
			<string>{3,3}</string>
		</dict>
		<key>effect_shuixiang_exMax03_00022_sxlmbsdsjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1009},{2,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,2}}</string>
			<key>sourceSize</key>
			<string>{2,2}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>sxlmbsdsjimage.png</string>
		<key>scale</key>
		<real>0.69</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>sxlmbsdsjimage.png</string>
	</dict>
</dict>
</plist>
