<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_boss1_baiditiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,1205},{49,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,23}}</string>
			<key>sourceSize</key>
			<string>{49,23}</string>
		</dict>
		<key>pic_boss1_daojsjd.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,1145},{294,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{294,39}}</string>
			<key>sourceSize</key>
			<string>{294,39}</string>
		</dict>
		<key>pic_boss1_dikuangxuetiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,1186},{275,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{275,35}}</string>
			<key>sourceSize</key>
			<string>{275,35}</string>
		</dict>
		<key>pic_boss1_duigou.png</key>
		<dict>
			<key>frame</key>
			<string>{{381,1369},{36,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,33}}</string>
			<key>sourceSize</key>
			<string>{36,33}</string>
		</dict>
		<key>pic_boss1_huangdi.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,1049},{96,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,29}}</string>
			<key>sourceSize</key>
			<string>{96,29}</string>
		</dict>
		<key>pic_boss1_huangxin.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,1248},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>pic_boss1_lachendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,1265},{142,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,102}}</string>
			<key>sourceSize</key>
			<string>{142,102}</string>
		</dict>
		<key>pic_boss1_landi.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,866},{96,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,29}}</string>
			<key>sourceSize</key>
			<string>{96,29}</string>
		</dict>
		<key>pic_boss1_lanxing.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,1186},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>pic_boss1_paiming_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,970},{73,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,46}}</string>
			<key>sourceSize</key>
			<string>{73,46}</string>
		</dict>
		<key>pic_boss1_paiming_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,1205},{73,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,36}}</string>
			<key>sourceSize</key>
			<string>{73,36}</string>
		</dict>
		<key>pic_boss1_paiming_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,1369},{73,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,36}}</string>
			<key>sourceSize</key>
			<string>{73,36}</string>
		</dict>
		<key>pic_boss1_paiming_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,1231},{40,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,30}}</string>
			<key>sourceSize</key>
			<string>{40,30}</string>
		</dict>
		<key>pic_boss1_paiming_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,1086},{40,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,31}}</string>
			<key>sourceSize</key>
			<string>{40,31}</string>
		</dict>
		<key>pic_boss1_paiming_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,1119},{40,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,30}}</string>
			<key>sourceSize</key>
			<string>{40,30}</string>
		</dict>
		<key>pic_boss1_xiaojindutiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{425,1186},{217,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{217,19}}</string>
			<key>sourceSize</key>
			<string>{217,19}</string>
		</dict>
		<key>pic_boss1_xiaoqipao.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,1151},{61,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,52}}</string>
			<key>sourceSize</key>
			<string>{61,52}</string>
		</dict>
		<key>pic_boss1_xiaoren.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,1339},{21,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,20}}</string>
			<key>sourceSize</key>
			<string>{21,20}</string>
		</dict>
		<key>pic_boss1_zhandou_changtiao1.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,2},{761,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{761,23}}</string>
			<key>sourceSize</key>
			<string>{761,23}</string>
		</dict>
		<key>pic_boss1_zhandou_changtiao2diejia.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,2},{761,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{761,23}}</string>
			<key>sourceSize</key>
			<string>{761,23}</string>
		</dict>
		<key>pic_boss1_zhandou_wangkuangdi.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,801},{54,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,35}}</string>
			<key>sourceSize</key>
			<string>{54,35}</string>
		</dict>
		<key>pic_boss1_zhandou_xuetiaodi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{857,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{857,48}}</string>
			<key>sourceSize</key>
			<string>{857,48}</string>
		</dict>
		<key>pic_boss1_zhandou_xuetiaodi11.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,1045},{39,40}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,44}</string>
		</dict>
		<key>pic_boss1_zidongzhandouk.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,1347},{27,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,26}}</string>
			<key>sourceSize</key>
			<string>{27,26}</string>
		</dict>
		<key>pic_boss1_zjm_kaishidaojiashi.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,1049},{304,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{304,94}}</string>
			<key>sourceSize</key>
			<string>{304,94}</string>
		</dict>
		<key>pic_boss1_zjm_shuomingchewndi.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,1265},{192,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,99}}</string>
			<key>sourceSize</key>
			<string>{192,99}</string>
		</dict>
		<key>pic_boss1_zjm_wenzidi11.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,811},{140,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,35}}</string>
			<key>sourceSize</key>
			<string>{140,35}</string>
		</dict>
		<key>pic_boss_1bossmingtiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,752},{118,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,57}}</string>
			<key>sourceSize</key>
			<string>{118,57}</string>
		</dict>
		<key>pic_boss_1zijindutiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,1387},{217,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{217,19}}</string>
			<key>sourceSize</key>
			<string>{217,19}</string>
		</dict>
		<key>pic_boss_henggangxian.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,1308},{18,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,29}}</string>
			<key>sourceSize</key>
			<string>{18,29}</string>
		</dict>
		<key>pic_hencian1_baiditiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,848},{1,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,126}}</string>
			<key>sourceSize</key>
			<string>{1,126}</string>
		</dict>
		<key>pic_sjboss_di1.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,765},{58,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,34}}</string>
			<key>sourceSize</key>
			<string>{58,34}</string>
		</dict>
		<key>pic_sjboss_di2.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,866},{344,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{344,102}}</string>
			<key>sourceSize</key>
			<string>{344,102}</string>
		</dict>
		<key>pic_sjboss_di2mine.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,2},{748,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{748,129}}</string>
			<key>sourceSize</key>
			<string>{748,129}</string>
		</dict>
		<key>pic_sjboss_di3.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,970},{329,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{329,77}}</string>
			<key>sourceSize</key>
			<string>{329,77}</string>
		</dict>
		<key>pic_sjboss_di5.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,1223},{23,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,20}}</string>
			<key>sourceSize</key>
			<string>{23,20}</string>
		</dict>
		<key>pic_sjboss_dian1.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,1281},{23,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,25}}</string>
			<key>sourceSize</key>
			<string>{23,25}</string>
		</dict>
		<key>pic_sjboss_dian2.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,1375},{23,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,25}}</string>
			<key>sourceSize</key>
			<string>{23,25}</string>
		</dict>
		<key>pic_sjboss_dian3.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,1256},{23,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,25}}</string>
			<key>sourceSize</key>
			<string>{23,25}</string>
		</dict>
		<key>pic_sjboss_diban11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,861},{368,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{368,128}}</string>
			<key>sourceSize</key>
			<string>{368,128}</string>
		</dict>
		<key>pic_sjboss_taidou_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,1223},{265,40}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{265,40}}</string>
			<key>sourceSize</key>
			<string>{267,40}</string>
		</dict>
		<key>pic_sjboss_taidou_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,1366},{169,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,19}}</string>
			<key>sourceSize</key>
			<string>{169,19}</string>
		</dict>
		<key>pic_toumingshijiandi_boss1.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,1280},{65,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,30}}</string>
			<key>sourceSize</key>
			<string>{65,30}</string>
		</dict>
		<key>pic_worldboss_bosstalk_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1231},{173,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,83}}</string>
			<key>sourceSize</key>
			<string>{173,83}</string>
		</dict>
		<key>pic_worldboss_enter_100032.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,434},{276,430}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{276,430}}</string>
			<key>sourceSize</key>
			<string>{276,430}</string>
		</dict>
		<key>pic_worldboss_enter_100063.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,2},{276,430}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{276,430}}</string>
			<key>sourceSize</key>
			<string>{276,430}</string>
		</dict>
		<key>pic_xiaodian_boss1.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,1366},{19,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,19}}</string>
			<key>sourceSize</key>
			<string>{19,19}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>KOFBoss0.png</string>
		<key>size</key>
		<string>{511,1410}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>KOFBoss0.png</string>
	</dict>
</dict>
</plist>
