<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>BOSS_shetuanfubenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{72,79},{42,21}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{42,21}}</string>
			<key>sourceSize</key>
			<string>{46,25}</string>
		</dict>
		<key>m1_shetuanfubenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,74},{64,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,68}}</string>
			<key>sourceSize</key>
			<string>{64,68}</string>
		</dict>
		<key>stfb_shetuanfubenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,2},{75,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{75,27}}</string>
			<key>sourceSize</key>
			<string>{75,31}</string>
		</dict>
		<key>tb_shetuanfubenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{82,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,70}}</string>
			<key>sourceSize</key>
			<string>{82,70}</string>
		</dict>
		<key>tbg_shetuanfubenimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,140},{68,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,59}}</string>
			<key>sourceSize</key>
			<string>{68,59}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>shetuanfubenimage.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>shetuanfubenimage.png</string>
	</dict>
</dict>
</plist>
