<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>u_houbai2_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,438},{69,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,77}}</string>
			<key>sourceSize</key>
			<string>{69,77}</string>
		</dict>
		<key>u_houbai3_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,367},{69,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,78}}</string>
			<key>sourceSize</key>
			<string>{69,78}</string>
		</dict>
		<key>u_houbei1_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,247},{62,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,72}}</string>
			<key>sourceSize</key>
			<string>{62,72}</string>
		</dict>
		<key>u_houxiaotui1_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,442},{44,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,58}}</string>
			<key>sourceSize</key>
			<string>{44,58}</string>
		</dict>
		<key>u_pijian10_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,67},{67,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,60}}</string>
			<key>sourceSize</key>
			<string>{67,60}</string>
		</dict>
		<key>u_pijian11_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,288},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>u_pijian12_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,594},{54,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,49}}</string>
			<key>sourceSize</key>
			<string>{54,49}</string>
		</dict>
		<key>u_pijian13_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,538},{56,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,55}}</string>
			<key>sourceSize</key>
			<string>{56,55}</string>
		</dict>
		<key>u_pijian14_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,650},{50,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,51}}</string>
			<key>sourceSize</key>
			<string>{50,51}</string>
		</dict>
		<key>u_pijian15_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,595},{56,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,48}}</string>
			<key>sourceSize</key>
			<string>{56,48}</string>
		</dict>
		<key>u_pijian16_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,664},{46,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,49}}</string>
			<key>sourceSize</key>
			<string>{46,49}</string>
		</dict>
		<key>u_pijian17_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{381,660},{59,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,40}}</string>
			<key>sourceSize</key>
			<string>{59,40}</string>
		</dict>
		<key>u_pijian18_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,611},{51,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,49}}</string>
			<key>sourceSize</key>
			<string>{51,49}</string>
		</dict>
		<key>u_pijian19_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{471,480},{39,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,49}}</string>
			<key>sourceSize</key>
			<string>{39,49}</string>
		</dict>
		<key>u_pijian21_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{414,311},{88,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,42}}</string>
			<key>sourceSize</key>
			<string>{88,42}</string>
		</dict>
		<key>u_pijian22_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,221},{80,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,36}}</string>
			<key>sourceSize</key>
			<string>{80,36}</string>
		</dict>
		<key>u_pijian23_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,286},{90,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,39}}</string>
			<key>sourceSize</key>
			<string>{90,39}</string>
		</dict>
		<key>u_pijian25_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,668},{40,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,47}}</string>
			<key>sourceSize</key>
			<string>{40,47}</string>
		</dict>
		<key>u_pijian26_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{397,405},{73,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,56}}</string>
			<key>sourceSize</key>
			<string>{73,56}</string>
		</dict>
		<key>u_pijian27_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,355},{75,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,48}}</string>
			<key>sourceSize</key>
			<string>{75,48}</string>
		</dict>
		<key>u_pijian28_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,509},{66,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,43}}</string>
			<key>sourceSize</key>
			<string>{66,43}</string>
		</dict>
		<key>u_pijian2_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{267,388},{53,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,52}}</string>
			<key>sourceSize</key>
			<string>{53,52}</string>
		</dict>
		<key>u_pijian30_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,555},{68,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,55}}</string>
			<key>sourceSize</key>
			<string>{68,55}</string>
		</dict>
		<key>u_pijian31_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,561},{51,68}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,68}}</string>
			<key>sourceSize</key>
			<string>{51,70}</string>
		</dict>
		<key>u_pijian32_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,67},{114,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,61}}</string>
			<key>sourceSize</key>
			<string>{114,61}</string>
		</dict>
		<key>u_pijian33_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,505},{54,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,69}}</string>
			<key>sourceSize</key>
			<string>{54,69}</string>
		</dict>
		<key>u_pijian3_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,472},{69,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,69}}</string>
			<key>sourceSize</key>
			<string>{69,69}</string>
		</dict>
		<key>u_pijian5_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,421},{57,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,38}}</string>
			<key>sourceSize</key>
			<string>{57,38}</string>
		</dict>
		<key>u_pijian6_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,327},{69,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,85}}</string>
			<key>sourceSize</key>
			<string>{69,85}</string>
		</dict>
		<key>u_pijian7_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,443},{77,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,58}}</string>
			<key>sourceSize</key>
			<string>{77,58}</string>
		</dict>
		<key>u_pijian9_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,354},{85,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,50}}</string>
			<key>sourceSize</key>
			<string>{85,50}</string>
		</dict>
		<key>u_shengzuoshou2_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,552},{40,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,63}}</string>
			<key>sourceSize</key>
			<string>{40,63}</string>
		</dict>
		<key>u_shenti1_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,406},{80,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,64}}</string>
			<key>sourceSize</key>
			<string>{80,64}</string>
		</dict>
		<key>u_shenti2_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,91},{59,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,84}}</string>
			<key>sourceSize</key>
			<string>{59,84}</string>
		</dict>
		<key>u_shou10_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,774},{32,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,27}}</string>
			<key>sourceSize</key>
			<string>{32,27}</string>
		</dict>
		<key>u_shou11_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,635},{31,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,29}}</string>
			<key>sourceSize</key>
			<string>{31,29}</string>
		</dict>
		<key>u_shou12_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,800},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{28,30}</string>
		</dict>
		<key>u_shou13_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,516},{37,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,28}}</string>
			<key>sourceSize</key>
			<string>{37,28}</string>
		</dict>
		<key>u_shou14_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,186},{33,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,34}}</string>
			<key>sourceSize</key>
			<string>{33,34}</string>
		</dict>
		<key>u_shou15_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,146},{38,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,20}}</string>
			<key>sourceSize</key>
			<string>{38,20}</string>
		</dict>
		<key>u_shou16_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,355},{24,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,34}}</string>
			<key>sourceSize</key>
			<string>{24,34}</string>
		</dict>
		<key>u_shou17_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,271},{18,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,37}}</string>
			<key>sourceSize</key>
			<string>{18,37}</string>
		</dict>
		<key>u_shou18_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,791},{28,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,31}}</string>
			<key>sourceSize</key>
			<string>{28,31}</string>
		</dict>
		<key>u_shou19_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,234},{19,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,35}}</string>
			<key>sourceSize</key>
			<string>{19,35}</string>
		</dict>
		<key>u_shou1_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{42,762},{28,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,33}}</string>
			<key>sourceSize</key>
			<string>{28,33}</string>
		</dict>
		<key>u_shou20_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,391},{28,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,24}}</string>
			<key>sourceSize</key>
			<string>{28,24}</string>
		</dict>
		<key>u_shou21_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,731},{37,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,25}}</string>
			<key>sourceSize</key>
			<string>{37,25}</string>
		</dict>
		<key>u_shou2_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,744},{30,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,25}}</string>
			<key>sourceSize</key>
			<string>{30,25}</string>
		</dict>
		<key>u_shou3_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,710},{29,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,28}}</string>
			<key>sourceSize</key>
			<string>{29,28}</string>
		</dict>
		<key>u_shou4_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,744},{32,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,28}}</string>
			<key>sourceSize</key>
			<string>{32,28}</string>
		</dict>
		<key>u_shou5_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,702},{30,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,26}}</string>
			<key>sourceSize</key>
			<string>{30,26}</string>
		</dict>
		<key>u_shou6_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,596},{37,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,29}}</string>
			<key>sourceSize</key>
			<string>{37,29}</string>
		</dict>
		<key>u_shou7_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,64},{40,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,20}}</string>
			<key>sourceSize</key>
			<string>{40,20}</string>
		</dict>
		<key>u_shou8_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{42,792},{30,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,29}}</string>
			<key>sourceSize</key>
			<string>{30,29}</string>
		</dict>
		<key>u_shou9_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,710},{37,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,31}}</string>
			<key>sourceSize</key>
			<string>{37,31}</string>
		</dict>
		<key>u_tou2_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,643},{44,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,47}}</string>
			<key>sourceSize</key>
			<string>{44,47}</string>
		</dict>
		<key>u_tou4_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,554},{45,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,55}}</string>
			<key>sourceSize</key>
			<string>{45,55}</string>
		</dict>
		<key>u_tou5_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,596},{45,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,54}}</string>
			<key>sourceSize</key>
			<string>{45,54}</string>
		</dict>
		<key>u_tou6_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,488},{48,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,57}}</string>
			<key>sourceSize</key>
			<string>{48,57}</string>
		</dict>
		<key>u_tou7_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{317,661},{47,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,52}}</string>
			<key>sourceSize</key>
			<string>{47,52}</string>
		</dict>
		<key>u_tou8_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,645},{45,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,53}}</string>
			<key>sourceSize</key>
			<string>{45,53}</string>
		</dict>
		<key>u_xiaba0_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,114},{116,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,64}}</string>
			<key>sourceSize</key>
			<string>{116,64}</string>
		</dict>
		<key>u_xiaba10_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,457},{46,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,73}}</string>
			<key>sourceSize</key>
			<string>{46,73}</string>
		</dict>
		<key>u_xiaba11_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,503},{47,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,77}}</string>
			<key>sourceSize</key>
			<string>{47,77}</string>
		</dict>
		<key>u_xiaba12_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,520},{69,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,33}}</string>
			<key>sourceSize</key>
			<string>{69,33}</string>
		</dict>
		<key>u_xiaba13_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,260},{76,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,30}}</string>
			<key>sourceSize</key>
			<string>{76,30}</string>
		</dict>
		<key>u_xiaba14_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,409},{32,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,78}}</string>
			<key>sourceSize</key>
			<string>{32,78}</string>
		</dict>
		<key>u_xiaba15_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,398},{57,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,73}}</string>
			<key>sourceSize</key>
			<string>{57,73}</string>
		</dict>
		<key>u_xiaba16_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,130},{104,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,91}}</string>
			<key>sourceSize</key>
			<string>{104,91}</string>
		</dict>
		<key>u_xiaba17_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,64},{117,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,96}}</string>
			<key>sourceSize</key>
			<string>{117,96}</string>
		</dict>
		<key>u_xiaba18_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,59},{124,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,53}}</string>
			<key>sourceSize</key>
			<string>{124,53}</string>
		</dict>
		<key>u_xiaba19_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,692},{51,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,44}}</string>
			<key>sourceSize</key>
			<string>{51,44}</string>
		</dict>
		<key>u_xiaba20_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{397,463},{72,55}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,55}}</string>
			<key>sourceSize</key>
			<string>{72,57}</string>
		</dict>
		<key>u_xiaba21_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{177,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,63}}</string>
			<key>sourceSize</key>
			<string>{177,63}</string>
		</dict>
		<key>u_xiaba22_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,2},{142,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,60}}</string>
			<key>sourceSize</key>
			<string>{142,60}</string>
		</dict>
		<key>u_xiaba24_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,180},{116,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,52}}</string>
			<key>sourceSize</key>
			<string>{116,52}</string>
		</dict>
		<key>u_xiaba26_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,692},{43,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,31}}</string>
			<key>sourceSize</key>
			<string>{43,31}</string>
		</dict>
		<key>u_xiaba27_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{279,303},{83,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,41}}</string>
			<key>sourceSize</key>
			<string>{83,41}</string>
		</dict>
		<key>u_xiaba28_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,614},{45,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,59}}</string>
			<key>sourceSize</key>
			<string>{45,59}</string>
		</dict>
		<key>u_xiaba29_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,292},{75,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,73}}</string>
			<key>sourceSize</key>
			<string>{75,73}</string>
		</dict>
		<key>u_xiaba2_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,214},{71,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,44}}</string>
			<key>sourceSize</key>
			<string>{71,44}</string>
		</dict>
		<key>u_xiaba30_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,234},{93,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,50}}</string>
			<key>sourceSize</key>
			<string>{93,50}</string>
		</dict>
		<key>u_xiaba3_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,543},{51,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,60}}</string>
			<key>sourceSize</key>
			<string>{51,60}</string>
		</dict>
		<key>u_xiaba4_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,162},{103,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,53}}</string>
			<key>sourceSize</key>
			<string>{103,53}</string>
		</dict>
		<key>u_xiaba5_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,354},{96,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,53}}</string>
			<key>sourceSize</key>
			<string>{96,53}</string>
		</dict>
		<key>u_xiaba6_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,294},{96,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,58}}</string>
			<key>sourceSize</key>
			<string>{96,58}</string>
		</dict>
		<key>u_xiaba7_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,555},{54,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,49}}</string>
			<key>sourceSize</key>
			<string>{54,49}</string>
		</dict>
		<key>u_xiaba8_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,531},{47,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,53}}</string>
			<key>sourceSize</key>
			<string>{47,53}</string>
		</dict>
		<key>u_xiaba9_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,612},{46,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,68}}</string>
			<key>sourceSize</key>
			<string>{46,68}</string>
		</dict>
		<key>u_xiabai1_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,217},{101,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,69}}</string>
			<key>sourceSize</key>
			<string>{101,69}</string>
		</dict>
		<key>u_xiabayinzi1_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,2},{135,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,55}}</string>
			<key>sourceSize</key>
			<string>{135,55}</string>
		</dict>
		<key>u_xiabayinzi2_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,106},{20,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,38}}</string>
			<key>sourceSize</key>
			<string>{20,38}</string>
		</dict>
		<key>u_xiashen1_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,223},{99,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,69}}</string>
			<key>sourceSize</key>
			<string>{99,69}</string>
		</dict>
		<key>u_xie02_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{122,776},{27,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,32}}</string>
			<key>sourceSize</key>
			<string>{27,32}</string>
		</dict>
		<key>u_xie03_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,712},{34,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,31}}</string>
			<key>sourceSize</key>
			<string>{34,31}</string>
		</dict>
		<key>u_xie04_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,712},{30,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,35}}</string>
			<key>sourceSize</key>
			<string>{30,35}</string>
		</dict>
		<key>u_xiezi1_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,472},{28,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,42}}</string>
			<key>sourceSize</key>
			<string>{28,42}</string>
		</dict>
		<key>u_yijiao1_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{462,2},{48,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,87}}</string>
			<key>sourceSize</key>
			<string>{48,87}</string>
		</dict>
		<key>u_youshou1_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,760},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,38}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>u_youshou2_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{45,725},{35,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,39}}</string>
			<key>sourceSize</key>
			<string>{35,39}</string>
		</dict>
		<key>u_youshou4_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,758},{31,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,34}}</string>
			<key>sourceSize</key>
			<string>{31,34}</string>
		</dict>
		<key>u_youtui1_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{462,586},{62,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,48}}</string>
			<key>sourceSize</key>
			<string>{62,48}</string>
		</dict>
		<key>u_youtui9_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,689},{44,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,40}}</string>
			<key>sourceSize</key>
			<string>{44,40}</string>
		</dict>
		<key>u_youtuixie1_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,693},{25,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,43}}</string>
			<key>sourceSize</key>
			<string>{25,43}</string>
		</dict>
		<key>u_youtuixie2_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,738},{27,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,25}}</string>
			<key>sourceSize</key>
			<string>{27,25}</string>
		</dict>
		<key>u_youtuixie3_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,743},{31,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,34}}</string>
			<key>sourceSize</key>
			<string>{31,34}</string>
		</dict>
		<key>u_zuoshen1_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,177},{70,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,68}}</string>
			<key>sourceSize</key>
			<string>{70,68}</string>
		</dict>
		<key>u_zuoshen2_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,136},{71,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,76}}</string>
			<key>sourceSize</key>
			<string>{71,76}</string>
		</dict>
		<key>u_zuoshou3_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,601},{48,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,50}}</string>
			<key>sourceSize</key>
			<string>{48,50}</string>
		</dict>
		<key>u_zuoshou4_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,651},{46,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,39}}</string>
			<key>sourceSize</key>
			<string>{46,39}</string>
		</dict>
		<key>u_zuotui9_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,720},{41,38}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,38}}</string>
			<key>sourceSize</key>
			<string>{41,40}</string>
		</dict>
		<key>u_zuotuishang6_gaonizibuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,645},{48,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,46}}</string>
			<key>sourceSize</key>
			<string>{48,46}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA4444</string>
		<key>realTextureFileName</key>
		<string>gaonizibuimage.png</string>
		<key>scale</key>
		<real>0.5</real>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>gaonizibuimage.png</string>
	</dict>
</dict>
</plist>
