<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>byg_lizhenzhukapaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,177},{173,168}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,168}}</string>
			<key>sourceSize</key>
			<string>{175,170}</string>
		</dict>
		<key>mask1_lizhenzhukapaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{173,232}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,232}}</string>
			<key>sourceSize</key>
			<string>{173,232}</string>
		</dict>
		<key>mask2_lizhenzhukapaiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,177},{76,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,33}}</string>
			<key>sourceSize</key>
			<string>{76,33}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lizhenzhukapaiimage.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lizhenzhukapaiimage.png</string>
	</dict>
</dict>
</plist>
