<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>effect_shuixiang_ex01_00002_sxptbsdyjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{619,886},{205,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,118}}</string>
			<key>sourceSize</key>
			<string>{205,118}</string>
		</dict>
		<key>effect_shuixiang_ex01_00003_sxptbsdyjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{544,2},{264,205}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{264,205}}</string>
			<key>sourceSize</key>
			<string>{264,209}</string>
		</dict>
		<key>effect_shuixiang_ex01_00004_sxptbsdyjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,156},{267,208}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{267,208}}</string>
			<key>sourceSize</key>
			<string>{267,210}</string>
		</dict>
		<key>effect_shuixiang_ex01_00005_sxptbsdyjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,2},{262,212}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{262,212}}</string>
			<key>sourceSize</key>
			<string>{262,212}</string>
		</dict>
		<key>effect_shuixiang_ex01_00006_sxptbsdyjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,366},{257,210}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{257,210}}</string>
			<key>sourceSize</key>
			<string>{259,214}</string>
		</dict>
		<key>effect_shuixiang_ex01_00007_sxptbsdyjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,379},{250,213}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{250,213}}</string>
			<key>sourceSize</key>
			<string>{250,215}</string>
		</dict>
		<key>effect_shuixiang_ex01_00008_sxptbsdyjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,167},{262,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{262,210}}</string>
			<key>sourceSize</key>
			<string>{262,210}</string>
		</dict>
		<key>effect_shuixiang_ex01_00009_sxptbsdyjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,2},{268,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{268,163}}</string>
			<key>sourceSize</key>
			<string>{268,163}</string>
		</dict>
		<key>effect_shuixiang_ex01_00010_sxptbsdyjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{270,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{270,152}}</string>
			<key>sourceSize</key>
			<string>{270,152}</string>
		</dict>
		<key>effect_shuixiang_ex01_00011_sxptbsdyjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{252,594},{240,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{240,144}}</string>
			<key>sourceSize</key>
			<string>{240,146}</string>
		</dict>
		<key>effect_shuixiang_ex01_00012_sxptbsdyjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,847},{174,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{174,136}}</string>
			<key>sourceSize</key>
			<string>{174,138}</string>
		</dict>
		<key>effect_shuixiang_ex01_00013_sxptbsdyjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,847},{170,136}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{170,136}}</string>
			<key>sourceSize</key>
			<string>{170,138}</string>
		</dict>
		<key>effect_shuixiang_ex01_00014_sxptbsdyjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,740},{65,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,82}}</string>
			<key>sourceSize</key>
			<string>{65,82}</string>
		</dict>
		<key>effect_shuixiang_ex01_00015_sxptbsdyjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{309,740},{59,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,64}}</string>
			<key>sourceSize</key>
			<string>{59,64}</string>
		</dict>
		<key>effect_shuixiang_skill05_00001_sxxjndwjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{791,486},{222,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,178}}</string>
			<key>sourceSize</key>
			<string>{222,178}</string>
		</dict>
		<key>effect_shuixiang_skill05_00002_sxxjndwjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{793,266},{223,218}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{223,218}}</string>
			<key>sourceSize</key>
			<string>{223,220}</string>
		</dict>
		<key>effect_shuixiang_skill05_00003_sxxjndwjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{619,666},{210,218}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,218}}</string>
			<key>sourceSize</key>
			<string>{210,218}</string>
		</dict>
		<key>effect_shuixiang_skill05_00004_sxxjndwjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{405,740},{233,212}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{233,212}}</string>
			<key>sourceSize</key>
			<string>{233,214}</string>
		</dict>
		<key>effect_shuixiang_skill05_00005_sxxjndwjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{513,488},{246,176}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{246,176}}</string>
			<key>sourceSize</key>
			<string>{246,178}</string>
		</dict>
		<key>effect_shuixiang_skill05_00006_sxxjndwjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,714},{238,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{238,131}}</string>
			<key>sourceSize</key>
			<string>{238,131}</string>
		</dict>
		<key>effect_shuixiang_skill05_00007_sxxjndwjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,578},{248,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{248,134}}</string>
			<key>sourceSize</key>
			<string>{248,134}</string>
		</dict>
		<key>effect_shuixiang_skill05_00008_sxxjndwjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{535,349},{254,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{254,137}}</string>
			<key>sourceSize</key>
			<string>{254,137}</string>
		</dict>
		<key>effect_shuixiang_skill05_00009_sxxjndwjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{535,209},{256,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,138}}</string>
			<key>sourceSize</key>
			<string>{256,138}</string>
		</dict>
		<key>effect_shuixiang_skill05_00010_sxxjndwjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,824},{182,125}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{182,125}}</string>
			<key>sourceSize</key>
			<string>{184,125}</string>
		</dict>
		<key>effect_shuixiang_skill05_00011_sxxjndwjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{831,666},{178,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{178,115}}</string>
			<key>sourceSize</key>
			<string>{180,115}</string>
		</dict>
		<key>effect_shuixiang_skill05_00012_sxxjndwjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{831,783},{176,109}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{176,109}}</string>
			<key>sourceSize</key>
			<string>{176,111}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>doasx2group.png</string>
		<key>scale</key>
		<real>0.8</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>doasx2group.png</string>
	</dict>
</dict>
</plist>
