<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_xykhy_hdq_tanhao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1268,478},{27,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{27,27}}</string>
			<key>sourceSize</key>
			<string>{29,29}</string>
		</dict>
		<key>btn_xykhy_hdq_tanhao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1239,478},{27,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{27,27}}</string>
			<key>sourceSize</key>
			<string>{29,29}</string>
		</dict>
		<key>btn_xykhy_zjm_ddh_fanhui_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,292},{67,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,47}}</string>
			<key>sourceSize</key>
			<string>{67,47}</string>
		</dict>
		<key>btn_xykhy_zjm_ddh_fanhui_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{681,458},{67,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,47}}</string>
			<key>sourceSize</key>
			<string>{67,47}</string>
		</dict>
		<key>btn_xykhy_zjm_ddh_jiantou_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,341},{50,60}}</string>
			<key>offset</key>
			<string>{-6,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,3},{50,60}}</string>
			<key>sourceSize</key>
			<string>{80,68}</string>
		</dict>
		<key>btn_xykhy_zjm_ddh_jiantou_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1076,33},{50,60}}</string>
			<key>offset</key>
			<string>{-6,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,3},{50,60}}</string>
			<key>sourceSize</key>
			<string>{80,68}</string>
		</dict>
		<key>btn_znqsucj_tanchuang_ymx_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,458},{169,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,47}}</string>
			<key>sourceSize</key>
			<string>{169,47}</string>
		</dict>
		<key>btn_znqsucj_tanchuang_ymx_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,458},{169,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,47}}</string>
			<key>sourceSize</key>
			<string>{169,47}</string>
		</dict>
		<key>pic_xykhy_huodongqi_haoma_buxiandi.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,459},{176,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,30}}</string>
			<key>sourceSize</key>
			<string>{176,30}</string>
		</dict>
		<key>pic_xykhy_huodongqi_haoma_huangdi.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,459},{176,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,30}}</string>
			<key>sourceSize</key>
			<string>{176,30}</string>
		</dict>
		<key>pic_xykhy_huodongqi_haoma_qiandi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1156,446},{176,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,30}}</string>
			<key>sourceSize</key>
			<string>{176,30}</string>
		</dict>
		<key>pic_xykhy_huodongqi_hongdian.png</key>
		<dict>
			<key>frame</key>
			<string>{{1128,33},{26,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,26}}</string>
			<key>sourceSize</key>
			<string>{26,26}</string>
		</dict>
		<key>pic_xykhy_huodongqi_jpmz_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,292},{162,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{162,20}}</string>
			<key>sourceSize</key>
			<string>{166,24}</string>
		</dict>
		<key>pic_xykhy_huodongqi_kjsj_wenzidi_.png</key>
		<dict>
			<key>frame</key>
			<string>{{1293,432},{3,3}}</string>
			<key>offset</key>
			<string>{-2,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{91,2},{3,3}}</string>
			<key>sourceSize</key>
			<string>{189,27}</string>
		</dict>
		<key>pic_xykhy_huodongqi_renshu_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1106,478},{100,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,27}}</string>
			<key>sourceSize</key>
			<string>{100,27}</string>
		</dict>
		<key>pic_xykhy_huodongqi_tiaomu_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,292},{213,335}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,335}}</string>
			<key>sourceSize</key>
			<string>{215,335}</string>
		</dict>
		<key>pic_xykhy_huodongqi_tips_aocao_9g.png</key>
		<dict>
			<key>frame</key>
			<string>{{1293,343},{87,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,84}}</string>
			<key>sourceSize</key>
			<string>{87,84}</string>
		</dict>
		<key>pic_xykhy_huodongqi_tips_diban_9g.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{471,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{471,288}}</string>
			<key>sourceSize</key>
			<string>{473,288}</string>
		</dict>
		<key>pic_xykhy_zjm_ddh_biaoti_youxia_xiaohuawen.png</key>
		<dict>
			<key>frame</key>
			<string>{{1156,343},{135,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,101}}</string>
			<key>sourceSize</key>
			<string>{135,101}</string>
		</dict>
		<key>pic_xykhy_zjm_ddh_heidi_9g.png</key>
		<dict>
			<key>frame</key>
			<string>{{1006,100},{64,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,50}}</string>
			<key>sourceSize</key>
			<string>{64,50}</string>
		</dict>
		<key>pic_xykhy_zjm_kp1_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{816,233},{224,338}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,0},{224,338}}</string>
			<key>sourceSize</key>
			<string>{246,338}</string>
		</dict>
		<key>pic_xykhy_zjm_kp2_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,233},{223,339}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{223,339}}</string>
			<key>sourceSize</key>
			<string>{225,339}</string>
		</dict>
		<key>pic_xykhy_zjm_kp3_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1156,2},{221,339}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{221,339}}</string>
			<key>sourceSize</key>
			<string>{225,339}</string>
		</dict>
		<key>pic_xykhy_zjm_xykhy_wenzi_wdhm_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,160},{539,71}}</string>
			<key>offset</key>
			<string>{10,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,33},{539,71}}</string>
			<key>sourceSize</key>
			<string>{559,115}</string>
		</dict>
		<key>pic_znqsucj_tanchuang_diban_aocao_9g.png</key>
		<dict>
			<key>frame</key>
			<string>{{1006,33},{68,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,65}}</string>
			<key>sourceSize</key>
			<string>{68,65}</string>
		</dict>
		<key>pic_znqsucj_tanchuang_xykhy_laohuji.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,33},{529,125}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{529,125}}</string>
			<key>sourceSize</key>
			<string>{535,129}</string>
		</dict>
		<key>pic_znqsucj_tanchuang_zjswjl_diban_aocao_9g.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,403},{45,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,45}}</string>
			<key>sourceSize</key>
			<string>{45,45}</string>
		</dict>
		<key>pic_znqsucj_tanchuang_zjswjl_tishixiaobiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1208,478},{27,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,29}}</string>
			<key>sourceSize</key>
			<string>{27,29}</string>
		</dict>
		<key>pic_znqsucj_tanchuang_zjxxxq_fubiaoti_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,2},{664,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,0},{664,29}}</string>
			<key>sourceSize</key>
			<string>{690,29}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>LuckyCarnivalNight0.png</string>
		<key>size</key>
		<string>{1379,507}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>LuckyCarnivalNight0.png</string>
	</dict>
</dict>
</plist>
