<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>as0_shanqijinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,239},{15,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,14}}</string>
			<key>sourceSize</key>
			<string>{15,14}</string>
		</dict>
		<key>as1_shanqijinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,284},{42,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,47}}</string>
			<key>sourceSize</key>
			<string>{42,47}</string>
		</dict>
		<key>as2_shanqijinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{124,284},{40,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,46}}</string>
			<key>sourceSize</key>
			<string>{40,46}</string>
		</dict>
		<key>as3_shanqijinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,2},{42,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,96}}</string>
			<key>sourceSize</key>
			<string>{42,96}</string>
		</dict>
		<key>as4_shanqijinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,36},{26,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{26,49}}</string>
			<key>sourceSize</key>
			<string>{28,49}</string>
		</dict>
		<key>as5_shanqijinengimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,319},{22,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,22}}</string>
			<key>sourceSize</key>
			<string>{22,22}</string>
		</dict>
		<key>dafeng1_shanqibishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,162},{79,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,75}}</string>
			<key>sourceSize</key>
			<string>{79,75}</string>
		</dict>
		<key>dafeng2_shanqibishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,92},{84,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,82}}</string>
			<key>sourceSize</key>
			<string>{84,82}</string>
		</dict>
		<key>dafeng3_shanqibishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,46},{90,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,81}}</string>
			<key>sourceSize</key>
			<string>{90,81}</string>
		</dict>
		<key>dafeng4_shanqibishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{88,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,96}}</string>
			<key>sourceSize</key>
			<string>{88,96}</string>
		</dict>
		<key>dafeng5_shanqibishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,129},{84,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,81}}</string>
			<key>sourceSize</key>
			<string>{84,81}</string>
		</dict>
		<key>dafeng6_shanqibishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,176},{84,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,74}}</string>
			<key>sourceSize</key>
			<string>{84,74}</string>
		</dict>
		<key>dafeng7_shanqibishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,212},{77,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,70}}</string>
			<key>sourceSize</key>
			<string>{77,70}</string>
		</dict>
		<key>dafeng8_shanqibishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,252},{71,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,65}}</string>
			<key>sourceSize</key>
			<string>{71,65}</string>
		</dict>
		<key>dafeng9_shanqibishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,239},{70,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,65}}</string>
			<key>sourceSize</key>
			<string>{70,65}</string>
		</dict>
		<key>z1_shanqibishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,319},{26,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,22}}</string>
			<key>sourceSize</key>
			<string>{26,22}</string>
		</dict>
		<key>z2_shanqibishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,2},{50,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,32}}</string>
			<key>sourceSize</key>
			<string>{50,32}</string>
		</dict>
		<key>z3_shanqibishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,64},{62,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,58}}</string>
			<key>sourceSize</key>
			<string>{62,58}</string>
		</dict>
		<key>z4_shanqibishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,124},{36,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,48}}</string>
			<key>sourceSize</key>
			<string>{36,48}</string>
		</dict>
		<key>z5_shanqibishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,129},{15,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,27}}</string>
			<key>sourceSize</key>
			<string>{15,27}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA4444</string>
		<key>realTextureFileName</key>
		<string>shanqilongergroup.png</string>
		<key>scale</key>
		<real>0.5</real>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>shanqilongergroup.png</string>
	</dict>
</dict>
</plist>
