<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bo_nvshenguanshenyuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,454},{56,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,55}}</string>
			<key>sourceSize</key>
			<string>{56,55}</string>
		</dict>
		<key>ciguang_nvshenguanshenyuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,228},{76,98}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{76,98}}</string>
			<key>sourceSize</key>
			<string>{76,104}</string>
		</dict>
		<key>dian_nvshenguanshenyuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,487},{4,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,4}}</string>
			<key>sourceSize</key>
			<string>{4,4}</string>
		</dict>
		<key>fazhen_nvshenguanshenyuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,436},{70,71}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{70,71}}</string>
			<key>sourceSize</key>
			<string>{72,73}</string>
		</dict>
		<key>fdbv_nvshenguanshenyuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,454},{31,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,145}}</string>
			<key>sourceSize</key>
			<string>{31,145}</string>
		</dict>
		<key>huoxuan_nvshenguanshenyuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,339},{95,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,94}}</string>
			<key>sourceSize</key>
			<string>{95,94}</string>
		</dict>
		<key>liut_00001_nvshenguanshenyuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,341},{94,109}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,13},{94,109}}</string>
			<key>sourceSize</key>
			<string>{110,129}</string>
		</dict>
		<key>liut_00003_nvshenguanshenyuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,115},{94,109}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,13},{94,109}}</string>
			<key>sourceSize</key>
			<string>{110,129}</string>
		</dict>
		<key>liut_00005_nvshenguanshenyuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,115},{96,111}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,12},{96,111}}</string>
			<key>sourceSize</key>
			<string>{110,129}</string>
		</dict>
		<key>liut_00007_nvshenguanshenyuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,2},{94,111}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,12},{94,111}}</string>
			<key>sourceSize</key>
			<string>{110,129}</string>
		</dict>
		<key>liut_00009_nvshenguanshenyuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,115},{94,111}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,12},{94,111}}</string>
			<key>sourceSize</key>
			<string>{110,129}</string>
		</dict>
		<key>liut_00011_nvshenguanshenyuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,228},{94,111}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,12},{94,111}}</string>
			<key>sourceSize</key>
			<string>{110,129}</string>
		</dict>
		<key>liut_00013_nvshenguanshenyuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,228},{96,111}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,12},{96,111}}</string>
			<key>sourceSize</key>
			<string>{110,129}</string>
		</dict>
		<key>liut_00015_nvshenguanshenyuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,2},{96,111}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,12},{96,111}}</string>
			<key>sourceSize</key>
			<string>{110,129}</string>
		</dict>
		<key>liut_00017_nvshenguanshenyuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,115},{96,111}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,12},{96,111}}</string>
			<key>sourceSize</key>
			<string>{110,129}</string>
		</dict>
		<key>liut_00019_nvshenguanshenyuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,341},{94,111}}</string>
			<key>offset</key>
			<string>{2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,12},{94,111}}</string>
			<key>sourceSize</key>
			<string>{110,129}</string>
		</dict>
		<key>liut_00021_nvshenguanshenyuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,2},{94,111}}</string>
			<key>offset</key>
			<string>{2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,12},{94,111}}</string>
			<key>sourceSize</key>
			<string>{110,129}</string>
		</dict>
		<key>liut_00023_nvshenguanshenyuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,115},{94,111}}</string>
			<key>offset</key>
			<string>{2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,12},{94,111}}</string>
			<key>sourceSize</key>
			<string>{110,129}</string>
		</dict>
		<key>liut_00025_nvshenguanshenyuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,228},{94,111}}</string>
			<key>offset</key>
			<string>{2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,12},{94,111}}</string>
			<key>sourceSize</key>
			<string>{110,129}</string>
		</dict>
		<key>liut_00027_nvshenguanshenyuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,341},{94,111}}</string>
			<key>offset</key>
			<string>{2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,12},{94,111}}</string>
			<key>sourceSize</key>
			<string>{110,129}</string>
		</dict>
		<key>liut_00029_nvshenguanshenyuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,2},{94,111}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,12},{94,111}}</string>
			<key>sourceSize</key>
			<string>{110,129}</string>
		</dict>
		<key>liut_00031_nvshenguanshenyuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{96,111}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,12},{96,111}}</string>
			<key>sourceSize</key>
			<string>{110,129}</string>
		</dict>
		<key>liut_00033_nvshenguanshenyuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,228},{94,109}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,13},{94,109}}</string>
			<key>sourceSize</key>
			<string>{110,129}</string>
		</dict>
		<key>liut_00035_nvshenguanshenyuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,341},{94,109}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,13},{94,109}}</string>
			<key>sourceSize</key>
			<string>{110,129}</string>
		</dict>
		<key>st_nvshenguanshenyuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,2},{21,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,86}}</string>
			<key>sourceSize</key>
			<string>{21,86}</string>
		</dict>
		<key>xuan_nvshenguanshenyuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,452},{54,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,54}}</string>
			<key>sourceSize</key>
			<string>{54,54}</string>
		</dict>
		<key>xx_nvshenguanshenyuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,452},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>nvshenguanshenyuimage.png</string>
		<key>scale</key>
		<real>0.43</real>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>nvshenguanshenyuimage.png</string>
	</dict>
</dict>
</plist>
