<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>anjian_szntxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,104},{67,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,12}}</string>
			<key>sourceSize</key>
			<string>{67,12}</string>
		</dict>
		<key>deng1_szntxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,77},{78,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,52}}</string>
			<key>sourceSize</key>
			<string>{78,52}</string>
		</dict>
		<key>deng2_szntxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,23},{78,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,52}}</string>
			<key>sourceSize</key>
			<string>{78,52}</string>
		</dict>
		<key>di_szntxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{88,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,10}}</string>
			<key>sourceSize</key>
			<string>{88,10}</string>
		</dict>
		<key>gaoguang_szntxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,23},{40,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,7}}</string>
			<key>sourceSize</key>
			<string>{40,7}</string>
		</dict>
		<key>kof_szntxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,104},{46,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,14}}</string>
			<key>sourceSize</key>
			<string>{46,14}</string>
		</dict>
		<key>kuang_szntxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,175},{63,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,57}}</string>
			<key>sourceSize</key>
			<string>{63,57}</string>
		</dict>
		<key>mask1_szntxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,14},{88,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,7}}</string>
			<key>sourceSize</key>
			<string>{88,7}</string>
		</dict>
		<key>ping1_szntxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,104},{69,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,13}}</string>
			<key>sourceSize</key>
			<string>{69,13}</string>
		</dict>
		<key>ping2_szntxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,146},{69,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,13}}</string>
			<key>sourceSize</key>
			<string>{69,13}</string>
		</dict>
		<key>ping3_szntxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,131},{69,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,13}}</string>
			<key>sourceSize</key>
			<string>{69,13}</string>
		</dict>
		<key>sanrd_szntxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,31},{21,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,13}}</string>
			<key>sourceSize</key>
			<string>{21,13}</string>
		</dict>
		<key>touxing_szntxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,65},{39,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,37}}</string>
			<key>sourceSize</key>
			<string>{39,37}</string>
		</dict>
		<key>xing1_szntxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,31},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>xing2_szntxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,2},{27,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,27}}</string>
			<key>sourceSize</key>
			<string>{27,27}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>szntxkimage.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>szntxkimage.png</string>
	</dict>
</dict>
</plist>
