<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_wp_lmbs_daoguang1_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{534,774},{114,68}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{114,68}}</string>
			<key>sourceSize</key>
			<string>{118,70}</string>
		</dict>
		<key>New_wp_lmbs_daoguang1_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{749,905},{117,167}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{117,167}}</string>
			<key>sourceSize</key>
			<string>{121,167}</string>
		</dict>
		<key>New_wp_lmbs_daoguang2_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,771},{136,122}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{136,122}}</string>
			<key>sourceSize</key>
			<string>{142,126}</string>
		</dict>
		<key>New_wp_lmbs_daoguang2_00037.png</key>
		<dict>
			<key>frame</key>
			<string>{{749,774},{199,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,130}}</string>
			<key>sourceSize</key>
			<string>{199,130}</string>
		</dict>
		<key>New_wp_lmbs_daoguang3_00070.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,774},{238,270}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{238,270}}</string>
			<key>sourceSize</key>
			<string>{238,270}</string>
		</dict>
		<key>New_wp_lmbs_daoguang3_00075.png</key>
		<dict>
			<key>frame</key>
			<string>{{535,400},{413,373}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{413,373}}</string>
			<key>sourceSize</key>
			<string>{413,373}</string>
		</dict>
		<key>New_wp_lmbs_daoguang3_00084.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,439},{407,331}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{407,331}}</string>
			<key>sourceSize</key>
			<string>{407,333}</string>
		</dict>
		<key>New_wp_lmbs_daoguang3_00086.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{532,436}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{532,436}}</string>
			<key>sourceSize</key>
			<string>{534,436}</string>
		</dict>
		<key>New_wp_lmbs_daoguang3_00088.png</key>
		<dict>
			<key>frame</key>
			<string>{{535,2},{428,397}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{428,397}}</string>
			<key>sourceSize</key>
			<string>{428,397}</string>
		</dict>
		<key>New_wp_ptbs_baozhayan_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,843},{179,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,169}}</string>
			<key>sourceSize</key>
			<string>{179,169}</string>
		</dict>
		<key>New_wp_ptbs_baozhayan_00031.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,843},{179,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,168}}</string>
			<key>sourceSize</key>
			<string>{179,168}</string>
		</dict>
		<key>New_wp_ptbs_baozhayan_00060.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,585},{129,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{129,123}}</string>
			<key>sourceSize</key>
			<string>{129,127}</string>
		</dict>
		<key>New_wp_ptbs_baozhayan_00063.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,715},{127,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,123}}</string>
			<key>sourceSize</key>
			<string>{127,123}</string>
		</dict>
		<key>New_wp_ptbs_baozhayan_00068.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,793},{71,82}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,82}}</string>
			<key>sourceSize</key>
			<string>{71,84}</string>
		</dict>
		<key>New_wp_ptbs_shizixing_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,400},{77,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,73}}</string>
			<key>sourceSize</key>
			<string>{77,73}</string>
		</dict>
		<key>New_wp_ptgj_daoguang1_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,478},{72,104}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{72,104}}</string>
			<key>sourceSize</key>
			<string>{74,106}</string>
		</dict>
		<key>New_wp_ptgj_daoguang1_00017.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,688},{71,104}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{71,104}}</string>
			<key>sourceSize</key>
			<string>{73,106}</string>
		</dict>
		<key>New_wp_ptgj_daoguang1_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,583},{72,104}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{72,104}}</string>
			<key>sourceSize</key>
			<string>{76,106}</string>
		</dict>
		<key>New_wp_ptgj_daoguang1_00021.png</key>
		<dict>
			<key>frame</key>
			<string>{{649,774},{68,99}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{68,99}}</string>
			<key>sourceSize</key>
			<string>{70,101}</string>
		</dict>
		<key>New_wp_ptgj_daoguang2_00027.png</key>
		<dict>
			<key>frame</key>
			<string>{{917,905},{84,105}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,3},{84,105}}</string>
			<key>sourceSize</key>
			<string>{88,111}</string>
		</dict>
		<key>New_wp_xjn_daoguang1_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,439},{145,123}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,2},{145,123}}</string>
			<key>sourceSize</key>
			<string>{149,125}</string>
		</dict>
		<key>New_wp_xjn_daoguang1_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,894},{93,128}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{93,128}}</string>
			<key>sourceSize</key>
			<string>{95,134}</string>
		</dict>
		<key>New_wp_xjn_daoguang3_00050.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,894},{93,128}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{93,128}}</string>
			<key>sourceSize</key>
			<string>{95,134}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>weipuxiv_common1.png</string>
		<key>scale</key>
		<real>0.61</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>weipuxiv_common1.png</string>
	</dict>
</dict>
</plist>
