<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_jp_jiuba_daojishi_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{975,93},{274,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{274,25}}</string>
			<key>sourceSize</key>
			<string>{274,25}</string>
		</dict>
		<key>pic_jp_jiuba_daojishi_huangse.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,207},{164,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,55}}</string>
			<key>sourceSize</key>
			<string>{164,55}</string>
		</dict>
		<key>pic_jp_jiuba_daojishi_lanse.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,264},{164,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{164,53}}</string>
			<key>sourceSize</key>
			<string>{164,55}</string>
		</dict>
		<key>pic_jp_jiuba_daojishi_lvse.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,319},{162,51}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{162,51}}</string>
			<key>sourceSize</key>
			<string>{164,55}</string>
		</dict>
		<key>pic_jp_jiuba_daojishi_xinshou.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,150},{164,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,55}}</string>
			<key>sourceSize</key>
			<string>{164,55}</string>
		</dict>
		<key>pic_jp_jiuba_daojishi_zise.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,93},{164,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,55}}</string>
			<key>sourceSize</key>
			<string>{164,55}</string>
		</dict>
		<key>pic_jp_jiuba_hunxia_bj.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,486},{804,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{804,480}}</string>
			<key>sourceSize</key>
			<string>{804,480}</string>
		</dict>
		<key>pic_jp_jiuba_hunxia_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,1534},{273,419}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{273,419}}</string>
			<key>sourceSize</key>
			<string>{273,419}</string>
		</dict>
		<key>pic_jp_jiuba_hunxia_gailv_dikuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,856},{264,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{264,93}}</string>
			<key>sourceSize</key>
			<string>{264,93}</string>
		</dict>
		<key>pic_jp_jiuba_hunxia_hongse.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,614},{120,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,240}}</string>
			<key>sourceSize</key>
			<string>{120,240}</string>
		</dict>
		<key>pic_jp_jiuba_hunxia_lanse.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,372},{120,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,240}}</string>
			<key>sourceSize</key>
			<string>{120,240}</string>
		</dict>
		<key>pic_jp_jiuba_lvse_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1534},{281,427}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,427}}</string>
			<key>sourceSize</key>
			<string>{281,427}</string>
		</dict>
		<key>pic_jp_jiuba_xianding_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1251},{281,427}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,427}}</string>
			<key>sourceSize</key>
			<string>{281,427}</string>
		</dict>
		<key>pic_jp_jiuba_zixuan_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,968},{281,427}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{281,427}}</string>
			<key>sourceSize</key>
			<string>{281,427}</string>
		</dict>
		<key>pic_jp_jiuba_zxkc_word_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,2},{188,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,89}}</string>
			<key>sourceSize</key>
			<string>{188,89}</string>
		</dict>
		<key>pic_jp_zxkc_jiahao.png</key>
		<dict>
			<key>frame</key>
			<string>{{930,614},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
		<key>pic_jp_zxkc_jy_wenhao.png</key>
		<dict>
			<key>frame</key>
			<string>{{560,1742},{266,267}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{266,267}}</string>
			<key>sourceSize</key>
			<string>{266,267}</string>
		</dict>
		<key>pic_jp_zxkc_renwu_di01.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,1216},{246,369}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{246,369}}</string>
			<key>sourceSize</key>
			<string>{246,369}</string>
		</dict>
		<key>pic_jp_zxkc_renwu_di02.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,968},{246,369}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{246,369}}</string>
			<key>sourceSize</key>
			<string>{246,369}</string>
		</dict>
		<key>pic_jp_zxkc_xuanze_renwu_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,1122},{206,304}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,304}}</string>
			<key>sourceSize</key>
			<string>{206,304}</string>
		</dict>
		<key>pic_jp_zxkc_xuanze_zi_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{805,482}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{805,482}}</string>
			<key>sourceSize</key>
			<string>{805,482}</string>
		</dict>
		<key>pic_jp_zxkc_xuanzhongkuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{560,1464},{276,398}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{276,398}}</string>
			<key>sourceSize</key>
			<string>{276,398}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>HeroRecruitNew0.png</string>
		<key>size</key>
		<string>{1010,2010}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>HeroRecruitNew0.png</string>
	</dict>
</dict>
</plist>
