<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_dc_bg_di1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1754,392},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>pic_dc_bg_di10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1710,378},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,42}}</string>
			<key>sourceSize</key>
			<string>{42,42}</string>
		</dict>
		<key>pic_dc_bg_di10_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1372,332},{44,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,44}}</string>
			<key>sourceSize</key>
			<string>{44,44}</string>
		</dict>
		<key>pic_dc_bg_di1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1176,318},{20,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,12}}</string>
			<key>sourceSize</key>
			<string>{20,12}</string>
		</dict>
		<key>pic_dc_bg_di2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1158,280},{36,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,36}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>pic_dc_bg_di2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,440},{12,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,2}}</string>
			<key>sourceSize</key>
			<string>{12,2}</string>
		</dict>
		<key>pic_dc_bg_di3.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,240},{626,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{626,2}}</string>
			<key>sourceSize</key>
			<string>{626,2}</string>
		</dict>
		<key>pic_dc_bg_di4.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,244},{622,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{622,2}}</string>
			<key>sourceSize</key>
			<string>{622,2}</string>
		</dict>
		<key>pic_dc_bg_di5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1136,418},{8,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,144}}</string>
			<key>sourceSize</key>
			<string>{8,144}</string>
		</dict>
		<key>pic_dc_bg_di5_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1418,372},{4,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,24}}</string>
			<key>sourceSize</key>
			<string>{4,24}</string>
		</dict>
		<key>pic_dc_bg_di6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1050,344},{84,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,78}}</string>
			<key>sourceSize</key>
			<string>{84,78}</string>
		</dict>
		<key>pic_dc_bg_di6_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,248},{582,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{582,30}}</string>
			<key>sourceSize</key>
			<string>{582,30}</string>
		</dict>
		<key>pic_dc_bg_di7.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,440},{160,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,2}}</string>
			<key>sourceSize</key>
			<string>{160,2}</string>
		</dict>
		<key>pic_dc_bg_di8_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1136,372},{180,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,44}}</string>
			<key>sourceSize</key>
			<string>{180,44}</string>
		</dict>
		<key>pic_dc_bg_di8_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1224,276},{190,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,54}}</string>
			<key>sourceSize</key>
			<string>{190,54}</string>
		</dict>
		<key>pic_dc_bg_di9.png</key>
		<dict>
			<key>frame</key>
			<string>{{1326,332},{44,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,44}}</string>
			<key>sourceSize</key>
			<string>{44,44}</string>
		</dict>
		<key>pic_dc_bg_di9_+.png</key>
		<dict>
			<key>frame</key>
			<string>{{1766,356},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>pic_dc_bg_di9_x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1046,424},{18,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,6},{18,18}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>pic_dc_bg_di_lantiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1136,332},{188,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,38}}</string>
			<key>sourceSize</key>
			<string>{188,38}</string>
		</dict>
		<key>pic_dc_bg_diban_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,280},{36,516}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,516}}</string>
			<key>sourceSize</key>
			<string>{36,516}</string>
		</dict>
		<key>pic_dc_bg_diiao1.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,2},{822,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{822,88}}</string>
			<key>sourceSize</key>
			<string>{822,88}</string>
		</dict>
		<key>pic_dc_bg_diiao2.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,92},{804,88}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,0},{804,88}}</string>
			<key>sourceSize</key>
			<string>{822,88}</string>
		</dict>
		<key>pic_dc_bg_diiao3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1268,240},{206,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,34}}</string>
			<key>sourceSize</key>
			<string>{206,34}</string>
		</dict>
		<key>pic_dc_bg_heidi1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1766,272},{82,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,22}}</string>
			<key>sourceSize</key>
			<string>{82,22}</string>
		</dict>
		<key>pic_dc_bg_heidi2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1446,148},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>pic_dc_bg_heidi3.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,412},{348,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{348,26}}</string>
			<key>sourceSize</key>
			<string>{348,26}</string>
		</dict>
		<key>pic_dc_bg_heidi4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1120,326},{14,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,14}}</string>
			<key>sourceSize</key>
			<string>{14,14}</string>
		</dict>
		<key>pic_dc_bg_heidi5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1770,2},{196,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,28}}</string>
			<key>sourceSize</key>
			<string>{196,28}</string>
		</dict>
		<key>pic_dc_bg_landi1.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,318},{478,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{478,24}}</string>
			<key>sourceSize</key>
			<string>{478,24}</string>
		</dict>
		<key>pic_dc_bg_lanxian.png</key>
		<dict>
			<key>frame</key>
			<string>{{1120,318},{54,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,6}}</string>
			<key>sourceSize</key>
			<string>{54,6}</string>
		</dict>
		<key>pic_dc_bg_lingjiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{636,440}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{636,440}}</string>
			<key>sourceSize</key>
			<string>{636,440}</string>
		</dict>
		<key>pic_dc_bg_paihangbangdi1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1464,2},{304,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{304,112}}</string>
			<key>sourceSize</key>
			<string>{304,112}</string>
		</dict>
		<key>pic_dc_bg_shuzidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1418,276},{94,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,56}}</string>
			<key>sourceSize</key>
			<string>{94,56}</string>
		</dict>
		<key>pic_dc_bg_tab.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,182},{836,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{836,56}}</string>
			<key>sourceSize</key>
			<string>{836,56}</string>
		</dict>
		<key>pic_dc_bg_tab1.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,440},{2,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,28}}</string>
			<key>sourceSize</key>
			<string>{2,28}</string>
		</dict>
		<key>pic_dc_bg_toupiaodi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1476,272},{288,104}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{288,104}}</string>
			<key>sourceSize</key>
			<string>{292,104}</string>
		</dict>
		<key>pic_dc_bg_toupiaodi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1478,116},{290,104}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{290,104}}</string>
			<key>sourceSize</key>
			<string>{292,104}</string>
		</dict>
		<key>pic_dc_bg_xingxing.png</key>
		<dict>
			<key>frame</key>
			<string>{{1022,412},{22,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,22}}</string>
			<key>sourceSize</key>
			<string>{22,22}</string>
		</dict>
		<key>pic_dc_bg_xingxing1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1224,248},{24,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,24}}</string>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>pic_dc_bg_xingxing2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1282,418},{24,24}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{24,24}}</string>
			<key>sourceSize</key>
			<string>{24,36}</string>
		</dict>
		<key>pic_dc_bg_yuandi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1446,116},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>pic_dc_btn_sm_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1318,378},{390,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{390,48}}</string>
			<key>sourceSize</key>
			<string>{390,48}</string>
		</dict>
		<key>pic_dc_btn_sm_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{640,344},{408,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{408,66}}</string>
			<key>sourceSize</key>
			<string>{408,66}</string>
		</dict>
		<key>pic_jp_sjds_sanjiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1478,222},{294,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{294,48}}</string>
			<key>sourceSize</key>
			<string>{294,48}</string>
		</dict>
		<key>pic_setting_duigou.png</key>
		<dict>
			<key>frame</key>
			<string>{{990,412},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ActivityLegend0.png</string>
		<key>size</key>
		<string>{1802,444}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ActivityLegend0.png</string>
	</dict>
</dict>
</plist>
