<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{881,438},{278,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{278,82}}</string>
			<key>sourceSize</key>
			<string>{278,82}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00017.png</key>
		<dict>
			<key>frame</key>
			<string>{{801,718},{304,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{304,132}}</string>
			<key>sourceSize</key>
			<string>{304,132}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00038.png</key>
		<dict>
			<key>frame</key>
			<string>{{698,300},{324,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{324,137}}</string>
			<key>sourceSize</key>
			<string>{324,137}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00042.png</key>
		<dict>
			<key>frame</key>
			<string>{{465,438},{349,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{349,138}}</string>
			<key>sourceSize</key>
			<string>{349,138}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00053.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,300},{288,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,109}}</string>
			<key>sourceSize</key>
			<string>{288,109}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00062.png</key>
		<dict>
			<key>frame</key>
			<string>{{621,719},{303,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{303,179}}</string>
			<key>sourceSize</key>
			<string>{303,179}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00066.png</key>
		<dict>
			<key>frame</key>
			<string>{{698,438},{279,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{279,182}}</string>
			<key>sourceSize</key>
			<string>{279,182}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00073.png</key>
		<dict>
			<key>frame</key>
			<string>{{409,2},{296,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{296,180}}</string>
			<key>sourceSize</key>
			<string>{296,180}</string>
		</dict>
		<key>New_dzxv_putongbisha_hengti_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,788},{223,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{223,86}}</string>
			<key>sourceSize</key>
			<string>{223,86}</string>
		</dict>
		<key>New_dzxv_putongbisha_hengti_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,410},{308,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{308,93}}</string>
			<key>sourceSize</key>
			<string>{308,93}</string>
		</dict>
		<key>New_dzxv_putongbisha_hengti_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,410},{364,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{364,111}}</string>
			<key>sourceSize</key>
			<string>{364,111}</string>
		</dict>
		<key>New_dzxv_putongbisha_xiapi_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{621,2},{362,297}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{362,297}}</string>
			<key>sourceSize</key>
			<string>{362,297}</string>
		</dict>
		<key>New_dzxv_putongbisha_xiapi_00025.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,788},{207,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,220}}</string>
			<key>sourceSize</key>
			<string>{207,220}</string>
		</dict>
		<key>New_dzxv_putongbisha_zhuang_00036.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,788},{196,323}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,323}}</string>
			<key>sourceSize</key>
			<string>{196,323}</string>
		</dict>
		<key>New_dzxv_putongbisha_zhuang_00044.png</key>
		<dict>
			<key>frame</key>
			<string>{{934,717},{86,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,151}}</string>
			<key>sourceSize</key>
			<string>{86,151}</string>
		</dict>
		<key>New_xvdz_putonggongji_zhuaqu_00021.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{406,407}}</string>
			<key>offset</key>
			<string>{18,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67,67},{406,407}}</string>
			<key>sourceSize</key>
			<string>{504,521}</string>
		</dict>
		<key>New_xvdz_putonggongji_zhuaqu_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,410},{350,377}}</string>
			<key>offset</key>
			<string>{22,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{99,80},{350,377}}</string>
			<key>sourceSize</key>
			<string>{504,521}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>dongzhangXV_common1.png</string>
		<key>scale</key>
		<real>0.91</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dongzhangXV_common1.png</string>
	</dict>
</dict>
</plist>
