<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bg_4znq_close_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1906,552},{51,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,51}}</string>
			<key>sourceSize</key>
			<string>{51,51}</string>
		</dict>
		<key>bg_4znq_close_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1853,658},{51,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,51}}</string>
			<key>sourceSize</key>
			<string>{51,51}</string>
		</dict>
		<key>bg_4znq_tianshuanniu_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1177,196},{27,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,33}}</string>
			<key>sourceSize</key>
			<string>{27,33}</string>
		</dict>
		<key>bsjl_quanmubiaojianglibashen.png</key>
		<dict>
			<key>frame</key>
			<string>{{1787,394},{178,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,110}}</string>
			<key>sourceSize</key>
			<string>{178,110}</string>
		</dict>
		<key>bsjl_quanmubiaojianglichaok.png</key>
		<dict>
			<key>frame</key>
			<string>{{1875,2},{178,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,110}}</string>
			<key>sourceSize</key>
			<string>{178,110}</string>
		</dict>
		<key>bsjl_quanmubiaojianglixin2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{1844,182},{178,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,110}}</string>
			<key>sourceSize</key>
			<string>{178,110}</string>
		</dict>
		<key>bth_nomal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1206,301},{119,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,113}}</string>
			<key>sourceSize</key>
			<string>{119,113}</string>
		</dict>
		<key>bth_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1085,302},{119,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,113}}</string>
			<key>sourceSize</key>
			<string>{119,113}</string>
		</dict>
		<key>btn_4znq_tanchuang_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,619},{85,144}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,4},{85,144}}</string>
			<key>sourceSize</key>
			<string>{101,148}</string>
		</dict>
		<key>btn_4znq_tanchuang_likuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1906,605},{40,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,47}}</string>
			<key>sourceSize</key>
			<string>{40,47}</string>
		</dict>
		<key>btn_4znq_tanchuang_taitou.png</key>
		<dict>
			<key>frame</key>
			<string>{{1085,2},{298,53}}</string>
			<key>offset</key>
			<string>{-2,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,8},{298,53}}</string>
			<key>sourceSize</key>
			<string>{324,61}</string>
		</dict>
		<key>btn_aoyun_tanchuang_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1702,182},{81,140}}</string>
			<key>offset</key>
			<string>{-1,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,8},{81,140}}</string>
			<key>sourceSize</key>
			<string>{101,148}</string>
		</dict>
		<key>btn_chunjieqitianle_yeqian_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1731,265},{129,42}}</string>
			<key>offset</key>
			<string>{4,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,8},{129,42}}</string>
			<key>sourceSize</key>
			<string>{137,56}</string>
		</dict>
		<key>btn_chunjieqitianle_yeqian_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1550,402},{137,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,56}}</string>
			<key>sourceSize</key>
			<string>{137,56}</string>
		</dict>
		<key>btn_cnhkqtl_yeqian_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1687,265},{129,42}}</string>
			<key>offset</key>
			<string>{4,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,8},{129,42}}</string>
			<key>sourceSize</key>
			<string>{137,56}</string>
		</dict>
		<key>btn_cnhkqtl_yeqian_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1190,543},{137,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,56}}</string>
			<key>sourceSize</key>
			<string>{137,56}</string>
		</dict>
		<key>btn_cnhkqtl_yeqian_press1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1381,408},{131,50}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,6},{131,50}}</string>
			<key>sourceSize</key>
			<string>{137,56}</string>
		</dict>
		<key>btn_dmqtl_guanbi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1953,647},{45,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{45,45}}</string>
			<key>sourceSize</key>
			<string>{51,51}</string>
		</dict>
		<key>btn_dmqtl_guanbi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1906,647},{45,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{45,45}}</string>
			<key>sourceSize</key>
			<string>{51,51}</string>
		</dict>
		<key>btn_dmqtl_lingqu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1665,402},{130,66}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{130,66}}</string>
			<key>sourceSize</key>
			<string>{138,66}</string>
		</dict>
		<key>btn_dmqtl_lingqu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1482,408},{130,66}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{130,66}}</string>
			<key>sourceSize</key>
			<string>{138,66}</string>
		</dict>
		<key>btn_dmqtl_qianwang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1052,543},{136,60}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,60}}</string>
			<key>sourceSize</key>
			<string>{138,66}</string>
		</dict>
		<key>btn_dmqtl_qianwang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,545},{136,60}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,60}}</string>
			<key>sourceSize</key>
			<string>{138,66}</string>
		</dict>
		<key>btn_dmqtl_tanchuang_taitou.png</key>
		<dict>
			<key>frame</key>
			<string>{{649,611},{351,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{351,99}}</string>
			<key>sourceSize</key>
			<string>{351,99}</string>
		</dict>
		<key>btn_dmqtll_tanchuang_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1560,182},{81,140}}</string>
			<key>offset</key>
			<string>{-1,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,8},{81,140}}</string>
			<key>sourceSize</key>
			<string>{101,148}</string>
		</dict>
		<key>btn_jianianhua_haunganniu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1248,2},{192,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,69}}</string>
			<key>sourceSize</key>
			<string>{192,69}</string>
		</dict>
		<key>btn_jianianhua_haunganniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1177,2},{192,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,69}}</string>
			<key>sourceSize</key>
			<string>{192,69}</string>
		</dict>
		<key>btn_jp_quanmubiaojiangliaxiu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1763,2},{178,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,110}}</string>
			<key>sourceSize</key>
			<string>{178,110}</string>
		</dict>
		<key>btn_qtl_zuoanniu_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1959,594},{40,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,47}}</string>
			<key>sourceSize</key>
			<string>{40,47}</string>
		</dict>
		<key>btn_quanmubiaojiangli23.png</key>
		<dict>
			<key>frame</key>
			<string>{{1695,534},{178,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,110}}</string>
			<key>sourceSize</key>
			<string>{178,110}</string>
		</dict>
		<key>btn_quanmubiaojianglinew1image.png</key>
		<dict>
			<key>frame</key>
			<string>{{1651,2},{178,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,110}}</string>
			<key>sourceSize</key>
			<string>{178,110}</string>
		</dict>
		<key>btn_quanmubiaojianglishuangyeyingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1539,2},{178,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,110}}</string>
			<key>sourceSize</key>
			<string>{178,110}</string>
		</dict>
		<key>btn_quanmubiaojianglixin3image.png</key>
		<dict>
			<key>frame</key>
			<string>{{1427,2},{178,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,110}}</string>
			<key>sourceSize</key>
			<string>{178,110}</string>
		</dict>
		<key>btn_quanmubiaojianglixin5image.png</key>
		<dict>
			<key>frame</key>
			<string>{{1507,290},{178,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,110}}</string>
			<key>sourceSize</key>
			<string>{178,110}</string>
		</dict>
		<key>btn_quanmubiaojianglixin6image.png</key>
		<dict>
			<key>frame</key>
			<string>{{1327,296},{178,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,110}}</string>
			<key>sourceSize</key>
			<string>{178,110}</string>
		</dict>
		<key>btn_shijiebei_anniu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1433,408},{131,47}}</string>
			<key>offset</key>
			<string>{3,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,8},{131,47}}</string>
			<key>sourceSize</key>
			<string>{137,55}</string>
		</dict>
		<key>btn_shijiebei_anniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1608,402},{137,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,55}}</string>
			<key>sourceSize</key>
			<string>{137,55}</string>
		</dict>
		<key>btn_znqqtl_guanbi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1967,474},{76,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,67}}</string>
			<key>sourceSize</key>
			<string>{76,67}</string>
		</dict>
		<key>btn_znqqtl_guanbi_perss.png</key>
		<dict>
			<key>frame</key>
			<string>{{1140,232},{76,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,67}}</string>
			<key>sourceSize</key>
			<string>{76,67}</string>
		</dict>
		<key>btn_znqqtl_lignqu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1775,265},{127,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,52}}</string>
			<key>sourceSize</key>
			<string>{127,52}</string>
		</dict>
		<key>btn_znqqtl_lignqu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1733,396},{127,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,52}}</string>
			<key>sourceSize</key>
			<string>{127,52}</string>
		</dict>
		<key>btn_znqqtl_qianwang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1987,2},{146,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,52}}</string>
			<key>sourceSize</key>
			<string>{146,52}</string>
		</dict>
		<key>btn_znqqtl_qianwang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1641,541},{146,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,52}}</string>
			<key>sourceSize</key>
			<string>{146,52}</string>
		</dict>
		<key>btn_znqqtl_yeqian_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1807,552},{144,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,44}}</string>
			<key>sourceSize</key>
			<string>{144,44}</string>
		</dict>
		<key>btn_znqqtll_tanchuang_likuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1959,552},{40,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,47}}</string>
			<key>sourceSize</key>
			<string>{40,47}</string>
		</dict>
		<key>btn_zznqqtl_yeqian_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1807,506},{144,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,44}}</string>
			<key>sourceSize</key>
			<string>{144,44}</string>
		</dict>
		<key>pi_shengdanqitianle_anniu_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1903,352},{40,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,47}}</string>
			<key>sourceSize</key>
			<string>{40,47}</string>
		</dict>
		<key>pic_anniuchendi_guoqinghuodong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1967,294},{178,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,72}}</string>
			<key>sourceSize</key>
			<string>{178,72}</string>
		</dict>
		<key>pic_dmqtl_tanchuang_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{1140,2},{228,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{228,35}}</string>
			<key>sourceSize</key>
			<string>{228,35}</string>
		</dict>
		<key>pic_dmqtl_tanchuang_title_xue.png</key>
		<dict>
			<key>frame</key>
			<string>{{767,2},{586,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{586,31}}</string>
			<key>sourceSize</key>
			<string>{586,31}</string>
		</dict>
		<key>pic_dmqtl_tanchuang_wen1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1049,2},{417,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{417,34}}</string>
			<key>sourceSize</key>
			<string>{417,34}</string>
		</dict>
		<key>pic_dmqtl_tanchuang_wen2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1013,2},{417,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{417,34}}</string>
			<key>sourceSize</key>
			<string>{417,34}</string>
		</dict>
		<key>pic_dmqtl_tanchuang_xian.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,2},{417,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{417,34}}</string>
			<key>sourceSize</key>
			<string>{417,34}</string>
		</dict>
		<key>pic_dmqtl_tiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{657,2},{606,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{606,108}}</string>
			<key>sourceSize</key>
			<string>{606,108}</string>
		</dict>
		<key>pic_hd_21hjzhk_close_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1853,605},{51,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,51}}</string>
			<key>sourceSize</key>
			<string>{51,51}</string>
		</dict>
		<key>pic_hd_21hjzhk_close_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1853,552},{51,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,51}}</string>
			<key>sourceSize</key>
			<string>{51,51}</string>
		</dict>
		<key>pic_hongchenban_guoqinghuodong.png</key>
		<dict>
			<key>frame</key>
			<string>{{548,2},{607,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{607,107}}</string>
			<key>sourceSize</key>
			<string>{607,107}</string>
		</dict>
		<key>pic_hongchenban_guoqinghuodong_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,2},{607,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{607,107}}</string>
			<key>sourceSize</key>
			<string>{607,107}</string>
		</dict>
		<key>pic_hongchenban_guoqinghuodong_logo.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,611},{199,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,104}}</string>
			<key>sourceSize</key>
			<string>{199,104}</string>
		</dict>
		<key>pic_jianianhua_banzitiao_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,2},{579,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{579,112}}</string>
			<key>sourceSize</key>
			<string>{579,112}</string>
		</dict>
		<key>pic_jianianhua_tudihuawen.png</key>
		<dict>
			<key>frame</key>
			<string>{{1319,2},{186,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,106}}</string>
			<key>sourceSize</key>
			<string>{186,106}</string>
		</dict>
		<key>pic_jp_hjqtl1_bj1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1390,190},{168,98}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,12},{168,98}}</string>
			<key>sourceSize</key>
			<string>{170,110}</string>
		</dict>
		<key>pic_jp_hjqtl_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,2},{608,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{608,107}}</string>
			<key>sourceSize</key>
			<string>{608,107}</string>
		</dict>
		<key>pic_jp_hjqtl_diban1.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,611},{199,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,104}}</string>
			<key>sourceSize</key>
			<string>{199,104}</string>
		</dict>
		<key>pic_jp_hjqtl_diban2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1002,607},{342,108}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{342,108}}</string>
			<key>sourceSize</key>
			<string>{342,112}</string>
		</dict>
		<key>pic_jp_hjqtl_xuanze.png</key>
		<dict>
			<key>frame</key>
			<string>{{1866,294},{35,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,65}}</string>
			<key>sourceSize</key>
			<string>{35,65}</string>
		</dict>
		<key>pic_jp_hjqtl_xuanze2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1829,294},{35,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,65}}</string>
			<key>sourceSize</key>
			<string>{35,65}</string>
		</dict>
		<key>pic_jp_main_yinghuaji_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,2},{541,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{541,61}}</string>
			<key>sourceSize</key>
			<string>{541,61}</string>
		</dict>
		<key>pic_jp_main_yinghuaji_dise.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,624},{85,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,144}}</string>
			<key>sourceSize</key>
			<string>{85,144}</string>
		</dict>
		<key>pic_jp_main_yinghuaji_diseA.png</key>
		<dict>
			<key>frame</key>
			<string>{{1903,294},{56,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,56}}</string>
			<key>sourceSize</key>
			<string>{56,56}</string>
		</dict>
		<key>pic_jp_main_yinghuaji_zhuangshi.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,612},{280,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{280,5}}</string>
			<key>sourceSize</key>
			<string>{280,5}</string>
		</dict>
		<key>pic_jp_shengdanjie_zhaisi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1153,417},{124,226}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,226}}</string>
			<key>sourceSize</key>
			<string>{124,226}</string>
		</dict>
		<key>pic_jp_shengdanjieqitianle_ditiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,624},{87,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,26}}</string>
			<key>sourceSize</key>
			<string>{87,26}</string>
		</dict>
		<key>pic_jp_shengdanjieqitianle_ditiao_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,2},{607,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{607,107}}</string>
			<key>sourceSize</key>
			<string>{607,107}</string>
		</dict>
		<key>pic_jp_shengdanjieqitianle_qmbjl.png</key>
		<dict>
			<key>frame</key>
			<string>{{1455,541},{170,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,105}}</string>
			<key>sourceSize</key>
			<string>{170,105}</string>
		</dict>
		<key>pic_qtll_qmbjl.png</key>
		<dict>
			<key>frame</key>
			<string>{{1218,196},{170,98}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,12},{170,98}}</string>
			<key>sourceSize</key>
			<string>{170,110}</string>
		</dict>
		<key>pic_shengdanjie_qmbjl.png</key>
		<dict>
			<key>frame</key>
			<string>{{1346,543},{171,107}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{171,107}}</string>
			<key>sourceSize</key>
			<string>{175,107}</string>
		</dict>
		<key>pic_shengdanqitianle_tiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{620,108}}</string>
			<key>offset</key>
			<string>{5,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,7},{620,108}}</string>
			<key>sourceSize</key>
			<string>{638,124}</string>
		</dict>
		<key>pic_xiaocaiqi2_guoqinghuodong.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,624},{90,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,47}}</string>
			<key>sourceSize</key>
			<string>{90,47}</string>
		</dict>
		<key>pic_xiaocaiqi_guoqinghuodong.png</key>
		<dict>
			<key>frame</key>
			<string>{{595,611},{101,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,52}}</string>
			<key>sourceSize</key>
			<string>{101,52}</string>
		</dict>
		<key>pic_znqqtl_qmbjl.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,421},{174,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,120}}</string>
			<key>sourceSize</key>
			<string>{174,120}</string>
		</dict>
		<key>pic_znqqtl_tiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,2},{608,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{608,107}}</string>
			<key>sourceSize</key>
			<string>{608,107}</string>
		</dict>
		<key>pic_znqqtl_yilingqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1562,541},{146,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,77}}</string>
			<key>sourceSize</key>
			<string>{146,77}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ActivityNationalDayUi0.png</string>
		<key>size</key>
		<string>{2041,717}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ActivityNationalDayUi0.png</string>
	</dict>
</dict>
</plist>
