<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>a_dabi2_you_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,71},{43,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,52}}</string>
			<key>sourceSize</key>
			<string>{43,52}</string>
		</dict>
		<key>a_dabi2_zuo_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,370},{38,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,60}}</string>
			<key>sourceSize</key>
			<string>{38,60}</string>
		</dict>
		<key>a_dabi_you_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,2},{37,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,44}}</string>
			<key>sourceSize</key>
			<string>{37,44}</string>
		</dict>
		<key>a_dabi_zuo_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,416},{46,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,53}}</string>
			<key>sourceSize</key>
			<string>{46,53}</string>
		</dict>
		<key>a_datui_you_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,416},{54,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,35}}</string>
			<key>sourceSize</key>
			<string>{54,35}</string>
		</dict>
		<key>a_datui_zuo_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,346},{45,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,47}}</string>
			<key>sourceSize</key>
			<string>{45,47}</string>
		</dict>
		<key>a_duandai_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,2},{21,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,32}}</string>
			<key>sourceSize</key>
			<string>{21,32}</string>
		</dict>
		<key>a_jiao_you_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,123},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>a_jiao_zuo_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,91},{34,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,30}}</string>
			<key>sourceSize</key>
			<string>{34,30}</string>
		</dict>
		<key>a_kua_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,52},{46,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,40}}</string>
			<key>sourceSize</key>
			<string>{46,40}</string>
		</dict>
		<key>a_qugan_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,84},{73,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,66}}</string>
			<key>sourceSize</key>
			<string>{73,66}</string>
		</dict>
		<key>a_shou_you_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,2},{37,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,42}}</string>
			<key>sourceSize</key>
			<string>{37,42}</string>
		</dict>
		<key>a_shou_zuo_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,123},{40,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,34}}</string>
			<key>sourceSize</key>
			<string>{40,34}</string>
		</dict>
		<key>a_tou1d_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,244},{57,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,57}}</string>
			<key>sourceSize</key>
			<string>{57,57}</string>
		</dict>
		<key>a_tou2a_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,159},{57,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,57}}</string>
			<key>sourceSize</key>
			<string>{57,57}</string>
		</dict>
		<key>a_tou2b_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,422},{57,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,57}}</string>
			<key>sourceSize</key>
			<string>{57,57}</string>
		</dict>
		<key>a_tou2c_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,363},{57,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,57}}</string>
			<key>sourceSize</key>
			<string>{57,57}</string>
		</dict>
		<key>a_tou3a_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,428},{57,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,57}}</string>
			<key>sourceSize</key>
			<string>{57,57}</string>
		</dict>
		<key>a_tou4a_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,304},{57,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,57}}</string>
			<key>sourceSize</key>
			<string>{57,57}</string>
		</dict>
		<key>a_tou4d_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{42,369},{57,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,57}}</string>
			<key>sourceSize</key>
			<string>{57,57}</string>
		</dict>
		<key>a_xiabai2_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,159},{51,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,43}}</string>
			<key>sourceSize</key>
			<string>{51,43}</string>
		</dict>
		<key>a_xiabai_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,362},{56,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,33}}</string>
			<key>sourceSize</key>
			<string>{56,33}</string>
		</dict>
		<key>a_xiaobi2_you_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,2},{40,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,36}}</string>
			<key>sourceSize</key>
			<string>{40,36}</string>
		</dict>
		<key>a_xiaobi2_zuo_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,481},{29,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,48}}</string>
			<key>sourceSize</key>
			<string>{29,48}</string>
		</dict>
		<key>a_xiaobi_you_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,472},{45,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,38}}</string>
			<key>sourceSize</key>
			<string>{45,38}</string>
		</dict>
		<key>a_xiaobi_zuo_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,212},{40,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,30}}</string>
			<key>sourceSize</key>
			<string>{40,30}</string>
		</dict>
		<key>a_xiaotui_you_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,123},{34,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,44}}</string>
			<key>sourceSize</key>
			<string>{34,44}</string>
		</dict>
		<key>a_xiaotui_zuo_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,201},{27,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,38}}</string>
			<key>sourceSize</key>
			<string>{27,38}</string>
		</dict>
		<key>b_cebei_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,2},{66,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,67}}</string>
			<key>sourceSize</key>
			<string>{66,67}</string>
		</dict>
		<key>b_cekua_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{252,159},{44,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,33}}</string>
			<key>sourceSize</key>
			<string>{44,33}</string>
		</dict>
		<key>b_dabi2_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{279,471},{39,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,48}}</string>
			<key>sourceSize</key>
			<string>{39,48}</string>
		</dict>
		<key>b_dabi3_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,2},{69,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,52}}</string>
			<key>sourceSize</key>
			<string>{69,52}</string>
		</dict>
		<key>b_dabi_nei_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,360},{40,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,54}}</string>
			<key>sourceSize</key>
			<string>{40,54}</string>
		</dict>
		<key>b_dabi_wai_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,303},{39,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,57}}</string>
			<key>sourceSize</key>
			<string>{39,57}</string>
		</dict>
		<key>b_datui_nei_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,125},{32,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,48}}</string>
			<key>sourceSize</key>
			<string>{32,48}</string>
		</dict>
		<key>b_datui_wai_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,210},{32,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,46}}</string>
			<key>sourceSize</key>
			<string>{32,46}</string>
		</dict>
		<key>b_duandai_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,492},{12,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,32}}</string>
			<key>sourceSize</key>
			<string>{12,32}</string>
		</dict>
		<key>b_houbai_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,436},{36,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,33}}</string>
			<key>sourceSize</key>
			<string>{36,33}</string>
		</dict>
		<key>b_jiao1_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,48},{26,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,44}}</string>
			<key>sourceSize</key>
			<string>{26,44}</string>
		</dict>
		<key>b_jiao2_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,2},{26,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,43}}</string>
			<key>sourceSize</key>
			<string>{26,43}</string>
		</dict>
		<key>b_jiao_nei_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,159},{36,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,29}}</string>
			<key>sourceSize</key>
			<string>{36,29}</string>
		</dict>
		<key>b_jiao_wai_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{383,121},{36,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,28}}</string>
			<key>sourceSize</key>
			<string>{36,28}</string>
		</dict>
		<key>b_kua_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,159},{40,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,33}}</string>
			<key>sourceSize</key>
			<string>{40,33}</string>
		</dict>
		<key>b_qianbai_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{453,31},{24,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,31}}</string>
			<key>sourceSize</key>
			<string>{24,31}</string>
		</dict>
		<key>b_quan_nei_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,237},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>b_quan_wai_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,197},{28,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,26}}</string>
			<key>sourceSize</key>
			<string>{28,26}</string>
		</dict>
		<key>b_qugan2_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,84},{58,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,80}}</string>
			<key>sourceSize</key>
			<string>{58,80}</string>
		</dict>
		<key>b_qugan_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{63,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,80}}</string>
			<key>sourceSize</key>
			<string>{63,80}</string>
		</dict>
		<key>b_xiabai1_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,487},{52,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,21}}</string>
			<key>sourceSize</key>
			<string>{52,21}</string>
		</dict>
		<key>b_xiabai2_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,492},{32,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,17}}</string>
			<key>sourceSize</key>
			<string>{32,17}</string>
		</dict>
		<key>b_xiaobi2_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,159},{35,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,52}}</string>
			<key>sourceSize</key>
			<string>{35,52}</string>
		</dict>
		<key>b_xiaobi3_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,244},{49,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,40}}</string>
			<key>sourceSize</key>
			<string>{49,40}</string>
		</dict>
		<key>b_xiaobi_nei_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{279,47},{42,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,40}}</string>
			<key>sourceSize</key>
			<string>{42,40}</string>
		</dict>
		<key>b_xiaobi_wai_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{263,244},{28,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,47}}</string>
			<key>sourceSize</key>
			<string>{28,47}</string>
		</dict>
		<key>b_xiaotui_nei_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,159},{34,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,49}}</string>
			<key>sourceSize</key>
			<string>{34,49}</string>
		</dict>
		<key>b_xiaotui_wai_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,2},{35,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,48}}</string>
			<key>sourceSize</key>
			<string>{35,48}</string>
		</dict>
		<key>c_dabi_you_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,432},{36,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,58}}</string>
			<key>sourceSize</key>
			<string>{36,58}</string>
		</dict>
		<key>c_dabi_zuo_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,432},{36,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,58}}</string>
			<key>sourceSize</key>
			<string>{36,58}</string>
		</dict>
		<key>c_datui_you_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,71},{32,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,53}}</string>
			<key>sourceSize</key>
			<string>{32,53}</string>
		</dict>
		<key>c_datui_zuo_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,303},{55,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,32}}</string>
			<key>sourceSize</key>
			<string>{55,32}</string>
		</dict>
		<key>c_houbai_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,307},{60,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,38}}</string>
			<key>sourceSize</key>
			<string>{60,38}</string>
		</dict>
		<key>c_jiao_you_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,487},{21,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,48}}</string>
			<key>sourceSize</key>
			<string>{21,48}</string>
		</dict>
		<key>c_jiao_zuo_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,293},{27,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,39}}</string>
			<key>sourceSize</key>
			<string>{27,39}</string>
		</dict>
		<key>c_kua_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,244},{48,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,43}}</string>
			<key>sourceSize</key>
			<string>{48,43}</string>
		</dict>
		<key>c_quan_you_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{453,2},{27,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,32}}</string>
			<key>sourceSize</key>
			<string>{27,32}</string>
		</dict>
		<key>c_quan_zuo_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,426},{29,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,29}}</string>
			<key>sourceSize</key>
			<string>{29,29}</string>
		</dict>
		<key>c_qugan_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,166},{71,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,76}}</string>
			<key>sourceSize</key>
			<string>{71,76}</string>
		</dict>
		<key>c_tou_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,244},{54,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,61}}</string>
			<key>sourceSize</key>
			<string>{54,61}</string>
		</dict>
		<key>c_xiaobi_you_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,295},{28,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,49}}</string>
			<key>sourceSize</key>
			<string>{28,49}</string>
		</dict>
		<key>c_xiaobi_zuo_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,2},{40,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,24}}</string>
			<key>sourceSize</key>
			<string>{40,24}</string>
		</dict>
		<key>c_xiaotui_you_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,307},{30,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,61}}</string>
			<key>sourceSize</key>
			<string>{30,61}</string>
		</dict>
		<key>c_xiaotui_zuo_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,294},{47,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,44}}</string>
			<key>sourceSize</key>
			<string>{47,44}</string>
		</dict>
		<key>jiao1_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,2},{27,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,37}}</string>
			<key>sourceSize</key>
			<string>{27,37}</string>
		</dict>
		<key>jiao2_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{425,2},{26,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,33}}</string>
			<key>sourceSize</key>
			<string>{26,33}</string>
		</dict>
		<key>jiao3_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,284},{29,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,25}}</string>
			<key>sourceSize</key>
			<string>{29,25}</string>
		</dict>
		<key>jiao4_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,89},{32,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,36}}</string>
			<key>sourceSize</key>
			<string>{32,36}</string>
		</dict>
		<key>shou10_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,123},{35,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,34}}</string>
			<key>sourceSize</key>
			<string>{35,34}</string>
		</dict>
		<key>shou12_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,44},{27,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,40}}</string>
			<key>sourceSize</key>
			<string>{27,40}</string>
		</dict>
		<key>shou14_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,126},{31,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,40}}</string>
			<key>sourceSize</key>
			<string>{31,40}</string>
		</dict>
		<key>shou15_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,159},{29,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,37}}</string>
			<key>sourceSize</key>
			<string>{29,37}</string>
		</dict>
		<key>shou16_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,366},{30,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,26}}</string>
			<key>sourceSize</key>
			<string>{30,26}</string>
		</dict>
		<key>shou17_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{252,94},{27,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,42}}</string>
			<key>sourceSize</key>
			<string>{27,42}</string>
		</dict>
		<key>shou18_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,218},{44,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,24}}</string>
			<key>sourceSize</key>
			<string>{44,24}</string>
		</dict>
		<key>shou19_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{327,198},{37,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,27}}</string>
			<key>sourceSize</key>
			<string>{37,27}</string>
		</dict>
		<key>shou22_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,46},{28,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,41}}</string>
			<key>sourceSize</key>
			<string>{28,41}</string>
		</dict>
		<key>shou24_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,41},{28,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,33}}</string>
			<key>sourceSize</key>
			<string>{28,33}</string>
		</dict>
		<key>shou2_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,213},{29,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,42}}</string>
			<key>sourceSize</key>
			<string>{29,42}</string>
		</dict>
		<key>shou3_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,44},{37,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,28}}</string>
			<key>sourceSize</key>
			<string>{37,28}</string>
		</dict>
		<key>shou4_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,218},{41,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,24}}</string>
			<key>sourceSize</key>
			<string>{41,24}</string>
		</dict>
		<key>shou7_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,244},{38,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,35}}</string>
			<key>sourceSize</key>
			<string>{38,35}</string>
		</dict>
		<key>shou8_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,100},{41,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,21}}</string>
			<key>sourceSize</key>
			<string>{41,21}</string>
		</dict>
		<key>shou_buchong11_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,395},{31,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,39}}</string>
			<key>sourceSize</key>
			<string>{31,39}</string>
		</dict>
		<key>shou_buchong1_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,334},{30,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,29}}</string>
			<key>sourceSize</key>
			<string>{30,29}</string>
		</dict>
		<key>shou_buchong2_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,394},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{28,30}</string>
		</dict>
		<key>shou_buchong6_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,83},{28,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,33}}</string>
			<key>sourceSize</key>
			<string>{28,33}</string>
		</dict>
		<key>shou_buchong8_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,86},{33,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,29}}</string>
			<key>sourceSize</key>
			<string>{33,29}</string>
		</dict>
		<key>tou4_banqiliangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,244},{58,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,57}}</string>
			<key>sourceSize</key>
			<string>{58,57}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA4444</string>
		<key>realTextureFileName</key>
		<string>banqiliangimage.png</string>
		<key>scale</key>
		<real>0.5</real>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>banqiliangimage.png</string>
	</dict>
</dict>
</plist>
