<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>rock1_shihuaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,249},{25,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,34}}</string>
			<key>sourceSize</key>
			<string>{25,34}</string>
		</dict>
		<key>rock2_shihuaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,274},{18,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,32}}</string>
			<key>sourceSize</key>
			<string>{18,32}</string>
		</dict>
		<key>rock3_shihuaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,274},{11,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,13}}</string>
			<key>sourceSize</key>
			<string>{11,13}</string>
		</dict>
		<key>rock4_shihuaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,274},{14,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,14}}</string>
			<key>sourceSize</key>
			<string>{14,14}</string>
		</dict>
		<key>stone1_shihuaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,66},{163,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,141}}</string>
			<key>sourceSize</key>
			<string>{163,141}</string>
		</dict>
		<key>stone2_shihuaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,2},{93,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,70}}</string>
			<key>sourceSize</key>
			<string>{93,70}</string>
		</dict>
		<key>stone3_shihuaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,97},{150,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,83}}</string>
			<key>sourceSize</key>
			<string>{150,83}</string>
		</dict>
		<key>stone5_shihuaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,274},{52,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,53}}</string>
			<key>sourceSize</key>
			<string>{52,53}</string>
		</dict>
		<key>text_kangxing_down_shihuaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{172,29}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{172,29}}</string>
			<key>sourceSize</key>
			<string>{174,31}</string>
		</dict>
		<key>text_kangxing_up_shihuaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,209},{155,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,30}}</string>
			<key>sourceSize</key>
			<string>{155,30}</string>
		</dict>
		<key>text_shihua_shihuaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,249},{67,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,30}}</string>
			<key>sourceSize</key>
			<string>{67,30}</string>
		</dict>
		<key>xjnjd_shihuaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,33},{171,31}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,31}}</string>
			<key>sourceSize</key>
			<string>{173,31}</string>
		</dict>
		<key>xjnss_shihuaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,241},{151,31}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,31}}</string>
			<key>sourceSize</key>
			<string>{153,31}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>shihuaimage.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>shihuaimage.png</string>
	</dict>
</dict>
</plist>
