<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>terui_daiji_00000_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,234},{66,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,83}}</string>
			<key>sourceSize</key>
			<string>{66,83}</string>
		</dict>
		<key>terui_daiji_00001_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,299},{62,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,82}}</string>
			<key>sourceSize</key>
			<string>{62,82}</string>
		</dict>
		<key>terui_daiji_00002_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,361},{60,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,78}}</string>
			<key>sourceSize</key>
			<string>{60,78}</string>
		</dict>
		<key>terui_daiji_00003_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,295},{60,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,79}}</string>
			<key>sourceSize</key>
			<string>{60,79}</string>
		</dict>
		<key>terui_daiji_00004_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,299},{60,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,83}}</string>
			<key>sourceSize</key>
			<string>{60,83}</string>
		</dict>
		<key>terui_daiji_00005_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,399},{62,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,83}}</string>
			<key>sourceSize</key>
			<string>{62,83}</string>
		</dict>
		<key>terui_daiji_00006_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,234},{63,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,86}}</string>
			<key>sourceSize</key>
			<string>{63,86}</string>
		</dict>
		<key>terui_daiji_00007_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,2},{65,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,81}}</string>
			<key>sourceSize</key>
			<string>{65,81}</string>
		</dict>
		<key>terui_daiji_00008_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{323,2},{66,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,83}}</string>
			<key>sourceSize</key>
			<string>{66,83}</string>
		</dict>
		<key>terui_daiji_00009_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{434,148},{68,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,78}}</string>
			<key>sourceSize</key>
			<string>{68,78}</string>
		</dict>
		<key>terui_daiji_00010_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,2},{70,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,84}}</string>
			<key>sourceSize</key>
			<string>{70,84}</string>
		</dict>
		<key>terui_daiji_00011_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,260},{71,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,80}}</string>
			<key>sourceSize</key>
			<string>{71,80}</string>
		</dict>
		<key>terui_daiji_00012_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,70},{71,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,78}}</string>
			<key>sourceSize</key>
			<string>{71,78}</string>
		</dict>
		<key>terui_daiji_00013_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,342},{71,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,79}}</string>
			<key>sourceSize</key>
			<string>{71,79}</string>
		</dict>
		<key>terui_daiji_00014_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,90},{72,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,83}}</string>
			<key>sourceSize</key>
			<string>{72,83}</string>
		</dict>
		<key>terui_daiji_00015_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,155},{72,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,77}}</string>
			<key>sourceSize</key>
			<string>{72,77}</string>
		</dict>
		<key>terui_daiji_00016_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,263},{73,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,80}}</string>
			<key>sourceSize</key>
			<string>{73,80}</string>
		</dict>
		<key>terui_daiji_00017_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,350},{74,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,79}}</string>
			<key>sourceSize</key>
			<string>{74,79}</string>
		</dict>
		<key>terui_daiji_00018_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{75,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,86}}</string>
			<key>sourceSize</key>
			<string>{75,86}</string>
		</dict>
		<key>terui_daiji_00019_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,263},{69,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,85}}</string>
			<key>sourceSize</key>
			<string>{69,85}</string>
		</dict>
		<key>terui_daiji_00020_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,150},{66,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,82}}</string>
			<key>sourceSize</key>
			<string>{66,82}</string>
		</dict>
		<key>terui_daiji_00021_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,174},{68,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,83}}</string>
			<key>sourceSize</key>
			<string>{68,83}</string>
		</dict>
		<key>terui_daiji_00022_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,175},{70,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,83}}</string>
			<key>sourceSize</key>
			<string>{70,83}</string>
		</dict>
		<key>terui_daiji_00023_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,70},{70,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,76}}</string>
			<key>sourceSize</key>
			<string>{70,76}</string>
		</dict>
		<key>terui_daiji_00024_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,423},{70,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,80}}</string>
			<key>sourceSize</key>
			<string>{70,80}</string>
		</dict>
		<key>terui_daiji_00025_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,345},{71,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,80}}</string>
			<key>sourceSize</key>
			<string>{71,80}</string>
		</dict>
		<key>terui_daiji_00026_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,431},{71,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,81}}</string>
			<key>sourceSize</key>
			<string>{71,81}</string>
		</dict>
		<key>terui_daiji_00027_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,90},{70,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,87}}</string>
			<key>sourceSize</key>
			<string>{70,87}</string>
		</dict>
		<key>terui_daiji_00028_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,2},{68,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,85}}</string>
			<key>sourceSize</key>
			<string>{68,85}</string>
		</dict>
		<key>terui_daiji_00029_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,72},{69,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,81}}</string>
			<key>sourceSize</key>
			<string>{69,81}</string>
		</dict>
		<key>terui_daiji_00030_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{435,69},{69,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,76}}</string>
			<key>sourceSize</key>
			<string>{69,76}</string>
		</dict>
		<key>terui_daiji_00031_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,319},{70,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,78}}</string>
			<key>sourceSize</key>
			<string>{70,78}</string>
		</dict>
		<key>terui_daiji_00032_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,150},{71,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,76}}</string>
			<key>sourceSize</key>
			<string>{71,76}</string>
		</dict>
		<key>terui_daiji_00033_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,179},{73,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,82}}</string>
			<key>sourceSize</key>
			<string>{73,82}</string>
		</dict>
		<key>terui_daiji_00034_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,88},{69,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,84}}</string>
			<key>sourceSize</key>
			<string>{69,84}</string>
		</dict>
		<key>terui_daiji_00035_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,427},{67,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,84}}</string>
			<key>sourceSize</key>
			<string>{67,84}</string>
		</dict>
		<key>terui_daiji_00036_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{238,2},{66,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,83}}</string>
			<key>sourceSize</key>
			<string>{66,83}</string>
		</dict>
		<key>terui_daiji_00037_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,383},{66,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,76}}</string>
			<key>sourceSize</key>
			<string>{66,76}</string>
		</dict>
		<key>terui_daiji_00038_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,441},{63,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,74}}</string>
			<key>sourceSize</key>
			<string>{63,74}</string>
		</dict>
		<key>terui_daiji_00039_teruidaijitexiaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,228},{65,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,75}}</string>
			<key>sourceSize</key>
			<string>{65,75}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA4444</string>
		<key>realTextureFileName</key>
		<string>teruidaijitexiaoimage.png</string>
		<key>scale</key>
		<real>0.5</real>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>teruidaijitexiaoimage.png</string>
	</dict>
</dict>
</plist>
