<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ddA_hxpcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{729,413},{213,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,41}}</string>
			<key>sourceSize</key>
			<string>{213,41}</string>
		</dict>
		<key>ddB_hxpcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{605,201},{217,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{217,65}}</string>
			<key>sourceSize</key>
			<string>{217,65}</string>
		</dict>
		<key>ddC_hxpcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,774},{233,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{233,69}}</string>
			<key>sourceSize</key>
			<string>{233,69}</string>
		</dict>
		<key>ddE_hxpcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{772,511},{213,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,68}}</string>
			<key>sourceSize</key>
			<string>{213,68}</string>
		</dict>
		<key>dianA_hxpcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{605,2},{63,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,77}}</string>
			<key>sourceSize</key>
			<string>{63,77}</string>
		</dict>
		<key>dianB_hxpcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{605,137},{62,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,73}}</string>
			<key>sourceSize</key>
			<string>{62,73}</string>
		</dict>
		<key>dianC_hxpcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{605,67},{68,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,74}}</string>
			<key>sourceSize</key>
			<string>{68,74}</string>
		</dict>
		<key>dianD_hxpcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{688,628},{70,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,71}}</string>
			<key>sourceSize</key>
			<string>{70,71}</string>
		</dict>
		<key>dianE_hxpcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,855},{58,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,43}}</string>
			<key>sourceSize</key>
			<string>{58,43}</string>
		</dict>
		<key>guanggditu_hxpcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{775,302},{207,219}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,219}}</string>
			<key>sourceSize</key>
			<string>{207,219}</string>
		</dict>
		<key>guangyun_hxpcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{688,2},{298,298}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{298,298}}</string>
			<key>sourceSize</key>
			<string>{298,298}</string>
		</dict>
		<key>kguang_hxpcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{407,422}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{407,422}}</string>
			<key>sourceSize</key>
			<string>{407,422}</string>
		</dict>
		<key>light_hxpcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,984},{23,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,115}}</string>
			<key>sourceSize</key>
			<string>{23,115}</string>
		</dict>
		<key>mask1_hxpcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,760},{222,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,90}}</string>
			<key>sourceSize</key>
			<string>{222,90}</string>
		</dict>
		<key>mask2_hxpcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,302},{192,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,118}}</string>
			<key>sourceSize</key>
			<string>{192,118}</string>
		</dict>
		<key>mask3_hxpcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,804},{49,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,49}}</string>
			<key>sourceSize</key>
			<string>{49,49}</string>
		</dict>
		<key>mask4_hxpcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,732},{54,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,70}}</string>
			<key>sourceSize</key>
			<string>{54,70}</string>
		</dict>
		<key>quanA_hxpcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,201},{95,170}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{95,170}}</string>
			<key>sourceSize</key>
			<string>{101,170}</string>
		</dict>
		<key>quanB_hxpcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,2},{182,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,181}}</string>
			<key>sourceSize</key>
			<string>{182,181}</string>
		</dict>
		<key>quanC.png_hxpcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,302},{101,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,109}}</string>
			<key>sourceSize</key>
			<string>{101,109}</string>
		</dict>
		<key>quanD_hxpcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,760},{255,227}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,227}}</string>
			<key>sourceSize</key>
			<string>{255,227}</string>
		</dict>
		<key>quanE_hxpcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,732},{269,269}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{269,269}}</string>
			<key>sourceSize</key>
			<string>{269,269}</string>
		</dict>
		<key>quanF_hxpcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,426},{304,304}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{304,304}}</string>
			<key>sourceSize</key>
			<string>{304,304}</string>
		</dict>
		<key>quanJ_hxpcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,426},{329,332}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{329,332}}</string>
			<key>sourceSize</key>
			<string>{329,332}</string>
		</dict>
		<key>sanjiao_hxpcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,984},{31,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,38}}</string>
			<key>sourceSize</key>
			<string>{31,38}</string>
		</dict>
		<key>textdi_hxpcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,426},{346,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{346,47}}</string>
			<key>sourceSize</key>
			<string>{346,47}</string>
		</dict>
		<key>xian_hxpcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1009},{75,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,1}}</string>
			<key>sourceSize</key>
			<string>{75,1}</string>
		</dict>
		<key>xinpiandi_hxpcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{772,581},{125,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,173}}</string>
			<key>sourceSize</key>
			<string>{125,173}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>hxpcjimage.png</string>
		<key>scale</key>
		<real>0.9</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>hxpcjimage.png</string>
	</dict>
</dict>
</plist>
