<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>huoji_atk_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,964},{84,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,58}}</string>
			<key>sourceSize</key>
			<string>{84,58}</string>
		</dict>
		<key>huoji_atk_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,377},{58,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,62}}</string>
			<key>sourceSize</key>
			<string>{58,62}</string>
		</dict>
		<key>huoji_atk_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,620},{55,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,28}}</string>
			<key>sourceSize</key>
			<string>{55,28}</string>
		</dict>
		<key>huoji_atk_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{881,2},{141,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,38}}</string>
			<key>sourceSize</key>
			<string>{141,38}</string>
		</dict>
		<key>huoji_atk_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{753,607},{89,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,46}}</string>
			<key>sourceSize</key>
			<string>{89,46}</string>
		</dict>
		<key>huoji_atk_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,620},{39,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,28}}</string>
			<key>sourceSize</key>
			<string>{39,28}</string>
		</dict>
		<key>huoji_atk_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,249},{98,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,70}}</string>
			<key>sourceSize</key>
			<string>{98,70}</string>
		</dict>
		<key>huoji_atk_25.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,122},{63,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,43}}</string>
			<key>sourceSize</key>
			<string>{63,43}</string>
		</dict>
		<key>huoji_atk_26.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,620},{28,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,37}}</string>
			<key>sourceSize</key>
			<string>{28,37}</string>
		</dict>
		<key>huoji_atk_37.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,2},{63,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,62}}</string>
			<key>sourceSize</key>
			<string>{63,62}</string>
		</dict>
		<key>huoji_atk_42.png</key>
		<dict>
			<key>frame</key>
			<string>{{760,377},{49,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,65}}</string>
			<key>sourceSize</key>
			<string>{49,65}</string>
		</dict>
		<key>huoji_atk_48.png</key>
		<dict>
			<key>frame</key>
			<string>{{701,766},{75,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,84}}</string>
			<key>sourceSize</key>
			<string>{75,84}</string>
		</dict>
		<key>huoji_atk_50.png</key>
		<dict>
			<key>frame</key>
			<string>{{807,945},{77,73}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,73}}</string>
			<key>sourceSize</key>
			<string>{79,73}</string>
		</dict>
		<key>huoji_atk_51.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,65},{63,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,56}}</string>
			<key>sourceSize</key>
			<string>{63,56}</string>
		</dict>
		<key>huoji_atk_57.png</key>
		<dict>
			<key>frame</key>
			<string>{{730,945},{77,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,76}}</string>
			<key>sourceSize</key>
			<string>{77,76}</string>
		</dict>
		<key>huoji_atk_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{948,945},{77,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,55}}</string>
			<key>sourceSize</key>
			<string>{77,55}</string>
		</dict>
		<key>huoji_bsdie_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{944,607},{78,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,73}}</string>
			<key>sourceSize</key>
			<string>{78,73}</string>
		</dict>
		<key>huoji_bsdie_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,739},{24,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,16}}</string>
			<key>sourceSize</key>
			<string>{24,16}</string>
		</dict>
		<key>huoji_bsdie_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{809,245},{17,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,22}}</string>
			<key>sourceSize</key>
			<string>{17,22}</string>
		</dict>
		<key>huoji_bsdie_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{155,325}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,325}}</string>
			<key>sourceSize</key>
			<string>{155,325}</string>
		</dict>
		<key>huoji_bsdie_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,2},{153,317}}</string>
			<key>offset</key>
			<string>{-7,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,317}}</string>
			<key>sourceSize</key>
			<string>{167,317}</string>
		</dict>
		<key>huoji_bsdie_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,649},{211,295}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,295}}</string>
			<key>sourceSize</key>
			<string>{211,295}</string>
		</dict>
		<key>huoji_bsdie_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,320},{211,299}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,299}}</string>
			<key>sourceSize</key>
			<string>{211,299}</string>
		</dict>
		<key>huoji_bsdie_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,328},{226,320}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,320}}</string>
			<key>sourceSize</key>
			<string>{228,320}</string>
		</dict>
		<key>huoji_bsdie_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,2},{64,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,70}}</string>
			<key>sourceSize</key>
			<string>{64,70}</string>
		</dict>
		<key>huoji_bsdie_27.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,548},{62,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,58}}</string>
			<key>sourceSize</key>
			<string>{62,58}</string>
		</dict>
		<key>huoji_bsdie_31.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,254},{122,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,103}}</string>
			<key>sourceSize</key>
			<string>{122,103}</string>
		</dict>
		<key>huoji_bsdie_37.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,872},{72,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,56}}</string>
			<key>sourceSize</key>
			<string>{72,56}</string>
		</dict>
		<key>huoji_bsdie_39.png</key>
		<dict>
			<key>frame</key>
			<string>{{486,245},{74,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,72}}</string>
			<key>sourceSize</key>
			<string>{74,72}</string>
		</dict>
		<key>huoji_bsdie_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{559,245},{74,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,62}}</string>
			<key>sourceSize</key>
			<string>{74,62}</string>
		</dict>
		<key>huoji_bsdie_43.png</key>
		<dict>
			<key>frame</key>
			<string>{{856,288},{24,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,13}}</string>
			<key>sourceSize</key>
			<string>{24,13}</string>
		</dict>
		<key>huoji_bsdie_44.png</key>
		<dict>
			<key>frame</key>
			<string>{{856,263},{13,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,24}}</string>
			<key>sourceSize</key>
			<string>{13,24}</string>
		</dict>
		<key>huoji_bsdie_48.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,166},{37,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,63}}</string>
			<key>sourceSize</key>
			<string>{37,63}</string>
		</dict>
		<key>huoji_cchang_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{265,964},{66,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,58}}</string>
			<key>sourceSize</key>
			<string>{66,58}</string>
		</dict>
		<key>huoji_cchang_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{643,2},{102,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,126}}</string>
			<key>sourceSize</key>
			<string>{102,126}</string>
		</dict>
		<key>huoji_cchang_26.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,945},{77,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,151}}</string>
			<key>sourceSize</key>
			<string>{77,151}</string>
		</dict>
		<key>huoji_cchang_28.png</key>
		<dict>
			<key>frame</key>
			<string>{{668,842},{77,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,17}}</string>
			<key>sourceSize</key>
			<string>{77,17}</string>
		</dict>
		<key>huoji_cchang_31.png</key>
		<dict>
			<key>frame</key>
			<string>{{786,766},{48,60}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,60}}</string>
			<key>sourceSize</key>
			<string>{50,60}</string>
		</dict>
		<key>huoji_cchang_34.png</key>
		<dict>
			<key>frame</key>
			<string>{{881,756},{40,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,66}}</string>
			<key>sourceSize</key>
			<string>{40,66}</string>
		</dict>
		<key>huoji_cchang_39.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,756},{100,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,115}}</string>
			<key>sourceSize</key>
			<string>{100,115}</string>
		</dict>
		<key>huoji_cchang_44.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,245},{21,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,17}}</string>
			<key>sourceSize</key>
			<string>{21,17}</string>
		</dict>
		<key>huoji_cchang_45.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,629},{61,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,58}}</string>
			<key>sourceSize</key>
			<string>{61,58}</string>
		</dict>
		<key>huoji_cchang_50.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,697},{45,88}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,88}}</string>
			<key>sourceSize</key>
			<string>{47,88}</string>
		</dict>
		<key>huoji_cchang_53.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,945},{13,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,13}}</string>
			<key>sourceSize</key>
			<string>{13,13}</string>
		</dict>
		<key>huoji_cchang_54.png</key>
		<dict>
			<key>frame</key>
			<string>{{441,604},{15,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,17}}</string>
			<key>sourceSize</key>
			<string>{15,17}</string>
		</dict>
		<key>huoji_cchang_55.png</key>
		<dict>
			<key>frame</key>
			<string>{{854,245},{15,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,17}}</string>
			<key>sourceSize</key>
			<string>{15,17}</string>
		</dict>
		<key>huoji_cchang_56.png</key>
		<dict>
			<key>frame</key>
			<string>{{1011,41},{11,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,10}}</string>
			<key>sourceSize</key>
			<string>{11,10}</string>
		</dict>
		<key>huoji_cchang_63.png</key>
		<dict>
			<key>frame</key>
			<string>{{786,827},{32,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,21}}</string>
			<key>sourceSize</key>
			<string>{32,21}</string>
		</dict>
		<key>huoji_cchang_69.png</key>
		<dict>
			<key>frame</key>
			<string>{{670,548},{66,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,58}}</string>
			<key>sourceSize</key>
			<string>{66,58}</string>
		</dict>
		<key>huoji_cchang_71.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,945},{77,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,151}}</string>
			<key>sourceSize</key>
			<string>{77,151}</string>
		</dict>
		<key>huoji_cchang_73.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,842},{15,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,17}}</string>
			<key>sourceSize</key>
			<string>{15,17}</string>
		</dict>
		<key>huoji_cchang_74.png</key>
		<dict>
			<key>frame</key>
			<string>{{762,842},{15,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,17}}</string>
			<key>sourceSize</key>
			<string>{15,17}</string>
		</dict>
		<key>huoji_idle_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,204},{59,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,62}}</string>
			<key>sourceSize</key>
			<string>{59,62}</string>
		</dict>
		<key>huoji_idle_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{701,377},{58,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,62}}</string>
			<key>sourceSize</key>
			<string>{58,62}</string>
		</dict>
		<key>huoji_idle_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{944,681},{57,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,78}}</string>
			<key>sourceSize</key>
			<string>{57,78}</string>
		</dict>
		<key>huoji_idle_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{622,245},{19,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,24}}</string>
			<key>sourceSize</key>
			<string>{19,24}</string>
		</dict>
		<key>huoji_idle_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{979,872},{71,43}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,43}}</string>
			<key>sourceSize</key>
			<string>{73,43}</string>
		</dict>
		<key>huoji_idle_25.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,67},{62,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,70}}</string>
			<key>sourceSize</key>
			<string>{62,70}</string>
		</dict>
		<key>huoji_idle_27.png</key>
		<dict>
			<key>frame</key>
			<string>{{1011,52},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>huoji_idle_32.png</key>
		<dict>
			<key>frame</key>
			<string>{{881,945},{77,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,66}}</string>
			<key>sourceSize</key>
			<string>{77,66}</string>
		</dict>
		<key>huoji_idle_36.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,860},{115,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,84}}</string>
			<key>sourceSize</key>
			<string>{115,84}</string>
		</dict>
		<key>huoji_idle_39.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,607},{21,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,73}}</string>
			<key>sourceSize</key>
			<string>{21,73}</string>
		</dict>
		<key>huoji_idle_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{561,440},{97,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,107}}</string>
			<key>sourceSize</key>
			<string>{97,107}</string>
		</dict>
		<key>huoji_idle_4bu_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{659,440},{97,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,107}}</string>
			<key>sourceSize</key>
			<string>{97,107}</string>
		</dict>
		<key>huoji_idle_8_bu.png</key>
		<dict>
			<key>frame</key>
			<string>{{441,549},{34,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{34,54}}</string>
			<key>sourceSize</key>
			<string>{36,58}</string>
		</dict>
		<key>huoji_liumen_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{574,2},{68,211}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,211}}</string>
			<key>sourceSize</key>
			<string>{68,211}</string>
		</dict>
		<key>huoji_liumen_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{530,649},{68,211}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,211}}</string>
			<key>sourceSize</key>
			<string>{68,211}</string>
		</dict>
		<key>huoji_liumen_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{643,129},{124,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,102}}</string>
			<key>sourceSize</key>
			<string>{124,102}</string>
		</dict>
		<key>huoji_liumen_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{728,860},{84,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,81}}</string>
			<key>sourceSize</key>
			<string>{84,81}</string>
		</dict>
		<key>huoji_liumen_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{530,861},{83,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,81}}</string>
			<key>sourceSize</key>
			<string>{83,81}</string>
		</dict>
		<key>huoji_liumen_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,264},{109,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,112}}</string>
			<key>sourceSize</key>
			<string>{109,112}</string>
		</dict>
		<key>huoji_liumen_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{599,648},{68,211}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,211}}</string>
			<key>sourceSize</key>
			<string>{68,211}</string>
		</dict>
		<key>huoji_liumen_25.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,2},{242,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,121}}</string>
			<key>sourceSize</key>
			<string>{242,121}</string>
		</dict>
		<key>huoji_liumen_26.png</key>
		<dict>
			<key>frame</key>
			<string>{{668,648},{193,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,32}}</string>
			<key>sourceSize</key>
			<string>{193,32}</string>
		</dict>
		<key>huoji_liumen_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,2},{139,246}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,246}}</string>
			<key>sourceSize</key>
			<string>{139,246}</string>
		</dict>
		<key>huoji_liumen_31.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,786},{40,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,45}}</string>
			<key>sourceSize</key>
			<string>{40,45}</string>
		</dict>
		<key>huoji_liumen_33.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,620},{58,28}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{58,28}}</string>
			<key>sourceSize</key>
			<string>{58,30}</string>
		</dict>
		<key>huoji_liumen_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,827},{111,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,117}}</string>
			<key>sourceSize</key>
			<string>{111,117}</string>
		</dict>
		<key>huoji_run_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,649},{157,314}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,314}}</string>
			<key>sourceSize</key>
			<string>{157,314}</string>
		</dict>
		<key>huoji_run_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,649},{157,314}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,314}}</string>
			<key>sourceSize</key>
			<string>{157,314}</string>
		</dict>
		<key>huoji_run_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{881,697},{58,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,62}}</string>
			<key>sourceSize</key>
			<string>{58,62}</string>
		</dict>
		<key>huoji_run_13_bu_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{753,697},{68,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,81}}</string>
			<key>sourceSize</key>
			<string>{68,81}</string>
		</dict>
		<key>huoji_run_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,548},{69,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,80}}</string>
			<key>sourceSize</key>
			<string>{69,80}</string>
		</dict>
		<key>huoji_run_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,377},{66,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,59}}</string>
			<key>sourceSize</key>
			<string>{66,59}</string>
		</dict>
		<key>huoji_run_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{1011,63},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>huoji_run_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{1010,130},{12,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,12}}</string>
			<key>sourceSize</key>
			<string>{12,12}</string>
		</dict>
		<key>huoji_run_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{561,320},{119,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,80}}</string>
			<key>sourceSize</key>
			<string>{119,80}</string>
		</dict>
		<key>huoji_run_30.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,964},{58,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,73}}</string>
			<key>sourceSize</key>
			<string>{58,73}</string>
		</dict>
		<key>huoji_run_31.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,193},{70,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,51}}</string>
			<key>sourceSize</key>
			<string>{70,51}</string>
		</dict>
		<key>huoji_run_39.png</key>
		<dict>
			<key>frame</key>
			<string>{{441,320},{119,228}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,228}}</string>
			<key>sourceSize</key>
			<string>{119,228}</string>
		</dict>
		<key>huoji_run_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{757,444},{103,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,110}}</string>
			<key>sourceSize</key>
			<string>{103,110}</string>
		</dict>
		<key>huoji_sk1_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{944,739},{32,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,16}}</string>
			<key>sourceSize</key>
			<string>{32,16}</string>
		</dict>
		<key>huoji_sk1_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{881,130},{128,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,93}}</string>
			<key>sourceSize</key>
			<string>{128,93}</string>
		</dict>
		<key>huoji_sk1_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{1004,944},{16,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,24}}</string>
			<key>sourceSize</key>
			<string>{16,24}</string>
		</dict>
		<key>huoji_sk1_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,245},{152,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,180}}</string>
			<key>sourceSize</key>
			<string>{152,180}</string>
		</dict>
		<key>huoji_sk1_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,629},{67,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,81}}</string>
			<key>sourceSize</key>
			<string>{67,81}</string>
		</dict>
		<key>huoji_sk1_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,426},{152,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,180}}</string>
			<key>sourceSize</key>
			<string>{152,180}</string>
		</dict>
		<key>huoji_sk1_33.png</key>
		<dict>
			<key>frame</key>
			<string>{{554,549},{98,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,115}}</string>
			<key>sourceSize</key>
			<string>{98,115}</string>
		</dict>
		<key>huoji_sk1_35.png</key>
		<dict>
			<key>frame</key>
			<string>{{459,604},{13,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,13}}</string>
			<key>sourceSize</key>
			<string>{13,13}</string>
		</dict>
		<key>huoji_sk2_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,945},{77,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,93}}</string>
			<key>sourceSize</key>
			<string>{77,93}</string>
		</dict>
		<key>huoji_sk2_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,249},{70,74}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,74}}</string>
			<key>sourceSize</key>
			<string>{70,76}</string>
		</dict>
		<key>huoji_sk2_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{881,41},{129,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,88}}</string>
			<key>sourceSize</key>
			<string>{129,88}</string>
		</dict>
		<key>huoji_sk2_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,620},{28,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,53}}</string>
			<key>sourceSize</key>
			<string>{28,53}</string>
		</dict>
		<key>huoji_sk2_25.png</key>
		<dict>
			<key>frame</key>
			<string>{{574,214},{30,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,62}}</string>
			<key>sourceSize</key>
			<string>{30,62}</string>
		</dict>
		<key>huoji_sk2_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{701,648},{51,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,117}}</string>
			<key>sourceSize</key>
			<string>{51,117}</string>
		</dict>
		<key>huoji_sk2_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,130},{62,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,70}}</string>
			<key>sourceSize</key>
			<string>{62,70}</string>
		</dict>
		<key>huoji_sk2_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,964},{58,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,103}}</string>
			<key>sourceSize</key>
			<string>{58,103}</string>
		</dict>
		<key>huoji_sk2_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{670,607},{82,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,40}}</string>
			<key>sourceSize</key>
			<string>{82,40}</string>
		</dict>
		<key>huoji_start_yy.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,549},{77,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,99}}</string>
			<key>sourceSize</key>
			<string>{77,99}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>huojiRE_role0.png</string>
		<key>scale</key>
		<real>0.79</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>huojiRE_role0.png</string>
	</dict>
</dict>
</plist>
