<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_xxj_gd_dun_00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,846},{120,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,170}}</string>
			<key>sourceSize</key>
			<string>{120,170}</string>
		</dict>
		<key>New_xxj_gd_dun_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{874,2},{122,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,170}}</string>
			<key>sourceSize</key>
			<string>{122,170}</string>
		</dict>
		<key>New_xxj_gd_dun_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{648,846},{116,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,170}}</string>
			<key>sourceSize</key>
			<string>{116,170}</string>
		</dict>
		<key>New_xxj_gd_dun_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{765,846},{116,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,170}}</string>
			<key>sourceSize</key>
			<string>{116,170}</string>
		</dict>
		<key>New_xxj_gd_dun_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,846},{117,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,170}}</string>
			<key>sourceSize</key>
			<string>{117,170}</string>
		</dict>
		<key>New_xxj_gd_dun_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,846},{120,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,170}}</string>
			<key>sourceSize</key>
			<string>{120,170}</string>
		</dict>
		<key>New_xxj_gd_dun_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{874,173},{122,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,170}}</string>
			<key>sourceSize</key>
			<string>{122,170}</string>
		</dict>
		<key>New_xxj_gd_dun_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,846},{116,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,170}}</string>
			<key>sourceSize</key>
			<string>{116,170}</string>
		</dict>
		<key>New_xxj_gd_dun_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{431,692},{116,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,170}}</string>
			<key>sourceSize</key>
			<string>{116,170}</string>
		</dict>
		<key>New_xxj_gd_dun_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{530,846},{117,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,170}}</string>
			<key>sourceSize</key>
			<string>{117,170}</string>
		</dict>
		<key>New_xxj_ptbs_baodian_00051.png</key>
		<dict>
			<key>frame</key>
			<string>{{611,602},{179,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,178}}</string>
			<key>sourceSize</key>
			<string>{179,178}</string>
		</dict>
		<key>New_xxj_ptbs_baodian_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,846},{170,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,167}}</string>
			<key>sourceSize</key>
			<string>{170,167}</string>
		</dict>
		<key>New_xxj_ptbs_baodian_00057.png</key>
		<dict>
			<key>frame</key>
			<string>{{119,431},{167,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,107}}</string>
			<key>sourceSize</key>
			<string>{167,107}</string>
		</dict>
		<key>New_xxj_ptbs_baodian_00062.png</key>
		<dict>
			<key>frame</key>
			<string>{{791,680},{165,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,173}}</string>
			<key>sourceSize</key>
			<string>{165,173}</string>
		</dict>
		<key>New_xxj_ptbs_baoqi_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{662,2},{211,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,209}}</string>
			<key>sourceSize</key>
			<string>{211,209}</string>
		</dict>
		<key>New_xxj_ptbs_baoqi_00027.png</key>
		<dict>
			<key>frame</key>
			<string>{{442,110},{211,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,209}}</string>
			<key>sourceSize</key>
			<string>{211,209}</string>
		</dict>
		<key>New_xxj_ptbs_baoqi_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{219,218}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,218}}</string>
			<key>sourceSize</key>
			<string>{219,218}</string>
		</dict>
		<key>New_xxj_ptbs_baoqi_00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,2},{219,218}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,218}}</string>
			<key>sourceSize</key>
			<string>{219,218}</string>
		</dict>
		<key>New_xxj_ptbs_baoqi_00041.png</key>
		<dict>
			<key>frame</key>
			<string>{{654,212},{211,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,209}}</string>
			<key>sourceSize</key>
			<string>{211,209}</string>
		</dict>
		<key>New_xxj_ptbs_baoqi_00042.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,221},{211,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,209}}</string>
			<key>sourceSize</key>
			<string>{211,209}</string>
		</dict>
		<key>New_xxj_ptbs_baoqi_00043.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,221},{211,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,209}}</string>
			<key>sourceSize</key>
			<string>{211,209}</string>
		</dict>
		<key>New_xxj_ptbs_baoqi_00048.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,429},{184,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,184}}</string>
			<key>sourceSize</key>
			<string>{184,184}</string>
		</dict>
		<key>New_xxj_ptbs_baoqixuli_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{866,344},{165,156}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,156}}</string>
			<key>sourceSize</key>
			<string>{167,158}</string>
		</dict>
		<key>New_xxj_ptbs_baoqixuli_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,510},{181,169}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{181,169}}</string>
			<key>sourceSize</key>
			<string>{183,173}</string>
		</dict>
		<key>New_xxj_ptbs_baoyan_00138.png</key>
		<dict>
			<key>frame</key>
			<string>{{614,422},{185,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,179}}</string>
			<key>sourceSize</key>
			<string>{185,179}</string>
		</dict>
		<key>New_xxj_ptbs_shiwu_00156.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,692},{119,159}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,159}}</string>
			<key>sourceSize</key>
			<string>{119,165}</string>
		</dict>
		<key>New_xxj_ptbs_shiwu_00158.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,692},{117,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,160}}</string>
			<key>sourceSize</key>
			<string>{117,160}</string>
		</dict>
		<key>New_xxj_ptbs_shiwu_00159.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,431},{116,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,160}}</string>
			<key>sourceSize</key>
			<string>{116,160}</string>
		</dict>
		<key>New_xxj_ptgj_baodian_00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{530,614},{77,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,80}}</string>
			<key>sourceSize</key>
			<string>{77,80}</string>
		</dict>
		<key>New_xxj_ptgj_baodian_00031.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,431},{167,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,116}}</string>
			<key>sourceSize</key>
			<string>{167,116}</string>
		</dict>
		<key>New_xxj_ptgj_shizi_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{442,2},{219,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,107}}</string>
			<key>sourceSize</key>
			<string>{219,107}</string>
		</dict>
		<key>tx_gu.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,692},{118,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,107}}</string>
			<key>sourceSize</key>
			<string>{118,107}</string>
		</dict>
		<key>tx_guq.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,548},{105,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,107}}</string>
			<key>sourceSize</key>
			<string>{105,107}</string>
		</dict>
		<key>tx_jiazigu.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,320},{108,187}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,187}}</string>
			<key>sourceSize</key>
			<string>{108,187}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>xxiaojie_common3.png</string>
		<key>scale</key>
		<real>0.75</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>xxiaojie_common3.png</string>
	</dict>
</dict>
</plist>
