<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_slsl_qiandao_close.png</key>
		<dict>
			<key>frame</key>
			<string>{{1248,769},{58,72}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,0},{58,72}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>btn_slsl_shangdian_jianshao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1239,1235},{46,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,44}}</string>
			<key>sourceSize</key>
			<string>{46,44}</string>
		</dict>
		<key>btn_slsl_shangdian_jianshao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1193,1283},{46,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,44}}</string>
			<key>sourceSize</key>
			<string>{46,44}</string>
		</dict>
		<key>btn_slsl_shangdian_max_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1052,1388},{69,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,44}}</string>
			<key>sourceSize</key>
			<string>{69,44}</string>
		</dict>
		<key>btn_slsl_shangdian_max_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1248,843},{69,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,44}}</string>
			<key>sourceSize</key>
			<string>{69,44}</string>
		</dict>
		<key>btn_slsl_shangdian_zengjia_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1193,1235},{46,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,44}}</string>
			<key>sourceSize</key>
			<string>{46,44}</string>
		</dict>
		<key>btn_slsl_shangdian_zengjia_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1052,1486},{46,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,44}}</string>
			<key>sourceSize</key>
			<string>{46,44}</string>
		</dict>
		<key>icon_slsl_qiandao_duihao1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1155,1478},{46,42}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{46,42}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>icon_slsl_qiandao_duihao2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1193,1329},{46,42}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{46,42}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>icon_slsl_qiandao_duihao3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1246,1175},{46,42}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{46,42}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>pic_slsl_honglianshangdian_dadi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{958,623}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{958,623}}</string>
			<key>sourceSize</key>
			<string>{958,623}</string>
		</dict>
		<key>pic_slsl_honglianshangdian_daojudi.png</key>
		<dict>
			<key>frame</key>
			<string>{{936,1388},{114,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,114}}</string>
			<key>sourceSize</key>
			<string>{114,114}</string>
		</dict>
		<key>pic_slsl_honglianshangdian_huobidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1208,770},{155,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,38}}</string>
			<key>sourceSize</key>
			<string>{155,38}</string>
		</dict>
		<key>pic_slsl_honglianshangdian_jiaohuandi.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,929},{154,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,26}}</string>
			<key>sourceSize</key>
			<string>{154,26}</string>
		</dict>
		<key>pic_slsl_honglianshangdian_mingzidi01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1244,583},{154,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{154,36}}</string>
			<key>sourceSize</key>
			<string>{154,44}</string>
		</dict>
		<key>pic_slsl_honglianshangdian_mingzidi02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1138,1123},{154,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{154,50}}</string>
			<key>sourceSize</key>
			<string>{154,58}</string>
		</dict>
		<key>pic_slsl_honglianshangdian_mutiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1208,583},{34,185}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,185}}</string>
			<key>sourceSize</key>
			<string>{34,185}</string>
		</dict>
		<key>pic_slsl_honglianshangdian_tanchuang_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1547},{500,483}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{500,483}}</string>
			<key>sourceSize</key>
			<string>{500,483}</string>
		</dict>
		<key>pic_slsl_ipad_waimai_di_hong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1001,1728},{172,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,192}}</string>
			<key>sourceSize</key>
			<string>{172,192}</string>
		</dict>
		<key>pic_slsl_ipad_waimai_di_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1001,1534},{172,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,192}}</string>
			<key>sourceSize</key>
			<string>{172,192}</string>
		</dict>
		<key>pic_slsl_ipad_waimai_di_lv.png</key>
		<dict>
			<key>frame</key>
			<string>{{1138,929},{172,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,192}}</string>
			<key>sourceSize</key>
			<string>{172,192}</string>
		</dict>
		<key>pic_slsl_ipad_waimai_wenzidi_hong.png</key>
		<dict>
			<key>frame</key>
			<string>{{1103,1448},{50,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,49}}</string>
			<key>sourceSize</key>
			<string>{50,49}</string>
		</dict>
		<key>pic_slsl_ipad_waimai_wenzidi_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1052,1434},{50,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,49}}</string>
			<key>sourceSize</key>
			<string>{50,49}</string>
		</dict>
		<key>pic_slsl_ipad_waimai_wenzidi_lv.png</key>
		<dict>
			<key>frame</key>
			<string>{{1139,1205},{50,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,49}}</string>
			<key>sourceSize</key>
			<string>{50,49}</string>
		</dict>
		<key>pic_slsl_qiandao_1day1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1177,1377},{50,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{50,28}}</string>
			<key>sourceSize</key>
			<string>{56,28}</string>
		</dict>
		<key>pic_slsl_qiandao_1day2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1123,1418},{52,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{52,28}}</string>
			<key>sourceSize</key>
			<string>{56,28}</string>
		</dict>
		<key>pic_slsl_qiandao_1day3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1139,1347},{52,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{52,28}}</string>
			<key>sourceSize</key>
			<string>{56,28}</string>
		</dict>
		<key>pic_slsl_qiandao_1day4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1139,1317},{52,28}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{52,28}}</string>
			<key>sourceSize</key>
			<string>{56,28}</string>
		</dict>
		<key>pic_slsl_qiandao_1day5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1139,1287},{52,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{52,28}}</string>
			<key>sourceSize</key>
			<string>{56,28}</string>
		</dict>
		<key>pic_slsl_qiandao_1day6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1190,1205},{52,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{52,28}}</string>
			<key>sourceSize</key>
			<string>{56,28}</string>
		</dict>
		<key>pic_slsl_qiandao_1day7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1192,1175},{52,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{52,28}}</string>
			<key>sourceSize</key>
			<string>{56,28}</string>
		</dict>
		<key>pic_slsl_qiandao_2day1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1155,1448},{50,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{50,28}}</string>
			<key>sourceSize</key>
			<string>{56,28}</string>
		</dict>
		<key>pic_slsl_qiandao_2day2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1139,1257},{52,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{52,28}}</string>
			<key>sourceSize</key>
			<string>{56,28}</string>
		</dict>
		<key>pic_slsl_qiandao_2day3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1123,1388},{52,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{52,28}}</string>
			<key>sourceSize</key>
			<string>{56,28}</string>
		</dict>
		<key>pic_slsl_qiandao_2day4.png</key>
		<dict>
			<key>frame</key>
			<string>{{990,1504},{52,28}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{52,28}}</string>
			<key>sourceSize</key>
			<string>{56,28}</string>
		</dict>
		<key>pic_slsl_qiandao_2day5.png</key>
		<dict>
			<key>frame</key>
			<string>{{936,1504},{52,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{52,28}}</string>
			<key>sourceSize</key>
			<string>{56,28}</string>
		</dict>
		<key>pic_slsl_qiandao_2day6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1244,739},{52,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{52,28}}</string>
			<key>sourceSize</key>
			<string>{56,28}</string>
		</dict>
		<key>pic_slsl_qiandao_2day7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1138,1175},{52,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{52,28}}</string>
			<key>sourceSize</key>
			<string>{56,28}</string>
		</dict>
		<key>pic_slsl_qiandao_diban1.png</key>
		<dict>
			<key>frame</key>
			<string>{{973,2},{579,344}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{579,344}}</string>
			<key>sourceSize</key>
			<string>{579,344}</string>
		</dict>
		<key>pic_slsl_qiandao_diban2.png</key>
		<dict>
			<key>frame</key>
			<string>{{627,583},{579,344}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{579,344}}</string>
			<key>sourceSize</key>
			<string>{579,344}</string>
		</dict>
		<key>pic_slsl_qiandao_diban3.png</key>
		<dict>
			<key>frame</key>
			<string>{{627,2},{579,344}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{579,344}}</string>
			<key>sourceSize</key>
			<string>{579,344}</string>
		</dict>
		<key>pic_slsl_qiandao_heiban.png</key>
		<dict>
			<key>frame</key>
			<string>{{936,957},{250,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{250,200}}</string>
			<key>sourceSize</key>
			<string>{250,200}</string>
		</dict>
		<key>pic_slsl_shuiwangshangdian_dadi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,962},{932,583}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{932,583}}</string>
			<key>sourceSize</key>
			<string>{932,583}</string>
		</dict>
		<key>pic_slsl_shuiwangshangdian_daojudi.png</key>
		<dict>
			<key>frame</key>
			<string>{{936,1209},{177,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,201}}</string>
			<key>sourceSize</key>
			<string>{177,201}</string>
		</dict>
		<key>pic_slsl_shuiwangshangdian_huobidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1282,583},{132,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,33}}</string>
			<key>sourceSize</key>
			<string>{132,33}</string>
		</dict>
		<key>pic_slsl_shuiwangshangdian_jiaohuandi.png</key>
		<dict>
			<key>frame</key>
			<string>{{948,929},{154,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,19}}</string>
			<key>sourceSize</key>
			<string>{154,19}</string>
		</dict>
		<key>pic_slsl_shuiwangshangdian_mingzidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{627,929},{163,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,30}}</string>
			<key>sourceSize</key>
			<string>{163,30}</string>
		</dict>
		<key>pic_slsl_shuiwangshangdian_tanchuang_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{504,1547},{482,495}}</string>
			<key>offset</key>
			<string>{4,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{482,495}}</string>
			<key>sourceSize</key>
			<string>{490,497}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>slslLinkage_sign0.png</string>
		<key>size</key>
		<string>{1319,2032}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>slslLinkage_sign0.png</string>
	</dict>
</dict>
</plist>
