<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>kelonggaizaoren_kabei1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,462},{80,368}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,368}}</string>
			<key>sourceSize</key>
			<string>{80,368}</string>
		</dict>
		<key>kelonggaizaoren_kabei10.png</key>
		<dict>
			<key>frame</key>
			<string>{{773,472},{112,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,82}}</string>
			<key>sourceSize</key>
			<string>{112,82}</string>
		</dict>
		<key>kelonggaizaoren_kabei11.png</key>
		<dict>
			<key>frame</key>
			<string>{{512,73},{88,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,59}}</string>
			<key>sourceSize</key>
			<string>{88,59}</string>
		</dict>
		<key>kelonggaizaoren_kabei12.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,412},{68,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,49}}</string>
			<key>sourceSize</key>
			<string>{68,49}</string>
		</dict>
		<key>kelonggaizaoren_kabei13.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,275},{119,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,136}}</string>
			<key>sourceSize</key>
			<string>{119,136}</string>
		</dict>
		<key>kelonggaizaoren_kabei14.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,775},{39,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,124}}</string>
			<key>sourceSize</key>
			<string>{39,124}</string>
		</dict>
		<key>kelonggaizaoren_kabei15.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,462},{312,183}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{312,183}}</string>
			<key>sourceSize</key>
			<string>{312,183}</string>
		</dict>
		<key>kelonggaizaoren_kabei16.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,281},{177,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,104}}</string>
			<key>sourceSize</key>
			<string>{177,104}</string>
		</dict>
		<key>kelonggaizaoren_kabei17.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,2},{163,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,280}}</string>
			<key>sourceSize</key>
			<string>{163,280}</string>
		</dict>
		<key>kelonggaizaoren_kabei18.png</key>
		<dict>
			<key>frame</key>
			<string>{{856,2},{166,253}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,253}}</string>
			<key>sourceSize</key>
			<string>{166,253}</string>
		</dict>
		<key>kelonggaizaoren_kabei19.png</key>
		<dict>
			<key>frame</key>
			<string>{{923,682},{101,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,95}}</string>
			<key>sourceSize</key>
			<string>{101,95}</string>
		</dict>
		<key>kelonggaizaoren_kabei2.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,115},{86,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,159}}</string>
			<key>sourceSize</key>
			<string>{86,159}</string>
		</dict>
		<key>kelonggaizaoren_kabei20.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{339,459}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{339,459}}</string>
			<key>sourceSize</key>
			<string>{339,459}</string>
		</dict>
		<key>kelonggaizaoren_kabei21.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,281},{199,183}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,183}}</string>
			<key>sourceSize</key>
			<string>{199,183}</string>
		</dict>
		<key>kelonggaizaoren_kabei22.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,462},{354,229}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{354,229}}</string>
			<key>sourceSize</key>
			<string>{354,229}</string>
		</dict>
		<key>kelonggaizaoren_kabei23.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,817},{198,205}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,205}}</string>
			<key>sourceSize</key>
			<string>{198,205}</string>
		</dict>
		<key>kelonggaizaoren_kabei24.png</key>
		<dict>
			<key>frame</key>
			<string>{{512,162},{52,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,106}}</string>
			<key>sourceSize</key>
			<string>{52,106}</string>
		</dict>
		<key>kelonggaizaoren_kabei25.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,166},{114,277}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,277}}</string>
			<key>sourceSize</key>
			<string>{114,277}</string>
		</dict>
		<key>kelonggaizaoren_kabei3.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,115},{82,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,159}}</string>
			<key>sourceSize</key>
			<string>{82,159}</string>
		</dict>
		<key>kelonggaizaoren_kabei4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,831},{227,186}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{227,186}}</string>
			<key>sourceSize</key>
			<string>{227,186}</string>
		</dict>
		<key>kelonggaizaoren_kabei6.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,775},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>kelonggaizaoren_kabei7.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,2},{120,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,70}}</string>
			<key>sourceSize</key>
			<string>{120,70}</string>
		</dict>
		<key>kelonggaizaoren_kabei8.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,815},{145,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,201}}</string>
			<key>sourceSize</key>
			<string>{145,201}</string>
		</dict>
		<key>kelonggaizaoren_kabei9.png</key>
		<dict>
			<key>frame</key>
			<string>{{688,465},{84,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,110}}</string>
			<key>sourceSize</key>
			<string>{84,110}</string>
		</dict>
		<key>klkbsh0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{775,363},{108,112}}</string>
			<key>offset</key>
			<string>{3,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,7},{108,112}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>klkbsh0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{885,573},{110,108}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,8},{110,108}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>klkbsh0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,2},{112,104}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,12},{112,104}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>klkbsh0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{853,256},{114,106}}</string>
			<key>offset</key>
			<string>{2,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,16},{114,106}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>klkbsh0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{888,470},{112,102}}</string>
			<key>offset</key>
			<string>{1,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,19},{112,102}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>klkbsh0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,465},{112,96}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,19},{112,96}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>klkbsh0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,562},{112,94}}</string>
			<key>offset</key>
			<string>{1,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,20},{112,94}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>klkbsh0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,863},{108,98}}</string>
			<key>offset</key>
			<string>{1,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,17},{108,98}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>klkbsh0009.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,657},{108,104}}</string>
			<key>offset</key>
			<string>{0,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,17},{108,104}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>klkbsh0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{709,667},{108,104}}</string>
			<key>offset</key>
			<string>{-1,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,17},{108,104}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>klkbsh0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{818,682},{102,104}}</string>
			<key>offset</key>
			<string>{-4,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,16},{102,104}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>klkbsh0012.png</key>
		<dict>
			<key>frame</key>
			<string>{{674,863},{102,106}}</string>
			<key>offset</key>
			<string>{-4,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,14},{102,106}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>klkbsh0013.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,762},{100,108}}</string>
			<key>offset</key>
			<string>{-4,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,13},{100,108}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>klkbsh0014.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,682},{102,110}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,10},{102,110}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>klkbsh0015.png</key>
		<dict>
			<key>frame</key>
			<string>{{888,363},{106,112}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,8},{106,112}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>klkbtx20241227.png</key>
		<dict>
			<key>frame</key>
			<string>{{773,555},{111,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,111}}</string>
			<key>sourceSize</key>
			<string>{111,111}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>KLXVJJCard_role0.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>KLXVJJCard_role0.png</string>
	</dict>
</dict>
</plist>
