<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>skill3_zibg_00130_banlmbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,842},{339,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{339,166}}</string>
			<key>sourceSize</key>
			<string>{339,166}</string>
		</dict>
		<key>skill3_zibg_00132_banlmbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,674},{339,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{339,166}}</string>
			<key>sourceSize</key>
			<string>{339,166}</string>
		</dict>
		<key>skill3_zibg_00134_banlmbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{511,674},{339,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{339,166}}</string>
			<key>sourceSize</key>
			<string>{339,166}</string>
		</dict>
		<key>skill3_zibg_00136_banlmbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{343,674},{339,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{339,166}}</string>
			<key>sourceSize</key>
			<string>{339,166}</string>
		</dict>
		<key>skill3_zibg_00138_banlmbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,506},{339,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{339,166}}</string>
			<key>sourceSize</key>
			<string>{339,166}</string>
		</dict>
		<key>skill3_zibg_00140_banlmbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,506},{339,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{339,166}}</string>
			<key>sourceSize</key>
			<string>{339,166}</string>
		</dict>
		<key>skill3_zibg_00142_banlmbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,338},{339,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{339,166}}</string>
			<key>sourceSize</key>
			<string>{339,166}</string>
		</dict>
		<key>skill3_zibg_00144_banlmbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,852},{339,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{339,166}}</string>
			<key>sourceSize</key>
			<string>{339,166}</string>
		</dict>
		<key>skill3_zibg_00146_banlmbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{343,338},{339,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{339,166}}</string>
			<key>sourceSize</key>
			<string>{339,166}</string>
		</dict>
		<key>skill3_zibg_00148_banlmbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,684},{339,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{339,166}}</string>
			<key>sourceSize</key>
			<string>{339,166}</string>
		</dict>
		<key>skill3_zibg_00150_banlmbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{343,170},{339,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{339,166}}</string>
			<key>sourceSize</key>
			<string>{339,166}</string>
		</dict>
		<key>skill3_zibg_00152_banlmbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,170},{339,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{339,166}}</string>
			<key>sourceSize</key>
			<string>{339,166}</string>
		</dict>
		<key>skill3_zibg_00154_banlmbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,343},{339,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{339,166}}</string>
			<key>sourceSize</key>
			<string>{339,166}</string>
		</dict>
		<key>skill3_zibg_00156_banlmbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{852,2},{339,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{339,166}}</string>
			<key>sourceSize</key>
			<string>{339,166}</string>
		</dict>
		<key>skill3_zibg_00158_banlmbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{684,2},{339,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{339,166}}</string>
			<key>sourceSize</key>
			<string>{339,166}</string>
		</dict>
		<key>skill3_zibg_00160_banlmbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{343,2},{339,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{339,166}}</string>
			<key>sourceSize</key>
			<string>{339,166}</string>
		</dict>
		<key>skill3_zibg_00162_banlmbimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{339,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{339,166}}</string>
			<key>sourceSize</key>
			<string>{339,166}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>banlmbimage.png</string>
		<key>scale</key>
		<real>0.52</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>banlmbimage.png</string>
	</dict>
</dict>
</plist>
