<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bg_qhzb_my_daojishi.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,129},{219,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,32}}</string>
			<key>sourceSize</key>
			<string>{219,32}</string>
		</dict>
		<key>bg_qhzb_my_zhandi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1347},{141,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,55}}</string>
			<key>sourceSize</key>
			<string>{141,55}</string>
		</dict>
		<key>pic_qhzb_baoming.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,776},{154,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{154,37}}</string>
			<key>sourceSize</key>
			<string>{154,39}</string>
		</dict>
		<key>pic_qhzb_heading.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,1610},{86,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,60}}</string>
			<key>sourceSize</key>
			<string>{86,60}</string>
		</dict>
		<key>pic_qhzb_headlose.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,1942},{68,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,55}}</string>
			<key>sourceSize</key>
			<string>{68,55}</string>
		</dict>
		<key>pic_qhzb_headwin.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,1872},{68,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,55}}</string>
			<key>sourceSize</key>
			<string>{68,55}</string>
		</dict>
		<key>pic_qhzb_main_jinxingzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,1221},{72,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,21}}</string>
			<key>sourceSize</key>
			<string>{72,21}</string>
		</dict>
		<key>pic_qhzb_my_empty.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{125,78}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,5},{125,78}}</string>
			<key>sourceSize</key>
			<string>{125,90}</string>
		</dict>
		<key>pic_qhzb_my_jinxingzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,532},{117,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{117,32}}</string>
			<key>sourceSize</key>
			<string>{125,32}</string>
		</dict>
		<key>quanahungzhenbabuzhen.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,542},{169,36}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,0},{169,36}}</string>
			<key>sourceSize</key>
			<string>{213,36}</string>
		</dict>
		<key>word_qhzb_baoming.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,1149},{168,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{168,42}}</string>
			<key>sourceSize</key>
			<string>{168,44}</string>
		</dict>
		<key>word_qhzb_cansaizhenrong.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,713},{160,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,36}}</string>
			<key>sourceSize</key>
			<string>{160,36}</string>
		</dict>
		<key>word_qhzb_changci.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,957},{110,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,28}}</string>
			<key>sourceSize</key>
			<string>{110,28}</string>
		</dict>
		<key>word_qhzb_duishouxiangqing.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,875},{143,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,36}}</string>
			<key>sourceSize</key>
			<string>{143,36}</string>
		</dict>
		<key>word_qhzb_kaiqi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1490},{101,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,43}}</string>
			<key>sourceSize</key>
			<string>{101,43}</string>
		</dict>
		<key>word_qhzb_main_baoming.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,530},{184,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,1},{184,34}}</string>
			<key>sourceSize</key>
			<string>{212,36}</string>
		</dict>
		<key>word_qhzb_mian_banjuesai.png</key>
		<dict>
			<key>frame</key>
			<string>{{34,1069},{84,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,30}}</string>
			<key>sourceSize</key>
			<string>{84,30}</string>
		</dict>
		<key>word_qhzb_mian_juesai.png</key>
		<dict>
			<key>frame</key>
			<string>{{33,1155},{64,30}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{64,30}}</string>
			<key>sourceSize</key>
			<string>{70,30}</string>
		</dict>
		<key>word_qhzb_mian_siqiangsai.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,932},{111,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,30}}</string>
			<key>sourceSize</key>
			<string>{111,30}</string>
		</dict>
		<key>word_qhzb_my_banjuesia.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,99},{82,27}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{82,27}}</string>
			<key>sourceSize</key>
			<string>{84,29}</string>
		</dict>
		<key>word_qhzb_my_baocun.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1593},{97,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{97,44}}</string>
			<key>sourceSize</key>
			<string>{99,44}</string>
		</dict>
		<key>word_qhzb_my_buzhen.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1789},{90,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,40}}</string>
			<key>sourceSize</key>
			<string>{90,40}</string>
		</dict>
		<key>word_qhzb_my_changci.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,183},{95,22}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,2},{95,22}}</string>
			<key>sourceSize</key>
			<string>{97,24}</string>
		</dict>
		<key>word_qhzb_my_dianfengsduijue.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1020},{110,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,30}}</string>
			<key>sourceSize</key>
			<string>{110,30}</string>
		</dict>
		<key>word_qhzb_my_fanhui.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1692},{95,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{95,43}}</string>
			<key>sourceSize</key>
			<string>{97,43}</string>
		</dict>
		<key>word_qhzb_my_houbu.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,1295},{50,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,25}}</string>
			<key>sourceSize</key>
			<string>{50,25}</string>
		</dict>
		<key>word_qhzb_my_juesai.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1267},{54,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{54,28}}</string>
			<key>sourceSize</key>
			<string>{56,28}</string>
		</dict>
		<key>word_qhzb_my_pr.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,651},{123,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,30}}</string>
			<key>sourceSize</key>
			<string>{123,30}</string>
		</dict>
		<key>word_qhzb_my_quanhaungzhengba.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1201},{64,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,1},{64,28}}</string>
			<key>sourceSize</key>
			<string>{110,30}</string>
		</dict>
		<key>word_qhzb_my_siqiangsai.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,2},{95,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{95,27}}</string>
			<key>sourceSize</key>
			<string>{95,29}</string>
		</dict>
		<key>word_qhzb_my_ystoday.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,399},{131,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,30}}</string>
			<key>sourceSize</key>
			<string>{131,30}</string>
		</dict>
		<key>word_qhzb_querentijiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,280},{58,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{58,27}}</string>
			<key>sourceSize</key>
			<string>{58,29}</string>
		</dict>
		<key>word_qhzb_select_dierlunbuzhen.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,327},{213,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,36}}</string>
			<key>sourceSize</key>
			<string>{213,36}</string>
		</dict>
		<key>word_qhzb_select_fang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1943},{32,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,29}}</string>
			<key>sourceSize</key>
			<string>{32,29}</string>
		</dict>
		<key>word_qhzb_select_fang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,1999},{47,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{47,44}}</string>
			<key>sourceSize</key>
			<string>{53,50}</string>
		</dict>
		<key>word_qhzb_select_gedoujiabuchong.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,350},{178,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,37}}</string>
			<key>sourceSize</key>
			<string>{178,37}</string>
		</dict>
		<key>word_qhzb_select_gong_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1912},{32,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,29}}</string>
			<key>sourceSize</key>
			<string>{32,29}</string>
		</dict>
		<key>word_qhzb_select_ji_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1881},{32,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,29}}</string>
			<key>sourceSize</key>
			<string>{32,29}</string>
		</dict>
		<key>word_qhzb_select_ji_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1999},{47,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{47,44}}</string>
			<key>sourceSize</key>
			<string>{53,50}</string>
		</dict>
		<key>word_qhzb_select_quanbu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1132},{67,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,29}}</string>
			<key>sourceSize</key>
			<string>{67,29}</string>
		</dict>
		<key>word_qhzb_select_quanbu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,1782},{88,44}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{88,44}}</string>
			<key>sourceSize</key>
			<string>{90,50}</string>
		</dict>
		<key>word_qhzb_wodesaicheng_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,340},{57,27}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{57,2},{57,27}}</string>
			<key>sourceSize</key>
			<string>{171,29}</string>
		</dict>
		<key>word_qhzb_wodesaicheng_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,1698},{82,49}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{59,0},{82,49}}</string>
			<key>sourceSize</key>
			<string>{194,49}</string>
		</dict>
		<key>word_qhzb_yibaoming.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,129},{196,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,44}}</string>
			<key>sourceSize</key>
			<string>{196,44}</string>
		</dict>
		<key>word_qhzb_yijianbuzhen.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,1045},{102,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,0},{102,28}}</string>
			<key>sourceSize</key>
			<string>{116,28}</string>
		</dict>
		<key>word_qhzb_zhusaichang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,842},{113,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,29}}</string>
			<key>sourceSize</key>
			<string>{113,29}</string>
		</dict>
		<key>word_qhzb_zhusaichang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,1473},{135,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,50}}</string>
			<key>sourceSize</key>
			<string>{135,50}</string>
		</dict>
		<key>word_qhzb_zuotihuigu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,716},{124,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,29}}</string>
			<key>sourceSize</key>
			<string>{124,29}</string>
		</dict>
		<key>word_qhzb_zuotihuigu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,1319},{152,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,49}}</string>
			<key>sourceSize</key>
			<string>{152,49}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_TheKingOfFighters10.png</string>
		<key>size</key>
		<string>{111,2045}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_TheKingOfFighters10.png</string>
	</dict>
</dict>
</plist>
