<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_jbs_mangcai_zhandou_jifenban.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,843},{145,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,65}}</string>
			<key>sourceSize</key>
			<string>{145,65}</string>
		</dict>
		<key>pic_jbs_mangcaizhandou_maohao.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,99},{14,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,29}}</string>
			<key>sourceSize</key>
			<string>{14,29}</string>
		</dict>
		<key>pic_jbs_shenglishibai_shenglishang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{441,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{441,95}}</string>
			<key>sourceSize</key>
			<string>{441,95}</string>
		</dict>
		<key>pic_jbs_shenglishibai_shenglitiaomu.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,557},{398,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{398,79}}</string>
			<key>sourceSize</key>
			<string>{398,79}</string>
		</dict>
		<key>pic_jbs_shenglishibai_shibaishang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,99},{418,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{418,95}}</string>
			<key>sourceSize</key>
			<string>{418,95}</string>
		</dict>
		<key>pic_jbs_shenglishibai_shibaitiaomug.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,476},{407,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{407,79}}</string>
			<key>sourceSize</key>
			<string>{407,79}</string>
		</dict>
		<key>pic_jbs_wjxx_chendi_aoxiaqu_9g.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,776},{66,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,65}}</string>
			<key>sourceSize</key>
			<string>{66,65}</string>
		</dict>
		<key>pic_jbs_wjxx_chendi_huawen.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,2},{196,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,17}}</string>
			<key>sourceSize</key>
			<string>{196,17}</string>
		</dict>
		<key>pic_jbs_wjxx_chendi_weikaiqi_huawen.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1637},{336,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{336,102}}</string>
			<key>sourceSize</key>
			<string>{336,102}</string>
		</dict>
		<key>pic_jbs_yincangrenwu.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,1917},{102,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,102}}</string>
			<key>sourceSize</key>
			<string>{102,102}</string>
		</dict>
		<key>pic_jbs_zhanqianbuzhen_hongdi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1304},{381,331}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{381,331}}</string>
			<key>sourceSize</key>
			<string>{381,331}</string>
		</dict>
		<key>pic_jbs_zhanqianbuzhen_landi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,638},{386,331}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{386,331}}</string>
			<key>sourceSize</key>
			<string>{386,331}</string>
		</dict>
		<key>pic_jbs_zhanqianbuzhen_xiaoduihongdi.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,990},{84,254}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,254}}</string>
			<key>sourceSize</key>
			<string>{84,254}</string>
		</dict>
		<key>pic_jbs_zhanqianbuzhen_xiaoduilandi.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,1246},{84,253}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,253}}</string>
			<key>sourceSize</key>
			<string>{84,253}</string>
		</dict>
		<key>pic_jbs_zhanqianbuzhenbiaozhun_landi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,971},{381,331}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{381,331}}</string>
			<key>sourceSize</key>
			<string>{381,331}</string>
		</dict>
		<key>pic_jbs_zhanqianbuzhenluan_landi.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,1637},{329,278}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{329,278}}</string>
			<key>sourceSize</key>
			<string>{329,278}</string>
		</dict>
		<key>pic_jbs_zhanqianbuzhenqiang_landi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,196},{417,278}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{417,278}}</string>
			<key>sourceSize</key>
			<string>{417,278}</string>
		</dict>
		<key>pic_kltzs_tzdt_jsjy.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,1917},{104,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,145}}</string>
			<key>sourceSize</key>
			<string>{104,145}</string>
		</dict>
		<key>pic_kltzs_wenziheidi_xinzeng.png</key>
		<dict>
			<key>frame</key>
			<string>{{421,200},{574,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{574,27}}</string>
			<key>sourceSize</key>
			<string>{574,27}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>championships10.png</string>
		<key>size</key>
		<string>{471,2023}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>championships10.png</string>
	</dict>
</dict>
</plist>
