<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fcheng_emengzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,52},{30,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,23}}</string>
			<key>sourceSize</key>
			<string>{30,23}</string>
		</dict>
		<key>fhong_emengzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,27},{30,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,23}}</string>
			<key>sourceSize</key>
			<string>{30,23}</string>
		</dict>
		<key>flan_emengzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,2},{30,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,23}}</string>
			<key>sourceSize</key>
			<string>{30,23}</string>
		</dict>
		<key>guangyun_emengzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,198},{100,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,99}}</string>
			<key>sourceSize</key>
			<string>{100,99}</string>
		</dict>
		<key>huididi_emengzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,40},{218,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,36}}</string>
			<key>sourceSize</key>
			<string>{218,36}</string>
		</dict>
		<key>huizhang_emengzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,198},{134,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,91}}</string>
			<key>sourceSize</key>
			<string>{134,91}</string>
		</dict>
		<key>jinxing_emengzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,291},{88,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,91}}</string>
			<key>sourceSize</key>
			<string>{88,91}</string>
		</dict>
		<key>jinxingyou_emengzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,78},{65,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,41}}</string>
			<key>sourceSize</key>
			<string>{65,41}</string>
		</dict>
		<key>jinxingzuo_emengzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,121},{61,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,43}}</string>
			<key>sourceSize</key>
			<string>{61,43}</string>
		</dict>
		<key>mBar_emengzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{219,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,36}}</string>
			<key>sourceSize</key>
			<string>{219,36}</string>
		</dict>
		<key>waikuoguang_emengzhanbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,78},{165,118}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{165,118}}</string>
			<key>sourceSize</key>
			<string>{171,126}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>emengzhanbaoimage.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>emengzhanbaoimage.png</string>
	</dict>
</dict>
</plist>
