<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>m_bccjs_miaozhanjiangjieimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{903,256},{43,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,18}}</string>
			<key>sourceSize</key>
			<string>{43,18}</string>
		</dict>
		<key>m_bccjz_miaozhanjiangjieimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,371},{165,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,28}}</string>
			<key>sourceSize</key>
			<string>{165,28}</string>
		</dict>
		<key>m_c_miaozhanjiangjieimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,256},{99,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,83}}</string>
			<key>sourceSize</key>
			<string>{99,83}</string>
		</dict>
		<key>m_dk_miaozhanjiangjieimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,450},{616,222}}</string>
			<key>offset</key>
			<string>{-9,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{616,222}}</string>
			<key>sourceSize</key>
			<string>{634,222}</string>
		</dict>
		<key>m_g_miaozhanjiangjieimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,674},{597,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{597,168}}</string>
			<key>sourceSize</key>
			<string>{597,168}</string>
		</dict>
		<key>m_gh_miaozhanjiangjieimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,2},{252,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{252,137}}</string>
			<key>sourceSize</key>
			<string>{252,137}</string>
		</dict>
		<key>m_gm_miaozhanjiangjieimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{798,446}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{798,446}}</string>
			<key>sourceSize</key>
			<string>{798,446}</string>
		</dict>
		<key>m_kdjls_miaozhanjiangjieimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,844},{241,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,33}}</string>
			<key>sourceSize</key>
			<string>{241,33}</string>
		</dict>
		<key>m_kdjlz_miaozhanjiangjieimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,341},{165,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,28}}</string>
			<key>sourceSize</key>
			<string>{165,28}</string>
		</dict>
		<key>m_qd_miaozhanjiangjieimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,844},{222,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,67}}</string>
			<key>sourceSize</key>
			<string>{222,67}</string>
		</dict>
		<key>m_sg_miaozhanjiangjieimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{620,450},{475,278}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{475,278}}</string>
			<key>sourceSize</key>
			<string>{475,278}</string>
		</dict>
		<key>m_x3_miaozhanjiangjieimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,844},{93,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,90}}</string>
			<key>sourceSize</key>
			<string>{93,90}</string>
		</dict>
		<key>m_x_miaozhanjiangjieimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{948,254},{12,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,12}}</string>
			<key>sourceSize</key>
			<string>{12,12}</string>
		</dict>
		<key>m_z_miaozhanjiangjieimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{941,2},{250,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{250,80}}</string>
			<key>sourceSize</key>
			<string>{250,80}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>miaozhanjiangjieimage.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>miaozhanjiangjieimage.png</string>
	</dict>
</dict>
</plist>
