<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>h2_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{944,536},{70,77}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,6},{70,77}}</string>
			<key>sourceSize</key>
			<string>{76,83}</string>
		</dict>
		<key>h2_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{944,607},{70,77}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,6},{70,77}}</string>
			<key>sourceSize</key>
			<string>{76,83}</string>
		</dict>
		<key>h2_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{944,678},{70,77}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,6},{70,77}}</string>
			<key>sourceSize</key>
			<string>{76,83}</string>
		</dict>
		<key>h2_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{829,892},{72,81}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,2},{72,81}}</string>
			<key>sourceSize</key>
			<string>{76,83}</string>
		</dict>
		<key>h2_28.png</key>
		<dict>
			<key>frame</key>
			<string>{{911,897},{72,81}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,2},{72,81}}</string>
			<key>sourceSize</key>
			<string>{76,83}</string>
		</dict>
		<key>h2_30.png</key>
		<dict>
			<key>frame</key>
			<string>{{942,824},{72,79}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,4},{72,79}}</string>
			<key>sourceSize</key>
			<string>{76,83}</string>
		</dict>
		<key>h2_32.png</key>
		<dict>
			<key>frame</key>
			<string>{{942,749},{74,79}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{74,79}}</string>
			<key>sourceSize</key>
			<string>{76,83}</string>
		</dict>
		<key>h2_34.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,948},{74,81}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{74,81}}</string>
			<key>sourceSize</key>
			<string>{76,83}</string>
		</dict>
		<key>h2_36.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,948},{74,81}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{74,81}}</string>
			<key>sourceSize</key>
			<string>{76,83}</string>
		</dict>
		<key>h2_38.png</key>
		<dict>
			<key>frame</key>
			<string>{{522,948},{74,81}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{74,81}}</string>
			<key>sourceSize</key>
			<string>{76,83}</string>
		</dict>
		<key>h2_40.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,922},{74,81}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{74,81}}</string>
			<key>sourceSize</key>
			<string>{76,83}</string>
		</dict>
		<key>h2_42.png</key>
		<dict>
			<key>frame</key>
			<string>{{679,922},{74,81}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{74,81}}</string>
			<key>sourceSize</key>
			<string>{76,83}</string>
		</dict>
		<key>h2_44.png</key>
		<dict>
			<key>frame</key>
			<string>{{754,897},{74,81}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{74,81}}</string>
			<key>sourceSize</key>
			<string>{76,83}</string>
		</dict>
		<key>h_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{754,536},{177,189}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,13},{177,189}}</string>
			<key>sourceSize</key>
			<string>{177,203}</string>
		</dict>
		<key>h_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{536,730},{177,191}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,11},{177,191}}</string>
			<key>sourceSize</key>
			<string>{177,203}</string>
		</dict>
		<key>h_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{536,536},{177,193}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,9},{177,193}}</string>
			<key>sourceSize</key>
			<string>{177,203}</string>
		</dict>
		<key>h_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,556},{177,195}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,7},{177,195}}</string>
			<key>sourceSize</key>
			<string>{177,203}</string>
		</dict>
		<key>h_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,752},{177,195}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,7},{177,195}}</string>
			<key>sourceSize</key>
			<string>{177,203}</string>
		</dict>
		<key>h_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,358},{177,195}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,7},{177,195}}</string>
			<key>sourceSize</key>
			<string>{177,203}</string>
		</dict>
		<key>h_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,358},{177,195}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,7},{177,195}}</string>
			<key>sourceSize</key>
			<string>{177,203}</string>
		</dict>
		<key>h_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,358},{177,197}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,5},{177,197}}</string>
			<key>sourceSize</key>
			<string>{177,203}</string>
		</dict>
		<key>h_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{762,180},{177,199}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{177,199}}</string>
			<key>sourceSize</key>
			<string>{177,203}</string>
		</dict>
		<key>h_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{177,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{177,201}}</string>
			<key>sourceSize</key>
			<string>{177,203}</string>
		</dict>
		<key>h_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,204},{177,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{177,201}}</string>
			<key>sourceSize</key>
			<string>{177,203}</string>
		</dict>
		<key>h_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,406},{177,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{177,201}}</string>
			<key>sourceSize</key>
			<string>{177,203}</string>
		</dict>
		<key>h_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,608},{177,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{177,201}}</string>
			<key>sourceSize</key>
			<string>{177,203}</string>
		</dict>
		<key>h_26.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,810},{177,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{177,201}}</string>
			<key>sourceSize</key>
			<string>{177,203}</string>
		</dict>
		<key>h_28.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,2},{177,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{177,201}}</string>
			<key>sourceSize</key>
			<string>{177,203}</string>
		</dict>
		<key>h_30.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,2},{177,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{177,201}}</string>
			<key>sourceSize</key>
			<string>{177,203}</string>
		</dict>
		<key>h_32.png</key>
		<dict>
			<key>frame</key>
			<string>{{584,2},{177,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{177,201}}</string>
			<key>sourceSize</key>
			<string>{177,203}</string>
		</dict>
		<key>h_34.png</key>
		<dict>
			<key>frame</key>
			<string>{{786,2},{177,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{177,201}}</string>
			<key>sourceSize</key>
			<string>{177,203}</string>
		</dict>
		<key>h_36.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,180},{177,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{177,201}}</string>
			<key>sourceSize</key>
			<string>{177,203}</string>
		</dict>
		<key>h_38.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,382},{177,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{177,201}}</string>
			<key>sourceSize</key>
			<string>{177,203}</string>
		</dict>
		<key>h_40.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,584},{177,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{177,201}}</string>
			<key>sourceSize</key>
			<string>{177,203}</string>
		</dict>
		<key>h_42.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,786},{177,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{177,201}}</string>
			<key>sourceSize</key>
			<string>{177,203}</string>
		</dict>
		<key>h_44.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,180},{177,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{177,201}}</string>
			<key>sourceSize</key>
			<string>{177,203}</string>
		</dict>
		<key>h_46.png</key>
		<dict>
			<key>frame</key>
			<string>{{560,180},{177,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{177,201}}</string>
			<key>sourceSize</key>
			<string>{177,203}</string>
		</dict>
		<key>h_58.png</key>
		<dict>
			<key>frame</key>
			<string>{{754,714},{177,187}}</string>
			<key>offset</key>
			<string>{0,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,15},{177,187}}</string>
			<key>sourceSize</key>
			<string>{177,203}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>bthaxCard_role1.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>bthaxCard_role1.png</string>
	</dict>
</dict>
</plist>
