<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Tiger_Sh_01_H_0002_Tiger_Sh_01_Hupimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{897,2},{114,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,22}}</string>
			<key>sourceSize</key>
			<string>{114,22}</string>
		</dict>
		<key>Tiger_Sh_01_H_0004_Tiger_Sh_01_Hupimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{806,466},{159,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,49}}</string>
			<key>sourceSize</key>
			<string>{159,49}</string>
		</dict>
		<key>Tiger_Sh_01_H_0006_Tiger_Sh_01_Hupimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{897,26},{188,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,101}}</string>
			<key>sourceSize</key>
			<string>{188,101}</string>
		</dict>
		<key>Tiger_Sh_01_H_0008_Tiger_Sh_01_Hupimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{873,415},{205,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,147}}</string>
			<key>sourceSize</key>
			<string>{205,147}</string>
		</dict>
		<key>Tiger_Sh_01_H_0010_Tiger_Sh_01_Hupimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{566,466},{238,196}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{238,196}}</string>
			<key>sourceSize</key>
			<string>{238,196}</string>
		</dict>
		<key>Tiger_Sh_01_H_0013_Tiger_Sh_01_Hupimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{300,217}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,217}}</string>
			<key>sourceSize</key>
			<string>{300,217}</string>
		</dict>
		<key>Tiger_Sh_01_H_0015_Tiger_Sh_01_Hupimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,2},{299,218}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{299,218}}</string>
			<key>sourceSize</key>
			<string>{299,218}</string>
		</dict>
		<key>Tiger_Sh_01_H_0017_Tiger_Sh_01_Hupimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,221},{293,223}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{293,223}}</string>
			<key>sourceSize</key>
			<string>{293,223}</string>
		</dict>
		<key>Tiger_Sh_01_H_0019_Tiger_Sh_01_Hupimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,446},{287,230}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{287,230}}</string>
			<key>sourceSize</key>
			<string>{287,230}</string>
		</dict>
		<key>Tiger_Sh_01_H_0021_Tiger_Sh_01_Hupimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{587,232},{284,232}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,232}}</string>
			<key>sourceSize</key>
			<string>{284,232}</string>
		</dict>
		<key>Tiger_Sh_01_H_0024_Tiger_Sh_01_Hupimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,222},{288,233}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,233}}</string>
			<key>sourceSize</key>
			<string>{288,233}</string>
		</dict>
		<key>Tiger_Sh_01_H_0026_Tiger_Sh_01_Hupimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{605,2},{290,228}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{290,228}}</string>
			<key>sourceSize</key>
			<string>{290,228}</string>
		</dict>
		<key>Tiger_Sh_01_H_0028_Tiger_Sh_01_Hupimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,457},{273,214}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{273,214}}</string>
			<key>sourceSize</key>
			<string>{273,214}</string>
		</dict>
		<key>Tiger_Sh_01_H_0030_Tiger_Sh_01_Hupimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{566,664},{237,187}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{237,187}}</string>
			<key>sourceSize</key>
			<string>{237,187}</string>
		</dict>
		<key>Tiger_Sh_01_H_0032_Tiger_Sh_01_Hupimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{857,622},{233,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{233,155}}</string>
			<key>sourceSize</key>
			<string>{233,155}</string>
		</dict>
		<key>Tiger_Sh_01_H_0035_Tiger_Sh_01_Hupimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{897,216},{197,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,82}}</string>
			<key>sourceSize</key>
			<string>{197,82}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>Hupimage.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>Hupimage.png</string>
	</dict>
</dict>
</plist>
