<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>a_dabi_you_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,109},{29,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,39}}</string>
			<key>sourceSize</key>
			<string>{29,39}</string>
		</dict>
		<key>a_dabi_zuo_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,235},{41,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,44}}</string>
			<key>sourceSize</key>
			<string>{41,44}</string>
		</dict>
		<key>a_datui_you_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,464},{50,46}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{50,46}}</string>
			<key>sourceSize</key>
			<string>{50,48}</string>
		</dict>
		<key>a_datui_zuo_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{471,243},{39,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,57}}</string>
			<key>sourceSize</key>
			<string>{39,57}</string>
		</dict>
		<key>a_houbai_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,322},{32,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,23}}</string>
			<key>sourceSize</key>
			<string>{32,23}</string>
		</dict>
		<key>a_jiao_you_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,484},{38,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,26}}</string>
			<key>sourceSize</key>
			<string>{38,26}</string>
		</dict>
		<key>a_jiao_zuo_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,322},{32,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,30}}</string>
			<key>sourceSize</key>
			<string>{32,30}</string>
		</dict>
		<key>a_kua_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,187},{45,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,26}}</string>
			<key>sourceSize</key>
			<string>{45,26}</string>
		</dict>
		<key>a_liuhai1_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,281},{36,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,28}}</string>
			<key>sourceSize</key>
			<string>{36,28}</string>
		</dict>
		<key>a_liuhai2_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,47},{16,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,32}}</string>
			<key>sourceSize</key>
			<string>{16,32}</string>
		</dict>
		<key>a_liuhai3_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,180},{39,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,31}}</string>
			<key>sourceSize</key>
			<string>{39,31}</string>
		</dict>
		<key>a_qianbai_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,203},{42,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,30}}</string>
			<key>sourceSize</key>
			<string>{42,30}</string>
		</dict>
		<key>a_quan_zuo_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,150},{26,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,26}}</string>
			<key>sourceSize</key>
			<string>{26,26}</string>
		</dict>
		<key>a_shou_you_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,322},{24,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,32}}</string>
			<key>sourceSize</key>
			<string>{24,32}</string>
		</dict>
		<key>a_tou_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,426},{45,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,56}}</string>
			<key>sourceSize</key>
			<string>{45,56}</string>
		</dict>
		<key>a_xiaobi_you_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,233},{34,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,44}}</string>
			<key>sourceSize</key>
			<string>{34,44}</string>
		</dict>
		<key>a_xiaobi_zuo_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,245},{44,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,34}}</string>
			<key>sourceSize</key>
			<string>{44,34}</string>
		</dict>
		<key>a_xiaotui_you_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{471,302},{39,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,52}}</string>
			<key>sourceSize</key>
			<string>{39,52}</string>
		</dict>
		<key>a_xiaotui_zuo_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,356},{42,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,55}}</string>
			<key>sourceSize</key>
			<string>{42,55}</string>
		</dict>
		<key>a_yan_bi_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,2},{18,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,6}}</string>
			<key>sourceSize</key>
			<string>{18,6}</string>
		</dict>
		<key>a_yan_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,10},{18,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,5}}</string>
			<key>sourceSize</key>
			<string>{18,5}</string>
		</dict>
		<key>b_cebei_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,109},{72,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,69}}</string>
			<key>sourceSize</key>
			<string>{72,69}</string>
		</dict>
		<key>b_dabi_wai_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,470},{40,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,48}}</string>
			<key>sourceSize</key>
			<string>{40,48}</string>
		</dict>
		<key>b_datui_wai_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,322},{31,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,43}}</string>
			<key>sourceSize</key>
			<string>{31,43}</string>
		</dict>
		<key>b_houbai_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,270},{43,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,30}}</string>
			<key>sourceSize</key>
			<string>{43,30}</string>
		</dict>
		<key>b_jiao_nei_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,180},{43,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,21}}</string>
			<key>sourceSize</key>
			<string>{43,21}</string>
		</dict>
		<key>b_jiao_wai_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,180},{43,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,21}}</string>
			<key>sourceSize</key>
			<string>{43,21}</string>
		</dict>
		<key>b_kua_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,484},{36,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,26}}</string>
			<key>sourceSize</key>
			<string>{36,26}</string>
		</dict>
		<key>b_qianbai_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,155},{27,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,30}}</string>
			<key>sourceSize</key>
			<string>{27,30}</string>
		</dict>
		<key>b_qugan_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,234},{52,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,79}}</string>
			<key>sourceSize</key>
			<string>{52,79}</string>
		</dict>
		<key>b_shou_nei_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,420},{23,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,23}}</string>
			<key>sourceSize</key>
			<string>{23,23}</string>
		</dict>
		<key>b_xiaobi_nei_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{57,203},{29,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,48}}</string>
			<key>sourceSize</key>
			<string>{29,48}</string>
		</dict>
		<key>b_xiaobi_wai_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,279},{30,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,41}}</string>
			<key>sourceSize</key>
			<string>{30,41}</string>
		</dict>
		<key>b_xiaotui_wai_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,191},{32,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,50}}</string>
			<key>sourceSize</key>
			<string>{32,50}</string>
		</dict>
		<key>c_dabi_you_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,141},{33,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,48}}</string>
			<key>sourceSize</key>
			<string>{33,48}</string>
		</dict>
		<key>c_dabi_zuo_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,234},{34,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,46}}</string>
			<key>sourceSize</key>
			<string>{34,46}</string>
		</dict>
		<key>c_datui_zuo_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,356},{34,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,53}}</string>
			<key>sourceSize</key>
			<string>{34,53}</string>
		</dict>
		<key>c_jiao_zuo_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,203},{37,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,23}}</string>
			<key>sourceSize</key>
			<string>{37,23}</string>
		</dict>
		<key>c_jiaozhang_zuo_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,233},{23,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,46}}</string>
			<key>sourceSize</key>
			<string>{23,46}</string>
		</dict>
		<key>c_kua_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,203},{53,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,29}}</string>
			<key>sourceSize</key>
			<string>{53,29}</string>
		</dict>
		<key>c_quan_zuo_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,356},{23,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,23}}</string>
			<key>sourceSize</key>
			<string>{23,23}</string>
		</dict>
		<key>c_quangan_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,356},{68,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,68}}</string>
			<key>sourceSize</key>
			<string>{68,68}</string>
		</dict>
		<key>c_tou_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,411},{51,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,51}}</string>
			<key>sourceSize</key>
			<string>{51,51}</string>
		</dict>
		<key>c_xiabai_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,413},{55,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,34}}</string>
			<key>sourceSize</key>
			<string>{55,34}</string>
		</dict>
		<key>c_xiaobi_you_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,281},{28,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,41}}</string>
			<key>sourceSize</key>
			<string>{28,41}</string>
		</dict>
		<key>c_xiaobi_zuo_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,203},{28,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,42}}</string>
			<key>sourceSize</key>
			<string>{28,42}</string>
		</dict>
		<key>c_xiaotui_zuo_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{28,444},{38,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,59}}</string>
			<key>sourceSize</key>
			<string>{38,59}</string>
		</dict>
		<key>jiao1_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,234},{85,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,55}}</string>
			<key>sourceSize</key>
			<string>{85,55}</string>
		</dict>
		<key>jiao2_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,356},{86,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,67}}</string>
			<key>sourceSize</key>
			<string>{86,67}</string>
		</dict>
		<key>jiao3_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,141},{126,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,66}}</string>
			<key>sourceSize</key>
			<string>{126,66}</string>
		</dict>
		<key>liuhai_hou_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,322},{32,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,35}}</string>
			<key>sourceSize</key>
			<string>{32,35}</string>
		</dict>
		<key>liuhai_you_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,388},{30,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,28}}</string>
			<key>sourceSize</key>
			<string>{30,28}</string>
		</dict>
		<key>liuhai_zuo_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,356},{23,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,31}}</string>
			<key>sourceSize</key>
			<string>{23,31}</string>
		</dict>
		<key>qugan_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,109},{81,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,69}}</string>
			<key>sourceSize</key>
			<string>{81,69}</string>
		</dict>
		<key>shou10_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,121},{32,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,27}}</string>
			<key>sourceSize</key>
			<string>{32,27}</string>
		</dict>
		<key>shou1_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,213},{30,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,24}}</string>
			<key>sourceSize</key>
			<string>{30,24}</string>
		</dict>
		<key>shou2_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,281},{37,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,24}}</string>
			<key>sourceSize</key>
			<string>{37,24}</string>
		</dict>
		<key>shou3_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,315},{39,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,30}}</string>
			<key>sourceSize</key>
			<string>{39,30}</string>
		</dict>
		<key>shou4_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,302},{35,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,28}}</string>
			<key>sourceSize</key>
			<string>{35,28}</string>
		</dict>
		<key>shou5_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,83},{27,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,36}}</string>
			<key>sourceSize</key>
			<string>{27,36}</string>
		</dict>
		<key>shou6_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,281},{40,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,37}}</string>
			<key>sourceSize</key>
			<string>{40,37}</string>
		</dict>
		<key>shou7_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,356},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{28,30}</string>
		</dict>
		<key>shou8_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,322},{38,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,31}}</string>
			<key>sourceSize</key>
			<string>{38,31}</string>
		</dict>
		<key>shou9_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,311},{31,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,28}}</string>
			<key>sourceSize</key>
			<string>{31,28}</string>
		</dict>
		<key>texiao1_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,2},{155,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,79}}</string>
			<key>sourceSize</key>
			<string>{155,79}</string>
		</dict>
		<key>texiao2_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,444},{24,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,60}}</string>
			<key>sourceSize</key>
			<string>{24,60}</string>
		</dict>
		<key>tou_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,444},{47,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,56}}</string>
			<key>sourceSize</key>
			<string>{47,56}</string>
		</dict>
		<key>tui1_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,83},{118,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,126}}</string>
			<key>sourceSize</key>
			<string>{118,126}</string>
		</dict>
		<key>tui2_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,2},{140,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,137}}</string>
			<key>sourceSize</key>
			<string>{140,137}</string>
		</dict>
		<key>tui3_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{348,209},{111,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,121}}</string>
			<key>sourceSize</key>
			<string>{111,121}</string>
		</dict>
		<key>tui4_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{188,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,105}}</string>
			<key>sourceSize</key>
			<string>{188,105}</string>
		</dict>
		<key>xingxing_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,180},{21,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,20}}</string>
			<key>sourceSize</key>
			<string>{21,20}</string>
		</dict>
		<key>yan1_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,81},{23,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,5}}</string>
			<key>sourceSize</key>
			<string>{23,5}</string>
		</dict>
		<key>yan2_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{504,81},{22,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,3}}</string>
			<key>sourceSize</key>
			<string>{22,3}</string>
		</dict>
		<key>yan_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,81},{23,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,4}}</string>
			<key>sourceSize</key>
			<string>{23,4}</string>
		</dict>
		<key>zui2_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,37},{17,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,8}}</string>
			<key>sourceSize</key>
			<string>{17,8}</string>
		</dict>
		<key>zui3_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,27},{17,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,8}}</string>
			<key>sourceSize</key>
			<string>{17,8}</string>
		</dict>
		<key>zui_longhujinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,17},{17,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,8}}</string>
			<key>sourceSize</key>
			<string>{17,8}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA4444</string>
		<key>realTextureFileName</key>
		<string>longhujinimage.png</string>
		<key>scale</key>
		<real>0.5</real>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>longhujinimage.png</string>
	</dict>
</dict>
</plist>
