<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wy_1_1_97275_shiyzltxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,2},{28,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,27}}</string>
			<key>sourceSize</key>
			<string>{28,27}</string>
		</dict>
		<key>wy_2_2_27604_shiyzltxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{134,128}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,12},{134,128}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>wy_3_3_61239_shiyzltxk23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,2},{19,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,13}}</string>
			<key>sourceSize</key>
			<string>{19,13}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>shiyzltxk23image.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>shiyzltxk23image.png</string>
	</dict>
</dict>
</plist>
