<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dashe_rf_atk_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,183},{38,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,68}}</string>
			<key>sourceSize</key>
			<string>{38,68}</string>
		</dict>
		<key>dashe_rf_atk_bu_a.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,563},{133,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,170}}</string>
			<key>sourceSize</key>
			<string>{133,170}</string>
		</dict>
		<key>dashe_rf_atk_bu_d.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,830},{109,126}}</string>
			<key>offset</key>
			<string>{0,-8}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,16},{109,126}}</string>
			<key>sourceSize</key>
			<string>{109,142}</string>
		</dict>
		<key>dashe_rf_beiji_bu_e.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,152},{70,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{70,22}}</string>
			<key>sourceSize</key>
			<string>{72,24}</string>
		</dict>
		<key>dashe_rf_beiji_bu_g.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,515},{186,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,51}}</string>
			<key>sourceSize</key>
			<string>{186,51}</string>
		</dict>
		<key>dashe_rf_cchang_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{560,773},{175,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,70}}</string>
			<key>sourceSize</key>
			<string>{175,70}</string>
		</dict>
		<key>dashe_rf_cchang_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{708,495},{160,60}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{160,60}}</string>
			<key>sourceSize</key>
			<string>{162,60}</string>
		</dict>
		<key>dashe_rf_cchang_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,532},{180,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,59}}</string>
			<key>sourceSize</key>
			<string>{180,59}</string>
		</dict>
		<key>dashe_rf_cchang_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{631,940},{82,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,53}}</string>
			<key>sourceSize</key>
			<string>{82,53}</string>
		</dict>
		<key>dashe_rf_cchang_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,692},{72,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,84}}</string>
			<key>sourceSize</key>
			<string>{72,84}</string>
		</dict>
		<key>dashe_rf_chuchang_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{634,658},{70,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,71}}</string>
			<key>sourceSize</key>
			<string>{70,71}</string>
		</dict>
		<key>dashe_rf_chuchang_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,937},{87,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,84}}</string>
			<key>sourceSize</key>
			<string>{87,84}</string>
		</dict>
		<key>dashe_rf_chuchang_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,758},{48,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,89}}</string>
			<key>sourceSize</key>
			<string>{48,89}</string>
		</dict>
		<key>dashe_rf_chuchang_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,777},{72,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,49}}</string>
			<key>sourceSize</key>
			<string>{72,49}</string>
		</dict>
		<key>dashe_rf_chuchang_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{718,439},{50,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,55}}</string>
			<key>sourceSize</key>
			<string>{50,55}</string>
		</dict>
		<key>dashe_rf_chuchang_26_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,605},{88,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,67}}</string>
			<key>sourceSize</key>
			<string>{88,67}</string>
		</dict>
		<key>dashe_rf_chuchang_37.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,694},{37,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,63}}</string>
			<key>sourceSize</key>
			<string>{37,63}</string>
		</dict>
		<key>dashe_rf_daodi_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,937},{68,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,85}}</string>
			<key>sourceSize</key>
			<string>{68,85}</string>
		</dict>
		<key>dashe_rf_daodi_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{949,598},{93,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,73}}</string>
			<key>sourceSize</key>
			<string>{93,73}</string>
		</dict>
		<key>dashe_rf_daodi_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,872},{71,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,64}}</string>
			<key>sourceSize</key>
			<string>{71,64}</string>
		</dict>
		<key>dashe_rf_die_bu_a.png</key>
		<dict>
			<key>frame</key>
			<string>{{525,521},{182,57}}</string>
			<key>offset</key>
			<string>{0,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,24},{182,57}}</string>
			<key>sourceSize</key>
			<string>{182,81}</string>
		</dict>
		<key>dashe_rf_die_bu_b.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,594},{138,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,67}}</string>
			<key>sourceSize</key>
			<string>{138,67}</string>
		</dict>
		<key>dashe_rf_die_bu_c.png</key>
		<dict>
			<key>frame</key>
			<string>{{953,463},{134,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,69}}</string>
			<key>sourceSize</key>
			<string>{134,69}</string>
		</dict>
		<key>dashe_rf_die_bu_d.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,262},{143,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,198}}</string>
			<key>sourceSize</key>
			<string>{143,198}</string>
		</dict>
		<key>dashe_rf_gedang_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,446},{72,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,50}}</string>
			<key>sourceSize</key>
			<string>{72,50}</string>
		</dict>
		<key>dashe_rf_gedang_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{449,936},{59,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,86}}</string>
			<key>sourceSize</key>
			<string>{59,86}</string>
		</dict>
		<key>dashe_rf_idle_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{525,152},{220,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,182}}</string>
			<key>sourceSize</key>
			<string>{220,182}</string>
		</dict>
		<key>dashe_rf_idle_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{474,448},{50,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,73}}</string>
			<key>sourceSize</key>
			<string>{50,73}</string>
		</dict>
		<key>dashe_rf_idle_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,734},{23,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,46}}</string>
			<key>sourceSize</key>
			<string>{23,46}</string>
		</dict>
		<key>dashe_rf_idle_3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,223},{22,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,59}}</string>
			<key>sourceSize</key>
			<string>{22,59}</string>
		</dict>
		<key>dashe_rf_idle_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,298},{19,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,46}}</string>
			<key>sourceSize</key>
			<string>{19,46}</string>
		</dict>
		<key>dashe_rf_idle_4_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,544},{17,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,45}}</string>
			<key>sourceSize</key>
			<string>{17,45}</string>
		</dict>
		<key>dashe_rf_idle_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{948,1004},{17,42}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,42}}</string>
			<key>sourceSize</key>
			<string>{19,42}</string>
		</dict>
		<key>dashe_rf_idle_6_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,1007},{15,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,40}}</string>
			<key>sourceSize</key>
			<string>{15,40}</string>
		</dict>
		<key>dashe_rf_idle_bu_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,658},{75,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,96}}</string>
			<key>sourceSize</key>
			<string>{75,96}</string>
		</dict>
		<key>dashe_rf_idle_bu_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,448},{125,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,68}}</string>
			<key>sourceSize</key>
			<string>{125,68}</string>
		</dict>
		<key>dashe_rf_idle_bu_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{985,256},{131,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,37}}</string>
			<key>sourceSize</key>
			<string>{131,37}</string>
		</dict>
		<key>dashe_rf_idle_bu_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,957},{171,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,49}}</string>
			<key>sourceSize</key>
			<string>{171,49}</string>
		</dict>
		<key>dashe_rf_idle_bu_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,574},{119,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,68}}</string>
			<key>sourceSize</key>
			<string>{119,68}</string>
		</dict>
		<key>dashe_rf_idle_bu_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,937},{45,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,84}}</string>
			<key>sourceSize</key>
			<string>{45,84}</string>
		</dict>
		<key>dashe_rf_idle_bu_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{817,1007},{15,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,14}}</string>
			<key>sourceSize</key>
			<string>{15,14}</string>
		</dict>
		<key>dashe_rf_idle_bu_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{948,827},{109,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,74}}</string>
			<key>sourceSize</key>
			<string>{109,74}</string>
		</dict>
		<key>dashe_rf_idle_bu_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{517,132},{7,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,21}}</string>
			<key>sourceSize</key>
			<string>{7,21}</string>
		</dict>
		<key>dashe_rf_idle_bu_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,252},{193,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,50}}</string>
			<key>sourceSize</key>
			<string>{193,50}</string>
		</dict>
		<key>dashe_rf_idle_bu_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{560,949},{62,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,70}}</string>
			<key>sourceSize</key>
			<string>{62,70}</string>
		</dict>
		<key>dashe_rf_idle_bu_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{685,940},{81,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,90}}</string>
			<key>sourceSize</key>
			<string>{81,90}</string>
		</dict>
		<key>dashe_rf_idle_bu_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{523,807},{36,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,126}}</string>
			<key>sourceSize</key>
			<string>{36,126}</string>
		</dict>
		<key>dashe_rf_idle_bu_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,807},{129,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,125}}</string>
			<key>sourceSize</key>
			<string>{129,125}</string>
		</dict>
		<key>dashe_rf_idle_bu_toufa1.png</key>
		<dict>
			<key>frame</key>
			<string>{{525,411},{48,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,192}}</string>
			<key>sourceSize</key>
			<string>{48,192}</string>
		</dict>
		<key>dashe_rf_idle_bu_toufa1b.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,406},{46,191}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,191}}</string>
			<key>sourceSize</key>
			<string>{46,191}</string>
		</dict>
		<key>dashe_rf_run_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,544},{14,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,17}}</string>
			<key>sourceSize</key>
			<string>{14,17}</string>
		</dict>
		<key>dashe_rf_run_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,113},{69,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,38}}</string>
			<key>sourceSize</key>
			<string>{69,38}</string>
		</dict>
		<key>dashe_rf_run_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{509,980},{42,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,49}}</string>
			<key>sourceSize</key>
			<string>{42,49}</string>
		</dict>
		<key>dashe_rf_run_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{469,522},{55,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,71}}</string>
			<key>sourceSize</key>
			<string>{55,71}</string>
		</dict>
		<key>dashe_rf_run_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,734},{95,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,100}}</string>
			<key>sourceSize</key>
			<string>{95,100}</string>
		</dict>
		<key>dashe_rf_run_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,519},{43,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,50}}</string>
			<key>sourceSize</key>
			<string>{43,50}</string>
		</dict>
		<key>dashe_rf_run_bu_a.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,1007},{14,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,14}}</string>
			<key>sourceSize</key>
			<string>{14,14}</string>
		</dict>
		<key>dashe_rf_run_bu_c.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,544},{60,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,76}}</string>
			<key>sourceSize</key>
			<string>{60,76}</string>
		</dict>
		<key>dashe_rf_shengli_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{953,408},{30,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,54}}</string>
			<key>sourceSize</key>
			<string>{30,54}</string>
		</dict>
		<key>dashe_rf_shengli_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,937},{51,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,84}}</string>
			<key>sourceSize</key>
			<string>{51,84}</string>
		</dict>
		<key>dashe_rf_shengli_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,363},{43,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,84}}</string>
			<key>sourceSize</key>
			<string>{43,84}</string>
		</dict>
		<key>dashe_rf_shengli_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{991,193},{31,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,62}}</string>
			<key>sourceSize</key>
			<string>{31,62}</string>
		</dict>
		<key>dashe_rf_shengli_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,733},{39,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,97}}</string>
			<key>sourceSize</key>
			<string>{39,97}</string>
		</dict>
		<key>dashe_rf_shengli_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,283},{14,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,20}}</string>
			<key>sourceSize</key>
			<string>{14,20}</string>
		</dict>
		<key>dashe_rf_shengli_32.png</key>
		<dict>
			<key>frame</key>
			<string>{{531,2},{149,237}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,237}}</string>
			<key>sourceSize</key>
			<string>{149,239}</string>
		</dict>
		<key>dashe_rf_shengli_33.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,132},{129,234}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,234}}</string>
			<key>sourceSize</key>
			<string>{129,236}</string>
		</dict>
		<key>dashe_rf_shengli_34.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,194},{213,215}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,215}}</string>
			<key>sourceSize</key>
			<string>{213,215}</string>
		</dict>
		<key>dashe_rf_shengli_35.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,230},{228,217}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{228,217}}</string>
			<key>sourceSize</key>
			<string>{228,217}</string>
		</dict>
		<key>dashe_rf_shengli_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{706,902},{62,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,36}}</string>
			<key>sourceSize</key>
			<string>{62,36}</string>
		</dict>
		<key>dashe_rf_shengli_bu__0.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,773},{69,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,33}}</string>
			<key>sourceSize</key>
			<string>{69,33}</string>
		</dict>
		<key>dashe_rf_shengli_bu__1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,694},{112,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,107}}</string>
			<key>sourceSize</key>
			<string>{112,107}</string>
		</dict>
		<key>dashe_rf_shengli_bu__12.png</key>
		<dict>
			<key>frame</key>
			<string>{{991,2},{125,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,31}}</string>
			<key>sourceSize</key>
			<string>{125,31}</string>
		</dict>
		<key>dashe_rf_shengli_bu__14.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,807},{124,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,128}}</string>
			<key>sourceSize</key>
			<string>{124,128}</string>
		</dict>
		<key>dashe_rf_shengli_bu__15.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,807},{129,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,145}}</string>
			<key>sourceSize</key>
			<string>{129,145}</string>
		</dict>
		<key>dashe_rf_shengli_bu__16.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,830},{49,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,106}}</string>
			<key>sourceSize</key>
			<string>{49,106}</string>
		</dict>
		<key>dashe_rf_shengli_bu__17.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,830},{51,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,66}}</string>
			<key>sourceSize</key>
			<string>{51,66}</string>
		</dict>
		<key>dashe_rf_shengli_bu__3.png</key>
		<dict>
			<key>frame</key>
			<string>{{718,345},{50,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,93}}</string>
			<key>sourceSize</key>
			<string>{50,93}</string>
		</dict>
		<key>dashe_rf_shengli_bu__4.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,448},{159,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,95}}</string>
			<key>sourceSize</key>
			<string>{159,95}</string>
		</dict>
		<key>dashe_rf_shengli_bu__6.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,784},{178,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,45}}</string>
			<key>sourceSize</key>
			<string>{178,45}</string>
		</dict>
		<key>dashe_rf_shengli_bu__9.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,592},{179,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,131}}</string>
			<key>sourceSize</key>
			<string>{179,131}</string>
		</dict>
		<key>dashe_rf_sk1_bu__0.png</key>
		<dict>
			<key>frame</key>
			<string>{{525,335},{75,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,192}}</string>
			<key>sourceSize</key>
			<string>{75,192}</string>
		</dict>
		<key>dashe_rf_sk1_bu__11.png</key>
		<dict>
			<key>frame</key>
			<string>{{525,579},{180,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,78}}</string>
			<key>sourceSize</key>
			<string>{180,78}</string>
		</dict>
		<key>dashe_rf_sk1_bu__14.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,937},{141,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,83}}</string>
			<key>sourceSize</key>
			<string>{141,83}</string>
		</dict>
		<key>dashe_rf_sk1_bu__15.png</key>
		<dict>
			<key>frame</key>
			<string>{{706,656},{62,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,150}}</string>
			<key>sourceSize</key>
			<string>{62,150}</string>
		</dict>
		<key>dashe_rf_sk1_bu__16.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,734},{72,49}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,49}}</string>
			<key>sourceSize</key>
			<string>{72,55}</string>
		</dict>
		<key>dashe_rf_sk1_bu__2.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,2},{129,248}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,248}}</string>
			<key>sourceSize</key>
			<string>{129,248}</string>
		</dict>
		<key>dashe_rf_sk1_bu__3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{279,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{279,110}}</string>
			<key>sourceSize</key>
			<string>{279,110}</string>
		</dict>
		<key>dashe_rf_sk1_bu__4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,113},{240,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,116}}</string>
			<key>sourceSize</key>
			<string>{240,116}</string>
		</dict>
		<key>dashe_rf_sk1_bu__6.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,567},{90,174}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,174}}</string>
			<key>sourceSize</key>
			<string>{90,174}</string>
		</dict>
		<key>dashe_rf_ski2_bu_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,262},{43,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,100}}</string>
			<key>sourceSize</key>
			<string>{43,100}</string>
		</dict>
		<key>dashe_rf_ski2_bu_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{525,460},{182,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,60}}</string>
			<key>sourceSize</key>
			<string>{182,60}</string>
		</dict>
		<key>dashe_rf_ski2_bu_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,408},{123,183}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,183}}</string>
			<key>sourceSize</key>
			<string>{123,183}</string>
		</dict>
		<key>dashe_rf_skill2_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,897},{59,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,51}}</string>
			<key>sourceSize</key>
			<string>{59,51}</string>
		</dict>
		<key>dashe_rf_skill2_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{985,388},{37,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,74}}</string>
			<key>sourceSize</key>
			<string>{37,74}</string>
		</dict>
		<key>dashe_rf_skill2_31.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,724},{59,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{59,179}}</string>
			<key>sourceSize</key>
			<string>{61,179}</string>
		</dict>
		<key>dashe_rf_skill2_33.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,453},{61,187}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,187}}</string>
			<key>sourceSize</key>
			<string>{63,187}</string>
		</dict>
		<key>dashe_rf_skill2_34.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,2},{191,221}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,221}}</string>
			<key>sourceSize</key>
			<string>{191,221}</string>
		</dict>
		<key>dashe_rf_skill2_36.png</key>
		<dict>
			<key>frame</key>
			<string>{{509,936},{43,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,50}}</string>
			<key>sourceSize</key>
			<string>{43,50}</string>
		</dict>
		<key>dashe_rf_skill2_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,937},{49,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,84}}</string>
			<key>sourceSize</key>
			<string>{49,84}</string>
		</dict>
		<key>dashe_rf_skill2_43.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,710},{58,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,62}}</string>
			<key>sourceSize</key>
			<string>{58,62}</string>
		</dict>
		<key>dashe_rf_skill4_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{948,937},{66,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,74}}</string>
			<key>sourceSize</key>
			<string>{66,74}</string>
		</dict>
		<key>dashe_rf_skill4_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,734},{72,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,46}}</string>
			<key>sourceSize</key>
			<string>{72,46}</string>
		</dict>
		<key>dashe_rf_skill_14.png</key>
		<dict>
			<key>frame</key>
			<string>{{555,733},{75,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,39}}</string>
			<key>sourceSize</key>
			<string>{75,39}</string>
		</dict>
		<key>dashe_rf_skill_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{706,807},{94,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,62}}</string>
			<key>sourceSize</key>
			<string>{94,62}</string>
		</dict>
		<key>dashe_rf_skill_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,830},{41,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,72}}</string>
			<key>sourceSize</key>
			<string>{41,72}</string>
		</dict>
		<key>dashe_rf_skill_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{379,658},{51,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,76}}</string>
			<key>sourceSize</key>
			<string>{51,76}</string>
		</dict>
		<key>dashe_rf_skill_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{991,128},{31,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,64}}</string>
			<key>sourceSize</key>
			<string>{31,64}</string>
		</dict>
		<key>dashe_rf_skill_bu_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,773},{33,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,91}}</string>
			<key>sourceSize</key>
			<string>{33,91}</string>
		</dict>
		<key>dashe_rf_xunhuan3_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{631,733},{74,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,104}}</string>
			<key>sourceSize</key>
			<string>{74,104}</string>
		</dict>
		<key>dashe_rf_xunhuan3_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{631,838},{74,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,101}}</string>
			<key>sourceSize</key>
			<string>{74,101}</string>
		</dict>
		<key>dashe_rf_xunhuan3_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{525,658},{74,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,108}}</string>
			<key>sourceSize</key>
			<string>{74,108}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>dasheXISR_role_shizhuang0.png</string>
		<key>scale</key>
		<real>0.76</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dasheXISR_role_shizhuang0.png</string>
	</dict>
</dict>
</plist>
