<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bjbq_bingshuangmaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,100},{86,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,50}}</string>
			<key>sourceSize</key>
			<string>{86,50}</string>
		</dict>
		<key>dj_bingshuangmaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{108,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,98}}</string>
			<key>sourceSize</key>
			<string>{108,98}</string>
		</dict>
		<key>djye_bingshuangmaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,2},{30,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,38}}</string>
			<key>sourceSize</key>
			<string>{30,38}</string>
		</dict>
		<key>djze_bingshuangmaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,42},{29,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,34}}</string>
			<key>sourceSize</key>
			<string>{29,34}</string>
		</dict>
		<key>mz1_bingshuangmaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,104},{28,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,24}}</string>
			<key>sourceSize</key>
			<string>{28,24}</string>
		</dict>
		<key>mz_bingshuangmaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{222,78},{28,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,24}}</string>
			<key>sourceSize</key>
			<string>{28,24}</string>
		</dict>
		<key>xytou_bingshuangmaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,2},{108,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,96}}</string>
			<key>sourceSize</key>
			<string>{108,96}</string>
		</dict>
		<key>xyy1_bingshuangmaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,116},{14,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,15}}</string>
			<key>sourceSize</key>
			<string>{14,15}</string>
		</dict>
		<key>xyy_bingshuangmaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,100},{15,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,14}}</string>
			<key>sourceSize</key>
			<string>{15,14}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>bingshuangmaoimage.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>bingshuangmaoimage.png</string>
	</dict>
</dict>
</plist>
