<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Newsz_dlls_ptbs_baibo_00040.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,2},{183,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,181}}</string>
			<key>sourceSize</key>
			<string>{183,181}</string>
		</dict>
		<key>Newsz_kxv_xiaojineng_yan_00055.png</key>
		<dict>
			<key>frame</key>
			<string>{{759,325},{226,222}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,222}}</string>
			<key>sourceSize</key>
			<string>{226,222}</string>
		</dict>
		<key>Newsz_kxv_xiaojineng_yan_00063.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,792},{234,230}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{234,230}}</string>
			<key>sourceSize</key>
			<string>{234,230}</string>
		</dict>
		<key>Newsz_kxvjr_daiji_huo_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{759,773},{171,223}}</string>
			<key>offset</key>
			<string>{-4,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,13},{171,223}}</string>
			<key>sourceSize</key>
			<string>{203,267}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_baodian_00072.png</key>
		<dict>
			<key>frame</key>
			<string>{{759,2},{322,251}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{322,251}}</string>
			<key>sourceSize</key>
			<string>{322,251}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_huoqiu_00051.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,792},{225,226}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{225,226}}</string>
			<key>sourceSize</key>
			<string>{225,226}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_huozhu_00036.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,548},{224,354}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,354}}</string>
			<key>sourceSize</key>
			<string>{224,354}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_huozhuhuo_00073.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,352},{224,177}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,177}}</string>
			<key>sourceSize</key>
			<string>{224,177}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_longtouhuo_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,783},{295,237}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,237}}</string>
			<key>sourceSize</key>
			<string>{295,237}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_shouzhangluohuo_00076.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,2},{248,349}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{248,349}}</string>
			<key>sourceSize</key>
			<string>{248,349}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_shouzhangshanghuo_00051.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,398},{384,241}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,241}}</string>
			<key>sourceSize</key>
			<string>{384,241}</string>
		</dict>
		<key>Newsz_sy_lmbs_shoubuhonghuo_00161.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{305,395}}</string>
			<key>offset</key>
			<string>{-9,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,38},{305,395}}</string>
			<key>sourceSize</key>
			<string>{323,471}</string>
		</dict>
		<key>Newsz_sy_lmbs_shoubuhonghuo_00169.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,398},{265,393}}</string>
			<key>offset</key>
			<string>{-2,28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{27,67},{265,393}}</string>
			<key>sourceSize</key>
			<string>{323,471}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>Kxvjr_common28.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>Kxvjr_common28.png</string>
	</dict>
</dict>
</plist>
