<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bg_yuchangjingsanimage.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{2,67},{800,451}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{800,451}}</string>
			<key>sourceSize</key>
			<string>{800,451}</string>
		</dict>
		<key>jiang_yuchangjingsanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,2},{11,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,22}}</string>
			<key>sourceSize</key>
			<string>{11,22}</string>
		</dict>
		<key>m1_yuchangjingsanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{455,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{455,63}}</string>
			<key>sourceSize</key>
			<string>{455,63}</string>
		</dict>
		<key>yun01_yuchangjingsanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,869},{153,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,61}}</string>
			<key>sourceSize</key>
			<string>{153,61}</string>
		</dict>
		<key>yun02_yuchangjingsanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,79},{106,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,55}}</string>
			<key>sourceSize</key>
			<string>{106,55}</string>
		</dict>
		<key>yun03_yuchangjingsanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{459,2},{75,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,26}}</string>
			<key>sourceSize</key>
			<string>{75,26}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>yuchangjingsanimage.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>yuchangjingsanimage.png</string>
	</dict>
</dict>
</plist>
