<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>arm_backa_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,39},{83,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,28}}</string>
			<key>sourceSize</key>
			<string>{83,28}</string>
		</dict>
		<key>arm_backb_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,165},{83,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,27}}</string>
			<key>sourceSize</key>
			<string>{83,27}</string>
		</dict>
		<key>arm_backc_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,123},{71,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,24}}</string>
			<key>sourceSize</key>
			<string>{71,24}</string>
		</dict>
		<key>arm_fronta_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,162},{82,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,28}}</string>
			<key>sourceSize</key>
			<string>{82,28}</string>
		</dict>
		<key>arm_frontb_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,162},{82,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,27}}</string>
			<key>sourceSize</key>
			<string>{82,27}</string>
		</dict>
		<key>arm_frontc_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,96},{71,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,25}}</string>
			<key>sourceSize</key>
			<string>{71,25}</string>
		</dict>
		<key>arm_sidea_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,246},{27,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,27}}</string>
			<key>sourceSize</key>
			<string>{27,27}</string>
		</dict>
		<key>arm_sideb_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,96},{27,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,26}}</string>
			<key>sourceSize</key>
			<string>{27,26}</string>
		</dict>
		<key>arm_sidec_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,250},{23,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,24}}</string>
			<key>sourceSize</key>
			<string>{23,24}</string>
		</dict>
		<key>body_backa_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,384},{58,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,50}}</string>
			<key>sourceSize</key>
			<string>{58,50}</string>
		</dict>
		<key>body_backb_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,444},{58,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,48}}</string>
			<key>sourceSize</key>
			<string>{58,48}</string>
		</dict>
		<key>body_backc_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,441},{50,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,43}}</string>
			<key>sourceSize</key>
			<string>{50,43}</string>
		</dict>
		<key>body_fronta_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,444},{55,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,52}}</string>
			<key>sourceSize</key>
			<string>{55,52}</string>
		</dict>
		<key>body_frontb_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,384},{55,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,51}}</string>
			<key>sourceSize</key>
			<string>{55,51}</string>
		</dict>
		<key>body_frontc_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,275},{47,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,45}}</string>
			<key>sourceSize</key>
			<string>{47,45}</string>
		</dict>
		<key>body_sidea_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,2},{51,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,69}}</string>
			<key>sourceSize</key>
			<string>{51,69}</string>
		</dict>
		<key>body_sideb_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,149},{51,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,69}}</string>
			<key>sourceSize</key>
			<string>{51,69}</string>
		</dict>
		<key>body_sidec_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,55},{41,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,60}}</string>
			<key>sourceSize</key>
			<string>{41,60}</string>
		</dict>
		<key>head_backa_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,295},{98,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,108}}</string>
			<key>sourceSize</key>
			<string>{98,108}</string>
		</dict>
		<key>head_backb_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,410},{98,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,108}}</string>
			<key>sourceSize</key>
			<string>{98,108}</string>
		</dict>
		<key>head_backc_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,84},{84,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,80}}</string>
			<key>sourceSize</key>
			<string>{84,80}</string>
		</dict>
		<key>head_fronta_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,166},{98,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,107}}</string>
			<key>sourceSize</key>
			<string>{98,107}</string>
		</dict>
		<key>head_frontb_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,405},{98,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,107}}</string>
			<key>sourceSize</key>
			<string>{98,107}</string>
		</dict>
		<key>head_frontc_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,2},{84,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,80}}</string>
			<key>sourceSize</key>
			<string>{84,80}</string>
		</dict>
		<key>head_sidea_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,275},{92,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,107}}</string>
			<key>sourceSize</key>
			<string>{92,107}</string>
		</dict>
		<key>head_sideb_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,2},{92,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,108}}</string>
			<key>sourceSize</key>
			<string>{92,108}</string>
		</dict>
		<key>head_sidec_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{331,2},{79,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,79}}</string>
			<key>sourceSize</key>
			<string>{79,79}</string>
		</dict>
		<key>hurt_fronta_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{97,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,145}}</string>
			<key>sourceSize</key>
			<string>{97,145}</string>
		</dict>
		<key>hurt_frontb_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,149},{97,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,144}}</string>
			<key>sourceSize</key>
			<string>{97,144}</string>
		</dict>
		<key>hurt_frontc_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,295},{83,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,113}}</string>
			<key>sourceSize</key>
			<string>{83,113}</string>
		</dict>
		<key>tail_backa_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,250},{20,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,51}}</string>
			<key>sourceSize</key>
			<string>{20,51}</string>
		</dict>
		<key>tail_backb_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,96},{20,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,50}}</string>
			<key>sourceSize</key>
			<string>{20,50}</string>
		</dict>
		<key>tail_backc_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,275},{16,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,44}}</string>
			<key>sourceSize</key>
			<string>{16,44}</string>
		</dict>
		<key>tail_sidea_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,124},{36,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,41}}</string>
			<key>sourceSize</key>
			<string>{36,41}</string>
		</dict>
		<key>tail_sideb_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,124},{36,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,39}}</string>
			<key>sourceSize</key>
			<string>{36,39}</string>
		</dict>
		<key>tail_sidec_houziimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,2},{30,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,35}}</string>
			<key>sourceSize</key>
			<string>{30,35}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>houziimage.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>houziimage.png</string>
	</dict>
</dict>
</plist>
