<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_sdxqc_huanganniu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,543},{267,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{267,94}}</string>
			<key>sourceSize</key>
			<string>{267,94}</string>
		</dict>
		<key>btn_sdxqc_huanganniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,447},{267,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{267,94}}</string>
			<key>sourceSize</key>
			<string>{267,94}</string>
		</dict>
		<key>pic_huodong_feiji_anniu_kaishiyoux_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,639},{260,72}}</string>
			<key>offset</key>
			<string>{-3,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{260,72}}</string>
			<key>sourceSize</key>
			<string>{266,74}</string>
		</dict>
		<key>pic_huodong_feiji_anniu_kaishiyouxi_grey.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,639},{260,72}}</string>
			<key>offset</key>
			<string>{-3,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{260,72}}</string>
			<key>sourceSize</key>
			<string>{266,74}</string>
		</dict>
		<key>pic_huodong_feiji_feijiakuanghuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{309,639},{237,84}}</string>
			<key>offset</key>
			<string>{-4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{237,84}}</string>
			<key>sourceSize</key>
			<string>{245,84}</string>
		</dict>
		<key>pic_huodong_feiji_fenshupaihang_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,124},{210,74}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,4},{210,74}}</string>
			<key>sourceSize</key>
			<string>{230,80}</string>
		</dict>
		<key>pic_huodong_feiji_goumaicishu_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,487},{230,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{230,80}}</string>
			<key>sourceSize</key>
			<string>{230,80}</string>
		</dict>
		<key>pic_huodong_feiji_guize_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,954},{71,64}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{71,64}}</string>
			<key>sourceSize</key>
			<string>{71,82}</string>
		</dict>
		<key>pic_huodong_feiji_guize_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,569},{71,66}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{71,66}}</string>
			<key>sourceSize</key>
			<string>{71,82}</string>
		</dict>
		<key>pic_huodong_feiji_guize_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,2},{177,82}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{177,82}}</string>
			<key>sourceSize</key>
			<string>{179,82}</string>
		</dict>
		<key>pic_huodong_feiji_jiangli_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,569},{69,68}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{69,68}}</string>
			<key>sourceSize</key>
			<string>{71,82}</string>
		</dict>
		<key>pic_huodong_feiji_jiangli_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{352,880},{73,74}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,6},{73,74}}</string>
			<key>sourceSize</key>
			<string>{83,82}</string>
		</dict>
		<key>pic_huodong_feiji_jifenbang_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,253},{209,68}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,68}}</string>
			<key>sourceSize</key>
			<string>{211,68}</string>
		</dict>
		<key>pic_huodong_feiji_kaishiyoux_anniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,639},{260,72}}</string>
			<key>offset</key>
			<string>{-3,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{260,72}}</string>
			<key>sourceSize</key>
			<string>{266,74}</string>
		</dict>
		<key>pic_huodong_feiji_paihang_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,398},{105,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,87}}</string>
			<key>sourceSize</key>
			<string>{105,87}</string>
		</dict>
		<key>pic_huodong_feiji_paihang_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,398},{103,87}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{103,87}}</string>
			<key>sourceSize</key>
			<string>{105,87}</string>
		</dict>
		<key>pic_huodong_feiji_paihang_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,901},{99,87}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{99,87}}</string>
			<key>sourceSize</key>
			<string>{105,87}</string>
		</dict>
		<key>pic_huodong_feiji_paihang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,880},{74,72}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{74,72}}</string>
			<key>sourceSize</key>
			<string>{78,82}</string>
		</dict>
		<key>pic_huodong_feiji_paihang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,569},{82,72}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,72}}</string>
			<key>sourceSize</key>
			<string>{82,82}</string>
		</dict>
		<key>pic_huodong_feiji_paihang_zi_fenshu.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,86},{69,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,26}}</string>
			<key>sourceSize</key>
			<string>{69,26}</string>
		</dict>
		<key>pic_huodong_feiji_paihang_zi_mingci.png</key>
		<dict>
			<key>frame</key>
			<string>{{441,323},{48,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{48,24}}</string>
			<key>sourceSize</key>
			<string>{50,26}</string>
		</dict>
		<key>pic_huodong_feiji_paihang_zi_wanjiamingzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,86},{97,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{97,26}}</string>
			<key>sourceSize</key>
			<string>{101,26}</string>
		</dict>
		<key>pic_huodong_feiji_shouji.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,299},{146,277}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,277}}</string>
			<key>sourceSize</key>
			<string>{146,277}</string>
		</dict>
		<key>pic_huodong_feiji_tishi_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,323},{158,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,0},{158,73}}</string>
			<key>sourceSize</key>
			<string>{194,73}</string>
		</dict>
		<key>pic_huodong_feiji_yidashangxian_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,63},{59,23}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{35,8},{59,23}}</string>
			<key>sourceSize</key>
			<string>{129,37}</string>
		</dict>
		<key>pic_huodong_feiji_zhandou_goumaizhadan_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,639},{254,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{254,83}}</string>
			<key>sourceSize</key>
			<string>{254,83}</string>
		</dict>
		<key>pic_huodong_feiji_zhandou_jianglijiesuan_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,63},{284,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{284,86}}</string>
			<key>sourceSize</key>
			<string>{286,86}</string>
		</dict>
		<key>pic_huodong_feiji_zhandou_tishi_bieniu.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,200},{218,51}}</string>
			<key>offset</key>
			<string>{-29,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,0},{218,51}}</string>
			<key>sourceSize</key>
			<string>{318,51}</string>
		</dict>
		<key>pic_huodong_feiji_zhandou_tishi_shuping.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{309,59}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{309,59}}</string>
			<key>sourceSize</key>
			<string>{313,59}</string>
		</dict>
		<key>pic_huodong_feiji_zhandou_zhanting_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,901},{259,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,92}}</string>
			<key>sourceSize</key>
			<string>{259,92}</string>
		</dict>
		<key>pic_sdxqc.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,643},{235,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,81}}</string>
			<key>sourceSize</key>
			<string>{235,81}</string>
		</dict>
		<key>pic_xqc_shouji.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,151},{146,277}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,277}}</string>
			<key>sourceSize</key>
			<string>{146,277}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_planeWar0.png</string>
		<key>size</key>
		<string>{503,1027}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_planeWar0.png</string>
	</dict>
</dict>
</plist>
