<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fx_shuixiang_1_00088_ldsxxtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{907,2},{230,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{230,115}}</string>
			<key>sourceSize</key>
			<string>{230,115}</string>
		</dict>
		<key>fx_shuixiang_1_00089_ldsxxtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,2},{258,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{258,149}}</string>
			<key>sourceSize</key>
			<string>{258,149}</string>
		</dict>
		<key>fx_shuixiang_1_00090_ldsxxtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,142},{224,181}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,181}}</string>
			<key>sourceSize</key>
			<string>{224,183}</string>
		</dict>
		<key>fx_shuixiang_1_00091_ldsxxtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,692},{215,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,207}}</string>
			<key>sourceSize</key>
			<string>{215,207}</string>
		</dict>
		<key>fx_shuixiang_1_00092_ldsxxtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,635},{221,225}}</string>
			<key>offset</key>
			<string>{4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,2},{221,225}}</string>
			<key>sourceSize</key>
			<string>{231,227}</string>
		</dict>
		<key>fx_shuixiang_1_00093_ldsxxtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,397},{231,236}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{231,236}}</string>
			<key>sourceSize</key>
			<string>{231,238}</string>
		</dict>
		<key>fx_shuixiang_1_00094_ldsxxtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{624,380},{224,223}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{224,223}}</string>
			<key>sourceSize</key>
			<string>{226,223}</string>
		</dict>
		<key>fx_shuixiang_2_00104_ldsxxtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{337,2},{308,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{308,138}}</string>
			<key>sourceSize</key>
			<string>{308,138}</string>
		</dict>
		<key>fx_shuixiang_2_00105_ldsxxtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{333,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{333,157}}</string>
			<key>sourceSize</key>
			<string>{333,157}</string>
		</dict>
		<key>fx_shuixiang_2_00106_ldsxxtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,635},{295,164}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{295,164}}</string>
			<key>sourceSize</key>
			<string>{295,166}</string>
		</dict>
		<key>fx_shuixiang_2_00107_ldsxxtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,161},{231,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{231,201}}</string>
			<key>sourceSize</key>
			<string>{231,201}</string>
		</dict>
		<key>fx_shuixiang_2_00108_ldsxxtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{628,153},{229,225}}</string>
			<key>offset</key>
			<string>{5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,2},{229,225}}</string>
			<key>sourceSize</key>
			<string>{239,227}</string>
		</dict>
		<key>fx_shuixiang_2_00109_ldsxxtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,161},{238,234}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{238,234}}</string>
			<key>sourceSize</key>
			<string>{238,238}</string>
		</dict>
		<key>fx_shuixiang_2_00110_ldsxxtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,397},{224,223}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{224,223}}</string>
			<key>sourceSize</key>
			<string>{226,223}</string>
		</dict>
		<key>fx_shuixiang_2_00111_ldsxxtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{624,605},{194,202}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{194,202}}</string>
			<key>sourceSize</key>
			<string>{194,202}</string>
		</dict>
		<key>fx_shuixiang_2_00112_ldsxxtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,399},{161,159}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{161,159}}</string>
			<key>sourceSize</key>
			<string>{161,171}</string>
		</dict>
		<key>fx_shuixiang_2_00113_ldsxxtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{859,234},{163,163}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,163}}</string>
			<key>sourceSize</key>
			<string>{163,171}</string>
		</dict>
		<key>fx_shuixiang_2_00114_ldsxxtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,368},{162,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,162}}</string>
			<key>sourceSize</key>
			<string>{162,162}</string>
		</dict>
		<key>fx_shuixiang_2_00115_ldsxxtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,560},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>fx_shuixiang_2_UP_00104_ldsxxtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,532},{158,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,162}}</string>
			<key>sourceSize</key>
			<string>{158,162}</string>
		</dict>
		<key>fx_shuixiang_2_UP_00105_ldsxxtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{608,801},{173,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,173}}</string>
			<key>sourceSize</key>
			<string>{173,173}</string>
		</dict>
		<key>fx_shuixiang_2_UP_00106_ldsxxtimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,862},{138,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,175}}</string>
			<key>sourceSize</key>
			<string>{138,175}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>ldsxxtimage.png</string>
		<key>scale</key>
		<real>0.82</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ldsxxtimage.png</string>
	</dict>
</dict>
</plist>
