<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_laerfu_lmbs_huo_00070_lefhuoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{355,2},{92,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,101}}</string>
			<key>sourceSize</key>
			<string>{92,101}</string>
		</dict>
		<key>New_laerfu_lmbs_huo_00071_lefhuoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,110},{84,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,102}}</string>
			<key>sourceSize</key>
			<string>{84,102}</string>
		</dict>
		<key>New_laerfu_lmbs_huo_00072_lefhuoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,2},{83,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,102}}</string>
			<key>sourceSize</key>
			<string>{83,102}</string>
		</dict>
		<key>New_laerfu_lmbs_huo_00073_lefhuoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,2},{84,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,106}}</string>
			<key>sourceSize</key>
			<string>{84,106}</string>
		</dict>
		<key>New_laerfu_lmbs_huo_00074_lefhuoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,359},{85,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,111}}</string>
			<key>sourceSize</key>
			<string>{85,111}</string>
		</dict>
		<key>New_laerfu_lmbs_huo_00075_lefhuoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,214},{86,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,97}}</string>
			<key>sourceSize</key>
			<string>{86,97}</string>
		</dict>
		<key>New_laerfu_lmbs_huo_00076_lefhuoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,328},{89,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,99}}</string>
			<key>sourceSize</key>
			<string>{89,99}</string>
		</dict>
		<key>New_laerfu_lmbs_huo_00077_lefhuoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,190},{91,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,95}}</string>
			<key>sourceSize</key>
			<string>{91,95}</string>
		</dict>
		<key>New_laerfu_lmbs_huo_00078_lefhuoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{355,96},{92,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,99}}</string>
			<key>sourceSize</key>
			<string>{92,99}</string>
		</dict>
		<key>New_laerfu_lmbs_huo_00079_lefhuoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,223},{90,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,103}}</string>
			<key>sourceSize</key>
			<string>{90,103}</string>
		</dict>
		<key>New_laerfu_lmbs_huo_00080_lefhuoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,115},{90,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,106}}</string>
			<key>sourceSize</key>
			<string>{90,106}</string>
		</dict>
		<key>New_laerfu_lmbs_huo_00081_lefhuoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,2},{84,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,111}}</string>
			<key>sourceSize</key>
			<string>{84,111}</string>
		</dict>
		<key>New_laerfu_lmbs_huo_00082_lefhuoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,366},{84,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,114}}</string>
			<key>sourceSize</key>
			<string>{84,114}</string>
		</dict>
		<key>New_laerfu_lmbs_huo_00083_lefhuoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,245},{82,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,112}}</string>
			<key>sourceSize</key>
			<string>{82,112}</string>
		</dict>
		<key>New_laerfu_lmbs_huo_00084_lefhuoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,366},{87,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,117}}</string>
			<key>sourceSize</key>
			<string>{87,117}</string>
		</dict>
		<key>New_laerfu_lmbs_huo_00085_lefhuoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,245},{92,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,119}}</string>
			<key>sourceSize</key>
			<string>{92,119}</string>
		</dict>
		<key>New_laerfu_lmbs_huo_00086_lefhuoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{94,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,120}}</string>
			<key>sourceSize</key>
			<string>{94,120}</string>
		</dict>
		<key>New_laerfu_lmbs_huo_00087_lefhuoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,124},{94,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,119}}</string>
			<key>sourceSize</key>
			<string>{94,119}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lefhuoimage.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lefhuoimage.png</string>
	</dict>
</dict>
</plist>
