<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>DDD_MXaxiuluo_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{589,770},{101,227}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,227}}</string>
			<key>sourceSize</key>
			<string>{101,227}</string>
		</dict>
		<key>DDD_MXaxiuluo_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,526},{50,44}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{50,44}}</string>
			<key>sourceSize</key>
			<string>{52,44}</string>
		</dict>
		<key>DDD_MXaxiuluo_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,2},{25,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,34}}</string>
			<key>sourceSize</key>
			<string>{25,34}</string>
		</dict>
		<key>DDD_MXaxiuluo_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,28},{38,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,31}}</string>
			<key>sourceSize</key>
			<string>{38,31}</string>
		</dict>
		<key>DDD_MXaxiuluo_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{589,998},{33,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,24}}</string>
			<key>sourceSize</key>
			<string>{33,24}</string>
		</dict>
		<key>DDD_MXaxiuluo_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{381,1011},{26,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,11}}</string>
			<key>sourceSize</key>
			<string>{26,11}</string>
		</dict>
		<key>DDD_MXaxiuluo_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,998},{24,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,29}}</string>
			<key>sourceSize</key>
			<string>{24,29}</string>
		</dict>
		<key>DDD_MXaxiuluo_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,67},{27,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,27}}</string>
			<key>sourceSize</key>
			<string>{27,27}</string>
		</dict>
		<key>DDD_MXaxiuluo_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{653,998},{28,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,24}}</string>
			<key>sourceSize</key>
			<string>{28,24}</string>
		</dict>
		<key>DDD_MXaxiuluo_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,998},{27,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,15}}</string>
			<key>sourceSize</key>
			<string>{27,15}</string>
		</dict>
		<key>DDD_MXaxiuluo_011.png</key>
		<dict>
			<key>frame</key>
			<string>{{920,220},{66,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,85}}</string>
			<key>sourceSize</key>
			<string>{66,85}</string>
		</dict>
		<key>DDD_MXaxiuluo_012.png</key>
		<dict>
			<key>frame</key>
			<string>{{920,171},{99,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,48}}</string>
			<key>sourceSize</key>
			<string>{99,48}</string>
		</dict>
		<key>DDD_MXaxiuluo_013 - 副本.png</key>
		<dict>
			<key>frame</key>
			<string>{{710,171},{190,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{69,76},{190,209}}</string>
			<key>sourceSize</key>
			<string>{328,361}</string>
		</dict>
		<key>DDD_MXaxiuluo_013.png</key>
		<dict>
			<key>frame</key>
			<string>{{710,171},{190,209}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,209}}</string>
			<key>sourceSize</key>
			<string>{190,209}</string>
		</dict>
		<key>DDD_MXaxiuluo_014.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,765},{72,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,143}}</string>
			<key>sourceSize</key>
			<string>{72,143}</string>
		</dict>
		<key>DDD_MXaxiuluo_015.png</key>
		<dict>
			<key>frame</key>
			<string>{{717,526},{38,126}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,126}}</string>
			<key>sourceSize</key>
			<string>{38,128}</string>
		</dict>
		<key>DDD_MXaxiuluo_016.png</key>
		<dict>
			<key>frame</key>
			<string>{{710,362},{163,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,207}}</string>
			<key>sourceSize</key>
			<string>{163,207}</string>
		</dict>
		<key>DDD_MXaxiuluo_017.png</key>
		<dict>
			<key>frame</key>
			<string>{{381,770},{240,207}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,207}}</string>
			<key>sourceSize</key>
			<string>{244,207}</string>
		</dict>
		<key>DDD_MXaxiuluo_018.png</key>
		<dict>
			<key>frame</key>
			<string>{{710,2},{168,287}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,287}}</string>
			<key>sourceSize</key>
			<string>{168,287}</string>
		</dict>
		<key>DDD_MXaxiuluo_019.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,770},{243,378}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{243,378}}</string>
			<key>sourceSize</key>
			<string>{243,378}</string>
		</dict>
		<key>DDD_MXaxiuluo_020.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{669,767}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{669,767}}</string>
			<key>sourceSize</key>
			<string>{669,767}</string>
		</dict>
		<key>h2_24.png</key>
		<dict>
			<key>frame</key>
			<string>{{951,838},{70,81}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{70,81}}</string>
			<key>sourceSize</key>
			<string>{76,83}</string>
		</dict>
		<key>h2_26.png</key>
		<dict>
			<key>frame</key>
			<string>{{951,920},{70,81}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{70,81}}</string>
			<key>sourceSize</key>
			<string>{76,83}</string>
		</dict>
		<key>h2_46.png</key>
		<dict>
			<key>frame</key>
			<string>{{920,287},{74,81}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{74,81}}</string>
			<key>sourceSize</key>
			<string>{76,83}</string>
		</dict>
		<key>h2_48.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,362},{74,81}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{74,81}}</string>
			<key>sourceSize</key>
			<string>{76,83}</string>
		</dict>
		<key>h2_50.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,437},{74,81}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{74,81}}</string>
			<key>sourceSize</key>
			<string>{76,83}</string>
		</dict>
		<key>h2_52.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,512},{74,81}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{74,81}}</string>
			<key>sourceSize</key>
			<string>{76,83}</string>
		</dict>
		<key>h2_54.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,838},{74,81}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{74,81}}</string>
			<key>sourceSize</key>
			<string>{76,83}</string>
		</dict>
		<key>h2_56.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,913},{74,81}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{74,81}}</string>
			<key>sourceSize</key>
			<string>{76,83}</string>
		</dict>
		<key>h_48.png</key>
		<dict>
			<key>frame</key>
			<string>{{691,767},{177,201}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{177,201}}</string>
			<key>sourceSize</key>
			<string>{177,203}</string>
		</dict>
		<key>h_50.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,587},{177,171}}</string>
			<key>offset</key>
			<string>{0,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,31},{177,171}}</string>
			<key>sourceSize</key>
			<string>{177,203}</string>
		</dict>
		<key>h_54.png</key>
		<dict>
			<key>frame</key>
			<string>{{672,587},{177,179}}</string>
			<key>offset</key>
			<string>{0,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,23},{177,179}}</string>
			<key>sourceSize</key>
			<string>{177,203}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>bthaxCard_role0.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>bthaxCard_role0.png</string>
	</dict>
</dict>
</plist>
