<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_hd_2zhounian_tpwj_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{519,114},{56,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,125}}</string>
			<key>sourceSize</key>
			<string>{56,125}</string>
		</dict>
		<key>btn_hd_2zhounian_tpwj_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,114},{56,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,125}}</string>
			<key>sourceSize</key>
			<string>{56,125}</string>
		</dict>
		<key>btn_hd_2zhounian_xyc_xuanzhong01.png</key>
		<dict>
			<key>frame</key>
			<string>{{742,129},{45,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{45,44}}</string>
			<key>sourceSize</key>
			<string>{45,46}</string>
		</dict>
		<key>btn_hd_2zhounian_xyc_xuanzhong02.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,114},{45,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,46}}</string>
			<key>sourceSize</key>
			<string>{45,46}</string>
		</dict>
		<key>btn_hd_2zhounian_xyc_xuanzhong03.png</key>
		<dict>
			<key>frame</key>
			<string>{{694,129},{43,46}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{43,46}}</string>
			<key>sourceSize</key>
			<string>{45,46}</string>
		</dict>
		<key>pic_hd_2zhounian_di1.png</key>
		<dict>
			<key>frame</key>
			<string>{{905,96},{53,64}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,64}}</string>
			<key>sourceSize</key>
			<string>{53,68}</string>
		</dict>
		<key>pic_hd_2zhounian_di1_likuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{971,137},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>pic_hd_2zhounian_di2_touxiangkongque.png</key>
		<dict>
			<key>frame</key>
			<string>{{715,2},{275,92}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{275,92}}</string>
			<key>sourceSize</key>
			<string>{277,94}</string>
		</dict>
		<key>pic_hd_2zhounian_di3.png</key>
		<dict>
			<key>frame</key>
			<string>{{694,114},{13,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,12}}</string>
			<key>sourceSize</key>
			<string>{13,12}</string>
		</dict>
		<key>pic_hd_2zhounian_jueseming_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{971,96},{39,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,19}}</string>
			<key>sourceSize</key>
			<string>{39,19}</string>
		</dict>
		<key>pic_hd_2zhounian_xyc_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{388,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{388,162}}</string>
			<key>sourceSize</key>
			<string>{388,162}</string>
		</dict>
		<key>pic_hd_2zhounian_xyc_youdiban02.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,58},{321,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{321,54}}</string>
			<key>sourceSize</key>
			<string>{321,54}</string>
		</dict>
		<key>pic_tiaozhan_smmb_zidi1.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,2},{321,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{321,54}}</string>
			<key>sourceSize</key>
			<string>{321,54}</string>
		</dict>
		<key>pic_tiaozhan_smmb_zidi2.png</key>
		<dict>
			<key>frame</key>
			<string>{{715,96},{188,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,31}}</string>
			<key>sourceSize</key>
			<string>{188,31}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ActivityTwoYears20.png</string>
		<key>size</key>
		<string>{992,175}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ActivityTwoYears20.png</string>
	</dict>
</dict>
</plist>
