<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>cjxkgs_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,231},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>dgxx_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{105,823},{51,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,19}}</string>
			<key>sourceSize</key>
			<string>{51,19}</string>
		</dict>
		<key>dideng01_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{135,500},{39,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,9}}</string>
			<key>sourceSize</key>
			<string>{39,9}</string>
		</dict>
		<key>dideng02_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,990},{26,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,9}}</string>
			<key>sourceSize</key>
			<string>{26,9}</string>
		</dict>
		<key>guangt01_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{24,754},{163,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,51}}</string>
			<key>sourceSize</key>
			<string>{163,51}</string>
		</dict>
		<key>ld_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,216},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>mask1_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{24,521},{114,231}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,231}}</string>
			<key>sourceSize</key>
			<string>{114,231}</string>
		</dict>
		<key>mask2_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,966},{22,252}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,252}}</string>
			<key>sourceSize</key>
			<string>{22,252}</string>
		</dict>
		<key>mask3_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,807},{30,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,54}}</string>
			<key>sourceSize</key>
			<string>{30,54}</string>
		</dict>
		<key>mask4_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,990},{22,239}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,239}}</string>
			<key>sourceSize</key>
			<string>{22,239}</string>
		</dict>
		<key>mask5_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,849},{249,115}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{249,115}}</string>
			<key>sourceSize</key>
			<string>{251,115}</string>
		</dict>
		<key>mask6_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{517,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{517,76}}</string>
			<key>sourceSize</key>
			<string>{517,76}</string>
		</dict>
		<key>mask7_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,521},{326,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{326,20}}</string>
			<key>sourceSize</key>
			<string>{326,20}</string>
		</dict>
		<key>mask8_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,500},{53,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,14}}</string>
			<key>sourceSize</key>
			<string>{53,14}</string>
		</dict>
		<key>mask9_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{105,807},{56,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,14}}</string>
			<key>sourceSize</key>
			<string>{56,14}</string>
		</dict>
		<key>na01_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,109},{34,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,46}}</string>
			<key>sourceSize</key>
			<string>{34,46}</string>
		</dict>
		<key>na02_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{24,807},{38,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,79}}</string>
			<key>sourceSize</key>
			<string>{38,79}</string>
		</dict>
		<key>na03_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,704},{42,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,80}}</string>
			<key>sourceSize</key>
			<string>{42,80}</string>
		</dict>
		<key>na04_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,609},{42,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,93}}</string>
			<key>sourceSize</key>
			<string>{42,93}</string>
		</dict>
		<key>na05_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,511},{42,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,96}}</string>
			<key>sourceSize</key>
			<string>{42,96}</string>
		</dict>
		<key>na06_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,2},{42,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,105}}</string>
			<key>sourceSize</key>
			<string>{42,105}</string>
		</dict>
		<key>na07_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,456},{42,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,118}}</string>
			<key>sourceSize</key>
			<string>{42,118}</string>
		</dict>
		<key>na08_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,411},{43,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,118}}</string>
			<key>sourceSize</key>
			<string>{43,118}</string>
		</dict>
		<key>na09_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,245},{43,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,119}}</string>
			<key>sourceSize</key>
			<string>{43,119}</string>
		</dict>
		<key>na10_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,124},{43,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,119}}</string>
			<key>sourceSize</key>
			<string>{43,119}</string>
		</dict>
		<key>na11_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,366},{43,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,118}}</string>
			<key>sourceSize</key>
			<string>{43,118}</string>
		</dict>
		<key>na12_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,109},{43,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,105}}</string>
			<key>sourceSize</key>
			<string>{43,105}</string>
		</dict>
		<key>na13_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,297},{43,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,105}}</string>
			<key>sourceSize</key>
			<string>{43,105}</string>
		</dict>
		<key>na14_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,2},{43,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,105}}</string>
			<key>sourceSize</key>
			<string>{43,105}</string>
		</dict>
		<key>na15_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,124},{43,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,105}}</string>
			<key>sourceSize</key>
			<string>{43,105}</string>
		</dict>
		<key>na16_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{191,216},{43,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,75}}</string>
			<key>sourceSize</key>
			<string>{43,75}</string>
		</dict>
		<key>na17_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,157},{41,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,36}}</string>
			<key>sourceSize</key>
			<string>{41,36}</string>
		</dict>
		<key>sg_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,2},{83,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,120}}</string>
			<key>sourceSize</key>
			<string>{83,120}</string>
		</dict>
		<key>xr_dyzllsdimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,748},{27,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,40}}</string>
			<key>sourceSize</key>
			<string>{27,40}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>dyzllsdimage.png</string>
		<key>size</key>
		<string>{256,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dyzllsdimage.png</string>
	</dict>
</dict>
</plist>
