<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_main_czlb_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1428,316},{78,96}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,0},{78,96}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>btn_main_czlb_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1326,316},{78,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,0},{78,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>btn_sjlb_gb_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1062,428},{88,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,50}}</string>
			<key>sourceSize</key>
			<string>{88,50}</string>
		</dict>
		<key>btn_sjlb_gb_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1407,414},{88,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,50}}</string>
			<key>sourceSize</key>
			<string>{88,50}</string>
		</dict>
		<key>pic_sjlb_bgkuang01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1336,2},{206,312}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,312}}</string>
			<key>sourceSize</key>
			<string>{206,312}</string>
		</dict>
		<key>pic_sjlb_bgkuang02.png</key>
		<dict>
			<key>frame</key>
			<string>{{796,330},{480,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{480,56}}</string>
			<key>sourceSize</key>
			<string>{480,56}</string>
		</dict>
		<key>pic_sjlb_bgkuang03.png</key>
		<dict>
			<key>frame</key>
			<string>{{796,2},{538,257}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{538,257}}</string>
			<key>sourceSize</key>
			<string>{538,257}</string>
		</dict>
		<key>pic_sjlb_bigbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{792,476}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{792,476}}</string>
			<key>sourceSize</key>
			<string>{792,476}</string>
		</dict>
		<key>pic_sjlb_buy_shuzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{796,428},{264,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{264,35}}</string>
			<key>sourceSize</key>
			<string>{270,35}</string>
		</dict>
		<key>pic_sjlb_dengji_shuzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{796,261},{528,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{528,67}}</string>
			<key>sourceSize</key>
			<string>{528,67}</string>
		</dict>
		<key>pic_sjlb_dengji_shuzibg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1175,388},{62,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,79}}</string>
			<key>sourceSize</key>
			<string>{62,79}</string>
		</dict>
		<key>pic_sjlb_fanye_bgkuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1508,408},{44,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,16}}</string>
			<key>sourceSize</key>
			<string>{44,16}</string>
		</dict>
		<key>pic_sjlb_fanye_jiantou.png</key>
		<dict>
			<key>frame</key>
			<string>{{1315,396},{78,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,90}}</string>
			<key>sourceSize</key>
			<string>{78,90}</string>
		</dict>
		<key>pic_sjlb_fanye_lightpoint.png</key>
		<dict>
			<key>frame</key>
			<string>{{1278,372},{35,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,35}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>pic_sjlb_fanye_point.png</key>
		<dict>
			<key>frame</key>
			<string>{{1526,408},{13,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,13}}</string>
			<key>sourceSize</key>
			<string>{13,13}</string>
		</dict>
		<key>pic_sjlb_wenzi_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{796,388},{377,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{377,38}}</string>
			<key>sourceSize</key>
			<string>{377,38}</string>
		</dict>
		<key>pic_sjlb_wenzi_dj.png</key>
		<dict>
			<key>frame</key>
			<string>{{1256,409},{32,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,25}}</string>
			<key>sourceSize</key>
			<string>{32,25}</string>
		</dict>
		<key>pic_sjlb_wenzi_jsdjs.png</key>
		<dict>
			<key>frame</key>
			<string>{{1508,316},{90,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,0},{90,22}}</string>
			<key>sourceSize</key>
			<string>{106,22}</string>
		</dict>
		<key>pic_sjlb_wenzi_rmb.png</key>
		<dict>
			<key>frame</key>
			<string>{{1278,330},{40,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,35}}</string>
			<key>sourceSize</key>
			<string>{40,35}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>GradeDirectPurchaseGift0.png</string>
		<key>size</key>
		<string>{1544,480}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>GradeDirectPurchaseGift0.png</string>
	</dict>
</dict>
</plist>
