<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>biaoti_nzzdjsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,370},{229,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{229,64}}</string>
			<key>sourceSize</key>
			<string>{229,64}</string>
		</dict>
		<key>di_nzzdjsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{568,374}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{568,374}}</string>
			<key>sourceSize</key>
			<string>{568,374}</string>
		</dict>
		<key>dian_nzzdjsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,2},{124,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,124}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>quanA_nzzdjsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,572},{177,185}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,185}}</string>
			<key>sourceSize</key>
			<string>{177,185}</string>
		</dict>
		<key>quanB_nzzdjsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,572},{138,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,145}}</string>
			<key>sourceSize</key>
			<string>{138,145}</string>
		</dict>
		<key>xian_nzzdjsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{504,2},{519,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{519,5}}</string>
			<key>sourceSize</key>
			<string>{519,5}</string>
		</dict>
		<key>xiandian_nzzdjsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,128},{240,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,73}}</string>
			<key>sourceSize</key>
			<string>{240,73}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>nzzdjsimage.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>nzzdjsimage.png</string>
	</dict>
</dict>
</plist>
