<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>largepic_100225.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{786,636}}</string>
			<key>offset</key>
			<string>{34,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{77,4},{786,636}}</string>
			<key>sourceSize</key>
			<string>{872,640}</string>
		</dict>
		<key>longpic_100225.png</key>
		<dict>
			<key>frame</key>
			<string>{{790,43},{175,288}}</string>
			<key>offset</key>
			<string>{-9,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,288}}</string>
			<key>sourceSize</key>
			<string>{193,288}</string>
		</dict>
		<key>middlepic_100225.png</key>
		<dict>
			<key>frame</key>
			<string>{{790,333},{119,71}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,0},{119,71}}</string>
			<key>sourceSize</key>
			<string>{183,71}</string>
		</dict>
		<key>namepic_100225.png</key>
		<dict>
			<key>frame</key>
			<string>{{790,406},{488,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{488,101}}</string>
			<key>sourceSize</key>
			<string>{488,101}</string>
		</dict>
		<key>skillmaxpic_100225.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,347},{302,52}}</string>
			<key>offset</key>
			<string>{-9,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{302,52}}</string>
			<key>sourceSize</key>
			<string>{320,56}</string>
		</dict>
		<key>skillmaxpic_10022501.png</key>
		<dict>
			<key>frame</key>
			<string>{{893,625},{272,52}}</string>
			<key>offset</key>
			<string>{-25,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{272,52}}</string>
			<key>sourceSize</key>
			<string>{322,56}</string>
		</dict>
		<key>skillnamepic_100225.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,651},{252,39}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,0},{252,39}}</string>
			<key>sourceSize</key>
			<string>{292,39}</string>
		</dict>
		<key>skillnamepic_10022501.png</key>
		<dict>
			<key>frame</key>
			<string>{{790,2},{206,39}}</string>
			<key>offset</key>
			<string>{12,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{55,0},{206,39}}</string>
			<key>sourceSize</key>
			<string>{292,39}</string>
		</dict>
		<key>skillsmaxpic_100225.png</key>
		<dict>
			<key>frame</key>
			<string>{{967,43},{302,53}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{302,53}}</string>
			<key>sourceSize</key>
			<string>{302,59}</string>
		</dict>
		<key>skillsmaxpic_10022501.png</key>
		<dict>
			<key>frame</key>
			<string>{{911,333},{290,53}}</string>
			<key>offset</key>
			<string>{-6,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{290,53}}</string>
			<key>sourceSize</key>
			<string>{302,59}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>heros_100225.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>heros_100225.png</string>
	</dict>
</dict>
</plist>
