<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>b_yigebu10_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,162},{216,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,101}}</string>
			<key>sourceSize</key>
			<string>{216,101}</string>
		</dict>
		<key>b_yigebu11_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,128},{226,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,122}}</string>
			<key>sourceSize</key>
			<string>{226,122}</string>
		</dict>
		<key>b_yigebu12_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,2},{226,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,124}}</string>
			<key>sourceSize</key>
			<string>{226,124}</string>
		</dict>
		<key>b_yigebu13_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{458,2},{226,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,158}}</string>
			<key>sourceSize</key>
			<string>{226,158}</string>
		</dict>
		<key>b_yigebu14_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,2},{226,186}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,186}}</string>
			<key>sourceSize</key>
			<string>{226,186}</string>
		</dict>
		<key>b_yigebu15_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{226,218}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,218}}</string>
			<key>sourceSize</key>
			<string>{226,218}</string>
		</dict>
		<key>b_yigebu16_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,477},{210,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,210}}</string>
			<key>sourceSize</key>
			<string>{210,210}</string>
		</dict>
		<key>b_yigebu17_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,190},{215,210}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,0},{215,210}}</string>
			<key>sourceSize</key>
			<string>{227,210}</string>
		</dict>
		<key>b_yigebu18_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,434},{210,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,210}}</string>
			<key>sourceSize</key>
			<string>{210,210}</string>
		</dict>
		<key>b_yigebu19_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,402},{210,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,210}}</string>
			<key>sourceSize</key>
			<string>{210,210}</string>
		</dict>
		<key>b_yigebu20_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{659,464},{210,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,210}}</string>
			<key>sourceSize</key>
			<string>{210,210}</string>
		</dict>
		<key>b_yigebu21_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,265},{210,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,210}}</string>
			<key>sourceSize</key>
			<string>{210,210}</string>
		</dict>
		<key>b_yigebu22_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{676,252},{210,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,210}}</string>
			<key>sourceSize</key>
			<string>{210,210}</string>
		</dict>
		<key>b_yigebu23_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,222},{210,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,210}}</string>
			<key>sourceSize</key>
			<string>{210,210}</string>
		</dict>
		<key>b_yigebu24_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,896},{44,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,31}}</string>
			<key>sourceSize</key>
			<string>{44,31}</string>
		</dict>
		<key>b_yigebu25_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{888,252},{16,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,21}}</string>
			<key>sourceSize</key>
			<string>{16,21}</string>
		</dict>
		<key>b_yigebu26_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{659,265},{25,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,15}}</string>
			<key>sourceSize</key>
			<string>{25,15}</string>
		</dict>
		<key>b_yigebu27_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{995,755},{27,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,39}}</string>
			<key>sourceSize</key>
			<string>{27,39}</string>
		</dict>
		<key>b_yigebu28_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,899},{39,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,48}}</string>
			<key>sourceSize</key>
			<string>{39,48}</string>
		</dict>
		<key>b_yigebu29_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{544,790},{24,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,54}}</string>
			<key>sourceSize</key>
			<string>{24,54}</string>
		</dict>
		<key>b_yigebu30_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,126},{104,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,104}}</string>
			<key>sourceSize</key>
			<string>{104,104}</string>
		</dict>
		<key>b_yigebu31_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{269,764},{68,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,74}}</string>
			<key>sourceSize</key>
			<string>{68,74}</string>
		</dict>
		<key>b_yigebu32_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{547,928},{73,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,66}}</string>
			<key>sourceSize</key>
			<string>{73,66}</string>
		</dict>
		<key>b_yigebu33_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,963},{59,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,63}}</string>
			<key>sourceSize</key>
			<string>{59,63}</string>
		</dict>
		<key>b_yigebu34_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,837},{57,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,57}}</string>
			<key>sourceSize</key>
			<string>{57,57}</string>
		</dict>
		<key>b_yigebu35_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{888,293},{91,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,134}}</string>
			<key>sourceSize</key>
			<string>{91,134}</string>
		</dict>
		<key>b_yigebu36_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,755},{80,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,123}}</string>
			<key>sourceSize</key>
			<string>{80,123}</string>
		</dict>
		<key>b_yigebu8_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,689},{127,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,41}}</string>
			<key>sourceSize</key>
			<string>{127,41}</string>
		</dict>
		<key>b_yigebu9_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,614},{186,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,77}}</string>
			<key>sourceSize</key>
			<string>{186,77}</string>
		</dict>
		<key>b_yigebub34_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,688},{65,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,127}}</string>
			<key>sourceSize</key>
			<string>{65,127}</string>
		</dict>
		<key>b_yigebud22_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{678,896},{28,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,39}}</string>
			<key>sourceSize</key>
			<string>{28,39}</string>
		</dict>
		<key>b_yigebud23_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{888,270},{20,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,19}}</string>
			<key>sourceSize</key>
			<string>{20,19}</string>
		</dict>
		<key>b_yigebufazhen1_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{888,439},{134,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,51}}</string>
			<key>sourceSize</key>
			<string>{134,51}</string>
		</dict>
		<key>b_yigebufazhen2_yudazhaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{888,386},{134,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,51}}</string>
			<key>sourceSize</key>
			<string>{134,51}</string>
		</dict>
		<key>y_bs10_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,804},{36,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,34}}</string>
			<key>sourceSize</key>
			<string>{36,34}</string>
		</dict>
		<key>y_bs12_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{995,796},{43,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,25}}</string>
			<key>sourceSize</key>
			<string>{43,25}</string>
		</dict>
		<key>y_bs13_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{524,896},{48,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,30}}</string>
			<key>sourceSize</key>
			<string>{48,30}</string>
		</dict>
		<key>y_bs14_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{637,757},{29,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,41}}</string>
			<key>sourceSize</key>
			<string>{29,41}</string>
		</dict>
		<key>y_bs16_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,402},{47,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,18}}</string>
			<key>sourceSize</key>
			<string>{47,18}</string>
		</dict>
		<key>y_bs18_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{878,932},{39,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,45}}</string>
			<key>sourceSize</key>
			<string>{39,45}</string>
		</dict>
		<key>y_bs19_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{574,896},{38,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,29}}</string>
			<key>sourceSize</key>
			<string>{38,29}</string>
		</dict>
		<key>y_bs1_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{771,676},{69,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,98}}</string>
			<key>sourceSize</key>
			<string>{69,98}</string>
		</dict>
		<key>y_bs20_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,804},{34,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,40}}</string>
			<key>sourceSize</key>
			<string>{34,40}</string>
		</dict>
		<key>y_bs3_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,788},{39,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,37}}</string>
			<key>sourceSize</key>
			<string>{39,37}</string>
		</dict>
		<key>y_bs7_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,868},{36,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,41}}</string>
			<key>sourceSize</key>
			<string>{36,41}</string>
		</dict>
		<key>y_bs8_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{530,748},{40,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,41}}</string>
			<key>sourceSize</key>
			<string>{40,41}</string>
		</dict>
		<key>y_bs9_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,804},{32,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,29}}</string>
			<key>sourceSize</key>
			<string>{32,29}</string>
		</dict>
		<key>y_ygcmp10_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,792},{69,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,43}}</string>
			<key>sourceSize</key>
			<string>{69,43}</string>
		</dict>
		<key>y_ygcmp11_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,732},{74,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,56}}</string>
			<key>sourceSize</key>
			<string>{74,56}</string>
		</dict>
		<key>y_ygcmp1_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,938},{81,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,31}}</string>
			<key>sourceSize</key>
			<string>{81,31}</string>
		</dict>
		<key>y_ygcmp2_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{614,896},{62,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,28}}</string>
			<key>sourceSize</key>
			<string>{62,28}</string>
		</dict>
		<key>y_ygcmp6_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,804},{35,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,57}}</string>
			<key>sourceSize</key>
			<string>{35,57}</string>
		</dict>
		<key>y_ygcmp7_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,958},{64,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,62}}</string>
			<key>sourceSize</key>
			<string>{64,62}</string>
		</dict>
		<key>y_ygcmp8_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{531,689},{104,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,57}}</string>
			<key>sourceSize</key>
			<string>{104,57}</string>
		</dict>
		<key>y_ygcmp9_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{740,899},{43,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,44}}</string>
			<key>sourceSize</key>
			<string>{43,44}</string>
		</dict>
		<key>y_ygcmpb10_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{680,757},{78,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,38}}</string>
			<key>sourceSize</key>
			<string>{78,38}</string>
		</dict>
		<key>y_ygcmpb2_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{680,797},{78,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,28}}</string>
			<key>sourceSize</key>
			<string>{78,28}</string>
		</dict>
		<key>y_ygcmpb3_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{936,837},{55,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,46}}</string>
			<key>sourceSize</key>
			<string>{55,46}</string>
		</dict>
		<key>y_ygcmpb4_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,804},{62,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,36}}</string>
			<key>sourceSize</key>
			<string>{62,36}</string>
		</dict>
		<key>y_ygcmpb5_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{573,748},{42,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,62}}</string>
			<key>sourceSize</key>
			<string>{42,62}</string>
		</dict>
		<key>y_ygcmpb6_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,841},{118,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,78}}</string>
			<key>sourceSize</key>
			<string>{118,78}</string>
		</dict>
		<key>y_ygcmpb7_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,596},{90,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,136}}</string>
			<key>sourceSize</key>
			<string>{90,136}</string>
		</dict>
		<key>y_ygcmpb9_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,693},{111,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,69}}</string>
			<key>sourceSize</key>
			<string>{111,69}</string>
		</dict>
		<key>y_yige11_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,938},{81,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,51}}</string>
			<key>sourceSize</key>
			<string>{81,51}</string>
		</dict>
		<key>y_yige12_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,837},{64,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,47}}</string>
			<key>sourceSize</key>
			<string>{64,47}</string>
		</dict>
		<key>y_yige13_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,764},{65,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,60}}</string>
			<key>sourceSize</key>
			<string>{65,60}</string>
		</dict>
		<key>y_yige14_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,708},{94,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,58}}</string>
			<key>sourceSize</key>
			<string>{94,58}</string>
		</dict>
		<key>y_yige15_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{760,804},{70,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,44}}</string>
			<key>sourceSize</key>
			<string>{70,44}</string>
		</dict>
		<key>y_yige16_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,966},{75,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,56}}</string>
			<key>sourceSize</key>
			<string>{75,56}</string>
		</dict>
		<key>y_yige17_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,929},{78,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,55}}</string>
			<key>sourceSize</key>
			<string>{78,55}</string>
		</dict>
		<key>y_yige21_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{740,945},{46,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,55}}</string>
			<key>sourceSize</key>
			<string>{46,55}</string>
		</dict>
		<key>y_yige23_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,66},{106,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,58}}</string>
			<key>sourceSize</key>
			<string>{106,58}</string>
		</dict>
		<key>y_yige26_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,841},{95,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,90}}</string>
			<key>sourceSize</key>
			<string>{95,90}</string>
		</dict>
		<key>y_yige27_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{337,841},{95,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,80}}</string>
			<key>sourceSize</key>
			<string>{95,80}</string>
		</dict>
		<key>y_yige28_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,232},{104,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,59}}</string>
			<key>sourceSize</key>
			<string>{104,59}</string>
		</dict>
		<key>y_yige29_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,754},{45,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,45}}</string>
			<key>sourceSize</key>
			<string>{45,45}</string>
		</dict>
		<key>y_yige30_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{759,850},{69,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,47}}</string>
			<key>sourceSize</key>
			<string>{69,47}</string>
		</dict>
		<key>y_yige31_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,949},{55,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,45}}</string>
			<key>sourceSize</key>
			<string>{55,45}</string>
		</dict>
		<key>y_yige3_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,790},{88,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,49}}</string>
			<key>sourceSize</key>
			<string>{88,49}</string>
		</dict>
		<key>y_yige6_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,945},{53,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,41}}</string>
			<key>sourceSize</key>
			<string>{53,41}</string>
		</dict>
		<key>y_yige8_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,932},{78,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,55}}</string>
			<key>sourceSize</key>
			<string>{78,55}</string>
		</dict>
		<key>y_yige9_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{683,926},{71,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,55}}</string>
			<key>sourceSize</key>
			<string>{71,55}</string>
		</dict>
		<key>y_yiget10_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{637,720},{127,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,35}}</string>
			<key>sourceSize</key>
			<string>{127,35}</string>
		</dict>
		<key>y_yiget11_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,841},{123,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,45}}</string>
			<key>sourceSize</key>
			<string>{123,45}</string>
		</dict>
		<key>y_yiget12_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,841},{115,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,45}}</string>
			<key>sourceSize</key>
			<string>{115,45}</string>
		</dict>
		<key>y_yiget13_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,841},{120,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,67}}</string>
			<key>sourceSize</key>
			<string>{120,67}</string>
		</dict>
		<key>y_yiget14_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,693},{109,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,53}}</string>
			<key>sourceSize</key>
			<string>{109,53}</string>
		</dict>
		<key>y_yiget15_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,841},{64,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,53}}</string>
			<key>sourceSize</key>
			<string>{64,53}</string>
		</dict>
		<key>y_yiget16_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,841},{71,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,53}}</string>
			<key>sourceSize</key>
			<string>{71,53}</string>
		</dict>
		<key>y_yiget17_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,961},{78,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,61}}</string>
			<key>sourceSize</key>
			<string>{78,61}</string>
		</dict>
		<key>y_yiget18_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{936,885},{60,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,58}}</string>
			<key>sourceSize</key>
			<string>{60,58}</string>
		</dict>
		<key>y_yiget19_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,646},{60,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,50}}</string>
			<key>sourceSize</key>
			<string>{60,50}</string>
		</dict>
		<key>y_yiget20_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,754},{85,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,41}}</string>
			<key>sourceSize</key>
			<string>{85,41}</string>
		</dict>
		<key>y_yiget21_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{45,757},{82,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,44}}</string>
			<key>sourceSize</key>
			<string>{82,44}</string>
		</dict>
		<key>y_yiget22_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{868,886},{59,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,44}}</string>
			<key>sourceSize</key>
			<string>{59,44}</string>
		</dict>
		<key>y_yiget23_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,841},{89,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,57}}</string>
			<key>sourceSize</key>
			<string>{89,57}</string>
		</dict>
		<key>y_yiget24_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{766,747},{102,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,55}}</string>
			<key>sourceSize</key>
			<string>{102,55}</string>
		</dict>
		<key>y_yiget25_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,829},{43,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,65}}</string>
			<key>sourceSize</key>
			<string>{43,65}</string>
		</dict>
		<key>y_yiget26_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{615,926},{71,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,66}}</string>
			<key>sourceSize</key>
			<string>{71,66}</string>
		</dict>
		<key>y_yigeti1_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,703},{134,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,49}}</string>
			<key>sourceSize</key>
			<string>{134,49}</string>
		</dict>
		<key>y_yigeti2_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,548},{138,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{138,46}}</string>
			<key>sourceSize</key>
			<string>{138,46}</string>
		</dict>
		<key>y_yigeti3_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{914,2},{106,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,62}}</string>
			<key>sourceSize</key>
			<string>{106,62}</string>
		</dict>
		<key>y_yigeti4_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,492},{148,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{148,54}}</string>
			<key>sourceSize</key>
			<string>{148,54}</string>
		</dict>
		<key>y_yigeti6_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,748},{91,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,51}}</string>
			<key>sourceSize</key>
			<string>{91,51}</string>
		</dict>
		<key>y_yigeti7_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,938},{83,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,57}}</string>
			<key>sourceSize</key>
			<string>{83,57}</string>
		</dict>
		<key>y_yigeti8_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,646},{158,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,55}}</string>
			<key>sourceSize</key>
			<string>{158,55}</string>
		</dict>
		<key>y_yigeti9_yigedongbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,676},{131,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,42}}</string>
			<key>sourceSize</key>
			<string>{131,42}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA4444</string>
		<key>realTextureFileName</key>
		<string>yigenizibugroup.png</string>
		<key>scale</key>
		<real>0.7</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>yigenizibugroup.png</string>
	</dict>
</dict>
</plist>
