<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_2_00043.png</key>
		<dict>
			<key>frame</key>
			<string>{{637,429},{63,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,61}}</string>
			<key>sourceSize</key>
			<string>{63,61}</string>
		</dict>
		<key>New_3_00043.png</key>
		<dict>
			<key>frame</key>
			<string>{{571,429},{65,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,63}}</string>
			<key>sourceSize</key>
			<string>{65,63}</string>
		</dict>
		<key>New_3_00045.png</key>
		<dict>
			<key>frame</key>
			<string>{{625,705},{112,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{112,115}}</string>
			<key>sourceSize</key>
			<string>{116,115}</string>
		</dict>
		<key>New_3_00048.png</key>
		<dict>
			<key>frame</key>
			<string>{{625,821},{108,96}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{108,96}}</string>
			<key>sourceSize</key>
			<string>{108,98}</string>
		</dict>
		<key>New_bsy_daiji_huoyan_00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,930},{90,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,125}}</string>
			<key>sourceSize</key>
			<string>{90,125}</string>
		</dict>
		<key>New_bsy_daiji_huoyan_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{864,930},{90,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,124}}</string>
			<key>sourceSize</key>
			<string>{90,124}</string>
		</dict>
		<key>New_bsy_daiji_huoyan_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{929,277},{92,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,129}}</string>
			<key>sourceSize</key>
			<string>{92,129}</string>
		</dict>
		<key>New_bsy_daiji_huoyan_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{929,601},{90,117}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,117}}</string>
			<key>sourceSize</key>
			<string>{92,117}</string>
		</dict>
		<key>New_bsy_daiji_yanguang_00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,978},{52,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,40}}</string>
			<key>sourceSize</key>
			<string>{52,40}</string>
		</dict>
		<key>New_bsy_daiji_yanguang_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,977},{51,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,40}}</string>
			<key>sourceSize</key>
			<string>{51,40}</string>
		</dict>
		<key>New_bsy_daiji_yanguang_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,978},{53,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,41}}</string>
			<key>sourceSize</key>
			<string>{53,41}</string>
		</dict>
		<key>New_bsy_daiji_yanguang_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{39,978},{54,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,41}}</string>
			<key>sourceSize</key>
			<string>{54,41}</string>
		</dict>
		<key>New_bsy_daiji_yanguang_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,977},{53,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,39}}</string>
			<key>sourceSize</key>
			<string>{53,39}</string>
		</dict>
		<key>New_bsy_lmbs_baozha1_00107.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,260},{257,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{257,179}}</string>
			<key>sourceSize</key>
			<string>{257,179}</string>
		</dict>
		<key>New_bsy_lmbs_baozha1_00124.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,753},{223,194}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{223,194}}</string>
			<key>sourceSize</key>
			<string>{223,194}</string>
		</dict>
		<key>New_bsy_lmbs_baozha1_00129.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,2},{224,168}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,168}}</string>
			<key>sourceSize</key>
			<string>{224,170}</string>
		</dict>
		<key>New_bsy_lmbs_baozha1_00131.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,216},{212,164}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{212,164}}</string>
			<key>sourceSize</key>
			<string>{220,170}</string>
		</dict>
		<key>New_bsy_lmbs_baozha1_00133.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,712},{217,172}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{217,172}}</string>
			<key>sourceSize</key>
			<string>{217,172}</string>
		</dict>
		<key>New_bsy_lmbs_baozha1_00135.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,493},{218,166}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,10},{218,166}}</string>
			<key>sourceSize</key>
			<string>{218,176}</string>
		</dict>
		<key>New_bsy_lmbs_baozha1_00137.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,493},{223,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{223,170}}</string>
			<key>sourceSize</key>
			<string>{223,170}</string>
		</dict>
		<key>New_bsy_lmbs_baozha1_00138.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,753},{224,158}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{224,158}}</string>
			<key>sourceSize</key>
			<string>{224,160}</string>
		</dict>
		<key>New_bsy_lmbs_baozha1_00142.png</key>
		<dict>
			<key>frame</key>
			<string>{{555,493},{211,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,162}}</string>
			<key>sourceSize</key>
			<string>{211,162}</string>
		</dict>
		<key>New_bsy_lmbs_baozha2huoyan2_00215.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,717},{95,219}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,219}}</string>
			<key>sourceSize</key>
			<string>{95,219}</string>
		</dict>
		<key>New_bsy_lmbs_dazhuahen1_00124.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,227},{105,217}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{105,217}}</string>
			<key>sourceSize</key>
			<string>{105,221}</string>
		</dict>
		<key>New_bsy_lmbs_dazhuahen2_00142.png</key>
		<dict>
			<key>frame</key>
			<string>{{735,2},{193,208}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,208}}</string>
			<key>sourceSize</key>
			<string>{193,208}</string>
		</dict>
		<key>New_bsy_lmbs_shizhiguang_00269.png</key>
		<dict>
			<key>frame</key>
			<string>{{523,2},{211,211}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,211}}</string>
			<key>sourceSize</key>
			<string>{211,211}</string>
		</dict>
		<key>New_bsy_lmbs_shizhiguang_00271.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{257,257}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{257,257}}</string>
			<key>sourceSize</key>
			<string>{257,257}</string>
		</dict>
		<key>New_bsy_lmbs_shizhiguang_00274.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,761},{55,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,53}}</string>
			<key>sourceSize</key>
			<string>{55,53}</string>
		</dict>
		<key>New_bsy_lmbs_zhuahen3_00057.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,978},{42,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,36}}</string>
			<key>sourceSize</key>
			<string>{42,36}</string>
		</dict>
		<key>New_bsy_lmbs_zhuahen4_00071.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,977},{103,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,34}}</string>
			<key>sourceSize</key>
			<string>{103,34}</string>
		</dict>
		<key>New_bsy_ptbx_shoubuhuoyan2_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,260},{209,232}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,232}}</string>
			<key>sourceSize</key>
			<string>{209,232}</string>
		</dict>
		<key>New_bsy_ptbx_shoubutuowei_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,2},{213,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,93}}</string>
			<key>sourceSize</key>
			<string>{213,93}</string>
		</dict>
		<key>New_bsy_ptbx_shoubutuowei_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{663,214},{209,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,94}}</string>
			<key>sourceSize</key>
			<string>{209,94}</string>
		</dict>
		<key>New_bsy_ptbx_shoubutuowei_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{527,930},{210,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,92}}</string>
			<key>sourceSize</key>
			<string>{210,92}</string>
		</dict>
		<key>New_bsy_ptbx_shoubutuowei_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{722,821},{108,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,73}}</string>
			<key>sourceSize</key>
			<string>{108,73}</string>
		</dict>
		<key>New_bsy_ptbx_shoujibaozhahuoyan_00074.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,518},{214,234}}</string>
			<key>offset</key>
			<string>{11,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,0},{214,234}}</string>
			<key>sourceSize</key>
			<string>{242,234}</string>
		</dict>
		<key>New_bsy_ptbx_shoujiguang_00050.png</key>
		<dict>
			<key>frame</key>
			<string>{{771,402},{157,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,156}}</string>
			<key>sourceSize</key>
			<string>{157,156}</string>
		</dict>
		<key>New_bsy_ptbx_shoujiguang_00071.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,573},{190,187}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,187}}</string>
			<key>sourceSize</key>
			<string>{190,187}</string>
		</dict>
		<key>New_bsy_ptbx_shoujihuoyan_00070.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,937},{115,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,85}}</string>
			<key>sourceSize</key>
			<string>{115,85}</string>
		</dict>
		<key>New_bsy_xjn_gongji1xia_00034.png</key>
		<dict>
			<key>frame</key>
			<string>{{699,424},{71,68}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{71,68}}</string>
			<key>sourceSize</key>
			<string>{71,70}</string>
		</dict>
		<key>New_bsy_xjn_gongji1xia_00043.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,429},{72,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,63}}</string>
			<key>sourceSize</key>
			<string>{72,63}</string>
		</dict>
		<key>New_bsy_xjn_gongji3bo_00100.png</key>
		<dict>
			<key>frame</key>
			<string>{{718,493},{79,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,52}}</string>
			<key>sourceSize</key>
			<string>{79,52}</string>
		</dict>
		<key>New_bsy_xjn_gongji3bo_00106.png</key>
		<dict>
			<key>frame</key>
			<string>{{929,407},{193,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,90}}</string>
			<key>sourceSize</key>
			<string>{193,90}</string>
		</dict>
		<key>New_bsy_xjn_gongji3huoyan_00119.png</key>
		<dict>
			<key>frame</key>
			<string>{{758,211},{190,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,170}}</string>
			<key>sourceSize</key>
			<string>{190,170}</string>
		</dict>
		<key>New_bsy_xjn_gongji3huoyan_00123.png</key>
		<dict>
			<key>frame</key>
			<string>{{796,761},{185,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,168}}</string>
			<key>sourceSize</key>
			<string>{185,168}</string>
		</dict>
		<key>New_bsy_xjn_shoubutuowei2_00057.png</key>
		<dict>
			<key>frame</key>
			<string>{{929,2},{93,172}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,172}}</string>
			<key>sourceSize</key>
			<string>{93,172}</string>
		</dict>
		<key>ty_huohua1.png</key>
		<dict>
			<key>frame</key>
			<string>{{929,175},{101,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,93}}</string>
			<key>sourceSize</key>
			<string>{101,93}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>bashenshisi_common4.png</string>
		<key>scale</key>
		<real>0.66</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>bashenshisi_common4.png</string>
	</dict>
</dict>
</plist>
