<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>suoert157_suoerbsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,2},{124,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,57}}</string>
			<key>sourceSize</key>
			<string>{124,57}</string>
		</dict>
		<key>suoert158_suoerbsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,272},{129,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,61}}</string>
			<key>sourceSize</key>
			<string>{129,61}</string>
		</dict>
		<key>suoert159_suoerbsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,415},{142,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,66}}</string>
			<key>sourceSize</key>
			<string>{142,66}</string>
		</dict>
		<key>suoert160_suoerbsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,415},{156,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,77}}</string>
			<key>sourceSize</key>
			<string>{156,77}</string>
		</dict>
		<key>suoert161_suoerbsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,251},{162,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,78}}</string>
			<key>sourceSize</key>
			<string>{162,78}</string>
		</dict>
		<key>suoert162_suoerbsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,186},{175,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,84}}</string>
			<key>sourceSize</key>
			<string>{175,84}</string>
		</dict>
		<key>suoert163_suoerbsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,61},{188,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,88}}</string>
			<key>sourceSize</key>
			<string>{188,88}</string>
		</dict>
		<key>suoert164_suoerbsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{188,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,94}}</string>
			<key>sourceSize</key>
			<string>{188,94}</string>
		</dict>
		<key>suoert165_suoerbsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,2},{188,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,91}}</string>
			<key>sourceSize</key>
			<string>{188,91}</string>
		</dict>
		<key>suoert166_suoerbsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,183},{188,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,86}}</string>
			<key>sourceSize</key>
			<string>{188,86}</string>
		</dict>
		<key>suoert167_suoerbsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,98},{188,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,86}}</string>
			<key>sourceSize</key>
			<string>{188,86}</string>
		</dict>
		<key>suoert168_suoerbsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,95},{188,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,86}}</string>
			<key>sourceSize</key>
			<string>{188,86}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>suoerbsimage.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>suoerbsimage.png</string>
	</dict>
</dict>
</plist>
