<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bg_common_icon3.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,873},{1,1}}</string>
			<key>offset</key>
			<string>{-52.5,52.5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{106,106}</string>
		</dict>
		<key>btn_biaoqing_normal_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,1102},{68,54}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{68,54}}</string>
			<key>sourceSize</key>
			<string>{68,56}</string>
		</dict>
		<key>btn_biaoqing_press_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,1046},{68,54}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{68,54}}</string>
			<key>sourceSize</key>
			<string>{68,56}</string>
		</dict>
		<key>btn_chat_jiaru_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,1190},{63,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,38}}</string>
			<key>sourceSize</key>
			<string>{63,38}</string>
		</dict>
		<key>btn_chat_jiaru_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,1106},{63,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,38}}</string>
			<key>sourceSize</key>
			<string>{63,38}</string>
		</dict>
		<key>btn_laanniu_press_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,1171},{98,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,47}}</string>
			<key>sourceSize</key>
			<string>{98,47}</string>
		</dict>
		<key>btn_lananniu_normal_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,711},{99,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,47}}</string>
			<key>sourceSize</key>
			<string>{99,47}</string>
		</dict>
		<key>btn_liaotian_laba_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,568},{91,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{91,49}}</string>
			<key>sourceSize</key>
			<string>{99,49}</string>
		</dict>
		<key>btn_liaotian_laba_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,661},{89,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{89,49}}</string>
			<key>sourceSize</key>
			<string>{99,49}</string>
		</dict>
		<key>btn_ltqp_qpxz_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,591},{142,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,50}}</string>
			<key>sourceSize</key>
			<string>{142,50}</string>
		</dict>
		<key>btn_ltqp_qpxz_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,447},{142,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,53}}</string>
			<key>sourceSize</key>
			<string>{142,53}</string>
		</dict>
		<key>btn_pindao_zhuanhuan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,1318},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,38}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>btn_pindao_zhuanhuan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,1418},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,38}}</string>
			<key>sourceSize</key>
			<string>{38,38}</string>
		</dict>
		<key>btn_siliao_tongbao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,1051},{74,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,34}}</string>
			<key>sourceSize</key>
			<string>{74,34}</string>
		</dict>
		<key>btn_siliao_tongbao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,876},{74,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,34}}</string>
			<key>sourceSize</key>
			<string>{74,34}</string>
		</dict>
		<key>btn_siliao_yichuanniu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,1347},{74,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,4},{74,32}}</string>
			<key>sourceSize</key>
			<string>{88,40}</string>
		</dict>
		<key>btn_siliao_yichuanniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,1271},{74,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,4},{74,32}}</string>
			<key>sourceSize</key>
			<string>{88,40}</string>
		</dict>
		<key>btn_suoding_normal_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,953},{87,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,35}}</string>
			<key>sourceSize</key>
			<string>{87,35}</string>
		</dict>
		<key>btn_suoding_press_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,839},{87,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,35}}</string>
			<key>sourceSize</key>
			<string>{87,35}</string>
		</dict>
		<key>btn_yuyin_normal_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,990},{69,54}}</string>
			<key>offset</key>
			<string>{-3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,25},{69,54}}</string>
			<key>sourceSize</key>
			<string>{121,100}</string>
		</dict>
		<key>btn_yuyin_press_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,655},{69,54}}</string>
			<key>offset</key>
			<string>{-3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23,25},{69,54}}</string>
			<key>sourceSize</key>
			<string>{121,100}</string>
		</dict>
		<key>pic_annniujiantou_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,995},{58,174}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,174}}</string>
			<key>sourceSize</key>
			<string>{58,174}</string>
		</dict>
		<key>pic_chat_fasongshibai.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,735},{136,44}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,44}}</string>
			<key>sourceSize</key>
			<string>{138,46}</string>
		</dict>
		<key>pic_chat_timefengexian_main.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,752},{56,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{56,2}}</string>
			<key>sourceSize</key>
			<string>{58,4}</string>
		</dict>
		<key>pic_chehuitubiao_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,876},{74,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,75}}</string>
			<key>sourceSize</key>
			<string>{74,75}</string>
		</dict>
		<key>pic_dadibanditu_liaotian_biaoqingdi_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,472},{90,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,90}}</string>
			<key>sourceSize</key>
			<string>{90,90}</string>
		</dict>
		<key>pic_duiwu1_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,867},{65,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,3},{65,25}}</string>
			<key>sourceSize</key>
			<string>{79,31}</string>
		</dict>
		<key>pic_duiwu2_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,1230},{63,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{63,21}}</string>
			<key>sourceSize</key>
			<string>{63,27}</string>
		</dict>
		<key>pic_duiwutubiao_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,1351},{63,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,26}}</string>
			<key>sourceSize</key>
			<string>{63,26}</string>
		</dict>
		<key>pic_faqiliaotian_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,1271},{80,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,22}}</string>
			<key>sourceSize</key>
			<string>{80,22}</string>
		</dict>
		<key>pic_fengexian_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{36,1336},{104,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,2}}</string>
			<key>sourceSize</key>
			<string>{104,2}</string>
		</dict>
		<key>pic_global_logo.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,571},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>pic_guojipindao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1336},{120,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,32}}</string>
			<key>sourceSize</key>
			<string>{120,32}</string>
		</dict>
		<key>pic_hongchendi_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,1353},{71,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,26}}</string>
			<key>sourceSize</key>
			<string>{71,26}</string>
		</dict>
		<key>pic_jiweihaoyou_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,591},{107,28}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,10},{107,28}}</string>
			<key>sourceSize</key>
			<string>{119,46}</string>
		</dict>
		<key>pic_kezaihaoyouliebiaodianji_siliaohaoyou.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,571},{422,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{422,47}}</string>
			<key>sourceSize</key>
			<string>{422,47}</string>
		</dict>
		<key>pic_kuafu1_xinbanliaotiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,1129},{79,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{79,27}}</string>
			<key>sourceSize</key>
			<string>{79,31}</string>
		</dict>
		<key>pic_kuafu2_xinbanliaotiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,760},{77,23}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{77,23}}</string>
			<key>sourceSize</key>
			<string>{79,31}</string>
		</dict>
		<key>pic_lahei_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,1158},{93,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,26}}</string>
			<key>sourceSize</key>
			<string>{93,26}</string>
		</dict>
		<key>pic_liaotian_caitiao_da.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{567,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{567,59}}</string>
			<key>sourceSize</key>
			<string>{567,59}</string>
		</dict>
		<key>pic_liaotian_caitiao_xiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,185},{260,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{260,58}}</string>
			<key>sourceSize</key>
			<string>{260,58}</string>
		</dict>
		<key>pic_liaotian_tanchuang_zidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,1087},{64,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,40}}</string>
			<key>sourceSize</key>
			<string>{64,40}</string>
		</dict>
		<key>pic_liaotian_zi_fasong.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,472},{94,43}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{94,43}}</string>
			<key>sourceSize</key>
			<string>{98,45}</string>
		</dict>
		<key>pic_liaotiao_yeqian_kuafu.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,1253},{63,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,25}}</string>
			<key>sourceSize</key>
			<string>{63,25}</string>
		</dict>
		<key>pic_nzfy_zyz_liaotian_fuzhihuiguan_xiaobiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,752},{73,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,23}}</string>
			<key>sourceSize</key>
			<string>{73,23}</string>
		</dict>
		<key>pic_nzfy_zyz_liaotian_nanzhen_wenzi_qian.png</key>
		<dict>
			<key>frame</key>
			<string>{{189,1158},{64,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{64,30}}</string>
			<key>sourceSize</key>
			<string>{66,30}</string>
		</dict>
		<key>pic_nzfy_zyz_liaotian_nanzhen_wenzi_shen.png</key>
		<dict>
			<key>frame</key>
			<string>{{179,1301},{58,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,25}}</string>
			<key>sourceSize</key>
			<string>{58,25}</string>
		</dict>
		<key>pic_nzfy_zyz_liaotian_nanzhen_xiaobiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,1253},{63,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,26}}</string>
			<key>sourceSize</key>
			<string>{63,26}</string>
		</dict>
		<key>pic_nzfy_zyz_liaotian_zhihuiguan_xiaobiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,1335},{79,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,23}}</string>
			<key>sourceSize</key>
			<string>{79,23}</string>
		</dict>
		<key>pic_pd_kuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1171},{163,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,45}}</string>
			<key>sourceSize</key>
			<string>{163,45}</string>
		</dict>
		<key>pic_ptpd.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,1171},{106,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,34}}</string>
			<key>sourceSize</key>
			<string>{106,34}</string>
		</dict>
		<key>pic_qiecuo_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,990},{114,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,31}}</string>
			<key>sourceSize</key>
			<string>{114,31}</string>
		</dict>
		<key>pic_shetuan1_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,1158},{83,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,3},{83,25}}</string>
			<key>sourceSize</key>
			<string>{89,31}</string>
		</dict>
		<key>pic_shetuan2_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,1336},{80,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{80,22}}</string>
			<key>sourceSize</key>
			<string>{80,26}</string>
		</dict>
		<key>pic_shetuanyaoqing_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,952},{80,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,1},{80,43}}</string>
			<key>sourceSize</key>
			<string>{104,45}</string>
		</dict>
		<key>pic_shiejie1_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,997},{81,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{81,27}}</string>
			<key>sourceSize</key>
			<string>{81,31}</string>
		</dict>
		<key>pic_shijie2_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,867},{71,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{71,23}}</string>
			<key>sourceSize</key>
			<string>{71,27}</string>
		</dict>
		<key>pic_siliao_siliao.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,873},{115,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,31}}</string>
			<key>sourceSize</key>
			<string>{115,31}</string>
		</dict>
		<key>pic_touxiangkuang_siliaohaoyou.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,760},{77,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,77}}</string>
			<key>sourceSize</key>
			<string>{77,77}</string>
		</dict>
		<key>pic_xiahua_normal_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,1423},{22,19}}</string>
			<key>offset</key>
			<string>{5,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,10},{22,19}}</string>
			<key>sourceSize</key>
			<string>{42,35}</string>
		</dict>
		<key>pic_xiahua_press_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,1358},{28,25}}</string>
			<key>offset</key>
			<string>{5,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,7},{28,25}}</string>
			<key>sourceSize</key>
			<string>{42,35}</string>
		</dict>
		<key>pic_xiangxiajiantou_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,1301},{18,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,14}}</string>
			<key>sourceSize</key>
			<string>{18,14}</string>
		</dict>
		<key>pic_xiaoduigou_xinliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,1253},{48,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,46}}</string>
			<key>sourceSize</key>
			<string>{48,46}</string>
		</dict>
		<key>pic_xiaojiantou_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,700},{9,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,18}}</string>
			<key>sourceSize</key>
			<string>{9,18}</string>
		</dict>
		<key>pic_xiaoshezhi_normal_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{221,1388},{22,25}}</string>
			<key>offset</key>
			<string>{5,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,6},{22,25}}</string>
			<key>sourceSize</key>
			<string>{42,35}</string>
		</dict>
		<key>pic_xiaoshezhi_press_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,1318},{28,31}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,2},{28,31}}</string>
			<key>sourceSize</key>
			<string>{42,35}</string>
		</dict>
		<key>pic_xiaotubiaotishi_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{179,1361},{40,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,41}}</string>
			<key>sourceSize</key>
			<string>{40,41}</string>
		</dict>
		<key>pic_xitong1_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,1026},{84,23}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,4},{84,23}}</string>
			<key>sourceSize</key>
			<string>{90,31}</string>
		</dict>
		<key>pic_xitong2_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,2},{81,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{81,21}}</string>
			<key>sourceSize</key>
			<string>{81,27}</string>
		</dict>
		<key>pic_xitongtubiao_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,839},{63,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,26}}</string>
			<key>sourceSize</key>
			<string>{63,26}</string>
		</dict>
		<key>pic_xuanzhongkuang_siliaohaoyou.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,185},{163,119}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,119}}</string>
			<key>sourceSize</key>
			<string>{163,121}</string>
		</dict>
		<key>pic_yuanpaokuang_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,2},{167,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,181}}</string>
			<key>sourceSize</key>
			<string>{167,181}</string>
		</dict>
		<key>pic_yuyindadiban_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,350},{120,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,120}}</string>
			<key>sourceSize</key>
			<string>{120,120}</string>
		</dict>
		<key>pic_yuyindi_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,1416},{54,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,40}}</string>
			<key>sourceSize</key>
			<string>{54,40}</string>
		</dict>
		<key>pic_yuyindi_xinbanliaotian_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,1279},{54,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,40}}</string>
			<key>sourceSize</key>
			<string>{54,40}</string>
		</dict>
		<key>pic_yuyintishitubiao_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,1423},{19,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,28}}</string>
			<key>sourceSize</key>
			<string>{19,28}</string>
		</dict>
		<key>pic_yuyintubiao_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,564},{69,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,89}}</string>
			<key>sourceSize</key>
			<string>{69,89}</string>
		</dict>
		<key>pic_zudui1_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,760},{77,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,23}}</string>
			<key>sourceSize</key>
			<string>{77,23}</string>
		</dict>
		<key>pic_zudui2_xinbanliaotian.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,85},{78,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,21}}</string>
			<key>sourceSize</key>
			<string>{78,21}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ChatSystemUI0.png</string>
		<key>size</key>
		<string>{255,1458}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ChatSystemUI0.png</string>
	</dict>
</dict>
</plist>
