<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bth_cndqq_chengse_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,830},{84,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,34}}</string>
			<key>sourceSize</key>
			<string>{84,34}</string>
		</dict>
		<key>bth_cndqq_chengse_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,794},{84,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,34}}</string>
			<key>sourceSize</key>
			<string>{84,34}</string>
		</dict>
		<key>bth_cndqq_chongzhi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,642},{71,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,71}}</string>
			<key>sourceSize</key>
			<string>{71,71}</string>
		</dict>
		<key>bth_cndqq_chongzhi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,569},{71,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,71}}</string>
			<key>sourceSize</key>
			<string>{71,71}</string>
		</dict>
		<key>bth_cndqq_guize_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,479},{71,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,71}}</string>
			<key>sourceSize</key>
			<string>{71,71}</string>
		</dict>
		<key>bth_cndqq_guize_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,406},{71,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,71}}</string>
			<key>sourceSize</key>
			<string>{71,71}</string>
		</dict>
		<key>bth_cndqq_hongse_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,708},{84,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,34}}</string>
			<key>sourceSize</key>
			<string>{84,34}</string>
		</dict>
		<key>bth_cndqq_hongse_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,708},{84,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,34}}</string>
			<key>sourceSize</key>
			<string>{84,34}</string>
		</dict>
		<key>bth_cndqq_jilu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,333},{71,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,71}}</string>
			<key>sourceSize</key>
			<string>{71,71}</string>
		</dict>
		<key>bth_cndqq_jilu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,260},{71,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,71}}</string>
			<key>sourceSize</key>
			<string>{71,71}</string>
		</dict>
		<key>bth_cndqq_lanse_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,875},{84,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,34}}</string>
			<key>sourceSize</key>
			<string>{84,34}</string>
		</dict>
		<key>bth_cndqq_lanse_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,638},{84,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,34}}</string>
			<key>sourceSize</key>
			<string>{84,34}</string>
		</dict>
		<key>bth_cndqq_queding_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,569},{101,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,36}}</string>
			<key>sourceSize</key>
			<string>{101,36}</string>
		</dict>
		<key>bth_cndqq_queding_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,772},{101,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,36}}</string>
			<key>sourceSize</key>
			<string>{101,36}</string>
		</dict>
		<key>bth_cndqq_quxiaobtn_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,772},{101,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,36}}</string>
			<key>sourceSize</key>
			<string>{101,36}</string>
		</dict>
		<key>bth_cndqq_quxiaobtn_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,569},{101,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,36}}</string>
			<key>sourceSize</key>
			<string>{101,36}</string>
		</dict>
		<key>bth_cndqq_xuanzejiangli_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,522},{131,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,45}}</string>
			<key>sourceSize</key>
			<string>{131,45}</string>
		</dict>
		<key>bth_cndqq_xuanzejiangli_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,769},{131,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,45}}</string>
			<key>sourceSize</key>
			<string>{131,45}</string>
		</dict>
		<key>bth_cndqq_yijianlingqu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,724},{89,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,27}}</string>
			<key>sourceSize</key>
			<string>{89,27}</string>
		</dict>
		<key>bth_cndqq_yijianlingqu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{135,866},{89,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,27}}</string>
			<key>sourceSize</key>
			<string>{89,27}</string>
		</dict>
		<key>bth_cndqq_zise_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,552},{84,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,34}}</string>
			<key>sourceSize</key>
			<string>{84,34}</string>
		</dict>
		<key>bth_cndqq_zise_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,672},{84,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,34}}</string>
			<key>sourceSize</key>
			<string>{84,34}</string>
		</dict>
		<key>pic_cndqq_biaoti_daqiqiu.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,2},{241,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{241,57}}</string>
			<key>sourceSize</key>
			<string>{241,57}</string>
		</dict>
		<key>pic_cndqq_biaoti_zixaunjiangchi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,260},{335,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{335,27}}</string>
			<key>sourceSize</key>
			<string>{335,27}</string>
		</dict>
		<key>pic_cndqq_biaoti_zixaunjiangli.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,597},{46,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,170}}</string>
			<key>sourceSize</key>
			<string>{46,170}</string>
		</dict>
		<key>pic_cndqq_tanchuang_chongzhijiangchi.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,260},{260,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{260,45}}</string>
			<key>sourceSize</key>
			<string>{260,45}</string>
		</dict>
		<key>pic_cndqq_tanchuang_gongxini.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,260},{260,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{260,45}}</string>
			<key>sourceSize</key>
			<string>{260,45}</string>
		</dict>
		<key>pic_cndqq_tanchuang_huoqutujing.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,260},{260,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{260,45}}</string>
			<key>sourceSize</key>
			<string>{260,45}</string>
		</dict>
		<key>pic_cndqq_xuanchaunyu.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{256,174}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,174}}</string>
			<key>sourceSize</key>
			<string>{256,174}</string>
		</dict>
		<key>pic_cndqq_yilingqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,715},{72,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,55}}</string>
			<key>sourceSize</key>
			<string>{72,55}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_palloncino0.png</string>
		<key>size</key>
		<string>{245,918}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_palloncino0.png</string>
	</dict>
</dict>
</plist>
