<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bg_dati2_bg01.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,1958},{72,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,74}}</string>
			<key>sourceSize</key>
			<string>{72,74}</string>
		</dict>
		<key>bg_dati2_gedoujiabg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,672},{255,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,190}}</string>
			<key>sourceSize</key>
			<string>{255,190}</string>
		</dict>
		<key>bg_dati2_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,1340},{75,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,60}}</string>
			<key>sourceSize</key>
			<string>{75,60}</string>
		</dict>
		<key>bg_dati2_press2.png</key>
		<dict>
			<key>frame</key>
			<string>{{241,1946},{69,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,68}}</string>
			<key>sourceSize</key>
			<string>{69,68}</string>
		</dict>
		<key>bg_dati2_yansebg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,480},{255,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,190}}</string>
			<key>sourceSize</key>
			<string>{255,190}</string>
		</dict>
		<key>bg_dati_di000.png</key>
		<dict>
			<key>frame</key>
			<string>{{95,1879},{77,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,77}}</string>
			<key>sourceSize</key>
			<string>{77,77}</string>
		</dict>
		<key>btn_dati2_hongse.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,700},{52,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,54}}</string>
			<key>sourceSize</key>
			<string>{52,54}</string>
		</dict>
		<key>btn_dati2_huangse.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,646},{52,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,54}}</string>
			<key>sourceSize</key>
			<string>{52,54}</string>
		</dict>
		<key>btn_dati2_lanse.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,592},{52,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,54}}</string>
			<key>sourceSize</key>
			<string>{52,54}</string>
		</dict>
		<key>btn_dati2_lvse.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,538},{52,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,54}}</string>
			<key>sourceSize</key>
			<string>{52,54}</string>
		</dict>
		<key>btn_dati2_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,1701},{120,120}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,11},{120,120}}</string>
			<key>sourceSize</key>
			<string>{138,138}</string>
		</dict>
		<key>btn_dati2_normal02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1946},{91,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{91,91}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>btn_dati2_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,1522},{132,132}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,5},{132,132}}</string>
			<key>sourceSize</key>
			<string>{138,138}</string>
		</dict>
		<key>btn_dati2_press02.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,1823},{99,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,99}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>btn_dati2_zisi.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,484},{52,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,54}}</string>
			<key>sourceSize</key>
			<string>{52,54}</string>
		</dict>
		<key>btn_dati_anniu00.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,1701},{120,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,120}}</string>
			<key>sourceSize</key>
			<string>{120,120}</string>
		</dict>
		<key>btn_dati_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,1640},{107,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,38}}</string>
			<key>sourceSize</key>
			<string>{107,38}</string>
		</dict>
		<key>btn_dati_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,1531},{107,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,38}}</string>
			<key>sourceSize</key>
			<string>{107,38}</string>
		</dict>
		<key>btn_datihuodong_zengjiatishi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,1432},{33,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,31}}</string>
			<key>sourceSize</key>
			<string>{33,31}</string>
		</dict>
		<key>btn_datihuodong_zengjiatishi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,1399},{33,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,31}}</string>
			<key>sourceSize</key>
			<string>{33,31}</string>
		</dict>
		<key>btn_hd_qhccc_anniu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,1656},{130,43}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{130,43}}</string>
			<key>sourceSize</key>
			<string>{134,49}</string>
		</dict>
		<key>btn_hd_qhccc_anniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,803},{134,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,49}}</string>
			<key>sourceSize</key>
			<string>{134,49}</string>
		</dict>
		<key>btn_hd_qhccc_guanbi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,1823},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{32,32}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>btn_hd_qhccc_guanbi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,1465},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{32,32}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>hd_datihuodong_daananniu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,1095},{243,60}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{243,60}}</string>
			<key>sourceSize</key>
			<string>{247,68}</string>
		</dict>
		<key>hd_datihuodong_daananniu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1095},{247,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{247,68}}</string>
			<key>sourceSize</key>
			<string>{247,68}</string>
		</dict>
		<key>hd_datihuodong_paihangbang_diban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{300,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,175}}</string>
			<key>sourceSize</key>
			<string>{300,175}</string>
		</dict>
		<key>hd_datihuodong_paihangbang_ditiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,1749},{68,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,37}}</string>
			<key>sourceSize</key>
			<string>{68,37}</string>
		</dict>
		<key>hd_datihuodong_paihangbanghuawen.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,451},{31,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,25}}</string>
			<key>sourceSize</key>
			<string>{31,25}</string>
		</dict>
		<key>hd_datihuodong_renwudiban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,864},{254,229}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{254,229}}</string>
			<key>sourceSize</key>
			<string>{254,229}</string>
		</dict>
		<key>hd_datihuodong_shuoming_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,1819},{56,41}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,14},{56,41}}</string>
			<key>sourceSize</key>
			<string>{60,59}</string>
		</dict>
		<key>hd_datihuodong_shuoming_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,1479},{56,41}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,14},{56,41}}</string>
			<key>sourceSize</key>
			<string>{60,59}</string>
		</dict>
		<key>hd_datihuodong_tips.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1165},{242,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{242,117}}</string>
			<key>sourceSize</key>
			<string>{242,117}</string>
		</dict>
		<key>hd_datihuodong_tishi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,1055},{48,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,38}}</string>
			<key>sourceSize</key>
			<string>{48,38}</string>
		</dict>
		<key>hd_datihuodong_tishi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,1015},{48,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,38}}</string>
			<key>sourceSize</key>
			<string>{48,38}</string>
		</dict>
		<key>pic_dati2_bankuai.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,1958},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>pic_dati2_cuowu.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,1417},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{74,60}</string>
		</dict>
		<key>pic_dati2_namebg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1498},{177,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,31}}</string>
			<key>sourceSize</key>
			<string>{177,31}</string>
		</dict>
		<key>pic_dati2_wangge.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,196},{282,282}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{282,282}}</string>
			<key>sourceSize</key>
			<string>{282,282}</string>
		</dict>
		<key>pic_dati2_wangge02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1284},{212,212}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,212}}</string>
			<key>sourceSize</key>
			<string>{212,212}</string>
		</dict>
		<key>pic_dati2_zhengque.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,939},{74,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{74,48}}</string>
			<key>sourceSize</key>
			<string>{74,60}</string>
		</dict>
		<key>pic_dati_baozi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1531},{128,136}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{128,136}}</string>
			<key>sourceSize</key>
			<string>{138,138}</string>
		</dict>
		<key>pic_dati_chuizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1773},{104,114}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,11},{104,114}}</string>
			<key>sourceSize</key>
			<string>{138,138}</string>
		</dict>
		<key>pic_dati_jiandao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1661},{110,134}}</string>
			<key>offset</key>
			<string>{3,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,1},{110,134}}</string>
			<key>sourceSize</key>
			<string>{138,138}</string>
		</dict>
		<key>pic_hd_qhccc_biaotilan.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,1284},{113,33}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,33}}</string>
			<key>sourceSize</key>
			<string>{115,33}</string>
		</dict>
		<key>pic_hd_qhccc_biaotilan_fengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,69},{1,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,11}}</string>
			<key>sourceSize</key>
			<string>{1,11}</string>
		</dict>
		<key>pic_hd_qhccc_biaotilan_fengexian2.png</key>
		<dict>
			<key>frame</key>
			<string>{{311,25},{116,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,1}}</string>
			<key>sourceSize</key>
			<string>{116,1}</string>
		</dict>
		<key>pic_hd_qhccc_dian1.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,421},{28,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,26}}</string>
			<key>sourceSize</key>
			<string>{28,26}</string>
		</dict>
		<key>pic_hd_qhccc_dian2.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,2},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>pic_hd_qhccc_xialatiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,13},{5,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,16}}</string>
			<key>sourceSize</key>
			<string>{5,16}</string>
		</dict>
		<key>pic_hd_qhccc_xialatiao_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{311,13},{2,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,10}}</string>
			<key>sourceSize</key>
			<string>{2,10}</string>
		</dict>
		<key>pic_hd_qhccc_xian.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,1499},{42,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,20}}</string>
			<key>sourceSize</key>
			<string>{42,20}</string>
		</dict>
		<key>pic_hd_qhccc_xuweiyidai.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,1857},{87,22}}</string>
			<key>offset</key>
			<string>{-11,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{87,22}}</string>
			<key>sourceSize</key>
			<string>{111,22}</string>
		</dict>
		<key>pic_hd_qhccc_zhuangshi1.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,1773},{45,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,17}}</string>
			<key>sourceSize</key>
			<string>{45,17}</string>
		</dict>
		<key>pic_hd_qhccc_zhuangshi2.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,754},{47,53}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,53}}</string>
			<key>sourceSize</key>
			<string>{49,53}</string>
		</dict>
		<key>pic_hd_qhccc_zhuangshi3.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,31},{36,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,3}}</string>
			<key>sourceSize</key>
			<string>{36,3}</string>
		</dict>
		<key>pic_hd_qhccc_zhuangshi4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,179},{294,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{294,15}}</string>
			<key>sourceSize</key>
			<string>{294,17}</string>
		</dict>
		<key>pic_hd_qhccc_zi_benqipaihang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,196},{111,26}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,26}}</string>
			<key>sourceSize</key>
			<string>{113,26}</string>
		</dict>
		<key>pic_hd_qhccc_zi_jrph_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,309},{110,26}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,26}}</string>
			<key>sourceSize</key>
			<string>{112,26}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ActivityAnswer20.png</string>
		<key>size</key>
		<string>{315,2039}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ActivityAnswer20.png</string>
	</dict>
</dict>
</plist>
