<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_axsz_daiji_chibang_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{684,589},{51,121}}</string>
			<key>offset</key>
			<string>{-7,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,5},{51,121}}</string>
			<key>sourceSize</key>
			<string>{73,129}</string>
		</dict>
		<key>New_axsz_daiji_hudie_00000.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,888},{133,129}}</string>
			<key>offset</key>
			<string>{11,-37}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{33,75},{133,129}}</string>
			<key>sourceSize</key>
			<string>{177,205}</string>
		</dict>
		<key>New_axsz_daiji_hudie_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{578,903},{151,119}}</string>
			<key>offset</key>
			<string>{-7,-42}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,85},{151,119}}</string>
			<key>sourceSize</key>
			<string>{177,205}</string>
		</dict>
		<key>New_axsz_daiji_hudie_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{740,2},{161,177}}</string>
			<key>offset</key>
			<string>{-7,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,25},{161,177}}</string>
			<key>sourceSize</key>
			<string>{177,205}</string>
		</dict>
		<key>New_axsz_daiji_hudie_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,399},{173,165}}</string>
			<key>offset</key>
			<string>{-1,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,13},{173,165}}</string>
			<key>sourceSize</key>
			<string>{177,205}</string>
		</dict>
		<key>New_axsz_daiji_hudie_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{562,173},{173,173}}</string>
			<key>offset</key>
			<string>{-1,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{173,173}}</string>
			<key>sourceSize</key>
			<string>{177,205}</string>
		</dict>
		<key>New_axsz_daiji_hudie_00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,340},{169,173}}</string>
			<key>offset</key>
			<string>{1,16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{169,173}}</string>
			<key>sourceSize</key>
			<string>{177,205}</string>
		</dict>
		<key>New_axsz_gedang_bo_00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{676,711},{59,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,98}}</string>
			<key>sourceSize</key>
			<string>{59,98}</string>
		</dict>
		<key>New_axsz_liumenbisha_baoqi_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,513},{168,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,158}}</string>
			<key>sourceSize</key>
			<string>{168,158}</string>
		</dict>
		<key>New_axsz_liumenbisha_baoqi_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{381,2},{180,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,179}}</string>
			<key>sourceSize</key>
			<string>{180,179}</string>
		</dict>
		<key>New_axsz_liumenbisha_baoqi_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,179},{160,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,180}}</string>
			<key>sourceSize</key>
			<string>{160,180}</string>
		</dict>
		<key>New_axsz_liumenbisha_baozha2_00160.png</key>
		<dict>
			<key>frame</key>
			<string>{{736,263},{173,170}}</string>
			<key>offset</key>
			<string>{3,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,18},{173,170}}</string>
			<key>sourceSize</key>
			<string>{211,212}</string>
		</dict>
		<key>New_axsz_liumenbisha_baozha2_00164.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,565},{169,166}}</string>
			<key>offset</key>
			<string>{3,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,22},{169,166}}</string>
			<key>sourceSize</key>
			<string>{211,212}</string>
		</dict>
		<key>New_axsz_liumenbisha_baozha2_00166.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,2},{183,176}}</string>
			<key>offset</key>
			<string>{6,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,16},{183,176}}</string>
			<key>sourceSize</key>
			<string>{211,212}</string>
		</dict>
		<key>New_axsz_liumenbisha_baozha_00153.png</key>
		<dict>
			<key>frame</key>
			<string>{{367,182},{173,170}}</string>
			<key>offset</key>
			<string>{3,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,18},{173,170}}</string>
			<key>sourceSize</key>
			<string>{211,212}</string>
		</dict>
		<key>New_axsz_liumenbisha_baozha_00157.png</key>
		<dict>
			<key>frame</key>
			<string>{{528,411},{169,166}}</string>
			<key>offset</key>
			<string>{3,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{24,22},{169,166}}</string>
			<key>sourceSize</key>
			<string>{211,212}</string>
		</dict>
		<key>New_axsz_liumenbisha_baozha_00159.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,88},{183,176}}</string>
			<key>offset</key>
			<string>{6,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,16},{183,176}}</string>
			<key>sourceSize</key>
			<string>{211,212}</string>
		</dict>
		<key>New_axsz_liumenbisha_hudiechuxian_00051.png</key>
		<dict>
			<key>frame</key>
			<string>{{736,883},{139,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,141}}</string>
			<key>sourceSize</key>
			<string>{139,141}</string>
		</dict>
		<key>New_axsz_liumenbisha_hudieshengqi2_00131.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,578},{167,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,129}}</string>
			<key>sourceSize</key>
			<string>{167,129}</string>
		</dict>
		<key>New_axsz_liumenbisha_hudieshengqi2_00133.png</key>
		<dict>
			<key>frame</key>
			<string>{{355,353},{172,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,159}}</string>
			<key>sourceSize</key>
			<string>{172,159}</string>
		</dict>
		<key>New_axsz_liumenbisha_hudieshengqi2_00163.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,265},{133,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,178}}</string>
			<key>sourceSize</key>
			<string>{133,178}</string>
		</dict>
		<key>New_axsz_liumenbisha_hudieshengqi_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{736,434},{116,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,169}}</string>
			<key>sourceSize</key>
			<string>{116,169}</string>
		</dict>
		<key>New_axsz_liumenbisha_hudieshengqi_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{509,708},{114,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,166}}</string>
			<key>sourceSize</key>
			<string>{114,166}</string>
		</dict>
		<key>New_axsz_liumenbisha_hudieshengqi_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,337},{112,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,170}}</string>
			<key>sourceSize</key>
			<string>{112,170}</string>
		</dict>
		<key>New_axsz_liumenbisha_hudieshengqi_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{736,647},{110,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,167}}</string>
			<key>sourceSize</key>
			<string>{110,167}</string>
		</dict>
		<key>New_axsz_liumenbisha_hudieshengqi_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,672},{93,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,167}}</string>
			<key>sourceSize</key>
			<string>{93,167}</string>
		</dict>
		<key>New_axsz_liumenbisha_hudiexiaoshi_00139.png</key>
		<dict>
			<key>frame</key>
			<string>{{562,2},{170,177}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,177}}</string>
			<key>sourceSize</key>
			<string>{170,177}</string>
		</dict>
		<key>New_axsz_liumenbisha_hudiexiaoshi_00141.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,622},{168,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,151}}</string>
			<key>sourceSize</key>
			<string>{168,151}</string>
		</dict>
		<key>New_axsz_liumenbisha_hudiexiaoshi_00143.png</key>
		<dict>
			<key>frame</key>
			<string>{{904,675},{161,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,118}}</string>
			<key>sourceSize</key>
			<string>{161,118}</string>
		</dict>
		<key>New_axsz_putongbisha1_hudie2_00058.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,888},{134,79}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{134,79}}</string>
			<key>sourceSize</key>
			<string>{140,79}</string>
		</dict>
		<key>New_axsz_putongbisha1_hudie3_00078.png</key>
		<dict>
			<key>frame</key>
			<string>{{589,823},{146,79}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{146,79}}</string>
			<key>sourceSize</key>
			<string>{148,79}</string>
		</dict>
		<key>New_axsz_putongbisha1_hudie_00041.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,259},{104,77}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{104,77}}</string>
			<key>sourceSize</key>
			<string>{112,77}</string>
		</dict>
		<key>New_axsz_putongbisha1_hudielizi_00049.png</key>
		<dict>
			<key>frame</key>
			<string>{{507,823},{81,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,64}}</string>
			<key>sourceSize</key>
			<string>{81,64}</string>
		</dict>
		<key>New_axsz_putongbisha2_baozha2_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,888},{139,134}}</string>
			<key>offset</key>
			<string>{5,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,4},{139,134}}</string>
			<key>sourceSize</key>
			<string>{149,148}</string>
		</dict>
		<key>New_axsz_putongbisha2_baozha_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,888},{139,134}}</string>
			<key>offset</key>
			<string>{5,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,4},{139,134}}</string>
			<key>sourceSize</key>
			<string>{149,148}</string>
		</dict>
		<key>New_axsz_putongbisha2_chongci_00101.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,2},{143,104}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{143,104}}</string>
			<key>sourceSize</key>
			<string>{149,104}</string>
		</dict>
		<key>New_axsz_putongbisha2_chongci_00103.png</key>
		<dict>
			<key>frame</key>
			<string>{{740,164},{177,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{177,98}}</string>
			<key>sourceSize</key>
			<string>{181,102}</string>
		</dict>
		<key>New_axsz_putongbisha2_chongci_00105.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{194,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,5},{194,85}}</string>
			<key>sourceSize</key>
			<string>{202,95}</string>
		</dict>
		<key>New_axsz_putongbisha2_chongci_00107.png</key>
		<dict>
			<key>frame</key>
			<string>{{541,347},{173,63}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,3},{173,63}}</string>
			<key>sourceSize</key>
			<string>{183,71}</string>
		</dict>
		<key>New_axsz_putongbisha2_chongci_00115.png</key>
		<dict>
			<key>frame</key>
			<string>{{698,510},{78,37}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{78,37}}</string>
			<key>sourceSize</key>
			<string>{82,41}</string>
		</dict>
		<key>New_axsz_putongbisha2_hudieshengqi_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{736,758},{124,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,164}}</string>
			<key>sourceSize</key>
			<string>{124,164}</string>
		</dict>
		<key>New_axsz_putongbisha2_hudieshengqi_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{906,508},{116,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,166}}</string>
			<key>sourceSize</key>
			<string>{116,166}</string>
		</dict>
		<key>New_axsz_putongbisha2_hudieshengqi_00034.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,510},{111,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,170}}</string>
			<key>sourceSize</key>
			<string>{111,170}</string>
		</dict>
		<key>New_axsz_putongbisha2_hudieshengqi_00036.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,732},{98,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,168}}</string>
			<key>sourceSize</key>
			<string>{98,168}</string>
		</dict>
		<key>New_axsz_putongbisha2_hudieshengqi_00038.png</key>
		<dict>
			<key>frame</key>
			<string>{{736,551},{95,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,169}}</string>
			<key>sourceSize</key>
			<string>{95,169}</string>
		</dict>
		<key>New_axsz_putongbisha2_yanhua_00054.png</key>
		<dict>
			<key>frame</key>
			<string>{{523,888},{54,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,132}}</string>
			<key>sourceSize</key>
			<string>{54,132}</string>
		</dict>
		<key>New_axsz_putongbisha2_yanhua_00082.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,888},{68,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,132}}</string>
			<key>sourceSize</key>
			<string>{68,132}</string>
		</dict>
		<key>New_axsz_putongbisha2_yanhua_00090.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,831},{55,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,128}}</string>
			<key>sourceSize</key>
			<string>{55,128}</string>
		</dict>
		<key>New_axsz_putongbisha2_yanhua_00094.png</key>
		<dict>
			<key>frame</key>
			<string>{{698,411},{37,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,98}}</string>
			<key>sourceSize</key>
			<string>{37,98}</string>
		</dict>
		<key>New_axsz_putonggongji_shouji_00041.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,766},{165,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,121}}</string>
			<key>sourceSize</key>
			<string>{165,121}</string>
		</dict>
		<key>New_axsz_xiaojineng_baozha_00054.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,146},{112,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,104}}</string>
			<key>sourceSize</key>
			<string>{112,104}</string>
		</dict>
		<key>New_axsz_xiaojineng_hudietuowei_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,774},{150,113}}</string>
			<key>offset</key>
			<string>{-4,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,9},{150,113}}</string>
			<key>sourceSize</key>
			<string>{162,125}</string>
		</dict>
		<key>New_axsz_xiaojineng_hudietuowei_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{901,837},{156,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{156,121}}</string>
			<key>sourceSize</key>
			<string>{162,125}</string>
		</dict>
		<key>New_axsz_xiaojineng_tuowei2_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{142,888},{101,134}}</string>
			<key>offset</key>
			<string>{8,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,0},{101,134}}</string>
			<key>sourceSize</key>
			<string>{119,144}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>axiu13hd_common3.png</string>
		<key>scale</key>
		<real>0.45</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>axiu13hd_common3.png</string>
	</dict>
</dict>
</plist>
