<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>cq_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,733},{112,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,101}}</string>
			<key>sourceSize</key>
			<string>{112,101}</string>
		</dict>
		<key>db_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,246},{101,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,145}}</string>
			<key>sourceSize</key>
			<string>{101,145}</string>
		</dict>
		<key>dc_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,598},{133,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,134}}</string>
			<key>sourceSize</key>
			<string>{133,134}</string>
		</dict>
		<key>dsz01_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,472},{60,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,57}}</string>
			<key>sourceSize</key>
			<string>{60,57}</string>
		</dict>
		<key>dsz02_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,337},{60,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,57}}</string>
			<key>sourceSize</key>
			<string>{60,57}</string>
		</dict>
		<key>dsz03_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,278},{60,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,57}}</string>
			<key>sourceSize</key>
			<string>{60,57}</string>
		</dict>
		<key>dsz04_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,219},{60,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,57}}</string>
			<key>sourceSize</key>
			<string>{60,57}</string>
		</dict>
		<key>dsz05_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,160},{60,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,57}}</string>
			<key>sourceSize</key>
			<string>{60,57}</string>
		</dict>
		<key>dsz06_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{449,67},{60,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,57}}</string>
			<key>sourceSize</key>
			<string>{60,57}</string>
		</dict>
		<key>du_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,470},{133,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,142}}</string>
			<key>sourceSize</key>
			<string>{133,142}</string>
		</dict>
		<key>gq_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,396},{74,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,74}}</string>
			<key>sourceSize</key>
			<string>{74,74}</string>
		</dict>
		<key>guang_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,597},{40,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,135}}</string>
			<key>sourceSize</key>
			<string>{40,135}</string>
		</dict>
		<key>head_back1_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,125},{119,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,145}}</string>
			<key>sourceSize</key>
			<string>{119,145}</string>
		</dict>
		<key>head_back2_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,125},{119,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,145}}</string>
			<key>sourceSize</key>
			<string>{119,145}</string>
		</dict>
		<key>head_back3_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,125},{119,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,145}}</string>
			<key>sourceSize</key>
			<string>{119,145}</string>
		</dict>
		<key>head_back_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,483},{112,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,138}}</string>
			<key>sourceSize</key>
			<string>{112,138}</string>
		</dict>
		<key>head_front1_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,246},{119,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,143}}</string>
			<key>sourceSize</key>
			<string>{119,143}</string>
		</dict>
		<key>head_front2_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,349},{119,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,143}}</string>
			<key>sourceSize</key>
			<string>{119,143}</string>
		</dict>
		<key>head_front3_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,246},{119,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,143}}</string>
			<key>sourceSize</key>
			<string>{119,143}</string>
		</dict>
		<key>head_front_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,484},{112,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,135}}</string>
			<key>sourceSize</key>
			<string>{112,135}</string>
		</dict>
		<key>head_side1_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,2},{121,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,147}}</string>
			<key>sourceSize</key>
			<string>{121,147}</string>
		</dict>
		<key>head_side2_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,2},{121,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,147}}</string>
			<key>sourceSize</key>
			<string>{121,147}</string>
		</dict>
		<key>head_side3_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{121,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,147}}</string>
			<key>sourceSize</key>
			<string>{121,147}</string>
		</dict>
		<key>head_side_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,367},{114,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,139}}</string>
			<key>sourceSize</key>
			<string>{114,139}</string>
		</dict>
		<key>jb_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,531},{53,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,52}}</string>
			<key>sourceSize</key>
			<string>{53,52}</string>
		</dict>
		<key>jd_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,367},{115,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,143}}</string>
			<key>sourceSize</key>
			<string>{115,143}</string>
		</dict>
		<key>qs_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,605},{106,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,128}}</string>
			<key>sourceSize</key>
			<string>{106,128}</string>
		</dict>
		<key>qs_huo1_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,585},{32,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,51}}</string>
			<key>sourceSize</key>
			<string>{32,51}</string>
		</dict>
		<key>qs_huo2_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{443,126},{32,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,66}}</string>
			<key>sourceSize</key>
			<string>{32,66}</string>
		</dict>
		<key>saizi_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,667},{81,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,82}}</string>
			<key>sourceSize</key>
			<string>{81,82}</string>
		</dict>
		<key>shadow_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,619},{83,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,46}}</string>
			<key>sourceSize</key>
			<string>{83,46}</string>
		</dict>
		<key>sp_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{449,2},{63,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,61}}</string>
			<key>sourceSize</key>
			<string>{63,61}</string>
		</dict>
		<key>st_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,713},{109,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,119}}</string>
			<key>sourceSize</key>
			<string>{109,119}</string>
		</dict>
		<key>xc_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,824},{101,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,111}}</string>
			<key>sourceSize</key>
			<string>{101,111}</string>
		</dict>
		<key>xc_ms_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,733},{31,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,39}}</string>
			<key>sourceSize</key>
			<string>{31,39}</string>
		</dict>
		<key>xing_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,766},{31,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,32}}</string>
			<key>sourceSize</key>
			<string>{31,32}</string>
		</dict>
		<key>xuanwo_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{282,639},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>zs_damaoxianimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,927},{47,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,49}}</string>
			<key>sourceSize</key>
			<string>{47,49}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>damaoxianimage.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>damaoxianimage.png</string>
	</dict>
</dict>
</plist>
