<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_zl_ygnz_xnsz_bisha1_dq_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{843,990},{27,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{27,30}}</string>
			<key>sourceSize</key>
			<string>{31,30}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha1_dq_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,998},{29,24}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{29,24}}</string>
			<key>sourceSize</key>
			<string>{31,30}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha1_dq_00021.png</key>
		<dict>
			<key>frame</key>
			<string>{{742,998},{27,24}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{27,24}}</string>
			<key>sourceSize</key>
			<string>{31,30}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha1_dq_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,447},{21,20}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,5},{21,20}}</string>
			<key>sourceSize</key>
			<string>{31,30}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha1_dq_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{770,998},{25,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{25,24}}</string>
			<key>sourceSize</key>
			<string>{31,30}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha1_fsg_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,607},{60,62}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,15},{60,62}}</string>
			<key>sourceSize</key>
			<string>{96,92}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha1_fsg_00025.png</key>
		<dict>
			<key>frame</key>
			<string>{{576,674},{50,28}}</string>
			<key>offset</key>
			<string>{10,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{33,37},{50,28}}</string>
			<key>sourceSize</key>
			<string>{96,92}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha1_fsg_00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{549,795},{30,28}}</string>
			<key>offset</key>
			<string>{-33,24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{30,28}}</string>
			<key>sourceSize</key>
			<string>{96,92}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha1_pf_00034.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,722},{39,72}}</string>
			<key>offset</key>
			<string>{-29,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,18},{39,72}}</string>
			<key>sourceSize</key>
			<string>{121,104}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha1_pf_00050.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,795},{51,40}}</string>
			<key>offset</key>
			<string>{18,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{53,25},{51,40}}</string>
			<key>sourceSize</key>
			<string>{121,104}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha1_pf_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,795},{51,40}}</string>
			<key>offset</key>
			<string>{20,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{55,24},{51,40}}</string>
			<key>sourceSize</key>
			<string>{121,104}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha1_pf_00056.png</key>
		<dict>
			<key>frame</key>
			<string>{{984,990},{27,34}}</string>
			<key>offset</key>
			<string>{19,11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{66,24},{27,34}}</string>
			<key>sourceSize</key>
			<string>{121,104}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha2_bd_00126.png</key>
		<dict>
			<key>frame</key>
			<string>{{847,502},{172,163}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,7},{172,163}}</string>
			<key>sourceSize</key>
			<string>{194,179}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha2_bd_00142.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,487},{180,159}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,12},{180,159}}</string>
			<key>sourceSize</key>
			<string>{194,179}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha2_dq2_00116.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,921},{37,41}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,16},{37,41}}</string>
			<key>sourceSize</key>
			<string>{71,71}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha2_dq2_00122.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,327},{47,49}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,9},{47,49}}</string>
			<key>sourceSize</key>
			<string>{71,71}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha2_dq_00110.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,977},{41,45}}</string>
			<key>offset</key>
			<string>{-11,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{41,45}}</string>
			<key>sourceSize</key>
			<string>{69,53}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha2_fr_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,456},{105,73}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,6},{105,73}}</string>
			<key>sourceSize</key>
			<string>{125,87}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha2_fr_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{468,647},{107,77}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,2},{107,77}}</string>
			<key>sourceSize</key>
			<string>{125,87}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha2_fr_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{468,725},{111,69}}</string>
			<key>offset</key>
			<string>{4,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,1},{111,69}}</string>
			<key>sourceSize</key>
			<string>{125,87}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha2_fr_00034.png</key>
		<dict>
			<key>frame</key>
			<string>{{23,607},{93,63}}</string>
			<key>offset</key>
			<string>{-9,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,20},{93,63}}</string>
			<key>sourceSize</key>
			<string>{125,87}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha3_cc_00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{712,977},{20,130}}</string>
			<key>offset</key>
			<string>{0,9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,5},{20,130}}</string>
			<key>sourceSize</key>
			<string>{24,158}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha3_cc_00034.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,538},{20,134}}</string>
			<key>offset</key>
			<string>{0,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{20,134}}</string>
			<key>sourceSize</key>
			<string>{24,158}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha3_cc_00036.png</key>
		<dict>
			<key>frame</key>
			<string>{{553,231},{22,136}}</string>
			<key>offset</key>
			<string>{0,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{22,136}}</string>
			<key>sourceSize</key>
			<string>{24,158}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha3_cc_00038.png</key>
		<dict>
			<key>frame</key>
			<string>{{553,368},{22,118}}</string>
			<key>offset</key>
			<string>{0,19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{22,118}}</string>
			<key>sourceSize</key>
			<string>{24,158}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha3_ccyh3_00034.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,375},{46,47}}</string>
			<key>offset</key>
			<string>{-13,32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{67,58},{46,47}}</string>
			<key>sourceSize</key>
			<string>{206,227}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha3_ccyh3_00038.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,725},{104,109}}</string>
			<key>offset</key>
			<string>{-8,28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,31},{104,109}}</string>
			<key>sourceSize</key>
			<string>{206,227}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha3_ccyh3_00046.png</key>
		<dict>
			<key>frame</key>
			<string>{{23,447},{172,159}}</string>
			<key>offset</key>
			<string>{-7,25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,9},{172,159}}</string>
			<key>sourceSize</key>
			<string>{206,227}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha3_ccyh3_00054.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,837},{194,185}}</string>
			<key>offset</key>
			<string>{-3,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,7},{194,185}}</string>
			<key>sourceSize</key>
			<string>{206,227}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha3_ccyh3_00058.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,538},{198,183}}</string>
			<key>offset</key>
			<string>{1,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,11},{198,183}}</string>
			<key>sourceSize</key>
			<string>{206,227}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha3_ccyh3_00062.png</key>
		<dict>
			<key>frame</key>
			<string>{{576,461},{198,203}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,10},{198,203}}</string>
			<key>sourceSize</key>
			<string>{206,227}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha3_ccyh3_00074.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,837},{184,197}}</string>
			<key>offset</key>
			<string>{10,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,26},{184,197}}</string>
			<key>sourceSize</key>
			<string>{206,227}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha3_ccyh3_00078.png</key>
		<dict>
			<key>frame</key>
			<string>{{847,147},{172,187}}</string>
			<key>offset</key>
			<string>{16,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,36},{172,187}}</string>
			<key>sourceSize</key>
			<string>{206,227}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha4_dhxrs_00114.png</key>
		<dict>
			<key>frame</key>
			<string>{{584,977},{45,51}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{34,36},{45,51}}</string>
			<key>sourceSize</key>
			<string>{113,103}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha4_dhxrs_00116.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,257},{69,49}}</string>
			<key>offset</key>
			<string>{-8,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,30},{69,49}}</string>
			<key>sourceSize</key>
			<string>{113,103}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha4_dhxrs_00118.png</key>
		<dict>
			<key>frame</key>
			<string>{{584,921},{61,55}}</string>
			<key>offset</key>
			<string>{-6,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,36},{61,55}}</string>
			<key>sourceSize</key>
			<string>{113,103}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha4_dhxrs_00120.png</key>
		<dict>
			<key>frame</key>
			<string>{{780,532},{65,79}}</string>
			<key>offset</key>
			<string>{-5,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,11},{65,79}}</string>
			<key>sourceSize</key>
			<string>{113,103}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha4_dhxrs_00124.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,362},{91,87}}</string>
			<key>offset</key>
			<string>{-8,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,11},{91,87}}</string>
			<key>sourceSize</key>
			<string>{113,103}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha4_xyh2_00042.png</key>
		<dict>
			<key>frame</key>
			<string>{{534,456},{16,28}}</string>
			<key>offset</key>
			<string>{0,40}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{16,28}}</string>
			<key>sourceSize</key>
			<string>{18,114}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha4_xyh2_00044.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,607},{16,28}}</string>
			<key>offset</key>
			<string>{0,41}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{16,28}}</string>
			<key>sourceSize</key>
			<string>{18,114}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha4_xyh2_00046.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,469},{16,20}}</string>
			<key>offset</key>
			<string>{0,44}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,3},{16,20}}</string>
			<key>sourceSize</key>
			<string>{18,114}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha4_xyh2_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,486},{14,14}}</string>
			<key>offset</key>
			<string>{0,49}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{14,14}}</string>
			<key>sourceSize</key>
			<string>{18,114}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha4_yh2_00051.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,722},{113,112}}</string>
			<key>offset</key>
			<string>{-3,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,15},{113,112}}</string>
			<key>sourceSize</key>
			<string>{157,144}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha4_yh3_00064.png</key>
		<dict>
			<key>frame</key>
			<string>{{576,2},{270,254}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,18},{270,254}}</string>
			<key>sourceSize</key>
			<string>{308,288}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha4_yh3_00076.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{286,262}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,15},{286,262}}</string>
			<key>sourceSize</key>
			<string>{308,288}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha4_yh3_00080.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,2},{286,228}}</string>
			<key>offset</key>
			<string>{-1,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,23},{286,228}}</string>
			<key>sourceSize</key>
			<string>{308,288}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha4_yh3_00084.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,836},{188,186}}</string>
			<key>offset</key>
			<string>{-22,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,65},{188,186}}</string>
			<key>sourceSize</key>
			<string>{308,288}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha4_yh4_00057.png</key>
		<dict>
			<key>frame</key>
			<string>{{576,257},{203,220}}</string>
			<key>offset</key>
			<string>{-3,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{52,48},{203,220}}</string>
			<key>sourceSize</key>
			<string>{313,322}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha4_yh5_00054.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,265},{181,194}}</string>
			<key>offset</key>
			<string>{-13,57}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{82,53},{181,194}}</string>
			<key>sourceSize</key>
			<string>{371,414}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha4_yh5_00089.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,231},{263,224}}</string>
			<key>offset</key>
			<string>{-10,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{44,117},{263,224}}</string>
			<key>sourceSize</key>
			<string>{371,414}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha4_yh6_00054.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,722},{131,113}}</string>
			<key>offset</key>
			<string>{0,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,24},{131,113}}</string>
			<key>sourceSize</key>
			<string>{171,175}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha4_yh6_00058.png</key>
		<dict>
			<key>frame</key>
			<string>{{685,674},{159,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,19},{159,137}}</string>
			<key>sourceSize</key>
			<string>{171,175}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha4_yh_00049.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,647},{72,74}}</string>
			<key>offset</key>
			<string>{-9,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,58},{72,74}}</string>
			<key>sourceSize</key>
			<string>{176,184}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha4_yh_00059.png</key>
		<dict>
			<key>frame</key>
			<string>{{685,812},{158,164}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,11},{158,164}}</string>
			<key>sourceSize</key>
			<string>{176,184}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha4_yh_00061.png</key>
		<dict>
			<key>frame</key>
			<string>{{847,335},{166,172}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,5},{166,172}}</string>
			<key>sourceSize</key>
			<string>{176,184}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha4_yh_00069.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,674},{162,180}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,2},{162,180}}</string>
			<key>sourceSize</key>
			<string>{176,184}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha4_yh_00071.png</key>
		<dict>
			<key>frame</key>
			<string>{{845,666},{170,176}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,8},{170,176}}</string>
			<key>sourceSize</key>
			<string>{176,184}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha4_yh_00075.png</key>
		<dict>
			<key>frame</key>
			<string>{{847,2},{144,174}}</string>
			<key>offset</key>
			<string>{-16,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,7},{144,174}}</string>
			<key>sourceSize</key>
			<string>{176,184}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_bisha4_yh_00077.png</key>
		<dict>
			<key>frame</key>
			<string>{{844,837},{152,172}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,9},{152,172}}</string>
			<key>sourceSize</key>
			<string>{176,184}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_daiji_yh_00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,450},{87,91}}</string>
			<key>offset</key>
			<string>{-9,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,9},{87,91}}</string>
			<key>sourceSize</key>
			<string>{107,103}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_daiji_yh_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{605,660},{79,63}}</string>
			<key>offset</key>
			<string>{11,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,35},{79,63}}</string>
			<key>sourceSize</key>
			<string>{107,103}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_daiji_yh_00060.png</key>
		<dict>
			<key>frame</key>
			<string>{{584,835},{85,97}}</string>
			<key>offset</key>
			<string>{10,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,4},{85,97}}</string>
			<key>sourceSize</key>
			<string>{107,103}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_xiaojineng_cth_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,795},{40,16}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{40,16}}</string>
			<key>sourceSize</key>
			<string>{46,16}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_xiaojineng_cth_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{678,977},{44,16}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{44,16}}</string>
			<key>sourceSize</key>
			<string>{46,16}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_xiaojineng_cth_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,447},{46,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,16}}</string>
			<key>sourceSize</key>
			<string>{46,16}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_xiaojineng_cth_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{695,977},{44,16}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{44,16}}</string>
			<key>sourceSize</key>
			<string>{46,16}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_xiaojineng_yhbd2_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,990},{30,25}}</string>
			<key>offset</key>
			<string>{-4,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,33},{30,25}}</string>
			<key>sourceSize</key>
			<string>{110,103}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_xiaojineng_yhbd2_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{780,464},{66,67}}</string>
			<key>offset</key>
			<string>{-4,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,13},{66,67}}</string>
			<key>sourceSize</key>
			<string>{110,103}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_xiaojineng_yhbd2_00027.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,265},{96,91}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,5},{96,91}}</string>
			<key>sourceSize</key>
			<string>{110,103}</string>
		</dict>
		<key>New_zl_ygnz_xnsz_xiaojineng_yhbd_00035.png</key>
		<dict>
			<key>frame</key>
			<string>{{780,612},{64,61}}</string>
			<key>offset</key>
			<string>{3,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,13},{64,61}}</string>
			<key>sourceSize</key>
			<string>{88,95}</string>
		</dict>
		<key>YGNS_sj_gedang.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,422},{24,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,46}}</string>
			<key>sourceSize</key>
			<string>{24,46}</string>
		</dict>
		<key>wy_sj_46_46_72026_yigenisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{897,990},{86,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{86,29}}</string>
			<key>sourceSize</key>
			<string>{86,33}</string>
		</dict>
		<key>zl_ygnz_xnsz_bisha4_xz3_00067.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,456},{30,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,3},{30,138}}</string>
			<key>sourceSize</key>
			<string>{34,144}</string>
		</dict>
		<key>zl_ygnz_xnsz_bisha4_xz6_00067.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,636},{15,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{15,31}}</string>
			<key>sourceSize</key>
			<string>{19,31}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>ygnzYGXN_common2.png</string>
		<key>scale</key>
		<real>0.45</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ygnzYGXN_common2.png</string>
	</dict>
</dict>
</plist>
