<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_hhdds_liumenbisha_bo_00115.png</key>
		<dict>
			<key>frame</key>
			<string>{{807,960},{89,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,62}}</string>
			<key>sourceSize</key>
			<string>{89,62}</string>
		</dict>
		<key>New_hhdds_liumenbisha_bo_00132.png</key>
		<dict>
			<key>frame</key>
			<string>{{909,2},{214,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,113}}</string>
			<key>sourceSize</key>
			<string>{214,113}</string>
		</dict>
		<key>New_hhdds_liumenbisha_bo_00134.png</key>
		<dict>
			<key>frame</key>
			<string>{{688,2},{220,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,115}}</string>
			<key>sourceSize</key>
			<string>{220,115}</string>
		</dict>
		<key>New_hhdds_liumenbisha_bo_00136.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,679},{209,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,110}}</string>
			<key>sourceSize</key>
			<string>{209,110}</string>
		</dict>
		<key>New_hhdds_liumenbisha_bo_00138.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,565},{211,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,113}}</string>
			<key>sourceSize</key>
			<string>{211,113}</string>
		</dict>
		<key>New_hhdds_liumenbisha_bo_00178.png</key>
		<dict>
			<key>frame</key>
			<string>{{897,960},{61,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,94}}</string>
			<key>sourceSize</key>
			<string>{61,94}</string>
		</dict>
		<key>New_hhdds_liumenbisha_stw_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{881,410},{141,200}}</string>
			<key>offset</key>
			<string>{-17,5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,10},{141,200}}</string>
			<key>sourceSize</key>
			<string>{255,230}</string>
		</dict>
		<key>New_hhdds_liumenbisha_stw_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,572},{153,204}}</string>
			<key>offset</key>
			<string>{-15,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{36,8},{153,204}}</string>
			<key>sourceSize</key>
			<string>{255,230}</string>
		</dict>
		<key>New_hhdds_liumenbisha_stw_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,389},{175,212}}</string>
			<key>offset</key>
			<string>{-16,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,5},{175,212}}</string>
			<key>sourceSize</key>
			<string>{255,230}</string>
		</dict>
		<key>New_hhdds_liumenbisha_stw_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,171},{187,222}}</string>
			<key>offset</key>
			<string>{-14,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,0},{187,222}}</string>
			<key>sourceSize</key>
			<string>{255,230}</string>
		</dict>
		<key>New_hhdds_liumenbisha_stw_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,533},{195,214}}</string>
			<key>offset</key>
			<string>{-13,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,10},{195,214}}</string>
			<key>sourceSize</key>
			<string>{255,230}</string>
		</dict>
		<key>New_hhdds_liumenbisha_stw_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{451,181},{207,216}}</string>
			<key>offset</key>
			<string>{-11,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,8},{207,216}}</string>
			<key>sourceSize</key>
			<string>{255,230}</string>
		</dict>
		<key>New_hhdds_liumenbisha_stw_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,359},{215,212}}</string>
			<key>offset</key>
			<string>{-10,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,15},{215,212}}</string>
			<key>sourceSize</key>
			<string>{255,230}</string>
		</dict>
		<key>New_hhdds_liumenbisha_stw_00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{688,118},{219,216}}</string>
			<key>offset</key>
			<string>{-8,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,14},{219,216}}</string>
			<key>sourceSize</key>
			<string>{255,230}</string>
		</dict>
		<key>New_hhdds_liumenbisha_stw_00034.png</key>
		<dict>
			<key>frame</key>
			<string>{{234,2},{229,168}}</string>
			<key>offset</key>
			<string>{-8,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,29},{229,168}}</string>
			<key>sourceSize</key>
			<string>{255,230}</string>
		</dict>
		<key>New_hhdds_liumenbisha_stw_00036.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{231,166}}</string>
			<key>offset</key>
			<string>{-6,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,33},{231,166}}</string>
			<key>sourceSize</key>
			<string>{255,230}</string>
		</dict>
		<key>New_hhdds_liumenbisha_stw_00054.png</key>
		<dict>
			<key>frame</key>
			<string>{{653,534},{211,150}}</string>
			<key>offset</key>
			<string>{-9,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,42},{211,150}}</string>
			<key>sourceSize</key>
			<string>{255,230}</string>
		</dict>
		<key>New_hhdds_liumenbisha_yan_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{721,821},{143,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,133}}</string>
			<key>sourceSize</key>
			<string>{143,133}</string>
		</dict>
		<key>New_hhdds_liumenbisha_yan_00021.png</key>
		<dict>
			<key>frame</key>
			<string>{{721,685},{143,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,135}}</string>
			<key>sourceSize</key>
			<string>{143,135}</string>
		</dict>
		<key>New_hhdds_putongbisha1_bz_00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,901},{121,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,78}}</string>
			<key>sourceSize</key>
			<string>{121,78}</string>
		</dict>
		<key>New_hhdds_putongbisha1_bz_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,901},{139,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{139,120}}</string>
			<key>sourceSize</key>
			<string>{139,120}</string>
		</dict>
		<key>New_hhdds_putongbisha1_bz_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{668,335},{198,212}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,212}}</string>
			<key>sourceSize</key>
			<string>{198,212}</string>
		</dict>
		<key>New_hhdds_putongbisha1_bz_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,801},{209,193}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,193}}</string>
			<key>sourceSize</key>
			<string>{209,193}</string>
		</dict>
		<key>New_hhdds_putongbisha1_bz_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,335},{221,197}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,197}}</string>
			<key>sourceSize</key>
			<string>{221,197}</string>
		</dict>
		<key>New_hhdds_putongbisha1_bz_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,2},{223,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{223,178}}</string>
			<key>sourceSize</key>
			<string>{223,178}</string>
		</dict>
		<key>New_hhdds_putongbisha2_bd_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,169},{165,225}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,225}}</string>
			<key>sourceSize</key>
			<string>{165,225}</string>
		</dict>
		<key>New_hhdds_putongbisha2_bd_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,726},{174,203}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,203}}</string>
			<key>sourceSize</key>
			<string>{174,203}</string>
		</dict>
		<key>New_hhdds_putongbisha2_bd_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{865,611},{157,189}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,189}}</string>
			<key>sourceSize</key>
			<string>{157,189}</string>
		</dict>
		<key>New_hhdds_putongbisha3_bd_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,790},{110,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,67}}</string>
			<key>sourceSize</key>
			<string>{110,67}</string>
		</dict>
		<key>New_hhdds_putongbisha3_cr_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,685},{70,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,84}}</string>
			<key>sourceSize</key>
			<string>{70,84}</string>
		</dict>
		<key>New_hhdds_putongbisha3_db_00027.png</key>
		<dict>
			<key>frame</key>
			<string>{{721,955},{85,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,67}}</string>
			<key>sourceSize</key>
			<string>{85,67}</string>
		</dict>
		<key>New_hhdds_putonggongji_bd_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,729},{70,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,86}}</string>
			<key>sourceSize</key>
			<string>{70,86}</string>
		</dict>
		<key>New_hongquan__00021.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,901},{118,120}}</string>
			<key>offset</key>
			<string>{6,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,35},{118,120}}</string>
			<key>sourceSize</key>
			<string>{200,202}</string>
		</dict>
		<key>New_jshhd_liumenbisha_baibo3_00170.png</key>
		<dict>
			<key>frame</key>
			<string>{{908,217},{114,192}}</string>
			<key>offset</key>
			<string>{-3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{114,192}}</string>
			<key>sourceSize</key>
			<string>{120,196}</string>
		</dict>
		<key>New_jshhd_liumenbisha_baibo3_00186.png</key>
		<dict>
			<key>frame</key>
			<string>{{534,901},{119,186}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,186}}</string>
			<key>sourceSize</key>
			<string>{119,186}</string>
		</dict>
		<key>New_jshhd_liumenbisha_baibo_00183.png</key>
		<dict>
			<key>frame</key>
			<string>{{573,790},{69,147}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,6},{69,147}}</string>
			<key>sourceSize</key>
			<string>{73,159}</string>
		</dict>
		<key>New_jshhd_liumenbisha_baibo_00187.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,729},{70,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,8},{70,145}}</string>
			<key>sourceSize</key>
			<string>{70,161}</string>
		</dict>
		<key>New_kl_putongbisha2_baoqi_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{865,801},{158,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,157}}</string>
			<key>sourceSize</key>
			<string>{158,157}</string>
		</dict>
		<key>New_klk_ptbs_shenhoubaibo_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{507,790},{110,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,65}}</string>
			<key>sourceSize</key>
			<string>{110,65}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>jshhdXVJD_common1.png</string>
		<key>scale</key>
		<real>0.5</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>jshhdXVJD_common1.png</string>
	</dict>
</dict>
</plist>
