<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_jp_qhzl_baner.png</key>
		<dict>
			<key>frame</key>
			<string>{{620,102},{941,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{941,86}}</string>
			<key>sourceSize</key>
			<string>{941,86}</string>
		</dict>
		<key>pic_jp_qhzl_baner_plus.png</key>
		<dict>
			<key>frame</key>
			<string>{{620,2},{941,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{941,98}}</string>
			<key>sourceSize</key>
			<string>{941,98}</string>
		</dict>
		<key>pic_jp_qhzl_goumai_jiage.png</key>
		<dict>
			<key>frame</key>
			<string>{{653,300},{107,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,34}}</string>
			<key>sourceSize</key>
			<string>{107,34}</string>
		</dict>
		<key>pic_jp_qhzl_guize_title.png</key>
		<dict>
			<key>frame</key>
			<string>{{774,336},{381,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{381,58}}</string>
			<key>sourceSize</key>
			<string>{381,58}</string>
		</dict>
		<key>pic_jp_qhzl_jinjiezhanling.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{616,452}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{616,452}}</string>
			<key>sourceSize</key>
			<string>{616,452}</string>
		</dict>
		<key>pic_jp_qhzl_yeqian_richang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{655,428},{70,19}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,6},{70,19}}</string>
			<key>sourceSize</key>
			<string>{90,33}</string>
		</dict>
		<key>pic_jp_qhzl_yeqian_richang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{758,190},{90,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,33}}</string>
			<key>sourceSize</key>
			<string>{90,33}</string>
		</dict>
		<key>pic_jp_qhzl_yeqian_teshu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{655,336},{90,18}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,6},{90,18}}</string>
			<key>sourceSize</key>
			<string>{108,32}</string>
		</dict>
		<key>pic_jp_qhzl_yeqian_teshu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{653,190},{108,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,32}}</string>
			<key>sourceSize</key>
			<string>{108,32}</string>
		</dict>
		<key>pic_jp_qhzl_yeqian_zhanling_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{755,336},{77,17}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,8},{77,17}}</string>
			<key>sourceSize</key>
			<string>{101,33}</string>
		</dict>
		<key>pic_jp_qhzl_yeqian_zhanling_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{620,349},{101,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,33}}</string>
			<key>sourceSize</key>
			<string>{101,33}</string>
		</dict>
		<key>pic_jp_qhzl_yeqian_zhuxian_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{762,282},{52,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,7},{52,17}}</string>
			<key>sourceSize</key>
			<string>{70,31}</string>
		</dict>
		<key>pic_jp_qhzl_yeqian_zhuxian_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{727,416},{70,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,31}}</string>
			<key>sourceSize</key>
			<string>{70,31}</string>
		</dict>
		<key>pic_jp_qhzl_zhanlingdengji.png</key>
		<dict>
			<key>frame</key>
			<string>{{620,190},{157,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,31}}</string>
			<key>sourceSize</key>
			<string>{157,31}</string>
		</dict>
		<key>pic_qhzl_zi_di_ylq.png</key>
		<dict>
			<key>frame</key>
			<string>{{687,190},{97,69}}</string>
			<key>offset</key>
			<string>{-15,-35}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,70},{97,69}}</string>
			<key>sourceSize</key>
			<string>{127,139}</string>
		</dict>
		<key>pic_renwu_lucky.png</key>
		<dict>
			<key>frame</key>
			<string>{{675,336},{78,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,78}}</string>
			<key>sourceSize</key>
			<string>{78,78}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_task0.png</string>
		<key>size</key>
		<string>{1563,456}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_task0.png</string>
	</dict>
</dict>
</plist>
