<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ylsb_skill3_chibang_glow_00054_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,333},{33,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,35}}</string>
			<key>sourceSize</key>
			<string>{33,35}</string>
		</dict>
		<key>ylsb_skill3_chibang_glow_00056_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,588},{40,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,41}}</string>
			<key>sourceSize</key>
			<string>{40,41}</string>
		</dict>
		<key>ylsb_skill3_chibang_glow_00058_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,590},{47,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,49}}</string>
			<key>sourceSize</key>
			<string>{47,49}</string>
		</dict>
		<key>ylsb_skill3_chibang_glow_00060_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,578},{55,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,57}}</string>
			<key>sourceSize</key>
			<string>{55,57}</string>
		</dict>
		<key>ylsb_skill3_chibang_glow_00062_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,628},{62,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,64}}</string>
			<key>sourceSize</key>
			<string>{62,64}</string>
		</dict>
		<key>ylsb_skill3_chibang_glow_00064_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,554},{69,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,72}}</string>
			<key>sourceSize</key>
			<string>{69,72}</string>
		</dict>
		<key>ylsb_skill3_chibang_glow_00066_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,501},{75,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,78}}</string>
			<key>sourceSize</key>
			<string>{75,78}</string>
		</dict>
		<key>ylsb_skill3_chibang_glow_00068_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,506},{79,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,82}}</string>
			<key>sourceSize</key>
			<string>{79,82}</string>
		</dict>
		<key>ylsb_skill3_chibang_glow_00070_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,554},{84,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,87}}</string>
			<key>sourceSize</key>
			<string>{84,87}</string>
		</dict>
		<key>ylsb_skill3_chibang_glow_00072_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{383,333},{86,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,88}}</string>
			<key>sourceSize</key>
			<string>{86,88}</string>
		</dict>
		<key>ylsb_skill3_chibang_glow_00074_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{389,95},{88,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,89}}</string>
			<key>sourceSize</key>
			<string>{88,89}</string>
		</dict>
		<key>ylsb_skill3_chibang_glow_00076_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,185},{87,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,89}}</string>
			<key>sourceSize</key>
			<string>{87,89}</string>
		</dict>
		<key>ylsb_skill3_chibang_glow_00078_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,501},{85,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,87}}</string>
			<key>sourceSize</key>
			<string>{85,87}</string>
		</dict>
		<key>ylsb_skill3_chibang_glow_00080_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,506},{82,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,84}}</string>
			<key>sourceSize</key>
			<string>{82,84}</string>
		</dict>
		<key>ylsb_skill3_ziquan_00092_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,93},{25,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,10}}</string>
			<key>sourceSize</key>
			<string>{25,10}</string>
		</dict>
		<key>ylsb_skill3_ziquan_00093_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,52},{39,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,16}}</string>
			<key>sourceSize</key>
			<string>{39,16}</string>
		</dict>
		<key>ylsb_skill3_ziquan_00094_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,587},{54,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,21}}</string>
			<key>sourceSize</key>
			<string>{54,21}</string>
		</dict>
		<key>ylsb_skill3_ziquan_00095_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{480,120},{69,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,28}}</string>
			<key>sourceSize</key>
			<string>{69,28}</string>
		</dict>
		<key>ylsb_skill3_ziquan_00096_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,191},{84,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,34}}</string>
			<key>sourceSize</key>
			<string>{84,34}</string>
		</dict>
		<key>ylsb_skill3_ziquan_00097_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{389,52},{99,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,41}}</string>
			<key>sourceSize</key>
			<string>{99,41}</string>
		</dict>
		<key>ylsb_skill3_ziquan_00098_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{389,2},{113,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,48}}</string>
			<key>sourceSize</key>
			<string>{113,48}</string>
		</dict>
		<key>ylsb_skill3_ziquan_00099_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{383,277},{127,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,54}}</string>
			<key>sourceSize</key>
			<string>{127,54}</string>
		</dict>
		<key>ylsb_skill3_ziquan_00100_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,421},{140,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{140,61}}</string>
			<key>sourceSize</key>
			<string>{142,61}</string>
		</dict>
		<key>ylsb_skill3_ziquan_00101_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,484},{153,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{153,68}}</string>
			<key>sourceSize</key>
			<string>{155,68}</string>
		</dict>
		<key>ylsb_skill3_ziquan_00102_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,426},{167,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,73}}</string>
			<key>sourceSize</key>
			<string>{167,73}</string>
		</dict>
		<key>ylsb_skill3_ziquan_00103_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,426},{178,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,78}}</string>
			<key>sourceSize</key>
			<string>{178,78}</string>
		</dict>
		<key>ylsb_skill3_ziquan_00104_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,260},{185,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,82}}</string>
			<key>sourceSize</key>
			<string>{185,82}</string>
		</dict>
		<key>ylsb_skill3_ziquan_00105_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,259},{188,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,84}}</string>
			<key>sourceSize</key>
			<string>{188,84}</string>
		</dict>
		<key>ylsb_skill3_ziquan_00106_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,2},{191,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,84}}</string>
			<key>sourceSize</key>
			<string>{191,84}</string>
		</dict>
		<key>ylsb_skill3_ziquan_00107_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,88},{191,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{191,83}}</string>
			<key>sourceSize</key>
			<string>{193,83}</string>
		</dict>
		<key>ylsb_skill3_ziquan_00108_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,175},{189,83}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,83}}</string>
			<key>sourceSize</key>
			<string>{191,83}</string>
		</dict>
		<key>ylsb_skill3_ziquan_00109_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,173},{189,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,84}}</string>
			<key>sourceSize</key>
			<string>{189,84}</string>
		</dict>
		<key>ylsb_skill3_ziquan_00110_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{192,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,85}}</string>
			<key>sourceSize</key>
			<string>{192,85}</string>
		</dict>
		<key>ylsb_skill3_ziquan_00111_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,89},{190,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,84}}</string>
			<key>sourceSize</key>
			<string>{190,84}</string>
		</dict>
		<key>ylsb_skill3_ziquan_00112_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,344},{184,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,80}}</string>
			<key>sourceSize</key>
			<string>{184,80}</string>
		</dict>
		<key>ylsb_skill3_ziquan_00113_lianshabailiumenziquanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{188,345},{180,79}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{180,79}}</string>
			<key>sourceSize</key>
			<string>{182,79}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>lianshabailiumenziquanimage.png</string>
		<key>scale</key>
		<real>0.52</real>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lianshabailiumenziquanimage.png</string>
	</dict>
</dict>
</plist>
