<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_ldjq_dhqh_tc_Max.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,951},{74,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,32}}</string>
			<key>sourceSize</key>
			<string>{74,32}</string>
		</dict>
		<key>pic_ldjq_jgzr_shang_duiwu_zhandouli_shilizhi.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,1097},{66,32}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{66,32}}</string>
			<key>sourceSize</key>
			<string>{74,32}</string>
		</dict>
		<key>pic_ldjq_jgzr_taitou_jgzr.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,268},{196,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,71}}</string>
			<key>sourceSize</key>
			<string>{196,71}</string>
		</dict>
		<key>pic_ldjq_jgzr_taitou_jgzr1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,134},{222,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,71}}</string>
			<key>sourceSize</key>
			<string>{222,71}</string>
		</dict>
		<key>pic_ldjq_jgzr_xia_zi_gedoujia_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,1083},{49,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,24}}</string>
			<key>sourceSize</key>
			<string>{49,24}</string>
		</dict>
		<key>pic_ldjq_jgzr_xia_zi_gedoujia_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,1051},{70,44}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,0},{70,44}}</string>
			<key>sourceSize</key>
			<string>{94,44}</string>
		</dict>
		<key>pic_ldjq_jgzr_xia_zi_zhiyuan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{21,1032},{68,44}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,0},{68,44}}</string>
			<key>sourceSize</key>
			<string>{94,44}</string>
		</dict>
		<key>pic_ldjq_jl_taitou.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,442},{180,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,59}}</string>
			<key>sourceSize</key>
			<string>{180,59}</string>
		</dict>
		<key>pic_ldjq_jl_zi_jinjijiangli_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,506},{114,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,25}}</string>
			<key>sourceSize</key>
			<string>{114,25}</string>
		</dict>
		<key>pic_ldjq_jl_zi_jinjijiangli_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,817},{131,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,43}}</string>
			<key>sourceSize</key>
			<string>{131,43}</string>
		</dict>
		<key>pic_ldjq_jl_zi_saijijiangli_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,622},{94,25}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{94,25}}</string>
			<key>sourceSize</key>
			<string>{98,25}</string>
		</dict>
		<key>pic_ldjq_jl_zi_saijijiangli_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,949},{112,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,43}}</string>
			<key>sourceSize</key>
			<string>{112,43}</string>
		</dict>
		<key>pic_ldjq_jl_zi_weidabiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,543},{163,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,71}}</string>
			<key>sourceSize</key>
			<string>{163,71}</string>
		</dict>
		<key>pic_ldjq_jl_zi_wenxintishi.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,1027},{71,22}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{71,22}}</string>
			<key>sourceSize</key>
			<string>{75,24}</string>
		</dict>
		<key>pic_ldjq_jl_zi_xiaozusaijiangli_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,770},{96,23}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,2},{96,23}}</string>
			<key>sourceSize</key>
			<string>{118,25}</string>
		</dict>
		<key>pic_ldjq_jl_zi_xiaozusaijiangli_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,908},{115,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,0},{115,39}}</string>
			<key>sourceSize</key>
			<string>{133,39}</string>
		</dict>
		<key>pic_ldjq_jqtz_duiwu_1dui.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,650},{52,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{52,17}}</string>
			<key>sourceSize</key>
			<string>{60,17}</string>
		</dict>
		<key>pic_ldjq_jqtz_duiwu_2dui.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1032},{58,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{58,17}}</string>
			<key>sourceSize</key>
			<string>{60,17}</string>
		</dict>
		<key>pic_ldjq_jqtz_duiwu_3dui.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,688},{58,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{58,17}}</string>
			<key>sourceSize</key>
			<string>{60,17}</string>
		</dict>
		<key>pic_ldjq_jqtz_duiwu_4dui.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,669},{58,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{58,17}}</string>
			<key>sourceSize</key>
			<string>{60,17}</string>
		</dict>
		<key>pic_ldjq_jqtz_ketiaozhan.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,577},{71,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,55}}</string>
			<key>sourceSize</key>
			<string>{71,55}</string>
		</dict>
		<key>pic_ldjq_jqtz_taitou.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{229,71}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{229,71}}</string>
			<key>sourceSize</key>
			<string>{231,71}</string>
		</dict>
		<key>pic_ldjq_jqtz_weibuzhi.png</key>
		<dict>
			<key>frame</key>
			<string>{{21,1078},{66,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{66,16}}</string>
			<key>sourceSize</key>
			<string>{68,16}</string>
		</dict>
		<key>pic_ldjq_jqtz_yijibai.png</key>
		<dict>
			<key>frame</key>
			<string>{{139,795},{115,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,108}}</string>
			<key>sourceSize</key>
			<string>{115,108}</string>
		</dict>
		<key>pic_ldjq_jqtz_zhanbai.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,451},{53,30}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,3},{53,30}}</string>
			<key>sourceSize</key>
			<string>{55,36}</string>
		</dict>
		<key>pic_ldjq_jqtz_zi_gedoujia.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,1153},{46,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,0},{46,20}}</string>
			<key>sourceSize</key>
			<string>{60,20}</string>
		</dict>
		<key>pic_ldjq_jqtz_zi_jifen.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,130},{47,20}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{47,20}}</string>
			<key>sourceSize</key>
			<string>{49,22}</string>
		</dict>
		<key>pic_ldjq_jqtz_zi_lijitiaozhan.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,994},{95,36}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,2},{95,36}}</string>
			<key>sourceSize</key>
			<string>{145,38}</string>
		</dict>
		<key>pic_ldjq_jqtz_zi_xuanzechuzhanduiwu.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,951},{102,22}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{102,22}}</string>
			<key>sourceSize</key>
			<string>{106,24}</string>
		</dict>
		<key>pic_ldjq_jqtz_zi_yidejifen.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,752},{154,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{154,23}}</string>
			<key>sourceSize</key>
			<string>{158,23}</string>
		</dict>
		<key>pic_ldjq_jqtz_zi_zhanli.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,81},{47,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,20}}</string>
			<key>sourceSize</key>
			<string>{47,20}</string>
		</dict>
		<key>pic_ldjq_jqtz_zi_zhiyuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,1131},{46,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,20}}</string>
			<key>sourceSize</key>
			<string>{46,20}</string>
		</dict>
		<key>pic_ldjq_paihang_taitou.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,207},{216,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,59}}</string>
			<key>sourceSize</key>
			<string>{216,59}</string>
		</dict>
		<key>pic_ldjq_ph_zi_benqizhanji.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,304},{145,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,26}}</string>
			<key>sourceSize</key>
			<string>{145,26}</string>
		</dict>
		<key>pic_ldjq_tc_zb_fail.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,1013},{80,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,68}}</string>
			<key>sourceSize</key>
			<string>{80,68}</string>
		</dict>
		<key>pic_ldjq_tc_zb_succ.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1097},{75,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,65}}</string>
			<key>sourceSize</key>
			<string>{75,65}</string>
		</dict>
		<key>pic_ldjq_wdjq_tc_zi_djxzbzdw.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,658},{159,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,19}}</string>
			<key>sourceSize</key>
			<string>{159,19}</string>
		</dict>
		<key>pic_ldjq_wdjq_tc_zi_jingedoujia.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,503},{179,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,38}}</string>
			<key>sourceSize</key>
			<string>{179,38}</string>
		</dict>
		<key>pic_ldjq_wdjq_tc_zi_quanbutianchong.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,975},{97,36}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,2},{97,36}}</string>
			<key>sourceSize</key>
			<string>{147,38}</string>
		</dict>
		<key>pic_ldjq_wdjq_zi_baoming.png</key>
		<dict>
			<key>frame</key>
			<string>{{190,431},{144,32}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{144,32}}</string>
			<key>sourceSize</key>
			<string>{144,34}</string>
		</dict>
		<key>pic_ldjq_wdjq_zi_dangqianduiwu.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,1097},{74,18}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{74,18}}</string>
			<key>sourceSize</key>
			<string>{76,20}</string>
		</dict>
		<key>pic_ldjq_wdjq_zi_duiwuzhanli.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,1109},{46,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,0},{46,20}}</string>
			<key>sourceSize</key>
			<string>{76,20}</string>
		</dict>
		<key>pic_ldjq_wdjq_zi_jiequbuzhi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,341},{193,32}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,32}}</string>
			<key>sourceSize</key>
			<string>{195,32}</string>
		</dict>
		<key>pic_ldjq_wdjq_zi_jiequzongzhandouli.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,268},{161,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,24}}</string>
			<key>sourceSize</key>
			<string>{161,24}</string>
		</dict>
		<key>pic_ldjq_wdjq_zi_shouweifenshu.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,1121},{78,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,19}}</string>
			<key>sourceSize</key>
			<string>{78,19}</string>
		</dict>
		<key>pic_ldjq_wdjq_zi_shuxingzengqiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,2},{77,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,20}}</string>
			<key>sourceSize</key>
			<string>{77,20}</string>
		</dict>
		<key>pic_ldjq_zb_taitou.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,679},{157,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,71}}</string>
			<key>sourceSize</key>
			<string>{157,71}</string>
		</dict>
		<key>pic_ldjq_zb_zanwushuju.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,375},{186,65}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{186,65}}</string>
			<key>sourceSize</key>
			<string>{188,65}</string>
		</dict>
		<key>pic_ldjq_zb_zi_fangshouzhanbao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,743},{92,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{92,25}}</string>
			<key>sourceSize</key>
			<string>{98,25}</string>
		</dict>
		<key>pic_ldjq_zb_zi_fangshouzhanbao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,905},{119,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,44}}</string>
			<key>sourceSize</key>
			<string>{119,44}</string>
		</dict>
		<key>pic_ldjq_zb_zi_huifang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,777},{135,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{135,38}}</string>
			<key>sourceSize</key>
			<string>{137,44}</string>
		</dict>
		<key>pic_ldjq_zb_zi_jingongzhanbao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,718},{93,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{93,23}}</string>
			<key>sourceSize</key>
			<string>{99,25}</string>
		</dict>
		<key>pic_ldjq_zb_zi_jingongzhanbao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,862},{119,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,44}}</string>
			<key>sourceSize</key>
			<string>{119,44}</string>
		</dict>
		<key>pic_ldjq_zjm_paiming_weishangbang.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,1097},{78,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,2},{78,22}}</string>
			<key>sourceSize</key>
			<string>{90,26}</string>
		</dict>
		<key>pic_ldjq_zjm_taitou.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,75},{229,57}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{229,57}}</string>
			<key>sourceSize</key>
			<string>{231,57}</string>
		</dict>
		<key>pic_ldjq_zjm_yitiaozhan.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,616},{163,40}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,3},{163,40}}</string>
			<key>sourceSize</key>
			<string>{167,46}</string>
		</dict>
		<key>pic_ldjq_zjm_zi_weimianguanjun.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,179},{123,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,27}}</string>
			<key>sourceSize</key>
			<string>{123,27}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_meleeZone10.png</string>
		<key>size</key>
		<string>{256,1175}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_meleeZone10.png</string>
	</dict>
</dict>
</plist>
