<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bd_dfzbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,457},{104,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,37}}</string>
			<key>sourceSize</key>
			<string>{104,37}</string>
		</dict>
		<key>bei_dfzbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,180},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>btdd_dfzbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{424,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{424,100}}</string>
			<key>sourceSize</key>
			<string>{424,100}</string>
		</dict>
		<key>djsd_dfzbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,180},{30,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,28}}</string>
			<key>sourceSize</key>
			<string>{30,28}</string>
		</dict>
		<key>fanhui_dfzbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,147},{95,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,39}}</string>
			<key>sourceSize</key>
			<string>{95,39}</string>
		</dict>
		<key>gxjj_dfzbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,104},{297,74}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,5},{297,74}}</string>
			<key>sourceSize</key>
			<string>{299,84}</string>
		</dict>
		<key>gxsl_dfzbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,2},{147,76}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,3},{147,76}}</string>
			<key>sourceSize</key>
			<string>{169,82}</string>
		</dict>
		<key>hongbz_dfzbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{257,203},{173,219}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,219}}</string>
			<key>sourceSize</key>
			<string>{173,219}</string>
		</dict>
		<key>hyh_dfzbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{75,244},{199,71}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{199,71}}</string>
			<key>sourceSize</key>
			<string>{211,71}</string>
		</dict>
		<key>hyhzb_dfzbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,151},{304,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{304,71}}</string>
			<key>sourceSize</key>
			<string>{304,71}</string>
		</dict>
		<key>jjxyl_dfzbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,104},{113,41}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,0},{113,41}}</string>
			<key>sourceSize</key>
			<string>{139,41}</string>
		</dict>
		<key>jsgdj_dfzbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,217},{139,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{139,25}}</string>
			<key>sourceSize</key>
			<string>{139,27}</string>
		</dict>
		<key>mask1_dfzbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,180},{23,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,20}}</string>
			<key>sourceSize</key>
			<string>{23,20}</string>
		</dict>
		<key>qu01_dfzbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{217,180},{155,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,21}}</string>
			<key>sourceSize</key>
			<string>{155,21}</string>
		</dict>
		<key>sz01_dfzbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,104},{10,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,21}}</string>
			<key>sourceSize</key>
			<string>{10,21}</string>
		</dict>
		<key>sz02_dfzbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,180},{15,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,22}}</string>
			<key>sourceSize</key>
			<string>{15,22}</string>
		</dict>
		<key>sz03_dfzbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,496},{14,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,23}}</string>
			<key>sourceSize</key>
			<string>{14,23}</string>
		</dict>
		<key>vs_dfzbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,244},{146,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,102}}</string>
			<key>sourceSize</key>
			<string>{146,102}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>dfzbaoimage.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dfzbaoimage.png</string>
	</dict>
</dict>
</plist>
