<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ciguang_BG_100152image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{392,181}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{392,181}}</string>
			<key>sourceSize</key>
			<string>{392,207}</string>
		</dict>
		<key>ddianqiu_BG_100152image.png</key>
		<dict>
			<key>frame</key>
			<string>{{743,2},{267,275}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{267,275}}</string>
			<key>sourceSize</key>
			<string>{267,275}</string>
		</dict>
		<key>dian_BG_100152image.png</key>
		<dict>
			<key>frame</key>
			<string>{{381,212},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>fanguang_BG_100152image.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,2},{222,345}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,0},{222,345}}</string>
			<key>sourceSize</key>
			<string>{252,345}</string>
		</dict>
		<key>lei01_BG_100152image.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,185},{25,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,58}}</string>
			<key>sourceSize</key>
			<string>{25,58}</string>
		</dict>
		<key>lei03_BG_100152image.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,212},{28,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,47}}</string>
			<key>sourceSize</key>
			<string>{28,47}</string>
		</dict>
		<key>mask_BG_100152image.png</key>
		<dict>
			<key>frame</key>
			<string>{{577,792},{173,232}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,232}}</string>
			<key>sourceSize</key>
			<string>{173,232}</string>
		</dict>
		<key>shandian1_BG_100152image.png</key>
		<dict>
			<key>frame</key>
			<string>{{425,792},{150,177}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,177}}</string>
			<key>sourceSize</key>
			<string>{150,177}</string>
		</dict>
		<key>shandian3_BG_100152image.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,924},{100,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,98}}</string>
			<key>sourceSize</key>
			<string>{100,98}</string>
		</dict>
		<key>shandian_01_BG_100152image.png</key>
		<dict>
			<key>frame</key>
			<string>{{425,622},{184,168}}</string>
			<key>offset</key>
			<string>{0,-72}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,162},{184,168}}</string>
			<key>sourceSize</key>
			<string>{184,348}</string>
		</dict>
		<key>shandian_02_BG_100152image.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,420},{200,308}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,12},{200,308}}</string>
			<key>sourceSize</key>
			<string>{200,342}</string>
		</dict>
		<key>shandian_03_BG_100152image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,431},{214,296}}</string>
			<key>offset</key>
			<string>{0,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,8},{214,296}}</string>
			<key>sourceSize</key>
			<string>{214,342}</string>
		</dict>
		<key>shandian_04_BG_100152image.png</key>
		<dict>
			<key>frame</key>
			<string>{{912,453},{244,106}}</string>
			<key>offset</key>
			<string>{0,-92}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,206},{244,106}}</string>
			<key>sourceSize</key>
			<string>{244,334}</string>
		</dict>
		<key>shandian_05_BG_100152image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,185},{244,328}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{244,328}}</string>
			<key>sourceSize</key>
			<string>{248,334}</string>
		</dict>
		<key>shandian_06_BG_100152image.png</key>
		<dict>
			<key>frame</key>
			<string>{{381,226},{192,320}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,8},{192,320}}</string>
			<key>sourceSize</key>
			<string>{192,334}</string>
		</dict>
		<key>shandian_07_BG_100152image.png</key>
		<dict>
			<key>frame</key>
			<string>{{703,271},{180,314}}</string>
			<key>offset</key>
			<string>{0,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,28},{180,314}}</string>
			<key>sourceSize</key>
			<string>{180,348}</string>
		</dict>
		<key>shandian_08_BG_100152image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,647},{168,288}}</string>
			<key>offset</key>
			<string>{15,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,48},{168,288}}</string>
			<key>sourceSize</key>
			<string>{224,348}</string>
		</dict>
		<key>shandian_09_BG_100152image.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,453},{176,268}}</string>
			<key>offset</key>
			<string>{4,-25}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,65},{176,268}}</string>
			<key>sourceSize</key>
			<string>{222,348}</string>
		</dict>
		<key>shandian_BG_100152image.png</key>
		<dict>
			<key>frame</key>
			<string>{{172,647},{251,275}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{251,275}}</string>
			<key>sourceSize</key>
			<string>{251,275}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>BG_100152image.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>BG_100152image.png</string>
	</dict>
</dict>
</plist>
