<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_xemjx_daiji_sd_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,550},{135,56}}</string>
			<key>offset</key>
			<string>{-1,-49}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,103},{135,56}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_daiji_sd_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,2},{131,150}}</string>
			<key>offset</key>
			<string>{1,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,14},{131,150}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_daiji_sd_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,927},{93,116}}</string>
			<key>offset</key>
			<string>{-10,-23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,47},{93,116}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_daiji_sd_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,2},{135,132}}</string>
			<key>offset</key>
			<string>{0,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,32},{135,132}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_daiji_sd_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{607,197},{123,130}}</string>
			<key>offset</key>
			<string>{-1,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,32},{123,130}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_daiji_sd_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{547,414},{125,60}}</string>
			<key>offset</key>
			<string>{-8,-49}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,101},{125,60}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_daiji_sd_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,356},{141,58}}</string>
			<key>offset</key>
			<string>{3,-53}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,106},{141,58}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_daiji_sd_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,138},{119,58}}</string>
			<key>offset</key>
			<string>{2,-53}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,106},{119,58}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_daiji_sd_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{608,414},{123,56}}</string>
			<key>offset</key>
			<string>{-4,-52}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,106},{123,56}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_daiji_sd_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{683,2},{135,96}}</string>
			<key>offset</key>
			<string>{3,-30}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,64},{135,96}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_daiji_sd_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{502,550},{125,104}}</string>
			<key>offset</key>
			<string>{6,-25}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,55},{125,104}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_daiji_sd_00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,550},{135,56}}</string>
			<key>offset</key>
			<string>{-1,-49}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,103},{135,56}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_daiji_sd_00034.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,585},{131,164}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,0},{131,164}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_daiji_sd_00038.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,197},{121,138}}</string>
			<key>offset</key>
			<string>{-1,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,23},{121,138}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_daiji_sd_00040.png</key>
		<dict>
			<key>frame</key>
			<string>{{890,158},{107,60}}</string>
			<key>offset</key>
			<string>{-4,-51}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,103},{107,60}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_daiji_sd_00046.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,414},{135,62}}</string>
			<key>offset</key>
			<string>{0,-51}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,102},{135,62}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_daiji_sd_00048.png</key>
		<dict>
			<key>frame</key>
			<string>{{665,414},{123,56}}</string>
			<key>offset</key>
			<string>{-1,-52}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,106},{123,56}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_daiji_sd_00050.png</key>
		<dict>
			<key>frame</key>
			<string>{{607,540},{125,60}}</string>
			<key>offset</key>
			<string>{-8,-49}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,101},{125,60}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_daiji_sd_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,197},{141,72}}</string>
			<key>offset</key>
			<string>{3,-46}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,92},{141,72}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_daiji_sd_00054.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,138},{119,58}}</string>
			<key>offset</key>
			<string>{2,-53}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,106},{119,58}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_daiji_sd_00056.png</key>
		<dict>
			<key>frame</key>
			<string>{{608,414},{123,56}}</string>
			<key>offset</key>
			<string>{-4,-52}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,106},{123,56}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_daiji_sd_00058.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,414},{135,54}}</string>
			<key>offset</key>
			<string>{3,-51}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,106},{135,54}}</string>
			<key>sourceSize</key>
			<string>{147,164}</string>
		</dict>
		<key>New_xemjx_liumenbisha_bdsd_00048.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,750},{92,99}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,7},{92,99}}</string>
			<key>sourceSize</key>
			<string>{112,113}</string>
		</dict>
		<key>New_xemjx_liumenbisha_bdsd_00049.png</key>
		<dict>
			<key>frame</key>
			<string>{{892,2},{106,111}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,2},{106,111}}</string>
			<key>sourceSize</key>
			<string>{112,113}</string>
		</dict>
		<key>New_xemjx_liumenbisha_bdsd_00050.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,910},{112,111}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{112,111}}</string>
			<key>sourceSize</key>
			<string>{112,113}</string>
		</dict>
		<key>New_xemjx_liumenbisha_bdsd_00053.png</key>
		<dict>
			<key>frame</key>
			<string>{{770,394},{100,99}}</string>
			<key>offset</key>
			<string>{2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,4},{100,99}}</string>
			<key>sourceSize</key>
			<string>{112,113}</string>
		</dict>
		<key>New_xemjx_liumenbisha_bdsd_00054.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,930},{92,103}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,5},{92,103}}</string>
			<key>sourceSize</key>
			<string>{112,113}</string>
		</dict>
		<key>New_xemjx_liumenbisha_bo_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{100,210}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,7},{100,210}}</string>
			<key>sourceSize</key>
			<string>{162,224}</string>
		</dict>
		<key>New_xemjx_liumenbisha_ll_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{314,197},{51,149}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,6},{51,149}}</string>
			<key>sourceSize</key>
			<string>{71,155}</string>
		</dict>
		<key>New_xemjx_liumenbisha_ll_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{369,415},{59,139}}</string>
			<key>offset</key>
			<string>{-3,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,16},{59,139}}</string>
			<key>sourceSize</key>
			<string>{71,155}</string>
		</dict>
		<key>New_xemjx_liumenbisha_ll_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{494,2},{55,141}}</string>
			<key>offset</key>
			<string>{-5,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,14},{55,141}}</string>
			<key>sourceSize</key>
			<string>{71,155}</string>
		</dict>
		<key>New_xemjx_liumenbisha_ll_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,197},{45,139}}</string>
			<key>offset</key>
			<string>{-6,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,16},{45,139}}</string>
			<key>sourceSize</key>
			<string>{71,155}</string>
		</dict>
		<key>New_xemjx_liumenbisha_ll_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,153},{43,133}}</string>
			<key>offset</key>
			<string>{-5,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,21},{43,133}}</string>
			<key>sourceSize</key>
			<string>{71,155}</string>
		</dict>
		<key>New_xemjx_liumenbisha_sd_00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,415},{42,157}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,157}}</string>
			<key>sourceSize</key>
			<string>{42,159}</string>
		</dict>
		<key>New_xemjx_liumenbisha_sd_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,2},{40,157}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{40,157}}</string>
			<key>sourceSize</key>
			<string>{42,159}</string>
		</dict>
		<key>New_xemjx_liumenbisha_sd_00025.png</key>
		<dict>
			<key>frame</key>
			<string>{{440,750},{42,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,159}}</string>
			<key>sourceSize</key>
			<string>{42,159}</string>
		</dict>
		<key>New_xemjx_liumenbisha_sd_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,2},{42,157}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{42,157}}</string>
			<key>sourceSize</key>
			<string>{42,159}</string>
		</dict>
		<key>New_xemjx_liumenbisha_sd_00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,160},{36,153}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,3},{36,153}}</string>
			<key>sourceSize</key>
			<string>{42,159}</string>
		</dict>
		<key>New_xemjx_liumenbisha_yan_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{421,339},{121,74}}</string>
			<key>offset</key>
			<string>{0,-28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,56},{121,74}}</string>
			<key>sourceSize</key>
			<string>{181,130}</string>
		</dict>
		<key>New_xemjx_liumenbisha_yan_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,763},{173,64}}</string>
			<key>offset</key>
			<string>{-2,-32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,65},{173,64}}</string>
			<key>sourceSize</key>
			<string>{181,130}</string>
		</dict>
		<key>New_xemjx_liumenbisha_yan_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,760},{169,42}}</string>
			<key>offset</key>
			<string>{-1,-32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,76},{169,42}}</string>
			<key>sourceSize</key>
			<string>{181,130}</string>
		</dict>
		<key>New_xemjx_liumenbisha_yan_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,760},{169,42}}</string>
			<key>offset</key>
			<string>{-1,-32}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,76},{169,42}}</string>
			<key>sourceSize</key>
			<string>{181,130}</string>
		</dict>
		<key>New_xemjx_putongbisha_bd_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,415},{173,164}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,14},{173,164}}</string>
			<key>sourceSize</key>
			<string>{201,190}</string>
		</dict>
		<key>New_xemjx_putongbisha_bd_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,415},{169,158}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,17},{169,158}}</string>
			<key>sourceSize</key>
			<string>{201,190}</string>
		</dict>
		<key>New_xemjx_putongbisha_bd_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,213},{201,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,190}}</string>
			<key>sourceSize</key>
			<string>{201,190}</string>
		</dict>
		<key>New_xemjx_putongbisha_bd_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{668,538},{97,86}}</string>
			<key>offset</key>
			<string>{-11,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{41,50},{97,86}}</string>
			<key>sourceSize</key>
			<string>{201,190}</string>
		</dict>
		<key>New_xemjx_putongbisha_bd_00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{824,114},{65,68}}</string>
			<key>offset</key>
			<string>{-12,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,59},{65,68}}</string>
			<key>sourceSize</key>
			<string>{201,190}</string>
		</dict>
		<key>New_xemjx_putongbisha_ll_00025.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,589},{146,173}}</string>
			<key>offset</key>
			<string>{0,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,33},{146,173}}</string>
			<key>sourceSize</key>
			<string>{250,217}</string>
		</dict>
		<key>New_xemjx_putongbisha_ll_00035.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,763},{124,171}}</string>
			<key>offset</key>
			<string>{-21,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{42,20},{124,171}}</string>
			<key>sourceSize</key>
			<string>{250,217}</string>
		</dict>
		<key>New_xemjx_putongbisha_ll_00037.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,760},{166,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{42,28},{166,161}}</string>
			<key>sourceSize</key>
			<string>{250,217}</string>
		</dict>
		<key>New_xemjx_putongbisha_ll_00039.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,750},{120,127}}</string>
			<key>offset</key>
			<string>{23,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{88,62},{120,127}}</string>
			<key>sourceSize</key>
			<string>{250,217}</string>
		</dict>
		<key>New_xemjx_putongbisha_ll_00041.png</key>
		<dict>
			<key>frame</key>
			<string>{{731,196},{78,119}}</string>
			<key>offset</key>
			<string>{3,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{89,66},{78,119}}</string>
			<key>sourceSize</key>
			<string>{250,217}</string>
		</dict>
		<key>New_xemjx_putongbisha_ll_00043.png</key>
		<dict>
			<key>frame</key>
			<string>{{892,109},{48,111}}</string>
			<key>offset</key>
			<string>{-11,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{90,69},{48,111}}</string>
			<key>sourceSize</key>
			<string>{250,217}</string>
		</dict>
		<key>New_xemjx_shengli_sd2_00033.png</key>
		<dict>
			<key>frame</key>
			<string>{{697,750},{65,59}}</string>
			<key>offset</key>
			<string>{2,-18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{26,42},{65,59}}</string>
			<key>sourceSize</key>
			<string>{113,107}</string>
		</dict>
		<key>New_xemjx_shengli_sd2_00035.png</key>
		<dict>
			<key>frame</key>
			<string>{{852,540},{79,77}}</string>
			<key>offset</key>
			<string>{-7,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,18},{79,77}}</string>
			<key>sourceSize</key>
			<string>{113,107}</string>
		</dict>
		<key>New_xemjx_shengli_sd2_00037.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,194},{105,79}}</string>
			<key>offset</key>
			<string>{-4,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,12},{105,79}}</string>
			<key>sourceSize</key>
			<string>{113,107}</string>
		</dict>
		<key>New_xemjx_shengli_sd2_00039.png</key>
		<dict>
			<key>frame</key>
			<string>{{559,676},{105,73}}</string>
			<key>offset</key>
			<string>{-3,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,15},{105,73}}</string>
			<key>sourceSize</key>
			<string>{113,107}</string>
		</dict>
		<key>New_xemjx_shengli_sd2_00043.png</key>
		<dict>
			<key>frame</key>
			<string>{{665,666},{83,83}}</string>
			<key>offset</key>
			<string>{-6,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,14},{83,83}}</string>
			<key>sourceSize</key>
			<string>{113,107}</string>
		</dict>
		<key>New_xemjx_shengli_sd2_00045.png</key>
		<dict>
			<key>frame</key>
			<string>{{558,878},{93,99}}</string>
			<key>offset</key>
			<string>{1,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,0},{93,99}}</string>
			<key>sourceSize</key>
			<string>{113,107}</string>
		</dict>
		<key>New_xemjx_shengli_sd2_00047.png</key>
		<dict>
			<key>frame</key>
			<string>{{890,296},{99,103}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,4},{99,103}}</string>
			<key>sourceSize</key>
			<string>{113,107}</string>
		</dict>
		<key>New_xemjx_shengli_sd2_00051.png</key>
		<dict>
			<key>frame</key>
			<string>{{768,494},{83,81}}</string>
			<key>offset</key>
			<string>{-9,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,12},{83,81}}</string>
			<key>sourceSize</key>
			<string>{113,107}</string>
		</dict>
		<key>New_xemjx_shengli_sd2_00053.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,446},{93,93}}</string>
			<key>offset</key>
			<string>{3,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,5},{93,93}}</string>
			<key>sourceSize</key>
			<string>{113,107}</string>
		</dict>
		<key>New_xemjx_shengli_sd2_00057.png</key>
		<dict>
			<key>frame</key>
			<string>{{668,328},{101,83}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,13},{101,83}}</string>
			<key>sourceSize</key>
			<string>{113,107}</string>
		</dict>
		<key>New_xemjx_shengli_sd2_00059.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,300},{79,93}}</string>
			<key>offset</key>
			<string>{-7,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,8},{79,93}}</string>
			<key>sourceSize</key>
			<string>{113,107}</string>
		</dict>
		<key>New_xemjx_shengli_sd2_00061.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,347},{67,85}}</string>
			<key>offset</key>
			<string>{-6,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,13},{67,85}}</string>
			<key>sourceSize</key>
			<string>{113,107}</string>
		</dict>
		<key>New_xemjx_shengli_sd2_00063.png</key>
		<dict>
			<key>frame</key>
			<string>{{932,540},{77,77}}</string>
			<key>offset</key>
			<string>{-11,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,9},{77,77}}</string>
			<key>sourceSize</key>
			<string>{113,107}</string>
		</dict>
		<key>New_xemjx_shengli_sd2_00065.png</key>
		<dict>
			<key>frame</key>
			<string>{{755,576},{69,69}}</string>
			<key>offset</key>
			<string>{-11,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,11},{69,69}}</string>
			<key>sourceSize</key>
			<string>{113,107}</string>
		</dict>
		<key>New_xemjx_shengli_sd3_00083.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,2},{67,156}}</string>
			<key>offset</key>
			<string>{-9,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,7},{67,156}}</string>
			<key>sourceSize</key>
			<string>{91,192}</string>
		</dict>
		<key>New_xemjx_shengli_sd3_00087.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,937},{85,172}}</string>
			<key>offset</key>
			<string>{3,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,20},{85,172}}</string>
			<key>sourceSize</key>
			<string>{91,192}</string>
		</dict>
		<key>New_xemjx_shengli_sd3_00089.png</key>
		<dict>
			<key>frame</key>
			<string>{{543,336},{77,124}}</string>
			<key>offset</key>
			<string>{5,-27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,61},{77,124}}</string>
			<key>sourceSize</key>
			<string>{91,192}</string>
		</dict>
		<key>New_xemjx_shengli_sd3_00091.png</key>
		<dict>
			<key>frame</key>
			<string>{{652,850},{61,68}}</string>
			<key>offset</key>
			<string>{5,-51}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,113},{61,68}}</string>
			<key>sourceSize</key>
			<string>{91,192}</string>
		</dict>
		<key>New_xemjx_shengli_sd4_00111.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,2},{106,194}}</string>
			<key>offset</key>
			<string>{4,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{28,59},{106,194}}</string>
			<key>sourceSize</key>
			<string>{154,270}</string>
		</dict>
		<key>New_xemjx_shengli_sd4_00113.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,197},{120,158}}</string>
			<key>offset</key>
			<string>{-6,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,67},{120,158}}</string>
			<key>sourceSize</key>
			<string>{154,270}</string>
		</dict>
		<key>New_xemjx_shengli_sd_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{776,138},{47,55}}</string>
			<key>offset</key>
			<string>{5,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,52},{47,55}}</string>
			<key>sourceSize</key>
			<string>{65,109}</string>
		</dict>
		<key>New_xemjx_shengli_sd_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{722,474},{45,51}}</string>
			<key>offset</key>
			<string>{3,-27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,56},{45,51}}</string>
			<key>sourceSize</key>
			<string>{65,109}</string>
		</dict>
		<key>New_xemjx_shengli_sd_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{969,396},{49,77}}</string>
			<key>offset</key>
			<string>{4,-16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,32},{49,77}}</string>
			<key>sourceSize</key>
			<string>{65,109}</string>
		</dict>
		<key>New_xemjx_shengli_sd_00030.png</key>
		<dict>
			<key>frame</key>
			<string>{{871,396},{49,97}}</string>
			<key>offset</key>
			<string>{5,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,11},{49,97}}</string>
			<key>sourceSize</key>
			<string>{65,109}</string>
		</dict>
		<key>New_xemjx_shengli_sd_00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,144},{51,101}}</string>
			<key>offset</key>
			<string>{7,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,1},{51,101}}</string>
			<key>sourceSize</key>
			<string>{65,109}</string>
		</dict>
		<key>New_xemjx_shengli_sd_00034.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,935},{49,87}}</string>
			<key>offset</key>
			<string>{8,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,2},{49,87}}</string>
			<key>sourceSize</key>
			<string>{65,109}</string>
		</dict>
		<key>New_xemjx_shengli_sd_00036.png</key>
		<dict>
			<key>frame</key>
			<string>{{558,978},{43,89}}</string>
			<key>offset</key>
			<string>{9,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,3},{43,89}}</string>
			<key>sourceSize</key>
			<string>{65,109}</string>
		</dict>
		<key>New_xemjx_shengli_sd_00038.png</key>
		<dict>
			<key>frame</key>
			<string>{{722,412},{45,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,24},{45,61}}</string>
			<key>sourceSize</key>
			<string>{65,109}</string>
		</dict>
		<key>New_xemjx_shengli_sd_00040.png</key>
		<dict>
			<key>frame</key>
			<string>{{720,138},{55,57}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,24},{55,57}}</string>
			<key>sourceSize</key>
			<string>{65,109}</string>
		</dict>
		<key>New_xemjx_shengli_sd_00042.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,686},{47,63}}</string>
			<key>offset</key>
			<string>{-3,13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,10},{47,63}}</string>
			<key>sourceSize</key>
			<string>{65,109}</string>
		</dict>
		<key>New_xemjx_xiaojineng_sd_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{493,686},{65,62}}</string>
			<key>offset</key>
			<string>{41,-58}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{104,134},{65,62}}</string>
			<key>sourceSize</key>
			<string>{191,214}</string>
		</dict>
		<key>New_xemjx_xiaojineng_sd_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,589},{163,170}}</string>
			<key>offset</key>
			<string>{5,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,33},{163,170}}</string>
			<key>sourceSize</key>
			<string>{191,214}</string>
		</dict>
		<key>New_xemjx_xiaojineng_sd_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{890,219},{105,76}}</string>
			<key>offset</key>
			<string>{24,-46}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67,115},{105,76}}</string>
			<key>sourceSize</key>
			<string>{191,214}</string>
		</dict>
		<key>New_xemjx_xiaojineng_sd_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,474},{65,48}}</string>
			<key>offset</key>
			<string>{31,-50}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{94,133},{65,48}}</string>
			<key>sourceSize</key>
			<string>{191,214}</string>
		</dict>
		<key>xemjx_liumenbisha_bo2_00023.png</key>
		<dict>
			<key>frame</key>
			<string>{{780,2},{111,111}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{111,111}}</string>
			<key>sourceSize</key>
			<string>{115,111}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>lzxemKV_common1.png</string>
		<key>scale</key>
		<real>0.63</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lzxemKV_common1.png</string>
	</dict>
</dict>
</plist>
