<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>csc_b_deng_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,480},{13,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,10}}</string>
			<key>sourceSize</key>
			<string>{13,10}</string>
		</dict>
		<key>csc_b_q01_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,501},{9,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,29}}</string>
			<key>sourceSize</key>
			<string>{9,29}</string>
		</dict>
		<key>csc_b_q02_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,501},{9,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,29}}</string>
			<key>sourceSize</key>
			<string>{9,29}</string>
		</dict>
		<key>csc_b_ysd_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,128},{88,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,35}}</string>
			<key>sourceSize</key>
			<string>{88,35}</string>
		</dict>
		<key>csc_c_dcd_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,128},{33,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,19}}</string>
			<key>sourceSize</key>
			<string>{33,19}</string>
		</dict>
		<key>csc_c_dclg_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,492},{17,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,34}}</string>
			<key>sourceSize</key>
			<string>{17,34}</string>
		</dict>
		<key>csc_c_gai_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,461},{65,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,17}}</string>
			<key>sourceSize</key>
			<string>{65,17}</string>
		</dict>
		<key>csc_di_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{154,2},{123,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,124}}</string>
			<key>sourceSize</key>
			<string>{123,124}</string>
		</dict>
		<key>dipan_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,462},{127,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,31}}</string>
			<key>sourceSize</key>
			<string>{127,31}</string>
		</dict>
		<key>dt_di_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,171},{123,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,130}}</string>
			<key>sourceSize</key>
			<string>{123,130}</string>
		</dict>
		<key>dt_qi_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,446},{74,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,14}}</string>
			<key>sourceSize</key>
			<string>{74,14}</string>
		</dict>
		<key>fmc_di_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,316},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>fmc_mt_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,501},{9,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,54}}</string>
			<key>sourceSize</key>
			<string>{9,54}</string>
		</dict>
		<key>fmc_title02_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,494},{43,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,11}}</string>
			<key>sourceSize</key>
			<string>{43,11}</string>
		</dict>
		<key>fmc_title03_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,480},{43,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,12}}</string>
			<key>sourceSize</key>
			<string>{43,12}</string>
		</dict>
		<key>ggggquan_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,462},{123,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,37}}</string>
			<key>sourceSize</key>
			<string>{123,37}</string>
		</dict>
		<key>guangshu_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{150,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,167}}</string>
			<key>sourceSize</key>
			<string>{150,167}</string>
		</dict>
		<key>jgc_di01_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{379,349},{124,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,100}}</string>
			<key>sourceSize</key>
			<string>{124,100}</string>
		</dict>
		<key>jgc_di02_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{379,239},{124,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,108}}</string>
			<key>sourceSize</key>
			<string>{124,108}</string>
		</dict>
		<key>jgc_di03_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,128},{124,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,109}}</string>
			<key>sourceSize</key>
			<string>{124,109}</string>
		</dict>
		<key>kd_di_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,171},{124,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,143}}</string>
			<key>sourceSize</key>
			<string>{124,143}</string>
		</dict>
		<key>m2_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,297},{17,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,30}}</string>
			<key>sourceSize</key>
			<string>{17,30}</string>
		</dict>
		<key>xing01_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,495},{61,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,13}}</string>
			<key>sourceSize</key>
			<string>{61,13}</string>
		</dict>
		<key>xing02_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,495},{61,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,13}}</string>
			<key>sourceSize</key>
			<string>{61,13}</string>
		</dict>
		<key>xing03_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,446},{61,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,13}}</string>
			<key>sourceSize</key>
			<string>{61,13}</string>
		</dict>
		<key>yc_bg_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,316},{122,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,144}}</string>
			<key>sourceSize</key>
			<string>{122,144}</string>
		</dict>
		<key>yc_lun_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,128},{41,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,45}}</string>
			<key>sourceSize</key>
			<string>{41,45}</string>
		</dict>
		<key>yc_sk_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,501},{9,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,3}}</string>
			<key>sourceSize</key>
			<string>{9,3}</string>
		</dict>
		<key>yc_yzcby_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,495},{5,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,4}}</string>
			<key>sourceSize</key>
			<string>{5,4}</string>
		</dict>
		<key>yc_yzcbz_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{125,501},{6,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,4}}</string>
			<key>sourceSize</key>
			<string>{6,4}</string>
		</dict>
		<key>yc_zhou_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,128},{22,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,32}}</string>
			<key>sourceSize</key>
			<string>{22,32}</string>
		</dict>
		<key>yuanhu_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,2},{124,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,104}}</string>
			<key>sourceSize</key>
			<string>{124,104}</string>
		</dict>
		<key>zzc_bg01_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,316},{124,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,121}}</string>
			<key>sourceSize</key>
			<string>{124,121}</string>
		</dict>
		<key>zzc_bg02_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,171},{124,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,121}}</string>
			<key>sourceSize</key>
			<string>{124,121}</string>
		</dict>
		<key>zzc_bg03_zyxcjingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{279,2},{124,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,122}}</string>
			<key>sourceSize</key>
			<string>{124,122}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>zyxcjingimage.png</string>
		<key>scale</key>
		<real>0.85</real>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>zyxcjingimage.png</string>
	</dict>
</dict>
</plist>
