<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Newsz_dlls_ptbs_baibo_00042.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,582},{229,227}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{229,227}}</string>
			<key>sourceSize</key>
			<string>{229,227}</string>
		</dict>
		<key>Newsz_kxvjr_daiji_huo_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{522,582},{187,227}}</string>
			<key>offset</key>
			<string>{-5,10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,30},{187,227}}</string>
			<key>sourceSize</key>
			<string>{203,267}</string>
		</dict>
		<key>Newsz_kxvjr_daiji_huo_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{820,195},{199,247}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{199,247}}</string>
			<key>sourceSize</key>
			<string>{203,267}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_baodian_00102.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,810},{381,212}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{381,212}}</string>
			<key>sourceSize</key>
			<string>{381,212}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_huoqiu_00063.png</key>
		<dict>
			<key>frame</key>
			<string>{{820,2},{192,202}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,202}}</string>
			<key>sourceSize</key>
			<string>{192,202}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_shouzhang_00044.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{408,289}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{408,289}}</string>
			<key>sourceSize</key>
			<string>{408,289}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_shouzhang_00046.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,2},{408,289}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{408,289}}</string>
			<key>sourceSize</key>
			<string>{408,289}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_shouzhang_00048.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,443},{408,289}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{408,289}}</string>
			<key>sourceSize</key>
			<string>{408,289}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_shouzhang_00050.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,292},{408,289}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{408,289}}</string>
			<key>sourceSize</key>
			<string>{408,289}</string>
		</dict>
		<key>Newsz_kxvjr_liumenbisha_shouzhangshanghuo_00047.png</key>
		<dict>
			<key>frame</key>
			<string>{{762,443},{366,258}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{366,258}}</string>
			<key>sourceSize</key>
			<string>{366,258}</string>
		</dict>
		<key>Newsz_kxvjr_putongbisha_long_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,292},{350,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{350,124}}</string>
			<key>sourceSize</key>
			<string>{350,124}</string>
		</dict>
		<key>Newsz_kxvjr_xiaojineng_huoshang_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{674,810},{212,206}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,206}}</string>
			<key>sourceSize</key>
			<string>{212,206}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>Kxvjr_common25.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>Kxvjr_common25.png</string>
	</dict>
</dict>
</plist>
