<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bg_common_jinengbackground.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{264,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{264,119}}</string>
			<key>sourceSize</key>
			<string>{264,119}</string>
		</dict>
		<key>bg_common_tipsbackground3.png</key>
		<dict>
			<key>frame</key>
			<string>{{556,70},{411,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{411,54}}</string>
			<key>sourceSize</key>
			<string>{411,54}</string>
		</dict>
		<key>bg_common_xinxiditu.png</key>
		<dict>
			<key>frame</key>
			<string>{{1349,39},{188,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,27}}</string>
			<key>sourceSize</key>
			<string>{188,27}</string>
		</dict>
		<key>bg_lostdikuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,2},{286,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{286,113}}</string>
			<key>sourceSize</key>
			<string>{286,113}</string>
		</dict>
		<key>bg_task_tipsbackground03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1262,70},{337,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{337,50}}</string>
			<key>sourceSize</key>
			<string>{337,50}</string>
		</dict>
		<key>pic_common_blue_xixian.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,117},{22,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,2}}</string>
			<key>sourceSize</key>
			<string>{22,2}</string>
		</dict>
		<key>pic_common_fengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{1349,2},{445,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{445,35}}</string>
			<key>sourceSize</key>
			<string>{445,35}</string>
		</dict>
		<key>pic_common_light.png</key>
		<dict>
			<key>frame</key>
			<string>{{969,70},{291,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{291,54}}</string>
			<key>sourceSize</key>
			<string>{291,54}</string>
		</dict>
		<key>pic_fengexian.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,121},{15,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,2}}</string>
			<key>sourceSize</key>
			<string>{15,2}</string>
		</dict>
		<key>pic_huodong_gonggao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1539,39},{300,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,22}}</string>
			<key>sourceSize</key>
			<string>{300,22}</string>
		</dict>
		<key>pic_onlinegift_titlebg.png</key>
		<dict>
			<key>frame</key>
			<string>{{969,2},{378,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{378,66}}</string>
			<key>sourceSize</key>
			<string>{378,66}</string>
		</dict>
		<key>pic_task_redlight.png</key>
		<dict>
			<key>frame</key>
			<string>{{556,2},{411,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{411,66}}</string>
			<key>sourceSize</key>
			<string>{411,66}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>global_ip10.png</string>
		<key>size</key>
		<string>{1841,126}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>global_ip10.png</string>
	</dict>
</dict>
</plist>
