<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask01_BG_100189image.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,596},{174,233}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,233}}</string>
			<key>sourceSize</key>
			<string>{174,233}</string>
		</dict>
		<key>wy_1_1_45599_BG_100189image.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,102},{79,76}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{79,76}}</string>
			<key>sourceSize</key>
			<string>{85,82}</string>
		</dict>
		<key>wy_2_2_76459_BG_100189image.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,232},{56,43}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{56,43}}</string>
			<key>sourceSize</key>
			<string>{62,49}</string>
		</dict>
		<key>wy_3_3_62315_BG_100189image.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,180},{50,59}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,4},{50,59}}</string>
			<key>sourceSize</key>
			<string>{56,67}</string>
		</dict>
		<key>wy_6_6_22926_BG_100189image.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,2},{100,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,98}}</string>
			<key>sourceSize</key>
			<string>{100,98}</string>
		</dict>
		<key>wy_7_7_37230_BG_100189image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,596},{282,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{282,280}}</string>
			<key>sourceSize</key>
			<string>{282,280}</string>
		</dict>
		<key>wy_8_8_76897_BG_100189image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{403,592}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{403,592}}</string>
			<key>sourceSize</key>
			<string>{403,592}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>BG_100189image.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>BG_100189image.png</string>
	</dict>
</dict>
</plist>
