<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hms_pugon_shifa_00010_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,534},{155,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,115}}</string>
			<key>sourceSize</key>
			<string>{155,115}</string>
		</dict>
		<key>hms_pugon_shifa_00011_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{890,664},{161,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,114}}</string>
			<key>sourceSize</key>
			<string>{161,114}</string>
		</dict>
		<key>hms_pugon_shifa_00012_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{540,827},{163,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,113}}</string>
			<key>sourceSize</key>
			<string>{163,113}</string>
		</dict>
		<key>hms_pugon_shifa_00013_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{773,642},{160,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,115}}</string>
			<key>sourceSize</key>
			<string>{160,115}</string>
		</dict>
		<key>hms_pugon_shifa_00014_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{493,534},{155,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,109}}</string>
			<key>sourceSize</key>
			<string>{155,109}</string>
		</dict>
		<key>hms_pugon_shifa_00015_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{655,778},{162,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,110}}</string>
			<key>sourceSize</key>
			<string>{162,110}</string>
		</dict>
		<key>hms_pugon_shifa_00016_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{767,804},{161,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,106}}</string>
			<key>sourceSize</key>
			<string>{161,106}</string>
		</dict>
		<key>hms_pugon_shifa_00017_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,671},{166,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,105}}</string>
			<key>sourceSize</key>
			<string>{166,105}</string>
		</dict>
		<key>hms_pugon_shifa_00018_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{919,501},{161,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,85}}</string>
			<key>sourceSize</key>
			<string>{161,85}</string>
		</dict>
		<key>hms_pugon_shifa_00019_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{930,334},{165,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,85}}</string>
			<key>sourceSize</key>
			<string>{165,85}</string>
		</dict>
		<key>hms_pugon_shifa_00020_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,500},{167,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,84}}</string>
			<key>sourceSize</key>
			<string>{167,84}</string>
		</dict>
		<key>hms_pugon_shifa_00021_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,586},{167,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,83}}</string>
			<key>sourceSize</key>
			<string>{167,83}</string>
		</dict>
		<key>hms_pugon_shifa_00022_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,534},{157,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,80}}</string>
			<key>sourceSize</key>
			<string>{157,80}</string>
		</dict>
		<key>hms_pugon_shifa_00024_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{634,334},{294,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{294,164}}</string>
			<key>sourceSize</key>
			<string>{294,164}</string>
		</dict>
		<key>hms_pugon_shifa_00025_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,342},{293,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{293,190}}</string>
			<key>sourceSize</key>
			<string>{293,190}</string>
		</dict>
		<key>hms_pugon_shifa_00026_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,497},{290,196}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{290,196}}</string>
			<key>sourceSize</key>
			<string>{290,196}</string>
		</dict>
		<key>hms_pugon_shifa_00027_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,693},{282,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{282,200}}</string>
			<key>sourceSize</key>
			<string>{282,200}</string>
		</dict>
		<key>hms_pugon_shifa_00028_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,695},{289,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{289,163}}</string>
			<key>sourceSize</key>
			<string>{289,163}</string>
		</dict>
		<key>hms_pugon_shifa_00029_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,177},{300,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{300,162}}</string>
			<key>sourceSize</key>
			<string>{300,162}</string>
		</dict>
		<key>hms_pugon_shifa_00030_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{649,166},{311,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{311,166}}</string>
			<key>sourceSize</key>
			<string>{311,166}</string>
		</dict>
		<key>hms_pugon_shifa_00031_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,2},{321,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{321,166}}</string>
			<key>sourceSize</key>
			<string>{321,166}</string>
		</dict>
		<key>hms_pugon_shifa_00032_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,695},{285,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{285,169}}</string>
			<key>sourceSize</key>
			<string>{285,169}</string>
		</dict>
		<key>hms_pugon_shifa_00033_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,341},{299,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{299,154}}</string>
			<key>sourceSize</key>
			<string>{299,154}</string>
		</dict>
		<key>hms_pugon_shifa_00034_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{649,2},{315,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{315,162}}</string>
			<key>sourceSize</key>
			<string>{315,162}</string>
		</dict>
		<key>hms_pugon_shifa_00035_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,170},{306,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{306,170}}</string>
			<key>sourceSize</key>
			<string>{306,170}</string>
		</dict>
		<key>hms_pugon_shifa_00036_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{322,173}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{322,173}}</string>
			<key>sourceSize</key>
			<string>{322,173}</string>
		</dict>
		<key>hms_pugon_shifa_00037_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{773,500},{140,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,144}}</string>
			<key>sourceSize</key>
			<string>{140,144}</string>
		</dict>
		<key>hms_pugon_shifa_00038_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{966,2},{5,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,6}}</string>
			<key>sourceSize</key>
			<string>{5,6}</string>
		</dict>
		<key>hms_pugon_shifa_00039_hongpushifaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{974,2},{3,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{3,4}}</string>
			<key>sourceSize</key>
			<string>{3,4}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>hongpushifaimage.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>hongpushifaimage.png</string>
	</dict>
</dict>
</plist>
