<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>largepic_100176.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{706,638}}</string>
			<key>offset</key>
			<string>{12,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{95,2},{706,638}}</string>
			<key>sourceSize</key>
			<string>{872,640}</string>
		</dict>
		<key>longpic_100176.png</key>
		<dict>
			<key>frame</key>
			<string>{{710,2},{193,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,288}}</string>
			<key>sourceSize</key>
			<string>{193,288}</string>
		</dict>
		<key>middlepic_100176.png</key>
		<dict>
			<key>frame</key>
			<string>{{710,341},{183,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,71}}</string>
			<key>sourceSize</key>
			<string>{183,71}</string>
		</dict>
		<key>namepic_100176.png</key>
		<dict>
			<key>frame</key>
			<string>{{710,241},{210,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{210,98}}</string>
			<key>sourceSize</key>
			<string>{210,98}</string>
		</dict>
		<key>skillmaxpic_100176.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,642},{340,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{340,52}}</string>
			<key>sourceSize</key>
			<string>{340,52}</string>
		</dict>
		<key>skillnamepic_100176.png</key>
		<dict>
			<key>frame</key>
			<string>{{710,197},{247,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{247,42}}</string>
			<key>sourceSize</key>
			<string>{247,42}</string>
		</dict>
		<key>skillsmaxpic2_100176.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,642},{339,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{339,52}}</string>
			<key>sourceSize</key>
			<string>{339,52}</string>
		</dict>
		<key>skillsmaxpic_100176.png</key>
		<dict>
			<key>frame</key>
			<string>{{959,197},{396,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{396,52}}</string>
			<key>sourceSize</key>
			<string>{396,52}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>heros_100176.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>heros_100176.png</string>
	</dict>
</dict>
</plist>
