<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00050.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,48},{51,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,28}}</string>
			<key>sourceSize</key>
			<string>{51,28}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00075.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,769},{223,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{223,48}}</string>
			<key>sourceSize</key>
			<string>{223,48}</string>
		</dict>
		<key>New_dzxv_putongbisha_hengti_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,668},{100,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,54}}</string>
			<key>sourceSize</key>
			<string>{100,54}</string>
		</dict>
		<key>New_dzxv_putongbisha_hengti_00015.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,2},{316,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{316,73}}</string>
			<key>sourceSize</key>
			<string>{316,73}</string>
		</dict>
		<key>New_dzxv_putongbisha_hengti_00016.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,375},{292,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{292,54}}</string>
			<key>sourceSize</key>
			<string>{292,54}</string>
		</dict>
		<key>New_dzxv_putongbisha_hengti_00017.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,80},{294,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{294,55}}</string>
			<key>sourceSize</key>
			<string>{294,55}</string>
		</dict>
		<key>New_dzxv_putongbisha_xiapi_00026.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,2},{45,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,120}}</string>
			<key>sourceSize</key>
			<string>{45,120}</string>
		</dict>
		<key>New_dzxv_putongbisha_zhuang_00045.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,2},{57,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,77}}</string>
			<key>sourceSize</key>
			<string>{57,77}</string>
		</dict>
		<key>New_xvdz_putonggongji_zhuaqu_00017.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{488,521}}</string>
			<key>offset</key>
			<string>{8,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,0},{488,521}}</string>
			<key>sourceSize</key>
			<string>{504,521}</string>
		</dict>
		<key>New_xvdz_putonggongji_zhuaqu_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,524},{486,493}}</string>
			<key>offset</key>
			<string>{6,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,11},{486,493}}</string>
			<key>sourceSize</key>
			<string>{504,521}</string>
		</dict>
		<key>New_xvdz_putonggongji_zhuaqu_00019.png</key>
		<dict>
			<key>frame</key>
			<string>{{489,524},{460,473}}</string>
			<key>offset</key>
			<string>{11,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,25},{460,473}}</string>
			<key>sourceSize</key>
			<string>{504,521}</string>
		</dict>
		<key>New_xvdz_putonggongji_zhuaqu_00020.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,80},{450,435}}</string>
			<key>offset</key>
			<string>{8,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,45},{450,435}}</string>
			<key>sourceSize</key>
			<string>{504,521}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>dongzhangXV_common0.png</string>
		<key>scale</key>
		<real>0.91</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dongzhangXV_common0.png</string>
	</dict>
</dict>
</plist>
