<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bth_dszl_beibao_00_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,1256},{56,36}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{56,36}}</string>
			<key>sourceSize</key>
			<string>{56,40}</string>
		</dict>
		<key>bth_dszl_beibao_00_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{462,1030},{56,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,40}}</string>
			<key>sourceSize</key>
			<string>{56,40}</string>
		</dict>
		<key>bth_dszl_beibao_01_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,1248},{56,36}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{56,36}}</string>
			<key>sourceSize</key>
			<string>{56,40}</string>
		</dict>
		<key>bth_dszl_beibao_01_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,1248},{56,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,40}}</string>
			<key>sourceSize</key>
			<string>{56,40}</string>
		</dict>
		<key>bth_dszl_beibao_02_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,1234},{56,36}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{56,36}}</string>
			<key>sourceSize</key>
			<string>{56,40}</string>
		</dict>
		<key>bth_dszl_beibao_02_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,988},{56,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,40}}</string>
			<key>sourceSize</key>
			<string>{56,40}</string>
		</dict>
		<key>bth_dszl_beibao_03_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,422},{56,36}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{56,36}}</string>
			<key>sourceSize</key>
			<string>{56,40}</string>
		</dict>
		<key>bth_dszl_beibao_03_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,946},{56,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,40}}</string>
			<key>sourceSize</key>
			<string>{56,40}</string>
		</dict>
		<key>bth_dszl_beibao_04_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,364},{56,36}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{56,36}}</string>
			<key>sourceSize</key>
			<string>{56,40}</string>
		</dict>
		<key>bth_dszl_beibao_04_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{27,1233},{56,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,40}}</string>
			<key>sourceSize</key>
			<string>{56,40}</string>
		</dict>
		<key>bth_dszl_beibao_05_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,306},{56,36}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{56,36}}</string>
			<key>sourceSize</key>
			<string>{56,40}</string>
		</dict>
		<key>bth_dszl_beibao_05_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,1246},{56,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,40}}</string>
			<key>sourceSize</key>
			<string>{56,40}</string>
		</dict>
		<key>bth_dszl_beibao_06_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,248},{56,36}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{56,36}}</string>
			<key>sourceSize</key>
			<string>{56,40}</string>
		</dict>
		<key>bth_dszl_beibao_06_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{399,1070},{56,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,40}}</string>
			<key>sourceSize</key>
			<string>{56,40}</string>
		</dict>
		<key>bth_dszl_choujiang_1ci_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,329},{168,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,73}}</string>
			<key>sourceSize</key>
			<string>{168,73}</string>
		</dict>
		<key>bth_dszl_choujiang_1ci_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,254},{168,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,73}}</string>
			<key>sourceSize</key>
			<string>{168,73}</string>
		</dict>
		<key>bth_dszl_choujiang_5ci_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,575},{168,70}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{168,70}}</string>
			<key>sourceSize</key>
			<string>{168,72}</string>
		</dict>
		<key>bth_dszl_choujiang_5ci_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,78},{168,70}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{168,70}}</string>
			<key>sourceSize</key>
			<string>{168,72}</string>
		</dict>
		<key>bth_dszl_tanchaung_chongsheng_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,999},{130,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,41}}</string>
			<key>sourceSize</key>
			<string>{130,41}</string>
		</dict>
		<key>bth_dszl_tanchaung_chongsheng_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,812},{130,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,41}}</string>
			<key>sourceSize</key>
			<string>{130,41}</string>
		</dict>
		<key>bth_dszl_tanchaung_daojuchongsheng_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,1013},{133,49}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,8},{133,49}}</string>
			<key>sourceSize</key>
			<string>{135,69}</string>
		</dict>
		<key>bth_dszl_tanchaung_daojuchongsheng_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,515},{135,69}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{135,69}}</string>
			<key>sourceSize</key>
			<string>{135,77}</string>
		</dict>
		<key>bth_dszl_tanchaung_daojufenjie_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,901},{133,49}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{133,49}}</string>
			<key>sourceSize</key>
			<string>{135,69}</string>
		</dict>
		<key>bth_dszl_tanchaung_daojufenjie_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,518},{135,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,69}}</string>
			<key>sourceSize</key>
			<string>{135,69}</string>
		</dict>
		<key>bth_dszl_tanchaung_daojujuexing_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,853},{98,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,37}}</string>
			<key>sourceSize</key>
			<string>{98,37}</string>
		</dict>
		<key>bth_dszl_tanchaung_daojujuexing_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,1150},{98,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,37}}</string>
			<key>sourceSize</key>
			<string>{98,37}</string>
		</dict>
		<key>bth_dszl_tanchaung_daojushengji_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,1148},{98,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,37}}</string>
			<key>sourceSize</key>
			<string>{98,37}</string>
		</dict>
		<key>bth_dszl_tanchaung_daojushengji_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,814},{98,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,37}}</string>
			<key>sourceSize</key>
			<string>{98,37}</string>
		</dict>
		<key>bth_dszl_tanchaung_fenjie_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,769},{130,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,41}}</string>
			<key>sourceSize</key>
			<string>{130,41}</string>
		</dict>
		<key>bth_dszl_tanchaung_fenjie_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,726},{130,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,41}}</string>
			<key>sourceSize</key>
			<string>{130,41}</string>
		</dict>
		<key>bth_dszl_tanchaung_jihuo_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,1124},{108,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,45}}</string>
			<key>sourceSize</key>
			<string>{108,45}</string>
		</dict>
		<key>bth_dszl_tanchaung_jihuo_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,952},{108,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,45}}</string>
			<key>sourceSize</key>
			<string>{108,45}</string>
		</dict>
		<key>bth_dszl_tanchaung_juexing_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,683},{130,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,41}}</string>
			<key>sourceSize</key>
			<string>{130,41}</string>
		</dict>
		<key>bth_dszl_tanchaung_juexing_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,640},{130,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,41}}</string>
			<key>sourceSize</key>
			<string>{130,41}</string>
		</dict>
		<key>bth_dszl_tanchaung_kuaisuxuanze_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,597},{130,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,41}}</string>
			<key>sourceSize</key>
			<string>{130,41}</string>
		</dict>
		<key>bth_dszl_tanchaung_kuaisuxuanze_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,554},{130,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,41}}</string>
			<key>sourceSize</key>
			<string>{130,41}</string>
		</dict>
		<key>bth_dszl_tanchaung_qianwang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,215},{120,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,36}}</string>
			<key>sourceSize</key>
			<string>{120,36}</string>
		</dict>
		<key>bth_dszl_tanchaung_qianwang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{387,177},{120,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,36}}</string>
			<key>sourceSize</key>
			<string>{120,36}</string>
		</dict>
		<key>bth_dszl_tanchaung_queding_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,727},{136,56}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{136,56}}</string>
			<key>sourceSize</key>
			<string>{136,58}</string>
		</dict>
		<key>bth_dszl_tanchaung_queding_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,589},{136,56}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{136,56}}</string>
			<key>sourceSize</key>
			<string>{136,58}</string>
		</dict>
		<key>bth_dszl_tanchaung_quxiao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,1013},{136,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,59}}</string>
			<key>sourceSize</key>
			<string>{136,59}</string>
		</dict>
		<key>bth_dszl_tanchaung_quxiao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,952},{136,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,59}}</string>
			<key>sourceSize</key>
			<string>{136,59}</string>
		</dict>
		<key>bth_dszl_tanchaung_rehecaozuo_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,1080},{99,32}}</string>
			<key>offset</key>
			<string>{15,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,0},{99,32}}</string>
			<key>sourceSize</key>
			<string>{129,32}</string>
		</dict>
		<key>bth_dszl_tanchaung_rehecaozuo_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,892},{99,32}}</string>
			<key>offset</key>
			<string>{15,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,0},{99,32}}</string>
			<key>sourceSize</key>
			<string>{129,32}</string>
		</dict>
		<key>bth_dszl_tanchaung_shengshiji_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,511},{130,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,41}}</string>
			<key>sourceSize</key>
			<string>{130,41}</string>
		</dict>
		<key>bth_dszl_tanchaung_shengshiji_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,468},{130,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,41}}</string>
			<key>sourceSize</key>
			<string>{130,41}</string>
		</dict>
		<key>bth_dszl_tanchaung_shengyiji_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,425},{130,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,41}}</string>
			<key>sourceSize</key>
			<string>{130,41}</string>
		</dict>
		<key>bth_dszl_tanchaung_shengyiji_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,382},{130,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,41}}</string>
			<key>sourceSize</key>
			<string>{130,41}</string>
		</dict>
		<key>bth_dszl_tanchaung_tihuan_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,1179},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>bth_dszl_tanchaung_tihuan_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{418,1112},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>bth_dszl_tanchaung_xiangqian_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,1205},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>bth_dszl_tanchaung_xiangqian_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,985},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>bth_dszl_tanchaung_xiexia_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,1181},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>bth_dszl_tanchaung_xiexia_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,1114},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>bth_dszl_zhujiemian_baocun_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,1131},{123,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,40}}</string>
			<key>sourceSize</key>
			<string>{123,40}</string>
		</dict>
		<key>bth_dszl_zhujiemian_baocun_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,999},{123,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,40}}</string>
			<key>sourceSize</key>
			<string>{123,40}</string>
		</dict>
		<key>bth_dszl_zhujiemian_dakaibeibao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,339},{130,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,41}}</string>
			<key>sourceSize</key>
			<string>{130,41}</string>
		</dict>
		<key>bth_dszl_zhujiemian_dakaibeibao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,296},{130,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,41}}</string>
			<key>sourceSize</key>
			<string>{130,41}</string>
		</dict>
		<key>bth_dszl_zhujiemian_gaizao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,926},{69,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{69,80}}</string>
			<key>sourceSize</key>
			<string>{81,80}</string>
		</dict>
		<key>bth_dszl_zhujiemian_gaizao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,1151},{69,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{69,80}}</string>
			<key>sourceSize</key>
			<string>{81,80}</string>
		</dict>
		<key>bth_dszl_zhujiemian_shouqibeibao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,253},{130,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,41}}</string>
			<key>sourceSize</key>
			<string>{130,41}</string>
		</dict>
		<key>bth_dszl_zhujiemian_shouqibeibao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,472},{130,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,41}}</string>
			<key>sourceSize</key>
			<string>{130,41}</string>
		</dict>
		<key>bth_dszl_zhujiemian_tianfuhui_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,2},{173,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,119}}</string>
			<key>sourceSize</key>
			<string>{173,119}</string>
		</dict>
		<key>bth_dszl_zhujiemian_xineng_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,997},{81,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,80}}</string>
			<key>sourceSize</key>
			<string>{81,80}</string>
		</dict>
		<key>bth_dszl_zhujiemian_xineng_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{373,855},{81,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,80}}</string>
			<key>sourceSize</key>
			<string>{81,80}</string>
		</dict>
		<key>pic_dszl_an.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,700},{112,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,6},{112,102}}</string>
			<key>sourceSize</key>
			<string>{114,114}</string>
		</dict>
		<key>pic_dszl_choujiang_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,2},{357,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{357,74}}</string>
			<key>sourceSize</key>
			<string>{357,74}</string>
		</dict>
		<key>pic_dszl_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,586},{112,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,6},{112,102}}</string>
			<key>sourceSize</key>
			<string>{114,114}</string>
		</dict>
		<key>pic_dszl_feng.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,797},{112,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,6},{112,102}}</string>
			<key>sourceSize</key>
			<string>{114,114}</string>
		</dict>
		<key>pic_dszl_lei.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,693},{112,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,6},{112,102}}</string>
			<key>sourceSize</key>
			<string>{114,114}</string>
		</dict>
		<key>pic_dszl_shou.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,589},{112,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,6},{112,102}}</string>
			<key>sourceSize</key>
			<string>{114,114}</string>
		</dict>
		<key>pic_dszl_si.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,358},{112,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,6},{112,102}}</string>
			<key>sourceSize</key>
			<string>{114,114}</string>
		</dict>
		<key>pic_dszl_tanchaung_bencichongsheng.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,1114},{89,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,22}}</string>
			<key>sourceSize</key>
			<string>{89,22}</string>
		</dict>
		<key>pic_dszl_tanchaung_biaoti_bangzhu.png</key>
		<dict>
			<key>frame</key>
			<string>{{456,855},{89,34}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,0},{89,34}}</string>
			<key>sourceSize</key>
			<string>{203,34}</string>
		</dict>
		<key>pic_dszl_tanchaung_biaoti_gaizao.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,865},{85,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{59,0},{85,34}}</string>
			<key>sourceSize</key>
			<string>{203,34}</string>
		</dict>
		<key>pic_dszl_tanchaung_biaoti_huoqutujing.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,1013},{135,34}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{35,0},{135,34}}</string>
			<key>sourceSize</key>
			<string>{203,34}</string>
		</dict>
		<key>pic_dszl_tanchaung_biaoti_jiangliyilan.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1027},{191,34}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{191,34}}</string>
			<key>sourceSize</key>
			<string>{203,34}</string>
		</dict>
		<key>pic_dszl_tanchaung_biaoti_xinshouyindao.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,745},{199,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{199,34}}</string>
			<key>sourceSize</key>
			<string>{203,34}</string>
		</dict>
		<key>pic_dszl_tanchaung_biaoti_yuansunenglxiangqing.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,745},{203,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,34}}</string>
			<key>sourceSize</key>
			<string>{203,34}</string>
		</dict>
		<key>pic_dszl_tanchaung_huoqudaoju.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,548},{477,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{477,25}}</string>
			<key>sourceSize</key>
			<string>{477,25}</string>
		</dict>
		<key>pic_dszl_tanchaung_huoqutujing_wenzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{544,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{544,25}}</string>
			<key>sourceSize</key>
			<string>{544,25}</string>
		</dict>
		<key>pic_dszl_tanchaung_juexingxiaohao.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,961},{89,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,22}}</string>
			<key>sourceSize</key>
			<string>{89,22}</string>
		</dict>
		<key>pic_dszl_tanchaung_manxing.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,166},{284,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,86}}</string>
			<key>sourceSize</key>
			<string>{284,86}</string>
		</dict>
		<key>pic_dszl_tanchaung_shengjixiaohao.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,937},{89,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,22}}</string>
			<key>sourceSize</key>
			<string>{89,22}</string>
		</dict>
		<key>pic_dszl_tanchaung_yujihuode.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,1124},{107,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,25}}</string>
			<key>sourceSize</key>
			<string>{107,25}</string>
		</dict>
		<key>pic_dszl_ya.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,404},{112,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,6},{112,102}}</string>
			<key>sourceSize</key>
			<string>{114,114}</string>
		</dict>
		<key>pic_dszl_yan.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,254},{112,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,6},{112,102}}</string>
			<key>sourceSize</key>
			<string>{114,114}</string>
		</dict>
		<key>pic_dszl_zhujiemian_beibao.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1220},{51,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,23}}</string>
			<key>sourceSize</key>
			<string>{51,23}</string>
		</dict>
		<key>pic_dszl_zhujiemian_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,404},{169,72}}</string>
			<key>offset</key>
			<string>{-14,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,72}}</string>
			<key>sourceSize</key>
			<string>{197,72}</string>
		</dict>
		<key>pic_dszl_zhujiemian_tianfu_dangqiannengliang.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,999},{123,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,25}}</string>
			<key>sourceSize</key>
			<string>{123,25}</string>
		</dict>
		<key>pic_dszl_zhujiemian_tianfu_xiaohaocailiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{380,1052},{80,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{80,16}}</string>
			<key>sourceSize</key>
			<string>{80,20}</string>
		</dict>
		<key>pic_dszl_zhujiemian_yuansushuxing.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,1114},{89,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{89,22}}</string>
			<key>sourceSize</key>
			<string>{89,24}</string>
		</dict>
		<key>pic_zhuangbeishengxing_manji.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,78},{284,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{284,86}}</string>
			<key>sourceSize</key>
			<string>{284,86}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_OrochiPower0.png</string>
		<key>size</key>
		<string>{509,1296}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_OrochiPower0.png</string>
	</dict>
</dict>
</plist>
