<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_8znqiandao_zjm_guanbi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,812},{50,47}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,47}}</string>
			<key>sourceSize</key>
			<string>{52,47}</string>
		</dict>
		<key>btn_8znqiandao_zjm_guanbi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,760},{50,47}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,47}}</string>
			<key>sourceSize</key>
			<string>{52,47}</string>
		</dict>
		<key>btn_bqlw_tanchuang_guanbi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,1009},{33,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,14},{33,33}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>btn_bqlw_tanchuang_guanbi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,1009},{33,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,14},{33,33}}</string>
			<key>sourceSize</key>
			<string>{61,61}</string>
		</dict>
		<key>btn_bzn_rukou_guanbi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,868},{106,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,56}}</string>
			<key>sourceSize</key>
			<string>{106,56}</string>
		</dict>
		<key>btn_bzn_rukou_guanbi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,760},{106,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,56}}</string>
			<key>sourceSize</key>
			<string>{106,56}</string>
		</dict>
		<key>btn_jspl_tzdt_dingdaohang_jiahao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1009},{169,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,37}}</string>
			<key>sourceSize</key>
			<string>{169,37}</string>
		</dict>
		<key>btn_jspl_tzdt_dingdaohang_jiahao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,760},{169,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,37}}</string>
			<key>sourceSize</key>
			<string>{169,37}</string>
		</dict>
		<key>btn_smdj_fanhui_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,942},{72,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,52}}</string>
			<key>sourceSize</key>
			<string>{72,52}</string>
		</dict>
		<key>btn_smdj_fanhui_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,868},{72,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,52}}</string>
			<key>sourceSize</key>
			<string>{72,52}</string>
		</dict>
		<key>btn_smdj_jiantou_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{948,273},{59,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,67}}</string>
			<key>sourceSize</key>
			<string>{59,67}</string>
		</dict>
		<key>btn_smdj_jiantou_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{948,273},{59,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,67}}</string>
			<key>sourceSize</key>
			<string>{59,67}</string>
		</dict>
		<key>btn_smdj_wenhao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{951,667},{46,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,46}}</string>
			<key>sourceSize</key>
			<string>{46,46}</string>
		</dict>
		<key>btn_smdj_wenhao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{970,932},{46,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,46}}</string>
			<key>sourceSize</key>
			<string>{46,46}</string>
		</dict>
		<key>btn_sznyy_sgj_guanbi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,996},{51,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,52}}</string>
			<key>sourceSize</key>
			<string>{51,52}</string>
		</dict>
		<key>btn_sznyy_sgj_guanbi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,996},{51,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,52}}</string>
			<key>sourceSize</key>
			<string>{51,52}</string>
		</dict>
		<key>pic_8znqiandao_zjm_dadiban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{756,446}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{756,446}}</string>
			<key>sourceSize</key>
			<string>{756,446}</string>
		</dict>
		<key>pic_8znqiandao_zjm_day_huang.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,932},{59,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{59,22}}</string>
			<key>sourceSize</key>
			<string>{61,22}</string>
		</dict>
		<key>pic_8znqiandao_zjm_day_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,993},{59,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{59,20}}</string>
			<key>sourceSize</key>
			<string>{61,22}</string>
		</dict>
		<key>pic_8znqiandao_zjm_duigou.png</key>
		<dict>
			<key>frame</key>
			<string>{{951,715},{45,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,45}}</string>
			<key>sourceSize</key>
			<string>{45,45}</string>
		</dict>
		<key>pic_8znqiandao_zjm_duigouzhezhao.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,868},{62,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,62}}</string>
			<key>sourceSize</key>
			<string>{62,62}</string>
		</dict>
		<key>pic_8znqiandao_zjm_tiaomu1.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,2},{112,355}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{112,355}}</string>
			<key>sourceSize</key>
			<string>{112,359}</string>
		</dict>
		<key>pic_8znqiandao_zjm_tiaomu2.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,697},{112,355}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{112,355}}</string>
			<key>sourceSize</key>
			<string>{112,359}</string>
		</dict>
		<key>pic_bqlw_kuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,359},{203,179}}</string>
			<key>offset</key>
			<string>{6,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,12},{203,179}}</string>
			<key>sourceSize</key>
			<string>{215,201}</string>
		</dict>
		<key>pic_smdj_duigou.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,1009},{30,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,29}}</string>
			<key>sourceSize</key>
			<string>{30,29}</string>
		</dict>
		<key>pic_smdj_juese_xuanzhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,697},{233,330}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{233,330}}</string>
			<key>sourceSize</key>
			<string>{233,330}</string>
		</dict>
		<key>pic_smdj_suo_biao1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,760},{247,299}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{247,299}}</string>
			<key>sourceSize</key>
			<string>{247,299}</string>
		</dict>
		<key>pic_sznyy_dfzl_tiao1.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,564},{179,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,53}}</string>
			<key>sourceSize</key>
			<string>{179,53}</string>
		</dict>
		<key>pic_sznyy_dfzl_tiao2.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,667},{199,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,53}}</string>
			<key>sourceSize</key>
			<string>{199,53}</string>
		</dict>
		<key>pic_sznyy_dfzl_tiao3.png</key>
		<dict>
			<key>frame</key>
			<string>{{948,2},{269,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{269,53}}</string>
			<key>sourceSize</key>
			<string>{269,53}</string>
		</dict>
		<key>pic_sznyy_gxx_yunshiqian.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,619},{46,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,162}}</string>
			<key>sourceSize</key>
			<string>{46,162}</string>
		</dict>
		<key>pic_sznyy_myqd_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,2},{693,382}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{693,382}}</string>
			<key>sourceSize</key>
			<string>{693,382}</string>
		</dict>
		<key>pic_sznyy_myqd_wenzidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,932},{439,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{439,86}}</string>
			<key>sourceSize</key>
			<string>{439,86}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Anniversary10th0.png</string>
		<key>size</key>
		<string>{1022,1054}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>Anniversary10th0.png</string>
	</dict>
</dict>
</plist>
