<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_mali_baoqi_00036_jinsebaoqiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,534},{688,475}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{688,475}}</string>
			<key>sourceSize</key>
			<string>{688,475}</string>
		</dict>
		<key>New_mali_baoqi_00038_jinsebaoqiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{864,486}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{864,486}}</string>
			<key>sourceSize</key>
			<string>{864,486}</string>
		</dict>
		<key>New_mali_baoqi_00048_jinsebaoqiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{691,689},{302,327}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{302,327}}</string>
			<key>sourceSize</key>
			<string>{302,327}</string>
		</dict>
		<key>New_sqledy_daiji_she_00066.png</key>
		<dict>
			<key>frame</key>
			<string>{{691,489},{199,174}}</string>
			<key>offset</key>
			<string>{-22,22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{27,105},{199,174}}</string>
			<key>sourceSize</key>
			<string>{297,340}</string>
		</dict>
		<key>sczw_daiji_1_00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,489},{59,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,43}}</string>
			<key>sourceSize</key>
			<string>{59,43}</string>
		</dict>
		<key>sczw_daiji_2_00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,489},{39,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,40}}</string>
			<key>sourceSize</key>
			<string>{39,40}</string>
		</dict>
		<key>sczw_daiji_2_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{289,489},{42,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,45}}</string>
			<key>sourceSize</key>
			<string>{42,45}</string>
		</dict>
		<key>sczw_daiji_2_00093.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,489},{43,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,43}}</string>
			<key>sourceSize</key>
			<string>{43,43}</string>
		</dict>
		<key>sczw_daiji_2_00097.png</key>
		<dict>
			<key>frame</key>
			<string>{{411,489},{40,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,39}}</string>
			<key>sourceSize</key>
			<string>{40,39}</string>
		</dict>
		<key>shandiantx04.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,489},{28,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,43}}</string>
			<key>sourceSize</key>
			<string>{28,43}</string>
		</dict>
		<key>shandiantx05.png</key>
		<dict>
			<key>frame</key>
			<string>{{691,992},{25,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,27}}</string>
			<key>sourceSize</key>
			<string>{25,27}</string>
		</dict>
		<key>shandiantx06.png</key>
		<dict>
			<key>frame</key>
			<string>{{335,489},{35,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,42}}</string>
			<key>sourceSize</key>
			<string>{35,42}</string>
		</dict>
		<key>shandiantx09.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,489},{49,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,42}}</string>
			<key>sourceSize</key>
			<string>{49,42}</string>
		</dict>
		<key>tongyongbaoqi_00002_yisanyisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{866,534},{156,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,118}}</string>
			<key>sourceSize</key>
			<string>{156,118}</string>
		</dict>
		<key>ty_baoqi_l4.png</key>
		<dict>
			<key>frame</key>
			<string>{{742,992},{14,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,14}}</string>
			<key>sourceSize</key>
			<string>{14,14}</string>
		</dict>
		<key>ty_baoqi_l5.png</key>
		<dict>
			<key>frame</key>
			<string>{{717,992},{25,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,24}}</string>
			<key>sourceSize</key>
			<string>{25,24}</string>
		</dict>
		<key>ty_baoqi_l6.png</key>
		<dict>
			<key>frame</key>
			<string>{{866,653},{32,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,32}}</string>
			<key>sourceSize</key>
			<string>{32,32}</string>
		</dict>
		<key>ty_baoqi_z0.png</key>
		<dict>
			<key>frame</key>
			<string>{{1017,390},{85,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,3}}</string>
			<key>sourceSize</key>
			<string>{85,3}</string>
		</dict>
		<key>ty_baoqi_z3.png</key>
		<dict>
			<key>frame</key>
			<string>{{867,169},{154,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,64}}</string>
			<key>sourceSize</key>
			<string>{154,64}</string>
		</dict>
		<key>ty_baoqi_z4.png</key>
		<dict>
			<key>frame</key>
			<string>{{867,234},{154,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,60}}</string>
			<key>sourceSize</key>
			<string>{154,60}</string>
		</dict>
		<key>ty_baoqi_z5.png</key>
		<dict>
			<key>frame</key>
			<string>{{867,353},{154,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,36}}</string>
			<key>sourceSize</key>
			<string>{154,36}</string>
		</dict>
		<key>ty_baoqi_z6.png</key>
		<dict>
			<key>frame</key>
			<string>{{867,295},{154,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,57}}</string>
			<key>sourceSize</key>
			<string>{154,57}</string>
		</dict>
		<key>ty_baoqi_z8.png</key>
		<dict>
			<key>frame</key>
			<string>{{867,91},{154,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,77}}</string>
			<key>sourceSize</key>
			<string>{154,77}</string>
		</dict>
		<key>ty_baoqi_z9.png</key>
		<dict>
			<key>frame</key>
			<string>{{867,2},{154,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,88}}</string>
			<key>sourceSize</key>
			<string>{154,88}</string>
		</dict>
		<key>ty_paobu_yan2.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,489},{43,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,51}}</string>
			<key>sourceSize</key>
			<string>{43,51}</string>
		</dict>
		<key>ty_paobu_yan3.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,489},{43,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,51}}</string>
			<key>sourceSize</key>
			<string>{43,51}</string>
		</dict>
		<key>ty_xtxt112.png</key>
		<dict>
			<key>frame</key>
			<string>{{867,390},{149,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,143}}</string>
			<key>sourceSize</key>
			<string>{149,143}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>global_spinehero_role0.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>global_spinehero_role0.png</string>
	</dict>
</dict>
</plist>
