<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>a_kua_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{495,791},{93,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,58}}</string>
			<key>sourceSize</key>
			<string>{93,58}</string>
		</dict>
		<key>a_tou_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{471,363},{77,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,103}}</string>
			<key>sourceSize</key>
			<string>{77,103}</string>
		</dict>
		<key>a_toufa1_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{777,330},{43,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,68}}</string>
			<key>sourceSize</key>
			<string>{43,68}</string>
		</dict>
		<key>a_toufa2_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{581,197},{68,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,74}}</string>
			<key>sourceSize</key>
			<string>{68,74}</string>
		</dict>
		<key>a_toufa3_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,672},{19,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,74}}</string>
			<key>sourceSize</key>
			<string>{19,74}</string>
		</dict>
		<key>a_toufa4_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,470},{62,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,83}}</string>
			<key>sourceSize</key>
			<string>{62,83}</string>
		</dict>
		<key>a_toufa5_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,537},{35,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,82}}</string>
			<key>sourceSize</key>
			<string>{35,82}</string>
		</dict>
		<key>a_toufa6_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{759,619},{56,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,69}}</string>
			<key>sourceSize</key>
			<string>{56,69}</string>
		</dict>
		<key>a_xiong5_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,847},{119,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,133}}</string>
			<key>sourceSize</key>
			<string>{119,133}</string>
		</dict>
		<key>a_xiong6_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,2},{127,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,165}}</string>
			<key>sourceSize</key>
			<string>{127,165}</string>
		</dict>
		<key>a_xiong_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,183},{127,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,165}}</string>
			<key>sourceSize</key>
			<string>{127,165}</string>
		</dict>
		<key>a_yan1_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{373,534},{77,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,103}}</string>
			<key>sourceSize</key>
			<string>{77,103}</string>
		</dict>
		<key>a_yan2_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{345,693},{77,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,103}}</string>
			<key>sourceSize</key>
			<string>{77,103}</string>
		</dict>
		<key>a_youdabi7_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{745,774},{50,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,73}}</string>
			<key>sourceSize</key>
			<string>{50,73}</string>
		</dict>
		<key>a_youdabi8_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,453},{57,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,82}}</string>
			<key>sourceSize</key>
			<string>{57,82}</string>
		</dict>
		<key>a_youdabi_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,86},{57,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,82}}</string>
			<key>sourceSize</key>
			<string>{57,82}</string>
		</dict>
		<key>a_youdatui_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{664,89},{50,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,84}}</string>
			<key>sourceSize</key>
			<string>{50,84}</string>
		</dict>
		<key>a_youjiao_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,2},{51,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,68}}</string>
			<key>sourceSize</key>
			<string>{51,68}</string>
		</dict>
		<key>a_youshou_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,123},{44,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,60}}</string>
			<key>sourceSize</key>
			<string>{44,60}</string>
		</dict>
		<key>a_youxiaobi10_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{666,363},{49,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,88}}</string>
			<key>sourceSize</key>
			<string>{49,88}</string>
		</dict>
		<key>a_youxiaobi9_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{793,461},{45,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,51}}</string>
			<key>sourceSize</key>
			<string>{45,51}</string>
		</dict>
		<key>a_youxiaobi_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{615,363},{49,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,88}}</string>
			<key>sourceSize</key>
			<string>{49,88}</string>
		</dict>
		<key>a_youxiaotui_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,982},{39,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,93}}</string>
			<key>sourceSize</key>
			<string>{39,93}</string>
		</dict>
		<key>a_zui_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{544,2},{77,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,103}}</string>
			<key>sourceSize</key>
			<string>{77,103}</string>
		</dict>
		<key>a_zuodabi3_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{505,468},{54,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,64}}</string>
			<key>sourceSize</key>
			<string>{54,64}</string>
		</dict>
		<key>a_zuodabi4_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,785},{54,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,91}}</string>
			<key>sourceSize</key>
			<string>{54,91}</string>
		</dict>
		<key>a_zuodabi_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{590,692},{54,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,91}}</string>
			<key>sourceSize</key>
			<string>{54,91}</string>
		</dict>
		<key>a_zuodatui_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{452,534},{68,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,96}}</string>
			<key>sourceSize</key>
			<string>{68,96}</string>
		</dict>
		<key>a_zuojiao_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{797,764},{34,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,72}}</string>
			<key>sourceSize</key>
			<string>{34,72}</string>
		</dict>
		<key>a_zuoshou_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,2},{51,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,66}}</string>
			<key>sourceSize</key>
			<string>{51,66}</string>
		</dict>
		<key>a_zuoxiaobi1_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{924,115},{45,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,50}}</string>
			<key>sourceSize</key>
			<string>{45,50}</string>
		</dict>
		<key>a_zuoxiaobi2_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{764,849},{46,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,72}}</string>
			<key>sourceSize</key>
			<string>{46,72}</string>
		</dict>
		<key>a_zuoxiaobi_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{745,436},{46,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,72}}</string>
			<key>sourceSize</key>
			<string>{46,72}</string>
		</dict>
		<key>a_zuoxiaotui_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,639},{52,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,97}}</string>
			<key>sourceSize</key>
			<string>{52,97}</string>
		</dict>
		<key>b_shou_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{839,370},{55,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,53}}</string>
			<key>sourceSize</key>
			<string>{55,53}</string>
		</dict>
		<key>b_tou2_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,693},{96,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,82}}</string>
			<key>sourceSize</key>
			<string>{96,82}</string>
		</dict>
		<key>b_tou_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,169},{103,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,103}}</string>
			<key>sourceSize</key>
			<string>{103,103}</string>
		</dict>
		<key>b_toufa1_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,499},{31,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,78}}</string>
			<key>sourceSize</key>
			<string>{31,78}</string>
		</dict>
		<key>b_toufa2_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{592,951},{75,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,71}}</string>
			<key>sourceSize</key>
			<string>{75,71}</string>
		</dict>
		<key>b_toufa3_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,577},{39,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,56}}</string>
			<key>sourceSize</key>
			<string>{39,56}</string>
		</dict>
		<key>b_yan_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,363},{103,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,103}}</string>
			<key>sourceSize</key>
			<string>{103,103}</string>
		</dict>
		<key>b_zui1_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,534},{103,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,103}}</string>
			<key>sourceSize</key>
			<string>{103,103}</string>
		</dict>
		<key>b_zui2_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,2},{103,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,103}}</string>
			<key>sourceSize</key>
			<string>{103,103}</string>
		</dict>
		<key>b_zui3_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,169},{103,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,103}}</string>
			<key>sourceSize</key>
			<string>{103,103}</string>
		</dict>
		<key>c_kua_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,791},{93,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,60}}</string>
			<key>sourceSize</key>
			<string>{93,60}</string>
		</dict>
		<key>c_shou_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{822,310},{58,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,56}}</string>
			<key>sourceSize</key>
			<string>{58,56}</string>
		</dict>
		<key>c_xiong_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,364},{133,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,122}}</string>
			<key>sourceSize</key>
			<string>{133,122}</string>
		</dict>
		<key>c_youdatui_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{723,537},{80,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,67}}</string>
			<key>sourceSize</key>
			<string>{80,67}</string>
		</dict>
		<key>c_youxiaotui_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,838},{53,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,69}}</string>
			<key>sourceSize</key>
			<string>{53,69}</string>
		</dict>
		<key>c_zuodabi_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,2},{85,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,73}}</string>
			<key>sourceSize</key>
			<string>{85,73}</string>
		</dict>
		<key>c_zuodatui_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{698,2},{82,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,82}}</string>
			<key>sourceSize</key>
			<string>{82,82}</string>
		</dict>
		<key>c_zuoxiaobi_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,902},{47,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,76}}</string>
			<key>sourceSize</key>
			<string>{47,76}</string>
		</dict>
		<key>c_zuoxiaotui_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{873,141},{49,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,56}}</string>
			<key>sourceSize</key>
			<string>{49,56}</string>
		</dict>
		<key>d_kua_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,363},{93,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,63}}</string>
			<key>sourceSize</key>
			<string>{93,63}</string>
		</dict>
		<key>d_shou1_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{843,685},{53,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,62}}</string>
			<key>sourceSize</key>
			<string>{53,62}</string>
		</dict>
		<key>d_shou2_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,259},{51,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,69}}</string>
			<key>sourceSize</key>
			<string>{51,69}</string>
		</dict>
		<key>d_shou3_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{862,617},{50,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,62}}</string>
			<key>sourceSize</key>
			<string>{50,62}</string>
		</dict>
		<key>d_xiaobi_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{971,159},{36,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,37}}</string>
			<key>sourceSize</key>
			<string>{36,37}</string>
		</dict>
		<key>d_xiong_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,852},{126,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,153}}</string>
			<key>sourceSize</key>
			<string>{126,153}</string>
		</dict>
		<key>e_jiao_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,468},{64,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,76}}</string>
			<key>sourceSize</key>
			<string>{64,76}</string>
		</dict>
		<key>e_kua_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{774,690},{72,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,67}}</string>
			<key>sourceSize</key>
			<string>{72,67}</string>
		</dict>
		<key>e_shou1_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{651,197},{49,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,74}}</string>
			<key>sourceSize</key>
			<string>{49,74}</string>
		</dict>
		<key>e_xiong_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,534},{126,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,160}}</string>
			<key>sourceSize</key>
			<string>{126,160}</string>
		</dict>
		<key>e_youdabii_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,692},{86,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,90}}</string>
			<key>sourceSize</key>
			<string>{86,90}</string>
		</dict>
		<key>e_youdatui_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{522,534},{83,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,95}}</string>
			<key>sourceSize</key>
			<string>{83,95}</string>
		</dict>
		<key>e_youshou_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{835,2},{67,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,35}}</string>
			<key>sourceSize</key>
			<string>{67,35}</string>
		</dict>
		<key>e_youxiaobi_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,453},{78,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,46}}</string>
			<key>sourceSize</key>
			<string>{78,46}</string>
		</dict>
		<key>e_youxiaotui_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{581,107},{88,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,81}}</string>
			<key>sourceSize</key>
			<string>{88,81}</string>
		</dict>
		<key>e_zuodabi_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,952},{87,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,70}}</string>
			<key>sourceSize</key>
			<string>{87,70}</string>
		</dict>
		<key>e_zuodatui_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,2},{108,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,76}}</string>
			<key>sourceSize</key>
			<string>{108,76}</string>
		</dict>
		<key>e_zuoxiaobi_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{805,923},{53,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,69}}</string>
			<key>sourceSize</key>
			<string>{53,69}</string>
		</dict>
		<key>e_zuoxiaotui_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,952},{69,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,95}}</string>
			<key>sourceSize</key>
			<string>{69,95}</string>
		</dict>
		<key>f_dabi_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,292},{69,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,99}}</string>
			<key>sourceSize</key>
			<string>{69,99}</string>
		</dict>
		<key>f_shou1_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{669,951},{53,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,71}}</string>
			<key>sourceSize</key>
			<string>{53,71}</string>
		</dict>
		<key>f_shou2_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{880,285},{53,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,43}}</string>
			<key>sourceSize</key>
			<string>{53,43}</string>
		</dict>
		<key>f_shou3_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{717,361},{73,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,58}}</string>
			<key>sourceSize</key>
			<string>{73,58}</string>
		</dict>
		<key>f_xiaobi_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{971,115},{43,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,42}}</string>
			<key>sourceSize</key>
			<string>{43,42}</string>
		</dict>
		<key>g_dabi2_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{872,2},{54,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,66}}</string>
			<key>sourceSize</key>
			<string>{54,66}</string>
		</dict>
		<key>g_dabi3_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,72},{67,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,67}}</string>
			<key>sourceSize</key>
			<string>{67,67}</string>
		</dict>
		<key>g_dabi_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,364},{58,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,107}}</string>
			<key>sourceSize</key>
			<string>{58,107}</string>
		</dict>
		<key>g_shou1_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{817,618},{43,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,65}}</string>
			<key>sourceSize</key>
			<string>{43,65}</string>
		</dict>
		<key>g_shou2_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{616,878},{56,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,71}}</string>
			<key>sourceSize</key>
			<string>{56,71}</string>
		</dict>
		<key>g_shou3_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,631},{46,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,59}}</string>
			<key>sourceSize</key>
			<string>{46,59}</string>
		</dict>
		<key>g_xiaobi_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,982},{40,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,92}}</string>
			<key>sourceSize</key>
			<string>{40,92}</string>
		</dict>
		<key>g_xiong_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,534},{136,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,136}}</string>
			<key>sourceSize</key>
			<string>{136,136}</string>
		</dict>
		<key>h_dabi_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,112},{55,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,91}}</string>
			<key>sourceSize</key>
			<string>{55,91}</string>
		</dict>
		<key>h_shou1_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{552,886},{63,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,62}}</string>
			<key>sourceSize</key>
			<string>{63,62}</string>
		</dict>
		<key>h_shou2_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{696,621},{61,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,69}}</string>
			<key>sourceSize</key>
			<string>{61,69}</string>
		</dict>
		<key>h_shou3_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{790,240},{68,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,41}}</string>
			<key>sourceSize</key>
			<string>{68,41}</string>
		</dict>
		<key>h_tou_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{252,169},{121,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,117}}</string>
			<key>sourceSize</key>
			<string>{121,117}</string>
		</dict>
		<key>h_xiaobi_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,473},{85,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,59}}</string>
			<key>sourceSize</key>
			<string>{85,59}</string>
		</dict>
		<key>h_xiong_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,183},{119,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,179}}</string>
			<key>sourceSize</key>
			<string>{119,179}</string>
		</dict>
		<key>i_shou1_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,170},{61,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,68}}</string>
			<key>sourceSize</key>
			<string>{61,68}</string>
		</dict>
		<key>i_shou2_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,123},{67,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,44}}</string>
			<key>sourceSize</key>
			<string>{67,44}</string>
		</dict>
		<key>i_shou3_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{792,510},{65,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,57}}</string>
			<key>sourceSize</key>
			<string>{65,57}</string>
		</dict>
		<key>i_tou_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,693},{106,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,131}}</string>
			<key>sourceSize</key>
			<string>{106,131}</string>
		</dict>
		<key>i_xiong_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,696},{127,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,149}}</string>
			<key>sourceSize</key>
			<string>{127,149}</string>
		</dict>
		<key>j_kua_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{607,273},{88,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,65}}</string>
			<key>sourceSize</key>
			<string>{88,65}</string>
		</dict>
		<key>j_shou_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{833,226},{57,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,50}}</string>
			<key>sourceSize</key>
			<string>{57,50}</string>
		</dict>
		<key>j_tou2_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{261,2},{119,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,98}}</string>
			<key>sourceSize</key>
			<string>{119,98}</string>
		</dict>
		<key>j_tou_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{508,693},{80,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,92}}</string>
			<key>sourceSize</key>
			<string>{80,92}</string>
		</dict>
		<key>j_xiong_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,826},{124,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,124}}</string>
			<key>sourceSize</key>
			<string>{124,124}</string>
		</dict>
		<key>j_youdatui_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{607,534},{77,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,92}}</string>
			<key>sourceSize</key>
			<string>{77,92}</string>
		</dict>
		<key>j_youxiaotui_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,798},{54,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,102}}</string>
			<key>sourceSize</key>
			<string>{54,102}</string>
		</dict>
		<key>j_zuodatui_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{658,784},{88,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,85}}</string>
			<key>sourceSize</key>
			<string>{88,85}</string>
		</dict>
		<key>j_zuoxiaotui_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{485,107},{60,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,94}}</string>
			<key>sourceSize</key>
			<string>{60,94}</string>
		</dict>
		<key>k_dabi_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,632},{59,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,80}}</string>
			<key>sourceSize</key>
			<string>{59,80}</string>
		</dict>
		<key>k_jiao_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{775,86},{57,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,68}}</string>
			<key>sourceSize</key>
			<string>{57,68}</string>
		</dict>
		<key>k_kua_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{540,274},{87,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,65}}</string>
			<key>sourceSize</key>
			<string>{87,65}</string>
		</dict>
		<key>k_shou_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{793,400},{44,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,59}}</string>
			<key>sourceSize</key>
			<string>{44,59}</string>
		</dict>
		<key>k_xiaobi_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{555,787},{45,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,92}}</string>
			<key>sourceSize</key>
			<string>{45,92}</string>
		</dict>
		<key>k_xiong_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,364},{127,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,168}}</string>
			<key>sourceSize</key>
			<string>{127,168}</string>
		</dict>
		<key>k_youdatui_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{505,952},{85,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,69}}</string>
			<key>sourceSize</key>
			<string>{85,69}</string>
		</dict>
		<key>k_zuodatui_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{674,874},{88,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,75}}</string>
			<key>sourceSize</key>
			<string>{88,75}</string>
		</dict>
		<key>k_zuoxiaotui_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,364},{49,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,104}}</string>
			<key>sourceSize</key>
			<string>{49,104}</string>
		</dict>
		<key>l_datui_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{674,273},{61,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,86}}</string>
			<key>sourceSize</key>
			<string>{61,86}</string>
		</dict>
		<key>l_jiao_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{367,639},{52,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,75}}</string>
			<key>sourceSize</key>
			<string>{52,75}</string>
		</dict>
		<key>l_kua_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{702,175},{82,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,65}}</string>
			<key>sourceSize</key>
			<string>{82,65}</string>
		</dict>
		<key>l_shou_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{306,292},{45,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,70}}</string>
			<key>sourceSize</key>
			<string>{45,70}</string>
		</dict>
		<key>l_tou_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,696},{154,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,104}}</string>
			<key>sourceSize</key>
			<string>{154,104}</string>
		</dict>
		<key>l_xiaotui_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,274},{87,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,84}}</string>
			<key>sourceSize</key>
			<string>{87,84}</string>
		</dict>
		<key>l_xiong_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{128,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,179}}</string>
			<key>sourceSize</key>
			<string>{128,179}</string>
		</dict>
		<key>m_datui_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{724,951},{79,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,69}}</string>
			<key>sourceSize</key>
			<string>{79,69}</string>
		</dict>
		<key>m_shou1_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{833,764},{51,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,69}}</string>
			<key>sourceSize</key>
			<string>{51,69}</string>
		</dict>
		<key>m_shou2_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{504,886},{46,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,64}}</string>
			<key>sourceSize</key>
			<string>{46,64}</string>
		</dict>
		<key>m_shou3_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{252,292},{52,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,70}}</string>
			<key>sourceSize</key>
			<string>{52,70}</string>
		</dict>
		<key>m_shou4_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,628},{62,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,58}}</string>
			<key>sourceSize</key>
			<string>{62,58}</string>
		</dict>
		<key>m_xiaobi1_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{846,427},{51,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,53}}</string>
			<key>sourceSize</key>
			<string>{51,53}</string>
		</dict>
		<key>m_xiaobi2_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{734,692},{38,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,80}}</string>
			<key>sourceSize</key>
			<string>{38,80}</string>
		</dict>
		<key>n_shou1_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,156},{39,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,68}}</string>
			<key>sourceSize</key>
			<string>{39,68}</string>
		</dict>
		<key>n_shou2_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{561,458},{75,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,74}}</string>
			<key>sourceSize</key>
			<string>{75,74}</string>
		</dict>
		<key>n_shou3_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{885,199},{52,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,44}}</string>
			<key>sourceSize</key>
			<string>{52,44}</string>
		</dict>
		<key>n_shou4_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,902},{48,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,47}}</string>
			<key>sourceSize</key>
			<string>{48,47}</string>
		</dict>
		<key>n_shou5_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,55},{58,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,65}}</string>
			<key>sourceSize</key>
			<string>{58,65}</string>
		</dict>
		<key>n_shou6_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,639},{52,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,60}}</string>
			<key>sourceSize</key>
			<string>{52,60}</string>
		</dict>
		<key>x_shouzhi10_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1007},{14,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,21}}</string>
			<key>sourceSize</key>
			<string>{14,21}</string>
		</dict>
		<key>x_shouzhi11_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,169},{12,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,21}}</string>
			<key>sourceSize</key>
			<string>{12,21}</string>
		</dict>
		<key>x_shouzhi1_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,672},{19,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,22}}</string>
			<key>sourceSize</key>
			<string>{19,22}</string>
		</dict>
		<key>x_shouzhi2_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,672},{18,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,22}}</string>
			<key>sourceSize</key>
			<string>{18,22}</string>
		</dict>
		<key>x_shouzhi3_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,577},{41,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,38}}</string>
			<key>sourceSize</key>
			<string>{41,38}</string>
		</dict>
		<key>x_shouzhi4_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,499},{19,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,18}}</string>
			<key>sourceSize</key>
			<string>{19,18}</string>
		</dict>
		<key>x_shouzhi5_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,672},{20,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,19}}</string>
			<key>sourceSize</key>
			<string>{20,19}</string>
		</dict>
		<key>x_shouzhi6_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,499},{16,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,18}}</string>
			<key>sourceSize</key>
			<string>{16,18}</string>
		</dict>
		<key>x_shouzhi7_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,169},{12,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,17}}</string>
			<key>sourceSize</key>
			<string>{12,17}</string>
		</dict>
		<key>x_shouzhi8_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{25,1007},{14,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,19}}</string>
			<key>sourceSize</key>
			<string>{14,19}</string>
		</dict>
		<key>x_shouzhi9_jiaoshisanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,350},{12,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,21}}</string>
			<key>sourceSize</key>
			<string>{12,21}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>jiaoshisanimage.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>jiaoshisanimage.png</string>
	</dict>
</dict>
</plist>
