<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_xew_liumenbisha_baoguang_00229.png</key>
		<dict>
			<key>frame</key>
			<string>{{878,582},{132,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,145}}</string>
			<key>sourceSize</key>
			<string>{132,145}</string>
		</dict>
		<key>New_xew_liumenbisha_bianseqiuzong_00165.png</key>
		<dict>
			<key>frame</key>
			<string>{{499,903},{116,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,118}}</string>
			<key>sourceSize</key>
			<string>{116,118}</string>
		</dict>
		<key>New_xew_liumenbisha_bianseqiuzong_00181.png</key>
		<dict>
			<key>frame</key>
			<string>{{880,872},{142,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,130}}</string>
			<key>sourceSize</key>
			<string>{142,130}</string>
		</dict>
		<key>New_xew_liumenbisha_bo_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{249,494},{93,241}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,241}}</string>
			<key>sourceSize</key>
			<string>{93,241}</string>
		</dict>
		<key>New_xew_liumenbisha_bo_00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{743,480},{101,244}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,244}}</string>
			<key>sourceSize</key>
			<string>{101,246}</string>
		</dict>
		<key>New_xew_liumenbisha_bo_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{267,2},{109,249}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,249}}</string>
			<key>sourceSize</key>
			<string>{109,249}</string>
		</dict>
		<key>New_xew_liumenbisha_bo_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,392},{100,246}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,246}}</string>
			<key>sourceSize</key>
			<string>{100,246}</string>
		</dict>
		<key>New_xew_liumenbisha_bo_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{267,112},{109,248}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,248}}</string>
			<key>sourceSize</key>
			<string>{109,248}</string>
		</dict>
		<key>New_xew_liumenbisha_bo_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{517,110},{110,248}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,248}}</string>
			<key>sourceSize</key>
			<string>{110,248}</string>
		</dict>
		<key>New_xew_liumenbisha_bo_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,290},{92,247}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,247}}</string>
			<key>sourceSize</key>
			<string>{92,247}</string>
		</dict>
		<key>New_xew_liumenbisha_bo_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,383},{110,246}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{110,246}}</string>
			<key>sourceSize</key>
			<string>{110,248}</string>
		</dict>
		<key>New_xew_liumenbisha_bo_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{747,372},{107,245}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,245}}</string>
			<key>sourceSize</key>
			<string>{107,245}</string>
		</dict>
		<key>New_xew_liumenbisha_bo_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,390},{102,245}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,245}}</string>
			<key>sourceSize</key>
			<string>{102,245}</string>
		</dict>
		<key>New_xew_liumenbisha_kejibao_00160.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,782},{146,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,120}}</string>
			<key>sourceSize</key>
			<string>{146,120}</string>
		</dict>
		<key>New_xew_liumenbisha_kejibao_00164.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,903},{119,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,120}}</string>
			<key>sourceSize</key>
			<string>{119,120}</string>
		</dict>
		<key>New_xew_liumenbisha_kejiqiu_00097.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,903},{119,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,118}}</string>
			<key>sourceSize</key>
			<string>{119,118}</string>
		</dict>
		<key>New_xew_liumenbisha_shandian2_00001.png</key>
		<dict>
			<key>frame</key>
			<string>{{766,177},{97,248}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,248}}</string>
			<key>sourceSize</key>
			<string>{97,248}</string>
		</dict>
		<key>New_xew_liumenbisha_shandian2_00002.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,217},{85,248}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,248}}</string>
			<key>sourceSize</key>
			<string>{85,248}</string>
		</dict>
		<key>New_xew_liumenbisha_shandian2_00003.png</key>
		<dict>
			<key>frame</key>
			<string>{{499,319},{70,247}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,247}}</string>
			<key>sourceSize</key>
			<string>{70,247}</string>
		</dict>
		<key>New_xew_liumenbisha_shandian2_00004.png</key>
		<dict>
			<key>frame</key>
			<string>{{251,222},{67,248}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,248}}</string>
			<key>sourceSize</key>
			<string>{67,248}</string>
		</dict>
		<key>New_xew_liumenbisha_shandian2_00005.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,303},{88,247}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,247}}</string>
			<key>sourceSize</key>
			<string>{88,247}</string>
		</dict>
		<key>New_xew_liumenbisha_shandian2_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{767,92},{84,249}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,249}}</string>
			<key>sourceSize</key>
			<string>{84,249}</string>
		</dict>
		<key>New_xew_liumenbisha_shandian2_00007.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,493},{87,246}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,246}}</string>
			<key>sourceSize</key>
			<string>{87,246}</string>
		</dict>
		<key>New_xew_liumenbisha_shandian2_00008.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,128},{88,248}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,248}}</string>
			<key>sourceSize</key>
			<string>{88,248}</string>
		</dict>
		<key>New_xew_liumenbisha_shandian2_00009.png</key>
		<dict>
			<key>frame</key>
			<string>{{517,2},{107,249}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,249}}</string>
			<key>sourceSize</key>
			<string>{107,249}</string>
		</dict>
		<key>New_xew_liumenbisha_shandian2_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{767,2},{89,249}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,249}}</string>
			<key>sourceSize</key>
			<string>{89,249}</string>
		</dict>
		<key>New_xew_liumenbisha_shandian2_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{765,275},{96,248}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,248}}</string>
			<key>sourceSize</key>
			<string>{96,248}</string>
		</dict>
		<key>New_xew_liumenbisha_shandian2_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,221},{97,248}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,248}}</string>
			<key>sourceSize</key>
			<string>{97,248}</string>
		</dict>
		<key>New_xew_liumenbisha_shouguang_00136.png</key>
		<dict>
			<key>frame</key>
			<string>{{880,728},{142,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,143}}</string>
			<key>sourceSize</key>
			<string>{142,143}</string>
		</dict>
		<key>New_xew_liumenbisha_shouguang_00148.png</key>
		<dict>
			<key>frame</key>
			<string>{{739,582},{138,145}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{138,145}}</string>
			<key>sourceSize</key>
			<string>{142,145}</string>
		</dict>
		<key>New_xew_liumenbisha_yanjingguang_00058.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,581},{234,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{234,104}}</string>
			<key>sourceSize</key>
			<string>{234,106}</string>
		</dict>
		<key>New_xew_liumenbisha_yanjingguang_00059.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{264,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{264,125}}</string>
			<key>sourceSize</key>
			<string>{264,125}</string>
		</dict>
		<key>New_xew_liumenbisha_yanjingguang_00061.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,903},{172,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,119}}</string>
			<key>sourceSize</key>
			<string>{172,119}</string>
		</dict>
		<key>New_xew_liumenbisha_yanjingguang_00062.png</key>
		<dict>
			<key>frame</key>
			<string>{{616,903},{118,40}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,1},{118,40}}</string>
			<key>sourceSize</key>
			<string>{126,42}</string>
		</dict>
		<key>New_xew_paobu_guang_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{657,903},{117,182}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,4},{117,182}}</string>
			<key>sourceSize</key>
			<string>{129,186}</string>
		</dict>
		<key>New_xew_putongbisha1_shouguang_00105.png</key>
		<dict>
			<key>frame</key>
			<string>{{373,782},{117,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,120}}</string>
			<key>sourceSize</key>
			<string>{117,120}</string>
		</dict>
		<key>New_xew_putongbisha2_bao_00112.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,588},{193,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{193,224}}</string>
			<key>sourceSize</key>
			<string>{193,224}</string>
		</dict>
		<key>New_xew_putongbisha2_bao_00116.png</key>
		<dict>
			<key>frame</key>
			<string>{{497,493},{234,241}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{234,241}}</string>
			<key>sourceSize</key>
			<string>{234,241}</string>
		</dict>
		<key>New_xew_putongbisha2_bao_00118.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,728},{174,204}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,204}}</string>
			<key>sourceSize</key>
			<string>{174,204}</string>
		</dict>
		<key>New_xew_putongbisha2_shandian2_00065.png</key>
		<dict>
			<key>frame</key>
			<string>{{696,728},{183,174}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,174}}</string>
			<key>sourceSize</key>
			<string>{183,174}</string>
		</dict>
		<key>New_xew_putongbisha2_shandian2_00073.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,686},{216,223}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,223}}</string>
			<key>sourceSize</key>
			<string>{216,223}</string>
		</dict>
		<key>New_xew_xiaojineng_shandian_00046.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,903},{119,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,83}}</string>
			<key>sourceSize</key>
			<string>{119,83}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>xewblbl_common0.png</string>
		<key>scale</key>
		<real>0.5</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>xewblbl_common0.png</string>
	</dict>
</dict>
</plist>
