<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>huan_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{369,374}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{369,374}}</string>
			<key>sourceSize</key>
			<string>{369,374}</string>
		</dict>
		<key>mask01_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{504,709},{312,310}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{312,310}}</string>
			<key>sourceSize</key>
			<string>{312,310}</string>
		</dict>
		<key>wy_10_10_13132_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{624,182},{73,43}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,5},{73,43}}</string>
			<key>sourceSize</key>
			<string>{75,55}</string>
		</dict>
		<key>wy_11_11_18108_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{624,137},{73,43}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,5},{73,43}}</string>
			<key>sourceSize</key>
			<string>{75,55}</string>
		</dict>
		<key>wy_12_12_23122_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{624,92},{73,43}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,5},{73,43}}</string>
			<key>sourceSize</key>
			<string>{75,55}</string>
		</dict>
		<key>wy_13_13_26296_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,43},{73,39}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,8},{73,39}}</string>
			<key>sourceSize</key>
			<string>{75,55}</string>
		</dict>
		<key>wy_14_14_88963_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{530,2},{73,39}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,8},{73,39}}</string>
			<key>sourceSize</key>
			<string>{75,55}</string>
		</dict>
		<key>wy_15_15_5221_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,2},{73,39}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,9},{73,39}}</string>
			<key>sourceSize</key>
			<string>{75,55}</string>
		</dict>
		<key>wy_16_16_23002_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{528,253},{73,41}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,7},{73,41}}</string>
			<key>sourceSize</key>
			<string>{75,55}</string>
		</dict>
		<key>wy_17_17_18170_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{453,253},{73,41}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,7},{73,41}}</string>
			<key>sourceSize</key>
			<string>{75,55}</string>
		</dict>
		<key>wy_18_18_12858_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{624,47},{73,43}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,5},{73,43}}</string>
			<key>sourceSize</key>
			<string>{75,55}</string>
		</dict>
		<key>wy_19_19_62308_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{752,559},{120,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,120}}</string>
			<key>sourceSize</key>
			<string>{120,120}</string>
		</dict>
		<key>wy_20_20_47424_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{453,173},{169,78}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,2},{169,78}}</string>
			<key>sourceSize</key>
			<string>{181,86}</string>
		</dict>
		<key>wy_21_21_71615_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,830},{72,110}}</string>
			<key>offset</key>
			<string>{27,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54,12},{72,110}}</string>
			<key>sourceSize</key>
			<string>{126,122}</string>
		</dict>
		<key>wy_22_22_95807_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{816,845},{171,78}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,2},{171,78}}</string>
			<key>sourceSize</key>
			<string>{181,86}</string>
		</dict>
		<key>wy_23_23_69464_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{373,173},{102,78}}</string>
			<key>offset</key>
			<string>{11,-22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,44},{102,78}}</string>
			<key>sourceSize</key>
			<string>{126,122}</string>
		</dict>
		<key>wy_24_24_69699_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{816,763},{171,80}}</string>
			<key>offset</key>
			<string>{2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,1},{171,80}}</string>
			<key>sourceSize</key>
			<string>{181,86}</string>
		</dict>
		<key>wy_25_25_961_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{702,559},{122,48}}</string>
			<key>offset</key>
			<string>{-1,-37}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,74},{122,48}}</string>
			<key>sourceSize</key>
			<string>{126,122}</string>
		</dict>
		<key>wy_26_26_44542_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{816,681},{171,80}}</string>
			<key>offset</key>
			<string>{2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,1},{171,80}}</string>
			<key>sourceSize</key>
			<string>{181,86}</string>
		</dict>
		<key>wy_27_27_38432_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{702,115},{108,74}}</string>
			<key>offset</key>
			<string>{-8,-24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,48},{108,74}}</string>
			<key>sourceSize</key>
			<string>{126,122}</string>
		</dict>
		<key>wy_28_28_76666_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{816,311},{173,80}}</string>
			<key>offset</key>
			<string>{2,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{173,80}}</string>
			<key>sourceSize</key>
			<string>{181,86}</string>
		</dict>
		<key>wy_29_29_87053_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{702,479},{78,104}}</string>
			<key>offset</key>
			<string>{-24,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,18},{78,104}}</string>
			<key>sourceSize</key>
			<string>{126,122}</string>
		</dict>
		<key>wy_2_2_68023_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{816,86},{141,176}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,176}}</string>
			<key>sourceSize</key>
			<string>{141,176}</string>
		</dict>
		<key>wy_30_30_14471_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,297},{175,78}}</string>
			<key>offset</key>
			<string>{1,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{175,78}}</string>
			<key>sourceSize</key>
			<string>{181,86}</string>
		</dict>
		<key>wy_31_31_95081_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{874,555},{52,120}}</string>
			<key>offset</key>
			<string>{-37,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,120}}</string>
			<key>sourceSize</key>
			<string>{126,122}</string>
		</dict>
		<key>wy_32_32_32872_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{373,297},{175,78}}</string>
			<key>offset</key>
			<string>{1,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{175,78}}</string>
			<key>sourceSize</key>
			<string>{181,86}</string>
		</dict>
		<key>wy_33_33_19555_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{702,397},{80,104}}</string>
			<key>offset</key>
			<string>{-21,9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{80,104}}</string>
			<key>sourceSize</key>
			<string>{126,122}</string>
		</dict>
		<key>wy_34_34_6946_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{816,229},{175,80}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{175,80}}</string>
			<key>sourceSize</key>
			<string>{181,86}</string>
		</dict>
		<key>wy_35_35_15367_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,947},{108,74}}</string>
			<key>offset</key>
			<string>{-5,24}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{108,74}}</string>
			<key>sourceSize</key>
			<string>{126,122}</string>
		</dict>
		<key>wy_36_36_7201_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{816,393},{173,78}}</string>
			<key>offset</key>
			<string>{1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{173,78}}</string>
			<key>sourceSize</key>
			<string>{181,86}</string>
		</dict>
		<key>wy_37_37_6435_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{874,609},{118,54}}</string>
			<key>offset</key>
			<string>{4,34}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{118,54}}</string>
			<key>sourceSize</key>
			<string>{126,122}</string>
		</dict>
		<key>wy_38_38_33670_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{816,473},{171,80}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,1},{171,80}}</string>
			<key>sourceSize</key>
			<string>{181,86}</string>
		</dict>
		<key>wy_39_39_92224_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{727,297},{98,84}}</string>
			<key>offset</key>
			<string>{14,19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{28,0},{98,84}}</string>
			<key>sourceSize</key>
			<string>{126,122}</string>
		</dict>
		<key>wy_3_3_16846_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,1009},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>wy_40_40_86405_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{373,2},{169,80}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,1},{169,80}}</string>
			<key>sourceSize</key>
			<string>{181,86}</string>
		</dict>
		<key>wy_41_41_22266_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,953},{68,112}}</string>
			<key>offset</key>
			<string>{29,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{58,2},{68,112}}</string>
			<key>sourceSize</key>
			<string>{126,122}</string>
		</dict>
		<key>wy_42_42_87556_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{896,845},{169,80}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,1},{169,80}}</string>
			<key>sourceSize</key>
			<string>{181,86}</string>
		</dict>
		<key>wy_43_43_93688_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,951},{56,116}}</string>
			<key>offset</key>
			<string>{35,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,6},{56,116}}</string>
			<key>sourceSize</key>
			<string>{126,122}</string>
		</dict>
		<key>wy_44_44_55477_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{116,951},{67,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,12}}</string>
			<key>sourceSize</key>
			<string>{67,12}</string>
		</dict>
		<key>wy_45_45_51397_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{816,44},{40,198}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,6},{40,198}}</string>
			<key>sourceSize</key>
			<string>{42,212}</string>
		</dict>
		<key>wy_46_46_78979_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{816,2},{40,198}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,4},{40,198}}</string>
			<key>sourceSize</key>
			<string>{42,212}</string>
		</dict>
		<key>wy_47_47_83640_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,747},{40,198}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{40,198}}</string>
			<key>sourceSize</key>
			<string>{42,212}</string>
		</dict>
		<key>wy_48_48_33583_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,747},{40,202}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,5},{40,202}}</string>
			<key>sourceSize</key>
			<string>{42,212}</string>
		</dict>
		<key>wy_49_49_44701_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,747},{40,204}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,5},{40,204}}</string>
			<key>sourceSize</key>
			<string>{42,212}</string>
		</dict>
		<key>wy_4_4_97116_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,709},{26,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,128}}</string>
			<key>sourceSize</key>
			<string>{26,128}</string>
		</dict>
		<key>wy_50_50_19098_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,747},{38,204}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,6},{38,204}}</string>
			<key>sourceSize</key>
			<string>{42,212}</string>
		</dict>
		<key>wy_51_51_15671_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,747},{38,202}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,7},{38,202}}</string>
			<key>sourceSize</key>
			<string>{42,212}</string>
		</dict>
		<key>wy_52_52_16016_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,747},{38,202}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,7},{38,202}}</string>
			<key>sourceSize</key>
			<string>{42,212}</string>
		</dict>
		<key>wy_53_53_49272_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,747},{38,202}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,6},{38,202}}</string>
			<key>sourceSize</key>
			<string>{42,212}</string>
		</dict>
		<key>wy_54_54_57850_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,747},{38,202}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,5},{38,202}}</string>
			<key>sourceSize</key>
			<string>{42,212}</string>
		</dict>
		<key>wy_55_55_77912_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,747},{38,202}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,6},{38,202}}</string>
			<key>sourceSize</key>
			<string>{42,212}</string>
		</dict>
		<key>wy_56_56_87611_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,747},{38,200}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,7},{38,200}}</string>
			<key>sourceSize</key>
			<string>{42,212}</string>
		</dict>
		<key>wy_57_57_89360_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{702,191},{105,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,104}}</string>
			<key>sourceSize</key>
			<string>{105,104}</string>
		</dict>
		<key>wy_5_5_25206_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,737},{91,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,91}}</string>
			<key>sourceSize</key>
			<string>{91,91}</string>
		</dict>
		<key>wy_62_62_60054_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{603,253},{73,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,39}}</string>
			<key>sourceSize</key>
			<string>{73,39}</string>
		</dict>
		<key>wy_63_63_53054_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,378},{367,367}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,10},{367,367}}</string>
			<key>sourceSize</key>
			<string>{387,387}</string>
		</dict>
		<key>wy_64_64_55307_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,378},{329,329}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{329,329}}</string>
			<key>sourceSize</key>
			<string>{329,329}</string>
		</dict>
		<key>wy_6_6_52097_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{702,2},{111,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,111}}</string>
			<key>sourceSize</key>
			<string>{111,111}</string>
		</dict>
		<key>wy_7_7_903_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{624,2},{73,43}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,5},{73,43}}</string>
			<key>sourceSize</key>
			<string>{75,55}</string>
		</dict>
		<key>wy_8_8_64319_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{978,920},{73,43}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,5},{73,43}}</string>
			<key>sourceSize</key>
			<string>{75,55}</string>
		</dict>
		<key>wy_9_9_7812_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{978,845},{73,43}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,5},{73,43}}</string>
			<key>sourceSize</key>
			<string>{75,55}</string>
		</dict>
		<key>yh_dashezhilizhuanpanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,951},{144,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{144,63}}</string>
			<key>sourceSize</key>
			<string>{148,67}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>dashezhilizhuanpanimage.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dashezhilizhuanpanimage.png</string>
	</dict>
</dict>
</plist>
