<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>boxian_feixieimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,158},{26,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,112}}</string>
			<key>sourceSize</key>
			<string>{26,112}</string>
		</dict>
		<key>guang_feixieimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,186},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>guangbo_feixieimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{89,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,75}}</string>
			<key>sourceSize</key>
			<string>{89,75}</string>
		</dict>
		<key>guangdian_feixieimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,79},{14,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,15}}</string>
			<key>sourceSize</key>
			<string>{14,15}</string>
		</dict>
		<key>lgA_feixieimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,84},{78,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,64}}</string>
			<key>sourceSize</key>
			<string>{78,64}</string>
		</dict>
		<key>lgB_feixieimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,79},{69,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,80}}</string>
			<key>sourceSize</key>
			<string>{69,80}</string>
		</dict>
		<key>lgC_feixieimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,161},{51,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,92}}</string>
			<key>sourceSize</key>
			<string>{51,92}</string>
		</dict>
		<key>lgD_feixieimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,109},{47,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,100}}</string>
			<key>sourceSize</key>
			<string>{47,100}</string>
		</dict>
		<key>lgE_feixieimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,186},{43,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,100}}</string>
			<key>sourceSize</key>
			<string>{43,100}</string>
		</dict>
		<key>lgF_feixieimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,61},{46,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,92}}</string>
			<key>sourceSize</key>
			<string>{46,92}</string>
		</dict>
		<key>lgG_feixieimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,2},{67,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,80}}</string>
			<key>sourceSize</key>
			<string>{67,80}</string>
		</dict>
		<key>wuqi_feixieimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,2},{92,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{92,57}}</string>
			<key>sourceSize</key>
			<string>{92,57}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA4444</string>
		<key>realTextureFileName</key>
		<string>feixieimage.png</string>
		<key>scale</key>
		<real>0.5</real>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>feixieimage.png</string>
	</dict>
</dict>
</plist>
