<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wy_14_14_51643_tx_wuyzltx23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,2},{93,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,66}}</string>
			<key>sourceSize</key>
			<string>{93,66}</string>
		</dict>
		<key>wy_2_2_83997_tx_wuyzltx23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,70},{22,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,22}}</string>
			<key>sourceSize</key>
			<string>{22,22}</string>
		</dict>
		<key>wy_4_4_11096_tx_wuyzltx23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,141},{137,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,137}}</string>
			<key>sourceSize</key>
			<string>{137,137}</string>
		</dict>
		<key>wy_5_5_62867_tx_wuyzltx23image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{137,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,137}}</string>
			<key>sourceSize</key>
			<string>{137,137}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>wuyzltx23image.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>wuyzltx23image.png</string>
	</dict>
</dict>
</plist>
