<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>a_dabi_you_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,89},{55,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,44}}</string>
			<key>sourceSize</key>
			<string>{55,44}</string>
		</dict>
		<key>a_dabi_zuo_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,138},{52,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,49}}</string>
			<key>sourceSize</key>
			<string>{52,49}</string>
		</dict>
		<key>a_datui_you_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,89},{47,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,38}}</string>
			<key>sourceSize</key>
			<string>{47,38}</string>
		</dict>
		<key>a_datui_zuo_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,280},{36,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,38}}</string>
			<key>sourceSize</key>
			<string>{36,38}</string>
		</dict>
		<key>a_duandai_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,71},{24,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,25}}</string>
			<key>sourceSize</key>
			<string>{24,25}</string>
		</dict>
		<key>a_jiao_you_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,157},{36,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,45}}</string>
			<key>sourceSize</key>
			<string>{36,45}</string>
		</dict>
		<key>a_jiao_zuo_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,246},{32,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,41}}</string>
			<key>sourceSize</key>
			<string>{32,41}</string>
		</dict>
		<key>a_kua_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{435,45},{64,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,35}}</string>
			<key>sourceSize</key>
			<string>{64,35}</string>
		</dict>
		<key>a_qugan_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,69},{86,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,90}}</string>
			<key>sourceSize</key>
			<string>{86,90}</string>
		</dict>
		<key>a_shou_you2_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,342},{35,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,37}}</string>
			<key>sourceSize</key>
			<string>{35,37}</string>
		</dict>
		<key>a_shou_you_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,157},{39,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,43}}</string>
			<key>sourceSize</key>
			<string>{39,43}</string>
		</dict>
		<key>a_shou_zuo2_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{45,276},{40,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,33}}</string>
			<key>sourceSize</key>
			<string>{40,33}</string>
		</dict>
		<key>a_shou_zuo_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,206},{41,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,38}}</string>
			<key>sourceSize</key>
			<string>{41,38}</string>
		</dict>
		<key>a_xiaobi_you_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,176},{42,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,32}}</string>
			<key>sourceSize</key>
			<string>{42,32}</string>
		</dict>
		<key>a_xiaobi_zuo_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,173},{53,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,34}}</string>
			<key>sourceSize</key>
			<string>{53,34}</string>
		</dict>
		<key>a_xiaotui_zuo1_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,311},{35,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>sourceSize</key>
			<string>{35,38}</string>
		</dict>
		<key>a_xiaotui_zuo_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{479,281},{28,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,37}}</string>
			<key>sourceSize</key>
			<string>{28,37}</string>
		</dict>
		<key>b_dabi_wai_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,149},{42,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,50}}</string>
			<key>sourceSize</key>
			<string>{42,50}</string>
		</dict>
		<key>b_datui_wai_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,220},{36,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,39}}</string>
			<key>sourceSize</key>
			<string>{36,39}</string>
		</dict>
		<key>b_duandai_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,69},{11,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,25}}</string>
			<key>sourceSize</key>
			<string>{11,25}</string>
		</dict>
		<key>b_jiao_nei2_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{397,192},{37,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,48}}</string>
			<key>sourceSize</key>
			<string>{37,48}</string>
		</dict>
		<key>b_jiao_nei_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,209},{37,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,41}}</string>
			<key>sourceSize</key>
			<string>{37,41}</string>
		</dict>
		<key>b_jiao_wai2_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{345,168},{37,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,50}}</string>
			<key>sourceSize</key>
			<string>{37,50}</string>
		</dict>
		<key>b_jiao_wai_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,269},{37,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,41}}</string>
			<key>sourceSize</key>
			<string>{37,41}</string>
		</dict>
		<key>b_kua_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,171},{45,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,33}}</string>
			<key>sourceSize</key>
			<string>{45,33}</string>
		</dict>
		<key>b_qugan_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,2},{67,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,89}}</string>
			<key>sourceSize</key>
			<string>{67,89}</string>
		</dict>
		<key>b_shou_nei_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,225},{34,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,37}}</string>
			<key>sourceSize</key>
			<string>{34,37}</string>
		</dict>
		<key>b_shou_wai_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,225},{33,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,37}}</string>
			<key>sourceSize</key>
			<string>{33,37}</string>
		</dict>
		<key>b_xiaobi_nei_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,192},{30,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,48}}</string>
			<key>sourceSize</key>
			<string>{30,48}</string>
		</dict>
		<key>b_xiaobi_wai_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,193},{30,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,49}}</string>
			<key>sourceSize</key>
			<string>{30,49}</string>
		</dict>
		<key>b_xiaotui_wai_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{479,241},{30,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,38}}</string>
			<key>sourceSize</key>
			<string>{30,38}</string>
		</dict>
		<key>c_dabi_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{435,2},{41,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,66}}</string>
			<key>sourceSize</key>
			<string>{41,66}</string>
		</dict>
		<key>c_datui_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,231},{36,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,45}}</string>
			<key>sourceSize</key>
			<string>{36,45}</string>
		</dict>
		<key>c_jiao_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,237},{37,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,41}}</string>
			<key>sourceSize</key>
			<string>{37,41}</string>
		</dict>
		<key>c_kua_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{295,57},{64,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,33}}</string>
			<key>sourceSize</key>
			<string>{64,33}</string>
		</dict>
		<key>c_tou_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{417,139},{60,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,51}}</string>
			<key>sourceSize</key>
			<string>{60,51}</string>
		</dict>
		<key>c_xiaobi_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,207},{46,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,33}}</string>
			<key>sourceSize</key>
			<string>{46,33}</string>
		</dict>
		<key>c_xiaotui_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,128},{32,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,46}}</string>
			<key>sourceSize</key>
			<string>{32,46}</string>
		</dict>
		<key>cebei_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,2},{95,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,85}}</string>
			<key>sourceSize</key>
			<string>{95,85}</string>
		</dict>
		<key>jiao2_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,267},{36,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,38}}</string>
			<key>sourceSize</key>
			<string>{36,38}</string>
		</dict>
		<key>jiao3_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,128},{43,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,53}}</string>
			<key>sourceSize</key>
			<string>{43,53}</string>
		</dict>
		<key>qugan1_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{103,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,65}}</string>
			<key>sourceSize</key>
			<string>{103,65}</string>
		</dict>
		<key>shou11_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,198},{43,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,37}}</string>
			<key>sourceSize</key>
			<string>{43,37}</string>
		</dict>
		<key>shou12_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,248},{37,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,38}}</string>
			<key>sourceSize</key>
			<string>{37,38}</string>
		</dict>
		<key>shou13_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{439,242},{38,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,41}}</string>
			<key>sourceSize</key>
			<string>{38,41}</string>
		</dict>
		<key>shou14_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,230},{35,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,41}}</string>
			<key>sourceSize</key>
			<string>{35,41}</string>
		</dict>
		<key>shou1_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,189},{39,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,41}}</string>
			<key>sourceSize</key>
			<string>{39,41}</string>
		</dict>
		<key>shou2_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,232},{35,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,44}}</string>
			<key>sourceSize</key>
			<string>{35,44}</string>
		</dict>
		<key>shou3_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,308},{32,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,40}}</string>
			<key>sourceSize</key>
			<string>{32,40}</string>
		</dict>
		<key>shou6_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{479,198},{41,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,30}}</string>
			<key>sourceSize</key>
			<string>{41,30}</string>
		</dict>
		<key>shou7_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,135},{54,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,34}}</string>
			<key>sourceSize</key>
			<string>{54,34}</string>
		</dict>
		<key>shou8_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{479,139},{57,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,31}}</string>
			<key>sourceSize</key>
			<string>{57,31}</string>
		</dict>
		<key>shou9_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,195},{35,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,45}}</string>
			<key>sourceSize</key>
			<string>{35,45}</string>
		</dict>
		<key>tou2aax_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{355,111},{60,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,55}}</string>
			<key>sourceSize</key>
			<string>{60,55}</string>
		</dict>
		<key>tou2ddx_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,92},{60,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,55}}</string>
			<key>sourceSize</key>
			<string>{60,55}</string>
		</dict>
		<key>tou2eex_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,71},{60,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,55}}</string>
			<key>sourceSize</key>
			<string>{60,55}</string>
		</dict>
		<key>tou2x_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{426,82},{60,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,55}}</string>
			<key>sourceSize</key>
			<string>{60,55}</string>
		</dict>
		<key>tou_d_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,57},{52,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,63}}</string>
			<key>sourceSize</key>
			<string>{52,63}</string>
		</dict>
		<key>toubx_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{365,2},{68,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,53}}</string>
			<key>sourceSize</key>
			<string>{68,53}</string>
		</dict>
		<key>toux_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{295,2},{68,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,53}}</string>
			<key>sourceSize</key>
			<string>{68,53}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA4444</string>
		<key>realTextureFileName</key>
		<string>damenwulangimage.png</string>
		<key>scale</key>
		<real>0.5</real>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>damenwulangimage.png</string>
	</dict>
</dict>
</plist>
