<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>anniujin_diaoyuuiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{289,217}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{289,217}}</string>
			<key>sourceSize</key>
			<string>{289,217}</string>
		</dict>
		<key>anniulan_diaoyuuiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,2},{289,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{289,216}}</string>
			<key>sourceSize</key>
			<string>{289,216}</string>
		</dict>
		<key>guan_diaoyuuiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,374},{234,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{234,83}}</string>
			<key>sourceSize</key>
			<string>{234,83}</string>
		</dict>
		<key>guandi_diaoyuuiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,221},{273,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{273,107}}</string>
			<key>sourceSize</key>
			<string>{273,107}</string>
		</dict>
		<key>guanggg_diaoyuuiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,330},{256,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,106}}</string>
			<key>sourceSize</key>
			<string>{256,106}</string>
		</dict>
		<key>lgg_diaoyuuiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,438},{221,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{221,79}}</string>
			<key>sourceSize</key>
			<string>{221,79}</string>
		</dict>
		<key>lggtiao_diaoyuuiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{502,293},{2,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,24}}</string>
			<key>sourceSize</key>
			<string>{2,24}</string>
		</dict>
		<key>m1_diaoyuuiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,459},{173,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,60}}</string>
			<key>sourceSize</key>
			<string>{173,60}</string>
		</dict>
		<key>m2_diaoyuuiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,519},{102,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,102}}</string>
			<key>sourceSize</key>
			<string>{102,102}</string>
		</dict>
		<key>m3_diaoyuuiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{435,459},{142,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,62}}</string>
			<key>sourceSize</key>
			<string>{142,62}</string>
		</dict>
		<key>m4_diaoyuuiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,438},{33,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,26}}</string>
			<key>sourceSize</key>
			<string>{33,26}</string>
		</dict>
		<key>m5_diaoyuuiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,293},{223,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{223,79}}</string>
			<key>sourceSize</key>
			<string>{223,79}</string>
		</dict>
		<key>m6_diaoyuuiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,221},{11,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,25}}</string>
			<key>sourceSize</key>
			<string>{11,25}</string>
		</dict>
		<key>quan_diaoyuuiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,519},{151,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,151}}</string>
			<key>sourceSize</key>
			<string>{151,151}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>diaoyuuiimage.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>diaoyuuiimage.png</string>
	</dict>
</dict>
</plist>
