<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>largepic_100016.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{360,499}}</string>
			<key>offset</key>
			<string>{12,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{172,0},{360,499}}</string>
			<key>sourceSize</key>
			<string>{680,499}</string>
		</dict>
		<key>longpic_100016.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,364},{127,207}}</string>
			<key>offset</key>
			<string>{9,9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,18},{127,207}}</string>
			<key>sourceSize</key>
			<string>{151,225}</string>
		</dict>
		<key>middlepic_100016.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,407},{143,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,55}}</string>
			<key>sourceSize</key>
			<string>{143,55}</string>
		</dict>
		<key>namepic_100016.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,407},{165,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,78}}</string>
			<key>sourceSize</key>
			<string>{165,78}</string>
		</dict>
		<key>skillmaxpic_100016.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,364},{204,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{204,43}}</string>
			<key>sourceSize</key>
			<string>{204,43}</string>
		</dict>
		<key>skillnamepic_100016.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,487},{165,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{165,31}}</string>
			<key>sourceSize</key>
			<string>{165,31}</string>
		</dict>
		<key>skillsmaxpic_100016.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,364},{251,41}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{251,41}}</string>
			<key>sourceSize</key>
			<string>{261,41}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>heros_100016.png</string>
		<key>scale</key>
		<real>0.78</real>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>heros_100016.png</string>
	</dict>
</dict>
</plist>
