<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>largepic_100151.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,384},{356,574}}</string>
			<key>offset</key>
			<string>{-27,33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{231,66},{356,574}}</string>
			<key>sourceSize</key>
			<string>{872,640}</string>
		</dict>
		<key>longpic_100151.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,92},{173,284}}</string>
			<key>offset</key>
			<string>{-10,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{173,284}}</string>
			<key>sourceSize</key>
			<string>{193,288}</string>
		</dict>
		<key>middlepic_100151.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,92},{177,71}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,71}}</string>
			<key>sourceSize</key>
			<string>{183,71}</string>
		</dict>
		<key>namepic_100151.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{450,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{450,88}}</string>
			<key>sourceSize</key>
			<string>{450,88}</string>
		</dict>
		<key>skillmaxpic_100151.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,2},{380,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{380,52}}</string>
			<key>sourceSize</key>
			<string>{380,52}</string>
		</dict>
		<key>skillnamepic_100151.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,271},{253,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{253,40}}</string>
			<key>sourceSize</key>
			<string>{253,40}</string>
		</dict>
		<key>skillsmaxpic_100151.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,960},{323,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{323,52}}</string>
			<key>sourceSize</key>
			<string>{323,52}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>heros_100151.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>heros_100151.png</string>
	</dict>
</dict>
</plist>
