<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_hd_4zhounian_taitou.png</key>
		<dict>
			<key>frame</key>
			<string>{{1226,402},{212,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,72}}</string>
			<key>sourceSize</key>
			<string>{212,72}</string>
		</dict>
		<key>pic_hd_5zn_anniu_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1624,410},{62,125}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,125}}</string>
			<key>sourceSize</key>
			<string>{64,125}</string>
		</dict>
		<key>pic_hd_5zn_anniu_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1440,402},{64,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,125}}</string>
			<key>sourceSize</key>
			<string>{64,125}</string>
		</dict>
		<key>pic_hd_5zn_anniu_guanbi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1624,474},{108,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{108,41}}</string>
			<key>sourceSize</key>
			<string>{108,41}</string>
		</dict>
		<key>pic_hd_5zn_anniu_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1834,2},{32,103}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,103}}</string>
			<key>sourceSize</key>
			<string>{34,103}</string>
		</dict>
		<key>pic_hd_5zn_bgdh_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{818,402},{198,406}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,406}}</string>
			<key>sourceSize</key>
			<string>{198,406}</string>
		</dict>
		<key>pic_hd_5zn_biaoti_gonggao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1810,410},{158,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,57}}</string>
			<key>sourceSize</key>
			<string>{158,57}</string>
		</dict>
		<key>pic_hd_5zn_biaoti_quanhuangjingcai.png</key>
		<dict>
			<key>frame</key>
			<string>{{1506,402},{198,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,57}}</string>
			<key>sourceSize</key>
			<string>{198,57}</string>
		</dict>
		<key>pic_hd_5zn_biaoti_quanhuangyingyuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1226,535},{174,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,57}}</string>
			<key>sourceSize</key>
			<string>{174,57}</string>
		</dict>
		<key>pic_hd_5zn_biaoti_yaobijianglin.png</key>
		<dict>
			<key>frame</key>
			<string>{{1565,402},{196,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,57}}</string>
			<key>sourceSize</key>
			<string>{196,57}</string>
		</dict>
		<key>pic_hd_5zn_biaoti_yuanwangqingdan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1226,476},{207,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,57}}</string>
			<key>sourceSize</key>
			<string>{207,57}</string>
		</dict>
		<key>pic_hd_5zn_biaoti_zhaocaimao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1751,410},{158,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,57}}</string>
			<key>sourceSize</key>
			<string>{158,57}</string>
		</dict>
		<key>pic_hd_5zn_gonggao_dg.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,402},{198,406}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,406}}</string>
			<key>sourceSize</key>
			<string>{198,406}</string>
		</dict>
		<key>pic_hd_5zn_gonggao_lyyyj.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,402},{198,406}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,406}}</string>
			<key>sourceSize</key>
			<string>{198,406}</string>
		</dict>
		<key>pic_hd_5zn_gonggao_pcxd.png</key>
		<dict>
			<key>frame</key>
			<string>{{1226,202},{198,406}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,406}}</string>
			<key>sourceSize</key>
			<string>{198,406}</string>
		</dict>
		<key>pic_hd_5zn_gonggao_qdlb.png</key>
		<dict>
			<key>frame</key>
			<string>{{818,202},{198,406}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,406}}</string>
			<key>sourceSize</key>
			<string>{198,406}</string>
		</dict>
		<key>pic_hd_5zn_gonggao_yyl.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,202},{198,406}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,406}}</string>
			<key>sourceSize</key>
			<string>{198,406}</string>
		</dict>
		<key>pic_hd_5zn_qhjc_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,202},{198,406}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,406}}</string>
			<key>sourceSize</key>
			<string>{198,406}</string>
		</dict>
		<key>pic_hd_5zn_qhyy_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{1634,2},{198,406}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,406}}</string>
			<key>sourceSize</key>
			<string>{198,406}</string>
		</dict>
		<key>pic_hd_5zn_ybjl_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{1226,2},{198,406}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,406}}</string>
			<key>sourceSize</key>
			<string>{198,406}</string>
		</dict>
		<key>pic_hd_5zn_ywqd_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{818,2},{198,406}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,406}}</string>
			<key>sourceSize</key>
			<string>{198,406}</string>
		</dict>
		<key>pic_hd_5zn_zcm_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{410,2},{198,406}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,406}}</string>
			<key>sourceSize</key>
			<string>{198,406}</string>
		</dict>
		<key>pic_hd_5zn_znlb_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{198,406}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{198,406}}</string>
			<key>sourceSize</key>
			<string>{198,406}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_ActivityYearsFive0.png</string>
		<key>size</key>
		<string>{1869,602}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_ActivityYearsFive0.png</string>
	</dict>
</dict>
</plist>
