<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_tbzqh_genghuan_huadongquyudi.png</key>
		<dict>
			<key>frame</key>
			<string>{{345,978},{18,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,18}}</string>
			<key>sourceSize</key>
			<string>{18,18}</string>
		</dict>
		<key>pic_tbzqh_fubiaotidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{308,1142},{8,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,26}}</string>
			<key>sourceSize</key>
			<string>{8,26}</string>
		</dict>
		<key>pic_tbzqh_youcedi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1142},{304,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{304,224}}</string>
			<key>sourceSize</key>
			<string>{304,224}</string>
		</dict>
		<key>pic_tbzqh_youcetiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,978},{24,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,78}}</string>
			<key>sourceSize</key>
			<string>{24,78}</string>
		</dict>
		<key>pic_xhsd_dadi.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,2},{58,532}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,532}}</string>
			<key>sourceSize</key>
			<string>{58,532}</string>
		</dict>
		<key>pic_xhsd_di3.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,1058},{18,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,32}}</string>
			<key>sourceSize</key>
			<string>{18,32}</string>
		</dict>
		<key>pic_xhsd_js_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,572},{568,315}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{568,315}}</string>
			<key>sourceSize</key>
			<string>{568,315}</string>
		</dict>
		<key>pic_xhsd_kjsp_word_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,854},{122,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,90}}</string>
			<key>sourceSize</key>
			<string>{122,90}</string>
		</dict>
		<key>pic_xhyjs_banzi_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,572},{71,280}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,280}}</string>
			<key>sourceSize</key>
			<string>{71,280}</string>
		</dict>
		<key>pic_xhyjs_js_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{568,374}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{568,374}}</string>
			<key>sourceSize</key>
			<string>{568,374}</string>
		</dict>
		<key>pic_xhyjs_word_bg_jianbian.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,773},{30,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,22}}</string>
			<key>sourceSize</key>
			<string>{30,22}</string>
		</dict>
		<key>pic_xhyjs_word_lanbg_jianbian.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,536},{235,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,44}}</string>
			<key>sourceSize</key>
			<string>{235,44}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ChipCore30.png</string>
		<key>size</key>
		<string>{438,1368}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ChipCore30.png</string>
	</dict>
</dict>
</plist>
