<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>terui_atk_105.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,2},{224,267}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{224,267}}</string>
			<key>sourceSize</key>
			<string>{228,267}</string>
		</dict>
		<key>terui_atk_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,249},{246,242}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{246,242}}</string>
			<key>sourceSize</key>
			<string>{246,242}</string>
		</dict>
		<key>terui_atk_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{199,821},{122,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,162}}</string>
			<key>sourceSize</key>
			<string>{122,162}</string>
		</dict>
		<key>terui_atk_25.png</key>
		<dict>
			<key>frame</key>
			<string>{{988,568},{47,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,31}}</string>
			<key>sourceSize</key>
			<string>{47,31}</string>
		</dict>
		<key>terui_atk_28.png</key>
		<dict>
			<key>frame</key>
			<string>{{719,562},{97,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,84}}</string>
			<key>sourceSize</key>
			<string>{97,84}</string>
		</dict>
		<key>terui_atk_43.png</key>
		<dict>
			<key>frame</key>
			<string>{{283,984},{38,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,47}}</string>
			<key>sourceSize</key>
			<string>{38,47}</string>
		</dict>
		<key>terui_atk_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,906},{126,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,116}}</string>
			<key>sourceSize</key>
			<string>{126,116}</string>
		</dict>
		<key>terui_atk_58.png</key>
		<dict>
			<key>frame</key>
			<string>{{804,469},{183,149}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{183,149}}</string>
			<key>sourceSize</key>
			<string>{187,149}</string>
		</dict>
		<key>terui_atk_65.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,821},{164,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,125}}</string>
			<key>sourceSize</key>
			<string>{164,125}</string>
		</dict>
		<key>terui_atk_73.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,986},{36,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,65}}</string>
			<key>sourceSize</key>
			<string>{36,65}</string>
		</dict>
		<key>terui_atk_78.png</key>
		<dict>
			<key>frame</key>
			<string>{{719,459},{102,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,84}}</string>
			<key>sourceSize</key>
			<string>{102,84}</string>
		</dict>
		<key>terui_atk_86.png</key>
		<dict>
			<key>frame</key>
			<string>{{615,628},{100,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,103}}</string>
			<key>sourceSize</key>
			<string>{100,103}</string>
		</dict>
		<key>terui_atk_92.png</key>
		<dict>
			<key>frame</key>
			<string>{{383,615},{106,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,134}}</string>
			<key>sourceSize</key>
			<string>{106,134}</string>
		</dict>
		<key>terui_atk_94.png</key>
		<dict>
			<key>frame</key>
			<string>{{525,722},{89,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,91}}</string>
			<key>sourceSize</key>
			<string>{89,91}</string>
		</dict>
		<key>terui_bs3_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{270,261}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{270,261}}</string>
			<key>sourceSize</key>
			<string>{270,261}</string>
		</dict>
		<key>terui_bs3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{719,809},{146,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,96}}</string>
			<key>sourceSize</key>
			<string>{146,96}</string>
		</dict>
		<key>terui_bs3_15.png</key>
		<dict>
			<key>frame</key>
			<string>{{525,814},{91,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,89}}</string>
			<key>sourceSize</key>
			<string>{91,89}</string>
		</dict>
		<key>terui_bs3_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{615,729},{103,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,88}}</string>
			<key>sourceSize</key>
			<string>{103,88}</string>
		</dict>
		<key>terui_bs3_22.png</key>
		<dict>
			<key>frame</key>
			<string>{{980,981},{35,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,42}}</string>
			<key>sourceSize</key>
			<string>{35,42}</string>
		</dict>
		<key>terui_bs3_26.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,185},{207,149}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,149}}</string>
			<key>sourceSize</key>
			<string>{207,149}</string>
		</dict>
		<key>terui_bs3_27.png</key>
		<dict>
			<key>frame</key>
			<string>{{788,906},{97,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,115}}</string>
			<key>sourceSize</key>
			<string>{97,115}</string>
		</dict>
		<key>terui_bs3_31.png</key>
		<dict>
			<key>frame</key>
			<string>{{273,2},{268,246}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{268,246}}</string>
			<key>sourceSize</key>
			<string>{268,246}</string>
		</dict>
		<key>terui_bs3_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{810,2},{211,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,182}}</string>
			<key>sourceSize</key>
			<string>{211,182}</string>
		</dict>
		<key>terui_die_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{988,616},{47,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,31}}</string>
			<key>sourceSize</key>
			<string>{47,31}</string>
		</dict>
		<key>terui_die_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{542,227},{261,231}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{261,231}}</string>
			<key>sourceSize</key>
			<string>{261,231}</string>
		</dict>
		<key>terui_die_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,986},{66,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,36}}</string>
			<key>sourceSize</key>
			<string>{66,36}</string>
		</dict>
		<key>terui_idle_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{929,891},{50,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,96}}</string>
			<key>sourceSize</key>
			<string>{50,96}</string>
		</dict>
		<key>terui_run_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{980,941},{42,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,39}}</string>
			<key>sourceSize</key>
			<string>{42,39}</string>
		</dict>
		<key>terui_run_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,821},{152,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,96}}</string>
			<key>sourceSize</key>
			<string>{152,96}</string>
		</dict>
		<key>terui_run_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{988,521},{32,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,46}}</string>
			<key>sourceSize</key>
			<string>{32,46}</string>
		</dict>
		<key>terui_run_20.png</key>
		<dict>
			<key>frame</key>
			<string>{{980,821},{42,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,65}}</string>
			<key>sourceSize</key>
			<string>{42,65}</string>
		</dict>
		<key>terui_run_21.png</key>
		<dict>
			<key>frame</key>
			<string>{{988,469},{32,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,51}}</string>
			<key>sourceSize</key>
			<string>{32,51}</string>
		</dict>
		<key>terui_run_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,549},{105,86}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,86}}</string>
			<key>sourceSize</key>
			<string>{111,86}</string>
		</dict>
		<key>terui_run_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,492},{103,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,56}}</string>
			<key>sourceSize</key>
			<string>{103,56}</string>
		</dict>
		<key>terui_skbs12_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,264},{36,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,27}}</string>
			<key>sourceSize</key>
			<string>{36,27}</string>
		</dict>
		<key>terui_skbs12_100.png</key>
		<dict>
			<key>frame</key>
			<string>{{804,335},{133,213}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,213}}</string>
			<key>sourceSize</key>
			<string>{133,213}</string>
		</dict>
		<key>terui_skbs12_104.png</key>
		<dict>
			<key>frame</key>
			<string>{{615,818},{97,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,87}}</string>
			<key>sourceSize</key>
			<string>{97,87}</string>
		</dict>
		<key>terui_skbs12_105.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,660},{126,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,156}}</string>
			<key>sourceSize</key>
			<string>{126,156}</string>
		</dict>
		<key>terui_skbs12_116.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,660},{137,159}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{137,159}}</string>
			<key>sourceSize</key>
			<string>{141,159}</string>
		</dict>
		<key>terui_skbs12_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,264},{127,242}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,242}}</string>
			<key>sourceSize</key>
			<string>{127,242}</string>
		</dict>
		<key>terui_skbs12_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,821},{167,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,70}}</string>
			<key>sourceSize</key>
			<string>{167,70}</string>
		</dict>
		<key>terui_skbs12_18.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,821},{105,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,81}}</string>
			<key>sourceSize</key>
			<string>{105,81}</string>
		</dict>
		<key>terui_skbs12_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{886,906},{85,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,41}}</string>
			<key>sourceSize</key>
			<string>{85,41}</string>
		</dict>
		<key>terui_skbs12_23.png</key>
		<dict>
			<key>frame</key>
			<string>{{804,619},{175,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,167}}</string>
			<key>sourceSize</key>
			<string>{175,167}</string>
		</dict>
		<key>terui_skbs12_26.png</key>
		<dict>
			<key>frame</key>
			<string>{{866,821},{84,62}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,62}}</string>
			<key>sourceSize</key>
			<string>{86,62}</string>
		</dict>
		<key>terui_skbs12_45.png</key>
		<dict>
			<key>frame</key>
			<string>{{719,742},{66,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,84}}</string>
			<key>sourceSize</key>
			<string>{66,84}</string>
		</dict>
		<key>terui_skbs12_48.png</key>
		<dict>
			<key>frame</key>
			<string>{{383,722},{98,141}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,141}}</string>
			<key>sourceSize</key>
			<string>{98,141}</string>
		</dict>
		<key>terui_skbs12_65.png</key>
		<dict>
			<key>frame</key>
			<string>{{518,660},{96,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,61}}</string>
			<key>sourceSize</key>
			<string>{96,61}</string>
		</dict>
		<key>terui_skbs12_66.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,984},{38,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,76}}</string>
			<key>sourceSize</key>
			<string>{38,76}</string>
		</dict>
		<key>terui_skbs12_70.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,549},{94,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,110}}</string>
			<key>sourceSize</key>
			<string>{94,110}</string>
		</dict>
		<key>terui_skbs12_75.png</key>
		<dict>
			<key>frame</key>
			<string>{{929,787},{50,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,103}}</string>
			<key>sourceSize</key>
			<string>{50,103}</string>
		</dict>
		<key>terui_skbs12_88.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,549},{94,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,110}}</string>
			<key>sourceSize</key>
			<string>{94,110}</string>
		</dict>
		<key>terui_skbs12_89.png</key>
		<dict>
			<key>frame</key>
			<string>{{644,906},{115,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,143}}</string>
			<key>sourceSize</key>
			<string>{115,143}</string>
		</dict>
		<key>terui_skbs12_94.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,301},{24,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,69}}</string>
			<key>sourceSize</key>
			<string>{24,69}</string>
		</dict>
		<key>terui_skbs12_95.png</key>
		<dict>
			<key>frame</key>
			<string>{{546,906},{97,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,116}}</string>
			<key>sourceSize</key>
			<string>{97,116}</string>
		</dict>
		<key>terui_skbs12_98.png</key>
		<dict>
			<key>frame</key>
			<string>{{331,974},{84,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,48}}</string>
			<key>sourceSize</key>
			<string>{84,48}</string>
		</dict>
		<key>terui_sl_16.png</key>
		<dict>
			<key>frame</key>
			<string>{{980,744},{42,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,76}}</string>
			<key>sourceSize</key>
			<string>{42,76}</string>
		</dict>
		<key>terui_sl_17.png</key>
		<dict>
			<key>frame</key>
			<string>{{980,664},{42,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,79}}</string>
			<key>sourceSize</key>
			<string>{42,79}</string>
		</dict>
		<key>terui_sl_19.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,549},{109,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,103}}</string>
			<key>sourceSize</key>
			<string>{109,103}</string>
		</dict>
		<key>terui_sl_29.png</key>
		<dict>
			<key>frame</key>
			<string>{{267,660},{115,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,156}}</string>
			<key>sourceSize</key>
			<string>{115,156}</string>
		</dict>
		<key>terui_sl_30.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,392},{156,241}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,241}}</string>
			<key>sourceSize</key>
			<string>{156,241}</string>
		</dict>
		<key>terui_sl_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{383,492},{122,136}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,136}}</string>
			<key>sourceSize</key>
			<string>{122,136}</string>
		</dict>
		<key>terui_sl_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{719,660},{84,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{84,81}}</string>
			<key>sourceSize</key>
			<string>{86,81}</string>
		</dict>
		<key>terui_sl_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{520,459},{168,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,198}}</string>
			<key>sourceSize</key>
			<string>{168,198}</string>
		</dict>
		<key>terui_sl_bu_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{980,887},{53,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,42}}</string>
			<key>sourceSize</key>
			<string>{53,42}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>teruiTR_role1.png</string>
		<key>scale</key>
		<real>0.79</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>teruiTR_role1.png</string>
	</dict>
</dict>
</plist>
