<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bg_juminquimage.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{896,506}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{896,506}}</string>
			<key>sourceSize</key>
			<string>{896,506}</string>
		</dict>
		<key>dengguang_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,973},{14,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,18}}</string>
			<key>sourceSize</key>
			<string>{14,18}</string>
		</dict>
		<key>goubei_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{105,920},{9,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,14}}</string>
			<key>sourceSize</key>
			<string>{9,14}</string>
		</dict>
		<key>goutou_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,900},{22,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,20}}</string>
			<key>sourceSize</key>
			<string>{22,20}</string>
		</dict>
		<key>gouzhua_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{78,924},{11,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,5}}</string>
			<key>sourceSize</key>
			<string>{11,5}</string>
		</dict>
		<key>guitou_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{42,975},{18,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,17}}</string>
			<key>sourceSize</key>
			<string>{18,17}</string>
		</dict>
		<key>guitui_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,995},{20,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,26}}</string>
			<key>sourceSize</key>
			<string>{20,26}</string>
		</dict>
		<key>h1_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,995},{10,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,21}}</string>
			<key>sourceSize</key>
			<string>{10,21}</string>
		</dict>
		<key>h2_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,952},{10,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,21}}</string>
			<key>sourceSize</key>
			<string>{10,21}</string>
		</dict>
		<key>h3_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{71,952},{10,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,19}}</string>
			<key>sourceSize</key>
			<string>{10,19}</string>
		</dict>
		<key>h4_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,925},{10,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,21}}</string>
			<key>sourceSize</key>
			<string>{10,21}</string>
		</dict>
		<key>h5_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{61,975},{10,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,20}}</string>
			<key>sourceSize</key>
			<string>{10,20}</string>
		</dict>
		<key>h6_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,936},{10,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,17}}</string>
			<key>sourceSize</key>
			<string>{10,17}</string>
		</dict>
		<key>h7_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,924},{10,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,18}}</string>
			<key>sourceSize</key>
			<string>{10,18}</string>
		</dict>
		<key>h8_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,951},{10,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,17}}</string>
			<key>sourceSize</key>
			<string>{10,17}</string>
		</dict>
		<key>h9_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{61,997},{10,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,19}}</string>
			<key>sourceSize</key>
			<string>{10,19}</string>
		</dict>
		<key>h_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,900},{16,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,18}}</string>
			<key>sourceSize</key>
			<string>{16,18}</string>
		</dict>
		<key>hezi_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,937},{16,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,12}}</string>
			<key>sourceSize</key>
			<string>{16,12}</string>
		</dict>
		<key>renjita_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,900},{50,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,26}}</string>
			<key>sourceSize</key>
			<string>{50,26}</string>
		</dict>
		<key>renshen_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,952},{41,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,23}}</string>
			<key>sourceSize</key>
			<string>{41,23}</string>
		</dict>
		<key>renshou_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,900},{10,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,23}}</string>
			<key>sourceSize</key>
			<string>{10,23}</string>
		</dict>
		<key>rentou_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{24,995},{23,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,25}}</string>
			<key>sourceSize</key>
			<string>{23,25}</string>
		</dict>
		<key>rentui_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{37,900},{35,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,16}}</string>
			<key>sourceSize</key>
			<string>{35,16}</string>
		</dict>
		<key>yd1_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,900},{9,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,8}}</string>
			<key>sourceSize</key>
			<string>{9,8}</string>
		</dict>
		<key>yd2_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,939},{11,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,8}}</string>
			<key>sourceSize</key>
			<string>{11,8}</string>
		</dict>
		<key>yd3_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{42,952},{21,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,15}}</string>
			<key>sourceSize</key>
			<string>{21,15}</string>
		</dict>
		<key>yd4_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{40,937},{31,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,13}}</string>
			<key>sourceSize</key>
			<string>{31,13}</string>
		</dict>
		<key>yd5_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{27,952},{39,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,13}}</string>
			<key>sourceSize</key>
			<string>{39,13}</string>
		</dict>
		<key>yd6_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,900},{37,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,5}}</string>
			<key>sourceSize</key>
			<string>{37,5}</string>
		</dict>
		<key>yd7_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,1018},{6,2}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,2}}</string>
			<key>sourceSize</key>
			<string>{6,2}</string>
		</dict>
		<key>yd_juminquimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,1018},{2,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,13}}</string>
			<key>sourceSize</key>
			<string>{2,13}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>juminquimage.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>juminquimage.png</string>
	</dict>
</dict>
</plist>
