<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask01_BG_100175image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{173,231}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,231}}</string>
			<key>sourceSize</key>
			<string>{173,231}</string>
		</dict>
		<key>mask02_BG_100175image.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,49},{51,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,80}}</string>
			<key>sourceSize</key>
			<string>{51,80}</string>
		</dict>
		<key>piaodai_BG_100175image.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,2},{70,45}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,45}}</string>
			<key>sourceSize</key>
			<string>{70,47}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>BG_100175image.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>BG_100175image.png</string>
	</dict>
</dict>
</plist>
