<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wy_10_10_18471_bxdsjzdcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,129},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>wy_12_12_92602_bxdsjzdcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,152},{128,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,128}}</string>
			<key>sourceSize</key>
			<string>{128,128}</string>
		</dict>
		<key>wy_14_14_1676_bxdsjzdcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,129},{143,21}}</string>
			<key>offset</key>
			<string>{-4,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{143,21}}</string>
			<key>sourceSize</key>
			<string>{155,29}</string>
		</dict>
		<key>wy_16_16_85952_bxdsjzdcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,282},{43,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,43}}</string>
			<key>sourceSize</key>
			<string>{43,43}</string>
		</dict>
		<key>wy_18_18_17563_bxdsjzdcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,129},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>wy_20_20_54321_bxdsjzdcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,188},{121,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,58}}</string>
			<key>sourceSize</key>
			<string>{121,58}</string>
		</dict>
		<key>wy_4_4_58372_bxdsjzdcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,129},{83,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,57}}</string>
			<key>sourceSize</key>
			<string>{83,57}</string>
		</dict>
		<key>wy_6_6_42014_bxdsjzdcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{125,246}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{125,246}}</string>
			<key>sourceSize</key>
			<string>{127,248}</string>
		</dict>
		<key>wy_8_8_44842_bxdsjzdcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,248},{111,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,111}}</string>
			<key>sourceSize</key>
			<string>{111,111}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>bxdsjzdcjimage.png</string>
		<key>size</key>
		<string>{256,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>bxdsjzdcjimage.png</string>
	</dict>
</dict>
</plist>
