<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_czhd_tanchuang_queding_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,1197},{168,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,49}}</string>
			<key>sourceSize</key>
			<string>{168,49}</string>
		</dict>
		<key>btn_czhd_tanchuang_queding_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{165,1027},{168,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,49}}</string>
			<key>sourceSize</key>
			<string>{168,49}</string>
		</dict>
		<key>btn_czhd_tanchuang_quxiao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,1197},{168,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,49}}</string>
			<key>sourceSize</key>
			<string>{168,49}</string>
		</dict>
		<key>btn_czhd_tanchuang_quxiao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,1027},{168,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,49}}</string>
			<key>sourceSize</key>
			<string>{168,49}</string>
		</dict>
		<key>btn_czhd_tanchuang_xufei_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,511},{121,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,45}}</string>
			<key>sourceSize</key>
			<string>{121,45}</string>
		</dict>
		<key>btn_czhd_tanchuang_xufei_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1516},{121,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,45}}</string>
			<key>sourceSize</key>
			<string>{121,45}</string>
		</dict>
		<key>btn_czhd_tqk_lingqu_normal .png</key>
		<dict>
			<key>frame</key>
			<string>{{63,1197},{168,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,49}}</string>
			<key>sourceSize</key>
			<string>{168,49}</string>
		</dict>
		<key>btn_czhd_tqk_lingqu_press .png</key>
		<dict>
			<key>frame</key>
			<string>{{63,1027},{168,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,49}}</string>
			<key>sourceSize</key>
			<string>{168,49}</string>
		</dict>
		<key>btn_czhd_tqk_shouqing_normal .png</key>
		<dict>
			<key>frame</key>
			<string>{{63,1420},{143,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,56}}</string>
			<key>sourceSize</key>
			<string>{143,56}</string>
		</dict>
		<key>btn_czhd_yueka_lijihuode_wenzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,1123},{89,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,26}}</string>
			<key>sourceSize</key>
			<string>{89,26}</string>
		</dict>
		<key>btn_czhd_yueka_mianfei_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,804},{168,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,49}}</string>
			<key>sourceSize</key>
			<string>{168,49}</string>
		</dict>
		<key>btn_czhd_yueka_mianfei_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,634},{168,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,49}}</string>
			<key>sourceSize</key>
			<string>{168,49}</string>
		</dict>
		<key>btn_czzl_jsjjzl_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1283},{231,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{231,59}}</string>
			<key>sourceSize</key>
			<string>{231,59}</string>
		</dict>
		<key>btn_czzl_jsjjzl_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1050},{231,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{231,59}}</string>
			<key>sourceSize</key>
			<string>{231,59}</string>
		</dict>
		<key>btn_czzl_rwlb_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,1367},{154,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,51}}</string>
			<key>sourceSize</key>
			<string>{154,51}</string>
		</dict>
		<key>btn_czzl_rwlb_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,974},{154,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,51}}</string>
			<key>sourceSize</key>
			<string>{154,51}</string>
		</dict>
		<key>btn_ljcz_lingqu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,804},{168,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,49}}</string>
			<key>sourceSize</key>
			<string>{168,49}</string>
		</dict>
		<key>btn_ljcz_lingqu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,634},{168,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,49}}</string>
			<key>sourceSize</key>
			<string>{168,49}</string>
		</dict>
		<key>btn_ljcz_qianwang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,804},{168,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,49}}</string>
			<key>sourceSize</key>
			<string>{168,49}</string>
		</dict>
		<key>btn_ljcz_qianwang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,634},{168,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,49}}</string>
			<key>sourceSize</key>
			<string>{168,49}</string>
		</dict>
		<key>btn_szgz_ecqr_queren_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,211},{168,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,49}}</string>
			<key>sourceSize</key>
			<string>{168,49}</string>
		</dict>
		<key>btn_szgz_ecqr_queren_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,415},{168,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{168,49}}</string>
			<key>sourceSize</key>
			<string>{168,49}</string>
		</dict>
		<key>pic_czhd_chaozhilibao_yishouqin.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,381},{128,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,45}}</string>
			<key>sourceSize</key>
			<string>{128,45}</string>
		</dict>
		<key>pic_czhd_czlb_yuan_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,1307},{24,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,23}}</string>
			<key>sourceSize</key>
			<string>{24,23}</string>
		</dict>
		<key>pic_czhd_tqk_biaoti_wenzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,2},{411,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{411,76}}</string>
			<key>sourceSize</key>
			<string>{411,76}</string>
		</dict>
		<key>pic_czhd_tqk_dabiaoti .png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{617,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{617,54}}</string>
			<key>sourceSize</key>
			<string>{617,54}</string>
		</dict>
		<key>pic_czhd_tqk_goumai_wenzi .png</key>
		<dict>
			<key>frame</key>
			<string>{{218,973},{51,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,25}}</string>
			<key>sourceSize</key>
			<string>{51,25}</string>
		</dict>
		<key>pic_czhd_tqk_qian1_wenzi .png</key>
		<dict>
			<key>frame</key>
			<string>{{216,1333},{23,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,23}}</string>
			<key>sourceSize</key>
			<string>{23,23}</string>
		</dict>
		<key>pic_czhd_tqk_qian1_wenzi.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,1333},{23,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,23}}</string>
			<key>sourceSize</key>
			<string>{23,23}</string>
		</dict>
		<key>pic_czhd_yhxp_yuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,764},{18,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{18,19}}</string>
			<key>sourceSize</key>
			<string>{20,21}</string>
		</dict>
		<key>pic_czhd_yueka_cjqflk.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,425},{186,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,1},{186,23}}</string>
			<key>sourceSize</key>
			<string>{214,25}</string>
		</dict>
		<key>pic_czhd_yueka_gdjflk.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,425},{188,23}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,1},{188,23}}</string>
			<key>sourceSize</key>
			<string>{214,25}</string>
		</dict>
		<key>pic_czhd_yueka_mfflk.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,1027},{94,23}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{62,1},{94,23}}</string>
			<key>sourceSize</key>
			<string>{214,25}</string>
		</dict>
		<key>pic_czhd_yueka_shengxiaozhong.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,211},{211,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,33}}</string>
			<key>sourceSize</key>
			<string>{211,33}</string>
		</dict>
		<key>pic_czhd_yueka_tuijian.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,792},{96,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,29}}</string>
			<key>sourceSize</key>
			<string>{96,29}</string>
		</dict>
		<key>pic_czhd_yueka_wnspflk.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,211},{212,23}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{212,23}}</string>
			<key>sourceSize</key>
			<string>{214,25}</string>
		</dict>
		<key>pic_czhd_yueka_wqndflk.png</key>
		<dict>
			<key>frame</key>
			<string>{{109,415},{186,23}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,1},{186,23}}</string>
			<key>sourceSize</key>
			<string>{214,25}</string>
		</dict>
		<key>pic_czhd_yueka_ybtzflk.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,424},{188,23}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,1},{188,23}}</string>
			<key>sourceSize</key>
			<string>{214,25}</string>
		</dict>
		<key>pic_czhd_zjm_biaoqian_ylq.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,1530},{99,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,57}}</string>
			<key>sourceSize</key>
			<string>{99,57}</string>
		</dict>
		<key>pic_czhd_zjm_biaoti_jrfl.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,1608},{118,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,29}}</string>
			<key>sourceSize</key>
			<string>{118,29}</string>
		</dict>
		<key>pic_czzl_rwlb_btz.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,621},{427,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{427,58}}</string>
			<key>sourceSize</key>
			<string>{427,58}</string>
		</dict>
		<key>pic_czzl_zi_jczl.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,1589},{24,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,81}}</string>
			<key>sourceSize</key>
			<string>{24,81}</string>
		</dict>
		<key>pic_czzl_zi_jjzl.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,890},{24,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,81}}</string>
			<key>sourceSize</key>
			<string>{24,81}</string>
		</dict>
		<key>pic_ljcz_chongzhi.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,1420},{73,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,28}}</string>
			<key>sourceSize</key>
			<string>{73,28}</string>
		</dict>
		<key>pic_ljcz_daojishi.png</key>
		<dict>
			<key>frame</key>
			<string>{{235,634},{128,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,19}}</string>
			<key>sourceSize</key>
			<string>{128,19}</string>
		</dict>
		<key>pic_ljcz_haixuchongzhi.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,585},{37,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,18}}</string>
			<key>sourceSize</key>
			<string>{37,18}</string>
		</dict>
		<key>pic_ljcz_jikelingqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,1214},{91,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,20}}</string>
			<key>sourceSize</key>
			<string>{91,20}</string>
		</dict>
		<key>pic_ljcz_leiji.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,2},{207,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,106}}</string>
			<key>sourceSize</key>
			<string>{207,106}</string>
		</dict>
		<key>pic_ljcz_qinglingqujiangli.png</key>
		<dict>
			<key>frame</key>
			<string>{{215,634},{156,18}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,2},{156,18}}</string>
			<key>sourceSize</key>
			<string>{192,20}</string>
		</dict>
		<key>pic_ljcz_yilingqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{63,1478},{131,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,50}}</string>
			<key>sourceSize</key>
			<string>{131,50}</string>
		</dict>
		<key>pic_szgz_sdxqtc_yiyongyou.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,1530},{98,76}}</string>
			<key>offset</key>
			<string>{1,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{98,76}}</string>
			<key>sourceSize</key>
			<string>{100,84}</string>
		</dict>
		<key>word_hd_szlb_fangyubaifenbi.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,1615},{64,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{64,21}}</string>
			<key>sourceSize</key>
			<string>{64,23}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_NewRecharge0.png</string>
		<key>size</key>
		<string>{256,1639}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_NewRecharge0.png</string>
	</dict>
</dict>
</plist>
