<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>pic_kfz_qhzb_gongyong_zi_baqiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,708},{195,33}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,4},{195,33}}</string>
			<key>sourceSize</key>
			<string>{235,39}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_zi_guanjunsai.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,179},{142,37}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{22,2},{142,37}}</string>
			<key>sourceSize</key>
			<string>{184,39}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_zi_kaisai.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,905},{186,43}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{186,43}}</string>
			<key>sourceSize</key>
			<string>{190,43}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_zi_taotaisai.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,494},{212,33}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,5},{212,33}}</string>
			<key>sourceSize</key>
			<string>{226,39}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_zi_xiazhu.png</key>
		<dict>
			<key>frame</key>
			<string>{{54,1277},{104,41}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,2},{104,41}}</string>
			<key>sourceSize</key>
			<string>{118,45}</string>
		</dict>
		<key>pic_kfz_qhzb_gongyong_zi_zhenrongxiangqing.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,2},{175,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,1},{175,37}}</string>
			<key>sourceSize</key>
			<string>{189,39}</string>
		</dict>
		<key>pic_kfz_qhzb_main_xuweiyidai.png</key>
		<dict>
			<key>frame</key>
			<string>{{27,323},{138,74}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,4},{138,74}}</string>
			<key>sourceSize</key>
			<string>{148,80}</string>
		</dict>
		<key>pic_kfz_qhzb_wdsc_zi_jifen.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,811},{39,21}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,5},{39,21}}</string>
			<key>sourceSize</key>
			<string>{85,27}</string>
		</dict>
		<key>pic_kfz_qhzb_wdsc_zi_paihang_jifen.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,811},{39,21}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,7},{39,21}}</string>
			<key>sourceSize</key>
			<string>{53,31}</string>
		</dict>
		<key>pic_kfz_qhzb_wdsc_zi_paihang_lscc.png</key>
		<dict>
			<key>frame</key>
			<string>{{77,991},{97,25}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{97,25}}</string>
			<key>sourceSize</key>
			<string>{105,31}</string>
		</dict>
		<key>pic_kfz_qhzb_wdsc_zi_paihang_paiming.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,1426},{93,23}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,7},{93,23}}</string>
			<key>sourceSize</key>
			<string>{97,31}</string>
		</dict>
		<key>pic_kfz_qhzb_wdsc_zi_paihang_qufu.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,672},{58,23}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,5},{58,23}}</string>
			<key>sourceSize</key>
			<string>{86,31}</string>
		</dict>
		<key>pic_kfz_qhzb_wdsc_zi_paihang_shetuan.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,732},{77,23}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,5},{77,23}}</string>
			<key>sourceSize</key>
			<string>{79,31}</string>
		</dict>
		<key>pic_kfz_qhzb_wdsc_zi_paihang_slc.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,1756},{79,23}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{13,6},{79,23}}</string>
			<key>sourceSize</key>
			<string>{105,31}</string>
		</dict>
		<key>pic_kfz_qhzb_wdsc_zi_paihang_weishangbang.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,564},{106,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{21,5},{106,31}}</string>
			<key>sourceSize</key>
			<string>{148,41}</string>
		</dict>
		<key>pic_kfz_qhzb_wdsc_zi_paihang_wjxx.png</key>
		<dict>
			<key>frame</key>
			<string>{{37,607},{132,25}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,4},{132,25}}</string>
			<key>sourceSize</key>
			<string>{138,31}</string>
		</dict>
		<key>pic_kfz_qhzb_wdsc_zi_paihang_zslcc.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,323},{100,23}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,6},{100,23}}</string>
			<key>sourceSize</key>
			<string>{130,31}</string>
		</dict>
		<key>pic_kfz_qhzb_wdsc_zi_taotaisai.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,1448},{119,25}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,8},{119,25}}</string>
			<key>sourceSize</key>
			<string>{119,37}</string>
		</dict>
		<key>pic_kfz_qhzb_wdsc_zi_xuanyan.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,1495},{55,25}}</string>
			<key>offset</key>
			<string>{-13,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{55,25}}</string>
			<key>sourceSize</key>
			<string>{85,27}</string>
		</dict>
		<key>pic_kfz_qhzb_wdsc_zi_zdl_wjxx.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1772},{71,25}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,4},{71,25}}</string>
			<key>sourceSize</key>
			<string>{81,31}</string>
		</dict>
		<key>pic_kfz_qhzb_wdsc_zi_zhankuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,1432},{61,25}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{12,2},{61,25}}</string>
			<key>sourceSize</key>
			<string>{85,27}</string>
		</dict>
		<key>pic_kfz_qhzb_wdsc_zi_zongshenglv.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,1208},{51,23}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,3},{51,23}}</string>
			<key>sourceSize</key>
			<string>{85,27}</string>
		</dict>
		<key>pic_kfz_qhzb_zi_13_zuori.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,857},{110,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{70,0},{110,31}}</string>
			<key>sourceSize</key>
			<string>{250,31}</string>
		</dict>
		<key>pic_kfz_qhzb_zi_16qiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,2},{225,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{225,28}}</string>
			<key>sourceSize</key>
			<string>{225,30}</string>
		</dict>
		<key>pic_kfz_qhzb_zi_1_diyilun.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,991},{99,28}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,7},{99,28}}</string>
			<key>sourceSize</key>
			<string>{107,38}</string>
		</dict>
		<key>pic_kfz_qhzb_zi_2_dierlun.png</key>
		<dict>
			<key>frame</key>
			<string>{{88,1552},{103,28}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,7},{103,28}}</string>
			<key>sourceSize</key>
			<string>{109,38}</string>
		</dict>
		<key>pic_kfz_qhzb_zi_32qiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,2},{227,28}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,1},{227,28}}</string>
			<key>sourceSize</key>
			<string>{233,30}</string>
		</dict>
		<key>pic_kfz_qhzb_zi_3_disanlun.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,1277},{104,28}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,7},{104,28}}</string>
			<key>sourceSize</key>
			<string>{106,38}</string>
		</dict>
		<key>pic_kfz_qhzb_zi_4_baqiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,1657},{94,28}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,7},{94,28}}</string>
			<key>sourceSize</key>
			<string>{104,38}</string>
		</dict>
		<key>pic_kfz_qhzb_zi_5_banjuesai.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,1758},{85,28}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,7},{85,28}}</string>
			<key>sourceSize</key>
			<string>{93,38}</string>
		</dict>
		<key>pic_kfz_qhzb_zi_6_juesai.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,231},{57,28}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,7},{57,28}}</string>
			<key>sourceSize</key>
			<string>{93,38}</string>
		</dict>
		<key>pic_kfz_qhzb_zi_7_houbu.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,1383},{47,24}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{24,8},{47,24}}</string>
			<key>sourceSize</key>
			<string>{93,38}</string>
		</dict>
		<key>pic_kfz_qhzb_zi_8_siqiangsai.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,1758},{85,28}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,7},{85,28}}</string>
			<key>sourceSize</key>
			<string>{93,38}</string>
		</dict>
		<key>pic_kfz_qhzb_zi_8qiang.png</key>
		<dict>
			<key>frame</key>
			<string>{{79,1090},{110,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{110,30}}</string>
			<key>sourceSize</key>
			<string>{118,30}</string>
		</dict>
		<key>pic_kfz_qhzb_zi_gerenpaihang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,1603},{153,27}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,13},{153,27}}</string>
			<key>sourceSize</key>
			<string>{159,47}</string>
		</dict>
		<key>pic_kfz_qhzb_zi_gerenpaihang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1448},{153,45}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{153,45}}</string>
			<key>sourceSize</key>
			<string>{159,47}</string>
		</dict>
		<key>pic_kfz_qhzb_zi_shetuanpaihang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1603},{167,25}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,12},{167,25}}</string>
			<key>sourceSize</key>
			<string>{177,47}</string>
		</dict>
		<key>pic_kfz_qhzb_zi_shetuanpaihang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1093},{185,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,1},{185,45}}</string>
			<key>sourceSize</key>
			<string>{195,47}</string>
		</dict>
		<key>pic_kfz_qhzb_zi_title_4qiangsai.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,1569},{109,28}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{109,28}}</string>
			<key>sourceSize</key>
			<string>{113,30}</string>
		</dict>
		<key>pic_kfz_qhzb_zi_title_banjuesai.png</key>
		<dict>
			<key>frame</key>
			<string>{{59,229},{82,28}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,1},{82,28}}</string>
			<key>sourceSize</key>
			<string>{92,30}</string>
		</dict>
		<key>pic_kfz_qhzb_zi_title_juesai.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,1680},{74,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,30}}</string>
			<key>sourceSize</key>
			<string>{74,30}</string>
		</dict>
		<key>pic_kfz_qhzb_zi_wodesaicheng_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,1092},{114,28}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,15},{114,28}}</string>
			<key>sourceSize</key>
			<string>{144,54}</string>
		</dict>
		<key>pic_kfz_qhzb_zi_wodesaicheng_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{37,463},{142,50}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,3},{142,50}}</string>
			<key>sourceSize</key>
			<string>{144,54}</string>
		</dict>
		<key>pic_kfz_qhzb_zi_zhusaichang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,734},{121,28}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,13},{121,28}}</string>
			<key>sourceSize</key>
			<string>{123,52}</string>
		</dict>
		<key>pic_kfz_qhzb_zi_zhusaichang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1280},{166,50}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{166,50}}</string>
			<key>sourceSize</key>
			<string>{170,52}</string>
		</dict>
		<key>pic_kuafuzhengba_paiming.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,872},{117,33}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,2},{117,33}}</string>
			<key>sourceSize</key>
			<string>{137,37}</string>
		</dict>
		<key>pic_kuafuzhengba_paiming_64.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,463},{99,37}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,0},{99,37}}</string>
			<key>sourceSize</key>
			<string>{137,37}</string>
		</dict>
		<key>pic_kuafuzhengba_ziji.png</key>
		<dict>
			<key>frame</key>
			<string>{{54,1383},{46,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,41}}</string>
			<key>sourceSize</key>
			<string>{46,41}</string>
		</dict>
		<key>pic_qhzb_kfz_xiazhu_zi_putong.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,1202},{73,36}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{73,36}}</string>
			<key>sourceSize</key>
			<string>{79,38}</string>
		</dict>
		<key>pic_qhzb_kfz_xiazhu_zi_weixiazhu.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,249},{243,23}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{243,23}}</string>
			<key>sourceSize</key>
			<string>{249,33}</string>
		</dict>
		<key>pic_qhzb_kfz_xiazhu_zi_yixiazhu.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{245,25}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,6},{245,25}}</string>
			<key>sourceSize</key>
			<string>{249,33}</string>
		</dict>
		<key>pic_shangjiehuigu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,607},{125,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{125,28}}</string>
			<key>sourceSize</key>
			<string>{129,28}</string>
		</dict>
		<key>pic_shangjiehuigu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{37,741},{129,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,28}}</string>
			<key>sourceSize</key>
			<string>{129,28}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_ISTheKingOfFighters10.png</string>
		<key>size</key>
		<string>{128,1845}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_ISTheKingOfFighters10.png</string>
	</dict>
</dict>
</plist>
