<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_tjlb_bangzhu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1469,159},{38,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,35}}</string>
			<key>sourceSize</key>
			<string>{38,35}</string>
		</dict>
		<key>btn_tjlb_bangzhu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1469,122},{38,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,35}}</string>
			<key>sourceSize</key>
			<string>{38,35}</string>
		</dict>
		<key>btn_tjlb_goumai_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1193,346},{156,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,67}}</string>
			<key>sourceSize</key>
			<string>{156,67}</string>
		</dict>
		<key>btn_tjlb_goumai_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1035,346},{156,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,67}}</string>
			<key>sourceSize</key>
			<string>{156,67}</string>
		</dict>
		<key>btn_tjlb_guanbi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1410,346},{58,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,57}}</string>
			<key>sourceSize</key>
			<string>{58,57}</string>
		</dict>
		<key>btn_tjlb_guanbi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1351,346},{58,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,57}}</string>
			<key>sourceSize</key>
			<string>{58,57}</string>
		</dict>
		<key>pic_czlb_zkbg.png</key>
		<dict>
			<key>frame</key>
			<string>{{980,346},{70,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,53}}</string>
			<key>sourceSize</key>
			<string>{70,53}</string>
		</dict>
		<key>pic_tjlb_dadi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{903,422}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{903,422}}</string>
			<key>sourceSize</key>
			<string>{903,422}</string>
		</dict>
		<key>pic_tjlb_goumaixianzhi_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{1437,2},{118,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{118,82}}</string>
			<key>sourceSize</key>
			<string>{118,82}</string>
		</dict>
		<key>pic_tjlb_tanchuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{907,2},{528,342}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{528,342}}</string>
			<key>sourceSize</key>
			<string>{528,342}</string>
		</dict>
		<key>pic_tjlb_yinying.png</key>
		<dict>
			<key>frame</key>
			<string>{{907,346},{71,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,71}}</string>
			<key>sourceSize</key>
			<string>{71,71}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ConditionGift0.png</string>
		<key>size</key>
		<string>{1521,426}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ConditionGift0.png</string>
	</dict>
</dict>
</plist>
