<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>MAXMUM_baoqixinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,473},{81,25}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{81,25}}</string>
			<key>sourceSize</key>
			<string>{85,31}</string>
		</dict>
		<key>bbkk_baoqixinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,2},{143,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,133}}</string>
			<key>sourceSize</key>
			<string>{143,133}</string>
		</dict>
		<key>bdd_baoqixinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,304},{10,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,9}}</string>
			<key>sourceSize</key>
			<string>{10,9}</string>
		</dict>
		<key>bisha_bishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,500},{205,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,111}}</string>
			<key>sourceSize</key>
			<string>{205,111}</string>
		</dict>
		<key>bishawenzi_baoqixinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,975},{59,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,2},{59,28}}</string>
			<key>sourceSize</key>
			<string>{65,32}</string>
		</dict>
		<key>bqta_baoqixinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,311},{20,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,9}}</string>
			<key>sourceSize</key>
			<string>{20,9}</string>
		</dict>
		<key>dou01_baoqixinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,351},{5,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,9}}</string>
			<key>sourceSize</key>
			<string>{5,9}</string>
		</dict>
		<key>dou02_baoqixinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,333},{9,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,9}}</string>
			<key>sourceSize</key>
			<string>{9,9}</string>
		</dict>
		<key>dou03_baoqixinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,344},{5,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,9}}</string>
			<key>sourceSize</key>
			<string>{5,9}</string>
		</dict>
		<key>fight_baoqixinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1005},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>huodh_baoqixinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,353},{119,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,60}}</string>
			<key>sourceSize</key>
			<string>{119,60}</string>
		</dict>
		<key>huodi_bishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,311},{154,356}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,7},{154,356}}</string>
			<key>sourceSize</key>
			<string>{156,366}</string>
		</dict>
		<key>huoguang_bishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,706},{154,267}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,267}}</string>
			<key>sourceSize</key>
			<string>{154,267}</string>
		</dict>
		<key>jiantouxiao_bishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{397,680},{86,90}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,5},{86,90}}</string>
			<key>sourceSize</key>
			<string>{94,102}</string>
		</dict>
		<key>jiantouxiaoguang_bishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,680},{86,90}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,5},{86,90}}</string>
			<key>sourceSize</key>
			<string>{94,102}</string>
		</dict>
		<key>jiaoo_baoqixinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,281},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>kpgg_baoqixinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,415},{114,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{114,56}}</string>
			<key>sourceSize</key>
			<string>{114,56}</string>
		</dict>
		<key>kuang_baoqixinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,147},{132,133}}</string>
			<key>offset</key>
			<string>{-2,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{132,133}}</string>
			<key>sourceSize</key>
			<string>{138,139}</string>
		</dict>
		<key>lei01_bishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,771},{67,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,66}}</string>
			<key>sourceSize</key>
			<string>{67,66}</string>
		</dict>
		<key>lei02_bishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,706},{62,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,49}}</string>
			<key>sourceSize</key>
			<string>{62,49}</string>
		</dict>
		<key>lei03_bishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,467},{31,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,43}}</string>
			<key>sourceSize</key>
			<string>{31,43}</string>
		</dict>
		<key>lei04_bishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{239,757},{48,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,60}}</string>
			<key>sourceSize</key>
			<string>{48,60}</string>
		</dict>
		<key>lvdou_baoqixinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,293},{10,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{10,9}}</string>
			<key>sourceSize</key>
			<string>{18,17}</string>
		</dict>
		<key>mask_baoqixinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,408},{90,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,16}}</string>
			<key>sourceSize</key>
			<string>{90,16}</string>
		</dict>
		<key>nuqi2_baoqixinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,315},{91,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,9}}</string>
			<key>sourceSize</key>
			<string>{91,9}</string>
		</dict>
		<key>textmask_baoqixinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{433,473},{56,22}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,22}}</string>
			<key>sourceSize</key>
			<string>{58,22}</string>
		</dict>
		<key>wy_2_2_45268_bishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,613},{201,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,65}}</string>
			<key>sourceSize</key>
			<string>{201,65}</string>
		</dict>
		<key>wy_4_4_49547_bishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,467},{237,301}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{237,301}}</string>
			<key>sourceSize</key>
			<string>{237,301}</string>
		</dict>
		<key>wy_5_5_68841_bishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,281},{122,70}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,70}}</string>
			<key>sourceSize</key>
			<string>{122,72}</string>
		</dict>
		<key>wy_6_6_75661_bishaimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{307,372}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{307,372}}</string>
			<key>sourceSize</key>
			<string>{307,372}</string>
		</dict>
		<key>zig_baoqixinimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,706},{79,63}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{79,63}}</string>
			<key>sourceSize</key>
			<string>{85,65}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>jinengfxgroup.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>jinengfxgroup.png</string>
	</dict>
</dict>
</plist>
