<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hms_pugonfly_shouji_00060_hongshoujibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{876,491},{154,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,139}}</string>
			<key>sourceSize</key>
			<string>{154,139}</string>
		</dict>
		<key>hms_pugonfly_shouji_00061_hongshoujibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{652,635},{197,197}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,197}}</string>
			<key>sourceSize</key>
			<string>{197,197}</string>
		</dict>
		<key>hms_pugonfly_shouji_00062_hongshoujibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{675,224},{211,199}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{211,199}}</string>
			<key>sourceSize</key>
			<string>{211,199}</string>
		</dict>
		<key>hms_pugonfly_shouji_00063_hongshoujibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,431},{222,202}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,202}}</string>
			<key>sourceSize</key>
			<string>{222,202}</string>
		</dict>
		<key>hms_pugonfly_shouji_00064_hongshoujibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,459},{229,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{229,207}}</string>
			<key>sourceSize</key>
			<string>{229,207}</string>
		</dict>
		<key>hms_pugonfly_shouji_00065_hongshoujibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,224},{229,205}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{229,205}}</string>
			<key>sourceSize</key>
			<string>{229,205}</string>
		</dict>
		<key>hms_pugonfly_shouji_00066_hongshoujibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,635},{221,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{221,207}}</string>
			<key>sourceSize</key>
			<string>{223,207}</string>
		</dict>
		<key>hms_pugonfly_shouji_00067_hongshoujibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,700},{224,214}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,214}}</string>
			<key>sourceSize</key>
			<string>{224,214}</string>
		</dict>
		<key>hms_pugonfly_shouji_00068_hongshoujibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{484,2},{230,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{230,220}}</string>
			<key>sourceSize</key>
			<string>{230,220}</string>
		</dict>
		<key>hms_pugonfly_shouji_00069_hongshoujibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,232},{236,225}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,225}}</string>
			<key>sourceSize</key>
			<string>{236,225}</string>
		</dict>
		<key>hms_pugonfly_shouji_00070_hongshoujibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{239,228}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{239,228}}</string>
			<key>sourceSize</key>
			<string>{239,228}</string>
		</dict>
		<key>hms_pugonfly_shouji_00071_hongshoujibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,459},{239,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{239,216}}</string>
			<key>sourceSize</key>
			<string>{239,216}</string>
		</dict>
		<key>hms_pugonfly_shouji_00072_hongshoujibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,2},{239,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{239,216}}</string>
			<key>sourceSize</key>
			<string>{239,216}</string>
		</dict>
		<key>hms_pugonfly_shouji_00073_hongshoujibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,2},{231,207}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{231,207}}</string>
			<key>sourceSize</key>
			<string>{231,209}</string>
		</dict>
		<key>hms_pugonfly_shouji_00074_hongshoujibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,232},{225,202}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{225,202}}</string>
			<key>sourceSize</key>
			<string>{225,202}</string>
		</dict>
		<key>hms_pugonfly_shouji_00075_hongshoujibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{668,437},{206,189}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,189}}</string>
			<key>sourceSize</key>
			<string>{208,189}</string>
		</dict>
		<key>hms_pugonfly_shouji_00076_hongshoujibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,844},{178,168}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,168}}</string>
			<key>sourceSize</key>
			<string>{178,168}</string>
		</dict>
		<key>hms_pugonfly_shouji_00077_hongshoujibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{701,834},{162,162}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{162,162}}</string>
			<key>sourceSize</key>
			<string>{164,164}</string>
		</dict>
		<key>hms_pugonfly_shouji_00078_hongshoujibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,844},{162,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,163}}</string>
			<key>sourceSize</key>
			<string>{162,163}</string>
		</dict>
		<key>hms_pugonfly_shouji_00079_hongshoujibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{552,844},{147,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{147,164}}</string>
			<key>sourceSize</key>
			<string>{149,164}</string>
		</dict>
		<key>hms_pugonfly_shouji_00080_hongshoujibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{876,326},{144,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,163}}</string>
			<key>sourceSize</key>
			<string>{144,163}</string>
		</dict>
		<key>hms_pugonfly_shouji_00081_hongshoujibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,690},{131,152}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{131,152}}</string>
			<key>sourceSize</key>
			<string>{133,154}</string>
		</dict>
		<key>hms_pugonfly_shouji_00082_hongshoujibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{851,647},{121,152}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,152}}</string>
			<key>sourceSize</key>
			<string>{123,152}</string>
		</dict>
		<key>hms_pugonfly_shouji_00083_hongshoujibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{865,801},{119,151}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{119,151}}</string>
			<key>sourceSize</key>
			<string>{121,153}</string>
		</dict>
		<key>hms_pugonfly_shouji_00084_hongshoujibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{876,211},{113,146}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{113,146}}</string>
			<key>sourceSize</key>
			<string>{113,148}</string>
		</dict>
		<key>hms_pugonfly_shouji_00085_hongshoujibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,926},{91,103}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,2},{91,103}}</string>
			<key>sourceSize</key>
			<string>{93,105}</string>
		</dict>
		<key>hms_pugonfly_shouji_00086_hongshoujibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,926},{89,95}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{89,95}}</string>
			<key>sourceSize</key>
			<string>{89,97}</string>
		</dict>
		<key>hms_pugonfly_shouji_00087_hongshoujibaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,690},{58,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,53}}</string>
			<key>sourceSize</key>
			<string>{58,53}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>hongshoujibaoimage.png</string>
		<key>scale</key>
		<real>0.78</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>hongshoujibaoimage.png</string>
	</dict>
</dict>
</plist>
