<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bsjyjs_ldjqzjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,194},{245,39}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{245,39}}</string>
			<key>sourceSize</key>
			<string>{247,39}</string>
		</dict>
		<key>bszbz_ldjqzjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,382},{185,39}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{185,39}}</string>
			<key>sourceSize</key>
			<string>{187,39}</string>
		</dict>
		<key>caihong_ldjqzjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,382},{57,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,27}}</string>
			<key>sourceSize</key>
			<string>{57,27}</string>
		</dict>
		<key>jiantou_ldjqzjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{278,423},{28,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,27}}</string>
			<key>sourceSize</key>
			<string>{28,27}</string>
		</dict>
		<key>jrwss_ldjqzjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{43,194},{234,38}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{234,38}}</string>
			<key>sourceSize</key>
			<string>{236,38}</string>
		</dict>
		<key>mask1_ldjqzjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{83,194},{186,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,38}}</string>
			<key>sourceSize</key>
			<string>{186,38}</string>
		</dict>
		<key>mask2_ldjqzjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,441},{94,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,66}}</string>
			<key>sourceSize</key>
			<string>{94,66}</string>
		</dict>
		<key>mask3_ldjqzjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,441},{178,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,45}}</string>
			<key>sourceSize</key>
			<string>{178,45}</string>
		</dict>
		<key>xing_ldjqzjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{338,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{338,190}}</string>
			<key>sourceSize</key>
			<string>{338,190}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>ldjqzjmimage.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>ldjqzjmimage.png</string>
	</dict>
</dict>
</plist>
