<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask01_jbsjsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{828,434},{97,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,97}}</string>
			<key>sourceSize</key>
			<string>{97,97}</string>
		</dict>
		<key>wy_13_13_99888_jbsjsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,508},{441,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{441,95}}</string>
			<key>sourceSize</key>
			<string>{441,95}</string>
		</dict>
		<key>wy_14_14_83789_jbsjsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,508},{420,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{420,95}}</string>
			<key>sourceSize</key>
			<string>{420,95}</string>
		</dict>
		<key>wy_15_15_7839_jbsjsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,110},{834,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{834,106}}</string>
			<key>sourceSize</key>
			<string>{834,106}</string>
		</dict>
		<key>wy_2_2_26166_jbsjsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{972,2},{120,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,50}}</string>
			<key>sourceSize</key>
			<string>{120,50}</string>
		</dict>
		<key>wy_32_32_2363_jbsjsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{834,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{834,106}}</string>
			<key>sourceSize</key>
			<string>{834,106}</string>
		</dict>
		<key>wy_34_34_76824_jbsjsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,405},{824,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{824,101}}</string>
			<key>sourceSize</key>
			<string>{824,101}</string>
		</dict>
		<key>wy_36_36_19726_jbsjsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,217},{215,131}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,131}}</string>
			<key>sourceSize</key>
			<string>{215,131}</string>
		</dict>
		<key>wy_3_3_75456_jbsjsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,2},{213,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,132}}</string>
			<key>sourceSize</key>
			<string>{213,132}</string>
		</dict>
		<key>wy_4_4_64153_jbsjsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,508},{396,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{396,79}}</string>
			<key>sourceSize</key>
			<string>{396,79}</string>
		</dict>
		<key>wy_5_5_28977_jbsjsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{99,930},{407,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{407,79}}</string>
			<key>sourceSize</key>
			<string>{407,79}</string>
		</dict>
		<key>wy_8_8_79433_jbsjsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,218},{824,185}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{824,185}}</string>
			<key>sourceSize</key>
			<string>{824,185}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>jbsjsimage.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>jbsjsimage.png</string>
	</dict>
</dict>
</plist>
