<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_sy_ptbs_gongji1_hongshou_00000_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,604},{215,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,110}}</string>
			<key>sourceSize</key>
			<string>{215,110}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_hongshou_00002_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,498},{215,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{215,112}}</string>
			<key>sourceSize</key>
			<string>{215,112}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_hongshou_00004_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{910,303},{217,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{217,112}}</string>
			<key>sourceSize</key>
			<string>{217,112}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_hongshou_00006_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,489},{218,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,113}}</string>
			<key>sourceSize</key>
			<string>{218,113}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_hongshou_00008_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,366},{220,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,113}}</string>
			<key>sourceSize</key>
			<string>{220,113}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_hongshou_00010_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,247},{223,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{223,113}}</string>
			<key>sourceSize</key>
			<string>{223,113}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_hongshou_00012_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,123},{226,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,115}}</string>
			<key>sourceSize</key>
			<string>{226,115}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_hongshou_00014_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,125},{227,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{227,116}}</string>
			<key>sourceSize</key>
			<string>{227,116}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_hongshou_00016_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{695,2},{229,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{229,119}}</string>
			<key>sourceSize</key>
			<string>{229,119}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_hongshou_00018_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,2},{229,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{229,119}}</string>
			<key>sourceSize</key>
			<string>{229,119}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_hongshou_00020_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{229,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{229,121}}</string>
			<key>sourceSize</key>
			<string>{229,121}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_hongshou_00022_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,123},{228,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{228,122}}</string>
			<key>sourceSize</key>
			<string>{228,122}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_hongshou_00024_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,243},{226,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,124}}</string>
			<key>sourceSize</key>
			<string>{226,124}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_hongshou_00026_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{691,123},{224,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{224,124}}</string>
			<key>sourceSize</key>
			<string>{224,124}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_hongshou_00028_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{230,362},{222,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{222,125}}</string>
			<key>sourceSize</key>
			<string>{222,125}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_hongshou_00030_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{688,249},{220,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,127}}</string>
			<key>sourceSize</key>
			<string>{220,127}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_hongshou_00032_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,369},{220,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,127}}</string>
			<key>sourceSize</key>
			<string>{220,127}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_hongshou_00034_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{676,378},{219,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{219,127}}</string>
			<key>sourceSize</key>
			<string>{219,127}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_hongshou_00036_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,481},{218,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{218,127}}</string>
			<key>sourceSize</key>
			<string>{218,127}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_hongshou_00038_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,240},{223,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{223,124}}</string>
			<key>sourceSize</key>
			<string>{223,124}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_hongshou_00040_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,2},{229,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{229,119}}</string>
			<key>sourceSize</key>
			<string>{229,119}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_lanshou_00000_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,803},{159,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,109}}</string>
			<key>sourceSize</key>
			<string>{159,109}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_lanshou_00002_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,803},{157,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,109}}</string>
			<key>sourceSize</key>
			<string>{157,109}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_lanshou_00004_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{512,800},{154,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,109}}</string>
			<key>sourceSize</key>
			<string>{154,109}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_lanshou_00006_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{623,798},{151,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,110}}</string>
			<key>sourceSize</key>
			<string>{151,110}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_lanshou_00008_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{735,831},{143,111}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{143,111}}</string>
			<key>sourceSize</key>
			<string>{147,111}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_lanshou_00010_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{880,888},{142,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,112}}</string>
			<key>sourceSize</key>
			<string>{142,112}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_lanshou_00012_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{908,659},{134,113}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{134,113}}</string>
			<key>sourceSize</key>
			<string>{136,113}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_lanshou_00014_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{908,522},{135,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,114}}</string>
			<key>sourceSize</key>
			<string>{135,114}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_lanshou_00016_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{791,624},{115,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,115}}</string>
			<key>sourceSize</key>
			<string>{115,115}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_lanshou_00018_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{436,610},{102,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,115}}</string>
			<key>sourceSize</key>
			<string>{102,115}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_lanshou_00020_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{553,610},{98,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,116}}</string>
			<key>sourceSize</key>
			<string>{98,116}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_lanshou_00022_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{926,2},{95,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,116}}</string>
			<key>sourceSize</key>
			<string>{95,116}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_lanshou_00024_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{898,795},{91,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,116}}</string>
			<key>sourceSize</key>
			<string>{91,116}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_lanshou_00026_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{779,741},{88,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,117}}</string>
			<key>sourceSize</key>
			<string>{88,117}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_lanshou_00028_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,716},{85,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,118}}</string>
			<key>sourceSize</key>
			<string>{85,118}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_lanshou_00030_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{539,714},{82,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,118}}</string>
			<key>sourceSize</key>
			<string>{82,118}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_lanshou_00032_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,716},{82,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,118}}</string>
			<key>sourceSize</key>
			<string>{82,118}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_lanshou_00034_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{659,710},{81,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,118}}</string>
			<key>sourceSize</key>
			<string>{81,118}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_lanshou_00036_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{671,624},{80,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,118}}</string>
			<key>sourceSize</key>
			<string>{80,118}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_lanshou_00038_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,716},{85,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,116}}</string>
			<key>sourceSize</key>
			<string>{85,116}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_lanshou_00040_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{779,507},{127,115}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,115}}</string>
			<key>sourceSize</key>
			<string>{127,115}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_lanshou_00042_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{926,120},{181,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,94}}</string>
			<key>sourceSize</key>
			<string>{181,94}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_lanshou_00044_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,803},{177,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,94}}</string>
			<key>sourceSize</key>
			<string>{177,94}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_lanshou_00046_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,804},{177,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,94}}</string>
			<key>sourceSize</key>
			<string>{177,94}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_lanshou_00048_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,804},{177,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,94}}</string>
			<key>sourceSize</key>
			<string>{177,94}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_lanshou_00050_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,708},{177,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,94}}</string>
			<key>sourceSize</key>
			<string>{177,94}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_lanshou_00052_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,612},{177,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,94}}</string>
			<key>sourceSize</key>
			<string>{177,94}</string>
		</dict>
		<key>New_sy_ptbs_gongji1_lanshou_00054_syssbytsimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{674,507},{74,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,88}}</string>
			<key>sourceSize</key>
			<string>{74,88}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>syssbytsimage.png</string>
		<key>scale</key>
		<real>0.6</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>syssbytsimage.png</string>
	</dict>
</dict>
</plist>
