<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>suoer_biansehngliumen_bo_00000_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{539,2},{129,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,179}}</string>
			<key>sourceSize</key>
			<string>{129,179}</string>
		</dict>
		<key>suoer_biansehngliumen_bo_00001_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,192},{133,184}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,184}}</string>
			<key>sourceSize</key>
			<string>{133,184}</string>
		</dict>
		<key>suoer_biansehngliumen_bo_00002_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,383},{134,185}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,185}}</string>
			<key>sourceSize</key>
			<string>{134,185}</string>
		</dict>
		<key>suoer_biansehngliumen_bo_00003_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{236,2},{125,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,188}}</string>
			<key>sourceSize</key>
			<string>{125,188}</string>
		</dict>
		<key>suoer_biansehngliumen_bo_00004_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{169,193},{126,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,188}}</string>
			<key>sourceSize</key>
			<string>{126,188}</string>
		</dict>
		<key>suoer_biansehngliumen_bo_00005_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,378},{125,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,180}}</string>
			<key>sourceSize</key>
			<string>{125,180}</string>
		</dict>
		<key>suoer_biansehngliumen_bo_00006_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,560},{122,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,178}}</string>
			<key>sourceSize</key>
			<string>{122,178}</string>
		</dict>
		<key>suoer_biansehngliumen_bo_00007_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,187},{123,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,180}}</string>
			<key>sourceSize</key>
			<string>{123,180}</string>
		</dict>
		<key>suoer_biansehngliumen_bo_00008_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,753},{125,181}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,181}}</string>
			<key>sourceSize</key>
			<string>{125,181}</string>
		</dict>
		<key>suoer_biansehngliumen_bo_00009_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{557,183},{130,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,175}}</string>
			<key>sourceSize</key>
			<string>{130,175}</string>
		</dict>
		<key>suoer_biansehngliumen_bo_00010_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{535,369},{131,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,175}}</string>
			<key>sourceSize</key>
			<string>{131,175}</string>
		</dict>
		<key>suoer_biansehngliumen_bo_00011_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{574,717},{130,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{130,167}}</string>
			<key>sourceSize</key>
			<string>{130,167}</string>
		</dict>
		<key>suoer_biansehngliumen_bodi_00000_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{69,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,198}}</string>
			<key>sourceSize</key>
			<string>{69,198}</string>
		</dict>
		<key>suoer_biansehngliumen_daoguang_00000_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,936},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,83}}</string>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>suoer_biansehngliumen_daoguang_00001_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,936},{78,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,83}}</string>
			<key>sourceSize</key>
			<string>{78,83}</string>
		</dict>
		<key>suoer_biansehngliumen_daoguang_00002_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,938},{76,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,84}}</string>
			<key>sourceSize</key>
			<string>{76,84}</string>
		</dict>
		<key>suoer_biansehngliumen_daoguang_00003_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{862,406},{73,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,81}}</string>
			<key>sourceSize</key>
			<string>{73,81}</string>
		</dict>
		<key>suoer_biansehngliumen_daoguang_00004_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,740},{170,135}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,135}}</string>
			<key>sourceSize</key>
			<string>{170,135}</string>
		</dict>
		<key>suoer_biansehngliumen_daoguang_00005_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{706,709},{160,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,103}}</string>
			<key>sourceSize</key>
			<string>{160,103}</string>
		</dict>
		<key>suoer_biansehngliumen_daoguang_00006_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{753,871},{151,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,94}}</string>
			<key>sourceSize</key>
			<string>{151,94}</string>
		</dict>
		<key>suoer_biansehngliumen_wuqi_00000_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{886,341},{35,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,31}}</string>
			<key>sourceSize</key>
			<string>{35,31}</string>
		</dict>
		<key>suoer_biansehngliumen_wuqi_00001_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{886,341},{35,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,31}}</string>
			<key>sourceSize</key>
			<string>{35,31}</string>
		</dict>
		<key>suoer_biansehngliumen_wuqi_00002_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{713,871},{36,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,35}}</string>
			<key>sourceSize</key>
			<string>{36,35}</string>
		</dict>
		<key>suoer_biansehngliumen_wuqi_00003_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,570},{181,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,154}}</string>
			<key>sourceSize</key>
			<string>{181,154}</string>
		</dict>
		<key>suoer_biansehngliumen_wuqi_00004_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,2},{189,161}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,161}}</string>
			<key>sourceSize</key>
			<string>{189,161}</string>
		</dict>
		<key>suoer_biansehngliumen_wuqi_00005_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,202},{189,165}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,165}}</string>
			<key>sourceSize</key>
			<string>{189,165}</string>
		</dict>
		<key>suoer_biansehngliumen_wuqi_00006_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,393},{188,170}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,170}}</string>
			<key>sourceSize</key>
			<string>{188,170}</string>
		</dict>
		<key>suoer_biansehngliumen_wuqi_00007_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,583},{185,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,171}}</string>
			<key>sourceSize</key>
			<string>{185,171}</string>
		</dict>
		<key>suoer_biansehngliumen_wuqi_00008_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,2},{183,174}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,174}}</string>
			<key>sourceSize</key>
			<string>{183,174}</string>
		</dict>
		<key>suoer_biansehngliumen_wuqi_00009_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{668,360},{120,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{120,74}}</string>
			<key>sourceSize</key>
			<string>{120,74}</string>
		</dict>
		<key>suoer_biansehngliumen_wuqi_00010_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,229},{59,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,70}}</string>
			<key>sourceSize</key>
			<string>{59,70}</string>
		</dict>
		<key>suoer_biansehngliumen_wuqi_00011_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,157},{59,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,70}}</string>
			<key>sourceSize</key>
			<string>{59,70}</string>
		</dict>
		<key>suoer_biansehngliumen_wuqi_00012_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{849,282},{57,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,70}}</string>
			<key>sourceSize</key>
			<string>{57,70}</string>
		</dict>
		<key>suoer_biansehngliumen_wuqi_00013_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{814,481},{58,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,70}}</string>
			<key>sourceSize</key>
			<string>{58,70}</string>
		</dict>
		<key>suoer_biansehngliumen_wuqi_00014_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{197,954},{59,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,71}}</string>
			<key>sourceSize</key>
			<string>{59,71}</string>
		</dict>
		<key>suoer_biansehngliumen_wuqi_00015_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{741,482},{58,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,71}}</string>
			<key>sourceSize</key>
			<string>{58,71}</string>
		</dict>
		<key>suoer_biansehngliumen_wuqi_00016_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{668,482},{58,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,71}}</string>
			<key>sourceSize</key>
			<string>{58,71}</string>
		</dict>
		<key>suoer_biansehngliumen_wuqi_00017_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,301},{58,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,71}}</string>
			<key>sourceSize</key>
			<string>{58,71}</string>
		</dict>
		<key>suoer_biansehngpugong_baodian_00000_suobianpuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,754},{182,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,82}}</string>
			<key>sourceSize</key>
			<string>{182,82}</string>
		</dict>
		<key>suoer_biansehngpugong_baodian_00001_suobianpuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,570},{182,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,82}}</string>
			<key>sourceSize</key>
			<string>{182,82}</string>
		</dict>
		<key>suoer_biansehngpugong_baodian_00002_suobianpuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,770},{182,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,110}}</string>
			<key>sourceSize</key>
			<string>{182,110}</string>
		</dict>
		<key>suoer_biansehngpugong_baodian_00003_suobianpuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,770},{182,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{182,110}}</string>
			<key>sourceSize</key>
			<string>{182,110}</string>
		</dict>
		<key>suoer_biansehngpugong_baodian_00004_suobianpuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{633,546},{161,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,111}}</string>
			<key>sourceSize</key>
			<string>{161,111}</string>
		</dict>
		<key>suoer_biansehngpugong_baodian_00005_suobianpuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{590,911},{161,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,111}}</string>
			<key>sourceSize</key>
			<string>{161,111}</string>
		</dict>
		<key>suoer_biansehngpugong_baodian_00006_suobianpuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,374},{105,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,73}}</string>
			<key>sourceSize</key>
			<string>{105,73}</string>
		</dict>
		<key>suoer_biansehngpugong_baodian_00007_suobianpuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,954},{72,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,66}}</string>
			<key>sourceSize</key>
			<string>{72,66}</string>
		</dict>
		<key>suoer_biansehngpugong_baodian_00008_suobianpuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{945,406},{73,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,69}}</string>
			<key>sourceSize</key>
			<string>{73,69}</string>
		</dict>
		<key>suoer_biansehngpugong_baodian_00009_suobianpuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,954},{72,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,62}}</string>
			<key>sourceSize</key>
			<string>{72,62}</string>
		</dict>
		<key>suoer_biansehngpugong_baodian_00010_suobianpuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{689,179},{72,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,49}}</string>
			<key>sourceSize</key>
			<string>{72,49}</string>
		</dict>
		<key>suoer_biansehngpugong_baodian_00011_suobianpuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{689,253},{73,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,48}}</string>
			<key>sourceSize</key>
			<string>{73,48}</string>
		</dict>
		<key>suoer_biansehngpugong_baodian_00012_suobianpuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{689,253},{73,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,48}}</string>
			<key>sourceSize</key>
			<string>{73,48}</string>
		</dict>
		<key>suoer_biansehngpugong_baodian_00013_suobianpuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,954},{67,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,45}}</string>
			<key>sourceSize</key>
			<string>{67,45}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00000_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,936},{84,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,34}}</string>
			<key>sourceSize</key>
			<string>{84,34}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00001_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{348,936},{86,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,34}}</string>
			<key>sourceSize</key>
			<string>{86,34}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00002_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{718,119},{88,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,36}}</string>
			<key>sourceSize</key>
			<string>{88,36}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00003_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{718,81},{90,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,36}}</string>
			<key>sourceSize</key>
			<string>{90,36}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00004_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{718,43},{91,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,36}}</string>
			<key>sourceSize</key>
			<string>{91,36}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00005_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{811,43},{93,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,36}}</string>
			<key>sourceSize</key>
			<string>{93,36}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00006_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{945,477},{93,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,38}}</string>
			<key>sourceSize</key>
			<string>{93,38}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00007_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{921,324},{96,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,38}}</string>
			<key>sourceSize</key>
			<string>{96,38}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00008_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,138},{97,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,38}}</string>
			<key>sourceSize</key>
			<string>{97,38}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00009_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{921,282},{99,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,40}}</string>
			<key>sourceSize</key>
			<string>{99,40}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00010_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,2},{101,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,39}}</string>
			<key>sourceSize</key>
			<string>{101,39}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00011_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{919,364},{103,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,40}}</string>
			<key>sourceSize</key>
			<string>{103,40}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00012_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{807,237},{105,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,40}}</string>
			<key>sourceSize</key>
			<string>{105,40}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00013_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{819,344},{107,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,41}}</string>
			<key>sourceSize</key>
			<string>{107,41}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00014_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,541},{107,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,41}}</string>
			<key>sourceSize</key>
			<string>{107,41}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00015_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{790,542},{107,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,42}}</string>
			<key>sourceSize</key>
			<string>{107,42}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00016_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,651},{107,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,42}}</string>
			<key>sourceSize</key>
			<string>{107,42}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00017_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,542},{107,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,42}}</string>
			<key>sourceSize</key>
			<string>{107,42}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00018_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{545,912},{109,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,43}}</string>
			<key>sourceSize</key>
			<string>{109,43}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00019_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,912},{110,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,43}}</string>
			<key>sourceSize</key>
			<string>{110,43}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00020_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{849,236},{143,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,44}}</string>
			<key>sourceSize</key>
			<string>{143,44}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00021_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{849,190},{149,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,44}}</string>
			<key>sourceSize</key>
			<string>{149,44}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00022_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{849,97},{151,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,45}}</string>
			<key>sourceSize</key>
			<string>{151,45}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00023_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{849,50},{153,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,45}}</string>
			<key>sourceSize</key>
			<string>{153,45}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00024_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{849,2},{158,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,46}}</string>
			<key>sourceSize</key>
			<string>{158,46}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00025_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{586,546},{162,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,45}}</string>
			<key>sourceSize</key>
			<string>{162,45}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00026_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{539,546},{169,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,45}}</string>
			<key>sourceSize</key>
			<string>{169,45}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00027_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{670,2},{175,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{175,46}}</string>
			<key>sourceSize</key>
			<string>{175,46}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00028_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,369},{177,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,48}}</string>
			<key>sourceSize</key>
			<string>{177,48}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00029_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{487,369},{176,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,46}}</string>
			<key>sourceSize</key>
			<string>{176,46}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00030_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{849,144},{149,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,44}}</string>
			<key>sourceSize</key>
			<string>{149,44}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00031_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{574,886},{137,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,23}}</string>
			<key>sourceSize</key>
			<string>{137,23}</string>
		</dict>
		<key>suoer_bianshengliumentiankong_00032_suobianliuteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{73,193},{8,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,6}}</string>
			<key>sourceSize</key>
			<string>{8,6}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA4444</string>
		<key>realTextureFileName</key>
		<string>suoerbianshen1group.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>suoerbianshen1group.png</string>
	</dict>
</dict>
</plist>
