<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bth_cndqq_quxiao_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,151},{22,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,22}}</string>
			<key>sourceSize</key>
			<string>{22,22}</string>
		</dict>
		<key>bth_cndqq_quxiao_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,151},{22,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,22}}</string>
			<key>sourceSize</key>
			<string>{22,22}</string>
		</dict>
		<key>pic_cndqq_bg_zhujiemian_jindutiao_zhegai.png</key>
		<dict>
			<key>frame</key>
			<string>{{481,134},{19,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,79}}</string>
			<key>sourceSize</key>
			<string>{19,79}</string>
		</dict>
		<key>pic_cndqq_biaoti_huodongshijian.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{584,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{584,35}}</string>
			<key>sourceSize</key>
			<string>{584,35}</string>
		</dict>
		<key>pic_cndqq_daojutai.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,2},{318,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{318,20}}</string>
			<key>sourceSize</key>
			<string>{318,20}</string>
		</dict>
		<key>pic_cndqq_duihaodi.png</key>
		<dict>
			<key>frame</key>
			<string>{{562,134},{24,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,24}}</string>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>pic_cndqq_jindudi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,81},{236,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{236,16}}</string>
			<key>sourceSize</key>
			<string>{236,16}</string>
		</dict>
		<key>pic_cndqq_jindutiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,39},{232,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232,12}}</string>
			<key>sourceSize</key>
			<string>{232,12}</string>
		</dict>
		<key>pic_cndqq_jindutiao_qian.png</key>
		<dict>
			<key>frame</key>
			<string>{{890,24},{12,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,25}}</string>
			<key>sourceSize</key>
			<string>{12,25}</string>
		</dict>
		<key>pic_cndqq_jindutiao_xiushidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,39},{335,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{335,40}}</string>
			<key>sourceSize</key>
			<string>{335,40}</string>
		</dict>
		<key>pic_cndqq_jindutiao_xiushishang.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,93},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>pic_cndqq_jindutiaoxiushi.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,162},{10,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,25}}</string>
			<key>sourceSize</key>
			<string>{10,25}</string>
		</dict>
		<key>pic_cndqq_kuang_cheng.png</key>
		<dict>
			<key>frame</key>
			<string>{{890,83},{85,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,79}}</string>
			<key>sourceSize</key>
			<string>{85,79}</string>
		</dict>
		<key>pic_cndqq_kuang_hong.png</key>
		<dict>
			<key>frame</key>
			<string>{{908,2},{85,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,79}}</string>
			<key>sourceSize</key>
			<string>{85,79}</string>
		</dict>
		<key>pic_cndqq_kuang_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,53},{85,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,79}}</string>
			<key>sourceSize</key>
			<string>{85,79}</string>
		</dict>
		<key>pic_cndqq_kuang_lv.png</key>
		<dict>
			<key>frame</key>
			<string>{{803,24},{85,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,79}}</string>
			<key>sourceSize</key>
			<string>{85,79}</string>
		</dict>
		<key>pic_cndqq_kuang_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,24},{85,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,79}}</string>
			<key>sourceSize</key>
			<string>{85,79}</string>
		</dict>
		<key>pic_cndqq_leijidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{995,2},{89,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{89,12}}</string>
			<key>sourceSize</key>
			<string>{89,12}</string>
		</dict>
		<key>pic_cndqq_qiqiu_cheng.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,107},{56,79}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,8},{56,79}}</string>
			<key>sourceSize</key>
			<string>{76,97}</string>
		</dict>
		<key>pic_cndqq_qiqiu_hong.png</key>
		<dict>
			<key>frame</key>
			<string>{{799,105},{58,81}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,7},{58,81}}</string>
			<key>sourceSize</key>
			<string>{76,97}</string>
		</dict>
		<key>pic_cndqq_qiqiu_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,105},{58,81}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,7},{58,81}}</string>
			<key>sourceSize</key>
			<string>{76,97}</string>
		</dict>
		<key>pic_cndqq_qiqiu_lv.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,107},{56,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,10},{56,77}}</string>
			<key>sourceSize</key>
			<string>{76,97}</string>
		</dict>
		<key>pic_cndqq_qiqiu_zi.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,81},{60,79}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,9},{60,79}}</string>
			<key>sourceSize</key>
			<string>{76,97}</string>
		</dict>
		<key>pic_cndqq_tanchuangdi_9g.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,24},{126,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,125}}</string>
			<key>sourceSize</key>
			<string>{126,125}</string>
		</dict>
		<key>pic_cndqq_xiushi0.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,99},{74,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,77}}</string>
			<key>sourceSize</key>
			<string>{74,77}</string>
		</dict>
		<key>pic_cndqq_xiushi1.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,53},{52,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,151}}</string>
			<key>sourceSize</key>
			<string>{52,151}</string>
		</dict>
		<key>pic_cndqq_xiushi2.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,99},{63,176}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,176}}</string>
			<key>sourceSize</key>
			<string>{63,176}</string>
		</dict>
		<key>pic_cndqq_xiushisheng.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,164},{9,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,98}}</string>
			<key>sourceSize</key>
			<string>{9,98}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>palloncino0.png</string>
		<key>size</key>
		<string>{1009,175}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>palloncino0.png</string>
	</dict>
</dict>
</plist>
