<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_dlls_ptbs_texie_00010.png</key>
		<dict>
			<key>frame</key>
			<string>{{858,796},{187,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,164}}</string>
			<key>sourceSize</key>
			<string>{187,164}</string>
		</dict>
		<key>New_sy_lmbs_huangsebo_00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,560},{102,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,101}}</string>
			<key>sourceSize</key>
			<string>{102,101}</string>
		</dict>
		<key>New_sy_ptbs2_baobo_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{976,774},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>New_xvdz_putonggongji_zhuaqu_00022.png</key>
		<dict>
			<key>frame</key>
			<string>{{561,381},{414,414}}</string>
			<key>offset</key>
			<string>{9,9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{79,88},{414,414}}</string>
			<key>sourceSize</key>
			<string>{554,572}</string>
		</dict>
		<key>New_ysl_xjn_daoguangbaodian_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{978,2},{229,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{229,43}}</string>
			<key>sourceSize</key>
			<string>{229,43}</string>
		</dict>
		<key>New_ysl_xjn_daoguangbaodian_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{978,336},{223,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{223,41}}</string>
			<key>sourceSize</key>
			<string>{223,41}</string>
		</dict>
		<key>New_ysl_xjn_daoguangbaodian_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{976,560},{213,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,39}}</string>
			<key>sourceSize</key>
			<string>{213,39}</string>
		</dict>
		<key>Newsz_sy_lmbs_huangsebo_00029.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,560},{102,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,101}}</string>
			<key>sourceSize</key>
			<string>{102,101}</string>
		</dict>
		<key>Newsz_sy_ptbs2_baobo_00018.png</key>
		<dict>
			<key>frame</key>
			<string>{{976,774},{20,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,20}}</string>
			<key>sourceSize</key>
			<string>{20,20}</string>
		</dict>
		<key>ctj_exMAX_daji_00052.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{975,378}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{975,378}}</string>
			<key>sourceSize</key>
			<string>{975,378}</string>
		</dict>
		<key>sczw_exmax_baoguang1_00006.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,662},{132,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,94}}</string>
			<key>sourceSize</key>
			<string>{132,94}</string>
		</dict>
		<key>ty_baoqi_l4.png</key>
		<dict>
			<key>frame</key>
			<string>{{997,774},{14,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,14}}</string>
			<key>sourceSize</key>
			<string>{14,14}</string>
		</dict>
		<key>ty_baoqi_x4.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,381},{381,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{381,178}}</string>
			<key>sourceSize</key>
			<string>{381,178}</string>
		</dict>
		<key>ty_baoqi_x5.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,796},{400,226}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{400,226}}</string>
			<key>sourceSize</key>
			<string>{400,226}</string>
		</dict>
		<key>ty_baoqi_z0.png</key>
		<dict>
			<key>frame</key>
			<string>{{552,662},{85,3}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,3}}</string>
			<key>sourceSize</key>
			<string>{85,3}</string>
		</dict>
		<key>ty_baoqi_z5.png</key>
		<dict>
			<key>frame</key>
			<string>{{858,984},{154,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{154,36}}</string>
			<key>sourceSize</key>
			<string>{154,36}</string>
		</dict>
		<key>ty_paobu_yan2.png</key>
		<dict>
			<key>frame</key>
			<string>{{978,232},{43,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,51}}</string>
			<key>sourceSize</key>
			<string>{43,51}</string>
		</dict>
		<key>ty_paobu_yan3.png</key>
		<dict>
			<key>frame</key>
			<string>{{978,284},{43,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,51}}</string>
			<key>sourceSize</key>
			<string>{43,51}</string>
		</dict>
		<key>ty_xin_xtxt14.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,560},{461,454}}</string>
			<key>offset</key>
			<string>{-4,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{44,41},{461,454}}</string>
			<key>sourceSize</key>
			<string>{557,530}</string>
		</dict>
		<key>ty_xtxt14.png</key>
		<dict>
			<key>frame</key>
			<string>{{384,381},{176,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{176,178}}</string>
			<key>sourceSize</key>
			<string>{176,178}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>global_spinehero_effect0.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>global_spinehero_effect0.png</string>
	</dict>
</dict>
</plist>
