<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00025.png</key>
		<dict>
			<key>frame</key>
			<string>{{616,697},{321,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{321,138}}</string>
			<key>sourceSize</key>
			<string>{321,138}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00027.png</key>
		<dict>
			<key>frame</key>
			<string>{{456,357},{348,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{348,129}}</string>
			<key>sourceSize</key>
			<string>{348,129}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00028.png</key>
		<dict>
			<key>frame</key>
			<string>{{611,2},{345,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{345,126}}</string>
			<key>sourceSize</key>
			<string>{345,126}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00035.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,706},{316,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{316,137}}</string>
			<key>sourceSize</key>
			<string>{316,137}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00043.png</key>
		<dict>
			<key>frame</key>
			<string>{{473,2},{347,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{347,137}}</string>
			<key>sourceSize</key>
			<string>{347,137}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00056.png</key>
		<dict>
			<key>frame</key>
			<string>{{338,716},{306,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{306,139}}</string>
			<key>sourceSize</key>
			<string>{306,139}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00059.png</key>
		<dict>
			<key>frame</key>
			<string>{{174,716},{306,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{306,163}}</string>
			<key>sourceSize</key>
			<string>{306,163}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00060.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,716},{306,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{306,171}}</string>
			<key>sourceSize</key>
			<string>{306,171}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00065.png</key>
		<dict>
			<key>frame</key>
			<string>{{755,368},{267,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{267,182}}</string>
			<key>sourceSize</key>
			<string>{267,182}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00067.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,2},{282,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{282,182}}</string>
			<key>sourceSize</key>
			<string>{282,182}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00068.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,185},{282,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{282,182}}</string>
			<key>sourceSize</key>
			<string>{282,182}</string>
		</dict>
		<key>New_dzxv_liubenbisha_xuanfeng_00074.png</key>
		<dict>
			<key>frame</key>
			<string>{{755,551},{267,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{267,171}}</string>
			<key>sourceSize</key>
			<string>{267,171}</string>
		</dict>
		<key>New_dzxv_putongbisha_hengti_00011.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,357},{354,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{354,106}}</string>
			<key>sourceSize</key>
			<string>{354,106}</string>
		</dict>
		<key>New_dzxv_putongbisha_hengti_00013.png</key>
		<dict>
			<key>frame</key>
			<string>{{188,2},{355,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{355,96}}</string>
			<key>sourceSize</key>
			<string>{355,96}</string>
		</dict>
		<key>New_dzxv_putongbisha_hengti_00014.png</key>
		<dict>
			<key>frame</key>
			<string>{{586,350},{346,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{346,85}}</string>
			<key>sourceSize</key>
			<string>{346,85}</string>
		</dict>
		<key>New_dzxv_putongbisha_zhuang_00032.png</key>
		<dict>
			<key>frame</key>
			<string>{{755,723},{191,299}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{191,299}}</string>
			<key>sourceSize</key>
			<string>{191,299}</string>
		</dict>
		<key>New_dzxv_putongbisha_zhuang_00038.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,2},{187,354}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{187,354}}</string>
			<key>sourceSize</key>
			<string>{187,354}</string>
		</dict>
		<key>New_dzxv_putongbisha_zhuang_00039.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{185,357}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,357}}</string>
			<key>sourceSize</key>
			<string>{185,357}</string>
		</dict>
		<key>New_xvdz_putonggongji_zhuaqu_00024.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,360},{346,355}}</string>
			<key>offset</key>
			<string>{14,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{93,87},{346,355}}</string>
			<key>sourceSize</key>
			<string>{504,521}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>dongzhangXV_common2.png</string>
		<key>scale</key>
		<real>0.91</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dongzhangXV_common2.png</string>
	</dict>
</dict>
</plist>
