<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>a_erhuan1_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{210,60},{7,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,29}}</string>
			<key>sourceSize</key>
			<string>{7,29}</string>
		</dict>
		<key>a_erhuan2_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{506,49},{3,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{3,15}}</string>
			<key>sourceSize</key>
			<string>{3,15}</string>
		</dict>
		<key>a_kua_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{179,453},{38,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,25}}</string>
			<key>sourceSize</key>
			<string>{38,25}</string>
		</dict>
		<key>a_qunzili1_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,312},{32,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,51}}</string>
			<key>sourceSize</key>
			<string>{32,51}</string>
		</dict>
		<key>a_qunzili5_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,355},{72,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,55}}</string>
			<key>sourceSize</key>
			<string>{72,55}</string>
		</dict>
		<key>a_qunziyou1_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,208},{37,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,80}}</string>
			<key>sourceSize</key>
			<string>{37,80}</string>
		</dict>
		<key>a_qunziyou2_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,163},{40,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,79}}</string>
			<key>sourceSize</key>
			<string>{40,79}</string>
		</dict>
		<key>a_qunziyou4_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,144},{42,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,82}}</string>
			<key>sourceSize</key>
			<string>{42,82}</string>
		</dict>
		<key>a_qunziyou5_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,99},{44,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,82}}</string>
			<key>sourceSize</key>
			<string>{44,82}</string>
		</dict>
		<key>a_qunzizuo1_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,188},{43,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,76}}</string>
			<key>sourceSize</key>
			<string>{43,76}</string>
		</dict>
		<key>a_qunzizuo2_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,198},{42,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,76}}</string>
			<key>sourceSize</key>
			<string>{42,76}</string>
		</dict>
		<key>a_qunzizuo3_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,303},{50,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,76}}</string>
			<key>sourceSize</key>
			<string>{50,76}</string>
		</dict>
		<key>a_qunzizuo5_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,544},{39,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,34}}</string>
			<key>sourceSize</key>
			<string>{39,34}</string>
		</dict>
		<key>a_toux_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,471},{47,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,55}}</string>
			<key>sourceSize</key>
			<string>{47,55}</string>
		</dict>
		<key>a_xiong_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,461},{54,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,60}}</string>
			<key>sourceSize</key>
			<string>{54,60}</string>
		</dict>
		<key>a_yan2x_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,423},{47,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,55}}</string>
			<key>sourceSize</key>
			<string>{47,55}</string>
		</dict>
		<key>a_yan3x_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,422},{47,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,55}}</string>
			<key>sourceSize</key>
			<string>{47,55}</string>
		</dict>
		<key>a_youdabi_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,631},{19,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,32}}</string>
			<key>sourceSize</key>
			<string>{19,32}</string>
		</dict>
		<key>a_youdatui_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,209},{24,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,45}}</string>
			<key>sourceSize</key>
			<string>{24,45}</string>
		</dict>
		<key>a_youjiao_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,652},{20,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,30}}</string>
			<key>sourceSize</key>
			<string>{20,30}</string>
		</dict>
		<key>a_youshou_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,633},{19,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,28}}</string>
			<key>sourceSize</key>
			<string>{19,28}</string>
		</dict>
		<key>a_youxiaobi_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,642},{17,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,32}}</string>
			<key>sourceSize</key>
			<string>{17,32}</string>
		</dict>
		<key>a_youxiaotui_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{491,341},{19,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,43}}</string>
			<key>sourceSize</key>
			<string>{19,43}</string>
		</dict>
		<key>a_zui1x_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,456},{47,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,55}}</string>
			<key>sourceSize</key>
			<string>{47,55}</string>
		</dict>
		<key>a_zuodabi_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{494,207},{15,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,33}}</string>
			<key>sourceSize</key>
			<string>{15,33}</string>
		</dict>
		<key>a_zuodatui_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,523},{30,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,40}}</string>
			<key>sourceSize</key>
			<string>{30,40}</string>
		</dict>
		<key>a_zuojiao_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{145,649},{31,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,26}}</string>
			<key>sourceSize</key>
			<string>{31,26}</string>
		</dict>
		<key>a_zuoshou_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{331,589},{20,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,30}}</string>
			<key>sourceSize</key>
			<string>{20,30}</string>
		</dict>
		<key>a_zuoxiaobi_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,307},{18,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,32}}</string>
			<key>sourceSize</key>
			<string>{18,32}</string>
		</dict>
		<key>a_zuoxiaotui_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,557},{25,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,38}}</string>
			<key>sourceSize</key>
			<string>{25,38}</string>
		</dict>
		<key>b_kua1_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,555},{39,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,32}}</string>
			<key>sourceSize</key>
			<string>{39,32}</string>
		</dict>
		<key>b_qun1_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,158},{78,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,38}}</string>
			<key>sourceSize</key>
			<string>{78,38}</string>
		</dict>
		<key>b_qun2_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,121},{80,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,40}}</string>
			<key>sourceSize</key>
			<string>{80,40}</string>
		</dict>
		<key>b_qun3_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,139},{80,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,28}}</string>
			<key>sourceSize</key>
			<string>{80,28}</string>
		</dict>
		<key>b_qunzi12_12_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{374,252},{50,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,44}}</string>
			<key>sourceSize</key>
			<string>{50,44}</string>
		</dict>
		<key>b_qunzi12_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,49},{84,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,48}}</string>
			<key>sourceSize</key>
			<string>{84,48}</string>
		</dict>
		<key>b_qunzi1_1_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{76,365},{67,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,36}}</string>
			<key>sourceSize</key>
			<string>{67,36}</string>
		</dict>
		<key>b_qunziyou2_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,294},{69,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,68}}</string>
			<key>sourceSize</key>
			<string>{69,68}</string>
		</dict>
		<key>b_qunziyou3_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,76},{80,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,92}}</string>
			<key>sourceSize</key>
			<string>{80,92}</string>
		</dict>
		<key>b_qunziyou4_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,275},{72,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,64}}</string>
			<key>sourceSize</key>
			<string>{72,64}</string>
		</dict>
		<key>b_qunzizuo2_2_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{377,203},{47,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,41}}</string>
			<key>sourceSize</key>
			<string>{47,41}</string>
		</dict>
		<key>b_qunzizuo2_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,480},{34,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,41}}</string>
			<key>sourceSize</key>
			<string>{34,41}</string>
		</dict>
		<key>b_qunzizuo3_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,205},{77,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,68}}</string>
			<key>sourceSize</key>
			<string>{77,68}</string>
		</dict>
		<key>b_qunzizuo4_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,582},{33,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,32}}</string>
			<key>sourceSize</key>
			<string>{33,32}</string>
		</dict>
		<key>b_tou1x_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,421},{51,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,55}}</string>
			<key>sourceSize</key>
			<string>{51,55}</string>
		</dict>
		<key>b_tou2x_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{464,422},{46,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,54}}</string>
			<key>sourceSize</key>
			<string>{46,54}</string>
		</dict>
		<key>b_tou4x_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,478},{52,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,49}}</string>
			<key>sourceSize</key>
			<string>{52,49}</string>
		</dict>
		<key>b_xinog3_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,2},{90,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,45}}</string>
			<key>sourceSize</key>
			<string>{90,45}</string>
		</dict>
		<key>b_xinog4_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{285,364},{55,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,63}}</string>
			<key>sourceSize</key>
			<string>{55,63}</string>
		</dict>
		<key>b_xiong1_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,242},{75,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,59}}</string>
			<key>sourceSize</key>
			<string>{75,59}</string>
		</dict>
		<key>b_xiong2_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,257},{70,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,50}}</string>
			<key>sourceSize</key>
			<string>{70,50}</string>
		</dict>
		<key>b_xiong5_1_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,406},{48,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,63}}</string>
			<key>sourceSize</key>
			<string>{48,63}</string>
		</dict>
		<key>b_xiong5_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{367,304},{51,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,61}}</string>
			<key>sourceSize</key>
			<string>{51,61}</string>
		</dict>
		<key>b_youbi3_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,544},{18,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,31}}</string>
			<key>sourceSize</key>
			<string>{18,31}</string>
		</dict>
		<key>b_youdabi1_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,581},{34,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,31}}</string>
			<key>sourceSize</key>
			<string>{34,31}</string>
		</dict>
		<key>b_youdabi3_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,603},{26,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,32}}</string>
			<key>sourceSize</key>
			<string>{26,32}</string>
		</dict>
		<key>b_youdatui1_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{81,272},{31,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,38}}</string>
			<key>sourceSize</key>
			<string>{31,38}</string>
		</dict>
		<key>b_youjiao2_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{188,338},{25,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,29}}</string>
			<key>sourceSize</key>
			<string>{25,29}</string>
		</dict>
		<key>b_youjiao_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{393,571},{24,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,37}}</string>
			<key>sourceSize</key>
			<string>{24,37}</string>
		</dict>
		<key>b_youshou1_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,121},{26,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,21}}</string>
			<key>sourceSize</key>
			<string>{26,21}</string>
		</dict>
		<key>b_youshou3_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{188,297},{39,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,29}}</string>
			<key>sourceSize</key>
			<string>{39,29}</string>
		</dict>
		<key>b_youshou5_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{271,523},{42,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,19}}</string>
			<key>sourceSize</key>
			<string>{42,19}</string>
		</dict>
		<key>b_youxiaobi1_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,661},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>b_youxiaobi3_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,256},{24,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,39}}</string>
			<key>sourceSize</key>
			<string>{24,39}</string>
		</dict>
		<key>b_youxiaotui1_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{257,580},{35,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,31}}</string>
			<key>sourceSize</key>
			<string>{35,31}</string>
		</dict>
		<key>b_zuodabi1_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,548},{32,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,36}}</string>
			<key>sourceSize</key>
			<string>{32,36}</string>
		</dict>
		<key>b_zuodatui1_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,519},{46,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,23}}</string>
			<key>sourceSize</key>
			<string>{46,23}</string>
		</dict>
		<key>b_zuojiao2_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,609},{27,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,30}}</string>
			<key>sourceSize</key>
			<string>{27,30}</string>
		</dict>
		<key>b_zuojiao_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,576},{25,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,36}}</string>
			<key>sourceSize</key>
			<string>{25,36}</string>
		</dict>
		<key>b_zuoshou3_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,634},{30,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,24}}</string>
			<key>sourceSize</key>
			<string>{30,24}</string>
		</dict>
		<key>b_zuoxiaotui1_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{179,411},{40,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,38}}</string>
			<key>sourceSize</key>
			<string>{40,38}</string>
		</dict>
		<key>c_bei_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,367},{55,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,54}}</string>
			<key>sourceSize</key>
			<string>{55,54}</string>
		</dict>
		<key>c_cunzi2_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,354},{66,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,68}}</string>
			<key>sourceSize</key>
			<string>{66,68}</string>
		</dict>
		<key>c_jiaoyou_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,554},{25,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,36}}</string>
			<key>sourceSize</key>
			<string>{25,36}</string>
		</dict>
		<key>c_jiaozuo_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,546},{37,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,28}}</string>
			<key>sourceSize</key>
			<string>{37,28}</string>
		</dict>
		<key>c_kua_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,365},{44,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,34}}</string>
			<key>sourceSize</key>
			<string>{44,34}</string>
		</dict>
		<key>c_qinzi1_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{110,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,88}}</string>
			<key>sourceSize</key>
			<string>{110,88}</string>
		</dict>
		<key>c_qunziyou_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,130},{80,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,76}}</string>
			<key>sourceSize</key>
			<string>{80,76}</string>
		</dict>
		<key>c_qunzizuo2_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,517},{35,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,46}}</string>
			<key>sourceSize</key>
			<string>{35,46}</string>
		</dict>
		<key>c_qunzizuo_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,569},{40,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,42}}</string>
			<key>sourceSize</key>
			<string>{40,42}</string>
		</dict>
		<key>c_tou_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,529},{48,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,51}}</string>
			<key>sourceSize</key>
			<string>{48,51}</string>
		</dict>
		<key>c_youdabi_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,269},{36,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,18}}</string>
			<key>sourceSize</key>
			<string>{36,18}</string>
		</dict>
		<key>c_youdatui_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,516},{41,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,30}}</string>
			<key>sourceSize</key>
			<string>{41,30}</string>
		</dict>
		<key>c_youshou_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,614},{22,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,33}}</string>
			<key>sourceSize</key>
			<string>{22,33}</string>
		</dict>
		<key>c_youxiaobi_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,386},{34,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,20}}</string>
			<key>sourceSize</key>
			<string>{34,20}</string>
		</dict>
		<key>c_youxioatui_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{146,616},{31,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,32}}</string>
			<key>sourceSize</key>
			<string>{31,32}</string>
		</dict>
		<key>c_zuodabi_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,618},{22,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,32}}</string>
			<key>sourceSize</key>
			<string>{22,32}</string>
		</dict>
		<key>c_zuodatui_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,434},{43,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,27}}</string>
			<key>sourceSize</key>
			<string>{43,27}</string>
		</dict>
		<key>c_zuoshou_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,670},{20,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,24}}</string>
			<key>sourceSize</key>
			<string>{20,24}</string>
		</dict>
		<key>c_zuoxiaobi_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,638},{28,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,17}}</string>
			<key>sourceSize</key>
			<string>{28,17}</string>
		</dict>
		<key>c_zuoxiaotui_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,552},{23,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,42}}</string>
			<key>sourceSize</key>
			<string>{23,42}</string>
		</dict>
		<key>e_qunziyou2_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,207},{48,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,72}}</string>
			<key>sourceSize</key>
			<string>{48,72}</string>
		</dict>
		<key>e_qunziyou_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{297,233},{75,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,59}}</string>
			<key>sourceSize</key>
			<string>{75,59}</string>
		</dict>
		<key>e_qunzizuo2_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,309},{43,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,69}}</string>
			<key>sourceSize</key>
			<string>{43,69}</string>
		</dict>
		<key>e_qunzizuo_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,341},{39,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,67}}</string>
			<key>sourceSize</key>
			<string>{39,67}</string>
		</dict>
		<key>e_xiong_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,462},{55,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,63}}</string>
			<key>sourceSize</key>
			<string>{55,63}</string>
		</dict>
		<key>q_qunli2_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,60},{94,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,59}}</string>
			<key>sourceSize</key>
			<string>{94,59}</string>
		</dict>
		<key>q_qunziyou6_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{320,2},{77,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,98}}</string>
			<key>sourceSize</key>
			<string>{77,98}</string>
		</dict>
		<key>q_qunziyou_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,247},{77,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,54}}</string>
			<key>sourceSize</key>
			<string>{77,54}</string>
		</dict>
		<key>q_qunzizuo5_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,412},{65,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,48}}</string>
			<key>sourceSize</key>
			<string>{65,48}</string>
		</dict>
		<key>q_qunzizuo_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,544},{43,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,23}}</string>
			<key>sourceSize</key>
			<string>{43,23}</string>
		</dict>
		<key>q_toux_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{276,474},{47,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,51}}</string>
			<key>sourceSize</key>
			<string>{47,51}</string>
		</dict>
		<key>q_xiong2_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,303},{47,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,67}}</string>
			<key>sourceSize</key>
			<string>{47,67}</string>
		</dict>
		<key>q_xiong_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,382},{58,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,63}}</string>
			<key>sourceSize</key>
			<string>{58,63}</string>
		</dict>
		<key>q_youdabi_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,589},{17,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,35}}</string>
			<key>sourceSize</key>
			<string>{17,35}</string>
		</dict>
		<key>q_youdatui_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,523},{32,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,35}}</string>
			<key>sourceSize</key>
			<string>{32,35}</string>
		</dict>
		<key>q_youjiao_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,611},{25,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,28}}</string>
			<key>sourceSize</key>
			<string>{25,28}</string>
		</dict>
		<key>q_youshou_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,683},{23,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,20}}</string>
			<key>sourceSize</key>
			<string>{23,20}</string>
		</dict>
		<key>q_youxiaotui_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{84,221},{28,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,49}}</string>
			<key>sourceSize</key>
			<string>{28,49}</string>
		</dict>
		<key>q_youxioabi_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,611},{22,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,18}}</string>
			<key>sourceSize</key>
			<string>{22,18}</string>
		</dict>
		<key>q_zuodatui_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,505},{50,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,39}}</string>
			<key>sourceSize</key>
			<string>{50,39}</string>
		</dict>
		<key>q_zuojiao_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{353,584},{22,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,37}}</string>
			<key>sourceSize</key>
			<string>{22,37}</string>
		</dict>
		<key>q_zuoshou_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,654},{22,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,26}}</string>
			<key>sourceSize</key>
			<string>{22,26}</string>
		</dict>
		<key>q_zuoxiaobi_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,613},{32,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,19}}</string>
			<key>sourceSize</key>
			<string>{32,19}</string>
		</dict>
		<key>q_zuoxiaotui_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,168},{39,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,22}}</string>
			<key>sourceSize</key>
			<string>{39,22}</string>
		</dict>
		<key>s_kua_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,577},{34,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,32}}</string>
			<key>sourceSize</key>
			<string>{34,32}</string>
		</dict>
		<key>s_qunziyou5_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,145},{60,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,81}}</string>
			<key>sourceSize</key>
			<string>{60,81}</string>
		</dict>
		<key>s_qunziyou_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,92},{36,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,81}}</string>
			<key>sourceSize</key>
			<string>{36,81}</string>
		</dict>
		<key>s_qunzizuo_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{397,81},{51,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,21}}</string>
			<key>sourceSize</key>
			<string>{51,21}</string>
		</dict>
		<key>s_tou_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,520},{51,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,49}}</string>
			<key>sourceSize</key>
			<string>{51,49}</string>
		</dict>
		<key>s_toux_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,472},{51,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,49}}</string>
			<key>sourceSize</key>
			<string>{51,49}</string>
		</dict>
		<key>s_xiong_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,81},{61,82}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,82}}</string>
			<key>sourceSize</key>
			<string>{61,82}</string>
		</dict>
		<key>s_youdabi_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,641},{27,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,27}}</string>
			<key>sourceSize</key>
			<string>{27,27}</string>
		</dict>
		<key>s_youshou_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{397,174},{27,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,21}}</string>
			<key>sourceSize</key>
			<string>{27,21}</string>
		</dict>
		<key>s_youxiaobi_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,611},{28,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,20}}</string>
			<key>sourceSize</key>
			<string>{28,20}</string>
		</dict>
		<key>s_zuodabi_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,92},{27,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,45}}</string>
			<key>sourceSize</key>
			<string>{27,45}</string>
		</dict>
		<key>s_zuoshou_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{111,638},{32,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,26}}</string>
			<key>sourceSize</key>
			<string>{32,26}</string>
		</dict>
		<key>s_zuotui2_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,442},{63,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,17}}</string>
			<key>sourceSize</key>
			<string>{63,17}</string>
		</dict>
		<key>s_zuotui_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,2},{103,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,31}}</string>
			<key>sourceSize</key>
			<string>{103,31}</string>
		</dict>
		<key>s_zuoxiaobi_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,608},{34,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,32}}</string>
			<key>sourceSize</key>
			<string>{34,32}</string>
		</dict>
		<key>shou1_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,657},{25,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,24}}</string>
			<key>sourceSize</key>
			<string>{25,24}</string>
		</dict>
		<key>shou3_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{494,242},{25,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,14}}</string>
			<key>sourceSize</key>
			<string>{25,14}</string>
		</dict>
		<key>shou5_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{29,678},{23,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,22}}</string>
			<key>sourceSize</key>
			<string>{23,22}</string>
		</dict>
		<key>shou6_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,666},{25,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,23}}</string>
			<key>sourceSize</key>
			<string>{25,23}</string>
		</dict>
		<key>shou7_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,149},{17,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,21}}</string>
			<key>sourceSize</key>
			<string>{17,21}</string>
		</dict>
		<key>tuiji1_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,2},{29,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,99}}</string>
			<key>sourceSize</key>
			<string>{29,99}</string>
		</dict>
		<key>z_qunziyou_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,33},{41,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,97}}</string>
			<key>sourceSize</key>
			<string>{41,97}</string>
		</dict>
		<key>z_qunzizuo_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{114,35},{23,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,95}}</string>
			<key>sourceSize</key>
			<string>{23,95}</string>
		</dict>
		<key>z_tou2x_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,463},{45,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,53}}</string>
			<key>sourceSize</key>
			<string>{45,53}</string>
		</dict>
		<key>z_xiong_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,352},{52,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,64}}</string>
			<key>sourceSize</key>
			<string>{52,64}</string>
		</dict>
		<key>z_youdabi_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,585},{31,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,32}}</string>
			<key>sourceSize</key>
			<string>{31,32}</string>
		</dict>
		<key>z_youdatui_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,518},{32,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,45}}</string>
			<key>sourceSize</key>
			<string>{32,45}</string>
		</dict>
		<key>z_youjiao_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{82,577},{27,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,30}}</string>
			<key>sourceSize</key>
			<string>{27,30}</string>
		</dict>
		<key>z_youshou_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,666},{23,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,25}}</string>
			<key>sourceSize</key>
			<string>{23,25}</string>
		</dict>
		<key>z_youxiaobi_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,548},{17,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,35}}</string>
			<key>sourceSize</key>
			<string>{17,35}</string>
		</dict>
		<key>z_youxiaotui_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{397,134},{21,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,38}}</string>
			<key>sourceSize</key>
			<string>{21,38}</string>
		</dict>
		<key>z_zuoshou_weisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{299,158},{9,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,18}}</string>
			<key>sourceSize</key>
			<string>{9,18}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA4444</string>
		<key>realTextureFileName</key>
		<string>weisiimage.png</string>
		<key>scale</key>
		<real>0.5</real>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>weisiimage.png</string>
	</dict>
</dict>
</plist>
