<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_znscg_chengjiu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,205},{126,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,44}}</string>
			<key>sourceSize</key>
			<string>{126,44}</string>
		</dict>
		<key>btn_znscg_chengjiu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1011},{126,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,44}}</string>
			<key>sourceSize</key>
			<string>{126,44}</string>
		</dict>
		<key>btn_znscg_lingqu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,547},{101,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,35}}</string>
			<key>sourceSize</key>
			<string>{101,35}</string>
		</dict>
		<key>btn_znscg_lingqu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{219,444},{101,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,35}}</string>
			<key>sourceSize</key>
			<string>{101,35}</string>
		</dict>
		<key>btn_znscg_lingqu_zhihui.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,712},{101,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,35}}</string>
			<key>sourceSize</key>
			<string>{101,35}</string>
		</dict>
		<key>btn_znscg_qianwang_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,712},{101,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,35}}</string>
			<key>sourceSize</key>
			<string>{101,35}</string>
		</dict>
		<key>btn_znscg_qianwang_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,732},{101,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,35}}</string>
			<key>sourceSize</key>
			<string>{101,35}</string>
		</dict>
		<key>btn_znscg_qingdianrenwu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,205},{126,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,44}}</string>
			<key>sourceSize</key>
			<string>{126,44}</string>
		</dict>
		<key>btn_znscg_qingdianrenwu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,883},{126,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,44}}</string>
			<key>sourceSize</key>
			<string>{126,44}</string>
		</dict>
		<key>btn_znscg_renwu_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,2},{126,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,44}}</string>
			<key>sourceSize</key>
			<string>{126,44}</string>
		</dict>
		<key>btn_znscg_renwu_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,883},{126,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,44}}</string>
			<key>sourceSize</key>
			<string>{126,44}</string>
		</dict>
		<key>pic_znscg_cebian_10yue_huang.png</key>
		<dict>
			<key>frame</key>
			<string>{{135,1036},{109,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,3},{109,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_10yue_hui.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,887},{109,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,3},{109,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_10yue_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,983},{109,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,3},{109,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_11yue_huang.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,959},{109,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,3},{109,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_11yue_hui.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,935},{109,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,3},{109,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_11yue_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,911},{109,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,3},{109,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_12yue_huang.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,466},{131,20}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,4},{131,20}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_12yue_hui.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,333},{131,20}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,4},{131,20}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_12yue_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,2},{131,20}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,4},{131,20}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_1yue_huang.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,599},{131,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,3},{131,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_1yue_hui.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,466},{131,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,3},{131,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_1yue_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{161,333},{131,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,3},{131,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_2yue_huang.png</key>
		<dict>
			<key>frame</key>
			<string>{{231,313},{87,22}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,3},{87,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_2yue_hui.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,224},{87,22}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,3},{87,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_2yue_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,135},{87,22}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{29,3},{87,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_3yue_huang.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,466},{131,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,3},{131,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_3yue_hui.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,333},{131,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,3},{131,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_3yue_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,333},{131,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,3},{131,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_4yue_huang.png</key>
		<dict>
			<key>frame</key>
			<string>{{118,887},{109,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,3},{109,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_4yue_hui.png</key>
		<dict>
			<key>frame</key>
			<string>{{94,887},{109,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,3},{109,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_4yue_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,863},{109,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,3},{109,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_5yue_huang.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,650},{87,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{31,3},{87,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_5yue_hui.png</key>
		<dict>
			<key>frame</key>
			<string>{{135,1060},{87,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,3},{87,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_5yue_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,815},{87,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{31,3},{87,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_6yue_huang.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,698},{131,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,3},{131,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_6yue_hui.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,565},{131,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,3},{131,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_6yue_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,432},{131,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,3},{131,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_7yue_huang.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,839},{109,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,3},{109,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_7yue_hui.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,579},{109,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,3},{109,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_7yue_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,333},{109,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,3},{109,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_8yue_huang.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,299},{131,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,3},{131,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_8yue_hui.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,708},{131,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,3},{131,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_8yue_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1057},{131,22}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,3},{131,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_9yue_huang.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,573},{133,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,3},{133,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_9yue_hui.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,438},{133,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,3},{133,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_cebian_9yue_lan.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,303},{133,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,3},{133,22}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>pic_znscg_daohang_biaoti.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,2},{201,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,53}}</string>
			<key>sourceSize</key>
			<string>{201,53}</string>
		</dict>
		<key>pic_znscg_tc_chengjiu.png</key>
		<dict>
			<key>frame</key>
			<string>{{67,2},{295,63}}</string>
			<key>offset</key>
			<string>{-1,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,1},{295,63}}</string>
			<key>sourceSize</key>
			<string>{299,73}</string>
		</dict>
		<key>pic_znscg_tc_chengjiu_weihuode.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,130},{53,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{53,29}}</string>
			<key>sourceSize</key>
			<string>{61,37}</string>
		</dict>
		<key>pic_znscg_tc_guize.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,604},{277,61}}</string>
			<key>offset</key>
			<string>{-2,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,1},{277,61}}</string>
			<key>sourceSize</key>
			<string>{299,73}</string>
		</dict>
		<key>pic_znscg_tc_meirirenwu.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,303},{299,61}}</string>
			<key>offset</key>
			<string>{0,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{299,61}}</string>
			<key>sourceSize</key>
			<string>{299,73}</string>
		</dict>
		<key>pic_znscg_tc_meirirenwu_yeqianmeiri.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,599},{111,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,27}}</string>
			<key>sourceSize</key>
			<string>{111,27}</string>
		</dict>
		<key>pic_znscg_tc_meirirenwu_yeqianmeiyue.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,466},{111,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,27}}</string>
			<key>sourceSize</key>
			<string>{111,27}</string>
		</dict>
		<key>pic_znscg_tc_meirirenwu_yeqianmeizhou.png</key>
		<dict>
			<key>frame</key>
			<string>{{137,599},{111,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,27}}</string>
			<key>sourceSize</key>
			<string>{111,27}</string>
		</dict>
		<key>pic_znscg_tc_qingdianrenwu.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{299,63}}</string>
			<key>offset</key>
			<string>{0,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{299,63}}</string>
			<key>sourceSize</key>
			<string>{299,73}</string>
		</dict>
		<key>pic_znscg_yilingqu.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,1007},{99,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,27}}</string>
			<key>sourceSize</key>
			<string>{99,27}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>lang_CollectionHall0.png</string>
		<key>size</key>
		<string>{256,1084}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lang_CollectionHall0.png</string>
	</dict>
</dict>
</plist>
