<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>caipiao_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,723},{303,303}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{303,303}}</string>
			<key>sourceSize</key>
			<string>{303,303}</string>
		</dict>
		<key>feiting_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{971,185},{93,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,51}}</string>
			<key>sourceSize</key>
			<string>{93,51}</string>
		</dict>
		<key>hailang_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,129},{566,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{566,66}}</string>
			<key>sourceSize</key>
			<string>{566,66}</string>
		</dict>
		<key>huo01_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,1028},{126,218}}</string>
			<key>offset</key>
			<string>{-5,-54}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,108},{126,218}}</string>
			<key>sourceSize</key>
			<string>{136,326}</string>
		</dict>
		<key>huo03_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,396},{118,258}}</string>
			<key>offset</key>
			<string>{-2,-34}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,68},{118,258}}</string>
			<key>sourceSize</key>
			<string>{136,326}</string>
		</dict>
		<key>huo05_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{617,753},{110,286}}</string>
			<key>offset</key>
			<string>{3,-20}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{16,40},{110,286}}</string>
			<key>sourceSize</key>
			<string>{136,326}</string>
		</dict>
		<key>huo07_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{642,371},{116,316}}</string>
			<key>offset</key>
			<string>{9,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,10},{116,316}}</string>
			<key>sourceSize</key>
			<string>{136,326}</string>
		</dict>
		<key>huo09_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,619},{132,304}}</string>
			<key>offset</key>
			<string>{2,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,22},{132,304}}</string>
			<key>sourceSize</key>
			<string>{136,326}</string>
		</dict>
		<key>huo11_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{617,989},{124,266}}</string>
			<key>offset</key>
			<string>{-6,-30}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,60},{124,266}}</string>
			<key>sourceSize</key>
			<string>{136,326}</string>
		</dict>
		<key>huo13_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,396},{118,238}}</string>
			<key>offset</key>
			<string>{1,-44}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,88},{118,238}}</string>
			<key>sourceSize</key>
			<string>{136,326}</string>
		</dict>
		<key>huo15_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{617,865},{122,270}}</string>
			<key>offset</key>
			<string>{7,-28}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,56},{122,270}}</string>
			<key>sourceSize</key>
			<string>{136,326}</string>
		</dict>
		<key>huo17_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{905,841},{114,274}}</string>
			<key>offset</key>
			<string>{5,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,52},{114,274}}</string>
			<key>sourceSize</key>
			<string>{136,326}</string>
		</dict>
		<key>huo19_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{502,457},{134,264}}</string>
			<key>offset</key>
			<string>{-1,-31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,62},{134,264}}</string>
			<key>sourceSize</key>
			<string>{136,326}</string>
		</dict>
		<key>huo21_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,489},{128,310}}</string>
			<key>offset</key>
			<string>{-1,-4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,12},{128,310}}</string>
			<key>sourceSize</key>
			<string>{136,326}</string>
		</dict>
		<key>mask01_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{641,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{641,125}}</string>
			<key>sourceSize</key>
			<string>{641,125}</string>
		</dict>
		<key>mask02_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{687,1115},{88,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,58}}</string>
			<key>sourceSize</key>
			<string>{88,58}</string>
		</dict>
		<key>wy_10_10_25578_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,660},{45,61}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{45,61}}</string>
			<key>sourceSize</key>
			<string>{53,65}</string>
		</dict>
		<key>wy_10_10_56897_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,516},{54,183}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,183}}</string>
			<key>sourceSize</key>
			<string>{54,183}</string>
		</dict>
		<key>wy_10_10_98285_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{905,783},{115,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{115,56}}</string>
			<key>sourceSize</key>
			<string>{115,56}</string>
		</dict>
		<key>wy_11_11_19960_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,660},{45,61}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,1},{45,61}}</string>
			<key>sourceSize</key>
			<string>{53,65}</string>
		</dict>
		<key>wy_11_11_43142_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,517},{1280,308}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1280,308}}</string>
			<key>sourceSize</key>
			<string>{1280,308}</string>
		</dict>
		<key>wy_12_12_3828_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{899,1117},{45,59}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{45,59}}</string>
			<key>sourceSize</key>
			<string>{53,65}</string>
		</dict>
		<key>wy_1_1_26709_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,1799},{99,222}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,222}}</string>
			<key>sourceSize</key>
			<string>{99,222}</string>
		</dict>
		<key>wy_1_1_47581_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,1115},{45,59}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{45,59}}</string>
			<key>sourceSize</key>
			<string>{53,65}</string>
		</dict>
		<key>wy_2_2_13820_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,195},{199,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,70}}</string>
			<key>sourceSize</key>
			<string>{199,70}</string>
		</dict>
		<key>wy_2_2_90537_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1799},{232,271}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232,271}}</string>
			<key>sourceSize</key>
			<string>{232,271}</string>
		</dict>
		<key>wy_2_2_95816_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{645,2},{157,335}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,335}}</string>
			<key>sourceSize</key>
			<string>{157,335}</string>
		</dict>
		<key>wy_2_2_98993_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{777,1115},{45,59}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,1},{45,59}}</string>
			<key>sourceSize</key>
			<string>{53,65}</string>
		</dict>
		<key>wy_3_3_17133_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,1122},{45,59}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{45,59}}</string>
			<key>sourceSize</key>
			<string>{53,65}</string>
		</dict>
		<key>wy_3_3_78541_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,517},{42,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,70}}</string>
			<key>sourceSize</key>
			<string>{42,70}</string>
		</dict>
		<key>wy_3_3_80722_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{502,197},{66,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,90}}</string>
			<key>sourceSize</key>
			<string>{66,90}</string>
		</dict>
		<key>wy_42_42_51607_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{502,396},{135,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{135,59}}</string>
			<key>sourceSize</key>
			<string>{137,59}</string>
		</dict>
		<key>wy_45_45_32834_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,197},{197,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{197,164}}</string>
			<key>sourceSize</key>
			<string>{197,164}</string>
		</dict>
		<key>wy_46_46_55995_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{319,197},{158,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,156}}</string>
			<key>sourceSize</key>
			<string>{158,156}</string>
		</dict>
		<key>wy_4_4_57785_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,1075},{45,59}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{45,59}}</string>
			<key>sourceSize</key>
			<string>{53,65}</string>
		</dict>
		<key>wy_4_4_63535_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{502,289},{64,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,99}}</string>
			<key>sourceSize</key>
			<string>{64,99}</string>
		</dict>
		<key>wy_4_4_66662_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{982,110},{26,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,33}}</string>
			<key>sourceSize</key>
			<string>{26,33}</string>
		</dict>
		<key>wy_4_4_8422_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,129},{71,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,64}}</string>
			<key>sourceSize</key>
			<string>{71,64}</string>
		</dict>
		<key>wy_5_5_19029_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{596,1115},{57,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,89}}</string>
			<key>sourceSize</key>
			<string>{57,89}</string>
		</dict>
		<key>wy_5_5_28932_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,1028},{45,59}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,2},{45,59}}</string>
			<key>sourceSize</key>
			<string>{53,65}</string>
		</dict>
		<key>wy_5_5_4458_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,572},{102,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,86}}</string>
			<key>sourceSize</key>
			<string>{102,86}</string>
		</dict>
		<key>wy_6_6_52763_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{944,736},{45,61}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{45,61}}</string>
			<key>sourceSize</key>
			<string>{53,65}</string>
		</dict>
		<key>wy_6_6_55670_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{944,650},{67,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,84}}</string>
			<key>sourceSize</key>
			<string>{67,84}</string>
		</dict>
		<key>wy_6_6_72179_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{982,88},{20,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,34}}</string>
			<key>sourceSize</key>
			<string>{20,34}</string>
		</dict>
		<key>wy_6_6_72185_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{982,2},{84,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,36}}</string>
			<key>sourceSize</key>
			<string>{84,36}</string>
		</dict>
		<key>wy_7_7_1027_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,572},{84,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,147}}</string>
			<key>sourceSize</key>
			<string>{84,147}</string>
		</dict>
		<key>wy_7_7_33424_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{960,470},{45,61}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,1},{45,61}}</string>
			<key>sourceSize</key>
			<string>{53,65}</string>
		</dict>
		<key>wy_7_7_77073_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,197},{149,197}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,197}}</string>
			<key>sourceSize</key>
			<string>{149,197}</string>
		</dict>
		<key>wy_8_8_77567_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{982,138},{45,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,28}}</string>
			<key>sourceSize</key>
			<string>{45,28}</string>
		</dict>
		<key>wy_8_8_97126_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{960,423},{45,61}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{45,61}}</string>
			<key>sourceSize</key>
			<string>{53,65}</string>
		</dict>
		<key>wy_9_9_55581_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{960,376},{45,61}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{45,61}}</string>
			<key>sourceSize</key>
			<string>{53,65}</string>
		</dict>
		<key>wy_9_9_58144_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,561},{87,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,68}}</string>
			<key>sourceSize</key>
			<string>{87,68}</string>
		</dict>
		<key>xxx_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{971,280},{94,46}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{94,46}}</string>
			<key>sourceSize</key>
			<string>{98,48}</string>
		</dict>
		<key>yy_rflznfcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{643,161},{208,326}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{208,326}}</string>
			<key>sourceSize</key>
			<string>{208,326}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>rflznfcjimage.png</string>
		<key>size</key>
		<string>{1024,2048}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>rflznfcjimage.png</string>
	</dict>
</dict>
</plist>
