<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dabiA_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,404},{24,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,14}}</string>
			<key>sourceSize</key>
			<string>{24,14}</string>
		</dict>
		<key>dabiB_1_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,511},{21,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,13}}</string>
			<key>sourceSize</key>
			<string>{21,13}</string>
		</dict>
		<key>dabiC_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,519},{21,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{21,20}}</string>
			<key>sourceSize</key>
			<string>{21,20}</string>
		</dict>
		<key>dabiD_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,564},{15,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,17}}</string>
			<key>sourceSize</key>
			<string>{15,17}</string>
		</dict>
		<key>denglong1_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,512},{28,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,49}}</string>
			<key>sourceSize</key>
			<string>{28,49}</string>
		</dict>
		<key>denglong2_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,524},{24,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,43}}</string>
			<key>sourceSize</key>
			<string>{24,43}</string>
		</dict>
		<key>hengfu1_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,488},{70,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,25}}</string>
			<key>sourceSize</key>
			<string>{70,25}</string>
		</dict>
		<key>hengfu2_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,344},{112,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,32}}</string>
			<key>sourceSize</key>
			<string>{112,32}</string>
		</dict>
		<key>jiaozi1_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,231},{164,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{164,128}}</string>
			<key>sourceSize</key>
			<string>{164,128}</string>
		</dict>
		<key>jing_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,218},{11,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,130}}</string>
			<key>sourceSize</key>
			<string>{11,130}</string>
		</dict>
		<key>jingzhonglou_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,378},{102,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,99}}</string>
			<key>sourceSize</key>
			<string>{102,99}</string>
		</dict>
		<key>jingzhongyun_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,239},{103,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,118}}</string>
			<key>sourceSize</key>
			<string>{103,118}</string>
		</dict>
		<key>ludeng_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{214,392}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{214,392}}</string>
			<key>sourceSize</key>
			<string>{214,392}</string>
		</dict>
		<key>mask1_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,468},{70,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,54}}</string>
			<key>sourceSize</key>
			<string>{70,54}</string>
		</dict>
		<key>mask2_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{396,2},{235,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{235,112}}</string>
			<key>sourceSize</key>
			<string>{235,112}</string>
		</dict>
		<key>ren1_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,487},{66,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,87}}</string>
			<key>sourceSize</key>
			<string>{66,87}</string>
		</dict>
		<key>ren2_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,443},{43,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,79}}</string>
			<key>sourceSize</key>
			<string>{43,79}</string>
		</dict>
		<key>ren3_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,443},{42,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,93}}</string>
			<key>sourceSize</key>
			<string>{42,93}</string>
		</dict>
		<key>ren4_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,538},{20,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,48}}</string>
			<key>sourceSize</key>
			<string>{20,48}</string>
		</dict>
		<key>ren5_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,515},{25,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,64}}</string>
			<key>sourceSize</key>
			<string>{25,64}</string>
		</dict>
		<key>ren6_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,550},{17,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,38}}</string>
			<key>sourceSize</key>
			<string>{17,38}</string>
		</dict>
		<key>ren7_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,479},{31,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,63}}</string>
			<key>sourceSize</key>
			<string>{31,63}</string>
		</dict>
		<key>ren8_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,534},{19,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,37}}</string>
			<key>sourceSize</key>
			<string>{19,37}</string>
		</dict>
		<key>san_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{178,569},{31,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,34}}</string>
			<key>sourceSize</key>
			<string>{31,34}</string>
		</dict>
		<key>shouC_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{127,542},{15,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,8}}</string>
			<key>sourceSize</key>
			<string>{15,8}</string>
		</dict>
		<key>shoubi1a_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,479},{10,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,58}}</string>
			<key>sourceSize</key>
			<string>{10,58}</string>
		</dict>
		<key>shoubi1b_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,544},{17,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,21}}</string>
			<key>sourceSize</key>
			<string>{17,21}</string>
		</dict>
		<key>shoubi2a_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,430},{14,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,18}}</string>
			<key>sourceSize</key>
			<string>{14,18}</string>
		</dict>
		<key>shoubi2b_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{494,485},{16,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,44}}</string>
			<key>sourceSize</key>
			<string>{16,44}</string>
		</dict>
		<key>shoubi3a_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,474},{11,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,14}}</string>
			<key>sourceSize</key>
			<string>{11,14}</string>
		</dict>
		<key>shoubi3b_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{91,542},{7,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,34}}</string>
			<key>sourceSize</key>
			<string>{7,34}</string>
		</dict>
		<key>shoubi4a_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,440},{7,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,12}}</string>
			<key>sourceSize</key>
			<string>{7,12}</string>
		</dict>
		<key>shoubi4b_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,524},{8,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{8,24}}</string>
			<key>sourceSize</key>
			<string>{8,24}</string>
		</dict>
		<key>taijiao1_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,396},{70,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,71}}</string>
			<key>sourceSize</key>
			<string>{70,71}</string>
		</dict>
		<key>taijiao2_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,344},{178,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,97}}</string>
			<key>sourceSize</key>
			<string>{178,97}</string>
		</dict>
		<key>taijiao3_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,411},{121,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{121,66}}</string>
			<key>sourceSize</key>
			<string>{121,66}</string>
		</dict>
		<key>taijiao4_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{391,479},{101,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,59}}</string>
			<key>sourceSize</key>
			<string>{101,59}</string>
		</dict>
		<key>taijiaozhu_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,344},{75,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,16}}</string>
			<key>sourceSize</key>
			<string>{75,16}</string>
		</dict>
		<key>tiankong_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,397},{12,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,128}}</string>
			<key>sourceSize</key>
			<string>{12,128}</string>
		</dict>
		<key>touA_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,498},{18,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,19}}</string>
			<key>sourceSize</key>
			<string>{18,19}</string>
		</dict>
		<key>touB_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{494,531},{15,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,16}}</string>
			<key>sourceSize</key>
			<string>{15,16}</string>
		</dict>
		<key>touC_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,468},{15,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,14}}</string>
			<key>sourceSize</key>
			<string>{15,14}</string>
		</dict>
		<key>touD_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{214,581},{13,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,15}}</string>
			<key>sourceSize</key>
			<string>{13,15}</string>
		</dict>
		<key>touE_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,450},{14,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,16}}</string>
			<key>sourceSize</key>
			<string>{14,16}</string>
		</dict>
		<key>xiaobiA_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,411},{12,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,27}}</string>
			<key>sourceSize</key>
			<string>{12,27}</string>
		</dict>
		<key>xiaobiB_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,449},{11,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,23}}</string>
			<key>sourceSize</key>
			<string>{11,23}</string>
		</dict>
		<key>xiaobiCC_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,534},{23,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,28}}</string>
			<key>sourceSize</key>
			<string>{23,28}</string>
		</dict>
		<key>xiaobiC_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,488},{13,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,21}}</string>
			<key>sourceSize</key>
			<string>{13,21}</string>
		</dict>
		<key>xiaobiDD_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,512},{10,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,22}}</string>
			<key>sourceSize</key>
			<string>{10,22}</string>
		</dict>
		<key>xiaobiD_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{496,378},{14,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,24}}</string>
			<key>sourceSize</key>
			<string>{14,24}</string>
		</dict>
		<key>yuna_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{248,542},{37,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,22}}</string>
			<key>sourceSize</key>
			<string>{37,22}</string>
		</dict>
		<key>yunb_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,510},{51,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,26}}</string>
			<key>sourceSize</key>
			<string>{51,26}</string>
		</dict>
		<key>yunc_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{315,491},{54,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,17}}</string>
			<key>sourceSize</key>
			<string>{54,17}</string>
		</dict>
		<key>yund_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,362},{73,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,32}}</string>
			<key>sourceSize</key>
			<string>{73,32}</string>
		</dict>
		<key>yunf_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,218},{258,124}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{258,124}}</string>
			<key>sourceSize</key>
			<string>{258,124}</string>
		</dict>
		<key>zhixue1_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{237,564},{16,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,8}}</string>
			<key>sourceSize</key>
			<string>{16,8}</string>
		</dict>
		<key>zhixue2_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,536},{10,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,6}}</string>
			<key>sourceSize</key>
			<string>{10,6}</string>
		</dict>
		<key>zhixue3_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,490},{14,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,6}}</string>
			<key>sourceSize</key>
			<string>{14,6}</string>
		</dict>
		<key>zhixue4_hjzcjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{144,542},{13,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{13,7}}</string>
			<key>sourceSize</key>
			<string>{13,7}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>hjzcjimage.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>hjzcjimage.png</string>
	</dict>
</dict>
</plist>
