<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>btn_xcgdtz_xcgdjj_shuaxin_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1672,276},{58,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,64}}</string>
			<key>sourceSize</key>
			<string>{58,64}</string>
		</dict>
		<key>btn_xcgdtz_xcgdjj_shuaxin_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1612,276},{58,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,64}}</string>
			<key>sourceSize</key>
			<string>{58,64}</string>
		</dict>
		<key>btn_xcyc_jineng_xiaosuo.png</key>
		<dict>
			<key>frame</key>
			<string>{{521,431},{55,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,62}}</string>
			<key>sourceSize</key>
			<string>{55,62}</string>
		</dict>
		<key>btn_xcyc_shengjiyulan_biaotidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,440},{228,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{228,49}}</string>
			<key>sourceSize</key>
			<string>{228,49}</string>
		</dict>
		<key>btn_xczjm_juesechuzu_djsjjl_xiangqing_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{916,298},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,42}}</string>
			<key>sourceSize</key>
			<string>{42,42}</string>
		</dict>
		<key>btn_xczjm_juesechuzu_djsjjl_xiangqing_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1249,298},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,42}}</string>
			<key>sourceSize</key>
			<string>{42,42}</string>
		</dict>
		<key>btn_xczjm_juesechuzu_guanbi_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1881,389},{42,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,41}}</string>
			<key>sourceSize</key>
			<string>{42,41}</string>
		</dict>
		<key>btn_xczjm_juesechuzu_guanbi_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1652,194},{42,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,41}}</string>
			<key>sourceSize</key>
			<string>{42,41}</string>
		</dict>
		<key>btn_xczjm_zhujiemian_dingdaohang_fanhui_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{307,431},{147,43}}</string>
			<key>offset</key>
			<string>{-10,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,43}}</string>
			<key>sourceSize</key>
			<string>{167,43}</string>
		</dict>
		<key>btn_xczjm_zhujiemian_dingdaohang_fanhui_press.png</key>
		<dict>
			<key>frame</key>
			<string>{{1652,45},{147,43}}</string>
			<key>offset</key>
			<string>{-10,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,43}}</string>
			<key>sourceSize</key>
			<string>{167,43}</string>
		</dict>
		<key>pic_xcgd_buzhen_vs_sanjiaodi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1697,163},{157,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{157,111}}</string>
			<key>sourceSize</key>
			<string>{157,111}</string>
		</dict>
		<key>pic_xcgdtz_buzhen_xiaodiban_zhanlixianshou.png</key>
		<dict>
			<key>frame</key>
			<string>{{860,45},{450,251}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{450,251}}</string>
			<key>sourceSize</key>
			<string>{450,251}</string>
		</dict>
		<key>pic_xcgdtz_dtc_diban_aocao_9g.png</key>
		<dict>
			<key>frame</key>
			<string>{{1856,250},{73,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,65}}</string>
			<key>sourceSize</key>
			<string>{73,65}</string>
		</dict>
		<key>pic_xcgdtz_dtc_diban_tiaomudiban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,168},{856,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{856,96}}</string>
			<key>sourceSize</key>
			<string>{856,96}</string>
		</dict>
		<key>pic_xcgdtz_dtc_diban_tiaomudiban_ziji.png</key>
		<dict>
			<key>frame</key>
			<string>{{860,2},{852,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{852,41}}</string>
			<key>sourceSize</key>
			<string>{852,41}</string>
		</dict>
		<key>pic_xcgdtz_dtc_diban_zhanbao_tiaomudiban.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{856,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{856,164}}</string>
			<key>sourceSize</key>
			<string>{856,164}</string>
		</dict>
		<key>pic_xcgdtz_dtc_diban_zhanbao_tiaomudiban_vs.png</key>
		<dict>
			<key>frame</key>
			<string>{{1855,317},{70,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,70}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>pic_xcgdtz_dtc_shuzi_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{232,440},{50,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,57}}</string>
			<key>sourceSize</key>
			<string>{50,57}</string>
		</dict>
		<key>pic_xcgdtz_xcgdjj_1st.png</key>
		<dict>
			<key>frame</key>
			<string>{{1749,328},{112,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,50}}</string>
			<key>sourceSize</key>
			<string>{112,50}</string>
		</dict>
		<key>pic_xcgdtz_xcgdjj_2nd.png</key>
		<dict>
			<key>frame</key>
			<string>{{1732,276},{112,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,50}}</string>
			<key>sourceSize</key>
			<string>{112,50}</string>
		</dict>
		<key>pic_xcgdtz_xcgdjj_bingmo_kadi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1312,45},{202,338}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,338}}</string>
			<key>sourceSize</key>
			<string>{202,338}</string>
		</dict>
		<key>pic_xcgdtz_xcgdjj_shuzi_landi.png</key>
		<dict>
			<key>frame</key>
			<string>{{578,431},{112,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{112,50}}</string>
			<key>sourceSize</key>
			<string>{112,50}</string>
		</dict>
		<key>pic_xcyc_ddh_shuzi_aocao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1832,328},{100,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,21}}</string>
			<key>sourceSize</key>
			<string>{100,21}</string>
		</dict>
		<key>pic_xcyc_jiahao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1749,442},{51,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,51}}</string>
			<key>sourceSize</key>
			<string>{51,51}</string>
		</dict>
		<key>pic_xcyc_jiahao_daoju_kuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1931,275},{67,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,67}}</string>
			<key>sourceSize</key>
			<string>{67,67}</string>
		</dict>
		<key>pic_xcyc_jiantou_zuo.png</key>
		<dict>
			<key>frame</key>
			<string>{{1943,219},{58,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,54}}</string>
			<key>sourceSize</key>
			<string>{58,54}</string>
		</dict>
		<key>pic_xcyc_jineng_dikuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{456,431},{63,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,62}}</string>
			<key>sourceSize</key>
			<string>{63,62}</string>
		</dict>
		<key>pic_xcyc_jineng_xuanzhongkuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1856,163},{85,85}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,85}}</string>
			<key>sourceSize</key>
			<string>{85,85}</string>
		</dict>
		<key>pic_xcyc_jineng_yaan.png</key>
		<dict>
			<key>frame</key>
			<string>{{1927,344},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>pic_xcyc_shengjiyulan_dengji_huawen.png</key>
		<dict>
			<key>frame</key>
			<string>{{1697,45},{91,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,12}}</string>
			<key>sourceSize</key>
			<string>{91,12}</string>
		</dict>
		<key>pic_xcyc_shengjiyulan_xinxi_xiaoshixian.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,431},{303,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{303,7}}</string>
			<key>sourceSize</key>
			<string>{303,7}</string>
		</dict>
		<key>pic_xcyc_shengjiyulan_xinxi_xiaoshixian_shang.png</key>
		<dict>
			<key>frame</key>
			<string>{{961,489},{279,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{279,1}}</string>
			<key>sourceSize</key>
			<string>{279,1}</string>
		</dict>
		<key>pic_xcyc_youcexinxi_jdmb_di.png</key>
		<dict>
			<key>frame</key>
			<string>{{711,298},{203,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,42}}</string>
			<key>sourceSize</key>
			<string>{203,42}</string>
		</dict>
		<key>pic_xcyc_zuocexinxi_fangyu_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1612,249},{27,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,24}}</string>
			<key>sourceSize</key>
			<string>{27,24}</string>
		</dict>
		<key>pic_xcyc_zuocexinxi_gongji_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1984,344},{20,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,22}}</string>
			<key>sourceSize</key>
			<string>{20,22}</string>
		</dict>
		<key>pic_xcyc_zuocexinxi_jianying_shuzi_aocao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1801,328},{97,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,29}}</string>
			<key>sourceSize</key>
			<string>{97,29}</string>
		</dict>
		<key>pic_xcyc_zuocexinxi_miaoshu_aocao.png</key>
		<dict>
			<key>frame</key>
			<string>{{1312,249},{298,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{298,91}}</string>
			<key>sourceSize</key>
			<string>{298,91}</string>
		</dict>
		<key>pic_xcyc_zuocexinxi_shengmingzhi_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{1855,389},{24,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,24}}</string>
			<key>sourceSize</key>
			<string>{24,24}</string>
		</dict>
		<key>pic_xczjm_juesechuzu_zhongtanchuang_juesetouxiang_juese_beij01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1499,342},{151,248}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,4},{151,248}}</string>
			<key>sourceSize</key>
			<string>{159,256}</string>
		</dict>
		<key>pic_xczjm_juesechuzu_zhongtanchuang_juesetouxiang_juese_beij02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1249,342},{151,248}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,5},{151,248}}</string>
			<key>sourceSize</key>
			<string>{159,256}</string>
		</dict>
		<key>pic_xczjm_juesechuzu_zhongtanchuang_juesetouxiang_juese_beij03.png</key>
		<dict>
			<key>frame</key>
			<string>{{711,342},{151,248}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,4},{151,248}}</string>
			<key>sourceSize</key>
			<string>{159,256}</string>
		</dict>
		<key>pic_xczjm_juesechuzu_zhongtanchuang_juesetouxiang_juese_dikuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1714,2},{159,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,256}}</string>
			<key>sourceSize</key>
			<string>{159,256}</string>
		</dict>
		<key>pic_xczjm_juesechuzu_zhongtanchuang_juesetouxiang_xuanzhongkuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{961,298},{189,286}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{189,286}}</string>
			<key>sourceSize</key>
			<string>{189,286}</string>
		</dict>
		<key>pic_xczjm_juesechuzu_zhongtanchuang_juesetouxiang_xuanzhongkuang_mingzidi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1972,2},{134,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,29}}</string>
			<key>sourceSize</key>
			<string>{134,29}</string>
		</dict>
		<key>pic_xczjm_zhanduidengji_shuzi_chendi.png</key>
		<dict>
			<key>frame</key>
			<string>{{1943,163},{54,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,61}}</string>
			<key>sourceSize</key>
			<string>{54,61}</string>
		</dict>
		<key>pic_xczjm_zhanduidengji_shuzi_jingdutiao.png</key>
		<dict>
			<key>frame</key>
			<string>{{291,476},{140,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,13}}</string>
			<key>sourceSize</key>
			<string>{140,13}</string>
		</dict>
		<key>pic_xczjm_zhanduidengji_shuzi_jingdutiao_aocao.png</key>
		<dict>
			<key>frame</key>
			<string>{{711,266},{145,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{145,19}}</string>
			<key>sourceSize</key>
			<string>{145,19}</string>
		</dict>
		<key>pic_xczjm_zhujiemian_bg_taizi.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,266},{707,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{707,163}}</string>
			<key>sourceSize</key>
			<string>{707,163}</string>
		</dict>
		<key>pic_xiangcaogedou_tiaozhan_xuanzhexingxiang_diban_aocao_9g.png</key>
		<dict>
			<key>frame</key>
			<string>{{1802,430},{65,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,63}}</string>
			<key>sourceSize</key>
			<string>{65,63}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>VanillaFighters0.png</string>
		<key>size</key>
		<string>{2006,495}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>VanillaFighters0.png</string>
	</dict>
</dict>
</plist>
