<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bg_tiantaiyewanimage.jpg</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{900,507}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{900,507}}</string>
			<key>sourceSize</key>
			<string>{900,507}</string>
		</dict>
		<key>deng_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{904,220},{27,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,26}}</string>
			<key>sourceSize</key>
			<string>{27,26}</string>
		</dict>
		<key>diaoche_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{904,2},{152,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,67}}</string>
			<key>sourceSize</key>
			<string>{152,67}</string>
		</dict>
		<key>diaosheng_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{973,111},{6,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{6,32}}</string>
			<key>sourceSize</key>
			<string>{6,32}</string>
		</dict>
		<key>g_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1005,147},{11,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,12}}</string>
			<key>sourceSize</key>
			<string>{11,12}</string>
		</dict>
		<key>h_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,171},{52,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,52}}</string>
			<key>sourceSize</key>
			<string>{52,52}</string>
		</dict>
		<key>hg_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{973,94},{32,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,15}}</string>
			<key>sourceSize</key>
			<string>{32,15}</string>
		</dict>
		<key>hh1_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{973,2},{46,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,19}}</string>
			<key>sourceSize</key>
			<string>{46,19}</string>
		</dict>
		<key>hh2_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{904,194},{51,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,24}}</string>
			<key>sourceSize</key>
			<string>{51,24}</string>
		</dict>
		<key>hh3_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{973,43},{39,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,19}}</string>
			<key>sourceSize</key>
			<string>{39,19}</string>
		</dict>
		<key>hh4_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{973,64},{39,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,15}}</string>
			<key>sourceSize</key>
			<string>{39,15}</string>
		</dict>
		<key>m1_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,511},{205,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,128}}</string>
			<key>sourceSize</key>
			<string>{205,128}</string>
		</dict>
		<key>m2_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,511},{172,174}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,174}}</string>
			<key>sourceSize</key>
			<string>{172,174}</string>
		</dict>
		<key>sheng1_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1014,69},{7,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{7,35}}</string>
			<key>sourceSize</key>
			<string>{7,35}</string>
		</dict>
		<key>sheng2_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{904,182},{10,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,52}}</string>
			<key>sourceSize</key>
			<string>{10,52}</string>
		</dict>
		<key>wang_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,718},{608,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{608,175}}</string>
			<key>sourceSize</key>
			<string>{608,175}</string>
		</dict>
		<key>weiheng1_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{973,150},{29,9}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,9}}</string>
			<key>sourceSize</key>
			<string>{29,9}</string>
		</dict>
		<key>weiheng2_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{965,161},{24,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,7}}</string>
			<key>sourceSize</key>
			<string>{24,7}</string>
		</dict>
		<key>weiheng3_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1014,43},{24,8}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,8}}</string>
			<key>sourceSize</key>
			<string>{24,8}</string>
		</dict>
		<key>weishu1_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{973,137},{11,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,30}}</string>
			<key>sourceSize</key>
			<string>{11,30}</string>
		</dict>
		<key>weishu2_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{973,81},{11,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,34}}</string>
			<key>sourceSize</key>
			<string>{11,34}</string>
		</dict>
		<key>zawu_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{904,156},{59,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,24}}</string>
			<key>sourceSize</key>
			<string>{59,24}</string>
		</dict>
		<key>zhanshou_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{957,225},{11,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,22}}</string>
			<key>sourceSize</key>
			<string>{11,22}</string>
		</dict>
		<key>zhanshoubi_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1006,134},{11,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{11,13}}</string>
			<key>sourceSize</key>
			<string>{11,13}</string>
		</dict>
		<key>zhantou_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{933,220},{19,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,22}}</string>
			<key>sourceSize</key>
			<string>{19,22}</string>
		</dict>
		<key>zhantui_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1007,106},{14,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{14,26}}</string>
			<key>sourceSize</key>
			<string>{14,26}</string>
		</dict>
		<key>zuoshou_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{1004,160},{9,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{9,18}}</string>
			<key>sourceSize</key>
			<string>{9,18}</string>
		</dict>
		<key>zuotou_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{981,225},{19,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,20}}</string>
			<key>sourceSize</key>
			<string>{19,20}</string>
		</dict>
		<key>zuotui_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{973,119},{16,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,31}}</string>
			<key>sourceSize</key>
			<string>{16,31}</string>
		</dict>
		<key>zuoxiong_tiantaiyewanimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{973,23},{43,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,18}}</string>
			<key>sourceSize</key>
			<string>{43,18}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>tiantaiyewanimage.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>tiantaiyewanimage.png</string>
	</dict>
</dict>
</plist>
