<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>b03_baowenbiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,172},{67,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,40}}</string>
			<key>sourceSize</key>
			<string>{67,40}</string>
		</dict>
		<key>b04_baowenbiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,243},{65,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,39}}</string>
			<key>sourceSize</key>
			<string>{65,39}</string>
		</dict>
		<key>b05_baowenbiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,143},{65,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,43}}</string>
			<key>sourceSize</key>
			<string>{65,43}</string>
		</dict>
		<key>b06_baowenbiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,311},{61,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,64}}</string>
			<key>sourceSize</key>
			<string>{61,64}</string>
		</dict>
		<key>b07_baowenbiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,198},{57,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,67}}</string>
			<key>sourceSize</key>
			<string>{57,67}</string>
		</dict>
		<key>b08_baowenbiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,214},{40,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,67}}</string>
			<key>sourceSize</key>
			<string>{40,67}</string>
		</dict>
		<key>b09_baowenbiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,226},{45,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,66}}</string>
			<key>sourceSize</key>
			<string>{45,66}</string>
		</dict>
		<key>b10_baowenbiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,340},{31,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,54}}</string>
			<key>sourceSize</key>
			<string>{31,54}</string>
		</dict>
		<key>b11_baowenbiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,210},{31,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,47}}</string>
			<key>sourceSize</key>
			<string>{31,47}</string>
		</dict>
		<key>b12_baowenbiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{454,316},{28,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,34}}</string>
			<key>sourceSize</key>
			<string>{28,34}</string>
		</dict>
		<key>b13_baowenbiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{339,102},{66,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,68}}</string>
			<key>sourceSize</key>
			<string>{66,68}</string>
		</dict>
		<key>b14_baowenbiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{269,56},{67,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,69}}</string>
			<key>sourceSize</key>
			<string>{67,69}</string>
		</dict>
		<key>b15_baowenbiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,127},{69,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,67}}</string>
			<key>sourceSize</key>
			<string>{69,67}</string>
		</dict>
		<key>b16_baowenbiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{38,487},{20,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,45}}</string>
			<key>sourceSize</key>
			<string>{20,45}</string>
		</dict>
		<key>b17_baowenbiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{403,312},{17,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,25}}</string>
			<key>sourceSize</key>
			<string>{17,25}</string>
		</dict>
		<key>b18_baowenbiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,437},{15,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,23}}</string>
			<key>sourceSize</key>
			<string>{15,23}</string>
		</dict>
		<key>bq01_baowenbiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,69},{36,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{36,84}}</string>
			<key>sourceSize</key>
			<string>{38,84}</string>
		</dict>
		<key>bq02_baowenbiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,280},{34,34}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{34,34}}</string>
			<key>sourceSize</key>
			<string>{38,36}</string>
		</dict>
		<key>bq03_baowenbiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,58},{41,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{41,83}}</string>
			<key>sourceSize</key>
			<string>{43,83}</string>
		</dict>
		<key>bq04_baowenbiteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,373},{28,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,27}}</string>
			<key>sourceSize</key>
			<string>{28,27}</string>
		</dict>
		<key>v_dabi2_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,438},{37,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,48}}</string>
			<key>sourceSize</key>
			<string>{37,48}</string>
		</dict>
		<key>v_dabi3_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,319},{44,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,56}}</string>
			<key>sourceSize</key>
			<string>{44,56}</string>
		</dict>
		<key>v_dabi4_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,115},{27,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,50}}</string>
			<key>sourceSize</key>
			<string>{27,50}</string>
		</dict>
		<key>v_dabi5_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,346},{25,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,30}}</string>
			<key>sourceSize</key>
			<string>{25,30}</string>
		</dict>
		<key>v_datui10_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{330,257},{28,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,50}}</string>
			<key>sourceSize</key>
			<string>{28,50}</string>
		</dict>
		<key>v_datui11_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,211},{55,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,40}}</string>
			<key>sourceSize</key>
			<string>{55,40}</string>
		</dict>
		<key>v_datui12_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{341,477},{32,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,31}}</string>
			<key>sourceSize</key>
			<string>{32,31}</string>
		</dict>
		<key>v_datui13_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,206},{57,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,35}}</string>
			<key>sourceSize</key>
			<string>{57,35}</string>
		</dict>
		<key>v_datui14_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,310},{64,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,37}}</string>
			<key>sourceSize</key>
			<string>{64,37}</string>
		</dict>
		<key>v_datui15_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{322,440},{35,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,36}}</string>
			<key>sourceSize</key>
			<string>{35,36}</string>
		</dict>
		<key>v_datui1_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{331,383},{40,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,25}}</string>
			<key>sourceSize</key>
			<string>{40,25}</string>
		</dict>
		<key>v_datui2_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{479,170},{67,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,31}}</string>
			<key>sourceSize</key>
			<string>{67,31}</string>
		</dict>
		<key>v_datui3_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{476,239},{39,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,34}}</string>
			<key>sourceSize</key>
			<string>{39,34}</string>
		</dict>
		<key>v_datui4_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,441},{64,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,44}}</string>
			<key>sourceSize</key>
			<string>{64,44}</string>
		</dict>
		<key>v_datui5_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,423},{57,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,30}}</string>
			<key>sourceSize</key>
			<string>{57,30}</string>
		</dict>
		<key>v_datui6_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,373},{54,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,35}}</string>
			<key>sourceSize</key>
			<string>{54,35}</string>
		</dict>
		<key>v_datui7_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{331,340},{39,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{39,41}}</string>
			<key>sourceSize</key>
			<string>{39,41}</string>
		</dict>
		<key>v_datui8_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{126,377},{59,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{59,29}}</string>
			<key>sourceSize</key>
			<string>{59,29}</string>
		</dict>
		<key>v_datui9_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,243},{32,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,74}}</string>
			<key>sourceSize</key>
			<string>{32,74}</string>
		</dict>
		<key>v_jiao10_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,405},{25,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,26}}</string>
			<key>sourceSize</key>
			<string>{25,26}</string>
		</dict>
		<key>v_jiao11_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,487},{23,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,34}}</string>
			<key>sourceSize</key>
			<string>{23,34}</string>
		</dict>
		<key>v_jiao2_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{85,487},{41,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,21}}</string>
			<key>sourceSize</key>
			<string>{41,21}</string>
		</dict>
		<key>v_jiao3_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{373,382},{41,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,27}}</string>
			<key>sourceSize</key>
			<string>{41,27}</string>
		</dict>
		<key>v_jiao4_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,411},{40,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,27}}</string>
			<key>sourceSize</key>
			<string>{40,27}</string>
		</dict>
		<key>v_jiao5_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{329,410},{35,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,28}}</string>
			<key>sourceSize</key>
			<string>{35,28}</string>
		</dict>
		<key>v_jiao6_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,316},{28,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,20}}</string>
			<key>sourceSize</key>
			<string>{28,20}</string>
		</dict>
		<key>v_jiao7_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,411},{20,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,27}}</string>
			<key>sourceSize</key>
			<string>{20,27}</string>
		</dict>
		<key>v_jiao8_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,487},{20,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,21}}</string>
			<key>sourceSize</key>
			<string>{20,21}</string>
		</dict>
		<key>v_kua1_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,253},{53,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,42}}</string>
			<key>sourceSize</key>
			<string>{53,42}</string>
		</dict>
		<key>v_kua2_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,256},{37,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,46}}</string>
			<key>sourceSize</key>
			<string>{37,46}</string>
		</dict>
		<key>v_kua3_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,339},{40,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,41}}</string>
			<key>sourceSize</key>
			<string>{40,41}</string>
		</dict>
		<key>v_kua4_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{117,204},{37,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,39}}</string>
			<key>sourceSize</key>
			<string>{37,39}</string>
		</dict>
		<key>v_kua5_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,377},{46,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,44}}</string>
			<key>sourceSize</key>
			<string>{46,44}</string>
		</dict>
		<key>v_kua6_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,273},{47,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,35}}</string>
			<key>sourceSize</key>
			<string>{47,35}</string>
		</dict>
		<key>v_kua8_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,440},{40,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,31}}</string>
			<key>sourceSize</key>
			<string>{40,31}</string>
		</dict>
		<key>v_kua9_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,155},{49,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,34}}</string>
			<key>sourceSize</key>
			<string>{49,34}</string>
		</dict>
		<key>v_shenti10_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,377},{62,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,59}}</string>
			<key>sourceSize</key>
			<string>{62,59}</string>
		</dict>
		<key>v_shenti11_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{408,170},{69,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,54}}</string>
			<key>sourceSize</key>
			<string>{69,54}</string>
		</dict>
		<key>v_shenti12_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,243},{66,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,62}}</string>
			<key>sourceSize</key>
			<string>{66,62}</string>
		</dict>
		<key>v_shenti13_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,52},{48,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,79}}</string>
			<key>sourceSize</key>
			<string>{48,79}</string>
		</dict>
		<key>v_shenti14_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,136},{63,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,66}}</string>
			<key>sourceSize</key>
			<string>{63,66}</string>
		</dict>
		<key>v_shenti1_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,58},{63,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,76}}</string>
			<key>sourceSize</key>
			<string>{63,76}</string>
		</dict>
		<key>v_shenti2_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{427,61},{52,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,75}}</string>
			<key>sourceSize</key>
			<string>{52,75}</string>
		</dict>
		<key>v_shenti3_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,2},{80,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,52}}</string>
			<key>sourceSize</key>
			<string>{80,52}</string>
		</dict>
		<key>v_shenti5_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,69},{87,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,56}}</string>
			<key>sourceSize</key>
			<string>{87,56}</string>
		</dict>
		<key>v_shenti6_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,243},{80,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,58}}</string>
			<key>sourceSize</key>
			<string>{80,58}</string>
		</dict>
		<key>v_shenti7_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{407,115},{74,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,53}}</string>
			<key>sourceSize</key>
			<string>{74,53}</string>
		</dict>
		<key>v_shenti8_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{89,2},{88,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,54}}</string>
			<key>sourceSize</key>
			<string>{88,54}</string>
		</dict>
		<key>v_shenti9_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,2},{84,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,48}}</string>
			<key>sourceSize</key>
			<string>{84,48}</string>
		</dict>
		<key>v_shou10_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,295},{43,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,15}}</string>
			<key>sourceSize</key>
			<string>{43,15}</string>
		</dict>
		<key>v_shou11_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,363},{36,13}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,13}}</string>
			<key>sourceSize</key>
			<string>{36,13}</string>
		</dict>
		<key>v_shou12_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,273},{41,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,17}}</string>
			<key>sourceSize</key>
			<string>{41,17}</string>
		</dict>
		<key>v_shou14_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,472},{29,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,21}}</string>
			<key>sourceSize</key>
			<string>{29,21}</string>
		</dict>
		<key>v_shou1_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,426},{26,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,26}}</string>
			<key>sourceSize</key>
			<string>{26,26}</string>
		</dict>
		<key>v_shou2_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,440},{30,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,25}}</string>
			<key>sourceSize</key>
			<string>{30,25}</string>
		</dict>
		<key>v_shou3_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{309,477},{33,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,30}}</string>
			<key>sourceSize</key>
			<string>{33,30}</string>
		</dict>
		<key>v_shou4_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,309},{32,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,29}}</string>
			<key>sourceSize</key>
			<string>{32,29}</string>
		</dict>
		<key>v_shou5_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{374,473},{35,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,30}}</string>
			<key>sourceSize</key>
			<string>{35,30}</string>
		</dict>
		<key>v_shou6_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,488},{35,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,21}}</string>
			<key>sourceSize</key>
			<string>{35,21}</string>
		</dict>
		<key>v_shou7_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,477},{33,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,32}}</string>
			<key>sourceSize</key>
			<string>{33,32}</string>
		</dict>
		<key>v_shou8_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,346},{38,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,15}}</string>
			<key>sourceSize</key>
			<string>{38,15}</string>
		</dict>
		<key>v_shou9_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,403},{32,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,15}}</string>
			<key>sourceSize</key>
			<string>{32,15}</string>
		</dict>
		<key>v_tou1_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{206,56},{61,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,76}}</string>
			<key>sourceSize</key>
			<string>{61,76}</string>
		</dict>
		<key>v_tou2_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{85,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,65}}</string>
			<key>sourceSize</key>
			<string>{85,65}</string>
		</dict>
		<key>v_tou3_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,406},{61,79}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{61,79}}</string>
			<key>sourceSize</key>
			<string>{67,79}</string>
		</dict>
		<key>v_tou4_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,158},{54,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,83}}</string>
			<key>sourceSize</key>
			<string>{54,83}</string>
		</dict>
		<key>v_tou5_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,325},{61,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{61,79}}</string>
			<key>sourceSize</key>
			<string>{61,79}</string>
		</dict>
		<key>v_tou6_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{179,2},{52,83}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{52,83}}</string>
			<key>sourceSize</key>
			<string>{54,83}</string>
		</dict>
		<key>v_tou7_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,2},{57,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,78}}</string>
			<key>sourceSize</key>
			<string>{57,78}</string>
		</dict>
		<key>v_tou8_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{208,134},{60,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,75}}</string>
			<key>sourceSize</key>
			<string>{60,75}</string>
		</dict>
		<key>v_xiaobi1_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,378},{25,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,27}}</string>
			<key>sourceSize</key>
			<string>{25,27}</string>
		</dict>
		<key>v_xiaobi2_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{422,310},{30,30}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{32,30}</string>
		</dict>
		<key>v_xiaobi4_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,481},{47,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,29}}</string>
			<key>sourceSize</key>
			<string>{47,29}</string>
		</dict>
		<key>v_xiaobi5_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{247,369},{26,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,52}}</string>
			<key>sourceSize</key>
			<string>{26,52}</string>
		</dict>
		<key>v_xiaobi6_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,410},{52,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,28}}</string>
			<key>sourceSize</key>
			<string>{52,28}</string>
		</dict>
		<key>v_xiaotui10_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,432},{26,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,24}}</string>
			<key>sourceSize</key>
			<string>{26,24}</string>
		</dict>
		<key>v_xiaotui11_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,312},{42,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,25}}</string>
			<key>sourceSize</key>
			<string>{42,25}</string>
		</dict>
		<key>v_xiaotui12_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,462},{23,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{23,19}}</string>
			<key>sourceSize</key>
			<string>{23,19}</string>
		</dict>
		<key>v_xiaotui13_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,377},{40,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,44}}</string>
			<key>sourceSize</key>
			<string>{40,44}</string>
		</dict>
		<key>v_xiaotui14_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{275,292},{48,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,46}}</string>
			<key>sourceSize</key>
			<string>{48,46}</string>
		</dict>
		<key>v_xiaotui15_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{213,297},{72,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,28}}</string>
			<key>sourceSize</key>
			<string>{72,28}</string>
		</dict>
		<key>v_xiaotui1_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,378},{36,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,19}}</string>
			<key>sourceSize</key>
			<string>{36,19}</string>
		</dict>
		<key>v_xiaotui2_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,482},{54,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,28}}</string>
			<key>sourceSize</key>
			<string>{54,28}</string>
		</dict>
		<key>v_xiaotui3_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,399},{28,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,25}}</string>
			<key>sourceSize</key>
			<string>{28,25}</string>
		</dict>
		<key>v_xiaotui4_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,440},{50,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,35}}</string>
			<key>sourceSize</key>
			<string>{50,35}</string>
		</dict>
		<key>v_xiaotui5_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,257},{72,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,33}}</string>
			<key>sourceSize</key>
			<string>{72,33}</string>
		</dict>
		<key>v_xiaotui6_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,423},{56,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,29}}</string>
			<key>sourceSize</key>
			<string>{56,29}</string>
		</dict>
		<key>v_xiaotui7_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{414,342},{29,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,29}}</string>
			<key>sourceSize</key>
			<string>{29,29}</string>
		</dict>
		<key>v_xiaotui8_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{243,297},{70,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,30}}</string>
			<key>sourceSize</key>
			<string>{70,30}</string>
		</dict>
		<key>v_xiaotui9_lingwanbuimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{233,423},{35,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,50}}</string>
			<key>sourceSize</key>
			<string>{35,50}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>lingsanhonwanbugroup.png</string>
		<key>scale</key>
		<real>0.55</real>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>lingsanhonwanbugroup.png</string>
	</dict>
</dict>
</plist>
