<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>a_tou_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{894,32},{96,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,97}}</string>
			<key>sourceSize</key>
			<string>{96,97}</string>
		</dict>
		<key>a_xiaotui_zuo_1_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{894,315},{55,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,74}}</string>
			<key>sourceSize</key>
			<string>{55,74}</string>
		</dict>
		<key>a_yan3_caotijingimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{984,130},{34,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,12}}</string>
			<key>sourceSize</key>
			<string>{34,12}</string>
		</dict>
		<key>ax_shou32_yigenisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,324},{44,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,53}}</string>
			<key>sourceSize</key>
			<string>{44,53}</string>
		</dict>
		<key>ax_shou33_yigenisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{984,204},{38,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,55}}</string>
			<key>sourceSize</key>
			<string>{38,55}</string>
		</dict>
		<key>ax_shou34_yigenisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{943,372},{34,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,52}}</string>
			<key>sourceSize</key>
			<string>{34,52}</string>
		</dict>
		<key>ax_shou35_yigenisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{984,261},{37,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{37,46}}</string>
			<key>sourceSize</key>
			<string>{37,46}</string>
		</dict>
		<key>ax_shou36_yigenisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,421},{34,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,43}}</string>
			<key>sourceSize</key>
			<string>{34,43}</string>
		</dict>
		<key>ax_shou3_yigenisiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,640},{51,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,53}}</string>
			<key>sourceSize</key>
			<string>{51,53}</string>
		</dict>
		<key>buwokeyi_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,457},{133,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,34}}</string>
			<key>sourceSize</key>
			<string>{133,34}</string>
		</dict>
		<key>buyaojiao_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,457},{133,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{133,34}}</string>
			<key>sourceSize</key>
			<string>{133,34}</string>
		</dict>
		<key>dangchu1_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,639},{166,54}}</string>
			<key>offset</key>
			<string>{-13,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{166,54}}</string>
			<key>sourceSize</key>
			<string>{192,54}</string>
		</dict>
		<key>dangchu2_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{984,309},{192,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,35}}</string>
			<key>sourceSize</key>
			<string>{192,35}</string>
		</dict>
		<key>danshi_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,424},{160,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,52}}</string>
			<key>sourceSize</key>
			<string>{160,52}</string>
		</dict>
		<key>gege_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{894,477},{47,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,15}}</string>
			<key>sourceSize</key>
			<string>{47,15}</string>
		</dict>
		<key>haode_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{894,372},{103,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{103,16}}</string>
			<key>sourceSize</key>
			<string>{103,16}</string>
		</dict>
		<key>haodxiao_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,391},{155,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,34}}</string>
			<key>sourceSize</key>
			<string>{155,34}</string>
		</dict>
		<key>heidi_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{292,427},{55,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,31}}</string>
			<key>sourceSize</key>
			<string>{55,31}</string>
		</dict>
		<key>jingjichang_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,32},{568,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{568,320}}</string>
			<key>sourceSize</key>
			<string>{568,320}</string>
		</dict>
		<key>kewu_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,902},{160,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,52}}</string>
			<key>sourceSize</key>
			<string>{160,52}</string>
		</dict>
		<key>liang_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{223,640},{160,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,52}}</string>
			<key>sourceSize</key>
			<string>{160,52}</string>
		</dict>
		<key>liangbuyao_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,602},{159,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{159,35}}</string>
			<key>sourceSize</key>
			<string>{159,35}</string>
		</dict>
		<key>nimenliabie_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,971},{160,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,51}}</string>
			<key>sourceSize</key>
			<string>{160,51}</string>
		</dict>
		<key>pingwomen_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,602},{160,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,34}}</string>
			<key>sourceSize</key>
			<string>{160,34}</string>
		</dict>
		<key>qingluobai_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{572,2},{28,424}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,424}}</string>
			<key>sourceSize</key>
			<string>{28,424}</string>
		</dict>
		<key>qipao_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{894,130},{183,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,88}}</string>
			<key>sourceSize</key>
			<string>{183,88}</string>
		</dict>
		<key>shengqi_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{912,426},{49,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,51}}</string>
			<key>sourceSize</key>
			<string>{49,51}</string>
		</dict>
		<key>suanleba_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{163,602},{160,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{160,34}}</string>
			<key>sourceSize</key>
			<string>{160,34}</string>
		</dict>
		<key>tou_damenwulangimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{894,503},{135,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,106}}</string>
			<key>sourceSize</key>
			<string>{135,106}</string>
		</dict>
		<key>wenzi01_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{201,695},{205,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,31}}</string>
			<key>sourceSize</key>
			<string>{205,31}</string>
		</dict>
		<key>wenzi02_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{101,695},{212,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{212,31}}</string>
			<key>sourceSize</key>
			<string>{212,31}</string>
		</dict>
		<key>wenzi03_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,695},{206,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,32}}</string>
			<key>sourceSize</key>
			<string>{206,32}</string>
		</dict>
		<key>wenzi04_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,913},{205,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,56}}</string>
			<key>sourceSize</key>
			<string>{205,56}</string>
		</dict>
		<key>wenzi05_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{168,695},{206,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,31}}</string>
			<key>sourceSize</key>
			<string>{206,31}</string>
		</dict>
		<key>wenzi06_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,358},{199,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,31}}</string>
			<key>sourceSize</key>
			<string>{199,31}</string>
		</dict>
		<key>wenzi07_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,324},{188,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,16}}</string>
			<key>sourceSize</key>
			<string>{188,16}</string>
		</dict>
		<key>wenzi08_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,391},{196,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{196,31}}</string>
			<key>sourceSize</key>
			<string>{196,31}</string>
		</dict>
		<key>wenzi09_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{1002,503},{190,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,16}}</string>
			<key>sourceSize</key>
			<string>{190,16}</string>
		</dict>
		<key>wenzi10_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,324},{199,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{199,32}}</string>
			<key>sourceSize</key>
			<string>{199,32}</string>
		</dict>
		<key>wenzi11_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{424,424},{158,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,15}}</string>
			<key>sourceSize</key>
			<string>{158,15}</string>
		</dict>
		<key>wenzi12_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{998,2},{200,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,16}}</string>
			<key>sourceSize</key>
			<string>{200,16}</string>
		</dict>
		<key>wenzi1_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,971},{205,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,48}}</string>
			<key>sourceSize</key>
			<string>{205,48}</string>
		</dict>
		<key>wenzi2_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,342},{201,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,47}}</string>
			<key>sourceSize</key>
			<string>{201,47}</string>
		</dict>
		<key>wenzi3_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{51,391},{209,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,47}}</string>
			<key>sourceSize</key>
			<string>{209,47}</string>
		</dict>
		<key>wenzi4_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,391},{207,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{207,31}}</string>
			<key>sourceSize</key>
			<string>{207,31}</string>
		</dict>
		<key>wenzi5_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,391},{208,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{208,31}}</string>
			<key>sourceSize</key>
			<string>{208,31}</string>
		</dict>
		<key>wenzi6_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{202,427},{163,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,16}}</string>
			<key>sourceSize</key>
			<string>{163,16}</string>
		</dict>
		<key>wenzi7_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{52,695},{216,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,47}}</string>
			<key>sourceSize</key>
			<string>{216,47}</string>
		</dict>
		<key>wenzi8_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,695},{216,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{216,48}}</string>
			<key>sourceSize</key>
			<string>{216,48}</string>
		</dict>
		<key>wenzi9_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{166,427},{173,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,16}}</string>
			<key>sourceSize</key>
			<string>{173,16}</string>
		</dict>
		<key>wenzi_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,391},{209,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{209,47}}</string>
			<key>sourceSize</key>
			<string>{209,47}</string>
		</dict>
		<key>xiangzi_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{568,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{568,320}}</string>
			<key>sourceSize</key>
			<string>{568,320}</string>
		</dict>
		<key>xin_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,379},{43,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,40}}</string>
			<key>sourceSize</key>
			<string>{43,40}</string>
		</dict>
		<key>zhidaola_renwulian03image.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,457},{143,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,16}}</string>
			<key>sourceSize</key>
			<string>{143,16}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>renwulian03image.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>renwulian03image.png</string>
	</dict>
</dict>
</plist>
