<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_fly_01_hunianchunjiecjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{23,992},{24,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,23}}</string>
			<key>sourceSize</key>
			<string>{24,23}</string>
		</dict>
		<key>bird_fly_02_hunianchunjiecjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,952},{31,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,19}}</string>
			<key>sourceSize</key>
			<string>{31,19}</string>
		</dict>
		<key>bird_fly_03_hunianchunjiecjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{18,952},{38,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,15}}</string>
			<key>sourceSize</key>
			<string>{38,15}</string>
		</dict>
		<key>bird_fly_04_hunianchunjiecjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,952},{41,14}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,14}}</string>
			<key>sourceSize</key>
			<string>{41,14}</string>
		</dict>
		<key>bird_fly_05_hunianchunjiecjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{65,985},{16,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,23}}</string>
			<key>sourceSize</key>
			<string>{16,23}</string>
		</dict>
		<key>bird_fly_06_hunianchunjiecjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,995},{27,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,19}}</string>
			<key>sourceSize</key>
			<string>{27,19}</string>
		</dict>
		<key>bird_fly_07_hunianchunjiecjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{48,989},{32,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,15}}</string>
			<key>sourceSize</key>
			<string>{32,15}</string>
		</dict>
		<key>bird_fly_08_hunianchunjiecjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{35,952},{35,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,21}}</string>
			<key>sourceSize</key>
			<string>{35,21}</string>
		</dict>
		<key>song_hunianchunjiecjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{296,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{296,159}}</string>
			<key>sourceSize</key>
			<string>{296,159}</string>
		</dict>
		<key>yun_hunianchunjiecjimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,163},{787,247}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{787,247}}</string>
			<key>sourceSize</key>
			<string>{787,247}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>hunianchunjiecjimage.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>hunianchunjiecjimage.png</string>
	</dict>
</dict>
</plist>
