<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dian_shuipingtxkiamge_dfwtxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{58,234},{12,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{12,12}}</string>
			<key>sourceSize</key>
			<string>{12,12}</string>
		</dict>
		<key>wy_10_10_36819_dfwtxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{14,234},{15,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,15}}</string>
			<key>sourceSize</key>
			<string>{15,15}</string>
		</dict>
		<key>wy_12_12_75302_dfwtxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{128,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,123}}</string>
			<key>sourceSize</key>
			<string>{128,123}</string>
		</dict>
		<key>wy_2_2_34700_dfwtxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,132},{17,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,21}}</string>
			<key>sourceSize</key>
			<string>{17,21}</string>
		</dict>
		<key>wy_4_4_98337_dfwtxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,132},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>wy_6_6_54221_dfwtxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{31,234},{25,12}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,12}}</string>
			<key>sourceSize</key>
			<string>{25,12}</string>
		</dict>
		<key>wy_8_8_24870_dfwtxkimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,234},{19,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{19,10}}</string>
			<key>sourceSize</key>
			<string>{19,10}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>dfwtxkimage.png</string>
		<key>size</key>
		<string>{128,256}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dfwtxkimage.png</string>
	</dict>
</dict>
</plist>
