<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>largepic_100212.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{872,636}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{872,636}}</string>
			<key>sourceSize</key>
			<string>{872,640}</string>
		</dict>
		<key>longpic_100212.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,640},{188,287}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,287}}</string>
			<key>sourceSize</key>
			<string>{192,287}</string>
		</dict>
		<key>middlepic_100212.png</key>
		<dict>
			<key>frame</key>
			<string>{{876,395},{183,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,71}}</string>
			<key>sourceSize</key>
			<string>{183,71}</string>
		</dict>
		<key>namepic_100212.png</key>
		<dict>
			<key>frame</key>
			<string>{{876,2},{391,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{391,99}}</string>
			<key>sourceSize</key>
			<string>{391,99}</string>
		</dict>
		<key>skillmaxpic_100212.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,640},{375,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{375,52}}</string>
			<key>sourceSize</key>
			<string>{375,52}</string>
		</dict>
		<key>skillnamepic_100212.png</key>
		<dict>
			<key>frame</key>
			<string>{{977,2},{268,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{268,43}}</string>
			<key>sourceSize</key>
			<string>{268,43}</string>
		</dict>
		<key>skillsmaxpic_100212.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,640},{372,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{372,52}}</string>
			<key>sourceSize</key>
			<string>{372,52}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>heros_100212.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>heros_100212.png</string>
	</dict>
</dict>
</plist>
