<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_ptbs_gongji1shoubu_00034_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{720,691},{47,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,40}}</string>
			<key>sourceSize</key>
			<string>{47,40}</string>
		</dict>
		<key>New_ptbs_gongji1shoubu_00036_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{891,56},{128,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,50}}</string>
			<key>sourceSize</key>
			<string>{128,50}</string>
		</dict>
		<key>New_ptbs_gongji1shoubu_00038_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,456},{143,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,50}}</string>
			<key>sourceSize</key>
			<string>{143,50}</string>
		</dict>
		<key>New_ptbs_gongji1shoubu_00040_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{671,532},{146,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,51}}</string>
			<key>sourceSize</key>
			<string>{146,51}</string>
		</dict>
		<key>New_ptbs_gongji1shoubu_00042_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{332,419},{149,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,55}}</string>
			<key>sourceSize</key>
			<string>{149,55}</string>
		</dict>
		<key>New_ptbs_gongji1shoubu_00044_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,344},{153,60}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,60}}</string>
			<key>sourceSize</key>
			<string>{153,62}</string>
		</dict>
		<key>New_ptbs_gongji1shoubu_00046_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{522,402},{156,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{156,60}}</string>
			<key>sourceSize</key>
			<string>{156,60}</string>
		</dict>
		<key>New_ptbs_gongji1shoubu_00048_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{522,334},{159,66}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{159,66}}</string>
			<key>sourceSize</key>
			<string>{161,68}</string>
		</dict>
		<key>New_ptbs_gongji1shoubu_00050_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{680,455},{151,75}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{151,75}}</string>
			<key>sourceSize</key>
			<string>{153,75}</string>
		</dict>
		<key>New_ptbs_gongji1shoubu_00052_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,185},{139,71}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{139,71}}</string>
			<key>sourceSize</key>
			<string>{141,75}</string>
		</dict>
		<key>New_ptbs_gongji1shoubu_00054_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{604,778},{70,60}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,7},{70,60}}</string>
			<key>sourceSize</key>
			<string>{70,70}</string>
		</dict>
		<key>New_ptbs_gongji2jiaobu_00068_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{833,504},{42,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,31}}</string>
			<key>sourceSize</key>
			<string>{42,31}</string>
		</dict>
		<key>New_ptbs_gongji2jiaobu_00070_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,664},{116,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{116,47}}</string>
			<key>sourceSize</key>
			<string>{116,47}</string>
		</dict>
		<key>New_ptbs_gongji2jiaobu_00072_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{891,2},{131,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,52}}</string>
			<key>sourceSize</key>
			<string>{131,52}</string>
		</dict>
		<key>New_ptbs_gongji2jiaobu_00074_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{274,607},{132,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,55}}</string>
			<key>sourceSize</key>
			<string>{132,55}</string>
		</dict>
		<key>New_ptbs_gongji2jiaobu_00076_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{295,546},{135,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,59}}</string>
			<key>sourceSize</key>
			<string>{135,59}</string>
		</dict>
		<key>New_ptbs_gongji2jiaobu_00078_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,508},{137,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,65}}</string>
			<key>sourceSize</key>
			<string>{137,65}</string>
		</dict>
		<key>New_ptbs_gongji2jiaobu_00080_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{301,476},{142,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,68}}</string>
			<key>sourceSize</key>
			<string>{142,68}</string>
		</dict>
		<key>New_ptbs_gongji2jiaobu_00082_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{522,464},{147,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,73}}</string>
			<key>sourceSize</key>
			<string>{147,73}</string>
		</dict>
		<key>New_ptbs_gongji2jiaobu_00084_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{522,539},{136,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{136,76}}</string>
			<key>sourceSize</key>
			<string>{136,76}</string>
		</dict>
		<key>New_ptbs_gongji2jiaobu_00086_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{891,108},{123,75}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,75}}</string>
			<key>sourceSize</key>
			<string>{125,75}</string>
		</dict>
		<key>New_ptbs_gongji2jiaobu_00088_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{115,967},{55,45}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{55,45}}</string>
			<key>sourceSize</key>
			<string>{57,47}</string>
		</dict>
		<key>New_ptbs_gongji2mingzhong_00068_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{720,733},{62,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,42}}</string>
			<key>sourceSize</key>
			<string>{62,42}</string>
		</dict>
		<key>New_ptbs_gongji2mingzhong_00070_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,569},{113,87}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,87}}</string>
			<key>sourceSize</key>
			<string>{113,89}</string>
		</dict>
		<key>New_ptbs_gongji2mingzhong_00072_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,696},{108,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{108,102}}</string>
			<key>sourceSize</key>
			<string>{110,102}</string>
		</dict>
		<key>New_ptbs_gongji2mingzhong_00074_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{660,585},{104,107}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{104,107}}</string>
			<key>sourceSize</key>
			<string>{112,109}</string>
		</dict>
		<key>New_ptbs_gongji2mingzhong_00076_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,691},{105,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{105,113}}</string>
			<key>sourceSize</key>
			<string>{113,113}</string>
		</dict>
		<key>New_ptbs_gongji2mingzhong_00078_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{521,617},{94,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,101}}</string>
			<key>sourceSize</key>
			<string>{94,101}</string>
		</dict>
		<key>New_ptbs_gongji2mingzhong_00080_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,713},{96,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,97}}</string>
			<key>sourceSize</key>
			<string>{96,97}</string>
		</dict>
		<key>New_ptbs_gongji2mingzhong_00082_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,850},{94,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,83}}</string>
			<key>sourceSize</key>
			<string>{94,83}</string>
		</dict>
		<key>New_ptbs_shoubuhuoyan_00020_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,605},{67,95}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,2},{67,95}}</string>
			<key>sourceSize</key>
			<string>{71,97}</string>
		</dict>
		<key>New_ptbs_shoubuhuoyan_00022_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,800},{67,97}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{67,97}}</string>
			<key>sourceSize</key>
			<string>{71,97}</string>
		</dict>
		<key>New_ptbs_shoubuhuoyan_00024_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{621,850},{68,90}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{68,90}}</string>
			<key>sourceSize</key>
			<string>{70,92}</string>
		</dict>
		<key>New_ptbs_shoubuhuoyan_00026_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{548,850},{71,92}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{71,92}}</string>
			<key>sourceSize</key>
			<string>{71,94}</string>
		</dict>
		<key>New_ptbs_shoubuhuoyan_00028_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{691,850},{67,90}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{67,90}}</string>
			<key>sourceSize</key>
			<string>{71,92}</string>
		</dict>
		<key>New_ptbs_shoubuhuoyan_00030_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,691},{71,85}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{71,85}}</string>
			<key>sourceSize</key>
			<string>{71,87}</string>
		</dict>
		<key>New_ptbs_shoubuhuoyan_00032_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{755,942},{71,86}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{71,86}}</string>
			<key>sourceSize</key>
			<string>{71,90}</string>
		</dict>
		<key>New_ptbs_shoubuhuoyan_00034_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,850},{71,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,94}}</string>
			<key>sourceSize</key>
			<string>{71,94}</string>
		</dict>
		<key>New_ptbs_shoubuhuoyan_00036_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,811},{71,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,97}}</string>
			<key>sourceSize</key>
			<string>{71,97}</string>
		</dict>
		<key>New_ptbs_shoubuhuoyan_00038_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{511,779},{69,91}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{69,91}}</string>
			<key>sourceSize</key>
			<string>{71,91}</string>
		</dict>
		<key>New_sqle_daiji_00000_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,419},{66,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,37}}</string>
			<key>sourceSize</key>
			<string>{66,37}</string>
		</dict>
		<key>New_sqle_daiji_00002_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{833,817},{68,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,35}}</string>
			<key>sourceSize</key>
			<string>{68,35}</string>
		</dict>
		<key>New_sqle_daiji_00004_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{666,778},{70,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,36}}</string>
			<key>sourceSize</key>
			<string>{70,36}</string>
		</dict>
		<key>New_sqle_daiji_00006_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,779},{68,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,36}}</string>
			<key>sourceSize</key>
			<string>{68,36}</string>
		</dict>
		<key>New_sqle_daiji_00008_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,697},{65,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,37}}</string>
			<key>sourceSize</key>
			<string>{65,37}</string>
		</dict>
		<key>New_sqle_daiji_00010_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{833,887},{62,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,36}}</string>
			<key>sourceSize</key>
			<string>{62,36}</string>
		</dict>
		<key>New_sqle_daiji_00012_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{903,707},{63,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,36}}</string>
			<key>sourceSize</key>
			<string>{63,36}</string>
		</dict>
		<key>New_sqle_daiji_00014_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{865,707},{63,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,36}}</string>
			<key>sourceSize</key>
			<string>{63,36}</string>
		</dict>
		<key>New_sqle_daiji_00016_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{839,779},{63,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,36}}</string>
			<key>sourceSize</key>
			<string>{63,36}</string>
		</dict>
		<key>New_sqle_daiji_00018_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{704,797},{63,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,37}}</string>
			<key>sourceSize</key>
			<string>{63,37}</string>
		</dict>
		<key>New_sqle_putonggongji1_00012_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{833,455},{47,31}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{47,31}}</string>
			<key>sourceSize</key>
			<string>{47,35}</string>
		</dict>
		<key>New_sqle_putonggongji1_00014_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{209,967},{42,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,51}}</string>
			<key>sourceSize</key>
			<string>{42,51}</string>
		</dict>
		<key>New_sqle_putonggongji1_00016_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,967},{45,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{45,54}}</string>
			<key>sourceSize</key>
			<string>{47,54}</string>
		</dict>
		<key>New_sqle_putonggongji1_00018_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{819,548},{45,55}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{45,55}}</string>
			<key>sourceSize</key>
			<string>{47,57}</string>
		</dict>
		<key>New_sqle_putonggongji1_00020_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,967},{47,58}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{47,58}}</string>
			<key>sourceSize</key>
			<string>{51,60}</string>
		</dict>
		<key>New_sqle_putonggongji1_00022_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{313,967},{49,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{49,57}}</string>
			<key>sourceSize</key>
			<string>{49,59}</string>
		</dict>
		<key>New_sqle_putonggongji1_00024_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,967},{50,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,58}}</string>
			<key>sourceSize</key>
			<string>{50,58}</string>
		</dict>
		<key>New_sqle_putonggongji1_00026_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{62,967},{51,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,55}}</string>
			<key>sourceSize</key>
			<string>{51,55}</string>
		</dict>
		<key>New_sqle_putonggongji1_00028_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,664},{38,31}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{38,31}}</string>
			<key>sourceSize</key>
			<string>{40,33}</string>
		</dict>
		<key>New_xiaojinengshang_00022_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,869},{96,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>New_xiaojinengshang_00024_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,560},{134,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,134}}</string>
			<key>sourceSize</key>
			<string>{134,134}</string>
		</dict>
		<key>New_xiaojinengshang_00026_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,171},{171,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,171}}</string>
			<key>sourceSize</key>
			<string>{171,171}</string>
		</dict>
		<key>New_xiaojinengshang_00028_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,127},{171,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,171}}</string>
			<key>sourceSize</key>
			<string>{171,171}</string>
		</dict>
		<key>New_xiaojinengshang_00030_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,123},{171,171}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{171,171}}</string>
			<key>sourceSize</key>
			<string>{171,171}</string>
		</dict>
		<key>New_xiaojinengshang_00032_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{703,291},{162,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,162}}</string>
			<key>sourceSize</key>
			<string>{162,162}</string>
		</dict>
		<key>New_xiaojinengshang_00034_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{539,170},{162,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,162}}</string>
			<key>sourceSize</key>
			<string>{162,162}</string>
		</dict>
		<key>New_xiaojinengshang_00036_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{719,127},{162,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,162}}</string>
			<key>sourceSize</key>
			<string>{162,162}</string>
		</dict>
		<key>New_xiaojinengshang_00038_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{867,406},{155,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,155}}</string>
			<key>sourceSize</key>
			<string>{155,155}</string>
		</dict>
		<key>New_xiaojinengshang_00040_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{175,300},{155,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{155,154}}</string>
			<key>sourceSize</key>
			<string>{155,154}</string>
		</dict>
		<key>New_xiaojinengshang_00042_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,406},{152,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{152,152}}</string>
			<key>sourceSize</key>
			<string>{152,152}</string>
		</dict>
		<key>New_xiaojinengshang_00044_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{866,563},{143,142}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,142}}</string>
			<key>sourceSize</key>
			<string>{143,142}</string>
		</dict>
		<key>New_xiaojinengyan_00025_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,851},{47,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,40}}</string>
			<key>sourceSize</key>
			<string>{47,40}</string>
		</dict>
		<key>New_xiaojinengyan_00027_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{769,674},{94,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,103}}</string>
			<key>sourceSize</key>
			<string>{94,103}</string>
		</dict>
		<key>New_xiaojinengyan_00029_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,575},{134,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,114}}</string>
			<key>sourceSize</key>
			<string>{134,114}</string>
		</dict>
		<key>New_xiaojinengyan_00031_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,296},{162,121}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{162,121}}</string>
			<key>sourceSize</key>
			<string>{162,121}</string>
		</dict>
		<key>New_xiaojinengyan_00033_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{719,2},{170,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{170,123}}</string>
			<key>sourceSize</key>
			<string>{170,123}</string>
		</dict>
		<key>New_xiaojinengyan_00035_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,2},{179,123}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{179,123}}</string>
			<key>sourceSize</key>
			<string>{179,125}</string>
		</dict>
		<key>New_xiaojinengyan_00037_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,2},{175,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{175,119}}</string>
			<key>sourceSize</key>
			<string>{177,119}</string>
		</dict>
		<key>New_xiaojinengyan_00039_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,684},{87,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{87,79}}</string>
			<key>sourceSize</key>
			<string>{87,81}</string>
		</dict>
		<key>New_xiaojinengyan_00041_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{667,942},{86,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,79}}</string>
			<key>sourceSize</key>
			<string>{86,79}</string>
		</dict>
		<key>New_xiaojinengyan_00043_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{352,764},{84,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{84,78}}</string>
			<key>sourceSize</key>
			<string>{84,78}</string>
		</dict>
		<key>New_xiaojinengyan_00045_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,765},{83,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,77}}</string>
			<key>sourceSize</key>
			<string>{83,77}</string>
		</dict>
		<key>New_xiaojinengyan_00047_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{432,946},{82,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,76}}</string>
			<key>sourceSize</key>
			<string>{82,76}</string>
		</dict>
		<key>New_xiaojinengyan_00049_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{312,884},{81,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,76}}</string>
			<key>sourceSize</key>
			<string>{81,76}</string>
		</dict>
		<key>New_xiaojinengyan_00051_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{445,487},{80,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,75}}</string>
			<key>sourceSize</key>
			<string>{80,75}</string>
		</dict>
		<key>New_xiaojinengyan_00053_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,946},{76,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{76,75}}</string>
			<key>sourceSize</key>
			<string>{78,75}</string>
		</dict>
		<key>New_xiaojinengyan_00055_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,891},{75,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,74}}</string>
			<key>sourceSize</key>
			<string>{75,74}</string>
		</dict>
		<key>New_xiaojinengyan_00057_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{593,944},{73,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,72}}</string>
			<key>sourceSize</key>
			<string>{73,72}</string>
		</dict>
		<key>New_xiaojinengyan_00059_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{760,836},{71,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,71}}</string>
			<key>sourceSize</key>
			<string>{71,71}</string>
		</dict>
		<key>New_xiaojinengyan_00061_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,900},{66,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,65}}</string>
			<key>sourceSize</key>
			<string>{66,65}</string>
		</dict>
		<key>New_xiaojinengyan_00063_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{245,900},{65,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,65}}</string>
			<key>sourceSize</key>
			<string>{65,65}</string>
		</dict>
		<key>New_xiaojinengyan_00065_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{521,713},{63,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,63}}</string>
			<key>sourceSize</key>
			<string>{63,63}</string>
		</dict>
		<key>New_xiaojinengyan_00067_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{586,713},{63,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,59}}</string>
			<key>sourceSize</key>
			<string>{63,59}</string>
		</dict>
		<key>New_xiaojinengyan_00069_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{870,817},{62,58}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{62,58}}</string>
			<key>sourceSize</key>
			<string>{62,60}</string>
		</dict>
		<key>New_xiaojinengyan_00071_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{941,707},{56,57}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{56,57}}</string>
			<key>sourceSize</key>
			<string>{56,59}</string>
		</dict>
		<key>New_xiaojinengyan_00073_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,798},{51,40}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,1},{51,40}}</string>
			<key>sourceSize</key>
			<string>{53,42}</string>
		</dict>
		<key>New_xiaojinengzhongjian_00022_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,967},{58,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,55}}</string>
			<key>sourceSize</key>
			<string>{58,55}</string>
		</dict>
		<key>New_xiaojinengzhongjian_00023_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{112,798},{97,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,91}}</string>
			<key>sourceSize</key>
			<string>{97,91}</string>
		</dict>
		<key>New_xiaojinengzhongjian_00024_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{883,258},{146,137}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{146,137}}</string>
			<key>sourceSize</key>
			<string>{146,137}</string>
		</dict>
		<key>New_xiaojinengzhongjian_00025_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{181,167}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{181,167}}</string>
			<key>sourceSize</key>
			<string>{181,167}</string>
		</dict>
		<key>New_xiaojinengzhongjian_00026_shanteimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{543,2},{174,166}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,166}}</string>
			<key>sourceSize</key>
			<string>{174,166}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>shanteimage.png</string>
		<key>scale</key>
		<real>0.42</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>shanteimage.png</string>
	</dict>
</dict>
</plist>
