<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>meijn_dfwyxjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{920,2},{98,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,12},{98,76}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>til_dfwyxjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,465},{68,92}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,4},{68,92}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>wy_1_1_26399_dfwyxjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{46,616},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>wy_2_2_75197_dfwyxjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,966},{163,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{163,51}}</string>
			<key>sourceSize</key>
			<string>{163,51}</string>
		</dict>
		<key>wy_36_36_46535_dfwyxjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,285},{545,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{545,83}}</string>
			<key>sourceSize</key>
			<string>{545,83}</string>
		</dict>
		<key>wy_37_37_53219_dfwyxjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,97},{515,93}}</string>
			<key>offset</key>
			<string>{-15,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{10,3},{515,93}}</string>
			<key>sourceSize</key>
			<string>{565,99}</string>
		</dict>
		<key>wy_38_38_8219_dfwyxjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,635},{351,93}}</string>
			<key>offset</key>
			<string>{-29,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{78,4},{351,93}}</string>
			<key>sourceSize</key>
			<string>{565,99}</string>
		</dict>
		<key>wy_39_39_48984_dfwyxjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,635},{329,93}}</string>
			<key>offset</key>
			<string>{7,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{125,4},{329,93}}</string>
			<key>sourceSize</key>
			<string>{565,99}</string>
		</dict>
		<key>wy_3_3_48719_dfwyxjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,465},{111,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,111}}</string>
			<key>sourceSize</key>
			<string>{111,111}</string>
		</dict>
		<key>wy_3_3_83471_dfwyxjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{262,966},{85,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,47}}</string>
			<key>sourceSize</key>
			<string>{85,47}</string>
		</dict>
		<key>wy_40_40_16069_dfwyxjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,97},{517,93}}</string>
			<key>offset</key>
			<string>{6,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,4},{517,93}}</string>
			<key>sourceSize</key>
			<string>{565,99}</string>
		</dict>
		<key>wy_41_41_43923_dfwyxjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{555,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,3},{555,93}}</string>
			<key>sourceSize</key>
			<string>{565,99}</string>
		</dict>
		<key>wy_42_42_2332_dfwyxjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,190},{553,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,3},{553,93}}</string>
			<key>sourceSize</key>
			<string>{565,99}</string>
		</dict>
		<key>wy_43_43_96746_dfwyxjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,370},{513,93}}</string>
			<key>offset</key>
			<string>{17,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,3},{513,93}}</string>
			<key>sourceSize</key>
			<string>{565,99}</string>
		</dict>
		<key>wy_44_44_72861_dfwyxjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{559,2},{359,93}}</string>
			<key>offset</key>
			<string>{34,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{137,3},{359,93}}</string>
			<key>sourceSize</key>
			<string>{565,99}</string>
		</dict>
		<key>wy_45_45_30358_dfwyxjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,635},{329,93}}</string>
			<key>offset</key>
			<string>{-5,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{113,4},{329,93}}</string>
			<key>sourceSize</key>
			<string>{565,99}</string>
		</dict>
		<key>wy_46_46_88063_dfwyxjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,97},{517,93}}</string>
			<key>offset</key>
			<string>{-4,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{20,4},{517,93}}</string>
			<key>sourceSize</key>
			<string>{565,99}</string>
		</dict>
		<key>wy_47_47_26328_dfwyxjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,97},{555,91}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,5},{555,91}}</string>
			<key>sourceSize</key>
			<string>{565,99}</string>
		</dict>
		<key>wy_48_48_81435_dfwyxjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{920,80},{553,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,3},{553,93}}</string>
			<key>sourceSize</key>
			<string>{565,99}</string>
		</dict>
		<key>wy_4_4_17862_dfwyxjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{21,988},{26,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,19}}</string>
			<key>sourceSize</key>
			<string>{26,19}</string>
		</dict>
		<key>wy_5_5_54148_dfwyxjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,97},{77,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,59}}</string>
			<key>sourceSize</key>
			<string>{77,59}</string>
		</dict>
		<key>wy_6_6_44801_dfwyxjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,616},{42,15}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,15}}</string>
			<key>sourceSize</key>
			<string>{42,15}</string>
		</dict>
		<key>wy_7_7_7173_dfwyxjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,988},{33,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,17}}</string>
			<key>sourceSize</key>
			<string>{33,17}</string>
		</dict>
		<key>zhuanguang_dfwyxjmimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{287,635},{113,120}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{113,120}}</string>
			<key>sourceSize</key>
			<string>{113,120}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>dfwyxjmimage.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>dfwyxjmimage.png</string>
	</dict>
</dict>
</plist>
