<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>New_njd_liumenbisha_hd_00012.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,2},{397,138}}</string>
			<key>offset</key>
			<string>{-26,-17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,38},{397,138}}</string>
			<key>sourceSize</key>
			<string>{483,180}</string>
		</dict>
		<key>New_njd_liumenbisha_hd_00058.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,163},{395,158}}</string>
			<key>offset</key>
			<string>{-4,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{40,5},{395,158}}</string>
			<key>sourceSize</key>
			<string>{483,180}</string>
		</dict>
		<key>New_njd_liumenbisha_hd_00074.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,280},{395,156}}</string>
			<key>offset</key>
			<string>{-7,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,6},{395,156}}</string>
			<key>sourceSize</key>
			<string>{483,180}</string>
		</dict>
		<key>New_njd_liumenbisha_hd_00076.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{397,160}}</string>
			<key>offset</key>
			<string>{-8,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,2},{397,160}}</string>
			<key>sourceSize</key>
			<string>{483,180}</string>
		</dict>
		<key>New_njd_liumenbisha_hd_00084.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,141},{397,138}}</string>
			<key>offset</key>
			<string>{-9,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,24},{397,138}}</string>
			<key>sourceSize</key>
			<string>{483,180}</string>
		</dict>
		<key>New_njd_liumenbisha_hd_00122.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,322},{395,122}}</string>
			<key>offset</key>
			<string>{-11,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,38},{395,122}}</string>
			<key>sourceSize</key>
			<string>{483,180}</string>
		</dict>
		<key>New_njd_liumenbisha_lw_00135.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,445},{310,107}}</string>
			<key>offset</key>
			<string>{9,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{40,16},{310,107}}</string>
			<key>sourceSize</key>
			<string>{372,137}</string>
		</dict>
		<key>New_njd_liumenbisha_lw_00167.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,437},{356,127}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,3},{356,127}}</string>
			<key>sourceSize</key>
			<string>{372,137}</string>
		</dict>
		<key>New_njd_liumenbisha_sh_00132.png</key>
		<dict>
			<key>frame</key>
			<string>{{731,861},{122,62}}</string>
			<key>offset</key>
			<string>{-4,-61}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,124},{122,62}}</string>
			<key>sourceSize</key>
			<string>{132,188}</string>
		</dict>
		<key>New_njd_liumenbisha_sh_00186.png</key>
		<dict>
			<key>frame</key>
			<string>{{725,565},{38,68}}</string>
			<key>offset</key>
			<string>{22,29}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{69,31},{38,68}}</string>
			<key>sourceSize</key>
			<string>{132,188}</string>
		</dict>
		<key>New_njd_liumenbisha_sh_00188.png</key>
		<dict>
			<key>frame</key>
			<string>{{725,604},{38,68}}</string>
			<key>offset</key>
			<string>{22,27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{69,33},{38,68}}</string>
			<key>sourceSize</key>
			<string>{132,188}</string>
		</dict>
		<key>New_njd_liumenbisha_zhbz_00479.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,755},{267,160}}</string>
			<key>offset</key>
			<string>{15,-5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{62,18},{267,160}}</string>
			<key>sourceSize</key>
			<string>{361,186}</string>
		</dict>
		<key>New_njd_liumenbisha_zhbz_00491.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,445},{309,170}}</string>
			<key>offset</key>
			<string>{8,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{34,2},{309,170}}</string>
			<key>sourceSize</key>
			<string>{361,186}</string>
		</dict>
		<key>New_njd_liumenbisha_zhbz_00519.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,756},{265,178}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{49,4},{265,178}}</string>
			<key>sourceSize</key>
			<string>{361,186}</string>
		</dict>
		<key>New_njd_liumenbisha_zhbz_00521.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,755},{267,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{47,3},{267,180}}</string>
			<key>sourceSize</key>
			<string>{361,186}</string>
		</dict>
		<key>New_njd_liumenbisha_zhhk_00419.png</key>
		<dict>
			<key>frame</key>
			<string>{{281,445},{155,309}}</string>
			<key>offset</key>
			<string>{-7,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{26,62},{155,309}}</string>
			<key>sourceSize</key>
			<string>{221,389}</string>
		</dict>
		<key>New_njd_liumenbisha_zhhk_00449.png</key>
		<dict>
			<key>frame</key>
			<string>{{437,565},{189,287}}</string>
			<key>offset</key>
			<string>{2,-31}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{18,82},{189,287}}</string>
			<key>sourceSize</key>
			<string>{221,389}</string>
		</dict>
		<key>New_njd_liumenbisha_zwsh_00228.png</key>
		<dict>
			<key>frame</key>
			<string>{{794,381},{374,228}}</string>
			<key>offset</key>
			<string>{2,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,1},{374,228}}</string>
			<key>sourceSize</key>
			<string>{416,242}</string>
		</dict>
		<key>New_njd_liumenbisha_zwsh_00232.png</key>
		<dict>
			<key>frame</key>
			<string>{{798,2},{378,222}}</string>
			<key>offset</key>
			<string>{-8,7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{11,3},{378,222}}</string>
			<key>sourceSize</key>
			<string>{416,242}</string>
		</dict>
		<key>New_njd_liumenbisha_zwsh_00252.png</key>
		<dict>
			<key>frame</key>
			<string>{{794,756},{228,190}}</string>
			<key>offset</key>
			<string>{4,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{98,38},{228,190}}</string>
			<key>sourceSize</key>
			<string>{416,242}</string>
		</dict>
		<key>New_njd_putongbisha1_lxb_00066.png</key>
		<dict>
			<key>frame</key>
			<string>{{523,755},{270,105}}</string>
			<key>offset</key>
			<string>{50,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{111,25},{270,105}}</string>
			<key>sourceSize</key>
			<string>{392,171}</string>
		</dict>
		<key>New_njd_putongbisha2_gj_00040.png</key>
		<dict>
			<key>frame</key>
			<string>{{523,861},{207,161}}</string>
			<key>offset</key>
			<string>{-30,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,26},{207,161}}</string>
			<key>sourceSize</key>
			<string>{277,235}</string>
		</dict>
		<key>New_njd_putonggongji_zui2_00065.png</key>
		<dict>
			<key>frame</key>
			<string>{{856,947},{166,74}}</string>
			<key>offset</key>
			<string>{18,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,18},{166,74}}</string>
			<key>sourceSize</key>
			<string>{234,94}</string>
		</dict>
		<key>New_njd_putonggongji_zui3_00115.png</key>
		<dict>
			<key>frame</key>
			<string>{{794,947},{61,75}}</string>
			<key>offset</key>
			<string>{-33,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,25},{61,75}}</string>
			<key>sourceSize</key>
			<string>{133,139}</string>
		</dict>
		<key>New_njd_xiaojineng_hs_00071.png</key>
		<dict>
			<key>frame</key>
			<string>{{725,643},{111,61}}</string>
			<key>offset</key>
			<string>{-9,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,14},{111,61}}</string>
			<key>sourceSize</key>
			<string>{145,85}</string>
		</dict>
		<key>New_njd_xiaojineng_xq_00145.png</key>
		<dict>
			<key>frame</key>
			<string>{{731,984},{54,33}}</string>
			<key>offset</key>
			<string>{-71,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,125},{54,33}}</string>
			<key>sourceSize</key>
			<string>{220,263}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>najide_common5.png</string>
		<key>scale</key>
		<real>0.55</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>najide_common5.png</string>
	</dict>
</dict>
</plist>
