<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wy_12_12_63290_qhdsdwimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,894},{232,84}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{232,84}}</string>
			<key>sourceSize</key>
			<string>{232,84}</string>
		</dict>
		<key>wy_13_13_32411_qhdsdwimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,861},{63,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,18}}</string>
			<key>sourceSize</key>
			<string>{63,18}</string>
		</dict>
		<key>wy_14_14_97010_qhdsdwimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,861},{63,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,18}}</string>
			<key>sourceSize</key>
			<string>{63,18}</string>
		</dict>
		<key>wy_18_18_55648_qhdsdwimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,555},{337,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{337,83}}</string>
			<key>sourceSize</key>
			<string>{337,83}</string>
		</dict>
		<key>wy_19_19_48729_qhdsdwimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,980},{41,147}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,147}}</string>
			<key>sourceSize</key>
			<string>{41,147}</string>
		</dict>
		<key>wy_1_1_24479_qhdsdwimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{1016,283}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1016,283}}</string>
			<key>sourceSize</key>
			<string>{1016,283}</string>
		</dict>
		<key>wy_2_2_45618_qhdsdwimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,287},{1016,266}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1016,266}}</string>
			<key>sourceSize</key>
			<string>{1016,266}</string>
		</dict>
		<key>wy_40_40_12626_qhdsdwimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,715},{144,144}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,144}}</string>
			<key>sourceSize</key>
			<string>{144,144}</string>
		</dict>
		<key>wy_42_42_14734_qhdsdwimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,555},{158,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,78}}</string>
			<key>sourceSize</key>
			<string>{158,78}</string>
		</dict>
		<key>wy_8_8_43271_qhdsdwimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{167,555},{45,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,49}}</string>
			<key>sourceSize</key>
			<string>{45,49}</string>
		</dict>
		<key>wy_9_9_67002_qhdsdwimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{151,980},{167,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,37}}</string>
			<key>sourceSize</key>
			<string>{167,37}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>qhdsdwimage.png</string>
		<key>scale</key>
		<real>0.92</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>qhdsdwimage.png</string>
	</dict>
</dict>
</plist>
