<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>LiudA_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,539},{86,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,126}}</string>
			<key>sourceSize</key>
			<string>{86,126}</string>
		</dict>
		<key>LiudB_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,743},{80,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,126}}</string>
			<key>sourceSize</key>
			<string>{80,126}</string>
		</dict>
		<key>LiudC_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{418,546},{86,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,126}}</string>
			<key>sourceSize</key>
			<string>{86,126}</string>
		</dict>
		<key>LiudD_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,866},{88,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,125}}</string>
			<key>sourceSize</key>
			<string>{88,125}</string>
		</dict>
		<key>LiudE_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,656},{85,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,126}}</string>
			<key>sourceSize</key>
			<string>{85,126}</string>
		</dict>
		<key>LiudF_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,634},{85,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,126}}</string>
			<key>sourceSize</key>
			<string>{85,126}</string>
		</dict>
		<key>LiudG_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{419,458},{86,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,126}}</string>
			<key>sourceSize</key>
			<string>{86,126}</string>
		</dict>
		<key>LiudH_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,627},{85,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{85,126}}</string>
			<key>sourceSize</key>
			<string>{85,126}</string>
		</dict>
		<key>banyuan_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{633,826},{102,92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,92}}</string>
			<key>sourceSize</key>
			<string>{102,92}</string>
		</dict>
		<key>bowen_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{526,774},{105,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,105}}</string>
			<key>sourceSize</key>
			<string>{105,105}</string>
		</dict>
		<key>burningFactor_down_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,33},{169,29}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{169,29}}</string>
			<key>sourceSize</key>
			<string>{171,29}</string>
		</dict>
		<key>burningFactor_up_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{988,222},{143,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,29}}</string>
			<key>sourceSize</key>
			<string>{143,29}</string>
		</dict>
		<key>chaofeng_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{566,282},{57,28}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,28}}</string>
			<key>sourceSize</key>
			<string>{61,28}</string>
		</dict>
		<key>chuantou_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{987,367},{62,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{62,29}}</string>
			<key>sourceSize</key>
			<string>{62,29}</string>
		</dict>
		<key>daoguang_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{225,162}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{225,162}}</string>
			<key>sourceSize</key>
			<string>{225,162}</string>
		</dict>
		<key>f1_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{355,774},{50,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,61}}</string>
			<key>sourceSize</key>
			<string>{50,61}</string>
		</dict>
		<key>f2_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,434},{46,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,73}}</string>
			<key>sourceSize</key>
			<string>{46,73}</string>
		</dict>
		<key>f3_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{596,589},{38,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,81}}</string>
			<key>sourceSize</key>
			<string>{38,81}</string>
		</dict>
		<key>f4_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,555},{54,59}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,59}}</string>
			<key>sourceSize</key>
			<string>{54,59}</string>
		</dict>
		<key>f5_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{763,494},{65,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,91}}</string>
			<key>sourceSize</key>
			<string>{65,91}</string>
		</dict>
		<key>f6_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{145,490},{117,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{117,81}}</string>
			<key>sourceSize</key>
			<string>{117,81}</string>
		</dict>
		<key>g_dabi3_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,166},{93,145}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,145}}</string>
			<key>sourceSize</key>
			<string>{93,145}</string>
		</dict>
		<key>g_dabi4_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{421,214},{91,143}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{91,143}}</string>
			<key>sourceSize</key>
			<string>{91,143}</string>
		</dict>
		<key>g_dabi5_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,215},{79,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,159}}</string>
			<key>sourceSize</key>
			<string>{79,159}</string>
		</dict>
		<key>g_dabi6_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,589},{65,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,139}}</string>
			<key>sourceSize</key>
			<string>{65,139}</string>
		</dict>
		<key>g_shou10_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{942,769},{77,73}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,73}}</string>
			<key>sourceSize</key>
			<string>{77,73}</string>
		</dict>
		<key>g_shou5_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{763,587},{66,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,65}}</string>
			<key>sourceSize</key>
			<string>{66,65}</string>
		</dict>
		<key>g_shou6_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,611},{58,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{58,67}}</string>
			<key>sourceSize</key>
			<string>{58,67}</string>
		</dict>
		<key>g_shou7_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{226,826},{66,75}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,75}}</string>
			<key>sourceSize</key>
			<string>{66,75}</string>
		</dict>
		<key>g_shou8_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,771},{70,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,83}}</string>
			<key>sourceSize</key>
			<string>{70,83}</string>
		</dict>
		<key>g_shou9_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{942,700},{67,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{67,79}}</string>
			<key>sourceSize</key>
			<string>{67,79}</string>
		</dict>
		<key>g_tou3_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,296},{76,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,156}}</string>
			<key>sourceSize</key>
			<string>{76,156}</string>
		</dict>
		<key>g_tou4_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{147,349},{79,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,139}}</string>
			<key>sourceSize</key>
			<string>{79,139}</string>
		</dict>
		<key>g_xiaobi1_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{418,774},{106,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,67}}</string>
			<key>sourceSize</key>
			<string>{106,67}</string>
		</dict>
		<key>g_xiaobi2_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,771},{94,66}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{94,66}}</string>
			<key>sourceSize</key>
			<string>{94,66}</string>
		</dict>
		<key>g_xiaobi3_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,166},{78,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{78,62}}</string>
			<key>sourceSize</key>
			<string>{78,62}</string>
		</dict>
		<key>g_xiaobi4_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,706},{95,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,63}}</string>
			<key>sourceSize</key>
			<string>{95,63}</string>
		</dict>
		<key>g_xiong2_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{837,33},{177,187}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{177,187}}</string>
			<key>sourceSize</key>
			<string>{177,187}</string>
		</dict>
		<key>g_xiong3_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{643,2},{180,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,192}}</string>
			<key>sourceSize</key>
			<string>{180,192}</string>
		</dict>
		<key>guangH_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{639,491},{105,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{105,122}}</string>
			<key>sourceSize</key>
			<string>{105,122}</string>
		</dict>
		<key>guangdian_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{564,341},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>guangquan_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,826},{63,74}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{63,74}}</string>
			<key>sourceSize</key>
			<string>{63,74}</string>
		</dict>
		<key>huanxA_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,416},{127,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,40}}</string>
			<key>sourceSize</key>
			<string>{127,40}</string>
		</dict>
		<key>huanxB_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{598,204},{127,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,41}}</string>
			<key>sourceSize</key>
			<string>{127,41}</string>
		</dict>
		<key>huanxC_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{596,461},{126,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,41}}</string>
			<key>sourceSize</key>
			<string>{126,41}</string>
		</dict>
		<key>huanxD_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{596,333},{126,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,41}}</string>
			<key>sourceSize</key>
			<string>{126,41}</string>
		</dict>
		<key>huanxE_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{979,493},{126,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,41}}</string>
			<key>sourceSize</key>
			<string>{126,41}</string>
		</dict>
		<key>huanxF_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{639,449},{127,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,40}}</string>
			<key>sourceSize</key>
			<string>{127,40}</string>
		</dict>
		<key>huanxG_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,825},{126,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,39}}</string>
			<key>sourceSize</key>
			<string>{126,39}</string>
		</dict>
		<key>huoyA_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{227,714},{72,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{72,126}}</string>
			<key>sourceSize</key>
			<string>{72,126}</string>
		</dict>
		<key>huoyB_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{757,655},{71,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,114}}</string>
			<key>sourceSize</key>
			<string>{71,114}</string>
		</dict>
		<key>huoyC_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,608},{79,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,118}}</string>
			<key>sourceSize</key>
			<string>{79,118}</string>
		</dict>
		<key>huoyD_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{938,898},{76,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,103}}</string>
			<key>sourceSize</key>
			<string>{76,103}</string>
		</dict>
		<key>huoyE_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{455,843},{69,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{69,100}}</string>
			<key>sourceSize</key>
			<string>{69,100}</string>
		</dict>
		<key>huoyF_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{216,903},{75,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,107}}</string>
			<key>sourceSize</key>
			<string>{75,107}</string>
		</dict>
		<key>huoyG_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{293,903},{74,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,107}}</string>
			<key>sourceSize</key>
			<string>{74,107}</string>
		</dict>
		<key>huoyH_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,670},{86,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,110}}</string>
			<key>sourceSize</key>
			<string>{86,110}</string>
		</dict>
		<key>huoyJ_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{149,230},{77,117}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{77,117}}</string>
			<key>sourceSize</key>
			<string>{77,117}</string>
		</dict>
		<key>huoyK_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{633,758},{66,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,109}}</string>
			<key>sourceSize</key>
			<string>{66,109}</string>
		</dict>
		<key>huoyL_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,598},{70,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,119}}</string>
			<key>sourceSize</key>
			<string>{70,119}</string>
		</dict>
		<key>huoyM_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{639,374},{73,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{73,130}}</string>
			<key>sourceSize</key>
			<string>{73,130}</string>
		</dict>
		<key>huoyanA_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,349},{46,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,83}}</string>
			<key>sourceSize</key>
			<string>{46,83}</string>
		</dict>
		<key>huoyanB_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{737,843},{48,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,87}}</string>
			<key>sourceSize</key>
			<string>{48,87}</string>
		</dict>
		<key>huoyanC_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{546,554},{48,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,88}}</string>
			<key>sourceSize</key>
			<string>{48,88}</string>
		</dict>
		<key>huoyanD_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{544,716},{56,87}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,87}}</string>
			<key>sourceSize</key>
			<string>{56,87}</string>
		</dict>
		<key>huoyanE_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{544,644},{50,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,70}}</string>
			<key>sourceSize</key>
			<string>{50,70}</string>
		</dict>
		<key>huoyanF_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{415,721},{51,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,86}}</string>
			<key>sourceSize</key>
			<string>{51,86}</string>
		</dict>
		<key>huoyanG_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{359,843},{56,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,94}}</string>
			<key>sourceSize</key>
			<string>{56,94}</string>
		</dict>
		<key>kbss_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{837,2},{183,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,29}}</string>
			<key>sourceSize</key>
			<string>{183,29}</string>
		</dict>
		<key>kbxj_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,2},{213,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{213,29}}</string>
			<key>sourceSize</key>
			<string>{213,29}</string>
		</dict>
		<key>lgA_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,484},{147,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,122}}</string>
			<key>sourceSize</key>
			<string>{147,122}</string>
		</dict>
		<key>lgB_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,351},{131,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,151}}</string>
			<key>sourceSize</key>
			<string>{131,151}</string>
		</dict>
		<key>lgC_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{421,116},{96,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,175}}</string>
			<key>sourceSize</key>
			<string>{96,175}</string>
		</dict>
		<key>lgD_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,33},{88,190}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{88,190}}</string>
			<key>sourceSize</key>
			<string>{88,190}</string>
		</dict>
		<key>lgE_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{421,33},{81,189}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{81,189}}</string>
			<key>sourceSize</key>
			<string>{81,189}</string>
		</dict>
		<key>lgF_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,123},{86,174}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,174}}</string>
			<key>sourceSize</key>
			<string>{86,174}</string>
		</dict>
		<key>lgG_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{834,222},{127,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,152}}</string>
			<key>sourceSize</key>
			<string>{127,152}</string>
		</dict>
		<key>licline_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,680},{57,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{57,68}}</string>
			<key>sourceSize</key>
			<string>{57,68}</string>
		</dict>
		<key>line_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{1016,33},{2,64}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{2,64}}</string>
			<key>sourceSize</key>
			<string>{10,64}</string>
		</dict>
		<key>lizixA_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,430},{141,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,107}}</string>
			<key>sourceSize</key>
			<string>{141,107}</string>
		</dict>
		<key>lizixB_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,479},{141,108}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,108}}</string>
			<key>sourceSize</key>
			<string>{143,108}</string>
		</dict>
		<key>lizixC_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{421,307},{141,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,107}}</string>
			<key>sourceSize</key>
			<string>{141,107}</string>
		</dict>
		<key>lizixD_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{228,321},{142,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,107}}</string>
			<key>sourceSize</key>
			<string>{142,107}</string>
		</dict>
		<key>lizixE_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,261},{143,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,106}}</string>
			<key>sourceSize</key>
			<string>{143,106}</string>
		</dict>
		<key>lizixF_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{229,211},{143,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,108}}</string>
			<key>sourceSize</key>
			<string>{143,108}</string>
		</dict>
		<key>lizixG_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,369},{141,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{141,108}}</string>
			<key>sourceSize</key>
			<string>{141,108}</string>
		</dict>
		<key>mask1_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,621},{71,77}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,77}}</string>
			<key>sourceSize</key>
			<string>{71,77}</string>
		</dict>
		<key>mask2_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{369,945},{71,70}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,70}}</string>
			<key>sourceSize</key>
			<string>{71,70}</string>
		</dict>
		<key>miansi_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{566,214},{66,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{66,28}}</string>
			<key>sourceSize</key>
			<string>{66,28}</string>
		</dict>
		<key>pjss_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{799,368},{124,29}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{124,29}}</string>
			<key>sourceSize</key>
			<string>{128,29}</string>
		</dict>
		<key>pjxj_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{802,215},{151,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,30}}</string>
			<key>sourceSize</key>
			<string>{151,30}</string>
		</dict>
		<key>pojia_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{987,431},{60,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,29}}</string>
			<key>sourceSize</key>
			<string>{60,29}</string>
		</dict>
		<key>qiti01_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{441,945},{56,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,52}}</string>
			<key>sourceSize</key>
			<string>{56,52}</string>
		</dict>
		<key>qiti02_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,689},{110,108}}</string>
			<key>offset</key>
			<string>{-2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,4},{110,108}}</string>
			<key>sourceSize</key>
			<string>{122,122}</string>
		</dict>
		<key>qiuA_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{547,508},{44,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,45}}</string>
			<key>sourceSize</key>
			<string>{44,45}</string>
		</dict>
		<key>qiuB_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{547,462},{44,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,45}}</string>
			<key>sourceSize</key>
			<string>{44,45}</string>
		</dict>
		<key>qiuC_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{371,509},{44,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,45}}</string>
			<key>sourceSize</key>
			<string>{44,45}</string>
		</dict>
		<key>qiuD_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{549,416},{44,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,45}}</string>
			<key>sourceSize</key>
			<string>{44,45}</string>
		</dict>
		<key>qiuE_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{374,303},{44,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,45}}</string>
			<key>sourceSize</key>
			<string>{44,45}</string>
		</dict>
		<key>qiuF_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{374,257},{44,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,45}}</string>
			<key>sourceSize</key>
			<string>{44,45}</string>
		</dict>
		<key>qiuG_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{374,211},{44,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,45}}</string>
			<key>sourceSize</key>
			<string>{44,45}</string>
		</dict>
		<key>s1_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{938,844},{52,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{52,83}}</string>
			<key>sourceSize</key>
			<string>{52,83}</string>
		</dict>
		<key>s2_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{143,609},{83,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{83,95}}</string>
			<key>sourceSize</key>
			<string>{83,95}</string>
		</dict>
		<key>xjnglxjhong_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,2},{197,29}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{197,29}}</string>
			<key>sourceSize</key>
			<string>{197,31}</string>
		</dict>
		<key>xjnglxjhuang_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{643,184},{167,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{167,29}}</string>
			<key>sourceSize</key>
			<string>{167,29}</string>
		</dict>
		<key>yan_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,866},{122,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{122,122}}</string>
			<key>sourceSize</key>
			<string>{122,122}</string>
		</dict>
		<key>zhuanguang_buff2image.png</key>
		<dict>
			<key>frame</key>
			<string>{{829,799},{102,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,107}}</string>
			<key>sourceSize</key>
			<string>{102,107}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>buff2image.png</string>
		<key>scale</key>
		<real>0.95</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>buff2image.png</string>
	</dict>
</dict>
</plist>
