<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mask01_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,499},{51,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,34}}</string>
			<key>sourceSize</key>
			<string>{51,34}</string>
		</dict>
		<key>mask02_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,592},{36,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,26}}</string>
			<key>sourceSize</key>
			<string>{36,26}</string>
		</dict>
		<key>mask03_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,592},{55,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,22}}</string>
			<key>sourceSize</key>
			<string>{55,22}</string>
		</dict>
		<key>sk_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{55,499},{15,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{15,22}}</string>
			<key>sourceSize</key>
			<string>{15,22}</string>
		</dict>
		<key>wy_10_10_54476_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,204},{99,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,99}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>wy_11_11_17117_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,204},{99,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,99}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>wy_12_12_1198_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,497},{95,99}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{95,99}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>wy_13_13_744_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,204},{99,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,99}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>wy_14_14_21056_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,103},{99,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,99}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>wy_15_15_32338_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,103},{99,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,99}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>wy_16_16_46245_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,103},{99,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,99}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>wy_17_17_6347_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,103},{99,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,99}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>wy_18_18_50766_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,402},{95,99}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{95,99}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>wy_19_19_18839_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,402},{95,99}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{95,99}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>wy_1_1_23628_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,402},{95,99}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{95,99}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>wy_1_1_35905_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,103},{99,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,99}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>wy_20_20_61041_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,495},{95,99}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{95,99}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>wy_21_21_58769_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,400},{95,99}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{95,99}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>wy_22_22_36531_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,305},{95,99}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{95,99}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>wy_23_23_29261_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,305},{95,99}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{95,99}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>wy_24_24_89043_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,305},{95,99}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{95,99}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>wy_2_2_18709_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,398},{95,99}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{95,99}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>wy_2_2_61742_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,204},{97,99}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,99}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>wy_3_3_10453_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,303},{95,99}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{95,99}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>wy_3_3_88656_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,204},{99,95}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{99,95}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>wy_4_4_80257_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,301},{95,99}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{95,99}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>wy_5_5_86735_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{406,2},{99,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,99}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>wy_6_6_27090_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{305,2},{99,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,99}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>wy_7_7_24143_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{204,2},{99,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,99}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>wy_8_8_70945_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{103,2},{99,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,99}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
		<key>wy_9_9_50202_wangzheduanweiimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{99,99}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,99}}</string>
			<key>sourceSize</key>
			<string>{99,99}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>wangzheduanweiimage.png</string>
		<key>scale</key>
		<real>0.66</real>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>wangzheduanweiimage.png</string>
	</dict>
</dict>
</plist>
