<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>kuangliebaofenglizi_00000_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{924,370},{137,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{137,98}}</string>
			<key>sourceSize</key>
			<string>{137,98}</string>
		</dict>
		<key>kuangliebaofenglizi_00001_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,759},{119,98}}</string>
			<key>offset</key>
			<string>{-10,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{119,98}}</string>
			<key>sourceSize</key>
			<string>{139,98}</string>
		</dict>
		<key>kuangliebaofenglizi_00002_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{478,686},{123,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,98}}</string>
			<key>sourceSize</key>
			<string>{123,98}</string>
		</dict>
		<key>kuangliebaofenglizi_00003_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{837,606},{125,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,109}}</string>
			<key>sourceSize</key>
			<string>{125,109}</string>
		</dict>
		<key>kuangliebaofenglizi_00004_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,676},{128,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,81}}</string>
			<key>sourceSize</key>
			<string>{128,81}</string>
		</dict>
		<key>kuangliebaofenglizi_00005_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{303,745},{123,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{123,81}}</string>
			<key>sourceSize</key>
			<string>{123,81}</string>
		</dict>
		<key>kuangliebaofenglizi_00006_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{660,621},{125,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{125,83}}</string>
			<key>sourceSize</key>
			<string>{125,83}</string>
		</dict>
		<key>kuangliebaofenglizi_00007_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{348,653},{128,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{128,90}}</string>
			<key>sourceSize</key>
			<string>{128,90}</string>
		</dict>
		<key>kuangliebaofenglizi_00008_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{527,591},{131,93}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{131,93}}</string>
			<key>sourceSize</key>
			<string>{131,97}</string>
		</dict>
		<key>kuangliebaofenglizi_00009_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{703,523},{132,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{132,96}}</string>
			<key>sourceSize</key>
			<string>{132,96}</string>
		</dict>
		<key>kuangliebaofengshanghuoyan_00000_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{190,69}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,69}}</string>
			<key>sourceSize</key>
			<string>{190,69}</string>
		</dict>
		<key>kuangliebaofengshanghuoyan_00001_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{951,183},{185,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{185,71}}</string>
			<key>sourceSize</key>
			<string>{185,71}</string>
		</dict>
		<key>kuangliebaofengshanghuoyan_00002_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,165},{184,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,71}}</string>
			<key>sourceSize</key>
			<string>{184,71}</string>
		</dict>
		<key>kuangliebaofengshanghuoyan_00003_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,2},{188,72}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{188,72}}</string>
			<key>sourceSize</key>
			<string>{188,72}</string>
		</dict>
		<key>kuangliebaofengshanghuoyan_00004_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,2},{187,71}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{187,71}}</string>
			<key>sourceSize</key>
			<string>{191,73}</string>
		</dict>
		<key>kuangliebaofengshanghuoyan_00005_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{538,426},{173,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,71}}</string>
			<key>sourceSize</key>
			<string>{173,71}</string>
		</dict>
		<key>kuangliebaofengshanghuoyan_00006_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,529},{173,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{173,76}}</string>
			<key>sourceSize</key>
			<string>{173,76}</string>
		</dict>
		<key>kuangliebaofengshanghuoyan_00007_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{724,385},{173,71}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{173,71}}</string>
			<key>sourceSize</key>
			<string>{173,73}</string>
		</dict>
		<key>kuangliebaofengshanghuoyan_00008_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,489},{172,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,65}}</string>
			<key>sourceSize</key>
			<string>{172,65}</string>
		</dict>
		<key>kuangliebaofengshanghuoyan_00009_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{713,458},{172,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{172,63}}</string>
			<key>sourceSize</key>
			<string>{172,63}</string>
		</dict>
		<key>kuangliebaofengshanghuoyan_00010_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{362,422},{174,65}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{174,65}}</string>
			<key>sourceSize</key>
			<string>{174,65}</string>
		</dict>
		<key>kuangliebaofengshanghuoyan_00011_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{952,2},{179,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{179,67}}</string>
			<key>sourceSize</key>
			<string>{179,67}</string>
		</dict>
		<key>kuangliebaofengshanghuoyan_00012_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{182,413},{178,67}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{178,67}}</string>
			<key>sourceSize</key>
			<string>{178,67}</string>
		</dict>
		<key>kuangliebaofengshanghuoyan_00013_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{748,229},{182,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{182,63}}</string>
			<key>sourceSize</key>
			<string>{182,65}</string>
		</dict>
		<key>kuangliebaofengshanghuoyan_00014_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{563,172},{183,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,62}}</string>
			<key>sourceSize</key>
			<string>{183,62}</string>
		</dict>
		<key>kuangliebaofengshanghuoyan_00015_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,99},{185,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{185,60}}</string>
			<key>sourceSize</key>
			<string>{185,62}</string>
		</dict>
		<key>kuangliebaofengshanghuoyan_00016_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{763,165},{186,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,62}}</string>
			<key>sourceSize</key>
			<string>{186,62}</string>
		</dict>
		<key>kuangliebaofengshanghuoyan_00017_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{372,263},{180,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{180,62}}</string>
			<key>sourceSize</key>
			<string>{180,64}</string>
		</dict>
		<key>kuangliebaofengshanghuoyan_00018_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,258},{183,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,62}}</string>
			<key>sourceSize</key>
			<string>{183,62}</string>
		</dict>
		<key>kuangliebaofengshanghuoyan_00019_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{763,99},{186,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{186,64}}</string>
			<key>sourceSize</key>
			<string>{186,64}</string>
		</dict>
		<key>kuangliebaofengshouhuoyan_00000_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{385,76},{90,186}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,2},{90,186}}</string>
			<key>sourceSize</key>
			<string>{94,188}</string>
		</dict>
		<key>kuangliebaofengshouhuoyan_00001_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,73},{90,188}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{90,188}}</string>
			<key>sourceSize</key>
			<string>{90,188}</string>
		</dict>
		<key>kuangliebaofengshouhuoyan_00002_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,2},{95,189}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{95,189}}</string>
			<key>sourceSize</key>
			<string>{95,191}</string>
		</dict>
		<key>kuangliebaofengshouhuoyan_00003_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,482},{95,173}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{95,173}}</string>
			<key>sourceSize</key>
			<string>{95,177}</string>
		</dict>
		<key>kuangliebaofengshouhuoyan_00004_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{548,333},{91,174}}</string>
			<key>offset</key>
			<string>{2,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,6},{91,174}}</string>
			<key>sourceSize</key>
			<string>{95,180}</string>
		</dict>
		<key>kuangliebaofengshouhuoyan_00005_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,432},{95,177}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,177}}</string>
			<key>sourceSize</key>
			<string>{95,177}</string>
		</dict>
		<key>kuangliebaofengshouhuoyan_00006_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{563,236},{95,181}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{95,181}}</string>
			<key>sourceSize</key>
			<string>{95,183}</string>
		</dict>
		<key>kuangliebaofengshouhuoyan_00007_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,168},{93,183}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{93,183}}</string>
			<key>sourceSize</key>
			<string>{95,183}</string>
		</dict>
		<key>kuangliebaofengshouhuoyan_00008_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{187,322},{89,179}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,0},{89,179}}</string>
			<key>sourceSize</key>
			<string>{95,179}</string>
		</dict>
		<key>kuangliebaofengshouhuoyan_00009_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{530,499},{90,171}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{90,171}}</string>
			<key>sourceSize</key>
			<string>{90,173}</string>
		</dict>
		<key>kuangliebaofengshouhuoyan_00010_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,607},{94,169}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{94,169}}</string>
			<key>sourceSize</key>
			<string>{94,171}</string>
		</dict>
		<key>kuangliebaofengshouhuoyan_00011_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,579},{95,169}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{95,169}}</string>
			<key>sourceSize</key>
			<string>{95,171}</string>
		</dict>
		<key>kuangliebaofengshouhuoyan_00012_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{356,556},{95,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,169}}</string>
			<key>sourceSize</key>
			<string>{95,169}</string>
		</dict>
		<key>kuangliebaofengshouhuoyan_00013_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,335},{95,178}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{95,178}}</string>
			<key>sourceSize</key>
			<string>{95,180}</string>
		</dict>
		<key>kuangliebaofengshouhuoyan_00014_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,238},{95,183}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,183}}</string>
			<key>sourceSize</key>
			<string>{95,183}</string>
		</dict>
		<key>kuangliebaofengshouhuoyan_00015_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,161},{95,184}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{95,184}}</string>
			<key>sourceSize</key>
			<string>{95,186}</string>
		</dict>
		<key>kuangliebaofengshouhuoyan_00016_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{575,75},{95,186}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{95,186}}</string>
			<key>sourceSize</key>
			<string>{95,188}</string>
		</dict>
		<key>kuangliebaofengshouhuoyan_00017_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{764,2},{95,186}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,186}}</string>
			<key>sourceSize</key>
			<string>{95,186}</string>
		</dict>
		<key>kuangliebaofengshouhuoyan_00018_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,327},{93,178}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,0},{93,178}}</string>
			<key>sourceSize</key>
			<string>{95,178}</string>
		</dict>
		<key>kuangliebaofengshouhuoyan_00019_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{746,294},{89,176}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,0},{89,176}}</string>
			<key>sourceSize</key>
			<string>{93,176}</string>
		</dict>
		<key>kuangliebaotongyongfeng_00000_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{590,885},{101,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,95}}</string>
			<key>sourceSize</key>
			<string>{101,95}</string>
		</dict>
		<key>kuangliebaotongyongfeng_00001_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,909},{98,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,95}}</string>
			<key>sourceSize</key>
			<string>{98,95}</string>
		</dict>
		<key>kuangliebaotongyongfeng_00002_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,885},{98,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,102}}</string>
			<key>sourceSize</key>
			<string>{98,102}</string>
		</dict>
		<key>kuangliebaotongyongfeng_00003_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{295,828},{98,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,109}}</string>
			<key>sourceSize</key>
			<string>{98,109}</string>
		</dict>
		<key>kuangliebaotongyongfeng_00004_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,786},{97,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{97,105}}</string>
			<key>sourceSize</key>
			<string>{97,105}</string>
		</dict>
		<key>kuangliebaotongyongfeng_00005_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{815,717},{93,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,101}}</string>
			<key>sourceSize</key>
			<string>{93,101}</string>
		</dict>
		<key>kuangliebaotongyongfeng_00006_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{395,828},{93,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{93,106}}</string>
			<key>sourceSize</key>
			<string>{93,108}</string>
		</dict>
		<key>kuangliebaotongyongfeng_00007_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,895},{93,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,118}}</string>
			<key>sourceSize</key>
			<string>{93,118}</string>
		</dict>
		<key>kuangliebaotongyongfeng_00008_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,703},{93,126}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,126}}</string>
			<key>sourceSize</key>
			<string>{93,126}</string>
		</dict>
		<key>kuangliebaotongyongfeng_00009_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{887,509},{95,134}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,134}}</string>
			<key>sourceSize</key>
			<string>{95,134}</string>
		</dict>
		<key>kuangliebaotongyongfeng_00010_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,798},{95,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{95,118}}</string>
			<key>sourceSize</key>
			<string>{95,118}</string>
		</dict>
		<key>kuangliebaotongyongfeng_00011_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,895},{96,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,110}}</string>
			<key>sourceSize</key>
			<string>{96,110}</string>
		</dict>
		<key>kuangliebaotongyongfeng_00012_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{710,706},{96,103}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,103}}</string>
			<key>sourceSize</key>
			<string>{96,103}</string>
		</dict>
		<key>kuangliebaotongyongfeng_00013_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{195,859},{98,109}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,109}}</string>
			<key>sourceSize</key>
			<string>{98,109}</string>
		</dict>
		<key>kuangliebaotongyongfeng_00014_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,717},{100,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,94}}</string>
			<key>sourceSize</key>
			<string>{100,94}</string>
		</dict>
		<key>kuangliebaotongyongfeng_00015_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{687,910},{98,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,1},{98,88}}</string>
			<key>sourceSize</key>
			<string>{98,90}</string>
		</dict>
		<key>kuangliebaotongyongfeng_00016_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{913,813},{99,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,94}}</string>
			<key>sourceSize</key>
			<string>{99,94}</string>
		</dict>
		<key>kuangliebaotongyongfeng_00017_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,812},{99,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{99,96}}</string>
			<key>sourceSize</key>
			<string>{99,98}</string>
		</dict>
		<key>kuangliebaotongyongfeng_00018_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{710,804},{98,100}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{98,100}}</string>
			<key>sourceSize</key>
			<string>{98,102}</string>
		</dict>
		<key>kuangliebaotongyongfeng_00019_huadekuangbaoimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{603,706},{101,105}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,105}}</string>
			<key>sourceSize</key>
			<string>{101,105}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>huadekuangbaoimage.png</string>
		<key>scale</key>
		<real>0.578</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>huadekuangbaoimage.png</string>
	</dict>
</dict>
</plist>
