<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>tx01_shuangyueyingtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,264},{129,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,129}}</string>
			<key>sourceSize</key>
			<string>{129,129}</string>
		</dict>
		<key>tx03_shuangyueyingtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,133},{129,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,129}}</string>
			<key>sourceSize</key>
			<string>{129,129}</string>
		</dict>
		<key>tx05_shuangyueyingtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,264},{129,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,129}}</string>
			<key>sourceSize</key>
			<string>{129,129}</string>
		</dict>
		<key>tx06_shuangyueyingtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,264},{129,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,129}}</string>
			<key>sourceSize</key>
			<string>{129,129}</string>
		</dict>
		<key>tx08_shuangyueyingtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,133},{129,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,129}}</string>
			<key>sourceSize</key>
			<string>{129,129}</string>
		</dict>
		<key>tx10_shuangyueyingtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,133},{129,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,129}}</string>
			<key>sourceSize</key>
			<string>{129,129}</string>
		</dict>
		<key>tx12_shuangyueyingtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{264,2},{129,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,129}}</string>
			<key>sourceSize</key>
			<string>{129,129}</string>
		</dict>
		<key>tx15_shuangyueyingtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{133,2},{129,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,129}}</string>
			<key>sourceSize</key>
			<string>{129,129}</string>
		</dict>
		<key>tx18_shuangyueyingtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,264},{129,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,129}}</string>
			<key>sourceSize</key>
			<string>{129,129}</string>
		</dict>
		<key>tx30_shuangyueyingtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,133},{129,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,129}}</string>
			<key>sourceSize</key>
			<string>{129,129}</string>
		</dict>
		<key>tx35_shuangyueyingtximage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{129,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{129,129}}</string>
			<key>sourceSize</key>
			<string>{129,129}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>shuangyueyingtximage.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>shuangyueyingtximage.png</string>
	</dict>
</dict>
</plist>
