<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>largepic_100127.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{834,626}}</string>
			<key>offset</key>
			<string>{19,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,14},{834,626}}</string>
			<key>sourceSize</key>
			<string>{872,640}</string>
		</dict>
		<key>longpic_100127.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,2},{153,288}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{19,0},{153,288}}</string>
			<key>sourceSize</key>
			<string>{193,288}</string>
		</dict>
		<key>middlepic_100127.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,292},{127,71}}</string>
			<key>offset</key>
			<string>{9,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,0},{127,71}}</string>
			<key>sourceSize</key>
			<string>{183,71}</string>
		</dict>
		<key>namepic_100127.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,365},{326,98}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,1},{326,98}}</string>
			<key>sourceSize</key>
			<string>{330,100}</string>
		</dict>
		<key>skillmaxpic_100127.png</key>
		<dict>
			<key>frame</key>
			<string>{{938,587},{293,51}}</string>
			<key>offset</key>
			<string>{-10,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{293,51}}</string>
			<key>sourceSize</key>
			<string>{313,55}</string>
		</dict>
		<key>skillnamepic_100127.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,693},{243,36}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{243,36}}</string>
			<key>sourceSize</key>
			<string>{243,40}</string>
		</dict>
		<key>skillsmaxpic_100127.png</key>
		<dict>
			<key>frame</key>
			<string>{{967,292},{293,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{293,52}}</string>
			<key>sourceSize</key>
			<string>{293,52}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>heros_100127.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>heros_100127.png</string>
	</dict>
</dict>
</plist>
