<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>d1_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,367},{5,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,6}}</string>
			<key>sourceSize</key>
			<string>{5,6}</string>
		</dict>
		<key>d2_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,255},{4,5}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{4,5}}</string>
			<key>sourceSize</key>
			<string>{4,5}</string>
		</dict>
		<key>ddA_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{256,295},{147,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,28}}</string>
			<key>sourceSize</key>
			<string>{147,28}</string>
		</dict>
		<key>ddB_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,461},{149,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,45}}</string>
			<key>sourceSize</key>
			<string>{149,45}</string>
		</dict>
		<key>ddC_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{157,295},{161,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{161,48}}</string>
			<key>sourceSize</key>
			<string>{161,48}</string>
		</dict>
		<key>ddE_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,295},{147,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{147,47}}</string>
			<key>sourceSize</key>
			<string>{147,47}</string>
		</dict>
		<key>dianA_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,281},{43,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,53}}</string>
			<key>sourceSize</key>
			<string>{43,53}</string>
		</dict>
		<key>dianB_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{467,336},{43,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,50}}</string>
			<key>sourceSize</key>
			<string>{43,50}</string>
		</dict>
		<key>dianC_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,237},{47,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,51}}</string>
			<key>sourceSize</key>
			<string>{47,51}</string>
		</dict>
		<key>dianD_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{153,461},{48,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,49}}</string>
			<key>sourceSize</key>
			<string>{48,49}</string>
		</dict>
		<key>dianE_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,388},{40,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,30}}</string>
			<key>sourceSize</key>
			<string>{40,30}</string>
		</dict>
		<key>f3_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,508},{2,6}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{2,6}}</string>
			<key>sourceSize</key>
			<string>{2,6}</string>
		</dict>
		<key>fc1_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,499},{16,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,11}}</string>
			<key>sourceSize</key>
			<string>{16,11}</string>
		</dict>
		<key>fc2_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,155},{26,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,17}}</string>
			<key>sourceSize</key>
			<string>{26,17}</string>
		</dict>
		<key>guanggditu_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,2},{143,151}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{143,151}}</string>
			<key>sourceSize</key>
			<string>{143,151}</string>
		</dict>
		<key>kguang_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{280,291}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{280,291}}</string>
			<key>sourceSize</key>
			<string>{280,291}</string>
		</dict>
		<key>light_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,388},{16,79}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,79}}</string>
			<key>sourceSize</key>
			<string>{16,79}</string>
		</dict>
		<key>mask1_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{355,264},{109,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{109,47}}</string>
			<key>sourceSize</key>
			<string>{109,47}</string>
		</dict>
		<key>mask2_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{475,430},{33,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,33}}</string>
			<key>sourceSize</key>
			<string>{33,33}</string>
		</dict>
		<key>pa1_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,469},{42,19}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,19}}</string>
			<key>sourceSize</key>
			<string>{42,19}</string>
		</dict>
		<key>t1_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,490},{30,7}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,7}}</string>
			<key>sourceSize</key>
			<string>{30,7}</string>
		</dict>
		<key>t2_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,155},{98,11}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,11}}</string>
			<key>sourceSize</key>
			<string>{98,11}</string>
		</dict>
		<key>wuqi_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,295},{153,164}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,164}}</string>
			<key>sourceSize</key>
			<string>{153,164}</string>
		</dict>
		<key>x10_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,82},{76,101}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{76,101}}</string>
			<key>sourceSize</key>
			<string>{76,101}</string>
		</dict>
		<key>x1_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{286,264},{203,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{203,33}}</string>
			<key>sourceSize</key>
			<string>{203,33}</string>
		</dict>
		<key>x2_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,264},{218,32}}</string>
			<key>offset</key>
			<string>{2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{14,4},{218,32}}</string>
			<key>sourceSize</key>
			<string>{242,38}</string>
		</dict>
		<key>x3_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{284,155},{102,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,107}}</string>
			<key>sourceSize</key>
			<string>{102,107}</string>
		</dict>
		<key>x4_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,185},{94,53}}</string>
			<key>offset</key>
			<string>{0,22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,44},{94,53}}</string>
			<key>sourceSize</key>
			<string>{94,97}</string>
		</dict>
		<key>x5_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{404,286},{79,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,61}}</string>
			<key>sourceSize</key>
			<string>{79,61}</string>
		</dict>
		<key>x6_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{207,444},{55,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,68}}</string>
			<key>sourceSize</key>
			<string>{55,68}</string>
		</dict>
		<key>x7_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{429,2},{81,78}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{81,78}}</string>
			<key>sourceSize</key>
			<string>{85,78}</string>
		</dict>
		<key>x8_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{355,375},{104,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{104,100}}</string>
			<key>sourceSize</key>
			<string>{104,100}</string>
		</dict>
		<key>x9_rwlcrimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{401,185},{54,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,50}}</string>
			<key>sourceSize</key>
			<string>{54,50}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>rwlcrimage.png</string>
		<key>scale</key>
		<real>0.62</real>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>rwlcrimage.png</string>
	</dict>
</dict>
</plist>
