<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>wy_10_10_67481_zhgzhcimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{255,254}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{255,254}}</string>
			<key>sourceSize</key>
			<string>{255,254}</string>
		</dict>
		<key>wy_1_1_37236_zhgzhcimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,437},{151,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{151,163}}</string>
			<key>sourceSize</key>
			<string>{151,163}</string>
		</dict>
		<key>wy_2_2_18157_zhgzhcimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,230},{205,205}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,205}}</string>
			<key>sourceSize</key>
			<string>{205,205}</string>
		</dict>
		<key>wy_3_3_31075_zhgzhcimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{466,230},{29,29}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,29}}</string>
			<key>sourceSize</key>
			<string>{29,29}</string>
		</dict>
		<key>wy_4_4_7338_zhgzhcimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,258},{180,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{180,182}}</string>
			<key>sourceSize</key>
			<string>{180,182}</string>
		</dict>
		<key>wy_5_5_32804_zhgzhcimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,567},{127,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{127,127}}</string>
			<key>sourceSize</key>
			<string>{127,127}</string>
		</dict>
		<key>wy_6_6_48917_zhgzhcimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{131,590},{111,111}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{111,111}}</string>
			<key>sourceSize</key>
			<string>{111,111}</string>
		</dict>
		<key>wy_7_7_14400_zhgzhcimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{259,2},{226,227}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,227}}</string>
			<key>sourceSize</key>
			<string>{226,227}</string>
		</dict>
		<key>wy_8_8_7408_zhgzhcimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{351,437},{153,153}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{153,153}}</string>
			<key>sourceSize</key>
			<string>{153,153}</string>
		</dict>
		<key>wy_9_9_26248_zhgzhcimage.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,440},{129,125}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{129,125}}</string>
			<key>sourceSize</key>
			<string>{129,129}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>zhgzhcimage.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>zhgzhcimage.png</string>
	</dict>
</dict>
</plist>
