<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>largepic_100233.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{852,638}}</string>
			<key>offset</key>
			<string>{10,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{20,2},{852,638}}</string>
			<key>sourceSize</key>
			<string>{872,640}</string>
		</dict>
		<key>longpic_100233.png</key>
		<dict>
			<key>frame</key>
			<string>{{218,642},{192,287}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,287}}</string>
			<key>sourceSize</key>
			<string>{192,287}</string>
		</dict>
		<key>middlepic_100233.png</key>
		<dict>
			<key>frame</key>
			<string>{{520,642},{183,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{183,71}}</string>
			<key>sourceSize</key>
			<string>{183,71}</string>
		</dict>
		<key>namepic_100233.png</key>
		<dict>
			<key>frame</key>
			<string>{{856,2},{405,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{405,102}}</string>
			<key>sourceSize</key>
			<string>{405,102}</string>
		</dict>
		<key>skillmaxpic_100233.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,642},{270,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{270,52}}</string>
			<key>sourceSize</key>
			<string>{270,52}</string>
		</dict>
		<key>skillmaxpic_10023301.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,642},{367,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{367,52}}</string>
			<key>sourceSize</key>
			<string>{367,52}</string>
		</dict>
		<key>skillmaxpic_10023302.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,964},{305,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{305,52}}</string>
			<key>sourceSize</key>
			<string>{305,52}</string>
		</dict>
		<key>skillnamepic_100233.png</key>
		<dict>
			<key>frame</key>
			<string>{{471,959},{206,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{206,42}}</string>
			<key>sourceSize</key>
			<string>{206,42}</string>
		</dict>
		<key>skillnamepic_10023301.png</key>
		<dict>
			<key>frame</key>
			<string>{{412,914},{220,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{220,43}}</string>
			<key>sourceSize</key>
			<string>{220,43}</string>
		</dict>
		<key>skillsmaxpic_100233.png</key>
		<dict>
			<key>frame</key>
			<string>{{466,642},{260,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{260,52}}</string>
			<key>sourceSize</key>
			<string>{260,52}</string>
		</dict>
		<key>skillsmaxpic_10023301.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,642},{340,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{340,52}}</string>
			<key>sourceSize</key>
			<string>{340,52}</string>
		</dict>
		<key>skillsmaxpic_10023302.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,642},{320,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,52}}</string>
			<key>sourceSize</key>
			<string>{320,52}</string>
		</dict>
		<key>skillsmaxpic_10023303.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,642},{350,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{350,52}}</string>
			<key>sourceSize</key>
			<string>{350,52}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>extension</key>
		<integer>1</integer>
		<key>format</key>
		<integer>2</integer>
		<key>imageFormat</key>
		<string>RGBA8888</string>
		<key>realTextureFileName</key>
		<string>heros_100233.png</string>
		<key>scale</key>
		<real>1.0</real>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>heros_100233.png</string>
	</dict>
</dict>
</plist>
